Repository microsoft/FluidFramework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluid-cr-core, @microsoft/fluid-cr-infra, @microsoft/fluid-cr-docs, @microsoft/fluid-cr-framework, @evaliyev, @karlbom, @nedalhy, @ruiterr, @microsoft/fluid-cr-tree, @microsoft/fluid-cr-dds, @microsoft/fluid-cr-drivers, @microsoft/fluid-cr-odsp, @microsoft/fluid-cr-loader, @microsoft/fluid-cr-runtime, @microsoft/fluid-cr-test, @microsoft/fluid-cr-tools, @microsoft/team-rohan, @microsoft/fluid-cr-telemetry, @microsoft/fluid-cr-server, @microsoft/fluid-cr-api, @msfluid-bot

docs(container-runtime): Add explicit release tags to exported API me… (#17910)
  packages/runtime/container-runtime/api-extractor.json
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreRegistry.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/id-compressor/utilities.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
Owners: @microsoft/fluid-cr-runtime, @microsoft/fluid-cr-api

Add shared tree "generic node API" (#17912)
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  experimental/dds/tree2/.dependency-cruiser-known-violations.json
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/node.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/node.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Owners: @microsoft/fluid-cr-framework, @microsoft/fluid-cr-tree, @microsoft/fluid-cr-dds

cluster config
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
Owners: @microsoft/fluid-cr-server

docs(driver-utils): Add explicit release tags to exported API members
  packages/loader/driver-utils/api-extractor.json
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/adapters/compression/compressionTypes.ts
  packages/loader/driver-utils/src/adapters/compression/summaryblob/documentStorageServiceSummaryBlobCompressionAdapter.ts
  packages/loader/driver-utils/src/adapters/predefinedAdapters.ts
  packages/loader/driver-utils/src/blob.ts
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
  packages/loader/driver-utils/src/error.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
  packages/loader/driver-utils/src/rateLimiter.ts
  packages/loader/driver-utils/src/readAndParse.ts
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/loader/driver-utils/src/treeConversions.ts
Owners: @microsoft/fluid-cr-loader, @microsoft/fluid-cr-drivers

Adds namespace filters and namespace exceptions
  packages/framework/client-logger/app-insights-logger/api-report/app-insights-logger.api.md
  packages/framework/client-logger/app-insights-logger/src/fluidAppInsightsLogger.ts
  packages/framework/client-logger/app-insights-logger/src/test/fluidAppInsightsLogger.spec.ts
Owners: @microsoft/fluid-cr-api, @microsoft/fluid-cr-framework

Depend on and use tiny-invariant
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/src/assert.ts
  examples/utils/example-utils/src/index.ts
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/live-schema-upgrade/src/app.ts
  examples/version-migration/live-schema-upgrade/src/modelVersion2/diceCounter.ts
  pnpm-lock.yaml
Owners: @microsoft/fluid-cr-api, @microsoft/fluid-cr-framework, @msfluid-bot, @microsoft/fluid-cr-core

Remove error checks
  tools/pipelines/templates/build-npm-package.yml
Owners: @microsoft/fluid-cr-infra

Adds jsdoc to doesEventMatchFilter method
  packages/framework/client-logger/app-insights-logger/src/fluidAppInsightsLogger.ts
Owners: @microsoft/fluid-cr-framework

Enable e2e tests to run on dataMigration
  packages/dds/migration-shim/.eslintrc.cjs
  packages/dds/migration-shim/.mocharc.cjs
  packages/dds/migration-shim/package.json
  packages/dds/migration-shim/src/index.ts
  packages/dds/migration-shim/src/migrationDeltaHandler.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/migrationShimFactory.ts
  packages/dds/migration-shim/src/sharedTreeDeltaHandler.ts
  packages/dds/migration-shim/src/sharedTreeShim.ts
  packages/dds/migration-shim/src/sharedTreeShimFactory.ts
  packages/dds/migration-shim/src/shimChannelServices.ts
  packages/dds/migration-shim/src/shimDeltaConnection.ts
  packages/dds/migration-shim/src/test/.mocharc.cjs
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/hotSwap.spec.ts
  packages/dds/migration-shim/src/test/tsconfig.json
  packages/dds/migration-shim/tsconfig.esnext.json
  packages/dds/migration-shim/tsconfig.json
  pnpm-lock.yaml
Owners: @microsoft/fluid-cr-dds, @msfluid-bot, @microsoft/fluid-cr-core

Fix 0x331 for rebasing a batch (#17913)
  packages/dds/map/src/directory.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
Owners: @microsoft/fluid-cr-dds, @microsoft/fluid-cr-test

docs(aqueduct): Add explicit release tags to exported API members
  packages/framework/aqueduct/api-extractor.json
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/aqueduct/src/request-handlers/requestHandlers.ts
  packages/framework/aqueduct/src/utils/containerInteractions.ts
Owners: @microsoft/fluid-cr-framework, @microsoft/fluid-cr-api

Add more optional field tests (#17770)
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/exhaustiveRebaserUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/rebaserAxiomaticTests.ts
Owners: @microsoft/fluid-cr-tree

Add back migration code
  packages/dds/migration-shim/api-report/migration-shim.api.md
  packages/dds/migration-shim/src/migrationShim.ts
Owners: @microsoft/fluid-cr-api, @microsoft/fluid-cr-dds

Channel submit when apply stashed ops
  experimental/dds/attributable-map/src/mapKernel.ts
  packages/dds/cell/api-report/cell.api.md
  packages/dds/cell/src/cell.ts
  packages/dds/counter/src/counter.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/dds/matrix/api-report/matrix.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/migration-shim/src/sharedTreeDeltaHandler.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Owners: @microsoft/fluid-cr-framework, @microsoft/fluid-cr-api, @microsoft/fluid-cr-dds, @microsoft/fluid-cr-runtime

Added privateRemarks
  packages/loader/driver-utils/src/messageRecognition.ts
Owners: @microsoft/fluid-cr-loader

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# More details on the format: https://help.github.com/articles/about-codeowners/

# ORDER MATTERS! The last matching pattern has the most precedence.

# When updating this file, you should also consider updating the GitHub label config in actions-labeler.yml so that
# any area changes are labeled correctly.

# Files in the root
/*.*                                                                      @microsoft/fluid-cr-core

/.devcontainer/                                                           @microsoft/fluid-cr-infra
/.github/                                                                 @microsoft/fluid-cr-infra
/.github/ISSUE_TEMPLATE/                                                  @microsoft/fluid-cr-docs
/.vscode/                                                                 @microsoft/fluid-cr-infra

/azure/                                                                   @microsoft/fluid-cr-framework

/build-tools/                                                             @microsoft/fluid-cr-infra

/common/build/                                                            @microsoft/fluid-cr-infra
/common/lib/                                                              @microsoft/fluid-cr-core
/docs/                                                                    @microsoft/fluid-cr-docs

/examples/                                                                @microsoft/fluid-cr-framework
/experimental/                                                            @microsoft/fluid-cr-framework
/experimental/PropertyDDS/                                                @evaliyev @karlbom @nedalhy @ruiterr
/experimental/dds/tree/                                                   @microsoft/fluid-cr-tree
/experimental/dds/tree2/                                                  @microsoft/fluid-cr-tree
/packages/dds/                                                            @microsoft/fluid-cr-dds
/packages/drivers/                                                        @microsoft/fluid-cr-drivers
/packages/drivers/odsp*/                                                  @microsoft/fluid-cr-drivers @microsoft/fluid-cr-odsp
/packages/framework/                                                      @microsoft/fluid-cr-framework
/packages/loader/                                                         @microsoft/fluid-cr-loader
/packages/runtime/                                                        @microsoft/fluid-cr-runtime
/packages/test/                                                           @microsoft/fluid-cr-test
/packages/tools/                                                          @microsoft/fluid-cr-tools
/packages/tools/devtools/                                                 @microsoft/team-rohan
/packages/utils/                                                          @microsoft/fluid-cr-infra
/packages/utils/odsp-doclib-utils/                                        @microsoft/fluid-cr-odsp
/packages/utils/telemetry-utils/                                          @microsoft/fluid-cr-telemetry
/server/                                                                  @microsoft/fluid-cr-server
/tools/                                                                   @microsoft/fluid-cr-tools
/tools/api-markdown-documenter                                            @microsoft/fluid-cr-docs @microsoft/fluid-cr-infra
/tools/markdown-magic/                                                    @microsoft/fluid-cr-infra
/tools/markdown-magic/src/templates                                       @microsoft/fluid-cr-docs
/tools/pipelines/                                                         @microsoft/fluid-cr-infra
/tools/pipelines/build-azure.yml                                          @microsoft/fluid-cr-infra @microsoft/fluid-cr-framework

# PUBLIC API REPORTS
# All packages are assumed to have public APIs unless defined otherwise in the sections below.
**/api-report/                                         @microsoft/fluid-cr-api
# These packages represent the primary public API of the framework.
azure/packages/azure-client/api-report/                @microsoft/fluid-cr-api
azure/packages/azure-service-utils/api-report/         @microsoft/fluid-cr-api
packages/framework/fluid-framework/api-report/         @microsoft/fluid-cr-api
packages/framework/tinylicious-client/api-report/      @microsoft/fluid-cr-api

experimental/dds/tree2/api-report/                     @microsoft/fluid-cr-tree

# INTERNAL API REPORTS
# The packages listed here are not necessarily considered part of the public API.
packages/dds/shared-object-base/api-report/            @microsoft/fluid-cr-framework

# TODO: uncomment once experimental reports have moved
experimental/dds/**/api-report/                        @microsoft/fluid-cr-dds
packages/framework/dds-interceptions/api-report/       @microsoft/fluid-cr-dds

packages/framework/request-handler/api-report/         @microsoft/fluid-cr-runtime
packages/dds/shared-summary-block/api-report/          @microsoft/fluid-cr-runtime
packages/framework/synthesize/api-report/              @microsoft/fluid-cr-runtime

packages/drivers/debugger/api-report/                  @microsoft/fluid-cr-tools
packages/utils/tool-utils/api-report/                  @microsoft/fluid-cr-tools

packages/loader/driver-utils/api-report/               @microsoft/fluid-cr-drivers
packages/test/test-driver-definitions/api-report/      @microsoft/fluid-cr-drivers

packages/drivers/routerlicious-driver/api-report/      @microsoft/fluid-cr-server

experimental/dds/tree/api-report                       @microsoft/fluid-cr-tree

# No owners for package.json files to avoid review spam when mono-repo dependencies are updated
package.json @msfluid-bot
