Repository microsoft/FluidFramework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluid-cr-id-compressor, @microsoft/fluid-cr-merge-tree, @microsoft/fluid-cr-tree, @microsoft/fluid-cr-devtools, @microsoft/fluid-cr-api

biome formatting
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/test/client.attributionFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibles.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Owners: @microsoft/fluid-cr-merge-tree

LoadingGroupId breaks on clients without the feature enabled
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Owners: none

Autofix violations
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/test/Removal.perf.spec.ts
  packages/dds/merge-tree/src/test/Snapshot.perf.spec.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibles.spec.ts
Owners: @microsoft/fluid-cr-merge-tree

Revert "Slide references from locally removed segments when resolving positio…"
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Owners: @microsoft/fluid-cr-merge-tree

Assert expected error occurs
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Owners: none

Test farm suppressions
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Owners: @microsoft/fluid-cr-merge-tree

Extract DetachedField type
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
Owners: @microsoft/fluid-cr-tree

(odsp-client): Update env and minor cleanup (#21454)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

Skip non relevant services
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Owners: none

Remove TreeConfiguration and simplify schematizingTreeView (#21649)
  docs/content/docs/start/tutorial.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
Owners: @microsoft/fluid-cr-tree

Run local server and t9s e2e tests in parallel
  packages/test/test-end-to-end-tests/package.json
Owners: none

fix
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Owners: none

(odsp-client): Update env and minor cleanup (#21454)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

(odsp-client): Update env and minor cleanup (#21454)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

Restore note about leak, but with more detail
  packages/dds/tree/README.md
Owners: none

feat(devtools): Add automated accessibility tests (#21287)
  packages/tools/devtools/devtools-view/jest.config.cjs
  packages/tools/devtools/devtools-view/jest.setup.cjs
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
  packages/tools/devtools/devtools-view/src/test/SettingsView.test.tsx
  packages/tools/devtools/devtools-view/src/test/utils/axeUtils.ts
  packages/tools/devtools/devtools-view/src/test/utils/index.ts
  pnpm-lock.yaml
Owners: @microsoft/fluid-cr-devtools

Update packages/dds/tree/README.md
  packages/dds/tree/README.md
Owners: none

Double the test timeout for Undo and Redo Insert & Delete
  packages/framework/undo-redo/src/test/sequenceHandler.spec.ts
Owners: none

Apply suggestions from code review
  build-tools/packages/build-cli/src/commands/release/prepare.ts
  build-tools/packages/build-cli/src/library/package.ts
Owners: none

revert packages that were never trimmed
  packages/service-clients/odsp-client/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fluid-runner/package.json
Owners: none

[Prototype]Improve DDS stress pipeline: add numeric stress level
  packages/dds/map/package.json
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/sequence/package.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/test-dds-stress.yml
Owners: @microsoft/fluid-cr-merge-tree, @microsoft/fluid-cr-tree

Cleanup
  packages/tools/devtools/devtools-view/src/test/AudienceStateTable.test.tsx
  packages/tools/devtools/devtools-view/src/test/Menu.test.tsx
Owners: @microsoft/fluid-cr-devtools

Move summarization end-to-end tests into a separate folder
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizationEdgeCases.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizationFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementally.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementallySubDds.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeRefreshLatestSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeRestart.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithLocalChanges.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithSearch.spec.ts
Owners: none

[Port rc2.0] (odsp-client): Update env and minor cleanup (#21454) (#21694)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

Prototype putting blobs in summary
  .vscode/launch.json
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Owners: @microsoft/fluid-cr-api

remove api extractor lint files
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.cjs.json
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.esm.json
  packages/tools/devtools/devtools-core/api-extractor/api-extractor-lint-index.cjs.json
  packages/tools/devtools/devtools/api-extractor/api-extractor-lint-index.cjs.json
  packages/tools/fluid-runner/api-extractor/api-extractor-lint-index.cjs.json
Owners: none

[WIP]: JSON types
  packages/dds/tree/src/shared-tree/jsonSchema.ts
Owners: @microsoft/fluid-cr-tree

[Port rc.3.0] (odsp-client): Update env and minor cleanup (#21454) (#21696)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

[Port rc4.0] (odsp-client): Update env and minor cleanup (#21454) (#21697)
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Owners: none

Use nested map type
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
Owners: @microsoft/fluid-cr-tree

Test rename
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Owners: none

Double the test timeout for Undo and Redo Insert & Delete (#21698)
  packages/framework/undo-redo/src/test/sequenceHandler.spec.ts
Owners: none

Improve comments in code
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
Owners: none

feat: Add transform
  tools/markdown-magic/src/transforms/index.cjs
  tools/markdown-magic/src/transforms/packageImportInstructionsTransform.cjs
Owners: none

use NestedMap helper functions
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
Owners: @microsoft/fluid-cr-tree

WIP: use @azure/identity for fetch-tool
  packages/tools/fetch-tool/README.md
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetch.ts
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
Owners: none

feat: Wire up transform
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/transforms/packageImportInstructionsTransform.cjs
  tools/markdown-magic/test/library-package-readme.md
Owners: none

fix(client-odsp-client): apply API trimming typescript builds against `odsp-client` must use `/beta` import spec path to import `@beta` APIs.
  .changeset/afraid-bags-create.md
  examples/service-clients/odsp-client/shared-tree-demo/.eslintrc.cjs
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/fluid.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
  examples/utils/bundle-size-tests/src/odspClient.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/utils.ts
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.cjs.json
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.esm.json
  packages/service-clients/odsp-client/package.json
Owners: none

Remove import
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
Owners: @microsoft/fluid-cr-tree

Fix brittle test
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
Owners: @microsoft/fluid-cr-tree

.github/CODEOWNERS:

# -------------------------------------------------------------------------
#
# Please read and understand all of this documentation before modifying this file.
#
# Ownership via this file will block PR until an owner approves.
# Taking ownership requires a commitment to review all PRs for the selected files.
#
# Lines starting with '#' are comments.
#
# Each line is a file pattern followed by one or more owners.
# More details on the format: https://help.github.com/articles/about-codeowners/
#
# When updating this file, you should also consider updating the GitHub label config in actions-labeler.yml so that
# any area changes are labeled correctly.
#
# ORDER MATTERS! The last matching pattern has the most precedence.
# Be careful not to break existing ownership patterns.
#
# Do not assign ownership to indviduals. Use a Team: https://github.com/orgs/microsoft/teams/fluid-cr/teams .
# Using individuals can break processing of this file if they are not contributors, or lose contributors status
# which can and does happen. Use "function/area-based" teams rather than "organization-based" teams and add
# individuals to each one; we use fluid-cr and its child teams (by convention named fluid-cr-<some-specifier>)
# for this. One reason is that teams in Github cannot have multiple parents, i.e. they cannot be members of more
# than one other team, so trying to reuse org-based teams to have the same people be reviewers of different areas
# doesn't work.
#
# Team maintainers can control how PRs are assigned to their team members.
# This can be modified under the settings for the team which is only visiable to maintainer.
#
# If you create a new team its parent should be set to fluid-cr, as teams are microsoft wide,
# and we use the parent team to organize them.
#
# ------------------------------------------------------------------------

# ID compressor source
/packages/runtime/id-compressor/src            @microsoft/fluid-cr-id-compressor

# merge tree and merge tree related dds source
/packages/dds/merge-tree/src                   @microsoft/fluid-cr-merge-tree
/packages/dds/matrix/src                       @microsoft/fluid-cr-merge-tree
/packages/dds/sequence/src                     @microsoft/fluid-cr-merge-tree
/experimental/dds/sequence-deprecated/src      @microsoft/fluid-cr-merge-tree

# shared tree and tree related dds source
/packages/dds/tree/src                         @microsoft/fluid-cr-tree
/experimental/dds/tree/src                     @microsoft/fluid-cr-tree

# Fluid Devtools source
/packages/tools/devtools/**/src                @microsoft/fluid-cr-devtools

# Non-internal API changes
/**/api-report/*.public.api.md                 @microsoft/fluid-cr-api
/**/api-report/*.beta.api.md                   @microsoft/fluid-cr-api
/**/api-report/*.alpha.api.md                  @microsoft/fluid-cr-api

# Package version files are not generally interesting to review by teams signing up for source tree ownership.
# If a release team wanted to sign up to block on changes relevant for package release,
# that would be the appropriate owner here. For now, explicitly give these files no owner.
/**/packageVersion.ts
