Repository microsoft/FluidFramework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluid-cr-core, @microsoft/fluid-cr-infra, @microsoft/fluid-cr-docs, @microsoft/fluid-cr-framework, @evaliyev, @karlbom, @nedalhy, @ruiterr, @microsoft/fluid-cr-tree, @microsoft/fluid-cr-dds, @microsoft/fluid-cr-drivers, @microsoft/fluid-cr-odsp, @microsoft/fluid-cr-loader, @microsoft/fluid-cr-runtime, @microsoft/fluid-cr-test, @microsoft/fluid-cr-tools, @microsoft/fluid-cr-telemetry, @microsoft/fluid-cr-server, @microsoft/fluid-cr-api, @msfluid-bot

Fix typecast
  packages/dds/tree/src/test/feature-libraries/editable-tree/utilities.spec.ts
Owners: @microsoft/fluid-cr-tree

fix if clause
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Owners: @microsoft/fluid-cr-infra

fix if clause
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Owners: @microsoft/fluid-cr-infra

fix for loop
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Owners: @microsoft/fluid-cr-infra

Get field length
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/treeTextCursorLegacy.ts
  packages/dds/tree/src/forest/cursorLegacy.ts
  packages/dds/tree/src/test/cursorLegacy.spec.ts
Owners: @microsoft/fluid-cr-tree

change to @fluidframework/task-manager
  api-report/task-manager.api.md
  common/build/eslint-config-fluid/README.md
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/src/index.tsx
  examples/data-objects/task-selection/package.json
  examples/data-objects/task-selection/src/taskManagerDiceRoller.ts
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/migrationTool/migrationTool.ts
  lerna-package-lock.json
  package-lock.json
  packages/dds/task-manager/README.md
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/packageVersion.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/loadTestDataStore.ts
  tools/api-markdown-documenter/README.md
  tools/test-tools/package-lock.json
Owners: @microsoft/fluid-cr-dds, @microsoft/fluid-cr-infra, @msfluid-bot, @microsoft/fluid-cr-framework, @microsoft/fluid-cr-core, @microsoft/fluid-cr-test

update import orders
  examples/data-objects/clicker/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  packages/dds/task-manager/README.md
  packages/test/test-service-load/package.json
Owners: @msfluid-bot, @microsoft/fluid-cr-dds

revert readme.md
  common/build/eslint-config-fluid/README.md
  tools/api-markdown-documenter/README.md
Owners: @microsoft/fluid-cr-infra

Update tools/pipelines/test-coverage.yml
  tools/pipelines/test-coverage.yml
Owners: @microsoft/fluid-cr-infra

Address review comments and rename files
  tools/pipelines/templates/include-test-reliability.yml
  tools/pipelines/test-reliability.yml
Owners: @microsoft/fluid-cr-infra

revert test tools lock file
  tools/test-tools/package-lock.json
Owners: @microsoft/fluid-cr-infra

format
  azure/packages/azure-client/src/index.ts
Owners: @microsoft/fluid-cr-framework

First cut content chunking
  experimental/framework/content-chunking/.eslintrc.js
  experimental/framework/content-chunking/.gitignore
  experimental/framework/content-chunking/.npmignore
  experimental/framework/content-chunking/LICENSE
  experimental/framework/content-chunking/README.md
  experimental/framework/content-chunking/api-extractor.json
  experimental/framework/content-chunking/package.json
  experimental/framework/content-chunking/src/contentChunkingFactory.ts
  experimental/framework/content-chunking/src/contentChunkingFast.ts
  experimental/framework/content-chunking/src/contentChunkingFixed.ts
  experimental/framework/content-chunking/src/contentChunkingInterfaces.ts
  experimental/framework/content-chunking/src/contentChunkingProviders.ts
  experimental/framework/content-chunking/src/index.ts
  experimental/framework/content-chunking/src/test/contentChunking.spec.ts
  experimental/framework/content-chunking/src/test/tsconfig.json
  experimental/framework/content-chunking/tsconfig.esnext.json
  experimental/framework/content-chunking/tsconfig.json
Owners: @microsoft/fluid-cr-framework, @msfluid-bot

examples/apps
  examples/apps/collaborative-textarea/src/index.ts
  examples/apps/spaces/src/fluid-object/index.ts
  examples/apps/spaces/src/fluid-object/storage/index.ts
  examples/apps/spaces/src/index.ts
  examples/apps/view-framework-sampler/src/views/index.ts
Owners: @microsoft/fluid-cr-framework

Update breaking.md message
  BREAKING.md
Owners: @microsoft/fluid-cr-core

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# More details on the format: https://help.github.com/articles/about-codeowners/

# ORDER MATTERS! The last matching pattern has the most precedence.

# Files in the root
/*.*                                                                      @microsoft/fluid-cr-core

/.devcontainer/                                                           @microsoft/fluid-cr-infra
/.github/                                                                 @microsoft/fluid-cr-infra
/.github/ISSUE_TEMPLATE/                                                  @microsoft/fluid-cr-docs
/.md-magic-templates/                                                     @microsoft/fluid-cr-docs
/.vscode/                                                                 @microsoft/fluid-cr-infra

/azure/                                                                   @microsoft/fluid-cr-framework

/build-tools/                                                             @microsoft/fluid-cr-infra

/common/build/                                                            @microsoft/fluid-cr-infra
/common/lib/                                                              @microsoft/fluid-cr-core
/docs/                                                                    @microsoft/fluid-cr-docs

/examples/                                                                @microsoft/fluid-cr-framework
/experimental/                                                            @microsoft/fluid-cr-framework
/experimental/PropertyDDS/                                                @evaliyev @karlbom @nedalhy @ruiterr
/experimental/dds/tree/                                                   @microsoft/fluid-cr-tree
/experimental/dds/tree-graphql/                                           @microsoft/fluid-cr-tree
/packages/dds/                                                            @microsoft/fluid-cr-dds
/packages/dds/tree                                                        @microsoft/fluid-cr-tree
/packages/drivers/                                                        @microsoft/fluid-cr-drivers
/packages/drivers/odsp*/                                                  @microsoft/fluid-cr-drivers @microsoft/fluid-cr-odsp
/packages/framework/                                                      @microsoft/fluid-cr-framework
/packages/loader/                                                         @microsoft/fluid-cr-loader
/packages/runtime/                                                        @microsoft/fluid-cr-runtime
/packages/test/                                                           @microsoft/fluid-cr-test
/packages/tools/                                                          @microsoft/fluid-cr-tools
/packages/utils/                                                          @microsoft/fluid-cr-infra
/packages/utils/odsp-doclib-utils/                                        @microsoft/fluid-cr-odsp
/packages/utils/telemetry-utils/                                          @microsoft/fluid-cr-telemetry
/server/                                                                  @microsoft/fluid-cr-server
/tools/                                                                   @microsoft/fluid-cr-infra
/tools/pipelines/build-azure.yml                                          @microsoft/fluid-cr-framework

# PUBLIC API REPORTS
# All packages are assumed to have public APIs unless defined otherwise in the sections below.
api-report/                                                               @microsoft/fluid-cr-api
# These packages represent the primary public API of the framework.
api-report/azure-client.api.md                                            @microsoft/fluid-cr-api
api-report/azure-service-utils.api.md                                     @microsoft/fluid-cr-api
api-report/test-client-utils.api.md                                       @microsoft/fluid-cr-api
api-report/fluid-framework.api.md                                         @microsoft/fluid-cr-api
api-report/tinylicious-client.api.md                                      @microsoft/fluid-cr-api

# INTERNAL API REPORTS
# The packages listed here are not considered part of the public API.
api-report/aqueduct.api.md                                                @microsoft/fluid-cr-framework
api-report/cell.api.md                                                    @microsoft/fluid-cr-dds
api-report/container-loader.api.md                                        @microsoft/fluid-cr-loader
api-report/container-runtime-definitions.api.md                           @microsoft/fluid-cr-runtime
api-report/container-runtime.api.md                                       @microsoft/fluid-cr-runtime
api-report/container-utils.api.md                                         @microsoft/fluid-cr-runtime
api-report/counter.api.md                                                 @microsoft/fluid-cr-dds
api-report/data-object-base.api.md                                        @microsoft/fluid-cr-framework
api-report/datastore-definitions.api.md                                   @microsoft/fluid-cr-runtime
api-report/datastore.api.md                                               @microsoft/fluid-cr-runtime
api-report/dds-interceptions.api.md                                       @microsoft/fluid-cr-dds
api-report/debugger.api.md                                                @microsoft/fluid-cr-tools
api-report/driver-base.api.md                                             @microsoft/fluid-cr-drivers
api-report/driver-utils.api.md                                            @microsoft/fluid-cr-drivers
api-report/driver-web-cache.api.md                                        @microsoft/fluid-cr-drivers
api-report/experimental-tree.api.md                                       @microsoft/fluid-cr-tree
api-report/file-driver.api.md                                             @microsoft/fluid-cr-drivers
api-report/fluid-static.api.md                                            @microsoft/fluid-cr-framework
api-report/garbage-collector.api.md                                       @microsoft/fluid-cr-runtime
api-report/iframe-driver.api.md                                           @microsoft/fluid-cr-drivers
api-report/ink.api.md                                                     @microsoft/fluid-cr-dds
api-report/location-redirection-utils.api.md                              @microsoft/fluid-cr-loader
api-report/map.api.md                                                     @microsoft/fluid-cr-dds
api-report/matrix.api.md                                                  @microsoft/fluid-cr-dds
api-report/merge-tree.api.md                                              @microsoft/fluid-cr-dds
api-report/mocha-test-setup.api.md                                        @microsoft/fluid-cr-test
api-report/odsp-driver-definitions.api.md                                 @microsoft/fluid-cr-odsp
api-report/odsp-driver.api.md                                             @microsoft/fluid-cr-odsp
api-report/ordered-collection.api.md                                      @microsoft/fluid-cr-dds
api-report/quorum.api.md                                                  @microsoft/fluid-cr-dds
api-report/register-collection.api.md                                     @microsoft/fluid-cr-dds
api-report/replay-driver.api.md                                           @microsoft/fluid-cr-drivers
api-report/request-handler.api.md                                         @microsoft/fluid-cr-runtime
api-report/routerlicious-driver.api.md                                    @microsoft/fluid-cr-server
api-report/runtime-definitions.api.md                                     @microsoft/fluid-cr-runtime
api-report/runtime-utils.api.md                                           @microsoft/fluid-cr-runtime
api-report/sequence.api.md                                                @microsoft/fluid-cr-dds
api-report/shared-object-base.api.md                                      @microsoft/fluid-cr-framework
api-report/shared-summary-block.api.md                                    @microsoft/fluid-cr-runtime
api-report/synthesize.api.md                                              @microsoft/fluid-cr-runtime
api-report/task-manager.api.md                                            @microsoft/fluid-cr-dds
api-report/telemetry-utils.api.md                                         @microsoft/fluid-cr-telemetry
api-report/test-driver-definitions.api.md                                 @microsoft/fluid-cr-drivers
api-report/test-drivers.api.md                                            @microsoft/fluid-cr-drivers
api-report/test-runtime-utils.api.md                                      @microsoft/fluid-cr-runtime
api-report/test-utils.api.md                                              @microsoft/fluid-cr-test
api-report/tool-utils.api.md                                              @microsoft/fluid-cr-tools
api-report/tree.api.md                                                    @microsoft/fluid-cr-tree
api-report/undo-redo.api.md                                               @microsoft/fluid-cr-framework
api-report/view-adapters.api.md                                           @microsoft/fluid-cr-framework
api-report/view-interfaces.api.md                                         @microsoft/fluid-cr-framework
api-report/web-code-loader.api.md                                         @microsoft/fluid-cr-loader

# No owners for package.json files to avoid review spam when mono-repo dependencies are updated
package.json @msfluid-bot
