Repository microsoft/FluidFramework, changes with the labels that .github/labeler.yml gives for each.
All labels: area: dds, area: dds: sharedstring, area: driver, area: examples, area: framework, area: host, area: loader, area: repo, area: runtime, area: server, area: test, area: tools, area: website, breaking change, documentation

.github/labeler.yml:

# This file is a map of labels to repo glob paths. See https://github.com/marketplace/actions/labeler
# for more details.

"area: dds":
  - "packages/dds/**"

"area: dds: sharedstring":
  - packages/dds/sequence/**

"area: driver":
  - packages/drivers/**

"area: examples":
  - examples/**

"area: framework":
  - packages/framework/**

"area: host":
  - packages/hosts/**

"area: loader":
  - packages/loader/**

# Add "area: repo" label to any root or .github changes
"area: repo":
  - any: ["*", ".github/**", "!BREAKING.md"]

"area: runtime":
  - packages/runtime/**

"area: server":
  - server/**

"area: test":
  - packages/test/**

"area: tools":
  - tools/**

"area: website":
  - any: ["docs/**", "!docs/content/**"]

# Any change to BREAKING.md or to any api-report path in the repo
"breaking change":
  - BREAKING.md
  - api-report/*

documentation:
  - docs/content/**

move package to experimental folder
  experimental/framework/last-edited-experimental/.eslintrc.js
  experimental/framework/last-edited-experimental/.gitignore
  experimental/framework/last-edited-experimental/.npmignore
  experimental/framework/last-edited-experimental/LICENSE
  experimental/framework/last-edited-experimental/README.md
  experimental/framework/last-edited-experimental/api-extractor.json
  experimental/framework/last-edited-experimental/package.json
  experimental/framework/last-edited-experimental/src/index.ts
  experimental/framework/last-edited-experimental/src/interfaces.ts
  experimental/framework/last-edited-experimental/src/lastEditedTracker.ts
  experimental/framework/last-edited-experimental/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited-experimental/src/packageVersion.ts
  experimental/framework/last-edited-experimental/src/setup.ts
  experimental/framework/last-edited-experimental/tsconfig.esnext.json
  experimental/framework/last-edited-experimental/tsconfig.json
Labels: none

rename package
  examples/data-objects/vltava/package.json
  experimental/framework/last-edited-experimental/README.md
  experimental/framework/last-edited-experimental/package.json
Labels: area: examples

rename package folder
  experimental/framework/last-edited/.eslintrc.js
  experimental/framework/last-edited/.gitignore
  experimental/framework/last-edited/.npmignore
  experimental/framework/last-edited/LICENSE
  experimental/framework/last-edited/README.md
  experimental/framework/last-edited/api-extractor.json
  experimental/framework/last-edited/package.json
  experimental/framework/last-edited/src/index.ts
  experimental/framework/last-edited/src/interfaces.ts
  experimental/framework/last-edited/src/lastEditedTracker.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited/src/packageVersion.ts
  experimental/framework/last-edited/src/setup.ts
  experimental/framework/last-edited/tsconfig.esnext.json
  experimental/framework/last-edited/tsconfig.json
Labels: none

GC fixes for hanging delete in SharedString and SharedMatrix (#6268)
  packages/dds/matrix/package.json
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/src/index.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInSummarizer.spec.ts
Labels: area: dds, area: dds: sharedstring, area: runtime, area: test

Add telemetry to forceReadonly (#6259) (#6271)
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

test is running, saving changes before npm install
  packages/test/test-service-load/.eslintrc.js
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/test/mini.spec.ts
  packages/test/test-service-load/src/test/tsconfig.json
  packages/test/test-service-load/tsconfig.json
Labels: area: test

breaking.md
  BREAKING.md
  experimental/framework/last-edited/src/packageVersion.ts
Labels: breaking change

Clear quorum values cache when comitting a proposal
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

bump build tools
  package.json
Labels: none

bump build-tools
  server/historian/package.json
  server/routerlicious/package.json
Labels: area: server

Clear quorum values cache when committing a proposal (#6275)
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

fix copy/paste error
  BREAKING.md
Labels: breaking change

typo
  BREAKING.md
Labels: breaking change

init
  docs/config.yml
  docs/content/posts/hello-world.md
  docs/content/posts/post-2.md
Labels: area: website, documentation

Clear quorum values cache when committing a proposal (#6275)
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

lockfiles
  lerna-package-lock.json
  package-lock.json
Labels: none

[main > 0.40]: Clear quorum values cache when committing a proposal (#6275) (#6277)
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

lockfiles
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
Labels: area: server

more lockfiles
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
Labels: area: server

update code
  BREAKING.md
  docs/data/packages.yaml
  examples/data-objects/vltava/src/fluidObjects/anchor/anchor.ts
  examples/data-objects/vltava/src/fluidObjects/vltava/dataModel.ts
  examples/data-objects/vltava/src/index.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
Labels: area: examples, area: website, breaking change

Support iteration over the contents of an IntervalCollection. (#6202)
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/test/collections.intervalTree.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test

re-add prerelease to server dependency versions
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: dds, area: dds: sharedstring, area: driver, area: loader, area: runtime, area: test

rever lerna
  lerna-package-lock.json
Labels: none

[bump] package version for server (#6280)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

fix policy check
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

(split from Whiteboard) Merged PR 30822: improvement: reintroduce events for invalid/malformed SharedTree edits, use in tests
  shared-tree.api.md
  src/generic/GenericSharedTree.ts
  src/generic/index.ts
  src/index.ts
  src/test/Checkout.tests.ts
  src/test/SharedTree.tests.ts
  src/test/utilities/TestUtilities.ts
  src/test/utilities/UndoRedoTests.ts
Labels: none

it worked
  .vscode/launch.json
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/test/mini.spec.ts
Labels: area: test

fixed test
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/loader/driver-utils/src/network.ts
Labels: area: driver, area: loader

Add param doc to function comment
  common/lib/common-utils/src/delay.ts
Labels: none

Adding documentId to auth token in getTenant().
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server

Fixing Storage-Routing-Id header usage.
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server

Single call summary upload api (#6284)
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/contract.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/snapshots.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server

Adding documentId to auth token in getTenant(). (#6285)
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server

Fixing merge issues.
  server/historian/packages/historian-base/src/routes/snapshots.ts
  server/historian/packages/historian-base/src/routes/utils.ts
Labels: area: server

testing
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
Labels: area: driver

policy-fix assert shortcode
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

fix policy check (#6282)
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

testing
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
Labels: area: driver

revert launch.json
  .vscode/launch.json
Labels: none

policy-fix assert shortcode (#6286)
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader
