Repository microsoft/FluidFramework, changes with the labels that .github/labeler.yml gives for each.
All labels: area: build, area: contributor experience, area: dds, area: dds: propertydds, area: dds: sharedstring, area: definitions, area: dev experience, area: driver, area: examples, area: framework, area: host, area: loader, area: odsp-driver, area: repo, area: runtime, area: server, area: test, area: tools, area: website, breaking change, dependencies, documentation

.github/labeler.yml:

# This file is a map of labels to repo glob paths. See https://github.com/marketplace/actions/labeler
# for more details.

"area: build":
  - ".github/*"
  - ".github/workflows/**"
  - "tools/pipelines/**"

"area: contributor experience":
  - ".vscode/**"

"area: dds":
  - experimental/dds/**
  - packages/dds/**

"area: dds: propertydds":
  - experimental/PropertyDDS/**

"area: dds: sharedstring":
  - packages/dds/sequence/**

"area: definitions":
  - common/lib/container-definitions/**
  - common/lib/core-interfaces/**
  - common/lib/driver-definitions/**

"area: dev experience":
  - experimental/framework/**

"area: driver":
  - packages/drivers/**

"area: examples":
  - examples/**
  - experimental/examples/**

"area: framework":
  - packages/framework/**

"area: host":
  - packages/hosts/**

"area: loader":
  - packages/loader/**

"area: odsp-driver":
  - packages/drivers/*odsp*/**
  - packages/utils/odsp-doclib-utils/**

# Add "area: repo" label to any root or .github changes
"area: repo":
  - any: ["*", ".github/**", "!BREAKING.md"]

"area: runtime":
  - packages/runtime/**

"area: server":
  - server/**

"area: test":
  - packages/test/**

"area: tools":
  - any: ["common/build/**", "tools/**", "tools/pipelines/**"]

"area: website":
  - any: ["docs/**", "!docs/content/**"]

# Any change to BREAKING.md or to any api-report path in the repo
"breaking change":
  - BREAKING.md
  - "**/api-report/**"

dependencies:
  - lerna-package-lock.json
  - package-lock.json

documentation:
  - docs/content/**

Refactor SegmentPropertiesManager for reuse
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
Labels: area: dds

Pr sugg
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

Fix datastoreruntime
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
Labels: area: runtime

Fix datastoreruntime
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime

Add existing to factory method
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
Labels: area: runtime

Apply suggestions from code review
  docs/content/docs/build/audience.md
Labels: documentation

updated readme for external controller and frs client
  examples/hosts/app-integration/external-controller/README.md
  experimental/framework/frs-client/README.md
Labels: area: dev experience, area: examples

spacing
  examples/hosts/app-integration/external-controller/README.md
Labels: area: examples

thereby
  examples/hosts/app-integration/external-controller/README.md
Labels: area: examples

#
  examples/hosts/app-integration/external-controller/README.md
Labels: area: examples

Update audience.md
  docs/content/docs/build/audience.md
Labels: documentation

Change error type for timeout errors
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

(split from Whiteboard) Merged PR 32541: build: update dependencies
  package.json
Labels: none

readme formatting and URL removal
  examples/hosts/app-integration/external-controller/README.md
  experimental/framework/frs-client/README.md
Labels: area: dev experience, area: examples

test
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

Add summaryTree to results and renames
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

fix test
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

test
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

more experimenting
  examples/data-objects/codemirror/src/codemirror.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: examples, area: framework

test
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

Remove usages of readAndParseBlobs from sync constructors methods (#6795)
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

id
  examples/hosts/app-integration/external-controller/README.md
  experimental/framework/frs-client/README.md
Labels: area: dev experience, area: examples

Merge (#6813)
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

Rename generateSummary to submitSummary
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

Remove readAndParseFromBlobs api as no longer needed
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-utils/src/readAndParse.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
Labels: area: loader, area: runtime

Remove readAndParseFromBlobs api as no longer needed
  api-report/driver-utils.api.md
Labels: breaking change

Refactor SegmentPropertiesManager for reuse (#6810)
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
Labels: area: dds

Add TokenProvider implementation for client to request the token from the Azure Function (#6698)
  examples/hosts/app-integration/external-controller/README.md
  examples/hosts/app-integration/external-controller/src/app.ts
  experimental/framework/frs-client/README.md
  experimental/framework/frs-client/package.json
  experimental/framework/frs-client/src/FrsAzFunctionTokenProvider.ts
  experimental/framework/frs-client/src/index.ts
Labels: area: dev experience, area: examples

Prrajen/add deli metricss (#6817)
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

saving
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/test/test-end-to-end-tests/src/test/cache.spec.ts
Labels: area: driver, area: odsp-driver, area: test

test
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

Add the doc on user presence and audience (#6777)
  docs/content/docs/build/audience.md
Labels: documentation

add some debugging logs
  server/routerlicious/packages/services-shared/src/redisSocketIoAdapter.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server

Pr sugg
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver

Fixed broken unit tests
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime

Remove blob contents from snapshot in rehydrate container, loader changes
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test
