Repository microsoft/FluidFramework, changes with the labels that .github/labeler.yml gives for each.
All labels: area: build, area: contributor experience, area: dds, area: dds: propertydds, area: dds: sharedstring, area: definitions, area: dev experience, area: driver, area: examples, area: framework, area: host, area: loader, area: odsp-driver, area: repo, area: runtime, area: server, area: test, area: tools, area: website, breaking change, dependencies, documentation

Remove redundant deltamanager readonly setting
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: test

PR feedback
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

Refactor generateSummary return types and split out summarizer types to separate file (#6783)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

Split out part of RunningSummarizer into SummaryGenerator
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

Disposable pending state manager (#6785)
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: runtime, area: test

Initialize SharedCounter API Report (#6334)
  api-report/counter.api.md
  packages/dds/counter/api-extractor.json
  packages/dds/counter/src/counter.ts
  packages/dds/counter/src/index.ts
  packages/dds/counter/src/interfaces.ts
Labels: area: dds, breaking change

Remove test prefix to documentId in r11s test driver
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: test

rename interfaces and classes
  examples/data-objects/focus-tracker/README.md
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  experimental/framework/fluid-static/src/signalManager.ts
Labels: area: dev experience, area: examples

Fix map/directory e2e test stability targeting real service (#6779)
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: test

change all code to js
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Apply suggestions from code review
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Apply suggestions from code review
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Update docs/content/docs/deployment/azure-frs.md
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Update docs/content/docs/deployment/azure-frs.md
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Update docs/content/docs/deployment/azure-frs.md
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

update hugo links
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

scrub frs, tokenprovider stub
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

update audience with sample data and additional explanation
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

convert to regular class
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  examples/data-objects/focus-tracker/src/index.ts
Labels: area: examples

nits
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

Split out part of RunningSummarizer into SummaryGenerator (#6788)
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

Add on-demand summarize function and return types for summarize
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

The idleTimer wasnt actually benefitting from restart
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

Add retryAfter handling in summary retries
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

Roll up fluid-framework docs from child packages (#6737)
  docs/README.md
  docs/api-documenter.json
  docs/data/packages.yaml
  docs/package.json
  package.json
  rollup-api-json.js
Labels: area: website

update external controller readme
  examples/hosts/app-integration/external-controller/README.md
Labels: area: examples

userID added from IMember interface
  experimental/framework/frs-client/src/interfaces.ts
Labels: area: dev experience

test deli
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server

edits
  docs/content/docs/build/audience.md
Labels: documentation

Changes for scale testing.
  .dockerignore
  .gitignore
  README.md
  packages/test/test-service-load/TestRunner.sh
  packages/test/test-service-load/package.json
  packages/test/test-service-load/runloadtest.ps1
  packages/test/test-service-load/src/appinsightslogger.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/nodeStressTestMultiUser.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: test

property-changeset TS convertion - Fix linting [1/3]
  experimental/PropertyDDS/packages/property-changeset/src/changeset.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array_changeset_iterator.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/changeset_conflict_types.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexed_collection.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/is_empty_changeset.js
  experimental/PropertyDDS/packages/property-changeset/src/helpers/typeid_helper.js
  experimental/PropertyDDS/packages/property-changeset/src/index.js
  experimental/PropertyDDS/packages/property-changeset/src/is_reseved_keyword.js
  experimental/PropertyDDS/packages/property-changeset/src/path_helper.js
  experimental/PropertyDDS/packages/property-changeset/src/rebase.js
  experimental/PropertyDDS/packages/property-changeset/src/template_schema.js
  experimental/PropertyDDS/packages/property-changeset/src/template_validator.js
  experimental/PropertyDDS/packages/property-changeset/src/utils.js
  experimental/PropertyDDS/packages/property-changeset/src/validation_result_builder.js
  experimental/PropertyDDS/packages/property-changeset/test/array.spec.js
  experimental/PropertyDDS/packages/property-changeset/test/path_helper.spec.js
  experimental/PropertyDDS/packages/property-changeset/test/reversibleCS.spec.js
  experimental/PropertyDDS/packages/property-changeset/test/schema_validator.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_both_properties_and_typeid.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_invalid_semver_in_typeid.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_missing_semver_in_typeid.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_nested_properties.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_primitive_typeid.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/bad_versioned_typeid.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_color_palette.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_draft_as_version.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_point_id.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_reference_and_regular.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_reserved_types.js
  experimental/PropertyDDS/packages/property-changeset/test/schemas/good_ui_border.js
  experimental/PropertyDDS/packages/property-changeset/test/setup.js
  experimental/PropertyDDS/packages/property-changeset/test/validator/template_syntax.spec.js
  experimental/PropertyDDS/packages/property-changeset/test/validator/template_validator.spec.js
  experimental/PropertyDDS/packages/property-changeset/test/validator/typeid_helper.spec.js
Labels: area: dds: propertydds

The idleTimer wasnt actually benefitting from restart (#6805)
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

Additional op and wait tracing in tests (#6778)
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: test

PR feedback
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime

Remove test prefix to documentId in r11s test driver (#6802)
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: test

Pr sugg
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

Make ds runtime back compat
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime

Runtime.existing
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime

Add retryAfter handling in summary retries (#6804)
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

Replace checkNotTimeout with raceTimer helper
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

.github/labeler.yml:

# This file is a map of labels to repo glob paths. See https://github.com/marketplace/actions/labeler
# for more details.

"area: build":
  - ".github/*"
  - ".github/workflows/**"
  - "tools/pipelines/**"

"area: contributor experience":
  - ".vscode/**"

"area: dds":
  - experimental/dds/**
  - packages/dds/**

"area: dds: propertydds":
  - experimental/PropertyDDS/**

"area: dds: sharedstring":
  - packages/dds/sequence/**

"area: definitions":
  - common/lib/container-definitions/**
  - common/lib/core-interfaces/**
  - common/lib/driver-definitions/**

"area: dev experience":
  - experimental/framework/**

"area: driver":
  - packages/drivers/**

"area: examples":
  - examples/**
  - experimental/examples/**

"area: framework":
  - packages/framework/**

"area: host":
  - packages/hosts/**

"area: loader":
  - packages/loader/**

"area: odsp-driver":
  - packages/drivers/*odsp*/**
  - packages/utils/odsp-doclib-utils/**

# Add "area: repo" label to any root or .github changes
"area: repo":
  - any: ["*", ".github/**", "!BREAKING.md"]

"area: runtime":
  - packages/runtime/**

"area: server":
  - server/**

"area: test":
  - packages/test/**

"area: tools":
  - any: ["common/build/**", "tools/**", "tools/pipelines/**"]

"area: website":
  - any: ["docs/**", "!docs/content/**"]

# Any change to BREAKING.md or to any api-report path in the repo
"breaking change":
  - BREAKING.md
  - "**/api-report/**"

dependencies:
  - lerna-package-lock.json
  - package-lock.json

documentation:
  - docs/content/**
