Repository microsoft/FluidFramework, changes with the labels that .github/labeler.yml gives for each.
All labels: area: dds, area: dds: sharedstring, area: driver, area: examples, area: framework, area: host, area: loader, area: repo, area: runtime, area: server, area: test, area: tools, area: website, breaking change, documentation

.github/labeler.yml:

# This file is a map of labels to repo glob paths. See https://github.com/marketplace/actions/labeler
# for more details.

"area: dds":
  - "packages/dds/**"

"area: dds: sharedstring":
  - packages/dds/sequence/**

"area: driver":
  - packages/drivers/**

"area: examples":
  - examples/**

"area: framework":
  - packages/framework/**

"area: host":
  - packages/hosts/**

"area: loader":
  - packages/loader/**

# Add "area: repo" label to any root or .github changes
"area: repo":
  - any: ["*", ".github/**", "!BREAKING.md"]

"area: runtime":
  - packages/runtime/**

"area: server":
  - server/**

"area: test":
  - packages/test/**

"area: tools":
  - tools/**

"area: website":
  - any: ["docs/**", "!docs/content/**"]

# Any change to BREAKING.md or to any api-report path in the repo
"breaking change":
  - BREAKING.md
  - api-report/*

documentation:
  - docs/content/**

bump to 1025.1
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: dds, area: dds: sharedstring, area: driver, area: loader, area: runtime, area: test

Update lodash and hosted-git-info version in lock file for security warnings
  common/build/eslint-config-fluid/package-lock.json
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  docs/package-lock.json
  lerna-package-lock.json
  server/headless-agent/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/tinylicious/package-lock.json
  tools/generator-fluid/package-lock.json
  tools/getkeys/package-lock.json
Labels: area: server, area: tools, area: website

[bump] package version for server (patch) (#6270)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: dds, area: dds: sharedstring, area: driver, area: loader, area: runtime, area: test

Fix gc summary tests
  packages/test/test-end-to-end-tests/src/test/gcSummaryTests.spec.ts
Labels: area: test

Fix more tests
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInLocalSummary.spec.ts
Labels: area: test

Update lodash and hosted-git-info version in lock file for security warnings (#6289)
  common/build/eslint-config-fluid/package-lock.json
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  docs/package-lock.json
  lerna-package-lock.json
  server/headless-agent/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/tinylicious/package-lock.json
  tools/generator-fluid/package-lock.json
  tools/getkeys/package-lock.json
Labels: area: server, area: tools, area: website

Enable writing isolated channels by default (#6231)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcSummaryTests.spec.ts
Labels: area: runtime, area: test

Small PR fixes
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

Add PragueSummaryUploadManager to services-client
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/pragueGraphSummaryUploadManager.ts
  server/routerlicious/packages/services-client/src/storage.ts
  server/routerlicious/packages/services-client/src/storageContracts.ts
  server/routerlicious/packages/services-client/src/test/historian.spec.ts
  server/routerlicious/packages/test-utils/src/testHistorian.ts
Labels: area: server

Add delay function in common-utils (#6273)
  common/lib/common-utils/src/delay.ts
  common/lib/common-utils/src/index.ts
Labels: none

Deleted unused service-monitor
  server/service-monitor/.dockerignore
  server/service-monitor/.eslintignore
  server/service-monitor/.eslintrc.js
  server/service-monitor/.gitignore
  server/service-monitor/Dockerfile
  server/service-monitor/README.md
  server/service-monitor/config.json
  server/service-monitor/deployment/cronjob.yaml
  server/service-monitor/package-lock.json
  server/service-monitor/package.json
  server/service-monitor/src/index.ts
  server/service-monitor/src/testService.ts
  server/service-monitor/tsconfig.json
Labels: area: server

bump dependency missed by script
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

bump dependency missed by script (#6295)
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring
