Repository microsoft/FluidFramework, pull requests merged in 2020-11, with the labels that each got.

#4129 Rate limiter for max number of requests made by driver
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/rateLimiter.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
Labels: area: driver

#4221 Only check for docid when clearing cache on epoch error.
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#4234 Change redeem sharing link logic in odsp resolver
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#4240 [main > 0.27]: Change redeem sharing link logic in odsp resolver (#4234)
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#4241 [main > 0.28]: Change redeem sharing link logic in odsp resolver (#4234)
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#4249 Increase connection timeout from 20s to 60s for both afd and non afd connection
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver

#4270 IPersistedCache.removeAllEntriesForDocId should be async
  BREAKING.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#4274 Fix and move node-host to detach container flow.
  examples/hosts/node-host/.npmrc
  examples/hosts/node-host/src/index.ts
  examples/hosts/node-host/src/nodeCodeloader.ts
  examples/hosts/node-host/src/utils.ts
  packages/drivers/routerlicious-host/src/urlResolver.ts
Labels: area: host

#4273 When doing concurrent fetch from cache & SPO, if SPO returns 401/403/404, we have to clear cache
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#4284 Simplify logic for convertSnapshotToITree api for taking summary during attach container of detached container
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/utils.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
Labels: refactor

#4300 Add tests for new ODSP driver resolver.
  BREAKING.md
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolver2Tests.spec.ts
Labels: area: driver, testing

#4365 add tests for spo epoch tracker in odsp driver
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
Labels: area: driver, testing

#4381 Clear socket connection timeout in odsp driver on fail
  packages/drivers/driver-base/src/documentDeltaConnection.ts
Labels: area: driver

#4373 [main > 0.29] add tests for spo epoch tracker in odsp driver (#4365)
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
Labels: area: driver, testing

#4374 [main > 0.28]: add tests for spo epoch tracker in odsp driver (#4365)
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
Labels: area: driver, testing

#4394 [main] Cherry-pick commit ae0b9a2 AKA PR #4051 into main.
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-definitions/src/storage.ts
Labels: bug

#4409 [release/0.29] Cherry-pick commit 655c79a AKA PR #4394 into 0.29.
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-definitions/src/storage.ts
Labels: back-compat, bug

#4410 [release/0.28] Cherry-pick commit 655c79a AKA PR #4394 into 0.28.
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-definitions/src/storage.ts
Labels: back-compat, bug

#4375 Add nav param url resolve utility
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
Labels: area: driver

#4408 Improve telemetry for epoch tracker
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: telemetry

#4407 Allow clearing particular cache entries rather than all from odsp host cache on error
  BREAKING.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
Labels: area: driver, bug

#4424 Remove logging from processChunk.
  packages/dds/merge-tree/src/snapshotChunks.ts
Labels: area: dds, perf, telemetry

#4441 Remove nextTick as it causes performance degradation.
  packages/drivers/odsp-driver/src/rateLimiter.ts
Labels: area: driver, perf

#4445 [main > 29]: Replace nextTick with Promise.resolve (#4441)
  packages/drivers/odsp-driver/src/rateLimiter.ts
Labels: area: driver, perf

#4454 [release/0.29] Cherry-pick commit f7b6b5c AKA PR #4424 into 0.29
  packages/dds/merge-tree/src/snapshotChunks.ts
Labels: back-compat

#4467 Change regex to include onenote urls for fetch tool in url resolver.
  packages/drivers/fluidapp-odsp-urlResolver/src/urlResolver.ts
Labels: area: driver

#4481 Add utility api to convert snapshot tree to app and protocol summary tree.
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: runtime, testing
