Repository microsoft/FluidFramework, pull requests merged in 2020-10, with the labels that each got.

#3805 Fix contents parsing of messages for fetch tool.
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
Labels: area: runtime, area: tools, bug

#3870 Change return type of serialize container api.
  packages/loader/container-definitions/src/loader.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/execution-context-loader/src/webWorkerLoader.ts
  packages/test/end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: loader

#3879 Cache Container on attach
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/test/end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, testing

#3767 Integrate app url resolver and driver url resolver for share link generation
  packages/drivers/odsp-driver/src/authorizedFetchWithRetry.ts
  packages/drivers/odsp-driver/src/constants.ts
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/fetchWithRetry.ts
  packages/drivers/odsp-driver/src/graph.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
  packages/drivers/odsp-driver/src/parseAuthErrorClaims.ts
  packages/drivers/odsp-driver/src/resolveDataStore.ts
  packages/drivers/odsp-driver/src/tokenFetch.ts
Labels: area: driver

#3777 Fix parsing of error in fetch tool and when to do reauth
  .github/code_owners.yml
  docs/PACKAGES.md
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/fetchWithRetry.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/test/end-to-end-tests/package.json
  packages/test/end-to-end-tests/src/test/error.spec.ts
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetch.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/odspUrlResolver.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
  packages/utils/odsp-doclib-utils/.eslintrc.js
  packages/utils/odsp-doclib-utils/.gitignore
  packages/utils/odsp-doclib-utils/.npmignore
  packages/utils/odsp-doclib-utils/LICENSE
  packages/utils/odsp-doclib-utils/README.md
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/index.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDocLibUtils.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/odspRequest.ts
  packages/utils/odsp-doclib-utils/tsconfig.esnext.json
  packages/utils/odsp-doclib-utils/tsconfig.json
  packages/utils/tool-utils/package.json
  packages/utils/tool-utils/src/fluidToolRC.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
  tools/build-tools/data/layerInfo.json
Labels: area: tools, bug

#3923 [main > 0.27]: Merge FFX resolver into FF driver for sharing link generation
  packages/drivers/odsp-driver/src/authorizedFetchWithRetry.ts
  packages/drivers/odsp-driver/src/constants.ts
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/fetchWithRetry.ts
  packages/drivers/odsp-driver/src/graph.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
  packages/drivers/odsp-driver/src/parseAuthErrorClaims.ts
  packages/drivers/odsp-driver/src/resolveDataStore.ts
  packages/drivers/odsp-driver/src/tokenFetch.ts
Labels: area: driver

#3955 Move from axios to node fetch for odsp-doclib-utils
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/odspRequest.ts
Labels: refactor

#3979 Remove full package import for lodash and use Isobuffer.
  packages/runtime/container-runtime/src/utils.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

#3977 Make sharing link to a promise on resolved url and remove await from critical path on resolve
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#3980 [main > 0.27]: Remove full package import for lodash and use Isobuffer. (#3979)
  packages/runtime/container-runtime/src/utils.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

#3981 [main > 0.27]: Change sharing link to a promise in odsp resolved url
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
Labels: area: driver

#3986 Add detached container creation ability to base host
  packages/hosts/base-host/src/host.ts
Labels: area: host

#4009 Enable testing orderer services in case blob storage services are down
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/multiDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/multiResolver.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: area: driver, area: tools

#4026 Fallback to non blob request if size too big or timeout in snapshot fetch call
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver

#4032 [main > 0.26] Fallback to non blob request if size too big or timeout in snapshot fetch call
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver

#4031 [main > 0.27] Fallback to non blob request if size too big or timeout in snapshot fetch call
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver

#4052 [release/0.26] Revert PR #4032 AKA commit 382586d in release/0.26.
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: hotpatch

#4061 [release/0.27] Revert PR #4031 AKA commit 90716bfd5 in 0.27
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: OCE, hotpatch

#4081 [release/0.26] Cherry-pick commit 7566df0 AKA PR #4075 into 0.26
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: hotpatch

#4051 [release/0.27] Stop prefetching when using ODSP driver.
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-definitions/src/storage.ts
Labels: OCE, hotpatch

#4083 [release/0.27] Cherry pick commit 7566df0 AKA PR#4075 into 0.27
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: OCE, hotpatch

#3785 Spo epoch versioning implementation
  BREAKING.md
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver

#4094 Fix timeout and size restrictions handling for snapshot in odsp driver
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#4103 Temporarily prevent ODSP snapshot failures by increasing limits.
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: OCE, hotpatch

#4104 Value in cache could be absent
  packages/drivers/odsp-driver/src/odspCache.ts
Labels: area: driver

#4111 Await for snapshot so that any error could be caught.
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#4113 Remove assert to check seq no should be 0
  packages/drivers/odsp-driver/src/createFile.ts
Labels: area: driver

#4123 Blobs should be 0 instead of undefined
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#4044 Enable custom file extensions in odsp driver
  BREAKING.md
  packages/drivers/odsp-driver/src/createFile.ts
  packages/tools/webpack-fluid-loader/src/odspUrlResolver.ts
Labels: area: driver, area: loader

#4149 Enable custom file extensions in odsp driver
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver

#4152 Odsp resolver code refactoring
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/graph.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
  packages/drivers/odsp-driver/src/tokenFetch.ts
Labels: area: driver, refactor

#4159 [main > 0.27]: ODSP driver code refactoring around sharing link
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/graph.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver2.ts
  packages/drivers/odsp-driver/src/tokenFetch.ts
Labels: area: driver, refactor

#4173 Add missing caret to dependencies in package.json of odsp-doclib-utils.
  packages/drivers/iframe-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: OCE

#4172 Add websocketDocID to error so that it gets logged in telemetry
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, telemetry

#4195 [release/0.28] Revert commit 88737d AKA PR #3903.
  packages/drivers/odsp-driver/src/createFile.ts
  packages/loader/container-loader/src/container.ts
  packages/test/end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: hotpatch

#4200 Update BREAKING.md to say ODSP status codes have moved.
  BREAKING.md
Labels: documentation
