Repository microsoft/FluidFramework, pull requests merged in 2020-09, with the labels that each got.

#3572 Container Rehydration from a snapshot taken from detached container.
  common/lib/common-utils/src/index.ts
  packages/dds/cell/src/cell.ts
  packages/dds/cell/src/cellFactory.ts
  packages/dds/counter/src/counter.ts
  packages/dds/ink/src/ink.ts
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/loader/container-definitions/src/loader.ts
  packages/loader/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/driver-utils/src/readAndParse.ts
  packages/loader/execution-context-loader/package.json
  packages/loader/execution-context-loader/src/webWorkerLoader.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/utils.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/utils.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: api, area: dds, area: loader, area: runtime, design-required, feature-request, testing

#3594 Fix build break in back compat tests.
  packages/test/end-to-end-tests/src/test/compatUtils.ts
Labels: back-compat, bug

#3602 Replace private registry URLs in lockfiles
  lerna-package-lock.json
  package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
Labels: area: contributor experience

#3599 Use lazy class for delay initialization of services in localchannelContext
  packages/runtime/datastore/src/localChannelContext.ts
Labels: suggestion

#3603 policy-check: Add checks and fixups for private registry URLs in lockfiles
  tools/build-tools/package-lock.json
  tools/build-tools/package.json
  tools/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  tools/build-tools/src/repoPolicyCheck/repoPolicyCheck.ts
Labels: area: dev experience

#3626 fix fluid debugger
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver

#3633 Fix fetch tool snapshot fetch problem.
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: tools

#3645 Fix container rehydration issues and add more E2E tests for them.
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/test/end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: dds

#3653 Add support for draft mode in webpack fluid loader in manual attach mode
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: tools, feature-request

#3663 Add isLocalDataStore Property on IFluildDataStoreContext
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: refactor

#3616 Use post multi part form request for trees latest call
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#3669 Allow setting autoreconnect before resuming processing of ops because it is just a policy.
  packages/loader/container-loader/src/container.ts
Labels: bug

#3670 Add E2E tests for proper serialization/rehydration of container.
  packages/test/end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: testing

#3676 Build and upload site as a build artifact
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: website

#3721 [main > release/0.24.x]: Add support for office.com urls and fix driver to get corrrect id for tree.
  packages/drivers/fluidapp-odsp-urlResolver/src/urlResolver.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: driver, area: tools, bug

#3744 [main > release/0.25.x]: Add support for office.com urls and fix driver to get corrrect id for tree.
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: driver, area: tools, bug

#3748 Fix failing artifact upload
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: build

#3774 [main > release/0.26.x]: Fix driver to get correct id for tree. (#3744)
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: driver

#3773 [main > release/0.26] Use post multi part form request for trees latest call
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#3769 Update tinylicious to eslint 7
  server/tinylicious/.eslintrc.js
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/routes/ordering/deltas.ts
  server/tinylicious/src/routes/storage/repository/contents.ts
  server/tinylicious/src/services/dbFactory.ts
  server/tinylicious/src/services/inMemorycollection.ts
  server/tinylicious/src/services/levelDb.ts
  server/tinylicious/src/services/levelDbCollection.ts
  server/tinylicious/tsconfig.json
Labels: area: dev experience
