Repository microsoft/FluidFramework, pull requests merged in 2021-10, with the labels that each got.

#7658 Update tinylicious dependency and fix *-client tests
  lerna-package-lock.json
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
Labels: area: framework, dependencies, area: test

#7625 Do not give SummaryWrite scope to clients that are not summarizers
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server

#7661 Restore foreward compat for container rehydration
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test

#7665 Update hugo version in CI
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: build

#7652 Make API rollup more correct and complete
  docs/README.md
  docs/api-documenter.json
  docs/package-lock.json
  docs/package.json
  docs/rollup-api-data.js
  docs/rollup-api-json.js
Labels: area: website

#7669 Add basic package documentation for external API packages
  api-report/azure-client.api.md
  api-report/azure-service-utils.api.md
  api-report/fluid-framework.api.md
  api-report/test-client-utils.api.md
  api-report/tinylicious-client.api.md
  packages/framework/azure-client/src/index.ts
  packages/framework/azure-service-utils/src/index.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/test-client-utils/src/index.ts
  packages/framework/tinylicious-client/src/index.ts
Labels: area: framework, public api change

#7634 Remove delta manager export
  BREAKING.md
  api-report/container-loader.api.md
  docs/PACKAGES.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
Labels: area: loader, breaking change, area: website, area: test, public api change

#7667 Update code owners for public API reports
  .github/CODEOWNERS
Labels: area: build

#7676 Metric to track connect doc
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server

#7643 fluid:telemetry:OdspDriver:DeltaConnection:GetOpsTooMany events in prod telemetry
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/opsCaching.ts
Labels: area: driver, area: odsp-driver

#7642 Proper workflow to allow full offline support in presence of cached snapshot.
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver

#7680 Test/scottn12
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/azure-client/src/test/AzureClientFactory.ts
  packages/framework/azure-client/src/test/AzureTokenFactory.ts
  packages/framework/azure-client/src/test/TestDataObject.ts
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service.yml
Labels: area: framework, area: build

#7675 Preventing Lumberjack from throwing errors
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-telemetry/src/test/lumber.spec.ts
  server/routerlicious/packages/services-telemetry/src/test/lumberjack.spec.ts
Labels: area: server

#7683 Expose some RdKafka specific functionality in IProducer & IConsumer interfaces
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/test-utils/src/testKafka.ts
Labels: area: server

#7653 Adding RunService metric and instrumenting rest of services-shared with Lumberjack
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-shared/src/socketIoRedisConnection.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

#7685 fix running e2e tests for release branches
  tools/pipelines/test-real-service.yml
Labels: area: build

#7686 Policy fix check
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver, release

#7687 Breaking change notes
  BREAKING.md
  server/BREAKING.md
Labels: area: server, breaking change

#7689 Update @fluidframework/gitresources package
  lerna-package-lock.json
  packages/dds/sequence/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/loader/driver-utils/package.json
Labels: area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: odsp-driver, release

#7670 Properly log websocket errors
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: driver, area: odsp-driver

#7702 make seperate template for azure frs pipeline
  tools/pipelines/templates/include-test-azure-frs.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build

#7620 Property DDS: Test discoverability (#7324)
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  experimental/PropertyDDS/services/property-query/test/unit/rebase.spec.js
  experimental/PropertyDDS/services/property-query/test/unit/shared/leaf_splitting_and_merging.spec.js
Labels: area: dds: propertydds

#7703 Update build-tools version
  lerna-package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#7705 Test/scottn12
  tools/pipelines/templates/include-test-azure-frs.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build

#7693 Properly log websocket errors (#7670)
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: driver, area: odsp-driver

#7696 Add lumberjack logs for scribe
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
Labels: area: server

#7723 Redirect /playground to homepage
  docs/content/_index.md
Labels: documentation

#7729 Fix detection of pre release deps in build pipeline
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build

#7730 Fix detection of pre release deps in build pipeline (#7729)
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build

#7733 Fix package order in which they are built
  package.json
  tools/pipelines/templates/build-docker-service.yml
Labels: area: build

#7734 Fix package order in which they are built (#7733)
  package.json
  tools/pipelines/templates/build-docker-service.yml
Labels: area: build

#7736 [bump] package version for protocol-definitions (patch)
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
Labels: release

#7568 Convert @fluid-experimental/property-properties to ES6
  experimental/PropertyDDS/packages/property-properties/src/containerSerializer.js
  experimental/PropertyDDS/packages/property-properties/src/index.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/abstractStaticCollectionProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/baseProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/boolProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/containerProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/enumArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/enumProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/floatProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/index.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/indexedCollectionBaseProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/intProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/lazyLoadedProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/mapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/namedNodeProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/namedProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/nodeProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/primitiveTypeCasts.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/setProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/stringProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/uintProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueProperty.js
  experimental/PropertyDDS/packages/property-properties/src/propertyFactory.js
  experimental/PropertyDDS/packages/property-properties/src/propertyTemplate.js
  experimental/PropertyDDS/packages/property-properties/src/propertyTemplateWrapper.js
  experimental/PropertyDDS/packages/property-properties/src/propertyUtils.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/arrayProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/namedNodeProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/nodeProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/referenceProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/relationshipProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/setProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/stringProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/uint64Property.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/valueMapProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/valueProperty.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/propertyFactory.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/propertyTemplateWrapper.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/propertyUtils.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/reversibleChangeset.spec.js
  experimental/PropertyDDS/packages/property-properties/src/test/utils.spec.js
Labels: area: dds: propertydds, community-contribution

#7741 r11s-driver: share snapshot and blob cache with summarizer
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/cache.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
Labels: area: driver, public api change

#7746 Update build tools deps
  lerna-package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#8058 Remove deprecated stop() from ContainerRuntime
  api-report/container-runtime.api.md
  examples/hosts/iframe-host/src/inframehost.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: examples, area: runtime, public api change

#7811 send op when joining with pending/stashed ops
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test, public api change

#8062 Direct people to GitHub Discussions for community participation
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/assets/css/fluid.css
  docs/config.yml
  docs/content/community/_index.md
  docs/content/docs/data-structures/map.md
  docs/content/docs/faq.md
  docs/static/images/Beaker.svg
  docs/static/images/GitHub-Mark.svg
  docs/static/images/Lightbulb.svg
  docs/static/images/Octocat.png
  docs/static/images/PlayCircle.svg
  docs/static/images/network.svg
  docs/static/images/placeholder.svg
  docs/static/images/so-icon.svg
  docs/static/images/so-logo.svg
  docs/static/images/start.svg
  docs/static/images/tslogo.svg
  docs/themes/thxvscode/assets/scss/includes/_carousel.scss
  docs/themes/thxvscode/assets/scss/includes/_cookie_header.scss
  docs/themes/thxvscode/assets/scss/includes/_docs.scss
  docs/themes/thxvscode/assets/scss/includes/_home.scss
  docs/themes/thxvscode/assets/scss/includes/_jumbotron.scss
  docs/themes/thxvscode/assets/scss/style.scss
  docs/themes/thxvscode/layouts/partials/connect.html
  server/routerlicious/README.md
Labels: documentation, area: server, area: website
