Repository microsoft/FluidFramework, pull requests merged in 2021-07, with the labels that each got.

#6599 Strip query string from error response object
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/test/dataStoreHelpers.spec.ts
Labels: area: runtime

#6607 r11s-driver: stop calling token provider on every delta retrieval
  BREAKING.md
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver, breaking change

#6542 Remove global AgentScheduler opt-in flag
  BREAKING.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/local-server-tests/package.json
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/leader.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: dds, area: runtime, area: test, breaking change

#6612 r11s: properly read riddler 401s in alfred
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server

#6460 Add Moira lambda
  experimental/PropertyDDS/services/property-query/README.md
  experimental/PropertyDDS/services/property-query/docs/architecture.md
  experimental/PropertyDDS/services/property-query/docs/images/moira_data_structure.png
  experimental/PropertyDDS/services/property-query/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/index.ts
  server/routerlicious/packages/lambdas/src/moira/README.md
  server/routerlicious/packages/lambdas/src/moira/index.ts
  server/routerlicious/packages/lambdas/src/moira/lambda.ts
  server/routerlicious/packages/lambdas/src/moira/lambdaFactory.ts
  server/routerlicious/packages/local-server/src/localOrdererManager.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/tinylicious/config.json
Labels: area: dds: propertydds, area: server, community-contribution

#6617 Increase maxSummarizeAckWaitTime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime

#6621 new ITestLoaderOptions interface to pass in logger
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: test

#6595 Update node version and python version
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
Labels: area: server

#6569 ODSP Test Driver: Fallback to browser auth when local
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/utils.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: test

#6624 Remove duplicate dep and devDep in tinylicious-client
  experimental/framework/tinylicious-client/package.json
Labels: area: dev experience

#6622 Remove progress-bars and image-collection examples
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/image-collection/.eslintrc.js
  examples/data-objects/image-collection/.gitignore
  examples/data-objects/image-collection/.npmignore
  examples/data-objects/image-collection/LICENSE
  examples/data-objects/image-collection/README.md
  examples/data-objects/image-collection/package.json
  examples/data-objects/image-collection/src/images.ts
  examples/data-objects/image-collection/src/index.ts
  examples/data-objects/image-collection/tsconfig.esnext.json
  examples/data-objects/image-collection/tsconfig.json
  examples/data-objects/image-collection/webpack.config.js
  examples/data-objects/image-collection/webpack.dev.js
  examples/data-objects/image-collection/webpack.prod.js
  examples/data-objects/progress-bars/.eslintrc.js
  examples/data-objects/progress-bars/.gitignore
  examples/data-objects/progress-bars/.npmignore
  examples/data-objects/progress-bars/LICENSE
  examples/data-objects/progress-bars/README.md
  examples/data-objects/progress-bars/package.json
  examples/data-objects/progress-bars/src/index.ts
  examples/data-objects/progress-bars/src/progressBars.ts
  examples/data-objects/progress-bars/tsconfig.esnext.json
  examples/data-objects/progress-bars/tsconfig.json
  examples/data-objects/progress-bars/webpack.config.js
  examples/data-objects/progress-bars/webpack.dev.js
  examples/data-objects/progress-bars/webpack.prod.js
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/index.ts
Labels: area: examples

#6563 counting dataStore and log counts in containerRuntime, added tests
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts.ts
Labels: area: runtime, area: test

#6625 Fix tsconfig exclude in frs-client and tinylicious-client
  experimental/framework/frs-client/package.json
  experimental/framework/frs-client/tsconfig.json
  experimental/framework/tinylicious-client/tsconfig.json
Labels: area: dev experience

#6604 Remove `existing` property - Part 4, IRuntimeFactory + RuntimeFactoryHelper
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/runtimeFactoryHelper.ts
  packages/runtime/runtime-utils/src/test/runtimeFactoryHelper.spec.ts
Labels: area: runtime

#6627 Update glob-parent and ws dep version for security warning
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  lerna-package-lock.json
  server/gateway/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/tinylicious/package-lock.json
  tools/generator-fluid/package-lock.json
Labels: area: server, area: tools, dependencies

#6502 PropertyDDS general bugs fixes and performance improvements
  experimental/PropertyDDS/packages/property-changeset/src/rebase.js
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/prune.spec.ts
  experimental/PropertyDDS/packages/property-properties/src/index.js
  experimental/PropertyDDS/packages/property-properties/src/properties/array_property.js
  server/tinylicious/config.json
Labels: area: dds: propertydds, area: server, community-contribution

#6632 Making property inspector app resizable using AutoSizer
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/examples/property-inspector/src/index.html
  experimental/PropertyDDS/examples/property-inspector/src/inspector.tsx
Labels: area: dds: propertydds, community-contribution

#6614 Update README.md for tinylicious-client with the refactoring for TinyliciousResources
  experimental/framework/tinylicious-client/README.md
Labels: area: dev experience

#6636 GetKeys: Exlude Automation Secrets
  tools/getkeys/index.js
Labels: area: tools

#6633 Update lerna to 4.0
  lerna-package-lock.json
  package-lock.json
  package.json
  server/gitrest/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, dependencies

#6641 Export the RuntimeFactoryHelper class
  packages/runtime/runtime-utils/src/index.ts
Labels: area: runtime

#6635 Decouple reconnect/delay errors from ICriticalContainerError
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: loader, area: odsp-driver, breaking change

#6642 Count number of dataStores and referenced dataStores during load, added new telemetry event
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: runtime, area: test

#6638 Cherry-pick #6604 from main. IRuntimeFactory signature change
  packages/loader/container-definitions/src/runtime.ts
Labels: area: loader

#6639 Deprecate IErrorBase.sequenceNumber
  common/lib/common-definitions/BREAKING.md
  common/lib/container-definitions/BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/error.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: loader, area: runtime

#6646 Fix missing tsd dep in lock file
  lerna-package-lock.json
Labels: dependencies

#6647 Update locks for build tools
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/routerlicious/src/tools/packageAnalysis.ts
  tools/build-tools/package-lock.json
  tools/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
Labels: area: server, area: tools

#6634 Improve diagram descriptions in alt-text.
  docs/content/docs/concepts/architecture.md
  docs/content/docs/concepts/hosts.md
Labels: documentation

#6650 Put redeem fallback behind a feature flag
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: odsp-driver, area: test, breaking change

#6653 fix inconsistent version for dds/sequence
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6652 [main > 0.42]: Put redeem fallback behind a feature flag (#6650)
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: odsp-driver, area: test, breaking change

#6655 driver-definitions change to allow createContainer() with undefined summary
  packages/loader/driver-definitions/src/storage.ts
Labels: area: loader

#6588 Add support for local development with FrsClient
  BREAKING.md
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/view.ts
  experimental/framework/frs-client/README.md
  experimental/framework/frs-client/src/FrsClient.ts
  experimental/framework/frs-client/src/index.ts
  experimental/framework/frs-client/src/interfaces.ts
Labels: area: dev experience, area: examples, breaking change

#6554 Add a more complex Audience example in fluid-static
  examples/data-objects/focus-tracker/.eslintrc.js
  examples/data-objects/focus-tracker/.gitignore
  examples/data-objects/focus-tracker/.npmignore
  examples/data-objects/focus-tracker/LICENSE
  examples/data-objects/focus-tracker/README.md
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  examples/data-objects/focus-tracker/src/index.html
  examples/data-objects/focus-tracker/src/index.ts
  examples/data-objects/focus-tracker/tsconfig.esnext.json
  examples/data-objects/focus-tracker/tsconfig.json
  examples/data-objects/focus-tracker/webpack.config.js
  examples/data-objects/focus-tracker/webpack.dev.js
  examples/data-objects/focus-tracker/webpack.prod.js
  experimental/framework/fluid-static/src/serviceAudience.ts
  experimental/framework/fluid-static/src/types.ts
  experimental/framework/frs-client/src/FrsAudience.ts
  experimental/framework/tinylicious-client/src/TinyliciousAudience.ts
Labels: area: dev experience, area: examples

#6658 Align dependency version of focus-tracker to fix build break
  examples/data-objects/focus-tracker/package.json
Labels: area: examples

#6577 Add telemetry markdown file
  docs/content/start/telemetry.md
  docs/static/images/consoleLogger_telemetry_in_action.png
Labels: area: website, documentation

#6637 Real Svc Test Pipeline: Split Stress and E2E
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: tools

#6661 Delete consoleLogger_telemetry_in_action.png
  docs/static/images/consoleLogger_telemetry_in_action.png
Labels: area: website

#6662 fix inconsistent version for dds/sequence
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6663 Port fix for isolated channels while rehydrating detached bug
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
Labels: area: runtime, area: test

#6665 Add some error hex codes
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime

#6666 Add some error hex codes port from main
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime

#6668 remove extra dev dep
  experimental/framework/tinylicious-client/package.json
Labels: area: dev experience

#6671 Add validation of odsp snapshot response for trees and blobs
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#6675 Restore details to socket.io error message
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
Labels: area: driver, area: odsp-driver

#6680 [main -> release/0.42] Restore details to socket.io error message
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
Labels: area: driver, area: odsp-driver

#6681 Remove prelease dependencies on release packages
  examples/hosts/app-integration/external-controller/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: dds, area: dds: propertydds, area: dds: sharedstring, area: dev experience, area: driver, area: examples, area: loader, area: odsp-driver, area: runtime, area: server, area: test, dependencies

#6682 fix shortcodes before 0.43 release
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#6683 bumped focus tracker to correct version
  examples/data-objects/focus-tracker/package.json
Labels: area: examples

#6407 Add a unique ID to Interval properties, allow multiple intervals with the same (start, end)
  packages/dds/merge-tree/src/collections.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test

#6693 Skip Tests to fix break
  lerna-package-lock.json
  package-lock.json
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: test, dependencies

#6657 add data-modeling docs
  docs/content/docs/build/ai.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/auth.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/data-object.md
  docs/content/docs/build/overview.md
  docs/content/docs/glossary.md
  docs/content/docs/recipes/auth.md
Labels: documentation

#6673 Event improvements and refactoring for ServiceAudience
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  experimental/framework/fluid-static/src/serviceAudience.ts
  experimental/framework/fluid-static/src/types.ts
  experimental/framework/frs-client/src/FrsAudience.ts
  experimental/framework/tinylicious-client/src/TinyliciousAudience.ts
Labels: area: dev experience, area: examples

#6628 Remove IFluidHTMLView usage from clicker example
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/src/index.tsx
  examples/data-objects/simple-fluidobject-embed/package.json
  examples/data-objects/simple-fluidobject-embed/src/index.tsx
  examples/data-objects/simple-fluidobject-embed/tsconfig.json
  examples/data-objects/todo/src/TodoItem/TodoItem.tsx
  examples/data-objects/todo/src/TodoItem/TodoItemDetailsView.tsx
  examples/data-objects/todo/src/TodoItem/supportedComponent.ts
Labels: area: examples

#6335 Change elected summarizer when not summarizing for too long
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: test

#6696 Fix and re-enable interval tests
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: test

#6708 Update labeler config for GitHub action
  .github/labeler.yml
Labels: area: build

#6667 Remove existing property - Part 5, ContainerRuntime, examples
  BREAKING.md
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/key-value-cache/src/index.ts
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/scribe/package.json
  examples/data-objects/scribe/src/scribe.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/smde/package.json
  examples/data-objects/smde/src/index.ts
  examples/hosts/iframe-host/package.json
  examples/hosts/iframe-host/src/inframehost.ts
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/data-object-base/src/runtimeFactory.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/client-api/src/api/codeLoader.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: examples, area: framework, area: loader, area: runtime, area: test, breaking change

#6703 update driver-definitions dependency
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  experimental/framework/tinylicious-client/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/hosts/base-host/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/execution-context-loader/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/client-api/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: dds: propertydds, area: dev experience, area: driver, area: examples, area: host, area: loader, area: odsp-driver, area: runtime, area: test, dependencies

#6645 Update tutorial.md
  docs/content/docs/start/tutorial.md
Labels: community-contribution, documentation

#6630 ODSP changes for attach() with blobs
  BREAKING.md
  api-report/container-loader.api.md
  api-report/odsp-driver.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loader.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: definitions, area: driver, area: loader, area: odsp-driver, area: runtime, area: test, breaking change

#6712 Just Fixing documentation URLs in README files
  docs/content/docs/glossary.md
  packages/dds/cell/README.md
  packages/dds/counter/README.md
  packages/dds/ink/README.md
Labels: documentation

#6710 Enable TSDoc builds for some new packages
  experimental/framework/fluid-framework/package.json
  experimental/framework/fluid-static/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/tinylicious-client/package.json
Labels: area: dev experience

#6707 Revert package-lock to version 1 in tinylicious
  server/tinylicious/package-lock.json
Labels: area: server

#6546 Use @typeParam in TSDocs
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: framework

#6716 Port 0.39 diffs to main
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, breaking change

#6704 CanRetry should be set on outermost error in trees latest
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver, bug

#6711 Minor readme issues
  examples/data-objects/focus-tracker/README.md
  packages/framework/aqueduct/README.md
Labels: area: examples, area: framework

#6718 Remove branch property from ContainerContext
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
Labels: area: loader

#6723 Include common/lib packages in docs build inputs
  tools/pipelines/build-docs-latest.yml
  tools/pipelines/templates/build-docs-steps.yml
Labels: area: tools

#6724 Update github labeler config
  .github/labeler.yml
Labels: area: build

#6725 Add inputs to pipelines missed in 6248c808
  tools/pipelines/build-docs-n1.yml
  tools/pipelines/build-docs-release.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build

#6547 Add sample for code upgrade
  examples/hosts/hosts-sample/README.md
  examples/hosts/hosts-sample/images/code-details.png
  examples/hosts/hosts-sample/images/home-page.png
  examples/hosts/hosts-sample/images/major-upgrade.gif
  examples/hosts/hosts-sample/index.html
  examples/hosts/hosts-sample/package.json
  examples/hosts/hosts-sample/src/app.ts
  examples/hosts/hosts-sample/src/codeDetailsLoader.ts
  examples/hosts/hosts-sample/src/codeDetailsView.ts
  examples/hosts/hosts-sample/src/fauxComponent.ts
  examples/hosts/hosts-sample/src/index.ts
  examples/hosts/hosts-sample/src/utils.ts
  examples/hosts/hosts-sample/webpack.config.js
  lerna-package-lock.json
Labels: area: examples, dependencies

#6719 Remove unused 'sanitize-html' dependency
  experimental/PropertyDDS/services/property-query/package.json
  lerna-package-lock.json
Labels: area: dds: propertydds, dependencies

#6629 Add delays between summarize retries
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime

#6731 Update quick start to 0.43 and FrsClient
  docs/content/docs/start/quick-start.md
Labels: documentation

#6659 Add a signal manager class for fluid-static to help with signal usages
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  experimental/framework/fluid-static/src/index.ts
  experimental/framework/fluid-static/src/signalManager.ts
Labels: area: dev experience, area: examples

#6730 Split IQuorum interface into client members vs proposal interfaces
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/consensus.ts
Labels: breaking change

#6697 Make the interval ID immutable
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring

#6738 Update lock file for security warning with `ws` and `trim-newlines` dependencies
  common/lib/common-utils/package-lock.json
  lerna-package-lock.json
  package-lock.json
  server/gateway/package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/tinylicious/package-lock.json
Labels: area: server, dependencies

#6739 Deprecate IFluidObjectCollection and remove remaining usage
  examples/data-objects/math/package.json
  examples/data-objects/math/src/mathComponent.ts
  examples/data-objects/vltava/package.json
  examples/utils/fluid-object-interfaces/src/collection.ts
Labels: area: examples

#6734 example-utils package with runtime factory to help replace IFluidHTMLView, and convert clicker/badge to use it
  examples/data-objects/badge/package.json
  examples/data-objects/badge/src/BadgeModel.tsx
  examples/data-objects/badge/src/index.ts
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/src/index.tsx
  examples/utils/example-utils/.eslintrc.js
  examples/utils/example-utils/.gitignore
  examples/utils/example-utils/.npmignore
  examples/utils/example-utils/LICENSE
  examples/utils/example-utils/README.md
  examples/utils/example-utils/api-extractor.json
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/tsconfig.esnext.json
  examples/utils/example-utils/tsconfig.json
Labels: area: examples

#6721 Introduce annotateError function for adding telemetry props to an arbitrary error object
  api-report/container-utils.api.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/container-utils/src/test/errorTypeLoggingTest.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/logger.spec.ts
Labels: area: driver, area: loader, area: odsp-driver, area: test, breaking change

#6735 Convert CRA demo and Readme to 0.44
  examples/apps/cra-demo/README.md
  examples/apps/cra-demo/package.json
  examples/apps/cra-demo/src/App.js
Labels: area: examples

#6745 Publish task-manager and property-dds docs
  docs/data/packages.yaml
Labels: area: website

#6753 Clean up unused code to get rid of `shape-detector` dependency from `client-ui-lib`
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/controls/canvasCommon.ts
  examples/data-objects/client-ui-lib/src/controls/index.ts
  examples/data-objects/client-ui-lib/src/controls/shapeRecognizer.ts
  examples/data-objects/client-ui-lib/src/controls/shapes/circle.ts
  examples/data-objects/client-ui-lib/src/controls/shapes/index.ts
  examples/data-objects/client-ui-lib/src/controls/shapes/polygon.ts
  examples/data-objects/client-ui-lib/src/controls/shapes/shape.ts
  lerna-package-lock.json
Labels: area: examples, dependencies

#6740 [Property Proxy Typescript Migration 1/3] adjust formatting for files
  experimental/PropertyDDS/packages/property-proxy/src/arrayProxyHandler.js
  experimental/PropertyDDS/packages/property-proxy/src/componentArray.js
  experimental/PropertyDDS/packages/property-proxy/src/componentMap.js
  experimental/PropertyDDS/packages/property-proxy/src/componentSet.js
  experimental/PropertyDDS/packages/property-proxy/src/errors.js
  experimental/PropertyDDS/packages/property-proxy/src/propertyProxy.js
  experimental/PropertyDDS/packages/property-proxy/src/proxyHandler.js
  experimental/PropertyDDS/packages/property-proxy/src/test/propertyProxy.spec.js
  experimental/PropertyDDS/packages/property-proxy/src/test/proxify.spec.js
  experimental/PropertyDDS/packages/property-proxy/src/test/testSchemas.js
  experimental/PropertyDDS/packages/property-proxy/src/utilities.js
Labels: area: dds: propertydds, community-contribution

#6619 r11s-driver: rate limit requests to service
  api-report/driver-utils.api.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/rateLimiter.ts
  packages/loader/driver-utils/src/test/rateLimiter.spec.ts
Labels: area: driver, area: loader, area: odsp-driver, breaking change

#6759 Include PropertyDDS in the TSDoc CI/CD pipeline
  experimental/PropertyDDS/packages/property-dds/package.json
Labels: area: dds: propertydds

#6743 Rev 'build-tools'
  .devcontainer/.zshrc
  lerna-package-lock.json
  package-lock.json
  package.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, dependencies

#6768 Move most error logging code to a new file in telemetry-utils
  packages/loader/container-utils/src/error.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: loader

#6767 Rev 'Historian' package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
Labels: area: server

#6766 XTree: Init stub for converged tree DDS
  experimental/dds/xtree/.eslintrc.js
  experimental/dds/xtree/.gitignore
  experimental/dds/xtree/.npmignore
  experimental/dds/xtree/LICENSE
  experimental/dds/xtree/README.md
  experimental/dds/xtree/api-extractor.json
  experimental/dds/xtree/package.json
  experimental/dds/xtree/src/debug.ts
  experimental/dds/xtree/src/index.ts
  experimental/dds/xtree/src/packageVersion.ts
  experimental/dds/xtree/src/runtime.ts
  experimental/dds/xtree/src/test/tree.spec.ts
  experimental/dds/xtree/src/test/tsconfig.json
  experimental/dds/xtree/src/tree.ts
  experimental/dds/xtree/tsconfig.esnext.json
  experimental/dds/xtree/tsconfig.json
Labels: area: dds

#6770 Contact collection example
  examples/apps/contact-collection/.editorconfig
  examples/apps/contact-collection/.eslintrc.js
  examples/apps/contact-collection/.gitignore
  examples/apps/contact-collection/.npmignore
  examples/apps/contact-collection/LICENSE
  examples/apps/contact-collection/README.md
  examples/apps/contact-collection/jest-puppeteer.config.js
  examples/apps/contact-collection/jest.config.js
  examples/apps/contact-collection/package.json
  examples/apps/contact-collection/src/app.ts
  examples/apps/contact-collection/src/containerCode.ts
  examples/apps/contact-collection/src/dataObject.ts
  examples/apps/contact-collection/src/index.html
  examples/apps/contact-collection/src/view.ts
  examples/apps/contact-collection/tests/contactCollection.test.ts
  examples/apps/contact-collection/tests/index.html
  examples/apps/contact-collection/tests/index.ts
  examples/apps/contact-collection/tsconfig.esnext.json
  examples/apps/contact-collection/tsconfig.json
  examples/apps/contact-collection/webpack.config.js
  examples/apps/contact-collection/webpack.dev.js
  examples/apps/contact-collection/webpack.prod.js
  examples/apps/contact-collection/webpack.test.js
Labels: area: examples

#6691 Fix crash in server tests on windows
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/tryImport.ts
Labels: area: server

#6774 Fix cell e2e test stability targeting real service
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
Labels: area: test

#6751 Add taggedLogger to container-definitions
  common/lib/common-definitions/api-report/common-definitions.api.md
  common/lib/common-definitions/src/logger.ts
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
Labels: area: definitions, breaking change

#6672 caching converted summary during createNewFluidFile; and unit test
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: odsp-driver, area: test, breaking change

#6787 TaskManager should build docs
  packages/dds/task-manager/package.json
Labels: area: dds

#6789 ICM: usage of aggregate blobs results in failed doc on open
  packages/loader/driver-utils/src/blobAggregationStorage.ts
Labels: area: loader

#6791 chore: convert @fluid-experimental/property-common to TS [ 1 / 3 ]
  experimental/PropertyDDS/packages/property-common/platform-dependent/browser.js
  experimental/PropertyDDS/packages/property-common/platform-dependent/server.js
  experimental/PropertyDDS/packages/property-common/src/chronometer.js
  experimental/PropertyDDS/packages/property-common/src/console_utils.js
  experimental/PropertyDDS/packages/property-common/src/constants.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/collection.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/data_array.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/index.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/integer64.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/sorted_collection.js
  experimental/PropertyDDS/packages/property-common/src/deferred_promise.js
  experimental/PropertyDDS/packages/property-common/src/deterministic_random_generator.js
  experimental/PropertyDDS/packages/property-common/src/error_objects/flagged_error.js
  experimental/PropertyDDS/packages/property-common/src/error_objects/http_error.js
  experimental/PropertyDDS/packages/property-common/src/error_objects/http_error_no_stack.js
  experimental/PropertyDDS/packages/property-common/src/error_objects/operation_error.js
  experimental/PropertyDDS/packages/property-common/src/events.js
  experimental/PropertyDDS/packages/property-common/src/guid_utils.js
  experimental/PropertyDDS/packages/property-common/src/hash_calculator.js
  experimental/PropertyDDS/packages/property-common/src/index.d.ts
  experimental/PropertyDDS/packages/property-common/src/index.js
  experimental/PropertyDDS/packages/property-common/src/strings/index.js
  experimental/PropertyDDS/packages/property-common/src/strings/join_paths.js
  experimental/PropertyDDS/packages/property-common/src/strings/repeat_string.js
  experimental/PropertyDDS/packages/property-common/test/chronometer.spec.js
  experimental/PropertyDDS/packages/property-common/test/datastructures/collection.spec.js
  experimental/PropertyDDS/packages/property-common/test/datastructures/data_array.spec.js
  experimental/PropertyDDS/packages/property-common/test/datastructures/sorted_collection.spec.js
  experimental/PropertyDDS/packages/property-common/test/deterministic_random_generator.spec.js
  experimental/PropertyDDS/packages/property-common/test/error_objects/flagged_error.spec.js
  experimental/PropertyDDS/packages/property-common/test/error_objects/http_error.spec.js
  experimental/PropertyDDS/packages/property-common/test/error_objects/http_error_no_stack.spec.js
  experimental/PropertyDDS/packages/property-common/test/error_objects/operation_error.spec.js
  experimental/PropertyDDS/packages/property-common/test/events.spec.js
  experimental/PropertyDDS/packages/property-common/test/guid_utils.spec.js
  experimental/PropertyDDS/packages/property-common/test/setup.js
  experimental/PropertyDDS/packages/property-common/test/strings/join_paths.spec.js
Labels: area: dds: propertydds, community-contribution

#6793 ICM: usage of aggregate blobs results in failed doc on open
  packages/loader/driver-utils/src/blobAggregationStorage.ts
Labels: area: loader

#6792 ICM: usage of aggregate blobs results in failed doc on open
  packages/loader/driver-utils/src/blobAggregationStorage.ts
Labels: area: loader

#6782 Fix consensus dds e2e test stability targeting real service
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusRegisterCollectionEndToEndTests.spec.ts
Labels: area: test

#6783 Refactor generateSummary return types and split out summarizer types to separate file
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

#6785 Disposable pending state manager
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: runtime, area: test

#6334 API review: SharedCounter
  api-report/counter.api.md
  packages/dds/counter/api-extractor.json
  packages/dds/counter/src/counter.ts
  packages/dds/counter/src/index.ts
  packages/dds/counter/src/interfaces.ts
Labels: area: dds, breaking change

#6779 Fix map/directory e2e test stability targeting real service
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: test

#6788 Split out part of RunningSummarizer into SummaryGenerator
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

#6737 Roll up fluid-framework docs from child packages
  docs/README.md
  docs/api-documenter.json
  docs/data/packages.yaml
  docs/package.json
  package.json
  rollup-api-json.js
Labels: area: website

#6805 The idleTimer is not benefitting from restart
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

#6778 Additional op and wait tracing in tests
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: test

#6802 Remove test prefix to documentId in r11s test driver
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: test

#6804 Add retryAfter handling in summary retries
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

#6795 Remove usages of readAndParseBlobs from sync constructors methods
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

#6810 Refactor SegmentPropertiesManager for reuse
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
Labels: area: dds

#6698 Add TokenProvider implementation for client to request the token from the Azure Function
  examples/hosts/app-integration/external-controller/README.md
  examples/hosts/app-integration/external-controller/src/app.ts
  experimental/framework/frs-client/README.md
  experimental/framework/frs-client/package.json
  experimental/framework/frs-client/src/FrsAzFunctionTokenProvider.ts
  experimental/framework/frs-client/src/index.ts
Labels: area: dev experience, area: examples

#6817 Prrajen/add deli metricss
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

#6777 Add the doc on user presence and audience
  docs/content/docs/build/audience.md
Labels: documentation

#6797 Add signal manager data object for fluid static
  examples/data-objects/focus-tracker/README.md
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  examples/data-objects/focus-tracker/src/index.ts
  experimental/framework/fluid-static/src/signalManager.ts
Labels: area: dev experience, area: examples

#6827 test
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server

#6776 Remove math component
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/text/paragraph.ts
  examples/data-objects/math/.editorconfig
  examples/data-objects/math/.eslintrc.js
  examples/data-objects/math/.gitignore
  examples/data-objects/math/.npmignore
  examples/data-objects/math/LICENSE
  examples/data-objects/math/README.md
  examples/data-objects/math/package.json
  examples/data-objects/math/src/characterCodes.ts
  examples/data-objects/math/src/debug.ts
  examples/data-objects/math/src/index.css
  examples/data-objects/math/src/index.css.d.ts
  examples/data-objects/math/src/mathComponent.ts
  examples/data-objects/math/src/mathExpr.ts
  examples/data-objects/math/src/test/testFarm.ts
  examples/data-objects/math/src/test/tsconfig.json
  examples/data-objects/math/src/view.ts
  examples/data-objects/math/tsconfig.esnext.json
  examples/data-objects/math/tsconfig.json
  examples/data-objects/math/webpack.config.js
  examples/data-objects/math/webpack.dev.js
  examples/data-objects/math/webpack.prod.js
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/index.ts
  lerna-package-lock.json
Labels: area: examples, dependencies

#5501 Remove loader prop at data store level
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime

#6726 Validate connection mode in driver layer rather than DeltaManager
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: driver, area: loader

#6834 Add breaking note for Loader API removal (following earlier deprecation warning)
  BREAKING.md
Labels: breaking change

#6736 Add FrsClient documentation to FF.com
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

#6830 Improve documentation of telemetry tags
  BREAKING.md
  UPCOMING.md
  common/lib/common-definitions/BREAKING.md
  common/lib/container-definitions/BREAKING.md
  docs/content/docs/testing/telemetry.md
Labels: area: definitions, breaking change, documentation

#6798 On demand summarize
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

#6843 Hedasilv/adding whole summary upload api to historian
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server

#6845 throw error in protocol handler upon exception
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server

#6815 Rename generateSummary to submitSummary
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
Labels: area: runtime, area: test

#6760 [backport] Add taggedLogger to container-definitions on 0.39
  packages/loader/container-definitions/src/runtime.ts
Labels: area: loader

#6847 Remove deprecated getSummarizer
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
Labels: area: runtime

#6844 Correct notes on audience and ops relationship in audience.md
  docs/content/docs/build/audience.md
Labels: documentation

#6839 [0.39 release] Mark IErrorBase.sequenceNumber as deprecated
  packages/loader/container-definitions/src/UPCOMING.md
  packages/loader/container-definitions/src/error.ts
Labels: area: loader

#6831 [0.39 release] Deprecate supports tags in common-definition 0.20.x
  BREAKING.md
  common/lib/common-definitions/BREAKING.md
  common/lib/common-definitions/UPCOMING.md
  common/lib/common-definitions/src/logger.ts
Labels: area: build, area: dds: propertydds, area: dev experience, area: odsp-driver, breaking change, dependencies

#6837 Fixed: loader.request not passing headers to the container
  packages/loader/container-loader/src/loader.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
Labels: area: loader, area: test

#6820 Adding WholeSummary upload API in Historian
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server

#6853 Fix inconsistent version dependency runtime-definitions
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6852 Add assert short codes before release
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: driver, area: loader, area: odsp-driver, area: runtime, area: test, release

#6836 Upgrade socket.io in R11s from v2 to v4
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/redisSocketIoAdapter.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/socketIoRedisPublisher.ts
Labels: area: server

#6841 Add ability to disable summarizer heuristics
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: test

#6835 end-to-end test for caching createNewSummary
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
Labels: area: driver, area: odsp-driver, area: test

#6816 Remove readAndParseFromBlobs api as no longer needed
  api-report/driver-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-utils/src/readAndParse.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
Labels: area: loader, area: runtime, breaking change

#6840 Improve SummaryManager encapsulation
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#6846 throw error in protocol handler upon exception
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server

#6862 Hotfix: Marking document as corrupted if lambda factory throws exception
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server

#6859 Add docs on auth
  docs/_includes/frs-onboarding.html
  docs/content/docs/build/auth.md
  docs/content/docs/deployment/azure-frs.md
  docs/layouts/shortcodes/unwritten-section.html
Labels: area: website, documentation

#6866 Lint for banned words in docs
  docs/.markdownlint-cli2.js
  docs/content/docs/build/auth.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/start/quick-start.md
Labels: documentation

#6842 New new react tutorial
  docs/content/docs/start/react-tutorial.md
  docs/content/docs/start/tutorial.md
Labels: documentation
