Repository microsoft/FluidFramework, pull requests merged in 2021-05, with the labels that each got.

#5968 Prefetch snapshot so as to avoid network call from critical path.
  api-report/odsp-driver.api.md
  examples/utils/bundle-size-tests/src/odspPrefetchSnapshot.ts
  examples/utils/bundle-size-tests/webpack.config.js
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/multiDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/odspPersistantCache.ts
Labels: api, area: driver

#6024 rater limiter bug / 0.39
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: hotpatch

#6029 Remove code for blob deduping from odsp driver
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/test/odspSummaryUploadManagerTests.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver

#6044 Fix inconsistent version of container-definitions
  experimental/dds/tree/package.json
Labels: msft: oce

#6047 Use path.join in bumpVersion/utils
  tools/build-tools/src/bumpVersion/utils.ts
Labels: msft: oce

#6048 Update root package.json to use new build-tools version.
  lerna-package-lock.json
  package-lock.json
  package.json
Labels: msft: oce

#6055 Add note about bump-version needing an HTTPS git ref
  tools/build-tools/README.md
Labels: documentation

#6090 Close container on critical error during attach
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#6120 Make error handling/token refresh better in trees latest
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
Labels: area: driver

#6119 Fix build break due to incorrect lockfile
  lerna-package-lock.json
Labels: area: build

#6130 Fix @fluid-experimental/tree dep
  experimental/dds/tree/package.json
Labels: msft: oce

#6138 Add/remove test for detached container attach
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: testing

#6143 [release/0.39] Remove extra container-definitions dep from experimental/dds/tree
  experimental/dds/tree/package.json
Labels: msft: oce

#6144 [main] Remove extra container-definitions dep from experimental/dds/tree
  experimental/dds/tree/package.json
Labels: msft: oce

#6148 Remove lodash dep in odsp driver
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver

#6142 ODSP: Sharing link redemption fall back during trees/latest call
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver

#6194 Fix redeem fallback
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver

#6219 No data corruption on Noops
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#6222 [main > 0.39]: No data corruption on noops (#6219)
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#6166 Serializer: Add 'decode()'
  packages/runtime/runtime-utils/src/serializer.ts
  packages/runtime/runtime-utils/src/test/serializer.spec.ts
Labels: area: runtime

#6235 Custom implementation of getting GC data for Sequence and SharedMatrix.
  packages/dds/matrix/package.json
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/src/index.ts
  packages/dds/shared-object-base/src/sharedObject.ts
Labels: area: dds, area: dds: sharedstring

#6254 policy-check fixes for 0.40 release
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/loader/container-loader/src/container.ts
Labels: area: driver, area: loader

#6252 Return the GC data generated by getGCData in summarize
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInSummarizer.spec.ts
Labels: area: dds, area: runtime, area: test

#6243 Add a prosaic introduction to distributed data structures
  docs/config.yml
  docs/content/docs/data-structures/_index.md
  docs/content/docs/data-structures/keyvalue-ddses.md
  docs/content/docs/data-structures/overview.md
Labels: area: website, documentation

#6262 Publish draft "anatomy of a DDS" doc
  docs/_includes/draft-doc.md
  docs/content/docs/advanced/compatibility.md
  docs/content/docs/advanced/dds-anatomy.md
  docs/content/docs/advanced/doc-system.md
  docs/content/docs/advanced/feature-detection-iprovide.md
  docs/content/docs/advanced/grouped-ops.md
  docs/content/docs/advanced/handles.md
  docs/content/docs/advanced/kvp-dataobject.md
  docs/content/docs/advanced/signals.md
  docs/content/docs/advanced/summarizer.md
  docs/content/docs/advanced/tob.md
  docs/content/docs/advanced/visual-dataobject.md
Labels: area: website, documentation

#6266 Fix heading levels in handles doc
  docs/content/docs/advanced/handles.md
Labels: documentation

#6259 Add telemetry to forceReadonly
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#6271 [0.40 port] Add telemetry to forceReadonly (#6259)
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#6275 Clear quorum values cache when committing a proposal
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

#6277 [main > 0.40]: Clear quorum values cache when committing a proposal
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server

#6202 Support iteration over the contents of an IntervalCollection.
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/test/collections.intervalTree.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test

#6280 Patch bump 1622061234736 wes
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#6282 fix policy check
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#6286 policy-fix assert shortcode
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#6270 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: dds, area: dds: sharedstring, area: driver, area: loader, area: runtime, area: test

#6289 Update lodash and hosted-git-info version in lock file for security warnings
  common/build/eslint-config-fluid/package-lock.json
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  docs/package-lock.json
  lerna-package-lock.json
  server/headless-agent/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/tinylicious/package-lock.json
  tools/generator-fluid/package-lock.json
  tools/getkeys/package-lock.json
Labels: area: server, area: tools, area: website

#6295 bump dependency missed by script
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6296 [bump] package version for server (patch)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#6299 Upgrade ws to 7.4.6
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
Labels: area: server

#6298 Bring gitrest inline with other services
  server/gitrest/Dockerfile
  server/gitrest/docker-compose.yml
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/src/app.ts
  server/gitrest/src/runner.ts
  server/gitrest/src/runnerFactory.ts
  server/gitrest/src/www.ts
Labels: area: server

#6276 Move last-edited-experimental to @fluid-experimental
  BREAKING.md
  docs/data/packages.yaml
  examples/data-objects/vltava/package.json
  examples/data-objects/vltava/src/fluidObjects/anchor/anchor.ts
  examples/data-objects/vltava/src/fluidObjects/vltava/dataModel.ts
  examples/data-objects/vltava/src/index.ts
  experimental/framework/last-edited/.eslintrc.js
  experimental/framework/last-edited/.gitignore
  experimental/framework/last-edited/.npmignore
  experimental/framework/last-edited/LICENSE
  experimental/framework/last-edited/README.md
  experimental/framework/last-edited/api-extractor.json
  experimental/framework/last-edited/package.json
  experimental/framework/last-edited/src/index.ts
  experimental/framework/last-edited/src/interfaces.ts
  experimental/framework/last-edited/src/lastEditedTracker.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited/src/packageVersion.ts
  experimental/framework/last-edited/src/setup.ts
  experimental/framework/last-edited/tsconfig.esnext.json
  experimental/framework/last-edited/tsconfig.json
Labels: area: examples, area: website, breaking change

#6106 Elected summarizer logs
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summaryCollection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
  packages/runtime/container-runtime/src/test/summaryCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcReferenceUpdatesInSummarizer.spec.ts
Labels: area: runtime, area: test

#6293 Deleted unused service-monitor
  server/service-monitor/.dockerignore
  server/service-monitor/.eslintignore
  server/service-monitor/.eslintrc.js
  server/service-monitor/.gitignore
  server/service-monitor/Dockerfile
  server/service-monitor/README.md
  server/service-monitor/config.json
  server/service-monitor/deployment/cronjob.yaml
  server/service-monitor/package-lock.json
  server/service-monitor/package.json
  server/service-monitor/src/index.ts
  server/service-monitor/src/testService.ts
  server/service-monitor/tsconfig.json
Labels: area: server

#6303 Remove bogus assert in ODSP driver around ops
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#6305 add simple reconnect logs to mongodb
  server/routerlicious/packages/services-core/src/mongo.ts
Labels: area: server

#6304 Remove bogus assert in ODSP driver around ops
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#6310 Delete video-players example
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/controls/index.ts
  examples/data-objects/client-ui-lib/src/controls/video.ts
  examples/data-objects/client-ui-lib/src/utils/youtubeHelper.ts
  examples/data-objects/image-collection/src/images.ts
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/video-players/.eslintrc.js
  examples/data-objects/video-players/.gitignore
  examples/data-objects/video-players/.npmignore
  examples/data-objects/video-players/LICENSE
  examples/data-objects/video-players/README.md
  examples/data-objects/video-players/package.json
  examples/data-objects/video-players/src/index.ts
  examples/data-objects/video-players/src/videoPlayers.ts
  examples/data-objects/video-players/tsconfig.esnext.json
  examples/data-objects/video-players/tsconfig.json
  examples/data-objects/video-players/webpack.config.js
  examples/data-objects/video-players/webpack.dev.js
  examples/data-objects/video-players/webpack.prod.js
Labels: area: examples
