Repository microsoft/FluidFramework, pull requests merged in 2021-09, with the labels that each got.

#7319 Include endpoint name into telemetry for frs e2e realsvc tests
  api-report/test-driver-definitions.api.md
  api-report/test-drivers.api.md
  api-report/test-utils.api.md
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/src/factory.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: test, public api change

#7267 Fixed GC version tests not working with ODSP server
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
Labels: area: runtime, area: test

#7290 Change how we report summarization attempt counts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime

#7295 Docs: clean up deep section
  docs/content/docs/build/dds.md
  docs/content/docs/deep/architecture.md
  docs/content/docs/deep/containers-runtime.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/dds-anatomy.md
  docs/content/docs/deep/grouped-ops.md
  docs/content/docs/deep/handles.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/deep/service.md
  docs/content/docs/deep/signals.md
  docs/content/docs/start/react-tutorial.md
  docs/content/docs/start/tutorial.md
Labels: documentation

#7328 r11s-driver: fix fluid url patching
  lerna-package-lock.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/test/urlUtils.spec.ts
  packages/drivers/routerlicious-driver/src/urlUtils.ts
Labels: area: driver, dependencies

#7333 Fixing breaking change in ISummaryUploadManager
  server/routerlicious/packages/services-client/src/storage.ts
  server/routerlicious/packages/services-client/src/summaryTreeUploadManager.ts
  server/routerlicious/packages/services-client/src/wholeSummaryUploadManager.ts
Labels: area: server

#7334 r11s-driver: use version.id in whole summary download flow
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
Labels: area: driver

#7298 Unification of locking mechanisms in summarization code
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

#7255 Handle ServiceReadOnly error in odsp driver
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/odsp-driver/src/retryUtils.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: driver, area: odsp-driver, public api change

#7335 Fixing typo in Containers.md
  docs/content/docs/build/containers.md
Labels: documentation, community-contribution

#7327 AzureClient updates
  BREAKING.md
  api-report/azure-client.api.md
  examples/hosts/app-integration/external-controller/src/ConsoleLogger.ts
  examples/hosts/app-integration/external-controller/src/app.ts
  packages/framework/azure-client/README.md
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/AzureFunctionTokenProvider.ts
  packages/framework/azure-client/src/index.ts
  packages/framework/azure-client/src/interfaces.ts
  packages/framework/azure-client/src/test/AzureClientFactory.ts
Labels: area: examples, area: framework, breaking change, public api change

#7323 Move agents example into example directory
  examples/agents/intelligence-runner-agent/.eslintrc.js
  examples/agents/intelligence-runner-agent/.gitignore
  examples/agents/intelligence-runner-agent/.npmignore
  examples/agents/intelligence-runner-agent/LICENSE
  examples/agents/intelligence-runner-agent/README.md
  examples/agents/intelligence-runner-agent/package.json
  examples/agents/intelligence-runner-agent/src/analytics/api.ts
  examples/agents/intelligence-runner-agent/src/analytics/index.ts
  examples/agents/intelligence-runner-agent/src/analytics/resumeAnalytics.ts
  examples/agents/intelligence-runner-agent/src/analytics/textAnalytics.ts
  examples/agents/intelligence-runner-agent/src/index.ts
  examples/agents/intelligence-runner-agent/src/intelRunner.ts
  examples/agents/intelligence-runner-agent/src/rateLimiter.ts
  examples/agents/intelligence-runner-agent/src/serviceManager.ts
  examples/agents/intelligence-runner-agent/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: area: examples

#7331 Remove deprecated members of FluidContainer
  api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
Labels: area: framework, public api change

#7321 Elected summarizer client occasionally does not start summarizer.
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, public api change

#7260 Add a package to for Application Insights Logger
  lerna-package-lock.json
  packages/test/test-app-insights-logger/.eslintrc.js
  packages/test/test-app-insights-logger/.gitignore
  packages/test/test-app-insights-logger/.npmignore
  packages/test/test-app-insights-logger/LICENSE
  packages/test/test-app-insights-logger/README.md
  packages/test/test-app-insights-logger/package.json
  packages/test/test-app-insights-logger/src/appinsightstestlogger.ts
  packages/test/test-app-insights-logger/src/index.ts
  packages/test/test-app-insights-logger/src/packageVersion.ts
  packages/test/test-app-insights-logger/tsconfig.esnext.json
  packages/test/test-app-insights-logger/tsconfig.json
Labels: dependencies, area: test, community-contribution

#7344 r11s-driver: fix delta url typo
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
Labels: area: driver

#7343 Renamed FRS -> Azure Fluid Relay
  docs/_includes/azureFluidRelay-onboarding.html
  docs/content/docs/build/audience.md
  docs/content/docs/build/auth.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/start/react-tutorial.md
  examples/hosts/app-integration/external-controller/README.md
  packages/framework/azure-client/README.md
  packages/framework/azure-client/src/test/AzureClient.spec.ts
Labels: documentation, area: examples, area: framework, area: website

#7326 Summarization telemetry improvements
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime

#7227 Convert some error classes to IFluidErrorBase
  api-report/container-runtime.api.md
  api-report/container-utils.api.md
  api-report/driver-utils.api.md
  api-report/telemetry-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/driver-utils/src/network.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
Labels: area: runtime, area: loader, telemetry, public api change

#7346 [main > 0.46]: Handle ServiceReadOnly error in odsp driver
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/odsp-driver/src/retryUtils.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: driver, area: odsp-driver, public api change

#7325 add more detached blob tests
  api-report/test-drivers.api.md
  packages/drivers/odsp-driver/src/createFile.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: loader, area: driver, area: test, area: odsp-driver, public api change

#7354 policy check fix
  packages/drivers/odsp-driver/src/retryUtils.ts
Labels: area: driver, area: odsp-driver

#7296 Update to website "Create a FF app" tutorial
  docs/content/docs/start/quick-start.md
  docs/content/docs/start/tutorial.md
Labels: documentation

#7065 Add jti (JWT ID) as optional token claim
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/tokens.ts
Labels: public api change

#7281 New data import/export recipe
  docs/content/docs/recipes/temporary-storage.md
Labels: documentation

#7360 Increase frs e2e test timeout more
  tools/pipelines/test-real-service.yml
Labels: area: build

#7361 Skipped test to verify round tripping of serialized container
  packages/test/snapshots/src/test/serialized.spec.ts
Labels: area: test, community-contribution

#7364 Better telemetry for 409 errors
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/retryUtils.ts
Labels: area: driver, area: odsp-driver

#7367 policy-check fix
  packages/drivers/odsp-driver/src/retryUtils.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver

#7363 Make sendTelemetryEvent always use category = "generic" to keep caller in full control
  api-report/telemetry-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/tools/replay-tool/src/replayMessages.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: runtime, area: loader, public api change

#7356 Single `props` for initializing a TinyliciousClient
  api-report/tinylicious-client.api.md
  packages/framework/tinylicious-client/README.md
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: framework, public api change

#7368 Summarizer improvements: Reduce number of errors in telemetry
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#7359 Type Validation: Container Def Tests and Support for Duplicate Identifers
  common/lib/common-definitions/package.json
  common/lib/common-definitions/src/test/validate0.20.0.ts
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/validate0.39.8.ts
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/validate0.1024.0.ts
  tools/build-tools/src/typeValidator/testGeneration.ts
  tools/build-tools/src/typeValidator/typeData.ts
Labels: area: definitions

#7369 Remove Aqueduct from fluid-framework package
  api-report/fluid-framework.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/aqueduct.ts
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, public api change

#7366 Tutorial should not be marked outdated
  docs/content/docs/start/tutorial.md
Labels: documentation

#7372 Docs: minor updates to token provider section
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

#7375 Container Fails to Serialize and Rehydrate Multiple Times
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: runtime, area: test

#7377 roll back server protocol-definitions dependencies to 1024
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#7380 Added experimental rolling hash field in protocol
  server/routerlicious/api-report/protocol-definitions.api.md
  server/routerlicious/packages/protocol-definitions/src/protocol.ts
Labels: area: server

#7383 Fix test build workflow for client packages - Part 1
  common/build/build-common/gen_version.js
  tools/pipelines/scripts/build-version.js
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build

#7384 Fix PR #7383 - node 12 compat in gen_version.js
  common/build/build-common/gen_version.js
Labels: area: tools, area: build

#7386 Allow --baseVersion flag to set the base version for the e2e test to target against
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/testApi.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: test

#7178 Remove batch manager with feature gate
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
Labels: area: driver, area: test, public api change

#7216 Porting property-changeset to TypeScript [3/3]
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binding.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binding_registry.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/internal_utils.js
  experimental/PropertyDDS/packages/property-changeset/package-lock.json
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-changeset/src/changeset.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/arrayChangesetIterator.js
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/arrayChangesetIterator.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/changesetConflictTypes.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexedCollection.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/isEmptyChangeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/operationTypes.ts
  experimental/PropertyDDS/packages/property-changeset/src/helpers/typeidHelper.js
  experimental/PropertyDDS/packages/property-changeset/src/helpers/typeidHelper.ts
  experimental/PropertyDDS/packages/property-changeset/src/index.d.ts
  experimental/PropertyDDS/packages/property-changeset/src/index.js
  experimental/PropertyDDS/packages/property-changeset/src/index.ts
  experimental/PropertyDDS/packages/property-changeset/src/isReservedKeyword.js
  experimental/PropertyDDS/packages/property-changeset/src/isReservedKeyword.ts
  experimental/PropertyDDS/packages/property-changeset/src/pathHelper.js
  experimental/PropertyDDS/packages/property-changeset/src/pathHelper.ts
  experimental/PropertyDDS/packages/property-changeset/src/rebase.ts
  experimental/PropertyDDS/packages/property-changeset/src/templateSchema.js
  experimental/PropertyDDS/packages/property-changeset/src/templateSchema.ts
  experimental/PropertyDDS/packages/property-changeset/src/templateValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/array.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/pathHelper.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/reversibleCs.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemaValidator.js
  experimental/PropertyDDS/packages/property-changeset/src/test/schemaValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badBothPropertiesAndTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badInvalidSemverInTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badMissingSemverInTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badNestedProperties.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badPrimitiveTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badVersionedTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodColorPalette.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodDraftAsVersion.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodPointId.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodReferenceAndRegular.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodReservedTypes.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodUIBorder.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/setup.js
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/templateSyntax.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/templateValidator.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/typeidHelper.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.js
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-changeset/src/validationResultBuilder.ts
  experimental/PropertyDDS/packages/property-changeset/tsconfig.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/test/reversibleChangeset.spec.js
  experimental/PropertyDDS/packages/property-proxy/package.json
  experimental/PropertyDDS/services/property-query/src/materialized_history_service/base_node.js
  experimental/PropertyDDS/services/property-query/src/materialized_history_service/index_manager.js
  experimental/PropertyDDS/services/property-query/src/materialized_history_service/query_pipeline/paging/no_index_paging.js
  experimental/PropertyDDS/services/property-query/src/materialized_history_service/storage_backends/storage_manager.js
Labels: area: dds: propertydds, community-contribution

#7396 t9s: fix error message when port conflicts
  server/tinylicious/src/runner.ts
Labels: area: server

#7392 Change no join op recovery to telemetry only
  api-report/container-loader.api.md
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, public api change

#7390 Stress test can deadlock due to incorrect checks
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: loader, area: test

#7401 Add error codes on 0.47 branch
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#7400 Add error code on 0.47 branch
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#7397 Lumberjack improvements
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/lumber.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/winstonLumberjackEngine.ts
Labels: area: server

#7405 Remove NackWithNoReconnect event
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#7389 Use fault injection time from test config.
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: test, community-contribution

#7351 Take advantage of detached state for initializing model
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/controller.ts
  examples/hosts/app-integration/external-controller/src/view.ts
  examples/hosts/app-integration/external-controller/tests/index.ts
Labels: area: examples

#7402 Handle leading slash in summary object handle
  server/routerlicious/packages/services-client/src/storageUtils.ts
Labels: area: server

#7382 Remove client-api
  BREAKING.md
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/controls/flowContainer.ts
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/scribe/package.json
  examples/data-objects/scribe/src/tools-core/author.ts
  examples/data-objects/scribe/src/tools-core/counters.ts
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/document.ts
  packages/runtime/client-api/.eslintrc.js
  packages/runtime/client-api/.gitignore
  packages/runtime/client-api/.npmignore
  packages/runtime/client-api/.vscode/launch.json
  packages/runtime/client-api/LICENSE
  packages/runtime/client-api/README.md
  packages/runtime/client-api/api-extractor.json
  packages/runtime/client-api/package.json
  packages/runtime/client-api/src/api-core/README.md
  packages/runtime/client-api/src/api-core/index.ts
  packages/runtime/client-api/src/api-core/protocol.ts
  packages/runtime/client-api/src/api/codeLoader.ts
  packages/runtime/client-api/src/api/document.ts
  packages/runtime/client-api/src/api/index.ts
  packages/runtime/client-api/src/api/tokenService.ts
  packages/runtime/client-api/src/core-utils/index.ts
  packages/runtime/client-api/src/index.ts
  packages/runtime/client-api/tsconfig.esnext.json
  packages/runtime/client-api/tsconfig.json
  tools/build-tools/data/layerInfo.json
  tools/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: area: examples, area: runtime, breaking change

#7409 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#7407 r11s-driver: add whole summary caching
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
Labels: area: driver

#7408 Counter API doc cleanup
  api-report/counter.api.md
  packages/dds/counter/src/counter.ts
  packages/dds/counter/src/index.ts
  packages/dds/counter/src/interfaces.ts
Labels: area: dds, public api change

#7410 Update node-rdkafka and zookeeper
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/zookeeperClient.ts
Labels: area: server

#7371 Docs: fix broken links and lint errors
  docs/.markdownlint-cli2.js
  docs/content/docs/data-structures/overview.md
  docs/content/docs/deep/container-and-component-loading.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/start/react-tutorial.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/testing.md
  docs/package-lock.json
  docs/package.json
  docs/themes/thxvscode/layouts/partials/footer.html
Labels: documentation, area: website

#7415 Bump runtime-defintions version for sequence
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#7418 Substituting utf8 by utf-8 by in services-client
  server/routerlicious/packages/services-client/src/storageContracts.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
Labels: area: server

#7419 Rename `GetFrsToken` to `GetAzureToken`
  docs/content/docs/deployment/azure-frs.md
  examples/hosts/app-integration/external-controller/README.md
  packages/framework/azure-client/README.md
Labels: documentation, area: examples, area: framework

#7420 [bump] package version for server (patch 0.1024.1 -> 0.1024.2)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/protocol-definitions/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package-lock.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-eventhub/package.json
  server/routerlicious/packages/services-ordering-eventhub/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#7370 Add Lumberjack logs in Historian
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/services/redisCache.ts
  server/historian/packages/historian-base/src/services/redisTenantCache.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian/package.json
Labels: area: server

#7421 upgrade client-server dep to 0.1031.0-0
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#7379 Type Validation: Core Interface and Driver Defs
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/test/validate0.39.8.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/validate0.39.8.ts
Labels: area: definitions

#7425 Temporary filter out too much telemetry from r11s driver
  packages/test/mocha-test-setup/src/mochaHooks.ts
  tools/pipelines/test-real-service.yml
Labels: area: build, area: test

#7395 Add Lumberjack logs in Alfred Lambda
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
Labels: area: server

#7432 Fix scribe failures after restart
  .github/code_owners.yml
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
Labels: area: server, area: build

#7431 Remove example dependency from tinyliciousclient
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/test/TestDataObject.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: framework

#7417 Remove back compat code during rehydrated container
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: runtime, area: loader, area: test

#7423 Use Lumberjack for logging
  server/routerlicious/packages/lambdas/src/foreman/lambda.ts
Labels: area: server, community-contribution

#7427 Better ops & connectivity telemetry
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, area: driver, area: odsp-driver

#7430 Better telemetry and recovery
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#7434 Add .app node for channel uploads in r11s
  server/routerlicious/packages/services-client/src/storageUtils.ts
  server/routerlicious/packages/services-client/src/test/basicRestwrapper.spec.ts
  server/routerlicious/packages/services-client/src/test/historian.spec.ts
  server/routerlicious/packages/services-client/src/test/storageUtils.spec.ts
  server/routerlicious/packages/services-client/src/wholeSummaryUploadManager.ts
Labels: area: server

#7438 add test for repeated serialization and rehydration of detached conta…
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: test

#7416 Reorganize docs
  docs/.gitignore
  docs/config.yml
  docs/content/community/doc-system/example.ditaa
  docs/content/community/doc-system/index.md
  docs/content/docs/concepts/_index.md
  docs/content/docs/concepts/architecture/index.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/signals.md
  docs/content/docs/concepts/summarizer.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/deep/container-and-component-loading.md
  docs/content/docs/deep/custom-dds.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/recipes/react.md
  docs/content/docs/start/react-tutorial.md
  docs/package.json
  docs/static/images/architecture.ditaa
  docs/static/images/container-and-component-loading-1.jpg
  docs/static/images/container-and-component-loading-10.jpg
  docs/static/images/container-and-component-loading-11.jpg
  docs/static/images/container-and-component-loading-2.jpg
  docs/static/images/container-and-component-loading-3.jpg
  docs/static/images/container-and-component-loading-4.jpg
  docs/static/images/container-and-component-loading-5.jpg
  docs/static/images/container-and-component-loading-6.jpg
  docs/static/images/container-and-component-loading-7.jpg
  docs/static/images/container-and-component-loading-8.jpg
  docs/static/images/container-and-component-loading-9.jpg
  docs/static/images/fluid-objects.png
  docs/static/images/fluid-service.png
  docs/static/images/load-flow.ditaa
  docs/static/images/op-broadcast.png
  docs/static/images/op-send.png
Labels: documentation, area: website

#7436 moved react tutorial, removed playground, updated examples page
  docs/.gitignore
  docs/config.yml
  docs/content/docs/start/examples.md
  docs/content/docs/start/tutorial.md
  docs/content/playground.md
  docs/package.json
  docs/themes/thxvscode/layouts/partials/footer.html
Labels: documentation, area: website

#7381 Check for broken links in site during PR validation
  .github/workflows/data/linkcheck-failure.md
  .github/workflows/data/linkcheck-success.md
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/website-validation.yml
  docs/package-lock.json
  docs/package.json
  docs/serve.js
Labels: area: build, area: website

#7428 Ops caching broken: disabled feature, bugs
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/opsCaching.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
  packages/loader/driver-utils/src/parallelRequests.ts
Labels: area: loader, area: driver, area: odsp-driver

#7429 noDeltaStream
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
Labels: area: loader, area: test, public api change

#7440 Fix broken links
  docs/README.md
  docs/content/_index.md
  docs/content/docs/start/examples.md
Labels: documentation, area: website

#7435 Update publish pipeline to avoid repeating git tag step and continue if the error reports that the package is already published
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build

#7376 Add info on attached/detached containers
  docs/content/docs/build/containers.md
  docs/content/docs/glossary.md
Labels: documentation

#7441 Add peer dependency for fluid-framework to client packages
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework

#7449 update tutorial to use new template approach
  docs/content/docs/start/tutorial.md
Labels: documentation

#7155 Docs/build with fluid
  docs/content/docs/build/audience.md
  docs/content/docs/build/auth.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/glossary.md
  docs/content/docs/recipes/temporary-storage.md
Labels: documentation

#7453 Mongobump
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services/package.json
Labels: area: server

#7456 Add tsdoc for IFluidContainer
  api-report/fluid-static.api.md
  docs/api-documenter.json
  packages/framework/fluid-static/src/fluidContainer.ts
Labels: area: framework, area: website, public api change

#7443 upgrading mongodb package
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services/package.json
Labels: area: server

#7452 Add test-client-utils package and export InsecureTokenProvider from it
  api-report/test-client-utils.api.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/recipes/react.md
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/src/app.ts
  packages/framework/azure-client/README.md
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/test/AzureClientFactory.ts
  packages/framework/test-client-utils/.eslintrc.js
  packages/framework/test-client-utils/.gitignore
  packages/framework/test-client-utils/.npmignore
  packages/framework/test-client-utils/LICENSE
  packages/framework/test-client-utils/README.md
  packages/framework/test-client-utils/api-extractor.json
  packages/framework/test-client-utils/package.json
  packages/framework/test-client-utils/src/index.ts
  packages/framework/test-client-utils/tsconfig.esnext.json
  packages/framework/test-client-utils/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: documentation, area: examples, area: framework, public api change

#7462 Re-title tutorial
  docs/content/docs/start/tutorial.md
Labels: documentation

#7457 Add attach-related APIs to IFluidContainer, and prefer IFluidContainer over FluidContainer in usage
  api-report/azure-client.api.md
  api-report/fluid-framework.api.md
  api-report/fluid-static.api.md
  api-report/tinylicious-client.api.md
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  examples/hosts/app-integration/external-controller/src/app.ts
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/containerDefinitions.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
Labels: area: examples, area: framework, public api change

#7454 Change error messages to camelCase
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: loader, area: driver, area: odsp-driver

#7466 Add exports required for creating a token provider to azure-client
  api-report/azure-client.api.md
  packages/framework/azure-client/src/index.ts
Labels: area: framework, public api change

#6872 Cleanup of runtime code
  packages/drivers/file-driver/src/fileDocumentStorageService.ts
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/utils/tool-utils/src/snapshotNormalizer.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/blobs.ts
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/storageContracts.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
Labels: area: server, area: runtime, area: loader, area: driver, community-contribution, public api change

#7468 add configureHistorianLogging() helper to historian-base
  server/historian/packages/historian-base/src/index.ts
  server/historian/packages/historian-base/src/logger.ts
Labels: area: server

#7458 fluid-framework README
  packages/framework/fluid-framework/README.md
Labels: area: framework

#7459 Test variant logging, extend timeout, and restore type
  api-report/test-drivers.api.md
  common/lib/driver-definitions/package-lock.json
  examples/data-objects/table-document/src/test/.mocharc.js
  examples/data-objects/webflow/src/test/.mocharc.js
  experimental/dds/tree/src/test/.mocharc.js
  packages/test/mocha-test-setup/mocharc-common.js
  packages/test/mocha-test-setup/src/mochaHooks.ts
  packages/test/test-drivers/src/factory.ts
  packages/test/test-end-to-end-tests/src/test/.mocharc.js
  packages/test/test-service-load/src/runner.ts
  tools/pipelines/test-real-service.yml
Labels: area: build, area: test, area: definitions, public api change

#7463 Website: update react tutorial to use new container approach
  docs/content/docs/recipes/react.md
Labels: documentation

#7474 Build ESNext modules in fluid-framework package
  packages/framework/fluid-framework/package.json
Labels: area: framework

#7473 Upgrade custom-api-documenter to fix "undefined" in links
  docs/package-lock.json
  docs/package.json
Labels: area: website

#7445 Fix rebase bug, add test
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
Labels: area: dds: propertydds, community-contribution

#7476 Fix RestLess Client and Server implementations
  server/routerlicious/packages/services-client/src/restLessClient.ts
  server/routerlicious/packages/services-shared/src/restLessServer.ts
Labels: area: server

#7477 r11s-driver: disable caching for WholeSummary flow
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver

#7470 Use proper TSDoc link format
  common/lib/core-interfaces/src/fluidPackage.ts
Labels: area: definitions

#7482 Run packages.md doc update on build
  docs/PACKAGES.md
  package.json
Labels: area: website

#7464 Docs on package scopes
  docs/_includes/links.md
  docs/content/docs/build/packages.md
Labels: documentation, area: website

#7469 Link to sequence info on fluidframework.com
  packages/dds/sequence/src/sharedNumberSequence.ts
  packages/dds/sequence/src/sharedObjectSequence.ts
Labels: area: dds, area: dds: sharedstring

#7424 Improve Logging Example and Documentation
  docs/content/docs/testing/telemetry.md
  examples/hosts/app-integration/external-controller/src/ConsoleLogger.ts
  examples/hosts/app-integration/external-controller/src/app.ts
Labels: documentation, area: examples

#7472 Include more packages in TSDocs/API docs build
  docs/README.md
  docs/api-documenter.json
  docs/content/docs/glossary.md
  docs/content/docs/recipes/react.md
  docs/content/docs/start/tutorial.md
  docs/data/packages.yaml
  docs/package.json
Labels: documentation, area: website

#7485 [patch 0.46] Add telemetry property dataStoreId w/ packageData tag for "Duplicate data store created with existing ID"
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime

#7341 Added logging when data stores that are unreferenced for more than a specific time are used
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/utils/mock-logger/src/mockLogger.ts
Labels: area: runtime, area: test, public api change

#7487 [patch 0.47] Add telemetry property dataStoreId w/ packageData tag for "Duplicate data store created with existing ID"
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime

#7486 [main] Add telemetry property dataStoreId w/ packageData tag for "Duplicate data store created with existing ID"
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime

#7494 [main -> 0.47] Update publish pipeline to avoid repeating git tag step and continue if the error reports that the package is already published
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build

#7495 enableWholeSummaryUpload for azure-client
  packages/framework/azure-client/src/AzureClient.ts
Labels: area: framework

#7496 Upgrade client-server deps to ^0.1031.0-37526
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#7500 r11s-driver: fix 401 retry
  packages/drivers/routerlicious-driver/src/restWrapper.ts
Labels: area: driver

#7499 Create @fluidframework/azure-service-utils and re-export generateToken
  api-report/azure-service-utils.api.md
  packages/framework/azure-service-utils/.eslintrc.js
  packages/framework/azure-service-utils/.gitignore
  packages/framework/azure-service-utils/.npmignore
  packages/framework/azure-service-utils/LICENSE
  packages/framework/azure-service-utils/README.md
  packages/framework/azure-service-utils/api-extractor.json
  packages/framework/azure-service-utils/package.json
  packages/framework/azure-service-utils/src/index.ts
  packages/framework/azure-service-utils/src/packageVersion.ts
  packages/framework/azure-service-utils/tsconfig.esnext.json
  packages/framework/azure-service-utils/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: area: framework, public api change

#7481 Fix configmap
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
Labels: area: server

#7503 Moved MockLogger from internal package into telemetry-utils
  api-report/telemetry-utils.api.md
  packages/loader/container-utils/package.json
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/container-utils/src/test/errorTypeLoggingTest.spec.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summaryCollection.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/utils/mock-logger/.eslintrc.js
  packages/utils/mock-logger/.gitignore
  packages/utils/mock-logger/.npmignore
  packages/utils/mock-logger/LICENSE
  packages/utils/mock-logger/README.md
  packages/utils/mock-logger/package.json
  packages/utils/mock-logger/src/index.ts
  packages/utils/mock-logger/src/test/tsconfig.json
  packages/utils/mock-logger/tsconfig.json
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/mockLogger.spec.ts
  tools/build-tools/data/layerInfo.json
Labels: area: runtime, area: loader, area: test, public api change

#7509 Fix historian configmap
  server/charts/historian/templates/historian-configmap.yaml
Labels: area: server

#7483 fix location for type declaration
  experimental/PropertyDDS/examples/partial-checkout/src/dataObject.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/Field.tsx
  experimental/PropertyDDS/packages/property-proxy/package.json
Labels: area: dds: propertydds, community-contribution

#7498 Website: update recipes to point to fluid examples
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/vue.md
  docs/content/docs/recipes/web-components.md
Labels: documentation

#7446 Reduce usage and allow tree shaking of lodash [1/2]
  experimental/PropertyDDS/packages/property-changeset/src/changeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/arrayChangesetIterator.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexedCollection.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/isEmptyChangeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/rebase.ts
  experimental/PropertyDDS/packages/property-changeset/src/templateValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/array.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/reversibleCs.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
Labels: area: dds: propertydds, community-contribution

#7505 Fix build scripts for @fluidframework/test-client-utils
  packages/framework/test-client-utils/package.json
  packages/framework/test-client-utils/src/packageVersion.ts
Labels: area: framework

#7506 Removed flattenRuntimeOptions from end-to-end tests
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/flattenRuntimeOptions.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSummaryTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: test

#7501 Added cotainer runtime option to turn GC sweep phase on / off
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: test, public api change

#7515 Don't count nacks for deli op events
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server

#7513 Set content-type header for joinSession request which has body
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#7337 Incorporate new container create flow
  api-report/azure-client.api.md
  api-report/fluid-static.api.md
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/tokens.ts
  packages/drivers/tinylicious-driver/src/insecureTinyliciousTokenProvider.ts
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/AzureFunctionTokenProvider.ts
  packages/framework/azure-client/src/AzureUrlResolver.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
Labels: area: framework, area: driver, public api change

#7507 Update FRS docs to match the latest client API
  docs/content/docs/deployment/azure-frs.md
  examples/hosts/app-integration/external-controller/src/app.ts
Labels: documentation, area: examples

#7516 Yangg/frs whole summary
  api-report/test-drivers.api.md
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: test, public api change

#7523 r11s-driver: add enableRestLess flag
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver, public api change

#7526 Add missing copyfiles dependencies
  packages/framework/azure-client/package.json
  packages/framework/azure-service-utils/package.json
  packages/framework/test-client-utils/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework

#7528 Allow `--compatVersion` to accept LTS or specific version/range in e2e tests
  packages/test/test-version-utils/src/compatConfig.ts
Labels: area: test

#7514 Website: fix docs refering to create/load container APIs
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/data-structures/map.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/testing.md
Labels: documentation

#7532 Add config to enforce server-generated doc id in R11s
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server

#7479 Add docs page for breaking notes
  BREAKING.md
  docs/config.yml
  docs/content/docs/changelogs/_index.md
  docs/content/docs/changelogs/contents.md
  docs/content/docs/changelogs/releases/2021-09-20.md
Labels: documentation, breaking change, area: website

#7533 Support legacy container create flow
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
Labels: area: driver

#7535 Fix tinylicious tests
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
Labels: area: driver

#7540 fix typo
  packages/dds/matrix/src/test/matrix.big.spec.ts
Labels: area: dds, community-contribution

#7522 Change type to BufferEncoding
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/validate0.1024.0.ts
  common/lib/protocol-definitions/tsconfig.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/gitresources/src/resources.ts
  server/routerlicious/packages/gitresources/tsconfig.json
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  tools/build-tools/src/repoPolicyCheck/repoPolicyCheck.ts
Labels: area: server, public api change

#7520 Consolidated GC tests logic that manually submits and acks summary
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
Labels: area: test

#7447 save last summarized op number to database
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server

#7536 Add documentation for event interfaces in the fluid-static package
  api-report/fluid-static.api.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/auth.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/recipes/react.md
  docs/content/docs/start/tutorial.md
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-framework/src/map.ts
  packages/framework/fluid-framework/src/sequence.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/framework/fluid-static/src/types.ts
Labels: documentation, area: framework, public api change

#7530 Enable building TSDocs for server-services-client
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/api-extractor.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/auth.ts
  server/routerlicious/packages/services-client/src/restLessClient.ts
  server/routerlicious/packages/services-client/src/storage.ts
Labels: area: server, public api change

#7534 Removed stale back-compat code from SummarizerNodeWithGC
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime
