Repository microsoft/FluidFramework, pull requests merged in 2021-11, with the labels that each got.

#8060 Add Whole Summary Upload/Download support to GitRest
  server/gitrest/package.json
  server/gitrest/src/app.ts
  server/gitrest/src/routes/git/trees.ts
  server/gitrest/src/routes/index.ts
  server/gitrest/src/routes/summaries.ts
  server/gitrest/src/routes/utils.ts
Labels: area: server

#7985 Update inactiveObjectChanged error to log only once per data store per session.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
Labels: area: runtime, area: test

#8082 Adding single field index for cosmos db
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server

#7878 Adding Lumberjack to Moira lambda
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/moira/lambda.ts
  server/routerlicious/packages/lambdas/src/moira/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/services-core/src/configuration.ts
Labels: area: server

#8050 Remove execution-context-loader package
  .github/CODEOWNERS
  api-report/execution-context-loader.api.md
  packages/loader/execution-context-loader/.eslintrc.js
  packages/loader/execution-context-loader/.gitignore
  packages/loader/execution-context-loader/.npmignore
  packages/loader/execution-context-loader/LICENSE
  packages/loader/execution-context-loader/README.md
  packages/loader/execution-context-loader/api-extractor.json
  packages/loader/execution-context-loader/package.json
  packages/loader/execution-context-loader/src/index.ts
  packages/loader/execution-context-loader/src/packageVersion.ts
  packages/loader/execution-context-loader/src/webWorkerLoader.ts
  packages/loader/execution-context-loader/src/webWorkerLoaderFactory.ts
  packages/loader/execution-context-loader/tsconfig.esnext.json
  packages/loader/execution-context-loader/tsconfig.json
Labels: area: loader, area: build, public api change

#8067 fluid:telemetry:OdspDriver:DeltaConnection:GetOpsTooMany errors in telemetry
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#7992 Tests that validate transition from unreferenced -> referenced -> unreferenced between summaries
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
Labels: area: test

#8065 Remove fluid:telemetry:ChannelDisposeError event, add error events where we fail to load/create data store
  api-report/container-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
Labels: area: runtime, area: loader, public api change

#8064 Remove offline summarizer errors from error table
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#7994 Add leader election to stress tests
  packages/test/test-service-load/src/leaderElection.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: test

#8115 Better fetching cancelation
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#7908 Add release notes for 0.49 and 0.50
  docs/content/docs/updates/v0.48.md
  docs/content/docs/updates/v0.49.md
  docs/content/docs/updates/v0.50.md
  docs/content/docs/updates/v0.51.md
Labels: documentation

#7631 Add an announcement banner for new releases
  docs/config.yml
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/index.js
  docs/themes/thxvscode/assets/js/jquery/updates.js
  docs/themes/thxvscode/assets/js/yarn.lock
  docs/themes/thxvscode/assets/scss/includes/_colors.scss
  docs/themes/thxvscode/layouts/partials/banner.html
  docs/themes/thxvscode/layouts/partials/header.html
Labels: area: website

#8119 merge-tree and sequence typing and documentation improvements
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/text.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/mapKernel.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test, public api change

#8130 Reduce Signal Leader Election errors
  packages/test/test-service-load/src/leaderElection.ts
Labels: area: test

#7877 Implementation of parsing new binary snapshot format
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
  packages/drivers/odsp-driver/src/test/zipItDataRepresentationTests.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
Labels: area: driver, area: odsp-driver

#8128 Fix announcement banner calling an undefined function
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/index.js
Labels: area: website

#8136 use normalizeError() on failed attach()
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: loader, area: test

#8135 Bump protocol-definitions version
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/historian/packages/historian-base/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, area: definitions

#8139 Remove registers from SharedString and MergeTree
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  docs/content/docs/updates/v0.51.md
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/sequence/src/sequence.ts
Labels: documentation, area: examples, area: dds, breaking change, area: dds: sharedstring, public api change

#8138 Splay test imports
  packages/dds/merge-tree/src/test/client.apis.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.spec.ts
  packages/dds/merge-tree/src/test/collections.list.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insert.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/wordUnitTests.ts
Labels: area: dds

#8144 Issue #8129: Runtime error due to circular references in socket.errors
  packages/drivers/driver-base/src/documentDeltaConnection.ts
Labels: area: driver

#8124 Remove errorCodeIfNone annotation for normalizeError
  api-report/container-utils.api.md
  api-report/telemetry-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: loader, public api change

#8141 PropertyDDS Performance improvements
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-changeset/src/changeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexedCollection.ts
  experimental/PropertyDDS/packages/property-changeset/src/rebase.ts
  experimental/PropertyDDS/packages/property-changeset/src/templateValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/array.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/reversibleCs.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-common/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-properties/src/containerSerializer.js
  experimental/PropertyDDS/packages/property-properties/src/enableValidations.ts
  experimental/PropertyDDS/packages/property-properties/src/index.d.ts
  experimental/PropertyDDS/packages/property-properties/src/index.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/baseProperty.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/containerProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/indexedCollectionBaseProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/intProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/stringProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueProperty.js
  experimental/PropertyDDS/packages/property-properties/src/propertyFactory.js
  experimental/PropertyDDS/packages/property-properties/src/propertyTemplate.js
  experimental/PropertyDDS/packages/property-query/src/materialized_history_service/leaf_node.js
  lerna-package-lock.json
Labels: dependencies, area: dds: propertydds, community-contribution

#8150 Null check for response status
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server

#8121 Fix odsp end-to-end tests
  api-report/test-driver-definitions.api.md
  api-report/test-drivers.api.md
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-drivers/src/tinyliciousTestDriver.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDetlaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
Labels: area: test, public api change

#8154 Policy Check for 0.51 release
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver

#8100 Log snapshot cache entry age in ObtainSnapshot telemetry
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver

#8151 Use proper errorType for token fetch errors
  BREAKING.md
  api-report/container-utils.api.md
  api-report/telemetry-utils.api.md
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: runtime, area: loader, area: driver, breaking change, area: odsp-driver, public api change

#8134 Move GC state / functionality in container runtime into its own class
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: test, public api change

#8152 Update build tool package check to accept new type check test dir structure
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/tsconfig.json
  common/lib/container-definitions/tsconfig.json
  packages/dds/merge-tree/package.json
  tools/build-tools/src/fluidBuild/fluidPackageCheck.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: dds, area: definitions

#8148 Move all of our build/release pipelines to the new 1ES agents
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-docs-latest.yml
  tools/pipelines/build-docs-n1.yml
  tools/pipelines/build-docs-release.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#8166 Slightly better handling of webSocket errors and redeem errors
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#8172 minor code snippet variable fix
  packages/framework/azure-client/README.md
Labels: area: framework

#8083 implement IDisposable in IDocumentStorageService
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#8175 Update fluid-build version to pick up latest change
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/framework/azure-client/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  server/gitrest/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: driver, dependencies, area: test, area: dds: propertydds, area: definitions

#8180 Converting overwrite duration value to number in Lumber
  server/routerlicious/packages/services-telemetry/src/lumber.ts
Labels: area: server

#8181 Use go 1.17 in Hugo module
  docs/go.mod
Labels: area: website

#8137 Mechanical refactoring of scheduler manager, before changing its behavior
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: test, public api change

#8197 Update build tools version
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, dependencies, area: definitions

#8194 refactor(r11s-driver): Split document storage service code into files
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver

#8184 Abstract out GitRest's whole summary logic
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/wholeSummaryReadGitManager.ts
  server/routerlicious/packages/services-shared/src/wholeSummaryWriteGitManager.ts
Labels: area: server

#8183 Add RestLess to Tinylicious
  server/tinylicious/src/app.ts
Labels: area: server

#8104 Add new code details API surface to Container and remove chaincodePackage
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, breaking change, area: test, area: definitions, public api change

#8205 Stronger validation for interrupted batches
  api-report/test-runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime, public api change

#8218 Start script wasn't updated in commit ede4dc77
  docs/package.json
Labels: area: website

#8120 Introduce IDeltaQueueWriter and a bit better tracking for connection issues
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/deltaQueue.ts
Labels: area: loader

#8215 Repalce OdspDocumentInfo type with OdspFluidDataStoreLocator interface
  BREAKING.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/contractsPublic.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8219 fix(r11s-driver): don't return latest for cached snapshot id
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver

#8222 Skip intermittently failing noDeltaStream tests
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: test

#8225 [main -> 0.51] Skip intermittently failing noDeltaStream tests
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: test

#8226 Fix newListener bug for dirty/saved events
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7873 set bufferMaxEntries to default from config
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/copier/index.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server

#8103 Add correlation properties to log in push connection
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/sockets.ts
Labels: public api change

#8216 remove deprecated close() from driver-definitions
  BREAKING.md
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/storage.ts
  common/lib/driver-definitions/src/test/types/validate0.39.8.ts
  common/lib/driver-definitions/src/test/types/validate0.40.0.ts
  common/lib/driver-definitions/src/test/types/validate0.41.0.ts
Labels: breaking change, area: definitions, public api change

#8096 Recipe for NodeJS example
  docs/content/docs/recipes/node.md
Labels: documentation

#8206 Fix ScheduleManager: Allow ops to be processed up to incomplete batch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#8231 Fixing order of tenantId/documentId for logging in Alfred runner factory
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
Labels: area: server

#8232 Record how long it takes BatchManager to complete full batch
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime

#8240 Improve connection telemetry
  packages/loader/container-loader/src/connectionStateHandler.ts
Labels: area: loader

#8239 [main > 0.51] fix(r11s-driver): don't return latest for cached snapshot id (#8219)
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
Labels: area: driver

#8238 [main > 0.50] fix(r11s-driver): don't return latest for cached snapshot id (#8219)
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
Labels: area: driver

#8243 Apmahade/globaldbconnection
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/copier/index.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
Labels: area: server

#8221 Add disableSummaries to ISummaryConfiguration
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/config.ts
Labels: public api change

#8244 [0.50] Remove duped driver utils entry in package.json
  packages/test/test-version-utils/package.json
Labels: area: test

#8211 Clean up unused code in shared-text and remove/update dependencies
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/database.ts
  examples/data-objects/shared-text/src/graphql.ts
  lerna-package-lock.json
  package-lock.json
  server/routerlicious/lerna-package-lock.json
Labels: area: examples, area: server, dependencies

#8087 Add FluidObject utility type to Replace IFluidObject
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/fluidObject.ts
  common/lib/core-interfaces/src/index.ts
  common/lib/core-interfaces/src/provider.ts
  common/lib/core-interfaces/test-d/index.test-d.ts
  common/lib/core-interfaces/tsconfig.json
Labels: area: definitions, public api change

#8254 Bump core-interfaces dependency version in common
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
Labels: area: definitions

#8213 Remove IDocumentAttributes.branch in protocol-definitions
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
Labels: public api change

#8248 perf(r11s-driver): Add in-memory caching for Node.js and RestLess
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
Labels: area: driver

#8256 SequenceDelta: Fix first and last typing and improve comments
  api-report/sequence.api.md
  packages/dds/sequence/src/sequenceDeltaEvent.ts
Labels: area: dds, area: dds: sharedstring, public api change

#8259 Typo in documentation
  docs/content/docs/build/data-modeling.md
Labels: documentation

#8234 Improve error/telemetry when failing to get a share link
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: odsp-driver

#8252 Remove DeltaConnectionError telemetry
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#8263 Release notes: Fix links and issue descriptions
  docs/content/docs/updates/v0.48.md
  docs/content/docs/updates/v0.50.md
Labels: documentation

#8265 Connectivity telemetry: small improvements
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, area: driver

#8296 Migrate Examples from IFluidObject to FluidObject
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/controls/layout.ts
  examples/data-objects/key-value-cache/src/index.ts
  examples/data-objects/pond/src/interfaces/interfaces.ts
  examples/data-objects/prosemirror/src/componentView.ts
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/scribe/src/scribe.ts
  examples/data-objects/search-menu/src/searchMenu.ts
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/smde/src/smde.ts
  examples/data-objects/todo/src/TodoItem/supportedComponent.ts
  examples/data-objects/vltava/src/fluidObjects/anchor/anchor.ts
  examples/data-objects/vltava/src/fluidObjects/library/embeddedFluidObject.tsx
  examples/data-objects/vltava/src/fluidObjects/tabs/dataModel.ts
  examples/data-objects/vltava/src/fluidObjects/tabs/tabs.tsx
  examples/data-objects/vltava/src/fluidObjects/vltava/dataModel.ts
  examples/data-objects/vltava/src/index.ts
  examples/data-objects/vltava/src/interfaces/fluidObjectInternalRegistry.ts
  examples/data-objects/webflow/src/editor/editor.ts
  examples/data-objects/webflow/src/html/formatters.ts
  examples/data-objects/webflow/src/view/layout.ts
  examples/hosts/app-integration/container-views/src/app.ts
  examples/hosts/host-service-interfaces/src/documentFactory.ts
  examples/hosts/hosts-sample/src/utils.ts
  examples/hosts/iframe-host/src/inframehost.ts
  examples/hosts/iframe-host/src/inner.ts
  examples/hosts/iframe-host/src/outer.ts
  examples/hosts/node-host/src/cli.ts
  examples/hosts/node-host/src/utils.ts
  experimental/framework/last-edited/src/interfaces.ts
  experimental/framework/react/src/helpers/getFluidState.ts
  experimental/framework/react/src/helpers/getViewFromFluid.ts
  experimental/framework/react/src/interface.ts
  experimental/framework/react/src/syncedDataObject.ts
Labels: area: examples, area: dev experience

#8299 Deprecate IFluidObject Module Augmentation
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  api-report/view-interfaces.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/deltas.ts
  common/lib/container-definitions/src/index.ts
  common/lib/container-definitions/src/legacy/chaincode.ts
  common/lib/container-definitions/src/loader.ts
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
  packages/framework/view-interfaces/src/htmlView.ts
  packages/framework/view-interfaces/src/mountableView.ts
  packages/runtime/agent-scheduler/src/agent.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/test/test-utils/src/interfaces.ts
Labels: area: framework, area: runtime, area: test, area: definitions, public api change

#8269 Removed bindToContext from IFluidDataStoreChannel
  BREAKING.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, breaking change, public api change

#8293 Access sharingLinkToRedeem from IOdspResolvedUrl.shareLinkInfo
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8311 Update most framework packages to use FluidObject over IFluidObject
  api-report/aqueduct.api.md
  api-report/data-object-base.api.md
  api-report/request-handler.api.md
  api-report/view-adapters.api.md
  packages/framework/aqueduct/src/container-services/containerServices.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/request-handlers/requestHandlers.ts
  packages/framework/aqueduct/src/test/defaultRoute.spec.ts
  packages/framework/aqueduct/src/utils/containerInteractions.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/request-handler/src/test/requestHandlers.spec.ts
  packages/framework/view-adapters/src/htmlview/htmlViewAdapter.tsx
  packages/framework/view-adapters/src/mountableview/mountableView.tsx
  packages/framework/view-adapters/src/react/reactViewAdapter.tsx
Labels: area: framework, public api change

#8302 Add FluidObject to Scope and FluidModule and usages
  api-report/container-loader.api.md
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/fluidModule.ts
  common/lib/container-definitions/src/runtime.ts
  examples/data-objects/prosemirror/src/prosemirror.ts
  examples/data-objects/scribe/src/scribe.ts
  lerna-package-lock.json
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loader.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: examples, area: framework, area: runtime, area: loader, dependencies, area: definitions, public api change

#8314 Enable per message deflate on server
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server

#8200 Replace generateSummaries with disableSummaries
  api-report/container-runtime.api.md
  lerna-package-lock.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/tools/replay-tool/src/helpers.ts
  server/tinylicious/package-lock.json
Labels: area: server, area: runtime, dependencies, area: test, public api change

#8233 Replace createCreateNewRequest with createOdspCreateContainerRequest
  BREAKING.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/tools/webpack-fluid-loader/src/odspUrlResolver.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8315 Add functionality to AgentScheduler and its factory to make it easier to use as a child instance
  packages/runtime/agent-scheduler/README.md
  packages/runtime/agent-scheduler/src/scheduler.ts
Labels: area: runtime

#8230 add global db connection to alfred
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/copier/index.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
Labels: area: server

#8327 Revert #7917 - Used attachGraph instead of bindToContext to bind and attach data store runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/pendingOps.spec.ts
Labels: area: runtime, area: test

#8329 Revert #7917 - Used attachGraph instead of bindToContext to bind and attach data store runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test

#8331 Fix driver type in order to skip blob related tests for FRS
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: test

#8301 Better link-checking for docs PRs
  .github/workflows/data/linkcheck-failure.md
  .github/workflows/data/linkcheck-success.md
  .github/workflows/website-validation.yml
  docs/README.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/updates/v0.50.md
  docs/package-lock.json
  docs/package.json
  docs/skipped-urls.txt
Labels: documentation, area: build, area: website

#8336 Git WholeSummary fix: use versionId not sha
  server/routerlicious/packages/services-shared/src/wholeSummaryReadGitManager.ts
Labels: area: server

#8332 Scope public exposure on merge-tree package
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: dds, area: dds: sharedstring, public api change

#8341 Revert #8269 - Removed bindToContext from IFluidDataStoreChannel
  BREAKING.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, breaking change, public api change

#8313 Type validate runtime definition packages
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.51.1.ts
Labels: area: runtime, dependencies

#7028 Add summary telemetry doc
  docs/content/docs/deep/summaryTelemetry.md
Labels: documentation, community-contribution

#8343 Revert #7917 - Used attachGraph instead of bindToContext to bind and attach data store runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test

#8324 Add relayServiceAgent to IDocumentDeltaConnection corresponding to IConnected interface
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: odsp-driver

#8351 Update IErrorBase to extend Error and include getTelemetryProperties
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/error.ts
Labels: area: definitions, public api change

#8340 Release notes for 0.51.
  docs/content/docs/updates/v0.48.md
  docs/content/docs/updates/v0.50.md
  docs/content/docs/updates/v0.51.md
  docs/content/docs/updates/v0.52.md
Labels: documentation

#8345 Bump build tools regen type tests
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-definitions/src/test/types/validate0.20.0.ts
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/test/types/validate0.32.1.ts
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.39.8.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.39.8.ts
  common/lib/driver-definitions/src/test/types/validate0.40.0.ts
  common/lib/driver-definitions/src/test/types/validate0.41.0.ts
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  server/historian/package.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#8354 FluidObject: Add Breaking note, and update remaining non-synthesize cases
  BREAKING.md
  api-report/aqueduct.api.md
  api-report/datastore.api.md
  api-report/runtime-utils.api.md
  api-report/sequence.api.md
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/src/handles.ts
  examples/data-objects/prosemirror/src/componentView.ts
  packages/dds/sequence/src/sparsematrix.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/runtime/datastore/src/fluidHandle.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/remoteObjectHandle.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, breaking change, area: dds: sharedstring, area: definitions, public api change

#8322 remove deprecated close functions from client packages
  api-report/driver-base.api.md
  api-report/file-driver.api.md
  api-report/iframe-driver.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/file-driver/src/fileDocumentDeltaConnection.ts
  packages/drivers/iframe-driver/src/innerDocumentDeltaConnection.ts
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/test-loader-utils/src/mockDocumentDeltaConnection.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
Labels: area: loader, area: driver, area: test, public api change

#8333 Quick fix for the current issue with updating snapshots
  packages/test/snapshots/package.json
  packages/test/snapshots/src/generateNewSnapshotFiles.ts
  packages/test/snapshots/src/test/generate/new.spec.ts
  packages/test/snapshots/src/test/generate/update.spec.ts
  packages/test/snapshots/src/updateSnapshotFiles.ts
Labels: area: test

#8357 policy-check fix
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: driver, area: odsp-driver

#8330 Add fetch reason string to storage and deltastorage apis
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#8355 Add agent string to IConnect/IConnected messages and log in telemetry.
  lerna-package-lock.json
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, area: driver, dependencies, area: odsp-driver

#7831 Write some words about fluid error format
  docs/content/docs/testing/debugging.md
  docs/content/docs/testing/telemetry.md
Labels: documentation

#8178 @fluid-exoerimental/property-binder TS conversion [3/4]
  experimental/PropertyDDS/examples/partial-checkout/src/app.tsx
  experimental/PropertyDDS/examples/partial-checkout/src/demo/squaresApp.ts
  experimental/PropertyDDS/examples/partial-checkout/src/view.tsx
  experimental/PropertyDDS/examples/property-inspector/src/inspector.tsx
  experimental/PropertyDDS/packages/property-binder/index.d.ts
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IDefineDataBindingOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IDefineRepresentationOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IRegisterOnPathOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IRegisterOnPropertyOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IStatelessDataBindingOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/baseContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/base_context.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinder.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinding.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBindingRegistry.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBindingTree.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binder.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binding.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binding_tree.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/fluid_binder.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/internalUtils.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/internal_utils.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/modificationContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/modification_context.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/removalContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/statelessDataBinding.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/stateless_data_binding.js
  experimental/PropertyDDS/packages/property-binder/src/external/utils/nestedObjectHelpers.ts
  experimental/PropertyDDS/packages/property-binder/src/index.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/activationQueryCacheHelper.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/dataBinderHandle.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/propertyElement.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/statelessDataBindingWrapper.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/typeGuards.ts
  experimental/PropertyDDS/packages/property-binder/src/test/absolute_path.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/activation_tests.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/catchConsoleError.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binder.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binding_tree.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/es6_data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/es6_decorator_data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/general.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/internal_utils.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/mockSharedPropertyTree.ts
  experimental/PropertyDDS/packages/property-binder/src/test/onDemandDataBinding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/property_element.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/references.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/runtime_models.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/semver_bindings.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/semver_reps.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/stateless_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/testDataBindings.js
  experimental/PropertyDDS/packages/property-changeset/src/helpers/typeidHelper.ts
  experimental/PropertyDDS/packages/property-changeset/src/index.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
Labels: area: dds: propertydds, community-contribution

#8349 Move tsd tests to normal build
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/test/types/fluidObjectTypes.ts
  lerna-package-lock.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/jsonable..ts
Labels: area: runtime, dependencies, area: definitions

#8338 r11s-driver: remove duplicate cache put code
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver

#8376 [bump] package version for driver-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: test, area: dds: propertydds, area: odsp-driver, area: definitions

#8236 Fluid + MS Teams Recipe
  docs/content/docs/recipes/teams.md
Labels: documentation

#8378 [bump] package version for container-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#8379 Use the old deprecated share link field to have back compat
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#8380 [0.50 > 0.51]: Use the old deprecated share link field to have back compat (#8379)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#8342 Moved GC unreferenced timer logic from data stores layer to container runtime
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
Labels: area: runtime, area: test, public api change

#8384 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/azure-service-utils/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#8352 Start publishing fetch-tool
  packages/drivers/fluidapp-odsp-urlResolver/README.md
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/src/packageVersion.ts
  packages/drivers/fluidapp-odsp-urlResolver/src/urlResolver.ts
  packages/tools/fetch-tool/LICENSE
  packages/tools/fetch-tool/README.md
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetchInit.ts
Labels: area: driver, area: odsp-driver

#8391 Bump Build Tools For Type Validation Fix
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/test/types/validate0.41.0.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.52.0.ts
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#8402 Bump dependencies version
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: dependencies

#8399 don't send rejoin op when reconnecting with pending ops
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test

#8400 don't send rejoin op when reconnecting with pending ops
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test

#8401 don't send rejoin op when reconnecting with pending ops
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: test

#8404 Update build tools and re-enable type validation on protocol defs
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/.eslintrc.js
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/tsconfig.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/container-runtime-definitions/tsconfig.json
  packages/runtime/datastore-definitions/.eslintrc.js
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/tsconfig.json
  packages/runtime/datastore-definitions/src/test/types/jsonable..ts
  packages/runtime/datastore-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/datastore-definitions/tsconfig.json
  packages/runtime/runtime-definitions/.eslintrc.js
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/tsconfig.json
  packages/runtime/runtime-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/runtime-definitions/tsconfig.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#8406 Restoring sharingLinkToRedeem property in main
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8387 Revert `sharingLinkToRedeem` property in release/0.52
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8198 Add cache expiry
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver

#8085 Add FRS support for fetch-tool
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/framework/azure-client/.eslintrc.js
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/AzureUrlResolver.ts
  packages/tools/fetch-tool/.eslintrc.js
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  tools/build-tools/data/layerInfo.json
Labels: area: framework, area: driver

#8229 Pass proper args to listeners when invoked in newListener
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: test

#8415 Re-enable SharedCell compat tests
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: test

#7527 Tracking lifetime of file in summary and adding telemetry
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
Labels: area: runtime, area: test

#8405 Add fetch reason in fetch ops call in delta manager
  api-report/driver-utils.api.md
  api-report/routerlicious-driver.api.md
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/parallelRequests.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change

#8081 Create tutorial doc on FF.com for Collaborative Text Area using SharedString and React
  docs/content/docs/recipes/collaborative-text-area.md
Labels: documentation

#8350 Stress: Enable per driver loader and container option overloading
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
Labels: area: test

#8328 [Phase 1 of IContainer Changes] Update IContainer to match Bohemia-used functions from public Container interface
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/container-definitions/src/test/types/validate0.41.0.ts
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
Labels: breaking change, area: definitions, public api change

#8419 Remove path() from RemoteFluidObjectHandle class
  packages/runtime/runtime-utils/src/remoteObjectHandle.ts
Labels: area: runtime

#8418 removed unneeded block in readBlobCore
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver

#8425 Remove getlegacyInterval() and delete() from sequence dds
  BREAKING.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: dds, breaking change, area: dds: sharedstring, area: test, public api change

#8426 Update repo to use the new 0.43 container-definitions package with updated IContainer
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds

#8428 Updated snapshot() in container runtime to use summarize() internally
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
Labels: area: runtime

#8381 make search mixin more generic
  api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, public api change

#8385 remove readOnly and readOnlyPermissions from container-loader
  BREAKING.md
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: runtime, area: loader, breaking change, area: test, public api change

#8310 Improving error table: fewer errors, better tracking for fetch errors
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: loader, area: driver, area: odsp-driver

#8427 Changed performance.now() to Date.now() for unix timestamps
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime

#8303 Logging hardware-related telemetry in containerRuntime
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
Labels: area: runtime, public api change

#8432 Remove loader property from test-runtime-utils
  BREAKING.md
  api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, breaking change, public api change
