Repository microsoft/FluidFramework, pull requests merged in 2021-08, with the labels that each got.

#6952 Prrajen/scribe metrics
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server

#6953 Prrajen/scribe metrics
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server

#6869 Remove existing property - Part 6, IFluidDataStoreRuntime
  BREAKING.md
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/codemirror/src/codemirror.ts
  examples/data-objects/key-value-cache/src/index.ts
  examples/data-objects/prosemirror/src/prosemirror.ts
  examples/data-objects/scribe/src/scribe.ts
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/document.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/shared-text/src/utils.ts
  examples/data-objects/smde/src/smde.ts
  experimental/PropertyDDS/examples/partial-checkout/src/dataObject.ts
  experimental/PropertyDDS/examples/property-inspector/src/dataObject.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/runtime/agent-scheduler/src/scheduler.ts
  packages/runtime/client-api/src/api/codeLoader.ts
  packages/runtime/client-api/src/api/document.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/test/local-server-tests/src/test/localTestServer.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-utils/src/testFluidObject.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: dds: propertydds, area: examples, area: framework, area: runtime, area: test, breaking change

#6949 QuorumProxy: move to client, adjust event lister warning limit
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/quorum.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: loader, area: server, breaking change

#6939 Fix deli server metadata issue
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/test-utils/src/messageFactory.ts
Labels: area: server

#6955 Fix ordered client election loggers
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/orderedClientElection.ts
Labels: area: runtime

#6618 r11s-driver: expose minBlobSize config via driver policies
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
Labels: area: driver

#6954 Fetching ops from PUSH
  packages/drivers/driver-base/package.json
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver

#6932 Small optimization - push() always went through processDeltas(), even on paused connection
  packages/loader/container-loader/src/deltaQueue.ts
Labels: area: loader

#6947 Better telemetry for fetching ops
  api-report/driver-utils.api.md
  packages/drivers/odsp-driver/src/opsCaching.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/parallelRequests.ts
Labels: area: driver, area: loader, area: odsp-driver, breaking change

#6909 Throttler unit tests
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/throttler.spec.ts
  packages/runtime/container-runtime/src/throttler.ts
Labels: area: runtime

#6934 E2E Pipeline: Run Local to get baseline logs
  tools/pipelines/test-real-service.yml
Labels: area: build

#6959 Fewer events in stress tests
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime

#6824 Support changing Interval properties via PropertiesManager
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test

#6963 Add if-match header while summary upload
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver

#6885 Test summarizer node
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
Labels: area: runtime

#6966 Adding tracking of get_ops PUSH requests
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#6908 Extract request summarizer from SummaryManager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#6967 Add some more throttler tests
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/throttler.spec.ts
  packages/runtime/container-runtime/src/throttler.ts
Labels: area: runtime

#6907 Pull out opsUntilFirstConnect check and use opsSinceLastAck instead
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#6970 Docs: Add package placeholder
  docs/content/docs/build/overview.md
  docs/content/docs/build/packages.md
Labels: documentation

#6925 Snapshot tests: Added option to generate new reference snapshot files
  packages/test/snapshots/README.md
  packages/test/snapshots/package.json
  packages/test/snapshots/src/generateNewSnapshotFiles.ts
  packages/test/snapshots/src/replayMultipleFiles.ts
  packages/test/snapshots/src/updateSnapshotFiles.ts
Labels: area: test

#6964 Clarify intent of new hash fallback chunk
  BREAKING.md
  common/lib/common-utils/src/hashFileBrowser.ts
Labels: breaking change

#6978 Add more logging and recovery attempts for stalled connection
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: driver, area: loader

#6981 Broken 🔗. 😢
  docs/content/docs/deep/service.md
Labels: community-contribution, documentation

#6983 Add explicit types for some public APIs
  api-report/driver-utils.api.md
  packages/loader/driver-utils/src/network.ts
  packages/test/test-drivers/src/factory.ts
Labels: area: loader, area: test, breaking change

#6918 hot fix: change compressSmallBlobs level to 2
  api-report/driver-utils.api.md
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/loader/driver-utils/src/test/blobAggregation.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: loader, area: runtime, breaking change

#6944 Scribe metrics
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server

#6985 hot fix: change compressSmallBlobs level to 2 (#6918)
  api-report/driver-utils.api.md
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/loader/driver-utils/src/test/blobAggregation.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: loader, area: runtime, breaking change

#6987 policy-check, fixed assert message
  packages/loader/driver-utils/src/blobAggregationStorage.ts
Labels: area: loader

#6942 Snapshot tests: Enabled GC and added ability to test snapshots created via detached container
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/snapshots/src/replayMultipleFiles.ts
Labels: area: runtime, area: test

#6916 Test summary manager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime

#6990 Shared object cleanup
  packages/dds/shared-object-base/src/sharedObject.ts
Labels: area: dds

#6993 Fix shared Internal e2e tests
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: test

#6994 Adjustments based on latest scalability run
  api-report/container-loader.api.md
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: loader, area: odsp-driver, breaking change

#6897 Canvas view/model separation
  examples/data-objects/canvas/package.json
  examples/data-objects/canvas/src/canvas.ts
  examples/data-objects/canvas/src/index.ts
  examples/data-objects/canvas/src/view.tsx
  examples/data-objects/canvas/test/canvas.test.ts
  examples/data-objects/canvas/tsconfig.json
Labels: area: examples

#6913 React view/model separation
  examples/apps/likes-and-comments/README.md
  examples/apps/likes-and-comments/package.json
  examples/apps/likes-and-comments/src/app.tsx
  examples/apps/likes-and-comments/src/fluidObject.ts
  examples/data-objects/clicker-react/clicker-context/package.json
  examples/data-objects/clicker-react/clicker-context/src/index.tsx
  examples/data-objects/clicker-react/clicker-function/package.json
  examples/data-objects/clicker-react/clicker-function/src/index.tsx
  examples/data-objects/clicker-react/clicker-react/package.json
  examples/data-objects/clicker-react/clicker-react/src/index.tsx
  examples/data-objects/clicker-react/clicker-reducer/package.json
  examples/data-objects/clicker-react/clicker-reducer/src/index.tsx
  examples/data-objects/clicker-react/clicker-with-hook/package.json
  examples/data-objects/clicker-react/clicker-with-hook/src/index.tsx
  experimental/framework/react/README.md
  experimental/framework/react/package.json
  experimental/framework/react/src/syncedDataObject.ts
Labels: area: dev experience, area: examples

#7001 Adding Fetch timeouts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
Labels: area: driver, area: odsp-driver

#7006 Moving off method from LocalDocumentDeltaConnection.create() and adding connected property expected on socket
  server/routerlicious/packages/local-server/src/localWebSocketServer.ts
Labels: area: server

#7008 Don't try to insert blob if already present
  server/routerlicious/packages/test-utils/src/test/testsForHistorian.spec.ts
  server/routerlicious/packages/test-utils/src/testHistorian.ts
Labels: area: server

#6984 Snapshot tests: Added information to README on adding and updating and submitting changes to snapshots
  packages/test/snapshots/README.md
  packages/test/snapshots/src/replayMultipleFiles.ts
Labels: area: test

#7009 Guarantee expected op ordering in conflicting changeProperties test
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: test

#6879 Primitives example view/model separation
  examples/data-objects/primitives/package.json
  examples/data-objects/primitives/src/ddsCollection.tsx
  examples/data-objects/primitives/src/index.ts
  examples/data-objects/primitives/src/main.tsx
  examples/data-objects/primitives/src/map.tsx
  examples/data-objects/primitives/src/model.ts
  examples/data-objects/primitives/src/primitivesInstantiationFactory.ts
  examples/data-objects/primitives/src/view.tsx
Labels: area: examples

#6965 Image gallery example view/model separation
  examples/data-objects/image-gallery/package.json
  examples/data-objects/image-gallery/src/index.ts
  examples/data-objects/image-gallery/src/index.tsx
  examples/data-objects/image-gallery/src/model.ts
  examples/data-objects/image-gallery/src/view.tsx
  examples/data-objects/image-gallery/webpack.config.js
  lerna-package-lock.json
Labels: area: examples, dependencies

#6489 Deprecate unused DriverErrorType.genericError
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/driverError.ts
Labels: breaking change, area: definitions

#6998 Remove stop() from IRuntime
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  examples/hosts/iframe-host/src/inframehost.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: examples, area: runtime, breaking change, area: definitions

#7012 Implement CreateProcessingError using normalizeError
  api-report/container-utils.api.md
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/container-utils/src/test/errorTypeLoggingTest.spec.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: runtime, area: loader, breaking change

#6961 Introduce UsageError to replace some asserts
  api-report/container-utils.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/error.ts
  packages/dds/merge-tree/src/client.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-utils/src/error.ts
Labels: area: loader, area: dds, breaking change, area: definitions

#7020 Expose R11s WholeSummaryUpload functionality in client
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/tools/webpack-fluid-loader/README.md
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/multiDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: area: driver

#6926 Add hooks for taggedLogger in the runtime.
  BREAKING.md
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: runtime, area: loader, breaking change

#7005 Removing legacy container creation path from `container.load()`
  BREAKING.md
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: loader, breaking change

#7022 Optionally have Alfred generate a container id on creation
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
Labels: area: server

#7017 Fixing a bug: always fetching ops from PUSH
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
Labels: area: driver, area: odsp-driver

#7003 fix blobManager assert tripped after serialization/rehydration
  packages/loader/container-loader/src/utils.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: loader, area: test

#7024 policy check fix
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/ReadBufferUtils.ts
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver

#6867 Add documentation to FF.com for SharedMap
  docs/content/docs/data-structures/map.md
Labels: documentation

#6962 Integrate new binary snapshot format in odsp driver
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/multiDocumentServiceFactory.ts
Labels: area: driver, area: test, area: odsp-driver, public api change

#7026 Markdown-lint fixes
  docs/content/docs/data-structures/map.md
Labels: documentation

#7031 version mismatch in experimental/frs-client while bumping to 0.45.0
  experimental/framework/frs-client/package.json
Labels: area: dev experience

#7027 Fix naming on returned objects in docs
  docs/content/docs/build/audience.md
  docs/content/docs/build/data-modeling.md
Labels: documentation

#6958 Improved logging of ODSP error responses
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/facetCode.spec.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: odsp-driver

#6982 Append dev-defined user properties to the JWT token
  api-report/frs-client.api.md
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/view.ts
  experimental/framework/frs-client/src/FrsAudience.ts
  experimental/framework/frs-client/src/FrsAzFunctionTokenProvider.ts
  experimental/framework/frs-client/src/interfaces.ts
Labels: area: examples, area: dev experience, public api change

#7035 [bump] package version for server (patch)
  examples/hosts/app-integration/external-controller/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: examples, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#6991 Ensure `flush` cannot be called from `orderSequentially`'s callback in `ContainerRuntime`
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime

#7014 Remove audience error logging in container
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7042 [main -> 0.45] Port audience log removal
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7043 Update tenant manager to include documentId
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server

#7038 r11s: Explicitly allow blank document ids on create doc only
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server

#7050 Remove extraneous devDependency from frs-client
  experimental/framework/frs-client/package.json
Labels: area: dev experience

#7051 Remove extraneous devDependency from frs-client
  experimental/framework/frs-client/package.json
Labels: area: dev experience

#7057 Use path-browserify instead of node path in server-services-telemetry
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
Labels: area: server

#7010 Use common-utils instead of shajs in odsp-driver
  BREAKING.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspPublicUtils.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#7056 Update server dependencies in Historian
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server

#7037 r11s-driver: Use containerID from server as source of truth
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
Labels: area: driver

#7062 [main -> 0.45] Port change to use path-browserify instead of node path
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
Labels: area: server

#7063 [main -> 0.45] Port change to use common-utils hash in odsp-driver
  BREAKING.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspPublicUtils.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#7058 changed comment of disableIsolatedChannels
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime

#7066 [0.45] Bump server dep to 0.1028.1 following patch release
  examples/hosts/app-integration/external-controller/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: examples, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#7067 [0.45] Bump package version for Server (patch)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#7068 [main] Bump server dependency to latest release from prerelease
  examples/hosts/app-integration/external-controller/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: examples, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#6854 Add preliminary doc for testing/automation
  docs/content/docs/testing/debugging.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/testing.md
  docs/content/docs/testing/tinylicious.md
Labels: documentation

#7059 Move cra-demo to FluidExamples
  examples/apps/cra-demo/.env
  examples/apps/cra-demo/.gitignore
  examples/apps/cra-demo/LICENSE
  examples/apps/cra-demo/README.md
  examples/apps/cra-demo/package.json
  examples/apps/cra-demo/public/index.html
  examples/apps/cra-demo/public/manifest.json
  examples/apps/cra-demo/public/robots.txt
  examples/apps/cra-demo/src/App.js
  examples/apps/cra-demo/src/index.js
  package.json
Labels: area: examples

#7087 Small telemetry adjustments based on analyzing stress tests.
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver

#7085 Rework non-immediate noop sending logic (send them more often)
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader

#7092 [0.45] Rework non-immediate noop sending logic (send them more often) (#7085)
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader

#7093 Disable running it in strees test for now
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: test, area: odsp-driver

#7025 ODSP driver: Tell PUSH if client supports get_ops flow
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/sockets.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change

#7052 FRS documentation with TokenProvider and Azure function
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

#7096 Revert 1c141b - PR #6935
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change

#6940 Replace CreateContainerError usages with either normalizeError or new GenericError
  api-report/container-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/container-utils/src/test/errorTypeLoggingTest.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
Labels: area: runtime, area: loader, area: test, public api change

#7098 Revert 1c141b - PR #6935 (Main)
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change

#7100 [main -> 0.45] Bump socket.io-client dep from 2.1.1 to 2.4.0 to resolve security iss…
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
Labels: area: driver, area: odsp-driver

#7088 Enable Alfred and Scribe to upload using one single call to storage
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/services-client/src/storage.ts
  server/routerlicious/packages/services-client/src/storageContracts.ts
  server/routerlicious/packages/services-client/src/summaryTreeUploadManager.ts
  server/routerlicious/packages/services-client/src/wholeSummaryUploadManager.ts
  server/routerlicious/packages/services-shared/src/storage.ts
Labels: area: server

#7104 Add server-side doc id generation to Tinylicious
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/routes/ordering/documents.ts
Labels: area: server

#7030 Put arraybuffer contents in blobs while rehydrating container
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, area: driver, area: odsp-driver

#7047 Session metrics
  server/routerlicious/packages/lambdas/src/deli/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/deli/utils.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/src/kafka-service/command.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-core/src/messages.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-telemetry/src/lumber.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server

#7107 [0.45] Add assert tags
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7103 Fix contents of blobs when binary contents are specified for r11s driver
  packages/drivers/routerlicious-driver/src/createNewUtils.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
Labels: area: driver, area: r11s-driver

#7109 [0.45->main] Add assert tags (#7107)
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7086 PUSH's flush_ops() implementation
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/sockets.ts
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver, public api change

#6986 We may miss "disconnected" event on socket
  api-report/driver-base.api.md
  lerna-package-lock.json
  package-lock.json
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: area: driver, dependencies, public api change

#7114 Bug fix and added whole summary option as config.
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server

#7064 remove document id from IFluidDataStoreContext and IFluidDataStoreRuntime
  BREAKING.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  examples/data-objects/client-ui-lib/src/controls/flowContainer.ts
  examples/data-objects/vltava/src/fluidObjects/vltava/dataModel.ts
  examples/data-objects/vltava/src/fluidObjects/vltava/view.tsx
  packages/runtime/client-api/src/api/document.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: examples, area: runtime, breaking change, public api change

#7115 Fix tinylicious
  server/tinylicious/package.json
  server/tinylicious/src/index.ts
Labels: area: server

#7117 fixed tinylicious server readme extra word
  server/tinylicious/README.md
Labels: area: server

#7116 Strip .app in buildHeirarchy from protocol-base
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/blobs.ts
Labels: area: server, public api change

#7097 Added test for validation audience correctness
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
Labels: area: test

#7118 Upgrade server deps in client packages
  examples/hosts/app-integration/external-controller/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/dds/xtree/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#7119 [0.45] get_ops flow is broken due to raising events on wrong object
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#7090 Removed gcData from summarize
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/types.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/tools/replay-tool/src/unknownChannel.ts
Labels: area: runtime, area: dds, area: test, public api change

#7105 Disable TLS 1.0 and 1.1 in Nginx Ingress Controller for security reasons
  server/routerlicious/kubernetes/nginx/README.md
  server/routerlicious/kubernetes/nginx/config/nginx.tmpl
Labels: area: server, community-contribution

#7123 get_ops flow is broken due to raising events on wrong object.
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#7045 Introduce errorInstanceId for errors telemetry
  api-report/container-runtime.api.md
  api-report/container-utils.api.md
  api-report/telemetry-utils.api.md
  lerna-package-lock.json
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: runtime, area: loader, dependencies, public api change

#7122 Start running e2e test targeting tinylicious in realsvc pipeline
  packages/test/test-end-to-end-tests/package.json
  tools/pipelines/test-real-service.yml
Labels: area: build, area: test

#7101 Move tinylicious-client from experimental/framework -> packages/framework
  BREAKING.md
  api-report/tinylicious-client.api.md
  docs/PACKAGES.md
  docs/content/docs/build/overview.md
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/app.ts
  experimental/framework/fluid-static/CHANGELOG.md
  packages/framework/tinylicious-client/.eslintrc.js
  packages/framework/tinylicious-client/.gitignore
  packages/framework/tinylicious-client/.npmignore
  packages/framework/tinylicious-client/CHANGELOG.md
  packages/framework/tinylicious-client/LICENSE
  packages/framework/tinylicious-client/README.md
  packages/framework/tinylicious-client/api-extractor.json
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousAudience.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/index.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  packages/framework/tinylicious-client/src/test/tsconfig.json
  packages/framework/tinylicious-client/tsconfig.esnext.json
  packages/framework/tinylicious-client/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: documentation, area: examples, area: framework, area: dev experience, breaking change, area: website, public api change

#7084 Change references to "frs" -> "azure" in service-specific client packages
  BREAKING.md
  api-report/azure-client.api.md
  docs/content/docs/build/auth.md
  docs/content/docs/build/overview.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/start/quick-start.md
  docs/content/docs/start/react-tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/testing.md
  examples/hosts/app-integration/external-controller/README.md
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/view.ts
  experimental/framework/frs-client/CHANGELOG.md
  packages/framework/azure-client/.eslintrc.js
  packages/framework/azure-client/.gitignore
  packages/framework/azure-client/.npmignore
  packages/framework/azure-client/CHANGELOG.md
  packages/framework/azure-client/LICENSE
  packages/framework/azure-client/README.md
  packages/framework/azure-client/api-extractor.json
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/AzureAudience.ts
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/AzureFunctionTokenProvider.ts
  packages/framework/azure-client/src/AzureUrlResolver.ts
  packages/framework/azure-client/src/index.ts
  packages/framework/azure-client/src/interfaces.ts
  packages/framework/azure-client/src/packageVersion.ts
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/azure-client/src/test/AzureClientFactory.ts
  packages/framework/azure-client/src/test/tsconfig.json
  packages/framework/azure-client/tsconfig.esnext.json
  packages/framework/azure-client/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: documentation, area: examples, area: framework, area: dev experience, breaking change, public api change

#7126 fix blob test failing on r11s
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: test

#7108 Rename uber package to drop "@fluid-experimental" scope
  BREAKING.md
  api-report/azure-client.api.md
  api-report/fluid-framework.api.md
  api-report/tinylicious-client.api.md
  docs/PACKAGES.md
  docs/api-documenter.json
  docs/content/docs/start/react-tutorial.md
  docs/data/packages.yaml
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/controller.ts
  examples/hosts/app-integration/external-controller/tests/index.ts
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/AzureAudience.ts
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/interfaces.ts
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/fluid-framework/.eslintrc.js
  packages/framework/fluid-framework/.gitignore
  packages/framework/fluid-framework/.npmignore
  packages/framework/fluid-framework/LICENSE
  packages/framework/fluid-framework/README.md
  packages/framework/fluid-framework/api-extractor.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/aqueduct.ts
  packages/framework/fluid-framework/src/fluidStatic.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-framework/src/map.ts
  packages/framework/fluid-framework/src/mergeTree.ts
  packages/framework/fluid-framework/src/sequence.ts
  packages/framework/fluid-framework/tsconfig.esnext.json
  packages/framework/fluid-framework/tsconfig.json
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousAudience.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  tools/build-tools/data/layerInfo.json
Labels: documentation, area: examples, area: framework, breaking change, area: website, public api change

#7133 Move fluid-static from experimental/framework -> packages/framework
  BREAKING.md
  api-report/fluid-framework.api.md
  api-report/fluid-static.api.md
  docs/PACKAGES.md
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/focus-tracker/src/app.ts
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/tests/index.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/fluidStatic.ts
  packages/framework/fluid-static/.eslintrc.js
  packages/framework/fluid-static/.gitignore
  packages/framework/fluid-static/.npmignore
  packages/framework/fluid-static/CHANGELOG.md
  packages/framework/fluid-static/LICENSE
  packages/framework/fluid-static/README.md
  packages/framework/fluid-static/api-extractor.json
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/framework/fluid-static/src/signalManager.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
  packages/framework/fluid-static/tsconfig.esnext.json
  packages/framework/fluid-static/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: area: examples, area: framework, breaking change, area: website, public api change

#7140 Update PACKAGES.md to reflect current repo
  docs/PACKAGES.md
Labels: area: website

#7019 Add a hook for an event that will fire on changes to Interval properties
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: test, public api change

#7142 Fixed not waiting for clients to get to connected state in Audience tests
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
Labels: area: test

#7110 use "container" type payload when uploading summary in attach() with blobs
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver

#7143 Adjust latency telemetry based on recent regression in scalability runs experience
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime

#7144 Remove fluid:telemetry:OdspDriver:GetDeltas_cancel
  packages/loader/driver-utils/src/parallelRequests.ts
Labels: area: loader

#7146 [TEST PR] Testing Kafka TLS changes
  server/routerlicious/Dockerfile
  server/routerlicious/docker-compose.dev.yml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server

#7150 remove value from DB close log
  server/routerlicious/packages/services-core/src/mongo.ts
Labels: area: server

#7154 Rename FrsAzTokenProvider -> AzureFunctionTokenProvider o FF website
  docs/content/docs/deployment/azure-frs.md
Labels: documentation

#7127 Adjust noop frequency up from 250ms to 2s based on feedback from ODSP TAP 40 scalability run.
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7148 Enable using multiple account for odsp e2e
  api-report/odsp-driver-definitions.api.md
  api-report/tool-utils.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/test/test-drivers/src/odspDriverApi.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
  tools/pipelines/test-real-service.yml
Labels: area: driver, area: build, area: test, area: odsp-driver, public api change

#7157 [0.45] Adjust nop frequency up from 250ms to 2s based on feedback from ODSP TAP 40 scalability run
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#7161 Enable multiuser account for stress test
  packages/utils/tool-utils/src/fluidToolRC.ts
  tools/pipelines/test-real-service-stress.yml
Labels: area: build

#7141 Enforce single-use tokens in R11s createDocument API
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/services-client/src/auth.ts
  server/routerlicious/packages/services-core/src/cache.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testCache.ts
Labels: area: server

#7165 Allow changing local lambda controller setup type
  server/routerlicious/packages/memory-orderer/src/localLambdaController.ts
Labels: area: server

#7159 Update CI pipeline to support non-scoped packages
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build

#7166 Move summary nack messages logic to deli
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-core/src/messages.ts
Labels: area: server

#7167 Explicitly set perMessageDeflate flag
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server

#7168 Introduce RestLessServer and RestLessClient in R11s
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restLessClient.ts
  server/routerlicious/packages/services-shared/.eslintrc.js
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/test/restLess.spec.ts
  server/routerlicious/packages/services-shared/src/test/tsconfig.json
  server/routerlicious/packages/services-shared/tsconfig.json
Labels: area: server

#7174 Fixing parameters when creating Routerlicious driver's DocumentStorageService
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver

#7172 Add option to always record telemetry during token fetch
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver, public api change

#7182 WebPack: Remove invalid/unused '--package' arg
  .devcontainer/devcontainer.json
  examples/apps/collaborative-textarea/package.json
  examples/data-objects/badge/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker-react/clicker-context/package.json
  examples/data-objects/clicker-react/clicker-function/package.json
  examples/data-objects/clicker-react/clicker-react/package.json
  examples/data-objects/clicker-react/clicker-reducer/package.json
  examples/data-objects/clicker-react/clicker-with-hook/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/image-gallery/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/musica/package.json
  examples/data-objects/pond/package.json
  examples/data-objects/primitives/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/simple-fluidobject-embed/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/todo/package.json
  examples/data-objects/vltava/package.json
  examples/data-objects/webflow/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  tools/generator-fluid/app/templates/package.json
Labels: area: examples

#7176 Update Tinylicious to use socket.io v4
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/resourcesFactory.ts
  server/tinylicious/src/services/pubSubPublisher.ts
  server/tinylicious/src/services/webServerFactory.ts
  server/tinylicious/src/test/tsconfig.json
Labels: area: server

#7181 Fix published path for server docker builds, optional NOTICE, and test docker image tag
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/include-generate-notice-steps.yml
Labels: area: build

#7171 Adding TLS support for rdkafka and other Kafka changes
  server/routerlicious/Dockerfile
  server/routerlicious/docker-compose.dev.yml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/README.md
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server

#7162 Refactor create container client API
  .gitignore
  BREAKING.md
  api-report/azure-client.api.md
  api-report/fluid-static.api.md
  api-report/tinylicious-client.api.md
  examples/data-objects/focus-tracker/src/app.ts
  examples/hosts/app-integration/external-controller/README.md
  examples/hosts/app-integration/external-controller/src/app.ts
  packages/framework/azure-client/README.md
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/AzureUrlResolver.ts
  packages/framework/azure-client/src/interfaces.ts
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/azure-client/src/test/AzureClientFactory.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/README.md
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: examples, area: framework, breaking change, public api change

#7121 Throw errors with relevant info while parsing binary snapshot in odsp driver
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/test/zipItDataRepresentationTests.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
Labels: area: driver, area: odsp-driver

#7173 Disbale rehydrate test as older driver version is not compatible
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: test

#7190 Build script fixes to conform to repo pattern
  packages/dds/merge-tree/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/runtime/container-runtime/package.json
  packages/test/snapshots/package.json
  packages/test/test-service-load/package.json
  tools/build-tools/src/fluidBuild/fluidPackageCheck.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
Labels: area: framework, area: runtime, area: dds, area: test

#7189 Clean up version checks and deprecated calls in SharedInterval test
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: test

#7194 Issue #7151 - fluid:telemetry:DeltaManager:WrapError as an error results in same error counted multiple times
  packages/loader/container-utils/src/error.ts
Labels: area: loader
