Repository microsoft/FluidFramework, pull requests merged in 2021-12, with the labels that each got.

#8241 Optimize stack manipulations in request flow
  api-report/runtime-utils.api.md
  api-report/telemetry-utils.api.md
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/test/dataStoreHelpers.spec.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: area: runtime, public api change

#8431 remove deprecated maxMessageSize properties
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/deltas.ts
  common/lib/container-definitions/src/test/types/validate0.39.8.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/container-definitions/src/test/types/validate0.41.0.ts
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/storage.ts
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
Labels: breaking change, area: definitions, public api change

#8439 Remove intervalcollection.getView from sequence dds
  BREAKING.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, breaking change, area: dds: sharedstring, public api change

#8433 Add expiry at epochTracker layer
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver

#8440 include loaderVersion on loader logger not only container logger
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader

#8435 DataObject: Reduce Generic Arguments and Improve Type inference
  BREAKING.md
  api-report/aqueduct.api.md
  api-report/fluid-static.api.md
  examples/apps/collaborative-textarea/src/fluid-object/index.tsx
  examples/apps/contact-collection/src/dataObject.ts
  examples/apps/likes-and-comments/src/fluidObject.ts
  examples/apps/spaces/src/fluid-object/storage/spacesStorage.ts
  examples/apps/view-framework-sampler/src/dataObject.ts
  examples/data-objects/badge/src/instantiationFactory.ts
  examples/data-objects/canvas/src/index.ts
  examples/data-objects/clicker-react/clicker-context/src/index.tsx
  examples/data-objects/clicker-react/clicker-function/src/index.tsx
  examples/data-objects/clicker-react/clicker-react/src/index.tsx
  examples/data-objects/clicker-react/clicker-reducer/src/index.tsx
  examples/data-objects/clicker-react/clicker-with-hook/src/index.tsx
  examples/data-objects/clicker/src/index.tsx
  examples/data-objects/diceroller/src/main.tsx
  examples/data-objects/image-gallery/src/model.ts
  examples/data-objects/multiview/constellation-model/src/model.ts
  examples/data-objects/multiview/coordinate-model/src/model.ts
  examples/data-objects/musica/src/index.tsx
  examples/data-objects/pond/src/data-objects/clicker.tsx
  examples/data-objects/pond/src/data-objects/exampleUsingProviders.tsx
  examples/data-objects/pond/src/index.tsx
  examples/data-objects/primitives/src/model.ts
  examples/data-objects/simple-fluidobject-embed/src/index.tsx
  examples/data-objects/table-document/src/document.ts
  examples/data-objects/table-document/src/slice.ts
  examples/data-objects/table-view/src/tableview.ts
  examples/data-objects/task-selection/src/oldestClientDiceRoller.ts
  examples/data-objects/task-selection/src/taskManagerDiceRoller.ts
  examples/data-objects/todo/src/TextBox/TextBox.tsx
  examples/data-objects/todo/src/TextBox/textBoxInstantiationFactory.ts
  examples/data-objects/todo/src/TextList/textListInstantiationFactory.ts
  examples/data-objects/todo/src/Todo/todoInstantiationFactory.ts
  examples/data-objects/todo/src/TodoItem/TodoItem.tsx
  examples/data-objects/vltava/src/fluidObjects/anchor/anchor.ts
  examples/data-objects/vltava/src/fluidObjects/tabs/tabs.tsx
  examples/data-objects/vltava/src/fluidObjects/vltava/vltava.tsx
  examples/hosts/app-integration/container-views/src/model.ts
  examples/hosts/app-integration/external-views/src/dataObject.ts
  examples/hosts/hosts-sample/src/fauxComponent.ts
  experimental/examples/bubblebench/baseline/src/main.tsx
  experimental/examples/bubblebench/sharedtree/src/main.tsx
  experimental/framework/data-objects/src/kvpair/DataObject.ts
  experimental/framework/data-objects/src/signalManager/signalManager.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/react/src/syncedDataObject.ts
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/index.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/azure-client/src/test/TestDataObject.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/tinylicious-client/src/test/TestDataObject.ts
  packages/runtime/agent-scheduler/README.md
Labels: area: examples, area: framework, area: runtime, area: dev experience, breaking change, public api change

#8368 plumb mongomanager into deli
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
Labels: area: server

#8394 Deprecate codeDetailsProposed on IContainerRuntimeEvents and remove implementation
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change

#8441 update node version to slim-stretch
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
Labels: area: server

#8395 Add getCodeDetails API to aid partners in migrating off direct quorum access
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader, area: definitions, public api change

#8453 Remove zookeeper dependency in rdkafka package
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/ordering/resourcesFactory.ts
  server/routerlicious/packages/services-core/src/zookeeper.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
Labels: area: server

#8447 Reduce parallelism by removing splitTestVariants
  tools/pipelines/test-real-service.yml
Labels: area: build

#8452 [r11s] Enabling restart flag to be set by RdKafka depending on the error code
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
Labels: area: server

#8449 Rename telemetry prop and fix spelling error
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
Labels: area: driver, area: odsp-driver

#8456 [historian] Improving http-related logs
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian/config.json
  server/historian/packages/historian/package.json
Labels: area: server

#8469 [r11s and Historian] Logging path category on morgan for http requests
  server/historian/packages/historian-base/src/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server

#8479 [r11s and historian] Updating k8s configmaps to use json morganFormat
  server/charts/historian/templates/historian-configmap.yaml
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
Labels: area: server

#8478 Phase I: Add ICodeDetailsLoader to container-definitions
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, breaking change, area: definitions, public api change

#8468 Address issues from earlier downgraded connection mode change
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#8457 Remove unnecessary request pattern usages
  api-report/container-runtime.api.md
  packages/dds/shared-object-base/src/handle.ts
  packages/runtime/container-runtime/src/containerHandleContext.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, area: dds, public api change

#8444 Remove codeDetailsProposed event from IContainerRuntimeEvents
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validate0.52.0.ts
Labels: area: runtime, public api change

#8445 remove deprecated errorMessage property
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server, area: runtime, breaking change, public api change

#8484 Remove sequenced message from map and dictionary events
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/directory.spec.ts
  packages/dds/map/src/test/map.spec.ts
  packages/dds/sequence/src/mapKernelInterfaces.ts
  packages/framework/undo-redo/src/mapHandler.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: framework, area: dds, breaking change, area: dds: sharedstring, area: test, public api change

#8393 Update InsecureTokenProvider to use existing token generation library
  api-report/azure-service-utils.api.md
  packages/framework/azure-service-utils/package.json
  packages/framework/azure-service-utils/src/generateToken.ts
  packages/framework/azure-service-utils/src/index.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/insecureTokenProvider.ts
Labels: area: framework, area: runtime, public api change

#8476 Provide user credentials for load test using file.
  lerna-package-lock.json
  packages/test/test-app-insights-logger/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
Labels: dependencies, area: test

#8464 Cleanup usage of createOdspNetworkError/throwOdspNetworkError and mark SPO errors to easily identify them
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: driver, area: odsp-driver

#8465 fluid:telemetry:Container:connectedStateRejected are incorrectly issues when container is closed
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader

#8495 Removed IFluidSerializer from container runtime and deprecated it in IFluidDataStoreRuntime
  BREAKING.md
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/ot/ot/src/ot.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, area: dds, breaking change, area: dds: propertydds, public api change

#8500 Telemetry improvements for connect/disconnect
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#8228 Exceptions thrown while processing sequence ops do not result in container closure
  BREAKING.md
  api-report/shared-object-base.api.md
  packages/dds/ordered-collection/src/test/consensusOrderedCollection.spec.ts
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/sharedObject.ts
Labels: area: dds, breaking change, public api change

#8389 Moved writing GC blobs into the root of the summary tree.
  api-report/container-runtime.api.md
  api-report/garbage-collector.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
Labels: area: runtime, area: test, public api change

#8507 policy check modifications
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, area: loader

#8512 assert tagging
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/garbage-collector/src/utils.ts
Labels: area: runtime

#8505 Update Azure Function token provider to make container ID optional + audience fixes
  api-report/azure-service-utils.api.md
  api-report/test-runtime-utils.api.md
  docs/content/docs/build/tokenproviders.md
  docs/content/docs/recipes/teams.md
  packages/framework/azure-client/src/AzureFunctionTokenProvider.ts
  packages/framework/azure-service-utils/src/generateToken.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/runtime/test-runtime-utils/src/insecureTokenProvider.ts
Labels: documentation, area: framework, area: runtime, public api change

#8517 Cleaned up some back compat code in container runtime and data store runtime
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, public api change

#8423 DeltaManager: refactor out connectivity manager
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: runtime, area: loader, area: test, area: dds: propertydds

#8487 Disable deno in the VSCode workspace
  .vscode/settings.json
Labels: area: contributor experience

#8501 Remove `readAndParseFromBlobs` from `driver-utils`
  BREAKING.md
  api-report/driver-utils.api.md
  packages/loader/driver-utils/src/readAndParse.ts
Labels: area: loader, breaking change, public api change

#8528 Patch bump 1639076834438
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.43.0.ts
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: test, area: dds: propertydds, area: odsp-driver, area: definitions

#7823 Replace node-sass with dart-sass
  examples/data-objects/monaco/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  lerna-package-lock.json
Labels: area: examples, dependencies, area: dds: propertydds

#8516 Added container runtime compatibility tests to GC unreferenced timestamp tests
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/packageVersion.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/tsconfig.json
Labels: area: test

#8531 Patch bump 1639080474747
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#8525 [Phase 1.5 of 3 `IContainer` Updates] Add all casting required changes to use `IContainer` in repo
  api-report/test-utils.api.md
  packages/test/snapshots/package.json
  packages/test/snapshots/src/validateSnapshots.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/tools/replay-tool/src/replayMessages.ts
Labels: area: test, public api change

#8524 [Phase 1.5 of 3 `IContainer` Updates] Add all non-casting required changes to use `IContainer` in repo
  api-report/container-loader.api.md
  api-report/fluid-static.api.md
  examples/hosts/hosts-sample/package.json
  examples/hosts/hosts-sample/src/app.ts
  examples/hosts/hosts-sample/src/codeDetailsView.ts
  examples/hosts/hosts-sample/src/utils.ts
  examples/hosts/iframe-host/src/inframehost.ts
  examples/hosts/iframe-host/src/inner.ts
  experimental/framework/get-container/src/getFluidRelayContainer.ts
  experimental/framework/get-container/src/getSessionStorageContainer.ts
  experimental/framework/get-container/src/getTinyliciousContainer.ts
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/loader/container-loader/src/container.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, area: framework, area: loader, area: dev experience, public api change

#8537 [r11s] Leveraging NetworkError to improve HTTP communication error handling
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/routerlicious-base/src/utils/rest.ts
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
Labels: area: server, public api change

#8550 Type validator bump (runtime-utils)
  lerna-package-lock.json
  packages/runtime/runtime-definitions/package.json
Labels: area: runtime, dependencies

#8551 0.53 Type Validation Bumps
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.53.0.ts
Labels: area: runtime, dependencies

#8522 Enable client metrics.
  packages/test/test-app-insights-logger/src/appinsightstestlogger.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/leaderElection.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: test

#8552 [Historian] Updating network error handling
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian/package.json
  server/routerlicious/packages/routerlicious-base/src/utils/rest.ts
Labels: area: server

#8492 Mark ContainerRuntime.id and IContainerRuntime.id as deprected. remove usage in containerRuntime
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change

#8471 Log the connection mode before disconnect and add test
  packages/loader/container-loader/src/connectionManager.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
Labels: area: loader, area: test

#8557 Fixed legacy version not installed in container runtime compat tests
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
Labels: area: test

#8562 Fixed tsconfig for end-to-end tests writing out files to wrong folder
  packages/test/test-end-to-end-tests/src/test/tsconfig.json
Labels: area: test

#8561 Fix fluid-type-validator build in driver defs
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.43.0.ts
Labels: area: definitions

#8565 Small grammar fix in collaborative text area recipe docs and sequence DDS docs
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/recipes/collaborative-text-area.md
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, community-contribution

#8574 Remove SharedNumberSequence from shared-text and monaco
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/src/index.ts
  examples/data-objects/shared-text/src/component.ts
Labels: area: examples

#8454 Data store aliasing - Part 1
  api-report/container-runtime.api.md
  api-report/test-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: runtime, area: test, public api change

#8568 Logging web socket host name in odsp.
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#8575 Convert runtime to return IQuorumClients for getQuorum() calls
  BREAKING.md
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, breaking change, public api change

#8577 [r11s]: Renaming variable name in configureLogging
  server/routerlicious/packages/services-utils/src/logger.ts
Labels: area: server

#8251 On-demand summarization using a summarizer client created on the fly
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: test, public api change

#8536 Update Azure pipelines to use Node 14
  tools/pipelines/build-client.yml
  tools/pipelines/prod-test-harness.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-docs-steps.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build

#8580 Use connected timestamp from server
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime

#8589 Mark IDeltaManager.close() as deprecated
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/deltas.ts
Labels: area: definitions, public api change

#8542 GC: Detect references that are added between summaries.
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/garbage-collector.api.md
  api-report/runtime-definitions.api.md
  api-report/runtime-utils.api.md
  api-report/shared-object-base.api.md
  api-report/test-runtime-utils.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-utils/bench/src/index.ts
  packages/runtime/runtime-utils/src/serializer.ts
  packages/runtime/runtime-utils/src/test/serializer.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: test, public api change

#8590 Docs build: generateToken is no longer a re-export
  docs/rollup-api-data.js
Labels: area: website

#8533 Docs site: Upgrade setup-node action and enable caching
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: build

#8571 [r11s] Allow retrying and appropriate error handling in SummaryWriter operations
  server/historian/packages/historian-base/src/utils.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
Labels: area: server

#8597 [r11s] Updating Scribe to use both message and of errorMessage in ISummaryNack
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
Labels: area: server

#8587 comment on websocket url format
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#8600 Remove latest summary GC data tracking from garbage collector as it's not needed
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime

#8606 mark IContainerContext.id as deprecated
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
Labels: area: definitions, public api change

#8604 Make new `IContainer` APIs mandatory
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/container-definitions/src/test/types/validate0.41.0.ts
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
Labels: breaking change, area: definitions, public api change

#8609 Prevent duplicate create container calls
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: test

#8586 r11s: Add config for server connection timeout
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/webServer.ts
Labels: area: server

#8497 Configuration Management via MonitoringContext
  api-report/container-loader.api.md
  api-report/driver-base.api.md
  api-report/telemetry-utils.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/localStorageFeatureGates.ts
  packages/utils/telemetry-utils/src/config.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver, public api change

#8618 Fix race condition in alias tests
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#8579 Close the container on errors from inside `ContainerRuntime.orderSequentially`
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#8625 policy check fix to prepare for release
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader

#8627 fix version mismatch to prepare for release
  packages/runtime/runtime-utils/package.json
Labels: area: runtime

#8630 Fix Stress Issue: Blob write when Runtime is closed
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: test

#8593 Aqueduct: Allow multiple synthesize parents and remove DependencyContainerRegistry
  BREAKING.md
  api-report/aqueduct.api.md
  api-report/synthesize.api.md
  examples/apps/contact-collection/src/containerCode.ts
  examples/data-objects/multiview/container/src/container.tsx
  examples/data-objects/pond/src/index.tsx
  examples/data-objects/pond/src/providers/userInfo.ts
  examples/data-objects/task-selection/src/containerCode.ts
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
  packages/framework/synthesize/src/types.ts
Labels: area: examples, area: framework, breaking change, public api change

#8620 Add function for parsing error message to telemetry-utils
  api-report/telemetry-utils.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: area: driver, public api change

#8633 Stress Test: Add test Version
  lerna-package-lock.json
  packages/test/test-service-load/src/utils.ts
Labels: dependencies, area: test
