Repository microsoft/FluidFramework, pull requests merged in 2021-04, with the labels that each got.

#5718 Add sltelemetry as per request from odsp side
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver

#5723 Handle noop coalescing for counting if client should join write
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#5741 fix return type in odsp doclib utils
  packages/utils/odsp-doclib-utils/src/odspRequest.ts
Labels: api

#5765 Apply for task immediately in scheduler on removeMember
  packages/runtime/agent-scheduler/src/scheduler.ts
Labels: area: runtime

#5775 Fix tasks execution in scheduler
  packages/runtime/agent-scheduler/src/scheduler.ts
Labels: area: runtime

#3765 Added documentation Local driver database files
  packages/drivers/local-driver/src/localDeltaStorageService.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  server/routerlicious/packages/services-core/src/database.ts
Labels: status: no recent activity

#5804 Initialize time correctly in retrying getting share link
  packages/drivers/odsp-driver/src/getFileLink.ts
Labels: area: driver

#5803 Removed container url and use resolved url from container in relative loader
  BREAKING.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
Labels: area: loader

#5811 Retry attach container failures
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/container-loader/src/test/retryUtils.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader

#5839 Remove driver serialized format as it is redundant
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, testing

#5883 [main > 0.38]: Fix Retry Seconds Milliseconds Confusion
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/loader/container-loader/src/test/retryUtils.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: driver, bug

#5884 Add api in odsp driver to convert detached summary to IOdspSnapshot
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
Labels: area: driver

#5892 Always wait for removeMemver event in case the client was in quorum and had unacked ops
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader

#5928 [main > 0.38]: Always wait for removeMemver event in case the client was in quorum and had unacked ops (#5892)
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, bug

#5938 Remove options calls while fetching ops
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
Labels: area: driver, perf
