Repository microsoft/FluidFramework, pull requests merged in 2021-06, with the labels that each got.

#6309 make endpoint domain configurable
  experimental/framework/tinylicious-client/src/TinyliciousClient.ts
  experimental/framework/tinylicious-client/src/interfaces.ts
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/drivers/tinylicious-driver/src/test/insecureTinyliciousUrlResolverTest.spec.ts
Labels: area: driver

#6311 Update PACKAGES.md
  docs/PACKAGES.md
  tools/build-tools/package.json
Labels: area: tools, area: website

#6319 Delete headless agent
  server/headless-agent/.dockerignore
  server/headless-agent/.eslintrc.js
  server/headless-agent/.gitignore
  server/headless-agent/.vscode/launch.json
  server/headless-agent/Dockerfile
  server/headless-agent/README.md
  server/headless-agent/charts/headless-agent/Chart.yaml
  server/headless-agent/charts/headless-agent/templates/NOTES.txt
  server/headless-agent/charts/headless-agent/templates/_helpers.tpl
  server/headless-agent/charts/headless-agent/templates/configmap.yaml
  server/headless-agent/charts/headless-agent/templates/deployment.yaml
  server/headless-agent/charts/headless-agent/values.yaml
  server/headless-agent/client-src/fluid-loader/index.ts
  server/headless-agent/client-src/fluid-loader/tsconfig.json
  server/headless-agent/client-src/fluid-loader/webpack.config.js
  server/headless-agent/config.json
  server/headless-agent/docker-compose.debug.yml
  server/headless-agent/docker-compose.yml
  server/headless-agent/package-lock.json
  server/headless-agent/package.json
  server/headless-agent/src/index.ts
  server/headless-agent/src/puppeteer/cacheGenerator.ts
  server/headless-agent/src/puppeteer/cli.ts
  server/headless-agent/src/puppeteer/cliLogger.ts
  server/headless-agent/src/puppeteer/index.ts
  server/headless-agent/src/puppeteer/puppetMaster.ts
  server/headless-agent/src/redisCache.ts
  server/headless-agent/src/runner.ts
  server/headless-agent/src/runnerFactory.ts
  server/headless-agent/tsconfig.json
  server/headless-agent/tslint.json
Labels: area: server

#6316 Jsonable is dead, long live Jsonable!
  examples/apps/spaces/src/fluid-object/index.tsx
  examples/apps/spaces/src/fluid-object/spacesItemMap.ts
  examples/apps/spaces/src/fluid-object/storage/spacesStorage.ts
  examples/apps/spaces/src/fluid-object/storage/spacesStorageView.tsx
  examples/data-objects/badge/src/Badge.types.ts
  examples/data-objects/badge/src/BadgeClient.tsx
  examples/data-objects/badge/src/BadgeModel.tsx
  examples/data-objects/badge/src/helpers.ts
  examples/data-objects/table-document/src/slice.ts
  examples/data-objects/table-document/src/table.ts
  examples/data-objects/table-document/src/test/table.spec.ts
  examples/data-objects/table-view/src/grid.ts
  examples/data-objects/table-view/src/tableview.ts
  experimental/dds/tree/src/TreeNodeHandle.ts
  experimental/examples/bubblebench/sharedtree/src/proxy/tree.ts
  experimental/examples/bubblebench/sharedtree/src/proxy/treeutils.ts
  packages/dds/cell/src/cell.ts
  packages/dds/cell/src/interfaces.ts
  packages/dds/matrix/src/index.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/sparsearray2d.ts
  packages/dds/matrix/src/test/matrix.big.spec.ts
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/matrix/src/test/sparsearray2d.spec.ts
  packages/dds/matrix/src/test/testconsumer.ts
  packages/dds/matrix/src/test/utils.ts
  packages/dds/matrix/src/undoprovider.ts
  packages/dds/sequence/src/sharedObjectSequence.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sparsematrix.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
  packages/dds/shared-summary-block/src/interfaces.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/runtime/datastore-definitions/test-d/jsonable.test-d.ts
  packages/runtime/runtime-utils/src/test/utils.ts
Labels: area: dds, area: dds: sharedstring, area: examples, area: runtime

#6313 Assert cleanup for browser usages of routerlicious
  common/lib/common-utils/package.json
  server/routerlicious/packages/services-client/src/gitManager.ts
Labels: area: server

#6217 Task selection demo and OldestClientObserver improvements
  examples/data-objects/task-selection/.editorconfig
  examples/data-objects/task-selection/.eslintrc.js
  examples/data-objects/task-selection/.gitignore
  examples/data-objects/task-selection/.npmignore
  examples/data-objects/task-selection/LICENSE
  examples/data-objects/task-selection/README.md
  examples/data-objects/task-selection/jest-puppeteer.config.js
  examples/data-objects/task-selection/jest.config.js
  examples/data-objects/task-selection/package.json
  examples/data-objects/task-selection/src/app.ts
  examples/data-objects/task-selection/src/containerCode.ts
  examples/data-objects/task-selection/src/index.html
  examples/data-objects/task-selection/src/interface.ts
  examples/data-objects/task-selection/src/oldestClientDiceRoller.ts
  examples/data-objects/task-selection/src/taskManagerDiceRoller.ts
  examples/data-objects/task-selection/src/view.ts
  examples/data-objects/task-selection/tests/diceRoller.test.ts
  examples/data-objects/task-selection/tests/index.html
  examples/data-objects/task-selection/tests/index.ts
  examples/data-objects/task-selection/tsconfig.esnext.json
  examples/data-objects/task-selection/tsconfig.json
  examples/data-objects/task-selection/webpack.config.js
  examples/data-objects/task-selection/webpack.dev.js
  examples/data-objects/task-selection/webpack.prod.js
  examples/data-objects/task-selection/webpack.test.js
  packages/dds/task-manager/src/interfaces.ts
  packages/dds/task-manager/src/oldestClientObserver.ts
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/request-handler/src/test/requestHandlers.spec.ts
Labels: area: dds, area: examples, area: framework

#6261 change retryAfter to be in milliseconds.
  api-report/driver-utils.api.md
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/network.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: loader, breaking change

#6322 Delete yml pipeline and readme for headless-agent
  server/README.md
  tools/pipelines/server-headless-agent.yml
Labels: area: server, area: tools

#6249 Add lint and lint:fix command for docs markdown
  docs/.markdownlint-cli2.js
  docs/.markdownlint.json
  docs/.nvmrc
  docs/README.md
  docs/content/community/_index.md
  docs/content/docs/advanced/compatibility.md
  docs/content/docs/advanced/doc-system.md
  docs/content/docs/advanced/feature-detection-iprovide.md
  docs/content/docs/advanced/handles.md
  docs/content/docs/advanced/summarizer.md
  docs/content/docs/advanced/visual-dataobject.md
  docs/content/docs/concepts/architecture.md
  docs/content/docs/concepts/containers-runtime.md
  docs/content/docs/concepts/dataobject-aqueduct.md
  docs/content/docs/concepts/dds.md
  docs/content/docs/concepts/service.md
  docs/content/docs/data-structures/overview.md
  docs/content/start/faq.md
  docs/package-lock.json
  docs/package.json
  examples/data-objects/task-selection/README.md
  packages/framework/aqueduct/README.md
Labels: area: examples, area: framework, area: website, documentation

#6323 VS Code: Fix Ctrl-Shift-B
  .vscode/settings.json
  .vscode/tasks.json
Labels: area: contributor experience

#6278 Bump build tools version
  lerna-package-lock.json
  package-lock.json
  package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server

#6325 Auto-label additional paths
  .github/labeler.yml
  .vscode/settings.json
Labels: area: build

#6326 Build: Fix incremental build (#6068)
  tools/build-tools/src/fluidBuild/tscUtils.ts
Labels: area: tools

#6329 VS Code: Use source maps when debugging mocha tests
  .vscode/launch.json
Labels: area: contributor experience

#6246 run stress test in mini mode with tinylicious driver
  packages/test/test-service-load/.eslintrc.js
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/test/mini.spec.ts
  packages/test/test-service-load/src/test/tsconfig.json
  packages/test/test-service-load/tsconfig.json
Labels: area: test

#6331 update test package versioning
  tools/pipelines/scripts/build-version.js
Labels: area: tools

#6291 Add WholeSummaryUploadManager to services-client
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/storage.ts
  server/routerlicious/packages/services-client/src/storageContracts.ts
  server/routerlicious/packages/services-client/src/test/historian.spec.ts
  server/routerlicious/packages/services-client/src/wholeSummaryUploadManager.ts
  server/routerlicious/packages/test-utils/src/testHistorian.ts
Labels: area: server

#6337 Add summaryAck and summaryNack sequenceNumber to log
  packages/runtime/container-runtime/src/summarizer.ts
Labels: area: runtime

#6338 Upgrade service packages to 0.1026 prerelease
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: dds, area: dds: propertydds, area: dds: sharedstring, area: dev experience, area: driver, area: loader, area: odsp-driver, area: runtime, area: server, area: test, dependencies

#6341 Matrix: Fix overlapped insert/remove in same undo group (#6288)
  .vscode/launch.json
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/matrix/src/undoprovider.ts
Labels: area: contributor experience, area: dds

#6339 catch floating promise in odspDocumentStorageManager
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver

#6345 Fix: instanceOf in DeltaManager::opHandler does not always work in iframes
  experimental/dds/tree/src/SnapshotUtilities.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/utils/tool-utils/src/snapshotNormalizer.ts
Labels: area: dds, area: loader

#6343 User/trngo/test feed versioning
  tools/pipelines/scripts/build-version.js
Labels: area: tools

#6352 Make historian + r11s dev experience more obvious
  server/historian/README.md
  server/historian/docker-compose.debug.yml
  server/historian/docker-compose.dev.yml
  server/historian/docker-compose.yml
  server/historian/package.json
Labels: area: server

#6360 Prevent excess logs to telemetry
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#6356 Ignore externalRequest flag if GC is not enabled
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gcSummaryTests.spec.ts
Labels: area: runtime, area: test

#6358 Removed LoaderHeader.version === null for loading from just ops
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
Labels: area: loader, area: test, breaking change

#6361 Ignore externalRequest flag if GC is not enabled
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gcDataStoreRequests.spec.ts
Labels: area: runtime, area: test

#6363 update depenency version in @fluidframework/sequence
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6366 Fix reset for test-service-load runner
  packages/test/test-service-load/src/runner.ts
Labels: area: test

#6359 Use dispose event in waitForCatchup in service-load test
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: test

#6314 Leadership API surface removal
  BREAKING.md
  docs/content/docs/advanced/tob.md
  packages/runtime/agent-scheduler/src/scheduler.ts
  packages/runtime/agent-scheduler/src/taskSubscription.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/leader.spec.ts
Labels: area: runtime, area: test, breaking change, documentation

#6370 Enable strict mode and strict-boolean-expressions in test-service-load
  packages/test/test-service-load/.eslintrc.js
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/tsconfig.json
Labels: area: test

#6355 Removing "fluid/component" mimetype support #2934
  examples/hosts/iframe-host/src/inner.ts
  examples/hosts/iframe-host/src/outer.ts
  packages/hosts/base-host/src/host.ts
  packages/loader/execution-context-loader/src/webWorkerLoader.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  server/gateway/src/childLoader.ts
  server/gateway/src/controllers/workerLoader.ts
Labels: area: examples, area: host, area: loader, area: runtime, area: server

#6372 Add failure summary to fluid-build tool
  tools/build-tools/src/fluidBuild/buildGraph.ts
  tools/build-tools/src/fluidBuild/fluidBuild.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: tools

#6240 long term support version compat tests
  packages/test/test-version-utils/src/compatConfig.ts
Labels: area: test

#6390 r11s: Read 401s from Riddler in Alfred Lambda
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server

#6378 Docs PR close job should also be skipped when tokens are missing
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: build

#6357 Create an initial FrsClient implementation + example of toggling b/w Tinylicious & FRS
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-controller/src/app.ts
  examples/hosts/app-integration/external-controller/src/view.ts
  experimental/framework/frs-client/.eslintrc.js
  experimental/framework/frs-client/.gitignore
  experimental/framework/frs-client/.npmignore
  experimental/framework/frs-client/CHANGELOG.md
  experimental/framework/frs-client/LICENSE
  experimental/framework/frs-client/README.md
  experimental/framework/frs-client/api-extractor.json
  experimental/framework/frs-client/package.json
  experimental/framework/frs-client/src/FrsAudience.ts
  experimental/framework/frs-client/src/FrsClient.ts
  experimental/framework/frs-client/src/FrsUrlResolver.ts
  experimental/framework/frs-client/src/debug.ts
  experimental/framework/frs-client/src/index.ts
  experimental/framework/frs-client/src/interfaces.ts
  experimental/framework/frs-client/src/packageVersion.ts
  experimental/framework/frs-client/src/test/FrsClient.spec.ts
  experimental/framework/frs-client/src/test/tsconfig.json
  experimental/framework/frs-client/tsconfig.esnext.json
  experimental/framework/frs-client/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: area: dev experience, area: examples, area: tools

#6380 Add container storage adapter to handle storage in detached container
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, area: runtime, area: test, breaking change

#6392 Fix scribe requiring 2 summaries to stop nacking messages
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/services-core/src/configuration.ts
Labels: area: server

#6387 Add reference to the Azure Fluid Relay
  docs/content/start/faq.md
Labels: documentation

#6397 Fix map valueChanged arg type
  packages/dds/map/src/interfaces.ts
  packages/framework/react/src/helpers/initializeState.ts
  packages/framework/react/src/helpers/rootCallbackListener.ts
  packages/framework/react/src/interface.ts
Labels: area: dds, area: framework

#6327 Ignore generated content in docs
  .gitignore
  docs/resources/_gen/assets/scss/scss/style.scss_c16d144eee185fbddd582cd5e25a4fae.content
  docs/resources/_gen/assets/scss/scss/style.scss_c16d144eee185fbddd582cd5e25a4fae.json
Labels: area: website

#6373 GC tests to validate unreferenced flag in snapshot returned by server
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDriverWrappers.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSummaryTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagValidation.spec.ts
Labels: area: test

#6404 Update common-utils dep in server
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server

#6183 Mocha Benchmark Runner
  NOTICE.md
  package.json
  tools/benchmark/.eslintrc.js
  tools/benchmark/.gitignore
  tools/benchmark/.mocharc.js
  tools/benchmark/.npmignore
  tools/benchmark/LICENSE
  tools/benchmark/README.md
  tools/benchmark/api-extractor.json
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ReporterUtilities.ts
  tools/benchmark/src/Runner.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/test/Benchmark.unit.tests.ts
  tools/benchmark/src/test/tsconfig.json
  tools/benchmark/tsconfig.json
  tools/build-tools/data/layerInfo.json
Labels: area: tools

#6410 Remove delay() implementations from around the repository
  experimental/dds/tree/src/test/SharedTree.tests.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: dds, area: driver, area: loader, area: odsp-driver, area: runtime, area: test

#6414 policy check fix for the release
  packages/dds/sequence/src/mapKernel.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/orderedClientElection.ts
Labels: area: dds, area: dds: sharedstring, area: runtime

#6415 Remove prelease dependencies on release packages
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
Labels: area: tools

#6416 version bump for task-selection package
  examples/data-objects/task-selection/package.json
Labels: area: examples

#6418 more version bump to 0.41.0
  packages/dds/sequence/package.json
  tools/benchmark/package.json
Labels: area: dds, area: dds: sharedstring, area: tools

#6426 Label PRs that come from community contributors
  .github/labelmaker.yml
  .github/workflows/pr-labeler.yml
Labels: area: build

#6424 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: dds, area: dds: propertydds, area: dds: sharedstring, area: dev experience, area: driver, area: loader, area: odsp-driver, area: runtime, area: server, area: test, dependencies

#6427 Fix external labeler config
  .github/workflows/pr-labeler.yml
Labels: area: build

#6428 Labelmaker fix
  .github/workflows/pr-labeler.yml
Labels: area: build

#6421 Refresh latest ack from server before generating summary tree and catch up to it before pausing
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-utils/src/summarizerNode/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/utils.ts
Labels: area: runtime

#6437 Remove unused 'ICreateBlobResponse.url'
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/storage.ts
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/routerlicious-host/package.json
  packages/loader/web-code-loader/package.json
Labels: area: driver, area: loader, area: odsp-driver

#6445 remove tree array from QS in post
  server/routerlicious/packages/services-client/src/historian.ts
Labels: area: server

#6447 Fix assert in redeem fallback logic
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#6443 wrap doc and tenant id as metadata for scribe log
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server

#6448 [main > 0.40]: Fix assert in redeem fallback logic (#6447)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#6449 [main > 0.41]: Fix assert in redeem fallback logic (#6447)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#6381 MergeTree: Record Conflict Farm Results and Enable Replay Tests
  .vscode/launch.json
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/results/len_1-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_1-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_1-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_128-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_128-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_128-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_16-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_16-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_16-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_2-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_2-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_2-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_256-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_256-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_256-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_32-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_32-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_32-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_4-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_4-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_4-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_512-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_512-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_512-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_64-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_64-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_64-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_8-clients_2-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_8-clients_4-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/results/len_8-clients_8-default-conflict-farm-0.40.json
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: contributor experience, area: dds

#6450 Bump remaining @fluidframework/runtime-definitions reference to 0.40.3
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6117 Throw Processing Error on Summary Load Failures
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime

#6436 Add new internal team names to labelmaker config
  .github/labelmaker.yml
Labels: area: build

#6435 Update BREAKING.md
  BREAKING.md
Labels: breaking change

#6454 Remove old teams from labelmaker config
  .github/labelmaker.yml
Labels: area: build

#6408 Add more helpful info to layer-check error
  tools/build-tools/src/layerCheck/layerGraph.ts
Labels: area: tools

#6457 Bump runtime-definitions package version
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6456 Pass broadcaster batch object along when publishing messages
  server/routerlicious/packages/lambdas/src/broadcaster/lambda.ts
  server/routerlicious/packages/services-core/src/publisher.ts
Labels: area: server

#6127 Initial support for Client Uploading Protocol Tree
  api-report/container-loader.api.md
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: driver, area: loader, area: odsp-driver, area: test, breaking change

#6458 Pipeline: Publish @fluid-tools npm namespace
  tools/benchmark/README.md
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: tools

#6394 Let code loader provide code details associated with module
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
Labels: area: loader, breaking change

#6386 Merge Tree: Differentiate removed segments, and not yet visible segments
  packages/dds/merge-tree/DEV.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
Labels: area: dds

#6467 Fix for loadInitialGCSummaryDetails in SummarizerNodeWithGC not being re-entrant
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime

#6474 Policy-Check: Require NPM v6
  tools/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  tools/build-tools/src/repoPolicyCheck/repoPolicyCheck.ts
Labels: area: tools

#6475 Upgrade service packages to ^0.1027.0
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: dds, area: dds: propertydds, area: dds: sharedstring, area: dev experience, area: driver, area: loader, area: odsp-driver, area: runtime, area: test, dependencies

#6470 Move PrefetchDocumentStorageService to driver layer
  api-report/driver-utils.api.md
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
Labels: area: driver, area: loader, breaking change

#6362 Parse ODSP Error facets, check code in each layer
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/facetCode.spec.ts
Labels: area: driver, area: odsp-driver

#6306 add commit metadata
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  experimental/PropertyDDS/packages/property-dds/src/test/prune.spec.ts
Labels: area: dds: propertydds, community-contribution

#6398 send blob attach op immediately upon uploading a blob
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: test

#6441 Issue6332
  experimental/framework/tinylicious-client/package.json
  experimental/framework/tinylicious-client/src/TinyliciousClient.ts
Labels: area: dev experience

#6433 Remove immediate summary
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
Labels: area: runtime

#6452 Preserve unreferenced flag across conversions between summary formats
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/runtime-utils/src/test/summaryUtils.spec.ts
Labels: area: driver, area: loader, area: odsp-driver, area: runtime

#6493 Pipeline: Build benchmark tool
  tools/pipelines/build-benchmark-tool.yml
Labels: area: tools

#6432 Only try summarizing 3 times consecutively before restarting the summarizer client + refactors
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
Labels: area: runtime

#6498 Fix back-compat with old container runtime
  packages/loader/container-loader/src/containerStorageAdapter.ts
Labels: area: loader

#6499 [main > 0.41]: Fix back-compat with old container runtime (#6498)
  packages/loader/container-loader/src/containerStorageAdapter.ts
Labels: area: loader

#6509 fix some paths in benchmark related READMEs
  experimental/examples/bubblebench/baseline/README.md
  experimental/examples/bubblebench/ot/README.md
  experimental/examples/bubblebench/sharedtree/README.md
  tools/benchmark/README.md
Labels: area: examples, area: tools, community-contribution

#6510 r11s-driver: retry at lower level in uploadSummaryWithContext
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/retriableGitManager.ts
Labels: area: driver

#6519 Remove an old (and ineffectual) perf workaround
  packages/dds/merge-tree/src/properties.ts
Labels: area: dds

#6501 Add blob data in rehydrating container to read from
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test, breaking change

#6520 [main > 0.41]: Add blob data in rehydrating container to read from (#6501)
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test, breaking change

#6477 Improve mechanism for wrapping errors e.g. createContainerError
  api-report/container-utils.api.md
  api-report/driver-utils.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/container-utils/src/test/errorTypePropagationTest.spec.ts
  packages/loader/driver-utils/src/multiDocumentServiceFactory.ts
  packages/loader/driver-utils/src/network.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/logger.spec.ts
Labels: area: driver, area: loader, area: runtime, area: test, breaking change

#6528 Removed some apis from export in container loader package
  BREAKING.md
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test, breaking change

#6527 add mongo connection options
  server/routerlicious/packages/services-core/src/mongo.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server

#6535 Store in map instead of object
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test

#6537 Store in map instead of object
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: test

#6506 Remove `existing` property - Part 1, ContainerRuntime
  BREAKING.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
Labels: area: runtime, breaking change

#6538 Add error codes for new dataStoreContext assertions
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime

#6530 IDetachedBlobStorage
  api-report/container-loader.api.md
  experimental/dds/tree/api/tree.api.md
  packages/hosts/base-host/src/host.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: dds, area: host, area: loader, breaking change

#6531 Fix accessibility issues on the website
  docs/assets/css/fluid.css
  docs/content/start/examples.md
  docs/content/start/quick-start.md
  docs/static/js/add-code-copy-button.js
  docs/themes/thxvscode/layouts/shortcodes/in_your_face.html
Labels: area: website, documentation

#6402 Fix wrong handling of brackets in absolute paths passed as options
  experimental/PropertyDDS/packages/property-binder/index.d.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binder.js
  experimental/PropertyDDS/packages/property-binder/src/data_binder/internal_utils.js
  experimental/PropertyDDS/packages/property-binder/src/internal/property_element.js
  experimental/PropertyDDS/packages/property-binder/test/data_binder/data_binder.spec.js
  experimental/PropertyDDS/packages/property-binder/test/data_binder/onDemandDataBinding.spec.js
  experimental/PropertyDDS/packages/property-binder/test/data_binder/property_element.spec.js
  experimental/PropertyDDS/packages/property-changeset/src/path_helper.js
  experimental/PropertyDDS/packages/property-changeset/test/path_helper.spec.js
Labels: area: dds: propertydds, community-contribution

#6492 Fix registerOnValues/registerOnProperty for primitive collections
  experimental/PropertyDDS/packages/property-binder/src/data_binder/data_binding.js
  experimental/PropertyDDS/packages/property-binder/test/data_binder/data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/test/data_binder/testTemplates.js
Labels: area: dds: propertydds, community-contribution

#6508 Remove static from TinyliciousClient + update TinyliciousClient README.md and BREAKING.md
  BREAKING.md
  examples/apps/cra-demo/README.md
  examples/apps/cra-demo/src/App.js
  examples/hosts/app-integration/external-controller/src/app.ts
  experimental/framework/tinylicious-client/README.md
  experimental/framework/tinylicious-client/src/TinyliciousClient.ts
  experimental/framework/tinylicious-client/src/test/ResettableTinyliciousClient.ts
  experimental/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: dev experience, area: examples, breaking change

#6543 Remove existing property - Part 2, Container/ContainerContext
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
Labels: area: loader

#6552 Stop generating an empty tree when there are no blobs in the blob manager
  packages/runtime/container-runtime/src/containerRuntime.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: runtime, area: server

#6557 Remove socket error message from error event message
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: odsp-driver

#6559 Add error codes for 0.42 release
  packages/runtime/container-runtime/src/blobManager.ts
Labels: area: runtime

#6561 Set @fluid-experimental/property-query to 0.42.0
  experimental/PropertyDDS/services/property-query/package.json
Labels: area: dds: propertydds

#6548 IDetachedBlobStorage test and enable blobs in detached container
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: loader, area: runtime, area: test

#6562 Remove duplicate package from @fluidframework/sequence
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring

#6534 export fluid-static container schema from fluid-framework
  experimental/framework/fluid-framework/package.json
  experimental/framework/fluid-framework/src/fluidStatic.ts
  experimental/framework/fluid-framework/src/index.ts
  experimental/framework/fluid-static/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/frs-client/src/FrsAudience.ts
  experimental/framework/frs-client/src/FrsClient.ts
  experimental/framework/frs-client/src/interfaces.ts
  experimental/framework/tinylicious-client/package.json
  experimental/framework/tinylicious-client/src/TinyliciousAudience.ts
  experimental/framework/tinylicious-client/src/TinyliciousClient.ts
  experimental/framework/tinylicious-client/src/interfaces.ts
  experimental/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  tools/build-tools/data/layerInfo.json
Labels: area: dev experience, area: tools

#6565 Add error codes for container-runtime for 0.42
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: test

#6570 Update packages pointing to pre-release 0.42.0-0 to instead point to 0.42.0
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  experimental/PropertyDDS/services/property-query/package.json
Labels: area: dds: propertydds

#6574 [bump] package version for server (patch) 0.1027.0 -> 0.1027.1
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query/package.json
  experimental/framework/frs-client/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: dds, area: dds: propertydds, area: dds: sharedstring, area: dev experience, area: driver, area: loader, area: odsp-driver, area: runtime, area: server, area: test, dependencies

#6566 Refactor IntervalCollection to eliminate IntervalCollectionView
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/table-document/src/document.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: examples, area: test

#6539 Port fix for isolated channels while rehydrating detached bug
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
Labels: area: runtime, area: test

#6422 Regenerate GC and summary data when GC version changes
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/runtime-utils/src/summarizerNode/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDriverWrappers.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
Labels: area: runtime, area: test

#6578 Update historian to only include 'release packages'
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server

#6580 Update historian packages to release dependencies
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
Labels: area: server

#6471 Remove duplicate strict declaration to avoid build warning
  packages/test/test-service-load/tsconfig.json
Labels: area: test

#6494 Change tinylicious-service tuple to object return type
  examples/hosts/app-integration/external-controller/src/app.ts
  experimental/framework/frs-client/src/FrsClient.ts
  experimental/framework/frs-client/src/interfaces.ts
  experimental/framework/tinylicious-client/src/TinyliciousClient.ts
  experimental/framework/tinylicious-client/src/interfaces.ts
  experimental/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: dev experience, area: examples

#6553 Added total / unreferenced data store count and unreferenced blob size in summary to telemetry
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: test

#6585 Add a unique ID to Interval properties on addition to a collection
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring

#6591 Move Throttler to separate file
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/throttler.ts
Labels: area: runtime, refactor

#6592 Isolate summarizer client election logic
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/testQuorum.ts
Labels: area: runtime, refactor

#6597 Safe error message stack
  common/lib/common-utils/src/logger.ts
  common/lib/common-utils/src/test/mocha/logger.spec.ts
  packages/loader/container-utils/src/error.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: loader

#6593 Isolate RunningSummarizer into its own file
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime
