Repository microsoft/FluidFramework, pull requests merged in 2022-07, with the labels that each got.

#10776 cell.ts.applyStashedOp implementation
  api-report/cell.api.md
  packages/dds/cell/src/cell.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: dds, area: tests, public api change, base: main

#10935 Allow Transient References on Removed Segments
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, base: main

#10938 Allow Transient References on Removed Segments (1.0)
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, base: release

#10936 Fix SharedTree fuzz move validation
  experimental/dds/tree/src/test/fuzz/Generators.ts
Labels: area: dds, base: main

#10943 Deprecate IContainerRuntime.flush
  BREAKING.md
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
Labels: area: runtime, breaking change, public api change, base: main

#10940 Add a regression test for allowing transient refs on removed segments
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
Labels: area: dds, base: main

#10932 Deprecate ISummaryAuthor and ISummaryCommitter
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/summary.ts
Labels: breaking change, public api change, base: main

#10874 Ensure Telemetry Errors Always Have Error Field
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
Labels: base: main

#10947 Bumping r11s package versions in historian and gitrest
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#10952 Added "trackGCState" property to GarbageCollectorLoaded event
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, base: main

#10927 Sweep - Added "deleted" log for objects that are used after they should have been deleted
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: runtime, area: tests, base: main

#10627 Remove deprecated function bindToContext
  BREAKING.md
  api-report/container-definitions.api.md
  api-report/container-runtime-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/test/types/validateTestVersionUtilsPrevious.ts
Labels: area: framework, area: runtime, breaking change, area: tests, public api change, base: next

#10915 Remove `aliasing` return value from `AliasResult`
  BREAKING.md
  api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.ts
Labels: area: runtime, breaking change, public api change, base: next

#10942 Clarify comment on Jsonable
  packages/runtime/datastore-definitions/src/jsonable.ts
Labels: area: runtime, base: main

#10960 [GitRest] Implementing V1 of Summary Delete API
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
Labels: area: server, base: main

#10949 docs: Update comments with typescript examples to better utilize TSDoc syntax
  common/lib/common-definitions/src/events.ts
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IActivateDataBindingOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinder.ts
  experimental/PropertyDDS/packages/property-common/src/constants.ts
  experimental/PropertyDDS/packages/property-proxy/src/propertyProxy.ts
  experimental/dds/tree/src/Common.ts
  packages/common/core-interfaces/src/provider.ts
  packages/dds/map/src/directory.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/framework/fluid-static/src/types.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/test/stochastic-test-utils/src/generators.ts
  packages/tools/replay-tool/src/helpers.ts
  packages/utils/odsp-doclib-utils/src/parseAuthErrorTenant.ts
Labels: area: examples, area: framework, area: runtime, area: dds, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#10961 Support yarn workspaces in build-tools
  build-tools/.gitignore
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
Labels: base: main

#10954 Add better support for release groups in build-tools
  .vscode/launch.json
  build-tools/lerna-package-lock.json
  build-tools/package-lock.json
  build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/bumpDependencies.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/bumpVersion/releaseVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/showVersions.ts
  build-tools/packages/build-tools/src/bumpVersion/utils.ts
  build-tools/packages/build-tools/src/bumpVersion/versionBag.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  package.json
Labels: area: contributor experience, base: main

#10971 Add ability to skip repo checks in release tool
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/bumpVersion/createReleaseBump.ts
Labels: base: main

#10975 tools: Use strict api-extractor config in common/lib packages
  common/lib/common-definitions/api-extractor.json
  common/lib/common-definitions/api-report/common-definitions.api.md
  common/lib/common-utils/api-extractor.json
  common/lib/common-utils/api-report/common-utils.api.md
  common/lib/protocol-definitions/api-extractor.json
Labels: public api change, base: main

#10980 fix: Do not require `bearerToken` for tinylicious and routerlicious
  packages/tools/webpack-fluid-loader/src/multiResolver.ts
Labels: base: main

#10933 Remove iSummaryAuthor and ISummaryCommitter
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/summary.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
Labels: breaking change, public api change, base: next

#10970 Log unknown service errors in HTTP requests
  server/historian/packages/historian-base/src/routes/utils.ts
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/test/http.spec.ts
Labels: area: server, base: main

#10963 Remove unneeded react related stuff from @fluid-example/app-integration-external-controller
  azure/lerna-package-lock.json
  azure/packages/external-controller/package.json
  azure/packages/external-controller/tsconfig.json
Labels: base: main

#10981 Correct comment about ISummaryAuthor and ISummaryCommitter in breaking.md
  BREAKING.md
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, breaking change, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, public api change, base: main

#10909 Tree: Synthetic cursor benchmark mimicking 'canada.json'
  packages/dds/tree/package.json
  packages/dds/tree/src/test/forest/cursor.bench.ts
  packages/dds/tree/src/test/forest/json.ts
Labels: area: dds, base: main

#10989 Squash merging prs using MerlinBot
  .github/fabricbot.json
Labels: area: build, base: main

#10920 Updated common-utils in server
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: next, msftbot: merge-next

#10988 Update comments and error message
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, base: main

#10798 tools: Update api docs publishing to publish for all repo packages
  azure/package.json
  azure/packages/azure-client/api-extractor.json
  azure/packages/azure-service-utils/api-extractor.json
  common/lib/common-definitions/src/events.ts
  docs/content/docs/faq.md
  docs/content/docs/updates/pre-v1.0.0.md
  docs/package-lock.json
  docs/package.json
  docs/rollup-api-data.js
  docs/rollup-api-json.js
  packages/drivers/routerlicious-driver/src/tokens.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: documentation, area: driver, area: website, base: main

#10978 Implement info command in build CLI
  .vscode/launch.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/tsconfig.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/bumpVersion/utils.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/index.ts
Labels: area: contributor experience, base: main

#10985 Add note about Azure CLI in getkeys README
  tools/getkeys/README.md
  tools/getkeys/index.js
Labels: base: main

#10888 Update k8s ingress image
  server/charts/historian/templates/historian-ingress.yaml
  server/routerlicious/kubernetes/README.md
  server/routerlicious/kubernetes/azure.md
  server/routerlicious/kubernetes/jarvis/templates/alfred-ingress.yaml
  server/routerlicious/kubernetes/logging/sentry/values.yaml
  server/routerlicious/kubernetes/metric/grafana/grafana-ingress.yml
  server/routerlicious/kubernetes/minikube.md
  server/routerlicious/kubernetes/nginx/README.md
  server/routerlicious/kubernetes/nginx/config/nginx.tmpl
  server/routerlicious/kubernetes/nginx/nginx-ingress-controller-eastus.yml
  server/routerlicious/kubernetes/nginx/nginx-ingress-controller-ppe.yml
  server/routerlicious/kubernetes/nginx/nginx-ingress-controller-prod.yml
  server/routerlicious/kubernetes/nginx/rbac/binding.yaml
  server/routerlicious/kubernetes/nginx/rbac/cluster-role.yaml
  server/routerlicious/kubernetes/nginx/rbac/controller-role.yaml
  server/routerlicious/kubernetes/nginx/rbac/service-account.yaml
  server/routerlicious/kubernetes/nginx/values-ppe.yaml
  server/routerlicious/kubernetes/nginx/values-prod.yaml
  server/routerlicious/kubernetes/routerlicious/templates/alfred-ingress.yaml
Labels: area: server, base: main

#10902 Improve Sequence's README
  api-report/merge-tree.api.md
  docs/content/docs/data-structures/sequences.md
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, public api change, base: main

#10991 Update content-length from body in RestLess
  server/routerlicious/packages/services-shared/src/redisSocketIoAdapter.ts
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-shared/src/webServer.ts
  server/routerlicious/packages/services-shared/tsconfig.json
Labels: area: server, base: main

#11004 [server] Bumping server packages in Historian and GitRest
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#11013 build: Update dev dependency on `@tylerbu/api-documenter`
  docs/package-lock.json
  docs/package.json
Labels: area: website, base: main

#11009 Policy fixes
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/assertShortCode.ts
  packages/dds/map/src/directory.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectAnchor.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/rebase/pathTree.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentStorageManager.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/test-runtime-utils/.eslintrc.js
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: odsp-driver, base: main

#11012 docs: Remove pages on fluidframework.com about the Property DDS which is deprecated
  docs/content/docs/data-structures/experimental.md
  docs/content/docs/data-structures/property.md
Labels: documentation, base: main

#11021 Fix coverage patching
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#11026 getKeys: Fix detection of whether user is logged in to Azure CLI
  tools/getkeys/index.js
Labels: base: main

#11022 Small internal tools cleanup
  build-tools/packages/build-tools/package.json
  packages/dds/map/src/directory.ts
  packages/runtime/test-runtime-utils/.eslintrc.js
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, base: main

#10997 Boot perf telemetry: add coverage to better understand where we spend time
  api-report/container-definitions.api.md
  api-report/driver-utils.api.md
  api-report/test-runtime-utils.api.md
  packages/common/container-definitions/src/deltas.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/deltaQueue.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver, public api change, base: main

#11019 docs: Update memberCombineInstructions to reflect current package API surfaces
  docs/rollup-api-data.js
Labels: area: website, base: main

#11032 Cleanup how defaults are handled in benchmark runner
  tools/benchmark/src/Runner.ts
Labels: base: main

#11041 Fix component governance in build tools pipeline
  build-tools/package.json
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  tools/pipelines/build-build-tools.yml
Labels: area: build, base: main

#11043 type-test cleanup in next
  lerna-package-lock.json
  packages/dds/map/package.json
  packages/dds/map/src/test/types/validateMapPrevious.ts
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/test/types/validateOdspDriverPrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.ts
Labels: area: framework, area: loader, area: driver, area: dds, dependencies, area: odsp-driver, base: next

#10962 Added Mouse + Focus Tracking SignalManager Example
  examples/data-objects/focus-tracker/src/FocusTracker.ts
  examples/data-objects/focus-tracker/src/MouseTracker.ts
  examples/data-objects/focus-tracker/src/app.ts
  examples/data-objects/focus-tracker/src/index.html
Labels: area: examples, base: main

#11045 Typos/grammar
  docs/content/docs/updates/v1.0.0.md
  packages/dds/matrix/src/test/undoRedoStackManager.ts
  packages/dds/tree/src/schema/Schema.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: documentation, area: framework, area: runtime, area: dds, base: main

#11039 docs: Add links and fix links
  docs/content/docs/updates/v1.0.0.md
Labels: documentation, base: main

#11054 Add a few more verification options to strict API-Extractor config
  common/build/build-common/api-extractor-common-strict.json
Labels: base: main

#11053 Renaming focus-tracker -> presence-tracker
  PACKAGES.md
  build-tools/packages/build-tools/data/layerInfo.json
  examples/data-objects/presence-tracker/.eslintrc.js
  examples/data-objects/presence-tracker/.gitignore
  examples/data-objects/presence-tracker/.npmignore
  examples/data-objects/presence-tracker/LICENSE
  examples/data-objects/presence-tracker/README.md
  examples/data-objects/presence-tracker/package.json
  examples/data-objects/presence-tracker/src/FocusTracker.ts
  examples/data-objects/presence-tracker/src/MouseTracker.ts
  examples/data-objects/presence-tracker/src/app.ts
  examples/data-objects/presence-tracker/src/index.html
  examples/data-objects/presence-tracker/src/index.ts
  examples/data-objects/presence-tracker/tsconfig.esnext.json
  examples/data-objects/presence-tracker/tsconfig.json
  examples/data-objects/presence-tracker/webpack.config.js
  examples/data-objects/presence-tracker/webpack.dev.js
  examples/data-objects/presence-tracker/webpack.prod.js
  experimental/framework/data-objects/src/signalManager/README.md
Labels: area: examples, area: dev experience, base: main

#11058 Use interface for named brand types
  api-report/tree.api.md
  packages/dds/tree/src/schema/Schema.ts
  packages/dds/tree/src/test/util/brand.spec.ts
  packages/dds/tree/src/tree/types.ts
  packages/dds/tree/src/util/brand.ts
Labels: area: dds, public api change, base: main

#11062 Minor Corrections from PresenceTracker PR
  examples/data-objects/presence-tracker/src/FocusTracker.ts
  examples/data-objects/presence-tracker/src/MouseTracker.ts
Labels: area: examples, base: main

#11057 Fix and reorganize jsonCursor code and tests for Tree
  packages/dds/tree/src/test/forest/jsonCursor.bench.ts
  packages/dds/tree/src/test/forest/jsonCursor.spec.ts
  packages/dds/tree/src/test/forest/jsonCursor.ts
Labels: area: dds, base: main

#10951 tools: Tighten restrictions around use of `any` in our eslint configs
  api-report/quorum.api.md
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/strict.js
  packages/dds/quorum/src/interfaces.ts
  packages/dds/quorum/src/quorum.ts
Labels: area: dds, public api change, base: main

#11038 fluidBuild: Fix copyfiles task incremental detection in linux
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/apiExtractorTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/lintTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/npmTask.ts
  experimental/dds/tree/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
Labels: area: runtime, area: dds, base: main

#11067 Merge main to next
  .vscode/settings.json
  azure/lerna-package-lock.json
  azure/package.json
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/.prettierignore
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/AzureAudience.ts
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureFunctionTokenProvider.ts
  azure/packages/azure-client/src/AzureUrlResolver.ts
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/azure-client/src/test/AzureClientFactory.ts
  azure/packages/azure-client/src/test/AzureTokenFactory.ts
  azure/packages/azure-client/src/test/TestDataObject.ts
  azure/packages/azure-client/src/test/tsconfig.json
  azure/packages/azure-client/src/utils.ts
  azure/packages/azure-client/tsconfig.esnext.json
  azure/packages/azure-client/tsconfig.json
  azure/packages/azure-service-utils/.eslintrc.js
  azure/packages/azure-service-utils/.prettierignore
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/generateToken.ts
  azure/packages/azure-service-utils/src/test/tsconfig.json
  azure/packages/azure-service-utils/tsconfig.esnext.json
  azure/packages/azure-service-utils/tsconfig.json
  azure/packages/external-controller/.eslintrc.js
  azure/packages/external-controller/jest-puppeteer.config.js
  azure/packages/external-controller/jest.config.js
  azure/packages/external-controller/package.json
  azure/packages/external-controller/src/app.ts
  azure/packages/external-controller/src/controller.ts
  azure/packages/external-controller/src/view.ts
  azure/packages/external-controller/tests/index.ts
  azure/packages/external-controller/tsconfig.esnext.json
  azure/packages/external-controller/tsconfig.json
  azure/packages/external-controller/webpack.config.js
  azure/packages/external-controller/webpack.dev.js
  azure/packages/external-controller/webpack.prod.js
  azure/packages/external-controller/webpack.test.js
  azure/prettier.config.cjs
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/apiExtractorTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/lintTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/npmTask.ts
  experimental/dds/tree/package.json
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/tsconfig.json
Labels: area: runtime, area: driver, area: dds, area: contributor experience, area: tests, area: odsp-driver, base: next

#11068 Use SlideOnRemove references for endpoints of intervals loaded from snapshots
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#11065 r11s: allow restless to parse large requests
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/test/restLess.spec.ts
Labels: area: server, base: main

#10621 return blob handles while offline
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/src/leaderElection.ts
Labels: area: runtime, area: tests, base: main

#11077 Implement basics for Tree's Object Forest
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/index.ts
  packages/dds/tree/src/forest/snapshot.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/test/schema/examples/JsonDomainSchema.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/pathTree.ts
  packages/dds/tree/src/tree/types.ts
Labels: area: dds, public api change, base: main

#11072 New Changeset format
  packages/dds/tree/src/changeset/fence.json
  packages/dds/tree/src/changeset/flatAttachTree.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/test/changeset/samples.ts
Labels: area: dds, area: dds: tree, base: main

#11073 Use SlideOnRemove references for endpoints of intervals loaded from snapshots
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: release

#11074 Use SlideOnRemove references for endpoints of intervals loaded from snapshots
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: release

#11075 Use SlideOnRemove references for endpoints of intervals loaded from snapshots
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: release

#11093 docs: Misc. API documentation improvements in `common/lib` packages
  common/lib/common-definitions/api-report/common-definitions.api.md
  common/lib/common-definitions/src/disposable.ts
  common/lib/common-definitions/src/events.ts
  common/lib/common-definitions/src/index.ts
  common/lib/common-definitions/src/logger.ts
  common/lib/common-utils/api-report/common-utils.api.md
  common/lib/common-utils/src/base64Encoding.ts
  common/lib/common-utils/src/bufferBrowser.ts
  common/lib/common-utils/src/bufferShared.ts
  common/lib/common-utils/src/delay.ts
  common/lib/common-utils/src/disposal.ts
  common/lib/common-utils/src/eventForwarder.ts
  common/lib/common-utils/src/index.ts
  common/lib/common-utils/src/promiseCache.ts
  common/lib/common-utils/src/rangeTracker.ts
  common/lib/common-utils/src/safeParser.ts
  common/lib/common-utils/src/typedEventEmitter.ts
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/date.ts
  common/lib/protocol-definitions/src/index.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/tokens.ts
Labels: public api change, base: main

#11092 Organize tree tests: export json domain
  api-report/tree.api.md
  packages/dds/tree/src/domains/README.md
  packages/dds/tree/src/domains/fence.json
  packages/dds/tree/src/domains/index.ts
  packages/dds/tree/src/domains/json/fence.json
  packages/dds/tree/src/domains/json/index.ts
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/domains/json/jsonDomainSchema.ts
  packages/dds/tree/src/forest/README.md
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/domains/json/json.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.spec.ts
  packages/dds/tree/src/test/objectForest.spec.ts
Labels: area: dds, public api change, base: main

#11098 Improvements to benchmark tool
  experimental/dds/tree/package.json
  tools/benchmark/src/Runner.ts
Labels: area: dds, base: main

#10905 Changing logging error responses and properties
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: odsp-driver, base: main

#11091 Common Pattern: Grouping signal types
  experimental/framework/data-objects/src/signalManager/README.md
Labels: area: dev experience, base: main

#11052 Upgrade lerna to latest release
  lerna-package-lock.json
  package-lock.json
  package.json
Labels: dependencies, base: main

#10945 Make test slightly more robust
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
Labels: area: dds, base: main

#11102 Fixes to shared build-tools
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/bumpDependencies.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/bumpVersion/createReleaseBump.ts
  build-tools/packages/build-tools/src/bumpVersion/releaseVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/showVersions.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/typeValidator/runValidator.ts
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: base: main

#11063 Delta format and visitor
  packages/dds/tree/src/changeset/delta.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/changeset/visit.ts
  packages/dds/tree/src/test/changeset/visit.spec.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#10279 Enable no-invalid-this ESLint rule and pre-apply fixes
  common/build/eslint-config-fluid/minimal.js
  experimental/PropertyDDS/packages/property-changeset/.eslintrc.js
  experimental/PropertyDDS/packages/property-properties/.eslintrc.js
  packages/test/test-version-utils/src/describeCompat.ts
Labels: area: tests, base: main

#10268 Enable prefer-nullish-coalescing eslint rule
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  examples/data-objects/prosemirror/src/fluidBridge.ts
  examples/data-objects/prosemirror/src/prompt.ts
  experimental/PropertyDDS/examples/partial-checkout/.eslintrc.js
  experimental/PropertyDDS/packages/property-inspector-table/.eslintrc.js
  experimental/dds/tree/src/EditUtilities.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  experimental/dds/tree/src/test/utilities/UndoRedoTests.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/drivers/driver-web-cache/src/test/FluidCache.test.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspUrlHelper.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
Labels: area: examples, area: runtime, area: driver, area: dds, area: odsp-driver, base: main

#11037 Bump common packages to 1.0
  common/build/build-common/package-lock.json
  common/build/build-common/package.json
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/packageVersion.ts
Labels: base: main

#11113 Enable no-namespace eslint rule in minimal config
  common/build/eslint-config-fluid/eslint7.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#11096 Update eslint configs in `common/lib` packages to be more strict
  common/lib/common-definitions/.eslintrc.js
  common/lib/common-utils/.eslintrc.js
  common/lib/common-utils/api-report/common-utils.api.md
  common/lib/common-utils/src/disposal.ts
  common/lib/common-utils/src/eventForwarder.ts
  common/lib/common-utils/src/heap.ts
  common/lib/common-utils/src/logger.ts
  common/lib/common-utils/src/promiseCache.ts
  common/lib/common-utils/src/promises.ts
  common/lib/common-utils/src/rangeTracker.ts
  common/lib/common-utils/src/safeParser.ts
  common/lib/common-utils/src/test/mocha/eventForwarder.spec.ts
  common/lib/common-utils/src/test/mocha/promiseCache.spec.ts
  common/lib/common-utils/src/test/mocha/timer.spec.ts
  common/lib/common-utils/src/test/mocha/typedEventEmitter.spec.ts
  common/lib/common-utils/src/timer.ts
  common/lib/common-utils/src/typedEventEmitter.ts
  common/lib/protocol-definitions/.eslintrc.js
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/sockets.ts
  common/lib/protocol-definitions/src/summary.ts
Labels: public api change, base: main

#11112 Run `npm i`
  lerna-package-lock.json
Labels: dependencies, base: main

#11114 Validate summary heuristic configuration settings
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11116 Making fluidhost optional for r11s
  packages/tools/webpack-fluid-loader/src/multiResolver.ts
Labels: base: main

#11059 End to end tests for attaching DDSes containing handles
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringEndToEndTests.spec.ts
Labels: area: tests, base: main

#11085 fluidBuild: Fix gen-version incremental detection for new internal semver
  build-tools/packages/build-tools/src/bumpVersion/bumpDependencies.ts
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
Labels: base: main

#11122 [release/0.59.4000 > main]: Revert "Replace GetSharingInfo api with /LinkingUrl api (#10151)" (#10889)
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#11119 [release/0.59.4000 > release/1.0]: Revert "Replace GetSharingInfo api with /LinkingUrl api (#10151)" (#10889)
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#11121 [release/0.59.4000 > release/1.2]: Revert "Replace GetSharingInfo api with /LinkingUrl api (#10151)" (#10889)
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#10907 Clean the vestiges of mapWait anti-patterns
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
Labels: area: tests, base: main

#11126 Update the fluidframework.com docs
  docs/content/docs/concepts/architecture/index.md
Labels: documentation, base: main

#11088 create processStashedOpLocalMetadata handler
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
Labels: area: dds, base: main

#11132 Clean up entries in root NOTICE for content are deleted from repo already
  NOTICE.md
Labels: base: main

#11104 Add a couple object-forest tests to Tree
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/test/dependency-tracking/disposingDependee.spec.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, base: main

#11128 Fix for absent children prop in case of empty tree
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/jsonSnapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#11134 [main > release/1.2]: Fix for absent children prop in case of empty tree (#11128)
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/jsonSnapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#11136 [main > release/1.1]: Fix for absent children prop in case of empty tree (#11128)
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/jsonSnapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#11133 Factor out mapCursorField
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/forest/index.ts
Labels: area: dds, base: main

#11135 [main > release/1.0]: Fix for absent children prop in case of empty tree (#11128)
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/test/jsonSnapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#10641 docs: Improve `@fluidframework/map` API docs
  api-report/map.api.md
  api-report/shared-object-base.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/shared-object-base/src/types.ts
  packages/loader/driver-utils/src/readAndParse.ts
  packages/runtime/datastore-definitions/src/channel.ts
Labels: area: runtime, area: loader, area: dds, public api change, base: main

#11127 improvement(tree): Add telemetry event on local malformed edit
  api-report/experimental-tree.api.md
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/Checkout.tests.ts
Labels: area: dds, public api change, base: main

#11138 Add missing links to ff.com docs
  docs/content/docs/data-structures/overview.md
Labels: documentation, base: main

#10966 Improve Interval collection event semantics
  BREAKING.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, breaking change, area: dds: sharedstring, public api change, base: next

#11137 MergeTree: Organize and Deprecated Collections
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/heap.ts
  packages/dds/merge-tree/src/collections/index.ts
  packages/dds/merge-tree/src/collections/intervalTree.ts
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/collections/rbTree.ts
  packages/dds/merge-tree/src/collections/stack.ts
  packages/dds/merge-tree/src/collections/tst.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#11152 Add validation that base summary does not change underneath us when summarizing
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11151 Delete code dealing with differentiation summaries
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
Labels: area: runtime, public api change, base: main

#11109 Protocol handler refactoring part 2
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  packages/common/container-definitions/src/audience.ts
  packages/loader/container-loader/src/audience.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/protocol.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, area: loader, public api change, base: main

#11142 MergeTree: Re-Enable LocalReference Tombstones
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, public api change, base: main

#11140 [GitRest] Updating repoPath so that summaries be placed within a dedicated folder
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server, base: main

#11146 Fix op tracing
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/kafka-orderer/src/kafkaOrderer.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/broadcaster/lambda.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/redisSocketIoAdapter.ts
  server/routerlicious/packages/services-shared/src/storage.ts
Labels: area: server, base: main

#11160 Add relayServiceSessionId in ifMatch header while uploading summary
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#11157 Add treeTextFormat
  packages/dds/tree/src/feature-libraries/treeTextFormat.ts
  packages/dds/tree/src/test/treeTextFormat.spec.ts
Labels: area: dds, base: main

#11166 Work on ForestIndex in Tree
  packages/dds/tree/package.json
  packages/dds/tree/src/changeset/README.md
  packages/dds/tree/src/dependency-tracking/cachedValue.ts
  packages/dds/tree/src/dependency-tracking/index.ts
  packages/dds/tree/src/feature-libraries/fence.json
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/treeTextFormat.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/shared-tree-core/fence.json
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
Labels: area: dds, base: main

#11169 Change place of initiliazation of relaySessionid as response can be from the cache,
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver, base: main

#11170 Remove Merge Tree Export
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/heap.ts
  packages/dds/merge-tree/src/collections/index.ts
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/collections/stack.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/tst.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalTree.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/collections.intervalTree.ts
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: examples, area: dds, breaking change, area: dds: sharedstring, public api change, base: next

#11172 Protocol handler refactoring part 3
  packages/loader/container-loader/src/protocol.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, area: loader, public api change, base: main

#11163 Version-tools: scheme detection and range bumping
  build-tools/packages/build-tools/src/bumpVersion/utils.ts
  build-tools/packages/version-tools/src/index.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/test/schemes.test.ts
  build-tools/packages/version-tools/test/semver.test.ts
Labels: base: main

#11158 Use api-extractor-common-strict in tree
  api-report/tree.api.md
  packages/dds/tree/api-extractor.json
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/schema/index.ts
Labels: area: dds, public api change, base: main

#11176 Changeset to delta conversion
  packages/dds/tree/src/changeset/common.ts
  packages/dds/tree/src/changeset/delta.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/changeset/toDelta.ts
  packages/dds/tree/src/changeset/visit.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#11175 Removal of unused FluidContainer from MouseTracker constructor arguments
  examples/data-objects/presence-tracker/src/MouseTracker.ts
  examples/data-objects/presence-tracker/src/app.ts
Labels: area: examples, base: main

#11188 Safely dispose resources
  server/routerlicious/packages/services-shared/src/runner.ts
Labels: area: server, base: main

#11014 Redact any sharepoint url in fetch error message
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#11194 [GitRest] Fix delete API for summaries
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
Labels: area: server, base: main

#11197 reduce `SummaryAckWithoutOp` to generic log, rather than error
  packages/runtime/container-runtime/src/summaryCollection.ts
  packages/tools/replay-tool/src/replayMessages.ts
Labels: area: runtime, base: main

#11186 Export buildForest, TextCursor and their deps
  api-report/tree.api.md
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/dependency-tracking/incrementalObservation.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectAnchor.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/treeTextFormat.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/forest/index.ts
  packages/dds/tree/src/forest/snapshot.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/tree/types.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, public api change, base: main

#11005 Open one main-next pr
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11204 announce upcoming breaking changes in sequence
  BREAKING.md
Labels: breaking change, base: main

#11206 Frs stress tests specfic config
  packages/test/test-service-load/package.json
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#11207 Fix workflow step name
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11179 Polyfill URL package for container-loader and driver-utils
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/tools/webpack-fluid-loader/webpack.config.js
Labels: area: loader, base: main

#11213 Fix workflow
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11195 Create stubs for sequence change family
  packages/dds/tree/src/change-family/changeFamily.ts
  packages/dds/tree/src/change-family/fence.json
  packages/dds/tree/src/change-family/index.ts
  packages/dds/tree/src/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/changeset/fence.json
  packages/dds/tree/src/feature-libraries/fence.json
  packages/dds/tree/src/feature-libraries/sequence-change-family/fence.json
  packages/dds/tree/src/feature-libraries/sequence-change-family/index.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeset.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/transaction/fence.json
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, base: main

#11214 Fix imports from files in changeset
  packages/dds/tree/src/changeset/delta.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/toDelta.ts
Labels: area: dds, base: main

#11200 Make PlaceholderTree mutable
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/treeTextFormat.ts
Labels: area: dds, public api change, base: main

#11211 Refactor Changeset and Delta to be length-based
  packages/dds/tree/src/changeset/delta.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/toDelta.ts
  packages/dds/tree/src/changeset/visit.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/changeset/visit.spec.ts
  packages/dds/tree/src/test/util/offsetList.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/offsetList.ts
Labels: area: dds, base: main

#11173 Improve partialLengths documentation and simplify where possible
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
Labels: area: dds, base: main

#11183 Add TestOverride setting to disable ODSP snapshot cache
  packages/drivers/odsp-driver/src/epochTracker.ts
Labels: area: driver, area: odsp-driver, base: main

#11216 Move JsonableTree into the tree module
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/treeTextCursor.spec.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/treeTextFormat.ts
Labels: area: dds, base: main

#11189 Can create DDS in detached container and attach / update it fix
  api-report/test-utils.api.md
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: tests, public api change, base: main

#11217 Workflow multiline string
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11218 Use JsonableTree tree in changeset and delta
  packages/dds/tree/src/changeset/common.ts
  packages/dds/tree/src/changeset/delta.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/changeset/toDelta.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/changeset/visit.spec.ts
Labels: area: dds, base: main

#11219 Plumbing of anchor updates and forest updates in Tree
  api-report/tree.api.md
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/transaction/index.ts
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, public api change, base: main

#9377 Wait to raise Connected event for Read connection until container is caught up
  packages/loader/container-loader/src/catchUpMonitor.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/catchUpMonitor.spec.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/loader/container-loader/src/test/container.spec.ts
Labels: area: loader, base: main

#11229 Cron schedule for workflow
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11212 Add missing `concurrently` dev-dependency in some packages
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  experimental/PropertyDDS/examples/schemas/package.json
Labels: area: dds: propertydds, base: main

#11215 Move CLI tools to fluid-tools scope and invert some dependency directions
  build-tools/README.md
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/bumpVersion/createReleaseBump.ts
  build-tools/packages/build-tools/src/bumpVersion/releaseVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/typeValidator/runValidator.ts
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/bumpTypes.ts
  build-tools/packages/version-tools/src/commands/version.ts
  build-tools/packages/version-tools/src/index.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/packages/version-tools/src/semver.ts
  tools/pipelines/build-build-tools.yml
Labels: area: build, base: main

#11223 Add missing format script in packages using prettier
  experimental/dds/tree-graphql/package.json
  experimental/dds/tree/package.json
Labels: area: dds, base: main

#11233 Tree: move delta
  packages/dds/tree/src/change-family/changeFamily.ts
  packages/dds/tree/src/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/changeset/toDelta.ts
  packages/dds/tree/src/changeset/visit.ts
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/changeset/visit.spec.ts
  packages/dds/tree/src/transaction/transaction.ts
  packages/dds/tree/src/tree/delta.ts
  packages/dds/tree/src/tree/index.ts
Labels: area: dds, base: main

#11078 Add gc sweep test directory
  api-report/test-utils.api.md
  packages/test/test-gc-sweep-tests/.eslintrc.js
  packages/test/test-gc-sweep-tests/.gitignore
  packages/test/test-gc-sweep-tests/.npmignore
  packages/test/test-gc-sweep-tests/LICENSE
  packages/test/test-gc-sweep-tests/README.md
  packages/test/test-gc-sweep-tests/package.json
  packages/test/test-gc-sweep-tests/src/mockConfigProvider.ts
  packages/test/test-gc-sweep-tests/src/packageVersion.ts
  packages/test/test-gc-sweep-tests/src/test/.mocharc.js
  packages/test/test-gc-sweep-tests/src/test/gcSweepTest.spec.ts
  packages/test/test-gc-sweep-tests/src/test/tsconfig.json
  packages/test/test-gc-sweep-tests/src/testDataObjects.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: tests, public api change, base: main

#11235 Tree: Move visitDelta
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/test/fence.spec.ts
  packages/dds/tree/src/test/tree/visit.spec.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/visitDelta.ts
Labels: area: dds, base: main

#11238 Tree: use Delta directly in IEditableForest
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/transaction/index.ts
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, public api change, base: main
