Repository microsoft/FluidFramework, pull requests merged in 2022-06, with the labels that each got.

#10475 Log GC inactive objects events only for data stores and attachment blobs
  api-report/garbage-collector.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/garbage-collector/src/utils.ts
Labels: area: runtime, public api change, base: main

#10477 Move ConnectionState to its own file to fix bundling issues
  examples/utils/bundle-size-tests/src/connectionState.ts
  examples/utils/bundle-size-tests/webpack.config.js
  packages/loader/container-loader/src/connectionState.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: examples, area: loader, base: main

#10454 Added test feature flag to override GC inactive timeout
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: runtime, area: tests, base: main

#10478 Add subdirectory create and delete events for Shared Directory (#9061)
  api-report/map.api.md
  azure/lerna-package-lock.json
  azure/package-lock.json
  lerna-package-lock.json
  package-lock.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, dependencies, public api change, base: next

#10450 Updated inactive object telemetry to not always log for non-summarizer clients
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: runtime, area: tests, base: main

#10487 Updated inactive object telemetry to not always log for non-summarizer clients
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: runtime, area: tests, base: next

#10435 Summary docs
  api-report/runtime-definitions.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/summary.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: runtime, public api change, base: main

#10240 Clean up and update tinylicious/azure-local-service deps
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/utils.ts
Labels: area: server, base: main

#10496 Add telemetry in odsp driver for server_disconnect and nack
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: main

#10495 Summary docs
  api-report/runtime-definitions.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/summary.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/runtime-definitions/src/summary.ts
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/utils.ts
Labels: area: server, area: runtime, area: driver, area: odsp-driver, public api change, base: next

#10372 Fix buildVersion script to calculate the latest tag
  tools/build-tools/bin/fluid-api-validator
  tools/build-tools/bin/fluid-type-validator
  tools/build-tools/src/buildVersion/buildVersion.ts
  tools/build-tools/src/buildVersion/buildVersionTests.ts
  tools/build-tools/tsconfig.json
  tools/pipelines/scripts/build-version.js
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: build, base: main

#10334 Write a tree handle into the summary when the gc blob has not changed
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcBlobInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/mockSummarizerClient.ts
Labels: area: runtime, area: tests, public api change, base: main

#10480 Preserve the value of isClpCompliantApp on resolved url in odsp
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/loader/driver-utils/src/multiUrlResolver.ts
Labels: area: loader, area: driver, area: odsp-driver, base: main

#10502 Fix bundle size test after webpack 5 update
  examples/utils/bundle-size-tests/webpack.config.js
Labels: area: examples, base: main

#10488 Generate shortcode json
  api-report/test-runtime-utils.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/drivers/fluidapp-odsp-urlResolver/src/urlResolver.ts
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/runtime/test-runtime-utils/src/index.ts
  packages/runtime/test-runtime-utils/src/validateAssertionError.ts
  packages/runtime/test-runtime-utils/tsconfig.json
  server/routerlicious/packages/protocol-base/src/quorum.ts
  tools/build-tools/src/repoPolicyCheck/README.md
  tools/build-tools/src/repoPolicyCheck/handlers/assertShortCode.ts
Labels: area: server, area: runtime, area: driver, area: dds, area: odsp-driver, public api change, base: main

#10492 Policy-check fixes
  packages/dds/sequence/src/defaultMap.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, area: dds, area: dds: sharedstring, base: main

#10499 Fix merge-tree conflict resolution inconsistency
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
Labels: area: dds, base: main

#10504 Deprecate enableRedeemFallback and default set it to true
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change, base: main

#10510 Remove deprecated IProxyLoaderFactory interface
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/index.ts
  common/lib/container-definitions/src/proxyLoader.ts
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.ts
Labels: area: loader, breaking change, area: definitions, public api change, base: next

#10509 Write a tree handle into the summary when the gc blob has not changed
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcBlobInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/mockSummarizerClient.ts
Labels: area: runtime, area: tests, public api change, base: next

#10508 build-tools: bundle size test sanity check
  examples/utils/bundle-size-tests/webpack.config.js
  tools/build-tools/src/bundleSizeAnalysis/collectBundleAnalyses.ts
Labels: area: examples, base: main

#10511 All IFluidObject Augmentations Removed
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/deltas.ts
  common/lib/container-definitions/src/index.ts
  common/lib/container-definitions/src/legacy/index.ts
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/src/fluidObject.ts
  packages/framework/view-interfaces/src/htmlView.ts
Labels: area: framework, breaking change, area: definitions, public api change, base: next

#10520 Revert SharedTree attribution API
  api-report/experimental-tree.api.md
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/SharedTreeEncoder.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeVersioningTests.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
Labels: area: dds, public api change, base: release

#10518 Add driver version and client type in xRequestStats in network request
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
Labels: area: driver, area: odsp-driver, base: main

#10521 Throw for non retriable error in odsp driver
  packages/drivers/odsp-driver/src/retryUtils.ts
Labels: area: driver, area: odsp-driver, base: main

#10481 Use IQuorumClients instead of IQuorum for test mocks
  api-report/test-runtime-utils.api.md
  examples/data-objects/table-document/package.json
  packages/loader/container-utils/package.json
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/testQuorum.ts
  packages/runtime/container-runtime/src/test/testQuorumClients.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.ts
Labels: area: examples, area: runtime, area: loader, public api change, base: main

#10514 Make sure we always log at least one DeltaLatency event
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#10057 Prototype Schema with typescript types
  packages/dds/tree/src/schema/Builders.ts
  packages/dds/tree/src/schema/index.ts
  packages/dds/tree/src/schema/typedSchema.ts
  packages/dds/tree/src/test/typedSchema.spec.ts
  packages/dds/tree/src/typeCheck.ts
  packages/dds/tree/src/typeCheckTests.ts
Labels: area: dds, base: main

#10523 Add the number of pending states to the close event when a runaway container is detected
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#10202 Fixes to eventual consistency of shared intervals, including significant LocalReference changes
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/REFERENCEPOSITIONS.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#10381 Enable upload full container summary for spdf
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/test/test-service-load/testConfig.json
Labels: area: driver, area: tests, area: odsp-driver, base: main

#10533 Add clientId in nack and server_disconnect events
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: main

#10532 [bump] package version for driver-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/iframe-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/functional-tests/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: odsp-driver, area: definitions, base: release

#10536 run build for protocol and driver definitions
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
Labels: area: definitions, base: release

#10345 refactor: Add explicit exception for failures in documentPostCreateCallback
  api-report/routerlicious-driver.api.md
  common/lib/driver-definitions/src/storage.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/tokens.ts
Labels: area: driver, area: definitions, public api change, base: main

#10538 Patch bump 1654291562361
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: definitions, base: release

#10498 better report read/create blob successes and failures
  packages/runtime/container-runtime/src/blobManager.ts
Labels: area: runtime, base: main

#10535 Add breaking note for ConnectionState changes
  BREAKING.md
Labels: breaking change, base: next

#10007 There are summaries that summarize too many ops, indicating we are not summarizing often enough
  BREAKING.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, breaking change, base: main

#10467 [GitRest] Implementing repo per doc model
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/repos.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
Labels: area: server, base: main

#10543 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: release

#10549 Typetests cleanup.
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/runtime/garbage-collector/src/test/types/validateGarbageCollectorPrevious.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.ts
Labels: area: framework, area: runtime, base: next

#10505 chore(runtime): enable strictNullChecks in test-runtime-utils package
  api-report/runtime-utils.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/runtime-utils/src/objectstorageutils.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
  packages/runtime/test-runtime-utils/src/mockStorage.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
  packages/runtime/test-runtime-utils/tsconfig.json
Labels: area: runtime, public api change, base: main

#10449 Support disconnect/reconnect with Quorum DDS
  api-report/quorum.api.md
  api-report/test-runtime-utils.api.md
  packages/dds/quorum/src/quorum.ts
  packages/dds/quorum/src/test/quorum.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.ts
Labels: area: runtime, area: dds, public api change, base: main

#10544 Fix typo in function name
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
Labels: area: driver, area: odsp-driver, base: main

#10558 Event BatchStats - Set duration as undefined when Data_interruped == false
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#10566 Add mocha configuration for Tree workspace
  packages/dds/tree/.vscode/Tree.code-workspace
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/src/test/.mocharc.js
Labels: base: main

#10564 Add location redirection error
  api-report/driver-definitions.api.md
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/driverError.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: next

#9957 9922 Make summaries more accurately account user ops
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: runtime, area: tests, public api change, base: next

#10483 Use more concise phrasing in GC doc comments
  packages/runtime/runtime-definitions/src/garbageCollection.ts
Labels: area: runtime, base: main

#10542 Add drop collection
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/packages/test-utils/src/testCollection.ts
  server/tinylicious/src/services/inMemorydb.ts
  server/tinylicious/src/services/levelDb.ts
Labels: area: server, area: driver, base: main

#10571 Setup good-fences in tree
  lerna-package-lock.json
  packages/dds/tree/package.json
  packages/dds/tree/src/fence.json
  packages/dds/tree/src/forest/fence.json
  packages/dds/tree/src/schema/Comparison.ts
  packages/dds/tree/src/schema/View.ts
  packages/dds/tree/src/schema/fence.json
  packages/dds/tree/src/schema/typedSchema.ts
  packages/dds/tree/src/test/fence.spec.ts
  packages/dds/tree/src/test/typedSchema.spec.ts
  packages/dds/tree/src/tree/fence.json
  packages/dds/tree/src/util/fence.json
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/dds/tree/src/util/typeCheckTests.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, dependencies, base: main

#10569 Remove semver import and replace the algorithm
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: main

#10513 Improve interval collection fuzz test debuggability
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10583 Remove semver import and replace the algorithm (#10569)
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: release

#10584 Replace semver algorithm 0.59.4000
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, area: definitions, public api change, base: main

#10588 policy fix for 0.59.4000
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: release

#10563 Setup utilities for type branding, and use in tree
  api-report/tree.api.md
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/brand.spec.ts
  packages/dds/tree/src/test/tsconfig.json
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/types.ts
  packages/dds/tree/src/util/brand.ts
  packages/dds/tree/src/util/index.ts
Labels: area: dds, public api change, base: main

#10552 Rename a bunch of variables and properties tracking op processing time to better reflect what they mean / track
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#10553 Improve ping telemetry quality / quantity
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#10562 Cleanup comments
  packages/dds/map/src/mapKernel.ts
Labels: area: dds, base: main

#10590 assert tags in main
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#10593 Making perMessageDeflate configurable
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-shared/src/webServer.ts
Labels: area: server, base: main

#10596 assert tags from main
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: release

#10597 use body-parser instead of formidable
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/test/restLess.spec.ts
Labels: area: server, base: main

#10586 Adding error handling for incomingOpHandler and DeltaQueue.push()
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/deltaQueue.ts
Labels: area: loader, base: main

#10598 Stop prefixing interval collection labels in SharedString
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/snapshotVersion.spec.ts
  packages/dds/sequence/src/test/snapshots/legacy/withIntervals.json
  packages/dds/sequence/src/test/snapshots/legacyWithCatchUp/withIntervals.json
  packages/dds/sequence/src/test/snapshots/v1/withIntervals.json
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#10592 Fixed the first summary for a container logging incremental summary violation error
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: tests, base: main

#10342 Implement reconnection logic for interval collections
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.rebasePosition.spec.ts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/defaultMapInterfaces.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#10599 Updated GC state to be written at the root of summary tree by default
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: tests, base: main

#10307 Local rollback for map
  api-report/map.api.md
  api-report/undo-redo.api.md
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/map.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: dds, area: tests, public api change, base: main

#10602 tools: Eslint jsdoc config cleanup
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#10614 use body-parser instead of formidable (#10597)
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/test/restLess.spec.ts
Labels: area: server, base: release

#10613 Remove invalid early-exit in interval modification
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10577 Protocol handler interface
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, public api change, base: main

#10500 docs: Update documentation to enhance readability and navigability
  docs/content/docs/_index.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
  docs/content/docs/concepts/architecture/index.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/summarizer.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/experimental.md
  docs/content/docs/data-structures/map.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/task-manager.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/faq.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/testing.md
  docs/content/docs/testing/tinylicious.md
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, base: main

#10572 Fix Early Container Close Exception
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#10616 remove routerlicious-host package (#10171)
  BREAKING.md
  PACKAGES.md
  lerna-package-lock.json
  packages/drivers/routerlicious-host/.eslintrc.js
  packages/drivers/routerlicious-host/.gitignore
  packages/drivers/routerlicious-host/.npmignore
  packages/drivers/routerlicious-host/LICENSE
  packages/drivers/routerlicious-host/README.md
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-host/src/index.ts
  packages/drivers/routerlicious-host/src/packageVersion.ts
  packages/drivers/routerlicious-host/src/test/tsconfig.json
  packages/drivers/routerlicious-host/src/test/types/validateRouterliciousHostPrevious.ts
  packages/drivers/routerlicious-host/src/test/urlResolver.spec.ts
  packages/drivers/routerlicious-host/src/urlResolver.ts
  packages/drivers/routerlicious-host/tsconfig.esnext.json
  packages/drivers/routerlicious-host/tsconfig.json
Labels: area: driver, breaking change, dependencies, community-contribution, base: next

#10424 Reject-slashes-in-ids for DataStore and DDS
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/test/sharedObject.spec.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
  packages/runtime/datastore/src/test/localChannelContext.spec.ts
  packages/runtime/datastore/src/test/remoteChannelContext.spec.ts
Labels: area: runtime, area: dds, base: main

#10620 Remove ISummaryConfiguration from protocol-definitions
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/config.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
Labels: public api change, base: next

#10630 Lock file changes after doing a clean install/build on next
  azure/lerna-package-lock.json
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  server/azure-local-service/package-lock.json
  tools/benchmark/package-lock.json
Labels: area: server, base: next

#10409 Fix deli trying to nack system sent messages
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10624 Bumping down server packages to 0.1036.5000
  server/azure-local-service/package-lock.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#10628 protocol defs bumped down to 0.1028.3000
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
Labels: base: main

#10631 Comment cleanup
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, base: main

#10625 Improved Reference Positions documentation
  packages/dds/merge-tree/REFERENCEPOSITIONS.md
Labels: area: dds, base: main

#10555 Arikt/usage counting
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/package-lock.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/throttler.ts
  server/routerlicious/packages/services-core/src/usageData.ts
  server/routerlicious/packages/services-utils/src/redisUtils.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/redisThrottleAndUsageStorageManager.ts
  server/routerlicious/packages/services/src/redisThrottleStorageManager.ts
  server/routerlicious/packages/services/src/test/redisThrottleAndUsageStorageManager.spec.ts
  server/routerlicious/packages/services/src/test/throttlerHelper.spec.ts
  server/routerlicious/packages/services/src/throttler.ts
  server/routerlicious/packages/services/src/throttlerHelper.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/test/testsForThrottleAndUsageStorageManager.spec.ts
  server/routerlicious/packages/test-utils/src/testThrottleAndUsageStorageManager.ts
  server/routerlicious/packages/test-utils/src/testThrottleStorageManager.ts
Labels: area: server, base: main

#10622 Faster _getSlideToSegment implementation
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, base: main

#10618 Add IOdspErrorAugmentations for having odsp error related props on the error
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/types/validateOdspDoclibUtilsPrevious.ts
Labels: area: driver, area: odsp-driver, public api change, base: next

#10626 Allow deli to extend write clients
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10638 Improve efficiency of getIntervalById
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10634 Remove extra version and semver code
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
Labels: area: runtime, area: tests, base: main

#10637 bumping common-utils and common-definitions
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
Labels: base: next

#10581 Consume location redirection error in odsp driver and add patched url on the error
  api-report/driver-utils.api.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspLocationRedirection.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/loader/driver-utils/src/network.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: next

#10570 ConnectionStateHandler - Fix assert 0x2a6
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#10642 Bump server package version for historian/gitRest.
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#10561 IdCompressor Telemetry
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/test/MergeHealthTelemetryHeartbeat.tests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
Labels: area: dds, base: main

#10650 Server update
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: next

#10546 Draft: Collect roundtrip latencies for signals
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.ts
Labels: area: runtime, public api change, base: main

#10610 Fixed Tinylicious link on FF.com
  docs/content/docs/build/packages.md
Labels: documentation, community-contribution, base: main

#10401 Added printed eslint configs for recommended and strict
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
Labels: base: main

#10420 Automate main-next prototype
  .github/workflows/merge-commits-to-next-branch.yml
  .github/workflows/push-to-azure-queue.yml
Labels: area: build, base: main

#10640 Upgrade server to `0.1036.5000-0` in client
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#10653 Fix up Type Validation
  packages/drivers/debugger/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/replay-driver/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
Labels: area: runtime, area: driver, base: main

#10654 Only record non retriable error for join session refresh
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver, base: main

#10469 Add strict api-extractor config
  common/build/build-common/api-extractor-common-strict.json
Labels: base: main

#10623 tools: Enable `valid-typeof` rule
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#10656 Fix processing of unversioned ops
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
Labels: area: dds, base: main

#10664 refactor: Fixes for new linter rules
  examples/data-objects/shared-text/src/client-ui-lib/controls/commandBox.tsx
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ErrorPopup.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ExpiryModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/Field.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTable.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NotificationsViewer.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyDataCreationHandlers.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/icons.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/typeUtils.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/utils.tsx
  packages/dds/ink/src/ink.ts
  packages/dds/merge-tree/src/client.ts
  packages/drivers/debugger/src/sanitizer.ts
  packages/loader/container-loader/src/contracts.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: examples, area: loader, area: driver, area: dds, area: tests, area: dds: propertydds, base: main

#10607 Add Fault Injection Tests For batching
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
Labels: area: tests, base: main

#10667 fix connection string and parsing
  .github/workflows/merge-commits-to-next-branch.yml
  .github/workflows/push-to-azure-queue.yml
Labels: area: build, base: main

#10670 upgrade server package dependencies in T9s
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/app.ts
Labels: area: server, base: main

#10675 Pipeline: Fix test build version
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#10657 Preserve telemetry props when normalizing or wrapping a LoggingError
  api-report/telemetry-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: main

#10661 tools: Enable `unicorn/prefer-ternary` rule and pre-apply fixes
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/lib/common-utils/src/bufferNode.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/commandBox.tsx
  examples/data-objects/shared-text/src/client-ui-lib/controls/domutils.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/paragraph.ts
  experimental/PropertyDDS/examples/partial-checkout/src/demo/views/squaresBoard.ts
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/tree/src/EditLog.ts
  experimental/dds/tree/src/LogViewer.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/SharedTreeEncoder.ts
  experimental/dds/tree/src/TransactionInternal.ts
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/test/SessionIdNormalizer.tests.ts
  experimental/dds/tree/src/test/Summary.tests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/TestNode.ts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  server/tinylicious/src/services/inMemorycollection.ts
  tools/benchmark/src/Runner.ts
Labels: area: examples, area: server, area: driver, area: dds, area: dds: sharedstring, area: dds: propertydds, base: main

#10392 fetch-tool: Remove project-wide lint disables
  packages/tools/fetch-tool/.eslintrc.js
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
  packages/tools/fetch-tool/src/fluidFetch.ts
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
Labels: base: main

#10573 Use DataCorruption for 1Mb limit for op batches
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#10660 common def type tests cleanup
  lerna-package-lock.json
  package-lock.json
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/test/types/validateCoreInterfacesPrevious.ts
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
Labels: dependencies, base: main

#10687 reEnabled tests
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: tests

#10587 Add reconnect fuzz tests
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10689 Fix git event
  .github/workflows/push-to-azure-queue.yml
Labels: area: build, base: main

#10678 fix: Correct relative path for api-extractor output
  azure/packages/azure-client/api-extractor.json
  azure/packages/azure-service-utils/api-extractor.json
Labels: base: main

#10686 Re-export ConnectionState from fluid-framework
  api-report/fluid-framework.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/containerLoader.ts
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, public api change, base: main

#10645 tools: Enable `unicorn/prefer-type-error` rule and pre-apply fixes
  azure/packages/external-controller/src/controller.ts
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/test.json
  experimental/PropertyDDS/packages/property-changeset/src/pathHelper.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-common/src/datastructures/integer64.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/InputValidator.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/baseProperty.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/enumArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/mapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueArrayProperty.js
  experimental/PropertyDDS/packages/property-proxy/src/componentMap.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaTopics.ts
Labels: area: server, area: runtime, area: loader, area: dds, area: dds: sharedstring, area: tests, area: dds: propertydds, base: main

#10690 Cherry-pick PR #10686 to 1.0 release branch
  api-report/fluid-framework.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/containerLoader.ts
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, public api change, base: release

#10644 Fix a consistency issue with single-endpoint interval modification
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10693 docs: Update auto-generated README contents
  common/build/eslint-config-fluid/README.md
Labels: documentation, base: main

#10696 policy-check fixes
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: release

#10698 Additional policy-check fix
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: release

#10632 Aliasing access happens in the runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: tests, base: main

#10704 skip sequence number check when loading with stashed ops
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#10676 Added option in TestObjectProvider to sync summarizer clients.
  api-report/test-utils.api.md
  examples/data-objects/webflow/src/test/layout.spec.ts
  examples/data-objects/webflow/src/test/segmentspan.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/src/describeCompat.ts
Labels: area: examples, area: tests, public api change, base: main

#10703 Extend expiry of the baselines in our docs build.
  docs/.gdnbaselines
Labels: base: main

#10713 bump azure packages to use 1.0.1 of core
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
Labels: base: main

#10717 Update fluid-framework type test file
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
Labels: area: framework, base: main

#10716 fluid-framework typetests fixes
  lerna-package-lock.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
Labels: area: framework, dependencies, base: next

#10702 Reapply fix for single endpoint modification interval consistency
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10710 Update good-fences to allow comments
  lerna-package-lock.json
  packages/dds/tree/package.json
  packages/dds/tree/src/util/fence.json
Labels: area: dds, dependencies, base: main

#10706 build: Some misc. cleanup to docs build
  docs/package.json
  docs/rollup-api-json.js
Labels: area: website, base: main

#10705 Prevent deli from sending summary throttling nacks mid batch
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10720 r11s: check if doc is deleted during discovery
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#10721 bump azure packages to use 1.0.1 of core
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
Labels: base: release

#10709 Integrate Local Reference Deprecations
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/paragraph.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/table.ts
  examples/data-objects/table-document/src/cellrange.ts
  examples/data-objects/table-document/src/document.ts
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/editor/caret.ts
  examples/data-objects/webflow/src/test/flowdocument.spec.ts
  examples/data-objects/webflow/src/util/localref.ts
  examples/data-objects/webflow/src/view/layout.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/wordUnitTests.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/framework/undo-redo/src/sequenceHandler.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
Labels: area: examples, area: framework, area: dds, area: dds: sharedstring, area: tests, base: next

#10673 Add dependency tracking library to tree
  packages/dds/tree/src/dependency-tracking/README.md
  packages/dds/tree/src/dependency-tracking/cleanable.ts
  packages/dds/tree/src/dependency-tracking/dependencies.ts
  packages/dds/tree/src/dependency-tracking/disposingDependee.ts
  packages/dds/tree/src/dependency-tracking/fence.json
  packages/dds/tree/src/dependency-tracking/incrementalObservation.ts
  packages/dds/tree/src/dependency-tracking/index.ts
  packages/dds/tree/src/dependency-tracking/simpleDependee.ts
  packages/dds/tree/src/dependency-tracking/simpleObservingDependent.ts
  packages/dds/tree/src/forest/fence.json
  packages/dds/tree/src/test/dependency-tracking/disposingDependee.spec.ts
Labels: area: dds, base: main

#10728 skip flaky stashed ops test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#10731 Adding extra check during token validation to explicitly avoid non-string tokens
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/services-client/src/auth.ts
Labels: area: server, base: main

#10179 #10008 Revise idleTime mechanism
  BREAKING.md
  api-report/container-runtime.api.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/drivers/odsp-driver/src/test/joinSessionPeriodicCall.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: runtime, area: driver, area: dds, breaking change, area: tests, area: odsp-driver, public api change, base: next

#10695 Better organize tree changeset and test code
  packages/dds/tree/src/changeset/fence.json
  packages/dds/tree/src/changeset/flatAttachTree.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/schema/index.ts
  packages/dds/tree/src/test/changeset/fence.spec.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/dummy.spec.ts
  packages/dds/tree/src/test/schema/StoredSchemaRepository.spec.ts
  packages/dds/tree/src/test/schema/comparison.spec.ts
  packages/dds/tree/src/test/schema/examples/JsonDomainSchema.ts
  packages/dds/tree/src/test/schema/examples/SchemaExamples.ts
  packages/dds/tree/src/test/schema/typedSchema.spec.ts
  packages/dds/tree/src/test/util/brand.spec.ts
Labels: area: dds, base: main

#10559 Some refactoring in ConnectionStateHandler
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#10735 Run typetests:gen to fix type tests
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/packages/azure-client/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/loader/test-loader-utils/package.json
  packages/test/test-utils/package.json
Labels: area: framework, area: loader, area: tests, base: next
