Repository microsoft/FluidFramework, pull requests merged in 2022-02, with the labels that each got.

#8862 Include driverVersion telemetry prop on errors raised from the driver layer
  BREAKING.md
  api-report/driver-utils.api.md
  lerna-package-lock.json
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: loader, area: driver, breaking change, dependencies, area: test, area: odsp-driver, public api change

#8848 Complete codeowners config
  .github/CODEOWNERS
  .github/code_owners.yml
  .github/workflows/auto-assign-pr.yml
  .github/workflows/pr-validation.yml
Labels: area: build

#8953 Bumping Node Docker image to 14.18.3
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
  server/tinylicious/.devcontainer/Dockerfile
Labels: area: server

#8596 Container is now considered dirty if not attached.
  docs/content/docs/build/containers.md
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: documentation, area: runtime, area: loader, area: test

#8959 Update BREAKING.md to correctly list synthesizer changes
  BREAKING.md
Labels: breaking change

#8841 Remove SharedObjectCore.is
  BREAKING.md
  api-report/cell.api.md
  api-report/counter.api.md
  api-report/ink.api.md
  api-report/map.api.md
  api-report/matrix.api.md
  api-report/ordered-collection.api.md
  api-report/register-collection.api.md
  api-report/sequence.api.md
  api-report/shared-object-base.api.md
  api-report/shared-summary-block.api.md
  api-report/task-manager.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/tree/src/generic/GenericSharedTree.ts
  experimental/dds/xtree/src/tree.ts
  packages/dds/cell/src/cell.ts
  packages/dds/counter/src/counter.ts
  packages/dds/ink/src/ink.ts
  packages/dds/map/src/directory.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/localValues.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: dds, breaking change, area: dds: sharedstring, area: test, area: dds: propertydds, public api change

#8955 Remove flow-util-lib example package
  examples/data-objects/flow-util-lib/.eslintrc.js
  examples/data-objects/flow-util-lib/.gitignore
  examples/data-objects/flow-util-lib/.npmignore
  examples/data-objects/flow-util-lib/LICENSE
  examples/data-objects/flow-util-lib/README.md
  examples/data-objects/flow-util-lib/bench/index.ts
  examples/data-objects/flow-util-lib/package.json
  examples/data-objects/flow-util-lib/src/bsearch.ts
  examples/data-objects/flow-util-lib/src/bsearch2.ts
  examples/data-objects/flow-util-lib/src/char.ts
  examples/data-objects/flow-util-lib/src/dom.ts
  examples/data-objects/flow-util-lib/src/index.ts
  examples/data-objects/flow-util-lib/src/isbrowser.ts
  examples/data-objects/flow-util-lib/src/lis.ts
  examples/data-objects/flow-util-lib/src/resizeobserver/index.css
  examples/data-objects/flow-util-lib/src/resizeobserver/index.css.d.ts
  examples/data-objects/flow-util-lib/src/resizeobserver/index.ts
  examples/data-objects/flow-util-lib/src/scheduler.ts
  examples/data-objects/flow-util-lib/src/template.ts
  examples/data-objects/flow-util-lib/src/test/bsearch.spec.ts
  examples/data-objects/flow-util-lib/src/test/bsearch2Shim.ts
  examples/data-objects/flow-util-lib/src/test/lis.spec.ts
  examples/data-objects/flow-util-lib/src/test/patience.ts
  examples/data-objects/flow-util-lib/src/test/sequence.ts
  examples/data-objects/flow-util-lib/src/test/template.spec.ts
  examples/data-objects/flow-util-lib/src/test/tsconfig.json
  examples/data-objects/flow-util-lib/tsconfig.esnext.json
  examples/data-objects/flow-util-lib/tsconfig.json
  examples/data-objects/table-view/package.json
  examples/data-objects/table-view/src/grid.ts
  examples/data-objects/table-view/src/tableview.ts
  examples/data-objects/webflow/package.json
  examples/data-objects/webflow/src/clipboard/paste.ts
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/editor/caret.ts
  examples/data-objects/webflow/src/editor/editor.ts
  examples/data-objects/webflow/src/host/host.ts
  examples/data-objects/webflow/src/host/searchmenu/index.ts
  examples/data-objects/webflow/src/host/searchmenu/view.ts
  examples/data-objects/webflow/src/html/css.ts
  examples/data-objects/webflow/src/html/formatters.ts
  examples/data-objects/webflow/src/test/direction.spec.ts
  examples/data-objects/webflow/src/test/flowdocument.spec.ts
  examples/data-objects/webflow/src/test/strings.spec.ts
  examples/data-objects/webflow/src/test/tokenlist.spec.ts
  examples/data-objects/webflow/src/util/attr.ts
  examples/data-objects/webflow/src/util/caret.ts
  examples/data-objects/webflow/src/util/charcode.ts
  examples/data-objects/webflow/src/util/command.ts
  examples/data-objects/webflow/src/util/direction.ts
  examples/data-objects/webflow/src/util/dom.ts
  examples/data-objects/webflow/src/util/index.ts
  examples/data-objects/webflow/src/util/keycode.ts
  examples/data-objects/webflow/src/util/random.ts
  examples/data-objects/webflow/src/util/rect.ts
  examples/data-objects/webflow/src/util/string.ts
  examples/data-objects/webflow/src/util/tag.ts
  examples/data-objects/webflow/src/util/tagName.ts
  examples/data-objects/webflow/src/util/tokenlist.ts
  examples/data-objects/webflow/src/view/layout.ts
Labels: area: examples

#8977 Container dirty flag docs update.
  BREAKING.md
  packages/framework/fluid-static/src/fluidContainer.ts
Labels: area: framework, breaking change

#8952 Remove IFluidObject from Runtime Definitions
  BREAKING.md
  api-report/runtime-definitions.api.md
  examples/data-objects/scribe/src/scribe.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, area: runtime, breaking change, public api change

#8814 Removed requestFluidObject_UNSAFE on PureDataObject.
  BREAKING.md
  api-report/aqueduct.api.md
  examples/data-objects/table-document/package.json
  examples/data-objects/table-document/src/slice.ts
  examples/data-objects/vltava/src/fluidObjects/tabs/dataModel.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: examples, area: framework, breaking change, public api change

#8891 Remove IFluidObject from Aqueduct
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/container-services/containerServices.ts
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/index.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/aqueduct/src/utils/containerInteractions.ts
Labels: area: framework, breaking change, public api change

#8971 Respect canRetry from error thrown from token provider
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver

#8983 Added tests to validate that data stores are only resummarized if they changed.
  packages/test/test-end-to-end-tests/src/test/gc/gcResummarizationTests.spec.ts
Labels: area: test

#8985 [port 0.55] Respect canRetry from error thrown from token provider
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver

#8986 [port 0.56] Respect canRetry from error thrown from token provider
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver

#8987 [port 0.54] Respect canRetry from error thrown from token provider
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver

#8988 [0.55] Fix post-release versions
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
Labels: area: dds, area: dds: propertydds

#8935 Removing snapshot uploads from container
  api-report/container-loader.api.md
  api-report/container-runtime.api.md
  api-report/driver-utils.api.md
  api-report/file-driver.api.md
  packages/drivers/file-driver/src/fileDocumentStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/treeConversions.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/snapshots/src/snapshotStorageService.ts
  packages/test/snapshots/src/validateSnapshots.ts
  packages/tools/replay-tool/package.json
  packages/tools/replay-tool/src/helpers.ts
  packages/tools/replay-tool/src/replayFluidFactories.ts
  packages/tools/replay-tool/src/replayMessages.ts
Labels: area: runtime, area: loader, area: driver, area: test, public api change

#8905 start Logging readBlob errors
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelStorageService.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/datastore/src/test/channelStorageService.spec.ts
Labels: area: runtime

#8996 client-ui-lib and shared-text cleanup
  examples/agents/intelligence-runner-agent/.eslintrc.js
  examples/agents/intelligence-runner-agent/.gitignore
  examples/agents/intelligence-runner-agent/.npmignore
  examples/agents/intelligence-runner-agent/LICENSE
  examples/agents/intelligence-runner-agent/README.md
  examples/agents/intelligence-runner-agent/package.json
  examples/agents/intelligence-runner-agent/src/analytics/api.ts
  examples/agents/intelligence-runner-agent/src/analytics/index.ts
  examples/agents/intelligence-runner-agent/src/analytics/resumeAnalytics.ts
  examples/agents/intelligence-runner-agent/src/analytics/textAnalytics.ts
  examples/agents/intelligence-runner-agent/src/index.ts
  examples/agents/intelligence-runner-agent/src/intelRunner.ts
  examples/agents/intelligence-runner-agent/src/rateLimiter.ts
  examples/agents/intelligence-runner-agent/src/serviceManager.ts
  examples/agents/intelligence-runner-agent/tsconfig.json
  examples/data-objects/client-ui-lib/src/controls/domutils.ts
  examples/data-objects/client-ui-lib/src/controls/flowContainer.ts
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/controls/image.ts
  examples/data-objects/client-ui-lib/src/controls/index.ts
  examples/data-objects/client-ui-lib/src/controls/layerPanel.ts
  examples/data-objects/client-ui-lib/src/controls/layout.ts
  examples/data-objects/client-ui-lib/src/controls/scrollBar.ts
  examples/data-objects/client-ui-lib/src/controls/scrollViewer.ts
  examples/data-objects/client-ui-lib/src/controls/status.ts
  examples/data-objects/client-ui-lib/src/text/paragraph.ts
  examples/data-objects/client-ui-lib/src/ui/browserContainerHost.ts
  examples/data-objects/client-ui-lib/src/ui/definitionGuide.ts
  examples/data-objects/client-ui-lib/src/ui/geometry/index.ts
  examples/data-objects/client-ui-lib/src/ui/geometry/vector.ts
  examples/data-objects/client-ui-lib/src/ui/utils.ts
  examples/data-objects/client-ui-lib/tsconfig.json
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/src/chaincode.ts
  examples/data-objects/search-menu/src/domutils.ts
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/shared-text/src/pageCacher.ts
  examples/data-objects/shared-text/src/utils.ts
  lerna-package-lock.json
Labels: area: examples, dependencies

#9007 Apmahade/savedocumentscolltoglobaldb
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-core/src/mongoDatabaseManager.ts
Labels: area: server

#8981 reseting `opSendTimeForLatencyStatisticsForMsnStatistics` on disconnect
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime

#8982 Track total summarization attempts made by a given Summarizer
  docs/content/docs/deep/summaryTelemetry.md
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: documentation, area: runtime

#8975 Encoding git blobs correctly in tinylicious
  server/tinylicious/src/routes/storage/git/blobs.ts
Labels: area: server, community-contribution

#9002 Remove Unused and Deprecated IFluidObject augmentations
  BREAKING.md
  examples/data-objects/pond/src/interfaces/interfaces.ts
  packages/framework/view-interfaces/src/mountableView.ts
  packages/runtime/agent-scheduler/src/agent.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
Labels: area: examples, area: framework, area: runtime, breaking change

#9010 Removing snapshot from container def
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/runtime.ts
  common/lib/container-definitions/src/test/types/validate0.39.8.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/container-definitions/src/test/types/validate0.41.0.ts
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
  common/lib/container-definitions/src/test/types/validate0.44.0.ts
  common/lib/container-definitions/src/test/types/validate0.45.0.ts
Labels: breaking change, area: definitions, public api change

#9013 Bump version on container defs & removing snapshot API
  api-report/container-runtime.api.md
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/iframe-host/src/inframehost.ts
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, public api change

#8990 Fix for data stores resummarized without changes.
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcResummarizationTests.spec.ts
Labels: area: runtime, area: test, public api change

#9031 merge for testing
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server

#9020 Fix for data stores resummarized without changes. (#8990)
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcResummarizationTests.spec.ts
Labels: area: runtime, area: test, public api change

#9037 lockfile updates after clean install/build
  common/lib/container-definitions/package-lock.json
  common/lib/driver-definitions/package-lock.json
Labels: area: definitions

#9041 Remove use of new Function in routerlicious-driver
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
Labels: area: driver

#8820 r11s: enable socket.io long-polling as a fallback
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, area: driver, public api change

#8697 ESLint upgrade: Historian packages use latest version of ESLint and shared config
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/.eslintrc.js
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/.eslintrc.js
  server/historian/packages/historian/package.json
Labels: area: server

#9042 Added validation that data stores are not summarized if they haven't changed
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
Labels: area: runtime, area: test, public api change

#8999 Log isSummarizer and add unit test
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
Labels: area: driver, area: odsp-driver

#9066 Update azure client peer on fluid-framework
  packages/framework/azure-client/package.json
Labels: area: framework

#9065 [0.56] Update azure client peer
  packages/framework/azure-client/package.json
Labels: area: framework

#9045 Rename telemetry prop
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#9016 Cleanup some duplicate telemetry helpers
  BREAKING.md
  common/lib/common-utils/package.json
  common/lib/common-utils/src/logger.ts
  common/lib/common-utils/src/test/mocha/logger.spec.ts
  common/lib/common-utils/src/test/types/validate0.32.1.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: loader, breaking change

#8964 Do not close container from reconnectOnError even if canRetry is false
  api-report/driver-base.api.md
  api-report/driver-utils.api.md
  api-report/telemetry-utils.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/test-loader-utils/src/mockDocumentDeltaConnection.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: area: loader, area: driver, area: test, area: odsp-driver, public api change

#9051 Server: Bump shared eslint config and remove no-null/no-null plugin
  server/gitrest/.eslintrc.js
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/src/routes/git/blobs.ts
  server/gitrest/src/routes/git/commits.ts
  server/gitrest/src/routes/git/trees.ts
  server/gitrest/src/test/treebuilder.spec.ts
  server/gitrest/src/utils.ts
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/kafka-orderer/src/kafkaOrderer.ts
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/deli/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
  server/routerlicious/packages/lambdas/src/utils/messageGenerator.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/localDeltaConnectionServer.spec.ts
  server/routerlicious/packages/memory-orderer/.eslintrc.js
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/.eslintrc.js
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/.eslintrc.js
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/auth.ts
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-client/src/utils.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-ordering-kafkanode/.eslintrc.js
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/.eslintrc.js
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/.eslintrc.js
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/.eslintrc.js
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/.eslintrc.js
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/.eslintrc.js
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/.eslintrc.js
Labels: area: server

#9068 Launch.json: Specify Outdir for debug mocha tests
  .vscode/launch.json
Labels: area: contributor experience

#9073 Fix lint error
  packages/loader/container-loader/src/test/connectionManager.spec.ts
Labels: area: loader

#9074 Switch to 1ES agent pool for repo-policy-check
  tools/pipelines/repo-policy-check.yml
Labels: area: build

#9077 merge Pizh/secondkey
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
Labels: area: server

#9076 Synthesizer: Re-add getProvider for backcompat
  packages/framework/synthesize/src/dependencyContainer.ts
Labels: area: framework

#9081 [0.56] Port agent pool change
  tools/pipelines/repo-policy-check.yml
Labels: area: build

#9080 0.56 Port: Re-add getProvider for backcompat (#9076)
  packages/framework/synthesize/src/dependencyContainer.ts
Labels: area: framework

#9085 Add SBOM generation to the website build
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
  docs/staticwebapp.config.json
Labels: area: build, area: website

#8998 Fix for StringProperty which caused wrong dirtiniess reporting
  experimental/PropertyDDS/packages/property-properties/src/properties/stringProperty.js
  experimental/PropertyDDS/packages/property-properties/src/test/properties/stringProperty.spec.js
Labels: area: dds: propertydds, community-contribution

#9089 Run JS tests for folders one level lower than test
  .vscode/launch.json
Labels: area: contributor experience

#9090 Batch processing logic is broken in presence of system op before incomplete batch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: test

#9094 [0.55] Port Batch processing logic is broken in presence of system op before inco…
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: test

#9095 [0.55] Remove duplicate dev deps
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
Labels: area: dds, area: dds: propertydds

#9097 [0.56] Port Batch processing logic is broken in presence of system op before incomplete batch (#9090)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: test

#9099 Fix Debug Current Mocha Test Cross Package Break Points
  .vscode/launch.json
Labels: area: contributor experience

#9071 Add packagePath to GC inactive telemetry.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
Labels: area: runtime, area: test

#9063 second key support
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server

#9092 Remove Quorum rejections and committed proposal state
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/test/types/validate0.45.0.ts
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/protocol-base/src/test/quorum.spec.ts
Labels: area: server, area: runtime, area: loader, breaking change, area: test, area: definitions, public api change

#9107 Eliminate noisy LastSummaryProposedHandleMismatch events
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver

#8805 Data store aliasing - Part 2: API
  BREAKING.md
  api-report/container-runtime.api.md
  experimental/framework/last-edited/src/setup.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: dev experience, breaking change, area: test, public api change

#9100 logging latency of the last ping and remove aggregation of delta latency
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime

#9021 Summary telemetry cleanup
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: runtime, area: driver, area: test, area: odsp-driver

#9115 policy check fix
  packages/runtime/container-runtime/src/dataStores.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: area: runtime

#9117 Adding usageEmitter.
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/services-core/src/throttler.ts
Labels: area: server

#9118 Arikt/usagecounters
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server

#9122 Revert accidental commits to origin/main
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/loader/driver-utils/src/network.ts
Labels: area: loader, area: driver, area: odsp-driver

#9121 Fix Mocklogger assert functions
  api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: public api change

#9123 Temporarily disable a test
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
Labels: area: test

#8634 Renable No Delta Stream Test
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: test

#9126 Build Break: Fix missed lint
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
Labels: area: test

#9128 [->0.57] Temporarily disable a test (#9123)
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
Labels: area: test

#9129 Added test to validate non-root data stores can be requested in detached container
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: test

#9056 Remove drivers' hard dependencies on code loader types.
  api-report/iframe-driver.api.md
  api-report/odsp-driver.api.md
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/iframe-driver/src/innerUrlResolver.ts
  packages/drivers/iframe-driver/src/outerUrlResolver.ts
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: test, area: dds: propertydds, area: odsp-driver, area: definitions, public api change

#9103 Rewrite search-menu into client-ui-lib and delete the package
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/controls/commandBox.tsx
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/index.ts
  examples/data-objects/client-ui-lib/src/text/paragraph.ts
  examples/data-objects/client-ui-lib/tsconfig.json
  examples/data-objects/search-menu/.eslintrc.js
  examples/data-objects/search-menu/.gitignore
  examples/data-objects/search-menu/.npmignore
  examples/data-objects/search-menu/LICENSE
  examples/data-objects/search-menu/README.md
  examples/data-objects/search-menu/package.json
  examples/data-objects/search-menu/src/characterCodes.ts
  examples/data-objects/search-menu/src/cursor.ts
  examples/data-objects/search-menu/src/domutils.ts
  examples/data-objects/search-menu/src/index.ts
  examples/data-objects/search-menu/src/keycode.ts
  examples/data-objects/search-menu/src/rectangle.ts
  examples/data-objects/search-menu/src/searchMenu.ts
  examples/data-objects/search-menu/src/size.ts
  examples/data-objects/search-menu/tsconfig.esnext.json
  examples/data-objects/search-menu/tsconfig.json
Labels: area: examples

#9131 Add Quorum tests
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/protocol-base/src/test/quorum.spec.ts
Labels: area: server

#9025 Declarative Expected Events (errors) in End to End Test
  api-report/test-utils.api.md
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: test, public api change

#9110 Improve Merge Tree TestLogger
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds

#9139 [0.57] Bump package version for container-definitions (patch) after release
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.46.0.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#9136 GitRest Refactor: Move all Git logic into a RepoManager
  server/gitrest/src/app.ts
  server/gitrest/src/routes/git/blobs.ts
  server/gitrest/src/routes/git/commits.ts
  server/gitrest/src/routes/git/refs.ts
  server/gitrest/src/routes/git/repos.ts
  server/gitrest/src/routes/git/tags.ts
  server/gitrest/src/routes/git/trees.ts
  server/gitrest/src/routes/index.ts
  server/gitrest/src/routes/repository/commits.ts
  server/gitrest/src/routes/repository/contents.ts
  server/gitrest/src/routes/summaries.ts
  server/gitrest/src/routes/utils.ts
  server/gitrest/src/runner.ts
  server/gitrest/src/test/routes.spec.ts
  server/gitrest/src/utils.ts
  server/gitrest/src/utils/definitions.ts
  server/gitrest/src/utils/helpers.ts
  server/gitrest/src/utils/index.ts
  server/gitrest/src/utils/nodegitConversions.ts
  server/gitrest/src/utils/nodegitManager.ts
Labels: area: server

#9150 Remove getApprovalData from IQuorum
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
Labels: public api change

#9143 Remove race condition for root datastore test when running in t9s
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#9155 Cleanup: Move IntervalType from merge-tree to sequence
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  examples/data-objects/table-document/src/document.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: examples, area: dds, breaking change, area: dds: sharedstring, area: test, public api change

#9156 adding containerContext.id back
  BREAKING.md
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, breaking change

#9159 [->0.56] Port adding containerContext.id back (#9156)
  BREAKING.md
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, breaking change

#9160 [->0.57] Port adding containerContext.id back (#9156)
  BREAKING.md
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, breaking change

#9141 Add docker-compose.dev.yml to server/
  server/README.md
  server/docker-compose.dev.yml
Labels: area: server

#9172 [->0.56] Port Rename telemetry prop (#9045)
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#9174 [->0.55] Port Rename telemetry prop (#9045)
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#9069 r11s: Fix whole summaries in GitRest
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/definitions.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  server/gitrest/src/app.ts
  server/gitrest/src/routes/summaries.ts
  server/gitrest/src/routes/utils.ts
  server/gitrest/src/www.ts
Labels: area: server, area: driver, public api change

#9176 Fixing some upcoming test flakiness
  api-report/test-utils.api.md
  examples/apps/collaborative-textarea/package.json
  examples/apps/collaborative-textarea/tests/collaborativetext.test.ts
  examples/data-objects/clicker-react/clicker-react/package.json
  examples/data-objects/clicker-react/clicker-react/tests/clicker.test.ts
  examples/data-objects/clicker-react/clicker-reducer/package.json
  examples/data-objects/clicker-react/clicker-reducer/tests/clicker.test.ts
  examples/data-objects/clicker-react/clicker-with-hook/package.json
  examples/data-objects/clicker-react/clicker-with-hook/tests/clicker.test.ts
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/tests/clicker.test.ts
  examples/data-objects/pond/package.json
  examples/data-objects/pond/tests/pond.test.ts
  examples/data-objects/todo/package.json
  examples/data-objects/todo/tests/todo.test.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/retry.ts
Labels: area: examples, area: test, public api change

#9187 Fix test error message for when there are unexpected errors
  packages/test/test-version-utils/src/compatConfig.ts
Labels: area: test

#9165 Remove @fluid-example/scribe
  examples/data-objects/scribe/.eslintrc.js
  examples/data-objects/scribe/.gitignore
  examples/data-objects/scribe/.npmignore
  examples/data-objects/scribe/LICENSE
  examples/data-objects/scribe/README.md
  examples/data-objects/scribe/package.json
  examples/data-objects/scribe/src/index.ts
  examples/data-objects/scribe/src/scribe.ts
  examples/data-objects/scribe/src/tools-core/author.ts
  examples/data-objects/scribe/src/tools-core/counters.ts
  examples/data-objects/scribe/src/tools-core/index.ts
  examples/data-objects/scribe/src/tools-core/scribe.ts
  examples/data-objects/scribe/src/tools-core/spellingStats.ts
  examples/data-objects/scribe/tsconfig.esnext.json
  examples/data-objects/scribe/tsconfig.json
  examples/data-objects/scribe/webpack.config.js
  examples/data-objects/scribe/webpack.dev.js
  examples/data-objects/scribe/webpack.prod.js
  lerna-package-lock.json
Labels: area: examples, dependencies

#9149 Add accept header in trees latest call
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9199 Fix for regression where `createProps` property was removed from LocalFluidDataStoreContextBase
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime

#9162 [->0.57] Port Remove race condition for root datastore test when running in t9s (#9…
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#9204 Arikt/usagecounters
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server

#9198 Fix for GC treating blob handle as belonging to a data store.
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#9158 Added test to validate correctness of DDS created in detached mode.
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: test

#9200 Fix for GC treating blob handle as belonging to a data store.
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#9164 Disable failing stashedOps tests until fix is made
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: test

#9214 port disabling stachedOps tests to 0.57
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: test

#9079 Code cleanup following recent PR about driver errors and delta connection
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
Labels: area: loader

#9140 Throw Telemetry Errors on TestObjectProvider reset
  .vscode/launch.json
  api-report/test-utils.api.md
  lerna-package-lock.json
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/src/compatConfig.ts
Labels: area: contributor experience, dependencies, area: test, public api change

#9186 Adding telemetry to get some insights about batch sizes
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/batchTracker.spec.ts
Labels: area: runtime

#9206 Handle 308 domain change error in odsp trees latest flow.
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: odsp-driver, public api change

#8669 Tree: Document describing compression scheme
  experimental/dds/tree/docs/Compression.md
Labels: area: dds

#9157 DataProcessingError improvements
  api-report/container-utils.api.md
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: area: runtime, area: loader, public api change

#9217 Scope ConnectionStateHandler's ProtocolOpHandler/Quorum access to IQuorumClients
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader

#9205 Minor documentation fixes
  docs/content/docs/recipes/collaborative-text-area.md
Labels: documentation, community-contribution

#9230 Update zookeeper package
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
Labels: area: server

#9145 Update the current timestamps used by garbage collector
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, public api change

#9225 Added more telemetry to help us catch issues with the summary process
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader

#9209 Replace readline-async with readline-sync
  docs/content/docs/recipes/node.md
Labels: documentation, community-contribution

#9207 Documentation fixes to nodeJs recipe
  docs/content/docs/recipes/node.md
Labels: documentation, community-contribution

#9232 Update the current timestamps used by garbage collector (#9145)
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, public api change

#9231 Stress: Ensure Unhandled Exception Logs have driver info
  packages/test/test-service-load/src/runner.ts
Labels: area: test

#9222 Cleanup describeCompat and enable skip, only, and noCompat
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/index.ts
  packages/test/test-version-utils/src/itExpects.ts
Labels: area: test

#9193 Normalize @fluid-example/shared-text package
  api-report/merge-tree.api.md
  examples/data-objects/client-ui-lib/src/controls/flowContainer.ts
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/client-ui-lib/src/controls/presenceSignal.ts
  examples/data-objects/shared-text/.eslintrc.js
  examples/data-objects/shared-text/loaders/blobUrl.js
  examples/data-objects/shared-text/loaders/compile.js
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/dataObject.ts
  examples/data-objects/shared-text/src/globals.d.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/shared-text/src/publicpath.ts
  examples/data-objects/shared-text/src/utils.ts
  examples/data-objects/shared-text/src/view.ts
  examples/data-objects/shared-text/stylesheets/style.css
  examples/data-objects/shared-text/webpack.config.js
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/text.ts
Labels: area: examples, area: dds, public api change

#9175 r11s-driver: Upgrade url-parse
  lerna-package-lock.json
  packages/drivers/routerlicious-driver/package.json
Labels: area: driver, dependencies

#9244 Fix rdkafka producer error handling
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
Labels: area: server

#9221 Upgrade axios in services
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/src/externalStorageManager.ts
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/test/historian.spec.ts
  server/routerlicious/packages/services/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, public api change

#9226 Fix wrapError for better errors analysis in telemetry
  api-report/telemetry-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: loader, public api change

#9256 Arikt/usagecounters
  server/routerlicious/packages/services/src/redisThrottleStorageManager.ts
  server/routerlicious/packages/services/src/test/redisThrottleStorageManager.spec.ts
  server/routerlicious/packages/services/src/test/throttlerHelper.spec.ts
Labels: area: server

#9257 Arikt/usagecounters
  server/routerlicious/packages/services-core/src/throttler.ts
  server/routerlicious/packages/services/src/redisThrottleStorageManager.ts
  server/routerlicious/packages/services/src/throttlerHelper.ts
  server/routerlicious/packages/test-utils/src/test/testsForThrottleStorageManager.spec.ts
  server/routerlicious/packages/test-utils/src/testThrottlerHelper.ts
Labels: area: server

#9260 Arikt/usagecounters
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services/src/throttler.ts
  server/routerlicious/packages/services/src/throttlerHelper.ts
Labels: area: server

#9261 Arikt/usagecounters
  server/routerlicious/packages/services/src/throttlerHelper.ts
Labels: area: server

#9263 Arikt/usagecounters
  server/routerlicious/packages/services/src/throttler.ts
Labels: area: server

#9264 Arikt/usagecounters
  server/routerlicious/packages/services/src/throttler.ts
Labels: area: server

#9247 disable stashedOps test agains t9s and r11s
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: test

#9246 disable stashedOps test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: test

#9272 Dirty flag test updates
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
Labels: area: test
