Repository microsoft/FluidFramework, pull requests merged in 2022-09, with the labels that each got.

#11708 FF.com containers docs updates
  docs/content/docs/build/containers.md
Labels: documentation, base: main

#11777 [azure] Bump client dependencies to latest minor release
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
Labels: base: release

#11720 posPrecedesTile should be tilePrecedesPos
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, public api change, base: main

#11770 r11s-driver: toggle summary cache
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/cache.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/routerlicious-driver/src/test/types/validateRouterliciousDriverPrevious.ts
Labels: area: driver, public api change, base: main

#11773 TreeDDS: move Transposed.Transaction to samples.ts
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/test/changeset/samples.ts
Labels: area: dds, base: main

#11775 [build-tools] Correct release branch names
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/test/lib/branches.test.ts
Labels: base: main

#11715 Create FieldKind-based ChangeFamily implementation
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, public api change, base: main

#11766 Make `@fluid-tools/api-markdown-documenter` public so it can be published
  tools/api-markdown-documenter/package.json
Labels: base: main

#11783 build: Update Fluid dependencies in `@fluid-tools/api-markdown-documenter`
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
Labels: base: main

#11761 Remove ability to disable isolated channels
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: main

#11772 [website] pick first line from package description
  docs/themes/thxvscode/layouts/apis/list.html
Labels: area: website, base: main

#11757 docs: Update website workflow docs
  docs/README.md
  docs/package.json
Labels: area: website, base: main

#11787 Update CI config to not use build number in package versions and fix README
  tools/api-markdown-documenter/README.md
  tools/pipelines/build-api-markdown-documenter.yml
Labels: area: build, base: main

#11756 r11s-driver: reduce API export surface
  api-report/routerlicious-driver.api.md
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/index.ts
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/test/types/validateRouterliciousDriverPrevious.ts
Labels: area: driver, public api change, base: next

#11746 Tree: simplify EditManager tests
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
Labels: area: dds, base: main

#11786 Bump `@fluid-tools/api-markdown-documenter` to `0.2.0`.
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/packageVersion.ts
Labels: base: main

#11703 Change accepted versions for dependency
  build-tools/packages/build-cli/package.json
  build-tools/packages/version-tools/package.json
Labels: base: main

#11803 fix: Omit "index" file names from links between documents.
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testemptyinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterfacewithtypeparameter-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testmodule-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace/testsubnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test.md
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: base: main

#11800 Policy check fixes
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/loader/container-loader/src/collabWindowTracker.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/tools/replay-tool/src/replayMessages.ts
Labels: area: runtime, area: loader, area: dds, area: dds: sharedstring, base: main

#11790 Fix Noops
  api-report/driver-utils.api.md
  common/lib/protocol-definitions/src/protocol.ts
  packages/loader/container-loader/src/collabWindowTracker.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: main

#11799 Addition of Accept message type
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
Labels: public api change, base: next

#11802 Change how summary-related service messages are processed.
  packages/runtime/container-runtime/src/summaryCollection.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summaryCollection.spec.ts
Labels: area: runtime, base: main

#11805 Remove unused Message Types. Remove unused process() argument
  api-report/container-definitions.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
  examples/hosts/iframe-host/src/inframehost.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/foreman/lambda.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: examples, area: server, area: loader, public api change, base: next

#11781 [bump] azure: 1.0.3 => 1.0.4 (patch)
  azure/lerna.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/packageVersion.ts
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/packageVersion.ts
  azure/packages/external-controller/package.json
Labels: base: release

#11767 [bump] build-tools: 0.4.3000 => 0.4.4000 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#11804 flub check policy bug is excluding all files
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/commands/check/policy.ts
Labels: base: main

#11755 docs: Update links template to include common API links
  docs/_includes/links.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/teams.md
  docs/content/docs/start/tutorial.md
Labels: documentation, area: website, base: main

#11754 Update website code to use the new `api-markdown-documenter` package for generating API docs
  build-tools/packages/build-tools/src/layerCheck/layerCheck.ts
  docs/README.md
  docs/_includes/links.md
  docs/api-documenter.json
  docs/api-markdown-documenter.js
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/counter.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/teams.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/updates/pre-v1.0.0.md
  docs/content/docs/updates/v1.0.0.md
  docs/layouts/shortcodes/apiref.html
  docs/layouts/shortcodes/packageref.html
  docs/markdown-emitter.js
  docs/package-lock.json
  docs/package.json
  packages/common/container-definitions/src/fluidPackage.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/core-interfaces/src/fluidPackage.ts
  packages/framework/aqueduct/src/utils/containerInteractions.ts
  packages/loader/container-loader/src/loader.ts
  tools/api-markdown-documenter/src/doc-nodes/DocList.ts
Labels: documentation, area: framework, area: loader, area: website, base: main

#11814 Ignore private packages in typetests
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
Labels: base: main

#11816 Post release cleanup
  lerna-package-lock.json
  packages/dds/quorum/package.json
Labels: area: dds, dependencies, base: release

#11815 Post release cleanup
  lerna-package-lock.json
  packages/dds/quorum/package.json
Labels: area: dds, dependencies, base: main

#11813 [bump] build-tools: 0.4.4000 => 0.4.5000 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#11820 Fix a couple of issues introduced in recent website build changes
  docs/README.md
  docs/layouts/shortcodes/apiref.html
  docs/markdown-emitter.js
Labels: area: website, base: main

#11810 Disable pipeline runs for PRs for *Performance benchmarks* pipeline
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#11649 [TaskManager] Add APIs to mark tasks as complete
  api-report/task-manager.api.md
  packages/dds/task-manager/src/interfaces.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
Labels: area: dds, public api change, base: next, msftbot: merge-next

#11796 Matrix DDS memory profiling tests
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/memory/.mocharc.js
  packages/dds/matrix/src/test/memory/matrix.spec.ts
  packages/dds/matrix/src/test/tsconfig.json
Labels: area: dds, base: main

#11608 Add Obliterate Design Doc
  packages/dds/merge-tree/docs/DEV.md
  packages/dds/merge-tree/docs/Obliterate.md
  packages/dds/merge-tree/docs/REFERENCEPOSITIONS.md
Labels: area: dds, base: main

#11428 [ Server ] Send to a client a different websocket server url if provided
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, community-contribution, public api change, base: main

#11274 PresenceTracker Updates to keep consistent with Code Snippets from Docs
  examples/data-objects/presence-tracker/src/FocusTracker.ts
  examples/data-objects/presence-tracker/src/MouseTracker.ts
Labels: area: examples, base: main

#11706 build-tools: Add release command and support for commands that use a state machine to govern logic
  .vscode/launch.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/machines/FluidUnifiedRelease.fsl
  build-tools/packages/build-cli/src/machines/descriptions.ts
  build-tools/packages/build-cli/src/machines/index.ts
  build-tools/packages/build-cli/src/machines/types.ts
  build-tools/packages/build-cli/src/machines/unifiedReleaseMachine.ts
  build-tools/packages/build-cli/test/machines.test.ts
  build-tools/packages/build-cli/test/tsconfig.json
Labels: area: contributor experience, public api change, base: main

#11750 Tree: update sub-readmes
  packages/dds/tree/src/changeset/README.md
  packages/dds/tree/src/checkout/README.md
  packages/dds/tree/src/edit-manager/README.md
  packages/dds/tree/src/forest/README.md
  packages/dds/tree/src/rebase/README.md
  packages/dds/tree/src/schema-stored/README.md
  packages/dds/tree/src/schema-view/README.md
  packages/dds/tree/src/shared-tree-core/README.md
  packages/dds/tree/src/shared-tree/README.md
  packages/dds/tree/src/test/README.md
  packages/dds/tree/src/transaction/README.md
  packages/dds/tree/src/tree/README.md
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/util/README.md
  packages/dds/tree/src/util/fence.json
  packages/dds/tree/src/util/index.ts
Labels: area: dds, base: main

#11678 Fix issues related to Removed Segments in MergeTree
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: next

#11819 Shift responsibility to stringify message content from Loader to runtime layer
  api-report/container-definitions.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader, public api change, base: main

#11825 FF.com: Expanding Nav dropdown, text is getting overlapped
  docs/themes/thxvscode/layouts/partials/apiNav.html
  docs/themes/thxvscode/layouts/partials/docNav.html
Labels: area: website, base: main

#11771 GC Sweep Tests: Enable inactive object x errors and file logging
  packages/test/test-gc-sweep-tests/src/ignoreErrorLogger.ts
  packages/test/test-gc-sweep-tests/src/test/gcSweepTest.spec.ts
Labels: area: tests, base: main

#11780 Allow deli to maintain op batches when passing them forward
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/test-utils/src/messageFactory.ts
Labels: area: server, base: main

#11817 Improve default documentation rendering behaviors
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/updates/pre-v1.0.0.md
  docs/markdown-emitter.js
  docs/package-lock.json
  docs/package.json
  pr-temp/aqueduct-after.md
  pr-temp/aqueduct-before.md
  pr-temp/puredataobject-after.md
  pr-temp/puredataobject-before.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/MarkdownEmitter.ts
  tools/api-markdown-documenter/src/Policies.ts
  tools/api-markdown-documenter/src/doc-nodes/CustomDocNodeKind.ts
  tools/api-markdown-documenter/src/doc-nodes/DocAlert.ts
  tools/api-markdown-documenter/src/doc-nodes/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/rendering/Rendering.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderClass.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderInterface.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderModuleLike.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderSectionBlock.ts
  tools/api-markdown-documenter/src/rendering/helpers/RenderingHelpers.ts
  tools/api-markdown-documenter/src/rendering/helpers/TableRenderingHelpers.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-_constructor_-constructor.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testclass-testclassmethod-method.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testconstwithemptydeprecatedblock-variable.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testfunction-function.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testfunctionreturningintersectiontype-function.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterface-_call_-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterface-_call__1-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterface-_new_-constructsignature.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testfunction-function.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: documentation, area: website, public api change, base: main

#11832 Move batch processing logic from loader to container runtime
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: main

#11818 Post release cleanup
  lerna-package-lock.json
  package-lock.json
  packages/dds/quorum/package.json
Labels: area: dds, dependencies, base: next

#11823 Address issues with tracking dirty & pending states
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#11831 Add SharedString article
  docs/content/docs/data-structures/map.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, base: main

#11788 Improve Sequence API documentation
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/rbTree.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
Labels: area: framework, area: dds, breaking change, area: dds: sharedstring, public api change, base: next

#11743 TreeDDS: verifyChangeRebaser
  packages/dds/tree/src/rebase/index.ts
  packages/dds/tree/src/rebase/verifyChangeRebaser.ts
  packages/dds/tree/src/test/rebase/verifyChangeRebaser.spec.ts
Labels: area: dds, base: main

#11801 Refactor FieldChangeMap to be a Map instead of a mapped type
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, public api change, base: main

#11742 Random Sequence Generator
  packages/dds/tree/src/test/rebase/fuzz.ts
  packages/dds/tree/src/test/rebase/generateFuzzyCombinedChange.spec.ts
  packages/dds/tree/src/test/sequence-change-family/randomSequenceGenerator.spec.ts
  packages/dds/tree/src/test/sequence-change-family/randomSequenceGenerator.ts
Labels: area: dds, base: main

#11844 Extend expiry of the baselines in our docs build
  docs/.gdnbaselines
Labels: base: main

#11842 [build-tools] Add svg of state machine
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/machines/FluidUnifiedRelease.fsl.svg
Labels: base: main

#11850 Tree: cleanup shared-tree test and fix double editing bug
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, public api change, base: main

#11836 Track reference Sequence number for batched messages
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11835 refactor: Update system to take a logger object as a part of its configuration, rather than logging directly to the console
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/Configuration.ts
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/Logging.ts
  tools/api-markdown-documenter/src/LoggingUtilities.ts
  tools/api-markdown-documenter/src/MarkdownDocumenter.ts
  tools/api-markdown-documenter/src/MarkdownEmitter.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/rendering/Rendering.ts
  tools/api-markdown-documenter/src/rendering/RenderingPolicy.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderClass.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderEnum.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderFunctionLike.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderInterface.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderItemWithoutChildren.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderModel.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderModuleLike.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderNamespace.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderPackage.ts
  tools/api-markdown-documenter/src/rendering/default-policies/DefaultRenderSectionBlock.ts
  tools/api-markdown-documenter/src/rendering/helpers/RenderingHelpers.ts
  tools/api-markdown-documenter/src/rendering/helpers/TableRenderingHelpers.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#11778 MergeTree: Support Local References in TrackingGroups
  api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/ordinal.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/ordinal.spec.ts
  packages/dds/merge-tree/src/test/sortedSegmentSet.spec.ts
  packages/dds/merge-tree/src/test/tracking.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: next

#11843 Upgrade client's server dependencies to 0.1037.2000-91174
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#11581 migrate bundleSizeAnalyses to new build cli
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/lib/dangerfile.ts
  build-tools/packages/version-tools/README.md
Labels: base: main

#11839 Assert serializeGCData is never called with local changes
  packages/dds/merge-tree/src/client.ts
Labels: area: dds, base: main

#11846 Use multi-line TSDoc formatting
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/tree/anchorSet.ts
Labels: area: dds, base: main

#11852 Check for read-mode in test
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
Labels: area: tests, base: main

#11860 Remove documentation that should not have been checked in
  pr-temp/aqueduct-after.md
  pr-temp/aqueduct-before.md
  pr-temp/puredataobject-after.md
  pr-temp/puredataobject-before.md
Labels: base: main

#11856 Tree: use sealed
  api-report/tree.api.md
  packages/dds/tree/src/change-family/changeEncoder.ts
  packages/dds/tree/src/change-family/fence.json
  packages/dds/tree/src/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/dependency-tracking/simpleDependee.ts
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeset.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/util/brand.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, public api change, base: main

#11655 Lie to ContainerRuntime about connected state when in readonly mode
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
Labels: area: runtime, area: loader, area: tests, base: main

#11847 Externalize some website dependencies and load from CDN
  docs/.gdnbaselines
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/index.js
  docs/themes/thxvscode/assets/js/jquery/docs.js
  docs/themes/thxvscode/assets/js/package.json
  docs/themes/thxvscode/assets/js/webpack.config.js
  docs/themes/thxvscode/assets/js/yarn.lock
  docs/themes/thxvscode/layouts/partials/head.html
  docs/themes/thxvscode/static/vendor/bootstrap/css/bootstrap.min.css
  docs/themes/thxvscode/static/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot
  docs/themes/thxvscode/static/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg
  docs/themes/thxvscode/static/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf
  docs/themes/thxvscode/static/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff
  docs/themes/thxvscode/static/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2
Labels: area: website, base: main

#11849 Add cursor benchmarks
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/forest/index.ts
  packages/dds/tree/src/test/domains/json/benchmarks.ts
  packages/dds/tree/src/test/domains/json/json.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
Labels: area: dds, base: main

#11848 Add documentation for IInterval and implementations
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalTree.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next

#11870 [lint-config] Enable import/no-nodejs-modules rule
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#11845 Add submitChange method to ModularEditBuilder
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, public api change, base: main

#11869 feat(merge-tree): add basic obliterate tests
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
Labels: area: dds, base: main

#11589 Tree: Implement Forest proxy
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/README.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/fence.json
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utilities.spec.ts
Labels: area: dds, community-contribution, public api change, base: main

#11868 [test-runtime-utils] Rm node assert library dep
  packages/runtime/test-runtime-utils/.eslintrc.js
  packages/runtime/test-runtime-utils/src/validateAssertionError.ts
Labels: area: runtime, base: main

#11880 [main > 1.2] remove node assert library dep
  packages/runtime/test-runtime-utils/.eslintrc.js
  packages/runtime/test-runtime-utils/src/validateAssertionError.ts
Labels: area: runtime, base: release

#11874 Update md-magic config to offer more degrees of freedom for generating standard package README content
  .md-magic-templates/README.md
  .md-magic-templates/readme-simple.md
  azure/packages/external-controller/README.md
  common/build/eslint-config-fluid/README.md
  docs/README.md
  docs/config.yml
  docs/content/docs/data-structures/counter.md
  docs/md-magic.config.js
  examples/apps/collaborative-textarea/README.md
  examples/apps/contact-collection/README.md
  examples/apps/spaces/README.md
  examples/apps/view-framework-sampler/README.md
  examples/data-objects/canvas/README.md
  examples/data-objects/clicker/README.md
  examples/data-objects/codemirror/README.md
  examples/data-objects/diceroller/README.md
  examples/data-objects/monaco/README.md
  examples/data-objects/multiview/container/README.md
  examples/data-objects/presence-tracker/README.md
  examples/data-objects/prosemirror/README.md
  examples/data-objects/shared-text/README.md
  examples/data-objects/smde/README.md
  examples/data-objects/table-view/README.md
  examples/data-objects/task-selection/README.md
  examples/data-objects/todo/README.md
  examples/data-objects/vltava/README.md
  examples/data-objects/webflow/README.md
  examples/hosts/app-integration/container-views/README.md
  examples/hosts/app-integration/external-views/README.md
  examples/hosts/app-integration/schema-upgrade/README.md
  examples/hosts/hosts-sample/README.md
  packages/dds/counter/README.md
  packages/dds/quorum/README.md
  packages/dds/task-manager/README.md
Labels: documentation, area: examples, area: dds, area: website, base: main

#11857 feat: Add emitter hook for injecting front-matter
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/MarkdownEmitter.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
Labels: public api change, base: main

#11884 Bump `@fluid-tools/api-markdown-documenter` package version to 0.3.0
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/packageVersion.ts
Labels: base: main

#11784 Don't fetch blobs in trees/latest if not the first call
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#11876 Tree: export SharedTreeFactory and ISharedTree
  api-report/tree.api.md
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/sequence-change-family/cases.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, base: main

#11882 Add tagName to pipelines that don't have it
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-benchmark-tool.yml
Labels: area: build, base: main

#11881 Add manual summarization helper to TestTreeProvider
  packages/dds/tree/src/test/util/testTreeProvider.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, base: main

#11889 Bump `@fluid-tools/api-markdown-documenter` to 0.4.0
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/packageVersion.ts
Labels: base: main

#11883 Fix `@deprecated` comments
  api-report/container-runtime.api.md
  api-report/odsp-driver.api.md
  api-report/runtime-definitions.api.md
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  examples/data-objects/table-document/src/document.ts
  examples/data-objects/table-document/src/table.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/core-interfaces/src/handles.ts
  packages/dds/merge-tree/src/snapshotChunks.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/sharedString.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, public api change, base: main

#11890 Update website's dependency on `@fluid-tools/api-markdown-documenter`
  docs/api-markdown-documenter.js
  docs/markdown-emitter.js
  docs/package-lock.json
  docs/package.json
Labels: area: website, base: main

#11811 Shifting message parsing responsibility to container runtime
  api-report/container-runtime.api.md
  api-report/driver-utils.api.md
  api-report/runtime-definitions.api.md
  experimental/framework/last-edited/src/setup.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/summaryCollection.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, area: runtime, area: loader, area: dev experience, area: tests, public api change, base: main

#11639 Add explicit timeout for each await
  api-report/test-utils.api.md
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: tests, public api change, base: main

#11888 Tree: move changeset into sequence-change-family
  packages/dds/tree/README.md
  packages/dds/tree/src/changeset/README.md
  packages/dds/tree/src/changeset/fence.json
  packages/dds/tree/src/feature-libraries/fence.json
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/format.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/index.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/markListFactory.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/utils.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/fence.json
  packages/dds/tree/src/feature-libraries/sequence-change-family/index.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeset.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/sequence-change-family/invert.spec.ts
  packages/dds/tree/src/test/sequence-change-family/markListFactory.spec.ts
  packages/dds/tree/src/test/sequence-change-family/randomSequenceGenerator.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceChangeRebaser.spec.ts
Labels: area: dds, base: main

#11886 [main > rel/v2int/1.1]: Don't fetch blobs in trees/latest if not the first call (#11784)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#11891 Handle node value changes in ModularChangeFamily
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, public api change, base: main

#11896 TreeDDS: basic deletion support in transactions
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/fence.json
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, base: main

#11894 Split the test steps in the client pipeline
  azure/package.json
  build-tools/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/common/core-interfaces/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-azure-local-service.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-bundle-size-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, dependencies, area: tests, base: main

#11897 Processing Summary Acks: Fetch snapshot from storage only if required
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11878 Add better checks and better messages for cases where op batch exceeds 1Mb limit
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#11901 Protect against potential double-call to attachRuntime (?)
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime, base: main

#11902 Add logging when uploading Summary
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11907 [build] Add build dependency to webpack:svgs
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidPackageCheck.ts
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
Labels: area: dds: propertydds, base: main

#11809 Read data store base summary during creation and update summarizer node.
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.ts
Labels: area: runtime, public api change, base: next, msftbot: merge-next

#11808 throw usageError while orderSequentially and getPendingLocalState
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: next, msftbot: merge-next

#11898 Fix walkAllSegments to only walk descendant nodes
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
Labels: area: dds, base: next

#11834 [build-tools] Refactor and better organize the release state machine and handlers
  .vscode/launch.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/genMonoRepoPackageJson.ts
  build-tools/packages/build-cli/src/handlers/askFunctions.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/handlers/index.ts
  build-tools/packages/build-cli/src/handlers/initFailedStateHandler.ts
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
  build-tools/packages/build-cli/src/handlers/stateHandlers.ts
  build-tools/packages/build-cli/src/index.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-cli/src/lib/dangerfile.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-cli/src/lib/text.ts
  build-tools/packages/build-cli/src/logging.ts
  build-tools/packages/build-cli/src/machines/FluidRelease.fsl
  build-tools/packages/build-cli/src/machines/FluidRelease.fsl.svg
  build-tools/packages/build-cli/src/machines/FluidUnifiedRelease.fsl.svg
  build-tools/packages/build-cli/src/machines/descriptions.ts
  build-tools/packages/build-cli/src/machines/fluidReleaseMachine.ts
  build-tools/packages/build-cli/src/machines/index.ts
  build-tools/packages/build-cli/src/machines/types.ts
  build-tools/packages/build-cli/src/machines/unifiedReleaseMachine.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-cli/test/commands/release.test.ts
  build-tools/packages/build-cli/test/machines.test.ts
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/version-tools/README.md
Labels: area: contributor experience, public api change, base: main

#11892 fix: Heading rendering for items with multi-line signatures
  api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/fluidPackage.ts
  tools/api-markdown-documenter/src/Policies.ts
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterfacewithindexsignature-_indexer_-indexsignature.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: public api change, base: main

#11917 Update dependency on `@fluid-tools/api-markdown-documenter` to `0.4.0`
  docs/package-lock.json
  docs/package.json
Labels: area: website, base: main

#11916 Bump `@fluid-tools/api-markdown-documenter` to version `0.5.0`
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/packageVersion.ts
Labels: base: main

#11915 Only fail passing tests due to log error
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-version-utils/src/describeCompat.ts
Labels: area: tests, base: main

#11920 Fix nconf config for webpack-fluid-loader
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: base: main

#11904 Tree: Use symbols for global field keys
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/schema-stored/builders.ts
  packages/dds/tree/src/schema-stored/index.ts
  packages/dds/tree/src/schema-stored/schema.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema.spec.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/tree/globalFieldKeySymbol.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/treeTextFormat.ts
  packages/dds/tree/src/tree/types.ts
Labels: area: dds, public api change, base: main

#11924 Tree: Split stored and view schema document
  packages/dds/tree/src/schema-stored/Stored and View Schema Options.md
  packages/dds/tree/src/schema-stored/Stored and View Schema.md
Labels: area: dds, base: main

#11792 Omitting redirectLocation from telemetry
  packages/loader/driver-utils/src/network.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: loader, area: odsp-driver, base: main

#11931 No data store factory export
  examples/apps/collaborative-textarea/src/fluid-object/index.ts
  examples/data-objects/codemirror/src/codeMirror.ts
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/prosemirror/src/prosemirror.ts
  examples/data-objects/smde/src/index.ts
  examples/data-objects/smde/src/smde.ts
  examples/data-objects/vltava/src/fluidObjects/tabs/newTabButton.tsx
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, base: main

#11922 Update `@fluid-tools/api-markdown-documenter`'s README
  tools/api-markdown-documenter/README.md
Labels: base: main

#11923 Misc. cleanup in `fluid-framework` package
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/containerDefinitions.ts
  packages/framework/fluid-framework/src/containerLoader.ts
  packages/framework/fluid-framework/src/fluidStatic.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-framework/src/map.ts
  packages/framework/fluid-framework/src/sequence.ts
Labels: area: framework, base: main

#11925 docs: Clean up `@deprecated` comments to include API links
  packages/dds/sequence/src/sparsematrix.ts
Labels: area: dds, area: dds: sharedstring, base: main

#11932 [docs] use aria-live attribute to announce copy button status
  docs/static/js/add-code-copy-button.js
Labels: area: website, base: main

#11914 [build-tools] Add release report command
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/machines/index.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-tools/src/bumpVersion/gitRepo.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/test/semver.test.ts
Labels: public api change, base: main

#11910 TreeDDS: Simplify Delta typing
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/tree/delta.ts
  packages/dds/tree/src/tree/visitDelta.ts
Labels: area: dds, public api change, base: main

#11942 Skip batch break regression tests
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
Labels: area: tests, base: next, msftbot: merge-next

#11610 Create new ITreeCursor interface
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/feature-libraries/treeTextCursorLegacy.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/forest/cursorLegacy.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/forest/index.ts
  packages/dds/tree/src/forest/snapshot.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/domains/json/benchmarks.ts
  packages/dds/tree/src/test/domains/json/benchmarksLegacy.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/domains/json/jsonCursorLegacy.bench.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursor.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursorLegacy.spec.ts
Labels: area: dds, public api change, base: main

#11908 Reorder attach ops to exclude them from batch
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main

#11900 TreeDDS: avoid unnecessary rebasing
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, base: main

#11906 [build-tools]: Use npm-check-updates in bump deps
  .vscode/launch.json
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-tools/src/bumpVersion/gitRepo.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/bumpTypes.ts
Labels: area: contributor experience, public api change, base: main

#11948 Update dev dependencies on `@fluidframework/eslint-config-fluid` in `server` packages
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/foreman/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/localKafkaSubscription.ts
  server/routerlicious/packages/memory-orderer/src/reservationManager.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/restLessServer.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
  server/routerlicious/packages/services-utils/src/throttlerMiddleware.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/messageSender.ts
  server/routerlicious/packages/services/src/metricClient.ts
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/packages/services/src/nodeCodeLoader.ts
  server/routerlicious/packages/services/src/throttlerHelper.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/testCollection.ts
  server/routerlicious/packages/test-utils/src/testHistorian.ts
Labels: area: server, base: main

#11952 Increase timeouts of CLI tests
  build-tools/package.json
  build-tools/packages/build-cli/test/commands/generate/buildVersion.test.ts
Labels: base: main

#11939 Create the baseDataObject with a counter
  packages/test/test-gc-sweep-tests/src/dataObjectWithCounter.ts
Labels: area: tests, base: main

#11964 azure e2e tests package.json cleanup
  azure/lerna-package-lock.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/.mocharc.js
Labels: base: main

#11899 MergeTree: Revertibles and Removed Segment Tracking via Local Reference
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibles.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/tracking.spec.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: next

#11947 Update dev dependencies on `@fluidframework/eslint-config-fluid` in `tools` packages
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
  tools/benchmark/src/MemoryTestRunner.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ReporterUtilities.ts
  tools/benchmark/src/Runner.ts
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
Labels: base: main

#11945 Update dev dependencies on `@fluidframework/eslint-config-fluid` in `common` packages
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-definitions/src/events.ts
  common/lib/common-definitions/src/logger.ts
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/test/mocha/eventForwarder.spec.ts
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/sockets.ts
  common/lib/protocol-definitions/src/summary.ts
Labels: public api change, base: main

#11782 feat(merge-tree): unify bst implementations for segments and partial lengths
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
Labels: area: dds, public api change, base: next, msftbot: merge-next

#11969 Remove generic event uploadSummaryWithContext.
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: driver, base: main

#11921 Improve implementation of value field kind
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/test/feature-libraries/valueFieldKind.spec.ts
  packages/dds/tree/src/tree/delta.ts
Labels: area: dds, public api change, base: main

#11971 Update dev dependencies on `@fluidframework/eslint-config-fluid` in `azure` packages
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/genMonoRepoPackageJson.ts
  build-tools/packages/build-cli/src/handlers/askFunctions.ts
  build-tools/packages/build-cli/src/handlers/stateHandlers.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/internalVersionScheme.ts
Labels: base: main

#11943 Update dev dependencies on `@fluidframework/eslint-config-fluid` in `azure` packages
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/generateToken.ts
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
Labels: base: main

#11972 using e2e tests for frs test pipelines.
  tools/pipelines/test-azure-frs.yml
Labels: area: build, base: main

#11944 Allow error logger to write events to file
  packages/test/test-gc-sweep-tests/src/ignoreErrorLogger.ts
Labels: area: tests, base: main

#11919 Fix the Missing Deltas when Switch the Cluster
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#11958 [bump] build-tools: 0.4.5000 => 0.4.6000 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#11965 Remove MulitUrlResolver and MultiDocumentServiceFactory from webpack-fluid-loader
  packages/tools/webpack-fluid-loader/src/getDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/getUrlResolver.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: base: main

#11961 Copy previousProperties (for rollback of mergeTree annotations)
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, base: main

#11960 Fix index summary loading in SharedTree
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, base: main

#11976 Tree: Use Cursor in Delta
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/domains/json/benchmarks.ts
  packages/dds/tree/src/test/domains/json/jsonCursorLegacy.bench.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursor.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursorLegacy.spec.ts
  packages/dds/tree/src/test/feature-libraries/valueFieldKind.spec.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visit.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/tree/cursor.ts
  packages/dds/tree/src/tree/delta.ts
  packages/dds/tree/src/tree/index.ts
Labels: area: dds, public api change, base: main

#11853 Update repo-policy-check with upcoming namespace guidelines
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#11980 Tree: dedup cursor logic
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
Labels: area: dds, base: main

#11982 Update prettier configs to use shared config in `build-common`.
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/package.json
  azure/prettier.config.cjs
  build-tools/packages/build-cli/prettier.config.cjs
  build-tools/packages/version-tools/prettier.config.cjs
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/prettier.config.cjs
  common/lib/common-definitions/prettier.config.cjs
  common/lib/common-utils/prettier.config.cjs
  common/lib/protocol-definitions/prettier.config.cjs
Labels: base: main

#11987 Tree: small cursor tidy up
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/tree/cursor.ts
Labels: area: dds, base: main

#11986 Fix processing of unversioned ops (#10656)
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
Labels: area: dds, base: release

#11989 TreeDDS: Fix EditManager to support non-commit ref seq numbers
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
Labels: area: dds, base: main
