Repository microsoft/FluidFramework, pull requests merged in 2022-03, with the labels that each got.

#9243 Simple mechanism to catch a runaway container that is not making progress
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#9223 Experiment with disabling chunking
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: test

#9273 Remove unused traces set on every message
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader

#9276 ADO pipeline for building and deploying website
  tools/pipelines/build-docs-latest.yml
  tools/pipelines/build-docs-n1.yml
  tools/pipelines/build-docs-release.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/templates/build-docs-steps.yml
  tools/pipelines/templates/deploy-docs-steps.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build

#9284 Cleanup: Legacy Merge Tree Debug Code
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/textSegment.ts
Labels: area: dds, public api change

#9228 Replace moniker with sillyname
  packages/framework/test-client-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-version-utils/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/loader.ts
  server/gitrest/package.json
  server/gitrest/src/test/routes.spec.ts
  server/gitrest/src/test/treebuilder.spec.ts
  server/historian/package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/localNode.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/resourcesFactory.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
Labels: area: framework, area: server, area: test

#9295 MergeTree: Improve resolveRemoveClientPosition
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9289 Removing the call to ensureFluidResolvedUrl within ContainerContext.id
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, community-contribution

#9281 Data store aliasing interface adjustments
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.56.0.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.56.0.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test, public api change

#9300 Removing the call to ensureFluidResolvedUrl within ContainerContext.id (#9289)
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader

#9301 Removing the call to ensureFluidResolvedUrl within ContainerContext.id (#9289)
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader

#9298 Upgrade Hugo to 0.93.1, removing dependency on ditaa
  docs/.gitignore
  docs/README.md
  docs/content/community/doc-system/example.ditaa
  docs/content/community/doc-system/index.md
  docs/content/docs/concepts/architecture/index.md
  docs/ditaa.js
  docs/package-lock.json
  docs/package.json
  docs/static/images/architecture.ditaa
  docs/static/images/load-flow.ditaa
  docs/themes/thxvscode/layouts/_default/_markup/render-codeblock-mermaid.html
  docs/themes/thxvscode/layouts/_default/single-baseof.html
  docs/themes/thxvscode/layouts/partials/apiNav.html
Labels: documentation, area: website

#9249 Remove fluidErrorCode from codebase
  BREAKING.md
  api-report/container-utils.api.md
  api-report/driver-utils.api.md
  api-report/telemetry-utils.api.md
  docs/content/docs/testing/debugging.md
  examples/hosts/hosts-sample/src/codeDetailsView.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-utils/src/error.ts
  packages/loader/container-utils/src/test/error.spec.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: documentation, area: examples, area: runtime, area: loader, area: driver, breaking change, area: test, area: odsp-driver, public api change

#9277 Enable codeql workflow
  .github/workflows/codeql-analysis.yml
Labels: area: build

#9318 lock and type validation fixes from clean install
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.57.0.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.57.0.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.57.0.ts
Labels: area: runtime, dependencies

#9306 ODSP driver: TreesLatest telemetry cleanup
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9319 `_createDataStoreWithProps` returns `IDataStore`
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test, public api change

#9321 Simple mechanism to catch a runaway container that is not making progress - backport 0.57
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#9320 Simple mechanism to catch a runaway container that is not making progress - backport 0.56
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#9324 Integrate latest prerelease of protocol-definitions into driver-definitions
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.39.8.ts
  common/lib/driver-definitions/src/test/types/validate0.40.0.ts
  common/lib/driver-definitions/src/test/types/validate0.41.0.ts
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
  common/lib/driver-definitions/src/test/types/validate0.43.0.ts
  common/lib/driver-definitions/src/test/types/validate0.44.0.ts
Labels: area: definitions

#9283 Remove website deployment GitHub action
  .github/workflows/azure-static-web-apps-agreeable-hill-0eeff5b10.yml
Labels: area: build

#9323 Add SDL tools to website deployment pipeline
  docs/.gdnbaselines
  tools/pipelines/build-docs.yml
Labels: area: build

#9328 Codeowners check should run on pull_request instead of pull_request_target
  .github/CODEOWNERS
  .github/workflows/pr-validation.yml
Labels: area: build

#8833 Remove feature gates for flushmode and batchmanager
  api-report/driver-base.api.md
  common/lib/common-utils/package.json
  common/lib/common-utils/src/batchManager.ts
  common/lib/common-utils/src/index.ts
  common/lib/common-utils/src/test/mocha/batchManager.spec.ts
  common/lib/common-utils/src/test/types/validate0.32.1.ts
  experimental/dds/tree/src/test/Virtualization.tests.ts
  experimental/dds/tree/src/test/utilities/SummaryFormatCompatibilityTests.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader, area: driver, area: dds, public api change

#9312 Update rootiness for aliased datastores
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test

#9327 wait for connected in stashed ops tests
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: test

#9326 Added a deprecated interface to facilitate calling bindToContext on created data stores
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
Labels: area: runtime, public api change

#9325 Docs: Delete some dependencies and upgrade others
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/package.json
  docs/themes/thxvscode/assets/js/webpack.config.js
  docs/themes/thxvscode/assets/js/yarn.lock
Labels: area: website

#9332 Integrate latest prerelease of protocol-definitions and driver-definitions into container-definitions
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
Labels: area: definitions

#9336 Update rootiness for aliased datastores (#9312)
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test

#9341 Added a deprecated interface to facilitate calling bindToContext on created data stores (#9326)
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
Labels: area: runtime, public api change

#9335 [r11s] Adding request retries to summary reader
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
Labels: area: server

#9343 Dirty flag test updates (#9272)
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
Labels: area: test

#9342 Integrate latest prerelease of protocol-definitions into routerlicious and gitrest
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#9350 Fix container-runtime-definitions type compat tests
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.57.0.ts
Labels: area: runtime, dependencies

#9349 Integrate latest prerelease of protocol-definitions and server packages into tinylicious
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server

#9338 Update rootiness for aliased datastores (#9312)
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test

#9356 policy check fix to prepare 0.58 release
  packages/runtime/container-runtime/src/batchTracker.ts
Labels: area: runtime

#9337 Update build tools version to get virtual patch feature
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#9359 Revert "Integrate latest prerelease of protocol-definitions and serve…
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server

#9357 Fix spellings in MergeTree and Sequence
  api-report/merge-tree.api.md
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotChunks.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/localValues.ts
  packages/dds/sequence/src/mapKernel.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/sharedObjectSequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/sparsematrix.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9152 Implementation of join session periodic refresh
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/test/joinSessionPeriodicCall.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver

#9363 Move getLongClientId from passing though merge tree to snapshotV1.ts
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
Labels: area: dds, public api change

#9339 Add Storage Name into Tenants Custom Data
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/definitions.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server

#9354 Split Monaco model/view and remove leftover IFluidHTMLView hosting from client-ui-lib
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/controls/flowView.ts
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/src/dataObject.ts
  examples/data-objects/monaco/src/index.ts
  examples/data-objects/monaco/src/view.ts
Labels: area: examples

#9368 Update CI/PR triggers for "next" branch
  tools/pipelines/build-azure-local-service.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-bundle-size-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-generator-fluid.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/chart-copy-historian.yml
  tools/pipelines/chart-copy-routerlicious.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#9386 Run static web app deployment on linux, and guardian tasks in windows
  docs/.gdnbaselines
  tools/pipelines/build-docs.yml
Labels: area: build

#9393 Handle errors in docs pipeline more gracefully
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build

#9387 Fixing some error logging race conditions for the root datastore end-to-end tests
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#9375 Remove duplicate implementation from toInstrumentedOdspTokenFetcher (toInstrumentedTokenFetcher)
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
Labels: area: driver, area: odsp-driver

#9394 Fix bad link in breaking.md
  BREAKING.md
Labels: breaking change

#9340 MergeTree: Add stress for LocalReferences
  packages/dds/merge-tree/DEV.md
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds

#9369 MergeTree: Unify removed client id and overlap clients
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/snapshotChunks.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Labels: area: dds, public api change

#9402 Enabled TurnBased flush mode for batch tests and added a scenario that currently fails
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
Labels: area: test

#9414 build-docs pipeline should only run in main
  tools/pipelines/build-docs.yml
Labels: area: build

#9404 Fix rdkafka consumer being able to miss messages after a rebalance
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
Labels: area: server

#9024 Exclude package.json from CODEOWNERS
  .github/CODEOWNERS
Labels: area: build

#9413 Add a comment with old error message for code search wherever error messages recently changed
  examples/hosts/hosts-sample/src/codeDetailsView.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
Labels: area: examples, area: runtime, area: loader, area: driver, area: odsp-driver

#8970 save document collection to globaldb
  server/routerlicious/packages/local-server/src/localDeltaConnectionServer.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/src/mongoDatabaseManager.ts
Labels: area: server

#9419 Update CodeQL config
  .github/workflows/codeql-analysis.yml
Labels: area: build

#9382 Make isRootDataStore boolean and undefined
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test

#9440 r11s-driver: make 502 errors retriable
  packages/drivers/routerlicious-driver/src/errorUtils.ts
Labels: area: driver

#9433 Replace node-fetch with cross-fetch in r11s-driver
  lerna-package-lock.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver, dependencies

#9087 Emit dispose event on sub directory deletion
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/README.md
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, breaking change, public api change

#9384 Emit an event on IntervalCollection creation
  api-report/sequence.api.md
  packages/dds/sequence/src/mapKernel.ts
  packages/dds/sequence/src/mapKernelInterfaces.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9449 IFluidDependencySynthezier: Fix getProvider back compat
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#9445 Add globaldb mongomanager into riddler
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
Labels: area: server

#9452 IFluidDependencySynthezier: Fix getProvider back compat
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#9453 [0.57] IFluidDependencySynthezier: Fix getProvider back compat
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#9461 [0.58.1xxx] IFluidDependencySynthezier: Fix getProvider back compat
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#9462 [0.58.1000] Bump dependencies on driver-definitions following release
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: test, area: dds: propertydds, area: odsp-driver, area: definitions

#9464 [0.58.1000] Bump dependencies and version for container-definitions following release
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#9463 [0.58.1000] Bump versions for released packages
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validate0.1027.1000.ts
Labels: area: definitions

#9457 Update BREAKING.md format to include upcoming change notes
  BREAKING.md
Labels: breaking change

#9466 [0.58.1000] Bump server version and update dependencies after release
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: dds: sharedstring, area: test, area: dds: propertydds, area: odsp-driver

#9476 Use strict eslint config in fluid-framework
  packages/framework/fluid-framework/.eslintrc.js
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework

#9451 Add recursive firing of dispose events of sub directory deletion
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: testing, area: dds

#9479 Remove outdated socket.io client types package
  api-report/driver-base.api.md
  api-report/odsp-driver.api.md
  lerna-package-lock.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/driver-base/tsconfig.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/getSocketIo.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  tools/build-tools/src/fluidBuild/npmDepChecker.ts
Labels: area: driver, dependencies, area: odsp-driver, public api change

#9432 Fixes the FlushMode validation in PendingStateManager which expected Immediate to be the default FlushMode
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
Labels: area: runtime, area: test

#9494 Update to latest tinylicious throughout repo
  lerna-package-lock.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
Labels: area: framework, area: server, dependencies, area: test

#9490 gitrest: pre-compute latest summary for Historian caching
  server/gitrest/src/routes/summaries.ts
Labels: area: server

#9496 gitrest: add FS Manager interface
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/src/app.ts
  server/gitrest/src/runner.ts
  server/gitrest/src/runnerFactory.ts
  server/gitrest/src/test/routes.spec.ts
  server/gitrest/src/utils/definitions.ts
  server/gitrest/src/utils/nodegitManager.ts
Labels: area: server

#9498 r11s-driver: handle node-fetch network errors
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver

#9415 Remove GC from odspCache implementation.
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver

#9465 Pass ISequencedDocumentMessage to interval creation API
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9486 Fixes the FlushMode validation in PendingStateManager which expected Immediate to be the default FlushMode (#9432)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
Labels: area: runtime, area: tests

#9513 Pass ISequencedDocumentMessage to interval creation API (#9465)
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9497 Add support for multiple nack messages in deli
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/messages.ts
Labels: area: server

#9511 Pass ISequencedDocumentMessage to interval creation API (#9465)
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9512 Pass ISequencedDocumentMessage to interval creation API (#9465)
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change

#9522 Fix policy check in main
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime

#9524 Fix policy check for 0.58.1000
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime

#9527 update build-tools dependency version
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#9529 Always log DeltaConnectionFailureToConnect
  api-report/driver-utils.api.md
  common/build/eslint-config-fluid/package-lock.json
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change

#9531 fixing container-utils version to 0.58.2000
  packages/dds/map/package.json
Labels: area: dds

#9523 gitrest: persist pre-computed full summaries in storage
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/config.json
  server/gitrest/src/app.ts
  server/gitrest/src/routes/index.ts
  server/gitrest/src/routes/summaries.ts
  server/gitrest/src/runner.ts
  server/gitrest/src/runnerFactory.ts
  server/gitrest/src/test/routes.spec.ts
  server/gitrest/src/utils/definitions.ts
  server/gitrest/src/utils/gitWholeSummaryManager.ts
  server/gitrest/src/utils/helpers.ts
  server/gitrest/src/utils/index.ts
  server/gitrest/src/utils/nodegitManager.ts
Labels: area: server

#9532 adding client type (clientIsSummarizer) to createContainer and createDocumentService in driver-definitions
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#9537 [GitRest] Adding isomorphic-git implementation of git functionality
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/src/runnerFactory.ts
  server/gitrest/src/test/routes.spec.ts
  server/gitrest/src/utils/definitions.ts
  server/gitrest/src/utils/helpers.ts
  server/gitrest/src/utils/index.ts
  server/gitrest/src/utils/isomorphicgitConversions.ts
  server/gitrest/src/utils/isomorphicgitManager.ts
  server/gitrest/src/utils/nodegitManager.ts
Labels: area: server

#9405 Port: MergeTree: Fix overlap clients in snapshotv1
  packages/dds/merge-tree/src/snapshotChunks.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
Labels: area: dds

#9543 Skipping e2e tests failed
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#9555 [0.58.2000] Skipping e2e tests failed
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: test

#9554 Pipeline changes to enable publishin GitRest npm packages
  tools/pipelines/server-gitrest.yml
Labels: area: build

#9520 Removal of TreeEntry.Commit and ISnapshotTree.commit
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1027.0.ts
Labels: breaking change, public api change

#9567 Account for gaps in the LocalReference array when packing segments
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring

#9571 Account for gaps in the LocalReference array when packing segments
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring

#9565 Account for gaps in the LocalReference array when packing segments
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring

#9570 FI main to next up until commit cc3b7e4
  api-report/driver-utils.api.md
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  packages/utils/telemetry-utils/src/errorLogging.ts
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/messages.ts
Labels: area: server, area: runtime, area: loader, area: driver, dependencies, area: odsp-driver, area: definitions, public api change

#9579 Driver-Definitions - Updating the protocol-definitions version
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
Labels: area: definitions

#9582 Revert Shared directory breaking changes from main
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/README.md
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, breaking change, public api change

#9578 Add README documentation for @fluidframework/test-version-utils
  packages/test/test-version-utils/README.md
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatOptions.ts
Labels: area: test

#9584 Next: Fix Type Validation
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.47.1000.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.45.1000.ts
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validate0.1027.1000.ts
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.58.1000.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.58.1000.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.58.1000.ts
Labels: area: runtime, dependencies, area: definitions

#9573 Account for gaps in the LocalReference array when packing segments
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring

#9572 Account for gaps in the LocalReference array when packing segments
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring

#9594 Main: Fix type validation
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.47.1000.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.45.1000.ts
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validate0.1027.1000.ts
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.58.1000.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.58.1000.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.58.1000.ts
Labels: area: runtime, dependencies, area: definitions

#9604 Update labeler.yml to use updated "area: tests" label
  .github/labeler.yml
Labels: area: build

#9605 [main > 0.58]: Revert Shared directory breaking changes
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/README.md
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, breaking change, public api change

#9603 Container-definitions: Bumping dependency on protocol-definitions
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.47.1000.ts
Labels: area: definitions

#9607 Policy fix
  packages/dds/merge-tree/src/localReference.ts
Labels: area: dds

#9602 Add labeling for branches
  .github/actions-labeler.yml
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: area: build

#9606 Main: Delete Unecessary Package Lock Files and Fix Driver Defs Version
  common/lib/driver-definitions/package.json
  packages/runtime/container-runtime-definitions/package-lock.json
  packages/runtime/datastore-definitions/package-lock.json
  packages/runtime/runtime-definitions/package-lock.json
Labels: area: runtime, area: definitions

#9612 Fix branch labeler config
  .github/workflows/pr-labeler.yml
Labels: area: build

#9562 eslint config: Fix modern module resolution
  common/build/eslint-config-fluid/eslint7.js
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
Labels: base: main

#9620 Bump version from driver-definitions
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
Labels: area: definitions

#9622 Log number of ops that are not system ops
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#9614 Initial Server Changes after TreeEntry.Commit was removed
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/blobs.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/storageUtils.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#9629 Release 0.56 - Adding nonSysOps count to the treeSnapshot (#9622)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9630 Release 0.57 - Adding nonSysOps count to the treeSnapshot (#9622)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9631 Release 0.58.1000 - Adding nonSysOps count to the treeSnapshot (#9622)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9632 Release 0.58.2000 - Adding nonSysOps count to the treeSnapshot (#9622)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver

#9636 Add raiseContainerWarning removal to 0.58 upcoming change
  BREAKING.md
Labels: breaking change, base: main

#9625 Add missing step in readme instructions
  examples/apps/collaborative-textarea/README.md
Labels: area: examples, base: main

#9642 Policy fix
  packages/dds/merge-tree/src/localReference.ts
Labels: area: dds

#9626 Backport (#9054) Client Session Expiry
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#9639 Backport (#9054) Client Session Expiry for 0.55
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#9485 Log gc blob size
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#9504 Initial draft for collecting Inbound Queue wait time
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, area: loader, base: main

#8624 bump deps on common-def to 20.1
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
Labels: dependencies, area: definitions, base: main

#9659 Revert the revert of Shared Directory changes and make them non breaking in main
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/README.md
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, breaking change, public api change, base: main

#9616 Split view/model for simple-fluidobject-embed and Pond examples
  examples/data-objects/pond/package.json
  examples/data-objects/pond/src/data-objects/clicker.tsx
  examples/data-objects/pond/src/data-objects/exampleUsingProviders.tsx
  examples/data-objects/pond/src/index.tsx
  examples/data-objects/simple-fluidobject-embed/package.json
  examples/data-objects/simple-fluidobject-embed/src/index.tsx
Labels: area: examples, base: main

#9675 Adding raiseContainerWarning in main
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
Labels: area: loader, breaking change, area: definitions, public api change, base: main

#9676 Integrate main to next
  BREAKING.md
  api-report/container-runtime.api.md
  api-report/map.api.md
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  examples/apps/collaborative-textarea/README.md
  examples/data-objects/pond/package.json
  examples/data-objects/pond/src/data-objects/clicker.tsx
  examples/data-objects/pond/src/data-objects/exampleUsingProviders.tsx
  examples/data-objects/pond/src/index.tsx
  examples/data-objects/simple-fluidobject-embed/package.json
  examples/data-objects/simple-fluidobject-embed/src/index.tsx
  packages/dds/map/README.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  tools/benchmark/package-lock.json
  tools/build-tools/package-lock.json
  tools/generator-fluid/package-lock.json
Labels: area: examples, area: runtime, area: loader, area: dds, breaking change, area: tests, area: definitions, public api change, base: next

#9674 Type Validation Tool Improvements
  tools/build-tools/src/typeValidator/packageJson.ts
  tools/build-tools/src/typeValidator/packageValidator.ts
  tools/build-tools/src/typeValidator/repoValidator.ts
  tools/build-tools/src/typeValidator/testGeneration.ts
  tools/build-tools/src/typeValidator/typeData.ts
  tools/build-tools/src/typeValidator/typeValidator.ts
Labels: base: main

#9391 Add stress test for testing new fluid binary wire format
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/test/test-drivers/src/odspDriverApi.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
Labels: area: driver, area: tests, area: odsp-driver, src: stress tests, base: main

#9678 Disable batching test
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
Labels: area: tests, base: main

#9195 Fixing runWithRetry with abort signal when container closes
  api-report/container-loader.api.md
  api-report/driver-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/loader/driver-utils/src/test/runWithRetry.spec.ts
Labels: area: loader, public api change, base: main

#9689 Reenable unbound method lint rule and preemptive fixes
  common/build/eslint-config-fluid/eslint7.js
  common/build/eslint-config-fluid/package-lock.json
  experimental/PropertyDDS/packages/property-changeset/.eslintrc.js
  experimental/PropertyDDS/packages/property-properties/.eslintignore
  experimental/PropertyDDS/packages/property-properties/.eslintrc.js
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/batchTracker.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/services-client/src/historian.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
Labels: area: framework, area: server, area: runtime, area: driver, area: dds, area: dds: sharedstring, area: tests, area: odsp-driver, base: main

#9681 Remove raiseContainerWarning from IContainerContext in next branch
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
Labels: area: loader, breaking change, area: definitions, public api change, base: next

#9653 Import fluidPackage from container-definitions
  BREAKING.md
  api-report/container-loader.api.md
  api-report/iframe-driver.api.md
  api-report/odsp-driver.api.md
  api-report/test-utils.api.md
  api-report/web-code-loader.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/browserPackage.ts
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/runtime.ts
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.39.8.ts
  common/lib/driver-definitions/src/test/types/validate0.40.0.ts
  common/lib/driver-definitions/src/test/types/validate0.41.0.ts
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
  common/lib/driver-definitions/src/test/types/validate0.43.0.ts
  common/lib/driver-definitions/src/test/types/validate0.44.0.ts
  common/lib/driver-definitions/src/urlResolver.ts
  examples/hosts/host-service-interfaces/src/documentFactory.ts
  examples/hosts/hosts-sample/src/codeDetailsLoader.ts
  examples/hosts/hosts-sample/src/codeDetailsView.ts
  examples/hosts/hosts-sample/src/utils.ts
  examples/hosts/node-host/src/index.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  experimental/dds/tree/api/tree.api.md
  packages/drivers/iframe-driver/src/innerUrlResolver.ts
  packages/drivers/iframe-driver/src/outerUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/loader/web-code-loader/src/semVerCdnCodeResolver.ts
  packages/loader/web-code-loader/src/utils.ts
  packages/loader/web-code-loader/src/webLoader.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/localTestServer.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/src/localCodeLoader.ts
  packages/test/test-utils/src/localLoader.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/tools/replay-tool/src/replayLoaderObject.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: area: examples, area: loader, area: driver, area: dds, breaking change, area: tests, area: dds: propertydds, area: odsp-driver, area: definitions, public api change, base: next

#9672 [GitRest] Refactoring APIs to support storage name header
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/repos.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/index.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodeFsManagerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
Labels: area: server, base: main

#9691 [r11s] Allowing getOrCreateRepository to handle headers
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/utils.ts
Labels: area: server, public api change, base: main
