Repository microsoft/FluidFramework, pull requests merged in 2022-05, with the labels that each got.

#9882 Adding conversion options for summary transformation
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/storageUtils.ts
  server/routerlicious/packages/services-client/src/test/storageUtils.spec.ts
Labels: area: server, public api change, base: main

#10088 'getkeys' must escape quotes when exporting env vars
  tools/getkeys/index.js
Labels: base: main

#10101 Adjustments applied on fix from 8995 - Added Reference to the code and telemetry for when cache is not reset
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver, base: main

#8913 fix r11s driver issue
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
Labels: area: driver, area: tests, base: main

#10096 Second container code for schema upgrade demo
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/app.tsx
  examples/hosts/app-integration/schema-upgrade/src/appView.tsx
  examples/hosts/app-integration/schema-upgrade/src/containerKillBit.ts
  examples/hosts/app-integration/schema-upgrade/src/dataHelpers.ts
  examples/hosts/app-integration/schema-upgrade/src/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/inventoryView.tsx
  examples/hosts/app-integration/schema-upgrade/src/version1/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/version1/index.ts
  examples/hosts/app-integration/schema-upgrade/src/version1/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/version2/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/version2/index.ts
  examples/hosts/app-integration/schema-upgrade/src/version2/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/tests/index.tsx
Labels: area: examples, base: main

#9909 6603 Tag stack property CodeArtifact
  BREAKING.md
  api-report/telemetry-utils.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.ts
Labels: area: runtime, breaking change, public api change, base: next

#9974 Upgrade nconf to address vulnerability in async
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
Labels: area: server, base: main

#10058 9946 Improve last summary flow
  api-report/container-runtime.api.md
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
Labels: area: runtime, area: dds, public api change, base: next

#10083 [GitRest] Telemetry improvements
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/externalStorageManager.ts
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/repos.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/routes/utils.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest/config.json
Labels: area: server, base: main

#10093 TypeValidator: Fix Disabled Gen and Removed Types Bugs
  tools/build-tools/src/typeValidator/packageJson.ts
  tools/build-tools/src/typeValidator/repoValidator.ts
  tools/build-tools/src/typeValidator/testGeneration.ts
  tools/build-tools/src/typeValidator/typeData.ts
  tools/build-tools/src/typeValidator/typeValidator.ts
Labels: base: main

#10047 Fix 9990 - Rationalize ISummaryConfiguration & ISummaryRuntimeOption
  BREAKING.md
  api-report/container-runtime.api.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHeuristics.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcResummarizationTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: driver, area: dds, breaking change, area: tests, public api change, base: next

#10009 Add tests for `connect()` and `disconnect()`
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: tests, base: main

#10126 Fix shared-tree fuzz tests timeout
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
Labels: area: dds, base: main

#10122 Update telemetry.md page
  docs/content/docs/testing/telemetry.md
Labels: documentation, base: main

#10076 Remove redundant members of ISharedObject
  api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/types.ts
  packages/runtime/datastore-definitions/src/channel.ts
Labels: area: runtime, area: dds, public api change, base: main

#10106 Improve property-binder test setup
  experimental/PropertyDDS/packages/property-binder/jest.config.js
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-binder/src/test/activation_tests.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binder.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/data_binding_tree.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/es6_data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/es6_decorator_data_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/internal_utils.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/onDemandDataBinding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/property_element.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/references.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/runtime_models.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/semver_bindings.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/semver_reps.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/stateless_binding.spec.js
  experimental/PropertyDDS/packages/property-binder/src/test/testDataBindings.js
Labels: area: dds: propertydds, base: main

#10134 Deprecate IProxyLoaderFactory
  BREAKING.md
  api-report/container-loader.api.md
  common/lib/container-definitions/BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/proxyLoader.ts
  examples/hosts/iframe-host/src/inframehost.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: examples, area: loader, breaking change, area: definitions, public api change, base: main

#10135 Fix patch release version inconsistencies
  experimental/PropertyDDS/services/property-query-service/package.json
  packages/dds/matrix/package.json
  packages/runtime/datastore/package.json
Labels: area: runtime, area: dds, area: dds: propertydds, base: release

#10129 #9952 Add error event when we are not caught up with summarizing
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime, base: main

#10124 Bump Build Tools Version in Repo
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/test/types/validateCommonUtilsPrevious.ts
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime/package.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions, base: main

#10136 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: release

#10100 Optimize Legacy Shared Tree's AppendOnlySortedMap data structure
  experimental/dds/tree/src/Common.ts
  experimental/dds/tree/src/id-compressor/AppendOnlySortedMap.ts
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/test/AppendOnlySortedMap.perf.tests.ts
  experimental/dds/tree/src/test/AppendOnlySortedMap.tests.ts
Labels: area: dds, base: main

#10143 Suppress producer errors when deli is closed
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10002 Add Attribution API to SharedTree
  api-report/experimental-tree.api.md
  experimental/dds/tree/src/Common.ts
  experimental/dds/tree/src/Identifiers.ts
  experimental/dds/tree/src/LogViewer.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/SharedTreeEncoder.ts
  experimental/dds/tree/src/UuidUtilities.ts
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/id-compressor/NumericUuid.ts
  experimental/dds/tree/src/id-compressor/persisted-types/0.0.1.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/LogViewer.tests.ts
  experimental/dds/tree/src/test/NumericUuid.perf.tests.ts
  experimental/dds/tree/src/test/NumericUuid.tests.ts
  experimental/dds/tree/src/test/Virtualization.tests.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
  experimental/dds/tree/src/test/utilities/PendingLocalStateTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeVersioningTests.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
Labels: area: dds, public api change, base: main

#10141 Combine client-ui-lib into shared-text instead of having as a standalone package
  examples/data-objects/client-ui-lib/.eslintrc.js
  examples/data-objects/client-ui-lib/.gitignore
  examples/data-objects/client-ui-lib/.npmignore
  examples/data-objects/client-ui-lib/.vscode/settings.json
  examples/data-objects/client-ui-lib/LICENSE
  examples/data-objects/client-ui-lib/README.md
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/client-ui-lib/src/test/component.spec.ts
  examples/data-objects/client-ui-lib/src/test/geometry/geometry.spec.ts
  examples/data-objects/client-ui-lib/src/test/tsconfig.json
  examples/data-objects/client-ui-lib/tsconfig.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/client-ui-lib/controls/README.md
  examples/data-objects/shared-text/src/client-ui-lib/controls/commandBox.tsx
  examples/data-objects/shared-text/src/client-ui-lib/controls/cursor.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/debug.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/dockPanel.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/domutils.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowContainer.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/keycode.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/layout.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/title.ts
  examples/data-objects/shared-text/src/client-ui-lib/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/characterCodes.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/paragraph.ts
  examples/data-objects/shared-text/src/client-ui-lib/text/table.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/README.md
  examples/data-objects/shared-text/src/client-ui-lib/ui/browserContainerHost.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/component.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/debug.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/geometry/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/geometry/point.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/geometry/rectangle.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/geometry/size.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/utils.ts
  examples/data-objects/shared-text/src/view.ts
  lerna-package-lock.json
Labels: area: examples, dependencies, base: main

#10108 Factor out common utilities for stochastic tests
  experimental/dds/tree/src/test/AppendOnlySortedMap.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/NumericUuid.tests.ts
  experimental/dds/tree/src/test/fuzz/Generators.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/fuzz/Types.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/generators.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/index.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/performActions.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/random.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/types.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
  experimental/dds/tree/src/test/utilities/SummaryLoadPerfTests.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
Labels: area: dds, base: main

#10147 Enable TypeValidation on Merge Tree, Sequence, and Fluid-Framework
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/framework/fluid-framework/tsconfig.json
Labels: area: framework, area: dds, dependencies, area: dds: sharedstring, base: main

#10149 Merge Tree: const enums to const objects
  BREAKING.md
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/ops.ts
Labels: area: dds, breaking change, public api change, base: next

#10151 Replace GetSharingInfo api with /LinkingUrl api
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#10157 Pipeline config updates.
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#10160 `fluid-build`: Fix incremental build after typescript update
  tools/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  tools/build-tools/src/fluidBuild/tscUtils.ts
Labels: base: main

#10162 Pipeline config updates. (#10157)
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: next

#10156 Remove count queryparam with top
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver, base: main

#10155 [GitRest] Fixing bugs and UTs
  server/gitrest/README.md
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
Labels: area: server, base: main

#10145 Throw error instead of assert in createContainer paths where empty summary tree is unsupported
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: driver, area: tests, base: main

#10169 update monaco and webpack plugins
  examples/apps/spaces/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/src/view.tsx
  examples/data-objects/monaco/webpack.config.js
  examples/data-objects/vltava/package.json
  examples/data-objects/webflow/package.json
  lerna-package-lock.json
Labels: area: examples, dependencies, base: main

#10150 Pull out stochastic-test-utils into its own package
  experimental/dds/tree/package.json
  experimental/dds/tree/src/test/AppendOnlySortedMap.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/NumericUuid.tests.ts
  experimental/dds/tree/src/test/fuzz/Generators.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/fuzz/Types.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/generators.ts
  experimental/dds/tree/src/test/stochastic-test-utilities/performActions.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
  experimental/dds/tree/src/test/utilities/SummaryLoadPerfTests.ts
  packages/test/stochastic-test-utils/.eslintrc.js
  packages/test/stochastic-test-utils/.gitignore
  packages/test/stochastic-test-utils/.npmignore
  packages/test/stochastic-test-utils/LICENSE
  packages/test/stochastic-test-utils/README.md
  packages/test/stochastic-test-utils/package.json
  packages/test/stochastic-test-utils/src/generators.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/src/performActions.ts
  packages/test/stochastic-test-utils/src/random.ts
  packages/test/stochastic-test-utils/src/test/generators.spec.ts
  packages/test/stochastic-test-utils/src/test/tsconfig.json
  packages/test/stochastic-test-utils/src/types.ts
  packages/test/stochastic-test-utils/tsconfig.json
Labels: area: dds, area: tests, base: main

#10170 Remove node-host and key-value-cache examples, deprecate routerlicious-host
  BREAKING.md
  examples/data-objects/key-value-cache/.eslintignore
  examples/data-objects/key-value-cache/.eslintrc.js
  examples/data-objects/key-value-cache/.gitignore
  examples/data-objects/key-value-cache/.npmignore
  examples/data-objects/key-value-cache/LICENSE
  examples/data-objects/key-value-cache/README.md
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/key-value-cache/src/debug.ts
  examples/data-objects/key-value-cache/src/index.ts
  examples/data-objects/key-value-cache/tsconfig.json
  examples/data-objects/key-value-cache/webpack.config.js
  examples/data-objects/key-value-cache/webpack.dev.js
  examples/data-objects/key-value-cache/webpack.prod.js
  examples/hosts/node-host/.eslintrc.js
  examples/hosts/node-host/.gitignore
  examples/hosts/node-host/.npmignore
  examples/hosts/node-host/.npmrc
  examples/hosts/node-host/.vscode/launch.json
  examples/hosts/node-host/README.md
  examples/hosts/node-host/package.json
  examples/hosts/node-host/src/cli.ts
  examples/hosts/node-host/src/index.ts
  examples/hosts/node-host/src/nodeCodeloader.ts
  examples/hosts/node-host/src/utils.ts
  examples/hosts/node-host/tsconfig.json
  packages/drivers/routerlicious-host/README.md
  packages/drivers/routerlicious-host/src/urlResolver.ts
Labels: area: examples, area: driver, breaking change, base: main

#10176 Replace extract-text-webpack-plugin with html-webpack-plugin
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-inspector-table/webpack.prod.js
  lerna-package-lock.json
Labels: dependencies, area: dds: propertydds, base: main

#10144 Enable tsdoc/syntax lint rule and pre-apply fixes
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
  experimental/PropertyDDS/packages/property-binder/.eslintrc
  experimental/PropertyDDS/packages/property-changeset/.eslintrc.js
  experimental/PropertyDDS/packages/property-common/.eslintrc.js
  experimental/PropertyDDS/packages/property-dds/.eslintrc.js
  experimental/PropertyDDS/packages/property-inspector-table/.eslintrc.js
  experimental/PropertyDDS/packages/property-properties/.eslintrc.js
  experimental/PropertyDDS/packages/property-proxy/.eslintrc.js
  packages/dds/matrix/src/handlecache.ts
  packages/dds/matrix/src/range.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/dds/shared-object-base/src/handle.ts
  packages/dds/tree/src/flatAttachTree.ts
  packages/dds/tree/src/format.ts
  packages/dds/tree/src/schema/Schema.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/tools/replay-tool/src/helpers.ts
  packages/utils/odsp-doclib-utils/src/parseAuthErrorTenant.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/context.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/deli/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/deli/clientSeqManager.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/interfaces.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/services-core/src/clientManager.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-core/src/mongo.ts
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services-core/src/throttler.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/test-utils/src/testClientManager.ts
Labels: area: server, area: runtime, area: dds, area: dds: sharedstring, area: odsp-driver, base: main

#10167 Deprecate Local Reference Class and Obsolete ReferencePosition Members
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/client.spec.ts
  packages/dds/merge-tree/src/test/text.ts
Labels: area: dds, public api change, base: main

#10180 Update a few webpack plugins
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/spaces/package.json
  examples/apps/view-framework-sampler/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/interface/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/data-objects/todo/package.json
  examples/data-objects/vltava/package.json
  examples/data-objects/webflow/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/external-controller/package.json
  examples/hosts/app-integration/external-views/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/utils/bundle-size-tests/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-inspector-table/webpack.prod.js
  experimental/PropertyDDS/packages/property-proxy/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  lerna-package-lock.json
  packages/loader/web-code-loader/package.json
  packages/test/functional-tests/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-version-utils/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: loader, dependencies, area: tests, area: dds: propertydds, base: main

#10178 Enable space-unary-ops and switch-colon-spacing lint rules
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  server/routerlicious/packages/services-telemetry/src/schema.ts
Labels: area: framework, area: server, area: dds, area: dds: sharedstring, area: tests, area: odsp-driver, base: main

#10189 Remove KeyValueDataObject
  experimental/framework/data-objects/src/index.ts
  experimental/framework/data-objects/src/kvpair/DataObject.ts
  experimental/framework/data-objects/src/kvpair/index.ts
Labels: area: dev experience, base: main

#10110 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area: build, base: main

#10190 Run fluid-build --fix to remove warnings
  packages/test/stochastic-test-utils/package.json
  packages/test/stochastic-test-utils/tsconfig.json
Labels: area: tests, base: main

#10187 making deli checkpointHeuristics configurable
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
Labels: area: server, base: main

#10067 Rollback infrastructure
  api-report/container-utils.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/shared-object-base.api.md
  api-report/telemetry-utils.api.md
  api-report/test-runtime-utils.api.md
  packages/dds/merge-tree/README.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/tools/replay-tool/src/unknownChannel.ts
Labels: area: runtime, area: dds, area: tests, public api change, base: next

#10196 Add interval collection fuzz tests
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10198 Remove eventName: "SummarizingNotCaughtUp"
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime, base: main

#10194 GC: Add TestOverride.SessionExpiryMs config
  api-report/telemetry-utils.api.md
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.ts
Labels: area: runtime, public api change, base: main

#10197 SharedTree: Semantic format memo
  packages/dds/tree/docs/semantic-format/semantic-format.md
Labels: area: dds, community-contribution, base: main

#10185 Clean up inclusions code from shared-text and webflow
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  examples/data-objects/webflow/src/editor/caret.ts
  examples/data-objects/webflow/src/editor/editor.ts
  examples/data-objects/webflow/src/editor/index.css
  examples/data-objects/webflow/src/editor/index.css.d.ts
  examples/data-objects/webflow/src/host/index.css
  examples/data-objects/webflow/src/util/event.ts
Labels: area: examples, base: main

#10204 Start SharedTree workspace VSCode terminals in root directory
  experimental/dds/tree/.vscode/SharedTree.code-workspace
Labels: base: main

#9964 Adding id back to IContainerContext
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/runtime.ts
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, area: definitions, public api change, base: next

#10133 #9946 Change minOpsForLastSummaryAttempt default to 10
  BREAKING.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime, breaking change, base: next

#10207 Disable summarizeProtocolTree in stress for now
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#10209 refractor: method to function
  docs/content/docs/recipes/angular.md
Labels: documentation, community-contribution, base: main

#10188 Remove the logic to load containers with getFluidRelayContianer
  experimental/PropertyDDS/examples/partial-checkout/src/app.tsx
  experimental/PropertyDDS/examples/property-inspector/src/app.tsx
Labels: area: dds: propertydds, community-contribution, base: main

#10159 Routerlicious summaries download
  api-report/driver-utils.api.md
  packages/drivers/routerlicious-driver/src/test/wholeSummaryDocumentStorageService.spec.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/treeUtils.ts
Labels: area: loader, area: driver, public api change, base: main

#10030 Update build-tools readme
  tools/build-tools/README.md
  tools/build-tools/src/common/commonOptions.ts
  tools/build-tools/src/fluidBuild/options.ts
  tools/build-tools/src/layerCheck/layerCheck.ts
Labels: base: main

#10216 Use pipeline for aggregate instead of just group
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-utils/src/deleteSummarizedOps.ts
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/packages/test-utils/src/testCollection.ts
  server/tinylicious/src/services/inMemorycollection.ts
  server/tinylicious/src/services/levelDbCollection.ts
Labels: area: server, area: driver, base: main

#10220 [GitRest] Allowing asyncLocalStorage to be passed as a parameter
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
Labels: area: server, base: main

#10224 Fix dependency and lint issues in azure monorepo
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/package.json
  azure/packages/external-controller/.eslintrc.js
Labels: area: build, base: main

#10228 Fix lint in driver-utils
  packages/loader/driver-utils/src/treeUtils.ts
Labels: area: loader, base: main

#10038 Add reconnect tests for getIntervalCollection on shared-string
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10232 FluidBuild: Fix incremental build
  tools/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: base: main

#10208 Add --azure option to fluid-build
  tools/build-tools/README.md
  tools/build-tools/src/common/fluidRepo.ts
  tools/build-tools/src/common/monoRepo.ts
  tools/build-tools/src/fluidBuild/fluidPackageCheck.ts
  tools/build-tools/src/fluidBuild/fluidRepoBuild.ts
  tools/build-tools/src/fluidBuild/options.ts
  tools/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
Labels: base: main

#10111 Pull Request Template
  .github/pull_request_template.md
Labels: area: build, community-contribution, base: main

#10234 Fix lint errors in common-utils
  common/lib/common-utils/src/bufferBrowser.ts
  common/lib/common-utils/src/typedEventEmitter.ts
Labels: base: main

#10242 Tolerate edit chunk upload failures in SharedTree fuzz tests
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
Labels: area: dds, base: main

#10243 Use default shell for dev containers
  .devcontainer/.zshrc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: base: main

#10215 Stop always summarizing DDS (because of blob aggregation)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, base: main

#10241 Add CI pipeline for azure packages
  azure/.gitignore
  azure/lerna-package-lock.json
  azure/package.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/external-controller/package.json
  azure/packages/external-controller/webpack.config.js
  azure/packages/external-controller/webpack.test.js
  tools/pipelines/build-azure.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#10252 Add azure pipeline as a dep for docs pipeline
  tools/pipelines/build-docs.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build, base: main

#10251 Fix some typos
  packages/framework/undo-redo/src/test/sequenceHandler.spec.ts
  packages/framework/undo-redo/src/undoRedoStackManager.ts
Labels: area: framework, base: main

#10213 Allow Quorum propose() promises to remain unsettled until reconnect after disconnect
  server/routerlicious/packages/protocol-base/README.md
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/protocol-base/src/test/quorum.spec.ts
Labels: area: server, base: main

#10263 Run md-magic
  azure/packages/external-controller/README.md
Labels: base: main

#10262 Update docs/themes/thxvscode/assets/js to webpack 5
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/package.json
  docs/themes/thxvscode/assets/js/yarn.lock
Labels: area: website, base: main

#10264 Correct api-extractor config in azure release group
  azure/packages/azure-client/api-extractor.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/api-extractor.json
  azure/packages/azure-service-utils/package.json
Labels: base: main

#10248 fluid-build: Add ability to specify explicit script dependencies
  packages/tools/merge-tree-client-replay/package.json
  tools/build-tools/src/common/npmPackage.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  tools/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: base: main

#10079 Improve Test Driver Endpoint handling, and Add Stress for T9s and FRS
  api-report/test-driver-definitions.api.md
  api-report/test-drivers.api.md
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-drivers/src/test/types/validateTestDriversPrevious.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-version-utils/src/compatOptions.ts
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, public api change, base: main

#10266 Revert "Update docs/themes/thxvscode/assets/js to webpack 5"
  docs/themes/thxvscode/assets/js/bundle.js
  docs/themes/thxvscode/assets/js/package.json
  docs/themes/thxvscode/assets/js/yarn.lock
Labels: area: website, base: main

#10265 Integrate protocol-base prerelease
  experimental/dds/xtree/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/utils/tool-utils/package.json
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, area: runtime, area: loader, area: driver, area: dds, dependencies, area: odsp-driver, base: main

#10261 Remove eslint-plugin-no-null
  common/lib/common-utils/.eslintrc.js
  examples/data-objects/monaco/.eslintrc.js
  examples/data-objects/prosemirror/.eslintrc.js
  examples/data-objects/table-view/.eslintrc.js
  examples/data-objects/webflow/.eslintrc.js
  examples/hosts/app-integration/schema-upgrade/package.json
  experimental/PropertyDDS/examples/partial-checkout/.eslintrc.js
  experimental/PropertyDDS/examples/property-inspector/.eslintrc.js
  experimental/PropertyDDS/examples/schemas/.eslintrc.js
  experimental/PropertyDDS/examples/schemas/package.json
  experimental/PropertyDDS/packages/property-dds/.eslintrc.js
  experimental/dds/tree-graphql/.eslintrc.js
  lerna-package-lock.json
  packages/dds/map/.eslintrc.js
  packages/dds/merge-tree/.eslintrc.js
  packages/dds/test-dds-utils/.eslintrc.js
  packages/drivers/debugger/.eslintrc.js
  packages/drivers/driver-web-cache/.eslintrc.js
  packages/drivers/file-driver/.eslintrc.js
  packages/drivers/iframe-driver/.eslintrc.js
  packages/drivers/odsp-driver/.eslintrc.js
  packages/drivers/replay-driver/.eslintrc.js
  packages/drivers/routerlicious-driver/.eslintrc.js
  packages/loader/container-loader/.eslintrc.js
  packages/loader/container-utils/.eslintrc.js
  packages/runtime/agent-scheduler/.eslintrc.js
  packages/runtime/container-runtime/.eslintrc.js
  packages/runtime/test-runtime-utils/.eslintrc.js
  packages/tools/fetch-tool/.eslintrc.js
  packages/utils/telemetry-utils/.eslintrc.js
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: examples, area: server, dependencies, area: dds: propertydds, base: main

#10233 Remove max-lines eslint rule override in generated back-compat test files
  tools/build-tools/src/typeValidator/testGeneration.ts
Labels: base: main

#10237 Fixed an assert in container runtime GC code that was incorrect
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
Labels: area: runtime, area: tests, base: main

#10275 Repo policy fixes
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/loader/container-loader/src/quorum.ts
  packages/loader/driver-utils/src/treeUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader, area: dds, base: main

#10258 Add skipped regression tests for interval collection comparator issues
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#10193 Add replacement methods for working with ReferencePositions over LocalReferences
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.ts
Labels: area: framework, area: dds, breaking change, area: dds: sharedstring, public api change, base: main

#10244 Add SharedString with intervals to snapshot tests
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/snapshots/legacy/withIntervals.json
  packages/dds/sequence/src/test/snapshots/legacyWithCatchUp/withIntervals.json
  packages/dds/sequence/src/test/snapshots/v1/withIntervals.json
Labels: area: dds, area: dds: sharedstring, base: main

#10077 Add data to summary ack & nack messages and add auto dsn update logic
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/services-core/src/configuration.ts
Labels: area: server, base: main

#10276 Fix inconsistent version dependency in fluid-framework package
  packages/framework/fluid-framework/package.json
Labels: area: framework, base: main

#10277 repo policy fixes
  packages/dds/merge-tree/src/localReference.ts
Labels: area: dds, base: main

#10269 Stress: Pass endpoint to runner
  packages/test/test-service-load/src/nodeStressTest.ts
Labels: area: tests, base: main

#10211 docs: Add link to Safari page in browser list
  docs/_includes/browsers.md
Labels: area: website, community-contribution, base: main

#10280 Stress: Fix tinylicious by installing necessary packages
  packages/test/test-service-load/package.json
Labels: area: tests, base: main

#10281 Local reference collection linked list
  api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/collections.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/test/collections.list.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
Labels: area: dds, public api change, base: main

#10282 Add support for custom deli control messages
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10286 Add support for driver endpoint in odsp driver test
  api-report/test-driver-definitions.api.md
  api-report/test-drivers.api.md
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-drivers/src/test/types/validateTestDriversPrevious.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#10287 Adding the last document access time to document collection
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/services-core/src/document.ts
Labels: area: server, base: main

#10295 Delete packages/tools/merge-tree-client-replay directory
  packages/tools/merge-tree-client-replay/.eslintrc.js
  packages/tools/merge-tree-client-replay/.gitignore
  packages/tools/merge-tree-client-replay/.npmignore
  packages/tools/merge-tree-client-replay/.vscode/launch.json
  packages/tools/merge-tree-client-replay/README.md
  packages/tools/merge-tree-client-replay/api-extractor.json
  packages/tools/merge-tree-client-replay/bin/mergeTreeClientReplay
  packages/tools/merge-tree-client-replay/package.json
  packages/tools/merge-tree-client-replay/src/clientReplayTool.ts
  packages/tools/merge-tree-client-replay/src/index.ts
  packages/tools/merge-tree-client-replay/src/main.ts
  packages/tools/merge-tree-client-replay/src/replayArgs.ts
  packages/tools/merge-tree-client-replay/tsconfig.json
Labels: base: main

#10299 Rename 'semantic-format.md' to 'README.md'
  packages/dds/tree/docs/semantic-format/README.md
Labels: area: dds, base: main

#10301 policy-check fix
  packages/dds/merge-tree/src/localReference.ts
Labels: area: dds, base: main

#10271 Enable and pre-apply fixes for prefer-optional-chain
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/prosemirror/src/footnoteView.ts
  examples/data-objects/prosemirror/src/prompt.ts
  examples/data-objects/shared-text/.eslintrc.js
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/html/formatters.ts
  examples/data-objects/webflow/src/util/attr.ts
  examples/data-objects/webflow/src/view/layout.ts
  experimental/PropertyDDS/packages/property-changeset/.eslintrc.js
  experimental/PropertyDDS/packages/property-inspector-table/.eslintrc.js
  experimental/PropertyDDS/packages/property-properties/.eslintrc.js
  experimental/PropertyDDS/packages/property-proxy/src/utilities.ts
  experimental/dds/tree/src/EditLog.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/quorum/src/quorum.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/drivers/driver-web-cache/src/FluidCache.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/framework/view-adapters/src/htmlview/htmlViewAdapter.tsx
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/stochastic-test-utils/src/performActions.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-version-utils/src/compatOptions.ts
  packages/tools/webpack-fluid-loader/src/test/dependencies.spec.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/memory-orderer/src/localOrdererConnection.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#10285 Added inactive object events for attachment blobs.
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: runtime, area: tests, base: main

#10312 removing prod-test-harness.yml
  tools/pipelines/prod-test-harness.yml
Labels: area: build, base: main

#10313 Update peerDeps in next branch
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework, area: dds: propertydds, base: next

#10152 Shared Tree Modules doc
  packages/dds/tree/docs/wip/Modules.md
Labels: area: dds, base: main

#10270 IdCompressor eagerly allocates final IDs
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/id-compressor/SessionIdNormalizer.ts
  experimental/dds/tree/src/id-compressor/persisted-types/0.0.1.ts
  experimental/dds/tree/src/test/IdCompressor.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/Summary.tests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
  experimental/dds/tree/src/test/utilities/SummaryLoadPerfTests.ts
  experimental/dds/tree/src/test/utilities/TestCommon.ts
Labels: area: dds, area: dds: tree, base: main

#10272 Enable prefer-includes eslint rule and pre-apply fixes
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
  experimental/PropertyDDS/packages/property-changeset/.eslintrc.js
  experimental/PropertyDDS/packages/property-common/src/datastructures/collection.ts
  experimental/PropertyDDS/packages/property-common/src/error_objects/httpError.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/NameCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataForm.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyDataCreationHandlers.ts
  experimental/PropertyDDS/packages/property-properties/.eslintrc.js
  experimental/PropertyDDS/packages/property-properties/src/propertyTemplateWrapper.js
  experimental/PropertyDDS/packages/property-proxy/.eslintrc.js
  experimental/dds/tree/src/Forest.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-service-load/src/utils.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#10318 Move agent-scheduler package to framework path
  packages/framework/agent-scheduler/.eslintrc.js
  packages/framework/agent-scheduler/.gitignore
  packages/framework/agent-scheduler/.npmignore
  packages/framework/agent-scheduler/LICENSE
  packages/framework/agent-scheduler/README.md
  packages/framework/agent-scheduler/package.json
  packages/framework/agent-scheduler/src/agent.ts
  packages/framework/agent-scheduler/src/index.ts
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/agent-scheduler/src/taskSubscription.ts
  packages/framework/agent-scheduler/src/test/tsconfig.json
  packages/framework/agent-scheduler/src/test/types/validateAgentSchedulerPrevious.ts
  packages/framework/agent-scheduler/tsconfig.esnext.json
  packages/framework/agent-scheduler/tsconfig.json
Labels: area: framework, base: main

#10309 add npm script for running experimental/tree's benchmarks
  experimental/dds/tree/package.json
  tools/benchmark/README.md
Labels: area: dds, base: main

#10328 [bump] package version for server (patch)
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: release

#10300 Remove offline marking from generic fetch errors
  common/lib/driver-definitions/src/driverError.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver, area: definitions, base: main

#10322 Disable frequency-based noops via service config - part 1
  BREAKING.md
  common/lib/container-definitions/src/loader.ts
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/config.ts
  packages/loader/container-loader/src/collabWindowTracker.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader, breaking change, area: definitions, public api change, base: main

#10331 chore: Remove unpaired `#endregion` comment
  azure/packages/azure-client/src/AzureClient.ts
Labels: base: main

#10326 [r11s] http request telemetry improvements
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#10284 Treat Quorum delete the same as setting undefined
  packages/dds/quorum/src/quorum.ts
  packages/dds/quorum/src/test/quorum.spec.ts
Labels: area: dds, base: main

#10337 Fix shared object terms in architecture doc
  docs/content/docs/concepts/architecture/index.md
Labels: documentation, base: main

#10344 Fixed an assert in container runtime GC code that was incorrect (#10237)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
Labels: area: runtime, area: tests, base: release

#10347 policy-check fix
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: release

#10343 Fixed an assert in container runtime GC code that was incorrect (#10237)
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
Labels: area: framework, area: runtime, area: tests, base: release

#10350 Typos in architecture doc
  docs/content/docs/concepts/architecture/index.md
Labels: documentation, base: main

#10336 Increase error threshold for batch length
  experimental/dds/tree/src/test/Virtualization.tests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  packages/runtime/container-runtime/src/batchTracker.ts
Labels: area: runtime, area: dds, base: main

#10349 policy-check fix
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: release

#10353 Update dependency on `protocol-definitions` for `driver-definitions`
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
Labels: area: definitions, base: main

#10341 Use webpack's built in types in bundle-size-tools
  tools/bundle-size-tools/README.md
  tools/bundle-size-tools/package-lock.json
  tools/bundle-size-tools/package.json
  tools/bundle-size-tools/src/ADO/AdoArtifactFileProvider.ts
  tools/bundle-size-tools/src/ADO/FileSystemBundleFileProvider.ts
  tools/bundle-size-tools/src/ADO/getBundleSummaries.ts
  tools/bundle-size-tools/src/BundleBuddyConfigWebpackPlugin.ts
  tools/bundle-size-tools/src/BundleBuddyTypes.ts
  tools/bundle-size-tools/src/bannedModulesPlugin/bannedModulesPlugin.ts
  tools/bundle-size-tools/src/statsProcessors/entryStatsProcessor.ts
  tools/bundle-size-tools/src/utilities/decompressStatsFile.ts
  tools/bundle-size-tools/src/utilities/getChunkAndDependenciesSizes.ts
  tools/bundle-size-tools/src/utilities/getChunkParsedSize.ts
  tools/bundle-size-tools/src/utilities/runProcessorOnStatsFile.ts
Labels: base: main

#10355 Update dependency on `protocol-definitions` and `driver-definitions` for `container-definitions`
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
Labels: area: definitions, base: main

#10354 remove type validation error suppression
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.ts
Labels: area: framework, base: release

#10356 Update dependency on `protocol-definitions` for server
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#10333 Add support for stress tests for odsp df endpoint
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-service-load/README.md
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, base: main

#10293 Update webpack-dev-server from 4.0.0 to 4.6.0
  azure/lerna-package-lock.json
  azure/packages/external-controller/package.json
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/spaces/package.json
  examples/apps/view-framework-sampler/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/focus-tracker/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/interface/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/data-objects/todo/package.json
  examples/data-objects/vltava/package.json
  examples/data-objects/webflow/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/external-views/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  lerna-package-lock.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, dependencies, area: dds: propertydds, base: main

#10363 Update lockfile for server
  server/routerlicious/lerna-package-lock.json
Labels: area: server, base: main

#10338 Skip tests when collateral is not present
  packages/test/snapshots/src/replayMultipleFiles.ts
  packages/test/snapshots/src/test/replay.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
Labels: area: tests, base: main

#10362 Skip test because of version not loading (#10073)
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
Labels: area: tests, base: main

#10368 [gitrest] Persisting latest full summary during getSummary
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
Labels: area: server, base: main

#10364 Fix pipeline secret
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, base: main

#10370 Emit an event when nack messages are updated
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#10371 exclude t9s from expected events in disabled test
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: tests, base: main

#10374 Fix Type Validations and Previous Versions
  lerna-package-lock.json
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.ts
Labels: area: framework, area: runtime, area: loader, dependencies, base: next

#10378 r11s-driver: fix offline reconnect
  packages/drivers/driver-base/src/documentDeltaConnection.ts
Labels: area: driver, base: main

#10377 Update CODEOWNERS for azure projects
  .github/CODEOWNERS
Labels: area: build, base: main

#10332 Add the Discovery Endpoint to Fluid Framework (FF) E2E Tests
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: tests, base: main

#10379 r11s-driver: pass refresh=true to TokenProvider when retrying 401 on socket connection
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
Labels: area: driver, base: main

#10294 9694 Generalize summary-related telemetry data collection
  api-report/container-runtime.api.md
  api-report/counter.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/map.api.md
  api-report/runtime-definitions.api.md
  api-report/runtime-utils.api.md
  api-report/sequence.api.md
  api-report/shared-object-base.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/xtree/src/tree.ts
  packages/dds/cell/src/cell.ts
  packages/dds/counter/src/counter.ts
  packages/dds/ink/src/ink.ts
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/quorum/src/quorum.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/tools/replay-tool/src/unknownChannel.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: propertydds, public api change, base: next

#10404 Pin GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-validation.yml
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#10384 common-utils: Remove project-wide lint disables
  common/lib/common-utils/.eslintrc.js
  common/lib/common-utils/src/eventForwarder.ts
  common/lib/common-utils/src/heap.ts
  common/lib/common-utils/src/lazy.ts
  common/lib/common-utils/src/promises.ts
  common/lib/common-utils/src/rangeTracker.ts
  common/lib/common-utils/src/rateLimiter.ts
Labels: base: main

#10360 docs: Update repository README
  README.md
  server/routerlicious/README.md
Labels: area: server, base: main

#10402 Fix webpack config for webflow
  examples/data-objects/webflow/webpack.config.js
Labels: area: examples, base: main
