Repository microsoft/FluidFramework, pull requests merged in 2022-11, with the labels that each got.

#12718 Add linting to test-tools package(#1927)
  tools/test-tools/.eslintrc.js
  tools/test-tools/src/assignTestPorts.ts
  tools/test-tools/src/getTestPort.ts
  tools/test-tools/tsconfig.json
Labels: base: main

#12728 Update Fluid Framework examples links from documentation
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/teams.md
  docs/content/docs/recipes/vue.md
  docs/content/docs/recipes/web-components.md
  docs/content/docs/start/examples.md
  docs/content/docs/start/tutorial.md
Labels: documentation, community-contribution, base: main

#12313 Proposal - refreshLatestSummaryAck's fetchSnapshotFromStorage always retrieving the latest summary
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
Labels: area: runtime, area: tests, base: main

#12743 Log original error when driver can't retry due to storage service disposed
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
Labels: area: loader, base: main

#12741 Fix dynamic require for mocha-test-setup in memory perf tests
  packages/dds/map/src/test/memory/.mocharc.js
  packages/dds/matrix/src/test/memory/.mocharc.js
  packages/dds/sequence/src/test/memory/.mocharc.js
Labels: base: main

#12238 add summary size benchmarks
  packages/dds/tree/src/test/shared-tree/summaryBenchmarkSizes.ts
Labels: area: dds, base: main

#12608 Direct JS object perf tests for jsonCursor benchmark comparison
  packages/dds/tree/src/test/domains/json/benchmarks.ts
  packages/dds/tree/src/test/domains/json/canada.ts
  packages/dds/tree/src/test/domains/json/jsDirectObject.bench.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
Labels: area: dds, base: main

#12726 feat(check:policy): Add policy handler to check for extraneous lockfiles
  azure/packages/azure-local-service/package-lock.json
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  package.json
Labels: base: main

#12724 feat(check:policy): Add policy to check for correct dependency types
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  experimental/dds/tree-graphql/package.json
  experimental/dds/tree/package.json
  package.json
  packages/dds/tree/package.json
Labels: area: dds, base: main

#12751 [bump] build-common: 1.1.0 => 1.2.0 (minor)
  common/build/build-common/package-lock.json
  common/build/build-common/package.json
Labels: base: main

#12757 Initial data viewer prototype
  lerna-package-lock.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/tools/client-debug-view/.eslintrc.js
  packages/tools/client-debug-view/.gitignore
  packages/tools/client-debug-view/.npmignore
  packages/tools/client-debug-view/.prettierignore
  packages/tools/client-debug-view/LICENSE
  packages/tools/client-debug-view/README.md
  packages/tools/client-debug-view/api-extractor.json
  packages/tools/client-debug-view/api-report/client-debug-view.api.md
  packages/tools/client-debug-view/jest.config.js
  packages/tools/client-debug-view/package.json
  packages/tools/client-debug-view/prettier.config.cjs
  packages/tools/client-debug-view/src/RendererOptions.tsx
  packages/tools/client-debug-view/src/Utilities.ts
  packages/tools/client-debug-view/src/components/AudienceView.tsx
  packages/tools/client-debug-view/src/components/ClientDebugView.tsx
  packages/tools/client-debug-view/src/components/ContainerDataView.tsx
  packages/tools/client-debug-view/src/components/ContainerStateView.tsx
  packages/tools/client-debug-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debug-view/src/components/DataObjectsView.tsx
  packages/tools/client-debug-view/src/components/OpsStreamView.tsx
  packages/tools/client-debug-view/src/components/client-data-views/AudienceMemberView.tsx
  packages/tools/client-debug-view/src/components/client-data-views/OpView.tsx
  packages/tools/client-debug-view/src/components/client-data-views/index.ts
  packages/tools/client-debug-view/src/components/data-object-views/DynamicDataView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/FluidObjectView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/RecordView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/SharedCounterView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/SharedMapView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/SharedStringView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/index.ts
  packages/tools/client-debug-view/src/components/index.ts
  packages/tools/client-debug-view/src/components/utility-components/Accordion.tsx
  packages/tools/client-debug-view/src/components/utility-components/index.ts
  packages/tools/client-debug-view/src/components/widgets/CounterWidget.tsx
  packages/tools/client-debug-view/src/components/widgets/index.ts
  packages/tools/client-debug-view/src/index.ts
  packages/tools/client-debug-view/src/packageVersion.ts
  packages/tools/client-debug-view/src/test/ClientUtilities.ts
  packages/tools/client-debug-view/src/test/CounterWidget.test.tsx
  packages/tools/client-debug-view/src/test/app/App.tsx
  packages/tools/client-debug-view/src/test/app/index.html
  packages/tools/client-debug-view/src/test/app/index.tsx
  packages/tools/client-debug-view/src/test/index.ts
  packages/tools/client-debug-view/tsconfig.json
  packages/tools/client-debug-view/webpack.config.js
  packages/tools/client-debug-view/webpack.dev.js
  packages/tools/client-debug-view/webpack.prod.js
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: framework, dependencies, area: tests, public api change

#12755 fix(bump): Fix detection of version scheme for internal/dev builds
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/src/test/schemes.test.ts
Labels: base: main

#12758 fix(bump): Fix detection of version scheme for test builds
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/version-tools/src/test/schemes.test.ts
Labels: base: main

#12753 Fix fluid-runner exports
  packages/tools/fluid-runner/bin/fluid-runner
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
  packages/tools/fluid-runner/src/test/utils.spec.ts
Labels: base: main

#12650 Catch and report op reentry
  api-report/telemetry-utils.api.md
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.ts
Labels: area: runtime, public api change, base: next, msftbot: merge-next

#12764 Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#12434 Make existing flag required for instantiateRuntime
  BREAKING.md
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  api-report/runtime-utils.api.md
  api-report/test-utils.api.md
  examples/utils/example-utils/src/modelLoader/modelContainerRuntimeFactory.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/runtime-utils/src/runtimeFactoryHelper.ts
  packages/runtime/runtime-utils/src/test/runtimeFactoryHelper.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
Labels: area: examples, area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next, main-next-integrate

#12748 feat(build-cli): Add autocomplete support for bash and zsh
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: base: main

#12668 Tombstoned datastores 404 with tombstone info
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
Labels: area: runtime, area: tests, base: main

#12762 Port fluid-runner exports fix internal 1.4
  packages/tools/fluid-runner/bin/fluid-runner
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
  packages/tools/fluid-runner/src/test/utils.spec.ts
Labels: base: release

#12771 [Port PR #12764 to release/1.3] Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: release

#12765 [Port PR #12764 to v2int/1.4] Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: release

#12766 [Port PR #12764 to v2int/2.0] Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: release

#12768 [Port PR #12764 to lts] Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#12772 [Port PR #12764 to release/azure/1.1] Force e2e test that target real service run one at a time
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: release

#12714 Tree: improve and test cursor fork
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
Labels: area: dds, base: main

#12763 Port fluid-runner exports fix internal 2.0
  packages/tools/fluid-runner/bin/fluid-runner
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
  packages/tools/fluid-runner/src/test/utils.spec.ts
Labels: base: release

#12730 Tree: refactoring of the EditableTree
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, community-contribution, public api change, base: main

#12769 Signal tests for gc tombstone
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
Labels: area: tests, base: main

#12688 Additional changes to fluid-runner around JSON to CSV flow
  packages/tools/fluid-runner/README.md
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/test/loggerUtils.spec.ts
Labels: base: main

#12749 Fix perf tests pipeline execution - port to release/v2int/2.0
  experimental/dds/tree/package.json
  packages/dds/map/src/test/memory/.mocharc.js
  packages/dds/matrix/src/test/memory/.mocharc.js
  packages/dds/sequence/src/test/memory/.mocharc.js
  packages/dds/tree/package.json
Labels: area: dds, base: release

#12774 Implement and test AttributionCollection
  api-report/merge-tree.api.md
  experimental/dds/sequence-deprecated/package.json
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  lerna-package-lock.json
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/attributionCollection.spec.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sharedSequence.ts
Labels: area: dds, dependencies, area: dds: sharedstring, public api change, base: main

#12779 1.4: send null in no-ops instead of undefined
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader, base: release

#12792 GC: Log stack for SweepReadyObject_Loaded
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, base: release

#12744 Replace PublishBuildArtifacts@1 tasks with PublishPipelineArtifact@1 …
  tools/pipelines/build-docs.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-copy-chart.yml
  tools/pipelines/templates/upload-json-steps.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#12800 Fix some parameter values for the new task
  tools/pipelines/build-docs.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#12797 Add additional close logic for fluid-runner
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
Labels: base: release

#12795 Add additional close logic for fluid-runner
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
Labels: base: main

#12796 Add additional close logic for fluid-runner
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
Labels: base: release

#12793 Adding metrics to track inner steps of CreateDocument and ConnectDocument
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server, base: main

#12801 Tree: Support edits prior to attach summarization
  api-report/tree.api.md
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, base: main

#12752 Tree: Initial implementation of change mark lineage
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/rebase/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/util/stackyIterator.ts
Labels: area: dds, public api change, base: main

#12781 Update deps (minor) on build-common in the server release group
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#12782 Update deps (minor) on build-common in the azure release group
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/package.json
  azure/packages/azure-client/package.json
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  azure/prettier.config.cjs
Labels: base: main

#12785 Tree: simple editing of EditableTree
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, community-contribution, public api change, base: main

#12794 chore(build-tools): Update changelog and release notes for build-tools release
  build-tools/CHANGELOG.md
  build-tools/RELEASE_NOTES.md
Labels: base: main

#12603 Force write mode by default for TinyliciousClient
  api-report/test-runtime-utils.api.md
  api-report/tinylicious-client.api.md
  packages/drivers/tinylicious-driver/src/insecureTinyliciousTokenProvider.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  packages/runtime/test-runtime-utils/src/insecureTokenProvider.ts
Labels: area: framework, area: runtime, area: driver, public api change, base: main

#12808 Convert all remaining usage of getTinyliciousContainer to use model loading
  examples/apps/collaborative-textarea/src/container.ts
  examples/apps/data-object-grid/package.json
  examples/apps/data-object-grid/src/container.ts
  examples/apps/view-framework-sampler/package.json
  examples/apps/view-framework-sampler/src/app.ts
  examples/apps/view-framework-sampler/src/containerCode.ts
  examples/apps/view-framework-sampler/tests/index.ts
  examples/data-objects/task-selection/package.json
  examples/data-objects/task-selection/src/app.ts
  examples/data-objects/task-selection/src/containerCode.ts
  examples/data-objects/task-selection/tests/index.ts
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/container-views/src/app.ts
  examples/hosts/app-integration/container-views/src/containerCode.ts
  examples/hosts/app-integration/container-views/webpack.config.js
  examples/hosts/app-integration/external-views/package.json
  examples/hosts/app-integration/external-views/src/app.ts
  examples/hosts/app-integration/external-views/src/containerCode.ts
  examples/hosts/app-integration/external-views/tests/index.ts
  examples/utils/example-utils/src/modelLoader/interfaces.ts
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/partial-checkout/src/app.tsx
  experimental/PropertyDDS/examples/partial-checkout/src/containerCode.ts
  experimental/PropertyDDS/examples/partial-checkout/tests/index.ts
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/examples/property-inspector/src/app.tsx
  experimental/PropertyDDS/examples/property-inspector/src/containerCode.ts
  experimental/PropertyDDS/examples/property-inspector/tests/index.html
  experimental/PropertyDDS/examples/property-inspector/tests/index.ts
  experimental/PropertyDDS/examples/property-inspector/tests/property_inspector.test.ts
Labels: area: examples, area: dds: propertydds, base: main

#12814 Cherry picked Force write mode by default for TinyliciousClient from main to LTS branch [main->Lts] (#12603)
  api-report/test-runtime-utils.api.md
  api-report/tinylicious-client.api.md
  packages/drivers/tinylicious-driver/src/insecureTinyliciousTokenProvider.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/interfaces.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
  packages/runtime/test-runtime-utils/src/insecureTokenProvider.ts
Labels: area: framework, area: runtime, area: driver, public api change

#12817 GC: Log stack for SweepReadyObject_Loaded (#12792)
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#12816 v2int/2.0: send null in no-ops instead of undefined
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader

#12819 Tree: better dummy implementation of inverse of optional field
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds

#12811 Run npm i
  lerna-package-lock.json
  package-lock.json
  tools/getkeys/package-lock.json
Labels: dependencies

#12807 Routerlicious doc service telemetry
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
Labels: area: driver, base: main

#12787 Tests for LocalDetachedDataStoreContext
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
Labels: area: runtime, base: main

#12790 LTS: fix undefined message contents bug
  packages/runtime/container-runtime/src/opTelemetry.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#12622 Force write mode by default for AzureClient
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#12818 Update deps (minor) on build-common in the build-tools release group
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/prettier.config.cjs
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/prettier.config.cjs
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/prettier.config.cjs
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/prettier.config.cjs
  build-tools/prettier.config.cjs
Labels: base: main

#12224 Deprecate existing flag in runtime
  BREAKING.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/runtime.ts
Labels: breaking change, public api change, base: main

#12827 [bump] build-tools: 0.5.0 => 0.6.0 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#12592 Simplify batching logic in PendingStateManager
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#12159 Batch compression
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opCompressor.ts
  packages/runtime/container-runtime/src/opDecompressor.ts
  packages/runtime/container-runtime/src/test/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: next, msftbot: merge-next

#12829 update package lock for 2.0.0-internal.2.0.2
  lerna-package-lock.json
Labels: dependencies, base: main

#12810 Tree: add node index to EditableTree
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
Labels: area: dds, community-contribution, public api change, base: main

#12832 Update package lock file for azure-client
  azure/lerna-package-lock.json
Labels: base: main

#12831 Validate minIdleTime is not greater than maxIdleTime
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#12828 Clear the snapshot fetch timer once the snapshot is fetched/failed
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#12843 Fix escaping of path variable in DDS stress pipeline
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
Labels: area: build, base: main

#12798 Tree: Use lineage to correctly handle sandwich rebasing of inserts
  api-report/tree.api.md
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/rebase/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, base: main

#12848 Disable import/no-nodejs-modules for test files
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#12846 Handle the treesLatestDeferral in epoch tracker
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#12852 Fix compression path for attachBlob ops
  packages/runtime/container-runtime/src/opDecompressor.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: tests, base: next, msftbot: merge-next

#12847 Update deps (minor) on client release group in the azure release group
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#12839 Remove extraDependencies parameter
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build, base: main

#12854 Add arguments in getVersions call in retrystorage adapter
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
Labels: area: driver, area: odsp-driver, base: main

#12862 Tree: Enable rebase tests which were fixed by lineage
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, base: main

#12859 Track audience change history and show it (#1956)
  lerna-package-lock.json
  packages/tools/client-debug-view/src/components/AudienceView.tsx
  packages/tools/client-debug-view/src/components/ClientDebugView.tsx
Labels: dependencies

#12635 Add @fluidframework/attributor package
  api-report/attributor.api.md
  lerna-package-lock.json
  packages/framework/attributor/.eslintrc.js
  packages/framework/attributor/.gitignore
  packages/framework/attributor/.mocharc.js
  packages/framework/attributor/.npmignore
  packages/framework/attributor/LICENSE
  packages/framework/attributor/README.md
  packages/framework/attributor/api-extractor.json
  packages/framework/attributor/package.json
  packages/framework/attributor/src/index.ts
  packages/framework/attributor/src/test/attributor.spec.ts
  packages/framework/attributor/src/test/tsconfig.json
  packages/framework/attributor/tsconfig.esnext.json
  packages/framework/attributor/tsconfig.json
Labels: area: framework, dependencies, public api change, base: main

#12824 setLongTimeout should not call setTimeout with negative numbers
  common/lib/common-utils/src/test/mocha/timer.spec.ts
  common/lib/common-utils/src/timer.ts
Labels: base: main

#12750 Untombstone datastore when referenced
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
Labels: area: runtime, area: tests, base: main

#12719 Add a new pipeline to test stability of CI build client
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/test-stability.yml
Labels: area: build, base: main

#12870 Ensure error is not undefined when raising "disconnected" event
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: release

#12860 Adding GitRest metrics (part 1)
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server, base: main

#12867 Validate we never have empty clientId in quorum
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server, base: main

#12865 Some telemetry cleanup
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver, base: main

#12788 Address CVE-2021-23358 in `underscore` by removing `jsonlint` which depends on it
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/PropertyDDS/services/property-query-service/src/server/utils/settings.js
  lerna-package-lock.json
Labels: dependencies, area: dds: propertydds, base: main

#12857 FRS specific stress config
  packages/test/test-service-load/package.json
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#12866 Improve our ability to track perf of various stages of TreesLatest
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#12775 Allow in memory history size to be configured on legacy SharedTree
  api-report/experimental-tree.api.md
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/EditLog.ts
  experimental/dds/tree/src/LogViewer.ts
  experimental/dds/tree/src/RevisionValueCache.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/Checkout.tests.ts
  experimental/dds/tree/src/test/EditLog.tests.ts
  experimental/dds/tree/src/test/LogViewer.tests.ts
  experimental/dds/tree/src/test/MergeHealthTelemetryHeartbeat.tests.ts
  experimental/dds/tree/src/test/RevisionValueCache.tests.ts
  experimental/dds/tree/src/test/Summary.tests.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/utilities/PendingLocalStateTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/SummarySizeTests.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
Labels: area: dds, public api change, base: main

#12883 R11s: Upgrading dependencies
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#12886 Fix related to test stability pipeline
  tools/pipelines/templates/include-test-stability.yml
Labels: area: build, base: main

#12877 GC: Log stack for SweepReadyObject_Loaded
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, base: main

#12888 Remove tsfmt from @fluid-internal/attributor
  packages/framework/attributor/package.json
Labels: area: framework, base: main

#12872 Add prototype debugger object library
  api-report/fluid-static.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.ts
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/test/types/validateTinyliciousClientPrevious.ts
  packages/tools/client-debug-view/api-report/client-debug-view.api.md
  packages/tools/client-debug-view/package.json
  packages/tools/client-debug-view/src/Audience.ts
  packages/tools/client-debug-view/src/CommonProps.ts
  packages/tools/client-debug-view/src/Debugger.tsx
  packages/tools/client-debug-view/src/ReactHooks.tsx
  packages/tools/client-debug-view/src/Utilities.ts
  packages/tools/client-debug-view/src/components/AudienceView.tsx
  packages/tools/client-debug-view/src/components/ClientDebugView.tsx
  packages/tools/client-debug-view/src/components/ContainerDataView.tsx
  packages/tools/client-debug-view/src/components/ContainerStateView.tsx
  packages/tools/client-debug-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debug-view/src/components/DataObjectsView.tsx
  packages/tools/client-debug-view/src/components/OpsStreamView.tsx
  packages/tools/client-debug-view/src/components/client-data-views/AudienceMemberView.tsx
  packages/tools/client-debug-view/src/components/client-data-views/OpView.tsx
  packages/tools/client-debug-view/src/components/data-object-views/DynamicDataView.tsx
  packages/tools/client-debug-view/src/index.ts
  packages/tools/client-debug-view/src/test/ClientUtilities.ts
  packages/tools/client-debug-view/src/test/app/App.tsx
  packages/tools/client-debugger/.mocharc.js
  packages/tools/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/package.json
  packages/tools/client-debugger/src/Audience.ts
  packages/tools/client-debugger/src/ClientDebugger.ts
  packages/tools/client-debugger/src/FluidClientDebugger.ts
  packages/tools/client-debugger/src/IFluidClientDebugger.ts
  packages/tools/client-debugger/src/Logs.ts
  packages/tools/client-debugger/src/Registry.ts
  packages/tools/client-debugger/src/index.ts
  packages/tools/client-debugger/src/test/ClientDebugger.test.ts
  packages/tools/client-debugger/tsconfig.json
Labels: area: framework, public api change

#12844 [port to lts] Routerlicious doc service telemetry (#12807)
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
Labels: area: driver

#12893 [Test PR] - Do not review
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server

#12884 Tree: Update reattach mark format
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, public api change, base: main

#12890 Remove MergeTree.getStats
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/text.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: dds, area: dds: sharedstring, base: main

#12874 feat(fluid-build): Enable fluid-build to use pnpm and yarn
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/prettier.config.cjs
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/prettier.config.cjs
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/symlinkUtils.ts
  build-tools/packages/bundle-size-tools/prettier.config.cjs
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/prettier.config.cjs
Labels: base: main

#12900 Rename back networkTime property on "TreesLatest" events
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#11887 Expose handle in `FluidDataStoreRuntime`
  BREAKING.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  api-report/test-utils.api.md
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
  packages/runtime/datastore/src/test/localChannelContext.spec.ts
  packages/runtime/datastore/src/test/remoteChannelContext.spec.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: framework, area: runtime, breaking change, area: tests, public api change, base: main

#12895 Gitrest & Historian: Upgrade dependencies
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/.eslintrc.js
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/externalStorageManager.ts
  server/gitrest/packages/gitrest-base/src/logger.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitConversions.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/.eslintrc.js
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/.eslintrc.js
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/logger.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/services/definitions.ts
  server/historian/packages/historian-base/src/services/redisTenantCache.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian/.eslintrc.js
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#12899 Update deps (minor) on client release group in the azure release group
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#12894 [release/1.3] Whiteboard undo redo bug
  experimental/dds/tree/src/HistoryEditFactory.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/HistoryEditFactory.tests.ts
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, public api change, base: main

#12627 Removed unnecessary export IGarbageCollectionRuntime
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
Labels: area: runtime, public api change, base: main

#12861 GC: Add SweepReady objects into the GC tree in summary
  api-report/container-runtime.api.md
  api-report/test-utils.api.md
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: runtime, area: tests, public api change, base: main

#12835 Remove uses of any now that document message changes have propagated
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/test-utils/src/messageFactory.ts
Labels: area: server, base: main

#12915 Update client lockfile
  lerna-package-lock.json
Labels: dependencies, base: main

#12887 Tree: Separate Checkout interface from transaction code
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/transaction/README.md
  packages/dds/tree/src/transaction/index.ts
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, base: main

#12903 Time we report in SnapshotParse event is wrong, as it includes network time
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#12914 Tag asserts
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: framework, area: server, area: runtime, area: dds, area: dds: sharedstring, base: main

#12906 Replaced 'Using Fluid with Teams' content with link to Microsoft Learn Doc
  docs/content/docs/recipes/teams.md
Labels: documentation, base: main

#12858 Make delta connection flow robust in odsp driver
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver, base: main

#12164 Simplified model for Audience; Leverage join signal's referenceSequenceNumber for catch up logic
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#12051 Some doc improvements
  azure/packages/external-controller/src/app.ts
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/README.md
Labels: area: loader, base: main

#12882 Run `npm run layer-check -- --md`
  PACKAGES.md
Labels: base: main

#12833 Port batch compression from next to main
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opCompressor.ts
  packages/runtime/container-runtime/src/opDecompressor.ts
  packages/runtime/container-runtime/src/test/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: main

#12930 Bump version in lock file for new package publish
  lerna-package-lock.json
Labels: dependencies, base: main

#12840 Use build agent's cert store when running e2e tests
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#12925 Only save sequence number to index mapping when edit eviction is enabled on legacy SharedTree
  experimental/dds/tree/src/EditLog.ts
  experimental/dds/tree/src/test/EditLog.perf.tests.ts
Labels: area: dds, base: main

#12932 add prettier to azure
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-local-service/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#12908 GitRest Metrics Part 2 - RepoManager metrics
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server, base: main

#12935 Tree: allow cloning forests
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/forest/snapshot.ts
  packages/dds/tree/src/tree/types.ts
Labels: area: dds, public api change, base: main

#12931 ci: Update version of label actions in GitHub workflow
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main

#12916 Mark data stores as tombstones from the tombstone information in GC summary tree
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#12922 build: Require at least node >=14.13.0 and npm ^6
  .npmrc
  azure/package.json
  build-tools/packages/build-tools/package.json
  package.json
  server/routerlicious/package.json
Labels: area: server, base: main

#12943 Tree: Remove Tomb marks
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, public api change, base: main

#11760 Add SharedString Attribution design doc
  packages/dds/merge-tree/docs/Attribution.md
Labels: area: dds, base: main

#12778 Performance pipeline using artifacts built by previous pipelines
  experimental/dds/tree/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/memory/.mocharc.js
  packages/dds/tree/package.json
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: dds, area: build, area: dds: sharedstring, base: main

#12917 Tree: Repair data in transactions
  api-report/tree.api.md
  packages/dds/tree/src/change-family/changeFamily.ts
  packages/dds/tree/src/change-family/fence.json
  packages/dds/tree/src/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/core/fence.json
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/fakeRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fence.json
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/repair/README.md
  packages/dds/tree/src/repair/fence.json
  packages/dds/tree/src/repair/index.ts
  packages/dds/tree/src/repair/repairDataStore.ts
  packages/dds/tree/src/test/feature-libraries/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/forestRepairDataStore.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/pathTree.ts
  packages/dds/tree/src/tree/sparseTree.ts
Labels: area: dds, public api change, base: main

#12948 Update FAQ for conflict resolution
  docs/content/docs/faq.md
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/vue.md
  docs/content/docs/recipes/web-components.md
  docs/content/docs/start/examples.md
  docs/content/docs/start/tutorial.md
Labels: documentation, base: main

#12951 Unpack test files from `dist/test` instead of simply `test/` when unpacking test files for test pipelines
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#12949 Tree: remove partially implement forest observation tracking APIs
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/forest.ts
Labels: area: dds, public api change, base: main

#12952 Mark internal tree package as publishable
  packages/dds/tree/package.json
Labels: area: dds, base: main

#12955 Update azure client package to follow new unpack pattern for test pipeline runs
  azure/packages/azure-client/package.json
Labels: base: main

#12940 Add prettier to server
  server/gitrest/lerna-package-lock.json
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/.eslintrc.js
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/.eslintrc.js
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/.eslintrc.js
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/.eslintrc.js
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/.eslintrc.js
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/.eslintrc.js
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/.eslintrc.js
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/.eslintrc.js
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/.eslintrc.js
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/.eslintrc.js
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/.eslintrc.js
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/.eslintrc.js
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/.eslintrc.js
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/.eslintrc.js
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/.eslintrc.js
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/.eslintrc.js
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/.eslintrc.js
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/.eslintrc.js
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/.eslintrc.js
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/.eslintrc.js
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/.eslintrc.js
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/.eslintrc.js
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/.eslintrc.js
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#12962 Use dev feed
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#12273 Local Rollback for Cell
  api-report/cell.api.md
  packages/dds/cell/src/cell.ts
  packages/dds/cell/src/interfaces.ts
  packages/dds/cell/src/test/cell.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
Labels: area: dds, area: tests, public api change, base: main

#12958 Fail fast when encountering errors in pipelines
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#12968 Deprecating ISummaryBaseConfiguration.summarizerClientElection
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, breaking change, public api change, base: main

#12966 --use-openssl-ca only for r11s tests
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#12837 Add facade level retry
  server/BREAKING.md
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-utils/src/deleteSummarizedOps.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/IMongoExceptionRetryRule.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/defaultExceptionRule.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/index.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoError/index.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoErrorRetryAnalyzer.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoNetworkError/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#12850 refactor(release:report): Split release report commands
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/lib/dates.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/lib/release.ts
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
  build-tools/packages/version-tools/README.md
Labels: base: main

#12974 Re-add postpack script
  packages/dds/tree/package.json
Labels: area: dds, base: next, msftbot: merge-next

#12934 Add gc tombstone telemetry
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstone.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#12849 feat(generate:typetests)!: Make type tests configurable per-branch
  azure/package.json
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/typetestDetails.md
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/test/lib/package.test.ts
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/tags.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
  build-tools/packages/build-tools/src/typeValidator/repoValidator.ts
  build-tools/packages/build-tools/src/typeValidator/typeValidator.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/src/test/semver.test.ts
  common/lib/common-definitions/package.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package.json
  package.json
Labels: public api change, base: main

#12959 Batch validation when using getPendingLocalState()
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
Labels: area: runtime, area: tests, base: next, msftbot: merge-next

#12978 [next] Another postpack fix
  experimental/dds/tree/package.json
Labels: area: dds, base: next, msftbot: merge-next

#12979 fix(build-tools): Add missing dependency
  build-tools/packages/build-tools/package.json
Labels: base: main

#12983 [next] Final postpack fix
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring, base: next, msftbot: merge-next
