Repository microsoft/FluidFramework, pull requests merged in 2022-12, with the labels that each got.

#13107 Refactored GC tests that were taking long time due to mulitple summarizations and container loads
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
Labels: area: tests, base: main

#13137 [bump] common-utils: 0.32.1 => 0.32.2 (patch)
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/packageVersion.ts
Labels: base: release

#13152 Log error to figure out why we are getting undefined
  build-tools/packages/bundle-size-tools/src/ADO/AdoSizeComparator.ts
Labels: base: main

#13145 fix(build-tools): Use local policy-check in build-tools
  build-tools/package.json
Labels: base: main

#13160 Revert "[TaskManager] Cleanup TODOs (#13014)"
  api-report/task-manager.api.md
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, public api change

#13141 [bump] server: 0.1036.5000 => 0.1036.5001 (patch)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: release

#13158 Revert "[TaskManager] Cleanup TODOs (#13014)"
  api-report/task-manager.api.md
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, public api change, base: main

#13132 Add React-agnostic component entrypoint
  lerna-package-lock.json
  package-lock.json
  packages/tools/client-debug-view/src/Debugger.tsx
  packages/tools/client-debug-view/src/RenderClientDebugger.ts
  packages/tools/client-debug-view/src/components/ClientDebugView.tsx
  packages/tools/client-debug-view/src/components/ContainerDataView.tsx
  packages/tools/client-debug-view/src/index.ts
  packages/tools/client-debug-view/src/test/app/App.tsx
  packages/tools/client-debugger-chrome-extension/src/DebuggerView.tsx
  packages/tools/client-debugger-chrome-extension/src/OpenDebuggerPanel.ts
  packages/tools/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/src/FluidClientDebugger.ts
  packages/tools/client-debugger/src/IFluidClientDebugger.ts
Labels: dependencies, public api change

#13153 Tree: Remove OpId field from non-move marks
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/randomChangeGenerator.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, public api change, base: main

#13169 [TaskManager] Cleanup TODOs
  api-report/task-manager.api.md
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, public api change, base: main

#12853 Ensure kafka producer message size errors are thrown consistently
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
Labels: area: server, base: main

#13151 Update winston and async in Server
  server/gitrest/package-lock.json
Labels: area: server, base: main

#13174 [GC-stress] Added trigger to build client pipeline when a PR is merged
  tools/pipelines/build-client.yml
Labels: area: build

#13154 fix(run:bundleStats): Take path to dangerfile instead of directory
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
Labels: base: main

#13175 [GC-stress] Revert package lock changes which might be causing some test issues
  lerna-package-lock.json
  package-lock.json
Labels: dependencies

#13144 Fix rdkafka consumer hanging when disconnecting
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
Labels: area: server, base: main

#13166 Listen for the ExternalDataChanged signal and act on it from the TaskList in ExternalData example app
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/modelInterfaces.ts
Labels: area: examples, base: main

#13181 Listen for the ExternalDataChanged signal and act on it from the Task…
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/modelInterfaces.ts
Labels: area: examples

#13177 Adds file version to snapshot key entry (#13127)
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#13167 [1036.5000] Update deps (patch) on common-utils in the server release group
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: release

#13178 Adds file version to snapshot key entry (#13127)
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#13186 Test/skipreport
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build

#13188 build: Update dependencies on `tinylicious`
  azure/lerna-package-lock.json
  azure/packages/azure-local-service/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  examples/hosts/app-integration/external-data/package.json
  lerna-package-lock.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
Labels: area: examples, area: framework, dependencies, area: tests, base: main

#13207 Tree: recommend test runner extension
  packages/dds/tree/.vscode/extensions.json
Labels: base: main

#13212 Tree: fix mocha test explorer configuration
  packages/dds/tree/.mocharc.js
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/package.json
Labels: area: dds, base: main

#13206 Tree: fix typos in benchmark comment
  packages/dds/tree/src/test/domains/json/benchmarks.ts
Labels: area: dds, base: main

#13213 Revert "build: Update dependencies on `tinylicious`"
  azure/lerna-package-lock.json
  azure/packages/azure-local-service/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  examples/hosts/app-integration/external-data/package.json
  lerna-package-lock.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
Labels: area: examples, area: framework, dependencies, area: tests, base: main

#13209 build: Update dependencies on `eslint-config-fluid` in misc. packages
  common/lib/common-definitions/package.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#13214 [GC-stress] Cleanup of tech debt and enable logger config in include-test-real-service.xml
  packages/test/test-service-load/src/gcDataStores.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, area: tests

#13218 [bump] eslint-config-fluid: 1.2.1 => 2.0.0 (major)
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
Labels: base: main

#13216 Update summarizeOnDemand parameter in TestTreeProvider to allow disabling of summaries
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/summaryBenchmarkSizes.ts
  packages/dds/tree/src/test/util/testTreeProvider.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, base: main

#13210 Tree: Support allocation of changeset-scoped unique IDs in ModularChangeFamily
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeEncoding.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, public api change, base: main

#13219 refactor(eslint-config): Update package to make `recommended` config the default export
  common/build/eslint-config-fluid/README.md
  common/build/eslint-config-fluid/index.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#13217 build: Pin dependencies on `tinylicious` to prevent semver-incomplient server dep updates
  azure/packages/azure-local-service/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  examples/hosts/app-integration/external-data/package.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
Labels: area: examples, area: framework, area: tests, base: main

#13120 [GC Stress Test] - WIP - Generate test output XML for GC Stress Test
  lerna-package-lock.json
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, dependencies, area: tests

#13233 Test/skipreport
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build

#13205 Update SharedTree storage document
  packages/dds/tree/docs/storage/treeStorage.md
Labels: area: dds, base: main

#13134 feat(eslint-config): Update constructor access modifier eslint rule to require explicit modifiers
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureFunctionTokenProvider.ts
  azure/packages/azure-client/src/AzureUrlResolver.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-service-utils/.eslintrc.js
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/strict.js
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/src/externalData.ts
  examples/hosts/app-integration/external-data/src/model/appModel.ts
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  packages/dds/quorum/.eslintrc.js
  packages/dds/quorum/src/quorum.ts
  tools/api-markdown-documenter/.eslintrc.js
  tools/api-markdown-documenter/src/MarkdownEmitter.ts
  tools/api-markdown-documenter/src/doc-nodes/DocAlert.ts
  tools/api-markdown-documenter/src/doc-nodes/DocHeading.ts
  tools/api-markdown-documenter/src/doc-nodes/DocList.ts
Labels: area: examples, area: dds, base: main

#13191 tools: Fix `directory` path in package.json
  tools/api-markdown-documenter/package.json
Labels: base: main

#13223 tools: Fix eslint config in `external-data` example
  examples/hosts/app-integration/external-data/.eslintrc.js
Labels: base: main

#13236 Test/skipreport
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureFunctionTokenProvider.ts
  azure/packages/azure-client/src/AzureUrlResolver.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-service-utils/.eslintrc.js
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/strict.js
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/src/externalData.ts
  examples/hosts/app-integration/external-data/src/model/appModel.ts
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  packages/dds/quorum/.eslintrc.js
  packages/dds/quorum/src/quorum.ts
  packages/dds/tree/docs/storage/treeStorage.md
  tools/api-markdown-documenter/.eslintrc.js
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/MarkdownEmitter.ts
  tools/api-markdown-documenter/src/doc-nodes/DocAlert.ts
  tools/api-markdown-documenter/src/doc-nodes/DocHeading.ts
  tools/api-markdown-documenter/src/doc-nodes/DocList.ts
  tools/pipelines/templates/build-npm-package.yml
Labels: area: examples, area: dds, area: build

#13238 Test/skipreport
  tools/pipelines/templates/build-npm-package.yml
Labels: area: examples, area: dds, area: build

#13150 [GC Stress] Added attachment blobs to the stress tests
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#12637 Add note to docs that DataObject is not ready for production
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
Labels: documentation, base: main

#13232 Tree: Add comment to ChangesetLocalId
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
Labels: area: dds, public api change, base: main

#13009 Tree: Document revision info in modular change family
  packages/dds/tree/docs/modular-change-family/README.md
Labels: area: dds, base: main

#13243 style: Run prettier
  common/build/build-common/api-extractor-common-report.json
  common/build/build-common/api-extractor-common-strict.json
  common/build/build-common/api-extractor-common.json
  common/build/build-common/gen_version.js
  common/build/build-common/package.json
  common/build/build-common/prettier.config.cjs
  common/build/build-common/ts-common-config.json
Labels: base: main

#11776 Implement rollback farm for mergeTree client
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
Labels: area: dds, base: main

#12938 Some refactoring related to the runtime's outgoing op pipeline
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#13242 Trailing op support for local ODSP driver
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/localOdspDriver.spec.ts
  packages/drivers/odsp-driver/src/test/localSnapshots/localSnapshot2.json
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
Labels: area: driver, area: odsp-driver, base: main

#12902 Tree: fix context and create field issues of EditableTree
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTreeContext.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
Labels: area: dds, community-contribution, public api change, base: main

#13220 Skip failing tests in @expermental/property-query
  experimental/PropertyDDS/packages/property-query/test/unit/branch_write_queue.spec.js
  lerna-package-lock.json
Labels: dependencies, area: dds: propertydds, base: main

#13215 Tree: test cursor paths
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/tree/pathTree.spec.ts
  packages/dds/tree/src/tree/index.ts
  packages/dds/tree/src/tree/pathTree.ts
Labels: area: dds, base: main

#13235 Tree: remove `.mocharc.js` to enable debugging while testing
  packages/dds/tree/src/test/.mocharc.js
Labels: community-contribution, base: main

#13247 Make the debugger panel resizable
  lerna-package-lock.json
  packages/tools/client-debug-view/package.json
  packages/tools/client-debug-view/src/Debugger.tsx
  packages/tools/client-debug-view/src/test/app/index.tsx
Labels: dependencies

#13269 Tree: cleanup launch.json
  packages/dds/tree/.vscode/launch.json
Labels: base: main

#13241 feat: Promote `import/no-nodejs-modules` to an error
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/lib/common-utils/src/performanceNode.ts
  examples/data-objects/webflow/src/view/layout.ts
  packages/dds/test-dds-utils/.eslintrc.js
  packages/drivers/debugger/.eslintrc.js
  packages/drivers/file-driver/.eslintrc.js
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/loader/driver-utils/.eslintrc.js
  packages/test/functional-tests/.eslintrc.js
  packages/test/local-server-tests/.eslintrc.js
  packages/test/snapshots/.eslintrc.js
  packages/test/stochastic-test-utils/.eslintrc.js
  packages/test/test-drivers/.eslintrc.js
  packages/test/test-gc-sweep-tests/.eslintrc.js
  packages/test/test-service-load/.eslintrc.js
  packages/test/test-utils/.eslintrc.js
  packages/test/test-version-utils/.eslintrc.js
  packages/tools/fluid-runner/.eslintrc.js
  packages/tools/replay-tool/.eslintrc.js
  packages/tools/webpack-fluid-loader/.eslintrc.js
  packages/utils/tool-utils/.eslintrc.js
  server/routerlicious/packages/lambdas/.eslintrc.js
Labels: area: examples, area: driver, base: main

#13276 Tree: update readme for branch+index design
  packages/dds/tree/README.md
Labels: area: dds, base: main

#12812 Document that build-tools exists
  README.md
Labels: base: main

#13255 Fixed propertyDDS array setValues performance.
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
Labels: area: dds: propertydds, community-contribution, base: main

#13286 Fix spelling in treeStorage.md
  packages/dds/tree/docs/storage/treeStorage.md
Labels: area: dds, base: main

#12386 [TaskManager] Rename package to @fluidframework/task-manager
  BREAKING.md
  api-report/task-manager.api.md
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/src/index.tsx
  examples/data-objects/task-selection/package.json
  examples/data-objects/task-selection/src/taskManagerDiceRoller.ts
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/migrationTool/migrationTool.ts
  packages/dds/task-manager/README.md
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/packageVersion.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: examples, area: dds, breaking change, area: tests, public api change, base: main

#13277 Prevent incorrect artifact download for Performance Benchmarks pipeline
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#13280 Prevent incorrect artifact download for real-service-based pipelines
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-dds-stress.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#13245 feat: Add require-jsdoc rules to strict eslint config
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/src/AzureUrlResolver.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-service-utils/.eslintrc.js
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/strict.js
Labels: base: main

#13271 Tree: expose `getPrimaryField` and refactor EditableTree implementation & tests
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTreeContext.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
Labels: area: dds, community-contribution, public api change, base: main

#13283 Summarization error: '"undefined" is not valid JSON' - 10k hits in the last 28 days
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime, base: main

#13062 update minimumSequenceNumber
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, base: main

#13297 [TaskManager] Disable Type Tests
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, base: main

#13291 Downgrade SubmitOpInReadonly event
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#13267 Improve error information in snapshot tests
  packages/test/snapshots/src/replayMultipleFiles.ts
  packages/test/snapshots/src/replayWorker.ts
Labels: area: tests, base: main

#13294 Tree: Fix ObjectForest AnchorSet initialization
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, base: main

#13289 update nconf and async in client the release group
  examples/apps/odspsnapshotfetch-perftestapp/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-common/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  experimental/PropertyDDS/packages/property-query/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  lerna-package-lock.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/test/test-version-utils/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: driver, dependencies, area: tests, area: dds: propertydds, base: main

#13266 GC: Tombstone for attachment blob
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/mockDetachedBlobStorage.ts
Labels: area: runtime, area: tests, base: main

#13306 Reduced the total send count by half in CI config.
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#13295 Hook up debug button in external-data example app to trigger custom debug signal
  examples/hosts/app-integration/external-data/src/model/appModel.ts
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/modelInterfaces.ts
  examples/hosts/app-integration/external-data/src/start.ts
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
Labels: area: examples, base: main

#13304 Update fetch-tool documentation
  packages/tools/fetch-tool/README.md
Labels: base: main

#13305 Add one extra data point to help with boot perf investigations
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, base: main

#12736 Scribe checkpoint heuristics
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/deli/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/deli/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/index.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/utils/checkpointHelper.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-core/src/index.ts
Labels: area: server, base: main

#13296 GC: Added tests where unreferenced node adds reference to other unreferenced nodes
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
Labels: area: runtime, area: tests, base: main

#13303 policy checks for 2.2.0; format
  packages/dds/cell/src/cell.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/id-compressor/appendOnlySortedMap.ts
  packages/dds/tree/src/id-compressor/idCompressor.ts
  packages/dds/tree/src/id-compressor/idRange.ts
  packages/dds/tree/src/id-compressor/numericUuid.ts
  packages/dds/tree/src/id-compressor/sessionIdNormalizer.ts
  packages/dds/tree/src/id-compressor/uuidUtilities.ts
  packages/dds/tree/src/tree/sparseTree.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/framework/attributor/src/attributor.ts
  packages/framework/attributor/src/encoders.ts
  packages/loader/container-loader/src/audience.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/opDecompressor.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: odsp-driver, base: main

#13302 Add logging for when the connection mode granted is different than th…
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, base: main

#13288 Change assert of opsCountSinceNoop to if condition
  packages/loader/container-loader/src/collabWindowTracker.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, base: main

#13298 Tree: tidy up Json domain schema
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/domains/json/jsonDomainSchema.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema.ts
  packages/dds/tree/src/feature-libraries/viewSchemaUtil.ts
  packages/dds/tree/src/schema-stored/builders.ts
  packages/dds/tree/src/schema-stored/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/summaryBenchmarkSizes.ts
Labels: area: dds, base: main

#13252 Support for views in IsoBuffer.
  common/lib/common-utils/src/bufferBrowser.ts
  common/lib/common-utils/src/test/jest/buffer.spec.ts
Labels: community-contribution, base: main

#13246 changing .fluid extension to .loadTest
  packages/test/test-drivers/src/odspTestDriver.ts
Labels: area: tests, community-contribution, base: main

#13263 Compressor telemetry
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
Labels: area: dds, base: main

#13321 Mitigate typetests issue by adding fallback to root package.json
  package.json
Labels: base: main

#13279 Add launch.json config for bundle size analysis
  .vscode/launch.json
Labels: area: contributor experience, base: main

#13327 tools(eslint-config): Disable prefer node import
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: base: main

#13273 Some refactoring related to the runtime's incoming op processing pipeline
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
Labels: area: runtime, area: tests, base: main

#12683 docs: Fill in event source-code documentation
  BREAKING.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/loader.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: framework, area: loader, breaking change, public api change, base: main

#12901 Add alternative mechanism for sending ops in load tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, community-contribution, base: main

#13328 GC tests where summarizer loads from an older snapshot
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
Labels: area: tests, base: main

#13330 tools: Don't lint generated packageVersion files
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#13089 Shuagarwal/fix scriptorium telemetry
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scriptorium/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/utils/helpers.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-utils/src/conversion.ts
Labels: area: server, base: main

#13316 GC: Fix for unreferenced timestamp not always reset when reference is added between summaries
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
Labels: area: runtime, area: tests, base: main

#13311 change orderSequentially to return result of callback
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main

#13281 Tree: add initial uniform chunk support with cursor
  packages/dds/tree/src/feature-libraries/chunked-forest/README.md
  packages/dds/tree/src/feature-libraries/chunked-forest/fence.json
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  packages/dds/tree/src/test/tsconfig.json
Labels: area: dds, base: main

#13317 fix(check:policy): fix handling of assert short codes in policy
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-tools/README.md
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/assertShortCode.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/repoPolicyCheck.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, base: main

#13333 Tree: Refactor sequence field rebasing logic
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
Labels: area: dds, base: main

#13343 Tree: Refactor sequence field compose iteration logic into ComposeQueue
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
Labels: area: dds, base: main

#13249 Gitrest: initial write speedup
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/externalStorageManager.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
  server/gitrest/packages/gitrest-base/src/utils/filesystems.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest/config.json
Labels: area: server, base: main

#13301 Corrupted merge tree
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/testClient.ts
Labels: area: dds, base: main

#13347 Increase timeout for test which needs to install packages
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
Labels: area: tests, base: main

#13308 build: Bump deps on `@fluidframework/eslint-config-fluid` to `2.0.0` in azure packages
  azure/lerna-package-lock.json
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/.eslintrc.js
  azure/packages/azure-service-utils/package.json
  azure/packages/external-controller/.eslintrc.js
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  azure/packages/test/end-to-end-tests/src/test/ddsTests.spec.ts
  azure/packages/test/scenario-runner/.eslintrc.js
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#13348 build: Bump deps on `@fluidframework/eslint-config-fluid` to `2.0.0` in independently-published packages
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/.eslintrc.js
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  tools/api-markdown-documenter/package-lock.json
  tools/api-markdown-documenter/package.json
  tools/benchmark/.eslintrc.js
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
  tools/getkeys/package-lock.json
  tools/getkeys/package.json
  tools/telemetry-generator/.eslintrc.js
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/test-tools/package-lock.json
  tools/test-tools/package.json
Labels: base: main

#13345 Add label 'area: dds: tree' to shared tree PRs
  .github/actions-labeler.yml
Labels: area: build, base: main

#13357 Fix faultInjection config specification
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#13360 odsp-driver: fix bug resource_name.localeCompare is not a function
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#13363 remove maxBatchWaitTime event
  packages/runtime/container-runtime/src/scheduleManager.ts
Labels: area: runtime, base: main

#13362 Send telemetry on failed-to-apply changes in experimental SharedTree
  api-report/experimental-tree.api.md
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/TransactionInternal.ts
  experimental/dds/tree/src/test/Checkout.tests.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13364 Pending upload blobs tracking (v2)
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
Labels: area: runtime, base: main

#13292 Tree: create fields/nodes of the EditableTree using simple assignments
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#13354 r11s-driver: properly reset discovery refresh flags (#12993)
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver

#13335 (pipelines) Only trigger test-azure-frs in response to other pipelines
  tools/pipelines/build-azure.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build, base: main

#13371 Tree: Interleaving tests
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13377 another try to cat
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build

#13332 Add Regression Test for Reported Undo/Redo Regression
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/revertibles.spec.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#13380 Fix json syntax in ConfigMap
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
Labels: area: server, base: main

#13351 GC: Add gc aliased datastore tests
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
Labels: area: tests, base: main

#13353 Downgrade inactive object x telemetry to generic from error
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/tools/replay-tool/src/replayMessages.ts
Labels: area: runtime, area: tests, base: main

#13369 Write external data to savedData and update draftData
  examples/hosts/app-integration/external-data/src/model/taskList.ts
Labels: area: examples, base: main

#12634 Support content attribution on merge-tree
  api-report/attributor.api.md
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/snapshotChunks.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/attributionCollection.spec.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/attribution/documents/README.md
  packages/dds/sequence/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/no-attribution-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/operations.json
  packages/dds/sequence/src/test/attribution/documents/default/prop-attribution-snap.json
  packages/dds/sequence/src/test/attribution/sharedString.attribution.spec.ts
  packages/framework/attributor/src/attributor.ts
  packages/framework/attributor/src/index.ts
  packages/framework/attributor/src/test/opStreamAttributor.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#13072 Add Policy Check Handler to check if packages contain prettier
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#13349 Upgrading express in server
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
Labels: area: server, base: main

#13074 Start of e2e perf tests
  packages/test/test-end-to-end-tests/.gitignore
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.js
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
  packages/test/test-end-to-end-tests/src/test/benchmark/container.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/counter.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/tsconfig.json
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, area: tests, base: main

#13405 fix(pipelines) Fix bash script condition syntax
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#13319 Implement ContainerRuntime attribution mixin
  api-report/attributor.api.md
  packages/dds/sequence/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/dds/sequence/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/framework/attributor/package.json
  packages/framework/attributor/src/attributor.ts
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/src/index.ts
  packages/framework/attributor/src/lz4Encoder.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/test/attributorSerializer.spec.ts
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#13403 Fix minor bugs regarding mongo retry rule
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoError/index.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoNetworkError/index.ts
Labels: area: server, base: main

#13407 Move sharedstring attribution tests
  api-report/attributor.api.md
  packages/dds/sequence/package.json
  packages/framework/attributor/.eslintrc.js
  packages/framework/attributor/package.json
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/src/index.ts
  packages/framework/attributor/src/test/attribution/documents/README.md
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/no-attribution-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/operations.json
  packages/framework/attributor/src/test/attribution/documents/default/prop-attribution-snap.json
  packages/framework/attributor/src/test/attribution/sharedString.attribution.spec.ts
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#13115 Reduce number of token fetches during driver initialization
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver, base: main

#13395 Update scribe logs
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
Labels: area: server, base: main

#13410 Publish tinylicious logs in more pipelines
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#13404 Tree: Remove modify flavors of sequence field marks
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13414 Exclude skipped tests from test summary
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#13326 Refactor the rebase position API
  api-report/merge-tree.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.rebasePosition.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next, msftbot: merge-next

#13063 Explore creating a signal to containers that an external data source has changed
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: examples, area: server, area: runtime, area: loader, public api change, base: main

#13417 r11s-driver: properly reset discovery refresh flags (#12993)
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver, base: release

#13401 Fix rollback farm with empty property comparison
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#11829 Idle callback api
  common/lib/common-utils/src/idleTaskScheduler.ts
  common/lib/common-utils/src/test/mocha/idleTaskScheduler.spec.ts
Labels: base: main

#13382 Removed unrefTimestamp from IGarbageCollectionDetailsBase
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: runtime, public api change, base: main

#13415 feat: Update external-data prototype app to use mock service for external data management
  examples/hosts/app-integration/external-data/.npmignore
  examples/hosts/app-integration/external-data/jest-puppeteer.config.js
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/external-data/src/mock-service-interface/constants.ts
  examples/hosts/app-integration/external-data/src/mock-service-interface/dataParsing.ts
  examples/hosts/app-integration/external-data/src/mock-service-interface/fence.json
  examples/hosts/app-integration/external-data/src/mock-service-interface/index.ts
  examples/hosts/app-integration/external-data/src/mock-service/externalData.ts
  examples/hosts/app-integration/external-data/src/mock-service/fence.json
  examples/hosts/app-integration/external-data/src/mock-service/index.ts
  examples/hosts/app-integration/external-data/src/mock-service/service.ts
  examples/hosts/app-integration/external-data/src/mock-service/start.ts
  examples/hosts/app-integration/external-data/src/mock-service/webhook.ts
  examples/hosts/app-integration/external-data/src/model-interface/fence.json
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/model/appModel.ts
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/fence.json
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/start.ts
  examples/hosts/app-integration/external-data/src/view/appView.tsx
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  examples/hosts/app-integration/external-data/src/view/fence.json
  examples/hosts/app-integration/external-data/src/view/index.ts
  examples/hosts/app-integration/external-data/src/view/taskListView.tsx
  examples/hosts/app-integration/external-data/tests/index.tsx
  examples/hosts/app-integration/external-data/tests/mockService.test.ts
  examples/hosts/app-integration/external-data/tests/mockServiceWebhook.test.ts
  examples/hosts/app-integration/external-data/tsconfig.json
  examples/hosts/app-integration/external-data/webpack.config.js
  examples/hosts/app-integration/external-data/webpack.test.js
  lerna-package-lock.json
Labels: area: examples, dependencies, base: main

#13408 Tree: Implement moves in sequence field
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markListFactory.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13422 refactor(generate:typetests): Print errors during type test generation without need of `--verbose`
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
Labels: base: main

#13423 tools: Fix linting in external-data sample app to ensure test code is linted
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/view/appView.tsx
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  examples/hosts/app-integration/external-data/src/view/taskListView.tsx
  examples/hosts/app-integration/external-data/tests/index.tsx
  examples/hosts/app-integration/external-data/tests/mockService.test.ts
  examples/hosts/app-integration/external-data/tests/taskList.test.ts
Labels: area: examples, base: main

#13344 Add front-facing attribution documentation
  docs/content/docs/data-structures/string.md
  packages/dds/sequence/README.md
  packages/framework/attributor/README.md
Labels: documentation, area: framework, area: dds, area: dds: sharedstring, base: main

#13428 feat: [HACK]: Wire up hack for webhook subscription to instigate signal
  lerna-package-lock.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/tinylicious/src/runner.ts
  server/tinylicious/src/services/inMemorycollection.ts
  server/tinylicious/src/services/levelDbCollection.ts
Labels: area: server, dependencies

#13329 When enabled, chunk compressed batches larger than 1MB
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: main

#13284 Add alternative event API and use it in SharedTreeCore
  packages/dds/tree/README.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/events/README.md
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/events/fence.json
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/feature-libraries/editManagerIndex.ts
  packages/dds/tree/src/feature-libraries/fence.json
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/shared-tree-core/fence.json
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/events/eventEmitter.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main
