Repository microsoft/FluidFramework, pull requests merged in 2022-10, with the labels that each got.

#12191 [build-tools] Fix lint errors
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/lib/text.ts
  build-tools/packages/build-cli/src/logging.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/lib.ts
Labels: base: main

#11959 feat(merge-tree): add obliterate partial length tests
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/partialLength.spec.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Labels: area: dds, public api change, base: main

#12105 Add ability for client to handle server_disconnect event from push for a particular clientid
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: main

#12018 complete the examples page
  docs/content/docs/start/examples.md
Labels: documentation, base: main

#12225 run prettier on markdown files
  packages/dds/tree/README.md
  packages/dds/tree/docs/cell-model/README.md
  packages/dds/tree/docs/data-model/README.md
  packages/dds/tree/docs/roadmap.md
  packages/dds/tree/docs/semantic-format/README.md
  packages/dds/tree/docs/wip/inverse-changes/README.md
  packages/dds/tree/src/checkout/README.md
  packages/dds/tree/src/feature-libraries/README.md
  packages/dds/tree/src/feature-libraries/editable-tree/README.md
  packages/dds/tree/src/schema-stored/README.md
  packages/dds/tree/src/schema-view/README.md
  packages/dds/tree/src/shared-tree-core/README.md
  packages/dds/tree/src/util/README.md
Labels: area: dds, base: main

#12219 Integrate model loading pattern from example-utils into the schema-upgrade and contact-collection examples
  examples/apps/collaborative-textarea/package.json
  examples/apps/collaborative-textarea/src/container.ts
  examples/apps/collaborative-textarea/tests/index.ts
  examples/apps/contact-collection/README.md
  examples/apps/contact-collection/package.json
  examples/apps/contact-collection/src/app.ts
  examples/apps/contact-collection/src/containerCode.ts
  examples/apps/contact-collection/src/dataObject.ts
  examples/apps/contact-collection/tests/index.ts
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/migrator/migrator.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoader/index.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoader/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoader/modelLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
  examples/hosts/app-integration/schema-upgrade/tests/index.tsx
  packages/framework/fluid-static/package.json
Labels: area: examples, area: framework, base: main

#12229 [TaskManager] Update task-selection demo to use subscribeToTask()
  examples/data-objects/task-selection/src/taskManagerDiceRoller.ts
Labels: area: examples, base: next, msftbot: merge-next

#12228 Fix creating compact snapshots when no ops are provided
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#12152 Create sequence snapshot tests for the old document format
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/createSnapshotFiles.ts
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/snapshotVersion.spec.ts
  packages/dds/sequence/src/test/snapshots/v1Intervals/withV1Intervals.json
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
Labels: area: dds, area: dds: sharedstring, base: main

#12223 Refactor a bit disconnect flow
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#12050 Remove `DeltaScheduler` and `ScheduleManager` from the public API
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#12226 Tree: add test for global field editing
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, base: main

#12231 Handle error object inside the IOdspSocketError
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#12185 Fix url deps and add eslint rules to not allow core nodejs modules on lts
  packages/drivers/local-driver/.eslintrc.js
  packages/drivers/local-driver/package.json
  packages/drivers/routerlicious-urlResolver/.eslintrc.js
  packages/drivers/routerlicious-urlResolver/package.json
  packages/loader/container-loader/.eslintrc.js
  packages/loader/container-loader/package.json
  packages/test/test-end-to-end-tests/.eslintrc.js
  packages/test/test-end-to-end-tests/package.json
  packages/tools/fetch-tool/.eslintrc.js
Labels: area: loader, area: driver, area: tests

#12243 run prettier in .vscode and docs of tree
  packages/dds/tree/.vscode/launch.json
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/docs/.markdownlint.json
  packages/dds/tree/docs/wip/anchorInterfaces.ts
  packages/dds/tree/docs/wip/changeset.ts
Labels: area: dds, base: main

#12241 run prettier on tree package config files
  packages/dds/tree/.eslintrc.js
  packages/dds/tree/.mocharc.js
  packages/dds/tree/tsconfig.esnext.json
  packages/dds/tree/tsconfig.json
Labels: area: dds, base: main

#12242 Fix url deps and add eslint rules to disallow core nodejs modules on main branch
  packages/drivers/local-driver/.eslintrc.js
  packages/drivers/local-driver/package.json
  packages/drivers/routerlicious-urlResolver/.eslintrc.js
  packages/drivers/routerlicious-urlResolver/package.json
  packages/loader/container-loader/.eslintrc.js
  packages/test/test-end-to-end-tests/.eslintrc.js
  packages/test/test-end-to-end-tests/package.json
  packages/tools/fetch-tool/.eslintrc.js
Labels: area: driver, area: tests, base: main

#12217 Unpin oclif/core
  build-tools/packages/build-cli/package.json
  build-tools/packages/version-tools/package.json
  tools/telemetry-generator/package.json
Labels: base: main

#12193 Update feed publishing logic to follow new guidelines
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#12247 [build-tools] Clean up logging
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/version-tools/README.md
Labels: base: main

#12188 adding events dep to client packages that use events to LTS
  experimental/PropertyDDS/examples/partial-checkout/.eslintrc.js
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/.eslintrc.js
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/framework/data-objects/.eslintrc.js
  experimental/framework/data-objects/package.json
  packages/common/container-definitions/.eslintrc.js
  packages/common/container-definitions/package.json
  packages/dds/matrix/.eslintrc.js
  packages/dds/matrix/package.json
  packages/dds/quorum/.eslintrc.js
  packages/dds/quorum/package.json
  packages/dds/task-manager/.eslintrc.js
  packages/dds/task-manager/package.json
  packages/drivers/iframe-driver/.eslintrc.js
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/framework/undo-redo/.eslintrc.js
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/runtime/container-runtime/.eslintrc.js
  packages/runtime/container-runtime/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/functional-tests/.eslintrc.js
  packages/test/functional-tests/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: tests, area: dds: propertydds

#12249 1892 fluid-runner CSV telemetry (#12015)
  lerna-package-lock.json
  packages/tools/fluid-runner/README.md
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fakeUrlResolver.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/getArgsValidationError.ts
  packages/tools/fluid-runner/src/index.ts
  packages/tools/fluid-runner/src/logger/FileLogger.ts
  packages/tools/fluid-runner/src/logger/baseFileLogger.ts
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/tools/fluid-runner/src/logger/jsonFileLogger.ts
  packages/tools/fluid-runner/src/logger/loggerUtils.ts
  packages/tools/fluid-runner/src/parseBundleAndExportFile.ts
  packages/tools/fluid-runner/src/test/fileLogger.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/loggerUtils.spec.ts
  packages/tools/fluid-runner/src/test/telemetryExpectedOutputs/expectedOutput1.json
  packages/tools/fluid-runner/src/test/telemetryExpectedOutputs/expectedOutput2.json
  packages/tools/fluid-runner/src/test/telemetryExpectedOutputs/expectedOutput3.csv
  packages/tools/fluid-runner/src/test/telemetryExpectedOutputs/expectedOutput4.csv
  packages/tools/fluid-runner/src/test/utils.spec.ts
  packages/tools/fluid-runner/src/utils.ts
Labels: dependencies, base: release

#12254 fix(build-tools): Include .cjs files in policy-check
  azure/prettier.config.cjs
  build-tools/packages/build-cli/prettier.config.cjs
  build-tools/packages/build-tools/prettier.config.cjs
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/copyrightFileHeader.ts
  build-tools/packages/bundle-size-tools/prettier.config.cjs
  build-tools/packages/version-tools/prettier.config.cjs
  build-tools/prettier.config.cjs
  common/build/build-common/prettier.config.cjs
  common/build/eslint-config-fluid/prettier.config.cjs
  common/lib/common-definitions/prettier.config.cjs
  common/lib/common-utils/prettier.config.cjs
  common/lib/protocol-definitions/prettier.config.cjs
  packages/dds/tree/prettier.config.cjs
  tools/api-markdown-documenter/prettier.config.cjs
Labels: area: dds, base: main

#12245 MSN validation and better validation of clientId
  api-report/driver-utils.api.md
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.ts
Labels: area: loader, public api change, base: main

#12237 Propagate disconnected reason during 'disconnected' event
  api-report/telemetry-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/utils/telemetry-utils/src/events.ts
Labels: area: loader, community-contribution, public api change, base: main

#12251 Publish stochastic-test-utils internally
  packages/test/stochastic-test-utils/package.json
Labels: area: tests, base: main

#12265 run prettier on files with unused eslint warnings
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursorLegacy.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceChangeRebaser.fuzz.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, base: main

#12248 [build-tools] release report examples are wrong
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/version-tools/README.md
Labels: base: main

#12274 Use GetFileById() instead of GetFileByUrl() to get sharing information for ODSP file
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#12272 add prettier to package.json lint commands
  packages/dds/tree/package.json
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeTextCursorLegacy.spec.ts
Labels: area: dds, base: main

#12250 Add driver version prop to IConnect message
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/sockets.ts
Labels: public api change, base: main

#12218 Overwrite attach on FluidContainer rather than require class inheritance
  azure/packages/azure-client/src/AzureClient.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
Labels: area: framework, base: main

#12213 Deprecate iframe-driver and remove iframe-host example
  BREAKING.md
  api-report/iframe-driver.api.md
  examples/hosts/iframe-host/.eslintrc.js
  examples/hosts/iframe-host/.gitignore
  examples/hosts/iframe-host/.npmignore
  examples/hosts/iframe-host/LICENSE
  examples/hosts/iframe-host/README.md
  examples/hosts/iframe-host/api-extractor.json
  examples/hosts/iframe-host/package.json
  examples/hosts/iframe-host/src/containerProxy.ts
  examples/hosts/iframe-host/src/index.html
  examples/hosts/iframe-host/src/index.ts
  examples/hosts/iframe-host/src/inframehost.ts
  examples/hosts/iframe-host/src/inner.html
  examples/hosts/iframe-host/src/inner.ts
  examples/hosts/iframe-host/src/outer.ts
  examples/hosts/iframe-host/tsconfig.esnext.json
  examples/hosts/iframe-host/tsconfig.json
  examples/hosts/iframe-host/webpack.config.js
  packages/drivers/iframe-driver/README.md
  packages/drivers/iframe-driver/src/innerDocumentDeltaConnection.ts
  packages/drivers/iframe-driver/src/innerDocumentService.ts
  packages/drivers/iframe-driver/src/innerDocumentServiceFactory.ts
  packages/drivers/iframe-driver/src/innerUrlResolver.ts
  packages/drivers/iframe-driver/src/outerDocumentServiceFactory.ts
  packages/drivers/iframe-driver/src/outerUrlResolver.ts
Labels: area: examples, area: driver, breaking change, public api change, base: main

#12271 Azure client audience fixes e2e fixes.
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/utils.ts
Labels: base: main

#12280 [bump] build-tools: 0.4.7000 => 0.4.8000 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#12183 [next] Restrict IDocumentStorageServicePolicies.maximumCacheDurationMs to 5 days or undefined
  BREAKING.md
  api-report/driver-definitions.api.md
  api-report/driver-utils.api.md
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/test/types/maximumCacheDurationPolicy.spec.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
  packages/drivers/file-driver/package.json
  packages/drivers/file-driver/src/test/types/validateFileDriverPrevious.ts
  packages/drivers/odsp-driver-definitions/README.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.ts
Labels: area: loader, area: driver, breaking change, area: odsp-driver, public api change, base: next

#12285 [v2int/1.2] Update GC to support 5 day snapshot cache expiry
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: release

#12290 Recommend esbenp.prettier-vscode extension
  .vscode/extensions.json
Labels: area: contributor experience, base: main

#12252 feat(build-tools): Support pnpm-workspace.yaml as workspace source
  build-tools/lerna-package-lock.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
Labels: base: main

#12300 EditableTree: move EditableTreeContext code to a separate file
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
Labels: area: dds, community-contribution, base: main

#11978 Revert special case to make use of lastsummary's base path when parentSkipRecursion is set (completeSummaryCore)
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
Labels: area: runtime, base: next, msftbot: merge-next

#12305 Tree: Add symbolIsFieldKey
  packages/dds/tree/src/test/tree/globalFieldKeySymbol.spec.ts
  packages/dds/tree/src/tree/globalFieldKeySymbol.ts
Labels: area: dds, base: main

#12292 Keep Snapshot Cache Expiry policy coherent across driver code
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
Labels: area: driver, area: odsp-driver, base: main

#12302 Update GC to support 5 day snapshot cache expiry
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: main

#12298 Bump dependencies
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#11950 [build-tools] Merge tool
  .github/workflows/merge-branches.yml
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-tools/src/bumpVersion/gitRepo.ts
  build-tools/packages/version-tools/README.md
Labels: area: build, base: main

#12320 Add driver version to IConnect message
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: main

#12323 delete workflow file
  .github/workflows/merge-branches.yml
  build-tools/packages/build-cli/src/commands/merge/branches.ts
Labels: area: build, base: main

#12311 fix(build-tools): Bump cmd detects ver scheme
  build-tools/packages/build-cli/src/commands/bump.ts
Labels: base: main

#12329 Remove comment from workflow
  .github/workflows/push-queue.yml
Labels: area: build, base: main

#12301 breaking.md cleanup - next
  BREAKING.md
Labels: breaking change, base: next, msftbot: merge-next

#12325 fix(build-tools): Make the default bundle directory deterministic in docs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
Labels: base: main

#12317 fix(build-tools): Generate commit messages for bumps consistently
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/lib/index.ts
Labels: base: main

#12335 Remove Provider usage from test code.
  packages/runtime/container-runtime/src/summarizer.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
Labels: area: runtime, area: tests, base: main

#12328 docs(build-cli): Split command documentation from main readme
  build-tools/packages/build-cli/.prettierignore
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/bumpDetails.md
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
Labels: base: main

#12269 [TaskManager] Fix assert error when sending a volunteer op before a complete op is acknowledged
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
Labels: area: dds, base: next, msftbot: merge-next

#12288 ApplyStashedOps for SharedCounter
  api-report/counter.api.md
  packages/dds/counter/src/counter.ts
  packages/dds/counter/src/test/counter.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: dds, area: tests, public api change, base: main

#12344 [GC-stress] Updated CI config to run for ~90 minutes. There is a max 120 minutes limit for test to run.
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#12356 Updated CI config to run for ~60 mins
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#12336 Remove iframe-driver
  .github/CODEOWNERS
  BREAKING.md
  PACKAGES.md
  api-report/iframe-driver.api.md
  lerna-package-lock.json
  packages/drivers/iframe-driver/.eslintrc.js
  packages/drivers/iframe-driver/.gitignore
  packages/drivers/iframe-driver/.npmignore
  packages/drivers/iframe-driver/LICENSE
  packages/drivers/iframe-driver/README.md
  packages/drivers/iframe-driver/api-extractor.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/iframe-driver/src/index.ts
  packages/drivers/iframe-driver/src/innerDocumentDeltaConnection.ts
  packages/drivers/iframe-driver/src/innerDocumentService.ts
  packages/drivers/iframe-driver/src/innerDocumentServiceFactory.ts
  packages/drivers/iframe-driver/src/innerUrlResolver.ts
  packages/drivers/iframe-driver/src/outerDocumentServiceFactory.ts
  packages/drivers/iframe-driver/src/outerUrlResolver.ts
  packages/drivers/iframe-driver/src/packageVersion.ts
  packages/drivers/iframe-driver/src/proxyUtils.ts
  packages/drivers/iframe-driver/src/test/types/validateIframeDriverPrevious.ts
  packages/drivers/iframe-driver/tsconfig.esnext.json
  packages/drivers/iframe-driver/tsconfig.json
Labels: area: driver, area: build, breaking change, dependencies, public api change, base: next, msftbot: merge-next

#12255 Add telemetry regarding slow parsing path in binary format parsing code
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#12340 Remove assert in getting relayServiceSessionId in odsp driver
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver, base: main

#12066 Misc rdkafka orderer updates
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#12351 Add IRootDataObject interface
  api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
Labels: area: framework, public api change, base: main

#12341 Tree: Generic nesting in modular changes
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, public api change, base: main

#12361 [main > v2int/2.0]: Remove assert in getting relayServiceSessionId in odsp driver (#12340)
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver, base: release

#12322 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: area: build, base: main

#12319 test(build-tools): Enable tests for dev/prerelease internal versions
  build-tools/packages/version-tools/test/internalVersionScheme.test.ts
Labels: base: main

#12363 [main > lts]: Accept both json and binary in trees latest stress test (#11443)
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#12364 [main > v2int/1.4]: Remove assert in getting relayServiceSessionId in odsp driver (#12340)
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
Labels: area: driver, area: odsp-driver, base: release

#12257 Update the Garbage Collection (GC) documents as per the change from root data store -> aliasing
  packages/runtime/container-runtime/garbageCollection.md
Labels: area: runtime, base: main

#11951 Fix "Batch end without start"
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
Labels: area: tests, base: next, msftbot: merge-next

#12359 Fix prosemirror
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/prosemirror/src/prompt.ts
  lerna-package-lock.json
Labels: area: examples, dependencies, base: main

#12369 (chore): Tag asserts
  packages/dds/counter/src/counter.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ordinal.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/tree/cursor.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, base: main

#12374 [GC-stress ]Add a test cron job to run the stress test daily.
  tools/pipelines/test-real-service-stress.yml
Labels: area: build

#12376 [GC-stress] Updated schedules in yaml
  tools/pipelines/test-real-service-stress.yml
Labels: area: build

#11101 fix blob GC test
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: tests, base: main

#12372 (chore): Tag asserts
  packages/dds/counter/src/counter.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ordinal.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/tree/cursor.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, base: release

#12373 fix(policy-check): Make check policy continue after errors
  build-tools/packages/build-cli/src/commands/check/policy.ts
Labels: base: main

#12368 Change build-tools to named exports
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/bundle-size-tools/src/ADO/index.ts
  build-tools/packages/bundle-size-tools/src/index.ts
  build-tools/packages/bundle-size-tools/src/statsProcessors/index.ts
  build-tools/packages/bundle-size-tools/src/utilities/index.ts
  build-tools/packages/version-tools/src/index.ts
Labels: base: main

#12371 Change default exports in common/lib to named exports
  common/lib/common-utils/src/index.ts
  common/lib/common-utils/src/indexBrowser.ts
  common/lib/common-utils/src/indexNode.ts
  common/lib/protocol-definitions/src/index.ts
Labels: base: main

#12378 Tree: fix sequence field format imports
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markListFactory.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, base: main

#12384 [r11s] Making summary reader use 'latest' summary id
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/services-client/src/constants.ts
Labels: area: server, public api change, base: main

#12388 Tree: Sequence field revive to delta
  packages/dds/tree/src/feature-libraries/sequence-field/fence.json
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, base: main

#12387 Change default exports in examples/apps to named exports
  examples/apps/collaborative-textarea/src/index.ts
  examples/apps/spaces/src/fluid-object/index.ts
  examples/apps/spaces/src/fluid-object/storage/index.ts
  examples/apps/spaces/src/index.ts
  examples/apps/view-framework-sampler/src/views/index.ts
Labels: area: examples, base: main

#12306 EditableTree: support global fields
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utilities.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
Labels: area: dds, community-contribution, public api change, base: main

#11946 Normalize merge-tree's segment order on rebase of an insert op
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next

#12350 build(bundle-size-tools): Add missing lint deps and scripts
  build-tools/packages/bundle-size-tools/package.json
Labels: base: main

#12357 fix(build-cli): Consistent commit messages for dep bumps
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/lib/index.ts
Labels: base: main

#12358 [GC-sress] Updated daily schedule to run every day at 7 am
  tools/pipelines/test-real-service-stress.yml
Labels: area: build

#12381 fix(build-cli): Check the root package.json of a release group when updating dependencies
  build-tools/packages/build-cli/src/lib/package.ts
Labels: base: main

#12194 fix: r11s-driver cache pollution in docservicefactory (#12060)
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver

#12398 Change default exports in `experimental/examples` to named exports
  experimental/examples/bubblebench/common/src/index.ts
  experimental/examples/bubblebench/ot/src/proxy/index.ts
  experimental/examples/bubblebench/sharedtree/src/proxy/index.ts
Labels: area: examples, base: main

#12377 Tree: field-kind-based editing
  api-report/tree.api.md
  packages/dds/tree/src/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeHandler.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, base: main

#12405 Add back fetching of blobs in fetch snapshot tree call
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#12403 Remove defunct UPCOMING.md notes
  BREAKING.md
  UPCOMING.md
Labels: breaking change, base: main

#12338 Tree: Fix anchor set move
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/tree/anchorSet.ts
Labels: area: dds, base: main

#12410 [main > v2int/1.4]: Add back fetching of blobs in fetch snapshot tree call (#12405)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#12411 [main > v2int/2.0]: Add back fetching of blobs in fetch snapshot tree call (#12405)
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#12380 (build): Bump lerna to v5 in azure and build-tools release groups
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/package.json
  build-tools/lerna-package-lock.json
  build-tools/package-lock.json
  build-tools/package.json
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/package.json
  tools/test-tools/package-lock.json
Labels: area: server, base: main

#12385 Cursor (legacy): get field length
  api-report/tree.api.md
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/treeTextCursorLegacy.ts
  packages/dds/tree/src/forest/cursorLegacy.ts
  packages/dds/tree/src/test/cursorLegacy.spec.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.spec.ts
Labels: area: dds, community-contribution, public api change, base: main

#12375 Ensure only non-empty fields are included in Cursor iteration
  packages/dds/tree/src/test/cursor.spec.ts
  packages/dds/tree/src/test/cursorLegacy.spec.ts
  packages/dds/tree/src/tree/cursor.ts
  packages/dds/tree/src/tree/treeTextFormat.ts
Labels: area: dds, base: main

#12416 Bump azure dependencies on client to latest
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
Labels: base: main

#12267 Remove initial set of deprecated properties from ISummaryRuntimeOptions
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
  packages/test/test-gc-sweep-tests/src/test/autoRunTest.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#12409 Make the batch size limitation configurable via RuntimeOptions
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: main

#12400 Build: Misc fixes to unblock 'fluid-build --all'
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/.eslintrc.js
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/.mocharc.json
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/test/helpers/init.js
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/src/test/schemes.test.ts
  build-tools/packages/version-tools/src/test/semver.test.ts
  build-tools/packages/version-tools/src/test/tsconfig.json
  build-tools/packages/version-tools/src/test/virtualPatchScheme.test.ts
Labels: base: main

#12440 Revert Remove initial set of deprecated properties from ISummaryRuntimeOptions
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
  packages/test/test-gc-sweep-tests/src/test/autoRunTest.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#12429 Fix sum Cursor benchmark
  packages/dds/tree/src/test/domains/json/benchmarks.ts
  packages/dds/tree/src/tree/index.ts
Labels: area: dds, base: main

#12441 [main > release/v2int/2.0]: Cache ops only on first snapshot fetch (#12439)
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
Labels: area: driver, area: odsp-driver, base: release

#12442 [main > release/v2int/1.4]: Cache ops only on first snapshot fetch (#12439)
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
Labels: area: driver, area: odsp-driver, base: release

#12451 Bump common-defs typetests to correct baseline
  common/lib/common-definitions/package.json
Labels: base: main

#12449 Bump protocol-definitions typetests to 1.0.0 baseline
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
Labels: base: main

#12264 Moving azure-local-service to azure monorepo.
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-local-service/.gitignore
  azure/packages/azure-local-service/.npmignore
  azure/packages/azure-local-service/.vscode/launch.json
  azure/packages/azure-local-service/LICENSE
  azure/packages/azure-local-service/README.md
  azure/packages/azure-local-service/api-extractor.json
  azure/packages/azure-local-service/api-report/azure-local-service.api.md
  azure/packages/azure-local-service/package-lock.json
  azure/packages/azure-local-service/package.json
  azure/packages/azure-local-service/src/index.ts
  azure/packages/azure-local-service/tsconfig.json
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  azure/packages/test/end-to-end-tests/src/test/ddsTests.spec.ts
  build-tools/packages/build-tools/data/layerInfo.json
  lerna-package-lock.json
  package-lock.json
  package.json
  tools/pipelines/build-azure-local-service.yml
Labels: area: build, dependencies, public api change, base: main

#12452 Turn SummaryStatus:Behind into a regular event and summarizerClientElection to be false in the stress tests.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, base: main

#12395 Tree: add indexes and branches document
  packages/dds/tree/docs/indexes and branches.md
Labels: area: dds, base: main

#12454 Update deps (minor) on protocol-definitions in the server release group
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#12456 Turn SummaryStatus:Behind into a regular event and summarizerClientEl…
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, base: release

#12295 Add the Fix for Missing Ops Log, and telemetry for the Ops from the Last Service Summary
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
Labels: area: server, base: main

#12390 Change all `export *` in `examples/data-objects` to named exports
  examples/data-objects/multiview/constellation-model/src/index.ts
  examples/data-objects/multiview/constellation-view/src/index.ts
  examples/data-objects/multiview/coordinate-model/src/index.ts
  examples/data-objects/multiview/interface/src/index.ts
  examples/data-objects/multiview/plot-coordinate-view/src/index.ts
  examples/data-objects/multiview/slider-coordinate-view/src/index.ts
  examples/data-objects/multiview/triangle-view/src/index.ts
  examples/data-objects/presence-tracker/src/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/controls/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/geometry/index.ts
  examples/data-objects/shared-text/src/client-ui-lib/ui/index.ts
  examples/data-objects/table-document/src/index.ts
  examples/data-objects/table-document/src/interception/index.ts
  examples/data-objects/todo/src/Todo/index.ts
  examples/data-objects/todo/src/TodoItem/index.ts
  examples/data-objects/vltava/src/fluidObjects/anchor/index.ts
  examples/data-objects/vltava/src/fluidObjects/index.ts
  examples/data-objects/vltava/src/fluidObjects/library/index.ts
  examples/data-objects/vltava/src/fluidObjects/tabs/index.ts
  examples/data-objects/vltava/src/fluidObjects/vltava/index.ts
  examples/data-objects/vltava/src/interfaces/index.ts
Labels: area: examples, base: main

#12392 Change all `export *` in `examples/utils` to named exports
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/modelLoader/index.ts
Labels: area: examples, base: main

#12394 Change all `export *` in `experimental/dds` to named exports
  experimental/dds/ot/ot/src/test/ot.stress.spec.ts
  experimental/dds/sequence-deprecated/src/index.ts
  experimental/dds/tree-graphql/src/index.ts
  experimental/dds/tree/src/id-compressor/index.ts
  experimental/dds/tree/src/id-compressor/persisted-types/index.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/persisted-types/index.ts
Labels: area: dds, base: main

#12423 Change all `export *` in `examples/data-exports` to named exports
  packages/drivers/debugger/src/index.ts
  packages/drivers/driver-base/src/index.ts
  packages/drivers/driver-web-cache/src/index.ts
  packages/drivers/file-driver/src/index.ts
  packages/drivers/fluidapp-odsp-urlResolver/src/index.ts
  packages/drivers/iframe-driver/src/index.ts
  packages/drivers/local-driver/src/index.ts
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-urlResolver/src/index.ts
  packages/drivers/replay-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-urlResolver/src/index.ts
  packages/drivers/tinylicious-driver/src/index.ts
Labels: area: driver, area: odsp-driver, base: main

#12425 Change all `export *` in `packages/loader` and `packages/runtime` to named exports
  packages/loader/container-utils/src/index.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/location-redirection-utils/src/index.ts
  packages/loader/test-loader-utils/src/index.ts
  packages/loader/web-code-loader/src/index.ts
  packages/runtime/container-runtime-definitions/src/index.ts
  packages/runtime/datastore-definitions/src/index.ts
  packages/runtime/datastore/src/index.ts
  packages/runtime/garbage-collector/src/index.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/test-runtime-utils/src/index.ts
Labels: area: runtime, area: loader, base: main

#12427 Change all `export `* in `packages/test`, `packages/tools` and `packages/utils` to named exports
  packages/test/mocha-test-setup/src/index.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/test-app-insights-logger/src/index.ts
  packages/test/test-driver-definitions/src/index.ts
  packages/test/test-drivers/src/index.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-version-utils/src/index.ts
  packages/tools/fluid-runner/src/index.ts
  packages/tools/replay-tool/src/index.ts
  packages/tools/webpack-fluid-loader/src/index.ts
  packages/utils/odsp-doclib-utils/src/index.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/tool-utils/src/index.ts
Labels: area: tests, area: odsp-driver, base: main

#12462 Change all `export *` in `server/gitrest` to named exports
  server/gitrest/packages/gitrest-base/src/index.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
Labels: area: server, base: main

#12444 refactor(build-cli): Use new check policy command within release command
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
Labels: base: main

#12256 Fluid container error events
  api-report/fluid-framework.api.md
  lerna-package-lock.json
  package-lock.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, dependencies, public api change, base: main

#12476 Cancel join session refresh timer once container is closed
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver, base: main

#12437 feat(build-cli): Add `merge info` command
  build-tools/lerna-package-lock.json
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/packages/build-cli/src/lib/index.ts
Labels: base: main

#12475 Fluid container error events [main -> lts]
  api-report/fluid-framework.api.md
  api-report/fluid-static.api.md
  lerna-package-lock.json
  package-lock.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/containerDefinitions.ts
  packages/framework/fluid-framework/src/driverDefinitions.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: framework, dependencies, public api change

#12479 fix(build-cli): Allow prerelease as a valid value for release argument
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/test/commands/generate/buildVersion.test.ts
Labels: base: main

#12461 [bump] server: 0.1038.2000 => 0.1038.3000 (minor)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#12480 Avoid double `get`
  packages/runtime/container-runtime/src/dataStoreContexts.ts
Labels: area: runtime, base: main

#12478 Remove initial set of deprecated properties from ISummaryRuntimeOption
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
  packages/test/test-gc-sweep-tests/src/test/autoRunTest.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#12428 EditableTree: generic access
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/mockData.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
Labels: area: dds, community-contribution, public api change, base: main

#12466 Make the batch size limitation configurable via RuntimeOptions (#12409)
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/batchManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: release

#12463 Change all `export *` in `/tools` to named exports
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/doc-nodes/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/rendering/default-policies/index.ts
  tools/api-markdown-documenter/src/rendering/helpers/index.ts
  tools/api-markdown-documenter/src/rendering/index.ts
  tools/api-markdown-documenter/src/utilities/index.ts
Labels: public api change, base: main

#12424 Change all `export *` in `package/framework` to named exports
  api-report/fluid-framework.api.md
  packages/framework/agent-scheduler/src/index.ts
  packages/framework/aqueduct/src/container-runtime-factories/index.ts
  packages/framework/aqueduct/src/container-services/index.ts
  packages/framework/aqueduct/src/data-object-factories/index.ts
  packages/framework/aqueduct/src/index.ts
  packages/framework/aqueduct/src/request-handlers/index.ts
  packages/framework/aqueduct/src/utils/index.ts
  packages/framework/data-object-base/src/index.ts
  packages/framework/dds-interceptions/src/index.ts
  packages/framework/dds-interceptions/src/map/index.ts
  packages/framework/dds-interceptions/src/sequence/index.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/oldest-client-observer/src/index.ts
  packages/framework/request-handler/src/index.ts
  packages/framework/synthesize/src/index.ts
  packages/framework/tinylicious-client/src/index.ts
  packages/framework/undo-redo/src/index.ts
  packages/framework/view-adapters/src/htmlview/index.ts
  packages/framework/view-adapters/src/index.ts
  packages/framework/view-adapters/src/mountableview/index.ts
  packages/framework/view-adapters/src/react/index.ts
  packages/framework/view-interfaces/src/index.ts
Labels: area: framework, public api change, base: main

#12399 Change `export *` in `experimental/PropertyDDS` to named exports
  experimental/PropertyDDS/packages/property-binder/src/external/utils/nestedObjectHelpers.ts
  experimental/PropertyDDS/packages/property-common/src/datastructures/index.ts
  experimental/PropertyDDS/packages/property-common/src/error_objects/index.ts
  experimental/PropertyDDS/packages/property-common/src/index.ts
  experimental/PropertyDDS/packages/property-dds/src/index.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/index.ts
  experimental/PropertyDDS/packages/property-proxy/src/index.ts
Labels: area: dds: propertydds, base: main

#12485 build: Pass build-tools version correctly
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#12222 Azure scenario tests/runner
  azure/lerna-package-lock.json
  azure/packages/test/scenario-runner/.eslintrc.js
  azure/packages/test/scenario-runner/.gitignore
  azure/packages/test/scenario-runner/.npmignore
  azure/packages/test/scenario-runner/LICENSE
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/TestDataObject.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/interface.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/mapTrafficRunnerClient.ts
  azure/packages/test/scenario-runner/src/orchestratorRunner.ts
  azure/packages/test/scenario-runner/src/packageVersion.ts
  azure/packages/test/scenario-runner/src/test/mini.spec.ts
  azure/packages/test/scenario-runner/src/test/tsconfig.json
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/testConfig.yml
  azure/packages/test/scenario-runner/testConfigV2.yml
  azure/packages/test/scenario-runner/tsconfig.esnext.json
  azure/packages/test/scenario-runner/tsconfig.json
Labels: base: main

#12491 Update AgentScheduler to implement IFluidLoadable
  packages/framework/agent-scheduler/package.json
  packages/framework/agent-scheduler/src/agent.ts
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/agent-scheduler/src/test/types/validateAgentSchedulerPrevious.ts
Labels: area: framework, base: main

#12495 [v2int/2.0] Update AgentScheduler to implement IFluidLoadable
  packages/framework/agent-scheduler/src/scheduler.ts
Labels: area: framework, base: release

#12502 [v2int/1.4] Update AgentScheduler to implement IFluidLoadable
  packages/framework/agent-scheduler/src/scheduler.ts
Labels: area: framework, base: release

#12419 Add TestOverride.SweepTimeout
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: runtime, area: loader, area: tests, base: main

#12303 Enable timeout `ensureSynchronized` everywhere (Solution #2)
  api-report/mocha-test-setup.api.md
  api-report/test-utils.api.md
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  packages/drivers/odsp-driver/src/test/test.ts
  packages/test/mocha-test-setup/mocharc-common.js
  packages/test/mocha-test-setup/src/mochaHooks.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/test/timeoutUtils.spec.ts
  packages/test/test-utils/src/test/tsconfig.json
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-utils/src/timeoutUtils.ts
  packages/test/test-utils/tsconfig.json
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: driver, area: tests, area: dds: propertydds, area: odsp-driver, public api change, base: next

#12413 Rerun Publish Steps after Network Error
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#12431 Install self signed cert for R11s cluster in test pipelines
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#12497 Install self-signed cert during pipeline run - port to LTS
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#12499 Install self-signed cert during pipeline run - port to release/v2int/2.0
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: release
