Repository microsoft/FluidFramework, pull requests merged in 2022-04, with the labels that each got.

#9624 Convert HashCalculator to .ts + class and use standard lint rules for property-inspector-table
  experimental/PropertyDDS/packages/property-inspector-table/.eslintignore
  experimental/PropertyDDS/packages/property-inspector-table/.eslintrc
  experimental/PropertyDDS/packages/property-inspector-table/.eslintrc.js
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-inspector-table/src/CommonTypes.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/CustomChip.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/DecoratedSelect.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/DeleteModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/EditReferencePath.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/EditableValueCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/Empty.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ErrorPopup.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ErrorTooltip.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ExpiryModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/Field.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/FloatingLabelTextField.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/HashCalculator.js
  experimental/PropertyDDS/packages/property-inspector-table/src/HashCalculator.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/InputValidator.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorDecorator.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTable.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableDecorator.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableFooter.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableHeader.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableTypes.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ItemMenu.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/LoadingButton.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ModalManager.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ModalRoot.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NameCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataForm.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataRow.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NotificationsViewer.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/OverflowableCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyDataCreationHandlers.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Boolean.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Enum.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Number.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/String.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/SVGIcon.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/SearchBox.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ShareModal.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/Theme.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/TooltipedField.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/TypeColumn.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/TypeIcon.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/constants.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/icons.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/index.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/typeUtils.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/utils.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/webpack.index.ts
Labels: area: dds: propertydds, base: main

#9695 Track usages of `setFlushMode` and announce its deprecation
  BREAKING.md
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: main

#9713 Update generated report for @fluid-experimental/tree
  experimental/dds/tree/api/tree.api.md
Labels: area: dds, base: main

#9716 correctly handle simultaneous upload of identical blob
  packages/runtime/container-runtime/src/blobManager.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: tests, base: main

#9735 Fix order of dirtiness cleaning when reporting the change
  experimental/PropertyDDS/packages/property-binder/src/test/data_binder.spec.js
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
Labels: area: dds: propertydds, community-contribution, base: main

#9411 Enhance authorization for document creation workflow
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/tokens.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, area: driver, community-contribution, public api change, base: main

#9731 Make change-interval events consistent
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#9662 Updates to bump-version tool around policy-check, branch command, getting release versions
  tools/build-tools/src/bumpVersion/README.md
  tools/build-tools/src/bumpVersion/bumpVersionCli.ts
  tools/build-tools/src/bumpVersion/context.ts
  tools/build-tools/src/bumpVersion/createReleaseBump.ts
  tools/build-tools/src/bumpVersion/gitRepo.ts
  tools/build-tools/src/bumpVersion/policyCheck.ts
  tools/build-tools/src/bumpVersion/releaseVersion.ts
  tools/build-tools/src/bumpVersion/utils.ts
  tools/build-tools/src/bumpVersion/writeReleaseVersions.ts
  tools/build-tools/src/typeValidator/runValidator.ts
Labels: base: main

#9697 Replace ICodeLoader with ICodeDetailsLoader
  BREAKING.md
  api-report/container-loader.api.md
  api-report/test-utils.api.md
  api-report/web-code-loader.api.md
  examples/hosts/iframe-host/src/inframehost.ts
  examples/hosts/iframe-host/src/inner.ts
  experimental/framework/get-container/src/getContainer.ts
  experimental/framework/get-container/src/getSessionStorageContainer.ts
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/loader/web-code-loader/src/webLoader.ts
  packages/test/test-utils/src/localCodeLoader.ts
  packages/test/test-utils/src/localLoader.ts
  packages/tools/replay-tool/src/replayLoaderObject.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, area: framework, area: loader, area: dev experience, breaking change, area: tests, public api change, base: next

#9690 Fix FluidObject Corner Case and Improve Errors
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/src/provider.ts
  common/lib/core-interfaces/src/test/types/fluidObjectTypes.ts
Labels: area: definitions, public api change, base: main

#9495 Schema upgrade demo
  examples/hosts/app-integration/schema-upgrade/.editorconfig
  examples/hosts/app-integration/schema-upgrade/.eslintrc.js
  examples/hosts/app-integration/schema-upgrade/.gitignore
  examples/hosts/app-integration/schema-upgrade/.npmignore
  examples/hosts/app-integration/schema-upgrade/LICENSE
  examples/hosts/app-integration/schema-upgrade/README.md
  examples/hosts/app-integration/schema-upgrade/jest-puppeteer.config.js
  examples/hosts/app-integration/schema-upgrade/jest.config.js
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/app.tsx
  examples/hosts/app-integration/schema-upgrade/src/appView.tsx
  examples/hosts/app-integration/schema-upgrade/src/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/containerKillBit.ts
  examples/hosts/app-integration/schema-upgrade/src/dataHelpers.ts
  examples/hosts/app-integration/schema-upgrade/src/index.html
  examples/hosts/app-integration/schema-upgrade/src/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/inventoryView.tsx
  examples/hosts/app-integration/schema-upgrade/src/tinyliciousService.ts
  examples/hosts/app-integration/schema-upgrade/tests/index.html
  examples/hosts/app-integration/schema-upgrade/tests/index.tsx
  examples/hosts/app-integration/schema-upgrade/tests/inventoryList.test.ts
  examples/hosts/app-integration/schema-upgrade/tsconfig.esnext.json
  examples/hosts/app-integration/schema-upgrade/tsconfig.json
  examples/hosts/app-integration/schema-upgrade/webpack.config.js
  examples/hosts/app-integration/schema-upgrade/webpack.dev.js
  examples/hosts/app-integration/schema-upgrade/webpack.prod.js
  examples/hosts/app-integration/schema-upgrade/webpack.test.js
Labels: area: examples, base: main

#9740 ESLint config: Print config and add tsdoc plugin
  common/build/eslint-config-fluid/.eslintrc.js
  common/build/eslint-config-fluid/README.md
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/scripts/cleanup-printed-configs.js
  common/build/eslint-config-fluid/src/file.ts
  common/build/eslint-config-fluid/src/test/file.ts
  tools/pipelines/build-eslint-config-fluid.yml
Labels: area: build, base: main

#9730 Fix strict mode exceptions when changing Interval properties
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, base: main

#9742 Implement accept header in trees latest call
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#9754 Update build tools version
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, dependencies, area: definitions, base: main

#9741 Change implementations of IInterval.overlaps to be end-inclusive
  packages/dds/merge-tree/src/test/collections.intervalTree.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#9739 Minimal setup for SharedTree DDS
  api-report/tree.api.md
  lerna-package-lock.json
  packages/dds/tree/.eslintrc.js
  packages/dds/tree/.gitignore
  packages/dds/tree/.npmignore
  packages/dds/tree/.vscode/launch.json
  packages/dds/tree/DEV.md
  packages/dds/tree/LICENSE
  packages/dds/tree/README.md
  packages/dds/tree/api-extractor.json
  packages/dds/tree/docs/wip/AnchorInterfaces.ts
  packages/dds/tree/docs/wip/ChangeSet.ts
  packages/dds/tree/package-lock.json
  packages/dds/tree/package.json
  packages/dds/tree/src/flatAttachTree.ts
  packages/dds/tree/src/format.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/dummy.spec.ts
  packages/dds/tree/src/test/samples.ts
  packages/dds/tree/src/test/tsconfig.json
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/utils.ts
  packages/dds/tree/tsconfig.esnext.json
  packages/dds/tree/tsconfig.json
Labels: area: dds, dependencies, public api change, area: dds: tree, base: main

#9738 Fix 8947
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#8951 Let OrderedClientCollection track the summarizer client separately
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, base: main

#9765 Bump core-interfaces version in container and driver definitions
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.45.0.ts
  common/lib/container-definitions/src/test/types/validate0.46.0.ts
  common/lib/container-definitions/src/test/types/validate0.47.1000.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
Labels: area: definitions, base: next

#9764 r11s: use named imports for debug package
  server/routerlicious/packages/memory-orderer/src/debug.ts
  server/routerlicious/packages/services-client/src/debug.ts
  server/routerlicious/packages/services-core/src/debug.ts
  server/routerlicious/packages/services-shared/src/debug.ts
  server/routerlicious/packages/services-utils/src/debug.ts
  server/routerlicious/packages/services/src/debug.ts
  server/routerlicious/packages/test-utils/src/logger.ts
Labels: area: server, base: main

#9766 Add method to return number of sub directories within a directory
  api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, public api change, base: main

#9768 Some cleanup from looking at errors table
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, area: driver, area: odsp-driver, base: main

#9769 Remove IFluidObject from IFluidModule.fluidExport
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/fluidModule.ts
Labels: breaking change, area: definitions, public api change, base: next

#9772 Remove IFluidObject from IContainerContext scope
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/runtime.ts
  common/lib/container-definitions/src/test/types/validate0.47.1000.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, breaking change, area: definitions, public api change, base: next

#7762 Use real RunningSummarizer in SummaryManager UT to test last summary
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, status: stale, base: main

#9761 Fix logging in runWithRetry when aborted
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/runWithRetry.ts
Labels: area: loader, base: main

#9647 upgrade nodejs image version
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
  server/tinylicious/.devcontainer/Dockerfile
Labels: area: server, community-contribution, base: main

#9780 Remove IFluidObject from Default IFluidHandle Generic
  BREAKING.md
  api-report/datastore.api.md
  api-report/request-handler.api.md
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/src/handles.ts
  packages/framework/request-handler/src/requestHandlers.ts
  packages/runtime/datastore/src/fluidHandle.ts
Labels: area: framework, area: runtime, breaking change, area: definitions, public api change, base: next

#9776 SharedInterval Throw on Reconnect Attempt
  packages/dds/sequence/src/mapKernel.ts
Labels: area: dds, area: dds: sharedstring, base: main

#9439 Add `connect()`, `disconnect()`, deprecate `setAutoReconnect()`, `resume()`, and `connected`
  BREAKING.md
  api-report/container-loader.api.md
  api-report/fluid-static.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.ts
  packages/loader/container-loader/src/container.ts
Labels: area: framework, area: loader, breaking change, area: definitions, public api change, base: main

#9757 [GitRest] Allowing customization of git directory through settings
  server/charts/historian/templates/gitrest-configmap.yaml
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/treebuilder.spec.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest/config.json
Labels: area: server, base: main

#9685 Server Changes in Fluid Server Cluster Discovery Feature
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/index.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, public api change, base: main

#9783 Remove IFluidObject from IContainerRuntime.scope type
  BREAKING.md
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, breaking change, public api change, base: next

#9784 Remove Remaining IFluidObject References
  BREAKING.md
  api-report/data-object-base.api.md
  api-report/runtime-utils.api.md
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/types.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
Labels: area: framework, area: runtime, breaking change, public api change, base: next

#9786 Integrate main (up to tip) to next
  BREAKING.md
  api-report/container-loader.api.md
  api-report/fluid-static.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/loader.ts
  examples/data-objects/webflow/src/document/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/wordUnitTests.ts
  packages/dds/sequence/src/mapKernel.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
  server/tinylicious/.devcontainer/Dockerfile
Labels: area: examples, area: framework, area: server, area: runtime, area: loader, area: dds, breaking change, area: dds: sharedstring, area: definitions, public api change, base: next

#9790 Allow FluidObject to be used as object builder
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/src/provider.ts
  common/lib/core-interfaces/src/test/types/fluidObjectTypes.ts
Labels: area: definitions, public api change, base: next

#9687 Track some op telemetry
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opTelemetry.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
Labels: area: runtime, public api change, base: main

#9796 Identify when the legacy `_createDataStoreWithProps` API is used to create root datastores
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#9801 Remove FRS-Admin team from label maker config
  .github/labelmaker.yml
Labels: area: build, base: main

#9794 Bump core-interfaces and container-definitions in client
  experimental/framework/react/src/helpers/getFluidState.ts
  experimental/framework/react/src/helpers/getViewFromFluid.ts
  lerna-package-lock.json
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: framework, area: loader, area: dev experience, dependencies, base: next

#9797 Fix common utils and definitions versions
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
Labels: base: next

#9803 Integrate main (up to tip) to next
  .github/labelmaker.yml
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opTelemetry.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  server/charts/historian/templates/gitrest-configmap.yaml
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/treebuilder.spec.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/index.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, area: runtime, area: build, public api change, base: next

#9804 Add FRS-Contributors as internal team for label maker config.
  .github/labelmaker.yml
Labels: area: build, base: main

#9781 Added tests to validate visiblity of newly created data stores and DDS.
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/newFluidObjectVisibility.ts
Labels: area: tests, base: main

#9747 Rename snapshot to summarize, inline relevant code to build ISummarizeResult
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: tests, base: main

#9820 Issue #8483: Idle "write" client keeps submitting summaries (Nack: nonexistent client)
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, base: main

#9822 Use deterministic strategy for string interning on upgrade
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/utilities/SharedTreeVersioningTests.ts
Labels: area: dds, area: dds: tree, base: main

#9823 Optimize tree compression/decompression codepaths
  experimental/dds/tree/src/TreeCompressor.ts
Labels: area: dds, area: dds: tree, base: main

#9824 Fix inconsistent TreeView iteration
  experimental/dds/tree/src/TreeView.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
Labels: area: dds, area: dds: tree, base: main

#9788 Improve logging in DeltaScheduler
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
Labels: area: runtime, public api change, base: main

#9817 Update Documentation to FluidObject
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  packages/framework/aqueduct/README.md
  packages/framework/synthesize/README.md
Labels: documentation, area: framework, base: next

#9830 [r11s] Allowing kafka producer's maxBatchSize to be configurable
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#9828 Run policy-check
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, base: main

#9836 Fix wrong comment
  packages/runtime/container-runtime/src/deltaScheduler.ts
Labels: area: runtime, base: main

#9548 Simplified the attach / bind states in data store runtime. Fixed bug #9127.
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/fluidHandle.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#9853 Revert extra assertion in SharedTree fuzz tests while problem is root caused
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
Labels: area: dds, base: main

#9838 Add a regression test for inconsistent TreeView iteration
  experimental/dds/tree/src/test/TreeView.tests.ts
Labels: area: dds, base: main

#9856 Restore additional validation
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
Labels: area: dds, base: main

#9858 delete generator-fluid
  PACKAGES.md
  package.json
  tools/README.md
  tools/build-tools/data/exclusions.json
  tools/build-tools/data/layerInfo.json
  tools/build-tools/src/bumpVersion/README.md
  tools/generator-fluid/.gitignore
  tools/generator-fluid/.npmpackagejsonlintrc.json
  tools/generator-fluid/LICENSE
  tools/generator-fluid/README.md
  tools/generator-fluid/app/index.js
  tools/generator-fluid/app/templates/.gitignore
  tools/generator-fluid/app/templates/README-Simple.md
  tools/generator-fluid/app/templates/README.md
  tools/generator-fluid/app/templates/jest-puppeteer.config.js
  tools/generator-fluid/app/templates/jest.config.js
  tools/generator-fluid/app/templates/package.json
  tools/generator-fluid/app/templates/src/dataObject-simple.ts
  tools/generator-fluid/app/templates/src/dataObject-simple.tsx
  tools/generator-fluid/app/templates/src/dataObject.ts
  tools/generator-fluid/app/templates/src/dataObject.tsx
  tools/generator-fluid/app/templates/src/index.ts
  tools/generator-fluid/app/templates/src/interface.ts
  tools/generator-fluid/app/templates/src/view.ts
  tools/generator-fluid/app/templates/src/view.tsx
  tools/generator-fluid/app/templates/tests/diceRoller.test.ts
  tools/generator-fluid/app/templates/tsconfig.json
  tools/generator-fluid/app/templates/webpack.config.js
  tools/generator-fluid/package-lock.json
  tools/generator-fluid/package.json
  tools/generator-fluid/test/endToEnd.js
  tools/generator-fluid/test/testApp.js
  tools/pipelines/build-generator-fluid.yml
Labels: area: build, base: main

#9758 Minor copy editing fixes
  packages/dds/sequence/README.md
  packages/framework/undo-redo/README.md
  packages/framework/undo-redo/src/sequenceHandler.ts
  packages/framework/undo-redo/src/undoRedoStackManager.ts
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, base: main

#9648 Added GC mark phase of blobs uploaded externally via BlobManager
  api-report/container-runtime.api.md
  api-report/garbage-collector.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/runtime/garbage-collector/package.json
  packages/runtime/garbage-collector/src/garbageCollector.ts
  packages/runtime/garbage-collector/src/test/types/validateGarbageCollectorPrevious.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveDataStore.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcResummarizationTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/mockSummarizerClient.ts
Labels: area: runtime, area: tests, public api change, base: main

#9863 Additional policy check fixes
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
Labels: area: runtime, base: main

#9864 Fix back-compat comment added by #9548
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, base: main

#9859 Add missing uuid dependency to azure-service-utils
  api-report/azure-service-utils.api.md
  packages/framework/azure-service-utils/.eslintrc.js
  packages/framework/azure-service-utils/package.json
  packages/framework/azure-service-utils/src/generateToken.ts
  packages/framework/azure-service-utils/tsconfig.json
Labels: area: framework, public api change, base: main

#9879 Removing remaining ref to generator from build-tools
  tools/build-tools/src/bumpVersion/bumpDependencies.ts
  tools/build-tools/src/bumpVersion/context.ts
Labels: base: main

#9861 Be stricter in typescript build for tree dds
  lerna-package-lock.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/tsconfig.json
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/utils.ts
  packages/dds/tree/tsconfig.json
Labels: area: dds, dependencies, base: main

#9880 Update build tools ver to latest release
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions, base: main

#9890 Release 0.59.1000 - Revert "Let OrderedClientCollection track the summarizer client
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, base: release

#9892 upgrading async to 3.2.2 for /server
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
Labels: area: server, base: main

#9898 8947 Fix spelling of IOpPerfTelemetryProperties property
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#9773 send package version from driver to service for telemetry in Historian and R11s
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  server/historian/packages/historian-base/src/app.ts
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/services-client/src/constants.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/test/basicRestwrapper.spec.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
Labels: area: server, area: driver, public api change, base: main

#9896 Add view change events to Transaction
  experimental/dds/tree/src/Transaction.ts
  experimental/dds/tree/src/test/Transaction.tests.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#9191 Allow deli to manage read clients
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/protocol.ts
  server/routerlicious/packages/lambdas/src/broadcaster/lambda.ts
  server/routerlicious/packages/lambdas/src/broadcaster/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/lambdas/src/test/broadcaster/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-core/src/clientManager.ts
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/messages.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, public api change, base: main

#9857 Fix #9635 Summary data: Notes based on observation of telemetry data also Adding new test when election is disabled
  packages/runtime/container-runtime/src/orderedClientElection.ts
  packages/runtime/container-runtime/src/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
Labels: area: runtime, base: main

#9888 Update experimental/tree README and docs.
  experimental/dds/tree/README.md
  experimental/dds/tree/docs/Future.md
  experimental/dds/tree/docs/Write-Format.md
  experimental/dds/tree/src/ChangeTypes.ts
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/LogViewer.ts
  experimental/dds/tree/src/NodeIdUtilities.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/Transaction.ts
  experimental/dds/tree/src/TransactionInternal.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/LogViewer.tests.ts
  experimental/dds/tree/src/test/Virtualization.tests.ts
Labels: area: dds, area: dds: tree, base: main

#9901 TypeValidator: Add flatter broken format, and generateOnly mode
  tools/build-tools/src/typeValidator/packageJson.ts
  tools/build-tools/src/typeValidator/testGeneration.ts
  tools/build-tools/src/typeValidator/typeValidator.ts
Labels: base: main

#9903 Cherry pick d4c7e490 into release/0.59.1000
  experimental/dds/tree/README.md
  experimental/dds/tree/docs/Future.md
  experimental/dds/tree/docs/Write-Format.md
  experimental/dds/tree/src/ChangeTypes.ts
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/LogViewer.ts
  experimental/dds/tree/src/NodeIdUtilities.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/Transaction.ts
  experimental/dds/tree/src/TransactionInternal.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/LogViewer.tests.ts
  experimental/dds/tree/src/test/Virtualization.tests.ts
Labels: area: dds, base: release

#9895 Remove deprecated IFluidSerializer from core-interfaces
  BREAKING.md
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/fluidObject.ts
  common/lib/core-interfaces/src/index.ts
  common/lib/core-interfaces/src/serializer.ts
  common/lib/core-interfaces/src/test/types/validateCoreInterfacesPrevious.ts
Labels: breaking change, area: definitions, public api change, base: next

#9900 Add feature gate to test odsp binary wire snapshot
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
Labels: area: driver, area: tests, area: odsp-driver, public api change, base: main

#9912 Fix server dep versions in historian
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#9894 r11s: socket connection auth error recognition
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, area: driver, public api change, base: main

#9914 Add Support for generating type test in fluid-build
  tools/build-tools/src/fluidBuild/fluidPackageCheck.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  tools/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: base: main

#9919 Upgrading nconf to 0.11.4
  experimental/PropertyDDS/services/property-query-service/package.json
  lerna-package-lock.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/test/test-version-utils/package.json
  packages/tools/webpack-fluid-loader/package.json
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, area: driver, dependencies, area: tests, area: dds: propertydds, base: main

#9923 Fix to E2E Test
  lerna-package-lock.json
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
Labels: area: driver, dependencies, base: main

#9924 Fix to e2e test (#9923)
  lerna-package-lock.json
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
Labels: area: driver, dependencies, base: release

#9933 Patch bump 1650080938272
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: odsp-driver, area: definitions, base: release

#9934 Update type validation in main after package releases
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/test/types/validateCoreInterfacesPrevious.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.ts
Labels: area: definitions, base: main

#9935 Patch bump 1650084628274
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: definitions, public api change, base: release

#9936 [bump] package version for server (patch)
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: release

#9939 Update tinylicious dependencies to use released versions
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/routes/ordering/documents.ts
Labels: area: server, base: main

#9928 Upgrading winston to 3.6.0
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#9870 Add missing @types/expect-puppeteer deps
  examples/data-objects/primitives/tsconfig.json
  examples/data-objects/vltava/tsconfig.json
  examples/utils/bundle-size-tests/tsconfig.json
Labels: area: examples, base: main

#9944 don't regenerate annotate op on removed segment
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
Labels: area: dds, base: main

#9956 delete package locks which are out of date, and can not be installed
  examples/hosts/app-integration/external-controller/package-lock.json
  experimental/PropertyDDS/packages/property-changeset/package-lock.json
  experimental/PropertyDDS/packages/property-common/package-lock.json
  experimental/PropertyDDS/packages/property-properties/package-lock.json
  experimental/PropertyDDS/packages/property-query/package-lock.json
  packages/dds/tree/package-lock.json
Labels: area: examples, area: dds, area: dds: propertydds, base: main

#9955 Enable strict null in Merge Tree Tests
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.getPostion.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/client.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/tracking.spec.ts
  packages/dds/merge-tree/src/test/tsconfig.json
  packages/dds/merge-tree/src/test/wordUnitTests.ts
Labels: area: dds, public api change, base: main

#9849 Move Storage Urls from Tenant Metadata to Service Level
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian/config.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/foreman/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#9729 Azure client container recreation API.
  api-report/azure-client.api.md
  packages/framework/azure-client/package.json
  packages/framework/azure-client/src/AzureClient.ts
  packages/framework/azure-client/src/interfaces.ts
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/framework/azure-client/src/test/types/validateAzureClientPrevious.ts
Labels: area: framework, public api change, base: next

#9961 MergeTree: Fix split handling for local references
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Labels: area: dds, base: main

#9968 Improve documentation on LocalReferenceCollection
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/localReference.ts
Labels: area: dds, public api change, base: main

#9712 Offline API changes
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/runtime.ts
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
Labels: area: definitions, public api change, base: next

#9960 Pipeline: fail pack task if there are any error
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#9975 update package-locks for a clean npm install
  common/lib/container-definitions/package-lock.json
  common/lib/driver-definitions/package-lock.json
Labels: area: definitions, base: main

#9706 Client Changes in Fluid Server Cluster Discovery Feature
  api-report/routerlicious-driver.api.md
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/routerlicious-driver/src/urlUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/tools/webpack-fluid-loader/README.md
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/multiDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/multiResolver.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/tinylicious/src/routes/ordering/documents.ts
Labels: area: server, area: driver, area: r11s-driver, area: tests, public api change, area: azure fluid relay, base: main

#9947 Add `connect()` and `disconnect()` to `IFluidContainer` and `FluidContainer`
  BREAKING.md
  api-report/fluid-static.api.md
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.ts
Labels: area: framework, breaking change, public api change, base: main

#9950 Add opaque handle type for internalized SharedTree edits
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/SummaryTestUtilities.ts
  experimental/dds/tree/src/persisted-types/0.1.1.ts
  experimental/dds/tree/src/test/utilities/PendingLocalStateTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/SummarySizeTests.ts
Labels: area: dds, base: main

#9891 Fix early exit issue in summarizer
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
Labels: area: runtime, public api change, base: main

#9940 Add mergeEditsFrom API to support detached merge scenario
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
Labels: area: dds, base: main

#9970 Moving Summary Telemetry Types to the same file
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/runningSummarizer.spec.ts
Labels: area: runtime, base: main

#9983 Update 3 webpack configs that were left in a bad state from webpack-cli version migration
  examples/data-objects/monaco/webpack.config.js
  examples/data-objects/table-view/webpack.config.js
  examples/data-objects/webflow/webpack.config.js
Labels: area: examples, base: main

#9989 mitigate timeouts for some tree tests
  experimental/dds/tree/src/test/Forest.perf.tests.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
Labels: area: dds, base: main

#9661 Experimental Quorum DDS package
  api-report/quorum.api.md
  packages/dds/quorum/.eslintrc.js
  packages/dds/quorum/.gitignore
  packages/dds/quorum/.npmignore
  packages/dds/quorum/LICENSE
  packages/dds/quorum/README.md
  packages/dds/quorum/api-extractor.json
  packages/dds/quorum/package.json
  packages/dds/quorum/src/index.ts
  packages/dds/quorum/src/interfaces.ts
  packages/dds/quorum/src/packageVersion.ts
  packages/dds/quorum/src/quorum.ts
  packages/dds/quorum/src/quorumFactory.ts
  packages/dds/quorum/src/test/quorum.spec.ts
  packages/dds/quorum/src/test/tsconfig.json
  packages/dds/quorum/tsconfig.esnext.json
  packages/dds/quorum/tsconfig.json
Labels: area: dds, public api change, base: main

#9987 Convert more public API usages of ChangeInternal to use opaque handle type
  api-report/experimental-tree.api.md
  experimental/dds/tree/package.json
  experimental/dds/tree/src/Checkout.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/SummaryTestUtilities.ts
  experimental/dds/tree/src/Transaction.ts
  experimental/dds/tree/src/index.ts
  experimental/dds/tree/src/test/Summary.tests.ts
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/utilities/PendingLocalStateTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree/src/test/utilities/SharedTreeVersioningTests.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
Labels: area: dds, public api change, base: main

#9985 PropertyDDS misc cleanup
  experimental/PropertyDDS/examples/partial-checkout/webpack.config.js
  experimental/PropertyDDS/examples/property-inspector/webpack.config.js
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-inspector-table/src/EditReferencePath.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/ErrorPopup.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/HashCalculator.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTable.tsx
  experimental/PropertyDDS/packages/property-properties/src/index.d.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/abstractStaticCollectionProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/intProperties.js
  experimental/PropertyDDS/packages/property-properties/src/propertyUtils.js
  experimental/PropertyDDS/packages/property-properties/tsconfig.json
  experimental/PropertyDDS/packages/property-proxy/jest.config.js
  experimental/PropertyDDS/packages/property-proxy/src/arrayProxyHandler.ts
  lerna-package-lock.json
Labels: dependencies, area: dds: propertydds, base: main

#9927 implement sharedString.applyStashedOp()
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/sequence/src/sequence.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#9994 Update schema-upgrade demo to retrieve containerId from container post-attach
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/app.tsx
Labels: area: examples, base: main

#10001 Update @fluid-experimental/tree API report
  api-report/experimental-tree.api.md
Labels: public api change, base: main

#9999 Remove the Discovery Endpoint in the routerliciousTestDriver.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
Labels: area: tests, base: main

#9965 Ignoring server values for SummaryConfiguration
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: dds, base: main

#9427 Fix datastore reference validation for GC
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
Labels: area: runtime, area: tests, base: main

#9516 doc: add "Stored and View Schema" doc for tree
  packages/dds/tree/src/schema/Builders.ts
  packages/dds/tree/src/schema/Comparison.ts
  packages/dds/tree/src/schema/README.md
  packages/dds/tree/src/schema/Schema.ts
  packages/dds/tree/src/schema/SpecialSchema.ts
  packages/dds/tree/src/schema/Stored and View Schema.md
  packages/dds/tree/src/schema/StoredSchemaRepository.ts
  packages/dds/tree/src/schema/View.ts
  packages/dds/tree/src/schema/examples/JsonDomainSchema.ts
  packages/dds/tree/src/schema/examples/SchemaExamples.ts
  packages/dds/tree/src/test/StoredSchemaRepository.spec.ts
  packages/dds/tree/src/test/schema.spec.ts
Labels: area: dds, base: main

#9086 Introducing extension mechanism to load custom DB in Routerlicious
  server/routerlicious/docker-compose.yml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/copier/index.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-core/src/mongo.ts
  server/routerlicious/packages/services/src/dbFactory.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
  server/tinylicious/src/resourcesFactory.ts
  server/tinylicious/src/services/dbFactory.ts
  server/tinylicious/src/services/inMemorydb.ts
  server/tinylicious/src/services/levelDb.ts
  server/tinylicious/src/test/dbFactory.spec.ts
Labels: area: server, community-contribution, base: main

#10004 9818 track size of quorum when summary is generated
  api-report/container-runtime.api.md
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
Labels: area: runtime, area: loader, public api change, base: next

#10000 Tweak typing to prepare for typescript 4.5
  examples/data-objects/table-document/src/test/tableWithInterception.spec.ts
  examples/data-objects/webflow/src/test/layout.spec.ts
  experimental/examples/bubblebench/ot/src/proxy/tree.ts
  experimental/examples/bubblebench/sharedtree/src/proxy/tree.ts
  packages/dds/map/src/test/directory.spec.ts
  packages/dds/matrix/src/matrix.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/retryUtils.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTestsWithRedemption.spec.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/framework/dds-interceptions/src/test/sharedDirectoryWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedMapWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedStringWithInterception.spec.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/driver-utils/src/test/parallelRequests.spec.ts
  packages/runtime/container-runtime/src/test/summarizerHandle.spec.ts
  packages/runtime/datastore/src/test/localChannelStorageService.spec.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/odsp-doclib-utils/src/odspRequest.ts
  packages/utils/telemetry-utils/src/test/EventEmitterWithErrorHandling.spec.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: tests, area: odsp-driver, base: main

#9986 Add additional check to volunteer and abandon
  packages/dds/task-manager/src/taskManager.ts
Labels: area: dds, base: main

#10012 Npm policy check fix before release
  packages/dds/sequence/src/sequenceDeltaEvent.ts
Labels: area: dds, area: dds: sharedstring, release

#9871 Remove write method from IDocumentStorageService
  BREAKING.md
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/storage.ts
  common/lib/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.ts
Labels: breaking change, area: definitions, public api change, base: next

#10019 Property reason was being unconditionally overwritten when sending summarizeAttemptDelay event
  packages/runtime/container-runtime/src/runningSummarizer.ts
Labels: area: runtime, base: main

#9973 Avoiding Lumberjack error logs on unit tests and non-server environments
  .devcontainer/docker-compose.yml
  server/charts/fluid-metrics/templates/metrics-deployment.yaml
  server/charts/historian/templates/gitrest-deployment.yaml
  server/charts/historian/templates/historian-deployment.yaml
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/historian/docker-compose.yml
  server/routerlicious/docker-compose.yml
  server/routerlicious/kubernetes/jarvis/templates/alfred-deployment.yaml
  server/routerlicious/kubernetes/jarvis/templates/deli-deployment.yaml
  server/routerlicious/kubernetes/jarvis/templates/scriptorium-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/alfred-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/deli-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/foreman-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/riddler-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/scribe-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/scriptorium-deployment.yaml
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server, base: main

#10021 Consume new driver-definitions for container-definitions
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
Labels: area: definitions, base: next

#9996 Remove IFluidHTMLView from examples/data-objects/webflow
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/editor/editor.ts
  examples/data-objects/webflow/src/editor/index.ts
  examples/data-objects/webflow/src/html/formatters.ts
  examples/data-objects/webflow/src/index.ts
  examples/data-objects/webflow/src/view/layout.ts
Labels: area: examples, base: main

#10023 Use exact same version of mocha types everywhere
  common/lib/common-utils/package-lock.json
  server/gitrest/lerna-package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/tinylicious/package-lock.json
  tools/benchmark/package-lock.json
Labels: area: server, base: main

#10041 Support Per Driver itExpects events
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-version-utils/src/itExpects.ts
Labels: area: tests, base: main

#10043 [main > 0.59.2000]: Support Per Driver itExpects events (#10041)
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-version-utils/src/itExpects.ts
Labels: area: tests, base: release

#10033 Fix for 9905 - Investigate negative numbers on Summary's timeSinceLastAttempt field
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime, base: main

#10048 Remove deprecated function IDeltaManager.close()
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/deltas.ts
  common/lib/container-definitions/src/test/types/validateContainerDefinitionsPrevious.ts
Labels: breaking change, area: definitions, public api change, base: next

#10045 Bumping server dependencies
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/dds/xtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  server/tinylicious/src/services/inMemorycollection.ts
  server/tinylicious/src/test/dbFactory.spec.ts
Labels: area: framework, area: server, area: runtime, area: loader, area: driver, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#10051 Update custom-api-documenter to fix fluidframework.com API docs
  common/build/eslint-config-fluid/README.md
  docs/content/docs/data-structures/sequences.md
  docs/package-lock.json
  docs/package.json
Labels: documentation, area: website, base: main

#10017 Implement SharedMatrix.applyStashedOp()
  api-report/datastore-definitions.api.md
  api-report/matrix.api.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  api-report/shared-object-base.api.md
  packages/dds/map/src/map.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#10042 Update private/public package determination in policy-check
  tools/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#10066 Add mocha configuration for SharedTree workspace
  experimental/dds/tree/.vscode/SharedTree.code-workspace
  experimental/dds/tree/.vscode/settings.json
  experimental/dds/tree/src/test/.mocharc.js
Labels: base: main

#10073 Skip test because of version not loading
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
Labels: area: tests, src: test failure, base: release

#10071 Throw a consistent error from waitContainerToCatchUp on container close
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#10086 Document enableOfflineLoad requirement in BREAKING.md
  BREAKING.md
Labels: breaking change, base: next

#10072 Convert Monaco demo to React
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/src/index.ts
  examples/data-objects/monaco/src/view.ts
  examples/data-objects/monaco/src/view.tsx
  examples/data-objects/monaco/tsconfig.json
Labels: area: examples, base: main

#10080 Enable formatting rules in minimal lint config
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: base: main

#10085 Update documentation for container connection APIs
  docs/content/docs/build/containers.md
  packages/loader/container-loader/README.md
Labels: documentation, area: loader, base: main

#9650 Summary download & sanitization
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/quorum.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/container-utils/package.json
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: driver, area: tests, area: odsp-driver, base: main

#10044 Tag DDS IDs telemetry as PackageData
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime, base: main

#10046 Log summary config in telemetry
  packages/runtime/container-runtime/src/summarizer.ts
Labels: area: runtime, base: main
