Repository microsoft/FluidFramework, pull requests merged in 2022-08, with the labels that each got.

#11369 Fix build break in build-tools
  build-tools/lerna-package-lock.json
Labels: base: main

#11161 "Using Signals in Fluid" Recipe for FF.com
  docs/content/docs/recipes/signals.md
Labels: documentation, base: main

#11365 Fix wrongly annotated error as ServiceReadonlyErrorTooManyRetries
  packages/drivers/odsp-driver/src/retryUtils.ts
Labels: area: driver, area: odsp-driver, base: main

#11348 adding slash to buffer and moving buffer to dev dependency
  common/lib/common-utils/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/webpack.config.js
Labels: base: main

#11367 Removing Draft Status from Signaler articles
  docs/content/docs/concepts/signals.md
  docs/content/docs/recipes/signals.md
Labels: documentation, base: main

#11372 Update announcement since AFRS is generally available
  docs/config.yml
Labels: area: website, base: main

#11280 Migrate genMonoRepo to new build cli
  build-tools/packages/build-cli/src/commands/generate/packageJson.ts
  build-tools/packages/build-cli/test/commands/generate/packageJson.test.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/version-tools/README.md
Labels: base: main

#11359 Add test to check batch metadata on submit
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: next, msftbot: merge-next

#11377 Minor formatting fix to articles
  docs/content/docs/concepts/signals.md
  docs/content/docs/recipes/signals.md
Labels: documentation, base: main

#11379 Minor Formatting Fix Pt.2
  docs/content/docs/recipes/signals.md
Labels: documentation, base: main

#11336 Fix 404 error during HandleSummaryAckError error
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: tests, base: main

#11374 Prepare getTextAndMarkers for removal
  BREAKING.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  examples/data-objects/codemirror/src/codeMirrorView.ts
  examples/data-objects/smde/src/marked.ts
  examples/data-objects/smde/src/smde.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: examples, area: dds, breaking change, area: dds: sharedstring, area: tests, public api change, base: main

#11384 Small typo fixes in Signaler article
  docs/content/docs/concepts/signals.md
Labels: documentation, base: main

#11358 Deduping FluidDataStoreRegistry entries
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework, base: main

#11388 Simplify Marker.toString
  BREAKING.md
  api-report/merge-tree.api.md
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
Labels: area: examples, area: dds, breaking change, public api change, base: next

#11347 Updated documentation for updating snapshots
  packages/test/snapshots/README.md
Labels: area: tests, base: main

#11391 Run pipelines on lts branch
  tools/pipelines/build-azure-local-service.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-bundle-size-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/chart-copy-historian.yml
  tools/pipelines/chart-copy-routerlicious.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#11352 Tree: Fixup object-forest Cursor, reusing TextCursor
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  packages/dds/tree/src/test/treeTextCursor.spec.ts
Labels: area: dds, public api change, base: main

#11387 Reformatted Signaler article headers
  docs/content/docs/concepts/signals.md
Labels: documentation, base: main

#11397 [port to lts] Run pipelines on lts branch (#11391)
  tools/pipelines/build-azure-local-service.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-bundle-size-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/chart-copy-historian.yml
  tools/pipelines/chart-copy-routerlicious.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#11396 Demote `fluid:telemetry:Batching:Length` from error to performance
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/container-runtime/src/test/batchTracker.spec.ts
Labels: area: runtime, base: main

#11390 [port to lts] Deduping FluidDataStoreRegistry entries (#11358)
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework

#11401 Document bounce marks
  packages/dds/tree/src/changeset/format.ts
Labels: area: dds, base: main

#11108 Add a createTestId flag that allows user to create document with given testId
  packages/test/test-service-load/README.md
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, community-contribution, base: main

#11405 Bump common-utils to 1.0.0
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
Labels: base: main

#11371 Refactor getTextAndMarkers for better tree-shaking
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sharedString.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next

#11034 Clean up and update packages/ readmes
  packages/README.md
  packages/runtime/container-runtime-definitions/README.md
Labels: area: runtime, base: main

#11285 New high-level flow for data migration demo
  examples/hosts/app-integration/schema-upgrade/README.md
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/app.tsx
  examples/hosts/app-integration/schema-upgrade/src/appView.tsx
  examples/hosts/app-integration/schema-upgrade/src/containerKillBit/containerKillBit.ts
  examples/hosts/app-integration/schema-upgrade/src/containerKillBit/index.ts
  examples/hosts/app-integration/schema-upgrade/src/containerKillBit/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/dataHelpers.ts
  examples/hosts/app-integration/schema-upgrade/src/demoLoaders.ts
  examples/hosts/app-integration/schema-upgrade/src/externalData.ts
  examples/hosts/app-integration/schema-upgrade/src/index.html
  examples/hosts/app-integration/schema-upgrade/src/migrationInterfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/migrator.ts
  examples/hosts/app-integration/schema-upgrade/src/modelInterfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/index.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/modelLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/index.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/index.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
  examples/hosts/app-integration/schema-upgrade/src/view/debugView.tsx
  examples/hosts/app-integration/schema-upgrade/src/view/index.ts
  examples/hosts/app-integration/schema-upgrade/src/view/inventoryView.tsx
  examples/hosts/app-integration/schema-upgrade/src/view/modelView.tsx
  examples/hosts/app-integration/schema-upgrade/tests/index.tsx
  examples/hosts/app-integration/schema-upgrade/webpack.config.js
  experimental/framework/react-inputs/src/CollaborativeInput.tsx
Labels: area: examples, area: dev experience, base: main

#11411 Bump protocol-definitions to 1.0
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
Labels: base: main

#11409 Tree: split schema and forest indexes
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
Labels: area: dds, base: main

#11408 Removing articles from FF.com
  docs/content/docs/concepts/signals.md
  docs/content/docs/recipes/signals.md
Labels: documentation, base: main

#11395 Change time interval in merlin bot
  .github/fabricbot.json
Labels: area: build, base: main

#11413 Bump server dependencies on protocol-defs to 1.0 prerelease
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/package.json
  server/azure-local-service/package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#11351 Remove `IContainerRuntime.CreateRootDataStore`
  BREAKING.md
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  examples/data-objects/multiview/constellation-model/src/model.ts
  examples/data-objects/multiview/container/src/container.tsx
  examples/data-objects/todo/src/index.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/src/TestConfigs.ts
Labels: area: examples, area: runtime, breaking change, area: tests, public api change, base: main

#11306 Refactor InspectorTable to be configurable
  experimental/PropertyDDS/packages/property-inspector-table/.storybook/main.js
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-inspector-table/src/DecoratedSelect.stories.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/EditableValueCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/Field.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTable.stories.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTable.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableFooter.stories.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/InspectorTableTypes.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ModalManager.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NameCell.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataForm.stories.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataForm.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/NewDataRow.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Boolean.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Enum.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/Number.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/String.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/PropertyViews/index.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/ThemedSkeleton.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/TooltipedField.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/TypeColumn.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/constants.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/index.ts
  experimental/PropertyDDS/packages/property-inspector-table/src/propertyInspectorUtils.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/utils.tsx
  experimental/PropertyDDS/packages/property-inspector-table/src/webpack.index.ts
  experimental/PropertyDDS/packages/property-inspector-table/test/InspectorTable.spec.tsx
  experimental/PropertyDDS/packages/property-inspector-table/test/Utils.spec.tsx
  experimental/PropertyDDS/packages/property-inspector-table/test/common.ts
  experimental/PropertyDDS/packages/property-inspector-table/test/testUtils.tsx
  experimental/PropertyDDS/packages/property-inspector-table/tsconfig.json
  lerna-package-lock.json
  package-lock.json
Labels: dependencies, area: dds: propertydds, community-contribution, base: main

#11422 [GitRest] Implementing soft delete for summaries
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/index.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
Labels: area: server, base: main

#11381 Update markdown-magic template for "Getting Started" formatting
  azure/packages/external-controller/README.md
  docs/md-magic.config.js
  examples/apps/collaborative-textarea/README.md
  examples/apps/contact-collection/README.md
  examples/apps/spaces/README.md
  examples/apps/view-framework-sampler/README.md
  examples/data-objects/canvas/README.md
  examples/data-objects/clicker/README.md
  examples/data-objects/codemirror/README.md
  examples/data-objects/diceroller/README.md
  examples/data-objects/monaco/README.md
  examples/data-objects/multiview/container/README.md
  examples/data-objects/presence-tracker/README.md
  examples/data-objects/prosemirror/README.md
  examples/data-objects/shared-text/README.md
  examples/data-objects/smde/README.md
  examples/data-objects/table-view/README.md
  examples/data-objects/task-selection/README.md
  examples/data-objects/todo/README.md
  examples/data-objects/vltava/README.md
  examples/data-objects/webflow/README.md
  examples/hosts/app-integration/container-views/README.md
  examples/hosts/app-integration/external-views/README.md
  examples/hosts/app-integration/schema-upgrade/README.md
  examples/hosts/hosts-sample/README.md
Labels: area: examples, area: website, base: main

#11380 docs: Update README
  common/build/eslint-config-fluid/README.md
Labels: base: main

#10850 docs: Improve API docs in `common/lib` packages
  api-report/routerlicious-driver.api.md
  azure/packages/azure-client/src/AzureUrlResolver.ts
  common/lib/common-definitions/api-report/common-definitions.api.md
  common/lib/common-definitions/package.json
  common/lib/common-definitions/src/events.ts
  common/lib/common-definitions/src/logger.ts
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/README.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/summary.ts
  common/lib/protocol-definitions/src/tokens.ts
  packages/drivers/routerlicious-driver/src/tokens.ts
Labels: area: driver, public api change, base: main

#11398 Restore broken support for SharedIntervalCollection
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/sharedIntervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#11427 [port to 1.2] Deduping FluidDataStoreRegistry entries (#11358) (#11390)
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework

#11429 Update common-utils to 1.0 prerelease in server
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#11260 Whiteboard undo redo bug
  experimental/dds/tree/src/HistoryEditFactory.ts
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/HistoryEditFactory.tests.ts
Labels: area: dds, base: main

#11431 Bump azure to use 1.2.3 prerelease of client
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
Labels: base: release

#11343 Removed IGarbageCollectionSummaryDetails and getInitialGCSummaryDetails
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, public api change, base: next, msftbot: merge-next

#11440 Tagging asserts in preparation for release
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/catchUpMonitor.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaQueue.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: odsp-driver, base: main

#11447 [bump] server: update prerelease dependencies to release versions
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#11448 Remove prerelease deps in server
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#11444 Attempt to fix AB 218 - Files with lot of unsummarized Ops.
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime, base: main

#11435 Fix contentType header parsing in fetch snapshot
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, base: main

#11443 Accept both json and binary in trees latest stress test
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#11436 Enabling last skipped stashed ops tests
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/summaryCollection.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: loader, area: tests, base: main

#11208 Individual Op Compression
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: next, msftbot: merge-next

#10769 R11s: Routing/Discovery Validation and Edge Case Fixes
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/lambdas/src/utils/validateDocument.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, public api change, base: main

#11438 bot config updates
  .github/fabricbot.json
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#11441 Tree: Split out TreeTypeSet
  api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/schema-stored/comparison.ts
  packages/dds/tree/src/schema-stored/index.ts
  packages/dds/tree/src/schema-stored/schema.ts
  packages/dds/tree/src/test/schema-stored/comparison.spec.ts
Labels: area: dds, public api change, base: main

#11459 Revert "Attempt to fix AB 218 - Files with lot of unsummarized Ops. (…
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime, base: main

#11415 Stochastic: Implement distributions and replace 'random-js' with XSadd
  .vscode/settings.json
  experimental/dds/tree/src/test/AppendOnlySortedMap.perf.tests.ts
  experimental/dds/tree/src/test/SessionIdNormalizer.tests.ts
  experimental/dds/tree/src/test/fuzz/Generators.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/test/stochastic-test-utils/package.json
  packages/test/stochastic-test-utils/src/distributions/index.ts
  packages/test/stochastic-test-utils/src/distributions/integer.ts
  packages/test/stochastic-test-utils/src/distributions/normal.ts
  packages/test/stochastic-test-utils/src/distributions/real.ts
  packages/test/stochastic-test-utils/src/generators.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/src/random.ts
  packages/test/stochastic-test-utils/src/test/generators.spec.ts
  packages/test/stochastic-test-utils/src/test/random.bench.ts
  packages/test/stochastic-test-utils/src/test/random.spec.ts
  packages/test/stochastic-test-utils/src/test/utils.ts
  packages/test/stochastic-test-utils/src/types.ts
  packages/test/stochastic-test-utils/src/xsadd.ts
Labels: area: dds, area: contributor experience, area: dds: sharedstring, area: tests, base: main

#11083 Milan multiple compression
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTreeExt.ts
  experimental/PropertyDDS/packages/property-dds/src/propertyTreeExtFactories.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
Labels: area: dds: propertydds, community-contribution, base: main

#11454 Implement SharedTreeCore.processCore using EditManager
  packages/dds/tree/src/change-family/changeEncoder.ts
  packages/dds/tree/src/change-family/changeFamily.ts
  packages/dds/tree/src/change-family/index.ts
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeset.ts
  packages/dds/tree/src/shared-tree-core/fence.json
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, base: main

#11439 Fixing some typos in comments
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/contracts.ts
Labels: area: loader, base: main

#11455 Add describeFuzz to support fuzz-specific pipeline stress runs
  experimental/dds/tree/package.json
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/test/stochastic-test-utils/README.md
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/tsconfig.json
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#11463 Small improvements and bug fixes for schema migration
  examples/hosts/app-integration/schema-upgrade/src/demoLoaders.ts
  examples/hosts/app-integration/schema-upgrade/src/migrator.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/modelLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
Labels: area: examples, base: main

#11414 Add more unit tests to fluid-runner
  packages/tools/fluid-runner/README.md
  packages/tools/fluid-runner/src/codeLoaderBundle.ts
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/getArgsValidationError.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/badCodeLoader.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/badFluidFileConverter.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
Labels: base: main

#11457 Test/modify db
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#11460 Bump to released version of protocol-definitions.
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/package.json
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#11118 Save pending blobs when stashing ops and re-upload in new container
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#11473 Bot config update
  .github/fabricbot.json
Labels: area: build, base: main

#11419 Remove flushMode tracking from PendingStateManager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: next, msftbot: merge-next

#11462 IntervalCollection fuzz: allow insert at end of string
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#11471 Update package-lock with lz4js dependency to fix CG build error
  lerna-package-lock.json
  package-lock.json
Labels: dependencies, base: main

#11177 Single network call for create file and create share link
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/README.md
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/buildOdspShareLinkReqParams.spec.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, breaking change, area: tests, area: odsp-driver, community-contribution, public api change, base: main

#11468 Tree: Use 'stochastic-test-utils' instead of 'random-js' for canada.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/domains/json/json.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
Labels: area: dds, base: main

#11125 In stress test, added readBlob without eventListener, and logging errors
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#11449 [bump] server: 0.1037.1000 => 0.1037.2000 (minor)
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#11474 Add documentation for merge tree node state fields
  api-report/merge-tree.api.md
  packages/dds/merge-tree/README.md
  packages/dds/merge-tree/src/mergeTreeNodes.ts
Labels: area: dds, public api change, base: main

#11479 [bump] @fluidframework/build-common: 1.0.0 => 1.1.0 (minor)
  common/build/build-common/package-lock.json
  common/build/build-common/package.json
Labels: base: main

#11480 Improve comment in SummaryManager.getShouldSummarizeState()
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summarizer.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.ts
Labels: area: runtime, public api change, base: next, msftbot: merge-next

#11488 [r11s] Preventing empty properties in http metrics
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#11466 Fix genMonoRepoPackageJson command in new build-cli
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/commands/generate/packageJson.ts
  build-tools/packages/build-cli/src/genMonoRepoPackageJson.ts
  build-tools/packages/build-cli/test/commands/generate/packageJson.test.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  build-tools/packages/build-tools/src/index.ts
Labels: base: main

#11489 Publish test file artifacts for DDS packages with fuzz tests
  experimental/dds/tree/package.json
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
Labels: area: dds, area: dds: sharedstring, base: main

#11446 Readme for location redirection handling for hosts/apps
  packages/loader/location-redirection-utils/README.md
Labels: area: loader, base: main

#11483 Add tests for GC's UnreferencedStateTracker
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/gcUnreferencedStateTracker.spec.ts
Labels: area: runtime, base: main

#11499 Improvements to GC Timer logic
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, base: main

#11368 add reason in closeAndGetPendingLocalState
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#11503 [port to lts] R11s driver: force rediscovery after disconnected (#10749)
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, public api change

#11502 [port to 1.2] R11s driver: force rediscovery after disconnected (#10749)
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, public api change, base: release

#11505 Tree: clarify requirements for ChangeRebaser
  api-report/tree.api.md
  packages/dds/tree/src/change-family/changeFamily.ts
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, public api change, base: main

#11497 [port to release/azure/1.0] Azure client unit tests coverage (#11344)
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/azure-client/src/test/AzureClientFactory.ts
  azure/packages/azure-client/src/test/AzureTokenFactory.ts
  azure/packages/azure-client/src/test/TestDataObject.ts
Labels: base: release

#11510 Only init SharedTree index when blob is present
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
Labels: area: dds, base: main

#11500 Simplify state machine of pending summary state after summary is submitted
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
Labels: area: runtime, base: main

#11470 Add note to all recipes affected by buffer to install package
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/teams.md
Labels: documentation, base: main

#11513 Test for shared directory LWW approach
  packages/dds/map/src/test/directory.spec.ts
Labels: area: dds, base: main

#11486 Merge model loading into the container code as a request handler
  examples/hosts/app-integration/schema-upgrade/src/demoLoaders.ts
  examples/hosts/app-integration/schema-upgrade/src/migrator.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelLoading/modelLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/index.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/index.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
  examples/hosts/app-integration/schema-upgrade/tests/index.tsx
Labels: area: examples, base: main

#11504 Move schedule manager to its own file
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/scheduleManager.spec.ts
Labels: area: runtime, base: main

#11432 Add azurecli as codepsace feature
  .devcontainer/devcontainer.json
Labels: base: main

#11514 update interface `ISummarizerInternalsProvider.refreshLatestSummaryAck`
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next

#11492 Second Attempt to fix AB 218 - Files with lot of unsummarized Ops.
  packages/runtime/container-runtime/src/summaryManager.ts
  packages/runtime/container-runtime/src/test/summaryManager.spec.ts
Labels: area: runtime, base: main

#11456 version-tools: Add functions to get latest version from list of versions
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/src/commands/version.ts
  build-tools/packages/version-tools/src/commands/version/latest.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/test/schemes.test.ts
Labels: base: main

#11490 Fix typos in Stored and View Schema doc
  packages/dds/tree/src/schema-stored/Stored and View Schema.md
Labels: area: dds, base: main

#11524 Bump azure dependencies on client to 1.2.3
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
Labels: base: release

#11506 Implement anchor rebasing
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visit.spec.ts
  packages/dds/tree/src/tree/anchorSet.ts
  packages/dds/tree/src/tree/visitDelta.ts
Labels: area: dds, public api change, base: main

#11472 add bundlers document
  docs/content/docs/bundlers.md
Labels: documentation, base: main

#11532 Remove it.only from test
  experimental/dds/tree/src/test/Checkout.tests.ts
Labels: area: dds, base: main

#11525 [bump] azure: 1.0.2 => 1.0.3 (patch)
  azure/lerna.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/packageVersion.ts
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/packageVersion.ts
  azure/packages/external-controller/package.json
Labels: base: release

#11522 More GC Config Tests
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: main

#11534 don't submit BlobAttach op if disposed
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#11498 Move TelemetryNullLogger to telemetry-utils
  BREAKING.md
  api-report/telemetry-utils.api.md
  common/lib/common-utils/api-report/common-utils.api.md
  common/lib/common-utils/src/logger.ts
  common/lib/common-utils/src/packageVersion.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/loader/driver-utils/src/test/blobAggregation.spec.ts
  packages/loader/driver-utils/src/test/runWithRetry.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: runtime, area: loader, area: driver, area: dds, breaking change, area: tests, area: odsp-driver, public api change, base: next, msftbot: merge-next

#11527 Update Node version requirement to 14 consistently across the repo
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/_includes/node-versions.md
  server/azure-local-service/package.json
  server/routerlicious/README.md
  server/tinylicious/package.json
Labels: area: server, area: website, base: main

#11423 Implement local rollback for delete from SharedString
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, public api change, base: main

#11545 Remove pending summary logging
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
Labels: area: runtime, base: main

#11526 Patch node's http.request to force keep-alive to reused connections in tests
  packages/test/test-drivers/src/factory.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  server/tinylicious/.vscode/launch.json
  server/tinylicious/src/services/webServerFactory.ts
Labels: area: server, area: tests, base: main

#11546 Remove unecessary code from Pull Request #11545
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
Labels: area: runtime

#11290 feat(snapshots): use semantic equality for SharedMatrix in snapshot tests
  packages/tools/replay-tool/package.json
  packages/tools/replay-tool/src/replayFluidFactories.ts
  packages/tools/replay-tool/src/replayMessages.ts
  packages/utils/tool-utils/src/snapshotNormalizer.ts
Labels: base: main

#11220 Improve asymptotics of merge-tree reconnect
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
Labels: area: dds, public api change, base: main

#11531 Nit: Fix 'Changeset' capitalization, wrong-cased filenames, Canada type decl
  api-report/tree.api.md
  packages/dds/tree/docs/modules.md
  packages/dds/tree/docs/semantic-format/README.md
  packages/dds/tree/docs/wip/anchorInterfaces.ts
  packages/dds/tree/docs/wip/changeset.ts
  packages/dds/tree/src/feature-libraries/defaultRebaser.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/rebase/rebaser.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/domains/json/json.ts
  packages/dds/tree/src/test/schema-stored/StoredSchemaRepository.spec.ts
  packages/dds/tree/src/test/schema-stored/examples/schemaExamples.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, public api change, base: main

#11541 Update jsprim and json-schema dependency
  common/lib/common-utils/package-lock.json
  lerna-package-lock.json
  server/gitrest/lerna-package-lock.json
  server/gitrest/package-lock.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/routerlicious/lerna-package-lock.json
  tools/getkeys/package-lock.json
Labels: area: server, dependencies, base: main

#11539 change inaccurate comment
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
Labels: area: driver, area: odsp-driver, base: main

#11360 add dds handlers for gc sweep test
  packages/test/test-gc-sweep-tests/package.json
  packages/test/test-gc-sweep-tests/src/channelHandler.ts
  packages/test/test-gc-sweep-tests/src/containerDataObjectManager.ts
  packages/test/test-gc-sweep-tests/src/containerManager.ts
  packages/test/test-gc-sweep-tests/src/fluidObjectTracker.ts
  packages/test/test-gc-sweep-tests/src/handlesTracker.ts
  packages/test/test-gc-sweep-tests/src/ignoreErrorLogger.ts
  packages/test/test-gc-sweep-tests/src/test/gcSweepTest.spec.ts
  packages/test/test-gc-sweep-tests/src/testDataObjects.ts
Labels: area: tests, base: main

#11544 Fix for reporting correct bundle size
  build-tools/packages/build-tools/src/bundleSizeAnalysis/dangerfile.ts
  tools/bundle-size-tools/src/ADO/AdoSizeComparator.ts
  tools/bundle-size-tools/src/utilities/gitCommands.ts
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#11552 [server] Bumping server package version in gitrest and historian
  server/gitrest/lerna-package-lock.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
Labels: area: server, base: main

#11551 Upgrading node-rdkafka 2.11->2.13
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
Labels: area: server, base: main

#11557 Updates amqplib dependencies
  server/historian/lerna-package-lock.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/services/package.json
Labels: area: server, base: main

#11559 Fix PendingStateManager replayPendingStates
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, base: next, msftbot: merge-next

#11418 Bot to approve and merge integrate prs
  .github/fabricbot.json
Labels: area: build, base: main

#11566 Temporarily revert the tinylicious http settings and do not call patc…
  packages/test/test-drivers/src/factory.ts
Labels: area: tests, base: main

#11553 Tree: expand readme
  packages/dds/tree/README.md
  packages/dds/tree/src/transaction/README.md
  packages/dds/tree/src/transaction/transaction.ts
Labels: area: dds, base: main

#11573 Update description
  .github/workflows/merge-commits.yml
Labels: base: main

#11576 Accept both json and binary in trees latest stress test (#11443)
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: release

#11577 stress test: check if disposed before calling set
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: tests, base: main

#11563 Data migration demo: Add ability to transform exported data before importing into the new model
  examples/hosts/app-integration/schema-upgrade/src/dataTransform.ts
  examples/hosts/app-integration/schema-upgrade/src/demoCodeLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/externalData.ts
  examples/hosts/app-integration/schema-upgrade/src/migrationInterfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/migrator.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
Labels: area: examples, base: main

#11469 Tree: Field kinds
  api-report/tree.api.md
  packages/dds/tree/src/change-family/changeEncoder.ts
  packages/dds/tree/src/domains/fence.json
  packages/dds/tree/src/domains/json/fence.json
  packages/dds/tree/src/domains/json/jsonDomainSchema.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultSchema.ts
  packages/dds/tree/src/feature-libraries/fence.json
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/README.md
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fence.json
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema.ts
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/editableForest.ts
  packages/dds/tree/src/forest/forest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/rebase/fence.json
  packages/dds/tree/src/schema-stored/builders.ts
  packages/dds/tree/src/schema-stored/fence.json
  packages/dds/tree/src/schema-stored/index.ts
  packages/dds/tree/src/schema-stored/schema.ts
  packages/dds/tree/src/schema-stored/specialSchema.ts
  packages/dds/tree/src/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/schema-view/index.ts
  packages/dds/tree/src/schema-view/view.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema.spec.ts
  packages/dds/tree/src/test/objectForest.spec.ts
  packages/dds/tree/src/test/schema-stored/StoredSchemaRepository.spec.ts
  packages/dds/tree/src/test/schema-stored/comparison.spec.ts
  packages/dds/tree/src/test/schema-stored/examples/schemaExamples.ts
  packages/dds/tree/src/test/treeTextCursor.spec.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, public api change, base: main

#11554 FluidContainer now emitting errors when disposed
  BREAKING.md
  api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/tinylicious-client/package.json
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: framework, breaking change, public api change, base: next

#11582 Allow querying for interval from its local reference endpoint
  api-report/sequence.api.md
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#11484 Changeset Inverses Brain Dump Doc
  packages/dds/tree/docs/wip/inverse-changes/README.md
Labels: area: dds, base: main

#11583 "It's" madness
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
  packages/common/container-definitions/src/deltas.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/forest/cursor.ts
  packages/dds/tree/src/tree/visitDelta.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/test/test-utils/src/timeoutUtils.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/thresholdCounter.ts
  tools/bundle-size-tools/src/ADO/getCommentForBundleDiff.ts
  tools/bundle-size-tools/src/statsProcessors/bundleBuddyConfigProcessor.ts
  tools/pipelines/dependency-injection/README.md
Labels: area: runtime, area: dds, area: build, area: tests, base: main

#11595 Temporary disable generateServiceSummary in t9s
  server/tinylicious/src/resourcesFactory.ts
Labels: area: server, base: main

#11596 Update tinylicious dependencies
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
Labels: area: server, base: main

#11568 disable message batching for Azure customers
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: framework, area: tests, base: main

#11555 SharedTree implements basic checkout
  api-report/tree.api.md
  lerna-package-lock.json
  package-lock.json
  packages/dds/tree/package.json
  packages/dds/tree/src/checkout/checkout.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/index.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/fence.json
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/transaction/fence.json
  packages/dds/tree/src/transaction/index.ts
  packages/dds/tree/src/transaction/transaction.ts
  packages/dds/tree/src/tree/anchorSet.ts
Labels: area: dds, dependencies, public api change, base: main

#11597 Update tinylicious dependency and fix AB#1454
  lerna-package-lock.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-drivers/src/factory.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-service-load/package.json
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
Labels: area: framework, area: server, dependencies, area: tests, base: main

#11588 Tree: add a few more exports
  api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/util/brand.ts
Labels: area: dds, public api change, base: main

#11518 Use describeFuzz in merge-tree test farms
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/test/stochastic-test-utils/src/describeFuzz.ts
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#11592 Quorum polish and adding stopping state to migrationTool
  api-report/quorum.api.md
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/hosts/app-integration/schema-upgrade/src/migrationInterfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/migrationTool/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/migrationTool/migrationTool.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerModel.ts
  examples/hosts/app-integration/schema-upgrade/src/view/debugView.tsx
  examples/hosts/app-integration/schema-upgrade/src/view/modelView.tsx
  packages/dds/quorum/README.md
  packages/dds/quorum/package.json
  packages/dds/quorum/src/interfaces.ts
  packages/dds/quorum/src/packageVersion.ts
  packages/dds/quorum/src/quorum.ts
  packages/dds/quorum/src/test/quorum.spec.ts
Labels: area: examples, area: dds, public api change, base: main

#11601 Update deployment details with updated helm chart versions and values
  server/routerlicious/kubernetes/README.md
  server/routerlicious/kubernetes/nginx/README.md
Labels: area: server, base: main

#11590 Tree: Readme diagrams
  packages/dds/tree/README.md
  packages/dds/tree/src/shared-tree/sharedTree.ts
Labels: area: dds, base: main

#11571 Add timeAwait to print the detailed error message
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: tests, base: main

#11609 Tree DDS EditManager fixes and tests
  packages/dds/tree/src/edit-manager/editManager.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
Labels: area: dds, base: main

#11520 Basic Tree DDS change rebasing
  packages/dds/tree/src/changeset/format.ts
  packages/dds/tree/src/changeset/index.ts
  packages/dds/tree/src/changeset/markListFactory.ts
  packages/dds/tree/src/changeset/toDelta.ts
  packages/dds/tree/src/changeset/utils.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/index.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/test/changeset/samples.ts
  packages/dds/tree/src/test/changeset/toDelta.spec.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/sequence-change-family/cases.ts
  packages/dds/tree/src/test/sequence-change-family/compose.spec.ts
  packages/dds/tree/src/test/sequence-change-family/invert.spec.ts
  packages/dds/tree/src/test/sequence-change-family/markListFactory.spec.ts
  packages/dds/tree/src/test/sequence-change-family/rebase.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/util/offsetList.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/offsetList.ts
  packages/dds/tree/src/util/stackyIterator.ts
Labels: area: dds, base: main

#11586 Moved bundlers.md into build with fluid directory
  docs/content/docs/build/bundlers.md
Labels: documentation, base: main
