Repository microsoft/FluidFramework, pull requests merged in 2022-01, with the labels that each got.

#8629 Support Configuration to enable Summarizing Protocol Tree
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change

#8559 Close container after 30 days
  api-report/container-utils.api.md
  common/lib/container-definitions/BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/error.ts
  common/lib/container-definitions/src/test/types/validate0.40.0.ts
  common/lib/container-definitions/src/test/types/validate0.41.0.ts
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
Labels: area: runtime, area: loader, area: test, area: definitions, public api change

#8640 [bump] package version for container-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.44.0.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#8643 Remove prelease dependencies on release packages
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds

#8617 Adding files to create docker image to run scale tests on AKS.
  packages/test/test-service-load/.dockerignore
  packages/test/test-service-load/Dockerfile
  packages/test/test-service-load/README.md
  packages/test/test-service-load/fluid-scale-test.yaml
  packages/test/test-service-load/testRunner.sh
Labels: area: test

#8638 Convert container-loader API definitions to return IQuorumClients
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/runtime.ts
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
  examples/hosts/hosts-sample/src/utils.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: examples, area: loader, breaking change, area: definitions, public api change

#8636 r11s-driver: enable RestLess by default
  lerna-package-lock.json
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  server/azure-local-service/package-lock.json
  server/azure-local-service/package.json
Labels: area: framework, area: server, area: driver, dependencies, area: test

#8649 Add typevalidation for 0.54.0
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.54.0.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.54.0.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.54.0.ts
Labels: area: runtime, dependencies

#8650 Fix container-definitions build
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.44.0.ts
Labels: area: definitions

#8651 Fix on-demand summary test failure with real service
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: test

#8611 Renamed IGarbageCollectionSummaryDetails -> IGarbageCollectionBaseDetails - Part 1
  api-report/garbage-collector.api.md
  api-report/runtime-definitions.api.md
  api-report/runtime-utils.api.md
  api-report/test-runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.51.1.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.52.0.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.53.0.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
Labels: area: runtime, area: test, public api change

#8653 Add test for loading contianer from snapshot cache in offline case for odsp driver
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
Labels: testing, area: test

#8655 Turn get-ops off by default and put behind config
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#8658 r11s-driver: replace Axios with Fetch() API
  lerna-package-lock.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver, dependencies

#8660 Port to 0.54: Turn get-ops off by default and put behind config (#8655)
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#8639 ODSP: Clear joinSessionCache on "server_disconnect" with 401/403
  packages/drivers/odsp-driver/src/odspDocumentService.ts
Labels: area: driver, area: odsp-driver

#8602 Added new root data store detection and GC references validation.
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/src/dataStoreHandleContextUtils.ts
Labels: area: runtime, public api change

#8646 Adding script to create aks infra and run scale test
  .github/workflows/deployLoadTestToAks.yml
  packages/test/test-service-load/runLoadTestOnAks.ps1
  packages/test/test-service-load/testConfig.json
Labels: area: build, area: test

#8679 Deprecate IFluidConfiguration and all usages, remove configuration from ContainerRuntime
  BREAKING.md
  api-report/container-runtime.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/src/fluidLoadable.ts
  examples/data-objects/smde/package.json
  examples/data-objects/smde/src/smde.ts
  lerna-package-lock.json
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: examples, area: runtime, area: loader, breaking change, dependencies, area: definitions, public api change

#8673 Deprecate .wait() on map and directory
  BREAKING.md
  api-report/map.api.md
  examples/agents/intelligence-runner-agent/src/intelRunner.ts
  examples/data-objects/canvas/src/canvas.ts
  examples/data-objects/monaco/src/chaincode.ts
  examples/data-objects/shared-text/src/component.ts
  examples/data-objects/shared-text/src/document.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/shared-text/src/utils.ts
  examples/data-objects/table-document/src/document.ts
  examples/data-objects/webflow/package.json
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/index.ts
  experimental/PropertyDDS/examples/partial-checkout/src/app.tsx
  experimental/PropertyDDS/examples/partial-checkout/src/dataObject.ts
  experimental/PropertyDDS/examples/property-inspector/src/app.tsx
  experimental/PropertyDDS/examples/property-inspector/src/dataObject.ts
  packages/dds/map/src/interfaces.ts
  packages/runtime/agent-scheduler/src/scheduler.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.54.0.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: examples, area: runtime, area: dds, breaking change, area: test, area: dds: propertydds, public api change

#8681 Check SummaryManager state before calling stop
  packages/runtime/container-runtime/src/summaryManager.ts
Labels: area: runtime

#8692 Remove visibility event listener upon container disposal
  packages/loader/container-loader/src/container.ts
Labels: area: loader, community-contribution

#8688 Remove Legacy Data Objects and Factories
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/index.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: framework, breaking change, public api change

#8603 Improve Bundle Size Tests
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/src/aqueduct.ts
  examples/utils/bundle-size-tests/src/containerRuntime.ts
  examples/utils/bundle-size-tests/src/loader.ts
  examples/utils/bundle-size-tests/webpack.config.js
Labels: area: examples

#8678 Test that the container session matches for the same document
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
Labels: area: test

#8700 Remove defaultSessionExpiryMs
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#8699 Fix code owners
  .github/code_owners.yml
Labels: area: build

#8705 Throw original callback exception in `orderSequentially`
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#8706 Replacing deprecated TableDocument usage with SharedMatrix
  examples/data-objects/table-view/package.json
  examples/data-objects/table-view/src/grid.ts
  examples/data-objects/table-view/src/tableview.ts
Labels: area: examples

#8641 Remove innerRequestHandler
  BREAKING.md
  api-report/request-handler.api.md
  api-report/test-utils.api.md
  examples/apps/spaces/src/container.ts
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/key-value-cache/src/index.ts
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/scribe/src/scribe.ts
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/smde/src/index.ts
  examples/data-objects/table-document/src/test/tableWithInterception.spec.ts
  examples/data-objects/todo/src/index.tsx
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/data-object-base/src/runtimeFactory.ts
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/request-handler/src/test/requestHandlers.spec.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/test/test-utils/src/localCodeLoader.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: examples, area: framework, area: dds, breaking change, area: test, area: dds: propertydds, public api change

#8711 Throw original callback exception in `orderSequentially` (#8705) - release patch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#8717 Stress test fix for innerRequestHandler
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: test

#8695 Remove IFluidHTMLView usage from several examples
  examples/apps/collaborative-textarea/src/app.ts
  examples/apps/collaborative-textarea/src/fluid-object/index.ts
  examples/apps/collaborative-textarea/tests/index.ts
  examples/data-objects/diceroller/package.json
  examples/data-objects/diceroller/src/index.ts
  examples/data-objects/diceroller/src/main.tsx
  examples/data-objects/prosemirror/src/componentView.ts
  examples/data-objects/webflow/package.json
  examples/data-objects/webflow/src/host/index.ts
  examples/data-objects/webflow/src/host/webFlow.ts
  examples/data-objects/webflow/src/index.ts
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/app-integration/container-views/src/app.ts
  examples/hosts/app-integration/container-views/src/containerCode.ts
  examples/hosts/app-integration/container-views/src/model.ts
  examples/hosts/hosts-sample/package.json
  examples/hosts/hosts-sample/src/fauxComponent.ts
  examples/hosts/hosts-sample/src/fauxComponent.tsx
  examples/hosts/hosts-sample/src/utils.ts
  examples/hosts/hosts-sample/tsconfig.json
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/baseline/src/index.ts
  experimental/examples/bubblebench/baseline/src/main.ts
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/ot/src/index.ts
  experimental/examples/bubblebench/ot/src/main.ts
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/examples/bubblebench/sharedtree/src/index.ts
  experimental/examples/bubblebench/sharedtree/src/main.tsx
Labels: area: examples

#8728 Improve telemetry for trees latest
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, telemetry, area: odsp-driver

#8727 Re-enable ODSP GetOps
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#8733 Fix GetOpsEnabled condition
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver

#8735 Remove 404 response from rootDataStoreRequestHandler
  api-report/request-handler.api.md
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/request-handler/src/test/requestHandlers.spec.ts
Labels: area: framework, public api change

#8720 Add documentation for hosts about the 2-day snapshot expiry
  packages/drivers/odsp-driver-definitions/README.md
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
Labels: area: driver, area: odsp-driver

#8702 Remove map and directory waits from tests
  api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/framework/azure-client/src/test/AzureClient.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusRegisterCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: framework, area: dds, area: test, public api change

#8730 Removed realizing data stores when processing attach message
  packages/runtime/container-runtime/src/dataStores.ts
Labels: area: runtime

#8741 Add docs for prospective SharedTree Changeset format
  packages/dds/tree/docs/wip/AnchorInterfaces.ts
  packages/dds/tree/docs/wip/ChangeSet.ts
Labels: area: dds, community-contribution

#8742 Try-catch added to createSubRequest()
  packages/framework/request-handler/src/requestHandlers.ts
Labels: area: framework

#8749 Fix an edge case conflict for aliases vs ids
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: test

#8737 Remove convertToSummaryTreeWithStats from DDSs
  BREAKING.md
  api-report/merge-tree.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/matrix/src/handletable.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, breaking change, area: dds: sharedstring, area: dds: propertydds, public api change

#8724 Fix stress tests for Tinylicious
  packages/test/test-service-load/src/utils.ts
Labels: area: test

#8758 Convert snapshotfetchV2 call to simple ump call
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: perf, area: driver, area: odsp-driver

#8761 Update `tree` doc after full clean build
  experimental/dds/tree/api/tree.api.md
Labels: area: dds

#8762 policy-check fix
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime

#8726 Fix fetch tool to process chunked ops while collecting stats
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
Labels: area: runtime, public api change

#8764 unify follow-redirects dependency versions
  lerna-package-lock.json
  server/historian/lerna-package-lock.json
  server/routerlicious/lerna-package-lock.json
Labels: area: server, dependencies

#8763 Add cache expiry to IDocumentStorageServicePolices
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#8759 Disabled logging gcUnknownOutboundRoute event which is too noisy because of a bug
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime

#8754 Remove unused parameter fullTree from summarizeCore
  api-report/cell.api.md
  api-report/counter.api.md
  api-report/ink.api.md
  api-report/map.api.md
  api-report/matrix.api.md
  api-report/ordered-collection.api.md
  api-report/register-collection.api.md
  api-report/sequence.api.md
  api-report/shared-object-base.api.md
  api-report/shared-summary-block.api.md
  api-report/task-manager.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/tree/src/generic/GenericSharedTree.ts
  experimental/dds/xtree/src/tree.ts
  packages/dds/cell/src/cell.ts
  packages/dds/counter/src/counter.ts
  packages/dds/ink/src/ink.ts
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/task-manager/src/taskManager.ts
Labels: area: dds, area: dds: sharedstring, area: dds: propertydds, public api change

#8757 Remove `MessageType.Save`, `save;${string}: ${string}` from `SummarizeReason`, and `MessageFactory.createSave()`.
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
  packages/runtime/container-runtime/src/runningSummarizer.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  server/routerlicious/packages/test-utils/src/messageFactory.ts
Labels: area: server, area: runtime, breaking change, public api change

#8788 Bump shelljs version in common packages
  common/lib/common-definitions/package-lock.json
  common/lib/common-utils/package-lock.json
  common/lib/container-definitions/package-lock.json
  common/lib/core-interfaces/package-lock.json
  common/lib/driver-definitions/package-lock.json
  tools/build-tools/package-lock.json
Labels: area: definitions

#8776 temporarily disable sinon test so real service e2e pipeline will run
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeExpiry.spec.ts
Labels: area: test

#8442 Property DDS perf improvements 2
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/arrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/baseProperty.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/boolProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/containerProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/enumArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/enumProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/floatProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/indexedCollectionBaseProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/intProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/mapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/namedNodeProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/namedProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/nodeProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/setProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/stringProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/uintProperties.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueArrayProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/propertyFactory.js
  experimental/PropertyDDS/packages/property-properties/src/propertyTemplateWrapper.js
  experimental/PropertyDDS/packages/property-properties/src/test/propertyFactory.spec.js
Labels: area: dds: propertydds, community-contribution

#8789 Move sinon to dependencies from devDependencies
  packages/test/test-end-to-end-tests/package.json
Labels: area: test

#8801 definition packages type validation
  lerna-package-lock.json
  packages/runtime/container-runtime-definitions/package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/datastore-definitions/package-lock.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/runtime-definitions/package-lock.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.55.0.ts
Labels: area: runtime, dependencies

#8785 Access sharingLinkToRedeem from IOdspResolvedUrl.shareLinkInfo
  BREAKING.md
  api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver, breaking change, area: odsp-driver, public api change

#8783 fixes for #8755 Dubious switch fallthrough case in undo-redo
  packages/framework/undo-redo/src/sequenceHandler.ts
Labels: area: framework, community-contribution

#8806 Refactor snapshotCacheExpiryTimeoutMs to maximumCacheDurationMs
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#8795 Limit summary-related exports from container-runtime package
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/index.ts
Labels: area: runtime, public api change

#8807 Update trim-off-newline version in lerna package lock
  lerna-package-lock.json
  server/historian/lerna-package-lock.json
  server/routerlicious/lerna-package-lock.json
Labels: area: server, dependencies

#8802 Copy chart pipelines
  tools/pipelines/chart-copy-historian.yml
  tools/pipelines/chart-copy-routerlicious.yml
  tools/pipelines/templates/include-copy-chart.yml
Labels: area: build

#8804 Remove extraneous comma in chart values for routerlicious
  server/routerlicious/kubernetes/routerlicious/values.yaml
Labels: area: server

#8808 Refactor snapshotCacheExpiryTimeoutMs to maximumCacheDurationMs (#8806)
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/storage.ts
Labels: area: definitions, public api change

#8786 remove deprecated `readonly` from `IDeltaManager` and `DeltaManager`
  BREAKING.md
  api-report/test-runtime-utils.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/deltas.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/deltaManagerProxy.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime, area: loader, breaking change, area: definitions, public api change

#8746 Added documentation for Garbage Collection
  packages/runtime/container-runtime/garbageCollection.md
Labels: area: runtime

#8813 Website: Fix responsive layout of homepage and community page
  docs/.editorconfig
  docs/assets/css/fluid.css
  docs/content/community/_index.md
  docs/themes/thxvscode/assets/scss/includes/_footer.scss
  docs/themes/thxvscode/assets/scss/includes/_home.scss
  docs/themes/thxvscode/assets/scss/includes/_in_your_face.scss
  docs/themes/thxvscode/assets/scss/includes/_jumbotron.scss
  docs/themes/thxvscode/layouts/partials/footer.html
  docs/themes/thxvscode/layouts/shortcodes/cta.html
  docs/themes/thxvscode/layouts/shortcodes/in_your_face.html
Labels: documentation, area: website

#8825 FluidBuild - don't warn about --fix-type in lint command
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  packages/dds/shared-object-base/tsconfig.json
  packages/drivers/fluidapp-odsp-urlResolver/.npmignore
  packages/framework/azure-client/src/test/tsconfig.json
  packages/framework/tinylicious-client/src/test/tsconfig.json
  packages/runtime/container-runtime-definitions/tsconfig.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/tsconfig.json
  packages/runtime/runtime-definitions/tsconfig.json
  packages/tools/fetch-tool/.npmignore
  tools/build-tools/src/fluidBuild/fluidPackageCheck.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  tools/build-tools/src/fluidBuild/tasks/leaf/lintTasks.ts
  tools/build-tools/src/fluidBuild/tasks/workers/eslintWorker.ts
Labels: area: framework, area: runtime, area: dds, area: dds: propertydds

#8815 Throw possible errors from `orderSequentially` and close the container even when the runtime does not own flushing
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime

#8809 Add new isClpCompliantApp header for calls to Odsp
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/contractsPublic.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
Labels: area: driver, area: odsp-driver, community-contribution, public api change

#8824 Put defaultCacheExpiryTimeoutMs in policies
  api-report/driver-utils.api.md
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, area: test, area: dds: propertydds, area: odsp-driver, area: definitions, public api change

#8810 Add forceAccessTokenViaAuthorizationHeader to host storage policy to …
  api-report/odsp-driver-definitions.api.md
  api-report/odsp-driver.api.md
  examples/utils/bundle-size-tests/src/odspPrefetchSnapshot.ts
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/getUrlAndHeadersWithAuth.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/getUrlAndHeadersWithAuth.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
Labels: area: examples, area: driver, area: test, area: odsp-driver, public api change

#8832 Fix for GC tree treated as data store when isolated channels is disabled
  packages/runtime/container-runtime/src/summaryFormat.ts
Labels: area: runtime

#8787 Update parseAuthErrorTenant utility to account for www-authenticate format returned in case call is made on Consumer stack
  packages/utils/odsp-doclib-utils/src/parseAuthErrorTenant.ts
  packages/utils/odsp-doclib-utils/src/test/parseAuthErrorTenant.spec.ts
Labels: area: odsp-driver

#8830 Fixes method call typo
  docs/content/docs/start/tutorial.md
Labels: documentation, community-contribution

#8828 Fixes typo in Static View code block
  docs/content/docs/start/tutorial.md
Labels: documentation, community-contribution

#8718 fix historian docker-compose.dev.yml mistake
  server/historian/docker-compose.dev.yml
Labels: area: server

#8696 ESLint upgrade: R11s packages use latest version of ESLint and shared config
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/gitresources/.eslintrc.js
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/.eslintrc.js
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/.eslintrc.js
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/.eslintrc.js
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/local-server/.eslintrc.js
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/.eslintrc.js
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/.eslintrc.js
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/.eslintrc.js
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious/.eslintrc.js
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/.eslintrc.js
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/.eslintrc.js
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/.eslintrc.js
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/.eslintrc.js
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/.eslintrc.js
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/.eslintrc.js
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/.eslintrc.js
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/.eslintrc.js
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services/.eslintrc.js
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/metricClient.ts
  server/routerlicious/packages/test-utils/.eslintrc.js
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#8819 remove ContainerRuntime.id and IContainerRuntime.id
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validate0.54.0.ts
  packages/runtime/container-runtime-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change

#8854 Bump @fluidframework/build-tools to 0.2.49276
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
  lerna-package-lock.json
  package-lock.json
  package.json
  packages/runtime/container-runtime-definitions/package-lock.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/datastore-definitions/package-lock.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package-lock.json
  packages/runtime/runtime-definitions/package.json
  server/historian/lerna-package-lock.json
  server/historian/package-lock.json
  server/historian/package.json
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
Labels: area: server, area: runtime, dependencies, area: definitions

#8851 remove IContainerContext.id
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
Labels: area: definitions, public api change

#8812 Remove codeDetails from Container
  BREAKING.md
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
Labels: area: loader, breaking change, public api change

#8811 Remove wait API from map and directory
  BREAKING.md
  api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/directory.spec.ts
  packages/dds/map/src/test/map.spec.ts
Labels: area: dds, breaking change, public api change

#8867 Remove stray uses of quorum proposals
  examples/hosts/iframe-host/src/outer.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: examples, area: test

#8816 Removed url from ICreateBlobResponse in protocol definitions.
  BREAKING.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/types/validate0.1024.0.ts
  common/lib/protocol-definitions/src/test/types/validate0.1025.1.ts
  common/lib/protocol-definitions/src/test/types/validate0.1026.0.ts
Labels: breaking change, public api change

#8874 Remove ContainerContext.id and consuming new pre-release of container-definitions
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds

#8865 r11s: add NGINX in front of docker-compose services
  server/routerlicious/docker-compose.yml
  server/routerlicious/nginx.conf
Labels: area: server

#8875 Stress: Override Category of Injected Errors to Generic
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: test

#8877 Added configProvider to loader options in test object provider
  api-report/test-utils.api.md
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: test, public api change

#8879 Test: Clean up TestProvider LoaderProps Handling
  api-report/test-utils.api.md
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: test, public api change

#8377 Tests for container, datastore, and dds attachment lifecyle
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: test

#8883 Increase timer to max and end it if container is saved in ConnectionStateHandler
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader

#8892 Disable reference correctness validation and GC state reset logic
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, release-blocking

#8876 Added feature flag to control writing GC data at the root of summary tree
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockConfigProivder.ts
  packages/test/test-end-to-end-tests/src/test/gc/mockSummarizerClient.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: test

#8880 Convert Container and ContainerContext to use IQuorumClients where possible
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, public api change

#8895 Put fetchReason in XRequestStats
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
Labels: area: driver, area: odsp-driver

#8881 Remove tech debt for client session expired error
  api-report/container-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
Labels: area: runtime, area: loader, public api change

#8898 Fixed GC test mode tests sending ops for deleted data stores
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
Labels: area: runtime, area: test

#8890 AttachLifecycle Tests: Split attach and dirty checks to avoid deadlock on tinylicious
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: test

#8827 Remove `containerPath` from `DriverPreCheckInfo`
  BREAKING.md
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.39.8.ts
  common/lib/driver-definitions/src/test/types/validate0.40.0.ts
  common/lib/driver-definitions/src/test/types/validate0.41.0.ts
  common/lib/driver-definitions/src/test/types/validate0.42.0.ts
  common/lib/driver-definitions/src/test/types/validate0.43.0.ts
  common/lib/driver-definitions/src/urlResolver.ts
Labels: breaking change, area: definitions, public api change

#8886 Remove logger property from IContainerContext
  api-report/telemetry-utils.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: runtime, area: definitions, public api change

#8882 fixing getVersion() to handle null case of versionId
  api-report/debugger.api.md
  api-report/driver-utils.api.md
  api-report/file-driver.api.md
  api-report/replay-driver.api.md
  api-report/routerlicious-driver.api.md
  packages/drivers/debugger/src/fluidDebuggerController.ts
  packages/drivers/file-driver/src/fileDocumentStorageService.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/replay-driver/src/replayController.ts
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/routerlicious-driver/src/nullBlobStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change

#8680 removing Container.id and usages
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, area: test, public api change

#8864 [r11s] Fixing SummaryReader for wholeSummaryUpload: accessing map properties correctly
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
Labels: area: server

#8907 Bump core-interfaces dependency version in common
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.42.0.ts
  common/lib/container-definitions/src/test/types/validate0.43.0.ts
  common/lib/container-definitions/src/test/types/validate0.44.0.ts
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
Labels: area: definitions

#8915 0.55: Fix Synthezie Regression: Return Promise instead of Undefined
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#8917 Fix package-lock for container-definitions
  common/lib/container-definitions/package-lock.json
Labels: area: definitions

#8791 Remove raiseContainerWarning
  api-report/container-loader.api.md
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validate0.54.0.ts
  packages/runtime/container-runtime-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.54.0.ts
  packages/runtime/runtime-definitions/src/test/types/validate0.55.0.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, area: loader, area: definitions, public api change

#8906 remove `containerPath` from `checkUrl()`
  lerna-package-lock.json
  packages/drivers/odsp-driver/src/checkUrl.ts
  packages/runtime/container-runtime-definitions/package-lock.json
  packages/runtime/runtime-definitions/package-lock.json
Labels: area: runtime, area: driver, dependencies, area: odsp-driver

#8916 Port: 0.55: Fix Synthezie Regression: Return Promise instead of Undefined
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
Labels: area: framework

#8921 [0.55] fix repo dependency versions
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
Labels: area: dds, area: dds: propertydds

#8910 Updated data store creation properties to be an object
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
Labels: area: runtime

#8923 Remove prelease dependencies on release packages
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server

#8927 [bump] package version for driver-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.44.0.ts
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-host/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/azure-client/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/odsp-doclib-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dev experience, dependencies, area: test, area: dds: propertydds, area: odsp-driver, area: definitions

#8928 [bump] package version for container-definitions (patch)
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.45.0.ts
  examples/data-objects/client-ui-lib/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/key-value-cache/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/scribe/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/task-selection/package.json
  examples/hosts/app-integration/container-views/package.json
  examples/hosts/host-service-interfaces/package.json
  examples/hosts/hosts-sample/package.json
  examples/hosts/iframe-host/package.json
  examples/hosts/node-host/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/dds/tree/package.json
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  experimental/framework/get-container/package.json
  lerna-package-lock.json
  packages/dds/merge-tree/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/task-manager/package.json
  packages/framework/aqueduct/package.json
  packages/framework/azure-client/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/runtime/agent-scheduler/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/test/test-utils/package.json
  packages/test/test-version-utils/package.json
  packages/tools/replay-tool/package.json
  packages/tools/webpack-fluid-loader/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, dependencies, area: test, area: dds: propertydds, area: definitions

#8925 Remove deprecation tag for `DriverErrorType.genericError`
  common/lib/driver-definitions/api-report/driver-definitions.api.md
  common/lib/driver-definitions/src/driverError.ts
Labels: area: definitions, public api change

#8934 Fix builds for driver-definitions by adding type validation for 0.44.0
  common/lib/driver-definitions/package-lock.json
  common/lib/driver-definitions/package.json
  common/lib/driver-definitions/src/test/types/validate0.44.0.ts
Labels: area: definitions

#8943 Add type validation tests after 0.56 release
  common/lib/container-definitions/package-lock.json
  common/lib/container-definitions/package.json
  common/lib/container-definitions/src/test/types/validate0.45.0.ts
  common/lib/core-interfaces/package-lock.json
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/test/types/validate0.42.0.ts
  lerna-package-lock.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validate0.56.0.ts
Labels: area: runtime, dependencies, area: definitions

#8939 Remove IFluidConfiguration
  BREAKING.md
  common/lib/container-definitions/api-report/container-definitions.api.md
  common/lib/container-definitions/src/index.ts
  common/lib/container-definitions/src/loader.ts
  common/lib/container-definitions/src/runtime.ts
  common/lib/core-interfaces/api-report/core-interfaces.api.md
  common/lib/core-interfaces/package.json
  common/lib/core-interfaces/src/fluidLoadable.ts
  common/lib/core-interfaces/src/fluidObject.ts
  common/lib/core-interfaces/src/test/types/validate0.39.8.ts
  common/lib/core-interfaces/src/test/types/validate0.40.0.ts
  common/lib/core-interfaces/src/test/types/validate0.41.0.ts
  common/lib/core-interfaces/src/test/types/validate0.42.0.ts
  common/lib/driver-definitions/src/urlResolver.ts
  lerna-package-lock.json
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validate0.56.0.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validate0.56.0.ts
Labels: area: framework, area: runtime, area: loader, breaking change, dependencies, area: definitions, public api change
