Repository microsoft/FluidFramework, pull requests merged in 2023-08, with the labels that each got.

#16387 Restore import/no-unresolved for ESM-only test packages
  examples/data-objects/table-document/.eslintrc.js
  examples/data-objects/table-document/package.json
  examples/data-objects/webflow/.eslintrc.cjs
  examples/data-objects/webflow/package.json
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-version-utils/.eslintrc.cjs
  packages/test/test-version-utils/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: tests, base: main

#16629 Fix incorrect handling of detached commits in EditManager
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16628 Stop listening to DeltaManager op event for summary heuristics
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
Labels: area: runtime, base: main

#16631 tree2: More accurate schema and less verbose data for forest test suite
  experimental/dds/tree2/src/test/forestTestSuite.ts
Labels: area: dds, area: dds: tree, base: main

#16605 fix(bundle-size): Fix NaNs in bundle size comparison
  build-tools/packages/bundle-size-tools/src/ADO/AdoSizeComparator.ts
  build-tools/packages/bundle-size-tools/src/statsProcessors/entryStatsProcessor.ts
  build-tools/packages/bundle-size-tools/src/utilities/getChunkParsedSize.ts
Labels: area: build, base: main

#16366 feat(devtools): Add basic editing skeleton
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/Features.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataEditing.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultEditors.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualTree.ts
  packages/tools/devtools/devtools-core/src/data-visualization/index.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/messaging/container-devtools-messages/DataEdit.ts
  packages/tools/devtools/devtools-core/src/messaging/container-devtools-messages/index.ts
  packages/tools/devtools/devtools-core/src/messaging/index.ts
  packages/tools/devtools/devtools-core/src/test/DataVisualizerGraph.test.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/ContainerFeatureFlagHelper.ts
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/EditableValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidHandleView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeDataView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeItem.tsx
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#16536 Make CloseAndGetPendingState async to allow blob work to complete
  .changeset/orange-bats-invite.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  api-report/container-runtime.api.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: loader, area: dds, area: tests, public api change, area: dds: tree, base: next, changeset-required

#16645 tree2: Test cleanup
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/viewSchemaUtil.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16640 Add md file documenting Request Pattern Removal guidance and status
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
Labels: area: framework, base: main

#16124 Switch client build to pool with better machines
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#16612 Close the container by default
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, base: main

#16561 Add rebasing to DDS fuzz tests
  experimental/dds/tree2/src/test/shared-tree/fuzz/targetedFuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevelFuzz.spec.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
Labels: area: dds, area: dds: sharedstring, area: dds: tree, base: main

#16538 [bump] protocol-definitions: 2.1.0 => 2.2.0 (minor)
  common/lib/protocol-definitions/package.json
Labels: release, base: main

#16649 Not register summarizer for visibility change
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#14985 build: Use tilde interdependencies in server
  fluidBuild.config.cjs
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/pipelines/server-routerlicious.yml
Labels: area: server, area: build, base: main

#16543 fix(build-tools): Support unscoped package names
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
Labels: area: build, base: main

#16506 Deprecate some request related APIs
  .changeset/forty-impalas-feel.md
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  api-report/datastore-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  api-report/test-utils.api.md
  packages/common/container-definitions/src/runtime.ts
  packages/dds/shared-object-base/src/remoteObjectHandle.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: framework, area: runtime, area: dds, area: tests, public api change, base: next, msftbot: merge-next

#16642 Use the correct logger in the container runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: tests, base: main

#16663 build: Update changesets for minor release
  .changeset/empty-groups-joke.md
  .changeset/happy-dreams-sing.md
  .changeset/thirty-cups-beam.md
  .changeset/tidy-poets-enter.md
Labels: base: main

#16648 Update routerlicious dependencies to use any binary blob on FirstSummary.
  .changeset/dry-windows-invent.md
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
Labels: area: driver, base: next, msftbot: merge-next

#16659 getFileLink() was not retrying for all retriable errors
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#16668 Add Dirty Data to ConnectionStateChange Events
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#16666 fix(fluid-build): Load server root path from settings
  build-tools/packages/build-tools/src/common/fluidUtils.ts
Labels: area: build, base: main

#16652 tree2: Fix chunk bugs
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
Labels: area: dds, area: dds: tree, base: main

#16627 Generate placeholder marks in RebaseQueue
  experimental/dds/tree2/src/feature-libraries/sequence-field/markListFactory.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16356 feat(bump:deps): Add experimental homegrown update checker
  .vscode/launch.json
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, area: contributor experience, base: main

#16673 [bump] build-tools: 0.22.0 => 0.23.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#16653 Inverses cache in ChangeRebaser
  experimental/dds/tree2/src/core/rebase/changeRebaser.ts
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16680 build: Tag asserts for release
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: propertydds, area: dds: tree, base: main

#16504 docs: Update changesets for clarity
  .changeset/blue-camels-worry.md
  .changeset/evil-rooms-deny.md
  .changeset/forty-impalas-feel.md
  .changeset/mean-comics-post.md
  .changeset/orange-bats-invite.md
  .changeset/selfish-walls-applaud.md
  .changeset/swift-melons-work.md
  .changeset/thirty-cups-beam.md
  .changeset/tidy-poets-enter.md
  BREAKING.md
Labels: breaking change, base: next

#16661 docs(tree): Reorganize and fix links
  experimental/dds/tree2/docs/.attachments/UndoAfterCollab.png
  experimental/dds/tree2/docs/.attachments/UndoAfterCollabFast.png
  experimental/dds/tree2/docs/.attachments/UndoDangerZone.drawio
  experimental/dds/tree2/docs/.attachments/UndoDuringCollab.png
  experimental/dds/tree2/docs/.attachments/children.drawio.svg
  experimental/dds/tree2/docs/.attachments/data-model.drawio.svg
  experimental/dds/tree2/docs/.attachments/explicit-sequence.drawio.svg
  experimental/dds/tree2/docs/.attachments/implicit-sequence.drawio.svg
  experimental/dds/tree2/docs/.attachments/root.drawio.svg
  experimental/dds/tree2/docs/.attachments/scalar-nodes.drawio.svg
  experimental/dds/tree2/docs/README.md
  experimental/dds/tree2/docs/main/cell-model-of-collaborative-editing.md
  experimental/dds/tree2/docs/main/data-model.md
  experimental/dds/tree2/docs/main/indexes-and-branches.md
  experimental/dds/tree2/docs/main/modular-change-family.md
  experimental/dds/tree2/docs/main/repair-data.md
  experimental/dds/tree2/docs/main/schema2.md
  experimental/dds/tree2/docs/main/semantic-format.md
  experimental/dds/tree2/docs/main/sequence-field.md
  experimental/dds/tree2/docs/main/stored-and-view-schema-options.md
  experimental/dds/tree2/docs/main/stored-and-view-schema.md
  experimental/dds/tree2/docs/main/tree-content-apis.md
  experimental/dds/tree2/docs/main/tree-storage.md
  experimental/dds/tree2/docs/main/undo.md
  experimental/dds/tree2/docs/main/v1-undo-example-flow.md
  experimental/dds/tree2/docs/main/v1-undo.md
  experimental/dds/tree2/docs/wip/inverse-changes.md
  experimental/dds/tree2/src/core/schema-stored/README.md
Labels: area: dds, area: dds: tree, base: main

#16655 Deprecate request APIs on Loader
  .changeset/wet-lizards-check.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: next, msftbot: merge-next

#16558 Add getAliasDataStore API and deprecated getRootDataStore
  .changeset/deep-oranges-tan.md
  .changeset/large-eggs-rule.md
  api-report/container-runtime-definitions.api.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-definitions/src/aliasing.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: runtime, area: tests, public api change, base: next, msftbot: merge-next

#16667 AzureClient: Add JUnit reporting option to Azure End-to-end Tests
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/.mocharc.js
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#16614 Make upcoming note about initializeEntryPoint becoming required
  .changeset/hot-kings-write.md
Labels: base: next, msftbot: merge-next

#16660 [next] Deprecate IContainer.request and IDataStore.request, except for {url: "/" }
  .changeset/fruity-moles-fry.md
  api-report/container-definitions.api.md
  api-report/runtime-definitions.api.md
  packages/common/container-definitions/.eslintrc.js
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/test/types/requestSignatureDeprecation.ts
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/runtime/runtime-definitions/.eslintrc.js
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/requestSignatureDeprecation.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, public api change, base: next, changeset-required

#16688 Hold a reference to collection instead of create one for each request
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/services/deltaService.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/api.spec.ts
Labels: area: server, base: main

#16701 Port 16649 to patch release 4.4.4
  packages/loader/container-loader/src/container.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, area: dds: tree, base: main

#16700 build: tag asserts for release
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: dds, area: dds: tree, base: main

#16650 offline: support stashed channel attach ops
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#16687 fix(tree): Fix tryExtendMark
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16679 Combine Error with Reason when Connection State Changed
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: loader, area: tests, base: main

#16697 refactor(tree): Unify mark position
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/helperTypes.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markQueue.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16696 update mongo packages
  server/routerlicious/packages/services/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#16672 tree2: Separate Struct Map and Leaf in ViewSchema
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/dds/tree2/src/core/schema-stored/builders.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultSchema.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/view.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/buildViewSchemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/schema-stored/examples/schemaExamples.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#15875 Optimized Chunk Encoding
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/README.md
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkCodecUtilities.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/format.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/formatGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/uncompressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/README.md
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/chunkCodecUtilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/chunkDecoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/nodeShape.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/testTrees.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#16721 tree2: Fix build issue from merge
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
Labels: area: dds, area: dds: tree, base: main

#16656 Add undo/redo fuzz tests for unsequenced edits
  experimental/dds/tree2/src/test/shared-tree/fuzz/targetedFuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16723 tree2: Invert dependency between untypedTree and editableTree
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
Labels: area: dds, area: dds: tree, base: main

#16711 Add logs and timeout in runner.stop()
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#16715 Require leaf nodes to have a value
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/dds/tree2/src/core/schema-stored/builders.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/view.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/internal.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAwareSimple.ts
  experimental/dds/tree2/src/test/schema-stored/examples/schemaExamples.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#16727 [main > release/v2int/5.3]: getFileLink() was not retrying for all retriable errors (#16659)
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
Labels: area: driver, area: odsp-driver, base: release

#16541 Azure scenario-runner cleanup
  azure/packages/test/scenario-runner/.eslintrc.js
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/configs/nestedMap.yml
  azure/packages/test/scenario-runner/configs/nestedMap2.yml
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/NestedMapRunner.ts
  azure/packages/test/scenario-runner/src/ScenarioRunner.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/docCreatorRunnerClient.ts
  azure/packages/test/scenario-runner/src/docLoaderRunnerClient.ts
  azure/packages/test/scenario-runner/src/interface.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/mapTrafficRunnerClient.ts
  azure/packages/test/scenario-runner/src/scenarioRunnerClient.ts
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/testConfig_v1.yml
Labels: base: main

#16733 refactor(devtools-view): Refactor theming infra
  packages/tools/devtools/devtools-view/src/ThemeHelper.ts
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryLog.tsx
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
  packages/tools/devtools/devtools-view/src/components/graphs/DynamicComposedChart.tsx
Labels: base: main

#16624 Ephemeral container - Server changes
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/index.ts
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/index.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redisFsManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian/config.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#16734 tree2: Start unifying tree interfaces
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/partlyTyped.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16737 Skip non single commit test for odsp
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#16745 Parse the response in try/catch as it can throw in odsp driver
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver, base: main

#16747 Change assert to account for no ops in snapshpot in odsp driver
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
Labels: area: driver, area: odsp-driver, base: main

#16720 Improve findCommonAncestor asymptotics
  experimental/dds/tree2/src/core/rebase/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16742 Allow delaying kafka offset commits
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
Labels: area: server, base: main

#16746 offline: string stashed op test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#16754 Change cache inverses to store it inside GraphCommit
  experimental/dds/tree2/src/core/rebase/changeRebaser.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16749 Remove dead concepts around blob aggregation
  .changeset/green-forks-invite.md
  api-report/driver-definitions.api.md
  api-report/driver-utils.api.md
  api-report/routerlicious-driver.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/routerlicious-driver/src/test/types/validateRouterliciousDriverPrevious.generated.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: next, msftbot: merge-next, changeset-required

#16764 matrix: remove BspSet and ProductSet
  packages/dds/matrix/src/bspSet.ts
  packages/dds/matrix/src/productSet.ts
  packages/dds/matrix/src/split.ts
  packages/dds/matrix/src/test/bspSet.spec.ts
  packages/dds/matrix/src/test/productSet.spec.ts
Labels: area: dds, base: main

#16770 Change DefaultApiMinimumCountToEnableTermination to 30
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#16765 added approveProposalComplete event to QuorumProposal
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server, base: main

#16762 Allow enforcement of too large summary errors
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/fileSystemHelper.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian/config.json
Labels: area: server, base: main

#16639 Document JsonValidator behavior w.r.t fluid handles
  experimental/dds/tree2/src/codec/codec.ts
Labels: area: dds, area: dds: tree, base: main

#16758 Simplify summarizable implementations
  experimental/dds/tree2/src/feature-libraries/forestSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/test/util/testTreeProvider.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16777 Split SharedString and Interval Fuzz Tests
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzUtils.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/sharedString.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#16717 fix(typetests): Don't fail when packages have no dependencies
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/test/commands/typetests.test.ts
  build-tools/packages/build-cli/tsconfig.json
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#16784 Fix grouped batching mocks + reenable tests.
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/sharedString.fuzz.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, base: main

#16782 tree2: Defer schema compatibility error, and more testing
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16786 matrix: restore 150+ unintentionally skipped tests
  azure/packages/azure-client/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  experimental/dds/sequence-deprecated/package.json
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/matrix.stress.spec.ts
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-static/package.json
  packages/framework/tinylicious-client/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/routerlicious-base/package.json
Labels: area: framework, area: server, area: dds, base: main

#16793 matrix: remove BspSet dev docs (code already removed)
  packages/dds/matrix/bench/bsp-set-optimizations.md
  packages/dds/matrix/bench/graphviz.svg
Labels: area: dds, base: main

#16683 fix(bump:deps): Exclude private packages when checking npm
  .vscode/launch.json
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/lib/collections.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
Labels: area: build, area: contributor experience, base: main

#16795 chore(merge-tree): remove mergeTreeUseNewLengthCalculations flag
  .changeset/witty-fans-lose.md
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next, msftbot: merge-next

#16615 Update deps on protocol-definitions in the server/tinylicious release groups
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/protocol.ts
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/scribeHelper.ts
  server/routerlicious/packages/services-client/src/test/storageUtils.spec.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/messageFactory.ts
  server/routerlicious/pnpm-lock.yaml
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
Labels: area: server, base: main

#16803 Removed console log from DocumentStorageServiceProxy
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
Labels: area: loader, base: main

#16802 stop checkpoints when document is corrupt
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server, base: main

#16801 Give fluid-build knowledge of container-runtime's test index
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#16744 refactor(devtools-core, devtools-view): Remove enum use to enhance (future) back/forwards compatibility
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/Features.ts
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataEditing.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/messaging/devtools-messages/DevtoolsFeatures.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
Labels: public api change, base: main, changeset-required

#16714 refactor(tree): Unify nested changes in sequence change format
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markListFactory.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
Labels: area: dds, area: dds: tree, base: main

#16791 Recursive mkdir for Redis FS
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redisFsManager.ts
Labels: area: server, base: main

#16806 Fix the seqnum issue when creating subdirectory with grouped batching
  packages/dds/map/src/directory.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
Labels: area: dds, area: tests, base: main

#16809 Tag asserts and format
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkCodecUtilities.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#16811 build: Run prettier after tagging asserts
  package.json
Labels: base: main

#16804 Removed unused summarization attempts code and moved validate summary
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
Labels: area: runtime, base: main

#16820 revert: Bring back TelemetryNullLogger for 6.x
  api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: public api change, base: main, changeset-required

#16694 Update summarization retry logic to be based on failure params and error
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, public api change, base: main

#16725 feat(devtools): SharedCell editing
  .vscode/settings.json
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataEditing.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultEditors.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/index.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/test/DataVisualizerGraph.test.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/CommonInterfaces.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/EditableValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/EditableView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
Labels: area: contributor experience, public api change, base: main

#16833 Startsession metric fix
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main

#16830 Clean up a couple undefined logger namespaces
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
Labels: area: runtime, base: main

#16792 tree2: update op size tests
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
Labels: area: dds, area: dds: tree, base: main

#16836 Turn off socket timeout by default
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#16825 Adjusting some of the perf tests to improve reliability numbers
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMatrix.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMultipleDataStores.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/SimpleTest.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/e2eDocsConfig.json
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: tests, base: main

#16827 tree2: Use schematize in testTrees
  api-report/test-runtime-utils.api.md
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/summary.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/util/utils.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, public api change, area: dds: tree, base: main

#16841 docs: Changeset for the zombie TelemetryNullLogger
  .changeset/bumpy-bump.md
Labels: base: main

#16840 fix: Add build:test script and fix issue from 6.0 breaking changes
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/app.tsx
  packages/tools/devtools/devtools-browser-extension/package.json
Labels: base: main

#16835 docs: Remove outdated docs from devtools-view README
  packages/tools/devtools/devtools-view/README.md
Labels: base: main

#16815 Fix SharedString Event and Submit Order to Avoid Reentrancy
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#16773 Add SharedTree fuzz tests to stress pipeline
  experimental/dds/tree2/package.json
  tools/pipelines/test-dds-stress.yml
Labels: area: dds, area: build, area: dds: tree, base: main

#16828 Rename reason to summarizeReason so that it is not overwritten on summarize failure
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
Labels: area: runtime, base: main

#16707 Couple the client build and test stability pipeline
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-build-lint.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-task-test.yml
  tools/pipelines/templates/include-test-stability.yml
Labels: area: build, base: main

#16831 Remove auth to office feed
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#16847 fix: Move output directory for e2e-tests app build in devtool-browser-extension
  packages/tools/devtools/devtools-browser-extension/e2e-tests/tsconfig.json
Labels: base: main

#16675 build(bundle-size-tests): Only replace Fluid internal versions in webpack output
  examples/utils/bundle-size-tests/webpack.config.js
Labels: area: examples, base: main

#16851 Move quorum validation back to ProtocolHandler so it can be overridden
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#16852 Revert the pipeline refactoring
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-build-lint.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-task-test.yml
  tools/pipelines/templates/include-test-stability.yml
Labels: area: build, base: main

#16859 Revert summarizer change causing CI failures in t9s tests
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, public api change, base: main

#16843 Reboot pods if it didn't meet min total threshold but failed consecutively
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#16864 Switch to our own internal ADO feed for aria-logger dependencies in the `@microsoft` scope
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build

#16741 test(devtools-example, devtools-extension): Remove tinylicious and fix devtools registration
  examples/utils/example-utils/src/modelLoader/modelLoader.ts
  examples/utils/example-utils/src/modelLoader/sessionStorageModelLoader.ts
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/app.tsx
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/container.ts
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-example/src/App.tsx
  packages/tools/devtools/devtools-example/src/ClientUtilities.ts
  packages/tools/devtools/devtools-example/src/Container.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
  packages/tools/devtools/devtools-example/webpack.config.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#16364 Add ContainerRuntimeMessage.compatDetails to futureproof against future "optional" ops
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#16866 Change error Sanitization message
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#16879 refactor targeted fuzz into separate tests
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16883 Small optimizations to the Map and Matrix benchmark
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMatrix.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/e2eDocsConfig.json
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
Labels: area: tests, base: main

#16730 Server: catch uncaught exceptions, part 2
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/checkpointManager.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/checkpointManager.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/runner.spec.ts
  server/routerlicious/packages/lambdas/src/deli/checkpointContext.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/memory-orderer/src/localKafka.ts
  server/routerlicious/packages/memory-orderer/src/localKafkaSubscription.ts
  server/routerlicious/packages/memory-orderer/src/localLambdaController.ts
  server/routerlicious/packages/memory-orderer/src/localNode.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/memory-orderer/src/localOrdererConnection.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#16829 Prepare to move sharedSequence to sequence-deprecated package
  .changeset/real-webs-train.md
  api-report/sequence-deprecated.api.md
  api-report/sequence.api.md
  experimental/dds/sequence-deprecated/src/index.ts
  experimental/dds/sequence-deprecated/src/sharedNumberSequence.ts
  experimental/dds/sequence-deprecated/src/sharedObjectSequence.ts
  experimental/dds/sequence-deprecated/src/sharedSequence.ts
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  packages/dds/sequence/src/sharedSequence.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#16887 Move ChangesetLocalId and ChangeAtomId
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/rebase/index.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/crossFieldQueries.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16888 Disable flaky op reentry test for T9s
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
Labels: area: tests, base: main

#16846 revert: Temporarily revert some breaking changes (for 2.0.0-internal.6.x)
  .changeset/eighty-weeks-relate.md
  .changeset/little-turkeys-sing.md
  api-report/aqueduct.api.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: framework, area: loader, public api change, base: main

#16890 tree2: Assert lazyCursor is not freed
  experimental/dds/tree2/src/feature-libraries/editable-tree/ProxyTarget.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16877 Deprecate getStackContext
  .changeset/chilly-ideas-happen.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#16810 Safeguard against reentrancy on local op submission in sequence
  api-report/sequence.api.md
  api-report/test-runtime-utils.api.md
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/reentrancy.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, public api change, base: main

#16712 Tree: Use correct cell ID when referring to unattached cells
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16885 Update summarization retry logic to be based on failure params and error
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, public api change, base: main

#16794 matrix: fix TS 5.1 compilation error
  packages/dds/matrix/src/handletable.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/sparsearray2d.ts
Labels: area: dds, base: main

#16882 Legacy SharedTree: TS 5 fixes
  experimental/dds/tree/src/Common.ts
  experimental/dds/tree/src/MergeHealth.ts
  experimental/dds/tree/src/test/NumericUuid.tests.ts
Labels: area: dds, area: dds: tree, base: main

#16161 build: Remove lerna from client and build-tools
  .releaseGroup
  build-tools/.releaseGroup
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  common/lib/common-definitions/package.json
  package.json
  scripts/pack-packages.sh
  server/gitrest/.releaseGroup
  server/historian/.releaseGroup
  server/routerlicious/.releaseGroup
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#16886 Rename reason to summarizeReason so that it is not overwritten on summarize failure
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
Labels: area: runtime, base: main

#16909 [main > 6.1] build: Remove lerna from client and build-tools]
  .releaseGroup
  build-tools/.releaseGroup
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  common/lib/common-definitions/package.json
  package.json
  scripts/pack-packages.sh
  server/gitrest/.releaseGroup
  server/historian/.releaseGroup
  server/routerlicious/.releaseGroup
  tools/pipelines/templates/build-npm-package.yml
Labels: area: framework, area: loader, area: build, public api change, base: main

#16844 test(build-cli): Add basic changesets tests
  .prettierignore
  build-tools/packages/build-cli/test/data/another-example-changeset.md
  build-tools/packages/build-cli/test/data/example-changeset.md
  build-tools/packages/build-cli/test/data/multiple-change-types.md
  build-tools/packages/build-cli/test/lib/branches.test.ts
  build-tools/packages/build-cli/test/lib/changesets.test.ts
Labels: area: build, base: main

#16907 Deprecated refreshLatestAck summarize option
  .changeset/tiny-hands-send.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
Labels: area: runtime, public api change, base: main

#16912 Add .mocharc.js config to have test-service-load test generate report in the CI
  packages/test/test-service-load/.mocharc.js
  packages/test/test-service-load/package.json
Labels: area: tests, base: main

#16863 feat(check:policy): Add configurable policy for package names and scopes
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  fluidBuild.config.cjs
Labels: area: build, base: main

#16052 build: Limit use of lerna in server CI pipelines
  .npmrc
  build-tools/.npmrc
  server/gitrest/.npmrc
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/.npmrc
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/.npmrc
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#16915 Fix edge case in createWeightedGenerator
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/test/stochastic-test-utils/src/generators.ts
Labels: area: dds, area: tests, area: dds: tree, base: main

#16898 container-runtime: TS5 fix
  packages/runtime/container-runtime/src/test/id-compressor/numericUuid.spec.ts
Labels: area: runtime, base: main

#16901 merge-tree: TS5 fixes (test only)
  packages/dds/merge-tree/src/test/attributionPolicy.spec.ts
  packages/dds/merge-tree/src/test/client.attributionFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.zamboni.spec.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#16903 test-end-to-end-tests: TS5 fixes
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: tests, base: main

#16900 test-version-utils: TS5 fixes
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#16906 legacy tree: remove graphql example (TS5 "fix")
  experimental/dds/tree-graphql/.env-cmdrc.json
  experimental/dds/tree-graphql/.eslintrc.js
  experimental/dds/tree-graphql/.gitignore
  experimental/dds/tree-graphql/.mocharc.js
  experimental/dds/tree-graphql/.npmignore
  experimental/dds/tree-graphql/.nycrc.json
  experimental/dds/tree-graphql/CHANGELOG.md
  experimental/dds/tree-graphql/LICENSE
  experimental/dds/tree-graphql/README.md
  experimental/dds/tree-graphql/codegen.yml
  experimental/dds/tree-graphql/package.json
  experimental/dds/tree-graphql/prettier.config.cjs
  experimental/dds/tree-graphql/src/SharedTreeQuerier.ts
  experimental/dds/tree-graphql/src/graphql-generated/Pizza.ts
  experimental/dds/tree-graphql/src/graphql-plugins/SharedTreePlugin.ts
  experimental/dds/tree-graphql/src/graphql-schemas/Pizza.ts
  experimental/dds/tree-graphql/src/index.ts
  experimental/dds/tree-graphql/src/test/SharedTreeQuerier.tests.ts
  experimental/dds/tree-graphql/src/test/TestUtilities.ts
  experimental/dds/tree-graphql/tsconfig-graphql-plugins.json
  experimental/dds/tree-graphql/tsconfig.esnext.json
  experimental/dds/tree-graphql/tsconfig.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#16889 Pass relevant override options for Container's detached/attach flow
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: main

#16921 Fixed inconsistent usage of pending messages in container runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#16924 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area: build, base: main

#16902 test-service-load: TS5 fixes
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: main

#16277 Fix reconnection and rebase bugs in PropertyDDS
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexedCollection.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/indexedCollection.spec.ts
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  experimental/PropertyDDS/packages/property-dds/src/test/reconnect.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
  packages/runtime/test-runtime-utils/tsconfig.json
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: propertydds, base: main

#16181 feat(eslint-config-fluid): Enable import/no-deprecated
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
Labels: area: build, base: main
