Repository microsoft/FluidFramework, pull requests merged in 2023-07, with the labels that each got.

#16222 tag asserts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyManager.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  packages/loader/driver-utils/src/adapters/compression/summaryblob/documentStorageServiceSummaryBlobCompressionAdapter.ts
  packages/loader/driver-utils/src/adapters/predefinedAdapters.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: dds, area: dds: tree, base: main

#16096 Retry disconnect after connect when disconnect already happened
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server, base: main

#16214 fix(devtools-view): Theme selection dropdown in settings does not keep currently selected value
  packages/tools/devtools/devtools-view/src/ThemeHelper.ts
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
Labels: base: main

#16233 fix(bundle-size-tests): Update version numbers in bundles
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/webpack.config.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#16239 fix(devtools-view): Change TreeHeader to use Enum Type
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
Labels: base: main

#16186 fix(devtools): Updated logic to disable buttons when containers are detached
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
Labels: base: main

#16195 feat(devtools): Initial setup for usage telemetry
  packages/tools/devtools/devtools-view/api-report/devtools-view.api.md
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/DevtoolsPanel.tsx
  packages/tools/devtools/devtools-view/src/TelemetryUtils.ts
  packages/tools/devtools/devtools-view/src/index.ts
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#16087 docs(devtools): Documentation on how to use DevtoolsLogger for Fluid Devtools
  packages/tools/devtools/devtools-core/README.md
  packages/tools/devtools/devtools/README.md
Labels: base: main

#16227 fix(devtools): Styles cleanup
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/LandingView.tsx
  packages/tools/devtools/devtools-view/src/components/Menu.tsx
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
Labels: base: main

#16035 Allow rebase in merge tree outside resubmit
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/test/collections.list.spec.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
Labels: area: dds, base: main

#14894 refactor (container-loader): Make protocol signal handling be strict around ClientJoin, ClientLea…
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/protocol.ts
Labels: area: loader, base: main

#16246 Revert core-interfaces changes to telemetry-generator/src/logger.ts
  tools/telemetry-generator/src/logger.ts
Labels: base: main

#16244 Update type tests
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/test/types/validateCoreInterfacesPrevious.generated.ts
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/ink/package.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#16237 Log the value for ignoreCheckpointFlushExceptionFlag
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
Labels: area: server, base: main

#15770 r11s: adding event hubs support for rdkafka consumer and producer
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#16247 Resolve incorrectly-set test-version-utils config
  packages/test/test-version-utils/.eslintrc.cjs
  packages/test/test-version-utils/compatOptions.cjs
  packages/test/test-version-utils/compatOptions.d.cts
  packages/test/test-version-utils/mocharc-common.cjs
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/baseVersion.ts
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
  packages/test/test-version-utils/src/describeWithVersions.ts
Labels: area: tests, base: main

#16236 [fluid-runner] Dispose container instead of closing
  packages/tools/fluid-runner/src/exportFile.ts
Labels: base: main

#16252 Updating logging on Scribe to include lastSummaryHead
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
Labels: area: server, base: main

#16049 Fix back compat full config versioning
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatConfig.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#16241 Test new main/next workflow
  .github/workflows/sync-branch.yml
Labels: area: build, base: main

#16257 Set env variable correctly
  .github/workflows/sync-branch.yml
Labels: area: build, base: main

#16003 Update exception handling logic for uncaughtException
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/services-core/src/runner.ts
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#16261 Fix errors in workflow
  .github/workflows/sync-branch.yml
Labels: area: build, base: main

#16217 tree2: Add schema 2 proposal
  experimental/dds/tree2/docs/schema2.md
Labels: area: dds, area: dds: tree, base: main

#16220 Remove setvalue
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/core/tree/delta.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/core/tree/visitPath.ts
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/deltaUtils.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/deltaUtils.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/randomChangeGenerator.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/sequence-change-family/randomSequenceGenerator.ts
  experimental/dds/tree2/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/toDelta.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/operationTypes.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/targetedFuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevelFuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/testChange.spec.ts
  experimental/dds/tree2/src/test/testChange.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
  experimental/dds/tree2/src/test/tree/visit.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16264 Fix exceptions (deleteOne/deleteMany) on InMemoryCollection thrown when running tinylicious locally
  server/tinylicious/src/services/inMemorycollection.ts
Labels: area: server, base: main

#16255 Compare checkpoint seq nos instead of offsets
  server/routerlicious/packages/services-core/src/checkpointService.ts
Labels: area: server, base: main

#16269 fix(r11s-chart): Fixes to r11s chart
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
Labels: area: server, base: main

#16203 fix(devtools-view): Hover issues in Container audience and states views
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryLog.tsx
Labels: base: main

#16270 Allow skipping seeds in DDS fuzz harness
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dotSkip.ts
Labels: area: dds, base: main

#16272 Comment out some debug logs related to token revocation
  server/routerlicious/packages/services-utils/src/tokenRevocationManager.ts
Labels: area: server, base: main

#16273 Swallow errors from unavailable port mapping
  tools/test-tools/src/getTestPort.ts
Labels: base: main

#16268 Add restartReason property to RunService metric
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server, base: main

#16258 feat(shared-string): add more fuzzing option combinations
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzUtils.ts
Labels: area: dds, area: dds: sharedstring, base: main

#15725 tenant encryption key rotation
  server/BREAKING.md
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/secretManager.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/secretManager.ts
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
Labels: area: server, base: main

#16262 IContainerContext removals
  .changeset/wild-planets-visit.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, public api change, base: next, msftbot: merge-next

#16284 feat: Add search.exclude patterns in VSCode settings
  .vscode/settings.json
Labels: area: contributor experience, base: main

#16251 Enhance reliability of obtaining colletion from interval
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#16285 Remove dispose() and disposed from IDeltaManager
  .changeset/twelve-waves-hope.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/test/types/validateDatastoreDefinitionsPrevious.generated.ts
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, area: loader, public api change, base: next, msftbot: merge-next

#16282 Fix incremental build on case insensitive file system by canonicalize path
  build-tools/packages/build-tools/src/common/tscUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#16265 tree2: Schema2
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/dds/tree2/docs/schema2.md
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/schemaBuilder.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/App.tsx
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#16288 Worker error message improvement
  build-tools/packages/build-tools/src/common/tscUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/tscWorker.ts
Labels: area: build, base: main

#16297 Tree [PropertyDDS interop]: follow-up review and Schema2 adoption
  experimental/PropertyDDS/packages/property-shared-tree-interop/README.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
Labels: area: dds: propertydds, base: main

#16155 Adds Dynamic Composed Graph to Dev Tools View
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/components/graphs/DynamicComposedChart.tsx
  packages/tools/devtools/devtools-view/src/components/graphs/index.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#16292 Fix event name and logger in frs driver
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
Labels: area: driver, base: main

#16294 Make node keys use a local field
  api-report/tree2.api.md
  experimental/dds/tree2/src/domains/index.ts
  experimental/dds/tree2/src/domains/nodeKey/index.ts
  experimental/dds/tree2/src/domains/nodeKey/nodeKeySchema.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKey.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16266 build(deps): Bump external deps in build-tools
  build-tools/package.json
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#16295 Remove use of global fields in cursorFromContextualData test
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16235 Handle deleted/revived subtrees and deactivate/reactivate paired marks
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15997 Keep track of blob attachment status in blob manager
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/index.ts
  packages/runtime/container-runtime/src/test/testInterfaces.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: runtime, area: tests, base: main

#16143 Dispose summarizer instead of closing
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, area: loader, base: main

#16225 Server changes for handling new ping events
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/tinylicious/src/services/webServerFactory.ts
Labels: area: server, base: main

#16296 add move tests to defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16302 Move closeAndGetPendingLocalState to IContainerExperimental
  .changeset/lazy-coats-bake.md
  UPCOMING.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: loader, area: dds, area: tests, public api change, area: dds: tree, base: main

#16279 Tree: Refactor lineage and detach events to use cell IDs instead of indexes and offests
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/tracker.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/randomChangeGenerator.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/randomChangeGenerator.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEncoder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16286 Server: Add infrastructure to support any type of Blob
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
  server/routerlicious/packages/services-client/src/test/storageUtils.spec.ts
Labels: area: server, public api change, base: main

#16303 tree2: update misc schema to schema 2
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/App.tsx
Labels: area: examples, area: dds, area: dev experience, area: dds: tree, base: main

#16301 tree2: Migrate Editable tree tests to schema2
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16289 Set suiteName on FLUID_TEST_MULTIREPORT
  packages/test/mocha-test-setup/mocharc-common.js
  packages/test/mocha-test-setup/test-config.json
Labels: area: tests, base: main

#16254 fix: Correct handling of filter and selectionFlags
  .vscode/launch.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/docs/test-only-filter.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/test-only-filter.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/index.ts
  build-tools/packages/build-cli/src/releaseGroups.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-cli/test/commands/test-only-filter.test.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/build-cli/test/lib/package.test.ts
Labels: area: build, area: contributor experience, public api change, base: main

#16299 Test merge branch command
  .github/workflows/sync-branch.yml
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-cli/src/lib/index.ts
Labels: area: build, base: main

#16313 fix(bump:deps): Allow bumping server deps
  build-tools/packages/build-cli/src/commands/bump/deps.ts
Labels: area: build, base: main

#16318 Debug merge command
  .github/workflows/sync-branch.yml
  build-tools/packages/build-cli/src/commands/merge/branches.ts
Labels: area: build, base: main

#16317 Prepare for "unknown" typing changes in routerlicious
  server/routerlicious/packages/lambdas/src/broadcaster/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/moira/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/lambdas/src/utils/serverMetadata.ts
Labels: area: server, base: main

#16320 tree2: Refactor example/test rebasers into their own file
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16291 Correctly record opsbehind prop in events
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#16321 Use the correct logger for data store context errors
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime, base: main

#16280 Add socket tracker to alfred customization
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
Labels: area: server, base: main

#16323 fix(protocol-base): Correct spelling of buildGitTreeHierarchy
  packages/drivers/routerlicious-driver/src/r11sSnapshotParser.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/gitHelper.ts
  server/routerlicious/packages/protocol-base/src/index.ts
  server/routerlicious/packages/services-client/src/gitManager.ts
  server/routerlicious/packages/services-client/src/storageUtils.ts
Labels: area: server, area: driver, public api change, base: main

#16293 feat(tree): Expose revertible event
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/undo/index.ts
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16325 delete sequence-change-family
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/README.md
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/markListFactory.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/utils.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/fence.json
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceChangeRebaser.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceChangeset.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  experimental/dds/tree2/src/test/sequence-change-family/cases.ts
  experimental/dds/tree2/src/test/sequence-change-family/changesetSamples.ts
  experimental/dds/tree2/src/test/sequence-change-family/compose.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/invert.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/markListFactory.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/randomSequenceGenerator.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/randomSequenceGenerator.ts
  experimental/dds/tree2/src/test/sequence-change-family/rebase.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/sequenceChangeRebaser.fuzz.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/toDelta.spec.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
Labels: area: dds, area: dds: tree, base: main

#16314 [bump] build-tools: 0.21.0 => 0.22.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#16205 build: Replace deprecated flag in pipeline
  scripts/update-package-version.sh
Labels: base: main

#16326 Cleanup: Just throw, rather than return Promise.reject
  experimental/PropertyDDS/packages/property-changeset/src/templateValidator.ts
  packages/drivers/fluidapp-odsp-urlResolver/src/urlResolver.ts
  packages/drivers/replay-driver/src/replayController.ts
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/nullBlobStorageService.ts
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
  packages/tools/replay-tool/src/replayLoaderObject.ts
  packages/tools/replay-tool/src/replayMessages.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/historian/packages/historian-base/src/services/redisCache.ts
  server/historian/packages/historian-base/src/services/redisTenantCache.ts
  server/historian/packages/historian-base/src/test/utils/testTenantService.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/checkpointManager.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/testDocumentLambda.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/testPartitionLambdaFactory.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/copier/lambda.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-utils/src/deleteSummarizedOps.ts
  server/routerlicious/packages/services/src/nodeCodeLoader.ts
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/test-utils/src/testCollection.ts
  server/routerlicious/packages/test-utils/src/testKafka.ts
  server/tinylicious/src/services/inMemorycollection.ts
  server/tinylicious/src/services/levelDbCollection.ts
Labels: area: server, area: driver, area: dds: propertydds, area: odsp-driver, base: main

#16283 Remove deprecated members of PureDataObject and stop exporting RootDataObject
  .changeset/hip-llamas-roll.md
  .changeset/light-readers-work.md
  api-report/aqueduct.api.md
  api-report/fluid-framework.api.md
  api-report/fluid-static.api.md
  azure/packages/azure-client/src/AzureClient.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.generated.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: framework, area: tests, public api change, base: next, msftbot: merge-next

#16311 Update deps (newest) on server release group in the client release group
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/protocol.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/runtime/datastore/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  pnpm-lock.yaml
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: next, msftbot: merge-next

#15794 Submit blobAttach ops in separate un-grouped batch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, base: main

#16330 tree2: Group default field kind related code into folder
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/schema-stored/index.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/README.md
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultSchema.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/fence.json
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/fence.json
  experimental/dds/tree2/src/feature-libraries/schema-aware/internal.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/partlyTyped.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/README.md
  experimental/dds/tree2/src/feature-libraries/typed-schema/buildViewSchemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/fence.json
  experimental/dds/tree2/src/feature-libraries/typed-schema/flexList.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typeUtils.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/feature-libraries/viewSchemaUtil.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/flexList.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typeUtils.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16308 Compile ESM in app-insights-logger
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/client-logger/app-insights-logger/tsconfig.esnext.json
Labels: area: framework, base: main

#16322 fix(devtools-view): Fix color of the action button after closing the container
  packages/tools/devtools/devtools-view/src/ThemeHelper.ts
Labels: base: main

#16331 Compile ESM in @fluid-experimental/devtools
  packages/tools/devtools/devtools/package.json
  packages/tools/devtools/devtools/tsconfig.esnext.json
Labels: base: main

#16329 Remove leftover references to setValue
  api-report/tree2.api.md
  experimental/dds/tree2/docs/data-model/README.md
  experimental/dds/tree2/docs/semantic-format/README.md
  experimental/dds/tree2/src/core/repair/repairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/fakeRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/forestRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/forestRepairDataStore.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/objMerge.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16337 Revert "Update deps (newest) on server release group in the client release group"
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/protocol.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/runtime/datastore/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  pnpm-lock.yaml
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: next

#16319 Update branching/transaction APIs
  api-report/tree2.api.md
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#16340 Fix the inconsistency between local delete and remote clear
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, base: main

#16341 tree2: Split out optionalField.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/index.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/fence.json
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16146 Slide interval endpoints to non-removed segments
  api-report/merge-tree.api.md
  packages/dds/merge-tree/docs/REFERENCEPOSITIONS.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#16343 Log Stashed Op Failures as DataProcessing
  api-report/container-utils.api.md
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, area: loader, public api change, base: main

#16167 Always leave at least one character in the string when removing range
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#16327 Fix the bug of pendingKeys after local clear
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, base: main

#16298 add checkpoints TTL
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#16218 fix(devtools): Fix DOM layout issues
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
Labels: base: main

#15069 Reimplement pong event for DocumentDeltaConnection
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/deltas.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/loader/container-loader/src/contracts.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/test/test-end-to-end-tests/src/test/pongEvent.spec.ts
Labels: area: runtime, area: loader, area: driver, area: tests, public api change, base: main, changeset-required

#16347 Stress: Clear stashed ops on error
  packages/loader/container-loader/src/container.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: loader, area: tests, base: main

#16334 Prepare for protocol-definitions 2.0.0 typing changes in client
  examples/data-objects/shared-text/src/client-ui-lib/controls/flowView.ts
  examples/external-data/src/model/containerCode.ts
  examples/utils/example-utils/src/migrationTool/sameContainerMigrationTool.ts
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/attributable-map/src/mapKernel.ts
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/tree/src/test/utilities/SharedTreeTests.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/framework/last-edited/src/setup.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/framework/attributor/src/attributor.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: dds, area: dev experience, area: dds: sharedstring, area: tests, area: dds: propertydds, area: dds: tree, base: main

#16300 Changeset for getRelaySessionInfo and providers for it
  .changeset/chubby-schools-jump.md
  .changeset/tired-pugs-flash.md
  UPCOMING.md
Labels: base: main

#16324 build: Tag asserts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  packages/dds/merge-tree/src/client.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: dds, area: dds: propertydds, area: dds: tree, base: main

#16354 Fix links from container-loader documentation
  packages/loader/container-loader/README.md
Labels: area: loader, base: main

#16344 Remove out-of-date TODO in tree2 tests
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16332 Removed comment from GC trailing op test that says errors are unexpected
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
Labels: area: tests, base: main

#15886 Stop throwing "restarting the summarizer instead of closing" errors
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: runtime, area: tests, base: main, changeset-required

#16276 Internal refactoring of ContainerRuntime process/submit code to prepare for modifying ContainerRuntimeMessage type
  .changeset/thirty-cups-beam.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
Labels: area: runtime, public api change, base: main

#16104 Move op replay count telemetry to the runtime layer
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, area: loader, base: main

#16338 Fix bugs in merge command
  .github/workflows/sync-branch.yml
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/git.ts
Labels: area: build, base: main

#16362 Update schema converter for schema2
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
Labels: area: dds, area: dds: propertydds, area: dds: tree, base: main

#16352 tree2: Allow specifying failure cases in makeEncodingTestSuite
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editManagerCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editManagerSummarizer.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEncoder.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16368 R11s: Catch floating promises
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-shared/src/redisSocketIoAdapter.ts
  server/routerlicious/packages/services/src/messageReceiver.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#16053 Encoding for modularChangeFamily covered 100%
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16365 r11s: finding/fixing uncaught exceptions
  server/routerlicious/packages/gitresources/.eslintrc.js
  server/routerlicious/packages/kafka-orderer/.eslintrc.js
  server/routerlicious/packages/lambdas-driver/.eslintrc.js
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas/.eslintrc.js
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/copier/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/moira/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/lambdas/src/utils/connectionCountLogger.ts
  server/routerlicious/packages/local-server/.eslintrc.js
  server/routerlicious/packages/memory-orderer/.eslintrc.js
  server/routerlicious/packages/memory-orderer/src/localNode.ts
  server/routerlicious/packages/memory-orderer/src/localOrderManager.ts
  server/routerlicious/packages/protocol-base/.eslintrc.js
  server/routerlicious/packages/routerlicious-base/.eslintrc.js
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious/.eslintrc.js
  server/routerlicious/packages/services-client/.eslintrc.js
  server/routerlicious/packages/services-core/.eslintrc.js
  server/routerlicious/packages/services-ordering-kafkanode/.eslintrc.js
  server/routerlicious/packages/services-ordering-rdkafka/.eslintrc.js
  server/routerlicious/packages/services-ordering-zookeeper/.eslintrc.js
  server/routerlicious/packages/services-shared/.eslintrc.js
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-shared/src/test/http.spec.ts
  server/routerlicious/packages/services-telemetry/.eslintrc.js
  server/routerlicious/packages/services-utils/.eslintrc.js
  server/routerlicious/packages/services/.eslintrc.js
  server/routerlicious/packages/services/src/metricClient.ts
  server/routerlicious/packages/services/src/nodeCodeLoader.ts
  server/routerlicious/packages/test-utils/.eslintrc.js
Labels: area: server, base: main

#16346 tree2: cleanup defaultFieldKinds tests
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldChangeCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/fieldKindTestUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16190 fix(tree) Fix document corruption due to loss of change info for transient nodes in sequence field
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/tree/visit.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#16228 feat(devtools): Opt-in setting for usage telemetry
  packages/tools/devtools/devtools-view/src/DevtoolsPanel.tsx
  packages/tools/devtools/devtools-view/src/TelemetryUtils.ts
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
Labels: base: main

#16271 Add task to specify which node version the CI should use
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, base: main

#16373 tree2: remove some old schema APIs
  .changeset/tidy-poets-enter.md
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/docs/schema2.md
  experimental/dds/tree2/src/core/schema-stored/Stored and View Schema.md
  experimental/dds/tree2/src/core/schema-stored/builders.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultSchema.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/view.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/schema-stored/examples/schemaExamples.ts
  experimental/dds/tree2/src/test/snapshots/files/summary_snapshot.json
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#16374 refactor(devtools): Simplify DevtoolsLogger
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/DevtoolsLogger.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools/package.json
  packages/tools/devtools/devtools/src/test/types/validateDevtoolsPrevious.generated.ts
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#16375 feat: Add nyc paths to VSCode search exclusions
  .vscode/settings.json
Labels: area: contributor experience, base: main

#16377 Add disposed property to IContainer
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, public api change, base: main

#16358 Update deps (minor) on server release group in the client release group
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/protocol.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/runtime/datastore/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  pnpm-lock.yaml
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: next

#16349 Only use cache for ops fetching in case the snapshot came from cache too
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#16360 Add a function as mocha extensions to skip tests with specific conditions
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-version-utils/src/index.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
Labels: area: tests, base: main

#16369 Don't retain the IContainerContext in the ContainerRuntime
  api-report/container-runtime.api.md
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: framework, area: runtime, public api change, base: main

#16336 feat(devtools): Add telemetry for UI control events
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
Labels: base: main

#16376 refactor(merge:branches): Simplify logic
  .github/workflows/sync-branch.yml
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-cli/src/lib/index.ts
Labels: area: build, base: main

#16370 Refactor tree2 snapshot tests to support multiple trees
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/summary_snapshot.json
  experimental/dds/tree2/src/test/snapshots/summary.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#16389 Minor update on failure-skip function for more precise expression
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-version-utils/src/index.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
Labels: area: tests, base: main

#16380 build: Bump server version in tinylicious
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
  server/tinylicious/src/resourcesFactory.ts
  server/tinylicious/src/routes/ordering/documents.ts
  server/tinylicious/src/services/index.ts
  server/tinylicious/src/services/storageNameAllocator.ts
  server/tinylicious/src/services/tenantManager.ts
Labels: area: server, release, base: main

#16390 Fix rebase axiom comment
  experimental/dds/tree2/src/core/rebase/changeRebaser.ts
Labels: area: dds, area: dds: tree, base: main

#16391 Disable some op reentry tests in Tinylicious
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-version-utils/src/index.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
Labels: area: tests, base: main

#16396 Revert "Add task to specify which node version the CI should use"
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, base: main

#16397 R11S, T9S: Consume convertFirstSummaryWholeSummaryTreeToSummaryTree to support all types of Blobs
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/tinylicious/src/routes/ordering/documents.ts
Labels: area: server, base: main

#16399 (Frs driver)Rename terminology: summary to snapshot on download
  packages/drivers/routerlicious-driver/src/contracts.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/gitManager.ts
  packages/drivers/routerlicious-driver/src/historian.ts
  packages/drivers/routerlicious-driver/src/r11sSnapshotParser.ts
  packages/drivers/routerlicious-driver/src/retriableGitManager.ts
  packages/drivers/routerlicious-driver/src/storageContracts.ts
  packages/drivers/routerlicious-driver/src/test/wholeSummaryDocumentStorageService.spec.ts
  packages/drivers/routerlicious-driver/src/treeUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, base: main

#16392 r11s-driver: Don't generate correlation id in client
  packages/drivers/routerlicious-driver/src/restWrapper.ts
Labels: area: driver, base: main

#16398 fix(merge:branches): Switch branches before trying to delete the branch
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/lib/github.ts
Labels: area: build, base: main

#16393 Change maxBatchDeltas to 2k ops for frs driver
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
Labels: area: driver, base: main

#16342 Add some docs about aliasing.
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/runtime-definitions/src/aliasing.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, base: main

#16388 refactor compose vs individual fuzz test
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/targetedFuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16371 [bump] protocol-definitions: 2.0.0 => 2.1.0 (minor)
  common/lib/protocol-definitions/package.json
Labels: release, base: main

#16402 build(tinylicious): Bump server dependencies
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
Labels: area: server, base: main

#16403 [bump] tinylicious: 0.8.0 => 1.0.0 (major)
  server/tinylicious/package.json
Labels: area: server, base: main

#16406 [bump] tinylicious: 1.0.0 => 2.0.0 (major)
  server/tinylicious/package.json
Labels: area: server, base: main

#16401 [bump] server: 1.0.0 => 2.0.0 (major)
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#16408 Enable workflow_dispatch for sync branches workflow
  .github/workflows/sync-branch.yml
Labels: area: build, base: main

#16410 Revert "Only use cache for ops fetching in case the snapshot came from cache too"
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/deltaStorageService.spec.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#16421 catch redis read error so we can fall back to the database
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
Labels: area: server, base: main

#16427 Improve skipping for timeout and expects tests
  packages/test/test-version-utils/src/itExpects.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
Labels: area: tests, base: main

#16426 Disable op reentry flushing test for T9s
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
Labels: area: tests, base: main

#16423 add api counter for riddler fetchTenantKey metric
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/api.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-utils/src/apiCounters.ts
  server/routerlicious/packages/services-utils/src/index.ts
Labels: area: server, base: main

#16136 Write new pending message format in PendingStateManager
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: next, msftbot: merge-next

#16422 refactor(devtools): Moved usage telemetry for container navigation
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
Labels: base: main

#16436 ci: Accept batch size as input to sync-branch workflow
  .github/workflows/sync-branch.yml
Labels: area: build, base: main
