Repository microsoft/FluidFramework, pull requests merged in 2023-02, with the labels that each got.

#13911 gitrest: manually reset in-memory volume
  server/gitrest/packages/gitrest-base/src/utils/filesystems.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
Labels: area: server, base: main

#13366 Add container selection dropdown(#2551)
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/CommonProps.ts
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/RenderClientDebugger.ts
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSelectionDropdown.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedMapView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
  packages/tools/client-debugger/client-debugger-view/src/index.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/Registry.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/test/ClientDebugger.test.ts
Labels: public api change, base: main

#13904 Tree: BasicChunk Nested cursor
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/emptyChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/sequenceChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
Labels: area: dds, area: dds: tree, base: main

#13905 refactor(tree): Separate delta shallow changes from nested changes
  api-report/tree.api.md
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/deltaUtils.spec.ts
  packages/dds/tree/src/test/feature-libraries/forestRepairDataStore.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
  packages/dds/tree/src/test/sequence-change-family/toDelta.spec.ts
  packages/dds/tree/src/test/testChange.spec.ts
  packages/dds/tree/src/test/testChange.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visit.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13914 Stress: Log additional data to debug stress issues
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, area: driver, area: odsp-driver, base: main

#13746 Remove deep cloning in Quorum, and lodash dependency
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/protocol-base/src/test/quorum.spec.ts
Labels: area: server, base: main

#13922 Tree: more roadmap line breaks
  packages/dds/tree/docs/roadmap.md
Labels: area: dds, area: dds: tree, base: main

#13542 feat: Split mock services into 2: Customer Service and External Data Service
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/README.md
  examples/hosts/app-integration/external-data/jest-puppeteer.config.js
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/external-data/src/mock-customer-service-interface/fence.json
  examples/hosts/app-integration/external-data/src/mock-customer-service-interface/index.ts
  examples/hosts/app-integration/external-data/src/mock-customer-service/README.md
  examples/hosts/app-integration/external-data/src/mock-customer-service/fence.json
  examples/hosts/app-integration/external-data/src/mock-customer-service/index.ts
  examples/hosts/app-integration/external-data/src/mock-customer-service/service.ts
  examples/hosts/app-integration/external-data/src/mock-customer-service/start.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service-interface/fence.json
  examples/hosts/app-integration/external-data/src/mock-external-data-service-interface/index.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/README.md
  examples/hosts/app-integration/external-data/src/mock-external-data-service/externalDataSource.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/fence.json
  examples/hosts/app-integration/external-data/src/mock-external-data-service/index.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/service.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/start.ts
  examples/hosts/app-integration/external-data/src/mock-service/fence.json
  examples/hosts/app-integration/external-data/src/mock-service/service.ts
  examples/hosts/app-integration/external-data/src/mock-service/webhook.ts
  examples/hosts/app-integration/external-data/src/model-interface/TaskData.ts
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/model/fence.json
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/start.ts
  examples/hosts/app-integration/external-data/src/utilities/fence.json
  examples/hosts/app-integration/external-data/src/utilities/index.ts
  examples/hosts/app-integration/external-data/src/utilities/webhook.ts
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  examples/hosts/app-integration/external-data/src/view/fence.json
  examples/hosts/app-integration/external-data/tests/customerService.test.ts
  examples/hosts/app-integration/external-data/tests/externalDataService.test.ts
  examples/hosts/app-integration/external-data/tests/index.tsx
  examples/hosts/app-integration/external-data/tests/mockService.test.ts
  examples/hosts/app-integration/external-data/tests/mockServiceWebhook.test.ts
  examples/hosts/app-integration/external-data/tests/taskData.test.ts
  examples/hosts/app-integration/external-data/tests/utilities.ts
Labels: area: examples, base: main

#13833 Remove AttributionCollection from default bundle
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
  packages/dds/sequence/README.md
  packages/framework/attributor/package.json
  packages/framework/attributor/src/test/attribution/sharedString.attribution.spec.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#13928 Add a .git-blame-ignore-revs file with prettier commits
  .git-blame-ignore-revs
  .gitattributes
  .prettierignore
  .vscode/settings.json
Labels: area: contributor experience, base: main

#13920 ci(azure): Fix component governance paths
  tools/pipelines/build-azure.yml
Labels: area: build, base: main

#13688 Stop exposing some props in IConnectionDetails, use new interface IConnectionDetailsInternal
  BREAKING.md
  api-report/container-definitions.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, breaking change, public api change, base: next, msftbot: merge-next

#13921 refactor(tree): Store repair data in a way that's opaque to Delta
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/cursor.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13925 Stress: Add Profile Name to Logs
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#13918 build(azure): Upgrade build tools and update type tests
  azure/lerna-package-lock.json
  azure/package-lock.json
  azure/package.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/types/validateAzureClientPrevious.generated.ts
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/test/types/validateAzureServiceUtilsPrevious.generated.ts
  azure/packages/external-controller/package.json
  azure/packages/external-controller/webpack.config.js
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#13897 ci(r11s): Use correct working dir in r11s build
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/include-generate-notice-steps.yml
Labels: area: build, base: main

#13857 clean up eslint warnings in odsp-driver
  packages/drivers/odsp-driver/.eslintrc.js
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getUrlAndHeadersWithAuth.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
Labels: area: driver, area: odsp-driver, base: main

#13931 [Port v2int 2.4] Fix child summary tree not available during refreshing GC state from snapshot (#13858)
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime, base: release

#13624 Re-enable back-compat testing for compression
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
Labels: area: tests, base: main

#13855 docs(tree): Add design documentation to cursor's modes pattern
  packages/dds/tree/src/core/tree/cursor.ts
Labels: area: dds, area: dds: tree, base: main

#13902 Document Container Close Errors
  api-report/odsp-driver-definitions.api.md
  api-report/routerlicious-driver.api.md
  docs/content/docs/build/containers.md
  docs/rollup-api-data.js
  packages/common/container-definitions/src/error.ts
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/test/errorUtils.spec.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
  packages/loader/container-loader/README.md
Labels: documentation, area: loader, area: driver, area: website, area: odsp-driver, public api change, base: main

#13940 fix(client-debug-view): Misc. React state bugs
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerStateView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/FluidObjectView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedMapView.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/widgets/CounterWidget.tsx
Labels: base: main

#13794 docs(routerlicious-driver): Improve Token-related source code documentation
  api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/tokens.ts
Labels: area: driver, public api change, base: main

#12716 add stashed ops/closeAndGetPendingLocalState documentation
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/closeAndGetPendingLocalState.md
Labels: area: loader, base: main

#13749 Tree: Support cross-field changes in ModularChangeFamily
  api-report/tree.api.md
  packages/dds/tree/src/core/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/crossFieldQueries.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeEncoding.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markQueue.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/nestedSet.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13943 refactor(client-debug-view): Adds React eslint plugins and fixes violations
  packages/tools/client-debugger/client-debugger-view/.eslintrc.js
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerStateView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/FluidObjectView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/RecordView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedMapView.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  pnpm-lock.yaml
Labels: base: main

#13870 Update testObjectProvider's allowedErrors to support downgrading log category
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: tests, base: main

#13946 Use `getOrCreate` helper in editManager.ts
  packages/dds/tree/src/core/edit-manager/editManager.ts
Labels: area: dds, area: dds: tree, base: main

#13947 stress: return blobs while offline
  packages/test/test-service-load/src/faultInjectionDriver.ts
Labels: area: tests, base: main

#13962 Increase timeout for tree/basicChunk tests to mitigate timeout failures
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13961 build: Add formatting commit to git-blame-ignore
  .git-blame-ignore-revs
Labels: base: main

#13586 GC sweep datastores from data stores list
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneUnreferencePhases.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#13958 build(external-data): Add React linter plugins and fix violations
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  pnpm-lock.yaml
Labels: area: examples, base: main

#13957 build(client-debug-view): Add missing peer dependencies
  packages/tools/client-debugger/client-debugger-view/package.json
  pnpm-lock.yaml
Labels: base: main

#13966 Revert "Increase timeout for tree/basicChunk tests to mitigate timeout failures"
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13965 build: Remove / update .editorconfig files to accommodate prettier / tsdoc
  .editorconfig
  azure/.editorconfig
  azure/packages/external-controller/.editorconfig
  common/build/eslint-config-fluid/.editorconfig
  docs/.editorconfig
  examples/apps/contact-collection/.editorconfig
  examples/apps/data-object-grid/.editorconfig
  examples/apps/view-framework-sampler/.editorconfig
  examples/data-objects/diceroller/.editorconfig
  examples/data-objects/monaco/.editorconfig
  examples/data-objects/multiview/constellation-model/.editorconfig
  examples/data-objects/multiview/constellation-view/.editorconfig
  examples/data-objects/multiview/container/.editorconfig
  examples/data-objects/multiview/coordinate-model/.editorconfig
  examples/data-objects/multiview/interface/.editorconfig
  examples/data-objects/multiview/plot-coordinate-view/.editorconfig
  examples/data-objects/multiview/slider-coordinate-view/.editorconfig
  examples/data-objects/multiview/triangle-view/.editorconfig
  examples/data-objects/shared-text/.editorconfig
  examples/data-objects/task-selection/.editorconfig
  examples/data-objects/todo/.editorconfig
  examples/hosts/app-integration/container-views/.editorconfig
  examples/hosts/app-integration/external-data/.editorconfig
  examples/hosts/app-integration/external-views/.editorconfig
  examples/hosts/app-integration/schema-upgrade/.editorconfig
  examples/utils/bundle-size-tests/.editorconfig
  experimental/dds/sequence-deprecated/.editorconfig
  experimental/examples/bubblebench/baseline/.editorconfig
  experimental/examples/bubblebench/common/.editorconfig
  experimental/examples/bubblebench/ot/.editorconfig
  experimental/examples/bubblebench/sharedtree/.editorconfig
  packages/dds/sequence/.editorconfig
  packages/drivers/odsp-driver-definitions/.editorconfig
  packages/drivers/odsp-driver/.editorconfig
  server/gitrest/.editorconfig
  server/historian/.editorconfig
  server/routerlicious/.editorconfig
Labels: base: main

#13970 Disable polygon tree tests as they keep timing out
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
Labels: area: dds, area: dds: tree, base: main

#13779 feat(container-loader): Allow setting the container's logger at load time
  api-report/container-loader.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: main

#13971 build: Replace npx only-allow
  build-tools/package.json
  package.json
  scripts/only-pnpm.cjs
Labels: base: main

#13977 build: Fix root prettier scripts
  package.json
Labels: base: main

#13978 Decrease traffic volume for the large payload stress tests.
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#13976 Tree: speed up uniformChunk tests by making the polygon test have fewer sides
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
Labels: area: dds, area: dds: tree, base: main

#13930 Add detached attribution key type
  api-report/merge-tree.api.md
  api-report/runtime-definitions.api.md
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/runtime-definitions/src/attribution.ts
  packages/runtime/runtime-definitions/src/index.ts
Labels: area: framework, area: runtime, area: dds, public api change, base: main

#13967 build: Add missing deps to common pkgs
  common/lib/common-definitions/package-lock.json
  common/lib/common-definitions/package.json
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package-lock.json
  common/lib/protocol-definitions/package.json
Labels: base: main

#13974 build: install pnpm automatically in codespaces
  .devcontainer/devcontainer.json
Labels: base: main

#13982 refactor(eslint-config-fluid): Remove editorconfig plugin
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: base: main

#13811 Token provider telemetry improvement
  packages/drivers/routerlicious-driver/src/documentService.ts
Labels: area: driver, base: main

#13955 Update the azure service endpoint used in E2E testing
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
Labels: base: main

#13956 Fix deprecated endpoints in FRS Perf Tests
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/docCreatorRunnerClient.ts
  azure/packages/test/scenario-runner/src/docLoaderRunnerClient.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/mapTrafficRunnerClient.ts
  tools/pipelines/fluid-afr-perf-test.yml
Labels: area: build, base: main

#13988 build: Remove editorconfig vscode extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: area: contributor experience, base: main

#13990 build: Add jest and mocha to root dependencies
  README.md
  package.json
  pnpm-lock.yaml
Labels: base: main

#13917 Deprecate PendingStateManager local state interfaces
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, breaking change, public api change, base: main

#13996 Increase chunk sizes in stress tests.
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: main

#13557 Editable shared tree bubble bench
  api-report/tree.api.md
  experimental/examples/bubblebench/editable-shared-tree/.editorconfig
  experimental/examples/bubblebench/editable-shared-tree/.eslintrc.js
  experimental/examples/bubblebench/editable-shared-tree/.gitignore
  experimental/examples/bubblebench/editable-shared-tree/.npmignore
  experimental/examples/bubblebench/editable-shared-tree/LICENSE
  experimental/examples/bubblebench/editable-shared-tree/README.md
  experimental/examples/bubblebench/editable-shared-tree/jest-puppeteer.config.js
  experimental/examples/bubblebench/editable-shared-tree/jest.config.js
  experimental/examples/bubblebench/editable-shared-tree/package.json
  experimental/examples/bubblebench/editable-shared-tree/src/appState.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubble.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubblebench.ts
  experimental/examples/bubblebench/editable-shared-tree/src/client.ts
  experimental/examples/bubblebench/editable-shared-tree/src/index.ts
  experimental/examples/bubblebench/editable-shared-tree/src/schema.ts
  experimental/examples/bubblebench/editable-shared-tree/tests/demo.test.ts
  experimental/examples/bubblebench/editable-shared-tree/tsconfig.esnext.json
  experimental/examples/bubblebench/editable-shared-tree/tsconfig.json
  experimental/examples/bubblebench/editable-shared-tree/webpack.config.js
  experimental/examples/bubblebench/editable-shared-tree/webpack.dev.js
  experimental/examples/bubblebench/editable-shared-tree/webpack.prod.js
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/builders.ts
  packages/dds/tree/src/core/tree/types.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/feature-libraries/viewSchemaUtil.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/util/utils.ts
  pnpm-lock.yaml
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#13960 Empty fields remaining for ObjectForest and ChunkedForest
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/forestTestSuite.ts
Labels: area: dds, area: dds: tree, base: main

#14002 build(client): Prepare and generate typetests
  lerna-package-lock.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.generated.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/test/types/validateFluidFrameworkPrevious.generated.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/test/types/validateOdspDoclibUtilsPrevious.generated.ts
Labels: area: framework, area: loader, area: driver, dependencies, area: odsp-driver, base: release

#13999 fix(generate:typetests): Skip tests when previousVersion is invalid
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
Labels: base: main

#14009 build(server): Add/update build-tools dependencies
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#14005 feat(container-loader): Allow setting the container's logger at load time
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: release

#14008 Stress: Improve Logger Consistency
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#14011 build(build-tools): Bump 0.8.0 => 0.9.0 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#13762 Add commands to prompts
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
Labels: base: main

#14013 Improve Logging Error Message Formats to Better Aggregate
  api-report/container-utils.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/framework/agent-scheduler/package.json
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/loader/container-utils/src/error.ts
  packages/runtime/container-runtime/src/summaryGenerator.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: dds, area: tests, public api change, base: main

#13993 [Build]: Convert getkeys to use pnpm
  tools/getkeys/package-lock.json
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/getkeys/pnpm-workspace.yaml
Labels: base: main

#14019 Prrajen/remove scribe delta usage2
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server

#13929 [Port v2int 2.3] Fix child summary tree not available during refreshing GC state from snapshot (#13858)
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
Labels: area: runtime, base: release

#14006 Handle overriding attribution.track in attributor package
  packages/dds/sequence/README.md
  packages/dds/sequence/src/sequence.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, base: main

#13812 Test/seanimam azure monitor
  pnpm-lock.yaml
  tools/pipelines/test-perf-benchmarks.yml
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/src/commands/appInsights.ts
  tools/telemetry-generator/src/handlers/appInsightsExecutionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsMemoryUsageTestHandler.ts
Labels: area: build, base: main

#14023 Disable large payload stages
  packages/test/test-service-load/package.json
  packages/test/test-service-load/testConfig.json
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, base: main

#14026 Update getKeys README.md instruction to use pnpm
  tools/getkeys/README.md
Labels: base: main

#14024 build(client): pnpm dedupe
  pnpm-lock.yaml
Labels: base: main

#13934 Add small readme about chunking and compression
  packages/runtime/container-runtime/src/opLifecycle/README.md
Labels: area: runtime, base: main

#14034 fixes improper formatting in package.json
  tools/telemetry-generator/package.json
Labels: base: main

#14028 feat: tree: export stack cursor
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/index.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14021 Don't proceed to close socket if connection is already disposed in odsp
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#13991 Use detached attribution key
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/test/attributionCollection.spec.ts
  packages/dds/merge-tree/src/test/createInsertOnlyAttributionPolicy.spec.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
Labels: area: dds, area: tests, base: main

#13187 Switch server release group to pnpm
  server/routerlicious/.npmrc
  server/routerlicious/Dockerfile
  server/routerlicious/README.md
  server/routerlicious/docker-compose.dev.yml
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/lerna.json
  server/routerlicious/package-lock.json
  server/routerlicious/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
  server/routerlicious/pnpm-workspace.yaml
  server/routerlicious/scripts/only-pnpm.cjs
Labels: area: server, base: main

#13980 Add endpointName to tinylicious and local drivers
  api-report/test-drivers.api.md
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/localServerTestDriver.ts
  packages/test/test-drivers/src/test/types/validateTestDriversPrevious.generated.ts
  packages/test/test-drivers/src/tinyliciousTestDriver.ts
Labels: area: tests, public api change, base: main

#14043 ci(r11s): Remove unneeded pipeline steps post-pnpm
  tools/pipelines/templates/include-generate-notice-steps.yml
Labels: area: build, base: main

#14047 docs(task-manager): Remove broken link
  packages/dds/task-manager/src/taskManager.ts
Labels: area: dds, base: main

#13969 Remove most remaining usages of IFluidHTMLView
  api-report/aqueduct.api.md
  examples/apps/data-object-grid/package.json
  examples/apps/data-object-grid/src/dataObjectRegistry.ts
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/codeMirrorView.tsx
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/codemirror/tsconfig.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/prosemirror/src/prosemirror.tsx
  examples/data-objects/prosemirror/tsconfig.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/shared-text/src/index.ts
  examples/data-objects/shared-text/src/view.tsx
  packages/framework/aqueduct/src/request-handlers/requestHandlers.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, public api change, base: main

#14014 build: Add a format:changed script
  README.md
  package.json
  pnpm-lock.yaml
Labels: base: main

#14051 style(build-tools): Prettier ignore generated README
  build-tools/packages/build-cli/README.md
  build-tools/packages/version-tools/README.md
Labels: base: main

#14036 Adding ConnectionCountPerNode and TotalConnectionCount metrics
  server/routerlicious/kubernetes/routerlicious/templates/alfred-deployment.yaml
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/utils/connectionCountLogger.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/cache.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/test-utils/src/testCache.ts
Labels: area: server, base: main

#13941 Change ContainerDispose event to always be generic
  packages/loader/container-loader/src/container.ts
Labels: area: loader, base: main

#14017 Retiring the scribe deltas collection
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server, base: main

#14061 build(client): Add/ignore missing peer deps
  experimental/PropertyDDS/examples/schemas/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  package.json
  packages/loader/web-code-loader/package.json
  pnpm-lock.yaml
Labels: area: loader, area: dds: propertydds, base: main

#14052 Fixed bug - RefreshLatestSummaryAck can end up updating wrong latest reference sequence number
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: main

#14064 build(azure): Misc improvements to azure scripts
  azure/lerna-package-lock.json
  azure/package.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#14050 GC: Add a "GC Feature Support" persisted object for controlling feature exposure over a document's lifetime
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/garbageCollectionHelpers.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gcHelpers.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#14067 perf(fluid-build): Reduce package check noise by scoping to only packages to be built
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
Labels: base: main

#14025 feat(check:policy): Add pnpm repo policies
  .prettierignore
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/index.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/pnpm.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/repoPolicyCheck.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: base: main

#14065 Add fetchsource and scenario name in getVersions api
  api-report/driver-utils.api.md
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/runtime/container-runtime/src/serializedSnapshotStorage.ts
Labels: area: runtime, area: loader, area: driver, area: odsp-driver, public api change, base: main

#14038 feat: tree: Add parent access to EditableTree
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13979 Deleted datastores cannot be loaded and an error is thrown
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#14059 docs: Add bullet points for notable VSCode setting options
  README.md
Labels: base: main

#14058 build(build-tools): Bump 0.9.0 => 0.10.0 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#14075 Sharmak/bugfix
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/utils/connectionCountLogger.ts
Labels: area: server, base: main

#14071 feat(build): Accepting monorepo path for build scope on fluid-build command line
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
Labels: base: main

#14068 Additional test case and some cleanup for GcFeatureMatrix code
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/garbageCollectionHelpers.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gcHelpers.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#13896 Add throttling logic for creating documents to provide per-cluster rate-limiting at the HTTP route level
  server/BREAKING.md
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/lerna-package-lock.json
  server/routerlicious/package-lock.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/constants.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#14079 build(azure,build-tools): Remove @trivago/prettier-plugin-sort-imports
  azure/lerna-package-lock.json
  azure/package.json
  azure/prettier.config.cjs
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/prettier.config.cjs
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/prettier.config.cjs
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/prettier.config.cjs
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/prettier.config.cjs
  build-tools/pnpm-lock.yaml
  build-tools/prettier.config.cjs
Labels: base: main

#13919 deprecate IRuntime.notifyAttaching()
  api-report/container-definitions.api.md
  packages/common/container-definitions/src/runtime.ts
Labels: public api change, base: main

#13927 Deprecate IFluidHTMLView and HTMLViewAdapter
  BREAKING.md
  api-report/view-adapters.api.md
  api-report/view-interfaces.api.md
  packages/framework/view-adapters/src/htmlview/htmlViewAdapter.tsx
  packages/framework/view-interfaces/src/htmlView.ts
Labels: area: framework, breaking change, public api change, base: main

#14000 Use chunking with compression in regular stress tests.
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#14081 Pause/resume inbound signal along with inbound op queue
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#14077 Policy check fix
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: driver, area: dds, area: odsp-driver, area: dds: tree, base: main

#14084 [fluid-runner] Change scope object property to a getter
  packages/tools/fluid-runner/src/codeLoaderBundle.ts
  packages/tools/fluid-runner/src/exportFile.ts
Labels: base: main

#14040 remove logging error message when delta manager closed due to error
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, base: main

#14097 Disable large payloads as it still creates too much traffic.
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#14086 Move test-drivers and test-pairwise-generator to @fluid-internal scope
  .github/CODEOWNERS
  BREAKING.md
  PACKAGES.md
  api-report/test-drivers.api.md
  azure/lerna-package-lock.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  experimental/dds/tree/package.json
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/revertibles.spec.ts
  packages/dds/tree/package.json
  packages/dds/tree/src/test/utils.ts
  packages/test/local-server-tests/package.json
  packages/test/test-driver-definitions/README.md
  packages/test/test-drivers/README.md
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/odspDriverApi.ts
  packages/test/test-drivers/src/packageVersion.ts
  packages/test/test-drivers/src/test/types/validateTestDriversPrevious.generated.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-pairwise-generator/README.md
  packages/test/test-pairwise-generator/package.json
  packages/test/test-pairwise-generator/src/packageVersion.ts
  packages/test/test-pairwise-generator/src/test/types/validateTestPairwiseGeneratorPrevious.generated.ts
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/testApi.ts
  pnpm-lock.yaml
Labels: area: dds, area: build, breaking change, area: tests, area: dds: propertydds, public api change, area: dds: tree, base: next, msftbot: merge-next

#14100 Container and RelativeLoader no longer exported
  BREAKING.md
  api-report/container-loader.api.md
  api-report/test-utils.api.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
  packages/test/test-end-to-end-tests/src/test/localTestSignals.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringEndToEndTests.spec.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: loader, area: dds, breaking change, area: tests, public api change, area: dds: tree, base: next

#14103 Deprecate Container and Relative Loader
  BREAKING.md
  api-report/container-loader.api.md
  api-report/test-utils.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/test/test-utils/src/containerUtils.ts
Labels: area: loader, breaking change, area: tests, public api change, base: main

#13797 SharedTree Fuzz tester
  packages/dds/tree/src/test/shared-tree/fuzzEditGenerator.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeFuzzTests.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#14109 tree: Inline some fail messages
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
Labels: area: dds, area: dds: tree, base: main

#14108 Fix the assert with unnecessary string
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#14070 Added telemetry that will help identify issues during summarization
  api-report/container-runtime.api.md
  api-report/runtime-definitions.api.md
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/runtime-utils/src/test/summaryUtils.spec.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: main

#14083 fix(fluid-build): Fix copyfile command line parsing blocking incremental build
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  examples/hosts/app-integration/external-data/package.json
  packages/test/test-driver-definitions/package.json
Labels: area: examples, area: tests, base: main

#14107 [Port to v2int/3.0] Fixed bug - RefreshLatestSummaryAck can end up updating wrong latest reference sequence number
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: release

#14093 docs: tree: add Tree Content APIs doc
  packages/dds/tree/docs/Tree Content APIs.md
Labels: area: dds, area: dds: tree, base: main

#14105 Re-expose @fluid-internal/test-drivers for performance pipeline
  packages/test/test-drivers/package.json
Labels: area: tests, base: next

#14096 [main -> lts]: Fix/property dds/summarization bug
  api-report/test-utils.api.md
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  lerna-package-lock.json
  package-lock.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-utils/src/DriverWrappers.ts
  packages/test/test-utils/src/TestConfigs.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/index.ts
Labels: area: runtime, dependencies, area: tests, area: dds: propertydds, public api change

#14106 Introduce a new FlushMode in the interest of not creating too many batches
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#14119 [lts -> release/1.2]: Fix/property dds/summarization bug
  api-report/test-utils.api.md
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  lerna-package-lock.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-utils/src/DriverWrappers.ts
  packages/test/test-utils/src/TestConfigs.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/index.ts
Labels: area: runtime, dependencies, area: tests, area: dds: propertydds, public api change, base: main

#14120 [lts -> release/1.3]: Fix/property dds/summarization bug
  api-report/test-utils.api.md
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  lerna-package-lock.json
  package-lock.json
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInLocalSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-utils/src/DriverWrappers.ts
  packages/test/test-utils/src/TestConfigs.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/index.ts
Labels: area: runtime, dependencies, area: tests, area: dds: propertydds, public api change, base: release

#14099 [Port to v2int/2.4] Fixed bug - RefreshLatestSummaryAck can end up updating wrong latest reference sequence number
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/index.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: release

#14112 Added telemetry that will help identify issues caused by local changes in summarizer
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNode.spec.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
Labels: area: runtime, base: main

#14110 tree: use string literals for fail messages
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/utils.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
Labels: area: dds, area: dds: tree, base: main

#14123 tree: unify two unreachableCase functions.
  common/lib/common-utils/src/unreachable.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#14124 Disable detached attribution test against odsp-driver
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
Labels: area: tests, base: main

#14104 GC Sweep: containers close with proper error message when deleted datastores fail receive ops
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#14125 disable mutex sync when using iso-git
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server, base: main

#14087 fix(smde): Fix SMDE and remove usage of IFluidHTMLView
  examples/data-objects/smde/.eslintrc.js
  examples/data-objects/smde/package.json
  examples/data-objects/smde/src/index.ts
  examples/data-objects/smde/src/marked.ts
  examples/data-objects/smde/src/smde.ts
  examples/data-objects/smde/src/smdeView.tsx
  examples/data-objects/smde/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, base: main

#14055 improvement(client-debugger-view): Merge Container Summary view with summary header
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/InitializeIcons.ts
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerDataView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
  packages/tools/client-debugger/client-debugger-view/src/index.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
Labels: base: main

#14129 Deep copy op content on submit
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#13994 Remove usage of clientSequenceNumber in PendingStateManager
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#14114 Add scopeOverride to enable per-container-resolve customization of runtime initialization
  api-report/container-loader.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: main

#14126 Added Summarize_start event to be logged when a summary starts
  packages/runtime/container-runtime/src/summaryGenerator.ts
Labels: area: runtime, base: main

#14134 test(client-debugger-view): Update test app to label its container views and to utilize debugger nicknames
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
Labels: base: main

#14141 Client Debugger Fix If Statement for Data Typecheck
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedMapView.tsx
Labels: base: main

#14146 Increase retry delay to check if scribe checkpoint caught up
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server, base: main

#14111 Log errors in TestObjectProvider creation, including token errors
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/describeCompat.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  pnpm-lock.yaml
Labels: area: tests, area: odsp-driver, base: main

#14145 feat(build-cli): Allow ssh git remotes
  build-tools/packages/build-cli/src/base.ts
Labels: base: main

#14137 Port scopeOverride to v2int/3.0
  api-report/container-loader.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
Labels: area: loader, public api change, base: release

#14143 Added local DDS in summarizer telemetry and feature flag to limit the count of summarizer local changes telemetry
  api-report/datastore.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, public api change, base: main

#14133 GC: Begin persisting GC Feature Matrix to support internal roll-out of GC Tombstone phase
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/summaryFormat.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: release

#14152 Use a * export on environment-specific exports in common-utils
  common/lib/common-utils/src/index.ts
Labels: base: main

#14063 build(common-utils): Bump 1.1.0 => 1.1.1 (patch)
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/packageVersion.ts
Labels: base: release

#14156 Refactored createSummarizer functions in testSummaryUtils.ts
  api-report/test-utils.api.md
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataStoreRequests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpgrade.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: dds, area: tests, area: dds: propertydds, public api change, area: dds: tree, base: main

#14159 fix(common-utils): Use a * export on environment-specific exports in common-utils
  common/lib/common-utils/src/index.ts
Labels: base: release
