Repository microsoft/FluidFramework, pull requests merged in 2023-03, with the labels that each got.

#13765 docs: Fix broken links
  .github/workflows/website-validation.yml
  docs/.markdownlint-cli2.cjs
  docs/README.md
  docs/_includes/links.md
  docs/content/community/doc-system/index.md
  docs/content/docs/_index.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/bundlers.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
  docs/content/docs/build/packages.md
  docs/content/docs/build/tokenproviders.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/signals.md
  docs/content/docs/concepts/summarizer.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/map.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/data-structures/task-manager.md
  docs/content/docs/deep/compatibility.md
  docs/content/docs/deep/container-and-component-loading.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/dds-anatomy.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/deep/summaryTelemetry.md
  docs/content/docs/deep/visual-dataobject.md
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/faq.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/audience-react.md
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/signals.md
  docs/content/docs/start/examples.md
  docs/content/docs/start/quick-start.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/debugging.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/testing.md
  docs/content/docs/updates/v1.0.0.md
  docs/find-broken-reflinks.sh
  docs/package-lock.json
  docs/package.json
  docs/skipped-urls.txt
  packages/dds/sequence/README.md
  packages/framework/aqueduct/README.md
Labels: documentation, area: framework, area: dds, area: build, area: website, area: dds: sharedstring, base: main

#14261 Empty compression messages
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
Labels: area: runtime, base: main

#14349 improvement(eslint-config-fluid): Disable problematic rules
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: base: main

#14334 refactor: Add new simple type test generator
  build-tools/packages/build-tools/bin/fluid-type-test-generator
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/type-test-generator/main.ts
  build-tools/packages/build-tools/src/typeValidator/testGeneration.ts
  build-tools/packages/build-tools/src/typeValidator/typeData.ts
  packages/dds/tree/package.json
  packages/test/test-service-load/package.json
Labels: area: dds, area: tests, area: dds: tree, base: main

#14370 Revert "Empty compression messages"
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
Labels: area: runtime, base: main

#14259 Integrate newest `api-markdown-documenter` into website build
  docs/api-markdown-documenter.js
  docs/api-markdown-documenter/custom-renderers.js
  docs/api-markdown-documenter/front-matter.js
  docs/api-markdown-documenter/index.js
  docs/api-markdown-documenter/render-api-documentation.js
  docs/markdown-emitter.js
  docs/package-lock.json
  docs/package.json
  tools/api-markdown-documenter/src/index.ts
Labels: area: website, base: main

#14374 refactor(client-debugger-view): Remove unused module and export its replacement
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerStateView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
Labels: base: main

#14378 feat(client-debugger-view): Update `ContainerSelectionDropdown` to be reusable in contexts that don't have direct access to the debugger instance
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSelectionDropdown.tsx
  packages/tools/client-debugger/client-debugger-view/src/index.ts
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/ContainerMetadata.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
Labels: public api change, base: main

#14375 refactor(client-debugger-view): Simplify contract of `renderClientDebuggerView`
  packages/tools/client-debugger/client-debugger-chrome-extension/src/OpenDebuggerPanel.ts
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/RenderClientDebugger.ts
Labels: public api change, base: main

#14379 feat(client-debugger-view): Export debugger panel selection menu component for reuse
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/index.ts
Labels: public api change, base: main

#14204 build(build-tools): Upgrade oclif to latest
  build-tools/.npmrc
  build-tools/package.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/bin/dev
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/generate/packageJson.ts
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/commands/version.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#14296 build(client): Externalize fluid-build config
  fluidBuild.config.cjs
  package.json
Labels: base: main

#14364 Tree: Fix move invalidation
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/modular-schema/crossFieldQueries.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14258 [Data Migration] Live schema upgrade demo
  examples/hosts/app-integration/live-schema-upgrade/.eslintrc.js
  examples/hosts/app-integration/live-schema-upgrade/.gitignore
  examples/hosts/app-integration/live-schema-upgrade/.npmignore
  examples/hosts/app-integration/live-schema-upgrade/LICENSE
  examples/hosts/app-integration/live-schema-upgrade/README.md
  examples/hosts/app-integration/live-schema-upgrade/jest-puppeteer.config.js
  examples/hosts/app-integration/live-schema-upgrade/jest.config.js
  examples/hosts/app-integration/live-schema-upgrade/package.json
  examples/hosts/app-integration/live-schema-upgrade/prettier.config.cjs
  examples/hosts/app-integration/live-schema-upgrade/src/app.ts
  examples/hosts/app-integration/live-schema-upgrade/src/demoCodeLoader1.ts
  examples/hosts/app-integration/live-schema-upgrade/src/demoCodeLoader2.ts
  examples/hosts/app-integration/live-schema-upgrade/src/index.html
  examples/hosts/app-integration/live-schema-upgrade/src/interfaces.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion1/containerCode.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion1/diceRoller.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion1/index.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion1/view.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion2/containerCode.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion2/diceCounter.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion2/diceRoller.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion2/index.ts
  examples/hosts/app-integration/live-schema-upgrade/src/modelVersion2/view.ts
  examples/hosts/app-integration/live-schema-upgrade/tests/diceRoller.test.ts
  examples/hosts/app-integration/live-schema-upgrade/tests/index.html
  examples/hosts/app-integration/live-schema-upgrade/tests/index.ts
  examples/hosts/app-integration/live-schema-upgrade/tsconfig.json
  examples/hosts/app-integration/live-schema-upgrade/webpack.config.js
  examples/hosts/app-integration/live-schema-upgrade/webpack.dev.js
  examples/hosts/app-integration/live-schema-upgrade/webpack.prod.js
  examples/hosts/app-integration/live-schema-upgrade/webpack.test.js
  pnpm-lock.yaml
Labels: area: examples, base: main

#14388 Remove IFluidTokenProvider interface
  BREAKING.md
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/common/container-definitions/src/tokenProvider.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, breaking change, public api change, base: next, msftbot: merge-next

#14389 [Live Schema Upgrade] Fix mismatch build-cli version
  examples/hosts/app-integration/live-schema-upgrade/package.json
  pnpm-lock.yaml
Labels: area: examples, base: main

#14366 Add Attachment SummaryType in testDocumentStorage
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, base: main

#14292 `socket.io-parser` version update
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
Labels: area: server, base: main

#14197 Add upcoming breaking notes for bindToContext and getBaseGCDetails deprecation
  BREAKING.md
Labels: breaking change, base: next, msftbot: merge-next

#14390 feat(merge-tree): update benchmark suite names
  packages/dds/merge-tree/src/test/Insertion.perf.spec.ts
  packages/dds/merge-tree/src/test/PartialLengths.perf.spec.ts
  packages/dds/merge-tree/src/test/Removal.perf.spec.ts
  packages/dds/merge-tree/src/test/Snapshot.perf.spec.ts
Labels: area: dds, base: main

#14395 Making SummarizerFetchValidation test to be full compat
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
Labels: area: tests, base: main

#14244 Move summarizerNode items to container-runtime
  BREAKING.md
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/index.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNode.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNodeWithGc.spec.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
  pnpm-lock.yaml
Labels: area: runtime, breaking change, public api change, base: next, msftbot: merge-next

#14397 refactor(tree): Shallow-clone changeset marks
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#14400 r11s-driver: Use correct id for snapshot version cache
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, base: main

#14276 Alternate implementation for waitForConnectedState
  BREAKING.md
  api-report/driver-utils.api.md
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/parallelRequests.ts
Labels: area: loader, breaking change, public api change, base: main

#14386 Move web-code-loader under webpack-fluid-loader
  .github/CODEOWNERS
  BREAKING.md
  PACKAGES.md
  api-report/web-code-loader.api.md
  packages/loader/web-code-loader/.eslintrc.js
  packages/loader/web-code-loader/.gitignore
  packages/loader/web-code-loader/.npmignore
  packages/loader/web-code-loader/LICENSE
  packages/loader/web-code-loader/README.md
  packages/loader/web-code-loader/api-extractor.json
  packages/loader/web-code-loader/index.html
  packages/loader/web-code-loader/package.json
  packages/loader/web-code-loader/prettier.config.cjs
  packages/loader/web-code-loader/src/test/tsconfig.json
  packages/loader/web-code-loader/src/test/types/validateWebCodeLoaderPrevious.generated.ts
  packages/loader/web-code-loader/tsconfig.esnext.json
  packages/loader/web-code-loader/tsconfig.json
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/allowList.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/index.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/scriptManager.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/semVerCdnCodeResolver.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/utils.ts
  packages/tools/webpack-fluid-loader/src/webCodeLoader/webLoader.ts
  pnpm-lock.yaml
Labels: area: loader, area: build, breaking change, public api change, base: next, msftbot: merge-next

#14372 Trailing messages in compressed batches should be empty.
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: runtime, area: tests, base: main

#14393 build(deps): Upgrade json5 deps
  build-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: base: main

#14392 build(deps): Upgrade simple-git
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: base: main

#14398 refactor: Refactor type test prepare into "configure"
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/test/commands/typetests.test.ts
  build-tools/packages/build-tools/bin/fluid-type-validator
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/test/typeValidator/classValidator.spec.ts
  build-tools/packages/build-tools/src/test/typeValidator/enumValidator.spec.ts
  build-tools/packages/build-tools/src/test/typeValidator/interfaceValidator.spec.ts
  build-tools/packages/build-tools/src/type-test-generator/main.ts
  build-tools/packages/build-tools/src/typeValidator/changeToNamedExports.ts
  build-tools/packages/build-tools/src/typeValidator/classDecomposition.ts
  build-tools/packages/build-tools/src/typeValidator/enumValidator.ts
  build-tools/packages/build-tools/src/typeValidator/interfaceValidator.ts
  build-tools/packages/build-tools/src/typeValidator/memberDecomposition.ts
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
  build-tools/packages/build-tools/src/typeValidator/packageValidator.ts
  build-tools/packages/build-tools/src/typeValidator/repoValidator.ts
  build-tools/packages/build-tools/src/typeValidator/runValidator.ts
  build-tools/packages/build-tools/src/typeValidator/testGeneration.ts
  build-tools/packages/build-tools/src/typeValidator/typeData.ts
  build-tools/packages/build-tools/src/typeValidator/typeValidator.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#14033 build(docs): Update docs project to pnpm
  .github/workflows/website-validation.yml
  docs/README.md
  docs/markdown-magic.js
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  tools/pipelines/build-docs.yml
Labels: area: build, area: website, base: main

#14265 Various driver-utils deprecations
  BREAKING.md
  api-report/driver-utils.api.md
  packages/loader/container-loader/src/loader.ts
  packages/loader/driver-utils/src/blobCacheStorageService.ts
  packages/loader/driver-utils/src/emptyDocumentDeltaStorageService.ts
  packages/loader/driver-utils/src/mapWithExpiration.ts
  packages/loader/driver-utils/src/multiDocumentServiceFactory.ts
  packages/loader/driver-utils/src/multiUrlResolver.ts
  packages/loader/driver-utils/src/treeUtils.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/storageServiceWithAttachBlobs.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
Labels: area: runtime, area: loader, breaking change, public api change, base: main

#14355 Add branching checkouts to SharedTree
  api-report/tree.api.md
  packages/dds/tree/README.md
  packages/dds/tree/src/core/checkout/branch.ts
  packages/dds/tree/src/core/checkout/checkout.ts
  packages/dds/tree/src/core/checkout/fence.json
  packages/dds/tree/src/core/checkout/index.ts
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14371 Remove firing event listeners when registering event handlers on Container
  BREAKING.md
  packages/loader/container-loader/src/container.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, breaking change, area: tests, base: next, msftbot: merge-next

#14408 Deprecate attachGraph and bind methods on IFluidHandle
  BREAKING.md
  api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/handles.ts
Labels: breaking change, public api change, base: main

#14229 refactor: Remove deprecated function in test-utils
  BREAKING.md
  api-report/test-utils.api.md
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: breaking change, area: tests, public api change, base: next, msftbot: merge-next

#14354 Make summarizer client read-only to layers below container runtime
  BREAKING.md
  api-report/container-runtime.api.md
  api-report/container-utils.api.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  packages/loader/container-loader/src/deltaManagerProxy.ts
  packages/loader/container-utils/src/deltaManagerProxyBase.ts
  packages/loader/container-utils/src/index.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaManagerSummarizerProxy.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: loader, breaking change, area: tests, area: dds: propertydds, public api change, base: main

#14404 Deprecate waitForAttach
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/utils/attachUtils.ts
Labels: area: framework, breaking change, public api change, base: main

#14411 ci(docs): Fix docs build
  tools/pipelines/build-docs.yml
Labels: base: main

#13516 ci: Make pipelines package r11s and historian Helm charts directly
  tools/pipelines/chart-historian.yml
  tools/pipelines/chart-routerlicious.yml
  tools/pipelines/templates/include-package-chart.yml
Labels: area: build, base: main

#14403 fix(tree): Ordering of RevisionTags
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeEncoding.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/tracker.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14357 feat: tree: Anchor slots
  api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/fence.json
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/core/tree/pathTree.ts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/sequence-change-family/randomSequenceGenerator.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceChangeRebaser.fuzz.spec.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14380 Render Container Data in Client Debugger in Tree Format
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/DynamicDataView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/FluidObjectView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/MapEntryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedMapView.tsx
Labels: base: main

#14347 Tests to validate data object isn't initialized if not necessary
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#14419 Fix missing tinylicious-driver test scripts and fix up test
  packages/drivers/tinylicious-driver/package.json
  packages/drivers/tinylicious-driver/src/test/insecureTinyliciousUrlResolverTest.spec.ts
  pnpm-lock.yaml
Labels: area: driver, base: main

#14310 tree: Early repair data lookup
  api-report/tree.api.md
  packages/dds/tree/README.md
  packages/dds/tree/src/core/change-family/changeFamily.ts
  packages/dds/tree/src/core/rebase/changeRebaser.ts
  packages/dds/tree/src/core/rebase/fence.json
  packages/dds/tree/src/core/repair/fence.json
  packages/dds/tree/src/core/repair/repairDataStore.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14396 Added indications for successful/failed updates
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/view/taskListView.tsx
Labels: area: examples, base: main

#14158 "Summary Collection" tests compare fixes
  packages/runtime/container-runtime/src/test/summary/summaryCollection.spec.ts
Labels: area: runtime, base: main

#14424 Move local session Id inside of edit manager
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/testTree.ts
Labels: area: dds, area: dds: tree, base: main

#12487 Expose entrypoint in `Container`
  api-report/aqueduct.api.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  api-report/container-runtime.api.md
  api-report/data-object-base.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/data-object-base/package.json
  packages/framework/data-object-base/src/runtimeFactory.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/tools/replay-tool/src/helpers.ts
  packages/tools/replay-tool/src/replayFluidFactories.ts
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, public api change, base: main

#14413 Deprecate IDocumentServiceFactory.protocolName and remove remaining usage
  BREAKING.md
  api-report/driver-definitions.api.md
  api-report/file-driver.api.md
  api-report/odsp-driver.api.md
  api-report/replay-driver.api.md
  api-report/routerlicious-driver.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/drivers/file-driver/src/fileDocumentServiceFactory.ts
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/replay-driver/src/replayDocumentServiceFactory.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  pnpm-lock.yaml
Labels: area: driver, breaking change, area: tests, area: odsp-driver, public api change, base: main

#14422 Mark 'core-utils' exports as @internal
  api-report/core-utils.api.md
  build-tools/packages/build-tools/data/layerInfo.json
  packages/common/core-utils/README.md
  packages/common/core-utils/package.json
  packages/common/core-utils/src/compare.ts
Labels: public api change, base: main

#14427 fix: Make getEntryPoint optional like it should have been
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, public api change, base: main

#13880 Refactor: consolidate 'compareArrays' implementations
  build-tools/packages/build-tools/data/layerInfo.json
  experimental/dds/tree/package.json
  experimental/dds/tree/src/Common.ts
  experimental/dds/tree/src/EditLog.ts
  experimental/dds/tree/src/EditUtilities.ts
  experimental/dds/tree/src/PayloadUtilities.ts
  packages/common/core-utils/src/test/types/compareArrays.type.ts
  packages/dds/tree/package.json
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
  pnpm-lock.yaml
Labels: area: dds, area: dds: tree, base: main

#14432 1.3: fix undefined message contents bug
  packages/runtime/container-runtime/src/opTelemetry.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: release

#14254 fix:update-qs-package-version
  experimental/PropertyDDS/services/property-query-service/package.json
  pnpm-lock.yaml
Labels: area: dds: propertydds, base: main

#14434 Remove deprecated PendingStateManager interfaces
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, breaking change, public api change, base: next, msftbot: merge-next

#14437 [GC-stress] Add fault injection to stress tests
  packages/test/test-service-load/package.json
  packages/test/test-service-load/testConfig.json
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests

#14416 feat(benchmark): Add output column "avg ms/iteration" for memory usage tests
  tools/benchmark/package-lock.json
  tools/benchmark/package.json
  tools/benchmark/src/MemoryTestRunner.ts
  tools/benchmark/src/MochaMemoryTestReporter.ts
Labels: base: main

#14441 tree: Fix encoding for changesets with repair data
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEncoder.spec.ts
Labels: area: dds, area: dds: tree, base: main

#14318 Deprecate Interval APIs intended to be internal
  BREAKING.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, breaking change, area: dds: sharedstring, public api change, base: main

#14423 Enable single commit summary true by default for odsp driver
  api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: main

#14449 Fix remove queue task
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#14417 Reenable chunking in the stress tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#14438 PendingStateManager getLocalState no longer returns flush messages
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: next, msftbot: merge-next

#14450 Move attributor to @fluid-experimental namespace
  PACKAGES.md
  api-report/attributor.api.md
  packages/dds/sequence/README.md
  packages/framework/attributor/README.md
  packages/framework/attributor/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatUtils.ts
  pnpm-lock.yaml
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#14363 Add a new API (empty implementation) in Alfred for token revocation
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/scopes.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services-utils/src/index.ts
Labels: area: server, public api change, base: main

#14464 feat(merge-tree): make some benchmarks take longer
  packages/dds/merge-tree/src/test/Insertion.perf.spec.ts
  packages/dds/merge-tree/src/test/PartialLengths.perf.spec.ts
  packages/dds/merge-tree/src/test/Removal.perf.spec.ts
  packages/dds/merge-tree/src/test/Snapshot.perf.spec.ts
  packages/dds/merge-tree/src/test/snapshot.utils.ts
Labels: area: dds, base: main

#14430 Deprecate ContainerServices@fluidframework/aqueduct
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/container-services/containerServices.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: framework, breaking change, public api change, base: main

#14467 build(client): Tag asserts
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: loader, area: dds, area: dds: tree, base: main

#14456 fix(tree): Delta visit move-in under detaches
  api-report/tree.api.md
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/forestRepairDataStore.ts
  packages/dds/tree/src/test/feature-libraries/deltaUtils.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/tree/visit.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14426 Create initial perf test for Loading documents with medium and large size Maps.
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.js
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
  packages/test/test-version-utils/src/index.ts
Labels: area: tests, base: main

#14471 Minor release 2.0.0-internal.3.3.0 bump build-tools
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#14470 Deprecate some internal interfaces on public API surface
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, breaking change, public api change, base: main

#14473 tree: Set noImplicitOverride to true and fix errors
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/core/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/id-compressor/appendOnlySortedMap.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/tsconfig.json
Labels: area: dds, area: dds: tree, base: main

#14399 feat(client-debugger): Fluid Telemetry displayed in debugger
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/ContainerView.tsx
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
  packages/tools/client-debugger/client-debugger-view/src/index.ts
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/package.json
  packages/tools/client-debugger/client-debugger/src/FluidDebuggerLogger.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/TelemetryMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
  pnpm-lock.yaml
Labels: public api change, base: main

#14227 style: Clean up typetest config
  packages/drivers/driver-base/package.json
  packages/drivers/driver-base/src/test/types/validateDriverBasePrevious.generated.ts
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/test/types/validateLocalDriverPrevious.generated.ts
  packages/framework/data-object-base/package.json
  packages/framework/data-object-base/src/test/types/validateDataObjectBasePrevious.generated.ts
  packages/framework/oldest-client-observer/package.json
  packages/framework/view-adapters/package.json
  packages/framework/view-interfaces/package.json
  packages/loader/test-loader-utils/package.json
  packages/loader/web-code-loader/package.json
  packages/loader/web-code-loader/src/test/types/validateWebCodeLoaderPrevious.generated.ts
  packages/test/mocha-test-setup/package.json
  packages/test/mocha-test-setup/src/test/types/validateMochaTestSetupPrevious.generated.ts
  packages/test/test-driver-definitions/.eslintrc.js
  packages/test/test-driver-definitions/package.json
  packages/test/test-driver-definitions/src/test/tsconfig.json
  packages/test/test-driver-definitions/src/test/types/validateTestDriverDefinitionsPrevious.generated.ts
  packages/test/test-driver-definitions/tsconfig.json
  packages/test/test-pairwise-generator/package.json
  packages/test/test-pairwise-generator/src/test/types/validateTestPairwiseGeneratorPrevious.generated.ts
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/src/test/types/validateFluidRunnerPrevious.generated.ts
  pnpm-lock.yaml
Labels: area: framework, area: loader, area: driver, area: tests, base: main

#14485 tree: require public
  packages/dds/tree/.eslintrc.js
  packages/dds/tree/src/core/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/core/dependency-tracking/cachedValue.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/shared-tree/testTree.ts
  packages/dds/tree/src/util/stackyIterator.ts
Labels: area: dds, area: dds: tree, base: main

#14454 [GC-stress] Added snapshot cache expiry override to ODSP driver
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/test/test-service-load/testConfig.json
Labels: area: driver, area: tests, area: odsp-driver

#14488 Extending timeout to try and addres failures during benchmark run.
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.js
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
Labels: base: main

#14478 [bump] build-tools: 0.12.0 => 0.13.0 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
Labels: base: main

#14458 Align local-driver package scripts with other driver packages
  BREAKING.md
  api-report/local-driver.api.md
  packages/drivers/local-driver/api-extractor.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/tsconfig.esnext.json
  pnpm-lock.yaml
Labels: area: driver, breaking change, public api change, base: main

#14491 Adjust mocha timeout to 120 secs instead of 12.
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
Labels: base: main

#14425 Fail fast for invalid and deleted sessions
  server/routerlicious/packages/lambdas-driver/src/document-router/documentLambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
Labels: area: server, base: main

#14463 No need to add unnecessary query params
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/test/odspCreateContainer.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/drivers/odsp-urlResolver/src/test/spoUrlResolver.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#14493 Prefer driver-definitions over driver-utils
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, base: main

#14487 tree: enable strict-boolean-expressions
  packages/dds/tree/.eslintrc.js
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/test/domains/json/twitter.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#14465 Add an AttributionKey type for local changes
  api-report/runtime-definitions.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/framework/attributor/README.md
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/attribution.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
Labels: area: framework, area: runtime, area: dds, area: tests, public api change, base: main

#14306 fix(tree): Reenable cancelling out of inverse marks in rebase sandwich composition
  api-report/tree.api.md
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/changeRebaser.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/rebaser.ts
  packages/dds/tree/src/core/rebase/verifyChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/test/feature-libraries/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/rebase/fuzz.ts
  packages/dds/tree/src/test/sequence-change-family/invert.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/testTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14500 lint(tree): fix lint errors in tree
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
Labels: area: dds, area: dds: tree, base: main

#14495 Pin server versions to .2000
  package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: base: main

#14483 build: Remove build:full scripts
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/version-tools/package.json
  tools/pipelines/build-build-tools.yml
Labels: area: build, base: main

#14499 Fix stress test op count
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: tests, base: main

#14489 [main > release/v2int/3.0]: Don't proceed to close socket if connection is already disposed in odsp
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: release

#14469 Remove SharedTree legacy transaction APIs
  api-report/tree.api.md
  packages/dds/tree/README.md
  packages/dds/tree/src/core/checkout/README.md
  packages/dds/tree/src/core/checkout/checkout.ts
  packages/dds/tree/src/core/checkout/fence.json
  packages/dds/tree/src/core/checkout/index.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/transaction/README.md
  packages/dds/tree/src/core/transaction/fence.json
  packages/dds/tree/src/core/transaction/index.ts
  packages/dds/tree/src/core/transaction/transaction.ts
  packages/dds/tree/src/feature-libraries/defaultTransaction.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeFuzzTests.ts
  packages/dds/tree/src/test/shared-tree/summaryBenchmarkSizes.ts
  packages/dds/tree/src/test/shared-tree/testTree.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/transactionResult.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14447 Adding error sanitizer for Mongo.
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#14494 Bump client deps on server to 0.1038.3000
  examples/hosts/app-integration/external-data/package.json
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/examples/partial-checkout/webpack.config.js
  experimental/PropertyDDS/examples/partial-checkout/webpack.test.js
  experimental/PropertyDDS/examples/property-inspector/webpack.config.js
  experimental/PropertyDDS/examples/property-inspector/webpack.test.js
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/tinylicious-client/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#14484 feat(client-debugger): Logging cleanup
  packages/tools/client-debugger/client-debugger-chrome-extension/src/messaging/Utilities.ts
  packages/tools/client-debugger/client-debugger/src/FluidDebuggerLogger.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Utilities.ts
Labels: base: main

#14508 [GC-stress] Fix validateTestClientUtilsPrevious.generated.ts
  packages/framework/test-client-utils/src/test/types/validateTestClientUtilsPrevious.generated.ts
Labels: area: framework

#14509 build: Tag asserts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#14412 doc(tree): Undo V1 design draft
  packages/dds/tree/docs/undo/README.md
Labels: area: dds, area: dds: tree, base: main

#14451 Minor cleanup in bubblebench.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubblebench.ts
Labels: area: examples, base: main

#14514 [GC-stress] Use container options instead of configs for most GC options
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#14515 [main > release/v2int/2.4]: Don't proceed to close socket if connection is already disposed in odsp
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: release

#14519 [GC-stress] Add running GC sweep mode to stress tests
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/testConfig.json
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests

#14505 Fix regression: GC peformance degradation for large documents
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
Labels: area: runtime, area: tests, base: main

#14243 tree: better typed schema
  api-report/tree.api.md
  experimental/examples/bubblebench/editable-shared-tree/src/appState.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubble.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubblebench.ts
  experimental/examples/bubblebench/editable-shared-tree/src/client.ts
  experimental/examples/bubblebench/editable-shared-tree/src/schema.ts
  packages/dds/tree/.eslintrc.js
  packages/dds/tree/README.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/builders.ts
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema/outputTypes.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema/typeUtils.ts
  packages/dds/tree/src/feature-libraries/modular-schema/typedSchema/typedSchema.ts
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/schema-aware/README.txt
  packages/dds/tree/src/feature-libraries/schema-aware/fence.json
  packages/dds/tree/src/feature-libraries/schema-aware/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/internal.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  packages/dds/tree/src/feature-libraries/schemaIndexFormat.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema/example.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema/exampleApi.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema/typeUtils.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/typedSchema/typedSchema.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaComplex.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaSimple.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/dds/tree/tsconfig.json
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#14526 build(deps): Update ts-morph
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/typeValidator/typeData.ts
  build-tools/packages/version-tools/README.md
  build-tools/pnpm-lock.yaml
Labels: base: main

#14520 Remove unused random-js devDep in experimental tree
  experimental/dds/tree/package.json
  pnpm-lock.yaml
Labels: area: dds, area: dds: tree, base: main

#14518 Use stochastic-test-utils for randomness in test-service-load
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  pnpm-lock.yaml
Labels: area: tests, base: main

#14511 Add Value Changed Constraint
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeEncoding.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14522 Remove random-js dependency from merge-tree
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/wordUnitTests.ts
  pnpm-lock.yaml
Labels: area: dds, base: main

#14530 Increase the timeout for installing specific packages in back-compat adhoc tests
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
Labels: area: tests, base: main

#14531 Allow disabling the partition manager consumer error event
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
Labels: area: server, base: main

#14433 Remove unused dependencies from bubblebench
  experimental/examples/bubblebench/baseline/package.json
  experimental/examples/bubblebench/common/package.json
  experimental/examples/bubblebench/editable-shared-tree/package.json
  experimental/examples/bubblebench/ot/package.json
  experimental/examples/bubblebench/sharedtree/package.json
  pnpm-lock.yaml
Labels: area: examples, base: main

#14415 test(SharedMatrix): Update perf tests
  packages/dds/matrix/.gitignore
  packages/dds/matrix/src/test/memory/matrix.spec.ts
Labels: area: dds, base: main

#14536 [GC-stress] Reduce totalSendCount as tests are timing out.
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#14532 fix(tree): prevent MoveId collisions in transactions
  api-report/tree.api.md
  packages/dds/tree/src/core/change-family/changeFamily.ts
  packages/dds/tree/src/core/change-family/index.ts
  packages/dds/tree/src/core/change-family/progressiveEditBuilder.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/editManagerIndex.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/crossFieldQueries.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14538 [r11s] Updating how we set errorCode in ConnectDocument metric
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server, base: main

#14543 [GC-stress] Fix test result not reported
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service-stress.yml
Labels: area: build

#14544 ci: Add GitHub releases config
  .github/release.yml
Labels: area: build, base: main

#14547 tree: Remove unnecessary calls to chunkTree
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
Labels: area: dds, area: dds: tree, base: main

#14533 tree: Example undo flow with diagrams
  packages/dds/tree/docs/undo/README.md
  packages/dds/tree/docs/undo/v1-undo-example-flow.md
  packages/dds/tree/docs/undo/v1-undo.md
Labels: area: dds, area: dds: tree, base: main

#14546 Update deps (minor) on server release group in the client release group
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#14541 Refactored the encoding/decoding tests
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#14529 Update scriptorium metric to include timestamps and kafka batch details
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server, base: main

#14461 feat(client-debugger): Add Container state history tab to the debug panel
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/components/AudienceView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
Labels: public api change, base: main

#14524 tree: remove IndexSymbol
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14460 Remove deprecated members from driver-utils
  BREAKING.md
  api-report/driver-utils.api.md
  packages/drivers/routerlicious-driver/src/cache.ts
  packages/drivers/routerlicious-driver/src/mapWithExpiration.ts
  packages/drivers/routerlicious-driver/src/test/mapWithExpiration.spec.ts
  packages/drivers/routerlicious-driver/src/treeUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/blobAggregationStorage.ts
  packages/loader/driver-utils/src/blobCacheStorageService.ts
  packages/loader/driver-utils/src/emptyDocumentDeltaStorageService.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/loader/driver-utils/src/multiDocumentServiceFactory.ts
  packages/loader/driver-utils/src/multiUrlResolver.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/networkUtils.ts
  packages/loader/driver-utils/src/test/blobAggregation.spec.ts
  packages/loader/driver-utils/src/test/emptyDocumentDeltaStorageService.spec.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
  pnpm-lock.yaml
Labels: area: loader, area: driver, breaking change, public api change, base: next, msftbot: merge-next

#14553 [next] Clean up some deprecations in Summarizer/GC code
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, breaking change, public api change, base: next

#14548 Improve safety when using and combing app and protocol tree
  api-report/driver-utils.api.md
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/loader/driver-utils/src/treeConversions.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#14492 feat(client-debugger): Hook up the ability to modify the container state from the Chrome Extension
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ClientDebugView.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/FluidClientDebugger.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/DebuggerMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
Labels: public api change, base: main

#14561 Log traces for join ops
  server/routerlicious/packages/kafka-orderer/src/kafkaOrderer.ts
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server, base: main

#14570 chore: Remove unnecessary dependencies
  packages/runtime/test-runtime-utils/package.json
  packages/test/test-utils/package.json
  pnpm-lock.yaml
Labels: area: runtime, area: tests, base: main

#14574 ci: Remove commitlint PR validation
  .github/workflows/pr-validation.yml
Labels: area: build, base: main

#14560 v2int 3.3 Port: Improve safety when using and combing app and protocol tree (#14548)
  api-report/driver-utils.api.md
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/loader/driver-utils/src/treeConversions.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: release

#14566 tree: rename checkout to branch in API
  api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14562 test(container-runtime): Improve container runtime tests
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#14564 improvement(client-debugger-chrome-extension): Add `useMessageRelay` helper hook to simplify context consumption
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/DebuggerPanel.tsx
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/MessageRelayContext.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/react-components/TelemetryView.tsx
Labels: base: main

#14528 Small adjustments to the E2E infra to support another set of documents (multiple DDSs)
  api-report/test-utils.api.md
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.js
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/FileLogger.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
Labels: area: tests, public api change, base: main

#14567 v2int 2.4 Port: Improve safety when using and combing app and protocol tree (#14548)
  api-report/driver-utils.api.md
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: release

#14580 Add timestamp when message was queued to kafka in scriptorium metric
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
Labels: area: server, base: main

#14575 Stress: Fix some logs missing profile
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#14568 Tag Asserts for Ports of Improve safety when using and combing app and protocol tree
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, base: main

#14581 tree: expose root events
  api-report/tree.api.md
  packages/dds/tree/src/shared-tree/sharedTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14304 build: Upgrade pipelines to Node16 + upgrade `nvm` recommendation
  .nvmrc
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  package.json
  pnpm-lock.yaml
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
Labels: area: build, base: main

#14584 Add requestSocketToken param in join session call
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
Labels: area: driver, area: odsp-driver, base: main

#14579 feat (external-data) Add externalTaskListId as search parameters in all customer and external service endpoints
  examples/hosts/app-integration/external-data/src/mock-customer-service/service.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/externalDataSource.ts
  examples/hosts/app-integration/external-data/src/mock-external-data-service/service.ts
  examples/hosts/app-integration/external-data/src/model-interface/TaskData.ts
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  examples/hosts/app-integration/external-data/tests/customerService.test.ts
  examples/hosts/app-integration/external-data/tests/externalDataService.test.ts
  examples/hosts/app-integration/external-data/tests/taskData.test.ts
Labels: area: examples, base: main

#14600 build(eslint-config-fluid): Update TypeScript eslint plugin dependencies
  common/build/eslint-config-fluid/package-lock.json
  common/build/eslint-config-fluid/package.json
Labels: base: main

#14557 Remove IDocumentServiceFactory.protocolName
  BREAKING.md
  api-report/debugger.api.md
  api-report/driver-definitions.api.md
  api-report/file-driver.api.md
  api-report/local-driver.api.md
  api-report/odsp-driver.api.md
  api-report/replay-driver.api.md
  api-report/routerlicious-driver.api.md
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.generated.ts
  packages/drivers/debugger/src/fluidDebugger.ts
  packages/drivers/file-driver/package.json
  packages/drivers/file-driver/src/fileDocumentServiceFactory.ts
  packages/drivers/file-driver/src/test/types/validateFileDriverPrevious.generated.ts
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/local-driver/src/test/types/validateLocalDriverPrevious.generated.ts
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/localOdspDriver.spec.ts
  packages/drivers/odsp-driver/src/test/types/validateOdspDriverPrevious.generated.ts
  packages/drivers/replay-driver/package.json
  packages/drivers/replay-driver/src/replayDocumentServiceFactory.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/replay-driver/src/test/types/validateReplayDriverPrevious.generated.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/test/types/validateRouterliciousDriverPrevious.generated.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: loader, area: driver, breaking change, area: tests, area: odsp-driver, public api change, base: next, msftbot: merge-next
