Repository microsoft/FluidFramework, pull requests merged in 2023-04, with the labels that each got.

#14918 [Port v2int 3.0] Reset gc for old snapshots 3.0
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, public api change, area: dds: tree, base: main

#14582 Add Mutiple DDS tests to the Perf E2E runs.
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMultipleDds.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
Labels: area: tests, base: main

#14919 [Port v2int 3.4] Reset gc for old snapshots 3.4
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcHelpers.spec.ts
Labels: area: runtime, base: release

#14920 [Port v2int 3.1] Reset gc for old snapshots 3.1
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: release

#14931 Discussion draft for alternative SharedTree emit & collect eventing functionality
  api-report/tree.api.md
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/test/events/eventEmitter.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14917 feat(client-debugger): Add the ability for applications to supply custom DDS visualizers
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/FluidClientDebugger.ts
  packages/tools/client-debugger/client-debugger/src/Registry.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
Labels: public api change, base: main

#14930 Fix for the timeout during E2E Perf tests
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.js
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMultipleDataStores.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
Labels: area: tests, base: main

#14929 build fix: add 'copyfiles' dep to 'local-driver'
  packages/drivers/local-driver/package.json
  pnpm-lock.yaml
Labels: area: driver, base: main

#14788 Move test-end-to-end-tests to fluid-internal scope
  .changeset/beige-dots-film.md
  .changeset/eighty-lemons-ring.md
  BREAKING.md
  PACKAGES.md
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  packages/test/test-end-to-end-tests/README.md
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/packageVersion.ts
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, breaking change, area: tests, base: main, changeset-required

#14923 [Port v2int 3.3] Reset gc for old snapshots 3.3 (#14906)
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcHelpers.spec.ts
Labels: area: runtime, base: release

#14914 Fix for deleted nodes changes not considered when doing incremental summary of GC data
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
Labels: area: runtime, base: main

#14900 Deprecate last function in @fluidframework/garbage-collector
  .changeset/thirty-ravens-serve.md
  BREAKING.md
  api-report/garbage-collector.api.md
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/garbage-collector/README.md
  packages/runtime/garbage-collector/package.json
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/unpackUsedRoutes.ts
Labels: area: runtime, breaking change, public api change, base: main

#14942 build: Remove duplicate changeset
  .changeset/eighty-lemons-ring.md
Labels: base: main

#14944 [port v2int 3.4] Fix signal error event in case we reconnect and we miss the first signal
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: release

#14946 Weight ops for last summary
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/test/summary/summarizerHeuristics.spec.ts
Labels: area: runtime, base: main

#14840 Add tests for rollback involving multiple types and instances of DDSs
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
Labels: area: tests, base: main

#14907 Add tests for external ops interacting with rolled back changes
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, base: main

#14892 Upgrading typescript transpile target to ES2020 in build-common
  common/build/build-common/.changeset/small-things-grow.md
  common/build/build-common/package.json
  common/build/build-common/ts-common-config.json
Labels: base: next, changeset-required

#14936 feat(client-debug-view): Add fluent UI theme to dev tool
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-chrome-extension/tsconfig.json
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/ThemeHelper.ts
  packages/tools/client-debugger/client-debugger-view/src/components/Menu.tsx
  packages/tools/client-debugger/client-debugger-view/tsconfig.json
  pnpm-lock.yaml
Labels: base: main

#14836 feat(build-common): Update strict API-Extractor config to fail builds on incompatible release tags
  common/build/build-common/.changeset/rich-candles-tan.md
  common/build/build-common/api-extractor-common-strict.json
Labels: breaking change, base: next, msftbot: merge-next

#14949 Fix debug logger on error output in tests
  packages/utils/telemetry-utils/src/debugLogger.ts
Labels: base: main

#14881 Run e2e and stress test daily on lts branch
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#14953 Improve Time to Debug for Debug Current Mocha Test
  .vscode/launch.json
Labels: area: contributor experience, base: main

#14966 Mmeory Performance Tests are uploading wrong result data
  tools/telemetry-generator/src/handlers/memoryUsageTestHandler.ts
Labels: base: main

#14916 Change `TestObjectProvider.loadContainer` default to use delayed load mode
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: tests, base: main

#14967 fix(container-runtime): Remove incorrect assert
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#14958 Misc tweaks to benchmark package
  tools/benchmark/.eslintrc.js
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/MochaMemoryTestReporter.ts
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ReporterUtilities.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/README.md
  tools/benchmark/src/mocha/index.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/mocha/mochaReporterUtilities.ts
  tools/benchmark/src/mocha/runner.ts
  tools/benchmark/src/runBenchmark.ts
  tools/benchmark/src/test/Benchmark.unit.tests.ts
  tools/benchmark/src/test/MemoryTest.tests.ts
  tools/benchmark/src/test/ReporterUtilities.spec.ts
  tools/benchmark/src/timer.ts
Labels: base: main

#14940 Skip failing E2E perf test
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
Labels: base: main

#14971 Deprecate term member from IDocumentAttributes and ISequencedDocumentMessage
  common/lib/protocol-definitions/CHANGELOG.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/storage.ts
Labels: public api change, base: main

#14974 fix: Message type string
  packages/tools/client-debugger/client-debugger/src/FluidClientDebugger.ts
Labels: base: main

#14957 refactor(client-debugger): Refactor types to better represent hierarchy of devtools
  packages/tools/client-debugger/client-debugger-chrome-extension/src/content/ContentScript.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/devtools/BackgroundConnection.ts
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/ReactHooks.tsx
  packages/tools/client-debugger/client-debugger-view/src/WindowMessageRelay.ts
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/package.json
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/IContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/IFluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/Registry.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/AudienceMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Constants.ts
  packages/tools/client-debugger/client-debugger/src/messaging/ContainerDevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/DevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Messages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/RegistryMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Utilities.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
  packages/tools/client-debugger/client-debugger/src/test/ClientDebugger.test.ts
  packages/tools/client-debugger/client-debugger/src/test/ContainerDevtools.test.ts
  packages/tools/client-debugger/client-debugger/src/test/FluidDevtools.test.ts
  pnpm-lock.yaml
Labels: public api change, base: main

#14975 Remove unused dependency in @fluidframework/sequence
  packages/dds/sequence/package.json
  pnpm-lock.yaml
Labels: area: dds, area: dds: sharedstring, base: main

#14868 Pass incremental context to channels
  api-report/datastore-definitions.api.md
  api-report/runtime-definitions.api.md
  api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/test/test-end-to-end-tests/src/test/incrementalSummaryContext.spec.ts
Labels: area: runtime, area: dds, area: tests, public api change, base: main

#14981 fix: Data visualization message posting
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
Labels: base: main

#14986 Fix doOverRanges
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Labels: area: dds, base: main

#14941 Make link in bubble bench readme a link
  experimental/examples/bubblebench/editable-shared-tree/README.md
Labels: area: examples, base: main

#14979 refactor: Extract message "type"s out into constants to help prevent string mismatches
  packages/tools/client-debugger/client-debugger-view/src/Audience.ts
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/AudienceView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/FluidDebuggerLogger.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/AudienceMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/ContainerDevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/DevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/TelemetryMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
Labels: public api change, base: main

#14950 Make Historian to check whether a token is revoked during token validation process
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/config.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#14869 Fix Stress Logging Inconsistentcy
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#14027 sharedTree jsonbench
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#14991 Add unit tests for doOverRanges and related helpers
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Labels: area: dds, base: main

#14989 [GC stress]: Extend summarizer cache expiry timeout to 5 mins
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver

#14990 Add definition of epoch to EpochTracker docs
  packages/drivers/odsp-driver/src/epochTracker.ts
Labels: area: driver, area: odsp-driver, base: main

#14970 Update deps on client to latest in the azure release group
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/external-controller/package.json
  azure/packages/external-controller/tests/index.ts
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/utils.ts
  azure/pnpm-lock.yaml
Labels: base: main

#15004 [r11s] Moving some utility functions to shared packages
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/index.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/lambdas/src/utils/random.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/utils.ts
  server/routerlicious/packages/services-utils/src/executeApiWithMetric.ts
  server/routerlicious/packages/services-utils/src/index.ts
Labels: area: server, public api change, base: main

#14993 refactor(client-debugger): Add the ability to specify explicit message types in `MessageRelay`'s `postMessage` method
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/AudienceView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/messaging/MessageRelay.ts
Labels: public api change, base: main

#15006 Increase timeout for memory tests
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.js
Labels: base: main

#15007 [Test PR] sample git rest repo manager apis
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
Labels: area: server

#14945 Move azure packages into client release group
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/packageVersion.ts
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/packageVersion.ts
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/packageVersion.ts
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/packageVersion.ts
  examples/data-objects/webflow/package.json
  fluidBuild.config.cjs
  packages/dds/matrix/package.json
  packages/dds/shared-object-base/package.json
  packages/runtime/runtime-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/pipelines/build-azure.yml
Labels: area: examples, area: runtime, area: dds, area: build, base: main

#14982 tree: Replace SchemaAware.ApiMode.Normalized with Editable
  api-report/tree.api.md
  experimental/examples/bubblebench/editable-shared-tree/src/appState.ts
  experimental/examples/bubblebench/editable-shared-tree/src/bubblebench.ts
  experimental/examples/bubblebench/editable-shared-tree/src/client.ts
  experimental/examples/bubblebench/editable-shared-tree/src/schema.ts
  experimental/examples/tree-sample/tree-react-api/src/test/schema/appSchema.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/README.md
  packages/dds/tree/src/feature-libraries/schema-aware/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/internal.ts
  packages/dds/tree/src/feature-libraries/schema-aware/partlyTyped.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/unknownTree.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaComplex.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaSimple.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#14909 docs (protocol-definitions): Update documentation for MessageType.Operation
  common/lib/protocol-definitions/src/protocol.ts
Labels: base: main

#14948 Add explicit null check to isCompressed
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
Labels: area: runtime, base: main

#14908 Align ConnectionManager readonly properties
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
Labels: area: loader, base: main

#14972 Move DDS fuzz harness to test-dds-utils
  build-tools/packages/build-tools/data/layerInfo.json
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/test-dds-utils/README.md
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
  pnpm-lock.yaml
Labels: area: dds, area: dds: sharedstring, base: main

#14964 [fluid-runner] Adjustments for better API surface
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/getArgsValidationError.ts
  packages/tools/fluid-runner/src/index.ts
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/tools/fluid-runner/src/logger/loggerUtils.ts
  packages/tools/fluid-runner/src/parseBundleAndExportFile.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/parseBundleAndExportFile.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/timeoutCodeLoader.ts
  packages/tools/fluid-runner/src/test/utils.spec.ts
  packages/tools/fluid-runner/src/utils.ts
Labels: base: main

#15014 Fix external controller
  azure/packages/external-controller/README.md
  azure/packages/external-controller/package.json
  azure/packages/external-controller/webpack.config.js
Labels: base: main

#15011 tree: misc schematize related cleanup
  api-report/tree.api.md
  experimental/examples/bubblebench/editable-shared-tree/src/bubblebench.ts
  experimental/examples/tree-sample/tree-react-api/src/test/useTree.spec.ts
  packages/dds/tree/src/feature-libraries/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/schema-aware/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/internal.ts
  packages/dds/tree/src/feature-libraries/schema-aware/partlyTyped.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/untypedTree.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizedTree.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#14947 Improve join session refresh flow.
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver, base: main

#15012 Refactor task manager fuzz
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
Labels: area: dds, base: main

#15002 Wrap sessionStorage try catch (#14797)
  packages/utils/telemetry-utils/src/config.ts
Labels: base: release

#15010 Refactoring sharedtree fuzz edit generator to produce transaction ops
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/targetedFuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevelFuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15018 isDeletePending should check the parents delete too
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: main

#14968 Expose and test requestResolvedObjectFromContainer
  api-report/container-loader.api.md
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
Labels: area: loader, area: tests, public api change, base: main

#15022 [GC stress] Log reference events to telemetry and remove console logs
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#14988 refactor: Introduce message type pattern to better encapsulate boilerplate
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/AudienceView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger/.eslintrc.js
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/AudienceMetadata.ts
  packages/tools/client-debugger/client-debugger/src/CommonInterfaces.ts
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/FluidDebuggerLogger.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/TelemetryMetadata.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/VisualTree.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/index.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/AudienceMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/ContainerDevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/DevtoolsMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/TelemetryMessages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/AudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/CloseContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ConnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateChange.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DisconnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetAudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetContainerState.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetDataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetRootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/RootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/ContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/GetContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/GetTelemetryHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryEvent.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/index.ts
Labels: public api change, base: main

#15027 [main > release/v2int/4.0]: isDeletePending should check the parents delete too (#15018)
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: release

#14965 [gitrest] Adding sampling capabilities for GitRest API metrics
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/nodegitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
Labels: area: server, base: main

#14983 Augment EditableTree (SharedTree) events
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeTypes.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTree.events.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15023 [GC stress] Add not changing data store / DDS
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15009 Close the summarizer instead of Refreshing Latest Ack from Server
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, public api change, base: main

#15031 [GC stress] Log a console error when the runner fails
  packages/test/test-service-load/src/runner.ts
Labels: area: tests

#15037 Fix build error from conflict
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15034 stashed ops: test for load with deltaconnection: none
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#14512 Allow batches to group ops together
  .changeset/glorious-turtles-try.md
  BREAKING.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: main

#15041 Allow SharedTree branches to live after merge
  api-report/tree.api.md
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15045 ci: pin pnpm version to 7.30.5
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: build, base: release

#15040 Perf benchmark E2E tests: Exclude 5 and 10 Mb Map from AFR runs
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
Labels: area: tests, base: main

#15043 Perf benchmark: Enabling AFR on the E2E tests.
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#15038 feat(client-debugger): Add default visualizer for SharedMatrix
  packages/tools/client-debugger/client-debugger/package.json
  packages/tools/client-debugger/client-debugger/src/data-visualization/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/DefaultVisualizers.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/index.ts
  packages/tools/client-debugger/client-debugger/src/test/DefaultVisualizers.test.ts
  pnpm-lock.yaml
Labels: base: main

#15032 refactor(client-debugger): Rename "debugger" message types to use "devtools" nomenclature
  packages/tools/client-debugger/client-debugger-chrome-extension/src/background/BackgroundScript.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/content/ContentScript.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/devtools/BackgroundConnection.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/messaging/Constants.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/messaging/Messages.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/messaging/TypedPortConnection.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/messaging/Utilities.ts
  packages/tools/client-debugger/client-debugger-view/api-report/client-debugger-view.api.md
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/WindowMessageRelay.ts
  packages/tools/client-debugger/client-debugger-view/src/components/AudienceView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/FluidDebuggerLogger.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Constants.ts
  packages/tools/client-debugger/client-debugger/src/messaging/MessageRelay.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Messages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Utilities.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/AudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/CloseContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ConnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateChange.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DisconnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetAudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetContainerState.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetDataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetRootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/RootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/ContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/GetContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/GetTelemetryHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryEvent.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/index.ts
Labels: public api change, base: main

#14932 Add support for fuzz tests for using saved operations
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevelFuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15048 feat(client-debugger): Add default visualizer for SharedDirectory
  packages/tools/client-debugger/client-debugger/src/data-visualization/DefaultVisualizers.ts
  packages/tools/client-debugger/client-debugger/src/data-visualization/index.ts
  packages/tools/client-debugger/client-debugger/src/test/DefaultVisualizers.test.ts
Labels: base: main

#14737 fix(merge-tree): improve asymptotics of undo-redo in the face of removal
  api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/test/Removal.perf.spec.ts
  packages/dds/merge-tree/src/test/revertibles.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#15047 ci: Only run azure pipeline on older release branches
  tools/pipelines/build-azure.yml
Labels: area: build, base: main

#14872 fix(release): checkOnReleaseBranch handler ignores CLI argument
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
Labels: base: main

#15051 Log container runtime config options
  packages/utils/telemetry-utils/src/config.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
Labels: base: main

#15067 [GC stress] Use real data store and blob ids in test to correate logs
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15068 [GC stress] Fix testConfig.json configs / options not picked up
  packages/test/test-service-load/testConfig.json
Labels: area: tests

#15063 Performance Benchmark: Create stages for local, odsp and frs instead of having a single one
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#15073 [GC stress] Limit the number of attachment blobs that can be retrieved
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15050 Correctly document interval endpoints as exclusive
  docs/content/docs/data-structures/sequences.md
  packages/dds/sequence/README.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalTree.ts
Labels: documentation, area: dds, area: dds: sharedstring, base: main

#15074 Fix config for r11s vscode debugging
  .vscode/launch.json
Labels: area: contributor experience, base: main

#15075 Limit the max batch size sent to db from scriptorium
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
Labels: area: server, base: main

#15077 refactor(client-debugger): Rename logger type and filename to use "devtools" nomenclature
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/DevtoolsLogger.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
Labels: public api change, base: main

#14867 ci: Add workflows for changeset enforcement
  .changeset/shiny-ducks-prove.md
  .github/workflows/pr-check-changeset.yml
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main

#15080 Stop logging summarizingError which is duplicate of summarize_cancel
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
Labels: area: runtime, base: main

#15060 Removed @fluidframework/garbage-collector package
  .changeset/lovely-seas-end.md
  BREAKING.md
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/garbage-collector/.eslintrc.js
  packages/runtime/garbage-collector/.gitignore
  packages/runtime/garbage-collector/.mocharc.js
  packages/runtime/garbage-collector/.npmignore
  packages/runtime/garbage-collector/LICENSE
  packages/runtime/garbage-collector/README.md
  packages/runtime/garbage-collector/api-extractor.json
  packages/runtime/garbage-collector/package.json
  packages/runtime/garbage-collector/prettier.config.cjs
  packages/runtime/garbage-collector/src/index.ts
  packages/runtime/garbage-collector/src/packageVersion.ts
  packages/runtime/garbage-collector/src/test/tsconfig.json
  packages/runtime/garbage-collector/src/test/types/validateGarbageCollectorPrevious.generated.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/garbage-collector/tsconfig.esnext.json
  packages/runtime/garbage-collector/tsconfig.json
  packages/test/test-end-to-end-tests/package.json
  pnpm-lock.yaml
Labels: area: runtime, breaking change, area: tests, base: next, msftbot: merge-next, changeset-required

#14761 feat(client-debugger): Implemented leader property and leader election button
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/model/appModel.ts
  examples/hosts/app-integration/external-data/src/model/containerCode.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/view/appView.tsx
  examples/hosts/app-integration/external-data/src/view/taskListView.tsx
  examples/hosts/app-integration/external-data/tests/index.tsx
Labels: area: examples, base: main

#15081 Deprecate interval collection conflict resolvers
  BREAKING.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalTree.ts
Labels: area: dds, breaking change, area: dds: sharedstring, public api change, base: main, changeset-required

#15058 refactor(client-debugger): Add a concept of supported features for root Devtools and ContainerDevtools
  packages/tools/client-debugger/client-debugger-view/src/Debugger.tsx
  packages/tools/client-debugger/client-debugger-view/src/DevtoolsView.tsx
  packages/tools/client-debugger/client-debugger-view/src/RootView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/DevtoolsLogger.ts
  packages/tools/client-debugger/client-debugger/src/Features.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/IFluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetContainerDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/DevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/GetDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/index.ts
  packages/tools/client-debugger/client-debugger/src/messaging/index.ts
Labels: public api change, base: main

#15026 Remove back compat code for very old channel attach messages
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime, base: main

#15083 Summarization: Decrease Summary Ack Timeout to 3mins
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#15065 MergeTree Revertible: Remove reliance on RevertibleDriver for Append
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
Labels: area: dds, public api change, base: main

#15085 refactor: Better typing of PackageJson
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/bumpVersion/bumpDependencies.ts
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidPackageCheck.ts
  build-tools/packages/build-tools/src/fluidBuild/npmDepChecker.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/lib.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#15089 build: Add changeset for #15081
  .changeset/perfect-badgers-report.md
Labels: base: main

#13204 Dev: Warn about adding GitHub CLI to .devcontainer
  .devcontainer/Dockerfile
Labels: base: main

#14792 build: Update type tests on next branch
  experimental/dds/attributable-map/package.json
  packages/test/test-end-to-end-tests/package.json
  pnpm-lock.yaml
Labels: area: dds, area: tests, base: next

#14959 Remove IDocumentAttributes.term and ISequenceDocumentMessage.term
  common/lib/protocol-definitions/.changeset/soft-cave-launch.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/runtime/container-runtime/src/test/summary/summaryCollection.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/lambdas-driver/src/document-router/documentLambda.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/lambdaFactory.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/documentLambda.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/lambdaFactory.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/partition.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/testPartitionLambdaFactory.ts
  server/routerlicious/packages/lambdas/src/broadcaster/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/copier/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/foreman/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/moira/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/interfaces.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
  server/routerlicious/packages/protocol-base/src/scribeHelper.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/services/deltaService.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/utils/documentRouter.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/documentRouter.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, area: runtime, area: loader, area: driver, area: tests, public api change, base: next, changeset-required

#14999 fix(bump): Correctly apply exactDepType when bumping
  build-tools/package.json
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/exec.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-tools/data/exclusions.json
  build-tools/packages/build-tools/data/layerInfo.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/pnpm-lock.yaml
  fluidBuild.config.cjs
  server/gitrest/package.json
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: server, area: build, base: main

#15086 Tinylicious: Reenable generation of server summaries
  server/tinylicious/src/resourcesFactory.ts
Labels: area: server, base: main

#15108 [bump] server: 0.1040.1000 => 0.1041.1000 (major)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#14961 feat(client-debugger): Updated styling and organization of primary container info
  packages/tools/client-debugger/client-debugger-view/src/RootView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/client-data-views/AudienceMemberView.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/app/index.tsx
Labels: base: main

#15112 Minor fix in HistorianResources: remove readonly from tokenRevocationManager property
  server/historian/packages/historian-base/src/runnerFactory.ts
Labels: area: server, base: main

#15114 [bump] server: 0.1040.1000 => 0.1040.1001 (patch)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: release

#15016 refactor: Remove fs- and child_process-related exports from build-tools
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/exec.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/lib.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/layerCheck/layerGraph.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#15110 ci: Don't set version in bundle-size artifacts pipeline
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#15109 RunningSummarizer will listen to DeltaManager for non-runtime ops
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
Labels: area: runtime, public api change, base: main

#15106 R11s: allow additional axios config in restwrapper
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/restWrapper.ts
Labels: area: server, public api change, base: main

#15113 Fix dipose in FaultInjectionDocumentDeltaConnection for stress tests
  packages/test/test-service-load/src/faultInjectionDriver.ts
Labels: area: tests, base: main

#15117 fix(build-cli): Use shell in exec and bump
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/exec.ts
  build-tools/packages/build-cli/src/lib/bump.ts
Labels: base: main

#15094 feat(client-debugger): Update container history state to use Fluent UI Elements
  packages/tools/client-debugger/client-debugger-view/src/ContainerHistoryLog.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerHistoryView.tsx
Labels: base: main

#15122 [GC stress] Combine data store and blob activity type generation
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15127 refactor (protocol-definitions): Deprecate MessageType.RemoteHelp Op
  common/lib/protocol-definitions/CHANGELOG.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/protocol.ts
Labels: public api change, base: main

#15126 build(tinylicious): Bump dependencies on server to 1040.1000
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
  server/tinylicious/src/resourcesFactory.ts
Labels: area: server, base: main

#15105 Reduce the number of restart errors
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
Labels: area: runtime, area: tests, base: main

#14951 feat(client-debugger): Prototype Visualizing Summary Tree for Client Debugger
  packages/tools/client-debugger/client-debugger-view/src/components/DataObjectsView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/FluidHandleView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/FluidTreeView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/FluidValueView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TreeDataView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/TreeView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/UnknownDataView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/UnknownFluidObjectView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ValueView.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/index.ts
  packages/tools/client-debugger/client-debugger-view/src/components/utility-components/Accordion.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/MockMessageRelay.ts
  packages/tools/client-debugger/client-debugger-view/src/test/VisualTree.test.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/index.ts
Labels: base: main

#15123 build(client-debugger-chrome-extension): Remove outdated test infra and dependencies
  packages/tools/client-debugger/client-debugger-chrome-extension/jest.config.js
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-chrome-extension/testSetup.js
  pnpm-lock.yaml
Labels: base: main

#15118 (merge-tree): Early exit block updates on some local ref codepaths
  packages/dds/merge-tree/src/mergeTree.ts
Labels: area: dds, base: main

#15090 ci: Remove CodeQL GitHub workflow
  .github/workflows/codeql-analysis.yml
Labels: area: build, base: main

#15111 Update SharedTree branch APIs to be more flexible
  api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/identifierIndex.spec.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15100 Pas table benchmark test
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
Labels: area: tests, base: main

#15093 Remove server upload time from BlobManager
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
Labels: area: runtime, base: main

#15136 build(api-markdown-documenter): Update dependencies
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: base: main

#15137 Tree: Add skipped test demonstrating cross-field move composition bug
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15092 Add performance and other telemetry for key network calls in afr driver
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/driverUtils.ts
  packages/drivers/driver-base/src/index.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/gitManager.ts
  packages/drivers/routerlicious-driver/src/historian.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/restWrapperBase.ts
  packages/drivers/routerlicious-driver/src/retriableGitManager.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/storageContracts.ts
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
  packages/drivers/routerlicious-driver/src/test/wholeSummaryDocumentStorageService.spec.ts
  packages/drivers/routerlicious-driver/src/treeUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryUploadManager.ts
  pnpm-lock.yaml
Labels: area: driver, area: odsp-driver, public api change, base: main

#15138 refactor(api-markdown-documenter): Clean up API entrypoints
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/MarkdownDocumenter.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/markdown-renderer/test/RenderDocument.test.ts
Labels: public api change, base: main

#15135 fix(bump): Fix incorrect paths when bumping release groups
  build-tools/packages/build-cli/src/lib/bump.ts
Labels: base: main

#15124 fix(container-loader): use copy of passed in options instead of reference
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, base: main

#15143 Add summarizer restart feature to frs and tinylicious configs
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#15144 Revert "Remove IDocumentAttributes.term and ISequenceDocumentMessage.…
  common/lib/protocol-definitions/.changeset/soft-cave-launch.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/driver-utils/src/summaryForCreateNew.ts
  packages/runtime/container-runtime/src/test/summary/summaryCollection.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/lambdas-driver/src/document-router/documentLambda.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/lambdaFactory.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/documentLambda.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/lambdaFactory.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/partition.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/kafka-service/testPartitionLambdaFactory.ts
  server/routerlicious/packages/lambdas/src/broadcaster/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/copier/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/foreman/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/moira/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/interfaces.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryWriter.ts
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
  server/routerlicious/packages/protocol-base/src/scribeHelper.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/services/deltaService.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/utils/documentRouter.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/documentRouter.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/test-utils/src/testDocumentStorage.ts
Labels: area: server, area: runtime, area: loader, area: driver, area: tests, public api change, base: next

#15142 Fix IResolvedUrl Handling For Replay Drivers
  api-report/file-driver.api.md
  api-report/replay-driver.api.md
  packages/drivers/file-driver/package.json
  packages/drivers/file-driver/src/fileDocumentService.ts
  packages/drivers/file-driver/src/fileDocumentServiceFactory.ts
  packages/drivers/file-driver/src/index.ts
  packages/drivers/file-driver/src/test/types/validateFileDriverPrevious.generated.ts
  packages/drivers/replay-driver/package.json
  packages/drivers/replay-driver/src/index.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/replay-driver/src/test/types/validateReplayDriverPrevious.generated.ts
Labels: area: driver, public api change, base: next

#15121 ci(build-tools): Use tilde interdependencies
  README.md
  scripts/update-package-version.sh
  tools/pipelines/build-build-tools.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: build, base: main

#13895 ci(client): Run webpack in CI test phase
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#15148 ci: Use github.base_ref correctly
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main

#14822 ci: Centralize pnpm installation and caching
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#15125 feat(client-debugger): Add FluentUI for Container Action Buttons
  packages/tools/client-debugger/client-debugger-view/src/ContainerHistoryLog.tsx
  packages/tools/client-debugger/client-debugger-view/src/components/ContainerSummaryView.tsx
Labels: base: main

#15149 fix(bump): Pass allow-same-version to npm version
  build-tools/packages/build-cli/src/lib/bump.ts
Labels: base: main

#15147 [bump] build-tools: 0.14.0 => 0.15.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#15153 Add ES2020 to library in build common config
  common/build/build-common/ts-common-config.json
Labels: base: next

#15156 Skip service summary for transient tenants
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server, base: main, changeset-present
