Repository microsoft/FluidFramework, pull requests merged in 2023-06, with the labels that each got.

#15489 feat: Add `changeset add` command
  .vscode/launch.json
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/exec.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, area: contributor experience, base: main

#15786 chore(tree): Remove forest provider pattern from ForestRepairDataStore
  experimental/dds/tree2/src/feature-libraries/forestRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/forestRepairDataStore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15765 refactor(check:policy): Remove obsolete npm-package-json-lint handler
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#15782 build: Correct allowed webpack peer dep version
  package.json
Labels: base: main

#15798 Add ci:build to target config
  experimental/PropertyDDS/packages/property-common/package.json
  fluidBuild.config.cjs
Labels: area: dds: propertydds, base: main

#15796 Recommend spell checker
  experimental/dds/tree2/.vscode/extensions.json
Labels: base: main

#15795 Tree: set followSymlinks false
  experimental/dds/tree2/.vscode/Tree.code-workspace
Labels: base: main

#15729 feat(devtools-view): Add theme selector
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/ThemeHelper.ts
  packages/tools/devtools/devtools-view/src/components/SettingsView.tsx
  packages/tools/devtools/devtools-view/src/components/index.ts
Labels: base: main

#15778 Interval undo redo
  .changeset/lucky-numbers-happen.md
  api-report/merge-tree.api.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalUtils.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main, changeset-required

#15792 refactor(devtools-core): Make message handlers async
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/DevtoolsLogger.ts
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-core/src/messaging/Utilities.ts
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
  packages/tools/devtools/devtools-view/src/components/DataObjectsView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidHandleView.tsx
Labels: public api change, base: main

#15805 [bump] build-tools: 0.18.0 => 0.19.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#15789 Make some type utilities not specific to the schema code
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/internal.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/typeUtils.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/typedTreeSchema.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/typedSchema/typeUtils.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAwareSimple.ts
  experimental/dds/tree2/src/test/util/typeUtils.spec.ts
  experimental/dds/tree2/src/util/brand.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/typeUtils.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15773 Hide IntervalCollection from public API
  .changeset/fuzzy-hats-cough.md
  BREAKING.md
  api-report/fluid-framework.api.md
  api-report/sequence.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.perf.spec.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/sharedIntervalCollection.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/src/index.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: framework, area: dds, breaking change, area: dds: sharedstring, area: tests, public api change, base: next

#15808 build: Tag asserts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/nodeIdentifierIndex.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  packages/dds/map/src/directory.ts
  packages/dds/sequence/src/revertibles.ts
  packages/drivers/driver-web-cache/src/FluidCache.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: area: runtime, area: driver, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#15812 Revert client package lock changes from c7e2393ebb78e72d5f9f0d3ea1cf841c4827062ed
  pnpm-lock.yaml
Labels: dependencies, base: main

#15819 missing start:frs:canary
  packages/test/test-service-load/package.json
Labels: area: tests, base: main

#15811 feat(devtools-view): Added icons to "joined and "left" message in audience view
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
Labels: base: main

#15761 feat(devtools-view): Add missing info tooltips
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
  packages/tools/devtools/devtools-view/src/components/TooltipTexts.tsx
Labels: base: main

#15806 Log the exceptions from checkpoint.flush call and add a config to ignore those exceptions
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15822 build: Fix up missing changes from package.json files
  azure/packages/azure-client/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/utils/bundle-size-tests/package.json
  experimental/dds/attributable-map/package.json
  experimental/dds/tree2/package.json
  package.json
  packages/dds/ink/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/data-object-base/package.json
  packages/framework/fluid-static/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/tinylicious-client/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/loader/location-redirection-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
  packages/runtime/test-runtime-utils/package.json
  packages/test/mocha-test-setup/package.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-pairwise-generator/package.json
  packages/test/test-utils/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#15827 Add support for logging flat objects (e.g. details) to reduce number of unique columns in telemetry
  .changeset/wild-items-beam.md
  api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
Labels: public api change, base: next

#15784 Adds snapshot test to SharedTree
  .prettierignore
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/snapshots/files/summary_snapshot.json
  experimental/dds/tree2/src/test/snapshots/summary.spec.ts
  experimental/dds/tree2/src/test/snapshots/utils.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#15801 Telemetry: Set hostname to "BenchMark" on perf runs
  packages/test/mocha-test-setup/README.md
  packages/test/mocha-test-setup/src/mochaHooks.ts
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, area: tests, base: main

#15779 refactor(tree): Generalize RepairDataStore creation and storage
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/core/repair/index.ts
  experimental/dds/tree2/src/core/repair/repairDataStore.ts
  experimental/dds/tree2/src/core/repair/repairDataStoreProvider.ts
  experimental/dds/tree2/src/core/undo/index.ts
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/fakeRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/forestRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree-core/transactionStack.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/forestRepairDataStore.spec.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
  experimental/dds/tree2/src/test/rebase/rebaser.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15804 fix(dev-tools): Telemetry view doesn't refresh with page
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/messaging/devtools-messages/DevtoolsDisposed.ts
  packages/tools/devtools/devtools-core/src/messaging/devtools-messages/index.ts
  packages/tools/devtools/devtools-core/src/messaging/index.ts
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
Labels: public api change, base: main

#15814 Revert Mongodb SDK
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15836 Bump Up Mongodb SDK back to 4.13.0
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15835 fix(build-tools): Fix dependency and task prioritization
  build-tools/packages/build-tools/src/common/commonOptions.ts
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  fluidBuild.config.cjs
  packages/dds/test-dds-utils/package.json
Labels: area: dds, area: build, area: dds: propertydds, base: main

#15790 Refactor edit manager summarization
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/rebase/index.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerCodecs.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerFormat.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/index.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/feature-libraries/editManagerSummarizer.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15758 build: Update shared prettier config
  common/build/build-common/prettier.config.cjs
  pnpm-workspace.yaml
  prettier.config.cjs
  server/routerlicious/.prettierignore
Labels: area: build, base: main

#15845 Flag to control transient tenant service summaries
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server, base: main

#15839 tools(devtools-view): Disable `no-useless-undefined` rule in eslint config and clean up disable comments
  packages/tools/devtools/devtools-view/.eslintrc.js
  packages/tools/devtools/devtools-view/src/MessageRelayContext.ts
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
Labels: base: main

#15841 ci: Remove colorization from t9s logs for build-npm-package template
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#15831 offline: fix offline load 404 bug
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: loader, area: tests, base: main

#15810 driver-utils: fix undefined error bug
  packages/loader/driver-utils/src/networkUtils.ts
Labels: area: loader, base: main

#15848 fix(devtools-browser-extension): Fix globals stubbing infra with regards to the `window` object
  packages/tools/devtools/devtools-browser-extension/src/Globals.ts
  packages/tools/devtools/devtools-browser-extension/src/content/ContentScript.ts
Labels: base: main

#15858 build(devtools-browser-extension): Remove unneeded "scripting" permission from extension manifest
  packages/tools/devtools/devtools-browser-extension/public/manifest.json
Labels: base: main

#15856 build(docs): Fix some known broken links
  docs/content/docs/concepts/signals.md
  docs/content/docs/recipes/signals.md
  docs/content/docs/start/examples.md
  docs/skipped-urls.txt
  docs/themes/thxvscode/layouts/_default/_markup/render-link.html
  experimental/framework/data-objects/src/signaler/README.md
Labels: documentation, area: dev experience, area: website, base: main

#15853 build(routerlicious): Remove unused dependencies
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15713 Sequence node exists constraint
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15865 Bug 3756: Improve Color Contrast for Accessibility
  docs/assets/css/tango.css
Labels: area: website, base: main

#15828 fix: Use correct assert function in tests
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/utils/telemetry-utils/src/test/childLogger.spec.ts
  packages/utils/telemetry-utils/src/test/performanceEvent.spec.ts
Labels: area: dds, area: dds: propertydds, base: main

#15866 Bug 3757: Resolving Accessibility Issue in FF.com
  docs/content/docs/concepts/summarizer.md
  docs/themes/thxvscode/assets/scss/style.scss
Labels: documentation, area: website, base: main

#15855 ci: Run checks in server pipelines
  server/routerlicious/package.json
  server/routerlicious/packages/protocol-base/package.json
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#15850 Update routerlicious readme
  server/routerlicious/README.md
Labels: area: server, base: main

#15847 fix(release): Handle independent packages with release branches
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/test/lib/branches.test.ts
Labels: area: build, base: main

#15863 build: Enable flub changeset tool in client
  package.json
Labels: base: main

#15871 Empty inverse for changes with constraint violations
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
Labels: area: dds, area: dds: tree, base: main

#15854 configurable kafka restart error codes
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
Labels: area: server, base: main

#15876 fix(generate:changeset): Support entering changeset info in CLI
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#15870 Fix `tsc:fast`
  .vscode/tasks.json
  README.md
  build-tools/package.json
  docs/README.md
  package.json
  packages/tools/devtools/devtools-core/README.md
  packages/tools/devtools/devtools-view/README.md
  packages/tools/devtools/devtools/README.md
Labels: area: build, area: contributor experience, area: website, base: main

#15861 Clean up file from azure group after merge into client group
  .npmpackagejsonlintrc.json
  azure/.gitignore
  azure/.npmignore
  azure/.npmpackagejsonlintrc.json
  azure/lerna.json
  azure/package.json
  azure/packages/test/scenario-runner/testConfig_v1.yml
  azure/pnpm-lock.yaml
  azure/pnpm-workspace.yaml
  azure/prettier.config.cjs
  build-tools/.npmpackagejsonlintrc.json
  docs/.npmpackagejsonlintrc.json
  packages/framework/fluid-framework/.npmpackagejsonlintrc.json
  server/gitrest/.npmpackagejsonlintrc.json
  server/historian/.npmpackagejsonlintrc.json
  server/routerlicious/.npmpackagejsonlintrc.json
  server/tinylicious/.npmpackagejsonlintrc.json
Labels: base: main

#15872 stress test: disable stashed ops
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#15878 fix: Force VSCode formatter at the language level too
  .vscode/settings.json
Labels: area: contributor experience, base: main

#15880 Catch and log all uncaught exceptions and do a graceful shutdown
  server/routerlicious/packages/services-shared/src/runner.ts
Labels: area: server, base: main

#15879 docs(devtools-browser-extension): Add note to README about downloading build artifacts from Codespace
  packages/tools/devtools/devtools-browser-extension/README.md
Labels: base: main

#15884 Fix some interval comment errors
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, base: main

#15882 fix(tree): Make the source RepairDataStoreProvider optional for peer branches
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15877 Move qualifiedTitle to Configuration.ts, export qualifiedTitle and runBenchmark from tools/benchmark/index
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/runner.ts
Labels: documentation, area: examples, area: build, breaking change, area: contributor experience, area: website, community-contribution, public api change

#15895 add build alias for back compat
  fluidBuild.config.cjs
Labels: base: main

#15893 Turn on `fluid-build`'s worker mode in '*:fast' scripts
  package.json
Labels: base: main

#15892 Fix publish docs and make client pipeline trigger if the `fluidBuild.config.cjs` is changed
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#15849 Change logger type to ITelemetryBaseLogger
  api-report/location-redirection-utils.api.md
  packages/loader/location-redirection-utils/src/resolveWithLocationRedirection.ts
Labels: area: loader, public api change, base: main

#15906 Detect tasks circular dependencies in `fluid-build`
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: build, base: main

#15901 Remove temporary logging added to support investigations.
  server/routerlicious/packages/lambdas/src/alfred/index.ts
Labels: area: server, base: main

#15905 Tree: Fix bug with composing cross-field moves
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15904 build(devtools-browser-extension): Update manifest "name" property to reflect preview status of the tooling
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/docs/Publish-Instructions.md
  packages/tools/devtools/devtools-browser-extension/public/manifest.json
Labels: base: main

#15857 Remove contextsDeferred from FluidDataStoreRuntime
  .changeset/kind-icons-hunt.md
  .changeset/seven-books-relax.md
  BREAKING.md
  api-report/test-utils.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: runtime, breaking change, area: tests, public api change, base: next, msftbot: merge-next, changeset-required

#15900 Delete tests which are both redundant and skipped
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#15918 [release/build-tools/0.18] Non-zero exit when there is build error
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
Labels: area: build, base: release

#15919 Non-zero exit when there is build error
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
Labels: area: build, base: main

#15920 [bump] build-tools: 0.18.0 => 0.18.1 (patch)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: release

#15923 fix: Pin version for npx lerna in build-tools
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  build-tools/packages/build-tools/src/bundleSizeAnalysis/collectBundleAnalyses.ts
Labels: area: build, base: main

#15924 fix: Pin version for npx lerna in build-tools (release branch)
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  build-tools/packages/build-tools/src/bundleSizeAnalysis/collectBundleAnalyses.ts
Labels: area: build, base: release

#15926 [bump] build-tools: 0.18.1 => 0.18.2 (patch)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: release

#15915 fix: Remove unused import to fix build
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#15922 ci: Pin version downloaded by npx lerna
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#15902 Log connectionId with clientId on connection attempt
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: main

#15933 Cleanup SharedTreeView events
  api-report/tree2.api.md
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15862 [fluid-runner] Disable fetch calls explicitly
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/parseBundleAndExportFile.ts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/parseBundleAndExportFile.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/networkFetchCodeLoader.ts
Labels: base: main

#15908 chore(devtools-browser-extension): Add image assets for store pages
  packages/tools/devtools/devtools-browser-extension/store-assets/README.md
  packages/tools/devtools/devtools-browser-extension/store-assets/logo.png
  packages/tools/devtools/devtools-browser-extension/store-assets/marquee-large.png
  packages/tools/devtools/devtools-browser-extension/store-assets/marquee-small.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/audience-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/data-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/telemetry-view.png
Labels: base: main

#15935 Allow fractional weights in createWeightedGenerator
  packages/test/stochastic-test-utils/src/generators.ts
  packages/test/stochastic-test-utils/src/test/generators.spec.ts
  packages/test/stochastic-test-utils/src/test/utils.ts
Labels: area: tests, base: main

#15936 fix: Temporary workaround to make the prettier extension work again
  .vscode/settings.json
Labels: area: contributor experience, base: main

#15912 fix: Fixes for build-tools for LTS branch
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
Labels: area: build, base: main

#15916 GC: Delete duplicate tests
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#15928 Add capability to declare "before" ordering and make -t clean work
  build-tools/packages/build-tools/src/common/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
  fluidBuild.config.cjs
Labels: area: build, base: main

#15942 Add -g switch to specify group to build
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/packageJson.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/releaseGroups.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpDependencies.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/bumpVersionCli.ts
  build-tools/packages/build-tools/src/bumpVersion/context.ts
  build-tools/packages/build-tools/src/bumpVersion/createReleaseBump.ts
  build-tools/packages/build-tools/src/bumpVersion/releaseVersion.ts
  build-tools/packages/build-tools/src/bumpVersion/showVersions.ts
  build-tools/packages/build-tools/src/bumpVersion/utils.ts
  build-tools/packages/build-tools/src/bumpVersion/writeReleaseVersions.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidPackageCheck.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/README.md
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/genMonoRepoPackageJson.ts
  build-tools/packages/build-tools/src/genMonoRepoPackageJson/lib.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/layerCheck/layerCheck.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidBuildTasks.ts
  fluidBuild.config.cjs
Labels: area: build, public api change, base: main

#15868 feat(merge-tree): enable new merge tree length calculations by default
  .changeset/mean-comics-post.md
  api-report/merge-tree.api.md
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/test/mergeTree.zamboni.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/no-attribution-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/operations.json
  packages/framework/attributor/src/test/attribution/documents/default/prop-attribution-snap.json
Labels: area: framework, area: dds, public api change, base: next, msftbot: merge-next, changeset-required

#15925 Skip not expired stashed blobs in t9s
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#15943 Delete test-gc-sweep-tests
  PACKAGES.md
  packages/test/test-gc-sweep-tests/.eslintrc.js
  packages/test/test-gc-sweep-tests/.gitignore
  packages/test/test-gc-sweep-tests/.mocharc.js
  packages/test/test-gc-sweep-tests/.npmignore
  packages/test/test-gc-sweep-tests/CHANGELOG.md
  packages/test/test-gc-sweep-tests/LICENSE
  packages/test/test-gc-sweep-tests/README.md
  packages/test/test-gc-sweep-tests/package.json
  packages/test/test-gc-sweep-tests/prettier.config.cjs
  packages/test/test-gc-sweep-tests/src/containerManager.ts
  packages/test/test-gc-sweep-tests/src/dataObjectWithChildDataObject.ts
  packages/test/test-gc-sweep-tests/src/dataObjectWithCounter.ts
  packages/test/test-gc-sweep-tests/src/ignoreErrorLogger.ts
  packages/test/test-gc-sweep-tests/src/mockConfigProvider.ts
  packages/test/test-gc-sweep-tests/src/test/.mocharc.js
  packages/test/test-gc-sweep-tests/src/test/autoRunTest.spec.ts
  packages/test/test-gc-sweep-tests/src/test/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#15907 Handle sessoionforbidden error and add storageOnlyReason to Readonly info
  api-report/container-definitions.api.md
  api-report/driver-utils.api.md
  packages/common/container-definitions/src/deltas.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: loader, area: driver, area: odsp-driver, public api change, base: main

#15951 [GC Stress] Add multi client collaboration for attachment blobs
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15897 Constraint support for deleted and revived ancestors
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15955 tree: Remove package export of ModularChangeFamily
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/change-family/changeFamily.ts
  experimental/dds/tree2/src/core/change-family/editBuilder.ts
  experimental/dds/tree2/src/core/rebase/changeRebaser.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15952 Fix normalizeError function when retry properties are present
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#15957 Add fuzz tests to SharedMap
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, base: main

#15939 Convert @fluid-example/table-document tests to use esnext modules
  examples/data-objects/table-document/.eslintrc.js
  examples/data-objects/table-document/README.md
  examples/data-objects/table-document/src/test/table.spec.mts
  examples/data-objects/table-document/src/test/tableWithInterception.spec.mts
  examples/data-objects/table-document/src/test/tsconfig.json
Labels: area: examples, base: main

#15964 improvement(devtools-example): Use new Fluent styling system
  packages/tools/devtools/devtools-example/src/App.tsx
  packages/tools/devtools/devtools-example/src/index.tsx
Labels: base: main

#15956 [v2int 4.3 port] Don't schedule session refresh timers multiple times (#15596)
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
Labels: area: driver, area: odsp-driver, base: release

#15965 refactor(devtools-example) Remove usages of and dependency on legacy FluentUI package
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-example/src/App.tsx
  packages/tools/devtools/devtools-example/src/widgets/CounterWidget.tsx
  packages/tools/devtools/devtools-example/src/widgets/EmojiButton.tsx
  packages/tools/devtools/devtools-example/src/widgets/EmojiGrid.tsx
  pnpm-lock.yaml
Labels: dependencies, base: main

#15971 docs: Minor cleanup - typos, remove nonexistent params from docstrings, remove outdated comments
  packages/loader/container-loader/src/deltaQueue.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: loader, base: main

#15869 Tree: Preserve nested changes when composing inverse moves
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/tracker.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15973 feat(merge-tree): new merge tree length calculation follow-up
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/revertibles.spec.ts
Labels: area: dds, base: next, msftbot: merge-next

#15911 hot-fix(dev-tools): Display disconnected when container is not attached
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
Labels: base: main

#15966 fix(tree): fix nested edits dependent rebasing for optional fields
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#15800 procedural data generation for identifiers
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/appState.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/client.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#15968 Add DirectConnection Option in MongoDB SDK
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#15984 Fix fluid-build to detect added files in incremental builds
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#15987 tree: Add RestrictiveReadonlyRecord
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/typedTreeSchema.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/typeUtils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15722 [tree2] Make validation policy injectable
  api-report/tree2.api.md
  experimental/dds/tree2/README.md
  experimental/dds/tree2/src/codec/README.md
  experimental/dds/tree2/src/codec/codec.ts
  experimental/dds/tree2/src/codec/index.ts
  experimental/dds/tree2/src/codec/noopValidator.ts
  experimental/dds/tree2/src/external-utilities/README.md
  experimental/dds/tree2/src/external-utilities/fence.json
  experimental/dds/tree2/src/external-utilities/index.ts
  experimental/dds/tree2/src/external-utilities/typeboxValidator.ts
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerCodecs.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree/fence.json
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/codec/codec.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editManagerSummarizer.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/nodeIdentifierIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/utils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15977 Improve Detached Container Tests
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: tests, base: main

#15929 Add retry rules for exceptions returned by new mongo driver
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoError/index.ts
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoNetworkError/index.ts
Labels: area: server, base: main

#15983 test: Update real service tests to output test failures to the console
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-version-utils/src/compatConfig.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#15982 Populating sub directories correctly in Shared Directory
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: main

#15990 Populating sub directories correctly in Shared Directory (#15982)
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: release

#15991 Populating sub directories correctly in Shared Directory (#15982)
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: release

#15837 Add start/end-in-range index
  .changeset/curious-mountain-whisper.md
  api-report/sequence.api.md
  packages/dds/merge-tree/src/collections/rbTree.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/endpointInRangeIndex.spec.ts
  packages/dds/sequence/src/test/intervalIndexUtils.ts
  packages/dds/sequence/src/test/startpointInRangeIndex.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main, changeset-required

#15793 feat: Add basic changelog generator tool
  .changeset/README.md
  .changeset/config.json
  .github/workflows/data/patch-changelog.hbs
  .github/workflows/push-tag-create-release.yml
  fluidBuild.config.cjs
  package.json
  pnpm-lock.yaml
  tools/changelog-generator-wrapper/.eslintrc.cjs
  tools/changelog-generator-wrapper/.npmrc
  tools/changelog-generator-wrapper/README.md
  tools/changelog-generator-wrapper/package.json
  tools/changelog-generator-wrapper/pnpm-lock.yaml
  tools/changelog-generator-wrapper/pnpm-workspace.yaml
  tools/changelog-generator-wrapper/prettier.config.cjs
  tools/changelog-generator-wrapper/src/getDependencyReleaseLine.js
  tools/changelog-generator-wrapper/src/getReleaseLine.js
  tools/changelog-generator-wrapper/src/index.js
Labels: area: build, dependencies, base: main

#15766 build(build-tools): Update external dependencies
  build-tools/package.json
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/test/semver.test.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#15994 feat(tree): optional fields changes carry identifiers
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultFieldKinds.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15989 build: Move/delete layer check and policy config files
  build-tools/packages/build-tools/data/exclusions.json
  layerInfo.json
  package.json
Labels: area: build, base: main

#16002 [bump] ioredis to 5.2.3
  server/BREAKING.md
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/redisCache.ts
  server/historian/packages/historian-base/src/services/redisTenantCache.ts
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/socketIoRedisConnection.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/redisUtils.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/services/src/redisClientManager.ts
  server/routerlicious/packages/services/src/redisThrottleAndUsageStorageManager.ts
  server/routerlicious/packages/services/src/socketIoRedisPublisher.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15947 build(deps): Update to latest build-tools prerelease
  pnpm-lock.yaml
Labels: dependencies, base: main

#16000 build(build-tools): Add syncpack scripts to build-tools
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  build-tools/syncpack.config.cjs
  server/routerlicious/package.json
  tools/pipelines/build-build-tools.yml
Labels: area: server, area: build, base: main

#15950 Log additional properties on restoreFromCheckpoint
  server/routerlicious/packages/services-core/src/checkpointService.ts
Labels: area: server, base: main

#16001 Move constraints tests from sharedTree.spec.ts to editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15820 Add Establishingconnection state when the connection starts happening
  packages/loader/container-loader/README.md
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#16010 add testStart/testEnd event emitters to ddsFuzzHarness
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
Labels: area: dds, base: main

#16013 refactor(tree): Reorg modular change family format and codecs
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/crossFieldQueries.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKindTypes.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeTypes.ts
Labels: area: dds, area: dds: tree, base: main

#15976 Use ESNext modules in test-end-to-end-tests
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMultipleDataStores.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/LoadDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/SimpleTest.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarizationDocument.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedFlagInSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpdate.spec.ts
  packages/test/test-end-to-end-tests/src/test/incrementalSummaryContext.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-end-to-end-tests/src/test/tsconfig.json
Labels: area: tests, base: main

#16014 feat(dev-tools): Display client "scopes" as an unordered list
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
Labels: base: main

#16020 Tag asserts for 2.0.0-internal.5.1.0
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerCodecs.ts
  experimental/dds/tree2/src/util/utils.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#15823 (main-next): Move main/next automation from github workflow to build-cli
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-tools/src/bumpVersion/gitRepo.ts
Labels: area: build, base: main

#16018 Remove chatty telemetry event for client election
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
Labels: area: runtime, base: main

#16012 refactor(tree): use change-atom-based identification in optional field
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeTypes.ts
  experimental/dds/tree2/src/test/feature-libraries/defaultFieldKinds.spec.ts
Labels: area: dds, area: dds: tree, base: main

#16028 fix(build-tools): Don't include dynamic version in readmes
  build-tools/packages/build-cli/README.md
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/src/commands/generate/readme.ts
  build-tools/packages/version-tools/README.md
Labels: area: build, base: main

#15940 Convert webflow example to use esnext modules
  examples/data-objects/webflow/.eslintrc.cjs
  examples/data-objects/webflow/package.json
  examples/data-objects/webflow/src/clipboard/debug.ts
  examples/data-objects/webflow/src/clipboard/paste.ts
  examples/data-objects/webflow/src/document/debug.ts
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/editor/caret.ts
  examples/data-objects/webflow/src/editor/debug.ts
  examples/data-objects/webflow/src/editor/editor.ts
  examples/data-objects/webflow/src/editor/index.ts
  examples/data-objects/webflow/src/host/debug.ts
  examples/data-objects/webflow/src/host/index.ts
  examples/data-objects/webflow/src/host/searchmenu/index.ts
  examples/data-objects/webflow/src/host/webFlow.ts
  examples/data-objects/webflow/src/host/webflowView.tsx
  examples/data-objects/webflow/src/html/css.ts
  examples/data-objects/webflow/src/html/debug.ts
  examples/data-objects/webflow/src/html/formatters.ts
  examples/data-objects/webflow/src/index.ts
  examples/data-objects/webflow/src/package.ts
  examples/data-objects/webflow/src/packageVersion.ts
  examples/data-objects/webflow/src/test/.mocharc.cjs
  examples/data-objects/webflow/src/test/direction.spec.ts
  examples/data-objects/webflow/src/test/flowdocument.spec.ts
  examples/data-objects/webflow/src/test/layout.spec.ts
  examples/data-objects/webflow/src/test/segmentspan.spec.ts
  examples/data-objects/webflow/src/test/strings.spec.ts
  examples/data-objects/webflow/src/test/tokenlist.spec.ts
  examples/data-objects/webflow/src/test/tsconfig.json
  examples/data-objects/webflow/src/util/attr.ts
  examples/data-objects/webflow/src/util/caret.ts
  examples/data-objects/webflow/src/util/index.ts
  examples/data-objects/webflow/src/util/localref.ts
  examples/data-objects/webflow/src/util/tag.ts
  examples/data-objects/webflow/src/util/tokenlist.ts
  examples/data-objects/webflow/src/view/debug.ts
  examples/data-objects/webflow/src/view/formatter.ts
  examples/data-objects/webflow/src/view/layout.ts
  examples/data-objects/webflow/tsconfig.esnext.json
  examples/data-objects/webflow/tsconfig.json
  examples/data-objects/webflow/webpack.config.cjs
  examples/data-objects/webflow/webpack.dev.cjs
  examples/data-objects/webflow/webpack.prod.cjs
  packages/test/test-version-utils/src/versionUtils.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: tests, base: main

#16030 [bump] build-tools: 0.19.0 => 0.20.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#15972 feature(devtools): Added Home Menu Section & updated to show LandingView when waiting
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
Labels: base: main

#16026 Fix ops usage from snapshot in frs driver
  api-report/driver-base.api.md
  packages/drivers/driver-base/src/driverUtils.ts
  packages/drivers/driver-base/src/index.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#16011 tree2: Factor branded map into util
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/util/brandedMap.ts
  experimental/dds/tree2/src/util/index.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15219 Split DeltaManager close and dispose into separate methods
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, base: main, changeset-required

#16041 Sharmak/redisconfig
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/config.json
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server

#16038 [GC stress] Remove the FULL test scripts from package.json
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests

#16015 Approach for handing off container ref to the migration tool
  examples/utils/example-utils/src/migrationInterfaces/sameContainerMigratableModel.ts
  examples/utils/example-utils/src/migrationInterfaces/sameContainerMigrationTool.ts
  examples/utils/example-utils/src/migrationTool/sameContainerMigrationTool.ts
  examples/utils/example-utils/src/migrator/sameContainerMigrator.ts
  examples/version-migration/same-container/src/modelInterfaces.ts
  examples/version-migration/same-container/src/modelVersion1/appModel.ts
  examples/version-migration/same-container/src/modelVersion2/appModel.ts
  examples/version-migration/same-container/src/start.ts
  examples/version-migration/same-container/src/view/debugView.tsx
  examples/version-migration/same-container/tests/index.tsx
Labels: area: examples, base: main

#16022 Deprecate test-client-utils package and remove usage
  .changeset/legal-breads-happen.md
  api-report/test-client-utils.api.md
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/external-controller/package.json
  azure/packages/external-controller/src/app.ts
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
  azure/packages/test/end-to-end-tests/src/test/AzureTokenFactory.ts
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/utils.ts
  packages/framework/test-client-utils/README.md
  packages/framework/test-client-utils/src/generateTestUser.ts
  packages/runtime/test-runtime-utils/README.md
  packages/runtime/test-runtime-utils/src/generateToken.ts
  packages/tools/fetch-tool/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, dependencies, public api change, base: main

#16024 Deprecate IChannel.owner
  .changeset/spotty-bears-start.md
  api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/channel.ts
Labels: area: runtime, public api change, base: main

#16025 Remove IContainerContext.existing
  .changeset/better-apes-fly.md
  api-report/container-definitions.api.md
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  examples/utils/example-utils/src/modelLoader/modelContainerRuntimeFactory.ts
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: examples, area: runtime, area: loader, public api change, base: next, msftbot: merge-next

#16047 Add connection_error telemetry in socketio server
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, base: main

#16050 Making Redis Options configurable in server
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/config.json
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, base: main
