Repository microsoft/FluidFramework, pull requests merged in 2023-05, with the labels that each got.

#15354 Fix GC tests failing with default read mode
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main, changeset-present

#15362 revert(loader): Revert to shallow clone to reduce bundle size for v2int/4.2 release
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, base: main, changeset-present

#15364 [v2int/4.1] Revert to shallow clone to reduce bundle size
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, base: release, changeset-present

#15369 Make more descriptive SharedTreeBranch events
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15374 ci: Update CODEOWNERS
  .github/CODEOWNERS
  .github/actions-labeler.yml
Labels: area: build, base: main, changeset-present

#15353 Protocol Definitions Typing Improvements
  .vscode/settings.json
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/sockets.ts
Labels: area: contributor experience, public api change, base: main, changeset-present

#15372 refactor: Use config file to infer repo root
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main, changeset-present

#15334 Ensure server breaking changes are made correctly
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release.ts
Labels: base: main, changeset-present

#15320 feat: Add check changeset command
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main, changeset-present

#15344 refactor(client-debugger): Make the majority of exported API members internal
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/AudienceMetadata.ts
  packages/tools/client-debugger/client-debugger/src/CommonInterfaces.ts
  packages/tools/client-debugger/client-debugger/src/Container.ts
  packages/tools/client-debugger/client-debugger/src/ContainerMetadata.ts
  packages/tools/client-debugger/client-debugger/src/Features.ts
  packages/tools/client-debugger/client-debugger/src/Logs.ts
  packages/tools/client-debugger/client-debugger/src/TelemetryMetadata.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Constants.ts
  packages/tools/client-debugger/client-debugger/src/messaging/Messages.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/AudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/CloseContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ConnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateChange.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/ContainerStateHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/DisconnectContainer.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetAudienceSummary.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetContainerDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetContainerState.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetDataVisualization.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/GetRootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/RootDataVisualizations.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/ContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/DevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/GetContainerList.ts
  packages/tools/client-debugger/client-debugger/src/messaging/devtools-messages/GetDevtoolsFeatures.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/GetTelemetryHistory.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryEvent.ts
  packages/tools/client-debugger/client-debugger/src/messaging/telemetry-messages/TelemetryHistory.ts
Labels: public api change, base: main, changeset-present

#15324 build: Update sort-package-json to latest
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main, changeset-present

#15332 fix(client-debugger): Fix emitVisualUpdate to sync container and devTools
  packages/tools/client-debugger/client-debugger/src/data-visualization/DataVisualization.ts
Labels: base: main, changeset-present

#14778 feat(info): Add JSON output support
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/src/commands/info.ts
Labels: area: build, base: main, changeset-present

#15373 refactor: Rename detectConstraintType method
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/src/test/semver.test.ts
Labels: area: build, base: main, changeset-present

#15367 [GC stress] Don't fail run for non GC failures
  packages/test/test-service-load/src/nodeStressTest.ts
Labels: area: tests

#15062 refactor: Use simpler find-packages implementation
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main, changeset-present

#15385 Improve `rebaseBranch` early-out case
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15388 Fix the Cluster Level Throttler for GetSummary
  server/historian/packages/historian-base/src/routes/summaries.ts
Labels: area: server, base: main, changeset-present

#15393 chore(fluid-devtools): Cleanup unused dependencies
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main, changeset-present

#15400 Remove bad void usage
  packages/framework/attributor/src/mixinAttributor.ts
Labels: area: framework, base: main, changeset-present

#15345 test(client-debugger-view): Add a SharedCell example to the test app
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/widgets/EmojiButton.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/widgets/index.ts
  pnpm-lock.yaml
Labels: dependencies, base: main, changeset-present

#15403 refactor(client-debugger): Fix documentation issues and make interface internal
  packages/tools/client-debugger/client-debugger-view/src/DevtoolsView.tsx
  packages/tools/client-debugger/client-debugger-view/src/WindowMessageRelay.ts
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/CommonInterfaces.ts
  packages/tools/client-debugger/client-debugger/src/ContainerMetadata.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/messaging/container-devtools-messages/index.ts
Labels: public api change, base: main, changeset-present

#15392 feat: Add check buildVersion command
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/src/commands/check/buildVersion.ts
Labels: area: build, base: main, changeset-present

#15337 Create loader driver back-compat pipeline
  .vscode/launch.json
  packages/test/test-version-utils/src/compatConfig.ts
  tools/pipelines/test-real-service.yml
Labels: area: build, area: contributor experience, area: tests, base: main, changeset-present

#15107 feat(bump): Look up packages by unscoped name
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
Labels: area: build, base: main, changeset-present

#15389 Move Shared Matrix Undo/Redo to MergeTree Revertibles
  .vscode/settings.json
  api-report/matrix.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/matrix/src/undoprovider.ts
Labels: area: dds, area: contributor experience, public api change, base: next, changeset-present

#15286 [GC stress] Better failure handling and log unexpected errors
  packages/test/test-service-load/src/gcDataStores.ts
Labels: area: tests

#15410 [GC stress] Adjust the various timeouts to account for snapshot cache expiry
  packages/test/test-service-load/testConfig.json
Labels: area: tests, changeset-present

#15384 refactor: Add release title to fromTag data
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
Labels: area: build, base: main, changeset-present

#15053 feat(bump): Support workspace protocol in release and bump tools
  build-tools/package.json
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/lib/bump.ts
  build-tools/packages/build-cli/src/lib/index.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/bumpTypes.ts
  build-tools/packages/version-tools/src/index.ts
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/pnpm-lock.yaml
  fluidBuild.config.cjs
Labels: area: build, public api change, base: main, changeset-present

#15288 ci: Create draft release notes on tag push
  .changeset/templates/patch-changelog.hbs
  .github/workflows/push-tag-create-release.yml
  .prettierignore
  package.json
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main, changeset-present

#15420 fix(release): Correctly apply workspace interdependencyRanges
  build-tools/packages/build-cli/src/lib/package.ts
Labels: area: build, base: main, changeset-present

#15417 Reduce time complexity from O(n^2) to O(n)
  experimental/dds/tree2/src/core/tree/pathTree.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15333 Introduce storage per doc for historian
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/customizations.ts
  server/historian/packages/historian-base/src/index.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main, changeset-present

#15359 (SharedTree) Move identifier schemas to their declaration
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/rebase/index.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/core/schema-stored/index.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/crossFieldQueries.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/util/brand.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15432 fix(bump): Fix interdependency range handling
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/version-tools/src/bumpTypes.ts
Labels: area: build, base: main, changeset-present

#15405 refactor(client-debugger): Update library to use global singleton for managing the root devtools object
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/.eslintrc.js
  packages/tools/client-debugger/client-debugger/README.md
  packages/tools/client-debugger/client-debugger/api-report/client-debugger.api.md
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/IFluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
  packages/tools/client-debugger/client-debugger/src/test/FluidDevtools.test.ts
Labels: public api change, base: main, changeset-present

#15433 [v2int/3.4] Fix a bug where child summarizer node's paths are incorrectly set to parent's paths
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
Labels: area: runtime, base: release

#15429 R11s: Remove unused request dep
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main, changeset-present

#15387 Add performance related headers to AFR's responses
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-shared/src/test/http.spec.ts
Labels: area: server, base: main, changeset-present

#15438 [GC stress] Undo intentionally failing test and changes to yaml
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/runner.ts
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, changeset-present

#15419 [bump] build-tools: 0.16.0 => 0.17.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main, changeset-present

#15378 feat(tree): Redo
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main, changeset-present

#14627 Local checkpoints
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas-driver/src/kafka-service/checkpointManager.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas/src/deli/checkpointContext.ts
  server/routerlicious/packages/lambdas/src/deli/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scribe/interfaces.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/test/deli/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/localDeltaConnectionServer.ts
  server/routerlicious/packages/local-server/src/localOrdererManager.ts
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/interfaces.ts
  server/routerlicious/packages/memory-orderer/src/localNode.ts
  server/routerlicious/packages/memory-orderer/src/localNodeFactory.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/memory-orderer/src/localOrdererSetup.ts
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/checkpointService.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/mongoCheckpointRepository.ts
  server/routerlicious/packages/services-core/src/mongoDatabaseManager.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/src/deleteSummarizedOps.ts
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testNotImplementedCheckpointRepository.ts
  server/routerlicious/packages/test-utils/src/testNotImplementedCheckpointService.ts
  server/routerlicious/pnpm-lock.yaml
  server/tinylicious/config.json
Labels: area: server, base: main, changeset-present

#15439 fix(report): Handle workspace ranges when generating reports
  build-tools/packages/build-cli/src/lib/package.ts
Labels: area: build, base: main, changeset-present

#15442 Remove simulateReadConnectionUsingDelay in TestTreeProvider create config
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15447 docs(devtools): Misc. documentation improvements
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
  packages/tools/client-debugger/client-debugger/src/ContainerDevtools.ts
  packages/tools/client-debugger/client-debugger/src/FluidDevtools.ts
  packages/tools/client-debugger/client-debugger/src/index.ts
Labels: base: main, changeset-present

#15444 Disable batch size tests on t9s
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main, changeset-present

#15454 test(client-debugger): Fix name of test file
  packages/tools/client-debugger/client-debugger/src/test/DevtoolsLogger.test.ts
Labels: base: main, changeset-present

#15430 tree: use 'part[]' in inventory-app sample
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
Labels: area: examples, base: main, changeset-present

#15455 refactor(client-debugger-chrome-extension): Rename package
  packages/tools/client-debugger/devtools-browser-extension/.eslintrc.js
  packages/tools/client-debugger/devtools-browser-extension/.gitignore
  packages/tools/client-debugger/devtools-browser-extension/.mocharc.js
  packages/tools/client-debugger/devtools-browser-extension/CHANGELOG.md
  packages/tools/client-debugger/devtools-browser-extension/LICENSE
  packages/tools/client-debugger/devtools-browser-extension/README.md
  packages/tools/client-debugger/devtools-browser-extension/package.json
  packages/tools/client-debugger/devtools-browser-extension/prettier.config.cjs
  packages/tools/client-debugger/devtools-browser-extension/public/images/Icon.png
  packages/tools/client-debugger/devtools-browser-extension/public/manifest.json
  packages/tools/client-debugger/devtools-browser-extension/src/background/BackgroundScript.ts
  packages/tools/client-debugger/devtools-browser-extension/src/background/Logging.ts
  packages/tools/client-debugger/devtools-browser-extension/src/background/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/content/ContentScript.ts
  packages/tools/client-debugger/devtools-browser-extension/src/content/Logging.ts
  packages/tools/client-debugger/devtools-browser-extension/src/content/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/BackgroundConnection.ts
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/DevtoolsScript.ts
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/InitializeView.ts
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/InitializeViewScript.ts
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/Logging.ts
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/devtools.html
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/devtools/rootView.html
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/Constants.ts
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/Messages.ts
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/TypedPortConnection.ts
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/Utilities.ts
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/messaging/index.ts
  packages/tools/client-debugger/devtools-browser-extension/src/packageVersion.ts
  packages/tools/client-debugger/devtools-browser-extension/src/popup/PopupScript.ts
  packages/tools/client-debugger/devtools-browser-extension/src/popup/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/popup/popup.css
  packages/tools/client-debugger/devtools-browser-extension/src/popup/popup.html
  packages/tools/client-debugger/devtools-browser-extension/src/test/BackgroundScript.test.ts
  packages/tools/client-debugger/devtools-browser-extension/src/test/Utilities.ts
  packages/tools/client-debugger/devtools-browser-extension/src/utilities/Globals.ts
  packages/tools/client-debugger/devtools-browser-extension/src/utilities/fence.json
  packages/tools/client-debugger/devtools-browser-extension/src/utilities/index.ts
  packages/tools/client-debugger/devtools-browser-extension/test-setup.js
  packages/tools/client-debugger/devtools-browser-extension/tsconfig.json
  packages/tools/client-debugger/devtools-browser-extension/webpack.config.js
  pnpm-lock.yaml
Labels: dependencies, base: main, changeset-present

#15307 Fix a couple comments
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/typeUtils.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15406 ci: Fix changeset workflow
  .github/workflows/changeset-reporter.yml
  .github/workflows/data/changeset-missing.md
  .github/workflows/pr-check-changeset.yml
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main, changeset-present

#15449 [bump] build-tools: 0.16.0 => 0.16.1 (patch)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: release, changeset-present

#15441 IdCompressor bundle size mitigation
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#15298 Add telemetry filters
  packages/tools/client-debugger/client-debugger-view/src/components/TelemetryView.tsx
Labels: base: main, changeset-present

#15456 Reorder sequence format type declarations
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15461 ci: Use valid output variable names
  .github/workflows/changeset-reporter.yml
Labels: area: build, base: main

#15462 ci: Fix if logic in workflow
  .github/workflows/push-tag-create-release.yml
Labels: area: build, base: main

#15453 Fork treeTextFormat types
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/core/tree/persistedTreeTextFormat.ts
  experimental/dds/tree2/src/core/tree/treeTextFormat.ts
  experimental/dds/tree2/src/core/tree/types.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15468 build: Tag asserts
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#15290 Editable tree move api
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main, changeset-present

#15469 fix(fluid-build): Handle all workspace ranges when checking symlinks
  build-tools/packages/build-tools/src/fluidBuild/symlinkUtils.ts
Labels: area: build, base: main

#15467 [bump] node-rdkafka to 2.16 (latest version)
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15473 [GC stress] Undo intentionally failing test to check create work item pipeline stage
  packages/test/test-service-load/src/runner.ts
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, changeset-present

#15471 Remove terminal override for tree workspace
  experimental/dds/tree2/.vscode/Tree.code-workspace
Labels: base: main

#15465 feat: Support JSON output in check:changeset
  .github/workflows/changeset-reporter.yml
  .github/workflows/pr-check-changeset.yml
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/src/commands/check/changeset.ts
Labels: area: build, base: main

#15474 build: support workspace as dependency version
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/symlinkUtils.ts
Labels: area: build, base: main

#15476 [bump] build-tools: 0.17.0 => 0.18.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#15477 Update the snapshot cache before closing
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#15481 build: Tag asserts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#15483 Update stress test closing summarizer feature flags that were missed
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#15479 Removing unwanted logs
  server/routerlicious/packages/lambdas/src/utils/connectionCountLogger.ts
Labels: area: server, base: main

#15486 Update rebaseBranch return type
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15475 Fix caching in afr driver
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
Labels: area: driver, base: main

#15450 fix(tree): Create a commit type map for each UndoRedoManager
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/undo/index.ts
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/testTree.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15440 Add risks section about grouped batching
  packages/runtime/container-runtime/src/opLifecycle/README.md
Labels: area: runtime, base: main, changeset-present

#15434 Implement SharedTree root local branch as a SharedTreeBranch
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/utils.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/testTree.ts
  experimental/dds/tree2/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15412 feat(sequence): add fuzz test minimization
  packages/dds/sequence/.gitignore
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzMinimization.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzUtils.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
Labels: area: dds, area: dds: sharedstring, base: main, changeset-present

#15487 Rename modularChangeEncoding -> modularChangeCodecs
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
Labels: area: dds, area: dds: tree, base: main

#15488 ContainerRuntime: Clean up applyStashedOp typing
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, base: main

#14585 [bump] server: 0.1038.4000 => 1.0.0 (major)
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#15497 improvement(tree): Use a static create function for the UndoRedoManager
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree/testTree.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#15422 ci: Check for incorrect versions
  package.json
  tools/pipelines/build-client.yml
Labels: area: build, base: main, changeset-present

#15498 Remove ProgressiveEditBuilder
  api-report/tree2.api.md
  experimental/dds/tree2/README.md
  experimental/dds/tree2/src/core/change-family/editBuilder.ts
  experimental/dds/tree2/src/core/change-family/index.ts
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/feature-libraries/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/sequenceEditBuilder.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/sequence-change-family/randomSequenceGenerator.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#15502 build: Fix invalid version of experimental devtools
  packages/tools/client-debugger/devtools/package.json
Labels: base: main

#15496 Simplify prettier ignores
  .prettierignore
  pnpm-workspace.yaml
  server/gitrest/.prettierignore
  server/gitrest/pnpm-workspace.yaml
  server/historian/.prettierignore
  server/historian/pnpm-workspace.yaml
  server/routerlicious/.prettierignore
Labels: area: server, base: main

#15504 Decrease time to debug for Current Mocha Test
  .vscode/launch.json
Labels: area: contributor experience, base: main

#15508 fix(devtools-core): Better type-safety when checking if a handle points to a DDS
  packages/tools/client-debugger/devtools-core/src/data-visualization/DataVisualization.ts
Labels: base: main

#15478 Restyled event information to resizable secondary pane
  packages/tools/client-debugger/devtools-view/package.json
  packages/tools/client-debugger/devtools-view/src/DevtoolsView.tsx
  packages/tools/client-debugger/devtools-view/src/components/TelemetryView.tsx
  pnpm-lock.yaml
Labels: dependencies, base: main

#15511 Fix workspace file formatting
  common/build/build-common/pnpm-workspace.yaml
  common/build/eslint-config-fluid/pnpm-workspace.yaml
  common/lib/common-definitions/pnpm-workspace.yaml
  common/lib/common-utils/pnpm-workspace.yaml
  common/lib/protocol-definitions/pnpm-workspace.yaml
  server/tinylicious/pnpm-workspace.yaml
  tools/api-markdown-documenter/pnpm-workspace.yaml
  tools/benchmark/pnpm-workspace.yaml
  tools/getkeys/pnpm-workspace.yaml
  tools/test-tools/pnpm-workspace.yaml
Labels: area: server, area: build, base: main

#15283 offline: expose ability to get pending state without closing container
  api-report/container-loader.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: loader, area: tests, public api change, base: main, changeset-present

#15503 fix(ci): Fix removal of coloring from t9s log file
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#15501 (protocol-base): move isServiceMessageType to lambdas
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/index.ts
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/protocol-base/src/utils.ts
Labels: area: server, public api change, base: main

#15517 build(devtools): Fix packageVersion.ts discrepency
  packages/tools/client-debugger/devtools/src/packageVersion.ts
Labels: base: main

#15520 Update Readme
  README.md
Labels: base: main

#15518 Remove IHelpMessage, IQueueMessage, RemoteHelp and deprecate localHelp event
  api-report/container-runtime-definitions.api.md
  common/lib/protocol-definitions/CHANGELOG.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/index.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main

#15526 Update Dependency-Guidelines-Template
  tools/markdown-magic/src/templates/Dependency-Guidelines-Template.md
  tools/markdown-magic/test/library-package-readme.md
Labels: area: build, base: main

#15524 Update test-tools to 0.2.158186
  azure/package.json
  azure/packages/external-controller/package.json
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/common/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/sharedtree/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/todo/package.json
  examples/external-data/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/schema-upgrade/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  package.json
  packages/drivers/tinylicious-driver/package.json
  pnpm-lock.yaml
Labels: area: examples, area: driver, area: build, dependencies, base: main

#15522 Summarizer Election - Add logging for parent election as well as client election.
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
Labels: area: runtime, base: main

#15527 Remove bigBlobs secret feature from DataObject
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-objects/dataObject.ts
Labels: area: framework, breaking change, public api change, base: main

#15457 test(devtools-view): Add SharedMatrix to test app
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/test/app/App.tsx
  packages/tools/devtools/devtools-view/src/test/widgets/EmojiGrid.tsx
  packages/tools/devtools/devtools-view/src/test/widgets/index.ts
  pnpm-lock.yaml
Labels: dependencies, base: main, changeset-present

#15528 Update webpack
  azure/packages/external-controller/package.json
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/sharedtree/package.json
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/interface/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/todo/package.json
  examples/data-objects/webflow/package.json
  examples/external-data/package.json
  examples/utils/bundle-size-tests/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/schema-upgrade/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  package.json
  packages/test/functional-tests/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-version-utils/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-view/package.json
  packages/tools/webpack-fluid-loader/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, dependencies, area: tests, area: dds: propertydds, base: main

#15443 MergeTree: Clean up handling for removed segments below the min seq
  api-report/merge-tree.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, public api change, base: main, changeset-present

#15383 Prepare DDS for Protocol Defs 2.0
  packages/dds/map/src/directory.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
Labels: area: dds, area: dds: sharedstring, base: main, changeset-present

#15530 Deprecate PureDataObject.getFluidObjectFromDirectory
  BREAKING.md
  api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
Labels: area: framework, breaking change, public api change, base: main

#15515 fix(devtools): Update @fluentui deps to get past the borked versions
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#15507 refactor(ci): Get npm feed URLs from centralized variable group
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#15525 [AzureClient] Increase container connect timeout in e2e tests
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  azure/packages/test/end-to-end-tests/src/test/ddsTests.spec.ts
Labels: base: main

#15519 Make undoRedoManager optional in branches
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/utils.ts
  experimental/dds/tree2/src/test/shared-tree/testTree.ts
Labels: area: dds, area: dds: tree, base: main

#15506 Only submit ops and signals when socket is connected
  api-report/driver-base.api.md
  api-report/local-driver.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#15377 build: Upgrade pnpm lockfile format
  .npmrc
  build-tools/.npmrc
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  common/build/build-common/.npmrc
  common/build/build-common/package.json
  common/build/build-common/pnpm-lock.yaml
  common/build/eslint-config-fluid/.npmrc
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/lib/common-definitions/.npmrc
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/.npmrc
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/.npmrc
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  server/gitrest/.npmrc
  server/gitrest/package.json
  server/historian/.npmrc
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/.npmrc
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  server/tinylicious/.npmrc
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
  tools/api-markdown-documenter/.npmrc
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/.npmrc
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/.npmrc
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/.npmrc
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main, changeset-present

#15539 improvement(devtools-view): Scale theme provider div vertically
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
Labels: base: main

#15536 Update rebase utilities
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/test/rebase/findAncestor.spec.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15540 improvement(devtools-core): Update SharedMatrix data visualization to better match data representation
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
Labels: base: main

#15557 improvement(devtools-core): Better general ISharedObject handling
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/test/MockSharedObject.ts
  packages/tools/devtools/devtools-view/src/test/app/App.tsx
  pnpm-lock.yaml
Labels: dependencies, base: main

#15552 tree: Flatten fields in schema-aware types
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/typedSchema/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/framework/tree-react-api/src/test/schema.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#15561 Revert "refactor(ci): Get npm feed URLs from centralized variable group"
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#15533 ci: Simplify build pipelines
  build-tools/package.json
  build-tools/pnpm-workspace.yaml
  package.json
  scripts/check-pkg-json-formatting.sh
  server/gitrest/package.json
  server/historian/package.json
  server/routerlicious/.npmpackagejsonlintrc.json
  server/routerlicious/.prettierignore
  server/routerlicious/.vscode/launch.json
  server/routerlicious/.vscode/settings.json
  server/routerlicious/package.json
  server/routerlicious/pnpm-workspace.yaml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: server, area: build, base: main

#15564 refactor(ci): Get npm feed URLs from centralized variable group
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#15562 ci: Continue if pnpm cache times out
  tools/pipelines/templates/include-install-pnpm.yml
Labels: area: build, base: main

#15558 refactor(devtools-view): Move data visualization components into their own directory
  packages/tools/devtools/devtools-view/src/components/DataObjectsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/CommonInterfaces.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidHandleView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidTreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeDataView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/UnknownDataView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/UnknownFluidObjectView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/ValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/index.ts
  packages/tools/devtools/devtools-view/src/components/index.ts
  packages/tools/devtools/devtools-view/src/components/utility-components/Tree.tsx
  packages/tools/devtools/devtools-view/src/components/utility-components/index.ts
Labels: base: main

#15531 Use pnpm as task runner in root package.json
  package.json
  pnpm-lock.yaml
  tools/pipelines/templates/include-install-pnpm.yml
Labels: area: build, dependencies, base: main

#15566 Fix tinylicious-client peer dependency on fluid-framework
  azure/packages/azure-client/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework, base: main

#15567 [Port v2int 4.2] Remove the peer dependencies for @fluidframework/tinylicious-client as they are wrong
  azure/packages/azure-client/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework, base: main

#15572 Cleanup good-fences and nodegit dep
  examples/external-data/package.json
  package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#15576 ci: Add changeset-required to changset metadata
  .github/workflows/changeset-reporter.yml
  .github/workflows/pr-check-changeset.yml
Labels: area: build, base: main

#15398 Improvements to the aliasing tests
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: tests, base: main, changeset-present

#15569 refactor(devtools-view): Refactor tree helper structure to reduce nested indentation
  packages/tools/devtools/devtools-view/.eslintrc.js
  packages/tools/devtools/devtools-view/src/components/DataObjectsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/CommonInterfaces.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidHandleView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidTreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeDataView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeItem.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/UnknownDataView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/UnknownFluidObjectView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/ValueView.tsx
  packages/tools/devtools/devtools-view/src/components/utility-components/Tree.tsx
  packages/tools/devtools/devtools-view/src/components/utility-components/index.ts
  packages/tools/devtools/devtools-view/src/test/VisualTree.test.tsx
Labels: base: main

#14502 stress test: add stashed ops
  packages/dds/task-manager/src/taskManager.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: loader, area: dds, area: tests, base: main, changeset-present

#15578 Remove sessionId from GraphCommit
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/rebase/rebaseBranch.spec.ts
  experimental/dds/tree2/src/test/rebase/rebaser.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/undo/undoRedoManager.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15548 improvement(devtools-view): UI consistency fixes for Fluid Dev Tool
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/src/AudienceMetadata.ts
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/Logs.ts
  packages/tools/devtools/devtools-core/src/test/ContainerDevtools.test.ts
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryLog.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
  packages/tools/devtools/devtools-view/src/components/LandingView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
Labels: public api change, base: main

#15580 DeleteAPI in data plane - Complete customization for customized FRS DeleteService implementation.
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
Labels: area: server, base: main

#15573 chore: Minor fixes to published files in packages
  examples/data-objects/table-document/README.md
  packages/dds/ink/.npmignore
  packages/dds/matrix/.npmignore
  packages/dds/merge-tree/.npmignore
  packages/dds/sequence/.npmignore
  packages/dds/shared-object-base/.npmignore
  packages/dds/test-dds-utils/.npmignore
  packages/drivers/debugger/.npmignore
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/.npmignore
  packages/framework/data-object-base/package.json
  packages/loader/container-loader/.npmignore
  packages/test/functional-tests/.npmignore
  packages/test/local-server-tests/.npmignore
  packages/test/snapshots/.npmignore
  packages/test/test-gc-sweep-tests/.npmignore
  packages/test/test-pairwise-generator/.npmignore
  packages/test/test-version-utils/.npmignore
Labels: area: examples, area: framework, base: main

#15550 Improve telemetry in fluid cache and snapshot fetch in odsp driver
  packages/drivers/driver-web-cache/package.json
  packages/drivers/driver-web-cache/src/FluidCache.ts
  packages/drivers/driver-web-cache/src/packageVersion.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
Labels: area: driver, area: odsp-driver, base: main

#15577 Fix more applyStashedOp typing
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
Labels: area: runtime, base: main

#15581 add logs to check for already processed ops
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server, base: main

#15583 Update EditManager trunk to use SharedTreeBranch
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#15587 Fix IDocumentDeleteService export index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/index.ts
Labels: area: server, base: main

#15590 Use client build for azure test packages
  tools/pipelines/fluid-afr-perf-test.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build, base: main

#15495 Correctly track op heuristics for summaries
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
Labels: area: runtime, public api change, base: main

#15591 server: fix Historian and Alfred default throttling configs
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/routerlicious/kubernetes/routerlicious/values.yaml
Labels: area: server, base: main

#15323 Tree: Support sequence edits targeting detached nodes
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/changeset/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-change-family/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markQueue.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/tracker.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#15592 build(devtools-view): Use `~` dependency to prevent breaking update
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: dependencies, base: main

#15588 ci: Fix changeset-required workflows
  .github/workflows/changeset-reporter.yml
  .github/workflows/pr-check-changeset.yml
Labels: area: build, base: main

#15535 [GC] Refactor Garbage collector by moving telemetry tracking to a helper class
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#15586 Cleanup tree2 fuzz edit generation
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/operationTypes.ts
Labels: area: dds, area: dds: tree, base: main

#15595 ci: Fix generated JSON formatting
  .github/workflows/pr-check-changeset.yml
Labels: area: build, base: main

#15600 build(devtools-browser-extension): Remove unnecessary file copy step
  packages/tools/devtools/devtools-browser-extension/package.json
Labels: base: main

#15606 Fix test-azure-frs pipeline
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/AzureClientFactory.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  azure/packages/test/end-to-end-tests/src/test/utils.ts
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/docCreatorRunnerClient.ts
  azure/packages/test/scenario-runner/src/docLoaderRunnerClient.ts
  pnpm-lock.yaml
  tools/pipelines/fluid-afr-perf-test.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
Labels: area: build, dependencies, base: main
