Repository microsoft/FluidFramework, pull requests merged in 2023-11, with the labels that each got.

#18056 add skipped obliterate tests
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/obliterate.reconnect.spec.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/reconnectHelper.ts
Labels: area: dds, base: next

#18083 Skip Load.request query string tests on odsp
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
Labels: area: tests, base: main, msftbot: merge-next

#18105 fix(build-cli): Fix broken test
  build-tools/packages/build-cli/test/filter.test.ts
Labels: area: build, base: main

#18102 fix(check:policy): Include the handler name in failure message
  build-tools/packages/build-cli/src/commands/check/policy.ts
Labels: area: build, base: main

#18104 fix(check:policy): Exclude tsc --watch tasks from policy
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidBuildTasks.ts
Labels: area: build, base: main

#17983 Minor fix in setPackageTypesField command
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: build, base: main

#18099 Update release notes with searchForMarker function name
  RELEASE_NOTES/2.0.0-internal.7.2.0.md
Labels: base: main

#18109 Don't allow strings to be passed directly as inserted content into SharedTreeLists
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18107 Use object proxies backed by raw nodes to implement SharedTree factory objects
  experimental/dds/tree2/.dependency-cruiser-known-violations.json
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/objectFactory.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/rawObjectNode.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/rawObjectNode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/structFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18094 Simplify tree visualizer
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
Labels: base: main

#17960 Data Migration: Initial op stamping
  packages/dds/migration-shim/src/migrationDeltaHandler.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/sharedTreeDeltaHandler.ts
  packages/dds/migration-shim/src/sharedTreeShim.ts
  packages/dds/migration-shim/src/shimChannelServices.ts
  packages/dds/migration-shim/src/shimDeltaConnection.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
  packages/dds/migration-shim/src/types.ts
  packages/dds/migration-shim/src/utils.ts
Labels: area: dds, base: main

#18063 tree2: Remove deprecated ISharedTree.view
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18111 Add additional validation to prevent inserting a string directly into a list
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18100 feat(merge-tree): obliterate types
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
Labels: area: dds, public api change, base: next

#18115 Expose customizations interface for Nexus
  server/routerlicious/packages/routerlicious-base/src/index.ts
Labels: area: server, base: main

#18114 test(tree): add regression test for reverting reattach
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18069 mapCursorToPath bug fix
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/forest/forest.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/forestSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/objectForest.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18119 Tree: Fix bug with splitting moved marks
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17790 chore(merge-tree sequence): remove more public exports
  .changeset/green-parrots-poke.md
  examples/data-objects/prosemirror/src/fluidBridge.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/constants.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
Labels: area: examples, area: dds, area: dds: sharedstring, public api change, base: next

#18120 fix(tree2): adopt override ID in removal delta
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18110 Persist and set stickiness in revertibles
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#18093 feat(tree2): Add `set` and `delete` functionality for Map nodes
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18130 Allow Iterable<string> in SharedTreeList insert methods
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18088 Create repro of legacyTree failing to attach with local changes
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/test/Attach.tests.ts
Labels: area: dds, area: dds: tree, base: main

#18132 Remove compile time restrictions for strings in SharedTreeList
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18133 fix(tree2): Correct the typing of `SharedTreeMap` to ensure `delete` signature is correct
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
Labels: base: main

#18125 build(build-common): Add new base tsconfigs
  common/build/build-common/tsconfig.base.json
  common/build/build-common/tsconfig.cjs.json
  common/build/build-common/tsconfig.esm.json
  common/build/build-common/tsconfig.test.json
  tools/pipelines/build-build-common.yml
Labels: area: build, base: main

#18118 tree2: Split typed and untyped views
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryList.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/forest/editableForest.ts
  experimental/dds/tree2/src/core/forest/forest.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView2.ts
  experimental/dds/tree2/src/shared-tree/typedTree.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/util/utils.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  experimental/framework/tree-react-api/src/test/useTree.spec.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#18022 fix(tree2): Make at() in Sequence match semantics of Array.prototype.at()
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18143 Fix an issue where Redis client instances are excessively created
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redisFsManager.ts
Labels: area: server, base: main

#18139 tree2: Move use of root2 to TypedTreeView
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18147 Fix the indention typo in include-test-task.yml
  tools/pipelines/templates/include-test-task.yml
Labels: area: build, base: main

#18129 refactor(merge-tree sequence): minor cleanup
  .changeset/every-suns-bow.md
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/intervalUtils.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next

#18141 test(tee2): enable exhaustive remove-restore test for sequence field
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18142 disable checkpoints collection TTL
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#18128 Add infrastructure for migration to the version-migration/tree-shim demo
  examples/version-migration/tree-shim/src/model/appModel.ts
  examples/version-migration/tree-shim/src/model/containerCode.ts
  examples/version-migration/tree-shim/src/model/inventoryList.ts
  examples/version-migration/tree-shim/src/model/legacyTreeInventoryListController.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  examples/version-migration/tree-shim/src/modelInterfaces.ts
  examples/version-migration/tree-shim/src/view/appView.tsx
  examples/version-migration/tree-shim/src/view/debugView.tsx
  examples/version-migration/tree-shim/src/view/inventoryView.tsx
Labels: area: examples, base: main

#18148 Temporary workaround: make tinylicious private
  fluidBuild.config.cjs
  server/routerlicious/packages/tinylicious/package.json
Labels: area: server, base: main

#18151 tree2: Optimize unboxed code-path
  examples/benchmarks/bubblebench/editable-shared-tree/tests/demo.test.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/unboxed.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#17813 feat(tree2): allow handles in ops and add GC tests
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  packages/dds/matrix/src/test/undoRedoStackManager.ts
  packages/dds/sequence/.gitignore
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, area: dds: tree, base: main

#18154 fix(tree2): Correct value-typing for map proxies
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18158 Only bump tree2 merge perf test timeout in correctness mode
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#17535 Stash compressor state when container closes instead of in localOpMetadata
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/id-compressor/index.ts
  packages/runtime/runtime-definitions/src/id-compressor/persisted-types/0.0.1.ts
  packages/runtime/runtime-definitions/src/id-compressor/persisted-types/index.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
Labels: area: runtime, area: loader, public api change, base: main

#18160 r11s: Align Nexus Runner with Alfred
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
Labels: area: server, base: main

#18155 build(eslint-config-fluid): Update import plugins
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#18144 Update the shouldIgnoreError check for duplicate key error + Update runner log properties
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/checkpointManager.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/services-shared/src/runnerUtils.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#18097 Add move operation to sequence field fuzz edits
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/operationTypes.ts
Labels: area: dds, area: dds: tree, base: main

#16575 Remove request pattern from examples
  examples/apps/attributable-map/src/containerCode.ts
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  examples/apps/collaborative-textarea/src/container.ts
  examples/apps/contact-collection/src/containerCode.ts
  examples/apps/data-object-grid/src/container.ts
  examples/apps/data-object-grid/src/dataObjectRegistry.ts
  examples/apps/presence-tracker/src/containerCode.ts
  examples/apps/task-selection/src/containerCode.ts
  examples/apps/tree-comparison/src/model/containerCode.ts
  examples/data-objects/clicker/src/agent.ts
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/codeMirror.ts
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/container/src/container.tsx
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/componentView.ts
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/prosemirror/src/footnoteView.ts
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/prosemirror/src/prosemirror.tsx
  examples/data-objects/smde/package.json
  examples/data-objects/smde/src/index.ts
  examples/data-objects/smde/src/smde.ts
  examples/data-objects/todo/package.json
  examples/data-objects/todo/src/index.ts
  examples/external-data/src/model/containerCode.ts
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/modelLoader/index.ts
  examples/utils/example-utils/src/modelLoader/modelContainerRuntimeFactory.ts
  examples/utils/example-utils/src/modelLoader/modelLoader.ts
  examples/version-migration/live-schema-upgrade/src/modelVersion1/containerCode.ts
  examples/version-migration/live-schema-upgrade/src/modelVersion2/containerCode.ts
  examples/version-migration/same-container/src/modelVersion1/containerCode.ts
  examples/version-migration/same-container/src/modelVersion2/containerCode.ts
  examples/version-migration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/version-migration/tree-shim/src/model/containerCode.ts
  examples/view-integration/container-views/src/containerCode.ts
  examples/view-integration/external-views/src/containerCode.ts
  examples/view-integration/view-framework-sampler/src/containerCode.ts
  experimental/PropertyDDS/examples/partial-checkout/src/containerCode.ts
  experimental/PropertyDDS/examples/partial-checkout/tests/partial_checkout.test.ts
  experimental/PropertyDDS/examples/property-inspector/src/containerCode.ts
  experimental/PropertyDDS/examples/property-inspector/tests/property_inspector.test.ts
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/container.ts
  packages/tools/devtools/devtools-example/src/Container.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: dds: propertydds, public api change, base: main

#18150 tree2: Migrate a few things off of editable-tree-1 APIs
  examples/benchmarks/bubblebench/editable-shared-tree/src/appState.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/client.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/benchmarks/bubblebench/editable-shared-tree/tests/demo.test.ts
  examples/benchmarks/bubblebench/editable-shared-tree/tsconfig.json
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView2.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#18163 Tree: Remove revision tag from TransientEffect
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18068 Stamp detachedFieldIndex encoding with a version
  experimental/dds/tree2/src/core/tree/detachedFieldIndex.ts
  experimental/dds/tree2/src/core/tree/detachedFieldIndexCodec.ts
  experimental/dds/tree2/src/core/tree/detachedFieldIndexFormat.ts
  experimental/dds/tree2/src/core/tree/detachedFieldIndexTypes.ts
  experimental/dds/tree2/src/core/tree/fence.json
  experimental/dds/tree2/src/core/tree/visitorUtils.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-0.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-1.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-2.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-3.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/empty-root-final.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-1-final.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
  experimental/dds/tree2/src/test/tree/detachedFieldIndex.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18165 feat(tree): FieldChangeHandler can be queried for relevant removed trees
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/tree/deltaUtil.ts
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/relevantRemovedTrees.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeHandler.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/relevantRemovedTrees.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18146 tree2: Improve Branding library
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/test/util/brand.spec.ts
  experimental/dds/tree2/src/util/brand.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18169 tree2: remove editable-tree-1
  .changeset/rude-tips-visit.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/.dependency-cruiser-known-violations.json
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/nodeKeys.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/ProxyTarget.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/README.md
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/fence.json
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/internal.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/partlyTyped.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView2.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTreeContext.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAwareSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView2.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#18173 Rename SharedTree common `node` API to `Tree`
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/node.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/node.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#18170 build: Patch socket.io packages for node16 moduleResolution
  package.json
  patches/README.md
  patches/engine.io-client@6.5.2.patch
  patches/socket.io-client@4.7.2.patch
  pnpm-lock.yaml
Labels: dependencies, base: main

#17901 Remove usage of deprecated load methods
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/smde/src/index.ts
  examples/utils/bundle-size-tests/src/containerRuntime.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/hardwareStats.spec.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: examples, area: framework, area: runtime, area: tests, base: main

#18175 Avoid copying fuzz test state object
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
Labels: base: main

#18153 Tree: Support rebasing over compositions of sequence changesets
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18092 GC: Added tests that demonstrate unexpected tombstone behavior and logs
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#18181 fix(tree2): Increase timeout for long test
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18171 Allow for partially enabling grouped batching.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#18187 ci(server): Run generate:packageList as a check
  server/routerlicious/feeds/internal-build.txt
  server/routerlicious/feeds/internal-dev.txt
  server/routerlicious/feeds/internal-test.txt
  server/routerlicious/feeds/public.txt
  server/routerlicious/package.json
  tools/pipelines/server-routerlicious.yml
Labels: area: server, area: build, base: main

#18159 fix(build-tools): Use fluid-build task definitions
  build-tools/package.json
Labels: area: build, base: main

#18177 tree2: Cleanup related to editable-tree-1 removal
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/schema-stored/index.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/internal.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView2.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18185 GC: Add a GC option to control throwing on loading a tombstoned object
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#18157 "Hydrate" SharedTreeObject factory proxies after insertion
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/editNode.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18180 Data Migration: Reconnect test
  packages/dds/migration-shim/src/test/reconnect.spec.ts
Labels: area: dds, base: main

#18192 Fix concurrent merge bugs
  packages/dds/migration-shim/src/test/reconnect.spec.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
Labels: area: runtime, area: dds, base: main

#18197 tree2: View renames
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView2.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#18191 docs: Clean up readme sections
  examples/version-migration/tree-shim/README.md
  packages/dds/test-dds-utils/README.md
  packages/loader/test-loader-utils/README.md
  packages/test/stochastic-test-utils/README.md
  packages/test/test-pairwise-generator/README.md
  packages/test/test-version-utils/README.md
  tools/markdown-magic/src/md-magic.config.cjs
Labels: area: examples, area: loader, area: dds, area: build, area: tests, base: main

#18200 tree2: View file renames
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/treeCheckout.ts
  experimental/dds/tree2/src/shared-tree/treeView.ts
  experimental/dds/tree2/src/test/shared-tree/treeCheckout.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeView.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18209 test(tree2) enable passing move tests
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18203 refactor(tree2) remove index tracking logic from changeset inverting
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18186 feat(test-version-utils): Improvements for troubleshooting
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#18207 fix: Run prettier on previously ignored files
  .prettierignore
  packages/common/client-utils/src/test/types/tsconfig.json
  packages/common/core-interfaces/src/test/types/fluidObjectTypes.ts
  packages/common/driver-definitions/src/test/types/maximumCacheDurationPolicy.spec.ts
  packages/runtime/datastore-definitions/src/test/types/jsonable.ts
  packages/runtime/runtime-definitions/src/test/types/requestSignatureDeprecation.ts
Labels: area: runtime, base: main

#17703 Rename test-loader-utils and test-dds-utils to @fluid-private scope
  .changeset/beige-experts-obey.md
  .changeset/large-pants-refuse.md
  PACKAGES.md
  experimental/dds/attributable-map/package.json
  experimental/dds/ot/ot/package.json
  experimental/dds/ot/sharejs/json1/package.json
  experimental/dds/sequence-deprecated/package.json
  experimental/dds/sequence-deprecated/src/test/sharedObjectSequence.spec.ts
  experimental/dds/tree2/package.json
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  feeds/internal-dev.txt
  feeds/internal-test.txt
  layerInfo.json
  packages/dds/cell/package.json
  packages/dds/cell/src/test/cell.spec.ts
  packages/dds/map/package.json
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/ordered-collection/package.json
  packages/dds/ordered-collection/src/test/consensusOrderedCollection.spec.ts
  packages/dds/pact-map/package.json
  packages/dds/register-collection/package.json
  packages/dds/register-collection/src/test/consensusRegisterCollection.spec.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/CHANGELOG.md
  packages/dds/test-dds-utils/README.md
  packages/dds/test-dds-utils/package.json
  packages/framework/oldest-client-observer/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/test-loader-utils/CHANGELOG.md
  packages/loader/test-loader-utils/README.md
  packages/loader/test-loader-utils/package.json
  packages/test/functional-tests/package.json
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: loader, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#17931 feat(check:policy): Make policy handlers async
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/common.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/assertShortCode.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/copyrightFileHeader.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/dockerfilePackages.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidBuildTasks.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidCase.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/pnpm.ts
Labels: area: build, base: main

#18214 test(tree2) move old top-level tests to appropriate area
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18196 fix(tree2): fix missing call to composeChild in sequence composition
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18131 fix(AzureClient): preserve types of 'initialObjects' for known schemas
  azure/packages/azure-client/api-report/azure-client.api.md
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/tinylicious-client/api-report/tinylicious-client.api.md
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/framework/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: area: framework, public api change, base: main

#18176 Enable dts trimming for some packages
  azure/packages/azure-client/api-extractor.json
  azure/packages/azure-client/package.json
  azure/packages/azure-service-utils/api-extractor.json
  azure/packages/azure-service-utils/package.json
  fluidBuild.config.cjs
  packages/common/container-definitions/api-extractor.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/api-extractor.json
  packages/common/core-interfaces/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#18210 Revert "Remove the findTile API"
  examples/data-objects/webflow/src/document/index.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/test/client.annotateMarker.spec.ts
  packages/dds/merge-tree/src/test/client.spec.ts
  packages/dds/merge-tree/src/test/wordUnitTests.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/sharedString.ts
Labels: area: examples, area: dds, area: dds: sharedstring, public api change, base: next

#18219 refactor(ci): Use stage identifier instead of display name for stage telemetry
  tools/telemetry-generator/src/handlers/stageTimingRetriever.ts
Labels: base: main

#18208 feat(markdown-magic): Add template and pragmas for annotating library package READMEs with experimental notice
  packages/dds/pact-map/README.md
  tools/markdown-magic/package.json
  tools/markdown-magic/pnpm-lock.yaml
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/templates/Experimental-Package-Notice-Template.md
  tools/markdown-magic/src/transforms/apiDocsLinkSectionTransform.cjs
  tools/markdown-magic/src/utilities.cjs
  tools/markdown-magic/test/library-package-readme.md
Labels: area: dds, area: build, base: main

#17903 Remove deprecated load methods
  .changeset/fuzzy-cities-wonder.md
  .changeset/metal-geese-battle.md
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: framework, area: runtime, public api change, base: next

#18220 feat(tree2): nested changes under removed content now apply (sequence only)
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17726 feature(devtools): Updated view to connect to op latency telemetry
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-view/src/components/OpLatencyView.tsx
  packages/tools/devtools/devtools-view/src/components/graphs/DynamicComposedChart.tsx
  packages/tools/devtools/devtools-view/src/test/OpLatencyView.test.tsx
Labels: area: runtime, base: main

#18223 feat(markdown-magic): Add package scope notices for `@fluid-internal` and `@fluid-private`
  packages/dds/test-dds-utils/README.md
  packages/loader/test-loader-utils/README.md
  packages/test/stochastic-test-utils/README.md
  packages/test/test-pairwise-generator/README.md
  packages/test/test-version-utils/README.md
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/templates/Internal-Package-Notice-Template.md
  tools/markdown-magic/src/templates/Private-Package-Notice-Template.md
  tools/markdown-magic/test/library-package-readme.md
Labels: area: loader, area: dds, area: build, area: tests, base: main

#18225 docs: Add package scope notices to READMEs \+ misc. README improvements
  experimental/dds/attributable-map/README.md
  experimental/dds/ot/ot/README.md
  experimental/dds/tree/README.md
  experimental/dds/tree2/README.md
  experimental/framework/data-objects/README.md
  experimental/framework/last-edited/README.md
  experimental/framework/react-inputs/README.md
  experimental/framework/tree-react-api/README.md
  packages/common/client-utils/README.md
  packages/common/core-utils/README.md
  packages/dds/ink/README.md
  packages/tools/devtools/devtools-core/README.md
  packages/tools/devtools/devtools-view/README.md
  packages/tools/devtools/devtools/README.md
Labels: area: dds, area: dev experience, area: dds: tree, base: main

#18226 tree2: Allow inserting content into editable tree with cursors
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/internal.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/treeCursorUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/fieldCursorTestUtilities.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeCheckout.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeView.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17959 clientSequenceNumber cleanup
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
Labels: area: runtime, base: main

#18229 r11s: fix correlationId response header when telemetryContext is enabled
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
Labels: area: server, base: main

#18228 server: Add Nexus to server/docker-compose
  server/docker-compose.dev.yml
  server/docker-compose.yml
Labels: area: server, base: main

#18238 test-build-client-pipeline-1es-yaml-conversion
  tools/pipelines/templates/build-client.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-build-lint.yml
  tools/pipelines/templates/include-git-tag-steps.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-process-test-results.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-task.yml
  tools/pipelines/templates/include-use-node-version.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#18233 feat(build-tools): Add support for tsc-multi
  .vscode/launch.json
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidBuildTasks.ts
Labels: area: build, area: contributor experience, base: main

#18234 tree2: Better and more consistent field cursor support
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/core/tree/types.ts
  experimental/dds/tree2/src/domains/json/jsonCursor.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/forestSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/mapTreeCursor.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/treeCursorUtils.ts
  experimental/dds/tree2/src/feature-libraries/treeTextCursor.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/fieldCursorTestUtilities.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/fieldKindTestUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/deltaUtils.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/mapTreeCursor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/objectForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/randomChangeGenerator.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/feature-libraries/treeCursorUtils.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/treeTextCursor.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testChange.spec.ts
  experimental/dds/tree2/src/test/testChange.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
  experimental/dds/tree2/src/test/tree/visit.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18243 Add santizeError function to remove sensitive information from Redis errors
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, base: main

#17602 Chunked encoding in tree summary
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/index.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/fence.json
  experimental/dds/tree2/src/feature-libraries/chunked-forest/index.ts
  experimental/dds/tree2/src/feature-libraries/fence.json
  experimental/dds/tree2/src/feature-libraries/forestSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/treeCompressionUtils.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-0.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-1.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-2.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-3.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-1-final.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18239 Makes fluid app insights logger not private and changes the scope from fluid-internal to fluidframework
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/client-logger/app-insights-logger/README.md
  packages/framework/client-logger/app-insights-logger/api-report/app-insights-logger.api.md
  packages/framework/client-logger/app-insights-logger/package.json
Labels: area: framework, public api change, base: main

#18251 [bump] build-tools: 0.27.0 => 0.28.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#18242 describeNoCompat partial clean up
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/SimpleTest.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#18254 fix(release:fromTag): Return correct release dates
  .vscode/launch.json
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/test/commands/release/fromTag.test.ts
Labels: area: build, area: contributor experience, base: main

#18201 refactor(infra): Rework getRequestedRange to return exact version used
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/test/versionUtils.spec.ts
  packages/test/test-version-utils/src/testApi.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#18255 tree2: Cleanup typed/simple tree entry point
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/rawObjectNode.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/simpleTree.ts
  experimental/dds/tree2/src/shared-tree/treeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/summary.bench.ts
  experimental/dds/tree2/src/test/shared-tree/treeCheckout.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#18257 Revert "describeNoCompat partial clean up (#18242)"
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/SimpleTest.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/container.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/codePropsal.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#18252 Updates app insights example app dependency from `@fluid-internal/app-insights-logger` to `@fluidframework/app-insights-logger`
  examples/client-logger/app-insights-logger/package.json
  examples/client-logger/app-insights-logger/src/components/ClientUtilities.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#18213 build: Fix peer dependency warning
  package.json
Labels: base: main

#18260 tree2: Remove FieldNode unboxing
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/unboxed.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18261 fix: Make changes to .prettierignore trigger pipelines, and apply missing prettier fixes
  .vscode/launch.json
  .vscode/settings.json
  RELEASE_NOTES/2.0.0-internal.6.4.0.md
  RELEASE_NOTES/2.0.0-internal.7.0.0.md
  RELEASE_NOTES/2.0.0-internal.7.1.0.md
  common/lib/common-utils/src/test/types/tsconfig.json
  scripts/get-test-pass-rate.mjs
  server/README.md
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-gitssh.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
Labels: area: server, area: build, area: contributor experience, base: main

#18258 fix(ci): Fix syntax in ADO variable use
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#18250 fix(ci): Only add stage to publish to dev feed for builds that are for release groups
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#18245 Fix bug in SharedTree factory proxy hydration
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/rawObjectNode.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18236 refactor(merge-tree sequence matrix): enable noImplicitAny
  .changeset/cold-mails-notice.md
  packages/dds/matrix/api-report/matrix.api.md
  packages/dds/matrix/src/types.ts
  packages/dds/matrix/tsconfig.json
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/test/tsconfig.json
  packages/dds/merge-tree/tsconfig.json
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/defaultMapInterfaces.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/tsconfig.json
  packages/dds/sequence/tsconfig.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: sharedstring, public api change, base: next

#18267 tree2: Remove good-fences
  experimental/dds/tree2/README.md
  experimental/dds/tree2/package.json
  experimental/dds/tree2/src/codec/fence.json
  experimental/dds/tree2/src/core/README.md
  experimental/dds/tree2/src/core/change-family/fence.json
  experimental/dds/tree2/src/core/dependency-tracking/fence.json
  experimental/dds/tree2/src/core/fence.json
  experimental/dds/tree2/src/core/forest/fence.json
  experimental/dds/tree2/src/core/rebase/fence.json
  experimental/dds/tree2/src/core/revertible/fence.json
  experimental/dds/tree2/src/core/schema-stored/fence.json
  experimental/dds/tree2/src/core/schema-view/fence.json
  experimental/dds/tree2/src/core/tree/fence.json
  experimental/dds/tree2/src/external-utilities/README.md
  experimental/dds/tree2/src/feature-libraries/chunked-forest/fence.json
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/fence.json
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/fence.json
  experimental/dds/tree2/src/feature-libraries/fence.json
  experimental/dds/tree2/src/feature-libraries/modular-schema/fence.json
  experimental/dds/tree2/src/feature-libraries/node-key/fence.json
  experimental/dds/tree2/src/feature-libraries/object-forest/fence.json
  experimental/dds/tree2/src/feature-libraries/schema-aware/fence.json
  experimental/dds/tree2/src/feature-libraries/sequence-field/fence.json
  experimental/dds/tree2/src/feature-libraries/typed-schema/fence.json
  experimental/dds/tree2/src/fence.json
  experimental/dds/tree2/src/shared-tree-core/fence.json
  experimental/dds/tree2/src/shared-tree/fence.json
  experimental/dds/tree2/src/test/fence.spec.ts
  experimental/dds/tree2/src/util/fence.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: tree, base: main

#18262 Cluster capacity request
  packages/runtime/container-runtime/src/id-compressor/idCompressor.ts
  packages/runtime/container-runtime/src/test/id-compressor/idCompressor.perf.spec.ts
  packages/runtime/container-runtime/src/test/id-compressor/idCompressor.spec.ts
  packages/runtime/container-runtime/src/test/id-compressor/idCompressorTestUtilities.ts
  packages/runtime/container-runtime/src/test/id-compressor/testCommon.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/id-compressor/index.ts
  packages/runtime/runtime-definitions/src/id-compressor/persisted-types/0.0.1.ts
  packages/runtime/runtime-definitions/src/id-compressor/persisted-types/index.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: runtime, area: tests, public api change, base: next

#18241 fix(tree2): tryMergeEffect now checks for detachIdOverride
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18256 Remove request pattern from azure-client
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/external-controller/tests/index.ts
Labels: base: main

#18265 Remove requestResolvedObjectFromContainer
  .changeset/tangy-geckos-swim.md
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/loader/container-loader/api-report/container-loader.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/loaderTest.spec.ts
Labels: area: loader, area: tests, public api change, base: next

#18215 Use migration shim in version-migration example
  examples/version-migration/tree-shim/package.json
  examples/version-migration/tree-shim/src/model/inventoryList.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#18271 Enable dts-trimming for packages/common
  packages/common/client-utils/api-extractor.json
  packages/common/client-utils/package.json
  packages/common/core-utils/api-extractor.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/api-extractor.json
  packages/common/driver-definitions/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#18270 build: Use link: protocol instead of file:
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#18273 build(azure): Use tsc-multi to dual-emit CJS and ESM
  azure/packages/azure-client/package.json
  azure/packages/azure-client/tsc-multi.test.json
  azure/packages/azure-client/tsconfig.esnext.json
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/tsc-multi.test.json
  azure/packages/azure-service-utils/tsconfig.esnext.json
  azure/packages/external-controller/package.json
  azure/packages/external-controller/tsconfig.esnext.json
  azure/packages/external-controller/tsconfig.json
  azure/packages/test/end-to-end-tests/.eslintrc.cjs
  azure/packages/test/end-to-end-tests/src/test/tsconfig.json
  common/build/build-common/tsc-multi.cjs.json
  common/build/build-common/tsc-multi.esm.json
  common/build/build-common/tsc-multi.test.json
  fluidBuild.config.cjs
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#18286 Revert "build: Use link: protocol instead of file: (#18270)"
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#18282 feat(type-tests): explicitly return void in type-test function
  build-tools/packages/build-tools/src/typeValidator/testGeneration.ts
Labels: area: build, base: main

#18217 tree2: Refactor TreeNodeSchema
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/editNode.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/objectFactory.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/storedToViewSchema.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/storedToViewSchema.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#18293 ci(client): Remove duplicate checks
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#18237 fix(tree): do not evict revertible commits from the trunk
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManager.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/editManagerTestUtils.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeCheckout.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18290 tree2: Fix out of date test name
  experimental/dds/tree2/src/test/shared-tree/simpleTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18295 test(tree2): remove leftover snapshot files
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
Labels: area: dds, area: dds: tree, base: main

#18294 tree2: Split editable-tree-2 into flex-tree and simple-tree
  experimental/dds/tree2/.dependency-cruiser-known-violations.json
  experimental/dds/tree2/src/feature-libraries/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/README.md
  experimental/dds/tree2/src/feature-libraries/flex-tree/context.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/internal.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyNode.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/navigation.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/nodeKeys.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/treeEvents.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/unboxed.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/README.md
  experimental/dds/tree2/src/feature-libraries/simple-tree/editNode.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/node.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/objectFactory.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/proxies.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/rawObjectNode.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/types.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/navigation.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/rawObjectNode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18289 Create tests to verify storing handles work
  packages/dds/migration-shim/src/test/storingHandles.spec.ts
  packages/dds/migration-shim/src/test/storingHandlesDetached.spec.ts
Labels: area: dds, base: main

#18292 fix(fluid-build): Include source files in tsc-multi done file
  build-tools/packages/build-tools/src/common/taskUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#18300 Update danger dependency to latest version
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#18299 fix(tree2): pass and leverage revision metadata in invert
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18253 Unify performanceIsometric implementation, simplify typing, and enable sha.js typing in client-utils and common-utils
  common/lib/common-utils/src/indexBrowser.ts
  common/lib/common-utils/src/indexNode.ts
  common/lib/common-utils/src/performanceBrowser.ts
  common/lib/common-utils/src/performanceIsomorphic.ts
  common/lib/common-utils/src/performanceNode.ts
  common/lib/common-utils/tsconfig.json
  common/lib/common-utils/types/perf_hooks.d.ts
  packages/common/client-utils/api-report/client-utils.api.md
  packages/common/client-utils/package.json
  packages/common/client-utils/src/hashFileNode.ts
  packages/common/client-utils/src/indexBrowser.ts
  packages/common/client-utils/src/indexNode.ts
  packages/common/client-utils/src/performanceBrowser.ts
  packages/common/client-utils/src/performanceIsomorphic.ts
  packages/common/client-utils/src/performanceNode.ts
  packages/common/client-utils/src/test/jest/gitHash.spec.ts
  packages/common/client-utils/src/test/mocha/typedEventEmitter.spec.ts
  packages/common/client-utils/tsconfig.json
  packages/common/client-utils/types/perf_hooks.d.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/package.json
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  pnpm-lock.yaml
Labels: area: driver, dependencies, area: odsp-driver, public api change, base: main

#18303 tree2: Rename FlexTree types
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/domains/leafDomain.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/context.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/internal.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyNode.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/nodeKeys.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/treeEvents.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/unboxed.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/editNode.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/node.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/proxies.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/rawObjectNode.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/types.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/shared-tree/simpleTree.ts
  experimental/dds/tree2/src/shared-tree/treeView.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/navigation.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/framework/tree-react-api/src/useTree.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#18304 Tree: Add support for comparing Maps in objMerge
  experimental/dds/tree2/src/test/objMerge.ts
Labels: area: dds, area: dds: tree, base: main

#18308 Minor type cleanup in FlexTree and proxy Tree types
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/flex-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/proxies.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18310 tree2: Layer TreeViews
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/treeView.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/utils.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeCheckout.spec.ts
  experimental/dds/tree2/src/test/shared-tree/treeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
  packages/dds/migration-shim/src/test/storingHandles.spec.ts
  packages/dds/migration-shim/src/test/storingHandlesDetached.spec.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#18305 test(tree): test concurrent restoration and edit of removed tree
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18306 Make improvements in calculating retry after time for calls to storage/relayService
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
Labels: area: runtime, area: loader, base: main

#18316 tree2: Fix build issue from merge
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18312 Update deps in server release group: axios to 1.6.2, compression to 4.6.2
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#18320 tree2: Remove needless import cycle
  experimental/dds/tree2/.dependency-cruiser-known-violations.json
  experimental/dds/tree2/src/domains/schemaBuilder.ts
Labels: area: dds, area: dds: tree, base: main

#18302 Add state based exhaustive suite for TestChange to validate suite
  experimental/dds/tree2/src/test/exhaustiveRebaserUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/rebaserAxiomaticTests.ts
  experimental/dds/tree2/src/test/testChange.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18247 Resubmit and Stashed Ops
  packages/dds/migration-shim/api-report/migration-shim.api.md
  packages/dds/migration-shim/package.json
  packages/dds/migration-shim/src/migrationDeltaHandler.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/sharedTreeDeltaHandler.ts
  packages/dds/migration-shim/src/sharedTreeShim.ts
  packages/dds/migration-shim/src/sharedTreeShimFactory.ts
  packages/dds/migration-shim/src/shimDeltaConnection.ts
  packages/dds/migration-shim/src/test/reconnect.spec.ts
  packages/dds/migration-shim/src/types.ts
  packages/dds/migration-shim/src/utils.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#18199 (odsp-client): Add odsp-client as experimental package
  layerInfo.json
  packages/service-client/odsp-client/.eslintrc.js
  packages/service-client/odsp-client/.gitignore
  packages/service-client/odsp-client/.npmignore
  packages/service-client/odsp-client/LICENSE
  packages/service-client/odsp-client/README.md
  packages/service-client/odsp-client/api-extractor.json
  packages/service-client/odsp-client/api-report/odsp-client.api.md
  packages/service-client/odsp-client/package.json
  packages/service-client/odsp-client/prettier.config.cjs
  packages/service-client/odsp-client/src/index.ts
  packages/service-client/odsp-client/src/interfaces.ts
  packages/service-client/odsp-client/src/odspAudience.ts
  packages/service-client/odsp-client/src/odspClient.ts
  packages/service-client/odsp-client/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#18322 tree2: Rename simple-tree types
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/context.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/flexTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/internal.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/lazyNode.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/nodeKeys.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/treeEvents.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/unboxed.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/editNode.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/node.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/objectFactory.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/proxies.ts
  experimental/dds/tree2/src/feature-libraries/simple-tree/types.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/simpleTree.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/simple-tree/utils.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  packages/dds/migration-shim/src/test/dataMigration.spec.ts
  packages/dds/migration-shim/src/test/migrationShim.spec.ts
  packages/dds/migration-shim/src/test/sharedTreeShim.spec.ts
  packages/dds/migration-shim/src/test/stampedV2Ops.spec.ts
  packages/dds/migration-shim/src/test/storingHandles.spec.ts
  packages/dds/migration-shim/src/test/storingHandlesDetached.spec.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#18324 feat(tree2): make delta tree building idempotent
  experimental/dds/tree2/src/core/tree/delta.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/test/tree/visitDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18331 refactor(test-runtime-utils): Cleanup unnecessary deps
  packages/runtime/test-runtime-utils/package.json
  pnpm-lock.yaml
Labels: area: runtime, dependencies, base: main
