Repository microsoft/FluidFramework, pull requests merged in 2023-10, with the labels that each got.

#17558 Add repair data regression
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17557 build(client): Update deps on test-tools client release group
  azure/packages/external-controller/package.json
  examples/apps/attributable-map/package.json
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/common/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/sharedtree/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-view/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/shared-text/package.json
  examples/data-objects/todo/package.json
  examples/external-data/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/schema-upgrade/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  package.json
  packages/drivers/tinylicious-driver/package.json
  pnpm-lock.yaml
Labels: area: examples, area: driver, dependencies, base: main

#17584 docs: Remove comment stating specific version for removal of deprecated property
  packages/common/container-definitions/src/runtime.ts
Labels: base: main

#17522 server: use TelemetryContext and introduce TimeoutContext
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/timeoutContext.ts
  server/routerlicious/packages/services-shared/src/storage.ts
  server/routerlicious/packages/services-utils/src/asyncContext.ts
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
  server/routerlicious/packages/services-utils/src/telemetryContext.ts
  server/routerlicious/packages/services-utils/src/timeoutContext.ts
Labels: area: server, public api change, base: main

#17594 tree2: Typed tree cleanup
  api-report/tree2.api.md
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/typed-tree/index.ts
  experimental/dds/tree2/src/typed-tree/typedTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17331 Move @types deps to devDeps
  examples/data-objects/monaco/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: dds: propertydds, base: main

#17590 Unify and Fix Handling of Test Content
  packages/test/snapshots/package.json
  packages/test/snapshots/src/replayMultipleFiles.ts
  packages/test/snapshots/src/test/replay.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/snapshots/src/testContent.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#17547 chore(merge-tree sequence): misc cleanup
  .changeset/poor-peas-bow.md
  api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/base.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/rbTree.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/dds/merge-tree/src/test/attributionCollection.spec.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalTree.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next, msftbot: merge-next

#17562 refactor(azure): Enable no-abbreviations eslint rule and fix violations
  api-report/azure-client.api.md
  azure/packages/azure-client/.eslintrc.js
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureUrlResolver.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/azure-local-service/.eslintrc.js
  azure/packages/azure-service-utils/.eslintrc.js
  azure/packages/azure-service-utils/src/generateToken.ts
Labels: public api change, base: main

#17574 refactor(api-markdown-documenter): Bundle `ApiItem`-related utilities into a namespace export
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/ApiItemUtilitiesModule.ts
  tools/api-markdown-documenter/src/LayoutUtilitiesModule.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateDefaultLayout.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiFunctionLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
  tools/api-markdown-documenter/src/utilities/index.ts
Labels: public api change, base: main

#17362 Make database take an argument of db name when making a collection
  server/routerlicious/packages/services-core/src/database.ts
Labels: area: server, base: main

#17592 Update logs for KafkaRunner and producer's error handlers
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#16798 build(server): Update type tests for server
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/test/types/validateServerServicesSharedPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17389 build: Upgrade pipelines to Node18 + upgrade nvm recommendation
  .nvmrc
  PACKAGES.md
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  examples/apps/spaces/tsconfig.json
  examples/apps/view-framework-sampler/src/views/reactView.tsx
  examples/apps/view-framework-sampler/tsconfig.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/vltava/tsconfig.json
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-common/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  experimental/PropertyDDS/packages/property-query/package.json
  experimental/dds/tree-graphql/.env-cmdrc.json
  experimental/dds/tree-graphql/.eslintrc.js
  experimental/dds/tree-graphql/.gitignore
  experimental/dds/tree-graphql/.npmignore
  experimental/dds/tree-graphql/.nycrc.json
  experimental/dds/tree-graphql/.prettierignore
  experimental/dds/tree-graphql/.prettierrc.json
  experimental/dds/tree-graphql/LICENSE
  experimental/dds/tree-graphql/README.md
  experimental/dds/tree-graphql/api-extractor.json
  experimental/dds/tree-graphql/codegen.yml
  experimental/dds/tree-graphql/package.json
  experimental/dds/tree-graphql/src/SharedTreeQuerier.ts
  experimental/dds/tree-graphql/src/graphql-generated/Pizza.ts
  experimental/dds/tree-graphql/src/graphql-plugins/SharedTreePlugin.ts
  experimental/dds/tree-graphql/src/graphql-schemas/Pizza.ts
  experimental/dds/tree-graphql/src/index.ts
  experimental/dds/tree-graphql/src/test/SharedTreeQuerier.tests.ts
  experimental/dds/tree-graphql/src/test/TestUtilities.ts
  experimental/dds/tree-graphql/tsconfig-graphql-plugins.json
  experimental/dds/tree-graphql/tsconfig.esnext.json
  experimental/dds/tree-graphql/tsconfig.json
  lerna-package-lock.json
  package.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/changeset/fence.spec.ts
  packages/drivers/iframe-driver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-version-utils/package.json
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
  server/routerlicious/packages/local-server/package.json
  tools/pipelines/build-azure-local-service.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: examples, area: server, area: driver, area: dds, area: build, dependencies, area: tests, area: dds: propertydds

#17609 tree2: Update inventory sample to new API
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/data-objects/inventory-app/src/view/counter.tsx
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  experimental/framework/tree-react-api/src/index.ts
  experimental/framework/tree-react-api/src/useTree.ts
Labels: area: examples, area: dev experience, base: main

#17197 fluid-build: clean up disable checks
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidPackageCheck.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
Labels: area: build, base: main

#17585 test(shared-tree): Add `unboxedField` and `unboxedUnion` unit tests and simplify `unboxed` test suite
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17604 refactor(build-cli): Configure build-cli commands for different release groups
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/lib/branches.ts
Labels: area: build, base: main

#17611 tree2: Split FieldKind class, shrink package API
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17617 docs(fluid-build): README.md update
  README.md
  build-tools/packages/build-tools/README.md
  build-tools/packages/build-tools/src/common/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
Labels: area: build, base: main

#17187 Fix pipeline script error when there are test errors
  scripts/report-parser.js
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/templates/include-log-test-failures.yml
Labels: area: build, base: main

#17533 Added new handler and task to send test pass rate data to Kusto
  scripts/get-test-pass-rate.mjs
  tools/pipelines/test-real-service.yml
  tools/telemetry-generator/src/handlers/testPassRate.ts
Labels: area: build, base: main

#17608 ci: Centralize feed publishing and unify style
  build-tools/packages/build-cli/docs/list.md
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/test/commands/list.test.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  scripts/pack-packages.sh
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#17622 tree2: Rename "Value" Multiplicity and FieldKind
  .changeset/tame-steaks-own.md
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/data-objects/inventory-app/src/view/counter.tsx
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/unboxed.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/partlyTyped.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAwareSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  experimental/framework/tree-react-api/src/test/useTree.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, area: dev experience, area: dds: propertydds, public api change, area: dds: tree, base: main

#17624 [bump] build-tools: 0.24.0 => 0.25.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#17625 ci: Use correct environment for dev feed
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#17565 Don't stringify shared tree schema data during encoding
  experimental/dds/tree2/src/codec/codec.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17626 tree2: Move TreeStatus from editable-tree to editable-tree-2
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
Labels: area: dds, area: dds: tree, base: main

#17637 fix (ci): Specify the release group for root package.json changeset script
  package.json
Labels: base: main

#17605 build (routerlicious): Enable changesets for server release groups
  server/routerlicious/.changeset/README.md
  server/routerlicious/.changeset/config.json
  server/routerlicious/Dockerfile
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#17581 fix (ci): Allow server releases to be published on GitHub
  .github/workflows/push-tag-create-release.yml
Labels: area: build, base: main

#17563 Remove internal usages of request pattern
  .changeset/sixty-things-behave.md
  api-report/container-runtime.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/loader/container-loader/src/loader.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: framework, area: runtime, area: loader, area: tests, public api change, base: main

#17633 chore(merge-tree): remove `MergeTree.incrementalBlockMap`
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/tst.ts
Labels: area: dds, base: next, msftbot: merge-next

#17075 short term functional approach to sampling telemetry with an example of usage in OpPerfTelemetry
  api-report/telemetry-utils.api.md
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/id-compressor/Logger.ts
  experimental/dds/tree/src/id-compressor/index.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
  packages/utils/telemetry-utils/src/utils.ts
Labels: area: runtime, area: dds, public api change, area: dds: tree, base: main

#17588 Update SharedTree2's factory type
  .changeset/thin-foxes-go.md
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/typed-tree/typedTree.ts
Labels: area: dds, area: dds: tree, base: main

#17630 Session timeout logs
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
Labels: area: server, base: main, changeset-required

#17635 [bump] build-tools: 0.25.0 => 0.26.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#17640 Fix create summarizer for RelativeLoader
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#17643 ci: Label server PRs with API changes as changeset-required
  .github/actions-labeler.yml
Labels: area: build, base: main

#17634 build: Add per-feed package lists to aid reviews
  build-tools/feeds/README.md
  build-tools/feeds/internal-build.txt
  build-tools/feeds/internal-dev.txt
  build-tools/feeds/internal-test.txt
  build-tools/feeds/public.txt
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  feeds/README.md
  feeds/internal-build.txt
  feeds/internal-dev.txt
  feeds/internal-test.txt
  feeds/public.txt
  package.json
  server/routerlicious/feeds/README.md
  server/routerlicious/feeds/internal-build.txt
  server/routerlicious/feeds/internal-dev.txt
  server/routerlicious/feeds/internal-test.txt
  server/routerlicious/feeds/public.txt
  server/routerlicious/package.json
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/server-routerlicious.yml
Labels: area: server, area: build, base: main

#17636 add generic fuzz test minimization
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/minification.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/dds/test-dds-utils/src/test/sharedNothing.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/src/performActions.ts
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#17044 Optimize tree status api
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/utilities.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utilities.spec.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17639 Replace map node field keys with strings
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17649 [tree2] Add skipped regression test for attach summary issue
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17641 Update map node iterables to match spec
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17495 refactor: Change some property getters to readonly fields
  .changeset/gold-cats-tell.md
  .changeset/sixty-kings-carry.md
  api-report/local-driver.api.md
  api-report/test-runtime-utils.api.md
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime, area: driver, public api change, base: next

#17652 tree2: Improve FieldSchema
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17606 Clone sdk error and manipulate on that and throw the cloned one, the …
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17656 bump mongodb to 4.17.1 to remove the flood warning logs
  server/routerlicious/packages/services/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17621 Don't ignore mock createBlob errors in blob manager tests
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
Labels: area: runtime, base: main

#17650 deprecate Stack and properties exports
  .changeset/green-wings-relate.md
  api-report/merge-tree.api.md
  examples/data-objects/prosemirror/src/prosemirror.tsx
  packages/dds/merge-tree/src/collections/stack.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: examples, area: dds, area: dds: sharedstring, public api change, base: main

#17561 Add some more details to the compression/chunking README
  packages/runtime/container-runtime/src/opLifecycle/README.md
Labels: area: runtime, base: main

#17243 R11s/node cluster
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/test/types/validateServerRouterliciousPrevious.generated.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-shared/src/webServer.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17642 tree2: Move node key support onto new API
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/internal.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/nodeKeys.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKey.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKeyIndex.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/typed-tree/fence.json
  experimental/dds/tree2/src/typed-tree/typedTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17233 feat(build-common): Add new shared API-Extractor configuration that enables type-trimming
  common/build/build-common/README.md
  common/build/build-common/api-extractor-base.json
  common/build/build-common/api-extractor-common-report.json
  common/build/build-common/api-extractor-common-strict.json
  common/build/build-common/api-extractor-common.json
  common/build/build-common/package.json
Labels: area: build, base: main

#17647 feat(shared-tree): Add content setters to `OptionalField` and `RequiredField`
  api-report/tree2.api.md
  examples/data-objects/inventory-app/src/view/counter.tsx
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  package.json
  pnpm-lock.yaml
Labels: area: examples, area: dds, dependencies, public api change, area: dds: tree, base: main

#17593 tree2: Type check update
  api-report/tree2.api.md
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/typeCheck.ts
  experimental/dds/tree2/src/util/typeCheckTests.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17660 improvement(merge:branches): Add warning not to merge in GitHub UI
  build-tools/packages/build-cli/src/commands/merge/branches.ts
Labels: area: build, base: main

#17665 build: Config changes to accommodate @fluid-private scope
  .changeset/README.md
  .changeset/config.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/test/commands/test-only-filter.test.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  build-tools/syncpack.config.cjs
  fluidBuild.config.cjs
  package.json
  pnpm-lock.yaml
  server/routerlicious/.changeset/README.md
  server/routerlicious/.changeset/config.json
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  syncpack.config.cjs
  tools/changelog-generator-wrapper/README.md
  tools/changelog-generator-wrapper/package.json
Labels: area: server, area: build, dependencies, base: main

#17644 chore(merge-tree): remove Stack, clean up properties exports
  .changeset/wet-bags-pick.md
  api-report/merge-tree.api.md
  packages/dds/matrix/src/test/undoRedoStackManager.ts
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/collections/index.ts
  packages/dds/merge-tree/src/collections/stack.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/ordinal.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/ordinal.spec.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, public api change, base: next

#17646 test(shared-tree): Add `LazyTree` unit tests
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17669 tree2: insertion mutators take iterables
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#14938 Add support for signal messages array
  api-report/driver-base.api.md
  api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  server/routerlicious/packages/local-server/src/localDeltaConnectionServer.ts
Labels: area: server, area: loader, area: driver, area: odsp-driver, public api change, base: main

#17610 test(shared-tree): Add more LazyField unit tests
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17666 tree2: Refine SchemaBuilder API
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/leafDomain.ts
  experimental/dds/tree2/src/domains/nodeKey/nodeKeySchema.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/node-key/nodeKey.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/fieldKindTestUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/empty-root.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  experimental/framework/tree-react-api/src/test/useTree.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, area: dev experience, area: dds: propertydds, public api change, area: dds: tree, base: main

#17677 Create experimental hot-swap dds package
  api-report/migration-shim.api.md
  packages/dds/migration-shim/.eslintrc.js
  packages/dds/migration-shim/.gitignore
  packages/dds/migration-shim/.mocharc.js
  packages/dds/migration-shim/.npmignore
  packages/dds/migration-shim/CHANGELOG.md
  packages/dds/migration-shim/LICENSE
  packages/dds/migration-shim/README.md
  packages/dds/migration-shim/api-extractor.json
  packages/dds/migration-shim/package.json
  packages/dds/migration-shim/prettier.config.cjs
  packages/dds/migration-shim/src/index.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/packageVersion.ts
  packages/dds/migration-shim/src/test/hotSwap.spec.ts
  packages/dds/migration-shim/src/test/tsconfig.json
  packages/dds/migration-shim/tsconfig.esnext.json
  packages/dds/migration-shim/tsconfig.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#17685 Add scopes to Alfred-Historian token
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#17623 Enforce test output
  build-tools/package.json
  build-tools/packages/build-cli/.mocharc.json
  build-tools/packages/build-cli/mocha-multi-reporter-config.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/.mocharc.json
  build-tools/packages/build-tools/mocha-multi-reporter-config.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/.mocharc.json
  build-tools/packages/version-tools/mocha-multi-reporter-config.json
  build-tools/packages/version-tools/package.json
  scripts/report-parser.js
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-azure.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-log-test-failures.yml
  tools/pipelines/templates/include-process-test-results.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/test-tools/.mocharc.js
  tools/test-tools/mocha-multi-reporter-config.json
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: build, base: main

#17165 Deprecate type parameter in interval collection add
  .changeset/all-rules-love.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/intervalCollection.detached.spec.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzUtils.ts
  packages/dds/sequence/src/test/intervalCollection.perf.spec.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#17427 (build-tools): Add command to update types
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#17668 ci: Merge more commits by default in sync branches workflow
  .github/workflows/sync-branch.yml
Labels: area: build, base: main

#17569 refactor(build-cli): Use narrower types for ReleaseGroups
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/releaseGroups.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
Labels: area: build, public api change, base: main

#17686 Migration shim api surface attempt 1
  api-report/migration-shim.api.md
  packages/dds/migration-shim/package.json
  packages/dds/migration-shim/src/index.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/migrationShimFactory.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#17683 tree2: Implicit field schema
  .changeset/heavy-schools-exist.md
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/util/utils.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#17690 Remove node reviver
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/rebase.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEncoder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#17678 Add helper for creating raw shared tree struct nodes
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/rawStruct.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/structFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17698 fix snapshot nested sequence schema
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#17699 tree2: Cleanup creation of field schema
  api-report/tree2.api.md
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/nodeKey/nodeKeySchema.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/framework/tree-react-api/src/test/schema.ts
Labels: area: dds, area: dev experience, public api change, area: dds: tree, base: main

#17540 fix (server): Better error handling in broadcast signal in Alfred
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/alfred/interfaces.ts
  server/routerlicious/packages/lambdas/src/events.ts
  server/routerlicious/packages/lambdas/src/index.ts
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
Labels: area: server, release-blocking, base: main

#17704 Remove Pending State Deprecations
  .changeset/little-mirrors-carry.md
  .changeset/open-women-yawn.md
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  api-report/runtime-utils.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: area: runtime, area: loader, area: tests, public api change, base: next

#17631 feat(tree2): add more snapshot tests
  experimental/dds/tree2/.mocharc.js
  experimental/dds/tree2/package.json
  experimental/dds/tree2/src/core/tree/cursor.ts
  experimental/dds/tree2/src/core/tree/pathTree.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/treeTextCursor.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/README.md
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-0.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-1.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-2.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-3.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/empty-root-final.json
  experimental/dds/tree2/src/test/snapshots/files/empty-root.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-1-final.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change.json
  experimental/dds/tree2/src/test/snapshots/summary.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/snapshots/utils.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/util/brand.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#17707 tree2: Update SchemaBuilder APIs
  api-report/tree2.api.md
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/data-objects/inventory-app/src/view/counter.tsx
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/structFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17684 feat(shared-tree): Allow setting of value fields on struct nodes
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17695 tree: proxy/wrappers for editable tree API
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17720 build(routerlicious): Add additional context to docker compose files
  server/docker-compose.dev.yml
  server/routerlicious/docker-compose.yml
  server/routerlicious/package.json
Labels: area: server, base: main

#17715 tree2: Remove several usages of custom leaf schema
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/fieldKindTestUtils.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17681 Reduce the number of cache reads and writes in OpsCache
  packages/drivers/odsp-driver/src/opsCaching.ts
  packages/drivers/odsp-driver/src/test/opsCaching.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#17691 build: Update dependencies on `@fluidframework/build-common` and update API-Extractor pattern in Azure packages
  .github/CODEOWNERS
  azure/packages/azure-client/api-extractor.json
  azure/packages/azure-client/api-report/azure-client.api.md
  azure/packages/azure-client/src/AzureAudience.ts
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureFunctionTokenProvider.ts
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/azure-local-service/api-extractor.json
  azure/packages/azure-service-utils/api-extractor.json
  azure/packages/azure-service-utils/api-report/azure-service-utils.api.md
  azure/packages/azure-service-utils/src/generateToken.ts
  azure/packages/azure-service-utils/src/index.ts
  package.json
Labels: area: driver, area: build, public api change, area: dds: tree, base: main

#17723 tree2: Make TypedTree late bind its schema
  api-report/tree2.api.md
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/typed-tree/typedTree.ts
  experimental/framework/tree-react-api/src/test/useTree.spec.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#17731 build: Update api-extractor config in stand-alone packages
  common/lib/common-definitions/api-extractor.json
  common/lib/common-utils/api-extractor.json
  common/lib/protocol-definitions/api-extractor.json
  tools/api-markdown-documenter/api-extractor.json
  tools/benchmark/api-extractor.json
  tools/benchmark/api-report/benchmark.api.md
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/runBenchmark.ts
  tools/benchmark/src/timer.ts
Labels: public api change, base: main

#17721 Update comments for the compression and chunking configuration
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#17718 fix(fluid-build): Clean up eslint warnings in `build-tools` package
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-tools/.eslintrc.js
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/context.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/common/versionBag.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/npmDepChecker.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/worker.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/workerPool.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/assertShortCode.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/dockerfilePackages.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/fluidBuildTasks.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/lockfiles.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/build-tools/src/typeValidator/changeToNamedExports.ts
  build-tools/packages/build-tools/src/typeValidator/typeData.ts
  build-tools/packages/build-tools/src/typeValidator/typeDecomposition.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#17730 (fix) server: Update changesets from #17722
  server/routerlicious/.changeset/blue-crews-cry.md
  server/routerlicious/.changeset/ready-colts-bake.md
Labels: base: next

#17738 fix (server): Add @internal tag to new APIs
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/timeoutContext.ts
Labels: area: server, public api change, base: next, changeset-required

#17740 improvement(build-common): Update default untrimmed rollup module name
  common/build/build-common/api-extractor-base.json
  common/build/build-common/package.json
Labels: area: build, base: main

#17736 Add schema-derived types for editable tree 2 proxies
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17743 Bump server patch 2.0.2
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#17746 local checkpoint if global checkpoint fails
  server/routerlicious/packages/services-core/src/checkpointService.ts
Labels: area: server, base: main

#17542 fix (server): Better error handling in broadcast signal in tinylicious
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
  server/tinylicious/src/routes/ordering/index.ts
Labels: area: server, release-blocking, base: main

#16771 build(build-tools): Upgrade eslint config
  build-tools/package.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/handlers/askFunctions.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/handlers/initFailedStateHandler.ts
  build-tools/packages/build-cli/src/handlers/stateHandlers.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-cli/src/lib/branches.ts
  build-tools/packages/build-cli/src/lib/changesets.ts
  build-tools/packages/build-cli/src/lib/dangerfile.ts
  build-tools/packages/build-cli/src/lib/git.ts
  build-tools/packages/build-cli/src/lib/github.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/lib/release.ts
  build-tools/packages/build-cli/src/lib/text.ts
  build-tools/packages/build-cli/src/pnpm.ts
  build-tools/packages/build-cli/src/releaseGroups.ts
  build-tools/packages/build-cli/src/repoConfig.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-cli/tsconfig.json
  build-tools/packages/build-tools/.eslintrc.js
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/tscUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/eslintWorker.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/utilities/unzipStream.ts
  build-tools/packages/bundle-size-tools/tsconfig.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/.eslintrc.js
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/tsconfig.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#17751 Update client deps
  examples/utils/bundle-size-tests/package.json
  package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: area: examples, dependencies, base: main

#17701 Rename test-end-to-end-tests to @fluid-private scope
  PACKAGES.md
  feeds/internal-dev.txt
  feeds/internal-test.txt
  fluidBuild.config.cjs
  packages/test/test-end-to-end-tests/CHANGELOG.md
  packages/test/test-end-to-end-tests/README.md
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/packageVersion.ts
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, area: tests, base: main

#17759 ci: Disable merge bot
  .github/policies/resourceManagement.yml
Labels: base: main

#17755 Cache proxies and enable commented-out test
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17760 Automation: main-next integrate
  server/routerlicious/packages/services-core/src/checkpointService.ts
Labels: base: next

#17769 test(tree): make tests use validateAssertionError
  experimental/dds/tree2/src/test/feature-libraries/objectForest.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17753 Switch to debug trace
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-tools/README.md
  build-tools/packages/build-tools/src/common/context.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/fluidUtils.ts
  build-tools/packages/build-tools/src/common/gitRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/npmDepChecker.ts
  build-tools/packages/build-tools/src/fluidBuild/symlinkUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/layerCheck/layerGraph.ts
Labels: area: build, base: main

#17768 Clarify ICodecOptions comment
  experimental/dds/tree2/src/codec/codec.ts
Labels: area: dds, area: dds: tree, base: main

#17765 tree2: Expose leaf schema on builder
  api-report/tree2.api.md
  experimental/dds/tree2/src/domains/index.ts
  experimental/dds/tree2/src/domains/json/jsonCursor.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/leafDomain.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17756 Tag asserts
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/core/tree/cursor.ts
  experimental/dds/tree2/src/core/tree/detachedFieldIndex.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/domains/nodeKey/nodeKeySchema.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/forestSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/util/utils.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#17772 change some ephemeral document logs to verbose to reduce noise
  server/historian/packages/historian-base/src/routes/utils.ts
  server/routerlicious/packages/services/src/documentManager.ts
Labels: area: server, base: main

#17773 tree2: Remove SchemaBuilder.leaf
  .changeset/olive-parts-move.md
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17747 Add API flag to shared tree proxy types
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17714 Fix/improve blob expiration tests
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
Labels: area: runtime, base: main

#17777 build: Update changesets and add release notes for 2.0.0-internal.7.1.0
  .changeset/all-rules-love.md
  .changeset/green-wings-relate.md
  .changeset/heavy-schools-exist.md
  .changeset/nine-tables-argue.md
  .changeset/savory-bees-race.md
  .changeset/silver-cows-stop.md
  .changeset/sixty-things-behave.md
  .changeset/tame-ghosts-eat.md
  .changeset/tame-steaks-own.md
  .changeset/thin-foxes-go.md
  RELEASE_NOTES/2.0.0-internal.7.1.0.md
Labels: base: main

#17762 tree: Implement 'optional' fields for proxies
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/primitives.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17761 tree: Expose ISharedTreeView.root2 as FieldProxy
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17680 refactor(build-tools): Use readonly where possible
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/buildVersion.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/exec.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/generate/upcoming.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/commands/test-only-filter.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/readme-command/src/commands/generate/readme.ts
  build-tools/packages/version-tools/src/commands/version.ts
  build-tools/packages/version-tools/src/commands/version/latest.ts
Labels: area: build, base: main

#17410 Add log sanitization logic to telemetry service
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-telemetry/src/index.ts
  server/routerlicious/packages/services-telemetry/src/lumber.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/services-telemetry/src/lumberjackCommonTestUtils.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-telemetry/src/sanitizationLumberFormatter.ts
  server/routerlicious/packages/services-telemetry/src/test/lumber.spec.ts
  server/routerlicious/packages/services-telemetry/src/test/sanitizationLumberFormatter.spec.ts
  server/routerlicious/packages/services-utils/src/logger.ts
Labels: area: server, base: main

#17757 refactor(build-tools): Enable unicorn/prefer-node-protocol lint rule
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/lib/package.ts
  build-tools/packages/build-cli/src/machines/fluidReleaseMachine.ts
  build-tools/packages/readme-command/.eslintrc.cjs
Labels: area: build, base: main

#17781 tree2: Add `null` to allowed leaf types
  .changeset/eleven-ghosts-worry.md
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/core/tree/types.ts
  experimental/dds/tree2/src/domains/index.ts
  experimental/dds/tree2/src/domains/json/index.ts
  experimental/dds/tree2/src/domains/json/jsonCursor.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/leafDomain.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTree.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  experimental/dds/tree2/src/feature-libraries/schemaIndexFormat.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/fieldCursorTestUtilities.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/randomChangeGenerator.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-0.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-1.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-2.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-3.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/empty-root-final.json
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-1-final.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
  experimental/dds/tree2/src/test/tree/visit.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17782 fluid-build: Remove unused nohoist option
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
Labels: area: build, base: main

#17645 build: Remove unused eslint-related dependencies
  azure/packages/azure-local-service/package.json
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  examples/data-objects/inventory-app/package.json
  examples/external-data/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/schema-upgrade/package.json
  experimental/framework/tree-react-api/package.json
  packages/common/client-utils/package.json
  pnpm-lock.yaml
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
Labels: area: examples, area: server, area: dev experience, dependencies, base: main

#17771 build: Update API-Extractor configs in client packages under `examples` and `experimental`
  .github/CODEOWNERS
  examples/utils/example-utils/api-extractor.json
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-binder/api-extractor.json
  experimental/PropertyDDS/packages/property-changeset/api-extractor.json
  experimental/PropertyDDS/packages/property-common/api-extractor.json
  experimental/PropertyDDS/packages/property-dds/api-extractor.json
  experimental/PropertyDDS/packages/property-dds/api-report/property-dds.api.md
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-inspector-table/api-extractor.json
  experimental/PropertyDDS/packages/property-properties/api-extractor.json
  experimental/PropertyDDS/packages/property-proxy/api-extractor.json
  experimental/PropertyDDS/packages/property-query/api-extractor.json
  experimental/dds/attributable-map/api-extractor.json
  experimental/dds/attributable-map/api-report/attributable-map.api.md
  experimental/dds/attributable-map/package.json
  experimental/dds/attributable-map/src/interfaces.ts
  experimental/dds/attributable-map/src/localValues.ts
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/ot/ot/api-extractor.json
  experimental/dds/ot/ot/api-report/ot.api.md
  experimental/dds/ot/ot/package.json
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/ot/sharejs/json1/api-extractor.json
  experimental/dds/ot/sharejs/json1/api-report/sharejs-json1.api.md
  experimental/dds/ot/sharejs/json1/package.json
  experimental/dds/ot/sharejs/json1/src/factory.ts
  experimental/dds/ot/sharejs/json1/src/json1.ts
  experimental/dds/sequence-deprecated/api-extractor.json
  experimental/dds/sequence-deprecated/api-report/sequence-deprecated.api.md
  experimental/dds/sequence-deprecated/package.json
  experimental/dds/sequence-deprecated/src/sharedNumberSequence.ts
  experimental/dds/sequence-deprecated/src/sharedObjectSequence.ts
  experimental/dds/tree/api-extractor.json
  experimental/dds/tree/api-report/experimental-tree.api.md
  experimental/dds/tree/package.json
  experimental/dds/tree2/api-extractor.json
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/package.json
  experimental/framework/data-objects/api-extractor.json
  experimental/framework/last-edited/api-extractor.json
  experimental/framework/last-edited/api-report/last-edited.api.md
  experimental/framework/last-edited/package.json
  experimental/framework/last-edited/src/interfaces.ts
  experimental/framework/last-edited/src/lastEditedTracker.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited/src/setup.ts
  experimental/framework/react-inputs/api-extractor.json
  experimental/framework/react-inputs/api-report/react-inputs.api.md
  experimental/framework/react-inputs/package.json
  experimental/framework/react-inputs/src/CollaborativeCheckbox.tsx
  experimental/framework/react-inputs/src/CollaborativeInput.tsx
  experimental/framework/react-inputs/src/CollaborativeTextArea.tsx
  experimental/framework/react-inputs/src/SharedStringHelper.ts
  experimental/framework/tree-react-api/api-extractor.json
  package.json
  tools/pipelines/build-client.yml
Labels: area: examples, area: dds, area: build, area: dev experience, area: dds: propertydds, public api change, area: dds: tree, base: main

#17682 build(build-tools): Upgrade oclif
  .vscode/launch.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/bin/dev
  build-tools/packages/build-cli/bin/dev.js
  build-tools/packages/build-cli/bin/run
  build-tools/packages/build-cli/bin/run.js
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/docs/list.md
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/docs/test-only-filter.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/test-only-filter.ts
  build-tools/packages/readme-command/.eslintrc.cjs
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/bin/dev
  build-tools/packages/readme-command/bin/dev.js
  build-tools/packages/readme-command/bin/run
  build-tools/packages/readme-command/bin/run.js
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/bin/dev
  build-tools/packages/version-tools/bin/dev.js
  build-tools/packages/version-tools/bin/run
  build-tools/packages/version-tools/bin/run.js
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  build-tools/syncpack.config.cjs
Labels: area: build, area: contributor experience, base: main

#17706 Validate Input to rehydrateDetachedContainerFromSnapshot
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/summaryForCreateNew.ts
Labels: area: loader, public api change, base: main

#17779 build(build-tools): Update API-Extractor configs and docs build pattern
  build-tools/api-extractor-base.json
  build-tools/packages/build-cli/api-extractor.json
  build-tools/packages/bundle-size-tools/api-extractor.json
  build-tools/packages/readme-command/api-extractor.json
  build-tools/packages/version-tools/api-extractor.json
  build-tools/packages/version-tools/src/internalVersionScheme.ts
Labels: area: build, base: main

#17788 tree: basic set support for object-proxies
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/proxies.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
Labels: area: dds, area: dds: tree, base: main

#17792 refactor(shared-tree): Rename SchemaBuilder's `toDocumentSchema` method to be an overload of `finalize`
  examples/apps/tree-comparison/src/model/schema.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/structFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, area: dev experience, area: dds: propertydds, public api change, area: dds: tree, base: main

#17795 refactor(protocol-definitions): Move experimental properties to separate type
  .changeset/brave-frogs-deny.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/index.ts
  common/lib/protocol-definitions/src/protocol.ts
Labels: public api change, base: main

#17794 docs(protocol-definitions): Add explicit release tags to API members
  common/lib/protocol-definitions/api-extractor.json
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/config.ts
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/date.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/scopes.ts
  common/lib/protocol-definitions/src/sockets.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/summary.ts
  common/lib/protocol-definitions/src/tokens.ts
  common/lib/protocol-definitions/src/users.ts
Labels: public api change, base: main

#17796 Revert "refactor(shared-tree): Rename SchemaBuilder's `toDocumentSchema` method to be an overload of `finalize`"
  examples/apps/tree-comparison/src/model/schema.ts
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/schema.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/list.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/primitives.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/proxies.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/structFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/unboxed.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.editing.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/example.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/scalableTestTrees.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/typed-tree/typedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/framework/tree-react-api/src/test/schema.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, area: dev experience, area: dds: propertydds, public api change, area: dds: tree, base: main

#17675 feat(fuzz-tests): improve algorithm for minimization
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzzMinimization.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/minification.ts
Labels: area: dds, area: dds: sharedstring, base: main

#17784 [tree2] Add skipped regression test demonstrating issues with successive optional field rebases
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17780 refactor(tree): unify attaches and reattaches representation
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/helperTypes.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/testEdits.ts
Labels: area: dds, area: dds: tree, base: main

#17793 tree2: Add "list" schema building
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17741 Remove AbortSignal casts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/driver-utils/src/runWithRetry.ts
Labels: area: loader, base: main

#17801 Remove closing summarizer on stale events
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
Labels: area: runtime, area: tests, base: main

#17700 Flesh out ShimFactories
  packages/dds/migration-shim/api-report/migration-shim.api.md
  packages/dds/migration-shim/package.json
  packages/dds/migration-shim/src/index.ts
  packages/dds/migration-shim/src/migrationShim.ts
  packages/dds/migration-shim/src/migrationShimFactory.ts
  packages/dds/migration-shim/src/sharedTreeShim.ts
  packages/dds/migration-shim/src/sharedTreeShimFactory.ts
  packages/dds/migration-shim/src/utils.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#17805 refactor(tree): no dubious type guards
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#17814 Quorum logs
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/utils.ts
Labels: area: server, base: main

#17815 docs(protocol-definitions): Update CHANGELOG and remove unneeded changeset doc
  .changeset/brave-frogs-deny.md
  common/lib/protocol-definitions/CHANGELOG.md
Labels: base: main

#17804 tree2: Rename TypedSchemaCollection to DocumentSchema
  experimental/PropertyDDS/packages/property-shared-tree-interop/README.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/proxies/types.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/view.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/object.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/mockData.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/testTrees.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17808 tree2: Fix describe block
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17806 tree2: Renames to avoid Sequence2
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17812 refactor(tree): populate buildId in Delta.Insert
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/tree/delta.ts
  experimental/dds/tree2/src/core/tree/detachedFieldIndex.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldChangeCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
Labels: area: dds, public api change, area: dds: tree, base: main

#17807 feat(check:policy): Verify all packages have a types field in package.json
  azure/packages/azure-local-service/package.json
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  packages/tools/fetch-tool/package.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/tinylicious/package.json
  tools/telemetry-generator/package.json
  tools/test-tools/package.json
Labels: area: server, area: build, base: main

#17809 tree2: Add structurally typed maps
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilderBase.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17800 docs(container-definitions): Add explicit release tags to exported API members
  packages/common/container-definitions/api-extractor.json
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/audience.ts
  packages/common/container-definitions/src/browserPackage.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/fluidModule.ts
  packages/common/container-definitions/src/fluidPackage.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
Labels: public api change, base: main

#17821 docs(sequence): Add explicit release tags to exported API members
  packages/dds/sequence/api-extractor.json
  packages/dds/sequence/src/defaultMapInterfaces.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/idIntervalIndex.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingSequenceIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/sequenceIntervalIndexes.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sharedString.ts
Labels: area: dds, area: dds: sharedstring, base: main
