Repository microsoft/FluidFramework, pull requests merged in 2023-09, with the labels that each got.

#17145 Add policy to enforce mocha scripts and configs
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/readme-command/package.json
  build-tools/pnpm-lock.yaml
  experimental/PropertyDDS/packages/property-changeset/.mocharc.js
  experimental/PropertyDDS/packages/property-dds/.mocharc.js
  experimental/dds/sequence-deprecated/.mocharc.js
  experimental/framework/last-edited/package.json
  experimental/framework/last-edited/tsconfig.json
  fluidBuild.config.cjs
  packages/drivers/debugger/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/tinylicious-driver/.mocharc.js
  packages/framework/agent-scheduler/package.json
  packages/framework/agent-scheduler/src/test/tsconfig.json
  packages/framework/data-object-base/package.json
  packages/framework/data-object-base/src/test/tsconfig.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/request-handler/package.json
  packages/framework/undo-redo/package.json
  packages/test/mocha-test-setup/package.json
  packages/test/snapshots/.mocharc.js
  packages/test/snapshots/package.json
  packages/test/test-app-insights-logger/package.json
  packages/test/test-app-insights-logger/tsconfig.json
  packages/test/test-driver-definitions/package.json
  packages/test/test-driver-definitions/src/test/tsconfig.json
  packages/test/test-drivers/package.json
  packages/test/test-pairwise-generator/package.json
  packages/test/test-utils/.mocharc.js
  packages/test/test-utils/package.json
  packages/test/test-version-utils/.mocharc.cjs
  pnpm-lock.yaml
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/tsconfig.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/tsconfig.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/tsconfig.json
  server/routerlicious/pnpm-lock.yaml
  tools/changelog-generator-wrapper/package.json
Labels: area: framework, area: server, area: driver, area: build, area: dev experience, dependencies, area: tests, base: main

#17127 chore(sequence): deprecate compareStarts and compareEnds on IIntervalHelpers
  .changeset/poor-friends-search.md
  api-report/sequence.api.md
  packages/dds/sequence/src/intervals/intervalUtils.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#17129 LoaderContainerTracker: Move patching container's clone function before any filtering
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: tests, base: main

#17136 Scribe uncaught exceptions
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
Labels: area: server, base: main

#17078 refactor(driver-definitions): Add new error type enumeration that extends common errors from core-interfaces
  .changeset/witty-files-decide.md
  api-report/driver-definitions.api.md
  api-report/driver-utils.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/common/driver-definitions/src/index.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/src/error.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/loader/location-redirection-utils/src/resolveWithLocationRedirection.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#16824 build: Build API docs for additional packages
  api-report/agent-scheduler.api.md
  api-report/odsp-doclib-utils.api.md
  api-report/tinylicious-driver.api.md
  packages/drivers/tinylicious-driver/api-extractor.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/api-extractor.json
  packages/framework/agent-scheduler/package.json
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/utils/odsp-doclib-utils/api-extractor.json
  packages/utils/odsp-doclib-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: driver, dependencies, area: odsp-driver, public api change, base: main

#16911 Remove bindToContext API
  .changeset/full-houses-laugh.md
  .changeset/fuzzy-laws-allow.md
  api-report/container-runtime-definitions.api.md
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  api-report/test-runtime-utils.api.md
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/index.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/bindToContextTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoreRetrieval.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: next, msftbot: merge-next

#17106 Simplfied SummarizerNode:refreshLatestSummary logic
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/index.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNode.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNodeWithGc.spec.ts
Labels: area: runtime, base: main

#17154 typeTests: Fix handling of const enums
  build-tools/packages/build-tools/src/type-test-generator/compatibility.ts
  build-tools/packages/build-tools/src/type-test-generator/main.ts
Labels: area: build, base: main

#16465 Wait for pending ops to be saved before summarization
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
Labels: area: runtime, area: tests, base: main

#17159 Make summarizer feature flag names consistent
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, base: main

#17148 Add minLogLevel calculation logic to MultiSinkLogger
  api-report/core-interfaces.api.md
  api-report/telemetry-utils.api.md
  packages/common/core-interfaces/src/logger.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/childLogger.spec.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
  packages/utils/telemetry-utils/src/test/multiSinkLogger.spec.ts
Labels: area: tests, public api change, base: main

#17162 Make getAliasedDataStoreEntryPoint required
  .changeset/ripe-results-check.md
  api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: runtime, area: tests, public api change, base: next, msftbot: merge-next

#17161 Add policy for test scripts to split property for the client pipeline
  azure/packages/azure-client/package.json
  azure/packages/test/scenario-runner/package.json
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  experimental/dds/tree/package.json
  fluidBuild.config.cjs
  packages/common/client-utils/package.json
  packages/drivers/driver-web-cache/package.json
  packages/framework/tinylicious-client/package.json
Labels: area: framework, area: driver, area: dds, area: build, area: dds: tree, base: main

#16926 fix(tree): Undo after undo and rebase
  experimental/dds/tree2/src/core/undo/undoRedoManager.ts
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17177 build: fix up `package.json` module fields
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/tsconfig.esnext.json
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
  build-tools/packages/bundle-size-tools/package.json
  examples/apps/collaborative-textarea/jest.config.js
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/benchmarks/odspsnapshotfetch-perftestapp/tsconfig.json
  experimental/PropertyDDS/examples/schemas/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/test/local-server-tests/package.json
  packages/test/stochastic-test-utils/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/tsconfig.esnext.json
Labels: area: examples, area: framework, area: driver, area: build, area: tests, area: dds: propertydds, base: main

#17183 Switch from using Const Enum to Objects for loglevels in telemetry loggers
  api-report/core-interfaces.api.md
  api-report/telemetry-utils.api.md
  packages/common/core-interfaces/src/logger.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
Labels: public api change, base: main

#17184 fix: Wait for asynchronous code to fix flaky tests
  common/lib/common-utils/src/test/jest/gitHash.spec.ts
  packages/common/client-utils/src/test/jest/gitHash.spec.ts
Labels: base: main

#17149 Deprecate old logger types
  .changeset/shiny-ties-care.md
  api-report/core-interfaces.api.md
  api-report/telemetry-utils.api.md
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/index.ts
  packages/common/core-interfaces/src/logger.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
Labels: public api change, base: main

#17182 Upload test results in multiple step to work around the force merge limit
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#17163 Refactor forest's applyDelta to return a visitor
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/forest/editableForest.ts
  experimental/dds/tree2/src/core/forest/forest.ts
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/tree/anchorSet.ts
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeContext.ts
  experimental/dds/tree2/src/feature-libraries/forestRepairDataStore.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTreeContext.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/forestRepairDataStore.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/tree/anchorSet.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17169 fix(driver-definitions): Add missing flag to `DriverErrorTypes`.
  api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
Labels: public api change, base: next, msftbot: merge-next

#17188 test: Increase timeout for SharedMatrix stress tests in response to flaky tests
  packages/dds/matrix/src/test/matrix.stress.spec.ts
Labels: area: dds, base: main

#17194 Add mint functionality to MemoizedRangeIdAllocator
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/memoizedIdRangeAllocator.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/test/feature-libraries/memoizedIdRangeAllocator.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17171 GC Docs: How to enable Tombstone/Sweep and other advanced configuration
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcEarlyAdoption.md
Labels: area: runtime, base: main

#17110 Require Node version at least 18.17.1 LTS for development
  azure/packages/azure-local-service/package.json
  package.json
Labels: base: main

#17153 Remove augment on ContainerRuntime.loadRuntime
  api-report/container-runtime.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/data-object-base/src/runtimeFactory.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: framework, area: runtime, public api change, base: main

#17207 docs: Fix `@example` comments to adhere to TSDoc spec
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  examples/apps/presence-tracker/src/FocusTracker.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinder.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-common/src/constants.ts
  experimental/PropertyDDS/packages/property-properties/src/properties/abstractStaticCollectionProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/mapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/referenceMapProperty.js
  experimental/PropertyDDS/packages/property-properties/src/properties/valueMapProperty.js
  experimental/PropertyDDS/packages/property-proxy/src/propertyProxy.ts
  experimental/PropertyDDS/services/property-query-service/src/materialized_history_service/storage_backends/dynamodb_store/promise_utils.js
  experimental/PropertyDDS/services/property-query-service/src/materialized_history_service/storage_backends/dynamodb_store/retry_task.js
  experimental/PropertyDDS/services/property-query-service/src/server/utils/base_server.js
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/tree/src/ChangeTypes.ts
  experimental/dds/tree/src/Common.ts
  experimental/dds/tree/src/id-compressor/persisted-types/0.0.1.ts
  experimental/dds/tree/src/persisted-types/0.1.1.ts
  experimental/dds/tree2/src/core/rebase/utils.ts
  experimental/dds/tree2/src/events/events.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/util/typeCheck.ts
  experimental/dds/tree2/src/util/utils.ts
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/provider.ts
  packages/dds/cell/src/interfaces.ts
  packages/dds/counter/src/counter.ts
  packages/dds/map/src/directory.ts
  packages/dds/merge-tree/docs/Obliterate.md
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/drivers/odsp-driver/src/createNewContainerOnExistingFile.ts
  packages/framework/synthesize/src/types.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/test/stochastic-test-utils/src/generators.ts
  packages/test/test-utils/src/testFluidObject.ts
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/replay-tool/src/helpers.ts
  packages/utils/odsp-doclib-utils/src/parseAuthErrorTenant.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/benchmark/src/Configuration.ts
Labels: area: examples, area: framework, area: runtime, area: driver, area: dds, area: build, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, area: dds: tree, base: main

#17203 Add source-map-support for mocha test by default
  examples/data-objects/webflow/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  experimental/dds/tree2/.mocharc.js
  experimental/dds/tree2/package.json
  experimental/framework/tree-react-api/.mocharc.js
  experimental/framework/tree-react-api/package.json
  packages/common/core-utils/.mocharc.js
  packages/common/core-utils/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/test/mocha-test-setup/mocharc-common.js
  packages/test/mocha-test-setup/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
  packages/test/test-service-load/.mocharc.js
  pnpm-lock.yaml
Labels: area: examples, area: dds, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: dds: tree, base: main

#17039 tree2: make SharedTree not implement SharedTreeView
  api-report/tree2.api.md
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/opSize.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.bench.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/framework/tree-react-api/src/test/useTree.spec.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
Labels: area: examples, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#17214 [release/v2int/6.3 > main]: Add ability to release @fluid-internal/client-utils package (#17208)
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#17206 Throw more accurate errors from merge-tree
  api-report/telemetry-utils.api.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/utils/telemetry-utils/src/error.ts
Labels: area: dds, public api change, base: main

#17202 Improve call stack on ObtainSnapshot_cancel
  api-report/telemetry-utils.api.md
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/index.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#17036 adds unregister from webhook endpoint to external data service
  examples/external-data/src/mock-external-data-service/service.ts
  examples/external-data/tests/customerService.test.ts
  examples/external-data/tests/externalDataService.test.ts
Labels: area: examples, base: main

#17167 Revert timeout for t9s e2e tests back to 5sec
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#17224 [next] Remove some deprecated ContainerRuntime bits
  .changeset/few-suits-join.md
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: next

#17234 [next] Fix typeTest build break
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, base: next, msftbot: merge-next

#17180 Fix data store context's packageName not always logged
  api-report/telemetry-utils.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
Labels: area: runtime, public api change, base: main

#17179 refactor: Deprecate driver-specific error enums and replace with object-based enumerations
  api-report/odsp-driver-definitions.api.md
  api-report/routerlicious-driver.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#16451 Add signal broadcast to server-lambdas
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/lambdas/src/alfred/interfaces.ts
  server/routerlicious/packages/lambdas/src/index.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/lambdas/src/utils/messageGenerator.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17220 GC: Update Sweep config options to default enabled
  api-report/test-utils.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcEarlyAdoption.md
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: runtime, area: tests, public api change, base: main

#17089 tree2: Add editable-tree-2
  .changeset/tiny-ducks-invent.md
  api-report/tree2.api.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/dds/tree2/.vscode/settings.json
  experimental/dds/tree2/docs/main/schema2.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/README.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/fence.json
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/internal.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/navigation.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/buildViewSchemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/navigation.spec.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/util/utils.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#17246 Temporarily enable debug logs for all runs of stress tests
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, base: main

#17241 refactor(container-definitions): Promote eslint config from "minimal" to "recommended" and fix violations
  api-report/container-definitions.api.md
  packages/common/container-definitions/.eslintrc.js
  packages/common/container-definitions/src/browserPackage.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/fluidPackage.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
Labels: public api change, base: main

#17248 refactor(tree): move IdAllocator to utils
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/crossFieldQueries.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markQueue.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/util/idAllocator.ts
  experimental/dds/tree2/src/util/index.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17232 Fixed Presence Tracker Example
  examples/apps/presence-tracker/package.json
  examples/apps/presence-tracker/src/view.ts
  examples/apps/presence-tracker/webpack.config.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#17217 feat(api-markdown-documenter): Correctly handle `@example` comment titles
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/api-markdown-documenter/src/api-item-transforms/DocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/test/RenderCustomNodeType.test.ts
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: public api change, base: main

#17255 [release/v2int/4.3] Ignore chunked ops when accounting for container progress (#15744)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: release

#17253 refactor(core-interfaces): Promote eslint config from "minimal" to "recommended"
  api-report/core-interfaces.api.md
  packages/common/core-interfaces/.eslintrc.js
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/common/core-interfaces/src/fluidPackage.ts
  packages/common/core-interfaces/src/fluidRouter.ts
  packages/common/core-interfaces/src/logger.ts
  packages/common/core-interfaces/src/test/types/fluidObjectTypes.ts
Labels: public api change, base: main

#17262 tools: restore common/lib to search
  .vscode/settings.json
Labels: area: contributor experience, base: main

#17258 refactor(api-markdown-documenter): Add explicit release tags, fill in some comments, and make some API members non-exported
  tools/api-markdown-documenter/api-extractor.json
  tools/api-markdown-documenter/src/ConfigurationBase.ts
  tools/api-markdown-documenter/src/Heading.ts
  tools/api-markdown-documenter/src/Link.ts
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/Logging.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/DocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/TransformationOptions.ts
  tools/api-markdown-documenter/src/documentation-domain/AlertNode.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockQuoteNode.ts
  tools/api-markdown-documenter/src/documentation-domain/CodeSpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNodeType.ts
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/documentation-domain/OrderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SectionNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableCellNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableRowNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TextFormatting.ts
  tools/api-markdown-documenter/src/documentation-domain/UnorderedListNode.ts
  tools/api-markdown-documenter/src/markdown-renderer/DocumentWriter.ts
  tools/api-markdown-documenter/src/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/markdown-renderer/RenderContext.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/Configuration.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/RenderOptions.ts
Labels: base: main

#17066 Modify DocumentManager to cache static document properties
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/documentManager.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services/src/documentManager.ts
Labels: area: server, base: main

#16892 SharedTree:DataBinder:MatchPolicy - improved use-case impedance match
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableTreeBinder.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.binder.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17268 Attributable Map Example Fix
  examples/apps/attributable-map/webpack.config.js
Labels: area: examples, base: main

#17222 Minor Test Updates
  experimental/dds/ot/ot/src/test/ot.stress.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/matrix/src/test/matrix.stress.spec.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17263 refactor(tree): move tree status utils
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/tree/index.ts
  experimental/dds/tree2/src/core/tree/pathTree.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/utilities.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/utilities.spec.ts
  experimental/dds/tree2/src/test/tree/pathTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17275 tree2: Expose new tree API
  api-report/tree2.api.md
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTreeView.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17267 refactor: type assert IGroupedBatchMessageContents
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
Labels: area: runtime, base: main

#17274 refactor: Increase timeout for r11s e2e tests
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#17204 chore(sequence docs): rebuild sequence docs and update line numbers
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, base: next, msftbot: merge-next

#17270 refactor(client-utils): Promote eslint config from "minimal" to "recommended" and fix violations
  api-report/client-utils.api.md
  packages/common/client-utils/.eslintrc.js
  packages/common/client-utils/src/bufferBrowser.ts
  packages/common/client-utils/src/bufferNode.ts
  packages/common/client-utils/src/eventForwarder.ts
  packages/common/client-utils/src/hashFileBrowser.ts
  packages/common/client-utils/src/hashFileNode.ts
  packages/common/client-utils/src/test/jest/buffer.spec.ts
  packages/common/client-utils/src/test/jest/gitHash.spec.ts
  packages/common/client-utils/src/test/mocha/eventForwarder.spec.ts
  packages/common/client-utils/src/test/mocha/typedEventEmitter.spec.ts
  packages/common/client-utils/src/typedEventEmitter.ts
Labels: public api change, base: main

#17284 refactor: Skip errors in flaky tests
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#17265 refactor(api-markdown-documenter): Simplify API entrypoints
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/markdown-renderer/RenderContext.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/Configuration.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/RenderOptions.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/test/RenderCustomNodeType.test.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
Labels: public api change, base: main

#17290 refactor(tree): reduce duplication of path declaration in tests
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17291 refactor(api-markdown-documenter): Rename the `createChildContentSections` configuration option to `createDefaultLayout`
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/TransformationOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateDefaultLayout.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiFunctionLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiItemWithoutChildren.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/index.ts
Labels: public api change, base: main

#17293 test(tree): add tests cases that leverage repair data for composed edits
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17288 tree2: Rename tree API types
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/context.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/index.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyEntity.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/navigation.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17276 Fix pipeline to publish @fluid-internal/client-utils package to ado build feed.
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#17280 Some trivial logical changes to op virtualization/processing
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#17298 Revert "Fix pipeline to publish @fluid-internal/client-utils package to ado build feed. (#17276)
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#17300 test(tree): more undo/redo tests
  experimental/dds/tree2/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17292 remove(api-markdown-documenter): AlertNode
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateDefaultLayout.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/documentation-domain/AlertNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNodeType.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/configuration/RenderOptions.ts
  tools/api-markdown-documenter/src/markdown-renderer/default-renderers/RenderAlert.ts
  tools/api-markdown-documenter/src/markdown-renderer/default-renderers/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/test/RenderAlert.test.ts
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testconst-variable.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testconstwithemptydeprecatedblock-variable.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testfunction-function.md
  tools/api-markdown-documenter/src/test/snapshots/simple-suite-test/sparse-config/simple-suite-test/testfunctionreturningintersectiontype-function.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: public api change, base: main

#17238 Optionally require the fluid signature when decoding the fluid locator value
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#17296 Parse Handle When Applying Stashed Ops
  packages/dds/matrix/src/matrix.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, base: main

#17285 Make container runtime message types stricter
  api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#17319 feat: Allow configuring the server lambdas from the t9s config file
  server/tinylicious/config.json
  server/tinylicious/src/resourcesFactory.ts
Labels: area: server, base: main

#17316 refactor(api-markdown-documenter): Don't include file extension in paths in Documentation Domain
  .changeset/eight-shrimps-fail.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
Labels: public api change, base: main

#17314 test(api-markdown-documenter): Update test infra to refer to test assets in the src directory
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
Labels: base: main

#17322 docs: remove rogue comment
  api-report/odsp-driver-definitions.api.md
Labels: public api change, base: main

#17315 Bump up fluidframework Packages for Historian
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#17324 Revert "docs: remove rogue comment (#17322)"
  api-report/odsp-driver-definitions.api.md
Labels: public api change, base: main

#17306 tree2: Replace ValueSchema.Serializable with FluidHandle
  .changeset/breezy-candies-joke.md
  api-report/tree2.api.md
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/core/tree/types.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkCodecUtilities.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/uncompressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree/editableField.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAwareUtil.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/cursorTestSuite.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/chunkDecoding.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/contextuallyTyped.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree/editableTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/comparison.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTreeView.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3.json
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
  experimental/dds/tree2/src/test/testTrees.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17318 docs: Improve docs for ITestDriver
  packages/test/test-driver-definitions/src/interfaces.ts
Labels: area: tests, base: main

#17317 fix: Prevent ECONNRESET/socket-hang-up in t9s stress tests
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/factory.ts
  pnpm-lock.yaml
  server/tinylicious/src/index.ts
Labels: area: server, dependencies, area: tests, base: main

#17313 build(api-markdown-documenter): Add good-fences to package build
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/api-markdown-documenter/src/api-item-transforms/fence.json
  tools/api-markdown-documenter/src/documentation-domain/fence.json
  tools/api-markdown-documenter/src/fence.json
  tools/api-markdown-documenter/src/markdown-renderer/fence.json
  tools/api-markdown-documenter/src/test/fence.json
  tools/api-markdown-documenter/src/utilities/fence.json
Labels: base: main

#17330 build: repair pnpm lock file
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17335 docs(tree): update v1-undo design doc
  experimental/dds/tree2/docs/main/v1-undo.md
Labels: area: dds, area: dds: tree, base: main

#17326 Fix azure e2e test failure due to starting in 'read' mode
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
Labels: base: next

#17338 Add connection checks in azure e2e tests
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  azure/packages/test/end-to-end-tests/src/test/ddsTests.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#17334 feat: Allow easy customization of images for local docker r11s env
  server/README.md
  server/docker-compose.yml
Labels: area: server, base: main

#17333 docs: Improve documentation related to driver endpoint names
  packages/test/test-drivers/README.md
  packages/test/test-end-to-end-tests/README.md
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#17030 r11s: telemetry context
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-telemetry/README.md
  server/routerlicious/packages/services-telemetry/src/index.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/services-telemetry/src/telemetryContext.ts
  server/routerlicious/packages/services-telemetry/src/test/lumberjack.spec.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/asyncContext.ts
  server/routerlicious/packages/services-utils/src/asyncLocalStorage.ts
  server/routerlicious/packages/services-utils/src/globalContext.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/logger.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
  server/routerlicious/packages/services-utils/src/test/asyncContext.spec.ts
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#17278 Capitalize "S" in TypeScript
  examples/data-objects/monaco/src/view.tsx
  experimental/dds/tree2/docs/main/stored-and-view-schema-options.md
  experimental/dds/tree2/docs/main/stored-and-view-schema.md
  experimental/dds/tree2/src/codec/codec.ts
  experimental/dds/tree2/src/util/typeCheck.ts
  packages/common/core-interfaces/src/index.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#17307 Expose partialSynchronization in fuzz harness
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
Labels: area: dds, base: main

#17266 Represent changes to transient and previously removed nodes in OptionalField
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/defaultFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/default-field-kinds/optionalField.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/optionalField.spec.ts
  experimental/dds/tree2/src/util/nestedMap.ts
Labels: area: dds, area: dds: tree, base: main

#17348 tree2: Remove cyclic imports of schemaBuilder.ts
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/typed-schema/buildViewSchemaCollection.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/internal.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/view.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17351 tree2: Move SchemaBuilder out of typed-schema
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
Labels: area: dds, area: dds: tree, base: main

#17191 Events listener customer service endpoint
  examples/external-data/src/mock-customer-service/service.ts
  examples/external-data/src/mock-customer-service/start.ts
  examples/external-data/src/mock-external-data-service/service.ts
  examples/external-data/src/utilities/clientManager.ts
  examples/external-data/tests/customerService.test.ts
Labels: area: examples, base: main

#17354 docs(tree): update V1 undo design doc
  experimental/dds/tree2/docs/main/v1-undo.md
Labels: area: dds, area: dds: tree, base: main

#17349 tree: Prevent edits to removed trees
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/lazyTree.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/utils.ts
Labels: area: dds, area: dds: tree, base: main

#17355 server: add connectionTimeoutMs to all HTTP services
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian/config.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
Labels: area: server, base: main

#17230 Only stash blobs when closing
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: runtime, area: tests, base: main

#17356 tree2: Dedup SchemaBuilder Docs
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/schemaBuilder.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typedTreeSchema.ts
Labels: area: dds, area: dds: tree, base: main

#17327 feat(eslint-config-fluid): Re-enable `unicorn/prefer-node-protocol` rule now that the repo has been updated beyond Node.js v16
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#17147 Bump server deps on common-utils and protocol-defs to 3.0.0
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#17365 Further remove heartbeat success/failure event
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#17360 Publish test logs when running azure e2e tests against tinylicious
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-azure-frs.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#17256 tools: Remove outdated md-magic templates directory and update CODEOWNERS
  .github/CODEOWNERS
  .md-magic-templates/Contribution-Guidelines-Template.md
  .md-magic-templates/Help-Template.md
  .md-magic-templates/README.md
  .md-magic-templates/Trademark-Template.md
Labels: area: build, base: main

#17364 Use tinylicious for azure e2e tests instead of azure-local-service
  azure/packages/test/end-to-end-tests/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#17376 improvement(eslint-config-fluid): Update test file pattern to better apply to our packages
  common/build/eslint-config-fluid/minimal.js
Labels: area: build, base: main

#17378 improvement(eslint-config-fluid): Disable consistent scoping rule in tests
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#17368 tools(api-markdown-documenter): Enable `unicorn/prevent-abbreviations` eslint rule and fix violations
  .changeset/slow-vans-help.md
  tools/api-markdown-documenter/.eslintrc.js
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/Logging.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/markdown-renderer/default-renderers/RenderTableRow.ts
  tools/api-markdown-documenter/src/test/MarkdownDocumenter.test.ts
Labels: public api change, base: main

#16928 build(eslint-config-fluid): Upgrade eslint and dependencies
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/strict.js
Labels: area: build, base: main

#17366 [bump] server: 2.0.0 => 3.0.0 (major)
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: main

#17373 tree2: Better comments about JS traversal specific APIs
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17377 tree2: Add principals of new tree API to readme
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/README.md
Labels: area: dds, area: dds: tree, base: main

#17342 Mock class for socket and add unit tests for delta connection in the driver
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/socketModule.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#17379 change t9s script to tinylicious and remove redundant command
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#17375 offline: fix stashed ops with no saved ops bug
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#17390 tree2: Use objects instead of namespaces
  experimental/dds/tree2/src/test/domains/json/canada.ts
  experimental/dds/tree2/src/test/domains/json/citm.ts
  experimental/dds/tree2/src/test/domains/json/twitter.ts
Labels: area: dds, area: dds: tree, base: main

#17346 Revert "Temporarily enable debug logs for all runs of stress tests (#17246)"
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, base: main

#17367 Enable document backup for isEphemeral flag in historian
  server/docker-compose.dev.yml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/historian/packages/historian/config.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#17310 Update diagram of op lifecycle
  packages/runtime/container-runtime/src/opLifecycle/README.md
Labels: area: runtime, base: main

#17125 chore(sequence): remove endpoint comparison helpers
  .changeset/two-women-know.md
  api-report/sequence.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next, msftbot: merge-next

#16953 Support interval collection operations on detached data stores
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.detached.spec.ts
  packages/dds/sequence/src/test/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/overlappingSequenceIntervalsIndex.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#17397 Replace MapNode `get()` with `getBoxed()` and implement unboxed `get()`
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17400 fix(shared-tree): Incorrect comparison in `LazyField.is`
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyField.ts
Labels: area: dds, area: dds: tree, base: main

#17372 refactor(core-utils): Upgrade to "recommended" eslint config and fix violations
  api-report/core-utils.api.md
  packages/common/core-utils/.eslintrc.js
  packages/common/core-utils/src/compare.ts
  packages/common/core-utils/src/heap.ts
  packages/common/core-utils/src/lazy.ts
  packages/common/core-utils/src/promiseCache.ts
  packages/common/core-utils/src/promises.ts
  packages/common/core-utils/src/test/assert.spec.ts
  packages/common/core-utils/src/test/compareArrays.spec.ts
  packages/common/core-utils/src/test/promiseCache.spec.ts
  packages/common/core-utils/src/test/timer.spec.ts
  packages/common/core-utils/src/test/types/compareArrays.type.ts
  packages/common/core-utils/src/timer.ts
Labels: public api change, base: main

#17363 refactor: Pre-apply fixes for violations to upcoming eslint config updates
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  examples/external-data/.eslintrc.js
  examples/external-data/src/mock-customer-service/service.ts
  examples/external-data/src/mock-external-data-service/service.ts
  examples/external-data/tests/customerService.test.ts
  examples/external-data/tests/externalDataService.test.ts
  examples/external-data/tests/utilities.ts
  packages/common/client-utils/src/eventForwarder.ts
  packages/common/client-utils/src/performanceNode.ts
  packages/common/client-utils/src/test/jest/gitHash.spec.ts
  packages/common/client-utils/src/test/mocha/eventForwarder.spec.ts
  packages/common/client-utils/src/test/mocha/typedEventEmitter.spec.ts
  packages/common/client-utils/src/typedEventEmitter.ts
  packages/common/client-utils/tsconfig.json
  packages/common/container-definitions/src/audience.ts
  packages/dds/cell/src/test/cell.spec.ts
  packages/dds/counter/src/test/counter.spec.ts
  packages/dds/pact-map/.eslintrc.js
  packages/dds/pact-map/src/pactMap.ts
  packages/dds/pact-map/src/test/pactMap.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/gcTestRunner.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/drivers/odsp-urlResolver/src/test/spoUrlResolver.spec.ts
  packages/drivers/tinylicious-driver/src/test/insecureTinyliciousUrlResolverTest.spec.ts
  packages/tools/devtools/devtools-core/src/test/Utilities.ts
  packages/tools/devtools/devtools-view/src/screenshot-tests/Screenshot.test.ts
  packages/utils/telemetry-utils/src/events.ts
  packages/utils/telemetry-utils/src/test/EventEmitterWithErrorHandling.spec.ts
  packages/utils/telemetry-utils/src/test/childLogger.spec.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
  packages/utils/telemetry-utils/src/test/error.spec.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  packages/utils/telemetry-utils/src/test/errorTypeLoggingTest.spec.ts
  packages/utils/telemetry-utils/src/test/mockLogger.spec.ts
  packages/utils/telemetry-utils/src/test/multiSinkLogger.spec.ts
  packages/utils/telemetry-utils/src/test/performanceEvent.spec.ts
  packages/utils/telemetry-utils/src/test/sampledTelemetryHelper.spec.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
  packages/utils/telemetry-utils/src/test/thresholdCounter.spec.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
Labels: area: examples, area: driver, area: dds, area: odsp-driver, base: main

#17399 Add `has()` to MapNode
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17403 Add more methods to MapNode
  api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/lazyTree.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#17404 Unregister events on connection close in odsp delta connection
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#17387 build(eslint-config-fluid): Remove settings for removed rules
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/strict.js
Labels: area: build, base: main

#17371 Bump default GC version in code to 3
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, base: main

#17412 build(eslint-config-fluid): Update settings
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/strict.js
Labels: area: build, base: main

#17393 fix(build-cli): Fetch only from upstream remote
  build-tools/packages/build-cli/src/lib/git.ts
Labels: area: build, base: main

#17415 refactor(type-tests): Use "import type" in type tests
  build-tools/packages/build-tools/src/type-test-generator/main.ts
Labels: area: build, base: main

#17386 Un-deprecate IFluidDataStoreChannel.request
  api-report/datastore.api.md
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, public api change, base: main

#17388 Deprecate request handlers
  .changeset/early-cobras-juggle.md
  api-report/aqueduct.api.md
  api-report/request-handler.api.md
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  examples/data-objects/codemirror/src/codeMirror.ts
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/multiview/container/src/container.tsx
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/prosemirror/src/prosemirror.tsx
  examples/data-objects/smde/src/index.ts
  examples/data-objects/smde/src/smde.ts
  examples/data-objects/todo/src/index.ts
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  examples/utils/example-utils/src/modelLoader/modelContainerRuntimeFactory.ts
  examples/utils/example-utils/src/modelLoader/modelLoader.ts
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/request-handlers/requestHandlers.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
  packages/framework/data-object-base/src/runtimeFactory.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/request-handler/src/runtimeRequestHandlerBuilder.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: examples, area: framework, area: runtime, area: tests, public api change, release-blocking, base: next, msftbot: merge-next

#17408 docs(tree2): Typos & such
  experimental/dds/tree2/src/feature-libraries/editable-tree-2/editableTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/untypedTree.ts
  experimental/dds/tree2/src/util/brand.ts
  experimental/dds/tree2/src/util/typeCheck.ts
Labels: area: dds, area: dds: tree, base: main

#17418 [V2int/6.3] Port #17371 - Bump default GC version in code to 3
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, public api change, area: dds: tree, base: main

#17192 [Data Migration] Initial stub-out for SameContainerMigrator
  examples/utils/example-utils/src/migrator/sameContainerMigrator.ts
Labels: area: examples, base: next

#17370 build(tinylicious): Update deps on server packages to latest (2.0.0)
  server/tinylicious/.eslintrc.js
  server/tinylicious/package.json
  server/tinylicious/pnpm-lock.yaml
  server/tinylicious/src/routes/ordering/documents.ts
  server/tinylicious/src/routes/storage/git/blobs.ts
  server/tinylicious/src/runner.ts
Labels: area: server, release-blocking, base: main

#17421 Always log GarbageCollectorLoaded event
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
Labels: area: runtime, base: main

#17350 Some upcoming notices about logging types
  .changeset/fancy-dancers-draw.md
  api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/error.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: public api change, release-blocking, base: main

#17419 server: upgrade axios to 1.x
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/externalStorageManager.ts
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/pnpm-lock.yaml
  server/routerlicious/api-report/server-services-client.api.md
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/test/basicRestwrapper.spec.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, public api change, base: main

#17422 tree2: Better organize type tests and add recursive schema builder type tests
  experimental/dds/tree2/src/test/feature-libraries/editable-tree-2/editableTreeTypes.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schemaBuilder.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#17257 Avoid using client directly when constructing interval index
  api-report/sequence.api.md
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/index.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingSequenceIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/sequenceIntervalIndexes.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/endpointInRangeIndex.spec.ts
  packages/dds/sequence/src/test/overlappingSequenceIntervalsIndex.spec.ts
  packages/dds/sequence/src/test/startpointInRangeIndex.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#17416 TS5: Fix 'type-test-generator' to unblock bumping 'build-tools'
  build-tools/packages/build-tools/src/type-test-generator/compatibility.ts
Labels: area: build, release-blocking, base: main

#17430 fix(api-markdown-documenter): Don't render HTML multiline in Markdown tables
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/renderers/html-renderer/RenderContext.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Utilities.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/configuration/RenderOptions.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderBlockQuote.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderCodeSpan.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderFencedCodeBlock.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderHeading.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderHorizontalRule.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderLineBreak.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderLink.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderOrderedList.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderParagraph.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderSection.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderSpan.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderTable.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderTableCell.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderTableRow.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/default-renderers/RenderUnorderedList.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/Utilities.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderHeading.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderBlockQuote.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderFencedCodeBlock.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderHierarchicalSection.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderHorizontalRule.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderLineBreak.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderOrderedList.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderParagraph.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderSpan.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderTable.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderTableCell.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderUnorderedList.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testclass-_constructor_-constructor.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testconst-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testfunction-function.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testclass-_constructor_-constructor.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: public api change, base: main
