Repository microsoft/FluidFramework, pull requests merged in 2023-12, with the labels that each got.

#18550 (odsp-client): Setup e2e test cases
  layerInfo.json
  packages/service-clients/end-to-end-tests/odsp-client/.eslintrc.cjs
  packages/service-clients/end-to-end-tests/odsp-client/.gitignore
  packages/service-clients/end-to-end-tests/odsp-client/.npmignore
  packages/service-clients/end-to-end-tests/odsp-client/LICENSE
  packages/service-clients/end-to-end-tests/odsp-client/README.md
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/src/test/.mocharc.js
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/TestDataObject.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/tsconfig.json
  packages/service-clients/end-to-end-tests/odsp-client/src/test/utils.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#18519 Decouple sequence-field's format from its in-memory types
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/helperTypes.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markListFactory.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markQueue.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/prune.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/relevantRemovedTrees.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeEncoder.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeRebaser.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/types.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-0.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-1.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-2.json
  experimental/dds/tree2/src/test/snapshots/files/competing-deletes-index-3.json
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-1-final.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
Labels: area: dds, area: dds: tree, base: main

#18564 tree2: Port migration shim to class based schema
  examples/version-migration/tree-shim/src/model/inventoryList.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/dds/tree/api-report/experimental-tree.api.md
  experimental/dds/tree/src/migration-shim/migrationShim.ts
  experimental/dds/tree/src/migration-shim/migrationShimFactory.ts
  experimental/dds/tree/src/migration-shim/sharedTreeShim.ts
  experimental/dds/tree/src/migration-shim/sharedTreeShimFactory.ts
  experimental/dds/tree/src/migration-shim/types.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/dataMigration.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/sharedTreeShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandlesDetached.spec.ts
Labels: area: examples, area: dds, area: tests, public api change, area: dds: tree, base: main

#18409 Mark Azure Packages Internal
  azure/packages/azure-client/api-report/azure-client.api.md
  azure/packages/azure-client/src/AzureAudience.ts
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/AzureFunctionTokenProvider.ts
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/azure-service-utils/api-report/azure-service-utils.api.md
  azure/packages/azure-service-utils/src/generateToken.ts
  azure/packages/external-controller/tests/index.ts
Labels: public api change, base: main

#18524 tree2: Mark APIs as beta
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/class-tree/tree.ts
  experimental/dds/tree2/src/class-tree/treeApi.ts
  experimental/dds/tree2/src/core/revertible/revertible.ts
  experimental/dds/tree2/src/events/events.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/flexTreeTypes.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/flexList.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/typeUtils.ts
  experimental/dds/tree2/src/shared-tree/treeCheckout.ts
  experimental/dds/tree2/src/simple-tree/treeListNode.ts
  experimental/dds/tree2/src/simple-tree/types.ts
  experimental/dds/tree2/src/util/typeCheck.ts
  experimental/dds/tree2/src/util/typeUtils.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18570 build(azure): Enable cross-package release tag compatibility enforcement
  azure/packages/azure-client/api-extractor-lint.json
  azure/packages/azure-local-service/api-extractor-lint.json
  azure/packages/azure-service-utils/api-extractor-lint.json
Labels: base: main

#18572 Remove request pattern from IDataStore
  .changeset/tender-planets-beg.md
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/requestSignatureDeprecation.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: tests, public api change, base: next

#18573 Remove request pattern from RemoteFluidObjectHandle
  packages/dds/shared-object-base/src/remoteObjectHandle.ts
Labels: area: dds, base: next

#18565 Deprecate IRootDataObjectFactory
  .changeset/swift-geese-tap.md
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
Labels: area: framework, public api change, base: main

#18578 tree2: Update dev tools to class based tree schema
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: base: main

#18277 feat(build): Add cross version compat testing
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/fluidObjectHandle.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/package.json
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/README.md
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/compatOptions.d.cts
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/testApi.ts
  tools/pipelines/test-real-service.yml
Labels: area: build, area: tests, public api change, base: main

#18580 Clean up some ae-forgotten-export
  experimental/dds/sequence-deprecated/api-extractor.json
  experimental/dds/sequence-deprecated/api-report/sequence-deprecated.api.md
  experimental/dds/sequence-deprecated/src/index.ts
  experimental/dds/sequence-deprecated/src/sequenceFactory.ts
  packages/dds/cell/api-extractor.json
  packages/dds/ink/api-extractor.json
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/index.ts
Labels: area: dds, public api change, base: main

#18584 build(experimental): Enable cross-package release tag compatibility enforcement
  experimental/PropertyDDS/packages/property-dds/api-extractor-lint.json
  experimental/dds/attributable-map/api-extractor-lint.json
  experimental/dds/ot/ot/api-extractor-lint.json
  experimental/dds/ot/sharejs/json1/api-extractor-lint.json
  experimental/dds/sequence-deprecated/api-extractor-lint.json
  experimental/dds/tree/api-extractor-lint.json
  experimental/framework/data-objects/api-extractor-lint.json
  experimental/framework/last-edited/api-extractor-lint.json
  experimental/framework/react-inputs/api-extractor-lint.json
  experimental/framework/tree-react-api/api-extractor-lint.json
Labels: area: dds, area: dev experience, area: dds: propertydds, area: dds: tree, base: main

#18567 Remove resolveHandle and IFluidHandleContext from ContainerRuntime interfaces
  .changeset/cute-points-obey.md
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoreRetrieval.spec.ts
  packages/test/test-end-to-end-tests/src/test/fluidObjectHandle.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpdate.spec.ts
  packages/test/test-end-to-end-tests/src/test/incrementalSummaryContext.spec.ts
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/localCodeLoader.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: next

#18588 Remove IFluidRouter from DataObject classes
  .changeset/gentle-hats-appear.md
  .changeset/nine-coins-send.md
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/data-object-factories/index.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/index.ts
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/framework/data-object-base/api-report/data-object-base.api.md
  packages/framework/data-object-base/package.json
  packages/framework/data-object-base/src/lazyLoadedDataObject.ts
  packages/framework/data-object-base/src/test/types/validateDataObjectBasePrevious.generated.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: framework, area: tests, public api change, base: next

#18589 build(common): Enable cross-package release tag compatibility enforcement
  common/build/build-common/api-extractor-lint.json
  common/lib/common-definitions/api-extractor-lint.json
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/api-extractor-lint.json
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/api-extractor-lint.json
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: area: build, base: main

#18577 Change property name for logging
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server, base: main

#18587 tree2: Remove support for simple-tree with flex-tree-schema outside of tree2 package
  examples/benchmarks/bubblebench/editable-shared-tree/src/schema.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/treeApi.ts
  experimental/dds/tree2/src/domains/json/jsonCursor.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/leafDomain.ts
  experimental/dds/tree2/src/domains/nodeKey/nodeKeySchema.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/simpleTree.ts
  experimental/dds/tree2/src/simple-tree/insertable.ts
  experimental/dds/tree2/src/simple-tree/node.ts
  experimental/dds/tree2/src/simple-tree/objectFactory.ts
  experimental/dds/tree2/src/simple-tree/treeListNode.ts
  experimental/dds/tree2/src/simple-tree/types.ts
  experimental/dds/tree2/src/test/domains/json/jsonCursor.bench.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/events.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaSimple.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
Labels: area: examples, area: dds, area: dds: propertydds, public api change, area: dds: tree, base: main

#18581 Remove request pattern from FluidDataStore interfaces and classes
  .changeset/dark-dancers-hug.md
  .changeset/shaggy-doodles-fetch.md
  packages/common/core-interfaces/Removing-IFluidRouter.md
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/framework/data-object-base/src/lazyLoadedDataObject.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/test/types/validateDatastoreDefinitionsPrevious.generated.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: framework, area: runtime, public api change, base: next

#18590 refactor(tree2): use "removed root" instead of "removed tree" when appropriate
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/index.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/relevantRemovedRoots.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldChangeHandler.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/treeCheckout.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/relevantRemovedRoots.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18569 test(tree2): add new 'getRoot()' and 'makeSchema()' helpers
  experimental/dds/tree2/src/test/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18597 Move config base types from telemetry-utils to core-interfaces
  .changeset/cool-goats-open.md
  azure/packages/azure-client/api-report/azure-client.api.md
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/interfaces.ts
  azure/packages/test/end-to-end-tests/src/test/audience.spec.ts
  azure/packages/test/end-to-end-tests/src/test/containerCreate.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/config.ts
  packages/common/core-interfaces/src/index.ts
  packages/runtime/container-runtime/src/test/gc/gcUnitTestHelpers.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/odsp-client/api-report/odsp-client.api.md
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/src/TestConfigs.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/tools/replay-tool/src/helpers.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/config.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
Labels: area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#18595 Add factories for SharedTree lists and maps
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/feature-libraries/flex-tree/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/simple-tree/objectFactory.ts
  experimental/dds/tree2/src/simple-tree/proxies.ts
  experimental/dds/tree2/src/simple-tree/rawNode.ts
  experimental/dds/tree2/src/simple-tree/rawObjectNode.ts
  experimental/dds/tree2/src/test/class-tree/schemaFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/rawObjectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18602 Tag server types necessary for the Loader class to be alpha
  server/routerlicious/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server, public api change, base: main, changeset-required, fluid2alpha

#18574 build(routerlicious): Update existing api-extractor configs to use newest base config and associated patterns
  server/routerlicious/Dockerfile
  server/routerlicious/api-extractor-build-base.json
  server/routerlicious/api-extractor-lint-base.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/api-extractor-lint.json
  server/routerlicious/packages/gitresources/api-extractor.json
  server/routerlicious/packages/gitresources/api-report/gitresources.api.md
  server/routerlicious/packages/local-server/api-extractor-lint.json
  server/routerlicious/packages/local-server/api-extractor.json
  server/routerlicious/packages/local-server/api-report/server-local-server.api.md
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/protocol-base/api-extractor-lint.json
  server/routerlicious/packages/protocol-base/api-extractor.json
  server/routerlicious/packages/protocol-base/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/services-client/api-extractor-lint.json
  server/routerlicious/packages/services-client/api-extractor.json
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/storage.ts
  server/routerlicious/packages/tinylicious/api-extractor-lint.json
  server/routerlicious/packages/tinylicious/api-extractor.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/patches/@microsoft__api-extractor@7.38.3.patch
  server/routerlicious/patches/README.md
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, public api change, base: main

#18605 Tag common types necessary for the Loader class to be alpha
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/audience.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/fluidModule.ts
  packages/common/container-definitions/src/fluidPackage.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/disposable.ts
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/fluidRouter.ts
  packages/common/core-interfaces/src/logger.ts
  packages/common/core-interfaces/src/provider.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/urlResolver.ts
Labels: public api change, base: main, fluid2alpha

#18614 feat(tree2): support for root-level destroy
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/tree/delta.ts
  experimental/dds/tree2/src/core/tree/visitDelta.ts
  experimental/dds/tree2/src/test/tree/visitDelta.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18608 Tag protocol-definitions types necessary for the ContainerRuntime class to be alpha
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/storage.ts
Labels: public api change, base: main, fluid2alpha

#18610 Tag client packages types necessary for the ContainerRuntime class to be alpha
  packages/common/client-utils/api-report/client-utils.api.md
  packages/common/client-utils/src/typedEventEmitter.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/provider.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/id-compressor/idCompressor.ts
  packages/runtime/runtime-definitions/src/id-compressor/identifiers.ts
  packages/runtime/runtime-definitions/src/id-compressor/persisted-types/0.0.1.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/telemetryTypes.ts
Labels: area: runtime, public api change, base: main, fluid2alpha

#18296 feat(eslint-config-fluid): Add eslint rule to prevent imports of @internal items
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/src/custom-rules/no-restricted-tags-imports.js
  common/build/eslint-config-fluid/src/test/enforce-no-restricted-tags-imports.test.js
  common/build/eslint-config-fluid/src/test/mockFiles/exceptionFile.ts
  common/build/eslint-config-fluid/src/test/mockFiles/fileWithExceptionImports.ts
  common/build/eslint-config-fluid/src/test/mockFiles/fileWithImports.ts
  common/build/eslint-config-fluid/src/test/mockFiles/mockModule.ts
  common/build/eslint-config-fluid/src/test/tsconfig.json
  fluidBuild.config.cjs
Labels: area: build, base: main

#18626 tree2: Fix build
  experimental/dds/tree2/src/test/snapshots/testTrees.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18630 tree2: Simpify factory
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/class-tree/toFlexSchema.ts
  experimental/dds/tree2/src/simple-tree/editNode.ts
  experimental/dds/tree2/src/simple-tree/node.ts
  experimental/dds/tree2/src/simple-tree/proxies.ts
  experimental/dds/tree2/src/test/domains/schemaBuilder.spec.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#18624 [fix:devtools-example] Clean up pm2 related files
  packages/tools/devtools/devtools-example/README.md
  packages/tools/devtools/devtools-example/pm2.ecosystem.config.js
Labels: base: main

#18625 feat(tree2): workaround for AzureClient container schema
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/test/AzureClient.spec.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/treeFactory.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, community-contribution, public api change, area: dds: tree, base: main

#18634 Tag protocol-definitions and server types necessary for IQuorum to be alpha
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/consensus.ts
Labels: community-contribution, public api change, base: main, fluid2alpha

#18628 fix: Website build
  docs/api-markdown-documenter/render-api-documentation.js
  docs/rollup-api-data.js
  docs/rollup-api-json.js
Labels: area: website, community-contribution, base: main

#18635 Tag the Loader class alpha
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/config.ts
  packages/loader/container-loader/api-report/container-loader.api.md
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/protocol.ts
Labels: area: loader, community-contribution, public api change, base: main, fluid2alpha

#18633 tree2: Rename editNode to flexNode in simple-tree
  experimental/dds/tree2/src/simple-tree/editNode.ts
  experimental/dds/tree2/src/simple-tree/flexNode.ts
  experimental/dds/tree2/src/simple-tree/node.ts
  experimental/dds/tree2/src/simple-tree/proxies.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18636 Tag FluidDataStoreRuntime class alpha
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/logger.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/storage.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, community-contribution, public api change, base: main, fluid2alpha

#18640 Tag Local Driver as alpha
  packages/drivers/local-driver/api-report/local-driver.api.md
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/local-driver/src/localResolver.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/rateLimiter.ts
Labels: area: loader, area: driver, community-contribution, public api change, base: main, fluid2alpha

#18637 Tag protocol-definitions and server types necessary for local-driver to be alpha
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/sockets.ts
  server/routerlicious/packages/gitresources/api-report/gitresources.api.md
  server/routerlicious/packages/gitresources/src/resources.ts
  server/routerlicious/packages/local-server/api-report/server-local-server.api.md
  server/routerlicious/packages/local-server/src/localDeltaConnectionServer.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/interfaces.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-core/src/document.ts
  server/routerlicious/packages/services-core/src/http.ts
  server/routerlicious/packages/services-core/src/messages.ts
  server/routerlicious/packages/services-core/src/orderer.ts
  server/routerlicious/packages/test-utils/src/testCollection.ts
Labels: area: server, community-contribution, public api change, base: main, fluid2alpha

#18202 remove(location-redirection-utils): Remove package from the repository
  .changeset/copied-llamas-digest.md
  PACKAGES.md
  README.md
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/loader/location-redirection-utils/.eslintrc.js
  packages/loader/location-redirection-utils/.gitignore
  packages/loader/location-redirection-utils/.mocharc.js
  packages/loader/location-redirection-utils/.npmignore
  packages/loader/location-redirection-utils/CHANGELOG.md
  packages/loader/location-redirection-utils/LICENSE
  packages/loader/location-redirection-utils/README.md
  packages/loader/location-redirection-utils/api-extractor.json
  packages/loader/location-redirection-utils/api-report/location-redirection-utils.api.md
  packages/loader/location-redirection-utils/package.json
  packages/loader/location-redirection-utils/prettier.config.cjs
  packages/loader/location-redirection-utils/src/index.ts
  packages/loader/location-redirection-utils/src/test/tsconfig.json
  packages/loader/location-redirection-utils/src/test/types/validateLocationRedirectionUtilsPrevious.generated.ts
  packages/loader/location-redirection-utils/tsconfig.esnext.json
  packages/loader/location-redirection-utils/tsconfig.json
  pnpm-lock.yaml
Labels: area: loader, dependencies, community-contribution, public api change, base: next

#18642 Tag SharedObject class as alpha
  packages/dds/shared-object-base/api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/summarySerializer.ts
  packages/dds/shared-object-base/src/types.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/eventEmitterWithErrorHandling.ts
Labels: area: dds, community-contribution, public api change, base: main, fluid2alpha

#18638 build(eslint-config-fluid): Add README content generation step to build script
  common/build/eslint-config-fluid/README.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, community-contribution, base: main

#18646 tree2: Fix typing bugs for insert types
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/test/class-tree/schemaTypes.spec.ts
  experimental/dds/tree2/src/test/class-tree/tree.spec.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#18647 tree2: Remove simple tree entry point
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/shared-tree/index.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/shared-tree/simpleTree.ts
  experimental/dds/tree2/src/simple-tree/index.ts
  experimental/dds/tree2/src/simple-tree/types.ts
  experimental/dds/tree2/src/test/feature-libraries/flex-tree/editableTree.identifier.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/node-key/nodeKeyIndex.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-aware/schemaComplex.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/simpleTree.spec.ts
  experimental/dds/tree2/src/test/simple-tree/list.spec.ts
  experimental/dds/tree2/src/test/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/primitives.spec.ts
  experimental/dds/tree2/src/test/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/simple-tree/utils.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#18649 tree2: Test and improve toFlexSchema
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/toFlexSchema.ts
  experimental/dds/tree2/src/test/class-tree/toFlexSchema.spec.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18629 Tree: Fix bug with cell ordering when composing sequence field changes
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18652 Tag SharedString, SharedMatrix, SharedMap, and SharedDirectory as alpha
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/summary.ts
  packages/common/core-utils/api-report/core-utils.api.md
  packages/common/core-utils/src/promises.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/matrix/api-report/matrix.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/runtime.ts
  packages/dds/matrix/src/types.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/stack.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/sharedString.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/attribution.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, community-contribution, public api change, base: main, fluid2alpha

#18657 Tag aqueduct as alpha
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/request-handler/api-report/request-handler.api.md
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/synthesize/api-report/synthesize.api.md
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
  packages/framework/synthesize/src/types.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.api.md
  packages/runtime/runtime-utils/src/requestParser.ts
  packages/runtime/runtime-utils/src/runtimeFactoryHelper.ts
Labels: area: framework, area: runtime, community-contribution, public api change, base: main, fluid2alpha

#18654 Tag odsp-driver alpha
  packages/common/core-utils/api-report/core-utils.api.md
  packages/common/core-utils/src/promiseCache.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver-definitions/src/sessionProvider.ts
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspPublicUtils.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
Labels: area: driver, area: odsp-driver, community-contribution, public api change, base: main, fluid2alpha

#18659 tree: Remove dependency tracking
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/core/dependency-tracking/README.md
  experimental/dds/tree2/src/core/dependency-tracking/cachedValue.ts
  experimental/dds/tree2/src/core/dependency-tracking/cleanable.ts
  experimental/dds/tree2/src/core/dependency-tracking/dependencies.ts
  experimental/dds/tree2/src/core/dependency-tracking/disposingDependee.ts
  experimental/dds/tree2/src/core/dependency-tracking/incrementalObservation.ts
  experimental/dds/tree2/src/core/dependency-tracking/index.ts
  experimental/dds/tree2/src/core/dependency-tracking/simpleDependee.ts
  experimental/dds/tree2/src/core/dependency-tracking/simpleObservingDependent.ts
  experimental/dds/tree2/src/core/forest/forest.ts
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/schema-stored/storedSchemaRepository.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkedForest.ts
  experimental/dds/tree2/src/feature-libraries/object-forest/objectForest.ts
  experimental/dds/tree2/src/feature-libraries/schemaSummarizer.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/shared-tree-core/editManager.ts
  experimental/dds/tree2/src/shared-tree/schematizedTree.ts
  experimental/dds/tree2/src/test/dependency-tracking/disposingDependee.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/forestTestSuite.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#18660 fix(tree2): missing revision data in composed builds
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/utils.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18653 tree2: Document beta APIs
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/class-tree/tree.ts
  experimental/dds/tree2/src/core/revertible/revertible.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/flexList.ts
  experimental/dds/tree2/src/simple-tree/treeListNode.ts
Labels: area: dds, community-contribution, public api change, area: dds: tree, base: main

#18655 ci: Update the PR labeler to address mislabeled PRs
  .github/workflows/pr-labeler.yml
Labels: area: build, community-contribution, base: main

#18664 build: Regenerate api-extractor pnpm patch to minimize diff
  patches/@microsoft__api-extractor@7.38.3.patch
  pnpm-lock.yaml
  server/routerlicious/patches/@microsoft__api-extractor@7.38.3.patch
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, community-contribution, base: main

#18671 tree2: Deprecate SchemaBuilder
  experimental/dds/tree2/src/domains/index.ts
  experimental/dds/tree2/src/domains/json/jsonDomainSchema.ts
  experimental/dds/tree2/src/domains/schemaBuilder.ts
  experimental/dds/tree2/src/domains/testRecursiveDomain.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18641 ci(eslint-config-fluid): Enable testing
  common/build/eslint-config-fluid/.mocharc.json
  common/build/eslint-config-fluid/mocha-multi-reporter-config.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  tools/pipelines/build-eslint-config-fluid.yml
Labels: area: build, community-contribution, base: main

#18668 ci: Remove broken labeling of externally contributed PRs
  .github/labeler.yml
Labels: area: build, community-contribution, base: main

#18663 feat(api-markdown-documenter): Allow filtering generated docs based on minimal release level
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testconst-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testfunction-function.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testconst-variable.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testfunction-function.md
Labels: community-contribution, public api change, base: main

#18621 build: Patch api-extractor to not trim imports when generating type rollups
  patches/@microsoft__api-extractor@7.38.3.patch
  patches/README.md
  pnpm-lock.yaml
  server/routerlicious/patches/@microsoft__api-extractor@7.38.3.patch
  server/routerlicious/patches/README.md
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, community-contribution, base: main

#18594 (odsp-client): Add oid to audience interface
  packages/service-clients/odsp-client/api-report/odsp-client.api.md
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/service-clients/odsp-client/src/odspAudience.ts
Labels: community-contribution, public api change, base: main

#18548 Set-up example using odsp-client
  examples/service-clients/odsp-client/shared-tree-demo/.eslintrc.js
  examples/service-clients/odsp-client/shared-tree-demo/.gitignore
  examples/service-clients/odsp-client/shared-tree-demo/.npmignore
  examples/service-clients/odsp-client/shared-tree-demo/LICENSE
  examples/service-clients/odsp-client/shared-tree-demo/README.md
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  examples/service-clients/odsp-client/shared-tree-demo/prettier.config.cjs
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/fluid.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/index.css
  examples/service-clients/odsp-client/shared-tree-demo/src/index.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/output.css
  examples/service-clients/odsp-client/shared-tree-demo/src/reactApp.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/schema.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
  examples/service-clients/odsp-client/shared-tree-demo/tailwind.config.js
  examples/service-clients/odsp-client/shared-tree-demo/tsconfig.json
  examples/service-clients/odsp-client/shared-tree-demo/webpack.config.js
  examples/service-clients/odsp-client/shared-tree-demo/webpack.dev.js
  examples/service-clients/odsp-client/shared-tree-demo/webpack.prod.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, community-contribution, base: main

#18681 tree2: Make chunked forest stop depending on default-schema
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/nodeShape.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18680 move multiplicity to out of modular-schema
  experimental/dds/tree2/src/feature-libraries/chunked-forest/chunkTree.ts
  experimental/dds/tree2/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  experimental/dds/tree2/src/feature-libraries/contextuallyTyped.ts
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/comparison.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/multiplicity.ts
  experimental/dds/tree2/src/feature-libraries/schema-aware/schemaAware.ts
  experimental/dds/tree2/src/feature-libraries/typed-schema/schemaCollection.ts
  experimental/dds/tree2/src/test/counterFieldKind.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/basicRebasers.ts
Labels: area: dds, area: dds: tree, base: main

#18683 tree2: Better ambiguous input errors
  experimental/dds/tree2/package.json
  experimental/dds/tree2/src/simple-tree/toMapTree.ts
  experimental/dds/tree2/src/test/simple-tree/toMapTree.spec.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: tree, base: main

#18685 test(api-markdown-documenter): Update test suite for newer api-extractor-model and to capture some missing test cases
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testmappedtype-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testconst-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-testinterfacemethod-methodsignature.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-testinterfaceproperty-propertysignature.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/typealias-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testmappedtype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testconst-variable.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-testinterfacemethod-methodsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testnamespace-testinterface-testinterfaceproperty-propertysignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/typealias-typealias.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: base: main

#18415 Chunk encoding in SharedTree insert changesets
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeTypes.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/complete-3x3-final.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree2.json
  experimental/dds/tree2/src/test/snapshots/files/concurrent-inserts-tree3.json
  experimental/dds/tree2/src/test/snapshots/files/insert-and-delete-tree-0-after-insert.json
  experimental/dds/tree2/src/test/snapshots/files/move-across-fields-tree-0-final.json
  experimental/dds/tree2/src/test/snapshots/files/nested-sequence-change-final.json
Labels: area: dds, public api change, area: dds: tree, base: main

#18559 GC: Two-Stage GC that runs Tombstone then Sweep, instead of only one or the other
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/gcUnreferencedStateTracker.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcUnreferencedStateTracker.spec.ts
  packages/runtime/test-runtime-utils/src/validateAssertionError.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/error.ts
  packages/utils/telemetry-utils/src/index.ts
Labels: area: runtime, area: tests, community-contribution, public api change, base: main

#18670 Log sanitization during service start config dump
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian/config.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/configDumper.ts
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/runner.ts
  server/routerlicious/packages/services-shared/src/test/configDumper.spec.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, community-contribution, base: main

#18692 test(tree2): fix test harness for exhaustive sequence editing
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18691 fix(tree2): revertibles should work after rebasing a branch
  experimental/dds/tree2/src/shared-tree-core/branch.ts
  experimental/dds/tree2/src/test/shared-tree-core/branch.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18627 Add a no-op RevisionTag codec
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/rebase/index.ts
  experimental/dds/tree2/src/core/rebase/types.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/utils.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerCodecs.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerFormat.ts
  experimental/dds/tree2/src/shared-tree-core/editManagerSummarizer.ts
  experimental/dds/tree2/src/shared-tree-core/index.ts
  experimental/dds/tree2/src/shared-tree-core/messageCodecs.ts
  experimental/dds/tree2/src/shared-tree-core/messageFormat.ts
  experimental/dds/tree2/src/shared-tree-core/revisionTagCodecs.ts
  experimental/dds/tree2/src/shared-tree-core/sharedTreeCore.ts
  experimental/dds/tree2/src/test/feature-libraries/editManagerCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.spec.ts
  experimental/dds/tree2/src/test/shared-tree-core/message.spec.ts
  experimental/dds/tree2/src/test/snapshots/files/optional-field-scenarios-final.json
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18528 doc(tree2): Add persisted format/compatibility docs
  experimental/dds/tree2/docs/README.md
  experimental/dds/tree2/docs/main/compatibility.md
Labels: area: dds, area: dds: tree, base: main

#18623 Simplify OptionalField relevantRemovedTrees
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalField.ts
Labels: area: dds, area: dds: tree, base: main

#18651 GC: Switch default for throwOnTombstoneLoad config to true
  .changeset/loose-comics-wonder.md
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
Labels: area: runtime, community-contribution, base: main

#18667 docs(tree2): Typos and improvements
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/tree.ts
  experimental/dds/tree2/src/domains/leafDomain.ts
Labels: area: dds, community-contribution, area: dds: tree, base: main

#18606 feat(tree2): updated relevantRemovedRoots contract
  experimental/dds/tree2/src/feature-libraries/deltaUtils.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/genericFieldKind.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/relevantRemovedRoots.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/relevantRemovedRoots.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18701 Optional field root builds
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultFieldKinds.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalField.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalFieldChangeFormat.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalFieldChangeTypes.ts
  experimental/dds/tree2/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalField.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
  experimental/dds/tree2/src/test/snapshots/files/has-handle-final.json
  experimental/dds/tree2/src/test/snapshots/files/optional-field-scenarios-final.json
Labels: area: dds, area: dds: tree, base: main

#18688 Decouple Fluid-Static and the Service Clients From IFluidDataStoreFactory
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework, community-contribution, public api change, base: next

#18707 test(tree2): Add a (currently skipped) test verifying support of unhydrated `initialTree` input
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18702 Fix auth in odsp-client example
  examples/service-clients/odsp-client/shared-tree-demo/.eslintrc.js
  examples/service-clients/odsp-client/shared-tree-demo/README.md
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/index.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/reactApp.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
  examples/service-clients/odsp-client/shared-tree-demo/webpack.config.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#18706 tree2: SchemaFactory cleanup
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/README.md
  experimental/dds/tree2/src/class-tree/index.ts
  experimental/dds/tree2/src/class-tree/internal.ts
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/simple-tree/treeListNode.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18712 Patch tsc-multi to support rewriting imports in declarations
  package.json
  patches/README.md
  patches/tsc-multi@1.1.0.patch
  pnpm-lock.yaml
Labels: dependencies, base: main

#18717 fix(tree2): associate `modifyAfter` with revision
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markQueue.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18705 build(docs): Update dependency on `api-markdown-documenter` in preparation for trimming alpha docs
  docs/api-markdown-documenter/render-api-documentation.js
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#18723 ci(local-server): Increase test timeout
  server/routerlicious/packages/local-server/src/test/webpack.spec.ts
Labels: area: server, base: main

#18724 Update Common Packages pnpm-lock Files
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: base: main

#18632 Added GC op which will be sent with a list of sweep ready nodes when sweep runs
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.api.md
  packages/runtime/runtime-utils/src/unpackUsedRoutes.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
Labels: area: runtime, area: tests, community-contribution, public api change, base: main

#18728 build(docs): Remove bottom attribute to fix 5793
  docs/themes/thxvscode/assets/scss/includes/_footer.scss
Labels: area: website, base: main

#18726 Update Common Packages in Server
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, community-contribution, base: next

#18727 Update random-js and jwt-decode
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/testFarm.ts
  packages/test/stochastic-test-utils/package.json
  packages/test/stochastic-test-utils/src/test/random.bench.ts
  packages/test/test-pairwise-generator/package.json
  packages/test/test-pairwise-generator/src/index.ts
  packages/utils/tool-utils/package.json
  packages/utils/tool-utils/src/odspTokenManager.ts
  pnpm-lock.yaml
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/auth.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: dds, dependencies, area: dds: sharedstring, area: tests, base: main

#18697 Tree: Fix bug with comparing sequence field lineages
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18720 feat(tree): ModularChangeFamily can now list relevant removed roots
  experimental/dds/tree2/src/feature-libraries/default-schema/defaultChangeFamily.ts
  experimental/dds/tree2/src/feature-libraries/default-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/index.ts
  experimental/dds/tree2/src/feature-libraries/modular-schema/modularChangeFamily.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18730 test(tree2): more mark-based test cases
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/populatedMarks.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18735 Tree: Fix lineage comparison bugs
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18709 Update shared matrix FWW policy to immediately switch mode on switch rather than on ack
  packages/dds/matrix/README.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/test/matrix.spec.ts
Labels: area: dds, base: main

#18739 tree: Clarify and improve schema mutability contract
  experimental/dds/tree2/src/core/index.ts
  experimental/dds/tree2/src/core/schema-stored/index.ts
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/core/schema-stored/storedSchemaRepository.ts
  experimental/dds/tree2/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  experimental/dds/tree2/src/test/shared-tree/schematizeTree.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18622 update globalCheckpointOnly logic and add noClientOp logs
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
Labels: area: server, base: main

#18738 test(tree2): add tests for empty cell ordering during compose
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18737 fix(tree2): bug in transfer of nested changes
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18747 Mark Server Protocol Handler Alpha
  server/routerlicious/packages/protocol-base/api-report/protocol-base.api.md
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, public api change, base: main

#18523 improvement(client)!: enhance Jsonable types
  .changeset/easy-deer-retire.md
  examples/apps/data-object-grid/src/dataObjectGrid.ts
  examples/benchmarks/bubblebench/common/src/types.ts
  examples/benchmarks/bubblebench/ot/src/main.ts
  examples/benchmarks/bubblebench/sharedtree/src/proxy/treeutils.ts
  examples/benchmarks/bubblebench/sharedtree/src/state.ts
  examples/data-objects/table-view/package.json
  examples/data-objects/table-view/src/grid.ts
  experimental/dds/ot/sharejs/json1/api-report/sharejs-json1.api.md
  experimental/dds/ot/sharejs/json1/src/json1.ts
  experimental/dds/ot/sharejs/json1/src/test/json1.spec.ts
  experimental/dds/sequence-deprecated/api-report/sequence-deprecated.api.md
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  experimental/dds/tree/api-report/experimental-tree.api.md
  experimental/dds/tree/src/persisted-types/0.0.2.ts
  experimental/dds/tree2/src/test/domains/json/benchmarks.ts
  experimental/framework/data-objects/src/signaler/signaler.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/matrix/src/ops.ts
  packages/dds/matrix/src/serialization.ts
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/shared-summary-block/src/interfaces.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/src/test/attribution/sharedString.attribution.spec.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/index.ts
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/runtime/datastore-definitions/src/test/types/jsonable.ts
  packages/runtime/datastore-definitions/src/test/types/validateDatastoreDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/PasTable.all.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/data-visualization/VisualTree.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/CommonInterfaces.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: runtime, area: dds, area: dev experience, dependencies, area: dds: sharedstring, area: tests, community-contribution, public api change, area: dds: tree, base: next

#18708 Add some comments around protection of resubmitting same op
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, area: loader, base: main

#18731 GC: Ignore incoming changes to data store that has been deleted
  packages/runtime/container-runtime/src/dataStores.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#18750 Beta bump server protocol defs
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#18745 test(tree2): enable passing fuzz seed
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18753 fix(tree2): apply move effects to MovePlaceholder marks
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markQueue.spec.ts
Labels: base: main

#18676 Refactor of IntervalCollection.change and IntervalCollection.changeProperties
  .changeset/brown-roses-drive.md
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#18732 tree2: Add enum example
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/index.ts
  experimental/dds/tree2/src/class-tree/schemaCreationUtilities.ts
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/test/class-tree/schemaCreationUtilities.spec.ts
  experimental/dds/tree2/src/test/simple-tree/utils.ts
  experimental/dds/tree2/src/test/testChange.ts
  experimental/dds/tree2/src/test/tsconfig.json
Labels: area: dds, public api change, area: dds: tree, base: main

#18756 docs(id-compressor): Update README to be formatted as a package README
  packages/runtime/id-compressor/README.md
Labels: area: runtime, base: main

#18734 GC: Fix bug in new Two-Stage Sweep feature
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
Labels: area: runtime, base: main

#18725 GC: Simplify configuration for when to enable sweep and for which documents
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcHelpers.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: main

#18740 release notes for minor 7.4
  .changeset/brown-roses-drive.md
  .changeset/cool-goats-open.md
  .changeset/happy-pens-lie.md
  .changeset/loose-comics-wonder.md
  .changeset/lovely-stave-squad.md
  .changeset/smol-kittens-blep.md
  .changeset/soft-taxis-thank.md
  .changeset/spicy-laws-pick.md
  .changeset/swift-geese-tap.md
  .changeset/wet-bees-scream.md
  RELEASE_NOTES/2.0.0-internal.7.4.0.md
Labels: base: main

#18771 build(protocol-definitions): Produce correct types in ESM build
  common/build/build-common/tsc-multi.esm.json
  common/build/build-common/tsconfig.esm.json
  common/lib/protocol-definitions/CHANGELOG.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/tsconfig.esnext.json
  common/lib/protocol-definitions/tsconfig.json
Labels: area: build, base: main

#18760 Gitrest: whole summary unit/regression tests
  server/gitrest/packages/gitrest-base/src/test/examples.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/packages/gitrest-base/src/test/summaries.spec.ts
  server/gitrest/packages/gitrest-base/src/test/utils.ts
Labels: area: server, base: main

#18786 (odsp-client): Mark e2e test package as non-private
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/service-clients/end-to-end-tests/odsp-client/LICENSE
  packages/service-clients/end-to-end-tests/odsp-client/package.json
Labels: base: main

#18790 Tag asserts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#18797 Promote release-level packages to a release view in internal feeds
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#18722 tree2: Inital recursive map and list support
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/index.ts
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/schemaFactoryRecursive.ts
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/class-tree/testRecursiveDomain.ts
  experimental/dds/tree2/src/shared-tree/sharedTree.ts
  experimental/dds/tree2/src/test/class-tree/schemaFactory.examples.spec.ts
  experimental/dds/tree2/src/test/class-tree/schemaFactory.recursiveExamples.spec.ts
  experimental/dds/tree2/src/test/class-tree/schemaTypes.spec.ts
  experimental/dds/tree2/src/test/class-tree/testRecursiveSchema.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18764 build: Generate internal 8.0 release notes
  .changeset/bitter-clocks-sleep.md
  .changeset/bumpy-papayas-invite.md
  .changeset/cold-mails-notice.md
  .changeset/copied-llamas-digest.md
  .changeset/cute-points-obey.md
  .changeset/dark-dancers-hug.md
  .changeset/eager-teeth-accept.md
  .changeset/easy-deer-retire.md
  .changeset/every-suns-bow.md
  .changeset/floppy-mails-hammer.md
  .changeset/fuzzy-cities-wonder.md
  .changeset/gentle-hats-appear.md
  .changeset/gold-cats-tell.md
  .changeset/green-parrots-poke.md
  .changeset/little-mirrors-carry.md
  .changeset/lucky-worms-return.md
  .changeset/metal-geese-battle.md
  .changeset/nice-worms-try.md
  .changeset/nine-coins-send.md
  .changeset/open-women-yawn.md
  .changeset/poor-peas-bow.md
  .changeset/shaggy-doodles-fetch.md
  .changeset/shaky-socks-fail.md
  .changeset/silent-coins-report.md
  .changeset/sixty-kings-carry.md
  .changeset/sweet-pandas-chew.md
  .changeset/tangy-beers-pump.md
  .changeset/tangy-geckos-swim.md
  .changeset/tender-planets-beg.md
  .changeset/thick-ads-marry.md
  .changeset/wet-bags-pick.md
  .changeset/wet-hornets-trade.md
  RELEASE_NOTES/2.0.0-internal.8.0.0.md
Labels: community-contribution, base: main

#18802 Tag asserts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/sequence/src/sequence.ts
  packages/framework/tinylicious-client/src/TinyliciousClient.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/service-clients/odsp-client/src/odspClient.ts
Labels: area: framework, area: runtime, area: dds, area: dds: sharedstring, base: main

#18813 Assert removal
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#18373 feat(generate:buildVersion): Add support for RC versions
  build-tools/packages/build-cli/.mocharc.json
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/test/commands/generate/buildVersion.test.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/readme-command/.mocharc.json
  build-tools/packages/version-tools/.mocharc.json
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/test/helpers/init.js
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/src/versions.ts
Labels: area: build, public api change, base: main

#18803 Typing Cleanups Before Public Tagging
  .changeset/rich-shirts-sink.md
  .changeset/tricky-jobs-marry.md
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  packages/dds/matrix/api-report/matrix.api.md
  packages/dds/matrix/src/matrix.ts
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/sequence.ts
  packages/dds/shared-object-base/api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/summarySerializer.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
Labels: area: examples, area: runtime, area: dds, area: dds: sharedstring, public api change, base: main

#18812 tree2: split up schema index
  experimental/dds/tree2/src/core/schema-stored/schema.ts
  experimental/dds/tree2/src/feature-libraries/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-index/codec.ts
  experimental/dds/tree2/src/feature-libraries/schema-index/format.ts
  experimental/dds/tree2/src/feature-libraries/schema-index/index.ts
  experimental/dds/tree2/src/feature-libraries/schema-index/schemaSummarizer.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-index/codec.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/schema-index/schemaSummarizer.spec.ts
  experimental/dds/tree2/src/test/shared-tree/sharedTree.spec.ts
  experimental/dds/tree2/src/test/utils.ts
  experimental/dds/tree2/src/util/index.ts
  experimental/dds/tree2/src/util/utils.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
Labels: area: dds, area: dds: tree, base: main

#18805 refactor(tree2): rename and clarify purpose of detachIdOverride
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/types.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/compose.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/invert.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/populatedMarks.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18761 tree: conversion of 'simple-tree' tests to 'class-schema'
  experimental/dds/tree2/src/test/simple-tree/list.spec.ts
  experimental/dds/tree2/src/test/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/primitives.spec.ts
  experimental/dds/tree2/src/test/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#18767 refactor(app-insights-logger): Don't export logger class
  examples/client-logger/app-insights-logger/src/components/ClientUtilities.ts
  packages/framework/client-logger/app-insights-logger/README.md
  packages/framework/client-logger/app-insights-logger/api-report/app-insights-logger.api.md
  packages/framework/client-logger/app-insights-logger/src/fluidAppInsightsLogger.ts
  packages/framework/client-logger/app-insights-logger/src/index.ts
  packages/framework/client-logger/app-insights-logger/src/test/fluidAppInsightsLogger.spec.ts
Labels: area: examples, area: framework, public api change, base: main

#18677 Api 2.0 build docs pipeline
  docs/README.md
  docs/api-markdown-documenter/index.js
  docs/api-markdown-documenter/render-api-documentation.js
  docs/data/versions.json
  docs/package.json
  docs/readVersionData.js
  docs/rollup-api-json-helper.js
  docs/rollup-api-json.js
  tools/pipelines/build-docs.yml
Labels: area: build, area: website, base: main

#18784 odsp-client: setup e2e test pipeline
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/utils.ts
  tools/pipelines/build-azure.yml
  tools/pipelines/test-service-clients.yml
Labels: area: build, base: main

#18782 (docs) remove outdated reference to SharedMap.wait()
  experimental/dds/attributable-map/README.md
  packages/dds/map/README.md
Labels: area: dds, base: main

#18806 r11s: upgrade build-tools
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#18789 build(fluid-runner): Enable API docs and make CJS-only package
  packages/tools/fluid-runner/.eslintrc.cjs
  packages/tools/fluid-runner/api-extractor-lint.json
  packages/tools/fluid-runner/api-extractor.json
  packages/tools/fluid-runner/api-report/fluid-runner.api.md
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/tools/fluid-runner/src/test/tsconfig.json
  packages/tools/fluid-runner/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#18661 refactor: Update syntax in devcontainer file
  .devcontainer/devcontainer.json
Labels: community-contribution, base: main

#18794 build: Update dependencies on typescript in `tools` packages
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/CHANGELOG.md
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/test-tools/CHANGELOG.md
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: base: main

#18758 Initialize GC state as soon as possible and update it on (re)connections
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
Labels: area: runtime, area: tests, base: main

#18766 refactor(devtools): Don't expose DevtoolsLogger class
  azure/packages/external-controller/src/app.ts
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/app.tsx
  packages/tools/devtools/devtools-core/README.md
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/DevtoolsLogger.ts
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/test/DevtoolsLogger.test.ts
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools-example/src/App.tsx
  packages/tools/devtools/devtools-example/src/ClientUtilities.ts
  packages/tools/devtools/devtools/README.md
  packages/tools/devtools/devtools/api-report/devtools.api.md
  packages/tools/devtools/devtools/src/index.ts
  packages/tools/devtools/devtools/src/test/types/validateDevtoolsPrevious.generated.ts
Labels: public api change, base: main

#18682 Tag SharedMap public
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/config.ts
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/summary.ts
  common/lib/protocol-definitions/src/tokens.ts
  common/lib/protocol-definitions/src/users.ts
  packages/common/client-utils/api-report/client-utils.api.md
  packages/common/client-utils/src/typedEventEmitter.ts
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/audience.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/disposable.ts
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/common/core-interfaces/src/fluidRouter.ts
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/logger.ts
  packages/common/core-interfaces/src/provider.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/map.ts
  packages/dds/shared-object-base/api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/types.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/storage.ts
  packages/runtime/id-compressor/api-report/id-compressor.api.md
  packages/runtime/id-compressor/src/types/idCompressor.ts
  packages/runtime/id-compressor/src/types/identifiers.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/eventEmitterWithErrorHandling.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
Labels: area: runtime, area: dds, public api change, base: main

#18814 tree2: rename list -> array (see FAQ in description)
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/schema.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/dds/tree2/api-report/tree2.api.md
  experimental/dds/tree2/src/class-tree/schemaFactory.ts
  experimental/dds/tree2/src/class-tree/schemaFactoryRecursive.ts
  experimental/dds/tree2/src/class-tree/schemaTypes.ts
  experimental/dds/tree2/src/class-tree/toFlexSchema.ts
  experimental/dds/tree2/src/class-tree/treeApi.ts
  experimental/dds/tree2/src/index.ts
  experimental/dds/tree2/src/internal.ts
  experimental/dds/tree2/src/simple-tree/index.ts
  experimental/dds/tree2/src/simple-tree/proxies.ts
  experimental/dds/tree2/src/simple-tree/treeListNode.ts
  experimental/dds/tree2/src/simple-tree/types.ts
  experimental/dds/tree2/src/test/class-tree/schemaFactory.examples.spec.ts
  experimental/dds/tree2/src/test/class-tree/schemaFactory.spec.ts
  experimental/dds/tree2/src/test/class-tree/schemaTypes.spec.ts
  experimental/dds/tree2/src/test/class-tree/testRecursiveSchema.ts
  experimental/dds/tree2/src/test/class-tree/tree.spec.ts
  experimental/dds/tree2/src/test/simple-tree/list.spec.ts
  experimental/dds/tree2/src/test/simple-tree/node.spec.ts
  experimental/dds/tree2/src/test/simple-tree/object.spec.ts
  experimental/dds/tree2/src/test/simple-tree/objectFactory.spec.ts
  experimental/dds/tree2/src/test/simple-tree/proxies.spec.ts
  experimental/dds/tree2/src/test/snapshots/gc.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.test.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#18831 Bump client build timeout
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#18788 fix(ci): Update stage dependencies for accurate telemetry reporting
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#18776 fix(tree2): MarkQueue now applies move effects to vestigial moves
  experimental/dds/tree2/src/feature-libraries/sequence-field/compose.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/format.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/helperTypes.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/invert.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/markListFactory.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/moveEffectTable.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/prune.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/types.ts
  experimental/dds/tree2/src/feature-libraries/sequence-field/utils.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/markQueue.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/populatedMarks.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/utils.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18825 build(merge-tree,sequence): Fix type generation for ESM and add exports field
  common/build/build-common/tsc-multi.test.json
  fluidBuild.config.cjs
  packages/dds/merge-tree/.npmignore
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/snapshot.utils.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
  packages/dds/merge-tree/tsc-multi.test.json
  packages/dds/merge-tree/tsconfig.esnext.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/partialLoad.spec.ts
  packages/dds/sequence/src/test/sequenceDeltaEvent.spec.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
  packages/dds/sequence/src/test/tsconfig.json
  packages/dds/sequence/tsc-multi.test.json
  packages/dds/sequence/tsconfig.esnext.json
  packages/runtime/id-compressor/package.json
  pnpm-lock.yaml
  tools/pipelines/build-client.yml
Labels: area: runtime, area: dds, area: build, dependencies, area: dds: sharedstring, base: main

#18678 Tag AzureClient public
  azure/packages/azure-client/api-report/azure-client.api.md
  azure/packages/azure-client/src/AzureClient.ts
  azure/packages/azure-client/src/interfaces.ts
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/config.ts
  packages/drivers/routerlicious-driver/api-report/routerlicious-driver.api.md
  packages/drivers/routerlicious-driver/src/tokens.ts
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/types.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/adapters/compression/compressionTypes.ts
Labels: area: framework, area: loader, area: driver, public api change, base: main

#18751 (tree2): Document lack of support for async transactions on the root checkout
  experimental/dds/tree2/src/shared-tree/treeCheckout.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/fuzzUtils.ts
  experimental/dds/tree2/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#18719 odsp-client: Update readme
  packages/service-clients/odsp-client/README.md
Labels: base: main

#18837 Fix duplicate join session events
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/test/joinSessionPeriodicCall.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#18824 build(drivers/framework): Fix type generation for ESM and add exports field
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/fluidapp-odsp-urlResolver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/attributor/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/client-logger/app-insights-logger/tsconfig.esnext.json
  packages/framework/client-logger/app-insights-logger/tsconfig.json
  packages/framework/data-object-base/package.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-static/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/synthesize/src/types.ts
  packages/framework/synthesize/tsc-multi.test.json
  packages/framework/tinylicious-client/.attw.json
  packages/framework/tinylicious-client/package.json
  packages/framework/undo-redo/package.json
  packages/framework/view-adapters/package.json
  packages/framework/view-interfaces/package.json
  pnpm-lock.yaml
Labels: area: framework, area: driver, dependencies, area: odsp-driver, base: main

#18835 fix(tree2): rebasing over re-detaches
  experimental/dds/tree2/src/feature-libraries/sequence-field/rebase.ts
  experimental/dds/tree2/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  experimental/dds/tree2/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main
