Repository microsoft/FluidFramework, pull requests merged in 2023-01, with the labels that each got.

#13438 --use-openssl-ca for r11s tests - port to lts
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests

#13440 --use-openssl-ca for r11s tests - port to release/1.3
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: release

#13442 --use-openssl-ca for r11s tests - port to release/v2int/1.4
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: release

#13437 Make main the default branch for artifacts downloaded by test pipelines
  tools/pipelines/test-dds-stress.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#13420 Remove colorization from t9s log file during CI runs
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#13397 Log when mismatched `referenceSequenceNumber` messages are detected by the batch manager - main
  api-report/container-runtime.api.md
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main

#13251 Tree: Undo and repair data design docs
  packages/dds/tree/docs/repair-data/README.md
  packages/dds/tree/docs/undo/README.md
  packages/dds/tree/docs/wip/inverse-changes/README.md
Labels: area: dds, area: dds: tree, base: main

#13473 Tree: Clean up implementation of move in sequence field
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13477 build: Add missing dev dependencies
  experimental/dds/tree-graphql/package.json
Labels: area: dds, base: main

#13501 refactor: Upgrade eslint config in `counter` from `recommended` to `strict` and fix violation
  packages/dds/counter/.eslintrc.js
  packages/dds/counter/src/counter.ts
Labels: area: dds, base: main

#13500 refactor: Upgrade eslint config in `cell` from `minimal` to `strict` and fix linter violations
  api-report/cell.api.md
  packages/dds/cell/.eslintrc.js
  packages/dds/cell/README.md
  packages/dds/cell/src/cell.ts
  packages/dds/cell/src/cellFactory.ts
  packages/dds/cell/src/index.ts
  packages/dds/cell/src/interfaces.ts
  packages/dds/cell/src/test/cell.spec.ts
Labels: area: dds, public api change, base: main

#13504 Regenerate client package lock files
  examples/apps/view-framework-sampler/package.json
  lerna-package-lock.json
  package-lock.json
Labels: area: examples, dependencies, base: main

#13433 Deduplicate some common tracing code in merge-tree Client
  packages/dds/merge-tree/src/client.ts
Labels: area: dds, base: main

#13515 Disable op reentry for stress tests - next
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: next, msftbot: merge-next

#13455 Fixed bug where DDS's summarizer node's GC data is not correctly updated on creation after refreshing from snapshot
  api-report/runtime-definitions.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/garbage-collector/src/utils.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/runtime-utils/src/test/summarizerNodeWithGc.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#13517 Tree: Make Deltas immutable
  api-report/tree.api.md
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-change-family/changeset/toDelta.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13496 Tree: use events library for tree changes
  api-report/tree.api.md
  packages/dds/tree/README.md
  packages/dds/tree/src/core/fence.json
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/core/forest/fence.json
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/core/forest/index.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/fence.json
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTreeContext.ts
  packages/dds/tree/src/feature-libraries/editable-tree/fence.json
  packages/dds/tree/src/feature-libraries/forestIndex.ts
  packages/dds/tree/src/feature-libraries/modular-schema/view.ts
  packages/dds/tree/src/feature-libraries/object-forest/fence.json
  packages/dds/tree/src/feature-libraries/object-forest/index.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/schemaIndex.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/editable-tree/editableTreeContext.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13524 [bump] common-utils: 0.32.2 => 0.32.3 (patch)
  common/lib/common-utils/package-lock.json
  common/lib/common-utils/package.json
  common/lib/common-utils/src/packageVersion.ts
Labels: base: release

#13172 Skip adding additionalContent to summarize messages in single commit flow
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/services-core/src/configuration.ts
Labels: area: server, base: main

#13529 [bump] server: 0.1036.5001 => 0.1036.5002 (patch)
  server/routerlicious/lerna.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/packageVersion.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/packageVersion.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/packageVersion.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/packageVersion.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
Labels: area: server, base: release

#13508 Remove redundant merge-tree method
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/snapshotlegacy.spec.ts
Labels: area: dds, base: main

#13449 Improve handling of non-retry-able network errors
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
Labels: area: driver, base: main

#13503 Tree: Refactor sequence field compose and rebase
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markListFactory.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markQueue.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13536 Change default value of DisableJoinSignalWait
  packages/loader/container-loader/src/connectionStateHandler.ts
Labels: area: loader, base: release

#13541 Disable one more flaky tinylicious test
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#13373 Fix comments to match code + small functional adjustment
  packages/runtime/container-runtime/src/scheduleManager.ts
Labels: area: runtime, base: main

#13522 Tree: avoid using cursors during test enumeration
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13548 Tree: remove unused sequence field format features
  api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13549 Tree: cleanup some dead code in tests
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEncoder.spec.ts
  packages/dds/tree/src/test/id-compressor/idCompressor.perf.spec.ts
  packages/dds/tree/src/test/sequence-change-family/sequenceEditBuilder.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13550 Tree: minor code cleanup to StackCursor
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
Labels: area: dds, area: dds: tree, base: main

#13513 stress: re-enable offline
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#13552 Change default value of DisableJoinSignalWait (#13536)
  packages/loader/container-loader/src/connectionStateHandler.ts
Labels: area: loader, base: main

#13493 Typetests for v2int2.1
  lerna-package-lock.json
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: dependencies, area: tests, base: release

#13532 Upgrade the GC version as we found some bugs which means current GC data could be incorrect
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/test/garbageCollection.spec.ts
Labels: area: runtime, base: main

#13456 Ensure error is not undefined when raising "disconnected" event
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
Labels: area: driver, area: odsp-driver, base: release

#13538 GC Add Test for Summarizer does not fail when requesting a tombstoned object
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#13499 Add testing for tombstone revived logs
  api-report/test-utils.api.md
  packages/runtime/container-runtime/src/garbageCollectionTombstoneUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: runtime, area: tests, public api change, base: main

#13545 Tree: no superfluous peer change rebasing
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/test/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main

#12028 Benchmark citm catalog final
  packages/dds/tree/src/test/domains/json/canada.ts
  packages/dds/tree/src/test/domains/json/citm.ts
  packages/dds/tree/src/test/domains/json/jsDirectObject.bench.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/domains/json/twitter.ts
Labels: area: dds, area: dds: tree, base: main

#13559 Log more information in version utils
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#13563 [TaskManager] Remove taskId from TaskManager error messages
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
Labels: area: dds, base: main

#13424 Refactor createNew odsp flow to prepare for a new partition-based flow
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, community-contribution, base: main

#13565 Update client lock file for 2.0.0-internal.2.2.1 release
  lerna-package-lock.json
Labels: dependencies, base: main

#13562 Increase timeout for Matrix memory tests
  packages/dds/matrix/src/test/memory/.mocharc.js
Labels: base: main

#13564 Refactor compressor utilities
  packages/dds/tree/src/id-compressor/appendOnlySortedMap.ts
  packages/dds/tree/src/id-compressor/idCompressor.ts
  packages/dds/tree/src/id-compressor/index.ts
  packages/dds/tree/src/id-compressor/numericUuid.ts
  packages/dds/tree/src/id-compressor/sessionIdNormalizer.ts
  packages/dds/tree/src/id-compressor/utils.ts
  packages/dds/tree/src/test/id-compressor/idCompressor.perf.spec.ts
  packages/dds/tree/src/test/id-compressor/idCompressorTestUtilities.ts
  packages/dds/tree/src/test/id-compressor/numericUuid.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#13566 [bump] tinylicious: 0.4.0 => 0.5.0 (minor)
  server/tinylicious/package-lock.json
  server/tinylicious/package.json
  tools/pipelines/build-tinylicious.yml
Labels: area: server, area: build, base: main

#13568 feat: [HACK]: Create POST route to enable triggering webhook in alfred
  server/tinylicious/src/app.ts
  server/tinylicious/src/runner.ts
Labels: area: server

#13533 Create unreference phases test
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencePhases.spec.ts
Labels: area: tests, base: main

#13491 Gc trailing ops test
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
Labels: area: tests, base: main

#13572 ci(tinylicious): Enable prereleases for tinylicious
  tools/pipelines/build-tinylicious.yml
Labels: area: build, base: main

#13571 Move FF-provided bits of schema migration to example-utils
  examples/hosts/app-integration/schema-upgrade/src/dataTransform.ts
  examples/hosts/app-integration/schema-upgrade/src/migrationTool/interfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelInterfaces.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/appModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion1/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/appModel.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/hosts/app-integration/schema-upgrade/src/modelVersion2/inventoryList.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
  examples/hosts/app-integration/schema-upgrade/src/view/debugView.tsx
  examples/hosts/app-integration/schema-upgrade/src/view/inventoryView.tsx
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/migrationInterfaces/index.ts
  examples/utils/example-utils/src/migrationInterfaces/migratableModel.ts
  examples/utils/example-utils/src/migrationInterfaces/migrationTool.ts
  examples/utils/example-utils/src/migrationInterfaces/migrator.ts
  examples/utils/example-utils/src/migrationTool/index.ts
  examples/utils/example-utils/src/migrationTool/migrationTool.ts
  examples/utils/example-utils/src/migrator/index.ts
  examples/utils/example-utils/src/migrator/migrator.ts
Labels: area: examples, base: main

#13576 Fix deletions in external-data example app
  examples/hosts/app-integration/external-data/src/model/taskList.ts
Labels: area: examples, base: main

#13525 refactor: Upgrade eslint config from `minimal` to `strict` in `@fluidframework/map` and fix violations
  api-report/map.api.md
  lerna-package-lock.json
  packages/dds/map/.eslintrc.js
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/memory/directory.spec.ts
  packages/dds/map/src/test/memory/map.spec.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, dependencies, public api change, base: main

#13577 Remove concepts from schema-upgrade demo not directly related to migration
  examples/hosts/app-integration/schema-upgrade/src/demoCodeLoader.ts
  examples/hosts/app-integration/schema-upgrade/src/externalData.ts
  examples/hosts/app-integration/schema-upgrade/src/start.ts
  examples/hosts/app-integration/schema-upgrade/src/tinyliciousService.ts
  examples/hosts/app-integration/schema-upgrade/src/view/debugView.tsx
Labels: area: examples, base: main

#13488 docs: Add comments to each of the eslint configs explaining their intended use cases
  common/build/eslint-config-fluid/README.md
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/strict.js
Labels: base: main

#12863 Add new telemetry types
  api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
Labels: public api change, base: main

#13573 Upgrade the Tinylicious dependencies to latest
  azure/packages/azure-local-service/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
  examples/hosts/app-integration/external-data/package.json
  packages/framework/tinylicious-client/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger/package.json
Labels: area: examples, area: framework, area: tests, base: main

#13486 Attachment blobs - Always return local ID and send blob attach op for all blob uploads including de-dupe scenarios
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
Labels: area: runtime, area: tests, base: main

#13582 Skip flaky missing batch start test
  api-report/mocha-test-setup.api.md
  lerna-package-lock.json
  package-lock.json
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/packageVersion.ts
  packages/tools/client-debugger/client-debugger-view/src/packageVersion.ts
  packages/tools/client-debugger/client-debugger/src/packageVersion.ts
Labels: dependencies, area: tests, public api change, base: main, base: next

#13583 Fix for GC tests that load from old summaries not working for ODSP
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: tests, base: main

#13579 Fix event deps on main
  experimental/PropertyDDS/examples/partial-checkout/.eslintrc.js
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/.eslintrc.js
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/framework/data-objects/.eslintrc.js
  experimental/framework/data-objects/package.json
  packages/common/container-definitions/.eslintrc.js
  packages/common/container-definitions/package.json
  packages/dds/matrix/.eslintrc.js
  packages/dds/matrix/package.json
  packages/dds/quorum/.eslintrc.js
  packages/dds/quorum/package.json
  packages/dds/task-manager/.eslintrc.js
  packages/dds/task-manager/package.json
  packages/drivers/iframe-driver/.eslintrc.js
  packages/drivers/iframe-driver/package.json
  packages/drivers/local-driver/package.json
  packages/framework/undo-redo/.eslintrc.js
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/runtime/container-runtime/.eslintrc.js
  packages/runtime/container-runtime/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/test/functional-tests/.eslintrc.js
  packages/test/functional-tests/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: tests, area: dds: propertydds, base: main

#13497 Remove compression from the message metadata
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
Labels: area: runtime, area: tests, base: main

#13587 fix: Correct packageVersion_s
  packages/tools/client-debugger/client-debugger-chrome-extension/src/packageVersion.ts
  packages/tools/client-debugger/client-debugger-view/src/packageVersion.ts
  packages/tools/client-debugger/client-debugger/src/packageVersion.ts
Labels: base: main

#13584 tools: Refactor test infra in `view` to not require background Tinylicious service
  lerna-package-lock.json
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-view/src/test/CounterWidget.test.tsx
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
Labels: dependencies, base: main

#13594 Remove TODO comments in Quorum pertaining to Promise-based API surface
  packages/dds/quorum/src/quorum.ts
Labels: area: dds, base: main

#13595 [TaskManager] Re-enable typetests
  lerna-package-lock.json
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, dependencies, base: main

#13527 Reenable op reentry checks in the stress tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: main

#13534 Reenable op reentry check stress - next
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: next, msftbot: merge-next

#13588 refactor: Update testing in chrome-extension package to not require background Tinylicious server
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-chrome-extension/src/test/ClientUtilities.ts
  packages/tools/client-debugger/client-debugger-chrome-extension/src/test/Extension.test.ts
Labels: base: main

#13445 R11s Driver: Set the IDocumentStorageServicePolicies.maximumCacheDurationMs policy
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/documentStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/test/wholeSummaryDocumentStorageService.spec.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: driver, area: tests, base: main

#13544 Downgrade all NoJoinOp related errors that happen during slow boot
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
Labels: area: loader, base: main

#13502 Tree: muted reattach marks
  api-report/tree.api.md
  packages/dds/tree/docs/sequence-field/README.md
  packages/dds/tree/src/feature-libraries/defaultChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markQueue.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/tracker.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#13601 Fix stress test race condition
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: tests, base: main

#13600 Fix stress test race condition - next
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: tests, base: next, msftbot: merge-next

#13605 feat: Add `readOnly` prop to react-input types and update docs
  experimental/framework/react-inputs/src/CollaborativeCheckbox.tsx
  experimental/framework/react-inputs/src/CollaborativeInput.tsx
  experimental/framework/react-inputs/src/CollaborativeTextArea.tsx
Labels: area: dev experience, base: main

#13607 Update deps (patch) on client and server release groups in the azure release group
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: release

#13611 [bump] azure: 1.1.0 => 1.1.1 (patch)
  azure/lerna.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/packageVersion.ts
  azure/packages/azure-local-service/package-lock.json
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/packageVersion.ts
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/packageVersion.ts
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/packageVersion.ts
Labels: base: release

#13604 refactor: Update client-debugger tests to not require background Tinylicious service
  packages/tools/client-debugger/client-debugger/package.json
  packages/tools/client-debugger/client-debugger/src/test/ClientDebugger.test.ts
  packages/tools/client-debugger/client-debugger/src/test/Utilities.ts
Labels: base: main

#13610 refactor: Use `CollaborativeTextArea` instead of `CollaborativeTextView` in sandbox app
  packages/tools/client-debugger/client-debugger-view/package.json
  packages/tools/client-debugger/client-debugger-view/src/test/app/App.tsx
Labels: base: main

#13614 [bump] azure: 1.1.1 => 1.1.2 (patch)
  azure/lerna.json
  azure/packages/azure-client/package.json
  azure/packages/azure-client/src/packageVersion.ts
  azure/packages/azure-local-service/package-lock.json
  azure/packages/azure-local-service/package.json
  azure/packages/azure-service-utils/package.json
  azure/packages/azure-service-utils/src/packageVersion.ts
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/end-to-end-tests/src/packageVersion.ts
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/packageVersion.ts
Labels: base: release

#13519 Dynamic import for delta stream socket bundle in odsp driver.
  api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/getSocketIo.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/tools/webpack-fluid-loader/src/getDocumentServiceFactory.ts
  packages/tools/webpack-fluid-loader/src/loader.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#13495 Explicitly fail to compress when the payload is too large and would fail compression anyway
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
Labels: area: runtime, base: main

#13608 Tree: tests and partial fix for revive ordering
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
Labels: base: main

#13619 Remove side effect of coupling op reentry and compression configs, revert stress tests changes
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, base: main

#13620 Remove side effect of coupling op reentry and compression configs, revert stress tests changes - next
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, base: next, msftbot: merge-next

#13578 Allow for disabling both compression and chunking via feature gates
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#13598 fix: Remove unused @types/node dependencies
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  examples/data-objects/webflow/tsconfig.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/tsconfig.json
  package-lock.json
  packages/common/container-definitions/package.json
  packages/common/container-definitions/tsconfig.json
  packages/dds/quorum/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  packages/test/test-utils/tsconfig.json
  packages/tools/client-debugger/client-debugger-chrome-extension/package.json
  packages/tools/client-debugger/client-debugger-chrome-extension/tsconfig.json
  packages/tools/fluid-runner/tsconfig.json
Labels: area: examples, area: runtime, area: dds, dependencies, area: tests, area: dds: propertydds, public api change, base: main

#13616 Fixed bug where GC state is not always reset as expected on refreshing from snapshot
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/runtime-utils/src/summarizerNode/summarizerNodeWithGc.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
Labels: area: runtime, area: tests, base: main

#13465 Riddler tenant key cache
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/cache.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/test-utils/src/testCache.ts
Labels: area: server, base: main

#13627 tools(docs): Update md-magic config to include prettier-ignore directives in generated content blocks
  README.md
  azure/packages/azure-client/README.md
  azure/packages/azure-local-service/README.md
  azure/packages/azure-service-utils/README.md
  azure/packages/external-controller/README.md
  azure/packages/test/end-to-end-tests/README.md
  azure/packages/test/scenario-runner/README.md
  common/build/eslint-config-fluid/README.md
  docs/README.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/counter.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/md-magic.config.js
  examples/apps/collaborative-textarea/README.md
  examples/apps/contact-collection/README.md
  examples/apps/data-object-grid/README.md
  examples/apps/view-framework-sampler/README.md
  examples/data-objects/canvas/README.md
  examples/data-objects/clicker/README.md
  examples/data-objects/codemirror/README.md
  examples/data-objects/diceroller/README.md
  examples/data-objects/monaco/README.md
  examples/data-objects/multiview/container/README.md
  examples/data-objects/presence-tracker/README.md
  examples/data-objects/prosemirror/README.md
  examples/data-objects/shared-text/README.md
  examples/data-objects/smde/README.md
  examples/data-objects/table-view/README.md
  examples/data-objects/task-selection/README.md
  examples/data-objects/todo/README.md
  examples/data-objects/webflow/README.md
  examples/hosts/app-integration/container-views/README.md
  examples/hosts/app-integration/external-views/README.md
  examples/hosts/app-integration/schema-upgrade/README.md
  examples/hosts/hosts-sample/README.md
  packages/dds/cell/README.md
  packages/dds/counter/README.md
  packages/dds/quorum/README.md
  packages/dds/task-manager/README.md
  packages/framework/oldest-client-observer/README.md
  packages/tools/client-debugger/client-debugger-chrome-extension/README.md
  packages/tools/client-debugger/client-debugger-view/README.md
  packages/tools/client-debugger/client-debugger/README.md
  tools/api-markdown-documenter/README.md
Labels: documentation, area: examples, area: framework, area: dds, area: website, base: main

#13110 Remove note from all recipes affected by buffer to install package
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/audience-react.md
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
Labels: documentation, base: main

#13629 Fix event name for op reentry
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: next, msftbot: merge-next

#13623 release(client): Tag asserts
  package-lock.json
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/tree/src/core/edit-manager/editManager.ts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/editable-tree/editableTree.ts
  packages/dds/tree/src/feature-libraries/editable-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markQueue.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/tracker.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/loader/driver-utils/src/mapWithExpiration.ts
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: odsp-driver, area: dds: tree, base: main

#13638 Update reviewers on automation prs
  .github/workflows/merge-commits.yml
Labels: area: build, base: main

#13162 Multi-regoin FRS perf test pipeline
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/TestDataObject.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/docCreatorRunnerClient.ts
  azure/packages/test/scenario-runner/src/docLoaderRunnerClient.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/mapTrafficRunnerClient.ts
  azure/packages/test/scenario-runner/src/orchestratorRunner.ts
  azure/packages/test/scenario-runner/src/test/mini.spec.ts
  azure/packages/test/scenario-runner/src/test/tsconfig.json
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/testConfig.yml
  azure/packages/test/scenario-runner/testConfigV2.yml
  azure/packages/test/scenario-runner/testConfig_v1.yml
  azure/packages/test/scenario-runner/tsconfig.esnext.json
  azure/packages/test/scenario-runner/tsconfig.json
  tools/pipelines/fluid-afr-perf-test.yml
Labels: area: build, base: main

#13505 Optimize MergeTree AttributionCollection perf
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/test/attributionCollection.perf.spec.ts
  packages/dds/merge-tree/src/textSegment.ts
Labels: area: dds, base: main

#13537 Improve how we wait for connected container in tests
  BREAKING.md
  api-report/test-utils.api.md
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: breaking change, area: tests, public api change, base: main

#13644 Remove Deprecated IFluidObject Interface
  BREAKING.md
  api-report/core-interfaces.api.md
  packages/common/core-interfaces/.eslintrc.js
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/fluidObject.ts
  packages/common/core-interfaces/src/index.ts
  packages/common/core-interfaces/src/test/tsconfig.json
  packages/common/core-interfaces/src/test/types/fluidObjectTypes.ts
  packages/common/core-interfaces/src/test/types/validateCoreInterfacesPrevious.generated.ts
  packages/common/core-interfaces/tsconfig.json
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
Labels: area: framework, breaking change, public api change, base: next

#13412 Always report "InstantiateRuntime" event to telemetry
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, community-contribution, base: main

#13429 Always report "WaitOps" and "WaitOpProcessing"
  packages/loader/container-loader/src/container.ts
Labels: area: loader, community-contribution, base: main

#13341 Create an undispose event for rolling back delete of a subdirectory
  api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
Labels: area: dds, area: tests, public api change, base: main

#13646 Rename Quorum DDS to PactMap
  .github/CODEOWNERS
  PACKAGES.md
  api-report/pact-map.api.md
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/schema-upgrade/package.json
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/migrationTool/migrationTool.ts
  packages/dds/pact-map/.eslintrc.js
  packages/dds/pact-map/.gitignore
  packages/dds/pact-map/.mocharc.js
  packages/dds/pact-map/.npmignore
  packages/dds/pact-map/LICENSE
  packages/dds/pact-map/README.md
  packages/dds/pact-map/api-extractor.json
  packages/dds/pact-map/package.json
  packages/dds/pact-map/prettier.config.cjs
  packages/dds/pact-map/src/index.ts
  packages/dds/pact-map/src/interfaces.ts
  packages/dds/pact-map/src/packageVersion.ts
  packages/dds/pact-map/src/pactMap.ts
  packages/dds/pact-map/src/pactMapFactory.ts
  packages/dds/pact-map/src/test/pactMap.spec.ts
  packages/dds/pact-map/src/test/tsconfig.json
  packages/dds/pact-map/tsconfig.esnext.json
  packages/dds/pact-map/tsconfig.json
Labels: area: examples, area: dds, area: build, public api change, base: main

#13640 fix: Handle creation range interleaving
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/id-compressor/SessionIdNormalizer.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/SessionIdNormalizer.tests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
Labels: area: dds, area: dds: tree, base: main

#13539 Adding documentation for noops
  common/lib/protocol-definitions/README.md
Labels: base: main

#13642 Docs for `@fluidframework/mocha-test-setup`
  packages/test/mocha-test-setup/README.md
  packages/test/mocha-test-setup/mocharc-common.js
Labels: area: tests, base: main

#12896 Support create fluid container on existing file
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewContainerOnExistingFile.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
Labels: area: driver, area: odsp-driver, community-contribution, base: main

#13649 release(build-tools): Bump 0.7.0 => 0.7.1 (patch)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#13446 Set maximumCacheDurationMs policy for Local Driver
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: driver, area: tests, base: main

#13413 Tweak "reportIfTooLong" comment to match implementation
  packages/loader/container-loader/src/container.ts
Labels: area: loader, community-contribution, base: main

#13617 Provide capability to dispose Container
  BREAKING.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  api-report/container-runtime.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/README.md
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: loader, breaking change, area: tests, public api change, base: main

#13634 GC Tombstone: Separate flags for Load v. Usage (required for recovery)
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/garbageCollectionTombstoneUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#13655 Trying to fix some of the doc corruption issues
  lerna-package-lock.json
  package-lock.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/pendingMessageReader.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testDeltaManager.ts
Labels: area: server, dependencies

#12216 add validation for no gap in ops
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
Labels: area: loader, base: main

#13653 Provide capability to dispose Container (#13617)
  BREAKING.md
  api-report/container-definitions.api.md
  api-report/container-loader.api.md
  api-report/container-runtime.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/README.md
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/test/containerContext.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summarizer.ts
  packages/runtime/container-runtime/src/summarizerTypes.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: runtime, area: loader, breaking change, area: tests, public api change, base: release

#13625 fix(client): Remove unused @types/node dependencies
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  examples/data-objects/webflow/tsconfig.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/tsconfig.json
  lerna-package-lock.json
  package-lock.json
  packages/common/container-definitions/package.json
  packages/common/container-definitions/tsconfig.json
  packages/dds/quorum/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  packages/test/test-utils/tsconfig.json
Labels: area: examples, area: runtime, area: dds, dependencies, area: tests, area: dds: propertydds, public api change

#13592 Add lumberjack propertied for better correlation
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#13657 fix: Handle creation range interleaving (integration)
  packages/dds/tree/src/id-compressor/idCompressor.ts
  packages/dds/tree/src/id-compressor/sessionIdNormalizer.ts
  packages/dds/tree/src/test/id-compressor/idCompressor.spec.ts
  packages/dds/tree/src/test/id-compressor/idCompressorTestUtilities.ts
  packages/dds/tree/src/test/id-compressor/sessionIdNormalizer.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13668 Fix FRS Perf Test pipeline
  tools/pipelines/fluid-afr-perf-test.yml
Labels: area: build, base: main

#13643 Perf with insecure token provider
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/docCreatorRunnerClient.ts
  azure/packages/test/scenario-runner/src/docLoaderRunnerClient.ts
  azure/packages/test/scenario-runner/src/mapTrafficRunnerClient.ts
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/testConfig_v1.yml
  tools/pipelines/fluid-afr-perf-test.yml
Labels: area: build, base: main

#13669 Patch 1.3 Release with ID Normalizer Fix
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/id-compressor/SessionIdNormalizer.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/SessionIdNormalizer.tests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
Labels: area: dds, base: release

#13671 Fix build of request-handler tests
  packages/framework/request-handler/package.json
  packages/framework/request-handler/src/test/tsconfig.json
Labels: area: framework, base: main

#13674 fix(generate:typetests): Generate using prepped data when branch has no config
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/typeValidator/packageJson.ts
  package.json
Labels: base: main

#13673 Perf: disable 'unicore/no-for-loop'
  common/build/eslint-config-fluid/eslint7.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: base: main

#13677 build(check:policy): Remove unused stringify import
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#13665 deps(azure): Update deps on client release group to latest minor prerelease
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: main

#13676 release(build-tools): Bump 0.7.1 => 0.8.0 (minor)
  build-tools/lerna.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/packageVersion.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/packageVersion.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/bundle-size-tools/src/packageVersion.ts
  build-tools/packages/version-tools/package.json
  build-tools/packages/version-tools/src/packageVersion.ts
  build-tools/pnpm-lock.yaml
Labels: base: main

#13684 fix(client): Remove unused @types/node dependencies (#13625)
  api-report/container-definitions.api.md
  api-report/container-runtime.api.md
  examples/data-objects/webflow/tsconfig.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-dds/tsconfig.json
  lerna-package-lock.json
  package-lock.json
  packages/common/container-definitions/package.json
  packages/common/container-definitions/tsconfig.json
  packages/dds/quorum/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/datastore-definitions/package.json
  packages/runtime/runtime-definitions/package.json
  packages/test/test-utils/tsconfig.json
Labels: area: examples, area: runtime, area: dds, dependencies, area: tests, area: dds: propertydds, public api change, base: release

#13682 fix: Handle creation range interleaving (#13640)
  experimental/dds/tree/src/id-compressor/IdCompressor.ts
  experimental/dds/tree/src/id-compressor/SessionIdNormalizer.ts
  experimental/dds/tree/src/test/IdCompressor.tests.ts
  experimental/dds/tree/src/test/SessionIdNormalizer.tests.ts
  experimental/dds/tree/src/test/utilities/IdCompressorTestUtilities.ts
Labels: area: dds, base: release

#13667 deps(client): Add missing dependencies
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  lerna-package-lock.json
  packages/dds/pact-map/package.json
  packages/tools/client-debugger/client-debugger/package.json
Labels: area: dds, dependencies, area: dds: propertydds, base: main

#13663 Change Policy Handler Resolver
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#13662 Check lint & lint:fix script Format and Ignore Warnings
  build-tools/packages/build-tools/src/fluidBuild/fluidPackageCheck.ts
Labels: base: main

#13690 deps(azure): Update deps on client release group to latest minor prerelease
  azure/lerna-package-lock.json
  azure/packages/azure-client/package.json
  azure/packages/external-controller/package.json
  azure/packages/test/end-to-end-tests/package.json
  azure/packages/test/scenario-runner/package.json
Labels: base: release

#13685 Attempt to fetch deltas from storage before marking doc as corrupt
  lerna-package-lock.json
  package-lock.json
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/pendingMessageReader.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testDeltaManager.ts
Labels: area: server, dependencies, base: main

#13510 Restructured data to use objects and Responses
  examples/hosts/app-integration/external-data/.eslintrc.js
  examples/hosts/app-integration/external-data/package.json
  examples/hosts/app-integration/external-data/src/mock-service-interface/dataParsing.ts
  examples/hosts/app-integration/external-data/src/mock-service-interface/fence.json
  examples/hosts/app-integration/external-data/src/mock-service-interface/index.ts
  examples/hosts/app-integration/external-data/src/mock-service/externalData.ts
  examples/hosts/app-integration/external-data/src/mock-service/fence.json
  examples/hosts/app-integration/external-data/src/mock-service/service.ts
  examples/hosts/app-integration/external-data/src/model-interface/index.ts
  examples/hosts/app-integration/external-data/src/model/taskList.ts
  examples/hosts/app-integration/external-data/src/view/debugView.tsx
  examples/hosts/app-integration/external-data/tests/mockService.test.ts
  examples/hosts/app-integration/external-data/tests/mockServiceWebhook.test.ts
  examples/hosts/app-integration/external-data/tests/taskList.test.ts
Labels: area: examples, base: main

#13551 Tree: initial BasicChunk support for chunked-forest
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/fence.json
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13648 r11s: utilize Throttling weight for submitOp and submitSignal
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/io.spec.ts
Labels: area: server, base: main

#13678 r11s: Add telemetry around throttling internal cache
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services/src/throttler.ts
Labels: area: server, base: main

#13691 Container should remove listeners upon closure
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, base: main

#13696 release(client): Update deps (latest) on released prerelease packages in the client release group
  examples/utils/example-utils/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  experimental/PropertyDDS/services/property-query-service/package.json
  experimental/framework/get-container/package.json
  packages/dds/matrix/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-utils/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/tools/webpack-fluid-loader/package.json
  packages/utils/tool-utils/package.json
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, base: next

#13701 enable checkpoint heuristics and add checkpointing logs in deli
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#13699 fix(check:policy): Ignore packages that don't have pre-requisite scripts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/npmPackages.ts
Labels: base: main

#13654 Add collaborativeTextArea to sharedString
  packages/tools/client-debugger/client-debugger-view/src/components/data-object-views/SharedStringView.tsx
Labels: base: main

#13681 Add NestedMap utilities
  packages/dds/tree/src/test/util/nestedMap.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/nestedMap.ts
Labels: area: dds, area: dds: tree, base: main

#13703 Move Test Only Metric from MergeTree Client to TestClient
  api-report/merge-tree.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/beastTest.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/sequence/src/test/testFarm.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: next

#13650 Remove TODOs from PactMap
  packages/dds/pact-map/src/pactMap.ts
  packages/dds/pact-map/src/test/pactMap.spec.ts
Labels: area: dds, base: main

#13708 docs: Update compressor readme link
  packages/dds/tree/src/id-compressor/README.md
Labels: area: dds, area: dds: tree, base: main

#13606 GC Tombstone: Add allowTombstone request header to enable apps to recover documents from GC-blocking bugs
  api-report/container-runtime.api.md
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#13710 Revert reentry stress tests next - again
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: next, msftbot: merge-next

#13706 Tree: simplify and fix return rebasing
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
Labels: area: dds, area: dds: tree, base: main

#13712 GC Tombstones: cherry-pick commits from main for tombstone feature
  api-report/container-runtime.api.md
  api-report/runtime-utils.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/garbageCollection.ts
  packages/runtime/container-runtime/src/garbageCollectionConstants.ts
  packages/runtime/container-runtime/src/garbageCollectionTombstoneUtils.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, public api change, base: release
