Repository microsoft/FluidFramework, pull requests merged in 2024-09, with the labels that each got.

#22358 test(client): correct entryPoint cast
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: tests, base: main

#22360 feat(build-cli): New re-usable flag for parsing version strings
  build-tools/packages/build-cli/docs/modify.md
  build-tools/packages/build-cli/src/commands/check/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/modify/lockfile.ts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/flags.ts
Labels: area: build, base: main

#22337 Cleanup imports in tree-react-utils
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.ts
  experimental/framework/tree-react-api/src/testExports.ts
Labels: area: dev experience, base: main

#22203 ci(client): Fix client trigger on any edit to root files
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22338 tree: simple-tree optimized unboxing policy
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/README.md
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/unboxed.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
Labels: area: dds, area: dds: tree, base: main

#22359 build(client): add experimental presence package
  PACKAGES.md
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/.npmignore
  packages/framework/presence/LICENSE
  packages/framework/presence/README.md
  packages/framework/presence/api-extractor.json
  packages/framework/presence/api-extractor/api-extractor-lint-bundle.json
  packages/framework/presence/api-extractor/api-extractor-lint-index.cjs.json
  packages/framework/presence/api-extractor/api-extractor-lint-index.esm.json
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/api-report/presence.public.api.md
  packages/framework/presence/package.json
  packages/framework/presence/prettier.config.cjs
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/test/empty.ts
  packages/framework/presence/src/test/tsconfig.json
  packages/framework/presence/tsconfig.cjs.json
  packages/framework/presence/tsconfig.json
  packages/framework/presence/tsdoc.json
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main

#22369 tree: Refactor tree node kernel
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
Labels: area: dds, area: dds: tree, base: main

#22333 tree: Destroy newly created nodes when aborting a transaction
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22368 tree: Improve TreeChangeEvents docs
  packages/dds/tree/src/simple-tree/core/types.ts
Labels: area: dds, area: dds: tree, base: main

#22231 Add unit test for generateStack
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#22366 tree: Refer to property keys, not view keys
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22367 tree: Track which fields change in anchorSet
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22302 feat(build-cli): New command check:prApproval
  .github/CODEOWNERS
  .github/workflows/required-reviewers-release.yml
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/check/prApproval.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/library/githubRest.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22373 ci: Update workflow permissions
  .github/workflows/required-reviewers-release.yml
Labels: area: build, base: main

#22284 Add isEphemeralContainer information to session logs
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#22372 tree: Fix bug with rebasing over conflicted change
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22376 Revert exclusion of dist/lib from autoimport paths
  .vscode/settings.json
  packages/dds/tree/.vscode/Tree.code-workspace
Labels: area: contributor experience, base: main

#22310 Offline: Detect duplicate sequenced batches and close the container
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/duplicateBatchDetector.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#22327 add encoding of identifiers in UniformChunk
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22245 Error handling in custom benchmark
  examples/benchmarks/tablebench/package.json
  packages/dds/tree/package.json
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/mocha/customOutputRunner.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#22323 refactor(build-tools): Move type test config and code to build-cli
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/typeValidator/changeToNamedExports.ts
  build-tools/packages/build-cli/src/typeValidator/compatibility.ts
  build-tools/packages/build-cli/src/typeValidator/testGeneration.ts
  build-tools/packages/build-cli/src/typeValidator/typeData.ts
  build-tools/packages/build-cli/src/typeValidator/typeDecomposition.ts
  build-tools/packages/build-cli/src/typeValidator/typeValidatorConfig.ts
  build-tools/packages/build-cli/src/typeValidator/validatorUtils.ts
  build-tools/packages/build-cli/test/commands/generate/typetests.test.ts
  build-tools/packages/build-cli/test/commands/typetests.test.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/typeTests.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/index.ts
Labels: area: build, base: main

#22384 Disable 'migrates after summarizer has connected' test for investigation
  examples/version-migration/separate-container/tests/separateContainer.test.ts
Labels: area: examples, base: main

#22386 ci: Refactor release approval workflows into two pieces
  .github/CODEOWNERS
  .github/workflows/release-approval.yml
  .github/workflows/release-branches.yml
  .github/workflows/required-reviewers-release.yml
Labels: area: build, base: main

#22229 feat(tree): Include list of properties that changed in nodeChanged event
  .changeset/wet-hoops-drop.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/treeApiBeta.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/core/withType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22393 improvement(build-cli): Remove lint disables and fix violations
  build-tools/packages/build-cli/src/typeValidator/changeToNamedExports.ts
  build-tools/packages/build-cli/src/typeValidator/compatibility.ts
  build-tools/packages/build-cli/src/typeValidator/typeData.ts
  build-tools/packages/build-cli/src/typeValidator/typeDecomposition.ts
  build-tools/packages/build-cli/src/typeValidator/validatorUtils.ts
Labels: area: build, base: main

#22363 Revert "Enable noUncheckedIndexedAccess for merge tree (#21461)" and disable noUncheckedIndexedAccess
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/merge-tree/tsconfig.json
Labels: area: dds, base: main

#22175 Replace summaryOnDemand by summarizeNow
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
Labels: area: tests, base: main

#22387 docs: reorganize and clean up dds type overview page
  docs/content/docs/data-structures/overview.md
Labels: documentation, base: main

#22356 Update container runtime to only call batch begin and end on schedule manager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/test/batching.spec.ts
  packages/runtime/container-runtime/src/test/scheduleManager.spec.ts
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: tests, base: main

#22131 feat(generate:typetests): Add per-package typetest entrypoint config
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/typeValidator/typeValidatorConfig.ts
  build-tools/packages/build-cli/test/commands/typetests.test.ts
Labels: area: build, base: main

#22388 Update axios dependencies
  azure/packages/test/scenario-runner/package.json
  docs/pnpm-lock.yaml
  examples/apps/attributable-map/webpack.config.cjs
  examples/apps/collaborative-textarea/webpack.config.cjs
  examples/apps/collaborative-textarea/webpack.test.cjs
  examples/apps/contact-collection/webpack.config.cjs
  examples/apps/contact-collection/webpack.test.cjs
  examples/apps/data-object-grid/webpack.config.cjs
  examples/apps/presence-tracker/webpack.config.cjs
  examples/apps/presence-tracker/webpack.test.cjs
  examples/apps/task-selection/webpack.config.cjs
  examples/apps/task-selection/webpack.test.cjs
  examples/apps/tree-comparison/webpack.config.cjs
  examples/apps/tree-comparison/webpack.test.cjs
  examples/benchmarks/bubblebench/baseline/webpack.config.cjs
  examples/data-objects/canvas/webpack.config.cjs
  examples/data-objects/diceroller/webpack.config.cjs
  examples/data-objects/webflow/webpack.config.cjs
  examples/external-data/webpack.config.cjs
  examples/external-data/webpack.test.cjs
  examples/service-clients/azure-client/external-controller/package.json
  examples/service-clients/azure-client/external-controller/webpack.config.cjs
  examples/service-clients/azure-client/external-controller/webpack.test.cjs
  examples/service-clients/odsp-client/shared-tree-demo/webpack.config.cjs
  examples/utils/webpack-fluid-loader/package.json
  examples/version-migration/live-schema-upgrade/webpack.config.cjs
  examples/version-migration/live-schema-upgrade/webpack.test.cjs
  examples/version-migration/same-container/webpack.config.cjs
  examples/version-migration/same-container/webpack.test.cjs
  examples/version-migration/separate-container/webpack.config.cjs
  examples/version-migration/separate-container/webpack.test.cjs
  examples/version-migration/tree-shim/webpack.config.cjs
  examples/version-migration/tree-shim/webpack.test.cjs
  examples/view-integration/container-views/webpack.config.cjs
  examples/view-integration/external-views/webpack.config.cjs
  examples/view-integration/external-views/webpack.test.cjs
  examples/view-integration/view-framework-sampler/webpack.config.cjs
  examples/view-integration/view-framework-sampler/webpack.test.cjs
  experimental/PropertyDDS/packages/property-dds/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/loader/driver-utils/package.json
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/test/test-drivers/package.json
  packages/tools/devtools/devtools-browser-extension/webpack.config.cjs
  packages/tools/devtools/devtools-browser-extension/webpack.test.cjs
  packages/tools/devtools/devtools-example/webpack.config.cjs
  pnpm-lock.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, area: loader, area: driver, dependencies, area: website, area: tests, area: dds: propertydds, base: main

#22385 docs: Update minimum Node.js requirements documented on our website to match current policy
  docs/_includes/node-versions.md
Labels: area: website, base: main

#22397 Revert "ci(client): Fix client trigger on any edit to root files"
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22378 Revert "Enable noUncheckedIndexedAccess for DDSes excluding tree and merge-tree (#21420)" and disable noUncheckedIndexedAccess
  packages/dds/ink/src/inkCanvas.ts
  packages/dds/ink/src/snapshot.ts
  packages/dds/ink/tsconfig.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/tsconfig.json
  packages/dds/matrix/src/handlecache.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/sparsearray2d.ts
  packages/dds/matrix/src/undoprovider.ts
  packages/dds/matrix/tsconfig.json
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/register-collection/tsconfig.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/tsconfig.json
  packages/dds/shared-object-base/tsconfig.json
Labels: area: dds, area: dds: sharedstring, base: main

#22382 Revert "Enable noUncheckedIndexedAccess for routerlicious (#21487)"
  packages/drivers/routerlicious-driver/src/createNewUtils.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/r11sSnapshotParser.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
  packages/drivers/routerlicious-driver/src/urlUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/tsconfig.json
  packages/drivers/routerlicious-urlResolver/src/urlResolver.ts
  packages/drivers/routerlicious-urlResolver/tsconfig.json
Labels: area: driver, base: main

#22348 disable noUncheckedIndexedAccess for some packages
  packages/common/core-utils/src/compare.ts
  packages/common/core-utils/src/heap.ts
  packages/common/core-utils/tsconfig.json
  packages/drivers/driver-base/src/driverUtils.ts
  packages/drivers/driver-base/tsconfig.json
  packages/drivers/driver-web-cache/src/scheduleIdleTask.ts
  packages/drivers/driver-web-cache/tsconfig.json
  packages/drivers/file-driver/src/fileDeltaStorageService.ts
  packages/drivers/file-driver/src/fileDocumentStorageService.ts
  packages/drivers/file-driver/tsconfig.json
  packages/drivers/odsp-urlResolver/src/urlResolver.ts
  packages/drivers/odsp-urlResolver/tsconfig.json
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/drivers/replay-driver/tsconfig.json
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/drivers/tinylicious-driver/tsconfig.json
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/tsconfig.json
Labels: area: framework, area: driver, area: odsp-driver, base: main

#22402 ci: Use custom scoped token in release approval workflow
  .github/workflows/release-approval.yml
Labels: area: build, base: main

#22320 Add /legacy entrypoint for @fluidframework/tree
  .changeset/whole-carpets-sell.md
  packages/dds/tree/README.md
  packages/dds/tree/api-extractor.json
  packages/dds/tree/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/dds/tree/api-extractor/api-extractor-lint-legacy.esm.json
  packages/dds/tree/api-extractor/api-extractor.current.json
  packages/dds/tree/api-extractor/api-extractor.legacy.json
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/package.json
Labels: area: dds, public api change, area: dds: tree, base: main, changeset-present

#22390 Make tests less likely to flake
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithLocalChanges.spec.ts
Labels: area: tests, base: main

#22379 Revert "Enable noUncheckedIndexedAccess for container-runtime (#21488)"
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/tsconfig.json
Labels: area: runtime, base: main

#22380 Revert "Enable noUncheckedIndexedAccess for loader packages (#21485)"
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/container-loader/tsconfig.json
  packages/loader/driver-utils/src/adapters/compression/summaryblob/documentStorageServiceSummaryBlobCompressionAdapter.ts
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
  packages/loader/driver-utils/src/protocol/gitHelper.ts
  packages/loader/driver-utils/tsconfig.json
Labels: area: loader, base: main

#22305 feat(build-cli): New promote:package command
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/promote.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/promote/package.ts
  build-tools/packages/build-cli/src/commands/publish/tarballs.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/text.ts
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#22396 tree: Expose and sometimes use stored schema from flex tree
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22406 Revert "feat(build-cli): New promote:package command"
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/promote.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/promote/package.ts
  build-tools/packages/build-cli/src/commands/publish/tarballs.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/text.ts
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#22325 refactor(build-tools): Reorganize build-tools files in preparation for splitting out fluid-build
  build-tools/packages/build-tools/bin/fluid-tsc
  build-tools/packages/build-tools/src/common/biomeConfig.ts
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/commonOptions.ts
  build-tools/packages/build-tools/src/fluidBuild/fileHashCache.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuildConfig.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepo.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidTsc/fluidTsc.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/hash.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/apiExtractorTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/biomeTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/generateEntrypointsTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/lintTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/renamerTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/ts2EsmTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/tscWorker.ts
  build-tools/packages/build-tools/src/fluidBuild/tsCompile.ts
  build-tools/packages/build-tools/src/fluidBuild/tscUtils.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/test/biomeConfig.test.ts
Labels: area: build, base: main

#22375 doc(tree): add quick start guide for using shared tree
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22413 fix: fix lint:fix linting script
  docs/package.json
Labels: area: website, base: main

#22391 Revert test timeout back to 2 seconds for local server
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#22416 tree: Simplify revertible coupling
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/revertible.ts
  packages/dds/tree/src/core/revertible/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22417 fix(ci): Only try to do code-coverage report steps if the report exists
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#22414 docs: link to tree quick start guide
  docs/content/docs/data-structures/tree.md
  packages/dds/tree/README.md
Labels: documentation, area: dds, area: dds: tree, base: main

#22407 Update build-tools versions to latest (0.44.0)
  build-tools/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/common-utils/src/test/types/validateCommonUtilsPrevious.generated.ts
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#22408 tree: Move logic from proxy binding to node kernel
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/ProxyBinding.md
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
Labels: area: dds, area: dds: tree, base: main

#22409 Skip e2e blob test for r11s
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: tests, base: main

#22364 Revert "Enable noUncheckedIndexedAccess for ODSP driver (#21461)" and disable noUncheckedIndexedAccess
  packages/drivers/odsp-driver/src/ReadBufferUtils.ts
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/odspUrlHelper.ts
  packages/drivers/odsp-driver/src/zipItDataRepresentationUtils.ts
  packages/drivers/odsp-driver/tsconfig.json
Labels: area: driver, area: odsp-driver, base: main

#22381 server: add collab session tracking to Nexus lambda
  server/routerlicious/.changeset/large-rockets-attend.md
  server/routerlicious/.changeset/many-hornets-sink.md
  server/routerlicious/.changeset/shy-rivers-buy.md
  server/routerlicious/.changeset/twelve-bats-open.md
  server/routerlicious/.vscode/settings.json
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/disconnect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/interfaces.ts
  server/routerlicious/packages/lambdas/src/nexus/protocol.ts
  server/routerlicious/packages/lambdas/src/nexus/utils.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/nexus/io.spec.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/collabSession.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/redisSessionManager.ts
  server/routerlicious/packages/services/src/sessionTracker.ts
Labels: area: server, base: main, changeset-present

#22412 Disable some gc/summarizer tests for standalone R11s
  packages/test/test-end-to-end-tests/src/test/gc/gcIncrementalSummaries.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: tests, base: main

#22423 doc: remove unnecessary aliases
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22426 doc: add note about the id compressor in quick start doc
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22415 feat(generate:releaseNotes): Add inline links to headings
  .github/workflows/data/release-notes-issue-intro.md
  .github/workflows/data/release-notes-issue-intro.njk
  .github/workflows/release-notes-issue.yml
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/releaseNotes.ts
  build-tools/packages/build-cli/src/library/markdown.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22427 doc: fix code example for editing a shared tree
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22424 Remove a couple deps on flex tree schema
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
Labels: area: dds, area: dds: tree, base: main

#22410 bug(build-cli): fix promote:package
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/promote.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/promote/package.ts
  build-tools/packages/build-cli/src/commands/publish/tarballs.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/text.ts
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#22361 refator: Make e2e tests for OpRoundtripTime telemetry more robust
  packages/test/test-end-to-end-tests/src/test/opPerfTelemetry.spec.ts
Labels: area: tests, base: main

#22405 Use the net Library for IP Type
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
Labels: area: server, base: main

#22420 Update/remove some deps using old semver
  azure/packages/azure-local-service/package.json
  examples/apps/data-object-grid/package.json
  examples/benchmarks/bubblebench/shared-tree/package.json
  examples/data-objects/monaco/package.json
  package.json
  packages/tools/changelog-generator-wrapper/package.json
  pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, dependencies, base: main

#22422 tree: Add UnhydratedContext
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22439 server: Use key for docId tenantId instead of nexus session redis fields
  server/routerlicious/packages/services/src/redisSessionManager.ts
Labels: area: server, base: main

#22437 fix(build-tools): restore support for older git versions
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-tools/src/common/gitRepo.ts
  build-tools/packages/build-tools/src/common/utils.ts
Labels: area: build, base: main

#22440 tree: Reduce use of flex tree types and schema
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/schemaCaching.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
Labels: area: dds, area: dds: tree, base: main

#22429 ci: Use correct template path in release notes workflow
  .github/workflows/release-notes-issue.yml
Labels: area: build, base: main

#22431 fix(generate:changelog): Strip additional metadata when loading changesets for changelogs
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
Labels: area: build, base: main

#22446 MergeTree: Fix Text Client Logger for Obliterate
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#22445 ci(client): trigger build client on changes to root directory
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22444 tree: Cleanup toMapTree typing
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22438 Disable Flaky attribution tests for r11s driver
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
Labels: area: tests, base: main

#22450 Revert "ci(client): trigger build client on changes to root directory"
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22443 fix(generate:typetests): Move type compat exports back to build-tools
  build-tools/packages/build-tools/src/common/typeCompatibility.ts
  build-tools/packages/build-tools/src/index.ts
Labels: area: build, base: main

#22435 fix(client): `exactOptionalPropertyTypes` clean up
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/test/types/validateDatastoreDefinitionsPrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/requestParser.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: framework, area: runtime, area: loader, area: tests, public api change, base: main

#22430 doc: reformat schema factory modes table
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
Labels: area: dds, area: dds: tree, base: main

#22449 MergeTree: Enable Obliterate in Conflict Farm, and Capture Results
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.replay.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/results/len_1-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_1-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_1-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_128-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_128-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_128-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_16-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_16-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_16-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_2-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_2-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_2-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_256-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_256-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_256-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_32-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_32-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_32-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_4-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_4-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_4-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_512-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_512-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_512-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_64-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_64-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_64-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_8-clients_2-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_8-clients_4-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/results/len_8-clients_8-conflict-farm-with-obliterate-2.3.0.json
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#22453 tree: Implicitly constructed object nodes now only consider own properties during validation
  .changeset/twelve-shrimps-jog.md
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#22436 feat(client): experimental presence API
  fluidBuild.config.cjs
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/api-extractor.json
  packages/framework/presence/api-extractor/api-extractor-lint-bundle.json
  packages/framework/presence/api-extractor/api-extractor-lint-index.cjs.json
  packages/framework/presence/api-extractor/api-extractor-lint-index.esm.json
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/package.json
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/cjs/package.json
  packages/framework/presence/src/core-interfaces/exposedUtilityTypes.ts
  packages/framework/presence/src/core-interfaces/index.ts
  packages/framework/presence/src/core-interfaces/jsonDeserialized.ts
  packages/framework/presence/src/core-interfaces/jsonSerializable.ts
  packages/framework/presence/src/core-interfaces/jsonSerializationErrors.ts
  packages/framework/presence/src/core-interfaces/jsonType.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/events/events.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/exposedUtilityTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueControls.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/test/core-interfaces/jsonDeserialized.spec.ts
  packages/framework/presence/src/test/core-interfaces/jsonSerializable.exactOptionalPropertyTypes.false.spec.ts
  packages/framework/presence/src/test/core-interfaces/jsonSerializable.exactOptionalPropertyTypes.true.spec.ts
  packages/framework/presence/src/test/core-interfaces/jsonSerializable.spec.ts
  packages/framework/presence/src/test/core-interfaces/testUtils.ts
  packages/framework/presence/src/test/core-interfaces/testValues.ts
  packages/framework/presence/src/test/core-interfaces/tsconfig.no-exactOptionalPropertyTypes.json
  packages/framework/presence/src/test/empty.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/test/tsconfig.cjs.json
  packages/framework/presence/src/test/tsconfig.json
  packages/framework/presence/src/types.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main

#22459 Edit changeset
  .changeset/twelve-shrimps-jog.md
Labels: base: main, changeset-present

#22389 Expose getAliasedDataStoreEntryPoint on IContainerRuntimeBase
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.alpha.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-utils/package.json
Labels: area: framework, area: runtime, area: tests, public api change, base: main

#22460 tree: Remove FlexTreeField.isExactly
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22461 tree: Organize simple tree code
  packages/dds/tree/src/simple-tree/api/getJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/jsonSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/walkSchema.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22442 server: Use HSCAN for Nexus getAllSessions
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/redisSessionManager.ts
  server/routerlicious/packages/services/src/test/redisSessionManager.spec.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#22467 Fixup some changesets
  .changeset/smooth-yaks-unite.md
  .changeset/wet-hoops-drop.md
Labels: base: main, changeset-present

#22464 fix(generate:releaseNotes): Fix broken TOC links in release notes
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/releaseNotes.ts
  build-tools/packages/build-cli/src/library/markdown.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22473 fix(odsp-client): Fail earlier when OdspTestTokenProvider cannot auth
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
Labels: base: main

#22468 Update common-utils dependencies to align with the rest of the repo
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/common-utils/src/bufferNode.ts
  common/lib/common-utils/src/hashFileBrowser.ts
  common/lib/common-utils/src/hashFileNode.ts
  common/lib/common-utils/src/rangeTracker.ts
  common/lib/common-utils/src/test/jest/buffer.spec.ts
  common/lib/common-utils/src/test/jest/gitHash.spec.ts
  common/lib/common-utils/src/test/mocha/assert.spec.ts
  common/lib/common-utils/src/test/mocha/idleTaskScheduler.spec.ts
  common/lib/common-utils/src/test/mocha/promiseCache.spec.ts
  common/lib/common-utils/src/test/mocha/rangeTracker.spec.ts
  common/lib/common-utils/src/test/mocha/timer.spec.ts
  common/lib/common-utils/src/test/mocha/typedEventEmitter.spec.ts
Labels: base: main

#22470 tree: Mark internal types as system types
  packages/dds/tree/src/feature-libraries/typed-schema/flexList.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/util/typeUtils.ts
Labels: area: dds, area: dds: tree, base: main

#22433 improvement(build-cli): Handle changesets that apply to no packages
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
Labels: area: build, base: main

#22477 docs: add link to tree undo redo blog post
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22478 docs: change root schema in quick start example
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#22472 tree: Document unhydrated issues
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22471 tree: Group map tree node array tests
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22484 Restore patch for API-Extractor
  patches/@microsoft__api-extractor@7.45.1.patch
Labels: base: main

#22485 fix(ci): Add 'patches' folder to pipeline triggers that need them
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-protocol-definitions.yml
Labels: area: build, base: main

#22481 improvement(client): experimental Presence API update
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/types.ts
Labels: area: framework, public api change, base: main

#22486 build: exclude alpha APIs from review requirement
  .github/CODEOWNERS
Labels: area: build, base: main

#22465 Move webpack-fluid-loader from deprecated methods to setupMiddlewares
  examples/utils/webpack-fluid-loader/src/index.ts
  examples/utils/webpack-fluid-loader/src/routes.ts
Labels: area: examples, base: main

#22476 [bump] build-tools: 0.45.0 => 0.46.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22480 build(server): Upgrade express to 4.21.0 and body-parser to 1.20.3
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#22494 fix(generate:typetests): Resolve symlinks to previous versions
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
Labels: area: build, base: main

#22487 docs(build-cli): Update type test documentation for 0.45
  build-tools/packages/build-cli/docs/typetestDetails.md
Labels: area: build, base: main

#22502 docs: Fix property name in type test docs
  build-tools/packages/build-cli/docs/typetestDetails.md
Labels: area: build, base: main

#22496 [bump] build-tools: 0.46.0 => 0.47.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22503 Tag asserts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/drivers/routerlicious-driver/src/sessionInfoManager.ts
  packages/framework/presence/src/events/events.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: driver, area: dds, area: dds: tree, base: main

#22498 fix(build-tools): use JSON5 to allow comments
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#22404 Some overdue cleanup from prior message layer/refactoring work
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/protocol/protocol.ts
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/messageRecognition.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  server/routerlicious/packages/protocol-base/src/gitHelper.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, area: runtime, area: loader, base: main

#22507 Add deleted packages to changeset
  .changeset/hand-picked-string.md
Labels: base: main, changeset-present

#22506 Normalize @fluid-experimental/presence dep
  packages/framework/presence/package.json
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#22475 feat(client): Experimental presence implementation
  packages/framework/presence/src/container-definitions/containerExtensions.ts
  packages/framework/presence/src/container-definitions/index.ts
  packages/framework/presence/src/container-definitions/runtime.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/datastoreSupport.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueControls.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/valueManager.ts
  packages/framework/presence/tsconfig.json
Labels: area: framework, base: main

#22400 Pass down id compressor for in-memory identifier encoding
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeEnricher.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/sharedTreeEditBuilder.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22497 Offline: Only enable DuplicateBatchDetector if Offline Load is enabled
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/duplicateBatchDetector.spec.ts
Labels: area: runtime, base: main

#22493 Improve summary handle documentation examples
  packages/common/driver-definitions/src/protocol/summary.ts
  packages/runtime/container-runtime/src/summary/summaryFormats.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/summaryUtils.ts
Labels: area: runtime, public api change, base: main

#22501 ContaineRuntime: Refactor batch processing code to support either op-by-op or batch-all-at-once semantics
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/duplicateBatchDetector.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#22512 Update Obliterate.md to reflect implementation changes
  packages/dds/merge-tree/docs/Obliterate.md
Labels: area: dds, base: main

#22511 improvement(client): experimental presence use Session Id
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/package.json
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main

#22411 improvement(build-tools): Replace promisified functions with native Node implementations
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/fileHashCache.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/npmDepChecker.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/symlinkUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/flubTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/prettierTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskUtils.ts
Labels: area: build, base: main

#22466 feat(build-cli): New command transform:releaseNotes
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/transform.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/releaseNotes.ts
  build-tools/packages/build-cli/src/commands/transform/releaseNotes.ts
  build-tools/packages/build-cli/src/library/markdown.ts
  build-tools/packages/build-cli/src/library/releaseNotes.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22515 fix(client): send Presence initial values (when added)
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
Labels: area: framework, base: main

#22321 Client support for targeted signals
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/messages.ts
  packages/common/core-interfaces/src/test/types/validateCoreInterfacesPrevious.generated.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/local-driver/src/localDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/localTestSignals.spec.ts
  server/routerlicious/packages/lambdas/src/utils/messageGenerator.ts
Labels: area: server, area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, base: main

#22510 MergeTree: Conflict Farm Support Apply Ops During Generations
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#22519 Add Biome extension for VSCode by default to our codespaces
  .devcontainer/devcontainer.json
Labels: base: main

#22518 fix(client-presence): clientValues impl+
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
Labels: area: framework, public api change, base: main

#22508 ContainerRuntime: Process incoming batches op-by-op instead of waiting for the whole batch
  .changeset/metal-hornets-travel.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main, changeset-present

#22499 build(client): publish experimental presence
  .changeset/moody-rats-cover.md
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  fluidBuild.config.cjs
  packages/framework/presence/README.md
  packages/framework/presence/package.json
  packages/framework/presence/src/index.ts
Labels: area: framework, release-blocking, base: main, changeset-present

#22509 Revert back PR #21785. Process ops by batches in remoteMessageProcessor and pendingStateManager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: release

#22523 Tag asserts for reelase
  packages/framework/presence/src/datastoreSupport.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, base: main

#22462 MergeTree: Move Obliterate to use local references
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/reconnectHelper.ts
Labels: area: dds, public api change, base: main

#22517 build(client): container-runtime coverage over ESM
  packages/runtime/container-runtime/package.json
Labels: area: runtime, base: main

#22489 build(client): fix client-utils api-reports
  packages/common/client-utils/api-report/client-utils.legacy.public.api.md
  packages/common/client-utils/package.json
Labels: public api change, base: main

#22520 test(client): example experimental presence use
  examples/service-clients/azure-client/external-controller/README.md
  examples/service-clients/azure-client/external-controller/package.json
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/controller.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  examples/service-clients/azure-client/external-controller/tests/index.ts
  examples/service-clients/azure-client/external-controller/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22524 Remove FlexTreeView
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#22529 Hide part of code behind feature flag
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#22530 Tag Asserts for 2.3 for a third time
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, base: main

#22531 Add diagnostics to ConsensusQueue in handle validation tests
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
Labels: area: tests, base: main

#22536 Tag Asserts 4
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#22541 Add 2.3 release notes
  RELEASE_NOTES/2.3.0.md
Labels: base: main

#22538 improvement(tree): Simpler JSON schema in non-polymorphic field cases
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/jsonSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/getJsonSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22542 Add 2.3 release notes
  RELEASE_NOTES/2.3.0.md
Labels: base: release

#22526 tree: Follow best practices in JsonDomain Schema
  packages/dds/tree/src/test/json/jsonDomainSchema.ts
Labels: area: dds, area: dds: tree, base: main

#20980 feat(tree): Support field schema metadata
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/package.json
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/jsonSchema.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/getJsonSchema.spec.ts
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22547 tree: Expose the view schema on TreeView
  .changeset/dark-circles-whine.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22549 fix(build-tools): Update version argument in package promotion command to correct parameter
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, base: main

#22463 tree: Fix bug with updating ancestry table when composing moved nodes
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22544 test(tree): Remove unused test utils
  packages/dds/tree/src/test/feature-libraries/sequence-field/randomChangeGenerator.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/randomChangeGenerator.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceField.spec.ts
Labels: area: dds, area: dds: tree, base: main
