Repository microsoft/FluidFramework, pull requests merged in 2024-12, with the labels that each got.

#23212 Enabled graceful Redis shutdown in r11
  server/routerlicious/.changeset/dirty-keys-follow.md
  server/routerlicious/.changeset/new-eagles-drive.md
  server/routerlicious/.changeset/silly-papayas-hammer.md
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/runnerUtils.ts
Labels: area: server, base: main, changeset-present

#23224 Tag asserts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/defaultResubmitMachine.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: driver, area: dds, area: odsp-driver, area: dds: tree, base: main

#23225 Enabled redis graceful shutdown in Gitrest and Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/filesystems.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/pnpm-lock.yaml
  server/routerlicious/.changeset/dirty-keys-follow.md
  server/routerlicious/.changeset/silly-papayas-hammer.md
Labels: area: server, base: main, changeset-present

#23226 Tag new asserts for 2.11
  packages/dds/tree/src/feature-libraries/indexing/anchorTreeIndex.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23206 Release notes for 2.11
  .changeset/dull-words-work.md
  .changeset/long-hats-smile.md
  .changeset/new-hats-learn.md
  .changeset/shy-files-jam.md
  .changeset/slick-badgers-go.md
  .changeset/solid-keys-agree.md
  .changeset/stinky-shoes-melt.md
  RELEASE_NOTES/2.11.0.md
  packages/framework/presence/README.md
Labels: area: framework, base: main, changeset-present

#23228 Updated packages
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: base: main

#23173 move chunk.ts file to core/tree
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/chunk.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkCodecUtilities.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/emptyChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/sequenceChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23089 feat: Make NodeFromSchema work in more cases
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23233 refactor(shared-object-base): Move to recommended eslint base config
  packages/dds/shared-object-base/.eslintrc.cjs
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/src/remoteObjectHandle.ts
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/summarySerializer.ts
  packages/dds/shared-object-base/src/test/attachingBindingAndConnecting.spec.ts
  packages/dds/shared-object-base/src/test/createSharedObjectKind.spec.ts
  packages/dds/shared-object-base/src/test/serializer.spec.ts
  packages/dds/shared-object-base/src/test/sharedObject.spec.ts
  packages/dds/shared-object-base/src/test/utils.ts
  packages/dds/shared-object-base/src/utils.ts
Labels: area: dds, public api change, base: main

#23227 Added support for custom jwtid value
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, base: main

#23231 docs: Update many references to "FRS" with "AFR"
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/src/utils.ts
  docs/api/fallback/routes.js
  docs/docs/api/index.mdx
  docs/docs/build/overview.mdx
  docs/docs/deployment/azure-fluid-relay.mdx
  docs/docs/start/tutorial.mdx
  docs/docs/testing/testing.mdx
  docs/versioned_docs/version-1/api/fluid-framework.mdx
  docs/versioned_docs/version-1/api/index.mdx
  docs/versioned_docs/version-1/build/overview.mdx
  docs/versioned_docs/version-1/deployment/azure-fluid-relay.mdx
  docs/versioned_docs/version-1/start/tutorial.mdx
  docs/versioned_docs/version-1/testing/testing.mdx
  packages/service-clients/end-to-end-tests/azure-client/README.md
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/refreshSerializedStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/README.md
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
Labels: area: build, area: website, area: tests, base: main

#23242 refactor(gitrest): use strictNullChecks
  server/gitrest/.vscode/settings.json
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/fileSystemBase.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitConversions.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redis.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redisFsManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/readWholeSummary.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/writeWholeSummary.ts
  server/gitrest/packages/gitrest-base/tsconfig.json
  server/gitrest/packages/gitrest/tsconfig.json
Labels: area: server, base: main

#23240 refactor(historian): use strictNullChecks
  server/historian/.vscode/settings.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/definitions.ts
  server/historian/packages/historian-base/src/services/redisCache.ts
  server/historian/packages/historian-base/src/services/redisTenantCache.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/packages/historian-base/tsconfig.json
Labels: area: server, base: main

#23253 fix(server): retry correct number of times on error
  server/routerlicious/packages/services-core/.eslintrc.cjs
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/packages/services-core/src/test/runWithRetry.spec.ts
  server/routerlicious/packages/services-core/src/test/tsconfig.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-core/tsconfig.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#23251 docs: add alpha API support docs
  docs/docs/build/releases-and-apitags.mdx
Labels: area: website, base: main

#23245 fix(mocha-test-setup): Include context properties in test_Start and test_End events
  packages/test/mocha-test-setup/src/mochaHooks.ts
Labels: area: tests, base: main

#23220 ai-collab array schema requirement bugfix & 'Real' Prompt Snapshot unit tests
  packages/framework/ai-collab/src/explicit-strategy/promptGeneration.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/framework/ai-collab/src/test/ai-collab/taskPlanner.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_Nested_Array_Schema_But_No_Top_Level_Array.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_No_Plan_No_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_No_Plan_No_Log_No_Arrays.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_With_Plan_No_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_With_Plan_With_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Planning_System_Prompt.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Review_System_Prompt.snap
  packages/framework/ai-collab/src/test/explicit-strategy/promptGeneration.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/typeGeneration.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/utils.ts
Labels: area: framework, base: main

#23250 Use ADO feeds to install packages in CI builds
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#23241 Refactor SharedTree transactions to use a branch to track their state
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/branchCommitEnricher.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree-core/transaction.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree-core/transaction.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/snapshots/summary/Compressed/v1/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v2/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v1/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v2/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/optional-field-scenarios-final.json
Labels: area: dds, area: dds: tree, base: main

#23255 test(tree): add tests for re-indexing up a spine
  packages/dds/tree/src/feature-libraries/indexing/anchorTreeIndex.ts
  packages/dds/tree/src/simple-tree/api/simpleTreeIndex.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23259 Add ado-feeds variable group reference to deploy-website pipeline
  tools/pipelines/deploy-website.yml
Labels: area: build, base: main

#23262 (docs): update pipeline trigger and add ado-feeds var group
  tools/pipelines/publish-api-model-artifact.yml
Labels: area: build, base: main

#23265 [bump] Bump test tools to next major version
  tools/test-tools/package.json
Labels: base: main

#23261 fix(gitrest): ensure there are size limit checks before compression
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/gitManager.spec.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
Labels: area: server, base: main

#23266 Update path-to-regexp to address CVE
  docs/pnpm-lock.yaml
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/external-data/package.json
  examples/utils/webpack-fluid-loader/package.json
  pnpm-lock.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, dependencies, area: website, base: main

#23223 improvement(ai-collab): Display task id and fix duplicate console
  examples/apps/ai-collab/src/actions/task.ts
  examples/apps/ai-collab/src/components/TaskGroup.tsx
Labels: area: examples, base: main

#23199 Add retries to Get Session when a null document is retrieved
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious-base/src/test/utils/sessionHelper.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#23247 Pre-fix no-unchecked-record-access for merge-tree
  packages/dds/merge-tree/src/test/snapshot.utils.ts
  packages/dds/merge-tree/src/test/wordUnitTests.spec.ts
Labels: area: dds, base: main

#22695 refactor(build-cli): Loosen coupling between command context and git repo
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/check/latestVersions.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/handlers/askFunctions.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
  build-tools/packages/build-cli/src/library/branches.ts
  build-tools/packages/build-cli/src/library/changesets.ts
  build-tools/packages/build-cli/src/library/commands/base.ts
  build-tools/packages/build-cli/src/library/context.ts
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/src/library/releasePrepChecks.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-cli/src/repoConfig.ts
  build-tools/packages/build-cli/src/test/commands/list.test.ts
  build-tools/packages/build-cli/src/test/filter.test.ts
Labels: area: build, base: main

#22902 Provide standalone apis for loader class
  .changeset/moody-files-argue.md
  examples/utils/example-utils/src/modelLoader/modelLoader.ts
  examples/utils/migration-tools/src/simpleLoader/simpleLoader.ts
  examples/utils/webpack-fluid-loader/src/loader.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  experimental/PropertyDDS/packages/property-dds/src/test/rebasing.spec.ts
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/loader.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/createAndLoadContainerUtils.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loadPaused.ts
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/decoupledCreate.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/localTestServer.spec.ts
  packages/test/local-server-tests/src/test/noDeltaStream.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/local-server-tests/src/test/synchronousDataStoreCreation.spec.ts
  packages/test/local-server-tests/src/utils.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/api-report/test-utils.legacy.alpha.api.md
  packages/test/test-utils/package.json
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/localLoader.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/tools/fluid-runner/src/exportFile.ts
Labels: area: examples, area: loader, area: dds, area: tests, area: dds: propertydds, public api change, area: dds: tree, base: main, changeset-present

#23217 Emit more information for summarizer observability
  .changeset/dirty-crabs-try.md
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.alpha.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/index.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summarizerClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithLocalChanges.spec.ts
Labels: area: runtime, area: tests, public api change, base: main, changeset-present

#23248 Reduce use of Proxyquire
  packages/tools/devtools/devtools-browser-extension/src/devtools/DevtoolsScript.ts
  packages/tools/devtools/devtools-browser-extension/src/devtools/DevtoolsScriptContent.ts
  packages/tools/devtools/devtools-browser-extension/src/test/DevtoolsScript.test.ts
Labels: base: main

#23279 doc(client): Clarify changeset wording and formatting
  .changeset/dirty-crabs-try.md
  .changeset/moody-files-argue.md
Labels: base: main, changeset-present

#23256 Replace use of contentSnapshot in dev tools visualizer with newer APIs
  packages/dds/tree/src/core/schema-stored/format.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/tree/treeTextFormat.ts
  packages/dds/tree/src/core/tree/types.ts
  packages/dds/tree/src/feature-libraries/modular-schema/isNeverTree.ts
  packages/dds/tree/src/feature-libraries/sequence-field/types.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/conciseTree.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/util/brand.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditReducer.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
Labels: area: framework, area: dds, area: dds: tree, base: main

#23283 Remove proxyquire: enable esm tests
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-browser-extension/src/background/BackgroundScript.ts
  packages/tools/devtools/devtools-browser-extension/src/background/BackgroundScriptContent.ts
  packages/tools/devtools/devtools-browser-extension/src/content/ContentScript.ts
  packages/tools/devtools/devtools-browser-extension/src/content/ContentScriptContent.ts
  packages/tools/devtools/devtools-browser-extension/src/test/BackgroundScript.test.ts
  packages/tools/devtools/devtools-browser-extension/src/test/ContentScript.test.ts
  packages/tools/devtools/devtools-browser-extension/src/test/DevtoolsScript.test.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#23272 Add IContainerRuntimeOptionInternal for soon-to-be-deprecated options
  packages/framework/fluid-static/src/compatibilityConfiguration.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
Labels: area: framework, area: runtime, base: main

#23277 Update json2csv
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/test/telemetryExpectedOutputs/expectedOutput4.csv
  pnpm-lock.yaml
Labels: dependencies, base: main

#23291 Update client lock file
  pnpm-lock.yaml
Labels: dependencies, base: main

#23286 fix(docs): Configure SWA to never emit trailing slashes for website URLs
  docs/package.json
  docs/static/staticwebapp.config.json
  docs/swa-cli.config.json
Labels: area: website, base: main

#23258 Wire ai task planner example to explicit
  examples/apps/ai-collab/.env.template
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/actions/task.ts
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  examples/apps/ai-collab/src/infra/openAiClient.ts
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
  examples/apps/ai-collab/src/types/task.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23296 refactor: Cleanup unused mocha reporter devDependencies
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  examples/apps/tree-cli-app/package.json
  packages/dds/pact-map/package.json
  packages/dds/task-manager/package.json
  packages/framework/ai-collab/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: framework, area: server, area: dds, dependencies, base: main

#23273 fix(generate:releaseNotes): Include changesets with no packages in release notes
  build-tools/packages/build-cli/src/commands/generate/releaseNotes.ts
Labels: area: build, base: main

#23280 refactor(build-tools): Deprecate some outdated commands and APIs
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/generate/upcoming.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/packages/build-cli/src/library/commands/base.ts
  build-tools/packages/build-cli/src/test/library/branches.test.ts
  build-tools/packages/build-tools/src/common/gitRepo.ts
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepo.ts
  build-tools/packages/build-tools/src/index.ts
Labels: area: build, base: main

#23288 Deprecate IContainerRuntimeOptions.flushMode
  .changeset/fancy-insects-sing.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23304 fix(docs): Better trailing slash omission
  .vscode/settings.json
  docs/README.md
  docs/docs/api/index.mdx
  docs/docs/concepts/signals.mdx
  docs/docs/index.mdx
  docs/docusaurus.config.ts
  docs/static/staticwebapp.config.json
  docs/versioned_docs/version-1/api/index.mdx
Labels: area: contributor experience, area: website, base: main

#23301 Add legacy tags to the added apis for creating and loading container
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/src/createAndLoadContainerUtils.ts
Labels: area: loader, public api change, base: main

#23310 fix(style): Run biome
  .vscode/settings.json
Labels: area: contributor experience, base: main

#23274 feat(migration-tools): Include Migrator in container code, make it single use, use callbacks instead of taking a full loader
  examples/utils/migration-tools/README.md
  examples/utils/migration-tools/api-report/migration-tools.alpha.api.md
  examples/utils/migration-tools/package.json
  examples/utils/migration-tools/src/compositeRuntime/README.md
  examples/utils/migration-tools/src/compositeRuntime/interfaces.ts
  examples/utils/migration-tools/src/compositeRuntime/loadCompositeRuntime.ts
  examples/utils/migration-tools/src/index.ts
  examples/utils/migration-tools/src/migrationTool/index.ts
  examples/utils/migration-tools/src/migrationTool/interfaces.ts
  examples/utils/migration-tools/src/migrationTool/migrationTool.ts
  examples/utils/migration-tools/src/migrationTool/migrationToolEntryPointPiece.ts
  examples/utils/migration-tools/src/migrator/index.ts
  examples/utils/migration-tools/src/migrator/interfaces.ts
  examples/utils/migration-tools/src/migrator/makeMigratorEntryPointPiece.ts
  examples/utils/migration-tools/src/migrator/migrator.ts
  examples/utils/migration-tools/src/migrator/separateContainerCallbackHelpers.ts
  examples/utils/migration-tools/src/simpleLoader/README.md
  examples/utils/migration-tools/src/simpleLoader/index.ts
  examples/utils/migration-tools/src/simpleLoader/interfaces.ts
  examples/utils/migration-tools/src/simpleLoader/sessionStorageSimpleLoader.ts
  examples/utils/migration-tools/src/simpleLoader/simpleLoader.ts
  examples/version-migration/separate-container/package.json
  examples/version-migration/separate-container/src/dataTransform.ts
  examples/version-migration/separate-container/src/migratableModel.ts
  examples/version-migration/separate-container/src/modelVersion1/appModel.ts
  examples/version-migration/separate-container/src/modelVersion1/containerCode.ts
  examples/version-migration/separate-container/src/modelVersion1/modelEntryPointPiece.ts
  examples/version-migration/separate-container/src/modelVersion2/appModel.ts
  examples/version-migration/separate-container/src/modelVersion2/containerCode.ts
  examples/version-migration/separate-container/src/modelVersion2/modelEntryPointPiece.ts
  examples/version-migration/separate-container/src/start.ts
  examples/version-migration/separate-container/src/view/appView.tsx
  examples/version-migration/separate-container/src/view/debugView.tsx
  examples/version-migration/separate-container/tests/index.ts
  examples/version-migration/separate-container/tests/index.tsx
  examples/version-migration/separate-container/tests/separateContainer.test.ts
  examples/version-migration/separate-container/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, public api change, base: main

#23316 fix(docs): Remove trailing slash fix for now
  docs/docusaurus.config.ts
Labels: area: website, base: main

#23315 Standardize segment typing based on exposure
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.attributionFarm.spec.ts
  packages/dds/merge-tree/src/test/client.getPosition.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/merge-tree/src/test/snapshot.utils.ts
  packages/dds/merge-tree/src/test/sortedSegmentSet.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/text.ts
  packages/dds/merge-tree/src/test/tracking.spec.ts
  packages/dds/merge-tree/src/test/wordUnitTests.spec.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, base: main

#23192 Rewrite ViewSchema.checkCompatibility to leverage discrepancies
  examples/apps/tree-cli-app/src/test/legacy/index.ts
  examples/apps/tree-cli-app/src/test/legacy/v1.ts
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/schema-view/index.ts
  packages/dds/tree/src/core/schema-view/view.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultSchema.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/view.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/discrepancies.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/schemaFactoryAlpha.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/api/storedSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/viewSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main

#23311 docs(docs): Add some "how-to" documentation for website development
  docs/README.md
Labels: area: website, base: main

#23322 refactor(docs): Use file path links
  docs/docs/build/audience.mdx
  docs/docs/build/auth.mdx
  docs/docs/build/container-states-events.mdx
  docs/docs/build/containers.mdx
  docs/docs/build/data-modeling.mdx
  docs/docs/build/dds.mdx
  docs/docs/build/experimental-features.mdx
  docs/docs/build/overview.mdx
  docs/docs/build/packages.mdx
  docs/docs/data-structures/map.mdx
  docs/docs/data-structures/overview.mdx
  docs/docs/data-structures/tree.mdx
  docs/docs/deployment/azure-fluid-relay.mdx
  docs/docs/faq.mdx
  docs/docs/start/quick-start.mdx
  docs/docs/start/tree-start.mdx
  docs/docs/start/tutorial.mdx
  docs/docs/testing/testing.mdx
  docs/docs/testing/tinylicious.mdx
Labels: area: website, base: main

#23312 fix(docs): Don't inherit `@system` notices from ancestry
  docs/infra/api-markdown-documenter/render-api-documentation.mjs
Labels: area: website, base: main

#23323 Merge-Tree and SharedString ISegment Deprecations
  .changeset/real-grapes-kick.md
  examples/data-objects/webflow/src/view/layout.ts
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/revertibles.ts
Labels: area: examples, area: dds, public api change, base: main, changeset-present

#23309 Follow-ups about IContainerRuntimeOptionsInternal and flushMode option
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: runtime, area: tests, public api change, base: main

#23333 build(client): Tag asserts for release 2.12.0
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/tree/src/feature-libraries/indexing/anchorTreeIndex.ts
  packages/dds/tree/src/shared-tree-core/branchCommitEnricher.ts
  packages/dds/tree/src/shared-tree-core/transaction.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23284 improvement: rollback legacy exposures
  packages/drivers/routerlicious-driver/api-report/routerlicious-driver.legacy.alpha.api.md
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/policies.ts
  packages/drivers/tinylicious-driver/README.md
  packages/drivers/tinylicious-driver/api-extractor.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor-lint-legacy.esm.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor-lint-testUtils.cjs.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor-lint-testUtils.esm.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor.current.json
  packages/drivers/tinylicious-driver/api-extractor/api-extractor.legacy.json
  packages/drivers/tinylicious-driver/api-report/tinylicious-driver.legacy.alpha.api.md
  packages/drivers/tinylicious-driver/api-report/tinylicious-driver.legacy.public.api.md
  packages/drivers/tinylicious-driver/package.json
  packages/drivers/tinylicious-driver/src/insecureTinyliciousTokenProvider.ts
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/drivers/tinylicious-driver/src/testUtils.ts
  packages/drivers/tinylicious-driver/test-utils.d.ts
Labels: area: driver, public api change, base: main

#23334 refactor(api-markdown-documenter): Simplify primary API entrypoints
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/examples/RenderHtml.ts
  tools/api-markdown-documenter/examples/RenderMarkdown.ts
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/HtmlRendererModule.ts
  tools/api-markdown-documenter/src/MarkdownRendererModule.ts
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
Labels: public api change, base: main

#23325 Preparation for IContainerRuntimeOptions.enableGroupedBatching removal
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: runtime, area: tests, base: main

#23327 refactor(telemetry-generator): Use pnpm
  fluidBuild.config.cjs
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/telemetry-generator/.eslintrc.cjs
  tools/telemetry-generator/.npmrc
  tools/telemetry-generator/README.md
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/pnpm-lock.yaml
  tools/telemetry-generator/pnpm-workspace.yaml
  tools/telemetry-generator/src/commands/index.ts
  tools/telemetry-generator/src/handlers/testPassRate.ts
  tools/telemetry-generator/src/logger.ts
Labels: area: build, base: main

#23331 Deprecate ContainerRuntime class
  .changeset/plain-mails-tan.md
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  examples/utils/migration-tools/src/compositeRuntime/loadCompositeRuntime.ts
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/runtimeFactoryHelper.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: examples, area: framework, area: runtime, area: tests, public api change, release-blocking, base: main, changeset-present

#23340 build(client): Release notes generation for minor release 2.12.0
  RELEASE_NOTES/2.12.0.md
Labels: base: main

#23300 test(client-presence): refactor of presence manager unit tests
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/tsconfig.json
Labels: area: framework, base: main

#23346 Revert move to pnpm for telemetry-generator
  fluidBuild.config.cjs
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/telemetry-generator/.eslintrc.cjs
  tools/telemetry-generator/.npmrc
  tools/telemetry-generator/README.md
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/pnpm-lock.yaml
  tools/telemetry-generator/pnpm-workspace.yaml
  tools/telemetry-generator/src/commands/index.ts
  tools/telemetry-generator/src/handlers/testPassRate.ts
  tools/telemetry-generator/src/logger.ts
Labels: area: build, base: main

#23275 refactor(build-tools): rename `run bundleStats` to `publish bundleStats`
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/publish.md
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/src/commands/publish/bundleStats.ts
Labels: area: build, base: main

#23276 Add explicit mechanism for preventing the submission of dangerous SharedTree commits
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/util/utils.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23349 docs(tree): reorganize shared tree docs
  docs/docs/build/dds.mdx
  docs/docs/data-structures/overview.mdx
  docs/docs/data-structures/tree/index.mdx
  docs/docs/start/tree-start.mdx
Labels: area: website, base: main

#23356 fix(offline): Mitigate flaky test by opting out of ID Compression for now
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#23099 Add re-entrancy errors for TreeCheckout
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23169 build(client-presence): type and lint fixes
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/internalUtils.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceStates.ts
Labels: area: framework, public api change, base: main

#23126 refactor(client-presence): replace `reduce` with `for` loop
  packages/framework/presence/src/presenceStates.ts
Labels: area: framework, base: main

#23367 refactor: Rename `ConfigurationBase` to `LoggingConfiguration`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/LintApiModel.ts
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/LoggingConfiguration.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Configuration.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/configuration/Configuration.ts
Labels: public api change, base: main

#23368 refactor(api-markdown-documenter): Make configuration properties `readonly`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/LintApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/TransformationOptions.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/RenderContext.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/configuration/RenderOptions.ts
Labels: public api change, base: main

#23370 refactor(api-markdown-documenter): Rename types to use "Configuration" instead of "Config"
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/ToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/TransformationContext.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Configuration.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/Utilities.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/Utilities.ts
  tools/api-markdown-documenter/src/renderers/index.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
Labels: public api change, base: main

#23362 Expose SchemaFactoryAlpha as an alpha API
  .changeset/moody-pandas-fall.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/viewSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23369 Remove unnecessary es-lint suppressions
  experimental/PropertyDDS/packages/property-common/src/guidUtils.ts
  experimental/PropertyDDS/packages/property-common/src/test/guidUtils.spec.ts
  experimental/dds/attributable-map/src/interfaces.ts
  experimental/dds/attributable-map/src/localValues.ts
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/attributable-map/src/test/mocha/map.spec.ts
  experimental/dds/ot/ot/src/ot.ts
  packages/common/client-utils/src/test/jest/gitHash.spec.ts
  packages/common/client-utils/src/typedEventEmitter.ts
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/dds/counter/src/counter.ts
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/mergeTreeTracking.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/dirname.cts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/wordUnitTests.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dirname.cts
  packages/dds/test-dds-utils/src/test/dirname.cts
  packages/drivers/driver-web-cache/src/test/FluidCache.test.ts
  packages/drivers/file-driver/src/fileDocumentService.ts
  packages/drivers/replay-driver/src/replayDocumentService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/framework/oldest-client-observer/src/oldestClientObserver.ts
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/loader/driver-utils/src/test/summaryCompressionData.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/id-compressor/src/finalSpace.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/id-compressor/src/test/idCompressorTestUtilities.ts
  packages/runtime/id-compressor/src/utilities.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: propertydds, area: odsp-driver, base: main

#23298 Add optional dispose flag for forks after transaction
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23364 feat(Container): Add IContainer.closedWithError to access the error that closed or disposed the container
  .changeset/busy-mangos-ask.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, public api change, base: main, changeset-present

#23374 refactor(api-markdown-documenter): Unify configuration patterns
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Transformations.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateDefaultLayout.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEntryPoint.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiFunctionLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiItemWithoutChildren.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiNamespace.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/test/EndToEndTests.ts
Labels: public api change, base: main

#23371 Precursor Work for Segment Deprecation Removals; Unify on Infos.
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.getPosition.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/text.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#23384 refactor(api-markdown-documenter): Add and use a `ValidApiItemKind` type alias which excludes the `None` value
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#23335 refactor(ordered-collection): Updated eslint to use recommended config
  packages/dds/ordered-collection/.eslintrc.cjs
  packages/dds/ordered-collection/src/consensusOrderedCollection.ts
  packages/dds/ordered-collection/src/consensusOrderedCollectionFactory.ts
  packages/dds/ordered-collection/src/consensusQueue.ts
  packages/dds/ordered-collection/src/interfaces.ts
  packages/dds/ordered-collection/src/snapshotableArray.ts
  packages/dds/ordered-collection/src/test/consensusOrderedCollection.spec.ts
Labels: area: dds, base: main

#23381 refactor(api-markdown-documenter): Update structure of `ApiTransformationConfiguration` and `ApiItemTransformations`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Transformations.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateSectionForApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiFunctionLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiItemWithoutChildren.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
Labels: public api change, base: main

#23377 docs: update Presence throttling notes
  docs/docs/build/presence.md
Labels: area: website, base: main

#23388 refactor(api-markdown-documenter): Rename `DocumentationSuiteOptions` to `DocumentationSuiteConfiguration` and make its properties required
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuite.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/index.ts
Labels: public api change, base: main

#23326 tools: add Breaking Change issue template
  .github/ISSUE_TEMPLATE/breaking_change.md
Labels: base: main

#23393 refactor(api-markdown-documenter): Move `getFilteredParent` utility function and use it more consistently
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: base: main

#23394 refactor(api-markdown-documenter): Unify "file-safe-name" helper utilities
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/ApiItemUtilitiesModule.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuite.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#23392 Add copyProperty utility function
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/test/util/utils.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22958 (tree) Added support for constraint to be applied when a change is reverted
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeTypes.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceGetNestedChanges.test.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23383 test-fix(offline): Only run "applies stashed ops with no saved ops" test against local server
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#23396 Rename ISegmentLeaf to ISegmentPrivate
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/client.annotateMarker.spec.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.attributionFarm.spec.ts
  packages/dds/merge-tree/src/test/client.getPosition.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/propertyManager.spec.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/snapshot.utils.ts
  packages/dds/merge-tree/src/test/sortedSegmentSet.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/tracking.spec.ts
  packages/dds/merge-tree/src/test/wordUnitTests.spec.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, base: main

#23390 Add more logging about unexpectedAckReceived error
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#23249 (tree) Added runTransaction API to tree view
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/transactionTypes.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23321 feat(tree): Add the ability to associate metadata with Node Schema
  .changeset/grey-triangles-shout.md
  .vscode/settings.json
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/jsonSchema.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/api/getJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/util/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: examples, area: framework, area: dds, area: contributor experience, public api change, area: dds: tree, base: main, changeset-present

#23399 Revert "feat(Container): Add IContainer.closedWithError to access the error that closed or disposed the container"
  .changeset/busy-mangos-ask.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
Labels: area: loader, area: tests, public api change, base: main, changeset-present

#23402 Added a cluster draining check in the create doc api
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testClusterDrainingStatusChecker.ts
Labels: area: server, base: main

#23389 Remove line rate comparison for code coverage as that is not much useful due to comments
  build-tools/packages/build-cli/src/codeCoverage/compareCodeCoverage.ts
  build-tools/packages/build-cli/src/codeCoverage/getCommentForCodeCoverage.ts
  build-tools/packages/build-cli/src/commands/report/codeCoverage.ts
Labels: area: build, base: main

#23379 Adds support for hidden private keys in server tenants
  server/routerlicious/.changeset/curly-wombats-peel.md
  server/routerlicious/.changeset/six-candles-sneeze.md
  server/routerlicious/.changeset/weak-radios-camp.md
  server/routerlicious/.changeset/wide-ducks-bake.md
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/tenantManager.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/test-utils/src/testTenantManager.ts
Labels: area: server, base: main, changeset-present

#23380 docs(tree): split shared tree doc into more specialized pages
  docs/docs/data-structures/tree/events.mdx
  docs/docs/data-structures/tree/index.mdx
  docs/docs/data-structures/tree/node-types.mdx
  docs/docs/data-structures/tree/nodes.mdx
  docs/docs/data-structures/tree/reading-and-editing.mdx
  docs/docs/data-structures/tree/schema-definition.mdx
  docs/docs/data-structures/tree/transactions.mdx
  docs/docs/data-structures/tree/undo-redo.mdx
  docs/docs/start/tree-start.mdx
Labels: area: website, base: main

#23191 feat(@fluid-example/ai-collab): Add Undo / Redo to AI-Collab Example App
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23410 Removed internal Riddler getKey calls
  server/routerlicious/.changeset/chilly-news-warn.md
  server/routerlicious/.changeset/clever-sites-drop.md
  server/routerlicious/.changeset/thin-feet-learn.md
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/api.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/tenantManager.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/documentManager.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/packages/test-utils/src/testTenantManager.ts
  server/routerlicious/packages/tinylicious/src/services/tenantManager.ts
Labels: area: server, base: main, changeset-present

#23413 Bumped historian and gitrest r11 verisons
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/test/utils/testTenantService.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main
