Repository microsoft/FluidFramework, pull requests merged in 2024-06, with the labels that each got.

#21259 build: Update policy to ensure concurrently is installed
  fluidBuild.config.cjs
Labels: base: main

#21269 [GC] Added GC performance test for benchmark the performance of initializeOrUpdateGCState
  packages/runtime/container-runtime/src/test/gc/gc.perf.spec.ts
Labels: area: runtime, base: main

#21273 fix(build-tools): gen type tests respecting import order
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
Labels: area: build, base: main

#21240 feat(build-tools): policy for entrypoint linting
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/library/packageExports.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-cli/test/library/packageExports.test.ts
  build-tools/packages/build-tools/src/common/taskUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/apiExtractorTask.ts
  build-tools/packages/build-tools/src/index.ts
  common/build/build-common/api-extractor-lint.entrypoint.json
  fluidBuild.config.cjs
  packages/common/client-utils/api-extractor/api-extractor-lint-bundle.json
  packages/common/client-utils/api-extractor/api-extractor-lint-indexBrowser.cjs.json
  packages/common/client-utils/api-extractor/api-extractor-lint-indexBrowser.esm.json
  packages/common/client-utils/api-extractor/api-extractor-lint-indexNode.cjs.json
  packages/common/client-utils/api-extractor/api-extractor-lint-indexNode.esm.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/api-extractor/api-extractor-lint-bundle.json
  packages/common/container-definitions/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/common/container-definitions/api-extractor/api-extractor-lint-legacy.esm.json
  packages/common/container-definitions/api-extractor/api-extractor-lint-public.cjs.json
  packages/common/container-definitions/api-extractor/api-extractor-lint-public.esm.json
  packages/common/container-definitions/package.json
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#21268 Fix(tree): composition bugs
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
Labels: area: dds, area: dds: tree, base: main

#21275 Move `indexForAt` helper into utilties folder
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
Labels: area: dds, area: dds: tree, base: main

#21184 Unify `IDisposable` interfaces
  .changeset/smooth-clouds-wait.md
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  packages/common/core-interfaces/api-report/core-interfaces.alpha.api.md
  packages/common/core-interfaces/api-report/core-interfaces.beta.api.md
  packages/common/core-interfaces/api-report/core-interfaces.public.api.md
  packages/common/core-interfaces/src/disposable.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/util/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/test/test-end-to-end-tests/src/test/migration-shim/dataMigration.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
Labels: area: examples, area: framework, area: dds, area: tests, public api change, area: dds: tree, base: main

#21278 Rename `TreeStatus.Created` to `TreeStatus.New`
  .changeset/sharp-mangos-reply.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21264 [Summarization] Added a document that describes the format of summaries and snapshots
  packages/runtime/container-runtime/src/summary/images/appTree.png
  packages/runtime/container-runtime/src/summary/images/protocolAndAppTree.png
  packages/runtime/container-runtime/src/summary/images/summaryTree.png
  packages/runtime/container-runtime/src/summary/summaryFormats.md
Labels: area: runtime, base: main

#21279 Extend tsconfig using path in experimental
  experimental/PropertyDDS/packages/property-common/src/test/tsconfig.json
  experimental/PropertyDDS/packages/property-common/tsconfig.json
  experimental/PropertyDDS/packages/property-inspector-table/test/tsconfig.test.json
  experimental/PropertyDDS/packages/property-properties/src/test/tsconfig.json
  experimental/PropertyDDS/packages/property-properties/tsconfig.json
  experimental/dds/tree/tsconfig.json
Labels: area: dds, area: dds: propertydds, area: dds: tree, base: main

#21281 Add MapTreeNode
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
Labels: area: dds, area: dds: tree, base: main, size regression

#21241 Bump server deps to prerelease version on client
  .changeset/fluffy-spies-add.md
  azure/packages/azure-local-service/package.json
  azure/packages/test/scenario-runner/package.json
  examples/benchmarks/tablebench/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/external-data/package.json
  examples/service-clients/azure-client/external-controller/package.json
  examples/utils/example-utils/package.json
  examples/utils/webpack-fluid-loader/package.json
  examples/version-migration/tree-shim/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/local-server-tests/package.json
  packages/test/snapshots/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-service-load/package.json
  pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
Labels: area: examples, area: loader, area: driver, dependencies, area: tests, area: dds: propertydds, area: odsp-driver, base: main

#21230 send empty local intervals
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#21135 Avoid keeping references to local op metadata in pending state manager
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, base: main

#21302 [GC] Updates to run the GC performance benchmark tests in the peformance pipeline
  packages/runtime/container-runtime/package.json
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: runtime, area: build, base: main

#21301 fix(tree): only restore sequence cell IDs on rollbacks
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20852 docs(fluid-static): Add more details to IFluidContainer.create
  packages/framework/fluid-static/src/fluidContainer.ts
Labels: area: framework, base: main

#21257 fix(client-utils): fix trace.js import of performance
  packages/common/client-utils/README.md
  packages/common/client-utils/package.json
  packages/common/client-utils/src/base64EncodingBrowser.ts
  packages/common/client-utils/src/base64EncodingNode.ts
  packages/common/client-utils/src/cjs/package.json
  packages/common/client-utils/src/hashFileBrowser.ts
  packages/common/client-utils/src/hashFileNode.ts
  packages/common/client-utils/src/indexBrowser.ts
  packages/common/client-utils/src/indexNode.ts
  packages/common/client-utils/src/test/jest/buffer.spec.ts
  packages/common/client-utils/src/test/mocha/base64Encoding.spec.ts
  packages/common/client-utils/src/test/mocha/buffer.spec.ts
  packages/common/client-utils/src/test/mocha/trace.spec.ts
  packages/common/client-utils/src/trace.ts
Labels: base: main

#21299 tree: update reference to TypeScript bug
  packages/dds/tree/src/simple-tree/schemaCreationUtilities.ts
Labels: area: dds, area: dds: tree, base: main

#21291 [GC] Removed deprecated gcAddedOutboundReference and related logic
  experimental/dds/tree/src/migration-shim/shimDeltaConnection.ts
  experimental/dds/tree/src/test/EditUtilities.tests.ts
  packages/dds/shared-object-base/api-report/shared-object-base.alpha.api.md
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/test/serializer.spec.ts
  packages/dds/tree/src/test/codec/ajvValidator.ts
  packages/runtime/container-runtime/api-report/container-runtime.alpha.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.alpha.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/datastore/src/test/localChannelContext.spec.ts
  packages/runtime/datastore/src/test/remoteChannelContext.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#21311 refactor(tree): remove unnecessary usages of rollbackOf from sequence field
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21290 Use shouldJoinWrite() to establish dirty state in serializedStateManager
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
Labels: area: runtime, area: loader, base: main

#21316 fix(tree): fix lost child change in modular change family
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21310 Factor out SharedTree field defaulting into a separate function
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21288 Fixes odsp single commit summaries test
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/utils.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/testSnapshotCache.ts
Labels: area: tests, base: main

#21286 server: use io.local.fetchSockets for Nexus shutdown
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, base: main

#21255 ci: Upgrade actions in GH workflows
  .github/workflows/changeset-reporter.yml
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/pr-check-changeset.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-validation.yml
  .github/workflows/push-tag-create-release.yml
  .github/workflows/stale-branches.yml
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#21312 [GC] Remove logic that is not needed after aliasing and tombstone telemetry changes
  packages/runtime/container-runtime/api-report/container-runtime.alpha.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gc.perf.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
Labels: area: runtime, public api change, base: main

#21293 Remove unused fluidErrorCode from LoggingError
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#21294 Remove defunct isValidLegacyError helper
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
Labels: base: main

#21292 Update to ES2022
  .changeset/nice-olives-try.md
  common/build/build-common/tsconfig.base.json
  examples/external-data/src/model/taskList.ts
  examples/utils/example-utils/src/modelLoader/tinyliciousModelLoader.ts
  experimental/PropertyDDS/packages/property-binder/tsconfig.json
  packages/common/driver-definitions/api-report/driver-definitions.alpha.api.md
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/drivers/debugger/src/sanitizer.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/tools/replay-tool/src/unknownChannel.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: area: examples, area: runtime, area: loader, area: driver, area: dds, area: build, area: dds: propertydds, public api change, area: dds: tree, base: main, size regression

#21276 feat(build-tools): alternate tag export support
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
  build-tools/packages/build-cli/src/library/apiTag.ts
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/library/typescriptApi.ts
Labels: area: build, base: main

#21329 Small refactor/fix of toMapTree.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21274 refactor(build-cli): Move function only used in tests to test file
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/test/commands/list.test.ts
Labels: area: build, base: main

#21315 Test debug experience: add exceptions during test setup to skipFiles
  .vscode/launch.json
Labels: area: contributor experience, base: main

#20658 test(build-cli): Add 2.0+ generate:buildVersion tests
  build-tools/packages/build-cli/test/commands/generate/buildVersion.test.ts
Labels: area: build, base: main

#18028 feat(build-cli): Add support for selecting only changed packages
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/exec.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/test/filter.test.ts
Labels: area: build, base: main

#21319 test(tree): Improve test coverage for toMapTree
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21060 enable single commit summary via supportedFeatures in routerlicious
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/test/documentService.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
Labels: area: loader, area: driver, base: main

#20934 feat(build-tools): New command 'publish:tarballs'
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/publish.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/publish/tarballs.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#21331 Add @fluidframework/core-interfaces to fluid-framework
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/index.ts
  pnpm-lock.yaml
Labels: area: framework, area: dds, dependencies, public api change, area: dds: tree, base: main

#21337 [bump] build-tools: 0.39.0 => 0.40.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#21338 fix(tree): optional field rebase handling of child changes
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21320 client/server decoupling: add quorum and protocol handler to containe…
  packages/loader/container-loader/api-report/container-loader.alpha.api.md
  packages/loader/container-loader/api-report/container-loader.beta.api.md
  packages/loader/container-loader/api-report/container-loader.public.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/protocol/README.md
  packages/loader/container-loader/src/protocol/index.ts
  packages/loader/container-loader/src/protocol/protocol.ts
  packages/loader/container-loader/src/protocol/quorum.ts
  packages/loader/container-loader/src/test/protocol.spec.ts
  packages/loader/container-loader/src/test/quorum.spec.ts
  pnpm-lock.yaml
Labels: area: loader, dependencies, public api change, base: main

#21318 client/server decoupling: add git utility functions to driver-utils
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
  packages/loader/driver-utils/api-report/driver-utils.alpha.api.md
  packages/loader/driver-utils/api-report/driver-utils.beta.api.md
  packages/loader/driver-utils/api-report/driver-utils.public.api.md
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/buildSnapshotTree.ts
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/protocol/README.md
  packages/loader/driver-utils/src/protocol/gitHelper.ts
  packages/loader/driver-utils/src/protocol/index.ts
  pnpm-lock.yaml
Labels: area: loader, area: driver, dependencies, area: odsp-driver, public api change, base: main

#21341 perf(tree): improved pruning of sequences
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21344 webpack-fluid-loader cleanup
  examples/apps/data-object-grid/package.json
  examples/benchmarks/bubblebench/shared-tree-flex-tree/package.json
  examples/benchmarks/bubblebench/shared-tree-flex-tree/webpack.config.cjs
  examples/benchmarks/bubblebench/shared-tree/package.json
  examples/benchmarks/bubblebench/shared-tree/webpack.config.cjs
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/data-objects/canvas/test/canvas.test.ts
  examples/data-objects/inventory-app/package.json
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/webpack.config.cjs
  examples/data-objects/todo/package.json
  examples/data-objects/webflow/package.json
  examples/utils/bundle-size-tests/package.json
  examples/utils/example-utils/src/modelLoader/modelLoader.ts
  examples/utils/webpack-fluid-loader/package.json
  examples/utils/webpack-fluid-loader/src/bohemiaIntercept.ts
  examples/utils/webpack-fluid-loader/src/defaultWebpackConfig.ts
  examples/utils/webpack-fluid-loader/src/index.ts
  examples/utils/webpack-fluid-loader/src/loader.ts
  examples/utils/webpack-fluid-loader/src/routes.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/allowList.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/index.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/scriptManager.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/semVerCdnCodeResolver.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/utils.ts
  examples/utils/webpack-fluid-loader/src/webCodeLoader/webLoader.ts
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, dependencies, area: dds: propertydds, base: main

#21349 (odsp-client): Update scope on website
  PACKAGES.md
  docs/_includes/links.md
  docs/_replacements/docs/api/v2/_index.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/signals.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  packages/service-clients/odsp-client/README.md
Labels: documentation, area: website, base: main

#21342 Allow reading of unhydrated (a.k.a. "raw") SharedTree nodes
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21282 Add properties to SharedTree's Rebase operation for batch telemetry
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/rebase/rebaseBranch.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21335 improvement(tree): Better error messaging when setting / shadowing index properties of array nodes
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21271 Fix routerlicious timeouts in compression related tests
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#21358 refactor(tree): remove dead code
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/verifyChangeRebaser.ts
  packages/dds/tree/src/test/rebase/fuzz.ts
  packages/dds/tree/src/test/rebase/generateFuzzyCombinedChange.spec.ts
  packages/dds/tree/src/test/rebase/verifyChangeRebaser.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21305 fix(tree): Fix call to schematize() with schema validation enabled
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20918 Stashed ops life cycle tests
  packages/test/test-end-to-end-tests/src/test/refreshSerializerLifeCycle.spec.ts
Labels: area: tests, base: main

#21353 Stop extending DataObject with MigrationTool, and export from separate container
  examples/utils/example-utils/api-report/example-utils.alpha.api.md
  examples/utils/example-utils/api-report/example-utils.beta.api.md
  examples/utils/example-utils/api-report/example-utils.public.api.md
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/migrationInterfaces/index.ts
  examples/utils/example-utils/src/migrationInterfaces/migrationTool.ts
  examples/utils/example-utils/src/migrationTool/index.ts
  examples/utils/example-utils/src/migrationTool/migrationTool.ts
  examples/utils/example-utils/src/migrator/migrator.ts
  examples/version-migration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/version-migration/schema-upgrade/src/modelVersion1/index.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/index.ts
  examples/version-migration/schema-upgrade/src/start.ts
  examples/version-migration/schema-upgrade/src/view/debugView.tsx
  pnpm-lock.yaml
Labels: area: examples, dependencies, public api change, base: main

#21364 Revert "enable single commit summary via supportedFeatures in routerlicious"
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/test/documentService.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
Labels: area: loader, area: driver, base: main

#21351 tree: Prevent incorrect use of TreeNode
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21352 Copy events set on unhydrated TreeNodes to their hydrated counterparts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/treeEvents.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21359 fix(tree): deep-tag rollback changesets
  packages/dds/tree/src/core/rebase/changeRebaser.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerPerf.test.ts
  packages/dds/tree/src/test/shared-tree-core/messageCodec.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21365 fix(tee): rebase over orphaned attach and detach
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.test.ts
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21366 Error when reading identifiers from unhydrated SharedTree nodes
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21363 (odsp-client): Enable `can find original member` audience test
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
Labels: base: main

#21373 fix(common-utils): Add missing API report files and fix pipeline trigger
  common/lib/common-utils/api-report/common-utils.alpha.api.md
  common/lib/common-utils/api-report/common-utils.beta.api.md
  common/lib/common-utils/api-report/common-utils.public.api.md
  tools/pipelines/build-common-utils.yml
Labels: area: build, public api change, base: main

#21347 [GC] Make getAttachGCData required on IFluidDataStoreChannel and make implementation consistent
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.alpha.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.alpha.api.md
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.beta.api.md
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.public.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, public api change, base: main

#21367 fix: Update transitive dependency on socks to address CVE
  build-tools/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main

#21313 supportGetSnapshotApi in setInitialSnapshot
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/refreshSerializerLifeCycle.spec.ts
Labels: area: loader, area: tests, base: main

#21088 benchmark-test(shared-tree): Implement read/write execution time benchmark
  packages/dds/tree/src/test/simple-tree/benchmarkUtilities.ts
  packages/dds/tree/src/test/simple-tree/simpleTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#21092 Adds IFluidContainer end to end tests using tinylicious
  packages/framework/client-logger/fluid-telemetry/package.json
  packages/framework/client-logger/fluid-telemetry/src/test/containerTelemetry.spec.ts
  packages/framework/client-logger/fluid-telemetry/src/test/containerTelemetryEndToEnd.spec.realsvc.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#21330 (tree): remove internal tree types from public export
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/internalTypes.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/internalTypes.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21361 Rename Feature gate for Data Virtualization and enable tests for odsp prod
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/index.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/utils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
Labels: area: loader, area: driver, area: tests, area: odsp-driver, base: main

#21385 move edits in `DefaultEditBuilder` with count of 0 does not assert
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21384 Delete server prerlease changeset
  .changeset/fluffy-spies-add.md
Labels: base: main

#21386 refactor(tinylicious-client): Promote `TinyliciousClient` APIs to beta
  .changeset/late-gourds-shower.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
  packages/service-clients/tinylicious-client/src/interfaces.ts
Labels: public api change, base: main

#21303 fix(devtools): Fixed bug causing multiple focuses on Audience tables
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
Labels: base: main

#21371 test(tree): Add FieldChangeHandler method to get nested changes from a field change
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceGetNestedChanges.test.ts
Labels: area: dds, area: dds: tree, base: main

#21391 build(tinylicious-client): Generate beta exports
  packages/service-clients/tinylicious-client/package.json
Labels: base: main

#21390 refactor(tree): Enable `@typescript-eslint/consistent-type-exports` rule and fix violations
  packages/dds/tree/.eslintrc.cjs
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/core/change-family/index.ts
  packages/dds/tree/src/core/forest/index.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/revertible/index.ts
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-view/index.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/node-key/index.ts
  packages/dds/tree/src/feature-libraries/optional-field/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/index.ts
  packages/dds/tree/src/feature-libraries/schema-edits/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/internalTypes.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/internalTypes.ts
  packages/dds/tree/src/util/index.ts
Labels: area: dds, area: dds: tree, base: main

#21383 supportGetSnapshotApi in serialized state manager constructor
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
Labels: area: loader, base: main

#20815 feat(tree): Implement TreeView v2 API
  .changeset/silly-clocks-tan.md
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/benchmarks/bubblebench/shared-tree/src/schema.ts
  examples/benchmarks/tablebench/src/app.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/schema.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/framework/tree-react-api/api-report/tree-react-api.alpha.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.beta.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.public.api.md
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.ts
  packages/dds/tree/README.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/docs/user-facing/README.md
  packages/dds/tree/docs/user-facing/schema-evolution.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: framework, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#21193 feat(tree): Make inputs for optional and identifier fields optional
  .changeset/purple-fonts-hide.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/codec/discriminatedUnions.ts
  packages/dds/tree/src/core/tree/types.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/internalTypes.ts
  packages/dds/tree/src/util/typeUtils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21382 [Summarization] Fix summary tests failing for real services
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRefreshLatestSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
Labels: area: tests, base: main

#21340 feat(tree): Make events on SimpleTree behave in an "after-batch" way
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/treeEvents.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21380 Enable single commit summary via supportedFeatures in routerlicious
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/test/documentService.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
Labels: area: loader, area: driver, base: main

#21396 build(client-devtools): reclaim @alpha for traditional use
  .gitignore
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
Labels: base: main

#21406 Breaking change: Remove `"afterBatch"` event from `TreeView`
  .changeset/salty-donkeys-rescue.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21388 feat(ci): Upload telemetry to Kusto in test-dds-stress pipeline
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/test-dds-stress.yml
Labels: area: build, base: main

#21157 refactor(tree): use SharedTree format version 3 by default
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/snapshots/op-format/v3/field change.json
  packages/dds/tree/src/test/snapshots/op-format/v3/schema change.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/attachment-tree-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/competing-removes-index-0.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/competing-removes-index-1.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/competing-removes-index-2.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/competing-removes-index-3.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/complete-3x3-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/concurrent-inserts-tree2.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/concurrent-inserts-tree3.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/empty-root-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/insert-and-remove-tree-0-after-insert.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/insert-and-remove-tree-0-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/insert-and-remove-tree-1-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/move-across-fields-tree-0-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/nested-sequence-change-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/optional-field-scenarios-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/attachment-tree-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/competing-removes-index-0.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/competing-removes-index-1.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/competing-removes-index-2.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/competing-removes-index-3.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/complete-3x3-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/concurrent-inserts-tree2.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/concurrent-inserts-tree3.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/empty-root-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/insert-and-remove-tree-0-after-insert.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/insert-and-remove-tree-0-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/insert-and-remove-tree-1-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/move-across-fields-tree-0-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/nested-sequence-change-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/optional-field-scenarios-final.json
Labels: area: dds, area: dds: tree, base: main

#21419 Remove SharedCounter deprecation message
  docs/content/docs/data-structures/counter.md
Labels: documentation, base: main

#21325 Create BatchedTelemetryHelper
  packages/utils/telemetry-utils/src/mathTools.ts
  packages/utils/telemetry-utils/src/telemetryEventBatcher.ts
  packages/utils/telemetry-utils/src/test/telemetryEventBatcher.spec.ts
Labels: base: main

#21416 Reexport CompatibilityMode from azure-client and tinylicious-client packages
  packages/service-clients/azure-client/api-report/azure-client.alpha.api.md
  packages/service-clients/azure-client/api-report/azure-client.beta.api.md
  packages/service-clients/azure-client/api-report/azure-client.public.api.md
  packages/service-clients/azure-client/src/index.ts
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.public.api.md
  packages/service-clients/tinylicious-client/src/index.ts
Labels: public api change, base: main

#21277 Handle location redirection URL error in getSharingInfo call in odsp driver
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/test/getFileLink.spec.ts
  packages/utils/odsp-doclib-utils/src/index.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
Labels: area: driver, area: odsp-driver, base: main

#21414 Target es2020
  common/build/build-common/tsconfig.base.json
  packages/common/driver-definitions/api-report/driver-definitions.alpha.api.md
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/tsconfig.json
  packages/service-clients/azure-client/api-report/azure-client.alpha.api.md
  packages/service-clients/azure-client/api-report/azure-client.beta.api.md
  packages/service-clients/azure-client/api-report/azure-client.public.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.public.api.md
Labels: area: dds, area: build, public api change, area: dds: tree, base: main

#21398 Update tree tests to use viewWith
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.examples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: base: main

#21412 Migrate schematize/TreeConfiguration usages to viewWith
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/benchmarks/bubblebench/shared-tree/src/bubblebench.ts
  examples/benchmarks/bubblebench/shared-tree/src/schema.ts
  examples/benchmarks/tablebench/src/app.ts
  examples/benchmarks/tablebench/src/azure.ts
  examples/benchmarks/tablebench/src/test/table.bench.spec.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/schema.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/index.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/schema.ts
  examples/version-migration/tree-shim/src/model/inventoryList.ts
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  experimental/framework/tree-react-api/api-report/tree-react-api.alpha.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.beta.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.public.api.md
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.ts
  packages/service-clients/azure-client/src/test/AzureClient.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  packages/test/functional-tests/src/test/ddsHandleEncoding.spec.ts
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/dataMigration.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/sharedTreeShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandlesDetached.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
  packages/tools/devtools/devtools-example/src/FluidObject.ts
Labels: area: examples, area: dev experience, area: tests, public api change, base: main

#21417 Migrate documentation using schematize/TreeConfiguration to use viewWith
  docs/content/_index.md
  docs/content/docs/data-structures/tree.md
  docs/content/docs/start/tutorial.md
Labels: documentation, base: main

#21427 feat(telemetry-utils): Export `TelemetryEventBatcher`
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/telemetryEventBatcher.ts
Labels: base: main

#21397 [Summarization] Fix flaky summarization test that was using heuristic based summary
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#21422 [Summarization] Removed flaky summarization test for validating data store count in summarize event
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
Labels: area: tests, base: main

#21423 Remove deprecation from SharedDirectory
  packages/dds/map/api-report/map.alpha.api.md
  packages/dds/map/src/directoryFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: dds, public api change, base: main

#18898 tree: Provide customized schema based instanceof behavior
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21407 improve node identifier documentation and add failure case to `shortId()`
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21418 (odsp-client): Duplicate TokenResponse
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.alpha.api.md
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.beta.api.md
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/service-clients/odsp-client/api-report/odsp-client.alpha.api.md
  packages/service-clients/odsp-client/api-report/odsp-client.beta.api.md
  packages/service-clients/odsp-client/api-report/odsp-client.public.api.md
  packages/service-clients/odsp-client/src/index.ts
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/odsp-client/src/test/odspTestTokenProvider.ts
  packages/service-clients/odsp-client/src/token.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#21408 Test create/load between different compatibility modes
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
Labels: base: main

#21430 Remove ITree.schematize and TreeConfiguration from the public API
  .changeset/silly-clocks-tan.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21415 normalize sessionSpaceCompressedId to opSpace
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkDecoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldSnapshots.test.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/node-with-identifier-field.json
  packages/dds/tree/src/test/snapshots/summary.spec.ts
  packages/dds/tree/src/test/snapshots/summary/Compressed/v1/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v2/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v1/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v2/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/tree-with-identifier-field-final.json
  packages/dds/tree/src/test/snapshots/testTreeScenarios.ts
  packages/dds/tree/src/test/tree/detachedFieldIndex.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21434 Fix azure-client ephemeral container tests
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
Labels: base: main

#21429 Add internal error code to NetworkError and change draining error code
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
Labels: area: server, public api change, base: main

#21296 Error logging: Add future support to rename untrustedOrigin to errorRunningExternalCode
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#21436 fix(telemetry-utils): Update `MockLogger` to correctly respect `minLogLevel`
  packages/utils/telemetry-utils/api-report/telemetry-utils.alpha.api.md
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
Labels: public api change, base: main

#21435 docs(core-interfaces): Document members of `ITelemetryBaseLogger`
  packages/common/core-interfaces/api-report/core-interfaces.alpha.api.md
  packages/common/core-interfaces/api-report/core-interfaces.beta.api.md
  packages/common/core-interfaces/api-report/core-interfaces.public.api.md
  packages/common/core-interfaces/src/logger.ts
Labels: public api change, base: main

#21379 [Summarization] Update the summarizer / GC APIs on channels to use visitor pattern
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, base: main

#21348 [GC] Added message timestamps when calling GarbageCollector::addedOutboundReference
  packages/runtime/container-runtime/api-report/container-runtime.alpha.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, public api change, base: main

#21437 refactor(telemetry-utils): Updates the package to use our `strict` eslint config and fixes resulting violations in the code
  packages/runtime/container-runtime/src/test/summary/orderedClientElection.spec.ts
  packages/runtime/container-runtime/src/test/summary/summarizerClientElection.spec.ts
  packages/utils/telemetry-utils/.eslintrc.cjs
  packages/utils/telemetry-utils/api-report/telemetry-utils.alpha.api.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.beta.api.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.public.api.md
  packages/utils/telemetry-utils/src/config.ts
  packages/utils/telemetry-utils/src/error.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/eventEmitterWithErrorHandling.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/sampledTelemetryHelper.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
  packages/utils/telemetry-utils/src/test/childLogger.spec.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
  packages/utils/telemetry-utils/src/test/multiSinkLogger.spec.ts
  packages/utils/telemetry-utils/src/test/performanceEvent.spec.ts
  packages/utils/telemetry-utils/src/test/sampledTelemetryHelper.spec.ts
  packages/utils/telemetry-utils/src/test/telemetryEventBatcher.spec.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
  packages/utils/telemetry-utils/src/test/thresholdCounter.spec.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
  packages/utils/telemetry-utils/src/thresholdCounter.ts
  packages/utils/telemetry-utils/src/utils.ts
Labels: area: runtime, public api change, base: main

#21443 [GC] Fix GC cross compat tests failing for ODSP and AFR
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
Labels: area: tests, base: main

#21428 Server: Socket.io ping-pong latency telemetry
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-shared/src/webServer.ts
Labels: area: server, base: main

#21447 docs(telemetry-utils): Expand documentation
  packages/utils/telemetry-utils/api-report/telemetry-utils.alpha.api.md
  packages/utils/telemetry-utils/src/telemetryTypes.ts
Labels: public api change, base: main

#21433 fix(tree): fix commit enrichment and sending for aborted commits
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/branchCommitEnricher.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree-core/transactionEnricher.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21395 tree: Fix bugs with NodeInDocumentConstraint
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21456 Tree: Group InternalTypes together in a single export
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/codec/discriminatedUnions.ts
  packages/dds/tree/src/core/tree/types.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/internalTypes.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/internalTypes.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/internalTypes.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21458 build: Use flub generate assertTags for assert tagging
  package.json
Labels: base: main

#21455 Filter out ops with snapshot sequence number while getting local state
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
Labels: area: runtime, area: tests, base: main

#20802 test(tree): add allowsRepoSuperset tests for backward-compatibility
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21251 Refactor ArrayNode methods, add usage errors, and deprecate flex-tree methods
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#21453 Enable noUncheckedIndexedAccess for framework packages
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/src/stringInterner.ts
  packages/framework/attributor/tsconfig.json
Labels: area: framework, base: main

#21466 feat: Add (internal) mock "Ext" logger implementation for testing
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: base: main

#21459 Don't send ops during legacy SharedTree summarization
  experimental/dds/tree/package.json
  experimental/dds/tree/src/SharedTree.ts
Labels: area: dds, area: dds: tree, base: main

#21355 Runtime: Begin to deprecate Compat Details on ContainerRuntime messages
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
Labels: area: runtime, area: tests, base: main

#21446 test(client): remove `@alpha` tag from internal test code
  packages/runtime/id-compressor/src/test/testCommon.ts
Labels: area: runtime, base: main

#21463 feat(tree): Log telemetry for undo/redo (revert) operations
  experimental/dds/tree/src/SharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/index.ts
Labels: area: dds, area: dds: tree, base: main

#21480 Send telemetry event from SharedTree Rebase operation.
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/telemetryEventBatcher.ts
  packages/utils/telemetry-utils/src/test/telemetryEventBatcher.spec.ts
  packages/utils/telemetry-utils/src/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21454 (odsp-client): Update env and minor cleanup
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  tools/pipelines/test-service-clients.yml
Labels: area: build, base: main

#21462 (core-utils): Enable exactOptionalPropertyTypes
  packages/common/core-utils/src/timer.ts
  packages/common/core-utils/tsconfig.json
Labels: base: main

#21478 Remove mocha's --exit flag from common config
  experimental/framework/tree-react-api/.mocharc.cjs
  packages/dds/tree/.mocharc.cjs
  packages/test/mocha-test-setup/mocharc-common.cjs
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
Labels: area: tests, base: main

#21484 fix(tree): allow changes to depend on nodes built in prior violated transaction
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21421 tree: Fix dist imports in tests
  packages/dds/tree/.vscode/Tree.code-workspace
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21258 fix(directory): Send error event for unexpected pending message
  packages/dds/map/src/directory.ts
Labels: area: dds, base: main

#21426 Telemetry to observe single-commit-summ
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
Labels: area: loader, base: main

#21465 server: Add changesets for some changes included in the 5.0 release
  server/routerlicious/.changeset/brave-oranges-move.md
  server/routerlicious/.changeset/breezy-cows-melt.md
  server/routerlicious/.changeset/calm-moose-wave.md
  server/routerlicious/.changeset/cold-seals-bake.md
  server/routerlicious/.changeset/curly-plants-knock.md
  server/routerlicious/.changeset/deep-cats-eat.md
  server/routerlicious/.changeset/eight-crews-suffer.md
  server/routerlicious/.changeset/fair-dots-grab.md
  server/routerlicious/.changeset/khaki-friends-spend.md
  server/routerlicious/.changeset/legal-paths-train.md
  server/routerlicious/.changeset/odd-facts-cross.md
  server/routerlicious/.changeset/real-steaks-enjoy.md
  server/routerlicious/.changeset/rich-bobcats-doubt.md
  server/routerlicious/.changeset/sad-suns-grab.md
  server/routerlicious/.changeset/seven-lizards-scream.md
  server/routerlicious/.changeset/two-ants-dream.md
Labels: base: main

#21470 refactor(telemetry-utils): Make `MockLogger`'s `events` property externally read-only
  .changeset/tepid-preconditions-coagulate.md
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.alpha.api.md
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/mockLogger.spec.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: main

#21482 tree: Reduce tree stable/public API surface using InternalTypes
  .changeset/public-rabbits-deny.md
  experimental/framework/tree-react-api/src/test/schema.examples.spec.ts
  experimental/framework/tree-react-api/src/test/tsconfig.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#21505 build(server): Generate changelogs for 5.0 release
  server/routerlicious/.changeset/brave-oranges-move.md
  server/routerlicious/.changeset/breezy-cows-melt.md
  server/routerlicious/.changeset/calm-moose-wave.md
  server/routerlicious/.changeset/cold-seals-bake.md
  server/routerlicious/.changeset/config.json
  server/routerlicious/.changeset/curly-plants-knock.md
  server/routerlicious/.changeset/deep-cats-eat.md
  server/routerlicious/.changeset/eight-crews-suffer.md
  server/routerlicious/.changeset/fair-dots-grab.md
  server/routerlicious/.changeset/khaki-friends-spend.md
  server/routerlicious/.changeset/legal-paths-train.md
  server/routerlicious/.changeset/odd-facts-cross.md
  server/routerlicious/.changeset/real-steaks-enjoy.md
  server/routerlicious/.changeset/rich-bobcats-doubt.md
  server/routerlicious/.changeset/sad-suns-grab.md
  server/routerlicious/.changeset/seven-lizards-scream.md
  server/routerlicious/.changeset/two-ants-dream.md
  server/routerlicious/packages/gitresources/CHANGELOG.md
  server/routerlicious/packages/kafka-orderer/CHANGELOG.md
  server/routerlicious/packages/lambdas-driver/CHANGELOG.md
  server/routerlicious/packages/lambdas/CHANGELOG.md
  server/routerlicious/packages/local-server/CHANGELOG.md
  server/routerlicious/packages/memory-orderer/CHANGELOG.md
  server/routerlicious/packages/protocol-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious/CHANGELOG.md
  server/routerlicious/packages/services-client/CHANGELOG.md
  server/routerlicious/packages/services-core/CHANGELOG.md
  server/routerlicious/packages/services-ordering-kafkanode/CHANGELOG.md
  server/routerlicious/packages/services-ordering-rdkafka/CHANGELOG.md
  server/routerlicious/packages/services-ordering-zookeeper/CHANGELOG.md
  server/routerlicious/packages/services-shared/CHANGELOG.md
  server/routerlicious/packages/services-telemetry/CHANGELOG.md
  server/routerlicious/packages/services-utils/CHANGELOG.md
  server/routerlicious/packages/services/CHANGELOG.md
  server/routerlicious/packages/test-utils/CHANGELOG.md
  server/routerlicious/packages/tinylicious/CHANGELOG.md
Labels: base: main

#21496 build: Remove biome.lspBin workspace setting and update biome configuration
  .vscode/settings.json
  biome.jsonc
Labels: area: contributor experience, base: main

#21508 Updated API Type section header to API Support Levels for clarity
  docs/content/docs/build/releases-and-apitags.md
Labels: documentation, base: main

#21499 build(server): Add server v5 release notes
  server/routerlicious/RELEASE_NOTES/5.0.0.md
Labels: area: server, base: main

#21503 fix(docs): Don't hide `@alpha` APIs from website docs
  docs/api-markdown-documenter/alert-node.js
  docs/api-markdown-documenter/api-documentation-layout.js
  docs/api-markdown-documenter/custom-renderers.js
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#21494 server: Add tenantId and documentId to socket connection metric
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, base: main

#21497 refactor(telemetry-utils): Deprecate `MockLogger` for external use
  .changeset/small-days-randomize.md
  examples/benchmarks/odspsnapshotfetch-perftestapp/src/fetchApp.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.alpha.api.md
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: area: examples, public api change, base: main

#21509 Make several interfaces as sealed
  packages/common/core-interfaces/api-report/core-interfaces.alpha.api.md
  packages/common/core-interfaces/api-report/core-interfaces.beta.api.md
  packages/common/core-interfaces/api-report/core-interfaces.public.api.md
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/common/core-interfaces/src/handles.ts
  packages/dds/shared-object-base/api-report/shared-object-base.alpha.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.beta.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.public.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/feature-libraries/typed-schema/flexList.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21511 build(server): Downgrade build-tools to 0.38.0
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/gitresources/src/test/types/validateGitresourcesPrevious.generated.ts
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/kafka-orderer/src/test/types/validateServerKafkaOrdererPrevious.generated.ts
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/test/types/validateServerLambdasDriverPrevious.generated.ts
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/routerlicious/src/test/types/validateServerRouterliciousPrevious.generated.ts
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/test/types/validateServerServicesOrderingKafkanodePrevious.generated.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/test/types/validateServerServicesOrderingRdkafkaPrevious.generated.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/test/types/validateServerServicesOrderingZookeeperPrevious.generated.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/test/types/validateServerServicesSharedPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main
