Repository microsoft/FluidFramework, pull requests merged in 2024-08, with the labels that each got.

#22072 ci: Fix docker pipelines to correctly pack packages
  server/routerlicious/Dockerfile
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#22080 Move obliterate reconnection under separate flag and improve behavior
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/obliterate.reconnect.spec.ts
  packages/dds/merge-tree/src/test/reconnectHelper.ts
  packages/dds/sequence/src/test/multiClientTestUtils.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#22090 Typeo fix: instancof -> instanceof
  packages/common/core-interfaces/src/erasedType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/dds/tree/src/util/brand.ts
Labels: area: dds, area: dds: tree, base: main

#22082 RemoteMessageProcessor: Return additional metadata about the inbound batch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#22091 docs: Update for v2 Signaler rename
  docs/content/docs/concepts/signals.md
Labels: documentation, base: main

#22085 Fix op reentry flaky test
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
Labels: area: tests, base: main

#22068 Increase describeInstallVersions timeout
  packages/test/test-version-utils/src/describeWithVersions.ts
Labels: area: tests, base: main

#22051 Change data properties in `@fluid-tools/benchmark`
  tools/benchmark/CHANGELOG.md
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ResultTypes.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/customOutputRunner.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/resultFormatting.ts
  tools/benchmark/src/runBenchmark.ts
Labels: public api change, base: main

#22073 e2e tests: Refactor handleValidation.spec.ts for clarity
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
Labels: area: tests, base: main

#21992 [GC] Cleanup configs and options that are not used or needed anymore
  .changeset/orange-ads-join.md
  packages/framework/fluid-static/src/compatibilityConfiguration.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/service-clients/azure-client/src/test/AzureClient.spec.ts
  packages/service-clients/odsp-client/src/test/odspClient.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpdate.spec.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main, changeset-present

#22099 Disabled messageSize test for t9s
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#22100 docs: data-objects API clarity
  docs/content/docs/concepts/signals.md
  experimental/framework/data-objects/api-report/data-objects.alpha.api.md
  experimental/framework/data-objects/api-report/data-objects.beta.api.md
  experimental/framework/data-objects/api-report/data-objects.public.api.md
  experimental/framework/data-objects/src/index.ts
  experimental/framework/data-objects/src/signaler/README.md
  experimental/framework/data-objects/src/signaler/signaler.ts
Labels: documentation, area: dev experience, public api change, base: main

#22093 (ci): include .md file changes to trigger website validation
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#22104 ci: Add warning to release branch PRs
  .github/workflows/data/release-branch-warning.md
  .github/workflows/pr-release-branch-warning.yml
Labels: area: build, base: main

#22108 Tag asserts
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV2.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#22105 Fix missing / wrong data output stored from the benchmark tools
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/resultFormatting.ts
Labels: base: main

#22077 rm redundant 'mocha-test-setup' from command line
  experimental/dds/ot/ot/package.json
  experimental/dds/ot/sharejs/json1/package.json
  experimental/dds/sequence-deprecated/package.json
  experimental/dds/tree/package.json
  packages/common/client-utils/package.json
  packages/dds/matrix/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/pact-map/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/framework/aqueduct/package.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-static/package.json
  packages/utils/odsp-doclib-utils/package.json
  tools/benchmark/package.json
Labels: area: framework, area: driver, area: dds, area: odsp-driver, area: dds: tree, base: main

#22045 feat(tree): Add isRepoSuperset to validate the incompatibilities between …
  .changeset/strong-mice-talk.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/discrepancies.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#22094 PendingStateManager: Simplify (aka reduce redundant) batch validation logic
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#22110 refactor(ci): Increase timeout of local server e2e tests from 3s to 15s
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#22113 [bump] benchmark: 0.50.0 => 0.51.0 (minor)
  tools/benchmark/package.json
Labels: base: main

#22111 Remove PropertyDDS to Tree Schema Converter
  .changeset/old-teeth-study.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/README.md
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/index.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/schemaConverter.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
Labels: area: dds: propertydds, base: main, changeset-present

#22114 tree: Remove some unneeded internal exports from tree
  packages/dds/tree/api-extractor.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: dds, area: tests, public api change, area: dds: tree, base: main

#22107 [GC] Removed throwOnInactiveLoad GC option and the config to disable autorecovery
  .changeset/ready-windows-switch.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/service-clients/azure-client/src/test/AzureClient.spec.ts
  packages/service-clients/odsp-client/src/test/odspClient.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, public api change, base: main, changeset-present

#22106 tree: Fix Recursive MapNode d.ts generation
  .changeset/moody-meals-wonder.md
  experimental/framework/tree-react-api/src/test/importer.spec.ts
  experimental/framework/tree-react-api/src/test/schema.examples.spec.ts
  experimental/framework/tree-react-api/src/test/tsconfig.json
  experimental/framework/tree-react-api/src/testExports.ts
  experimental/framework/tree-react-api/tsconfig.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/typesUnsafe.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, area: dev experience, public api change, area: dds: tree, base: main, changeset-present

#22119 tree: Fix bug with incremental rebasing
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22116 Fix Fuzz Test Replay and Minimization with stashing
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#22088 refactor(bubblebench/ot): Promote eslint config to `recommended` and fix violations
  examples/benchmarks/bubblebench/ot/.eslintrc.cjs
  examples/benchmarks/bubblebench/ot/src/index.ts
  examples/benchmarks/bubblebench/ot/src/main.ts
  examples/benchmarks/bubblebench/ot/src/proxy/tree.ts
  examples/benchmarks/bubblebench/ot/src/state.ts
Labels: area: examples, base: main

#22103 perf: Use transactions for better latency in bubblebench/sharedtree
  examples/benchmarks/bubblebench/baseline/src/state.ts
  examples/benchmarks/bubblebench/common/src/types.ts
  examples/benchmarks/bubblebench/common/src/view/app.tsx
  examples/benchmarks/bubblebench/experimental-tree/src/state.ts
  examples/benchmarks/bubblebench/ot/src/state.ts
  examples/benchmarks/bubblebench/shared-tree/src/appState.ts
Labels: area: examples, base: main

#22124 tree: Use B-tree for generic field changesets
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindTypes.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22123 Reapply "tree: Change method for selecting random node ranges in fuzz tests"
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
Labels: area: dds, area: dds: tree, base: main

#22130 ci: Ignore changesets and release notes for website check
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#22128 build(client): Add missing independent packages to syncpack config
  syncpack.config.cjs
Labels: base: main

#21896 update(benchmark-test): Update benchmark-tool dependency version and usage
  examples/benchmarks/tablebench/package.json
  experimental/dds/attributable-map/package.json
  experimental/dds/attributable-map/src/test/memory/.mocharc.cjs
  experimental/dds/tree/package.json
  packages/common/core-utils/package.json
  packages/dds/map/package.json
  packages/dds/map/src/test/memory/.mocharc.cjs
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/memory/.mocharc.cjs
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/memory/.mocharc.cjs
  packages/dds/tree/package.json
  packages/dds/tree/src/test/memory/.mocharc.cjs
  packages/runtime/container-runtime/package.json
  packages/runtime/id-compressor/package.json
  packages/test/mocha-test-setup/README.md
  packages/test/stochastic-test-utils/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.cjs
  pnpm-lock.yaml
  tools/telemetry-generator/src/handlers/appInsightsExecutionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsMemoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/executionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/memoryUsageTestHandler.ts
Labels: area: examples, area: runtime, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#22102 ci: Update release notes tracking issue
  .changeset/green-spies-arrive.md
  .changeset/light-bags-wash.md
  .changeset/many-moments-juggle.md
  .changeset/moody-toys-dance.md
  .changeset/olive-areas-bow.md
  .changeset/silver-rivers-judge.md
  .changeset/smart-toys-repeat.md
  .changeset/thick-birds-vanish.md
  .github/workflows/data/release-notes-issue-intro.md
  .github/workflows/release-notes-issue.yml
Labels: area: build, base: main, changeset-present

#22127 tree: Fix bug in isTreeNode for "marinated" nodes, and tidy up proxy binding
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/ProxyBinding.md
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/simple-tree/mapNode.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/treeNodeKernel.spec.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22098 docs(tree): fix single json cursor comment
  packages/dds/tree/src/domains/json/jsonCursor.ts
Labels: area: dds, area: dds: tree, base: main

#22118 Remove test-app-insights-logger and load-test collateral
  PACKAGES.md
  feeds/internal-build.txt
  feeds/internal-test.txt
  fluidBuild.config.cjs
  packages/test/test-app-insights-logger/.eslintrc.cjs
  packages/test/test-app-insights-logger/.gitignore
  packages/test/test-app-insights-logger/.npmignore
  packages/test/test-app-insights-logger/CHANGELOG.md
  packages/test/test-app-insights-logger/LICENSE
  packages/test/test-app-insights-logger/README.md
  packages/test/test-app-insights-logger/api-extractor/api-extractor-lint-bundle.json
  packages/test/test-app-insights-logger/api-extractor/api-extractor-lint-index.cjs.json
  packages/test/test-app-insights-logger/api-extractor/api-extractor-lint-index.esm.json
  packages/test/test-app-insights-logger/biome.jsonc
  packages/test/test-app-insights-logger/package.json
  packages/test/test-app-insights-logger/prettier.config.cjs
  packages/test/test-app-insights-logger/src/appinsightstestlogger.ts
  packages/test/test-app-insights-logger/src/index.ts
  packages/test/test-app-insights-logger/tsconfig.cjs.json
  packages/test/test-app-insights-logger/tsconfig.esnext.json
  packages/test/test-app-insights-logger/tsconfig.json
  packages/test/test-service-load/.dockerignore
  packages/test/test-service-load/Dockerfile
  packages/test/test-service-load/fluid-scale-test.yaml
  packages/test/test-service-load/runLoadTestOnAks.ps1
  packages/test/test-service-load/testRunner.sh
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#22136 Stop spammy log line
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
Labels: area: runtime, base: main

#22137 Schema check for mapTreeFromNodeData
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22142 refactor(api-markdown-documenter): Update `loadModel` to take a configuration object
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/LoadModel.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/test-data/README.md
  tools/api-markdown-documenter/src/test/test-data/empty-model/dummy.txt
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test/simple-suite-test.api.json
Labels: public api change, base: main

#22141 ContainerRuntime: Prevent legacy codepath log from spamming in the future
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#22122 tree: Add Recursive ArrayNode export workaround
  .changeset/sweet-things-wash.md
  experimental/framework/tree-react-api/src/testExports.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/feature-libraries/chunked-forest/chunk.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
Labels: area: dds, area: dev experience, public api change, area: dds: tree, base: main, changeset-present

#22149 Switch Migrator to events object
  examples/utils/example-utils/src/migrationInterfaces/migrator.ts
  examples/utils/example-utils/src/migrator/migrator.ts
  examples/version-migration/same-container/tests/sameContainer.test.ts
  examples/version-migration/schema-upgrade/src/start.ts
  examples/version-migration/schema-upgrade/tests/index.tsx
  examples/version-migration/schema-upgrade/tests/separateContainer.test.ts
Labels: base: main

#22138 tree: Update readmes related to forest
  packages/dds/tree/README.md
  packages/dds/tree/src/core/forest/README.md
  packages/dds/tree/src/feature-libraries/chunked-forest/README.md
Labels: area: dds, area: dds: tree, base: main

#22096 refactor(tree): remove schema builder from forest test suite
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22152 Clean-up MapTreeNode and allow FlexTreeContext to be undefined
  packages/dds/tree/src/core/tree/mapTree.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22154 improvement(client): remove deprecated internal `ISignalEnvelope`
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
Labels: area: runtime, base: main

#22125 Generate release report for test branches
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/index.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, public api change, base: main

#22145 tree: Split up simple-tree directory
  packages/dds/tree/src/simple-tree/api/README.md
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/README.md
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/core/treeNodeKernel.spec.ts
  packages/dds/tree/src/test/simple-tree/mapNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22159 tree: Prepare to move TreeNode
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/withType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22156 Fix messageSize e2e test
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#22162 Describe hydration
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/mapNode.spec.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22153 Flaky test fix: Run summarizer test only for local and odsp
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeRestart.spec.ts
Labels: area: tests, base: main

#22161 tree: Move TreeNodeSchema and TreeNode to core
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/README.md
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/schemaCaching.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/getJsonSchema.ts
  packages/dds/tree/src/simple-tree/getSimpleFieldSchema.ts
  packages/dds/tree/src/simple-tree/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/jsonSchema.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/simple-tree/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22147 Use the correct settings for compression combinations test
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
Labels: area: tests, base: main

#22164 Make ephemeral Document TTL configurable
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/storage.ts
Labels: area: server, base: main

#22117 New errorType/Message for "Found a lower minimumSequenceNumber (msn) than previously recorded"
  packages/loader/container-loader/src/deltaManager.ts
Labels: area: loader, base: main

#22163 Update MapTree's deep copying function to use a stack
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/core/tree/mapTree.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22165 Use MapTrees as flexible node content
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
Labels: area: dds, area: dds: tree, base: main

#22157 improvement(client): formalize IFluidContainerInternal
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/tools/devtools/devtools/api-report/devtools.alpha.api.md
  packages/tools/devtools/devtools/api-report/devtools.beta.api.md
  packages/tools/devtools/devtools/api-report/devtools.public.api.md
  packages/tools/devtools/devtools/src/index.ts
Labels: area: framework, public api change, base: main

#22170 Expose `editor` for flex fields
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
Labels: area: dds, area: dds: tree, base: main

#22172 Derive MapTreeField MapTrees from parent
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
Labels: area: dds, area: dds: tree, base: main

#22173 loadContainerPaused() test fix
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
Labels: area: tests, base: main

#22160 Skip flaky tests for specific drivers
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringEndToEndTests.spec.ts
Labels: area: tests, base: main

#22180 refactor(ci): Remove redundant component detection task in server pipelines
  tools/pipelines/templates/include-generate-notice-steps.yml
Labels: area: build, base: main

#22177 tree: Remove cursorFromNodeData, tidy node vs field handling
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21921 test(client): add IFluidContainer schema typing examples
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/tests/index.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/fluid.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/index.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/reactApp.tsx
Labels: area: examples, base: main

#22182 Reduce flex MapNode interface
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22168 [port 2.1]: Fix upload release report step
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/index.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-install-build-tools.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/upload-dev-manifest.yml
Labels: area: build, public api change, base: release

#22171 docs(api-markdown-documenter): Add a glossary to the package README
  tools/api-markdown-documenter/README.md
Labels: base: main

#22184 Add `unparentedLocation` to `MapTreeNode`
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
Labels: area: dds, area: dds: tree, base: main

#22185 Fix Tree.schema
  .changeset/loud-items-joke.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22169 Repro 0x11f - Requesting unknown blobs - offline
  packages/test/test-end-to-end-tests/src/test/offline/blobHandles.spec.ts
Labels: area: tests, base: main

#22181 refactor(ci): Cache dependencies for full-compat e2e tests installs
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#22186 Allow mutation of unhydrated optional/required fields
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/mapNode.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22140 test(shared-tree): Add Summary Size & OpSize Measurement to Test Report
  packages/dds/tree/.gitignore
  packages/dds/tree/.mocharc.customBenchmarks.cjs
  packages/dds/tree/package.json
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/test/shared-tree/summary.bench.ts
  tools/benchmark/src/mocha/customOutputRunner.ts
Labels: area: dds, area: dds: tree, base: main

#22187 tree: Simplify internal schema getters
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
Labels: area: dds, area: dds: tree, base: main

#22133 ci(client): Trigger client on any edit to root files
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22190 fix(ci): Make caching of compat version install location conditional
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#22191 tree: Simplify and improve toMapTree
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
Labels: area: dds, area: dds: tree, base: main

#22183 MergeTree: Deprecate the PropertyManager Class and Its Exposure
  .changeset/fancy-books-smell.md
  examples/data-objects/prosemirror/src/fluidBridge.ts
  experimental/dds/sequence-deprecated/src/sequenceFactory.ts
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/text.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/marshalling.spec.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: examples, area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#22193 Allow inserts and removes in unhydrated arrays
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22126 Fix flaky test for odsp related to blobs.
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: tests, base: main

#22198 test(tree): remove extraneous snapshot files
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/hasAnyValueField.json
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/hasAnyValueFieldRecursive.json
  packages/dds/tree/src/test/snapshots/schema-files/hasAnyValueField.json
  packages/dds/tree/src/test/snapshots/schema-files/hasAnyValueFieldRecursive.json
Labels: area: dds, area: dds: tree, base: main

#22199 Remove `move` method from sequence editor
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22189 test(tree): remove schema builder usage from cursor test suite
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/complex.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/double nested.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/field.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/fixed shape object.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/longer sequence.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/multiple fields.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/nested object.json
  packages/dds/tree/src/test/snapshots/chunked-forest-compressed-schemaless/siblings restored on up.json
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22201 Use TextEncoder byte length to calcaulte body size in odsp driver
  packages/drivers/odsp-driver/src/createNewUtils.ts
Labels: area: driver, area: odsp-driver, base: main

#22192 tree: Add tree FAQ
  packages/dds/tree/README.md
Labels: area: dds, area: dds: tree, base: main

#22176 PendingStateManager: Throw fatal error rather than calling closeFn
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#22195 tree: Map Tree related cleanup
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22206 Update array test to avoid timeouts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22197 Use createTestLogger in stress test
  packages/test/test-service-load/src/FileLogger.ts
Labels: area: tests, base: main

#22207 refactor(ci): Add retries to steps that could fail due to network hiccups
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#22179 refactor: Address CredScan warning in server pipelines
  CredScanSuppressions.json
  server/routerlicious/packages/routerlicious/config/telegraf/telegraf.conf
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#22211 refactor(ci): Update credscan suppressions to handle historian and gitrest
  CredScanSuppressions.json
Labels: base: main

#22109 server: telemetry context header
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/externalStorageManager.ts
  server/gitrest/packages/gitrest-base/src/logger.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/logger.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/routerlicious/.changeset/clean-taxes-float.md
  server/routerlicious/.changeset/smooth-glasses-notice.md
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/constants.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-telemetry/src/index.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/services-telemetry/src/telemetryContext.ts
  server/routerlicious/packages/services-utils/src/logger.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
  server/routerlicious/packages/services-utils/src/telemetryContext.ts
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/documentManager.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, public api change, base: main, changeset-present

#22210 Revert "refactor(ci): Remove redundant component detection task in server pipelines"
  tools/pipelines/templates/include-generate-notice-steps.yml
Labels: area: build, base: main

#22216 Ignore benchmark tests' output reports in biome formatting
  biome.jsonc
Labels: base: main

#22196 test(tree): Increase timeout for "Editing -> Sequence Field -> Exhaustive removal tests -> All Scenarios" test
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22205 Fix error in `@fluid-tools/benchmark`'s `CHANGELOG`
  tools/benchmark/CHANGELOG.md
Labels: base: main

#22209 Add instructional docs for accessibility and testing for Dev Tools
  packages/tools/devtools/devtools-view/README.md
  packages/tools/devtools/devtools-view/src/test/README.MD
Labels: base: main

#22218 Fix merge conflict in CHANAGELOG
  tools/benchmark/CHANGELOG.md
Labels: base: main

#22188 tree: add and use create utils
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/create.spec.ts
  packages/dds/tree/src/test/simple-tree/api/verboseTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22219 Prevent moist insertion
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22217 server: Switch Ephemeral Container expired to document deleted message
  server/historian/packages/historian-base/src/routes/utils.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#22150 refactor(api-markdown-documenter): Add first-step functionality for API Model TSDoc linting
  tools/api-markdown-documenter/src/LintApiModel.ts
  tools/api-markdown-documenter/src/LoadModel.ts
  tools/api-markdown-documenter/src/Logging.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/ToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Configuration.ts
  tools/api-markdown-documenter/src/test/LintApiModel.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testinterface-propertywithbadinheritdoctarget-propertysignature.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testinterface-propertywithbadinheritdoctarget-propertysignature.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test/simple-suite-test.api.json
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: base: main

#22139 PendingStateManager: More efficient validation of local op roundtrip
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, release-blocking, base: main

#22120 Convert attributor to IFluidDataStoreChannel
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  packages/framework/attributor/package.json
  packages/framework/attributor/src/attributorContracts.ts
  packages/framework/attributor/src/index.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/runtimeAttributor.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreChannel.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreFactory.ts
  packages/framework/attributor/src/test/mixinAttributor.spec.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, area: tests, base: main

#22221 Update stack trace limit for local change error
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/utils/telemetry-utils/src/errorLogging.ts
Labels: area: runtime, base: main

#22222 tree: Add schema symbol to TreeNodes to allow NodeKind based narrowing.
  .changeset/fruity-birds-love.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/core/withType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22228 Implement moves between unhydrated array nodes
  packages/dds/tree/src/feature-libraries/flex-map-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22226 fix(fluid-build): Fix failures when deleting files
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-tools/src/common/gitRepo.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: build, base: main

#22234 [bump] build-tools: 0.43.0 => 0.44.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22233 tree: Stop using FieldNodes
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
Labels: area: dds, area: dds: tree, base: main

#22232 tree: Remove use of typedJsonCursor in lazyField tests
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22235 Revert "ci(client): Trigger client on any edit to root files"
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#22067 build: Generate release notes for 2.2 release
  .changeset/fruity-birds-love.md
  .changeset/light-bags-wash.md
  .changeset/loud-items-joke.md
  .changeset/moody-meals-wonder.md
  .changeset/old-teeth-study.md
  .changeset/olive-areas-bow.md
  .changeset/orange-ads-join.md
  .changeset/purple-analysts-depart.md
  .changeset/strong-mice-talk.md
  .changeset/sweet-things-wash.md
  .changeset/thick-birds-vanish.md
  RELEASE_NOTES/2.2.0.md
  fluidBuild.config.cjs
Labels: base: main, changeset-present

#22223 Refactor test to be more reliable
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: tests, base: main

#22194 Pull IMigrationTool out of the IMigratableModel interface
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/migrationInterfaces/index.ts
  examples/utils/example-utils/src/migrationInterfaces/migratableModel.ts
  examples/utils/example-utils/src/migrator/migrator.ts
  examples/utils/example-utils/src/modelLoader/index.ts
  examples/utils/example-utils/src/modelLoader/instantiateMigratableRuntime.ts
  examples/utils/example-utils/src/modelLoader/interfaces.ts
  examples/utils/example-utils/src/modelLoader/migratableModelLoader.ts
  examples/utils/example-utils/src/modelLoader/migratableSessionStorageModelLoader.ts
  examples/utils/example-utils/src/modelLoader/modelContainerRuntimeFactory.ts
  examples/version-migration/schema-upgrade/package.json
  examples/version-migration/schema-upgrade/src/modelVersion1/appModel.ts
  examples/version-migration/schema-upgrade/src/modelVersion1/containerCode.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/appModel.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/containerCode.ts
  examples/version-migration/schema-upgrade/src/start.ts
  examples/version-migration/schema-upgrade/src/view/appView.tsx
  examples/version-migration/schema-upgrade/src/view/debugView.tsx
  examples/version-migration/schema-upgrade/tests/index.tsx
  examples/version-migration/schema-upgrade/tests/separateContainer.test.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22224 refactor(api-markdown-documenter): Add `{@link}` tag reference validation to linter
  tools/api-markdown-documenter/src/LintApiModel.ts
  tools/api-markdown-documenter/src/test/LintApiModel.test.ts
Labels: base: main

#22239 tree: Remove FieldNodes
  packages/dds/tree/src/domains/json/jsonDomainSchema.ts
  packages/dds/tree/src/domains/schemaBuilder.ts
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schemaBuilderBase.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/schemaCollection.ts
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/domains/schemaBuilder.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/feature-libraries/typedSchema/typedTreeSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22236 build(client): Tag asserts for 2.2 release
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/viewSchemaToSimpleSchema.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/runtimeAttributor.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreChannel.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, area: dds: tree, base: main

#22237 test(api-markdown-documenter): Unify test infra
  tools/api-markdown-documenter/src/test/EndToEndTests.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/SnapshotTestUtilities.ts
Labels: base: main

#22220 server: upgrade server packages in Historian and Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#22247 fix(build-tools): Filter out empty responses from git ls-files
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-tools/src/common/gitRepo.ts
Labels: area: build, base: main

#22242 FluidStatic: Remove unused code from rootDataObject
  packages/framework/fluid-static/src/rootDataObject.ts
Labels: area: framework, base: main

#22253 make consumeLoopTimeoutDelay configurable
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
Labels: area: server, base: main

#22255 tree: Remove a few more FLexTree APIs
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22257 tree: Remove FlexTreeObjectNode schema aware properties.
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/test/domains/schemaBuilder.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
Labels: area: dds, area: dds: tree, base: main

#21826 improvement(fluid-build): Support include/ignore settings in Biome task
  biome.jsonc
  build-tools/biome.jsonc
  build-tools/packages/build-tools/biome.jsonc
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/biomeConfig.ts
  build-tools/packages/build-tools/src/common/biomeConfigTypes.d.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/biomeTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/test/biomeConfig.test.ts
  build-tools/packages/build-tools/src/test/data/biome/add-includes-ignores.jsonc
  build-tools/packages/build-tools/src/test/data/biome/base.jsonc
  build-tools/packages/build-tools/src/test/data/biome/empty.jsonc
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/biome.jsonc
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/extended.jsonc
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/include-formatter/formatter.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/pkg-a-ignore/ignoredFile.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/pkg-a-include/include-formatter/formatter.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/pkg-a-include/include-linter/linter.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/pkg-a-include/pkg-a-ignore/ignoredFile.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-a/pkg-a-include/sourceFile.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/biome.jsonc
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/ignore-formatter-added-1/ignoredFile.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/include-formatter-added-1/markdownFile1.md
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/include-formatter-added-1/sourceFile.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/include-formatter-added-1/subdirectory/markdownFile2.md
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/include-formatter-added-1/subdirectory/sourceFile2.ts
  build-tools/packages/build-tools/src/test/data/biome/pkg-b/include-md-only.jsonc
  build-tools/packages/build-tools/src/test/data/biome/sourceFile2.ts
  build-tools/packages/build-tools/src/test/init.ts
  build-tools/packages/build-tools/src/test/npmPackage.test.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22259 ci: Bump marocchino/sticky-pull-request-comment action to latest version (2.9.0)
  .github/workflows/changeset-reporter.yml
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/pr-release-branch-warning.yml
Labels: area: build, base: main

#22264 ci: Use pull_request_target in release branch warning workflow
  .github/workflows/pr-release-branch-warning.yml
Labels: base: main

#22262 [main -> 2.2] ci: Bump marocchino/sticky-pull-request-comment action to latest version (2.9.0)
  .github/workflows/changeset-reporter.yml
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/pr-release-branch-warning.yml
Labels: area: build, base: release

#22261 Update manifest version for publishing
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/public/manifest.json
Labels: base: main

#22263 tree: Remove flex tree node kind specific classes
  packages/dds/tree/.dependency-cruiser-known-violations.json
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/unboxed.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
Labels: area: dds, area: dds: tree, base: main

#22148 Update sharedTree fuzz tests to use simple-tree, and remove flex-tree usages
  packages/dds/tree/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/operationTypes.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22270 refactor(ci): Refactor perf benchmarks pipeline to add targeted retry-ability in npm-install steps
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#22276 tree: De-register 'afterSchemaChange' handler when disposing simple tree view
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22274 Break up counter end to end test beforeEach hook for more granular error info
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
Labels: area: tests, base: main

#22281 tree: Remove strong typing from flex tree fields and unboxed flex tree unions
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/unboxed.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22272 SharedTree internal to alpha
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#22283 tree: Update lazyNode.spec
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22278 tools: Don't only require FFAPI reviews for report changes in specific directories
  .github/CODEOWNERS
Labels: area: build, base: main

#22250 feat(api-markdown-documenter): Add `lintApiModel` API
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/src/LintApiModel.ts
  tools/api-markdown-documenter/src/index.ts
Labels: public api change, base: main

#22280 Added correlationId source tracking
  server/routerlicious/.changeset/poor-plums-work.md
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-telemetry/src/telemetryContext.ts
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/src/telemetryContext.ts
Labels: area: server, base: main, changeset-present

#22285 tree: Comply with schema in forest test
  packages/dds/tree/src/test/forestTestSuite.ts
Labels: area: dds, area: dds: tree, base: main

#22279 docs(website): Expand "Fluid Releases and API Support Levels" documentation
  docs/content/docs/build/releases-and-apitags.md
Labels: documentation, base: main

#22277 tree: Disallow creating multiple simple tree views from the same checkout
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22287 tree: Update test trees
  packages/dds/tree/src/domains/index.ts
  packages/dds/tree/src/domains/json/index.ts
  packages/dds/tree/src/domains/json/jsonCursor.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/escapedFields.json
  packages/dds/tree/src/test/snapshots/schema-files/allTheFields-full.json
  packages/dds/tree/src/test/snapshots/schema-files/allTheFields-minimal.json
  packages/dds/tree/src/test/snapshots/schema-files/anyFields-full.json
  packages/dds/tree/src/test/snapshots/schema-files/anyFields-minimal.json
  packages/dds/tree/src/test/snapshots/schema-files/anyMap-empty.json
  packages/dds/tree/src/test/snapshots/schema-files/anyMap-full.json
  packages/dds/tree/src/test/snapshots/schema-files/empty.json
  packages/dds/tree/src/test/snapshots/schema-files/escapedFields.json
  packages/dds/tree/src/test/snapshots/schema-files/false boolean.json
  packages/dds/tree/src/test/snapshots/schema-files/handle.json
  packages/dds/tree/src/test/snapshots/schema-files/hasMinimalValueField.json
  packages/dds/tree/src/test/snapshots/schema-files/hasNumericValueField.json
  packages/dds/tree/src/test/snapshots/schema-files/hasOptionalField-empty.json
  packages/dds/tree/src/test/snapshots/schema-files/hasPolymorphicValueField.json
  packages/dds/tree/src/test/snapshots/schema-files/identifier-field.json
  packages/dds/tree/src/test/snapshots/schema-files/minimal.json
  packages/dds/tree/src/test/snapshots/schema-files/node-with-identifier-field.json
  packages/dds/tree/src/test/snapshots/schema-files/null.json
  packages/dds/tree/src/test/snapshots/schema-files/numeric.json
  packages/dds/tree/src/test/snapshots/schema-files/numericMap-empty.json
  packages/dds/tree/src/test/snapshots/schema-files/numericMap-full.json
  packages/dds/tree/src/test/snapshots/schema-files/numericSequence.json
  packages/dds/tree/src/test/snapshots/schema-files/recursiveType-deeper.json
  packages/dds/tree/src/test/snapshots/schema-files/recursiveType-empty.json
  packages/dds/tree/src/test/snapshots/schema-files/recursiveType-recursive.json
  packages/dds/tree/src/test/snapshots/schema-files/true boolean.json
  packages/dds/tree/src/test/snapshots/snapshotTools.ts
  packages/dds/tree/src/test/testTrees.ts
Labels: area: dds, area: dds: tree, base: main
