Repository microsoft/FluidFramework, pull requests merged in 2024-04, with the labels that each got.

#20390 Move the outbox messages to pending queue when disconnecting the MockContainerRuntime
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/index.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: runtime, area: dds, public api change, base: main

#20378 Support multiple SharedTree format versions
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/docs/main/compatibility.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/codec/versioned/codec.ts
  packages/dds/tree/src/codec/versioned/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/format.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/noChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKindConfiguration.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/index.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/schema-edits/index.ts
  packages/dds/tree/src/feature-libraries/schema-edits/schemaChangeCodecs.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerSummarizer.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree-core/messageFormat.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFormat.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/message.spec.ts
  packages/dds/tree/src/test/shared-tree-core/messageCodec.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/test/snapshots/op-format/field change.json
  packages/dds/tree/src/test/snapshots/op-format/schema change.json
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/testChange.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20401 bump real service e2e time timeout to 75mins
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#20114 build(replay-tool): use node16 module resolution
  packages/tools/replay-tool/api-extractor.json
  packages/tools/replay-tool/package.json
  packages/tools/replay-tool/src/helpers.ts
  packages/tools/replay-tool/src/index.ts
  packages/tools/replay-tool/src/replayFluidFactories.ts
  packages/tools/replay-tool/src/replayMessages.ts
  packages/tools/replay-tool/src/replayTool.ts
  packages/tools/replay-tool/tsconfig.cjs.json
  packages/tools/replay-tool/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#20367 build(client): build test esm before cjs
  azure/packages/azure-service-utils/package.json
  experimental/dds/ot/sharejs/json1/package.json
  packages/dds/matrix/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/tree/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/dds-interceptions/package.json
Labels: area: framework, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, area: dds: tree, base: main

#20412 Snapshot refresh at loading e2e tests
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/test/test-end-to-end-tests/src/test/refreshSerializedStateManager.spec.ts
Labels: area: loader, area: tests, base: main

#20416 fix(test-end-to-end-tests): Import from internal paths
  packages/test/test-end-to-end-tests/src/test/refreshSerializedStateManager.spec.ts
Labels: area: tests, base: main

#20368 Use correct clientSequenceNumber in mocks
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/no-attribution-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/prop-attribution-snap.json
  packages/framework/attributor/src/test/attribution/sharedString.attribution.spec.ts
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: framework, area: runtime, base: main

#20423 tree: Remove flawed isAllowedValue
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/valueUtilities.ts
  packages/dds/tree/src/test/feature-libraries/contextuallyTyped.spec.ts
  packages/dds/tree/src/test/feature-libraries/valueUtilities.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20425 tree: Fix imports
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20424 compressor: Creation ranges include which IDs were generated as local
  packages/runtime/id-compressor/api-report/id-compressor.api.md
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/sessionSpaceNormalizer.ts
  packages/runtime/id-compressor/src/test/idCompressor.perf.spec.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/id-compressor/src/test/idCompressorTestUtilities.ts
  packages/runtime/id-compressor/src/test/sessionSpaceNormalizer.spec.ts
  packages/runtime/id-compressor/src/types/persisted-types/0.0.1.ts
Labels: area: runtime, public api change, base: main

#20403 fix(tree) revert semantics
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20371 Add the package version to DataStore logs
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/packageVersion.ts
Labels: area: runtime, base: main

#20349 build(fluid-runner): use node16 module resolution
  fluidBuild.config.cjs
  packages/tools/fluid-runner/.eslintrc.cjs
  packages/tools/fluid-runner/README.md
  packages/tools/fluid-runner/api-extractor-cjs.json
  packages/tools/fluid-runner/api-extractor-lint.json
  packages/tools/fluid-runner/api-extractor.json
  packages/tools/fluid-runner/api-report/fluid-runner.api.md
  packages/tools/fluid-runner/bin/fluid-runner
  packages/tools/fluid-runner/bin/fluid-runner.mjs
  packages/tools/fluid-runner/package.json
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/index.ts
  packages/tools/fluid-runner/src/logger/baseFileLogger.ts
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/tools/fluid-runner/src/logger/jsonFileLogger.ts
  packages/tools/fluid-runner/src/logger/loggerUtils.ts
  packages/tools/fluid-runner/src/parseBundleAndExportFile.ts
  packages/tools/fluid-runner/src/test/dirname.cts
  packages/tools/fluid-runner/src/test/exportFile.spec.ts
  packages/tools/fluid-runner/src/test/fileLogger.spec.ts
  packages/tools/fluid-runner/src/test/fluidRunner.spec.ts
  packages/tools/fluid-runner/src/test/loggerUtils.spec.ts
  packages/tools/fluid-runner/src/test/parseBundleAndExportFile.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/networkFetchCodeLoader.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable.cjs.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sample-executable.esm.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/timeoutCodeLoader.ts
  packages/tools/fluid-runner/src/test/tsconfig.cjs.json
  packages/tools/fluid-runner/src/test/tsconfig.cjs.lint.json
  packages/tools/fluid-runner/src/test/tsconfig.json
  packages/tools/fluid-runner/src/test/utils.spec.ts
  packages/tools/fluid-runner/src/utils.ts
  packages/tools/fluid-runner/tsconfig.bin.lint.json
  packages/tools/fluid-runner/tsconfig.cjs.json
  packages/tools/fluid-runner/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, public api change, base: main

#20430 Allow asynchronous validation in DDS fuzz
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
Labels: area: dds, public api change, base: main

#20433 fix(tree): support builds with length > 1 in updateRefreshers
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20436 Await promises from runWithRetry
  server/historian/packages/historian-base/src/routes/utils.ts
Labels: area: server, base: main

#20435 Reduce mutability of types in bubbleBench/common
  examples/benchmarks/bubblebench/baseline/src/state.ts
  examples/benchmarks/bubblebench/common/src/index.ts
  examples/benchmarks/bubblebench/common/src/types.ts
  examples/benchmarks/bubblebench/ot/src/state.ts
  examples/benchmarks/bubblebench/sharedtree/src/main.tsx
  examples/benchmarks/bubblebench/sharedtree/src/proxy/tree.ts
  examples/benchmarks/bubblebench/sharedtree/src/state.ts
Labels: area: examples, base: main

#20397 fix(build-tools): `modify fluid-imports`
  build-tools/packages/build-cli/docs/modify.md
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
Labels: area: build, base: main

#19604 Port bubble bench to simple tree
  examples/benchmarks/bubblebench/common/src/types.ts
  examples/benchmarks/bubblebench/simple-tree/.eslintrc.cjs
  examples/benchmarks/bubblebench/simple-tree/.gitignore
  examples/benchmarks/bubblebench/simple-tree/.npmignore
  examples/benchmarks/bubblebench/simple-tree/LICENSE
  examples/benchmarks/bubblebench/simple-tree/README.md
  examples/benchmarks/bubblebench/simple-tree/jest-puppeteer.config.cjs
  examples/benchmarks/bubblebench/simple-tree/jest.config.cjs
  examples/benchmarks/bubblebench/simple-tree/package.json
  examples/benchmarks/bubblebench/simple-tree/prettier.config.cjs
  examples/benchmarks/bubblebench/simple-tree/src/appState.ts
  examples/benchmarks/bubblebench/simple-tree/src/bubblebench.ts
  examples/benchmarks/bubblebench/simple-tree/src/index.ts
  examples/benchmarks/bubblebench/simple-tree/src/schema.ts
  examples/benchmarks/bubblebench/simple-tree/tests/demo.test.ts
  examples/benchmarks/bubblebench/simple-tree/tsconfig.esnext.json
  examples/benchmarks/bubblebench/simple-tree/tsconfig.json
  examples/benchmarks/bubblebench/simple-tree/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#20299 submitSignal content `any` to `unknown`
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/deltaManagerSummarizerProxy.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, public api change, base: main

#20440 tree: Add missing schema agnostic indexed field traversal to flex tree, use in proxy binding
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20286 refactor(tree): Events API on simple-tree
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/reactApp.tsx
  examples/version-migration/tree-shim/src/model/newTreeInventoryListController.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/flex-tree/treeEvents.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main

#20443 tree: Remove redudant check in test utility
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
Labels: area: dds, area: dds: tree, base: main

#20409 Cleanup of token retrieval code - make storage token required, removing unneeded asserts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/getUrlAndHeadersWithAuth.ts
  packages/drivers/odsp-driver/src/odspDeltaStorageService.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/getUrlAndHeadersWithAuth.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#20449 tree: Remove need for demandSpine
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/ProxyBinding.md
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20452 tree: Reduce use of Field Nodes in simple-tree
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/types.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20372 feat(tree): Add the ability to specify stable identifiers to object fields
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaCaching.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20448 Demote test-driver-definitions to fluid-internal scope
  .changeset/seven-bikes-attend.md
  PACKAGES.md
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/logger.ts
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  fluidBuild.config.cjs
  packages/test/mocha-test-setup/package.json
  packages/test/mocha-test-setup/src/mochaHooks.ts
  packages/test/test-app-insights-logger/package.json
  packages/test/test-app-insights-logger/src/appinsightstestlogger.ts
  packages/test/test-driver-definitions/.eslintrc.cjs
  packages/test/test-driver-definitions/CHANGELOG.md
  packages/test/test-driver-definitions/README.md
  packages/test/test-driver-definitions/api-report/test-driver-definitions.api.md
  packages/test/test-driver-definitions/package.json
  packages/test/test-driver-definitions/src/test/tsconfig.cjs.json
  packages/test/test-driver-definitions/src/test/tsconfig.json
  packages/test/test-driver-definitions/src/test/types/validateTestDriverDefinitionsPrevious.generated.ts
  packages/test/test-driver-definitions/tsconfig.json
  packages/test/test-drivers/api-report/test-drivers.api.md
  packages/test/test-drivers/package.json
  packages/test/test-drivers/src/factory.ts
  packages/test/test-drivers/src/localServerTestDriver.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-drivers/src/tinyliciousTestDriver.ts
  packages/test/test-end-to-end-tests/README.md
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/mockDetachedBlobStorage.ts
  packages/test/test-end-to-end-tests/src/test/tsconfig.json
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/package.json
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/compatOptions.ts
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
  packages/test/test-version-utils/src/itExpects.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, public api change, base: main

#20457 test(tree): fix fuzz generation weight summing
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
Labels: area: dds, area: dds: tree, base: main

#20432 fix(build-tools): relax fluid-build-tasks-eslint for lint only projects
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
Labels: area: build, base: main

#20228 Stable telemetry observer
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/client-logger/fluid-telemetry/.eslintrc.cjs
  packages/framework/client-logger/fluid-telemetry/.gitignore
  packages/framework/client-logger/fluid-telemetry/.mocharc.cjs
  packages/framework/client-logger/fluid-telemetry/.npmignore
  packages/framework/client-logger/fluid-telemetry/LICENSE
  packages/framework/client-logger/fluid-telemetry/README.md
  packages/framework/client-logger/fluid-telemetry/api-extractor-cjs.json
  packages/framework/client-logger/fluid-telemetry/api-extractor-lint.json
  packages/framework/client-logger/fluid-telemetry/api-extractor.json
  packages/framework/client-logger/fluid-telemetry/api-report/external-telemetry.api.md
  packages/framework/client-logger/fluid-telemetry/api-report/fluid-telemetry.api.md
  packages/framework/client-logger/fluid-telemetry/package.json
  packages/framework/client-logger/fluid-telemetry/src/common/consumers/index.ts
  packages/framework/client-logger/fluid-telemetry/src/common/index.ts
  packages/framework/client-logger/fluid-telemetry/src/common/telemetry/index.ts
  packages/framework/client-logger/fluid-telemetry/src/container/containerSystemEvents.ts
  packages/framework/client-logger/fluid-telemetry/src/container/containerTelemetry.ts
  packages/framework/client-logger/fluid-telemetry/src/container/index.ts
  packages/framework/client-logger/fluid-telemetry/src/container/telemetryManager.ts
  packages/framework/client-logger/fluid-telemetry/src/container/telemetryProducer.ts
  packages/framework/client-logger/fluid-telemetry/src/factory/index.ts
  packages/framework/client-logger/fluid-telemetry/src/index.ts
  packages/framework/client-logger/fluid-telemetry/src/test/containerTelemetry.spec.ts
  packages/framework/client-logger/fluid-telemetry/tsconfig.cjs.json
  packages/framework/client-logger/fluid-telemetry/tsconfig.json
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main

#20470 fix(datastore): Replace lodash cloneDeep with custom cloning function
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/localChannelContext.ts
  pnpm-lock.yaml
Labels: base: main

#20437 feat(build-tools): `fluid-imports` to read API levels from packages
  build-tools/packages/build-cli/data/rawApiLevels.jsonc
  build-tools/packages/build-cli/docs/modify.md
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
Labels: area: build, base: main

#20429 Fix Nexus shutdown order
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
Labels: area: server, base: main

#20462 tree: Centralize ArrayNode logic in one file
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/treeArrayNode.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
Labels: area: dds, area: dds: tree, base: main

#20475 fix: Update follow-redirects to address CVE
  pnpm-lock.yaml
Labels: dependencies, base: main

#20471 feat(test utils): allow saving successful fuzz run to file
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/minification.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzSuite.ts
  packages/test/stochastic-test-utils/api-report/stochastic-test-utils.api.md
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/src/performActions.ts
  packages/test/stochastic-test-utils/src/types.ts
Labels: area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#20473 fix: Update isomorphic-git to 1.25.7
  pnpm-lock.yaml
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, base: main

#20474 Update Babel versions for security warning
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-inspector-table/package.json
  experimental/PropertyDDS/packages/property-proxy/package.json
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#20358 Support insertion of handles into DDS content in fuzz tests
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/ddsFuzzHandle.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, public api change, base: main

#20478 test(tree): anchor set tests for remove and restore
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20483 fix(server): Update follow-redirects to address CVEs
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#20456 Refactor Stashed Blob Upload Tracking
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
Labels: area: runtime, base: main

#20363 refactor(eslint-config-fluid): Enable import/order rule
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#20348 build(build-tools): Upgrade oclif
  build-tools/package.json
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/bump.md
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/exec.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/docs/list.md
  build-tools/packages/build-cli/docs/merge.md
  build-tools/packages/build-cli/docs/modify.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/rename-types.md
  build-tools/packages/build-cli/docs/run.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/README.md
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#20318 feat(devtools-core): Implement SharedTree Visualizer in Devtools
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualSharedTreeTypes.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualTree.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidTreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/ValueView.tsx
Labels: public api change, base: main

#20486 build(devtools-browser-extension): Remove unused dependency
  packages/tools/devtools/devtools-browser-extension/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#20422 Make some public interface members readonly
  .changeset/warm-clocks-brush.md
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/interfaces.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/types.ts
Labels: area: framework, area: dds, public api change, base: main

#20488 Trim exported APIs from odsp-driver and odsp-urlresolver, and strengthen url checks
  packages/drivers/odsp-driver/api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewContainerOnExistingFile.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspUrlHelper.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspUrlHelper.spec.ts
  packages/drivers/odsp-driver/src/test/types/validateOdspDriverPrevious.generated.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/drivers/odsp-urlResolver/api-report/odsp-urlresolver.api.md
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/odsp-urlResolver/src/index.ts
  packages/drivers/odsp-urlResolver/src/test/types/validateOdspUrlresolverPrevious.generated.ts
  packages/drivers/odsp-urlResolver/src/urlResolver.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#20492 tree: Centralize objectNode logic in one file
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20491 fix(test-dds-utils): minification logic
  packages/dds/test-dds-utils/src/minification.ts
Labels: area: dds, base: main

#20498 tree: Inline ArrayToUnion
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/flexList.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/typeUtils.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/typedSchema/typeUtils.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20500 Make factory tag object for DataObjectClass readonly
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/types.ts
Labels: area: framework, public api change, base: main

#20501 tree: Centralize mapNode logic in one file
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
Labels: area: dds, area: dds: tree, base: main

#20503 refactor(tree): Remove unused events in FlexTree
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/treeEvents.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/events.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20479 Adds AppInsightsTelemetryConsumer, new app-insights export subpath and README updates.
  packages/framework/client-logger/fluid-telemetry/README.md
  packages/framework/client-logger/fluid-telemetry/package.json
  packages/framework/client-logger/fluid-telemetry/src/app-insights/appInsightsTelemetryConsumer.ts
  packages/framework/client-logger/fluid-telemetry/src/app-insights/index.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#20497 fix(tree): make commit metadata properties readonly
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/rebase/types.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20481 Collect better stats for snapshot loading (SPO)
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#20499 fix(tree): enforce integer indices in generic field kind format
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindFormat.ts
Labels: area: dds, area: dds: tree, base: main

#20477 feat(build-tools): New command `generate:entrypoints`
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/entrypoints.ts
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
  build-tools/packages/build-cli/src/library/apiLevel.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/typescriptApi.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/generateEntrypointsTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: area: build, base: main

#20472 refactor(tree): Update `toMapTree` to dispatch on the schema rather than the input data
  packages/dds/tree/src/simple-tree/toMapTree.ts
Labels: area: dds, area: dds: tree, base: main

#20506 makes AppInsightsTelemetryConsumer available under default export pat…
  packages/framework/client-logger/fluid-telemetry/README.md
  packages/framework/client-logger/fluid-telemetry/api-report/external-telemetry.api.md
  packages/framework/client-logger/fluid-telemetry/api-report/fluid-telemetry.api.md
  packages/framework/client-logger/fluid-telemetry/package.json
  packages/framework/client-logger/fluid-telemetry/src/app-insights/appInsightsTelemetryConsumer.ts
  packages/framework/client-logger/fluid-telemetry/src/index.ts
Labels: base: main

#20487 build(devtools-view): Update `@fluentui/react-icons` dependency
  examples/apps/data-object-grid/package.json
  experimental/PropertyDDS/packages/property-inspector-table/src/DecoratedSelect.tsx
  experimental/PropertyDDS/packages/property-inspector-table/tsconfig.json
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: dds: propertydds, base: main

#20510 fix(tree): provide adequate metadata to rebase
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20408 Change the order of loggers in UT infrastructure, to get key properties logged to CI whenever error is logged into telemetry
  experimental/dds/tree/src/test/fuzz/SharedTreeFuzzTests.ts
  experimental/dds/tree/src/test/utilities/PendingLocalStateTests.ts
  packages/test/test-end-to-end-tests/src/test/containerRuntime.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/package.json
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
  packages/test/test-version-utils/src/describeWithVersions.ts
  packages/test/test-version-utils/src/itExpects.ts
Labels: area: dds, area: tests, public api change, area: dds: tree, base: main

#20496 build: Update dependencies on `@fluentui/react-components`
  examples/apps/data-object-grid/package.json
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-view/.eslintrc.cjs
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
  packages/tools/devtools/devtools-view/src/components/DataObjectsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeItem.tsx
  packages/tools/devtools/devtools-view/src/components/utility-components/LabelCellLayout.tsx
  packages/tools/devtools/devtools-view/src/test/jest/VisualTree.test.tsx
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: area: examples, dependencies, base: main

#20489 feat(devtools-view): Send VisualTree to Devtools-view and improve Schema visualization
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualSharedTreeTypes.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualTree.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/ToolTipContentsView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
Labels: public api change, base: main

#20516 Signal tests on server
  server/routerlicious/packages/routerlicious-base/src/test/nexus/io.spec.ts
Labels: area: server, base: main

#20494 fix(historian): Fixes to Helm chart
  server/charts/historian/templates/gitrest-deployment.yaml
  server/charts/historian/values.yaml
Labels: area: server, base: main

#20513 tree: Add root editing, make TreeView parameterized over schema
  .changeset/hot-streets-smell.md
  examples/benchmarks/bubblebench/simple-tree/src/appState.ts
  examples/benchmarks/bubblebench/simple-tree/src/bubblebench.ts
  examples/data-objects/inventory-app/src/reactSharedTreeView.tsx
  examples/service-clients/odsp-client/shared-tree-demo/src/reactApp.tsx
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.examples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/test/test-end-to-end-tests/src/test/migration-shim/dataMigration.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/sharedTreeShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandlesDetached.spec.ts
Labels: area: examples, area: framework, area: dds, area: tests, public api change, area: dds: tree, base: main

#20520 tree: Remove child change generic param from optional changeset
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeTypes.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV0.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
  packages/dds/tree/src/test/snapshots/optional-field/V0/with child change.json
  packages/dds/tree/src/test/snapshots/optional-field/V1/with child change.json
Labels: area: dds, area: dds: tree, base: main

#20512 fix(build-tools): handle special export cases
  build-tools/packages/build-cli/src/commands/generate/entrypoints.ts
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
  build-tools/packages/build-cli/src/library/typescriptApi.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: area: build, base: main

#20519 fix(docs): Add SharedTree link to included links
  docs/_includes/links.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/overview.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/signals.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
Labels: documentation, area: website, base: main

#20521 fix: correctly align gitrest and historian r11s dependencies
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#20523 fix(client): Set types field to match exports
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#20511 feat(tree) allow Revertible.revert() to also release the revertible
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20504 Add stashedSnapshotSequenceNumber to OldSnapshotFetchWhileRefreshing event
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
Labels: area: loader, base: main

#20396 Repro offline initial sequence number mismatch
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/initialSequenceNumberAndStashedOps.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: loader, area: tests, public api change, base: main

#20517 fix: Include and use lib/test in test file tarballs
  experimental/dds/attributable-map/package.json
  experimental/dds/tree/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/service-clients/azure-client/package.json
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: dds, area: build, area: dds: tree, base: main

#20495 Rename '/test/..' exports to '/internal/test/..'
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
  packages/dds/sequence/src/test/sequenceDeltaEvent.spec.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/framework/client-logger/app-insights-logger/src/test/types/validateAppInsightsLoggerPrevious.generated.ts
  packages/loader/container-loader/package.json
  packages/runtime/container-runtime/package.json
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  packages/test/stochastic-test-utils/package.json
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpdate.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: framework, area: runtime, area: loader, area: dds, area: dds: sharedstring, area: tests, base: main

#20185 Add gc test for data virtualization
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: runtime, area: tests, public api change, base: main

#20528 fix(tree): correct PathNode ref counting in AnchorSet visitor
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20534 Add isGlobalDb flag to the db errors
  server/routerlicious/packages/services-core/src/mongo.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#20532 Change compatVersion argument of describeCompat() from string to enum
  packages/test/test-end-to-end-tests/src/test/summarizeIncrementally.spec.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/index.ts
Labels: area: tests, public api change, base: main

#20530 Export ISnapshotInfo and create conversions
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/utils.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#20540 build(app-insights-logger): Disable type tests
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/client-logger/app-insights-logger/src/test/types/validateAppInsightsLoggerPrevious.generated.ts
  packages/framework/client-logger/app-insights-logger/src/test/types/validateFluidAppInsightsLoggerPrevious.generated.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#20529 refactor(tree): rename ReferenceCountedBase.dispose to onUnreferenced
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/sequenceChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.spec.ts
  packages/dds/tree/src/util/referenceCounting.ts
Labels: area: dds, area: dds: tree, base: main

#20531 Allow ID compressor to be enabled in existing files.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/containerRuntime.spec.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: runtime, area: tests, base: main

#20539 feat(tree): fail-fast on insertion of already existing tree
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20535 reactor(tree): Revertible.release -> Revertible[disposeSymbol]
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20536 tree: Fix ValidateRecursiveSchema
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20316 Add container schema support to inventory-app
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/src/index.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/reactSharedTreeView.tsx
  examples/data-objects/inventory-app/tests/main.test.ts
  examples/data-objects/inventory-app/tsconfig.json
  examples/data-objects/inventory-app/webpack.config.cjs
  packages/framework/fluid-static/src/types.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, base: main

#20508 Add random handles to fuzz
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/src/ddsFuzzHandle.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
Labels: area: dds, public api change, base: main

#20527 Skip a flaky e2e test on tinylicious
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#20542 refactor(tree): make Revertible.revert(dispose) dispose param optional
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20526 build(routerlicious-driver) improve testing `this` for CJS and ESM
  packages/drivers/routerlicious-driver/src/test/mapWithExpiration.spec.ts
Labels: area: driver, base: main

#20525 Enable Local server to download snapshots without groupIds with groupIds
  packages/drivers/local-driver/src/localDocumentStorageService.ts
Labels: area: driver, base: main

#20505 adds identifier field kind
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/domains/schemaBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20551 build(client): Fix invalid peer dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#20552 fix(generate:upcoming): Include all changesets when release type is major
  build-tools/packages/build-cli/src/commands/generate/upcoming.ts
Labels: area: build, base: main

#20545 refactor(tree): revertible disposal notification
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20537 Add Tree.contains
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20467 Remove "noUnusedLocals": false in dds/sequence's test tsconfig
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/intervalStashedOps.spec.ts
  packages/dds/sequence/src/test/memory/sharedSequence.spec.ts
  packages/dds/sequence/src/test/memory/sharedString.spec.ts
  packages/dds/sequence/src/test/overlappingSequenceIntervalsIndex.spec.ts
  packages/dds/sequence/src/test/partialLoad.spec.ts
  packages/dds/sequence/src/test/reentrancy.spec.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
  packages/dds/sequence/src/test/snapshotEmptyProps.spec.ts
  packages/dds/sequence/src/test/snapshotVersion.spec.ts
  packages/dds/sequence/src/test/tsconfig.json
Labels: area: dds, area: dds: sharedstring, base: main

#20563 fix(tree): fix revision-tagging during invert
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
Labels: area: dds, area: dds: tree, base: main

#20564 test(tree): fuzz test cross-field moves
  packages/dds/tree/.gitignore
  packages/dds/tree/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/operationTypes.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20570 tree: SchemaPolicy cleanup
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/index.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20567 Fix document schema summarization bug
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: runtime, area: tests, base: main

#20560 Add random handle support to directory and matrix fuzz tests
  packages/dds/map/src/test/mocha/directory.snapshot.spec.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/directoryEquivalenceUtils.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/reconnection.spec.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
Labels: area: dds, base: main

#20577 refactor: Remove obsolete variable group from docs pipeline
  tools/pipelines/build-docs.yml
Labels: area: build, base: main

#20578 build(fluid-telemetry): fix copyfiles failure
  packages/framework/client-logger/fluid-telemetry/package.json
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#20581 fix(tree): optional field composition bug
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20585 tree: Stabilize recursive schema APIs
  .changeset/cruel-beers-retire.md
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20586 build(map): trim API
  packages/dds/map/package.json
Labels: area: dds, base: main

#20588 test(tree): clean up undo and redo multiple times tests
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20543 revert preventing of retries for throttling errors
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: tests, area: odsp-driver, public api change, base: main

#20593 feat(generate:entrypoints): Support output filename customization
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/entrypoints.ts
Labels: area: build, base: main

#20556 [bump] build-tools: 0.35.0 => 0.36.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#20583 Add missing beta entrypoints
  packages/dds/tree/package.json
  packages/tools/devtools/devtools/package.json
Labels: area: dds, area: dds: tree, base: main

#20594 [bump] build-tools: 0.36.0 => 0.37.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#20595 doc(tree): fix comment on disposeSymbol
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20602 GC: bump timeouts to avoid flaky failures
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
Labels: area: tests, base: main

#20557 Added telemetry opt in modal
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/TelemetryConsentModal.tsx
  packages/tools/devtools/devtools-view/src/components/index.ts
Labels: base: main

#20608 tree: remove unused degrees of freedom from MCF persisted format
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFormat.ts
Labels: area: dds, area: dds: tree, base: main

#20413 Uniformize implicit tree codec families to start at 1
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/noChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV0.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV2.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/schema-edits/schemaChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeCodecs.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/snapshots/optional-field/V0/change with moves.json
  packages/dds/tree/src/test/snapshots/optional-field/V0/pin.json
  packages/dds/tree/src/test/snapshots/optional-field/V0/with reserved detach.json
  packages/dds/tree/src/test/snapshots/optional-field/V1/change with moves.json
  packages/dds/tree/src/test/snapshots/optional-field/V1/pin.json
  packages/dds/tree/src/test/snapshots/optional-field/V1/with reserved detach.json
  packages/dds/tree/src/test/snapshots/optional-field/V2/change with moves.json
  packages/dds/tree/src/test/snapshots/optional-field/V2/empty.json
  packages/dds/tree/src/test/snapshots/optional-field/V2/pin.json
  packages/dds/tree/src/test/snapshots/optional-field/V2/with child change.json
  packages/dds/tree/src/test/snapshots/optional-field/V2/with reserved detach.json
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main

#20610 Node10 support for protocol-definitions
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/CHANGELOG.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: base: main

#20601 Move and refine type erasure tooling from tree to core-interfaces
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/erasedType.ts
  packages/common/core-interfaces/src/index.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/schema-index/codec.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/util/brand.spec.ts
  packages/dds/tree/src/test/util/opaque.spec.ts
  packages/dds/tree/src/util/brand.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/opaque.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20606 Add "node exists" transaction constraint to SharedTree transaction API
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20614 MergeTree: Remove unexposed and redundant MergeBlock interfaces
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.zamboni.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, public api change, base: main

#20549 Update README for fluid telemetry package
  packages/framework/client-logger/fluid-telemetry/README.md
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_1.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_2.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_3.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_4.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_5.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_6.png
  packages/framework/client-logger/fluid-telemetry/readme_images/telemetry_time_period.png
Labels: area: framework, base: main

#20533 tree: Improve ObjectNode
  .changeset/few-poems-change.md
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20618 fix(tree): handling of (pin & detach) in sequence field
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
Labels: area: dds, area: dds: tree, base: main

#20611 tree: Fix bug with move composition
  packages/dds/tree/docs/main/sequence-field/move-composition.md
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
Labels: area: dds, area: dds: tree, base: main

#20592 feat(devtools-core): Use visualizeChildData to render leaf node data
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
  packages/tools/devtools/devtools-core/src/data-visualization/VisualSharedTreeTypes.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
Labels: base: main

#20599 Added support to log custom headers
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
Labels: area: server, base: main

#20630 fix(build-tools): generate entrypoints overloaded API
  build-tools/packages/build-cli/src/library/typescriptApi.ts
Labels: area: build, base: main

#20615 Add new SharedTree format leveraging optional-field v2
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeCodecs.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/messageCodec.spec.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20633 Fix connection transitions
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, base: main

#20624 Fixed visualization bug to show newlines
  packages/tools/devtools/devtools-view/src/components/data-visualization/TreeHeader.tsx
Labels: base: main

#20631 feat(build-tools): `generate entrypoints` per package.json with Node10 option
  .gitignore
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/entrypoints.ts
  experimental/framework/last-edited/package.json
  packages/common/client-utils/package.json
  packages/loader/test-loader-utils/package.json
  packages/test/stochastic-test-utils/package.json
  packages/test/test-drivers/package.json
  packages/test/test-pairwise-generator/package.json
  packages/test/test-version-utils/package.json
  packages/tools/devtools/devtools-view/package.json
Labels: area: loader, area: build, area: dev experience, area: tests, base: main

#20636 Use SharedTreeFormatVersion.v2 by default
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerFormat.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#20639 Rename tree OptionalField format files
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeFormatV1.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeFormatV2.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecV2.ts
Labels: area: dds, area: dds: tree, base: main

#20642 build: Tag asserts for RC3 release
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/schema-edits/schemaChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/schemaCaching.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/drivers/odsp-driver/src/getUrlAndHeadersWithAuth.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/id-compressor/src/sessionSpaceNormalizer.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: odsp-driver, area: dds: tree, base: main

#20645 Revert 20635: "Fix dehydeate tests..."
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
Labels: base: main

#20575 build(client): generate entrypoints cleanup
  fluidBuild.config.cjs
  packages/test/mocha-test-setup/api-extractor.json
  packages/test/test-driver-definitions/api-extractor.json
Labels: area: tests, base: main

#20651 api(fluid-framework): re-export /legacy types from FF 1.0
  packages/framework/fluid-framework/legacy.d.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/legacy.ts
Labels: area: framework, base: main

#20665 build(client-utils): use export map instead of 'browser' field
  packages/common/client-utils/bufferBrowser.d.ts
  packages/common/client-utils/package.json
  packages/common/client-utils/src/base64Encoding.ts
  packages/framework/fluid-framework/src/legacy.ts
Labels: area: framework, base: main

#20676 Stress tests: Turn off explicit schema testing
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: tests, base: main

#20553 build: Generate release notes for RC3
  .changeset/calm-clowns-jam.md
  .changeset/chatty-pears-doubt.md
  .changeset/clever-cats-jump.md
  .changeset/cruel-beers-retire.md
  .changeset/fancy-hornets-sip.md
  .changeset/few-poems-change.md
  .changeset/fluffy-planes-listen.md
  .changeset/hot-streets-smell.md
  .changeset/lazy-keys-sink.md
  .changeset/lazy-lemons-rule.md
  .changeset/loud-clocks-dance.md
  .changeset/nasty-cloths-make.md
  .changeset/nine-seals-sip.md
  .changeset/seven-bikes-attend.md
  .changeset/tame-sites-count.md
  .changeset/warm-clocks-brush.md
  .changeset/whole-meals-thank.md
  RELEASE_NOTES/2.0.0-rc.3.0.0.md
Labels: base: main

#20677 fix(client): use standard API pattern for fluid-framework
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/legacy.d.ts
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-framework/src/legacy.ts
Labels: area: framework, public api change, base: main
