Repository microsoft/FluidFramework, pull requests merged in 2024-11, with the labels that each got.

#22955 Revert "Default Runtime Request Header Wait Config and Telemetry (#22…
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#22937 feat(build-tools): Add generate:node10Entrypoints command
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/node10Entrypoints.ts
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/src/library/packageExports.ts
Labels: area: build, base: main

#22963 (docs): add compile time braces around parameter
  tools/pipelines/build-docs.yml
Labels: area: build, base: main

#22566 tree: Import / Export APIs and demo
  .changeset/chubby-olives-say.md
  biome.jsonc
  examples/apps/tree-cli-app/.eslintrc.cjs
  examples/apps/tree-cli-app/.mocharc.cjs
  examples/apps/tree-cli-app/README.md
  examples/apps/tree-cli-app/biome.jsonc
  examples/apps/tree-cli-app/data/default.compressed.json
  examples/apps/tree-cli-app/data/default.concise-stored.json
  examples/apps/tree-cli-app/data/default.concise.json
  examples/apps/tree-cli-app/data/default.snapshot.json
  examples/apps/tree-cli-app/data/default.verbose-stored.json
  examples/apps/tree-cli-app/data/default.verbose.json
  examples/apps/tree-cli-app/package.json
  examples/apps/tree-cli-app/src/index.ts
  examples/apps/tree-cli-app/src/schema.ts
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  examples/apps/tree-cli-app/src/test/tsconfig.json
  examples/apps/tree-cli-app/src/utils.ts
  examples/apps/tree-cli-app/tsconfig.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/simple-tree/api/conciseTree.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeApiBeta.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/api/create.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/util/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: dds, dependencies, public api change, release-blocking, area: dds: tree, base: main, changeset-present, size regression

#22956 Update to React18 APIs for separate-container example
  examples/version-migration/separate-container/.eslintrc.cjs
  examples/version-migration/separate-container/src/dataTransform.ts
  examples/version-migration/separate-container/src/modelVersion1/appModel.ts
  examples/version-migration/separate-container/src/modelVersion1/containerCode.ts
  examples/version-migration/separate-container/src/modelVersion2/appModel.ts
  examples/version-migration/separate-container/src/modelVersion2/containerCode.ts
  examples/version-migration/separate-container/src/start.ts
  examples/version-migration/separate-container/src/view/appView.tsx
  examples/version-migration/separate-container/src/view/debugView.tsx
Labels: area: examples, base: main

#22971 [bump] build-tools: 0.50.0 => 0.51.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22961 Skip summarize e2e test for r11s
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementallySubDds.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithOutOfOrderDataStoreRealization.spec.ts
Labels: area: tests, base: main

#22967 refactor(build-infrastructure): Rename FluidRepo to BuildProject
  _buildProject.config.cjs
  build-tools/packages/build-infrastructure/README.md
  build-tools/packages/build-infrastructure/api-report/build-infrastructure.api.md
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-infrastructure/src/buildProject.ts
  build-tools/packages/build-infrastructure/src/commands/list.ts
  build-tools/packages/build-infrastructure/src/config.ts
  build-tools/packages/build-infrastructure/src/docs/cli.md
  build-tools/packages/build-infrastructure/src/index.ts
  build-tools/packages/build-infrastructure/src/releaseGroup.ts
  build-tools/packages/build-infrastructure/src/test/buildProject.test.ts
  build-tools/packages/build-infrastructure/src/test/data/testRepo/fluidBuild.config.cjs
  build-tools/packages/build-infrastructure/src/test/workspace.test.ts
  build-tools/packages/build-infrastructure/src/types.ts
  build-tools/packages/build-infrastructure/src/workspace.ts
  build-tools/packages/build-infrastructure/src/workspaceCompat.ts
  build-tools/packages/build-infrastructure/typedoc.config.cjs
Labels: area: build, public api change, base: main

#22919 feat(build-infrastructure): Add setVersion API
  build-tools/packages/build-infrastructure/api-report/build-infrastructure.api.md
  build-tools/packages/build-infrastructure/src/index.ts
  build-tools/packages/build-infrastructure/src/test/versions.test.ts
  build-tools/packages/build-infrastructure/src/versions.ts
Labels: area: build, public api change, base: main

#22970 Add refreshed SharedTree alpha branching API
  .changeset/stale-forks-tickle.md
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/treeContext.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/dds/tree/src/util/utils.ts
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/src/shared-tree-diff/sharedTreeBranchManager.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22973 fix(client-presence): ISessionClient naming consistency
  .changeset/ninety-zoos-trade.md
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
Labels: area: examples, area: framework, public api change, release-blocking, base: main, changeset-present

#22965 build(client): Generate release notes for 2.5.0 release
  .changeset/chubby-olives-say.md
  .changeset/clever-birds-wear.md
  .changeset/few-cobras-sing.md
  .changeset/floppy-forks-attack.md
  .changeset/hot-falcons-grab.md
  .changeset/lazy-onions-know.md
  .changeset/neat-lights-worry.md
  .changeset/shiny-swans-relax.md
  .changeset/shy-dots-prove.md
  .changeset/stale-forks-tickle.md
  .changeset/tough-crabs-check.md
  RELEASE_NOTES/2.5.0.md
Labels: base: main, changeset-present

#22975 build(client): Tag asserts for release 2.5.0
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: driver, area: dds, area: odsp-driver, area: dds: tree, base: main

#22929 improvement(release): Simplify code with a map instead of a switch statement
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
Labels: area: build, base: main

#22915 build(build-cli): Upgrade @rushstack/node-core-library to 5.x
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22966 build(eslint-config-fluid): Upgrade deps to latest semver-compatible version
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#22908 build(client, build-tools): Bump Biome to 1.9.4 (lockfile only)
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#22977 feat(tree): adds a `changed` event on `TreeBranchEvents`
  .changeset/stinky-cars-fart.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/revertible.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/simple-tree/treeContext.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22986 fix(gitrest): Handle FileSystem Errors in HTTP Responses
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/fileSystemBase.ts
  server/gitrest/packages/gitrest-base/src/utils/fileSystemHelper.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
Labels: area: server, base: main

#22989 Fix type test generation issues
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/typeValidator/typeData.ts
  build-tools/packages/build-tools/src/common/typeCompatibility.ts
Labels: area: build, base: main

#22697 MergeTree `Client` Legacy API Removed
  .changeset/rude-views-bake.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/snapshot.spec.ts
  packages/dds/merge-tree/src/test/snapshot.utils.ts
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/overlappingSequenceIntervalsIndex.ts
  packages/dds/sequence/src/intervals/index.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/overlappingSequenceIntervalsIndex.spec.ts
  packages/dds/sequence/src/test/sequenceDeltaEvent.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main, changeset-present

#22988 doc(tree): move merge semantics doc to user-facing folder
  packages/dds/tree/docs/user-facing/merge-semantics.md
Labels: area: dds, area: dds: tree, base: main

#22995 (ci): update pattern matching in perch benchmark install
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
Labels: area: build, base: main

#22985 Update sample screenshots for devtools extension browser store pages
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/audience-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/data-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/telemetry-view.png
Labels: base: main

#23000 Disable stashed ops tests
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22984 refactor(local-server-tests): Clean-up dependencies
  packages/test/local-server-tests/.eslintrc.cjs
  packages/test/local-server-tests/package.json
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#23001 ci: Update upload/download artifact actions to v4 latest
  .github/workflows/pr-check-changeset.yml
  .github/workflows/push-tag-create-release.yml
  .github/workflows/release-branches.yml
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#23009 (ci): update pattern matching for perf benchmark install
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
Labels: area: build, base: main

#22791 ContainerRuntime: Remove the contents property of batchBegin/batchEnd's "op" event arg
  .changeset/fruity-sites-boil.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23015 Update changeset from PR#22791
  .changeset/fruity-sites-boil.md
Labels: base: main, changeset-present

#22998 refactor: Remove TreeArrayNodeBase
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/package.json
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23005 fix(ci): Fix pattern so the Performance Benchmarks pipeline doesn't choke on packages with overlapping names
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
Labels: area: build, base: main

#22696 Unsupported Merge-Tree Types and Exposures Removed
  .changeset/fifty-showers-divide.md
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervals/index.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#23019 refactor(telemetry-utils): Remove deprecated internal type
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/telemetryTypes.ts
  packages/utils/telemetry-utils/src/test/telemetryLogger.spec.ts
Labels: base: main

#23018 Update to React18 APIs for separate-container example tests
  examples/version-migration/separate-container/tests/index.tsx
Labels: area: examples, base: main

#22997 feat: Add compareHandle
  .changeset/loud-lemons-switch.md
  experimental/dds/tree/src/PayloadUtilities.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.beta.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.public.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.public.api.md
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/index.ts
Labels: area: runtime, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22959 refactor(eslint-config-fluid): Disable formatting-related rules
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/minimal-deprecated.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#22282 Remove deprecated inbound and outbound queues on IDeltaManager
  .changeset/nice-flies-brake.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/framework/fluid-static/package.json
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loadPaused.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/opCriticalPath.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/directoryEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
Labels: area: framework, area: runtime, area: loader, area: tests, public api change, base: main, changeset-present

#23021 improvement(client-presence): move `PresenceStates` entries under `props`
  .changeset/twenty-cameras-take.md
  examples/service-clients/azure-client/external-controller/src/app.ts
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/types.ts
Labels: area: examples, area: framework, public api change, base: main, changeset-present

#23023 fix(eslint-plugin-fluid): no-unchecked-record-access should catch property access on Types and Interfaces that extend Index Signatures which are not defined
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/src/rules/no-unchecked-record-access.js
  common/build/eslint-plugin-fluid/src/test/enforce-no-unchecked-record-access/enforce-no-unchecked-record-access.test.js
  common/build/eslint-plugin-fluid/src/test/example/no-unchecked-record-access/indexedRecordOfStrings.ts
Labels: area: build, base: main

#23024 Add changeset for removing the inbound and outbound queues on IDeltaManager
  .changeset/nice-flies-brake.md
Labels: base: main, changeset-present

#23025 remove(docs): Remove unused draft documents
  docs/archetypes/default.md
  docs/content/community/roadmap.md
  docs/content/docs/concepts/images/architecture.png
  docs/content/docs/concepts/images/load-flow.png
  docs/content/docs/data-structures/cell.md
  docs/content/docs/data-structures/directory.md
  docs/content/docs/data-structures/task-manager.md
  docs/content/docs/deep/_index.md
  docs/content/docs/deep/blobs.md
  docs/content/docs/deep/breaking-changes.md
  docs/content/docs/deep/compatibility.md
  docs/content/docs/deep/container-and-component-loading.md
  docs/content/docs/deep/containers-runtime.md
  docs/content/docs/deep/custom-dds.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/dds-anatomy.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/grouped-ops.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/deep/service.md
  docs/content/docs/deep/summaryTelemetry.md
  docs/content/docs/testing/debugging.md
  docs/content/posts/_index.md
  docs/static/images/container-and-component-loading-1.jpg
  docs/static/images/container-and-component-loading-10.jpg
  docs/static/images/container-and-component-loading-11.jpg
  docs/static/images/container-and-component-loading-2.jpg
  docs/static/images/container-and-component-loading-3.jpg
  docs/static/images/container-and-component-loading-4.jpg
  docs/static/images/container-and-component-loading-5.jpg
  docs/static/images/container-and-component-loading-6.jpg
  docs/static/images/container-and-component-loading-7.jpg
  docs/static/images/container-and-component-loading-8.jpg
  docs/static/images/container-and-component-loading-9.jpg
Labels: documentation, area: website, base: main

#23027 improvement(eslint-config-fluid): Better support our existing test patterns
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/minimal-deprecated.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#22987 Reenable skipped migration test
  examples/version-migration/separate-container/tests/separateContainer.test.ts
Labels: area: examples, base: main

#22944 (build-tools): setDependencyRange function
  build-tools/packages/build-infrastructure/src/buildProject.ts
  build-tools/packages/build-infrastructure/src/test/buildProject.test.ts
Labels: area: build, base: main

#22972 chore(build-tools): Update release group changelog
  build-tools/CHANGELOG.md
Labels: area: build, base: main

#22836 Ai collab explicit
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/framework/ai-collab/.eslintrc.cjs
  packages/framework/ai-collab/README.md
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/eslintrc.cjs
  packages/framework/ai-collab/package.json
  packages/framework/ai-collab/src/aiCollab.ts
  packages/framework/ai-collab/src/aiCollabApi.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditReducer.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditTypes.ts
  packages/framework/ai-collab/src/explicit-strategy/idGenerator.ts
  packages/framework/ai-collab/src/explicit-strategy/index.ts
  packages/framework/ai-collab/src/explicit-strategy/jsonTypes.ts
  packages/framework/ai-collab/src/explicit-strategy/promptGeneration.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/framework/ai-collab/src/explicit-strategy/utils.ts
  packages/framework/ai-collab/src/implicit-strategy/README.md
  packages/framework/ai-collab/src/implicit-strategy/index.ts
  packages/framework/ai-collab/src/implicit-strategy/sharedTreeBranchManager.ts
  packages/framework/ai-collab/src/implicit-strategy/sharedTreeDiff.ts
  packages/framework/ai-collab/src/implicit-strategy/utils.ts
  packages/framework/ai-collab/src/index.ts
  packages/framework/ai-collab/src/test/ai-collab/jobBoardBenchmark.spec.ts
  packages/framework/ai-collab/src/test/ai-collab/taskPlanner.spec.ts
  packages/framework/ai-collab/src/test/ai-collab/tokenLimits.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/agentEditing.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/agentEditingReducer.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/integration/conference.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/promptGeneration.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/utils.ts
  packages/framework/ai-collab/src/test/implicit-strategy/sharedTreeBranchManager.spec.ts
  packages/framework/ai-collab/src/test/implicit-strategy/sharedTreeBranchManagerMergeDiff.spec.ts
  packages/framework/ai-collab/src/test/implicit-strategy/sharedTreeDiffArrays.spec.ts
  packages/framework/ai-collab/src/test/implicit-strategy/sharedTreeDiffMaps.spec.ts
  packages/framework/ai-collab/src/test/implicit-strategy/sharedTreeDiffObjects.spec.ts
  packages/framework/ai-collab/src/test/implicit-strategy/utils.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: dds, dependencies, public api change, area: dds: tree, base: main

#23029 improvement(client-presence): make `events` private
  packages/framework/presence/src/systemWorkspace.ts
Labels: area: framework, base: main

#22821 [AFR Ask] Send the reason when making getDeltas calls
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
Labels: area: driver, base: main

#23010 refactor(telemetry-utlis): Make MockLogger internal
  .changeset/green-readers-burn.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.alpha.api.md
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: public api change, base: main, changeset-present

#23033 build: Update some dependencies on `@fluidframework/eslint-config-fluid`
  common/build/eslint-config-fluid/CHANGELOG.md
  common/lib/common-utils/.eslintrc.cjs
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: area: build, base: main

#23038 Update internal SharedTree types to use the `.events` pattern
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/events/emitter.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/schema-index/schemaSummarizer.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/events/events.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
Labels: base: main

#23045 docs: Add more ImplicitAllowedTypes docs
  packages/dds/tree/src/simple-tree/schemaTypes.ts
Labels: area: dds, area: dds: tree, base: main

#23026 docs: More scope docs
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23035 Revert "refactor(telemetry-utlis): Make MockLogger internal"
  .changeset/green-readers-burn.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.alpha.api.md
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: public api change, base: main, changeset-present

#23047 docs(tree): fix broken link
  docs/content/docs/start/tree-start.md
Labels: documentation, base: main

#23008 docs(client-presence): SessionClientStatus Docs
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/systemWorkspace.ts
Labels: area: framework, base: main

#22981 Repro stashed upload blob issue when processing reuploaded blob
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/containerHandleContext.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
Labels: area: runtime, base: main

#23049 Odsp create new module
  packages/drivers/odsp-driver/src/createFile/createFile.ts
  packages/drivers/odsp-driver/src/createFile/createNewContainerOnExistingFile.ts
  packages/drivers/odsp-driver/src/createFile/createNewModule.ts
  packages/drivers/odsp-driver/src/createFile/createNewUtils.ts
  packages/drivers/odsp-driver/src/createFile/index.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#23034 refactor(build-tools): Replace chalk with picocolors
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/prepare.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/handlers/doFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-cli/src/library/commands/base.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/logging.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#23046 Add `off()` method to Listenable event interface
  .changeset/lovely-taxis-notice.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/events/emitter.ts
  packages/dds/tree/src/events/listeners.ts
  packages/dds/tree/src/test/events/events.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23062 fix(client-presence): export SessionClientStatus type and constant
  packages/framework/presence/src/index.ts
Labels: area: framework, base: main

#23036 Improve summary documentation
  common/lib/protocol-definitions/api-report/protocol-definitions.alpha.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.beta.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.public.api.md
  common/lib/protocol-definitions/src/summary.ts
  packages/common/driver-definitions/api-report/driver-definitions.beta.api.md
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
  packages/common/driver-definitions/api-report/driver-definitions.legacy.public.api.md
  packages/common/driver-definitions/api-report/driver-definitions.public.api.md
  packages/common/driver-definitions/src/protocol/summary.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/summaryUtils.ts
Labels: area: runtime, public api change, base: main

#23060 Fix race condition while establishing connection due to multiplexing in ODSP Driver
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#23041 chore(tree): Simplify getAllowedContentIncompatibilities output
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/discrepancies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23069 Moves fluid-experimental/ai-collab package to the fluidframework/ai-c…
  examples/apps/ai-collab/.eslintrc.cjs
  examples/apps/ai-collab/README.md
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/ai-collab/CHANGELOG.md
  packages/framework/ai-collab/README.md
  packages/framework/ai-collab/api-extractor/api-extractor-lint-alpha.cjs.json
  packages/framework/ai-collab/api-extractor/api-extractor-lint-alpha.esm.json
  packages/framework/ai-collab/api-extractor/api-extractor-lint-public.cjs.json
  packages/framework/ai-collab/api-extractor/api-extractor-lint-public.esm.json
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/api-report/ai-collab.beta.api.md
  packages/framework/ai-collab/api-report/ai-collab.public.api.md
  packages/framework/ai-collab/package.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, base: main

#23070 feat: Allow recursive maps from objects
  .changeset/moody-flies-fly.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23078 Revert "Fix race condition while establishing connection due to multiplexing in ODSP Driver"
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#23074 Add missing eslint warns for no-unchecked-record-access
  packages/drivers/debugger/.eslintrc.cjs
  packages/drivers/local-driver/.eslintrc.cjs
  packages/utils/tool-utils/.eslintrc.cjs
Labels: base: main

#23076 Refactor TreeNodeKernel to make undemanded node case explicit
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
Labels: area: dds, area: dds: tree, base: main

#23040 docs(tree): merge semantics docs for each node kind
  packages/dds/tree/docs/.attachments/object-merge-semantics.drawio
  packages/dds/tree/docs/user-facing/array-merge-semantics.md
  packages/dds/tree/docs/user-facing/map-merge-semantics.md
  packages/dds/tree/docs/user-facing/merge-semantics.md
  packages/dds/tree/docs/user-facing/object-merge-semantics.md
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23059 PropertiesManager Update to Support SharedString DDS annotateAdjustRange
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/collections/index.ts
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/test/propertyManager.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#23081 docs(devtools-browser-extension): Update image assets for the devtools extension
  packages/tools/devtools/devtools-browser-extension/README.md
  packages/tools/devtools/devtools-browser-extension/store-assets/README.md
  packages/tools/devtools/devtools-browser-extension/store-assets/logo.png
  packages/tools/devtools/devtools-browser-extension/store-assets/marquee-large.png
  packages/tools/devtools/devtools-browser-extension/store-assets/marquee-small.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/audience-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/data-view.png
  packages/tools/devtools/devtools-browser-extension/store-assets/screenshots/telemetry-view.png
Labels: base: main

#22842 Remove back-compat code related to the op reentry checks
  .changeset/icy-webs-help.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23077 fix: enum adapter fixes
  .changeset/full-places-know.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22876 Remove `npm-public-package-requirements` exclusions from config
  fluidBuild.config.cjs
Labels: base: main

#23088 docs: Misc tree cleanups
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.examples.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22950 feat(presence): Raise events for presence notifications
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, public api change, base: main

#23091 [bump] build-tools: 0.51.0 => 0.52.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#23006 improvement(client-presence): Use audience for session client connection status
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
Labels: area: examples, area: framework, base: main

#23094 fix(tree): UsageError on dubious usage of node-exists constraint
  packages/dds/tree/src/shared-tree/treeApi.ts
Labels: area: dds, area: dds: tree, base: main

#23095 test(client-presence): remove internal ClientConnectionManager
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, base: main

#23092 refactor(tree): Convert getAllowedContentDiscrepancies to a generator
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/discrepancies.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23083 fix(api-markdown-documenter): Escape heading ID text in Markdown
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/HeadingToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HeadingToHtml.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderHeading.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderPlainText.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderHeading.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testabstractclass-_constructor_-constructor.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testclass-_constructor_-constructor.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-_call_-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-_call__1-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-_new_-constructsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterfacewithindexsignature-_indexer_-indexsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testnamespace-testclass-_constructor_-constructor.md
Labels: base: main

#23098 build(api-markdown-documenter): Bump package version for publishing
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/package.json
Labels: base: main

#23093 fix(devtools-view): Assign "button" role to selectable menu section headers.
  packages/tools/devtools/devtools-view/src/components/Menu.tsx
Labels: base: main

#23079 Fix 0x6c8 assert hit
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
Labels: area: runtime, base: main

#23073 promote(client-presence): promote to alpha
  .changeset/twenty-cameras-take.md
  examples/service-clients/azure-client/external-controller/.eslintrc.cjs
  examples/service-clients/azure-client/external-controller/package.json
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/controller.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/README.md
  packages/framework/presence/api-extractor.json
  packages/framework/presence/api-extractor/api-extractor-lint-alpha.cjs.json
  packages/framework/presence/api-extractor/api-extractor-lint-alpha.esm.json
  packages/framework/presence/api-extractor/api-extractor-lint-bundle.json
  packages/framework/presence/api-extractor/api-extractor-lint-index.cjs.json
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/api-report/presence.public.api.md
  packages/framework/presence/package.json
  packages/framework/presence/src/cjs/package.json
  packages/framework/presence/src/container-definitions/containerExtensions.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/exposedUtilityTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/test/testUtils.ts
  packages/framework/presence/src/types.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, base: main, changeset-present

#23102 bump(devtools-browser-extension): 1.0.0
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/public/manifest.json
Labels: base: main

#23100 docs(client-presence): update `Notifications` limitations
  packages/framework/presence/README.md
Labels: area: framework, base: main

#23030 docs(client-presence): changelog & changeset updates
  .changeset/twenty-cameras-take.md
  packages/framework/presence/CHANGELOG.md
Labels: area: framework, base: main, changeset-present

#23105 docs(client-presence): remove 'experimental package' usage in Presence docs
  packages/framework/presence/README.md
  packages/framework/presence/src/index.ts
Labels: area: framework, base: main

#23072 refactor: Make all pipelines use new agent pools in eastus2
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-publish-npm-package.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
  tools/pipelines/test-stability.yml
Labels: area: build, base: main

#23106 fix(client): declare proper `IAudience` implementation
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/tsconfig.json
Labels: area: framework, area: runtime, public api change, base: main

#23085 Fix race condition while establishing connection due to multiplexing in ODSP Driver.
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#22751 SharedString DDS annotateAdjustRange
  .changeset/ninety-dragons-fold.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/ops.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/undo-redo/package.json
  packages/framework/undo-redo/src/test/types/validateUndoRedoPrevious.generated.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#23107 Tag asserts for release
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditReducer.ts
  packages/framework/ai-collab/src/explicit-strategy/idGenerator.ts
  packages/framework/ai-collab/src/explicit-strategy/promptGeneration.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/loader/container-loader/src/loadPaused.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: loader, area: dds, area: dds: tree, base: main

#23101 test(tree): event test clean up
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23111 test(docs): Disable test
  docs/test/site-tests/Nav.spec.ts
Labels: area: website, base: main

#23112 refactor: Update mermaid to address GitHub advisory
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#23114 ci(docs): Fix build location
  tools/pipelines/build-docs.yml
Labels: area: build, base: main

#23109 build(devtools-browser-extension): Update extension name to omit the " (preview)" postfix
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/public/manifest.json
Labels: base: main

#23115 build(docs): Make all deps dev
  docs/.eslintrc.cjs
  docs/README.md
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#23116 build(docs): Move static webapp config
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#22454 Offline: Add recent batch info from DuplicateBatchDetector to summary
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/duplicateBatchDetector.spec.ts
Labels: area: runtime, public api change, base: main

#23123 Remove Unnecessary Heading from Changeset
  .changeset/ninety-dragons-fold.md
Labels: base: main, changeset-present

#23118 style(docs): Format docs content with prettier
  .prettierignore
  docs/docs/api/index.mdx
  docs/docs/build/audience.mdx
  docs/docs/build/container-states-events.mdx
  docs/docs/build/containers.mdx
  docs/docs/build/data-modeling.mdx
  docs/docs/build/dds.mdx
  docs/docs/build/experimental-features.mdx
  docs/docs/build/overview.mdx
  docs/docs/build/releases-and-apitags.mdx
  docs/docs/concepts/architecture.mdx
  docs/docs/concepts/handles.mdx
  docs/docs/concepts/signals.mdx
  docs/docs/concepts/tob.mdx
  docs/docs/data-structures/map.mdx
  docs/docs/data-structures/overview.mdx
  docs/docs/data-structures/string.md
  docs/docs/data-structures/tree.mdx
  docs/docs/deployment/azure-frs.mdx
  docs/docs/deployment/service-options.mdx
  docs/docs/faq.mdx
  docs/docs/glossary.mdx
  docs/docs/index.mdx
  docs/docs/start/quick-start.mdx
  docs/docs/start/tree-start.mdx
  docs/docs/start/tutorial.mdx
  docs/docs/testing/devtools.mdx
  docs/docs/testing/telemetry.mdx
  docs/docs/testing/testing.mdx
  docs/docs/testing/tinylicious.mdx
  docs/versioned_docs/version-1/api/fluid-framework.mdx
  docs/versioned_docs/version-1/api/index.mdx
  docs/versioned_docs/version-1/build/audience.mdx
  docs/versioned_docs/version-1/build/container-states-events.mdx
  docs/versioned_docs/version-1/build/containers.mdx
  docs/versioned_docs/version-1/build/data-modeling.mdx
  docs/versioned_docs/version-1/build/dds.mdx
  docs/versioned_docs/version-1/build/overview.mdx
  docs/versioned_docs/version-1/concepts/architecture.mdx
  docs/versioned_docs/version-1/concepts/handles.mdx
  docs/versioned_docs/version-1/concepts/signals.mdx
  docs/versioned_docs/version-1/concepts/tob.mdx
  docs/versioned_docs/version-1/data-structures/counter.md
  docs/versioned_docs/version-1/data-structures/map.mdx
  docs/versioned_docs/version-1/data-structures/overview.mdx
  docs/versioned_docs/version-1/data-structures/string.md
  docs/versioned_docs/version-1/deployment/azure-frs.mdx
  docs/versioned_docs/version-1/deployment/service-options.mdx
  docs/versioned_docs/version-1/faq.mdx
  docs/versioned_docs/version-1/glossary.mdx
  docs/versioned_docs/version-1/index.mdx
  docs/versioned_docs/version-1/release-notes.mdx
  docs/versioned_docs/version-1/start/quick-start.mdx
  docs/versioned_docs/version-1/start/tutorial.mdx
  docs/versioned_docs/version-1/testing/telemetry.mdx
  docs/versioned_docs/version-1/testing/testing.mdx
  docs/versioned_docs/version-1/testing/tinylicious.mdx
  docs/versioned_docs/version-local/index.mdx
Labels: area: website, base: main

#23007 chunked forest memory benchmark tests
  packages/dds/tree/package.json
  packages/dds/tree/src/test/memory/tree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23125 fix(tree): do not fire changed event for rebases on branches
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23127 fix(client-presence): restore initial state values
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
Labels: area: framework, release-blocking, base: main

#23128 Tag asserts for release
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#23130 Release notes for 2.10
  RELEASE_NOTES/2.10.0.md
Labels: base: main

#23131 fix(docs): Fix site title and description
  docs/src/pages/index.tsx
  docs/test/site-tests/Homepage.spec.ts
Labels: area: website, base: main

#23004 feat(eslint-config-fluid): Add how to add a new eslint rule in `eslint-plugin-fluid` package.
  common/build/eslint-plugin-fluid/DEV.md
Labels: area: build, base: main

#23139 build: Remove changelog entries for reverted change
  RELEASE_NOTES/2.10.0.md
  packages/runtime/container-runtime/CHANGELOG.md
  packages/runtime/runtime-definitions/CHANGELOG.md
Labels: area: runtime, base: main

#23110 refactor(examples): Make all depdendencies into devDeps in the simplemde example
  examples/data-objects/smde/.eslintrc.cjs
  examples/data-objects/smde/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22758 Signal Tracking: update `connected` checks
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#23143 Enable Synchronous Child Datastore Creation
  .changeset/solid-keys-agree.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreRegistry.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/test/local-server-tests/src/test/synchronousDataStoreCreation.spec.ts
Labels: area: runtime, area: tests, public api change, base: main, changeset-present

#23108 added a new page for Presence
  docs/docs/build/presence.md
Labels: area: website, base: main

#23147 build(docs): Ensure API docs gen doesn't create "partial" documents
  docs/docusaurus.config.ts
  docs/infra/api-markdown-documenter/render-api-documentation.mjs
  docs/skipped-urls.txt
Labels: area: website, base: main

#23152 Fix areOnlyKeys handling of optional fields
  packages/dds/tree/src/util/typeCheck.ts
  packages/dds/tree/src/util/typeCheckTests.ts
Labels: area: dds, area: dds: tree, base: main

#23151 Simplify/Refactor BranchCommitEnricher
  packages/dds/tree/src/shared-tree-core/branchCommitEnricher.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree-core/transactionEnricher.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23146 Share LocalDeltaConnectionServer between documents
  examples/service-clients/azure-client/external-controller/tests/index.ts
  examples/utils/example-utils/src/modelLoader/sessionStorageModelLoader.ts
Labels: area: examples, base: main

#23153 build(docs): Better API docs cleaning
  docs/.eslintrc.cjs
  docs/infra/api-markdown-documenter/render-api-documentation.mjs
  docs/infra/clean-api-documentation.mjs
  docs/infra/clean-ignored.mjs
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#23154 fix(docs): Fix contrast ratio accessibility issues in the site's searchbar
  docs/src/css/custom.scss
Labels: area: website, base: main

#23156 build(devtools): Bundle `devtools-core` in API-Extractor
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/devtools/devtools/api-extractor.json
  packages/tools/devtools/devtools/api-report/devtools.alpha.api.md
  packages/tools/devtools/devtools/api-report/devtools.beta.api.md
  packages/tools/devtools/devtools/api-report/devtools.public.api.md
  packages/tools/devtools/devtools/src/index.ts
Labels: public api change, base: main

#23164 build(docs): Update dependencies
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#23162 fix: Empty ObjectNode type safety
  .changeset/free-lights-start.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23163 fix(version-migration-separate-container): Fix component unmounting and migrationTool updating
  examples/version-migration/separate-container/src/start.ts
  examples/version-migration/separate-container/tests/index.tsx
Labels: area: examples, base: main

#23157 Strengthen branch event types and remove usages of `oob()` by adding array helper utilities
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/defaultResubmitMachine.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23044 Add Clone to SharedTree Revertible
  .changeset/dull-words-work.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23057 Testing getDeltas fetchReason addition
  packages/drivers/routerlicious-driver/src/test/documentService.spec.ts
Labels: area: driver, base: main

#23168 refactor(docs): Add md/mdx linting via eslint and fix violations
  .prettierignore
  docs/.eslintignore
  docs/.eslintrc.cjs
  docs/README.md
  docs/docs/build/releases-and-apitags.mdx
  docs/docs/glossary.mdx
  docs/docs/testing/telemetry.mdx
  docs/docs/testing/typed-telemetry.mdx
  docs/package.json
  docs/pnpm-lock.yaml
  docs/versioned_docs/version-1/glossary.mdx
  docs/versioned_docs/version-1/release-notes.mdx
  docs/versioned_docs/version-1/testing/telemetry.mdx
  docs/versioned_docs/version-1/testing/typed-telemetry.mdx
Labels: area: website, base: main

#23174 docs(changeset): Remove a period from a changeset
  .changeset/dull-words-work.md
Labels: base: main, changeset-present

#23171 (docs): fix implementation issues with deployment and publish artifact pipeline
  tools/pipelines/deploy-website.yml
  tools/pipelines/publish-api-model-artifact.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build, base: main

#23175 fix(docs): Use no-cookies youtube link
  docs/README.md
  docs/src/components/home/banner.tsx
  docs/src/components/youtubeVideo.tsx
Labels: area: website, base: main

#23176 (docs): remove enum from upload-json-steps param
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build, base: main

#23165 refactor(devtools): Mark interfaces as `@sealed` and `@system` as appropriate
  .changeset/long-hats-smile.md
  packages/tools/devtools/devtools-core/api-report/devtools-core.alpha.api.md
  packages/tools/devtools/devtools-core/api-report/devtools-core.beta.api.md
  packages/tools/devtools/devtools-core/src/CommonInterfaces.ts
  packages/tools/devtools/devtools/api-report/devtools.alpha.api.md
  packages/tools/devtools/devtools/api-report/devtools.beta.api.md
  packages/tools/devtools/devtools/src/index.ts
Labels: public api change, base: main, changeset-present

#23178 Flaky Test: Small adjustment to observe test behavior in CI
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22964 Add driver type information in service-client telemetry
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/.mocharc.cjs
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/src/test/.mocharc.cjs
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#23141 Move events library to core-interfaces and client-utils
  .changeset/new-hats-learn.md
  packages/common/client-utils/src/events/README.md
  packages/common/client-utils/src/events/emitter.ts
  packages/common/client-utils/src/events/index.ts
  packages/common/client-utils/src/indexBrowser.ts
  packages/common/client-utils/src/indexNode.ts
  packages/common/client-utils/src/test/mocha/events.spec.ts
  packages/common/core-interfaces/api-report/core-interfaces.beta.api.md
  packages/common/core-interfaces/api-report/core-interfaces.legacy.alpha.api.md
  packages/common/core-interfaces/api-report/core-interfaces.legacy.public.api.md
  packages/common/core-interfaces/api-report/core-interfaces.public.api.md
  packages/common/core-interfaces/src/events.ts
  packages/common/core-interfaces/src/events/README.md
  packages/common/core-interfaces/src/events/emitter.ts
  packages/common/core-interfaces/src/events/index.ts
  packages/common/core-interfaces/src/events/listeners.ts
  packages/common/core-interfaces/src/index.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/core/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/events/index.ts
  packages/dds/tree/src/events/interop.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main, changeset-present

#23179 fix(gc): fullGC flag for Autorecovery shouldn't be cleared before GC runs
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
Labels: area: runtime, base: main

#23185 (docs): update pipeline agent pool
  tools/pipelines/build-docs.yml
  tools/pipelines/deploy-website.yml
  tools/pipelines/publish-api-model-artifact.yml
Labels: area: build, base: main

#21622 Odsp: Automatically Rename Temp File
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createFile/createFile.ts
  packages/drivers/odsp-driver/src/createFile/createNewModule.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/types/validateOdspDriverPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: driver, area: tests, area: odsp-driver, public api change, base: main

#22960 feat(eslint-config-fluid): Add strict-biome config for use in conjunction with Biome linter
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/README.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/strict-biome.json
  common/build/eslint-config-fluid/strict-biome.js
Labels: area: build, base: main

#23170 Expose squash method on SharedTreeBranch
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23194 banner to call out deprecated SingalManager and point to new presence…
  docs/docs/concepts/signals.mdx
Labels: area: website, base: main

#23187 Skip flaky SharedString e2e test for ODSP and r11s
  packages/test/test-end-to-end-tests/src/test/sharedStringEndToEndTests.spec.ts
Labels: area: tests, base: main

#23186 feat(odsp-driver): Add logging property if doc is in dogfood or MSIT server environments
  packages/drivers/odsp-driver/src/createFile/createFile.ts
  packages/drivers/odsp-driver/src/createFile/createNewUtils.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspUrlHelper.ts
  packages/drivers/odsp-driver/src/test/odspUrlHelper.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#23172 refactor: Use assert.equal() to see values when test fails
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: tests, base: main
