Repository microsoft/FluidFramework, pull requests merged in 2024-03, with the labels that each got.

#19893 Enable calling serialize while container is in the attaching state
  packages/common/container-definitions/src/loader.ts
  packages/common/core-utils/api-report/core-utils.api.md
  packages/common/core-utils/src/index.ts
  packages/common/core-utils/src/typesGuards.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: loader, area: tests, public api change, base: main

#19884 build(functional-tests): use fluid-tsc
  packages/test/functional-tests/package.json
  packages/test/functional-tests/tsconfig.cjs.json
  packages/test/functional-tests/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#19897 Add source in the network error details
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
Labels: area: server, public api change, base: main

#19854 Remove url-parse usage throughout repo
  .changeset/kind-cougars-jam.md
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/local-driver/src/localResolver.ts
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/test/urlUtils.spec.ts
  packages/drivers/routerlicious-driver/src/urlUtils.ts
  packages/drivers/routerlicious-urlResolver/.eslintrc.cjs
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/routerlicious-urlResolver/src/urlResolver.ts
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/drivers/tinylicious-driver/src/test/insecureTinyliciousUrlResolverTest.spec.ts
  packages/loader/container-loader/api-report/container-loader.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/.eslintrc.cjs
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/package.json
  packages/tools/fetch-tool/.eslintrc.cjs
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fluid-runner/src/fakeUrlResolver.ts
  pnpm-lock.yaml
Labels: area: loader, area: driver, dependencies, area: tests, public api change, base: main

#19806 build(test-dds-utils): use fluid-tsc
  packages/dds/test-dds-utils/api-extractor-cjs.json
  packages/dds/test-dds-utils/api-extractor-lint.json
  packages/dds/test-dds-utils/api-extractor.json
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/dds/test-dds-utils/src/minification.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dirname.cts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dotOnly.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dotSkip.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/failure.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/dds/test-dds-utils/src/test/dirname.cts
  packages/dds/test-dds-utils/src/test/sharedNothing.ts
  packages/dds/test-dds-utils/tsconfig.cjs.json
  packages/dds/test-dds-utils/tsconfig.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#19900 Bump eslint-plugin-fluid from 0.1.0 to 0.1.1
  common/build/eslint-plugin-fluid/index.js
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/src/rules/no-member-release-tags.js
  common/build/eslint-plugin-fluid/src/test/enforce-no-member-release-tags/enforce-no-member-release-tags.test.js
  common/build/eslint-plugin-fluid/src/test/mockFiles/no-member-release-tags/mockClassDeclaration.ts
  common/build/eslint-plugin-fluid/src/test/mockFiles/no-member-release-tags/mockClassExpression.ts
Labels: area: build, base: main

#19909 Unify mocking and overriding in E2E tests
  packages/test/test-end-to-end-tests/src/mocking.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDriverWrappers.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/src/DriverWrappers.ts
Labels: area: tests, public api change, base: main

#19780 fix(merge-tree sequence): slide references ad hoc inside localReferencePositionToPosition
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
Labels: area: dds, area: dds: sharedstring, base: main

#19924 Increase timeout for OpCompressor test
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
Labels: area: runtime, base: main

#19895 tools: comment source package.json policy exclusions
  fluidBuild.config.cjs
Labels: base: main

#19901 Add eslint-plugin-fluid to eslint-config-fluid
  common/build/eslint-config-fluid/minimal-deprecated.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: build, base: main

#19933 fluid-build: Enable loading ESM webpack configs
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
  build-tools/packages/build-tools/tsconfig.json
Labels: area: build, base: main

#19769 fix: Do not delete release branches even if they're "stale" (no commits in the past 6 months)
  .github/workflows/stale-branches.yml
Labels: area: build, base: main

#19898 Remove release tags inside the member classes / interfaces
  experimental/PropertyDDS/packages/property-properties/src/propertyFactory.js
  experimental/dds/tree/src/EditLog.ts
  packages/dds/cell/src/cell.ts
  packages/dds/map/src/directory.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/defaultMapInterfaces.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/tree/src/shared-tree/sharedTreeEditBuilder.ts
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/local-driver/src/localResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, area: driver, area: dds, area: dds: sharedstring, area: dds: propertydds, area: odsp-driver, area: dds: tree, base: main

#19857 improvement(tree): Better error messaging for invalid TreeNode constructor input
  packages/dds/tree/src/simple-tree/schemaFactory.ts
Labels: area: dds, area: dds: tree, base: main

#19931 Stronger container schema types for OdspClient
  azure/packages/test/end-to-end-tests/src/test/containerCopy.spec.ts
  azure/packages/test/end-to-end-tests/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/odsp-client/api-report/odsp-client.api.md
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/tinylicious-client/src/test/TinyliciousClient.spec.ts
Labels: public api change, base: main

#19866 tree: combine `addMissingRefreshers` and `filterSuperfluousRefreshers`
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19862 fix(matrix): Properly detect row/cell deletion when resubmitting a set op
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/matrix.reconnect.spec.ts
  packages/dds/matrix/src/test/matrix.spec.ts
Labels: area: dds, base: main

#19850 tree: Fixed recursive object schema
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/testRecursiveDomain.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.recursiveExamples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/testRecursiveSchema.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#19936 Use DDS interfaces instead of concrete types in many tests and examples
  azure/packages/test/scenario-runner/src/NestedMapRunner.ts
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/benchmarks/tablebench/src/test/table.bench.ts
  examples/client-logger/app-insights-logger/src/components/App.tsx
  examples/external-data/src/model/taskList.ts
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/tests/index.ts
  examples/version-migration/same-container/src/modelVersion2/inventoryList.ts
  examples/version-migration/schema-upgrade/src/modelVersion2/inventoryList.ts
  packages/framework/dds-interceptions/api-report/dds-interceptions.api.md
  packages/framework/dds-interceptions/src/map/sharedMapWithInterception.ts
  packages/framework/dds-interceptions/src/test/sharedMapWithInterception.spec.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithOutOfOrderDataStoreRealization.spec.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMap.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMultipleDataStores.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusRegisterCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerDirtyFlag.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
  packages/test/test-end-to-end-tests/src/test/fluidObjectHandle.spec.ts
  packages/test/test-end-to-end-tests/src/test/flushModeValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/pendingBatchReentry.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/t9sregressiontest.spec.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
Labels: area: examples, area: framework, area: tests, public api change, base: main

#19934 fluid-build: Honor pre/post lifecycle scripts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: area: build, base: main

#19930 fix(fluid-build): Support repos with pnpm but not lerna
  build-tools/packages/build-tools/.vscode/launch.json
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/tscUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#19853 [Data Virtualization]: Load datastore with newer snapshot from older snapshot
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
Labels: area: runtime, area: driver, area: tests, base: main

#19912 build(data-objects): use fluid-tsc
  experimental/framework/data-objects/api-extractor-cjs.json
  experimental/framework/data-objects/api-extractor-lint.json
  experimental/framework/data-objects/api-extractor.json
  experimental/framework/data-objects/api-report/data-objects.api.md
  experimental/framework/data-objects/package.json
  experimental/framework/data-objects/src/index.ts
  experimental/framework/data-objects/src/signaler/index.ts
  experimental/framework/data-objects/tsconfig.cjs.json
  experimental/framework/data-objects/tsconfig.json
  pnpm-lock.yaml
Labels: area: dev experience, dependencies, public api change, base: main

#19944 Rename packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/garbageCollectionDefinitions.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: runtime, base: main

#19932 build(client-dds-test-utils): fix build dependencies
  packages/dds/test-dds-utils/.eslintrc.cjs
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/clientLoading.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/gcTestRunner.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/dds/test-dds-utils/src/minification.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dirname.cts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dotOnly.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/dotSkip.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/failure.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/dds/test-dds-utils/src/test/dirname.cts
  packages/dds/test-dds-utils/src/test/sharedNothing.ts
  packages/dds/test-dds-utils/src/test/tsconfig.cjs.json
  packages/dds/test-dds-utils/src/test/tsconfig.json
  packages/dds/test-dds-utils/tsconfig.json
Labels: area: dds, public api change, base: main

#19915 build(telemetry-utils): use fluid-tsc (refresh)
  packages/utils/telemetry-utils/api-extractor-lint.json
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/test/tsconfig.cjs.json
  packages/utils/telemetry-utils/src/test/tsconfig.json
  packages/utils/telemetry-utils/tsconfig.cjs.json
  packages/utils/telemetry-utils/tsconfig.json
Labels: base: main

#19861 refactor(telemetry-utlis): Add support for Ext types in LoggingError
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/fluidErrorBase.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: public api change, base: main

#19946 docs: Add missing documentation
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/error.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/framework/fluid-framework/api-extractor.json
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/loader/container-loader/api-report/container-loader.api.md
  packages/loader/container-loader/src/connectionState.ts
Labels: area: framework, area: loader, public api change, base: main

#19382 Converts server-routerlicious.yml pipeline to 1ES template
  CredScanSuppressions.json
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/1ES/build-docker-service.yml
  tools/pipelines/templates/1ES/include-publish-docker-service-steps.yml
  tools/pipelines/templates/1ES/include-publish-docker-service.yml
Labels: area: build, base: main

#19702 ci: add telemtry upload step to service clients e2e pipeline
  tools/pipelines/test-service-clients.yml
Labels: area: build, base: main

#19952 build(client-examples): Node16 for multiview-coordinate-interface
  examples/data-objects/multiview/interface/package.json
  examples/data-objects/multiview/interface/tsconfig.json
Labels: area: examples, base: main

#19941 build(azure-service-utils): trim exports
  azure/packages/azure-service-utils/package.json
Labels: base: main

#19963 Add changeset for deprecating FlushMode.Immediate
  .changeset/odd-facts-wonder.md
Labels: base: main

#19964 fixes nonexistant file path reference
  tools/pipelines/templates/1ES/include-publish-docker-service-steps.yml
Labels: area: build, base: main

#19913 build(last-edited): use fluid-tsc
  experimental/framework/last-edited/api-extractor-cjs.json
  experimental/framework/last-edited/api-extractor-lint.json
  experimental/framework/last-edited/api-extractor.json
  experimental/framework/last-edited/package.json
  experimental/framework/last-edited/src/index.ts
  experimental/framework/last-edited/src/lastEditedTracker.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited/src/setup.ts
  experimental/framework/last-edited/tsconfig.cjs.json
  experimental/framework/last-edited/tsconfig.json
  pnpm-lock.yaml
Labels: area: dev experience, dependencies, base: main

#19965 Fix test:snapshots:regen scripts
  packages/dds/map/package.json
  packages/dds/tree/package.json
  packages/runtime/id-compressor/package.json
Labels: area: runtime, area: dds, area: dds: tree, base: main

#19863 Nested datastores - Part 1
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/index.ts
  packages/test/types_jest-environment-puppeteer/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, dependencies, area: tests, public api change, base: main

#19890 build(odspsnapshotfetch-perftestapp): use fluid-tsc
  examples/benchmarks/odspsnapshotfetch-perftestapp/.gitignore
  examples/benchmarks/odspsnapshotfetch-perftestapp/.npmignore
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/benchmarks/odspsnapshotfetch-perftestapp/src/dirname.cts
  examples/benchmarks/odspsnapshotfetch-perftestapp/src/expressApp.ts
  examples/benchmarks/odspsnapshotfetch-perftestapp/tsconfig.json
  examples/benchmarks/odspsnapshotfetch-perftestapp/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#19927 [Data Virtualization]: Create datastores with groupId via aqueduct
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Labels: area: framework, area: tests, public api change, base: main

#19969 fluid-build: conservative dependencies on tasks without config
  build-tools/packages/build-tools/src/common/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
Labels: area: build, base: main

#19966 refactor(fluid-framework): Simplify `fluid-framework`'s exports by using re-exporting `tree`'s public API via `export *`
  packages/framework/fluid-framework/api-extractor-cjs.json
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, base: main

#19949 fluid-build: support more `copyfiles` flags and behavior
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
Labels: area: build, base: main

#19968 Renaming `DataStores`
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/channelCollection.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#19950 Add delete range function to RangeMap
  packages/dds/tree/src/test/feature-libraries/modular-schema/rangeMap.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/rangeMap.ts
Labels: area: dds, area: dds: tree, base: main

#19970 build(client-container-runtime): remove deprecated internal APIs
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, public api change, base: main

#19727 fix(tree): refactor optional field to support more scenarios
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/index.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeFormat.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeTypes.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/test/exhaustiveRebaserUtils.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/rebaserAxiomaticTests.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/snapshots/optional-field/with reserved detach on self.json
  packages/dds/tree/src/test/snapshots/optional-field/with reserved detach.json
Labels: area: dds, area: dds: tree, base: main

#19911 build(attributable-map-2): use fluid-tsc
  examples/apps/attributable-map/tsconfig.cjs.json
  experimental/dds/attributable-map/api-extractor-cjs.json
  experimental/dds/attributable-map/api-extractor-lint.json
  experimental/dds/attributable-map/api-extractor.json
  experimental/dds/attributable-map/package.json
  experimental/dds/attributable-map/src/index.ts
  experimental/dds/attributable-map/src/internalInterfaces.ts
  experimental/dds/attributable-map/src/localValues.ts
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/attributable-map/src/mapKernel.ts
  experimental/dds/attributable-map/src/test/memory/map.spec.ts
  experimental/dds/attributable-map/src/test/mocha/map.spec.ts
  experimental/dds/attributable-map/src/test/mocha/reconnection.spec.ts
  experimental/dds/attributable-map/src/test/tsconfig.cjs.json
  experimental/dds/attributable-map/src/test/tsconfig.json
  experimental/dds/attributable-map/tsconfig.cjs.json
  experimental/dds/attributable-map/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, area: dds, dependencies, base: main

#19945 tree: Enable skipped editing test
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19972 fix(ci): Fix server-routerlicious pipeline
  tools/pipelines/templates/1ES/build-docker-service.yml
Labels: area: build, base: main

#19982 methods to update last checkpoint time
  server/routerlicious/packages/lambdas/src/utils/documentLambdaCheckpointManager.ts
Labels: area: server, base: main

#19942 build(azure-scenario-runner): use fluid-tsc
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/NestedMapRunner.ts
  azure/packages/test/scenario-runner/src/ScenarioRunner.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/orchestratorRunner.ts
  azure/packages/test/scenario-runner/src/scenarioRunnerClient.ts
  azure/packages/test/scenario-runner/src/test/tsconfig.cjs.json
  azure/packages/test/scenario-runner/src/test/tsconfig.json
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/tsconfig.cjs.json
  azure/packages/test/scenario-runner/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#20001 tree: Fix bug with decoding optional changeset
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
Labels: area: dds, area: dds: tree, base: main

#20000 Send error telemetry if we fetch a tree without a version
  packages/loader/container-loader/src/serializedStateManager.ts
Labels: area: loader, base: main

#19916 build(test-utils): use fluid-tsc
  packages/test/test-utils/api-extractor-lint.json
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/tsconfig.cjs.json
  packages/test/test-utils/tsconfig.cjs.json
Labels: area: tests, base: main

#19961 Add TChannel to IChannelFactory, and related cleanups
  .changeset/brown-steaks-float.md
  .changeset/public-mice-peel.md
  packages/dds/counter/api-report/counter.api.md
  packages/dds/counter/src/counter.ts
  packages/dds/counter/src/counterFactory.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/package.json
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/treeFactory.ts
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/dds-interceptions/src/test/sharedMapWithInterception.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/test/fluidContainer.spec.ts
  packages/framework/fluid-static/src/test/tsconfig.json
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.generated.ts
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/service-clients/azure-client/api-report/azure-client.api.md
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
  packages/tools/devtools/devtools-core/src/test/DataVisualizerGraph.spec.ts
  packages/tools/devtools/devtools-core/src/test/DefaultVisualizers.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: dds, dependencies, area: tests, public api change, area: dds: tree, base: main

#19997 Increase maxCacheExpiryTimeoutMs to 5 days, and validate in FluidCache
  packages/drivers/driver-web-cache/src/FluidCache.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/drivers/odsp-driver/src/test/getVersions.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#19996 build(canvas): use node16 module resolution
  examples/data-objects/canvas/package.json
  examples/data-objects/canvas/tsconfig.json
Labels: area: examples, base: main

#19991 build(inventory-app): use node16 module resolution
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/tsconfig.json
Labels: area: examples, base: main

#19859 Expose compat ID generation at container level and use it for data st…
  .changeset/dry-papers-warn.md
  examples/apps/tree-comparison/src/model/containerCode.ts
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  examples/version-migration/tree-shim/src/model/containerCode.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.api.md
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/test/utils.spec.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
  packages/test/test-end-to-end-tests/src/test/fluidObjectHandle.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/dataMigration.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/sharedTreeShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandlesDetached.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/tools/devtools/devtools-example/src/Container.ts
  packages/utils/tool-utils/src/snapshotNormalizer.ts
Labels: area: examples, area: framework, area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#19980 build(app-integration-container-views): use node16 module resolution
  examples/view-integration/container-views/package.json
  examples/view-integration/container-views/tsconfig.json
Labels: base: main

#19978 build(app-integration-live-schema-upgrade): use node16 module resolution
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/live-schema-upgrade/tsconfig.json
Labels: area: examples, base: main

#19977 build(task-selection): use node16 module resolution
  examples/apps/task-selection/package.json
  examples/apps/task-selection/tsconfig.json
Labels: area: examples, base: main

#19975 build(app-integration-external-views): use node16
  examples/view-integration/external-views/package.json
  examples/view-integration/external-views/tsconfig.json
Labels: area: examples, base: main

#19923 build(datastore-definitions): use fluid-tsc
  packages/runtime/datastore-definitions/api-extractor-cjs.json
  packages/runtime/datastore-definitions/api-extractor-lint.json
  packages/runtime/datastore-definitions/api-extractor.json
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/index.ts
  packages/runtime/datastore-definitions/src/serializable.ts
  packages/runtime/datastore-definitions/src/test/tsconfig.cjs.json
  packages/runtime/datastore-definitions/src/test/tsconfig.json
  packages/runtime/datastore-definitions/src/test/types/jsonable.ts
  packages/runtime/datastore-definitions/tsconfig.cjs.json
  packages/runtime/datastore-definitions/tsconfig.json
Labels: area: runtime, public api change, base: main

#20005 Remove 1M limit as it screws local testing
  server/routerlicious/packages/local-server/src/localWebSocketServer.ts
Labels: area: server, base: main

#19987 TestHistorian.getBlob() to better handle sha = undefined calls.
  server/routerlicious/packages/test-utils/src/testHistorian.ts
Labels: area: server, base: main

#19650 tools(client): remove fluid-build-tasks-eslint exceptions
  fluidBuild.config.cjs
  packages/common/client-utils/package.json
Labels: base: main

#19922 build(client-runtime-definitions): add ESM support
  packages/runtime/runtime-definitions/api-extractor-cjs.json
  packages/runtime/runtime-definitions/api-extractor-lint.json
  packages/runtime/runtime-definitions/api-extractor.json
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/runtime-definitions/src/test/tsconfig.cjs.json
  packages/runtime/runtime-definitions/src/test/tsconfig.json
  packages/runtime/runtime-definitions/tsconfig.cjs.json
  packages/runtime/runtime-definitions/tsconfig.json
Labels: area: runtime, public api change, base: main

#19989 build(monaco): use node16 module resolution
  examples/data-objects/monaco/package.json
  examples/data-objects/monaco/tsconfig.json
Labels: area: examples, base: main

#19919 build(odsp-end-to-end-tests): convert to esm
  packages/service-clients/end-to-end-tests/odsp-client/.mocharc.cjs
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/tsconfig.json
Labels: base: main

#20007 feat(fluid-build): support tsc -b
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
Labels: area: build, base: main

#19995 Some SharedMatrix hardening
  packages/dds/matrix/api-report/matrix.api.md
  packages/dds/matrix/src/index.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/ops.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/undoprovider.ts
Labels: area: dds, public api change, base: main

#19910 build(attributable-map): convert to esm
  examples/apps/attributable-map/jest-puppeteer.config.cjs
  examples/apps/attributable-map/jest.config.cjs
  examples/apps/attributable-map/package.json
  examples/apps/attributable-map/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#19956 Fix creation of data stores (not calling entry point)
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime, base: main

#19940 build(azure-local-service): esm & trim
  azure/packages/azure-local-service/api-extractor-lint.json
  azure/packages/azure-local-service/api-extractor.json
  azure/packages/azure-local-service/package.json
  azure/packages/azure-local-service/tsconfig.json
  fluidBuild.config.cjs
  pnpm-lock.yaml
Labels: dependencies, base: main

#20014 Renaming processed ops in serializedStateManager
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
Labels: area: loader, base: main

#19973 Fix container GET API not return 404 on non-existing container
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
Labels: area: server, base: main

#19717 Avoid exporting SharedObject as public
  .changeset/chatty-ears-obey.md
  .changeset/itchy-spies-laugh.md
  .changeset/mean-terms-lay.md
  .changeset/weak-areas-sing.md
  packages/dds/map/api-report/map.api.md
  packages/dds/map/package.json
  packages/dds/map/src/index.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/test/types/validateMapPrevious.generated.ts
  packages/dds/shared-object-base/api-report/shared-object-base.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/treeFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.generated.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/eventEmitterWithErrorHandling.ts
Labels: area: framework, area: dds, area: tests, public api change, area: dds: tree, base: main

#20004 tree: Improve recursive schema tools and documentation
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20013 [bump] server: 3.1.0 => 4.0.0 (major)
  server/routerlicious/.changeset/easy-snails-relate.md
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
Labels: area: server, base: main

#19984 build(webflow): use node16 module resolution
  examples/data-objects/webflow/.mocharc.cjs
  examples/data-objects/webflow/package.json
  examples/data-objects/webflow/src/test/layout.spec.ts
  examples/data-objects/webflow/src/test/tsconfig.json
  examples/data-objects/webflow/tsconfig.json
Labels: area: examples, base: main

#20012 build: Edit changesets for clarity and concision
  .changeset/all-nails-fetch.md
  .changeset/angry-clubs-play.md
  .changeset/better-meals-cough.md
  .changeset/blessed-pens-rise.md
  .changeset/bloated-ghosts-expand.md
  .changeset/brown-steaks-float.md
  .changeset/busy-hands-throw.md
  .changeset/chatty-ears-obey.md
  .changeset/clear-parrots-matter.md
  .changeset/cuddly-meals-think.md
  .changeset/cute-singers-smile.md
  .changeset/deep-plums-call.md
  .changeset/dry-papers-warn.md
  .changeset/early-beans-switch.md
  .changeset/easy-beans-grab.md
  .changeset/four-tables-smell.md
  .changeset/fresh-chairs-wait.md
  .changeset/hungry-clouds-decide.md
  .changeset/itchy-spies-laugh.md
  .changeset/kind-cougars-jam.md
  .changeset/lucky-pots-rescue.md
  .changeset/mean-mugs-suffer.md
  .changeset/mean-terms-lay.md
  .changeset/mighty-cycles-bow.md
  .changeset/mighty-keys-warn.md
  .changeset/nine-chefs-burn.md
  .changeset/odd-facts-wonder.md
  .changeset/pink-terms-kick.md
  .changeset/public-mice-peel.md
  .changeset/puny-lies-fall.md
  .changeset/ripe-cooks-yawn.md
  .changeset/shiny-rockets-jam.md
  .changeset/sixty-words-stick.md
  .changeset/slick-kings-wish.md
  .changeset/slimy-dragons-stay.md
  .changeset/slow-seas-rhyme.md
  .changeset/small-cups-shine.md
  .changeset/social-pots-clap.md
  .changeset/social-rockets-start.md
  .changeset/three-friends-take.md
  .changeset/tired-pianos-battle.md
  .changeset/true-cooks-marry.md
  .changeset/weak-areas-sing.md
  .changeset/weak-banks-smoke.md
  .changeset/wicked-views-remain.md
Labels: base: main

#20020 build(diceroller): use node16 module resolution
  examples/data-objects/diceroller/package.json
  examples/data-objects/diceroller/tsconfig.json
Labels: area: examples, base: main

#20017 test(client): fix test path subdirectories
  experimental/dds/ot/ot/package.json
  experimental/dds/ot/sharejs/json1/package.json
  experimental/dds/sequence-deprecated/package.json
  packages/dds/matrix/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/pact-map/package.json
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/drivers/odsp-urlResolver/package.json
  packages/framework/aqueduct/package.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-static/package.json
Labels: area: framework, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, base: main

#20024 [bump] server: 4.0.0 => 5.0.0 (major)
  server/routerlicious/lerna.json
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#20025 Check that services without groupId enabled still work
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Labels: area: tests, base: main

#20016 Use unified overriding function for loadOffline
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#19955 Converts server-gitssh.yml pipeline to new 1ES template
  tools/pipelines/server-gitssh.yml
Labels: area: build, base: main

#19976 build(contact-collection): use node16 module resolution
  examples/apps/contact-collection/package.json
  examples/apps/contact-collection/tsconfig.json
Labels: area: examples, base: main

#20032 fix(fluid-build): TscTask does not detect incremental changes in some projects
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#20022 Put error alert in right fetch snapshot
  packages/loader/container-loader/src/serializedStateManager.ts
Labels: area: loader, base: main

#19993 build(multiview-slider-coordinate-view): use node16 module resolution
  examples/data-objects/multiview/slider-coordinate-view/jest-puppeteer.config.cjs
  examples/data-objects/multiview/slider-coordinate-view/jest.config.cjs
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/tests/view.test.ts
  examples/data-objects/multiview/slider-coordinate-view/tsconfig.json
  examples/data-objects/multiview/slider-coordinate-view/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#19992 build(bundle-size-tests): use node16 module resolution
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/src/sharedTree.ts
  examples/utils/bundle-size-tests/tsconfig.json
Labels: area: examples, base: main

#19988 build(smde): use node16 module resolution
  examples/data-objects/smde/package.json
  examples/data-objects/smde/tsconfig.json
Labels: area: examples, base: main

#19902 Remove react-inputs package
  .changeset/grumpy-dryers-cough.md
  PACKAGES.md
  docs/content/docs/data-structures/string.md
  examples/apps/collaborative-textarea/package.json
  examples/apps/collaborative-textarea/src/view.tsx
  examples/apps/tree-comparison/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/client-logger/app-insights-logger/src/components/App.tsx
  examples/data-objects/todo/README.md
  examples/data-objects/todo/package.json
  examples/data-objects/todo/src/Todo/TodoView.tsx
  examples/data-objects/todo/src/TodoItem/TodoItemView.tsx
  examples/external-data/package.json
  examples/external-data/src/view/taskListView.tsx
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/SharedStringHelper.ts
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/reactInputs/CollaborativeInput.tsx
  examples/utils/example-utils/src/reactInputs/CollaborativeTextArea.tsx
  examples/utils/example-utils/src/reactInputs/index.ts
  examples/version-migration/same-container/package.json
  examples/version-migration/same-container/src/view/inventoryView.tsx
  examples/version-migration/schema-upgrade/package.json
  examples/version-migration/schema-upgrade/src/view/inventoryView.tsx
  examples/version-migration/tree-shim/package.json
  experimental/framework/react-inputs/.eslintrc.cjs
  experimental/framework/react-inputs/.gitignore
  experimental/framework/react-inputs/.npmignore
  experimental/framework/react-inputs/CHANGELOG.md
  experimental/framework/react-inputs/LICENSE
  experimental/framework/react-inputs/README.md
  experimental/framework/react-inputs/api-extractor-lint.json
  experimental/framework/react-inputs/api-extractor.json
  experimental/framework/react-inputs/api-report/react-inputs.api.md
  experimental/framework/react-inputs/package.json
  experimental/framework/react-inputs/prettier.config.cjs
  experimental/framework/react-inputs/src/CollaborativeCheckbox.tsx
  experimental/framework/react-inputs/src/index.ts
  experimental/framework/react-inputs/tsconfig.esnext.json
  experimental/framework/react-inputs/tsconfig.json
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/dds/sequence/README.md
  packages/tools/devtools/devtools-browser-extension/e2e-tests/app/app.tsx
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-example/src/App.tsx
  pnpm-lock.yaml
Labels: documentation, area: examples, area: dds, area: dev experience, dependencies, area: dds: sharedstring, public api change, base: main

#19921 Unified support page
  docs/config.yml
  docs/content/support/_index.md
Labels: documentation, area: website, base: main

#20040 fix(fluid-build): TscTask use the correct noEmit flag to check for previous errors
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#20036 build(protocol-definitions): Update changelog for 3.2.0
  common/lib/protocol-definitions/CHANGELOG.md
Labels: base: main

#20037 fix(ci): Disable jest cache for app-insights-logger tests
  examples/client-logger/app-insights-logger/package.json
Labels: area: examples, base: main

#20043 fix(fluid-build): Fix dynamic import with absolute file path in windows
  build-tools/packages/build-tools/src/common/utils.ts
Labels: area: build, base: main

#20029 Keep pending checkpoint message for future summaries
  server/routerlicious/packages/lambdas/src/scribe/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
Labels: area: server, base: main

#20015 fix(generate:upcoming): Use release group-relative paths
  build-tools/packages/build-cli/src/commands/generate/upcoming.ts
Labels: area: build, base: main

#19894 Detecting bundle size regresssions at PR time
  build-tools/packages/build-cli/src/library/dangerfile.ts
Labels: area: build, base: main

#20050 Change assert to validateAssertionError
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#20033 Add top-level transaction APIs to SharedTree
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/node.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.examples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20054 Remove impossible case test for serializedStateManager
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
Labels: area: loader, base: main

#20038 build(client): Tag asserts
  experimental/dds/tree/src/migration-shim/migrationDeltaHandler.ts
  experimental/dds/tree/src/migration-shim/sharedTreeDeltaHandler.ts
  packages/dds/map/src/directory.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/tree/src/core/tree/visitorUtils.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/loader/container-loader/src/attachment.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, area: dds: tree, base: main

#19983 build(table-document): use node16 module resolution
  examples/data-objects/table-document/.mocharc.cjs
  examples/data-objects/table-document/api-extractor-lint.json
  examples/data-objects/table-document/api-extractor.json
  examples/data-objects/table-document/package.json
  examples/data-objects/table-document/src/index.ts
  examples/data-objects/table-document/src/interception/tableWithInterception.ts
  examples/data-objects/table-document/src/test/table.spec.ts
  examples/data-objects/table-document/src/test/tableWithInterception.spec.ts
  examples/data-objects/table-document/src/test/tsconfig.json
  examples/data-objects/table-document/tsconfig.cjs.json
  examples/data-objects/table-document/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#19722 Make storage network calls non-retriable for throttling errors
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/test/epochTests.spec.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: tests, area: odsp-driver, public api change, base: main

#20045 build(data-object-grid & dependencies): convert to ESM
  examples/apps/data-object-grid/package.json
  examples/apps/data-object-grid/tsconfig.json
  examples/data-objects/clicker/package.json
  examples/data-objects/clicker/tsconfig.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/codeMirrorView.tsx
  examples/data-objects/codemirror/tsconfig.json
  examples/data-objects/multiview/constellation-model/jest-puppeteer.config.cjs
  examples/data-objects/multiview/constellation-model/jest.config.cjs
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/constellation-model/tests/model.test.ts
  examples/data-objects/multiview/constellation-model/tsconfig.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/coordinate-model/tests/model.test.ts
  examples/data-objects/multiview/coordinate-model/tsconfig.json
  examples/data-objects/multiview/interface/package.json
  examples/data-objects/multiview/interface/tsconfig.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/prosemirror/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#20055 Add expected node types for tests that are missing them
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/tsconfig.json
  packages/runtime/id-compressor/package.json
  packages/runtime/id-compressor/src/test/tsconfig.json
  pnpm-lock.yaml
Labels: area: runtime, dependencies, base: main

#20059 fluid-build: clean up and move code not used by build-tools into build-cli
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/base.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/commands/release.ts
  build-tools/packages/build-cli/src/commands/release/fromTag.ts
  build-tools/packages/build-cli/src/commands/release/history.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/instructionalPromptWriter.ts
  build-tools/packages/build-cli/src/library/branches.ts
  build-tools/packages/build-cli/src/library/bump.ts
  build-tools/packages/build-cli/src/library/context.ts
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/layerGraph.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/test/commands/list.test.ts
  build-tools/packages/build-cli/test/filter.test.ts
  build-tools/packages/build-cli/test/library/branches.test.ts
  build-tools/packages/build-cli/test/library/package.test.ts
  build-tools/packages/build-tools/src/common/fluidRepo.ts
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/tags.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/common/versionBag.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#20044 Fix SharedMap unit test bug where it was starting as attached instead of detached
  experimental/dds/attributable-map/src/test/mocha/map.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, base: main

#20062 build(client-examples): make Bundler resolution a standard
  common/build/build-common/tsconfig.bundler.json
  examples/apps/data-object-grid/src/collapsible.cts
  examples/apps/data-object-grid/src/toolbar.tsx
  examples/apps/data-object-grid/tsconfig.json
  examples/apps/data-object-grid/webpack.config.cjs
  examples/data-objects/multiview/constellation-model/tsconfig.json
  examples/data-objects/multiview/constellation-model/webpack.config.cjs
  examples/data-objects/multiview/coordinate-model/webpack.config.cjs
Labels: area: examples, area: build, base: main

#19870 build(property-changeset): Node16 and ESM
  experimental/PropertyDDS/packages/property-binder/src/internal/activationQueryCacheHelper.ts
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-changeset/src/ajvFactory.cts
  experimental/PropertyDDS/packages/property-changeset/src/changeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/array.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/arrayChangesetIterator.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/indexedCollection.ts
  experimental/PropertyDDS/packages/property-changeset/src/changeset_operations/isEmptyChangeset.ts
  experimental/PropertyDDS/packages/property-changeset/src/helpers/typeidHelper.ts
  experimental/PropertyDDS/packages/property-changeset/src/index.ts
  experimental/PropertyDDS/packages/property-changeset/src/rebase.ts
  experimental/PropertyDDS/packages/property-changeset/src/templateValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/array.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/indexedCollection.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/map.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/pathHelper.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/reversibleCs.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemaValidator.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badBothPropertiesAndTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badInvalidSemverInTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badMissingSemverInTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badNestedProperties.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badPrimitiveTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/badVersionedTypeid.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodColorPalette.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodDraftAsVersion.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodPointId.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodReferenceAndRegular.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodReservedTypes.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/goodUIBorder.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/schemas/index.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/tsconfig.cjs.json
  experimental/PropertyDDS/packages/property-changeset/src/test/tsconfig.json
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/templateSyntax.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/templateValidator.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/test/validator/typeidHelper.spec.ts
  experimental/PropertyDDS/packages/property-changeset/src/utils.ts
  experimental/PropertyDDS/packages/property-changeset/src/validationResultBuilder.ts
  experimental/PropertyDDS/packages/property-changeset/tsconfig.cjs.json
  experimental/PropertyDDS/packages/property-changeset/tsconfig.json
  experimental/PropertyDDS/packages/property-common/src/test/datastructures/collection.spec.ts
  experimental/PropertyDDS/packages/property-dds/src/test/propertyTree.spec.ts
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#20046 Refactor IntervalCollections to remove unused code, and simplify types
  packages/dds/sequence/src/IntervalCollectionValues.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/test/intervalStashedOps.spec.ts
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
Labels: area: dds, area: dds: sharedstring, base: main

#19899 config(eslint): allow test files to import from 'internal/test*'
  common/build/eslint-config-fluid/minimal-deprecated.js
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#20041 build(protocol-definitions): Update type tests
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
Labels: base: main

#20049 build(server): Generate changelogs for for 4.0
  server/routerlicious/.changeset/easy-snails-relate.md
  server/routerlicious/.changeset/tasty-results-create.md
  server/routerlicious/RELEASE_NOTES/4.0.0.md
  server/routerlicious/packages/gitresources/CHANGELOG.md
  server/routerlicious/packages/kafka-orderer/CHANGELOG.md
  server/routerlicious/packages/lambdas-driver/CHANGELOG.md
  server/routerlicious/packages/lambdas/CHANGELOG.md
  server/routerlicious/packages/local-server/CHANGELOG.md
  server/routerlicious/packages/memory-orderer/CHANGELOG.md
  server/routerlicious/packages/protocol-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious/CHANGELOG.md
  server/routerlicious/packages/services-client/CHANGELOG.md
  server/routerlicious/packages/services-core/CHANGELOG.md
  server/routerlicious/packages/services-ordering-kafkanode/CHANGELOG.md
  server/routerlicious/packages/services-ordering-rdkafka/CHANGELOG.md
  server/routerlicious/packages/services-ordering-zookeeper/CHANGELOG.md
  server/routerlicious/packages/services-shared/CHANGELOG.md
  server/routerlicious/packages/services-telemetry/CHANGELOG.md
  server/routerlicious/packages/services-utils/CHANGELOG.md
  server/routerlicious/packages/services/CHANGELOG.md
  server/routerlicious/packages/test-utils/CHANGELOG.md
  server/routerlicious/packages/tinylicious/CHANGELOG.md
Labels: area: server, base: main

#20067 remove ILocalFluidDataStoreContextProps.isRootDataStore
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
Labels: area: runtime, base: main

#20071 [bump] eslint-config-fluid: 5.1.0 => 5.2.0 (minor)
  common/build/eslint-config-fluid/package.json
Labels: area: build, base: main

#20061 Expose IFluidDataStoreRuntime.addChannel
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, public api change, base: main

#20068 Exporting ChannelCollection such that it's possible to build solutions on top of it
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/channelCollection.spec.ts
  packages/test/functional-tests/src/test/ddsHandleEncoding.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#20065 IFluidDataStoreChannel.setAttachState()
  .changeset/loud-clocks-dance.md
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  pnpm-lock.yaml
Labels: area: framework, area: runtime, dependencies, area: tests, public api change, base: main

#20077 Fix merge conflicts
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime, base: main

#20086 test(multiview-coordinate-model): remove unusued jest config
  examples/data-objects/multiview/coordinate-model/jest-puppeteer.config.cjs
  examples/data-objects/multiview/coordinate-model/jest.config.cjs
Labels: area: examples, base: main

#19999 build(multiview-plot-coordinate-view): use node16 module resolution
  examples/data-objects/multiview/plot-coordinate-view/jest-puppeteer.config.cjs
  examples/data-objects/multiview/plot-coordinate-view/jest.config.cjs
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/plot-coordinate-view/tests/view.test.ts
  examples/data-objects/multiview/plot-coordinate-view/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#20075 build(collaborative-textarea): use node16 module resolution
  examples/apps/collaborative-textarea/package.json
  examples/apps/collaborative-textarea/tsconfig.json
Labels: area: examples, base: main

#20003 tree: revertible api change
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/revertible/index.ts
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20018 build(tablebench): use node16 module resolution
  examples/benchmarks/tablebench/.mocharc.cjs
  examples/benchmarks/tablebench/package.json
  examples/benchmarks/tablebench/src/app.ts
  examples/benchmarks/tablebench/src/data.ts
  examples/benchmarks/tablebench/src/index.ts
  examples/benchmarks/tablebench/src/test/table.bench.spec.ts
  examples/benchmarks/tablebench/src/test/tsconfig.json
  examples/benchmarks/tablebench/src/tree/index.ts
  examples/benchmarks/tablebench/tsconfig.json
  examples/benchmarks/tablebench/webpack.config.cjs
Labels: area: examples, base: main

#20072 build(app-integration-schema-upgrade): use node16 module resolution
  examples/version-migration/schema-upgrade/package.json
  examples/version-migration/schema-upgrade/tsconfig.json
  examples/version-migration/schema-upgrade/webpack.config.cjs
Labels: area: examples, base: main

#20087 GC: Replace updateUnusedRoutes with deleteSweepReadyNodes
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#20091 Improve type inference for inserted SharedTree content when the schema is a union of objects
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20095 fix(api-markdown-documenter): Handle inline tags in comment contents
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderCustomNodeType.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderCustomNodeType.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-_constructor_-constructor.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testenum-enum.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test/testnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-_constructor_-constructor.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: public api change, base: main

#20073 build(version-migration-same-container): use node16 module resolution
  examples/version-migration/same-container/package.json
  examples/version-migration/same-container/tsconfig.json
  examples/version-migration/same-container/webpack.config.cjs
  examples/version-migration/same-container/webpack.test.cjs
Labels: area: examples, base: main

#20078 Expose ability to overwrite max ops before test hits nack with too many unsumarized ops
  packages/test/test-drivers/api-report/test-drivers.api.md
  packages/test/test-drivers/src/localServerTestDriver.ts
Labels: area: tests, public api change, base: main

#20079 make deleteChildSummarizerNode non-optional, add better API in ChannelCollection to delete children
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, public api change, base: main

#20080 Exclude IdAllocation ops from dirty state calculation
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#20097 Move off deprecated common-definitions package.
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  tools/telemetry-generator/src/logger.ts
Labels: area: runtime, public api change, base: main

#19958 build(test-version-utils): switch to ESM with Node16 resolution
  examples/data-objects/webflow/.mocharc.cjs
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.cjs
  packages/test/test-version-utils/api-extractor-lint.json
  packages/test/test-version-utils/api-extractor.json
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/test/tsconfig.json
  packages/test/test-version-utils/src/versionUtils.ts
  packages/test/test-version-utils/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#20099 fix(api-markdown-documenter): Don't lose track of `escaped` when trimming plain text nodes
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
Labels: base: main

#20098 build(partial-checkout): Node16 follow-up
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/partial-checkout/tsconfig.json
Labels: area: dds: propertydds, base: main

#20084 build(todo): use node16 module resolution
  examples/data-objects/todo/package.json
  examples/data-objects/todo/tsconfig.json
Labels: area: examples, base: main

#20089 Fix op resubmit logic in ContainerRuntime
  experimental/dds/tree/src/test/utilities/SharedTreeVersioningTests.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#19985 build(test-service-load): use node16 module resolution
  packages/test/test-service-load/package.json
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/nodeStressTest.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/test/tsconfig.cjs.json
  packages/test/test-service-load/src/test/tsconfig.json
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/tsconfig.cjs.json
  packages/test/test-service-load/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#19871 build(property-binder): use fluid-tsc and Node16 resolution
  experimental/PropertyDDS/packages/property-binder/jest.config.cjs
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IDefineDataBindingOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IDefineRepresentationOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IRegisterOnPropertyOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/IStatelessDataBindingOptions.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/baseContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinder.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBinding.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBindingRegistry.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/dataBindingTree.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/internalUtils.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/modificationContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/removalContext.ts
  experimental/PropertyDDS/packages/property-binder/src/data_binder/statelessDataBinding.ts
  experimental/PropertyDDS/packages/property-binder/src/index.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/activationQueryCacheHelper.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/dataBinderHandle.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/propertyElement.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/statelessDataBindingWrapper.ts
  experimental/PropertyDDS/packages/property-binder/src/internal/typeGuards.ts
  experimental/PropertyDDS/packages/property-binder/src/test/tsconfig.json
  experimental/PropertyDDS/packages/property-binder/tsconfig.cjs.json
  experimental/PropertyDDS/packages/property-binder/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#19986 build(view-framework-sampler): use node16 module resolution
  examples/view-integration/view-framework-sampler/package.json
  examples/view-integration/view-framework-sampler/src/views/vueView.ts
  examples/view-integration/view-framework-sampler/tsconfig.json
  examples/view-integration/view-framework-sampler/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#20104 fix(ci): Try workaround for Credscan failures
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/1ES/build-docker-service.yml
  tools/pipelines/templates/1ES/build-npm-package.yml
Labels: area: build, base: main

#20105 tree: Remove use of fixRecursiveReference pattern
  packages/dds/tree/src/domains/schemaBuilder.ts
  packages/dds/tree/src/domains/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/README.md
  packages/dds/tree/src/test/domains/schemaBuilder.spec.ts
  packages/dds/tree/src/test/feature-libraries/contextuallyTyped.spec.ts
  packages/dds/tree/src/test/feature-libraries/schemaBuilder.spec.ts
Labels: area: dds, area: dds: tree, base: main
