Repository microsoft/FluidFramework, pull requests merged in 2024-05, with the labels that each got.

#20846 Filter pending state manager ops while getLocalState by sequence number.
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
Labels: area: runtime, area: tests, base: main

#20931 build(docs): Update dependency on `@fluid-tools/api-markdown-documenter`
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#20932 refactor(api-markdown-documenter): Remove deprecated front-matter APIs
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuiteOptions.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/ToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testemptyinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterfacewithindexsignature-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testinterfacewithtypeparameter-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testmodule-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test/testnamespace/testsubnamespace-namespace.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testemptyinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testinterfacewithtypeparameter-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testmodule-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test/testnamespace/testsubnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/simple-suite-test.md
Labels: public api change, base: main

#20923 tree: Make validateSnapshotConsistency compare handles by absolute path
  packages/dds/tree/src/test/testUtilsTests.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20270 feat(tree): enrich commits with appropriate refreshers
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree-core/commitEnricher.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/defaultCommitEnricher.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeEnricher.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/defaultCommitEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20920 Update tools packages to use fluid-internal mocha-test-setup package
  tools/api-markdown-documenter/.mocharc.cjs
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/.mocharc.cjs
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
Labels: base: main

#20917 Add rdkafka producer/consumer additional config, rdkafka logs to the Lumberjack
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#20940 tree: Remove internal export of SharedTreeFactory
  examples/benchmarks/bubblebench/shared-tree-flex-tree/src/bubblebench.ts
  examples/benchmarks/bubblebench/shared-tree/src/bubblebench.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: examples, area: dds, area: tests, public api change, area: dds: tree, base: main

#20941 build(docs): Update dependency on `@fluid-tools/api-markdown-documenter`
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#20943 Remove unnecessary parameter from `treeStatusFromAnchorCache`
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utilities.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20926 feat(flub): Add 'Path' to info and --columns filtering
  build-tools/packages/build-cli/docs/info.md
  build-tools/packages/build-cli/src/commands/info.ts
Labels: area: build, base: main

#20925 feat(azure-end-to-end-tests): Setup basic smoke tests for SharedTree with AzureClient
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#20933 tree: Refactor arrayNode.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20944 tree: Add some performance related documentation to SharedTree Design Philosophy document
  packages/dds/tree/docs/SharedTree Philosophy.md
Labels: area: dds, area: dds: tree, base: main

#20946 Fix test flakiness
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
Labels: area: tests, base: main

#20727 Op/Noop telemetry
  packages/runtime/container-runtime/src/connectionTelemetry.ts
Labels: area: runtime, base: main

#20573 Create tree-react-api package
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/src/index.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  examples/data-objects/inventory-app/tests/main.test.ts
  experimental/framework/tree-react-api/.eslintrc.cjs
  experimental/framework/tree-react-api/.mocharc.cjs
  experimental/framework/tree-react-api/.npmignore
  experimental/framework/tree-react-api/CHANGELOG.md
  experimental/framework/tree-react-api/LICENSE
  experimental/framework/tree-react-api/README.md
  experimental/framework/tree-react-api/api-extractor-lint.json
  experimental/framework/tree-react-api/api-extractor.json
  experimental/framework/tree-react-api/api-report/tree-react-api.api.md
  experimental/framework/tree-react-api/package.json
  experimental/framework/tree-react-api/prettier.config.cjs
  experimental/framework/tree-react-api/src/index.ts
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.ts
  experimental/framework/tree-react-api/src/test/tsconfig.cjs.json
  experimental/framework/tree-react-api/src/test/tsconfig.json
  experimental/framework/tree-react-api/src/useTree.ts
  experimental/framework/tree-react-api/tsconfig.cjs.json
  experimental/framework/tree-react-api/tsconfig.json
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/fluid-static/src/types.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: dev experience, dependencies, public api change, base: main

#20779 Replace copyContainer with viewContainerVersion
  .changeset/ten-maps-dance.md
  packages/service-clients/azure-client/api-report/azure-client.api.md
  packages/service-clients/azure-client/package.json
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/azure-client/src/test/types/validateAzureClientPrevious.generated.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/viewContainerVersion.spec.ts
Labels: public api change, base: main

#20841 docs(tree): add merge semantics docs
  packages/dds/tree/docs/.attachments/merge-semantics.drawio
  packages/dds/tree/docs/.attachments/ms-set-color-red-and-blue.png
  packages/dds/tree/docs/.attachments/ms-set-color-red-then-blue.png
  packages/dds/tree/docs/.attachments/ms-set-color-red.png
  packages/dds/tree/docs/main/merge-semantics.md
Labels: area: dds, area: dds: tree, base: main

#20947 feat(build-tools): add --watch support to fluid-tsc
  build-tools/packages/build-tools/src/common/tsCompile.ts
  build-tools/packages/build-tools/src/fluidTsc/fluidTsc.ts
Labels: area: build, base: main

#20623 Add additional properties to summarizer and GC logs
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#20786 Add handle support to tree fuzz tests
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#20950 tree: Remove unintentional debug line from test
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20958 docs: Fix typo
  docs/content/docs/build/packages.md
Labels: documentation, base: main

#20955 Note packages to use with fluid-framework
  packages/framework/fluid-framework/README.md
Labels: area: framework, base: main

#20414 comment(stochastic-test-utils): restore indentation in code comment
  packages/test/stochastic-test-utils/src/performActions.ts
Labels: area: tests, base: main

#20959 remove(devtools-core): Deprecated ContainerDevtoolsFeatureFlags flag
  packages/tools/devtools/devtools-core/api-report/devtools-core.api.md
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/Features.ts
  packages/tools/devtools/devtools-view/src/components/ContainerDevtoolsView.tsx
Labels: public api change, base: main

#20949 Revert usage of performance.memory
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/loader/container-loader/src/container.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/performanceEvent.spec.ts
Labels: area: loader, area: driver, public api change, base: main

#20775 Merge Tree: Fix annotate eventual consistency issues.
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/dds/sequence/src/test/sequenceDeltaEvent.spec.ts
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-and-delta-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-lz4-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/attributor-no-compression-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/no-attribution-snap.json
  packages/framework/attributor/src/test/attribution/documents/default/prop-attribution-snap.json
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#20964 Tree: Add ObjectNodeSchema
  packages/dds/tree/src/simple-tree/objectNode.ts
Labels: area: dds, area: dds: tree, base: main

#20942 improvement(flub list): Support independent packages
  build-tools/packages/build-cli/docs/list.md
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/package.ts
  scripts/pack-packages.sh
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-test-tools.yml
Labels: area: build, base: main

#20905 improvement(generate:typetests): Code cleanup and other fixes
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
Labels: area: build, base: main

#20722 Upload Dev Manifest Files to Azure Blob Storage
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/upload-dev-manifest.yml
Labels: area: build, base: main

#16544 feat(build-cli): Allow commands to select all packages by default
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/check/buildVersion.ts
  build-tools/packages/build-cli/src/commands/exec.ts
  build-tools/packages/build-cli/src/commands/generate/assertTags.ts
  build-tools/packages/build-cli/src/commands/generate/packlist.ts
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/packages/build-cli/src/commands/test-only-filter.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/flags.ts
Labels: area: build, base: main

#20969 Remove PublishPipelineArtifact task
  tools/pipelines/templates/upload-dev-manifest.yml
Labels: area: build, base: main

#20418 Align telemetryContextPrefix for SharedTree
  experimental/dds/tree/src/SharedTree.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#20910 build(build-tools): Remove unused types and upgrade npm-check-updates
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#20824 feat(tree): emit event for trunk trimming
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
Labels: area: dds, area: dds: tree, base: main

#20908 build(build-tools): Upgrade oclif dependencies
  build-tools/package.json
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  build-tools/syncpack.config.cjs
Labels: area: build, base: main

#20888 Add e2e test for lastSummary
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: tests, base: main

#20977 Increase retry count on npm install step for real service tests
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#20945 Tree: refactor arrayNode
  packages/dds/tree/src/simple-tree/arrayNode.ts
Labels: area: dds, area: dds: tree, base: main

#20978 Publish release reports as artifacts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-eslint-plugin-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/upload-dev-manifest.yml
Labels: area: build, base: main

#20979 refactor(e2e tests): Move e2e perf test telemetry to ffengineering table
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentCreator.ts
Labels: area: tests, base: main

#20466 Initial draft of Client package requirements
  ClientRequirements.md
Labels: base: main

#20507 Removal of omitted flag from snapshot as service will not supply it.
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/storage.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/index.ts
  packages/loader/driver-utils/src/storageUtils.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.api.md
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/snapshotUtils.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/initialSequenceNumberAndStashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#20981 Exclude ChunkedOp from LocalContainerRuntimeMessage
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/messageTypes.ts
Labels: area: runtime, base: main

#20848 build(server): Bump build-tools dependency to 0.38
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/gitresources/src/test/types/validateGitresourcesPrevious.generated.ts
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/kafka-orderer/src/test/types/validateServerKafkaOrdererPrevious.generated.ts
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/test/types/validateServerLambdasDriverPrevious.generated.ts
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/routerlicious/src/test/types/validateServerRouterliciousPrevious.generated.ts
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/test/types/validateServerServicesOrderingKafkanodePrevious.generated.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/test/types/validateServerServicesOrderingRdkafkaPrevious.generated.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/test/types/validateServerServicesOrderingZookeeperPrevious.generated.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/test/types/validateServerServicesSharedPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#20992 fix(matrix): Convert reentrancy detection to a usage error
  packages/dds/matrix/src/matrix.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, base: main

#20986 fix(build-tools): type test incremental build
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/miscTasks.ts
Labels: area: build, base: main

#20976 skip(test-e2e): Skip tests that are consistently failing in the FRS pipeline
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/refreshSerializedStateManager.spec.ts
Labels: area: tests, base: main

#20996 fix(ci): Fix stage dependencies for stage that uploads telemetry to Kusto
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#20999 tree: Stop importing from top level index
  packages/dds/tree/src/simple-tree/nodeKeys.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/testNodeId.ts
Labels: area: dds, area: dds: tree, base: main

#20989 fix(generate:typetests): Use types/typings field only for public exports when exports map is not defined
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
Labels: area: build, base: main

#21001 Vscode settings to handle trailing whitespace and newlines
  .vscode/settings.json
Labels: area: contributor experience, base: main

#21000 fix(ci): Restrict generation of manifests to client release group
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/upload-dev-manifest.yml
Labels: area: build, base: main

#20856 Override minimum sequence number of deltamanager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/deltaManagerProxy.spec.ts
  packages/test/test-utils/api-report/test-utils.api.md
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: runtime, area: tests, public api change, base: main

#20982 [bump] build-tools: 0.38.0 => 0.39.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#19519 Targeted Signal support for Nexus Lamda
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/interfaces.ts
  server/routerlicious/packages/lambdas/src/nexus/utils.ts
  server/routerlicious/packages/routerlicious-base/src/test/nexus/io.spec.ts
Labels: area: server, base: main

#21002 fix(ci): Update condition to publish release_manifests artifact
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#21005 Skip flaky e2e tests
  packages/test/test-end-to-end-tests/src/test/deltaManagerProxy.spec.ts
Labels: area: tests, base: main

#20604 Enable op Grouping in runtime
  .changeset/slick-symbols-dress.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/loadModes.spec.ts
Labels: area: runtime, area: tests, base: main

#21007 Skip(e2e tests): skip "Reconnects while sending and processing compressed batch" and "applies stashed ops with no saved ops" tests
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#21008 Run `pnpm dedupe` on client release group
  pnpm-lock.yaml
Labels: dependencies, base: main

#20765 Bump eslint config fluid dependency for protocol-definitions and routerlicious packages
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/.eslintrc.cjs
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/localWebSocketServer.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/quorum.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/.eslintrc.cjs
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeConsumer.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#20904 refactor(tree): Pass full checkout object to FlexTree's context
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20991 build(common-utils, api-markdown-documenter, test-tools): Bump build-tools dependency to 0.38
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: base: main

#20886 [bump] eslint-config-fluid: 5.3.0 => 5.4.0 (minor)
  common/build/eslint-config-fluid/package.json
Labels: area: build, base: main

#20988 build(gitrest, historian): Bump build-tools dependency to 0.38
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#21013 tree: Allow removeRange() on empty array node
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#21015 tools(common-utils): Remove use of deprecated eslint config base
  common/lib/common-utils/.eslintrc.cjs
  common/lib/common-utils/src/base64Encoding.ts
  common/lib/common-utils/src/bufferBrowser.ts
  common/lib/common-utils/src/heap.ts
  common/lib/common-utils/src/idleTaskScheduler.ts
  common/lib/common-utils/src/promiseCache.ts
  common/lib/common-utils/src/promises.ts
  common/lib/common-utils/src/safeParser.ts
  common/lib/common-utils/src/test/jest/buffer.spec.ts
  common/lib/common-utils/src/test/jest/gitHash.spec.ts
  common/lib/common-utils/src/test/mocha/assert.spec.ts
  common/lib/common-utils/src/test/mocha/idleTaskScheduler.spec.ts
  common/lib/common-utils/src/test/mocha/promiseCache.spec.ts
  common/lib/common-utils/src/timer.ts
  common/lib/common-utils/src/typedEventEmitter.ts
Labels: base: main

#21016 fix(id-compressor): Fix resubmission order of ID allocation ops
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: runtime, area: tests, base: main

#20619 build(client): Override transitive deps on ip
  pnpm-lock.yaml
Labels: dependencies, base: main

#21020 build(devtools-view): Bump vite to 4.5.2
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#21014 Update eslint-config-fluid version for tools packages
  server/routerlicious/packages/services-ordering-rdkafka/.eslintrc.cjs
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/MochaMemoryTestReporter.ts
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ReporterUtilities.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/mocha/mochaReporterUtilities.ts
  tools/benchmark/src/mocha/runner.ts
  tools/benchmark/src/resultFormatting.ts
  tools/benchmark/src/test/Benchmark.unit.tests.ts
  tools/benchmark/src/test/MemoryTest.tests.ts
  tools/benchmark/src/test/ReporterUtilities.spec.ts
  tools/changelog-generator-wrapper/package.json
  tools/changelog-generator-wrapper/pnpm-lock.yaml
  tools/changelog-generator-wrapper/src/index.js
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/src/commands/appInsights.ts
  tools/telemetry-generator/src/commands/index.ts
  tools/telemetry-generator/src/logger.ts
Labels: area: server, base: main

#20813 Clear join-session cache only on connect_document_error
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/test/joinSessionCacheTests.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#21012 Enable test for local server
  packages/test/test-end-to-end-tests/src/test/deltaManagerProxy.spec.ts
Labels: area: tests, base: main

#21022 Revert "fix(id-compressor): Fix resubmission order of ID allocation ops"
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: runtime, area: tests, base: main

#20985 Migrate four more shared objects to use SharedObjectKind
  experimental/dds/sequence-deprecated/api-report/sequence-deprecated.api.md
  experimental/dds/sequence-deprecated/src/index.ts
  experimental/dds/sequence-deprecated/src/sequenceFactory.ts
  experimental/dds/sequence-deprecated/src/sharedNumberSequence.ts
  experimental/dds/sequence-deprecated/src/sharedObjectSequence.ts
  experimental/dds/sequence-deprecated/src/sparsematrix.ts
  experimental/dds/sequence-deprecated/src/test/sharedNumberSequence.spec.ts
  experimental/dds/sequence-deprecated/src/test/sharedObjectSequence.spec.ts
  experimental/dds/sequence-deprecated/src/test/sparseMatrix.spec.ts
  packages/dds/ordered-collection/api-report/ordered-collection.api.md
  packages/dds/ordered-collection/package.json
  packages/dds/ordered-collection/src/consensusOrderedCollectionFactory.ts
  packages/dds/ordered-collection/src/consensusQueue.ts
  packages/dds/ordered-collection/src/index.ts
  packages/dds/ordered-collection/src/test/consensusOrderedCollection.spec.ts
  packages/dds/ordered-collection/src/test/types/validateOrderedCollectionPrevious.generated.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
Labels: area: dds, area: tests, public api change, base: main

#21023 refactor(attributable-map): Promote eslint config to `recommended` and fix violations
  examples/apps/attributable-map/.eslintrc.cjs
  examples/apps/attributable-map/src/app.ts
  examples/apps/attributable-map/src/containerCode.ts
  examples/apps/attributable-map/src/dataObject.ts
  examples/apps/attributable-map/src/modelContainerRuntimeFactoryWithAttribution.ts
  examples/apps/attributable-map/src/view.ts
Labels: area: examples, base: main

#20995 Add tests to check for DDSs sending duplicate attach ops on handle encode
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: tests, base: main

#20814 field defaulting in simple tree
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/node-key/nodeKeyManager.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/typesUnsafe.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, public api change, area: dds: tree, base: main

#21029 refactor(collaborative-textarea): Promote eslint config and fix violations
  examples/apps/collaborative-textarea/.eslintrc.cjs
  examples/apps/collaborative-textarea/src/app.ts
  examples/apps/collaborative-textarea/src/container.ts
  examples/apps/collaborative-textarea/src/fluid-object/index.ts
  examples/apps/collaborative-textarea/src/view.tsx
Labels: area: examples, base: main

#21027 refactor(versioning-tools): Promote eslint config and fix violations
  build-tools/packages/version-tools/.eslintrc.cjs
  build-tools/packages/version-tools/api-report/version-tools.api.md
  build-tools/packages/version-tools/src/bumpTypes.ts
  build-tools/packages/version-tools/src/commands/version.ts
  build-tools/packages/version-tools/src/internalVersionScheme.ts
  build-tools/packages/version-tools/src/schemes.ts
  build-tools/packages/version-tools/src/test/internalVersionScheme.test.ts
  build-tools/packages/version-tools/src/versions.ts
  build-tools/packages/version-tools/src/virtualPatchScheme.ts
Labels: area: build, public api change, base: main

#21025 Offline: Clarify implementation/usage of SerializedStateManager.refreshLatestSnapshot
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
Labels: area: loader, area: tests, base: main

#20998 Move datastore transition to attaching state to after summary retrieved
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: runtime, area: tests, base: main

#21031 refactor(map): Promote eslint config to use "strict" base and fix violations in code.
  packages/dds/map/.eslintrc.cjs
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/index.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/memory/directory.spec.ts
  packages/dds/map/src/test/memory/map.spec.ts
  packages/dds/map/src/test/mocha/directory.order.spec.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/directoryEquivalenceUtils.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/dirname.cts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/dds/map/src/test/mocha/rebasing.spec.ts
  packages/dds/map/src/test/mocha/reconnection.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, base: main

#20922 tools(client): cleanup tsc:watch scripts
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/driver-definitions/package.json
  packages/loader/container-loader/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-example/package.json
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools/package.json
  pnpm-lock.yaml
Labels: area: runtime, area: loader, dependencies, base: main

#21006 test(tree): test for rebasing throughput
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#21017 remove nodeKeyFieldKey
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/domains/index.ts
  packages/dds/tree/src/domains/nodeKey/fence.json
  packages/dds/tree/src/domains/nodeKey/index.ts
  packages/dds/tree/src/domains/nodeKey/nodeKeySchema.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/node-key/index.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKey.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTree.identifier.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utils.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#20973 Allow more cases in Tree.is
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/shared-tree/treeApi.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21042 Partner Ask: Re-add Removed Exports
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/logger.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/index.ts
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/referencePositions.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
Labels: area: runtime, area: dds, public api change, base: main

#21046 improvement(eslint-config-fluid): Enable `allowExpressions` exception in `@typescript-eslint/explicit-function-return-type` rule config
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#21039 refactor(tree): Add missing return types
  packages/dds/tree/.eslintrc.cjs
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/core/rebase/verifyChangeRebaser.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkCodecUtilities.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/test/testChange.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/util/idAllocator.ts
  packages/dds/tree/src/util/nestedMap.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21049 build(client): Tag asserts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/defaultCommitEnricher.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/framework/attributor/src/attributor.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: loader, area: dds, area: dds: tree, base: main

#21028 fix misspellings in Obliterate.md
  packages/dds/merge-tree/docs/Obliterate.md
Labels: area: dds, base: main

#21047 Offline: Re-enable disabled test case
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#21045 Make several driver related types no longer public
  .changeset/mighty-pigs-cheer.md
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/config.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/tokens.ts
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/deltas.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/drivers/driver-base/api-report/driver-base.api.md
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketMock.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/location-redirection-utilities/resolveWithLocationRedirection.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/test/locationRedirectionTests.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/src/error.ts
  packages/loader/driver-utils/src/network.ts
  packages/loader/driver-utils/src/runWithRetry.ts
  packages/loader/driver-utils/src/test/runWithRetry.spec.ts
  packages/loader/test-loader-utils/api-report/test-loader-utils.api.md
  packages/loader/test-loader-utils/src/mockDocumentDeltaConnection.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts
  packages/utils/odsp-doclib-utils/src/test/odspErrorUtils.spec.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#21026 Offline: Add doc comments to SerializedStateManager and related code
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/storage.ts
  packages/loader/container-loader/src/attachment.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, public api change, base: main

#21021 Add errorLabel after resourceFactory.customize call
  server/routerlicious/packages/services-shared/src/runner.ts
Labels: area: server, base: main

#21048 Remove creating new Lazy Promise every time in FileLogger
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: tests, base: main

#21051 build: Generate release notes for RC4
  .changeset/cruel-trees-dance.md
  .changeset/fancy-frogs-accept.md
  .changeset/icy-sloths-double.md
  .changeset/slick-symbols-dress.md
  .changeset/thirty-flowers-move.md
  .changeset/tidy-rules-fall.md
  RELEASE_NOTES/2.0.0-rc.4.0.0.md
Labels: base: main

#21050 Skip GC attachment blob tests for services that don't support them
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
Labels: area: tests, base: main

#21037 fix(eslint-config-fluid): Disable `unicorn/number-literal-case` rule, which is incompatible with prettier
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#21057 tree: Remove revision from FieldChange
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeTypes.ts
Labels: area: dds, area: dds: tree, base: main

#21063 Update fluid fetch documentation
  packages/tools/fetch-tool/README.md
Labels: base: main

#21036 Migrate three more shared objects to use SharedObjectKind
  packages/dds/pact-map/api-report/pact-map.api.md
  packages/dds/pact-map/src/index.ts
  packages/dds/pact-map/src/pactMap.ts
  packages/dds/pact-map/src/pactMapFactory.ts
  packages/dds/pact-map/src/test/pactMap.spec.ts
  packages/dds/shared-summary-block/api-report/shared-summary-block.api.md
  packages/dds/shared-summary-block/package.json
  packages/dds/shared-summary-block/src/index.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlockFactory.ts
  packages/dds/shared-summary-block/src/test/sharedSummaryBlock.spec.ts
  packages/dds/shared-summary-block/src/test/types/validateSharedSummaryBlockPrevious.generated.ts
  packages/dds/task-manager/api-report/task-manager.api.md
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/index.ts
  packages/dds/task-manager/src/interfaces.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/taskManagerFactory.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
Labels: area: dds, public api change, base: main

#21064 User summarylogger when emitting summarize telemetry
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
Labels: area: runtime, area: tests, base: main

#21054 remove sequenceInitializeFromHeaderOnly
  packages/dds/sequence/api-report/sequence.api.md
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/partialLoad.spec.ts
  packages/dds/sequence/src/test/sharedString.spec.ts
  packages/dds/sequence/src/test/snapshotEmptyProps.spec.ts
  packages/dds/sequence/src/test/snapshotVersion.spec.ts
  packages/dds/sequence/src/test/summaryLoad.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#20831 Remove explicit IChannel reference from tree
  examples/apps/tree-comparison/src/model/newTreeInventoryList.ts
  examples/benchmarks/bubblebench/shared-tree/src/bubblebench.ts
  examples/benchmarks/tablebench/src/test/table.bench.spec.ts
  examples/benchmarks/tablebench/src/test/utils.ts
  experimental/dds/tree/api-report/experimental-tree.api.md
  experimental/dds/tree/src/migration-shim/migrationShim.ts
  experimental/dds/tree/src/migration-shim/migrationShimFactory.ts
  experimental/dds/tree/src/migration-shim/sharedTreeShim.ts
  experimental/dds/tree/src/migration-shim/sharedTreeShimFactory.ts
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: examples, area: framework, area: dds, area: dev experience, public api change, area: dds: tree, base: main

#21065 Re-enables test that was commented out
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
Labels: area: tests, base: main

#21062 Fix output type for identifier field
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#20971 fix(build-tools): restore some tsc dep checking
  build-tools/packages/build-cli/src/BasePackageCommand.ts
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/bump/deps.ts
  build-tools/packages/build-cli/src/commands/check/changeset.ts
  build-tools/packages/build-cli/src/commands/check/layers.ts
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/commands/generate/bundleStats.ts
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
  build-tools/packages/build-cli/src/commands/generate/changeset.ts
  build-tools/packages/build-cli/src/commands/generate/entrypoints.ts
  build-tools/packages/build-cli/src/commands/generate/typetests.ts
  build-tools/packages/build-cli/src/commands/generate/upcoming.ts
  build-tools/packages/build-cli/src/commands/info.ts
  build-tools/packages/build-cli/src/commands/list.ts
  build-tools/packages/build-cli/src/commands/merge/branches.ts
  build-tools/packages/build-cli/src/commands/merge/info.ts
  build-tools/packages/build-cli/src/commands/modify/fluid-imports.ts
  build-tools/packages/build-cli/src/commands/modify/lockfile.ts
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/commands/rename-types.ts
  build-tools/packages/build-cli/src/commands/run/bundleStats.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/library/commands/base.ts
  build-tools/packages/build-cli/src/library/commands/constants.ts
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/library/commands/index.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/packageExports.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildDatabase.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
  build-tools/packages/build-cli/src/stateMachineCommand.ts
  build-tools/packages/build-cli/test/library/packageExports.test.ts
  examples/apps/data-object-grid/package.json
  examples/data-objects/multiview/constellation-model/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  fluidBuild.config.cjs
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-end-to-end-tests/package.json
  tools/api-markdown-documenter/package.json
  tools/getkeys/.eslintrc.cjs
  tools/getkeys/package.json
  tools/getkeys/tsconfig.lint.json
Labels: area: examples, area: build, area: tests, base: main

#21068 Throw error if snapshot response is empty
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#21038 refactor(external-controller): Upgrade eslint config to "recommended" and fix violations in the code
  examples/service-clients/azure-client/external-controller/.eslintrc.cjs
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/controller.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
Labels: area: examples, base: main

#21071 fix(merge-tree sequence): Fix interval sliding pereference inequaliti…
  examples/data-objects/webflow/src/document/index.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
Labels: area: examples, area: dds, area: dds: sharedstring, public api change, base: main

#21076 refactor(telemetry-generator): Upgrade eslint config to "recommended" and fix violations in code
  tools/telemetry-generator/.eslintrc.cjs
  tools/telemetry-generator/src/commands/appInsights.ts
  tools/telemetry-generator/src/commands/index.ts
  tools/telemetry-generator/src/handlers/appInsightsExecutionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsMemoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/bundleSizeHandler.ts
  tools/telemetry-generator/src/handlers/executionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/memoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/stageTimingRetriever.ts
  tools/telemetry-generator/src/handlers/template.ts
  tools/telemetry-generator/src/handlers/testPassRate.ts
Labels: base: main

#21078 refactor(getKeys): Upgrade eslint config to "recommended" and fix violations in code
  tools/getkeys/.eslintrc.cjs
  tools/getkeys/index.js
Labels: base: main

#21077 Skip document corruption if partition is closed
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
Labels: area: server, base: main

#20839 refactor(container-runtime): Tighten up exposure of ContainerRuntime's logger
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzMocks.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/localChannelContext.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
Labels: area: framework, area: runtime, public api change, base: main

#21070 Fix type test symbol handling
  build-tools/packages/build-tools/src/typeValidator/compatibility.ts
Labels: area: build, base: main

#20851 Make the new summary retry logic the default and remove old logic
  docs/content/docs/deep/summaryTelemetry.md
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizerWithLocalChanges.spec.ts
  packages/test/test-service-load/testConfig.json
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: documentation, area: runtime, area: tests, public api change, base: main

#21080 Use post-creation resolved URL to handle discovery pattern
  packages/test/test-service-load/src/faultInjectionDriver.ts
Labels: area: tests, base: main

#21084 docs(devtools): Update landing page text
  packages/tools/devtools/devtools-view/src/components/LandingView.tsx
Labels: base: main

#20754 docs(tree): Update undo and detach trees docs
  packages/dds/tree/docs/.attachments/RefresherNotNeeded.png
  packages/dds/tree/docs/.attachments/StaleRefresher.png
  packages/dds/tree/docs/.attachments/SuperfluousRefresher.png
  packages/dds/tree/docs/.attachments/UndoAfterCollab.png
  packages/dds/tree/docs/.attachments/UndoAfterCollabFast.png
  packages/dds/tree/docs/.attachments/UndoDangerZone.drawio
  packages/dds/tree/docs/.attachments/UndoDuringCollab.png
  packages/dds/tree/docs/README.md
  packages/dds/tree/docs/main/detached-trees.md
  packages/dds/tree/docs/main/repair-data.md
  packages/dds/tree/docs/main/undo.md
  packages/dds/tree/docs/main/v1-undo-example-flow.md
  packages/dds/tree/docs/main/v1-undo.md
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/transactionStack.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.test.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20874 E2E ephemeral tests with manual payloads
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/ephemeralSummaryTrees.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/signals.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/utils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/viewContainerVersion.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#21066 refactor(tree): Enable explicit return type rule and fix violations
  packages/dds/tree/.eslintrc.cjs
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/core/tree/persistedTreeTextFormat.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/domains/schemaBuilder.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/formatGeneric.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/editableTreeBinder.ts
  packages/dds/tree/src/feature-libraries/flex-tree/navigation.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindFormat.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeFormatV1.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeFormatV2.ts
  packages/dds/tree/src/feature-libraries/schemaBuilderBase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/format.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/feature-libraries/typed-schema/schemaCollection.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerFormat.ts
  packages/dds/tree/src/shared-tree-core/messageFormat.ts
  packages/dds/tree/src/shared-tree-core/sequenceIdUtils.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree-core/transactionStack.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21058 Add OAuthBearer authentication support for rdkafka
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/routerlicious/src/scribe/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/index.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaBase.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/resourcesFactory.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#21052 Offline: Minor refactoring of stashedOps.spec.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: loader, area: tests, base: main

#21075 Test Update to Arrow application to v4 for secretless auth
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#21096 Use node's bundled CA on windows
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
Labels: base: main

#21011 feat(tree): Schema validation
  .changeset/chilly-results-relax.md
  examples/benchmarks/tablebench/src/test/table.bench.spec.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultSchema.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/service-clients/azure-client/src/test/AzureClient.spec.ts
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main

#21091 Use public client auth for odsp e2e flows
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/odsp-client/src/test/odspClient.spec.ts
  packages/service-clients/odsp-client/src/test/odspTestTokenProvider.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/tools/fetch-tool/README.md
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/utils/odsp-doclib-utils/api-report/odsp-doclib-utils.api.md
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/index.ts
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/test/types/validateOdspDoclibUtilsPrevious.generated.ts
  packages/utils/tool-utils/api-report/tool-utils.api.md
  packages/utils/tool-utils/src/odspTokenManager.ts
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
Labels: area: build, area: tests, area: odsp-driver, public api change, base: main

#21097 refactor(devtools): Abstracted all Menu-related logic to its own file
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/Menu.tsx
  packages/tools/devtools/devtools-view/src/components/index.ts
Labels: base: main

#21103 update remaining arrow app service connections
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
Labels: area: build, base: main

#21100 fix(tree): throw UsageError on invalid move
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/types.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21104 Change ARROW property name
  tools/pipelines/build-docs.yml
Labels: area: build, base: main

#21105 Respect the odspEndpoint argument if supplied in e2e tests.
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatOptions.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
  packages/test/test-version-utils/src/describeWithVersions.ts
Labels: area: tests, base: main

#21093 Better telemetry for disconnect events: record pendingClientId
  packages/loader/container-loader/src/connectionStateHandler.ts
Labels: area: loader, base: main

#21041 feat(azure-end-to-end-tests): Expand AzureClient e2e tests
  package.json
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  pnpm-lock.yaml
  tools/pipelines/build-client.yml
Labels: area: framework, area: build, dependencies, base: main

#21082 refactor(id-compressor): Cleanup compressor usage in runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, base: main

#21101 [GC] Remove the option to disable GC mark phase
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/gc/garbageCollection.md
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/test/test-end-to-end-tests/src/test/SummarizeFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/DocumentMatrixPlain.ts
  packages/test/test-end-to-end-tests/src/test/createContainerStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/createNewSummaryCachingTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcReferenceUpdatesInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestConfigs.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcVersionUpdate.spec.ts
  packages/test/test-end-to-end-tests/src/test/legacyChunking.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizationEdgeCases.spec.ts
  packages/test/test-end-to-end-tests/src/test/summaryDataStoreStats.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: tests, public api change, base: main

#21113 Remove plumbing of app secret for odspdf stress
  packages/test/test-service-load/runLoadTestOnAks.ps1
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, area: tests, base: main

#21086 Add performance events for test-service-load client election
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: runtime, area: tests, base: main

#21117 fix(build): Add ci:test:azureclient:tinylicious:coverage command
  package.json
Labels: base: main

#21120 refactor(tree): prepare for new sequence field changeset format
  packages/dds/tree/src/feature-libraries/sequence-field/formatV1.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/types.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21121 fix(azure-end-to-end-tests): Include AzureClient e2e tests in ci:test:realsvc:tinylicious
  package.json
  packages/service-clients/end-to-end-tests/azure-client/package.json
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#20617 docs(tree): Add example PRs for making backward-compatible format changes
  packages/dds/tree/docs/main/compatibility.md
Labels: area: dds, area: dds: tree, base: main

#21085 [Summarization] Added type for the error thrown during summarization
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, public api change, base: main

#21119 Add readme to Example folder
  examples/README.md
Labels: area: examples, base: main
