Repository microsoft/FluidFramework, pull requests merged in 2024-02, with the labels that each got.

#19385 Stop the tree ops submission prior to attachment
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
Labels: area: dds, area: dds: tree, base: main

#19430 ci: Run CODEOWNERS validation on release branches
  .github/workflows/pr-validation.yml
Labels: area: build, base: main

#19418 cleanup(test-end-to-end-tests): Add back compat support for disabled tests
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: tests, base: main

#19428 Deprecate PureDataObjectFactory.createRootInstance
  packages/framework/aqueduct/api-report/aqueduct.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
Labels: area: framework, public api change, base: main

#19413 Cancel the running of test stability on next branch
  tools/pipelines/test-stability.yml
Labels: area: build, base: next, msftbot: merge-next

#19434 fix(docs): remove template expression from parameter default
  tools/pipelines/templates/download-api-extractor-artifact.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build, base: main

#19404 Initial work for summarizer fuzz testing
  packages/runtime/container-runtime/src/test/fuzz/fuzzUtils.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizer.fuzz.spec.ts
Labels: area: runtime, base: main

#19403 Add removeRow/removeCol to matrix fuzz
  packages/dds/matrix/.gitignore
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
Labels: area: dds, base: main

#19217 Add eslint-custom-rules package to eslint-config-fluid
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/src/fluid-internal/README.md
  common/build/eslint-config-fluid/src/fluid-internal/index.js
  common/build/eslint-config-fluid/src/fluid-internal/package.json
  common/build/eslint-config-fluid/src/fluid-internal/rules/no-member-release-tags.js
  common/build/eslint-config-fluid/src/fluid-internal/rules/no-restricted-tags-imports.js
  common/build/eslint-config-fluid/src/test/enforce-no-member-release-tags/enforce-no-member-release-tags.test.js
  common/build/eslint-config-fluid/src/test/enforce-no-restricted-tags-imports/enforce-no-restricted-tags-imports.test.js
  pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#18968 Refresh immediately after summary ack
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/test/test-end-to-end-tests/src/test/summarizeRefreshLatestSummary.spec.ts
Labels: area: runtime, area: tests, base: main

#19441 eslint: allow imports from '/beta'
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#19306 Remove dictionary from ILoaderOptions
  .changeset/slick-kings-wish.md
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/dds/sequence/src/sequence.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: loader, area: dds, area: dds: sharedstring, area: tests, public api change, base: main

#19444 fix(ci): Re-enable test coverage for CI builds after migration to 1ES pipeline templates
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-markdown-magic.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/build-tinylicious.yml
  tools/pipelines/templates/1ES/build-npm-package.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#19275 GC: Detect references added via attach ops
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/garbageCollection.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.api.md
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: runtime, area: tests, public api change, base: main

#19398 feat(sequence): add more tests
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/obliterate.reconnect.spec.ts
  packages/dds/merge-tree/src/test/partialLength.spec.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#19440 logs for checkpoint upsert failure
  server/routerlicious/packages/services-core/src/mongoCheckpointRepository.ts
Labels: area: server, base: main

#18711 Enabling debugger for nexus
  server/routerlicious/docker-compose.debug.yml
Labels: area: server, base: main

#19416 test(e2e): Lint against value-imports to @fluidframework/sequence
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/README.md
  packages/test/test-end-to-end-tests/src/test/attributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/localLoader.spec.ts
  packages/test/test-end-to-end-tests/src/test/opReentrancy.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/pendingBatchReentry.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedStringLoading.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/src/testApi.ts
Labels: area: tests, public api change, base: main

#19456 refactor(docs): Remove unused dep 'cpy'
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#19369 Add when session expiry timer started in pending state
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#19451 build(build-cli): Override dependency version on "sharp" to address security issue
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main

#19439 trim: @fluidframework/odsp-doclib-utils
  examples/benchmarks/odspsnapshotfetch-perftestapp/src/expressApp.ts
  examples/benchmarks/odspsnapshotfetch-perftestapp/tsconfig.json
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/odspError.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/odsp-client/src/test/odspTestTokenProvider.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-end-to-end-tests/src/test/error.spec.ts
  packages/tools/fetch-tool/src/fluidFetch.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/tools/webpack-fluid-loader/src/odspUrlResolver.ts
  packages/tools/webpack-fluid-loader/src/routes.ts
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/tool-utils/api-report/tool-utils.api.md
  packages/utils/tool-utils/src/fluidToolRC.ts
  packages/utils/tool-utils/src/odspTokenManager.ts
Labels: area: examples, area: driver, area: tests, area: odsp-driver, public api change, base: main

#19454 refactor(tinylicious): Remove unused pnpm.overrides
  server/routerlicious/packages/tinylicious/package.json
Labels: area: server, base: main

#19453 fix(server): Update socket.io-parser dep and override to address CVE-2023-32695
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#19459 refactor: Replace un-maintained 'forever' with 'pm2'
  azure/packages/azure-local-service/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, base: main

#19458 test(tree): Fix anchor-undo-redo fuzz to reconstruct generator per seed
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19455 test(e2e): Lint against value-imports of remaining DDS packages
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/src/test/cellAttributionEndToEnd.spec.ts
  packages/test/test-end-to-end-tests/src/test/cellEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusOrderedCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/consensusRegisterCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/pendingBatchReentry.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#19446 fix(sequence): Preserve original refSeq on multiply-resubmitted ops
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#19461 refactor(devtools-browser-extension): Update BackgroundConnection to take in the tabId
  packages/tools/devtools/devtools-browser-extension/src/BackgroundConnection.ts
  packages/tools/devtools/devtools-browser-extension/src/devtools/InitializeView.ts
Labels: base: main

#19448 Enable schema based compression in ops
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/core/change-family/changeFamily.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerSummarizer.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/message.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/snapshots/files/complete-3x3-final-default-compression.json
  packages/dds/tree/src/test/snapshots/files/concurrent-inserts-tree2-default-compression.json
  packages/dds/tree/src/test/snapshots/files/concurrent-inserts-tree3-default-compression.json
  packages/dds/tree/src/test/snapshots/files/has-handle-final-default-compression.json
  packages/dds/tree/src/test/snapshots/files/insert-and-remove-tree-0-after-insert-default-compression.json
  packages/dds/tree/src/test/snapshots/files/move-across-fields-tree-0-final-default-compression.json
  packages/dds/tree/src/test/snapshots/files/nested-sequence-change-final-default-compression.json
  packages/dds/tree/src/test/snapshots/files/optional-field-scenarios-final-default-compression.json
Labels: area: dds, area: dds: tree, base: main

#19464 Fix inventory app source maps
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/webpack.config.js
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#19436 fix(test-version-utils): Fix issues with getRequestedVersion() using dev-rc releases
  packages/test/test-version-utils/src/test/versionUtils.spec.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#19361 Add permissions block to push-tag-create-release.yml
  .github/workflows/push-tag-create-release.yml
Labels: area: build, base: main

#19467 tree: Tree event system fixes
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/test/events/eventEmitter.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/events.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19465 fix(tree): Expand API-Extractor workaround to fix rollups, and link to related github issue
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/domains/json/jsonDomainSchema.ts
  packages/dds/tree/src/simple-tree/testRecursiveDomain.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19462 fix(ci): Update test file spec so running memory perf tests succeeds again
  packages/dds/map/src/test/memory/.mocharc.cjs
  packages/dds/matrix/src/test/memory/.mocharc.cjs
Labels: base: main

#19452 fix(PropertyDDS): Update msgpackr to 1.10.1 to address security vulnerability
  experimental/PropertyDDS/packages/property-dds/package.json
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#19469 fix(ci): Fix artifact name so bundle analysis comparison in PRs works again
  tools/pipelines/templates/1ES/build-npm-package.yml
Labels: area: build, base: main

#19466 fix(api-markdown-documenter): Always display type param info when it is present
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/simple-suite-test.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/simple-suite-test.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test.json
  tools/pipelines/build-api-markdown-documenter.yml
Labels: area: build, public api change, base: main

#19468 Disable minCompatVersion tests
  packages/test/test-end-to-end-tests/src/test/aliasWithProps.spec.ts
  packages/test/test-end-to-end-tests/src/test/attachRegisterLocalApiTests.spec.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/test/minCompatVersion.spec.ts
Labels: area: tests, base: main

#19392 GC: Auto-Recovery triggers fullGC to self-repair cases of corrupted GC Data
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#19474 Remove unused pipeline definition files
  .github/CODEOWNERS
  tools/pipelines/build-azure.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-container-definitions.yml
  tools/pipelines/build-core-interfaces.yml
  tools/pipelines/build-docs-site.yml
  tools/pipelines/build-driver-definitions.yml
  tools/pipelines/build-tinylicious.yml
Labels: area: build, base: main

#19470 tree: Refactor sequence composition
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19471 Add ChangeSet for createDataStoreAlias
  .changeset/angry-clubs-play.md
Labels: base: main

#19480 build(example-utils): Add explicit return type to getter
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/src/migrationTool/migrationTool.ts
Labels: area: examples, public api change, base: main

#19475 Follow up to "Allow sending signals to specific clients"
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, public api change, base: main

#19457 Copy src/test to test directory for test artifacts
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#19485 test(tree): Add axiomatic change rebaser tests to test:stress
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/test/stochastic-test-utils/api-report/stochastic-test-utils.api.md
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  packages/test/stochastic-test-utils/src/index.ts
Labels: area: dds, area: tests, public api change, area: dds: tree, base: main

#19489 GC Tests: Add messages to several MockLogger assert calls
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: tests, base: main

#19482 Deprecate LazyLoadedDataObject and convert remaining use to DataObject, fixing demos
  .changeset/wicked-views-remain.md
  examples/data-objects/webflow/src/document/index.ts
  examples/data-objects/webflow/src/host/webFlow.ts
  experimental/PropertyDDS/examples/partial-checkout/src/dataObject.ts
  experimental/PropertyDDS/examples/property-inspector/src/dataObject.ts
  packages/framework/data-object-base/api-report/data-object-base.api.md
  packages/framework/data-object-base/src/lazyLoadedDataObject.ts
  packages/framework/data-object-base/src/lazyLoadedDataObjectFactory.ts
Labels: area: examples, area: framework, area: dds: propertydds, public api change, base: main

#19491 Make src/test dir for package being tested before copying test tar files
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#19408 feat(docs): New FF heirarchy in left nav
  docs/README.md
  docs/data/packages.json
  docs/themes/thxvscode/assets/scss/includes/_docs.scss
  docs/themes/thxvscode/layouts/partials/apiNav.html
  docs/themes/thxvscode/layouts/partials/breakOnCapitals.html
Labels: area: website, base: main

#19481 Remove All Existing Code Owners to Prepare for Requiring Code Owners
  .github/CODEOWNERS
Labels: area: build, base: main

#19427 fix: Fix OpRoundtripTime telemetry for the load-container flow
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/opPerfTelemetry.spec.ts
Labels: area: runtime, area: tests, base: main

#19492 tree: Remove amend pass from changeset composition
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/helperTypes.ts
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markListFactory.ts
  packages/dds/tree/src/feature-libraries/sequence-field/markQueue.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/prune.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldChangeRebaser.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markQueue.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19498 Add Merge Tree Code Owners
  .github/CODEOWNERS
Labels: base: main

#19497 build: Rename eslint config to use .cjs
  examples/benchmarks/tablebench/.eslintrc.cjs
Labels: base: main

#19499 docs(container-definitions): Small improvement to IConnectionDetails docs
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/deltas.ts
Labels: public api change, base: main

#19386 TableBench: use 'object of arrays' for baseline
  examples/benchmarks/tablebench/package.json
  examples/benchmarks/tablebench/src/test/table.bench.ts
Labels: area: examples, base: main

#19503 Update code owners for tree packages
  .github/CODEOWNERS
Labels: area: build, base: main

#19506 Add devtools code owners
  .github/CODEOWNERS
Labels: area: build, base: main

#19504 Update ID compressor code owners
  .github/CODEOWNERS
Labels: area: build, base: main

#19437 Collapse DeltaManagerProxyBase into DeltaManagerSummarizerProxy and remove EventForwarder usage
  packages/runtime/container-runtime/src/deltaManagerProxyBase.ts
  packages/runtime/container-runtime/src/deltaManagerSummarizerProxy.ts
Labels: area: runtime, base: main

#19516 build(docs): new FF Mobile Nav
  docs/themes/thxvscode/layouts/partials/apiNav.html
Labels: area: website, base: main

#19106 feat(check:policy): Prevent .js file extension
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/index.ts
  build-tools/packages/build-tools/src/repoPolicyCheck/handlers/noJsFiles.ts
  fluidBuild.config.cjs
Labels: area: build, base: main

#19110 refactor(fluid-build): Return webpack.config.cjs as the default webpack config file when one isn't found
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/webpackTask.ts
Labels: area: build, base: main

#19515 Remove EventForwarder and convert LazyLoadedDataObject to a TypedEventEmitter
  packages/common/client-utils/api-report/client-utils.api.md
  packages/common/client-utils/package.json
  packages/common/client-utils/src/eventForwarder.ts
  packages/common/client-utils/src/indexBrowser.ts
  packages/common/client-utils/src/indexNode.ts
  packages/common/client-utils/src/test/mocha/eventForwarder.spec.ts
  packages/common/client-utils/src/test/types/validateClientUtilsPrevious.generated.ts
  packages/framework/data-object-base/api-report/data-object-base.api.md
  packages/framework/data-object-base/src/lazyLoadedDataObject.ts
Labels: base: main

#19479 refactor(eslint-config-fluid): Update settings for type-only imports/exports
  .vscode/settings.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/strict.js
Labels: area: build, area: contributor experience, base: main

#19526 Only emit throttling time in case it was from error
  packages/loader/container-loader/src/connectionManager.ts
Labels: area: loader, base: main

#19426 Fix error message (remove exclamation marks)
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
Labels: area: driver, area: odsp-driver, base: main

#19536 fix(directory): Fallback to previous subdirectory ordering on mismatch
  packages/dds/map/src/directory.ts
Labels: area: dds, base: main

#19538 fix(odsp-client): Normalize clientId and clientSecret env var names
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  tools/pipelines/test-service-clients.yml
Labels: area: build, base: main

#19534 fix(tree): populate nested map does not override values by default
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/test/util/nestedMap.spec.ts
  packages/dds/tree/src/util/nestedMap.ts
Labels: area: dds, area: dds: tree, base: main

#19517 Make getPendingState synchronous when not closing
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, public api change, base: main

#19542 GC: Bump up timeout to alleviate flakey test
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
Labels: area: tests, base: main

#19524 GC: Properly support running GC only for certain node types
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
Labels: area: runtime, area: tests, base: main

#19537 fix(e2e-test): Fix flaky test
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
Labels: area: tests, base: main

#19543 tree: Fix bug with composing changes to moved nodes
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19513 feat(devtools): Implement Devtools usage telemetry
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-browser-extension/src/devtools/TelemetryLogging.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#19549 Revert "Add eslint-custom-rules package to eslint-config-fluid (#19217)"
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/src/custom-rules/no-member-release-tags.js
  common/build/eslint-config-fluid/src/custom-rules/no-restricted-tags-imports.js
  common/build/eslint-config-fluid/src/fluid-internal/README.md
  common/build/eslint-config-fluid/src/fluid-internal/index.js
  common/build/eslint-config-fluid/src/fluid-internal/package.json
  common/build/eslint-config-fluid/src/test/enforce-no-member-release-tags/enforce-no-member-release-tags.test.js
  common/build/eslint-config-fluid/src/test/enforce-no-restricted-tags-imports/enforce-no-restricted-tags-imports.test.js
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: build, base: main

#19557 Make existing code ownership source only
  .github/CODEOWNERS
Labels: area: build, base: main

#19558 Remove embedded youtube video
  docs/content/_index.md
Labels: documentation, base: main

#19545 GC: Add GC Option to disable DataStore Sweep
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
Labels: area: runtime, base: main

#19554 docs: IdCompressor example
  packages/runtime/id-compressor/api-report/id-compressor.api.md
  packages/runtime/id-compressor/src/types/idCompressor.ts
Labels: area: runtime, public api change, base: main

#19556 tree(fix): fix cell ordering in transaction compositions
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19560 Finalize ID Range on Attach and Allow ContainerRuntime Deletion
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: runtime, area: dds, public api change, base: main

#19563 test(client): bump jest-dev-server
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#19559 Remove unused dependencies from package.json files
  azure/packages/azure-client/package.json
  examples/apps/collaborative-textarea/package.json
  examples/apps/data-object-grid/package.json
  examples/benchmarks/bubblebench/common/package.json
  examples/benchmarks/tablebench/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/data-objects/codemirror/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/prosemirror/package.json
  examples/data-objects/smde/package.json
  examples/data-objects/table-document/package.json
  examples/data-objects/table-view/package.json
  examples/data-objects/todo/package.json
  examples/data-objects/webflow/package.json
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  experimental/PropertyDDS/packages/property-binder/package.json
  experimental/dds/tree/package.json
  experimental/framework/last-edited/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/aqueduct/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/request-handler/package.json
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools/package.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: driver, area: dds, area: dev experience, dependencies, area: tests, area: dds: propertydds, area: dds: tree, base: main

#19152 fix(version-tools): Detect bump types between RC builds and internal builds correctly
  build-tools/packages/version-tools/src/semver.ts
  build-tools/packages/version-tools/src/test/semver.test.ts
Labels: area: build, base: main

#18982 build: Use strict eslint config in common/definitions packages
  packages/common/container-definitions/.eslintrc.cjs
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/audience.ts
  packages/common/container-definitions/src/browserPackage.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/fluidModule.ts
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/core-interfaces/.eslintrc.cjs
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/fluidLoadable.ts
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/index.ts
  packages/common/core-interfaces/src/test/types/fluidObjectTypes.ts
  packages/common/core-utils/.eslintrc.cjs
  packages/common/core-utils/src/heap.ts
  packages/common/core-utils/src/index.ts
  packages/common/core-utils/src/test/promiseCache.spec.ts
  packages/common/core-utils/src/test/timer.spec.ts
  packages/common/driver-definitions/.eslintrc.cjs
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/common/driver-definitions/src/index.ts
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/test/types/maximumCacheDurationPolicy.spec.ts
  packages/common/driver-definitions/src/urlResolver.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/runtime/container-runtime-definitions/.eslintrc.cjs
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime-definitions/src/index.ts
Labels: area: framework, area: runtime, public api change, base: main

#19570 [bump] build-tools: 0.30.0 => 0.31.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#18920 build: Remove unused renamer dependency in common packages
  common/lib/common-definitions/package.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: base: main

#19400 Add rehydrate phase to generator and reducer
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, area: dds: tree, base: main

#19573 fix(end-to-end-tests): Add AgentScheduler to DataRuntime APIs to support back compat tests
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/testApi.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, public api change, base: main

#19568 Demote ink to fluid-experimental scope
  .changeset/true-cooks-marry.md
  PACKAGES.md
  examples/data-objects/canvas/package.json
  examples/data-objects/canvas/src/canvas.ts
  examples/data-objects/canvas/src/index.ts
  examples/data-objects/canvas/src/view.tsx
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/dds/ink/CHANGELOG.md
  packages/dds/ink/README.md
  packages/dds/ink/api-report/ink.api.md
  packages/dds/ink/package.json
  packages/dds/ink/src/packageVersion.ts
  packages/dds/ink/src/test/types/validateInkPrevious.generated.ts
  packages/drivers/odsp-driver/src/test/localSnapshots/localSnapshot1.json
  packages/test/snapshots/package.json
  packages/test/snapshots/src/test/serialized.spec.ts
  packages/test/test-end-to-end-tests/.eslintrc.cjs
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
  packages/test/test-version-utils/api-report/test-version-utils.api.md
  packages/test/test-version-utils/package.json
  packages/test/test-version-utils/src/testApi.ts
  packages/tools/replay-tool/package.json
  packages/tools/replay-tool/src/replayFluidFactories.ts
  pnpm-lock.yaml
Labels: area: examples, area: driver, area: dds, dependencies, area: tests, area: odsp-driver, public api change, base: main

#19577 test(client): install chrome-headless-shell for jest
  package.json
Labels: base: main

#19564 build(client): alternate jest-environment-puppeteer types workaround
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/apps/tree-comparison/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/package.json
  examples/benchmarks/bubblebench/editable-shared-tree/tsconfig.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/sharedtree/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/coordinate-model/package.json
  examples/data-objects/multiview/plot-coordinate-view/package.json
  examples/data-objects/multiview/slider-coordinate-view/package.json
  examples/data-objects/multiview/triangle-view/package.json
  examples/data-objects/todo/package.json
  examples/external-data/package.json
  examples/service-clients/azure-client/external-controller/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/schema-upgrade/package.json
  examples/version-migration/tree-shim/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  package.json
  packages/common/client-utils/package.json
  packages/test/types_jest-environment-puppeteer/index.d.ts
  packages/test/types_jest-environment-puppeteer/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: area: examples, dependencies, area: tests, area: dds: propertydds, base: main

#19580 Flakey Test: Extend delay to avoid flakey behavior
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
Labels: area: tests, base: main

#19473 refactor: Add hostRequirements section to devcontainer.json
  .devcontainer/devcontainer.json
Labels: base: main

#19579 Increase build timeout to 120 minutes.
  tools/pipelines/templates/1ES/build-npm-package.yml
Labels: area: build, base: main

#19518 Align apply stashed ops with re-submit
  experimental/dds/attributable-map/api-report/attributable-map.api.md
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/attributable-map/src/mapKernel.ts
  experimental/dds/attributable-map/src/test/mocha/map.spec.ts
  experimental/dds/tree/api-report/experimental-tree.api.md
  experimental/dds/tree/src/SharedTree.ts
  experimental/dds/tree/src/migration-shim/migrationDeltaHandler.ts
  experimental/dds/tree/src/migration-shim/sharedTreeDeltaHandler.ts
  packages/dds/cell/api-report/cell.api.md
  packages/dds/cell/src/cell.ts
  packages/dds/counter/src/counter.ts
  packages/dds/map/api-report/map.api.md
  packages/dds/map/src/directory.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/directory.order.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#19399 tree: modular change family functions for adding missing builds and filtering builds on a changeset
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19571 tree: Fix bug with cross-field move invalidation
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19584 Allow rehydrate op generation to be disabled
  packages/dds/test-dds-utils/api-report/test-dds-utils.api.md
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19588 tool(client): ts2esm root support
  package.json
  packages/dds/tree/package.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: tree, base: main

#19463 docs: Add remarks about Audience behavior when container is disconnected
  packages/common/container-definitions/src/audience.ts
  packages/loader/container-loader/src/audience.ts
Labels: area: loader, base: main

#19449 Add test for load of latest snapshot with groupid
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#19595 fix(docs): non api docs related left and mobile nav were not showing service clients
  docs/themes/thxvscode/layouts/partials/apiNav.html
Labels: area: website, base: main

#19438 Demote data-object-base to experimental
  .changeset/three-friends-take.md
  examples/data-objects/webflow/package.json
  experimental/PropertyDDS/examples/partial-checkout/package.json
  experimental/PropertyDDS/examples/property-inspector/package.json
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/data-object-base/README.md
  packages/framework/data-object-base/api-report/data-object-base.api.md
  packages/framework/data-object-base/package.json
  packages/framework/data-object-base/src/test/types/validateDataObjectBasePrevious.generated.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, area: dds: propertydds, public api change, base: main

#19599 fix disabled tests
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/deli/checkpointContext.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/deli/checkpointContext.spec.ts
  server/routerlicious/packages/lambdas/src/test/scribe/lambda.spec.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/testNotImplementedCheckpointRepository.ts
  server/routerlicious/packages/test-utils/src/testNotImplementedCheckpointService.ts
  server/routerlicious/packages/test-utils/src/testNotImplementedDocumentRepository.ts
Labels: area: server, base: main

#19547 fix(docs): Wildcard redirects brute force fix
  build-tools/package.json
  docs/.gitignore
  docs/README.md
  docs/api/fallback/index.js
  docs/package.json
  docs/pnpm-lock.yaml
  package.json
  server/routerlicious/package.json
Labels: area: server, area: build, area: website, base: main

#19602 nit(docs): gitignore only the versions file
  docs/.gitignore
Labels: base: main

#19601 tree: Fix bugs with visit delta
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19488 Redo summarizer correctness validation
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNode.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNodeWithGc.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/SummarizerWithSearch.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#19552 Adding hashed client IP to telemetry.
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#19578 fix(test-end-to-end-tests): Use provider.makeTestLoader in attach lifecycle tests
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: tests, base: main

#19494 Add parsing of groupId in odsp snapshot
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/compactSnapshotWriter.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#19605 build(docs): Don't generate API docs for `@alpha` members
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#19596 build(client-tree): simplify with tsc-multi package override
  common/build/build-common/tsc-multi.node16.cjs.json
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  packages/dds/tree/api-extractor-cjs.json
  packages/dds/tree/api-extractor-esm.json
  packages/dds/tree/api-extractor.json
  packages/dds/tree/package.json
  packages/dds/tree/tsconfig.base.json
  packages/dds/tree/tsconfig.cjs.json
  packages/dds/tree/tsconfig.esnext.json
  packages/dds/tree/tsconfig.json
  patches/tsc-multi@1.1.0.patch
  pnpm-lock.yaml
Labels: area: dds, area: build, dependencies, area: dds: tree, base: main

#19598 [v2int/7.4] GC: Follow-up changes to support successful roll-out of GC Sweep
  packages/runtime/container-runtime/src/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcConfigs.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, dependencies, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, public api change, area: dds: tree, base: main

#19587 [Data Virtualization]Upload groupId in summary plus other groupId conversions
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/test/jsonSnapshotFormatTests.spec.ts
  packages/drivers/routerlicious-driver/src/contracts.ts
  packages/drivers/routerlicious-driver/src/r11sSnapshotParser.ts
  packages/drivers/routerlicious-driver/src/test/wholeSummaryDocumentStorageService.spec.ts
  packages/drivers/routerlicious-driver/src/treeUtils.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/src/treeConversions.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/runtime-utils/src/test/summaryUtils.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, base: main

#19615 fix(docs): fix redirects with build script
  docs/api/fallback/index.js
  docs/build-redirects.js
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#19616 fix(docs): redirect fix using pathname instead of header
  docs/api/fallback/index.js
  docs/build-redirects.js
Labels: area: website, base: main

#19614 fix(tree): fix usage of IdAllocator in optional field
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/util/idAllocator.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19551 Clustering changes only for r11s
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/socketIoRedisConnection.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/redisUtils.ts
  server/routerlicious/packages/services/src/redis.ts
  server/routerlicious/packages/services/src/redisClientManager.ts
  server/routerlicious/packages/services/src/redisThrottleAndUsageStorageManager.ts
  server/routerlicious/packages/services/src/socketIoRedisPublisher.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#19617 [Data Migration] Make unreachable parts asserts
  experimental/dds/tree/src/migration-shim/migrationDeltaHandler.ts
  experimental/dds/tree/src/migration-shim/sharedTreeDeltaHandler.ts
Labels: area: dds, area: dds: tree, base: main

#19592 re enable minCompatVersion; test in CI pipeline
  packages/test/test-end-to-end-tests/src/test/summarizeIncrementally.spec.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/test/minCompatVersion.spec.ts
Labels: area: tests, base: main

#19179 Fix missing SharedTree links on FF.com articles
  docs/content/docs/build/dds.md
  docs/content/docs/data-structures/overview.md
Labels: documentation, base: main

#19613 test: Correct usage of compressor in mock runtime
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: runtime, area: dds, public api change, base: main

#19597 refactor(telemetry-utils): Remove deprecated logIfFalse function
  .changeset/clear-parrots-matter.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.api.md
  packages/utils/telemetry-utils/package.json
  packages/utils/telemetry-utils/src/index.ts
  packages/utils/telemetry-utils/src/test/types/validateTelemetryUtilsPrevious.generated.ts
  packages/utils/telemetry-utils/src/test/utils.spec.ts
  packages/utils/telemetry-utils/src/utils.ts
Labels: base: main

#19611 build(client): restore property-shared-tree-interop ESM build
  experimental/PropertyDDS/packages/property-shared-tree-interop/jest.config.cjs
  experimental/PropertyDDS/packages/property-shared-tree-interop/package.json
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/index.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/schemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tableExampleSchemaConverter.spec.ts
  experimental/PropertyDDS/packages/property-shared-tree-interop/src/test/tsconfig.json
  experimental/PropertyDDS/packages/property-shared-tree-interop/tsconfig.json
  fluidBuild.config.cjs
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#19619 test: Enable reconnection in tree fuzz testing
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19618 Cleanup old disableHeuristics options
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
Labels: area: runtime, public api change, base: main

#19607 Fix groupedBatch being ungrouped multiple times
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#19623 Re-enable migration shim tests
  packages/test/test-end-to-end-tests/src/test/migration-shim/migrationShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/sharedTreeShim.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandlesDetached.spec.ts
Labels: area: tests, base: main

#19621 Move MountableView and remove view-adapters package
  .changeset/shiny-rockets-jam.md
  PACKAGES.md
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/index.ts
  examples/data-objects/multiview/container/package.json
  examples/data-objects/multiview/container/src/container.tsx
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/index.ts
  examples/data-objects/smde/package.json
  examples/data-objects/smde/src/index.ts
  examples/data-objects/todo/package.json
  examples/data-objects/todo/src/index.ts
  examples/utils/example-utils/api-report/example-utils.api.md
  examples/utils/example-utils/package.json
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
  examples/utils/example-utils/src/index.ts
  examples/utils/example-utils/src/mountableView/index.ts
  examples/utils/example-utils/src/mountableView/mountableView.tsx
  examples/view-integration/container-views/package.json
  examples/view-integration/container-views/src/containerCode.ts
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  layerInfo.json
  packages/framework/view-adapters/.eslintrc.cjs
  packages/framework/view-adapters/.gitignore
  packages/framework/view-adapters/.npmignore
  packages/framework/view-adapters/CHANGELOG.md
  packages/framework/view-adapters/LICENSE
  packages/framework/view-adapters/README.md
  packages/framework/view-adapters/api-extractor-esm.json
  packages/framework/view-adapters/api-extractor-lint.json
  packages/framework/view-adapters/api-extractor.json
  packages/framework/view-adapters/api-report/view-adapters.api.md
  packages/framework/view-adapters/package.json
  packages/framework/view-adapters/prettier.config.cjs
  packages/framework/view-adapters/src/index.ts
  packages/framework/view-adapters/src/test/tsconfig.json
  packages/framework/view-adapters/src/test/types/validateViewAdaptersPrevious.generated.ts
  packages/framework/view-adapters/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, base: main

#19522 Remove repositoryUrl from IDocumentStorageService
  .changeset/hungry-clouds-decide.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.generated.ts
  packages/drivers/debugger/package.json
  packages/drivers/debugger/src/test/types/validateDebuggerPrevious.generated.ts
  packages/drivers/file-driver/api-report/file-driver.api.md
  packages/drivers/file-driver/package.json
  packages/drivers/file-driver/src/test/types/validateFileDriverPrevious.generated.ts
  packages/drivers/local-driver/api-report/local-driver.api.md
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/local-driver/src/test/types/validateLocalDriverPrevious.generated.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/retryErrorsStorageAdapter.ts
  packages/drivers/replay-driver/api-report/replay-driver.api.md
  packages/drivers/replay-driver/package.json
  packages/drivers/replay-driver/src/replayController.ts
  packages/drivers/replay-driver/src/test/types/validateReplayDriverPrevious.generated.ts
  packages/drivers/routerlicious-driver/src/nullBlobStorageService.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/driver-utils/api-report/driver-utils.api.md
  packages/loader/driver-utils/package.json
  packages/loader/driver-utils/src/documentStorageServiceProxy.ts
  packages/loader/driver-utils/src/test/summaryCompresssionTester.spec.ts
  packages/loader/driver-utils/src/test/types/validateDriverUtilsPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#19594 Add readme for Data Virtualization and rename groupId
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/summary.ts
  packages/runtime/container-runtime/README.md
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#19622 test: Add IdCompressor test utility
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressorTestUtilities.ts
  packages/runtime/id-compressor/src/test/index.ts
Labels: area: runtime, base: main

#19555 Add optional targetClientId to ISignalMessage
  common/lib/protocol-definitions/api-report/protocol-definitions.api.md
  common/lib/protocol-definitions/src/protocol.ts
Labels: public api change, base: main

#19626 Remove provider.ensureSynchronized to remove flakiness of test
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
Labels: area: tests, base: main

#19603 feat(merge-tree): add zamboni segment count telemetry
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
Labels: area: dds, base: main

#19606 docs(devtools-browser-extension): Add publishing instructions section, which links to internal-only documentation
  packages/tools/devtools/devtools-browser-extension/README.md
Labels: base: main

#19472 refactor(api-markdown-documenter): Adapt `IndentedWriter` from `@microsoft/api-documenter`, rather than consuming external package internals
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/DocumentWriter.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/Utilities.ts
  tools/api-markdown-documenter/src/renderers/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/Utilities.ts
Labels: public api change, base: main

#19567 Log savedOpsCount in scriptorium every 1 minute
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
Labels: area: server, base: main

#19631 [bump] build-tools: 0.31.0 => 0.32.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#19632 refactor(tree): decouple tests from format using changeset factories
  packages/dds/tree/src/feature-libraries/optional-field/index.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldChangeTypes.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
Labels: area: dds, area: dds: tree, base: main

#19636 deprecate inbound and outbound queues on IDeltaManager
  .changeset/cuddly-meals-think.md
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/src/deltas.ts
Labels: public api change, base: main

#19635 feat(docs): New stage in pipeline for FF.com's linkchecks
  docs/package.json
  docs/themes/thxvscode/layouts/partials/breadcrumb.html
  tools/pipelines/build-docs.yml
Labels: area: build, area: website, base: main

#19638 fix(ci): Bring bundle-size-comparison back online
  build-tools/packages/bundle-size-tools/src/ADO/AdoArtifactFileProvider.ts
Labels: area: build, base: main
