Repository microsoft/FluidFramework, pull requests merged in 2024-07, with the labels that each got.

#21680 Fix bug for No context for Op
  packages/drivers/odsp-driver/src/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspSummaryUploadManager.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
Labels: area: driver, area: tests, area: odsp-driver, base: main

#21717 RemoteDatastoreContext should handle snapshot with groupId with older loader
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
Labels: area: runtime, area: tests, base: main

#21716 fix(client-odsp-client): apply API trimming
  examples/service-clients/odsp-client/shared-tree-demo/.eslintrc.cjs
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/fluid.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
  examples/utils/bundle-size-tests/src/odspClient.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/utils.ts
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.cjs.json
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.esm.json
  packages/service-clients/odsp-client/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#21699 feat(devtools): Add accessibilty test coverage for Devtools
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceHistoryTable.tsx
  packages/tools/devtools/devtools-view/src/components/AudienceStateTable.tsx
  packages/tools/devtools/devtools-view/src/components/Menu.tsx
  packages/tools/devtools/devtools-view/src/components/OpLatencyView.tsx
  packages/tools/devtools/devtools-view/src/components/index.ts
  packages/tools/devtools/devtools-view/src/test/AudienceHistoryTable.test.tsx
  packages/tools/devtools/devtools-view/src/test/AudienceStateTable.test.tsx
  packages/tools/devtools/devtools-view/src/test/Menu.test.tsx
  packages/tools/devtools/devtools-view/src/test/OpLatencyView.test.tsx
Labels: base: main

#21711 [Summarization] Added tests for scenarios where summarizer receives newer summary ack
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/index.ts
  packages/test/test-end-to-end-tests/src/test/summarization/newerSummaryAcks.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizationEdgeCases.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizationFetchValidation.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeRestart.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithOutOfOrderDataStoreRealization.spec.ts
Labels: area: tests, base: main

#21732 Remove AzureFunctionTokenProvider from azure-client
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/AzureFunctionTokenProvider.ts
  azure/packages/test/scenario-runner/src/utils.ts
  packages/service-clients/azure-client/package.json
  packages/service-clients/azure-client/src/index.ts
  packages/service-clients/azure-client/src/test/types/validateAzureClientPrevious.generated.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#21718 Use @azure/identity in fetch-tool
  packages/tools/fetch-tool/README.md
  packages/tools/fetch-tool/package.json
  packages/tools/fetch-tool/src/fluidFetchArgs.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#21610 Fix fetch-tool's handling of 410 errors from odsp
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
Labels: base: main

#21712 Fix links in tree docs
  packages/dds/tree/README.md
  packages/dds/tree/docs/README.md
  packages/dds/tree/docs/main/compatibility.md
  packages/dds/tree/docs/main/stored-and-view-schema.md
Labels: area: dds, area: dds: tree, base: main

#21714 Offline: Provide incoming batch's starting CSN to the PendingStateManager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#21713 Data virtualization: loadinggroupId data stores to stress tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/virtualDataStore.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#21736 docs: Update README "Help" template to point to our website, rather than primarily pointing to our github wiki
  azure/packages/azure-local-service/README.md
  azure/packages/azure-service-utils/README.md
  azure/packages/test/scenario-runner/README.md
  examples/client-logger/app-insights-logger/README.md
  examples/service-clients/azure-client/external-controller/README.md
  experimental/dds/ot/ot/README.md
  experimental/framework/data-objects/README.md
  experimental/framework/tree-react-api/README.md
  packages/dds/cell/README.md
  packages/dds/ink/README.md
  packages/dds/pact-map/README.md
  packages/dds/task-manager/README.md
  packages/dds/test-dds-utils/README.md
  packages/drivers/tinylicious-driver/README.md
  packages/framework/client-logger/app-insights-logger/README.md
  packages/framework/data-object-base/README.md
  packages/framework/fluid-framework/README.md
  packages/loader/driver-utils/README.md
  packages/runtime/container-runtime-definitions/README.md
  packages/runtime/container-runtime/README.md
  packages/runtime/id-compressor/README.md
  packages/runtime/runtime-utils/README.md
  packages/service-clients/azure-client/README.md
  packages/service-clients/end-to-end-tests/azure-client/README.md
  packages/test/stochastic-test-utils/README.md
  packages/test/test-version-utils/README.md
  packages/tools/devtools/devtools-browser-extension/README.md
  packages/tools/devtools/devtools-core/README.md
  packages/tools/devtools/devtools-example/README.md
  packages/tools/devtools/devtools-view/README.md
  packages/tools/devtools/devtools/README.md
  packages/utils/odsp-doclib-utils/README.md
  packages/utils/telemetry-utils/README.md
  packages/utils/tool-utils/README.md
  tools/api-markdown-documenter/README.md
  tools/markdown-magic/README.md
  tools/markdown-magic/src/templates/Help-Template.md
  tools/markdown-magic/test/example-package-readme.md
  tools/markdown-magic/test/library-package-readme.md
  tools/markdown-magic/test/readme-help-section.md
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, area: tests, area: odsp-driver, base: main

#21739 docs: Fix typo in private-package notice template, and update READMEs
  packages/dds/test-dds-utils/README.md
  packages/loader/test-loader-utils/README.md
  packages/test/stochastic-test-utils/README.md
  packages/test/test-pairwise-generator/README.md
  packages/test/test-version-utils/README.md
  tools/markdown-magic/src/templates/Private-Package-Notice-Template.md
Labels: area: loader, area: dds, area: build, area: tests, base: main

#21735 docs: Update public-facing packages' READMEs to include common template contents
  packages/dds/counter/README.md
  packages/dds/map/README.md
  packages/dds/tree/README.md
  packages/framework/fluid-framework/README.md
  packages/service-clients/azure-client/README.md
  packages/service-clients/odsp-client/README.md
Labels: area: framework, area: dds, area: dds: tree, base: main

#21734 fix(fluid-tsc): Make --build fluid-tsc command not fail with no output
  build-tools/packages/build-tools/src/common/tscUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
Labels: area: build, base: main

#21729 Refactor BlobManager Snapshot and Summary Code
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/blobManager/index.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/container-runtime/src/test/index.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
Labels: area: runtime, area: tests, base: main

#21605 feat(check:policy): Add policy to validate repository.directory field in package.json
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#21715 tree: Detect if accessing root leaks
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21750 Tune test-service-load config
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#21753 ci: Run PR labeler on release branches
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main

#21733 build(build-tools): Use TS 5.4 in build-tools
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/typeValidator/compatibility.ts
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/.mocharc.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#21748 tree: Improve SchemaFactory scope docs.
  packages/dds/tree/src/simple-tree/schemaFactory.ts
Labels: area: dds, area: dds: tree, base: main

#21744 fix(property-changeset): Use CommonJS entrypoints for main/types fields
  experimental/PropertyDDS/packages/property-changeset/package.json
Labels: area: dds: propertydds, base: main

#21754 Document rationale for enabling exactOptionalPropertyTypes and noUncheckedIndexedAccess
  common/build/build-common/tsconfig.base.json
Labels: area: build, base: main

#21749 fix(tree): fix serialization of refreshers
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFormat.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/util/nestedMap.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/nestedMap.ts
Labels: area: dds, area: dds: tree, base: main

#21746 refactor(tree): Optimize leaf access on arrays
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21738 PendingStateManager: Light refactoring/renaming (prep for BatchId)
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#21756 docs: Fix broken markdown-magic embed line numbers in website articles
  docs/content/docs/data-structures/counter.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deep/dataobject-aqueduct.md
Labels: documentation, base: main

#21703 fix(client-odsp-client): apply API trimming
  .changeset/afraid-bags-create.md
  examples/service-clients/odsp-client/shared-tree-demo/.eslintrc.cjs
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/fluid.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
  examples/utils/bundle-size-tests/src/odspClient.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspTokenFactory.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/utils.ts
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.cjs.json
  packages/service-clients/odsp-client/api-extractor/api-extractor-lint-public.esm.json
  packages/service-clients/odsp-client/package.json
Labels: base: release

#21759 Data virtualization: Disable virtualization in stress tests
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#21762 improvement(build-tools): preserve `@packageDocumentation` with `generate entrypoints`
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/library/typescriptApi.ts
Labels: area: build, base: main

#21752 docs(cell): Update README with common template contents and to indicate its status as an example
  packages/dds/cell/README.md
Labels: area: dds, base: main

#21763 fix(build-tools): correct tool ref
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
Labels: area: build, base: main

#21765 fix(tree): prevent merges and rebases while a transaction is in progress
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21751 docs(merge-tree,sequence): Update READMEs with common template contents
  docs/content/docs/data-structures/counter.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  packages/dds/merge-tree/README.md
  packages/dds/sequence/README.md
Labels: documentation, area: dds, area: dds: sharedstring, base: main

#21658 Enable noUncheckedIndexedAccess for tinylicious-driver
  packages/drivers/tinylicious-driver/src/insecureTinyliciousUrlResolver.ts
  packages/drivers/tinylicious-driver/tsconfig.json
Labels: area: driver, base: main

#21663 Enable noUncheckedIndexedAccess for Driver Web Cache
  packages/drivers/driver-web-cache/src/scheduleIdleTask.ts
  packages/drivers/driver-web-cache/tsconfig.json
Labels: area: driver, base: main

#21661 Enable noUncheckedIndexedAccess for File Driver
  packages/drivers/file-driver/src/fileDeltaStorageService.ts
  packages/drivers/file-driver/src/fileDocumentStorageService.ts
  packages/drivers/file-driver/tsconfig.json
Labels: area: driver, base: main

#21667 Enable noUncheckedIndexedAccess for Replay Driver
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
  packages/drivers/replay-driver/tsconfig.json
Labels: area: driver, base: main

#21461 Enable noUncheckedIndexedAccess for merge tree
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/properties.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/merge-tree/tsconfig.json
Labels: area: dds, base: main

#21660 Enable noUncheckedIndexedAccess for Driver Base
  packages/drivers/driver-base/src/driverUtils.ts
  packages/drivers/driver-base/tsconfig.json
Labels: area: driver, base: main

#21665 Enable noUncheckedIndexedAccess for ODSP URL Resolver
  packages/drivers/odsp-urlResolver/src/urlResolver.ts
  packages/drivers/odsp-urlResolver/tsconfig.json
Labels: area: driver, area: odsp-driver, base: main

#21662 Enable noUncheckedIndexedAccess for Local Driver
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/drivers/local-driver/src/localDocumentStorageService.ts
  packages/drivers/local-driver/src/localResolver.ts
  packages/drivers/local-driver/src/localSessionStorageDb.ts
  packages/drivers/local-driver/tsconfig.json
Labels: area: driver, base: main

#21771 Revert data virtualization in stress tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/virtualDataStore.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#16686 feat(build-cli): Add release:prepare command
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/args.ts
  build-tools/packages/build-cli/src/commands/release/prepare.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/src/library/releasePrepChecks.ts
Labels: area: build, base: main

#21772 Disable test for compressing content over max op size
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#21775 ci(client): Trigger client build when markdown-magic is changed
  tools/pipelines/build-client.yml
Labels: area: build, base: main

#21777 docs(client): remove unused lint disables
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
Labels: area: framework, base: main

#21774 [bump] build-tools: 0.40.0 => 0.41.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#21659 Enable noUncheckedIndexedAccess for debugger
  packages/drivers/debugger/src/fluidDebuggerController.ts
  packages/drivers/debugger/src/fluidDebuggerUi.ts
  packages/drivers/debugger/src/sanitize.ts
  packages/drivers/debugger/tsconfig.json
Labels: area: driver, base: main

#21485 Enable noUncheckedIndexedAccess for loader packages
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/container-loader/tsconfig.json
  packages/loader/driver-utils/src/adapters/compression/summaryblob/documentStorageServiceSummaryBlobCompressionAdapter.ts
  packages/loader/driver-utils/src/insecureUrlResolver.ts
  packages/loader/driver-utils/src/parallelRequests.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
  packages/loader/driver-utils/src/protocol/gitHelper.ts
  packages/loader/driver-utils/tsconfig.json
Labels: area: loader, base: main

#21782 ci: Upgrade pnpm/action-setup to v4
  .github/workflows/pr-check-changeset.yml
  .github/workflows/push-tag-create-release.yml
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#21501 Enable noUncheckedIndexedAccess for Runtime Utils
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/runtime-utils/src/unpackUsedRoutes.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/runtime/runtime-utils/tsconfig.json
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#21488 Enable noUncheckedIndexedAccess for container-runtime
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/scheduleManager.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/tsconfig.json
Labels: area: runtime, base: main

#21491 Enable noUncheckedIndexedAccess for datastore
  packages/runtime/datastore/src/channelStorageService.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/tsconfig.json
Labels: area: runtime, base: main

#21758 server: Cleanup broadcast signal listener memory leak
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/interfaces.ts
  tools/pipelines/server-gitrest.yml
  tools/pipelines/server-historian.yml
  tools/pipelines/server-routerlicious.yml
  tools/pipelines/templates/build-docker-service.yml
Labels: area: server, area: build, base: main

#21776 fix(docs): Differentiate `@legacy` and `@alpha` when generating API docs
  docs/api-markdown-documenter/api-documentation-layout.js
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#21768 docs: Fix links
  docs/content/docs/build/container-states-events/index.md
  docs/content/docs/build/containers.md
  docs/content/docs/data-structures/counter.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deployment/service-options.md
  docs/content/docs/faq.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/updates/v1.0.0.md
  docs/skipped-urls.txt
  experimental/dds/tree/src/Identifiers.ts
  packages/common/container-definitions/src/runtime.ts
  packages/dds/sequence/README.md
  packages/runtime/id-compressor/src/types/identifiers.ts
Labels: documentation, area: runtime, area: dds, area: website, area: dds: sharedstring, area: dds: tree, base: main

#21757 Use new getSnapshot api in container runtime to fetch snapshot in case it is available
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#21787 fix(markdown-magic): Bugs introduced through overlapping changes
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/transforms/packageScopeNoticeTransform.cjs
  tools/markdown-magic/src/utilities.cjs
Labels: area: build, base: main

#21780 docs(client): remove unused FluidContainer tags
  packages/framework/fluid-static/src/fluidContainer.ts
Labels: area: framework, base: main

#21764 Added coverage for TelemetryView
  packages/tools/devtools/devtools-view/.eslintrc.cjs
  packages/tools/devtools/devtools-view/src/components/TelemetryView.tsx
  packages/tools/devtools/devtools-view/src/test/AudienceHistoryTable.test.tsx
  packages/tools/devtools/devtools-view/src/test/AudienceStateTable.test.tsx
  packages/tools/devtools/devtools-view/src/test/ContainerSummaryView.test.tsx
  packages/tools/devtools/devtools-view/src/test/DynamicComposedChart.test.tsx
  packages/tools/devtools/devtools-view/src/test/Menu.test.tsx
  packages/tools/devtools/devtools-view/src/test/NoDevtoolsErrorBar.test.tsx
  packages/tools/devtools/devtools-view/src/test/OpLatencyView.test.tsx
  packages/tools/devtools/devtools-view/src/test/SettingsView.test.tsx
  packages/tools/devtools/devtools-view/src/test/TelemetryView.test.tsx
  packages/tools/devtools/devtools-view/src/test/VisualTree.test.tsx
Labels: base: main

#21770 tree: Allow shared tree to break
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/util/breakable.spec.ts
  packages/dds/tree/src/util/breakable.ts
  packages/dds/tree/src/util/index.ts
Labels: area: dds, area: dds: tree, base: main

#21487 Enable noUncheckedIndexedAccess for routerlicious
  packages/drivers/routerlicious-driver/src/createNewUtils.ts
  packages/drivers/routerlicious-driver/src/deltaStorageService.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/r11sSnapshotParser.ts
  packages/drivers/routerlicious-driver/src/restWrapperBase.ts
  packages/drivers/routerlicious-driver/src/shreddedSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
  packages/drivers/routerlicious-driver/src/urlUtils.ts
  packages/drivers/routerlicious-driver/src/wholeSummaryDocumentStorageService.ts
  packages/drivers/routerlicious-driver/tsconfig.json
  packages/drivers/routerlicious-urlResolver/src/urlResolver.ts
  packages/drivers/routerlicious-urlResolver/tsconfig.json
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: driver, base: main

#21778 feat(api-markdown-documenter): Add TSDoc-tag related utility functions to `ApiItemUtilities`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/ApiItemUtilitiesModule.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#21786 Add snapshotWithLoadingGroupId to cacheContentType for caching in odsp driver
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.generated.ts
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createNewContainerOnExistingFile.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/prefetchSnapshotTests.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#21510 build(server): Bump node types to latest v18
  server/routerlicious/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/nexus/utils.ts
  server/routerlicious/packages/lambdas/src/utils/noOpLambda.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#21785 Process ops by batches in remoteMessageProcessor and pendingStateManager
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#21792 [Summarization] Updated summarize with search tests to use summarize on demand
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithSearch.spec.ts
Labels: area: tests, base: main

#21640 identifier tests
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21779 build(client): remove unused /beta exports
  packages/dds/sequence/api-extractor/api-extractor-lint-beta.cjs.json
  packages/dds/sequence/api-extractor/api-extractor-lint-beta.esm.json
  packages/dds/sequence/package.json
  packages/drivers/odsp-driver-definitions/api-extractor/api-extractor-lint-beta.cjs.json
  packages/drivers/odsp-driver-definitions/api-extractor/api-extractor-lint-beta.esm.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/api-extractor/api-extractor-lint-beta.cjs.json
  packages/drivers/odsp-driver/api-extractor/api-extractor-lint-beta.esm.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/api-extractor/api-extractor-lint-beta.cjs.json
  packages/drivers/routerlicious-driver/api-extractor/api-extractor-lint-beta.esm.json
  packages/drivers/routerlicious-driver/package.json
  packages/service-clients/azure-client/api-extractor/api-extractor-lint-beta.cjs.json
  packages/service-clients/azure-client/api-extractor/api-extractor-lint-beta.esm.json
  packages/service-clients/azure-client/package.json
Labels: area: driver, area: dds, area: dds: sharedstring, area: odsp-driver, base: main

#21500 Enable noUncheckedIndexedAccess for ID compressor
  packages/runtime/id-compressor/src/finalSpace.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/persistanceUtilities.ts
  packages/runtime/id-compressor/src/sessionSpaceNormalizer.ts
  packages/runtime/id-compressor/src/sessions.ts
  packages/runtime/id-compressor/tsconfig.json
Labels: area: runtime, base: main

#21802 gitssh: Add base image sha to Dockerfile
  server/gitssh/Dockerfile
  tools/pipelines/server-gitssh.yml
Labels: area: server, area: build, base: main

#21800 docs(client): readme corrections for /beta
  packages/dds/sequence/README.md
  packages/service-clients/azure-client/README.md
Labels: area: dds, area: dds: sharedstring, base: main

#21790 [GC] Fixed GC tests that were failing for ODSP after moving to single commit summaries
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
Labels: area: tests, base: main

#21804 improvement(eslint-config-fluid): Disable `unicorn/no-useless-spread`
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#21806 Remove outdated node hydration regression test
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21788 Use unofficial 1ES pipeline template for public builds
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#21797 Update type test baselines
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/changelog-generator-wrapper/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
  tools/markdown-magic/package.json
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, base: main

#21807 tree: Add breakingClass decorator, allow views to break
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/util/breakable.spec.ts
  packages/dds/tree/src/util/breakable.ts
  packages/dds/tree/src/util/index.ts
Labels: area: dds, area: dds: tree, base: main

#21809 fix(ci): Try to upload tinylicious log even if pipeline run is cancelled
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#21799 feat(markdown-magic): Allow overriding section heading levels
  tools/markdown-magic/README.md
  tools/markdown-magic/src/constants.cjs
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/transforms/apiDocsLinkSectionTransform.cjs
  tools/markdown-magic/src/transforms/exampleGettingStartedTransform.cjs
  tools/markdown-magic/src/transforms/generateSectionFromTemplate.cjs
  tools/markdown-magic/src/transforms/includeTransform.cjs
  tools/markdown-magic/src/transforms/installationInstructionsTransform.cjs
  tools/markdown-magic/src/transforms/packageImportInstructionsTransform.cjs
  tools/markdown-magic/src/transforms/packageScopeNoticeTransform.cjs
  tools/markdown-magic/src/transforms/packageScriptsTransform.cjs
  tools/markdown-magic/src/utilities.cjs
  tools/markdown-magic/test/api-docs-link-section.md
  tools/markdown-magic/test/package-json-scripts.md
  tools/markdown-magic/test/readme-contribution-guidelines-section.md
  tools/markdown-magic/test/readme-example-getting-started-section.md
  tools/markdown-magic/test/readme-help-section.md
  tools/markdown-magic/test/readme-installation-section.md
  tools/markdown-magic/test/readme-trademark-section.md
Labels: area: build, base: main

#21811 build(docs): Update dependency on `api-markdown-documenter`
  docs/api-markdown-documenter/api-documentation-layout.js
  docs/api-markdown-documenter/render-api-documentation.js
  docs/build-redirects.js
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  docs/package.json
  docs/pnpm-lock.yaml
Labels: documentation, area: website, base: main

#21791 Add in line comments in BlobManager regarding stashing process
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
Labels: area: runtime, base: main

#21817 fix(client-test-utils): prevent malformed TimeoutWithValue use
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: tests, base: main

#21789 tree: type tests tree public API
  packages/dds/tree/.eslintrc.cjs
  packages/dds/tree/package.json
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: tree, base: main

#21812 build: Add `build:readme` to `ci:build:docs`
  package.json
Labels: base: main

#21676 tree: Avoid any, document and test UnionToIntersection
  packages/dds/tree/src/events/events.ts
  packages/dds/tree/src/test/events/events.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21578 Retry count with rest API calls
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/historian.ts
  packages/drivers/routerlicious-driver/src/queryStringUtils.ts
  packages/drivers/routerlicious-driver/src/restWrapper.ts
  packages/drivers/routerlicious-driver/src/restWrapperBase.ts
  packages/drivers/routerlicious-driver/src/test/restWrapper.spec.ts
Labels: area: driver, base: main

#21820 launch.json: Debug current tests suggestions
  .vscode/launch.json
Labels: area: contributor experience, base: main

#21828 fix(docs): The second column in the api docs table should only word break on mobile nav
  docs/assets/css/fluid.css
Labels: area: website, base: main

#21831 Clean up test comments and describe text, update tinylicious readme
  examples/apps/contact-collection/tests/contactCollection.test.ts
  examples/apps/task-selection/tests/diceRoller.test.ts
  examples/apps/tree-comparison/tests/treeComparison.test.ts
  examples/service-clients/azure-client/external-controller/tests/diceRoller.test.ts
  examples/version-migration/live-schema-upgrade/tests/diceRoller.test.ts
  examples/version-migration/same-container/tests/sameContainer.test.ts
  examples/version-migration/schema-upgrade/tests/separateContainer.test.ts
  examples/version-migration/tree-shim/tests/treeShim.test.ts
  examples/view-integration/container-views/tests/diceRoller.test.ts
  examples/view-integration/external-views/tests/diceRoller.test.ts
  examples/view-integration/view-framework-sampler/tests/diceRoller.test.ts
  server/routerlicious/packages/tinylicious/README.md
Labels: area: examples, area: server, base: main

#21824 build(client): generate public legacy API reports
  azure/packages/azure-service-utils/api-report/azure-service-utils.legacy.public.api.md
  common/build/build-common/api-extractor-report.esm.current.json
  common/build/build-common/api-extractor-report.esm.legacy.json
  packages/common/container-definitions/api-report/container-definitions.legacy.public.api.md
  packages/common/core-interfaces/api-report/core-interfaces.legacy.public.api.md
  packages/common/core-utils/api-report/core-utils.legacy.public.api.md
  packages/common/driver-definitions/api-report/driver-definitions.legacy.public.api.md
  packages/dds/counter/api-report/counter.legacy.public.api.md
  packages/dds/map/api-report/map.legacy.public.api.md
  packages/dds/matrix/api-report/matrix.legacy.public.api.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.public.api.md
  packages/dds/ordered-collection/api-report/ordered-collection.legacy.public.api.md
  packages/dds/register-collection/api-report/register-collection.legacy.public.api.md
  packages/dds/sequence/api-report/sequence.legacy.public.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.public.api.md
  packages/dds/shared-summary-block/api-report/shared-summary-block.legacy.public.api.md
  packages/dds/task-manager/api-report/task-manager.legacy.public.api.md
  packages/drivers/debugger/api-report/debugger.legacy.public.api.md
  packages/drivers/driver-web-cache/api-report/driver-web-cache.legacy.public.api.md
  packages/drivers/local-driver/api-report/local-driver.legacy.public.api.md
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.public.api.md
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.public.api.md
  packages/drivers/routerlicious-driver/api-report/routerlicious-driver.legacy.public.api.md
  packages/framework/agent-scheduler/api-report/agent-scheduler.legacy.public.api.md
  packages/framework/aqueduct/api-report/aqueduct.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/oldest-client-observer/api-report/oldest-client-observer.legacy.public.api.md
  packages/framework/request-handler/api-report/request-handler.legacy.public.api.md
  packages/framework/synthesize/api-report/synthesize.legacy.public.api.md
  packages/loader/container-loader/api-report/container-loader.legacy.public.api.md
  packages/loader/driver-utils/api-report/driver-utils.legacy.public.api.md
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.public.api.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.public.api.md
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.public.api.md
  packages/runtime/datastore/api-report/datastore.legacy.public.api.md
  packages/runtime/id-compressor/api-report/id-compressor.legacy.public.api.md
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.public.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.public.api.md
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.public.api.md
  packages/service-clients/azure-client/api-report/azure-client.legacy.public.api.md
  packages/test/test-utils/api-report/test-utils.legacy.public.api.md
  packages/tools/fluid-runner/api-report/fluid-runner.legacy.public.api.md
  packages/utils/odsp-doclib-utils/api-report/odsp-doclib-utils.legacy.public.api.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.public.api.md
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dds: sharedstring, area: tests, area: odsp-driver, public api change, base: main

#21621 test(client): lint fluid-framework exports
  fluidBuild.config.cjs
  packages/framework/fluid-framework/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/framework/fluid-framework/api-extractor/api-extractor-lint-legacy.esm.json
  packages/framework/fluid-framework/api-extractor/api-extractor-lint-public.cjs.json
  packages/framework/fluid-framework/api-extractor/api-extractor-lint-public.esm.json
  packages/framework/fluid-framework/package.json
Labels: area: framework, base: main

#21767 Offline: Add batchId to batch metadata on resubmit
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#21833 Update disconnect background colour to fix contrast ratio
  packages/tools/devtools/devtools-view/src/components/ContainerHistoryLog.tsx
Labels: base: main

#21814 improvement(eslint-config-fluid): Disable `unicorn/prefer-module` for tests
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#21796 feat(build-tools): include peers in `combinedDependencies`
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildDatabase.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
Labels: area: build, base: main

#21830 feat(tinylicious-client): Promote APIs from `@beta` to `@public`
  .changeset/fresh-corridors-curtsy.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.public.api.md
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
  packages/service-clients/tinylicious-client/src/interfaces.ts
Labels: public api change, base: main

#21843 build fix (from stale CI)
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, base: main

#21840 refactor(test-utils): Clean up tests for timeoutPromise and improve docs
  packages/test/test-utils/src/test/timeoutUtils.spec.ts
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: tests, base: main

#21846 docs(eslint-config-fluid): Fix formatting in changelog
  common/build/eslint-config-fluid/CHANGELOG.md
Labels: area: build, base: main

#21808 [Summarization] Added README for summarization which provides an overview of summaries
  packages/runtime/container-runtime/src/summary/README.md
  packages/runtime/container-runtime/src/summary/images/appTree.png
  packages/runtime/container-runtime/src/summary/images/incrementalSummaryTree.png
  packages/runtime/container-runtime/src/summary/images/protocolAndAppTree.png
  packages/runtime/container-runtime/src/summary/images/summaryTree.png
  packages/runtime/container-runtime/src/summary/summaryFormats.md
Labels: area: runtime, base: main

#21761 [Summarization] Don't close on receiving summary ack for which there is no snapshot in storage
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/newerSummaryAcks.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
Labels: area: runtime, area: tests, base: main

#21847 Hydrate later in simple tree benchmark tests
  packages/dds/tree/src/test/simple-tree/simpleTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#21845 refactor: Mark `TinyliciousClient` interfaces as `@sealed`
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.public.api.md
  packages/service-clients/tinylicious-client/src/interfaces.ts
Labels: public api change, base: main

#21823 Fix build number for main branch
  build-tools/packages/build-cli/src/commands/release/report-unreleased.ts
Labels: area: build, base: main

#21737 Implement memory usage test for SharedTree
  packages/dds/tree/package.json
  packages/dds/tree/src/test/memory/.mocharc.cjs
  packages/dds/tree/src/test/memory/tree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21855 [Summarization] Use mermaid for diagrams for summary format document
  packages/runtime/container-runtime/src/summary/images/appTree.png
  packages/runtime/container-runtime/src/summary/images/incrementalSummaryTree.png
  packages/runtime/container-runtime/src/summary/images/protocolAndAppTree.png
  packages/runtime/container-runtime/src/summary/summaryFormats.md
Labels: area: runtime, base: main

#21760 concurrent array editing and iteration error hadling
  .changeset/every-walls-grow.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/list.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#21861 ci: Require fluid-cr-docs approval for changesets and release notes
  .github/CODEOWNERS
Labels: area: build, base: main

#21844 Addressing doc changes requested after automerge completed
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#21834 Remove `isSameAs` from FlexField
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
Labels: area: dds, area: dds: tree, base: main

#21848 service-clients cleanup
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.alpha.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.beta.api.md
  packages/service-clients/tinylicious-client/api-report/tinylicious-client.public.api.md
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
Labels: public api change, base: main

#21864 Re-enable data virtualization in stress tests
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/src/virtualDataStore.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#21868 Remove node key index and node key field from flex node
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/node-key/index.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKeyIndex.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/feature-libraries/node-key/nodeKeyIndex.bench.ts
Labels: area: dds, area: dds: tree, base: main

#21420 Enable noUncheckedIndexedAccess for DDSes excluding tree and merge-tree
  packages/dds/ink/src/inkCanvas.ts
  packages/dds/ink/src/snapshot.ts
  packages/dds/ink/tsconfig.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/tsconfig.json
  packages/dds/matrix/src/handlecache.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/sparsearray2d.ts
  packages/dds/matrix/src/undoprovider.ts
  packages/dds/matrix/tsconfig.json
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/register-collection/tsconfig.json
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/tsconfig.json
  packages/dds/shared-object-base/tsconfig.json
Labels: area: dds, area: dds: sharedstring, base: main

#21851 Fix offline attach ops with child DDSes
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/noGroupIdOfflineFlow.spec.ts
Labels: area: runtime, area: tests, base: main

#21862 ci: Require approval from fluid-cr-api for code ownership changes
  .github/CODEOWNERS
Labels: area: build, base: main

#21871 Remove boxedContent from flex API
  packages/dds/tree/src/feature-libraries/flex-map-tree/mapTreeNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/feature-libraries/flex-map-tree/mapTreeNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21870 chore(merge-tree): Cleanup related to lint fixes
  packages/dds/merge-tree/src/attributionCollection.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/ordinal.ts
  packages/dds/merge-tree/src/test/ordinal.spec.ts
Labels: area: dds, base: main

#21362 feat(tree): track the discrepancies between the tree schema
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/discrepancies.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/discrepancies.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21858 Remove feature gates to disable compression and chunking
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/README.md
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#21849 fix(container-loader): Return codeDetails.name
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/test/contract.spec.ts
Labels: area: loader, base: main

#21835 improvement(matrix): Use recommended eslint config
  packages/dds/matrix/.eslintrc.cjs
  packages/dds/matrix/src/handlecache.ts
  packages/dds/matrix/src/handletable.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/range.ts
  packages/dds/matrix/src/runtime.ts
  packages/dds/matrix/src/serialization.ts
  packages/dds/matrix/src/sparsearray2d.ts
  packages/dds/matrix/src/test/dirname.cts
  packages/dds/matrix/src/test/matrix.applyStashedOp.spec.ts
  packages/dds/matrix/src/test/matrix.big.spec.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/matrix.reconnect.spec.ts
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/matrix/src/test/matrix.stress.spec.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/matrix/src/test/memory/matrix.spec.ts
  packages/dds/matrix/src/test/sparsearray2d.spec.ts
  packages/dds/matrix/src/test/testconsumer.ts
  packages/dds/matrix/src/test/undoRedoStackManager.ts
  packages/dds/matrix/src/test/utils.ts
  packages/dds/matrix/src/undoprovider.ts
Labels: area: dds, base: main

#21878 chore(merge-tree): Remove deprecated tags for properties helpers
  packages/dds/merge-tree/src/properties.ts
Labels: area: dds, base: main

#21856 Make `hydrate()` hydrate
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21860 [GC] Added telemetry when an unreferenced data store is realized during summarization
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#21853 docs: Update library package markdown-magic transformations to split "header" and "footer" details
  azure/packages/azure-local-service/README.md
  docs/content/docs/data-structures/sequences.md
  docs/content/docs/data-structures/string.md
  experimental/dds/ot/ot/README.md
  experimental/framework/data-objects/README.md
  experimental/framework/tree-react-api/README.md
  packages/dds/cell/README.md
  packages/dds/counter/README.md
  packages/dds/ink/README.md
  packages/dds/map/README.md
  packages/dds/merge-tree/README.md
  packages/dds/pact-map/README.md
  packages/dds/sequence/README.md
  packages/dds/task-manager/README.md
  packages/dds/tree/README.md
  packages/drivers/tinylicious-driver/README.md
  packages/framework/data-object-base/README.md
  packages/framework/fluid-framework/README.md
  packages/loader/driver-utils/README.md
  packages/loader/test-loader-utils/README.md
  packages/runtime/container-runtime-definitions/README.md
  packages/runtime/container-runtime/README.md
  packages/runtime/runtime-utils/README.md
  packages/service-clients/azure-client/README.md
  packages/service-clients/odsp-client/README.md
  packages/test/test-pairwise-generator/README.md
  packages/utils/odsp-doclib-utils/README.md
  packages/utils/telemetry-utils/README.md
  packages/utils/tool-utils/README.md
  tools/api-markdown-documenter/README.md
  tools/benchmark/README.md
  tools/markdown-magic/README.md
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/test/library-package-readme-footer.md
  tools/markdown-magic/test/library-package-readme-header.md
Labels: documentation, area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dev experience, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#21880 docs: cleanup rogue dependency comment
  fluidBuild.config.cjs
Labels: base: main

#21886 Revert "Re-enable data virtualization in stress tests"
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/src/utils.ts
  packages/test/test-service-load/src/virtualDataStore.ts
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#20064 feat(merge-tree): add high level description doc
  packages/dds/merge-tree/docs/high-level.md
Labels: area: dds, base: main

#21822 Optimize short id api
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/simple-tree/treeNodeApi.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21883 fix(build-tools): npm-package-json-scripts-dep alias support
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#21884 build(build-tools): update build-tools to 0.40
  build-tools/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#21795 improvement(fluid-build): Use hash-based caching in Biome task
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/biomeTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: build, base: main

#21890 Don't suggest autoImport from -previous package versions
  .vscode/settings.json
  packages/dds/tree/.vscode/Tree.code-workspace
Labels: area: contributor experience, base: main

#21891 Revert typescript.preferences.includePackageJsonAutoImports to 'auto'
  packages/dds/tree/.vscode/Tree.code-workspace
Labels: base: main

#21836 docs(client): update stability of map APIs
  .changeset/khaki-hairs-vanish.md
  packages/dds/map/api-report/map.legacy.alpha.api.md
  packages/dds/map/api-report/map.legacy.public.api.md
  packages/dds/map/src/interfaces.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
Labels: area: framework, area: dds, public api change, base: main

#21894 Removed accidental change to end-to-end test package.json which would only run GC tests
  packages/test/test-end-to-end-tests/package.json
Labels: area: tests, base: main

#21730 refactor(benchmark-reporter): Refactor MochaReporter to handle benchmark mocha test results
  tools/benchmark/CHANGELOG.md
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/package.json
  tools/benchmark/src/MochaMemoryTestReporter.ts
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/Reporter.ts
  tools/benchmark/src/ResultTypes.ts
  tools/benchmark/src/RunnerUtilities.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/mocha/mochaReporterUtilities.ts
  tools/benchmark/src/mocha/runner.ts
  tools/benchmark/src/resultFormatting.ts
  tools/benchmark/src/runBenchmark.ts
  tools/benchmark/src/test/RunnerUtilities.spec.ts
  tools/benchmark/src/timer.ts
Labels: public api change, base: main

#21898 Add snapshot key in epoch tracker in odsp driver
  packages/drivers/odsp-driver/src/epochTracker.ts
Labels: area: driver, area: odsp-driver, base: main

#21841 Test: Driver can control connection mode
  packages/loader/container-loader/src/connectionManager.ts
  packages/test/test-end-to-end-tests/src/test/driverConnectionMode.spec.ts
Labels: area: loader, area: tests, base: main

#21899 Change sharedTree.spec.ts to use simple-tree API where applicable
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#21902 improvement(markdown-magic): Only generate API docs sections for "public" packages
  packages/loader/test-loader-utils/README.md
  packages/test/test-pairwise-generator/README.md
  tools/api-markdown-documenter/README.md
  tools/benchmark/README.md
  tools/markdown-magic/README.md
  tools/markdown-magic/src/md-magic.config.cjs
  tools/markdown-magic/src/transforms/generateSectionFromTemplate.cjs
  tools/markdown-magic/src/transforms/packageScopeNoticeTransform.cjs
  tools/markdown-magic/src/utilities.cjs
Labels: area: loader, area: build, area: tests, base: main

#21907 chore(merge-tree): Remove unused lint disable directives
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
Labels: area: dds, base: main

#21850 Expose .is() typeguard on SharedObjectKind
  .changeset/gold-badgers-float.md
  packages/dds/cell/package.json
  packages/dds/cell/src/test/types/validateCellPrevious.generated.ts
  packages/dds/counter/package.json
  packages/dds/counter/src/test/types/validateCounterPrevious.generated.ts
  packages/dds/map/package.json
  packages/dds/map/src/test/types/validateMapPrevious.generated.ts
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/types/validateMatrixPrevious.generated.ts
  packages/dds/ordered-collection/package.json
  packages/dds/ordered-collection/src/test/types/validateOrderedCollectionPrevious.generated.ts
  packages/dds/register-collection/package.json
  packages/dds/register-collection/src/test/types/validateRegisterCollectionPrevious.generated.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/dds/shared-object-base/api-report/shared-object-base.beta.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.public.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.public.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/test/createSharedObjectKind.spec.ts
  packages/dds/shared-summary-block/package.json
  packages/dds/shared-summary-block/src/test/types/validateSharedSummaryBlockPrevious.generated.ts
  packages/dds/task-manager/package.json
  packages/dds/task-manager/src/test/types/validateTaskManagerPrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/test/types/validateFluidStaticPrevious.generated.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#20987 Fixes CVE for hoek 6.1.3 by upgrading joi to latest version 17.3.1 in…
  .changeset/blood-moon-rising.md
  experimental/PropertyDDS/packages/property-query/package.json
  experimental/PropertyDDS/packages/property-query/src/materialized_history_service/index_manager.js
  experimental/PropertyDDS/packages/property-query/src/materialized_history_service/query_pipeline/multiple_queries_execution.js
  experimental/PropertyDDS/packages/property-query/src/materialized_history_service/query_pipeline/query_v1_execution.js
  experimental/PropertyDDS/packages/property-query/test/unit/multiple_queries_execution.spec.js
  pnpm-lock.yaml
Labels: dependencies, area: dds: propertydds, base: main

#21892 Count trees with GroupId separately in telemetry in odsp driver
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/test/snapshotFormatTests.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#21906 tree: fix and test local properties setters on object and array node schema
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main
