Repository microsoft/FluidFramework, pull requests merged in 2024-10, with the labels that each got.

#22546 refactor(server): Remove deprecated version property from docker-compose files
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/gitrest/docker-compose.dev.yml
  server/gitrest/docker-compose.yml
  server/routerlicious/docker-compose.debug.yml
  server/routerlicious/docker-compose.dev.yml
  server/routerlicious/docker-compose.yml
Labels: area: server, base: main

#22654 [v2.2] Port #22508 and prereqs (ContainerRuntime: Process incoming batches op-by-op instead of waiting for the whole batch)
  .changeset/metal-hornets-travel.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: release, changeset-present

#22525 (tree): Add explicit revision tag to all changes
  packages/dds/tree/src/core/change-family/changeFamily.ts
  packages/dds/tree/src/core/change-family/editBuilder.ts
  packages/dds/tree/src/core/rebase/changeRebaser.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/mitigatedChangeFamily.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/defaultResubmitMachine.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/sharedTreeEditBuilder.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/changesetWrapper.ts
  packages/dds/tree/src/test/editMinter.ts
  packages/dds/tree/src/test/exhaustiveRebaserUtils.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/mitigatedChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEditor.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/rebaserAxiomaticTests.ts
  packages/dds/tree/src/test/shared-tree-core/defaultResubmitMachine.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerScenario.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#22699 (tree): Updated makeModularChangeset and related functions to take a property bag
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
Labels: area: dds, area: dds: tree, base: main

#22691 Update static asset URLs to use CDN endpoint
  docs/content/docs/testing/devtools.md
  docs/content/docs/testing/telemetry.md
  docs/content/docs/testing/typed-telemetry.md
  docs/download-apis.js
  docs/layouts/shortcodes/fluid_bundle_loader.html
  docs/themes/thxvscode/layouts/partials/footer.html
Labels: documentation, area: website, base: main

#22706 tree: Clean up encodeTreeSchema
  packages/dds/tree/src/feature-libraries/schema-index/schemaSummarizer.ts
Labels: area: dds, area: dds: tree, base: main

#22710 Added support for health probes to Gitrest and Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/customizations.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/customizations.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#22702 tree: Fix bug with move composition
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
Labels: area: dds, area: dds: tree, base: main

#22492 Update experimental incremental summary context to readonly properties
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: runtime, public api change, base: main

#22698 Rename cache to persisted cache
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdBlobReads.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/utils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/testPersistedCache.ts
Labels: area: tests, base: main

#22709 Update client deps
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#22711 Enable devtool: "source-map" in examples/utils/bundle-size-tests/webpack.config.cjs
  examples/utils/bundle-size-tests/webpack.config.cjs
Labels: area: examples, base: main

#22700 sequence: expose sided obliterate on ISharedString
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#22095 Simplify tracked state at each summarizerNode
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/test/summarizerNode.spec.ts
  packages/runtime/container-runtime/src/test/summarizerNodeWithGc.spec.ts
  packages/runtime/container-runtime/src/test/summaryNodeUtils.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: runtime, public api change, base: main

#22712 Fix applies stashed ops with no saved ops test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: base: main

#22693 MergeTree: Seperate segment visabilty interfaces
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/client.annotateMarker.spec.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/revertibleFarm.spec.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/reentrancy.spec.ts
  packages/dds/sequence/src/test/subSequence.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#22716 Wrap promises on flaky tests with timeoutAwait
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22344 Add document URL to test and stress telemetry
  packages/test/test-service-load/src/stressTest.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/testObjectProvider.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#22692 short ids in handle bug
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeNode.spec.ts
Labels: area: tests, base: main

#20203 (docs): local docs build
  docs/.gitignore
  docs/README.md
  docs/_replacements/docs/api/local/_index.md
  docs/api-markdown-documenter/index.js
  docs/data/versions.json
  docs/download-apis.js
  docs/local-api-rollup.js
  docs/package.json
  docs/themes/thxvscode/layouts/apis/aggPackage.html
  docs/themes/thxvscode/layouts/partials/apiNav.html
  fluidBuild.config.cjs
Labels: area: website, base: main

#22673 fix(client-presence): correct secondary join response
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
Labels: area: framework, base: main

#21004 Simplify webpack-fluid-loader's webpack config
  examples/utils/webpack-fluid-loader/webpack.config.cjs
Labels: area: examples, base: main

#22717 Optimize anchorset and flex tree traversal
  .changeset/spicy-candles-smash.md
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/unboxed.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#22701 tree: Add alpha tree configuration APIs
  .changeset/clever-dancers-post.md
  .vscode/settings.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/noopValidator.ts
  packages/dds/tree/src/external-utilities/typeboxValidator.ts
  packages/dds/tree/src/feature-libraries/treeCompressionUtils.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/treeFactory.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: dds, area: contributor experience, public api change, area: dds: tree, base: main, changeset-present

#22718 tree: Misc cleanup from after flex-tree schema removal
  packages/dds/tree/.dependency-cruiser-known-violations.json
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/README.md
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/TreeNodeBinding.md
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/flexList.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxyBinding.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/flexList.spec.ts
  packages/dds/tree/src/test/simple-tree/typesUnsafe.spec.ts
Labels: area: dds, area: dds: tree, base: main

#20035 tree: Promote schemaCreationUtilities to alpha
  .changeset/witty-suits-worry.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22723 add new error code: TokenRevoked
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
Labels: area: server, public api change, base: main

#22720 tree: Create ConciseTree
  packages/dds/tree/src/simple-tree/api/conciseTree.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/conciseTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/verboseTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22725 improvement(fetch-tool): Cache tokens in memory
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
Labels: base: main

#22727 Reapply overwritten changes
  packages/test/test-end-to-end-tests/src/testPersistedCache.ts
Labels: area: tests, base: main

#22729 tree: Expose testSimpleTrees
  packages/dds/tree/src/test/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#22452 Add code-coverage-tools package to compare code coverage on the PR build.
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/README.md
  build-tools/packages/build-cli/docs/codeCoverageDetails.md
  build-tools/packages/build-cli/docs/report.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/codeCoverage/codeCoveragePr.ts
  build-tools/packages/build-cli/src/codeCoverage/compareCodeCoverage.ts
  build-tools/packages/build-cli/src/codeCoverage/getCommentForCodeCoverage.ts
  build-tools/packages/build-cli/src/codeCoverage/getCoverageMetrics.ts
  build-tools/packages/build-cli/src/commands/report/codeCoverage.ts
  build-tools/packages/build-cli/src/library/azureDevops/constants.ts
  build-tools/packages/build-cli/src/library/azureDevops/getBaselineBuildMetrics.ts
  build-tools/packages/build-cli/src/library/azureDevops/utils.ts
  build-tools/packages/build-cli/src/library/githubRest.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22731 [bump] build-tools: 0.47.0 => 0.48.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22597 Use diff instead of status for policy check done file
  build-tools/packages/build-tools/src/common/gitRepo.ts
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/flubTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: build, base: main

#22733 Tree: Add Schema export and compare APIs
  .changeset/common-jokes-press.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/storedSchema.spec.ts
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/empty.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/false boolean.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/handle.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasMinimalValueField.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasNumericValueField.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasOptionalField-empty.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasPolymorphicValueField.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/minimal.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/null.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/numeric.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/numericMap-empty.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/numericMap-full.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/recursiveType-deeper.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/recursiveType-empty.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/recursiveType-recursive.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/true boolean.json
  packages/dds/tree/src/util/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#22684 refactor(build-cli): Move tests alongside source
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/test/commands/generate/buildVersion.test.ts
  build-tools/packages/build-cli/src/test/commands/generate/typetests.test.ts
  build-tools/packages/build-cli/src/test/commands/list.test.ts
  build-tools/packages/build-cli/src/test/commands/release.test.ts
  build-tools/packages/build-cli/src/test/commands/release/fromTag.test.ts
  build-tools/packages/build-cli/src/test/commands/test-only-filter.test.ts
  build-tools/packages/build-cli/src/test/commands/typetests.test.ts
  build-tools/packages/build-cli/src/test/data/another-example-changeset.md
  build-tools/packages/build-cli/src/test/data/example-changeset.md
  build-tools/packages/build-cli/src/test/data/exports/class.d.ts
  build-tools/packages/build-cli/src/test/data/exports/exports-rollup.d.ts
  build-tools/packages/build-cli/src/test/data/exports/exports.d.ts
  build-tools/packages/build-cli/src/test/data/exports/innerFile.d.ts
  build-tools/packages/build-cli/src/test/data/multiple-change-types.md
  build-tools/packages/build-cli/src/test/filter.test.ts
  build-tools/packages/build-cli/src/test/init.ts
  build-tools/packages/build-cli/src/test/library/branches.test.ts
  build-tools/packages/build-cli/src/test/library/changesets.test.ts
  build-tools/packages/build-cli/src/test/library/package.test.ts
  build-tools/packages/build-cli/src/test/library/packageExports.test.ts
  build-tools/packages/build-cli/src/test/library/repoPolicyCheck/spacesOverTabsInYaml.test.ts
  build-tools/packages/build-cli/src/test/machines/fluidReleaseMachine.test.ts
  build-tools/packages/build-cli/src/test/tsconfig.json
  build-tools/packages/build-cli/test/tsconfig.json
  build-tools/packages/build-cli/tsconfig.json
Labels: area: build, base: main

#22724 feat(devtools-browser-extension): Update icon assets
  packages/tools/devtools/devtools-browser-extension/EXTENSION_CHANGELOG.md
  packages/tools/devtools/devtools-browser-extension/public/icons/icon.svg
  packages/tools/devtools/devtools-browser-extension/public/icons/icon_128.png
  packages/tools/devtools/devtools-browser-extension/public/icons/icon_16.png
  packages/tools/devtools/devtools-browser-extension/public/icons/icon_32.png
  packages/tools/devtools/devtools-browser-extension/public/icons/icon_48.png
  packages/tools/devtools/devtools-browser-extension/store-assets/logo.png
Labels: base: main

#22738 refactor(client): refactor signal telemetry
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#22670 feat(client-presence): System Workspace
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, base: main

#22744 Fix offline blob tests
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22743 test(client): Disable ODSP targeted signal tests
  packages/test/test-end-to-end-tests/src/test/localTestSignals.spec.ts
Labels: area: tests, base: main

#21702 Improve DDS stress testing: introduce enum stress mode
  experimental/dds/tree/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/sequence/package.json
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/tree/package.json
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  packages/test/stochastic-test-utils/src/index.ts
  tools/pipelines/templates/include-conditionally-run-stress-tests.yml
  tools/pipelines/test-dds-stress.yml
Labels: area: dds, area: build, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#22595 Add regression test for sided obliterates
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
Labels: area: dds, base: main

#22728 Remove unused packagesToBump from checkNoPrereleaseDependencies
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
Labels: area: build, base: main

#22663 feat(fluid-build): Add support for declarative tasks
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuildConfig.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/declarativeTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskHandlers.ts
  build-tools/pnpm-lock.yaml
  fluidBuild.config.cjs
Labels: area: build, base: main

#22714 Delete markdown-magic pipeline
  tools/pipelines/build-markdown-magic.yml
Labels: area: build, base: main

#22748 tree: Cleanup object property tests, and fix bug
  .changeset/curvy-tables-kiss.md
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#22753 MergeTree: Initialize DoublyLinkedList from Values
  packages/dds/merge-tree/src/collections/list.ts
Labels: area: dds, base: main

#22756 Docs(tree): updates and clarifications in detached trees doc
  packages/dds/tree/docs/main/detached-trees.md
Labels: area: dds, area: dds: tree, base: main

#22752 Modify comment syntax for code coverage
  build-tools/packages/build-cli/src/codeCoverage/getCommentForCodeCoverage.ts
Labels: area: build, base: main

#22760 [bump] build-tools: 0.48.0 => 0.49.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22765 tree: reduce "rebasing commits" benchmarks when not in perf mode
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
Labels: area: dds, area: dds: tree, base: main

#22764 merge tree: Update docs to reflect endpoint expansion changes
  packages/dds/merge-tree/docs/Obliterate.md
Labels: area: dds, base: main

#22768 fix: Update transitive dependencies on `braces` to address CVE
  build-tools/pnpm-lock.yaml
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/pnpm-lock.yaml
  tools/telemetry-generator/package-lock.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, area: website, base: main

#22771 Fix the error due to previous bad pull/rebase
  tools/pipelines/test-dds-stress.yml
Labels: area: build, base: main

#22759 Re-enable message size test for t9s
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: tests, base: main

#22772 fix(api-markdown-documenter): Fix issue that caused packages skipped via `skipPackage` option to still be listed on root "model" page
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/configuration/TransformationOptions.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModel.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-b.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-b/foo-bar-propertysignature.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-b/foo-interface.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-b.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-b/foo-bar-propertysignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-b/foo-interface.md
Labels: base: main

#22747 Merge tree: add sidedness to obliterate ops in conflict farm tests
  packages/dds/merge-tree/src/test/client.conflictFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
Labels: area: dds, base: main

#22774 mergetree: Remove exposure of overwrite property
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Labels: area: dds, base: main

#22741 [main > release/client/2.3] test(client): Disable ODSP targeted signal tests
  packages/test/test-end-to-end-tests/src/test/localTestSignals.spec.ts
Labels: area: tests, base: release

#22715 Remove READ support for compatDetails on ContainerRuntime ops
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, base: main

#22514 ci: Auto-generate and publish release notes for minor releases
  .github/workflows/data/release-notes-issue-intro.njk
  .github/workflows/push-tag-create-release.yml
Labels: area: build, base: main

#22681 Session discovery metrics/monitoring
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/utils/index.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
  server/routerlicious/packages/routerlicious-base/src/utils/trace.ts
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, base: main

#22745 Improve socket errors for AFR
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/routerlicious-base/src/test/nexus/io.spec.ts
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-core/src/clusterDraining.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/tokenRevocationManager.ts
Labels: area: server, base: main

#22689 fix(@fluid-tools/benchmark): Make telemetry generator handler to log error
  tools/telemetry-generator/.mocharc.cjs
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/src/handlers/appInsightsCustomBenchmarkHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsExecutionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsMemoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/executionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/memoryUsageTestHandler.ts
  tools/telemetry-generator/src/test/appInsightsCustomBenchmarkHandler.test.ts
  tools/telemetry-generator/src/test/appInsightsExecutionTimeTestHandler.test.ts
  tools/telemetry-generator/src/test/appInsightsMemoryUsageTestHandler.test.ts
  tools/telemetry-generator/src/test/executionTimeTestHandler.test.ts
  tools/telemetry-generator/src/test/memoryUsageTestHandler.test.ts
  tools/telemetry-generator/tsconfig.json
Labels: base: main

#22739 Offline: Properly handle ID Allocation batches
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#22746 Fix cobertura configuration for showing code covearge stats
  examples/utils/webpack-fluid-loader/package.json
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-common/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  experimental/dds/attributable-map/package.json
  experimental/dds/ot/ot/package.json
  experimental/dds/ot/sharejs/json1/package.json
  experimental/dds/sequence-deprecated/package.json
  experimental/framework/tree-react-api/package.json
  package.json
  packages/common/client-utils/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/ink/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/pact-map/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/test-dds-utils/package.json
  packages/dds/tree/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/framework/aqueduct/package.json
  packages/framework/attributor/package.json
  packages/framework/dds-interceptions/package.json
  packages/framework/fluid-static/package.json
  packages/framework/oldest-client-observer/package.json
  packages/framework/presence/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/odsp-client/package.json
  packages/test/functional-tests/package.json
  packages/test/local-server-tests/package.json
  packages/test/test-service-load/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
Labels: area: examples, area: framework, area: runtime, area: loader, area: driver, area: dds, area: dev experience, area: dds: sharedstring, area: tests, area: dds: propertydds, area: odsp-driver, area: dds: tree, base: main

#22776 Flakey Test: Fix possible race condition
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22719 (tree) Added a beta API to deep clone tree nodes
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/src/simple-tree/api/treeApiBeta.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22713 Tidy up some oddities for package configuration in "client"
  packages/tools/changelog-generator-wrapper/package.json
  tools/markdown-magic/package.json
  tools/markdown-magic/pnpm-lock.yaml
  tools/markdown-magic/pnpm-workspace.yaml
Labels: area: build, base: main

#22783 Add simple op submit and roundtrip benchmarks
  packages/test/test-end-to-end-tests/src/test/benchmark/opCriticalPath.time.spec.ts
Labels: area: tests, base: main

#22780 Fix 0x11f raise condition
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/test/test-end-to-end-tests/src/test/offline/blobHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#22786 Relax migration sequence number requirement
  examples/utils/migration-tools/src/migrator.ts
  examples/utils/migration-tools/src/modelLoader/interfaces.ts
  examples/utils/migration-tools/src/modelLoader/migratableModelLoader.ts
  examples/utils/migration-tools/src/modelLoader/migratableSessionStorageModelLoader.ts
  examples/utils/migration-tools/src/modelLoader/migratableTinyliciousModelLoader.ts
Labels: area: examples, base: main

#22750 Stop parsing op contents in DeltaManager - runtime will do it
  .changeset/quiet-lizards-prove.md
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/protocol/protocol.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  server/routerlicious/packages/protocol-base/src/protocol.ts
Labels: area: server, area: runtime, area: loader, area: tests, public api change, release-blocking, base: main, changeset-present

#22792 fix(client-presence): relax connection expectation
  packages/framework/presence/src/presenceDatastoreManager.ts
Labels: area: framework, release-blocking, base: main

#22790 build(docs): Update `api-markdown-documenter`
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#22787 merge-tree: Add regression tests for bugs with zero length obliterate
  packages/dds/sequence/src/test/sharedString.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#22784 build(client): Tag asserts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/core/schemaCaching.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, area: dds: tree, base: main

#22785 build(client): Generate release notes for 2.4.0
  .changeset/clever-dancers-post.md
  .changeset/common-jokes-press.md
  .changeset/curvy-tables-kiss.md
  .changeset/dark-circles-whine.md
  .changeset/light-rectangles-rejoice.md
  .changeset/lucky-goats-find.md
  .changeset/poor-islands-battle.md
  .changeset/purple-hats-roll.md
  .changeset/quiet-lizards-prove.md
  .changeset/seven-women-pick.md
  .changeset/shaggy-pens-occur.md
  .changeset/small-months-heal.md
  .changeset/spicy-candles-smash.md
  .changeset/witty-suits-worry.md
  RELEASE_NOTES/2.4.0.md
Labels: base: main, changeset-present

#22788 Reenable api-report for migration-tools
  examples/utils/migration-tools/api-extractor.json
  examples/utils/migration-tools/api-report/migration-tools.alpha.api.md
  examples/utils/migration-tools/api-report/migration-tools.beta.api.md
  examples/utils/migration-tools/api-report/migration-tools.public.api.md
  examples/utils/migration-tools/package.json
  examples/utils/migration-tools/src/index.ts
Labels: area: examples, public api change, base: main

#22794 refactor(ai-collab): Cleanup
  examples/apps/ai-collab/.mocharc.cjs
  examples/apps/ai-collab/README.md
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/tsdoc.json
  packages/framework/ai-collab/package.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, base: main

#22793 Add ability to skip coverage check in code coverage module
  build-tools/packages/build-cli/docs/report.md
  build-tools/packages/build-cli/src/codeCoverage/getCommentForCodeCoverage.ts
  build-tools/packages/build-cli/src/commands/report/codeCoverage.ts
  build-tools/packages/build-cli/src/library/githubRest.ts
Labels: area: build, base: main

#22796 fix(generate:changelog): Calculate correct changeset version
  build-tools/packages/build-cli/src/commands/generate/changelog.ts
Labels: area: build, base: main

#22797 refactor(devtools-view): Move axe-core to devDependencies
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#22800 [bump] build-tools: 0.49.0 => 0.50.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#22730 Circuit breaker implementation in scriptorium
  server/routerlicious/.changeset/great-plums-repair.md
  server/routerlicious/.changeset/rare-tires-yawn.md
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/document-router/documentContext.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/context.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/partitionManager.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/runner.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/contextManager.spec.ts
  server/routerlicious/packages/lambdas-driver/src/test/types/validateServerLambdasDriverPrevious.generated.ts
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/test/scriptorium/lambda.spec.ts
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/lambdas/src/test/utils/circuitBreaker.spec.ts
  server/routerlicious/packages/lambdas/src/utils/circuitBreaker.ts
  server/routerlicious/packages/lambdas/src/utils/index.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/localContext.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/routerlicious/src/scriptorium/index.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/combinedContext.ts
  server/routerlicious/packages/services-core/src/database.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
  server/routerlicious/packages/services-core/src/mongo.ts
  server/routerlicious/packages/services-core/src/queue.ts
  server/routerlicious/packages/services-core/src/runner.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/test/types/validateServerServicesOrderingRdkafkaPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/mongodb.ts
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/packages/test-utils/src/testContext.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main, changeset-present

#22736 Fix handling of ProseMirror open and close markers
  examples/data-objects/prosemirror/src/fluidBridge.ts
  examples/data-objects/prosemirror/src/fluidCollabManager.ts
  examples/data-objects/prosemirror/src/prosemirror.tsx
Labels: area: examples, base: main

#22769 Default Runtime Request Header Wait Config and Telemetry
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: runtime, area: tests, base: main

#22807 refactor(examples/ai-collab): Simplify and fix a few things
  examples/apps/ai-collab/README.md
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/app/layout.tsx
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/app/spe.ts
  examples/apps/ai-collab/src/app/tinylicious.ts
Labels: area: examples, base: main

#22810 build(build-tools): Add vscode workspace for build-tools
  build-tools/.vscode/build-tools.code-workspace
Labels: base: main

#22814 fix(build-tools): Run install with `--no-frozen-lockfile`
  build-tools/packages/build-tools/src/common/monoRepo.ts
  build-tools/packages/build-tools/src/common/npmPackage.ts
Labels: area: build, base: main

#22818 Update lengths before delta event in rollback
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, base: main

#22687 Add `.legacy-compat` release report
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/config.ts
  build-tools/packages/build-cli/src/index.ts
  build-tools/packages/build-cli/src/library/index.ts
  build-tools/packages/build-cli/src/library/release.ts
  build-tools/packages/build-cli/src/test/library/release.test.ts
  fluidBuild.config.cjs
Labels: area: build, public api change, base: main

#22801 Remove duplicate code for Audience population from snapshot
  packages/loader/container-loader/src/protocol.ts
Labels: area: loader, base: main

#22812 Allow quorum member removal when detached
  packages/framework/agent-scheduler/src/scheduler.ts
Labels: area: framework, base: main

#22826 Removed singleton Startup check usage by Historian and Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/packages/gitrest-base/src/test/routes.spec.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#22824 refactor(examples/ai-collab): Clean up imports
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/app/spe.ts
  examples/apps/ai-collab/src/app/tinylicious.ts
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
  examples/apps/ai-collab/src/useFluidContainerNextjs.ts
  examples/apps/ai-collab/src/useSharedTreeRerender.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22825 fix(fluid-build): Load default config when no config is found
  build-tools/packages/build-tools/src/fluidBuild/buildContext.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuildConfig.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidRepoBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidUtils.ts
Labels: area: build, base: main

#22834 improvement(fluid-build): Optimize timer calls
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
Labels: area: build, base: main

#22761 Fix token cache error: invalid expire time
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, base: main

#22831 build: Remove references to deleted readme-command package
  .prettierignore
  build-tools/syncpack.config.cjs
  fluidBuild.config.cjs
  server/gitrest/.prettierignore
  server/historian/.prettierignore
  server/routerlicious/.prettierignore
Labels: area: build, base: main

#22837 Disable parallel forks flaky test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#22762 Add code coverage reporting to client build yaml file
  .vscode/launch.json
  build-tools/packages/build-cli/docs/report.md
  build-tools/packages/build-cli/src/commands/report/codeCoverage.ts
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, area: contributor experience, base: main

#22848 refactor: Update `latest-version` dependency
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22269 build(docs): Remove and/or replace outdated dependencies
  docs/download-apis.js
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#22737 test(client): presence tracker improvements
  examples/apps/presence-tracker/package.json
  examples/apps/presence-tracker/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22804 fix(client): reformat signal telemetry details
  .changeset/tough-crabs-check.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main, changeset-present

#22659 refactor(ci): Add `set -eux -o pipefail` to all bash@3 tasks
  tools/pipelines/build-client.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-git-tag-steps.yml
  tools/pipelines/templates/include-install-build-tools.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/templates/include-use-node-version.yml
  tools/pipelines/templates/upload-dev-manifest.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#22789 Remove tsc-multi leftovers
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
  build-tools/packages/build-tools/packlist.txt
  build-tools/packages/build-tools/src/common/utils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/renamerTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  fluidBuild.config.cjs
Labels: area: build, base: main

#22858 refactor(ci): Fix for ADO logging commands and fix for robustness
  tools/pipelines/build-client.yml
  tools/pipelines/build-docs.yml
  tools/pipelines/repo-policy-check.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-git-tag-steps.yml
  tools/pipelines/templates/include-install-build-tools.yml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-policy-check.yml
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-steps.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/templates/include-use-node-version.yml
  tools/pipelines/templates/upload-dev-manifest.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#22860 refactor(server): Update dependencies to remove `ip` (CVE)
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#22867 Replaced StartupCheck with IReadinessCheck
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/app.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runner.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/services-core/src/readinessCheck.ts
  server/routerlicious/packages/services-shared/src/healthCheckEndpoints.ts
  server/routerlicious/packages/services-shared/src/test/healthCheckEndpoints.spec.ts
Labels: area: server, base: main

#22868 Replaced StartupCheck with IReadinessCheck in Gitrest and Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/runner.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/pnpm-lock.yaml
Labels: base: main

#22749 odspDocumentDeltaConnection targetClientId check
  packages/drivers/odsp-driver/src/odspDocumentDeltaConnection.ts
  packages/drivers/odsp-driver/src/test/socketTests/deltaConnectionUpdateTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/localTestSignals.spec.ts
Labels: area: driver, area: tests, area: odsp-driver, base: main

#22861 refactor: Update `get-func-name` dependency to address CVE
  build-tools/packages/build-cli/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/pnpm-lock.yaml
Labels: area: build, base: main

#22870 Modify codecoverageAnalysis name to include job attempt number
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#22763 tree: Improve non-schema aware typing
  .changeset/shiny-swans-relax.md
  .vscode/settings.json
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/package.json
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/withType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/src/shared-tree-diff/sharedTreeBranchManager.ts
  packages/framework/ai-collab/src/shared-tree-diff/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, area: contributor experience, public api change, area: dds: tree, base: main, changeset-present

#22869 When trimming the EditManager trunk, avoid mutating revision and change of the new trunk base commit
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22830 Data Migration: Create some testing infrastructure for testing data migration solutions
  packages/test/local-server-tests/package.json
  packages/test/local-server-tests/src/test/data-migration/basicMigration.spec.ts
  packages/test/local-server-tests/src/test/data-migration/newCode.ts
  packages/test/local-server-tests/src/test/data-migration/oldCode.ts
  packages/test/local-server-tests/src/test/data-migration/utils.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#22875 tree: Cleanup related to contravariant input types
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeApiBeta.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/getJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/mapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/primitives.spec.ts
  packages/dds/tree/src/test/simple-tree/simpleTree.bench.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#22871 Increase snapshotRefreshTimeoutMs for non local drivers on e2e tests
  packages/test/test-end-to-end-tests/src/test/refreshSerializerLifeCycle.spec.ts
Labels: area: tests, base: main

#22845 refactor(server): Update ws to address CVE
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/packages/tinylicious/src/services/webServerFactory.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#22862 refactor: Update `less` dependency
  examples/data-objects/canvas/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22881 Treat t9s as local for refresh snapshot tests
  packages/test/test-end-to-end-tests/src/test/refreshSerializerLifeCycle.spec.ts
Labels: area: tests, base: main

#22882 refactor(devtools): Remove unnecessary explicit dependency
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#22833 feat(client-presence): attendeeDisconnected and SessionClientStatus support
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
Labels: area: examples, area: framework, public api change, base: main

#22885 refactor: Update build-tools dev deps in common-utils, protocol-definitions, server/historian, and server/gitrest (addressesCVE-2024-43788)
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/common-utils/src/test/types/validateCommonUtilsPrevious.generated.ts
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/src/test/types/validateProtocolDefinitionsPrevious.generated.ts
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/src/utils/fileSystemBase.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#22884 Enabled support for a token issuance endpoint in Alfred
  server/routerlicious/.changeset/chubby-worms-wonder.md
  server/routerlicious/.changeset/real-eels-accept.md
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/test/alfred/api.spec.ts
  server/routerlicious/packages/services-core/src/fluidAccessTokenGenerator.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/test-utils/src/index.ts
  server/routerlicious/packages/test-utils/src/testFluidAccessTokenGenerator.ts
Labels: area: server, base: main, changeset-present

#22883 Ai planner app layout update v2
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
Labels: area: examples, base: main

#22890 add isEphemeralContaner to relevant metrics
  server/routerlicious/packages/lambdas/src/deli/lambda.ts
  server/routerlicious/packages/lambdas/src/scribe/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/scribe/summaryReader.ts
  server/routerlicious/packages/lambdas/src/utils/telemetryHelper.ts
  server/routerlicious/packages/memory-orderer/src/localOrderer.ts
  server/routerlicious/packages/services-core/src/checkpointService.ts
  server/routerlicious/packages/services-shared/src/storage.ts
Labels: area: server, base: main

#22705 test(build-cli): Upgrade oclif-test
  build-tools/packages/build-cli/.mocharc.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/generate/buildVersion.ts
  build-tools/packages/build-cli/src/test/commands/generate/buildVersion.test.ts
  build-tools/packages/build-cli/src/test/commands/list.test.ts
  build-tools/packages/build-cli/src/test/commands/release.test.ts
  build-tools/packages/build-cli/src/test/commands/release/fromTag.test.ts
  build-tools/packages/build-cli/src/test/commands/test-only-filter.test.ts
  build-tools/packages/build-cli/src/test/commands/typetests.test.ts
  build-tools/packages/build-cli/src/test/init.ts
  build-tools/packages/build-cli/src/test/library/branches.test.ts
  build-tools/packages/build-cli/src/test/library/changesets.test.ts
  build-tools/packages/build-cli/src/test/library/package.test.ts
  build-tools/packages/build-cli/src/test/library/packageExports.test.ts
  build-tools/packages/build-cli/src/test/machines/fluidReleaseMachine.test.ts
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22847 refactor: Update dependency on cookie to address CVE
  examples/benchmarks/odspsnapshotfetch-perftestapp/package.json
  examples/external-data/package.json
  examples/utils/webpack-fluid-loader/package.json
  pnpm-lock.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, dependencies, base: main

#22899 build(build-tools): Upgrade oclif dependencies to latest
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/docs/help.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22900 refactor: Remove unnecessary dep in `@fluid-tools/markdown-magic`
  pnpm-lock.yaml
  tools/markdown-magic/package.json
Labels: area: build, dependencies, base: main

#22805 fix(client): make IAudienceEvents intersectable
  packages/common/container-definitions/api-report/container-definitions.beta.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.public.api.md
  packages/common/container-definitions/api-report/container-definitions.public.api.md
  packages/common/container-definitions/src/audience.ts
Labels: public api change, base: main

#22904 build(build-tools): Upgrade danger to 12.x
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22906 refactor: Cleanup references to markdown-magic-template in lockfiles
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: build, area: website, base: main

#22839 Op bunching 1: Bunch contiguous ops for data store in a batch - Runtime part
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/batching.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/utils/tool-utils/src/snapshotNormalizer.ts
  packages/utils/tool-utils/src/test/snapshotNormalizer.spec.ts
Labels: area: runtime, public api change, base: main

#22903 build(build-cli): Upgrade inquirer to @inquirer/prompts
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/commands/bump.ts
  build-tools/packages/build-cli/src/commands/release/report.ts
  build-tools/packages/build-cli/src/handlers/askFunctions.ts
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22907 build(build-tools): Upgrade mocha to latest version
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22901 Add intuitive pipeline names in telemetry events for stress/e2e test runs
  packages/test/mocha-test-setup/src/mochaHooks.ts
  packages/test/test-service-load/src/FileLogger.ts
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
Labels: area: build, area: tests, base: main

#22840 Op bunching 2: Bunch contiguous ops for data store in a batch - data store part
  .changeset/hot-falcons-grab.md
  .changeset/neat-lights-worry.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, public api change, base: main, changeset-present

#22864 Add socker error handling for r11s
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-driver/src/contracts.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/errorUtils.ts
  packages/drivers/routerlicious-driver/src/socketModule.ts
  packages/drivers/routerlicious-driver/src/test/r11sSocketTests.spec.ts
  packages/drivers/routerlicious-driver/src/test/socketTestUtils.ts/socketMock.ts
Labels: area: driver, base: main

#22865 feat(build-infrastructure): Add default implementations for core interfaces
  build-tools/packages/build-infrastructure/api-report/build-infrastructure.api.md
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-infrastructure/src/commands/list.ts
  build-tools/packages/build-infrastructure/src/config.ts
  build-tools/packages/build-infrastructure/src/docs/cli.md
  build-tools/packages/build-infrastructure/src/errors.ts
  build-tools/packages/build-infrastructure/src/fluidRepo.ts
  build-tools/packages/build-infrastructure/src/git.ts
  build-tools/packages/build-infrastructure/src/index.ts
  build-tools/packages/build-infrastructure/src/package.ts
  build-tools/packages/build-infrastructure/src/packageJsonUtils.ts
  build-tools/packages/build-infrastructure/src/packageManagers.ts
  build-tools/packages/build-infrastructure/src/releaseGroup.ts
  build-tools/packages/build-infrastructure/src/test/data/spaces/_package.json
  build-tools/packages/build-infrastructure/src/test/data/tabs/_package.json
  build-tools/packages/build-infrastructure/src/test/fluidRepo.test.ts
  build-tools/packages/build-infrastructure/src/test/git.test.ts
  build-tools/packages/build-infrastructure/src/test/packageJsonUtils.test.ts
  build-tools/packages/build-infrastructure/src/test/workspace.test.ts
  build-tools/packages/build-infrastructure/src/types.ts
  build-tools/packages/build-infrastructure/src/utils.ts
  build-tools/packages/build-infrastructure/src/workspace.ts
  build-tools/packages/build-infrastructure/src/workspaceCompat.ts
  build-tools/packages/build-infrastructure/typedoc.config.cjs
Labels: area: build, public api change, base: main

#22921 Fix bug in EditManager fast forwarding step
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
Labels: area: dds, area: dds: tree, base: main

#22916 build(build-tools): Upgrade most dependencies to latest semver-compatible version
  build-tools/package.json
  build-tools/packages/build-cli/docs/autocomplete.md
  build-tools/packages/build-cli/docs/commands.md
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/docs/classes/NotInGitRepository.md
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/README.md
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22898 refactor: Update puppeteer to latest version to address CVE
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/apps/tree-comparison/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/experimental-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/shared-tree/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/todo/package.json
  examples/external-data/package.json
  examples/service-clients/azure-client/external-controller/package.json
  examples/utils/bundle-size-tests/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/separate-container/package.json
  examples/version-migration/tree-shim/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  package.json
  packages/common/client-utils/package.json
  packages/test/types_jest-environment-puppeteer/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-example/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: tests, base: main

#22918 refactor(build-infrastructure): Make package manager install command an array of args
  build-tools/packages/build-infrastructure/api-report/build-infrastructure.api.md
  build-tools/packages/build-infrastructure/src/packageManagers.ts
  build-tools/packages/build-infrastructure/src/types.ts
  build-tools/packages/build-infrastructure/src/workspace.ts
Labels: area: build, public api change, base: main

#22832 improvement(build-cli): Remove node-fetch dependency
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#22923 Fix libCheck
  .changeset/clever-birds-wear.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/tree/package.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, area: dds: tree, base: main, changeset-present
