Repository microsoft/FluidFramework, pull requests merged in 2024-01, with the labels that each got.

#19019 tree: Make use of wrongSchema more local and explicit
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19021 id-compressor: Unit test ghost session API
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/id-compressor/src/types/index.ts
  packages/runtime/id-compressor/src/types/persisted-types/0.0.1.ts
  packages/runtime/id-compressor/src/types/persisted-types/index.ts
Labels: area: runtime, base: main

#19024 tree: Cleanup tests using WrongSchema
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19012 refactor(tree): consolidate related tests
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/invert.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markListFactory.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markQueue.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/markQueue.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/randomChangeGenerator.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/randomChangeGenerator.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/rebase.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/relevantRemovedRoots.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/relevantRemovedRoots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEditor.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEditor.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldUtils.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerPerf.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerScenario.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree-core/editManager.spec.ts
  packages/dds/tree/src/test/snapshots/genericField.spec.ts
  packages/dds/tree/src/test/snapshots/sequenceField.spec.ts
  packages/dds/tree/src/test/testChange.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19023 tool(tree): enforce internal imports via index.js
  packages/dds/tree/.eslintrc.cjs
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19002 Code cleanup in container runtime around refresh from summary logic
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#19027 feat(fluid-build): Task caching for ts2esm tasks
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/ts2EsmTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  fluidBuild.config.cjs
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldSnapshots.test.ts
Labels: area: dds, area: build, area: dds: tree, base: main

#19029 Disable ODSP for LTS branch service load and e2e tests
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
Labels: area: build

#19025 tree2: Remove old fuzz test repro
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19033 fix(docs): Render config
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#18998 build(client-tree): ts2esm support and enforcement
  packages/dds/tree/package.json
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: dds: tree, base: main

#19026 unskip end to end chunk insert op test
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
Labels: area: dds, area: dds: tree, base: main

#19032 tree: Remove simple-tree insertable
  packages/dds/tree/src/class-tree/toFlexSchema.ts
  packages/dds/tree/src/domains/schemaBuilder.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/flex-tree/unboxed.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-aware/schemaAware.ts
  packages/dds/tree/src/feature-libraries/schemaBuilderBase.ts
  packages/dds/tree/src/feature-libraries/storedToViewSchema.ts
  packages/dds/tree/src/feature-libraries/typed-schema/index.ts
  packages/dds/tree/src/feature-libraries/typed-schema/schemaCollection.ts
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/insertable.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/domains/schemaBuilder.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaAware.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-aware/schemaComplex.ts
  packages/dds/tree/src/test/feature-libraries/schemaBuilder.spec.ts
  packages/dds/tree/src/test/feature-libraries/storedToViewSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
  packages/dds/tree/src/test/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#19035 feat(docs): Add version string to front-matter in generated API docs
  docs/api-markdown-documenter/front-matter.js
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#19050 tree: Combine class-tree into simple-tree
  packages/dds/tree/src/class-tree/README.md
  packages/dds/tree/src/class-tree/index.ts
  packages/dds/tree/src/class-tree/integerIndexable.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/README.md
  packages/dds/tree/src/simple-tree/flexNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/toFlexSchema.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/treeListNode.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/class-tree/integerIndexable.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/node.spec.ts
  packages/dds/tree/src/test/simple-tree/object.spec.ts
  packages/dds/tree/src/test/simple-tree/objectFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/primitives.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.examples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.recursiveExamples.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/testRecursiveSchema.ts
  packages/dds/tree/src/test/simple-tree/toFlexSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/treeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#19046 tool(eslint-config-fluid): allow index.js import
  common/build/eslint-config-fluid/minimal.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#19051 id-compressor: Verify stateful takeNextRange behavior
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
Labels: area: runtime, base: main

#19031 id-compressor: Remove deprecated compressor types from runtime definitions
  .changeset/small-cups-shine.md
  experimental/dds/tree/package.json
  experimental/dds/tree/src/migration-shim/migrationShim.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKey.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/feature-libraries/node-key/nodeKey.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerScenario.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/datastore/api-report/datastore.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, area: tests, public api change, area: dds: tree, base: main

#19037 improvement(docs): Improve console logging and error propagation in API docs generation
  docs/api-markdown-documenter/index.js
  docs/api-markdown-documenter/render-api-documentation.js
Labels: area: website, base: main

#19055 refactor(docs): refactor front-matter to use mapping instead of switch cases2
  docs/api-markdown-documenter/front-matter.js
Labels: base: main

#19056 build(docs): Remove staging step when generating API docs
  docs/.markdownlint-cli2.cjs
  docs/README.md
  docs/api-markdown-documenter/index.js
  docs/package.json
  docs/rollup-api-json-helper.js
Labels: area: website, base: main

#19058 Gitrest: Revert blobCache improvements
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/coreWriteUtils.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/lowIoWriteUtils.ts
Labels: area: server, base: main

#19054 id-compressor: Remove exposed compressor class
  .changeset/blessed-pens-rise.md
  packages/runtime/id-compressor/api-report/id-compressor.api.md
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/index.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
Labels: area: runtime, public api change, base: main

#19060 refactor(docs): Update API model artifact download script
  docs/download-apis.js
Labels: area: website, base: main

#19057 tree: Cleanup Tree API
  .changeset/slimy-dragons-stay.md
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/treeListNode.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#19061 build(docs): Extract `build:redirects` into its own npm step, rather than running with `build:api-documentation`
  docs/README.md
  docs/api-markdown-documenter/build-redirects.js
  docs/api-markdown-documenter/index.js
  docs/build-redirects.js
  docs/package.json
Labels: area: website, base: main

#19062 fix(fluid-build): incremental ts2esm task
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/ts2EsmTask.ts
Labels: area: build, base: main

#19052 id-compressor: Update ghost session allocation strategy
  .changeset/compressed-ghosts-shrink.md
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/id-compressor/src/types/index.ts
  packages/runtime/id-compressor/src/types/persisted-types/0.0.1.ts
  packages/runtime/id-compressor/src/types/persisted-types/index.ts
Labels: area: runtime, base: main

#18930 Web socket tracker change
  server/routerlicious/packages/lambdas/src/alfred/index.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-core/src/tokenRevocationManager.ts
  server/routerlicious/packages/services-core/src/webSocketTracker.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services-utils/src/test/webSocketTracker.spec.ts
  server/routerlicious/packages/services-utils/src/tokenRevocationManager.ts
  server/routerlicious/packages/services-utils/src/webSocketTracker.ts
Labels: area: server, base: main

#19068 Gitrest: fix reading old summaries
  server/gitrest/packages/gitrest-base/src/test/examples2.ts
  server/gitrest/packages/gitrest-base/src/test/summaries.spec.ts
  server/gitrest/packages/gitrest-base/src/test/tsconfig.json
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/coreWriteUtils.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/lowIoWriteUtils.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/writeWholeSummary.ts
Labels: area: server, base: main

#19070 refactor(docs): Simplify async logic in api docs gen
  docs/api-markdown-documenter/index.js
Labels: area: website, base: main

#19063 build: Update `clean` script to account for multi-version api model artifacts
  package.json
Labels: base: main

#19071 Pass in schema into summary field batch codec
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/snapshots/files/move-across-fields-tree-0-final.json
  packages/dds/tree/src/test/snapshots/testTrees.ts
Labels: base: main

#19069 tools(docs): Run prettier in docs dir `lint` script and fix issues
  .prettierignore
  docs/.vscode/extensions.json
  docs/.vscode/settings.json
  docs/README.md
  docs/_includes/browsers.md
  docs/_includes/links.md
  docs/api-markdown-documenter/front-matter.js
  docs/archetypes/default.md
  docs/content/docs/build/audience.md
  docs/content/docs/build/containers.md
  docs/content/docs/build/data-modeling.md
  docs/content/docs/build/dds.md
  docs/content/docs/build/overview.md
  docs/content/docs/build/packages.md
  docs/content/docs/concepts/handles.md
  docs/content/docs/concepts/signals.md
  docs/content/docs/concepts/tob.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/data-structures/string.md
  docs/content/docs/deep/dataobject-aqueduct.md
  docs/content/docs/deep/feature-detection-iprovide.md
  docs/content/docs/deep/hosts.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/audience-react.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/start/tutorial.md
  docs/content/docs/testing/telemetry.md
  docs/package.json
  docs/readVersionData.js
Labels: documentation, area: website, base: main

#19073 [bump] protocol-definitions: 3.1.0 => 3.2.0 (minor)
  common/lib/protocol-definitions/package.json
Labels: base: main

#19072 tree: Fix some lint warnings
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/types.ts
  packages/dds/tree/src/test/simple-tree/node.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#19077 [bump] common-definitions: 1.1.0 => 1.2.0 (minor)
  common/lib/common-definitions/CHANGELOG.md
  common/lib/common-definitions/package.json
Labels: base: main

#19047 build: Narrow workspace definitions
  build-tools/pnpm-workspace.yaml
  pnpm-workspace.yaml
  server/gitrest/pnpm-workspace.yaml
  server/historian/pnpm-workspace.yaml
  server/routerlicious/pnpm-workspace.yaml
Labels: area: server, area: build, base: main

#19079 [bump] common-utils: 3.0.0 => 3.1.0 (minor)
  common/lib/common-utils/CHANGELOG.md
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
Labels: base: main

#19020 ci: Stop removing manually added changeset-required labels
  .github/labeler-areas.yml
  .github/labeler-changesets.yml
  .github/workflows/pr-labeler.yml
Labels: area: build, base: main

#19076 tree: Use FieldBatchEncodingContext as codec context
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/forest-summary/codec.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#18980 build: Update tools and utils to use node16 module resolution
  packages/tools/fetch-tool/tsconfig.json
  packages/tools/replay-tool/tsconfig.json
  packages/tools/webpack-fluid-loader/package.json
  packages/tools/webpack-fluid-loader/src/test/tsconfig.json
  packages/tools/webpack-fluid-loader/tsconfig.esnext.json
  packages/tools/webpack-fluid-loader/tsconfig.json
  packages/utils/odsp-doclib-utils/api-extractor-esm.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/odsp-doclib-utils/src/test/tsconfig.json
  packages/utils/odsp-doclib-utils/tsconfig.esnext.json
  packages/utils/odsp-doclib-utils/tsconfig.json
  packages/utils/tool-utils/api-extractor-esm.json
  packages/utils/tool-utils/package.json
  packages/utils/tool-utils/src/test/tsconfig.json
  packages/utils/tool-utils/tsconfig.esnext.json
  packages/utils/tool-utils/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, area: odsp-driver, base: main

#19084 [bump] common-utils: 3.1.0 => 3.2.0 (minor)
  common/lib/common-utils/CHANGELOG.md
  common/lib/common-utils/package.json
Labels: base: main

#19080 Fix Rebase with Inflight Ops on Merge Tree
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, public api change, base: main

#18829 Align detached data format with attached pending data
  .changeset/pink-terms-kick.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/detachedContainerTests.spec.ts
Labels: area: loader, area: tests, base: main

#19064 build(docs): update render-api-documentation postfix logic and readVersionData
  docs/api-markdown-documenter/index.js
  docs/data/versions.json
  docs/download-apis.js
  docs/readVersionData.js
Labels: area: website, base: main

#19086 Clean Up MergeTree Forgotten Exports
  packages/dds/merge-tree/api-extractor-esm.json
  packages/dds/merge-tree/api-extractor.json
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/zamboni.ts
  packages/dds/sequence/src/test/reentrancy.spec.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#18955 ci: Update dist-tags for RC
  tools/pipelines/templates/include-publish-npm-package-steps.yml
Labels: area: build, release-blocking, base: main

#19034 feat(docs): Update multi-version build to include API landing pages for each version
  docs/_replacements/docs/api/v1/_index.md
  docs/_replacements/docs/api/v1/fluid-framework/index.md
  docs/_replacements/docs/api/v2/_index.md
  docs/api-markdown-documenter/render-api-documentation.js
  docs/themes/thxvscode/layouts/apis/aggPackage.html
Labels: area: website, base: main

#19090 build(server): Bump common deps in server
  server/routerlicious/.changeset/open-ties-peel.md
  server/routerlicious/.changeset/six-suns-rescue.md
  server/routerlicious/.changeset/tidy-nights-smash.md
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#18999 Remove SessionAwareCodec
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/core/rebase/revisionTagCodec.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/feature-libraries/changeAtomIdCodec.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKindCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalFieldCodecs.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/editManagerSummarizer.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/test/counterFieldKind.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldSnapshots.test.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main

#19013 Remove processing acks that are older than the one client loaded from
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcLoadingFromOlderSummaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStateResetInSummaries.spec.ts
Labels: area: runtime, area: tests, base: main

#19089 test(tree): cleanup usages of FieldChanges.build
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/test/counterFieldKind.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/testChange.spec.ts
  packages/dds/tree/src/test/testChange.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19094 build(server): Update changesets and generate release notes
  server/routerlicious/.changeset/funny-moons-act.md
  server/routerlicious/.changeset/nervous-carrots-mix.md
  server/routerlicious/.changeset/pretty-birds-pay.md
  server/routerlicious/.changeset/ready-colts-bake.md
  server/routerlicious/RELEASE_NOTES/3.0.0.md
Labels: area: server, base: main

#19098 fix(devtools-view): Link styling
  packages/tools/devtools/devtools-view/src/components/OpLatencyView.tsx
Labels: base: main

#19100 build(server): Generate changelogs for 3.0.0
  server/routerlicious/.changeset/blue-crews-cry.md
  server/routerlicious/.changeset/nervous-carrots-mix.md
  server/routerlicious/.changeset/open-ties-peel.md
  server/routerlicious/.changeset/pretty-birds-pay.md
  server/routerlicious/.changeset/ready-colts-bake.md
  server/routerlicious/.changeset/six-suns-rescue.md
  server/routerlicious/.changeset/tidy-nights-smash.md
  server/routerlicious/packages/gitresources/CHANGELOG.md
  server/routerlicious/packages/kafka-orderer/CHANGELOG.md
  server/routerlicious/packages/lambdas-driver/CHANGELOG.md
  server/routerlicious/packages/lambdas/CHANGELOG.md
  server/routerlicious/packages/local-server/CHANGELOG.md
  server/routerlicious/packages/memory-orderer/CHANGELOG.md
  server/routerlicious/packages/protocol-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious-base/CHANGELOG.md
  server/routerlicious/packages/routerlicious/CHANGELOG.md
  server/routerlicious/packages/services-client/CHANGELOG.md
  server/routerlicious/packages/services-core/CHANGELOG.md
  server/routerlicious/packages/services-ordering-kafkanode/CHANGELOG.md
  server/routerlicious/packages/services-ordering-rdkafka/CHANGELOG.md
  server/routerlicious/packages/services-ordering-zookeeper/CHANGELOG.md
  server/routerlicious/packages/services-shared/CHANGELOG.md
  server/routerlicious/packages/services-telemetry/CHANGELOG.md
  server/routerlicious/packages/services-utils/CHANGELOG.md
  server/routerlicious/packages/services/CHANGELOG.md
  server/routerlicious/packages/test-utils/CHANGELOG.md
  server/routerlicious/packages/tinylicious/CHANGELOG.md
Labels: area: server, base: main

#19103 build: Upgrade pnpm to 7.33.6
  build-tools/package.json
  common/build/build-common/package.json
  common/build/eslint-config-fluid/package.json
  package.json
  server/gitrest/package.json
  server/historian/package.json
  server/routerlicious/package.json
  server/routerlicious/packages/tinylicious/package.json
  tools/api-markdown-documenter/package.json
  tools/benchmark/package.json
  tools/getkeys/package.json
  tools/test-tools/package.json
Labels: area: server, area: build, base: main

#19097 build(devtools-example): Fix start script
  packages/tools/devtools/devtools-example/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#18926 DDS: Tests illustrating which DDSes obscure handles in their op content
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/dataStores.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/functional-tests/package.json
  packages/test/functional-tests/src/test/ddsHandleEncoding.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, area: tests, public api change, base: main

#19102 tree: Rename some "view"s to checkout, and view2 to view
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#19096 Reduce access to IdCompressor
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/core/rebase/revisionTagCodec.ts
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/core/tree/visitorUtils.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/test/tree/detachedFieldIndex.spec.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19092 fix(test-version-utils): Fix full back compat e2e test generation for rc releases
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main

#19127 fix(test-version-utils): Add check for dev-rc releases
  packages/test/test-version-utils/src/compatConfig.ts
Labels: area: tests, base: main

#19120 Migrate remaining use of `FieldChanges.build` and `FieldChanges.destroy`
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/test/feature-libraries/deltaUtils.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19118 API(tree): make CheckoutEvents internal
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#19128 Don't check message contents in ghost session unit test
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
Labels: area: runtime, base: main

#18272 Add SharedTree to docs
  docs/content/docs/build/dds.md
  docs/content/docs/data-structures/counter.md
  docs/content/docs/data-structures/overview.md
  docs/content/docs/data-structures/tree.md
  docs/content/docs/start/examples.md
  docs/content/docs/start/images/shared-tree-demo.png
  docs/content/docs/start/quick-start-sharedtree.md
  docs/content/docs/start/quick-start.md
  docs/content/docs/start/tutorial-sharedtree.md
  docs/content/docs/start/tutorial.md
  docs/static/images/sticky-note-board-app.png
Labels: documentation, area: website, base: main

#19121 build(docs): Remove single-version vs multi-version distinction in website build
  docs/README.md
  docs/api-markdown-documenter/index.js
  docs/download-apis.js
  docs/package.json
  tools/pipelines/build-docs.yml
Labels: area: build, area: website, base: main

#19119 refactor(tree): move sequence utils that are only used for tests into test area
  packages/dds/tree/.dependency-cruiser-known-violations.json
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/compose.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19124 build(client): Tag asserts for release
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/tree/src/class-tree/schemaFactory.ts
  packages/dds/tree/src/class-tree/treeApi.ts
  packages/dds/tree/src/codec/versioned/codec.ts
  packages/dds/tree/src/core/rebase/revisionTagCodec.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/forest-summary/codec.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/feature-libraries/storedToViewSchema.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/util/utils.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: release-blocking

#19114 tree: Simplify FlexTree
  examples/benchmarks/bubblebench/editable-shared-tree/src/bubblebench.ts
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/feature-libraries/flex-tree/README.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKeyIndex.ts
  packages/dds/tree/src/feature-libraries/typed-schema/schemaCollection.ts
  packages/dds/tree/src/feature-libraries/typed-schema/typedTreeSchema.ts
  packages/dds/tree/src/shared-tree/treeView.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/tree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/editableTreeTypes.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/events.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/navigation.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/unboxed.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/treeView.spec.ts
  packages/dds/tree/src/test/simple-tree/rawObjectNode.spec.ts
  packages/dds/tree/src/test/snapshots/testTrees.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: examples, area: dds, public api change, area: dds: tree, base: main

#19122 build(client): Update changesets and generate release notes
  .changeset/brave-hounds-say.md
  .changeset/compressed-ghosts-shrink.md
  .changeset/cute-walls-share.md
  .changeset/frolicking-panthers-shrink.md
  .changeset/gentle-cougars-report.md
  .changeset/many-pugs-exist.md
  .changeset/olive-bags-smoke.md
  .changeset/purple-astronauts-joke.md
  .changeset/quick-rocks-shine.md
  .changeset/rich-shirts-sink.md
  .changeset/short-years-itch.md
  .changeset/tricky-jobs-marry.md
  RELEASE_NOTES/2.0.0-rc.1.0.0.md
Labels: release-blocking

#19131 docs(odsp-client): Add `packageDocumentation` and update README
  packages/service-clients/odsp-client/README.md
  packages/service-clients/odsp-client/api-report/odsp-client.api.md
  packages/service-clients/odsp-client/src/index.ts
Labels: public api change, base: main

#19136 fix: URI Root for API docs generation
  docs/api-markdown-documenter/index.js
Labels: area: website, base: main

#19135 build(client): Tag asserts
  packages/dds/sequence/src/defaultMap.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/tree/src/codec/versioned/codec.ts
  packages/dds/tree/src/core/rebase/revisionTagCodec.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/contextuallyTyped.ts
  packages/dds/tree/src/feature-libraries/forest-summary/codec.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/feature-libraries/storedToViewSchema.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/util/utils.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#19111 [bump] build-tools: 0.29.0 => 0.30.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/readme-command/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#19138 build: increase CI build timeout to 90 min
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#19083 (odsp-client): Create fluid files in folders
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  packages/service-clients/end-to-end-tests/odsp-client/src/test/OdspClientFactory.ts
  packages/service-clients/odsp-client/README.md
  packages/service-clients/odsp-client/api-report/odsp-client.api.md
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/odsp-client/src/test/odspClient.spec.ts
Labels: area: examples, public api change, base: main

#19146 bug fix(docs): v2 breadcrumb wrong links
  docs/themes/thxvscode/layouts/partials/breadcrumb.html
Labels: area: website, base: main

#19145 feat(azure-service-utils): Promote generateToken from @internal to @alpha to ensure API docs are generated for it.
  azure/packages/azure-service-utils/api-report/azure-service-utils.api.md
  azure/packages/azure-service-utils/src/generateToken.ts
Labels: public api change, base: main

#19151 tree: Remove cycle
  packages/dds/tree/.dependency-cruiser-known-violations.json
  packages/dds/tree/src/feature-libraries/sequence-field/index.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
Labels: area: dds, area: dds: tree, base: main

#19154 tree: Split files to fix cycle
  packages/dds/tree/.dependency-cruiser-known-violations.json
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKindWithEditor.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/isNeverTree.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/isNeverTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19158 docs: Fix embed line numbers for Counter document
  docs/content/docs/data-structures/counter.md
Labels: documentation, base: main

#19155 SharePoint Embedded Update
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/deployment/service-options.md
  docs/content/docs/deployment/sharepoint-embedded.md
Labels: documentation, base: main

#19160 remove recipes
  docs/content/docs/deployment/teams.md
  docs/content/docs/recipes/_index.md
  docs/content/docs/recipes/angular.md
  docs/content/docs/recipes/audience-react.md
  docs/content/docs/recipes/collaborative-text-area.md
  docs/content/docs/recipes/node.md
  docs/content/docs/recipes/react.md
  docs/content/docs/recipes/redux.md
  docs/content/docs/recipes/signals.md
  docs/content/docs/recipes/temporary-storage.md
  docs/content/docs/recipes/vue.md
  docs/content/docs/recipes/web-components.md
Labels: documentation, base: main

#19123 Add more granular summary write metrics
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/src/utils/gitrestTelemetryDefinitions.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/writeWholeSummary.ts
  server/gitrest/packages/gitrest/config.json
  server/historian/packages/historian/config.json
Labels: area: server, base: main

#19153 tree(feat): Revertible lifetime management
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/revertible/index.ts
  packages/dds/tree/src/core/revertible/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19163 updated link to YT video and dev blog for beta release
  docs/config.yml
  docs/content/_index.md
Labels: documentation, area: website, base: main

#19164 remove recipes from all nav
  docs/config.yml
Labels: area: website, base: main

#19165 docs: Update menu positions
  docs/content/docs/deployment/azure-frs.md
  docs/content/docs/deployment/teams.md
Labels: documentation, base: main

#19166 Update name of test
  packages/test/test-end-to-end-tests/src/test/summarizeRestart.spec.ts
Labels: area: tests, base: main

#19162 fix(Tree): Purge repair data on schema change
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree-core/branch.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19082 Additional tests for "future" ops with compatDetails (stress tests, e2e tests)
  packages/runtime/container-runtime/api-report/container-runtime.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-service-load/src/testConfigFile.ts
  packages/test/test-service-load/testConfig.json
Labels: area: runtime, area: tests, public api change, base: main

#19168 Make example utils enable idCompressor
  examples/utils/example-utils/src/containerViewRuntimeFactory.ts
Labels: area: examples, base: main

#19172 refactor(tree): remove unnecessary type params from delta
  packages/dds/tree/api-report/tree.api.md
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/test/feature-libraries/deltaUtils.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, public api change, area: dds: tree, base: main

#19175 fix import in forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
Labels: area: dds, area: dds: tree, base: main

#19178 build(fluid-framework): Bundle `@fluidframework/driver-definitions`
  packages/framework/fluid-framework/api-extractor.json
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
Labels: area: framework, public api change, base: main

#19174 tree: More list to array renames
  packages/dds/tree/src/simple-tree/README.md
  packages/dds/tree/src/simple-tree/flexNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/rawNode.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/treeArrayNode.ts
  packages/dds/tree/src/simple-tree/types.ts
Labels: area: dds, area: dds: tree, base: main

#19173 Stress Test: Tweak testConfig for futureOpRatePerMin
  packages/test/test-service-load/testConfig.json
Labels: area: tests, base: main

#19177 build(fluid-framework): Bundle `@fluidframework/fluid-static`
  packages/framework/fluid-framework/api-extractor.json
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/src/types.ts
Labels: area: framework, public api change, base: main

#19180 [Port main] Add require in exports for container runtime for node modules in package json (#19161)
  packages/runtime/container-runtime/package.json
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: runtime, area: tests, base: main

#19176 build(fluid-framework): Bundle `@fluidframework/container-definitions`
  packages/framework/fluid-framework/api-extractor.json
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, public api change, base: main

#19183 tree: Add explicit use after free/delete check in simple-tree
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/flexNode.ts
  packages/dds/tree/src/simple-tree/treeApi.ts
Labels: area: dds, area: dds: tree, base: main

#18995 Add test verifying retryAfter on Nack
  packages/loader/container-loader/src/test/connectionManager.spec.ts
Labels: area: loader, base: main

#19005 Move external controller under example directory
  examples/service-clients/azure-client/external-controller/.eslintrc.cjs
  examples/service-clients/azure-client/external-controller/.gitignore
  examples/service-clients/azure-client/external-controller/.npmignore
  examples/service-clients/azure-client/external-controller/CHANGELOG.md
  examples/service-clients/azure-client/external-controller/LICENSE
  examples/service-clients/azure-client/external-controller/README.md
  examples/service-clients/azure-client/external-controller/jest-puppeteer.config.js
  examples/service-clients/azure-client/external-controller/jest.config.js
  examples/service-clients/azure-client/external-controller/package.json
  examples/service-clients/azure-client/external-controller/src/AzureFunctionTokenProvider.ts
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/controller.ts
  examples/service-clients/azure-client/external-controller/src/index.html
  examples/service-clients/azure-client/external-controller/src/view.ts
  examples/service-clients/azure-client/external-controller/tests/diceRoller.test.ts
  examples/service-clients/azure-client/external-controller/tests/index.html
  examples/service-clients/azure-client/external-controller/tests/index.ts
  examples/service-clients/azure-client/external-controller/tsconfig.json
  examples/service-clients/azure-client/external-controller/webpack.config.js
  examples/service-clients/azure-client/external-controller/webpack.dev.js
  examples/service-clients/azure-client/external-controller/webpack.prod.js
  examples/service-clients/azure-client/external-controller/webpack.test.js
  pnpm-lock.yaml
  tools/pipelines/build-client.yml
Labels: area: examples, area: build, dependencies, base: main

#19088 Always log the error from `OrderSequentially`
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, base: main

#19189 tree: Simplify inventory list invalidation
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
Labels: area: examples, base: main

#19170 Avoid sending "BlobOnlyStorageWrongCall" event while getting policies
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#19191 Fix more configmaps
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
Labels: area: server, base: main

#19195 Fix configmaps fix - remove comma
  server/charts/historian/templates/gitrest-configmap.yaml
Labels: area: server, base: main

#19196 Last configmap fix - remove comma
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
Labels: area: server, base: main

#19192 MergeTree: Handle removes and obliterates in getMarkerById
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/client.searchForMarker.spec.ts
Labels: area: dds, base: main

#19199 docs: Fix various API links in the repo
  azure/packages/azure-client/src/interfaces.ts
  common/lib/protocol-definitions/src/config.ts
  packages/dds/tree/src/domains/leafDomain.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/simple-tree/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/drivers/routerlicious-driver/src/tokens.ts
  packages/framework/client-logger/app-insights-logger/src/fluidAppInsightsLogger.ts
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/loader/container-loader/src/loader.ts
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/service-clients/odsp-client/src/odspAudience.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
Labels: area: framework, area: loader, area: driver, area: dds, area: dds: tree, base: main

#19185 Add snapshot tests for IdCompressor
  packages/runtime/id-compressor/package.json
  packages/runtime/id-compressor/src/test/snapshots/files/compressor-with-finalized-range-from-one-client
  packages/runtime/id-compressor/src/test/snapshots/files/compressor-with-finalized-range-from-one-client-client2
  packages/runtime/id-compressor/src/test/snapshots/files/compressors-with-finalized-ranges-from-two-clients
  packages/runtime/id-compressor/src/test/snapshots/files/compressors-with-finalized-ranges-from-two-clients-client2
  packages/runtime/id-compressor/src/test/snapshots/files/empty-compressor-summary
  packages/runtime/id-compressor/src/test/snapshots/files/expansion-semantics
  packages/runtime/id-compressor/src/test/snapshots/files/expansion-semantics-client2
  packages/runtime/id-compressor/src/test/snapshots/summary.spec.ts
Labels: area: runtime, base: main

#19201 server: update r11s deps in Gitrest & Historian
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/templates/historian-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest/config.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/test/routes.spec.ts
  server/historian/packages/historian/config.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#19193 TableBench: Basic comparisons between SharedTree and SharedMatrix
  examples/benchmarks/tablebench/.eslintrc.js
  examples/benchmarks/tablebench/.gitignore
  examples/benchmarks/tablebench/.mocharc.js
  examples/benchmarks/tablebench/.npmignore
  examples/benchmarks/tablebench/LICENSE
  examples/benchmarks/tablebench/README.md
  examples/benchmarks/tablebench/package.json
  examples/benchmarks/tablebench/prettier.config.cjs
  examples/benchmarks/tablebench/src/app.ts
  examples/benchmarks/tablebench/src/azure.ts
  examples/benchmarks/tablebench/src/data.ts
  examples/benchmarks/tablebench/src/index.html
  examples/benchmarks/tablebench/src/index.ts
  examples/benchmarks/tablebench/src/test/table.bench.ts
  examples/benchmarks/tablebench/src/test/tsconfig.json
  examples/benchmarks/tablebench/src/test/utils.ts
  examples/benchmarks/tablebench/src/tree/index.ts
  examples/benchmarks/tablebench/src/tree/schema.ts
  examples/benchmarks/tablebench/tsconfig.esnext.json
  examples/benchmarks/tablebench/tsconfig.json
  examples/benchmarks/tablebench/webpack.config.js
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, area: tests, base: main

#19198 build(docs): Move API model download location from repo root into the docs directory
  .gitignore
  .prettierignore
  docs/.gitignore
  docs/api-markdown-documenter/index.js
  docs/download-apis.js
  docs/readVersionData.js
Labels: area: website, base: main

#19202 GC: Remove includeDDS from GC Tombstone test helper
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#19213 bubble up the duplicate key error
  server/routerlicious/packages/services/src/mongoExceptionRetryRules/mongoError/index.ts
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#19190 docs: specify trigger branch name variable in build docs resources
  tools/pipelines/build-docs.yml
Labels: area: build, base: main

#19142 Handling of the MIP labels update from JoinSession and Fluid Signals from push and exposing them on container
  .changeset/social-pots-clap.md
  .changeset/social-rockets-start.md
  packages/common/container-definitions/api-report/container-definitions.api.md
  packages/common/container-definitions/package.json
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/test/types/validateContainerDefinitionsPrevious.generated.ts
  packages/common/core-interfaces/api-report/core-interfaces.api.md
  packages/common/core-interfaces/src/index.ts
  packages/common/core-interfaces/src/messages.ts
  packages/common/driver-definitions/api-report/driver-definitions.api.md
  packages/common/driver-definitions/package.json
  packages/common/driver-definitions/src/index.ts
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/test/types/validateDriverDefinitionsPrevious.generated.ts
  packages/drivers/file-driver/src/fileDocumentService.ts
  packages/drivers/local-driver/api-report/local-driver.api.md
  packages/drivers/local-driver/package.json
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/local-driver/src/test/types/validateLocalDriverPrevious.generated.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/src/sessionProvider.ts
  packages/drivers/odsp-driver/src/contracts.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentService.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/test/socketTests/deltaConnectionUpdateTests.spec.ts
  packages/drivers/replay-driver/api-report/replay-driver.api.md
  packages/drivers/replay-driver/package.json
  packages/drivers/replay-driver/src/replayDocumentService.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/replay-driver/src/test/types/validateReplayDriverPrevious.generated.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/loader/driver-utils/src/adapters/compression/documentServiceCompressionAdapter.ts
  packages/loader/driver-utils/src/documentServiceProxy.ts
  packages/loader/driver-utils/src/test/summaryCompresssionTester.spec.ts
  packages/loader/test-loader-utils/api-report/test-loader-utils.api.md
  packages/loader/test-loader-utils/src/mockDocumentService.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.api.md
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/test/test-service-load/src/faultInjectionDriver.ts
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
Labels: area: runtime, area: loader, area: driver, area: tests, area: odsp-driver, public api change, base: main

#19216 Tree: Fix bug where move endpoints were not correctly updated during composition
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceChangeRebaser.test.ts
Labels: area: dds, area: dds: tree, base: main

#19223 Fix parsing of signals content in odsp
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
Labels: area: driver, area: odsp-driver, base: main

#19231 fix: Update lockfiles
  common/lib/common-definitions/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
Labels: base: main

#19230 fix(ci): Update CI triggers so they react to changes to common build files
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-definitions.yml
  tools/pipelines/build-protocol-definitions.yml
Labels: area: build, base: main

#19219 converts repo-policy-check pipeline to 1ES template
  tools/pipelines/repo-policy-check.yml
Labels: area: build, base: main

#18690 Remove deprecated SingleRT flow in odsp-driver
  .changeset/slow-seas-rhyme.md
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.api.md
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.generated.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.api.md
  packages/drivers/odsp-driver/src/createFile.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/test/buildOdspShareLinkReqParams.spec.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
Labels: area: driver, area: odsp-driver, community-contribution, public api change, release-blocking, base: main

#19237 docs(fluid-framework): Update package README and `@packageDocumentation` comment for 2.0
  docs/build-redirects.js
  packages/framework/fluid-framework/README.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: website, base: main

#19115 GC: Two-Stage Auto-recovery on Tombstone Load error
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/index.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: runtime, area: tests, base: main

#19233 Added instructions to enable sending of Devtools usage telemetry to K…
  packages/tools/devtools/devtools-browser-extension/README.md
Labels: base: main

#19247 Maintain alphabetical order in extensions list
  .devcontainer/devcontainer.json
Labels: base: main

#19232 Sample compressor events, fix passing logger, test finalizing ranges on attach
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/id-compressor/api-report/id-compressor.api.md
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
Labels: area: runtime, public api change, base: main

#19220 Gitrest: Add RedisFs HashMap Optimization
  server/charts/historian/templates/gitrest-configmap.yaml
  server/charts/historian/values.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/routes/git/blobs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/git/refs.ts
  server/gitrest/packages/gitrest-base/src/routes/git/tags.ts
  server/gitrest/packages/gitrest-base/src/routes/git/trees.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/commits.ts
  server/gitrest/packages/gitrest-base/src/routes/repository/contents.ts
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/test/summaries.spec.ts
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/filesystems.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redis.ts
  server/gitrest/packages/gitrest-base/src/utils/redisFs/redisFsManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest/config.json
  server/gitrest/pnpm-lock.yaml
Labels: area: server, base: main

#19211 fix(matrix): Expand collab window to include refSeqs of in-flight ops
  .prettierignore
  packages/dds/matrix/.eslintrc.cjs
  packages/dds/matrix/package.json
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/matrix.reconnect.spec.ts
  packages/dds/merge-tree/api-report/merge-tree.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#19250 Fix tab->space and indentation in template file for historian chart
  server/charts/historian/templates/gitrest-configmap.yaml
Labels: area: server, base: main

#19252 Explicit imports of generator helpers in DDS Fuzz
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
Labels: area: dds, base: main

#19257 Fix another tab->space issue in template file for historian chart
  server/charts/historian/templates/historian-configmap.yaml
Labels: area: server, base: main

#19234 GC: Remove unreferenced state tracking immediately upon detecting new reference
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/gcUnreferencedStateTracker.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcInactiveNodes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcStats.spec.ts
Labels: area: runtime, area: tests, base: main

#19264 fix(test-version-utils): Fix cross verison compat issues
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoreRetrieval.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizeIncrementally.spec.ts
  packages/test/test-version-utils/compatOptions.cjs
  packages/test/test-version-utils/src/describeCompat.ts
Labels: area: tests, base: main

#19259 refactor(fluid-static): Upgrade eslint config from "minimal" to "strict", and fix violations
  packages/framework/fluid-static/.eslintrc.cjs
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/serviceAudience.ts
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework, public api change, base: main

#19266 cleanup(test-end-to-end-tests): Cleanup TODOs and link to new ADO items
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
  packages/test/test-end-to-end-tests/src/test/audience.spec.ts
  packages/test/test-end-to-end-tests/src/test/dataStoreRetrieval.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarizeIncrementally.spec.ts
Labels: area: tests, base: main

#19248 Refactor(tree): remove optional field dependency on rollback metadata
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
Labels: base: main

#19268 tools(tree): Simplify eslint config
  packages/dds/tree/.eslintrc.cjs
Labels: base: main

#19235 perf(tree): support fast-forwarding of local branch commits
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#19269 refactor(map): Upgrade eslint config from "minimal" to "recommended"
  packages/dds/map/.eslintrc.cjs
  packages/dds/map/src/directory.ts
  packages/dds/map/src/interfaces.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/directory.order.spec.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/map/src/test/mocha/directoryEquivalenceUtils.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/dds/map/src/test/mocha/rebasing.spec.ts
  packages/dds/map/src/test/mocha/reconnection.spec.ts
Labels: area: dds, base: main

#19272 Solo editing perf track local branch array
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
Labels: area: dds, area: dds: tree, base: main

#19243 Converts build-api-markdown-documenter.yml pipeline to 1ES template
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/templates/1ES/build-npm-package.yml
  tools/pipelines/templates/1ES/include-policy-check.yml
  tools/pipelines/templates/1ES/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/1ES/include-publish-npm-package.yml
Labels: area: build, base: main

#18425 (odsp-client): Move file name and path closer to attachment flow
  examples/service-clients/odsp-client/shared-tree-demo/src/index.tsx
  packages/framework/fluid-framework/api-report/fluid-framework.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/framework/fluid-static/api-report/fluid-static.api.md
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/types.ts
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/service-clients/odsp-client/src/odspClient.ts
Labels: area: examples, area: framework, public api change, base: main

#19265 Remove dangling references to prague ACR
  .devcontainer/docker-compose.yml
  server/historian/README.md
  server/historian/docker-compose.debug.yml
  server/historian/docker-compose.dev.yml
  server/historian/docker-compose.yml
  server/historian/package.json
  server/routerlicious/kubernetes/README.md
  server/routerlicious/kubernetes/routerlicious/values.yaml
Labels: area: server, base: main

#19280 server: Update Gitrest and Historian logger setups
  server/gitrest/packages/gitrest-base/src/logger.ts
  server/historian/packages/historian-base/src/logger.ts
  server/routerlicious/packages/services-telemetry/src/lumberjack.ts
  server/routerlicious/packages/services-telemetry/src/lumberjackCommonTestUtils.ts
  server/routerlicious/packages/services-telemetry/src/test/lumberjack.spec.ts
Labels: area: server, base: main
