Repository microsoft/FluidFramework, pull requests merged in 2025-03, with the labels that each got.

#23953 fix(publish:tarballs): Fix unhandled exception when publish fails
  build-tools/packages/build-cli/src/commands/publish/tarballs.ts
Labels: area: build, base: main

#23895 build(client): Clean up changesets for 2.23 release
  .changeset/afraid-snails-speak.md
  .changeset/blue-plants-act.md
  .changeset/large-heads-jog.md
  .changeset/purple-ideas-switch.md
  .changeset/real-doodles-draw.md
  .changeset/tender-rabbits-speak.md
Labels: release-blocking, base: main, changeset-present

#23960 Tag asserts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23963 feat(devtools-core): Remove `IFluidLoadble` in FluidObject
  packages/tools/devtools/devtools-test-app/src/FluidObject.ts
Labels: base: main

#23976 build(client): Bump deps on vite to latest
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#23981 Removal of unnecessary exports in container-runtime package
  .changeset/solid-brooms-drum.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23983 Fix cross version compatibility for op compression e2e tests
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
Labels: area: tests, base: main

#23988 More updates to external-views example for best practices
  examples/view-integration/external-views/package.json
  examples/view-integration/external-views/src/app.ts
  examples/view-integration/external-views/src/container/diceRoller/diceRoller.ts
  examples/view-integration/external-views/src/container/diceRoller/index.ts
  examples/view-integration/external-views/src/container/diceRoller/interface.ts
  examples/view-integration/external-views/src/container/index.ts
  examples/view-integration/external-views/src/container/runtimeFactory.ts
  examples/view-integration/external-views/src/view.tsx
  examples/view-integration/external-views/tests/app.ts
  examples/view-integration/external-views/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23994 refactor(tree): move initializeForest to feature-libraries
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/core/forest/index.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/initializeForest.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23990 refactor(container-runtime): Move summarizer-related code from containerRuntime.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryHelpers.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summarizerHeuristics.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
Labels: area: runtime, base: main

#23995 refactor(tree): use partial to clean up visitor util
  packages/dds/tree/src/core/tree/visitorUtils.ts
Labels: area: dds, area: dds: tree, base: main

#23972 refactor(container-runtime): Extract telemetry-processing logic for signals to a separate class
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/signalTelemetryProcessing.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: area: runtime, base: main

#23999 feat(server): Add compression middleware to Gitrest
  server/gitrest/packages/gitrest-base/src/app.ts
Labels: area: server, base: main

#23970 Cleanup tree test asserts a bit
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/feature-libraries/treeCursorUtils.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24000 Refactor test helpers
  packages/test/test-version-utils/src/index.ts
  packages/test/test-version-utils/src/itSkipsOnFailure.ts
Labels: area: tests, base: main

#24004 Document ReferenceCounted
  packages/dds/tree/src/util/referenceCounting.ts
Labels: area: dds, area: dds: tree, base: main

#23984 refactor(container-runtime): Improvements around telemetry-processing logic for signals
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/signalTelemetryProcessing.ts
Labels: area: runtime, base: main

#24009 Fix chunking of empty ranges
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24005 build: Update syncpack
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  build-tools/syncpack.config.cjs
  package.json
  pnpm-lock.yaml
  syncpack.config.cjs
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, dependencies, base: main

#23964 Run copy results after tests failures
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-test-task.yml
Labels: area: build, base: main

#24008 Upgrade pnpm 9.15.3 to 9.15.7
  build-tools/package.json
  common/lib/common-utils/package.json
  common/lib/protocol-definitions/package.json
  docs/package.json
  package.json
  server/gitrest/package.json
  server/historian/package.json
  server/routerlicious/package.json
  tools/api-markdown-documenter/package.json
  tools/getkeys/package.json
Labels: area: server, area: build, area: website, base: main

#23980 build(server,common): Upgrade mocha to latest minor (10.8.2)
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#24002 Update type tests
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#23244 node 16 debt: remove ./test/EditLog export
  .changeset/gentle-needles-own.md
  examples/version-migration/tree-shim/src/model/inventoryList.ts
  experimental/dds/tree/api-report/experimental-tree.alpha.api.md
  experimental/dds/tree/package.json
  experimental/dds/tree/src/EditLog.ts
  fluidBuild.config.cjs
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/storingHandles.spec.ts
Labels: area: examples, area: dds, area: tests, public api change, area: dds: tree, base: main, changeset-present

#23959 improvement(client): misc cleanup
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, base: main

#23977 build(api-markdown-documenter): Remove unused deps and upgrade fluid deps
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: base: main

#24022 Run lint:fix on Container Runtime to remove suprious deprecations
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#24024 Corrected typos and also added default timeout logging
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/restWrapper.ts
Labels: area: server, public api change, base: main

#24019 Update logs to verbose + Add lastSuccessfulOffset to logs
  server/routerlicious/packages/lambdas-driver/src/document-router/contextManager.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentContext.ts
Labels: area: server, base: main

#24025 Exclude .next folder from VSCode search
  .vscode/settings.json
Labels: base: main

#23996 Optimizations for alias tests which are flaky and timeout
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
Labels: area: tests, base: main

#23512 Remove assert policy check references
  package.json
Labels: base: main

#23936 Add some (mostly failing) generic schema type tests
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
Labels: area: dds, area: dds: tree, base: main

#21725 feat(client): JsonSerializable and JsonDeserialized
  fluidBuild.config.cjs
  packages/common/core-interfaces/.eslintrc.cjs
  packages/common/core-interfaces/.gitignore
  packages/common/core-interfaces/api-extractor/api-extractor-lint-bundle.json
  packages/common/core-interfaces/internal.d.ts
  packages/common/core-interfaces/internal/exposedUtilityTypes.d.ts
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/cjs/package.json
  packages/common/core-interfaces/src/exposedInternalUtilityTypes.ts
  packages/common/core-interfaces/src/exposedUtilityTypes.ts
  packages/common/core-interfaces/src/internal.ts
  packages/common/core-interfaces/src/jsonDeserialized.ts
  packages/common/core-interfaces/src/jsonSerializable.ts
  packages/common/core-interfaces/src/jsonSerializationErrors.ts
  packages/common/core-interfaces/src/jsonType.ts
  packages/common/core-interfaces/src/test/jsonDeserialized.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.exactOptionalPropertyTypes.false.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.exactOptionalPropertyTypes.true.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/testUtils.ts
  packages/common/core-interfaces/src/test/testValues.ts
  packages/common/core-interfaces/src/test/tsconfig.json
  packages/common/core-interfaces/src/test/tsconfig.no-exactOptionalPropertyTypes.json
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/api-extractor.json
  packages/framework/presence/api-extractor/api-extractor-lint-bundle.json
  packages/framework/presence/package.json
  packages/framework/presence/src/cjs/package.json
  packages/framework/presence/src/container-definitions/containerExtensions.ts
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/exposedUtilityTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/test/testUtils.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#24027 Docs: Fix comment typo
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
Labels: area: dds, area: dds: tree, base: main

#24031 Added warning logging for retries
  server/routerlicious/packages/services-core/src/runWithRetry.ts
Labels: area: server, base: main

#24038 Revert "Run copy results after tests failures"
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-test-task.yml
Labels: area: build, base: main

#24014 Allow access to rootChanged via TreeBranchEvents
  .changeset/hungry-insects-push.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24039 Local Server Stress: Timeout external promises to ease debugging
  packages/test/local-server-stress-tests/src/ddsOperations.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
Labels: area: tests, base: main

#24028 Add simple-tree API integration tests, with one failing test
  packages/dds/tree/src/test/simple-tree/api/integrationTests.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24042 skip r11s driver on load offline with blob redirect table test
  packages/test/test-end-to-end-tests/src/test/offline/waitForSummary.spec.ts
Labels: area: tests, base: main

#24043 Enable no-unchecked-record-access for client packages
  examples/apps/presence-tracker/.eslintrc.cjs
  experimental/dds/sequence-deprecated/.eslintrc.cjs
  packages/drivers/debugger/.eslintrc.cjs
  packages/drivers/local-driver/.eslintrc.cjs
  packages/service-clients/end-to-end-tests/azure-client/.eslintrc.cjs
  packages/test/local-server-stress-tests/.eslintrc.cjs
  packages/test/local-server-tests/.eslintrc.cjs
  packages/test/test-drivers/.eslintrc.cjs
  packages/tools/devtools/devtools-browser-extension/.eslintrc.cjs
  packages/tools/devtools/devtools-test-app/.eslintrc.cjs
  packages/utils/tool-utils/.eslintrc.cjs
Labels: base: main

#24037 Fix test to use createContainerRuntimeFactoryWithDefaultDataStore
  packages/test/test-end-to-end-tests/src/test/summarization/summaryHandles.spec.ts
Labels: area: tests, base: main

#23987 Add scopedFactory
  .changeset/grumpy-crabs-hide.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24050 Bumped r11 versions
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23899 feat(tree): store detached node ids on anchor nodes
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/core/tree/pathTree.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/core/tree/visitorUtils.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/mappedEditBuilder.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24053 Reduce calls from Deli to Historian
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
Labels: area: server, base: main

#24030 Better lazy schema references
  .changeset/new-cooks-remain.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/flexList.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/dds/tree/src/test/simple-tree/flexList.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23950 Add generateSchemaFromSimpleSchema
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFromSimple.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24023 Best effort attempt to upgrade publish docker service to 1es deployment job
  tools/pipelines/templates/include-publish-docker-service-steps.yml
Labels: area: build, base: main

#24055 improvement(merge-tree): Make perspectives support client ids and introduce OperationStamp
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/stamps.ts
  packages/dds/merge-tree/src/test/perspective.spec.ts
  packages/dds/merge-tree/src/test/stamps.spec.ts
Labels: area: dds, base: main

#24048 Bump nanoid past 3.3.6 (per component governance warning)
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
Labels: area: server, base: main

#24063 Local Server Stress: Fix race with dispose/close during synchronize
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
Labels: area: tests, base: main

#24064 Rename nodeKey to nodeIdentifier to match convention in public API and avoid confusion with field keys.
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/node-key/index.ts
  packages/dds/tree/src/feature-libraries/node-key/mockNodeKeyManager.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKey.ts
  packages/dds/tree/src/feature-libraries/node-key/nodeKeyManager.ts
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utils.ts
  packages/dds/tree/src/test/feature-libraries/node-key/nodeKey.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
  packages/dds/tree/src/test/utils.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24065 More nodeKey to nodeIdentifier renames
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/node-identifier/README.md
  packages/dds/tree/src/feature-libraries/node-identifier/index.ts
  packages/dds/tree/src/feature-libraries/node-identifier/mockNodeIdentifierManager.ts
  packages/dds/tree/src/feature-libraries/node-identifier/nodeIdentifier.ts
  packages/dds/tree/src/feature-libraries/node-identifier/nodeIdentifierManager.ts
  packages/dds/tree/src/feature-libraries/node-key/README.md
  packages/dds/tree/src/test/feature-libraries/node-identifier/nodeIdentifier.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24066 Relax error validation to support Node versions both before/after 20.18.1
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: tests, base: main

#23740 Disable older version E2E testing against ODSP
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/describeCompat.ts
Labels: area: tests, base: main

#24017 (tree) Docs, comments and other small updates to forest
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/README.md
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/README.md
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24068 tag asserts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24071 improvement(merge-tree): Optimize TestClientLogger
  packages/dds/merge-tree/src/test/testClientLogger.ts
Labels: area: dds, base: main

#24044 Test debugAsserts are removed from bundle
  examples/utils/bundle-size-tests/.eslintrc.cjs
  examples/utils/bundle-size-tests/.mocharc.cjs
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/src/debugAssert.ts
  examples/utils/bundle-size-tests/src/test/checkDebugAsserts.spec.ts
  examples/utils/bundle-size-tests/src/test/tsconfig.json
  examples/utils/bundle-size-tests/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#24018 (op bunching) Removed deprecated process function and related code
  .changeset/three-sheep-stick.md
  experimental/dds/tree/src/migration-shim/migrationDeltaHandler.ts
  experimental/dds/tree/src/migration-shim/sharedTreeDeltaHandler.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreChannel.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/test/types/validateDatastoreDefinitionsPrevious.generated.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
  packages/tools/replay-tool/src/unknownChannel.ts
Labels: area: framework, area: runtime, area: dds, area: tests, public api change, release-blocking, area: dds: tree, base: main, changeset-present

#24074 Benchmarking: Fix units of margin of error on results printout
  tools/benchmark/src/runBenchmark.ts
Labels: base: main

#23840 Deprecate `getContainerPackageInfo` public api from container.ts
  .changeset/late-chairs-fall.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, public api change, base: main, changeset-present

#24046 Remove deprecated summarizeProtocolTree option [breaking]
  .changeset/large-sites-admire.md
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
Labels: area: loader, public api change, release-blocking, base: main, changeset-present

#24077 build: Update changesets for clarity and consistency
  .changeset/gentle-needles-own.md
  .changeset/grumpy-crabs-hide.md
  .changeset/hungry-insects-push.md
  .changeset/large-sites-admire.md
  .changeset/little-signs-wonder.md
  .changeset/solid-brooms-drum.md
  .changeset/three-sheep-stick.md
Labels: base: main, changeset-present

#24069 Release notes for 2.30.0
  RELEASE_NOTES/2.30.0.md
Labels: base: main

#24032 Remove handle encoding for summary nodes
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/test/summaryNodeUtils.spec.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
Labels: area: runtime, base: main

#24081 docs(client-presence): fix comment for IPresence.events
  packages/framework/presence/src/presence.ts
Labels: area: framework, base: main

#24047 improvement(merge-tree): Revamp in-memory representation to thoroughly leverage perspectives
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/stamps.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.getPosition.spec.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insert.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/perspective.spec.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/merge-tree/src/test/text.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, base: main

#24084 Use Maps instead of records, and document property vs stored keys
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/getJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/api/simpleSchema.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
Labels: area: framework, area: dds, area: dds: tree, base: main

#24026 Test/seanimam/publish npm package 1es deployment security fix
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24090 DDS Fuzz: Make reducers sync for easier re-use
  packages/dds/map/src/test/mocha/fuzzUtils.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/failure.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/dds/test-dds-utils/src/test/sharedNothing.ts
  packages/dds/tree/src/test/shared-tree/fuzz/composeVsIndividual.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/test/local-server-stress-tests/src/ddsOperations.ts
Labels: area: dds, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#24094 refactor(ci): Upload npm logs in test pipelines
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-upload-npm-logs.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#24057 tools(client): build-and-test commands
  fluidBuild.config.cjs
  package.json
  packages/common/core-interfaces/package.json
Labels: base: main

#23522 test(ContainerRuntime) Improve op critical path benchmark tests
  packages/test/test-end-to-end-tests/src/test/benchmark/opCriticalPath.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-utils/api-report/test-utils.legacy.alpha.api.md
  packages/test/test-utils/src/testObjectProvider.ts
Labels: area: tests, public api change, base: main

#24097 Use encode safe characters in encodeCompactIdToString()
  packages/runtime/runtime-utils/src/test/utils.spec.ts
  packages/runtime/runtime-utils/src/utils.ts
Labels: area: runtime, base: main

#24091 Scrub non-ASCII characters from unexpectedAckReceived event
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#24080 improvement(client-tree): additional type safety for recursive schema
  .changeset/blue-eels-invite.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24102 (test runtime mocks) Add ref seq# to messages in MockContainerRuntime during submit
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, public api change, base: main

#24088 Typing tweaks to reduce size of type declarations
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/test/jsonDomainSchema.spec.ts
  packages/dds/tree/src/util/typeCheck.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main

#24107 SharedString: Fix sending ops during rollback
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeDeltaCallback.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/client.rollbackFarm.spec.ts
  packages/dds/merge-tree/src/test/client.searchForMarker.spec.ts
  packages/dds/merge-tree/src/test/propertyManager.spec.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main

#24103 refactor(merge-tree): Simplify direct usages of MergeTree in tests
  packages/dds/merge-tree/src/test/Insertion.perf.spec.ts
  packages/dds/merge-tree/src/test/PartialLengths.perf.spec.ts
  packages/dds/merge-tree/src/test/Removal.perf.spec.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/client.annotateMarker.spec.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/client.searchForMarker.spec.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insert.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/partialLength.spec.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Labels: area: dds, base: main

#24109 More recursive schema tests for tree
  examples/utils/import-testing/src/test/importer.spec.ts
  examples/utils/import-testing/src/testExports.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#24106 Remove unused feature flag "Fluid.ContainerRuntime.DisablePartialFlush"
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/test/test-end-to-end-tests/src/test/fewerBatches.spec.ts
Labels: area: runtime, area: dds, area: tests, area: dds: tree, base: main

#24108 New feature gate for enabling shortids
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaryHandles.spec.ts
Labels: area: runtime, area: tests, base: main

#24105 Local Server Stress: Support for orderSequentially and fix rollback bugs
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/test/local-server-stress-tests/src/baseModel.ts
  packages/test/local-server-stress-tests/src/ddsOperations.ts
  packages/test/local-server-stress-tests/src/dirname.cts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/stochastic-test-utils/src/performActions.ts
Labels: area: runtime, area: tests, base: main

#24115 Skip new tests (flaky in pipelines)
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
Labels: area: tests, base: main

#24116 Fix Timeout Utils Memory Leak
  packages/test/test-utils/src/timeoutUtils.ts
Labels: area: tests, base: main

#24128 Rollback doesn't work if you clear the batch after creating the checkpoint
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
Labels: area: runtime, base: main

#24089 Add onAssertionFailure
  .changeset/cuddly-donuts-guess.md
  packages/common/core-utils/src/assert.ts
  packages/common/core-utils/src/index.ts
  packages/common/core-utils/src/test/assert.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/package.json
  packages/framework/fluid-framework/src/index.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main, changeset-present

#24098 Increase stack trace limit for Garbage Collection errors.
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/utils/telemetry-utils/src/error.ts
Labels: area: runtime, base: main

#24123 Make FieldSchema compatible with SimpleFieldSchema
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24125 fix(ci): Fix pipeline that calculates bundle size baselines
  tools/pipelines/build-bundle-size-artifacts.yml
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
Labels: area: build, base: main

#24112 Fix .mocharc files in two packages
  packages/dds/test-dds-utils/.mocharc.cjs
  packages/dds/test-dds-utils/.mocharc.harnessTests.cjs
  packages/dds/test-dds-utils/package.json
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/framework/ai-collab/.mocharc.cjs
  packages/test/mocha-test-setup/mocharc-common.cjs
Labels: area: dds, area: tests, base: main

#24134 ContainerRuntime: Use RunCounter for batches and reentrancy
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/runCounter.ts
  packages/runtime/container-runtime/src/test/runCounter.spec.ts
Labels: area: runtime, base: main

#24121 Checkout same commit for build and tests jobs
  tools/pipelines/templates/build-npm-client-package.yml
Labels: area: build, base: main

#23925 Swap order of client comparison in fuzz harnesses
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
Labels: area: dds, area: tests, base: main

#24118 Upgrades release/client/2.23 pipeline deployment jobs to be 1ES compliant
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: release

#24104 refactor(merge-tree): Clean up Perspective API
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/perspective.ts
Labels: area: dds, base: main

#24133 Update scriptorium config and error filter + Add some logs
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas-driver/src/document-router/contextManager.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentContext.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas/src/scriptorium/lambda.ts
  server/routerlicious/packages/routerlicious/config/config.json
Labels: area: server, base: main

#24129 Add TODOs for client packages that still need noUncheckedIndexedAccess
  packages/dds/matrix/tsconfig.json
  packages/dds/merge-tree/tsconfig.json
  packages/drivers/odsp-driver/tsconfig.json
  packages/drivers/replay-driver/tsconfig.json
  packages/drivers/routerlicious-driver/tsconfig.json
  packages/loader/container-loader/tsconfig.json
  packages/loader/driver-utils/tsconfig.json
  packages/runtime/container-runtime/tsconfig.json
  packages/tools/fetch-tool/tsconfig.json
Labels: area: runtime, area: loader, area: driver, area: dds, area: odsp-driver, base: main

#24140 docs: Update API docs links to point to `fluid-framework` where practical, rather than lower-level packages
  docs/docs/build/container-states-events.mdx
  docs/docs/build/containers.mdx
  docs/docs/data-structures/tree/index.mdx
  docs/docs/data-structures/tree/schema-definition.mdx
  docs/docs/start/tree-start.mdx
Labels: base: main

#24144 Enabled rejecting token signing when the tenant does not have private keys
  server/routerlicious/packages/routerlicious-base/src/riddler/api.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/routerlicious-base/src/test/riddler/tenantManager.spec.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24141 build(experimental-tree): Update doc model config to not conflict with production tree package
  experimental/dds/tree/api-extractor.json
Labels: area: dds, area: dds: tree, base: main

#24135 Ensure sharedTreeAttributes can be imported without pulling in lots of other stuff
  .changeset/petite-bags-cheer.md
  examples/utils/bundle-size-tests/src/sharedTreeAttributes.ts
  examples/utils/bundle-size-tests/src/test/checkSizes.spec.ts
  examples/utils/bundle-size-tests/webpack.config.cjs
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/sharedTreeAttributes.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: examples, area: dds, area: dds: tree, base: main, changeset-present

#24153 (gc) Rename garbagecollection.md to README.md and update it
  packages/runtime/container-runtime/src/gc/README.md
Labels: area: runtime, base: main

#24152 Fix an edge case during document lambda resume
  server/routerlicious/packages/lambdas-driver/src/document-router/documentContext.ts
  server/routerlicious/packages/lambdas/src/utils/noOpLambda.ts
Labels: area: server, base: main

#24149 Set maxMessageSize as 900KB in Kafka Op
  server/routerlicious/packages/services-core/src/configuration.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-ordering-kafkanode/src/kafkaNodeProducer.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaProducer.ts
  server/routerlicious/packages/services/src/kafkaProducerFactory.ts
Labels: area: server, base: main

#24143 Align object schema with simple object node schema, and expose as alpha
  .changeset/strong-dragons-build.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/package.json
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_Nested_Array_Schema_But_No_Top_Level_Array.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_No_Plan_No_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_No_Plan_No_Log_No_Arrays.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_With_Plan_No_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_With_Plan_With_Log.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Editing_System_Prompt_With_Plan_With_Log_With_Failed_Edits.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Planning_System_Prompt.snap
  packages/framework/ai-collab/src/test/explicit-strategy/__snapshots__/Prompt_Regression_Snapshot_Tests/Review_System_Prompt.snap
  packages/framework/ai-collab/src/test/explicit-strategy/agentEditing.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24142 Enable use of shortids by default
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaryHandles.spec.ts
Labels: area: runtime, area: tests, base: main

#24113 Add ImplicitFieldSchemaUnsafe
  .changeset/empty-wasps-smile.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24164 Sequence: Replace generic types for IntervalCollections non-generic types
  .changeset/wild-poems-say.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/IntervalCollectionValues.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/idIntervalIndex.ts
  packages/dds/sequence/src/intervalIndex/index.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingSequenceIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/sequenceIntervalIndexes.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/intervalCollection.detached.spec.ts
  packages/dds/sequence/src/test/intervalCollection.events.spec.ts
  packages/dds/sequence/src/test/intervalCollection.perf.spec.ts
  packages/dds/sequence/src/test/intervalCollection.snapshot.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/intervalStashedOps.spec.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/dds/sequence/src/test/revertibles.spec.ts
  packages/dds/sequence/src/test/sharedIntervalCollection.spec.ts
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main, changeset-present

#24151 Revert "build(server,gitrest,historian): Bump build-tools to 0.54"
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24168 Remove some unneeded use of Unenforced
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24167 Add alpha array node types
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/arrayNodeTypes.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24172 Interval Collection: Remove unneeded internal generics
  packages/dds/sequence/src/IntervalCollectionValues.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/intervalCollection.perf.spec.ts
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24171 Yunho/include tenant id in draining check
  server/routerlicious/packages/lambdas/src/deli/lambdaFactory.ts
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/services-core/src/clusterDraining.ts
  server/routerlicious/packages/test-utils/src/testClusterDrainingStatusChecker.ts
Labels: area: server, base: main

#24173 Add MapNodeSchema types
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/mapNodeTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24111 (tree) In TestTreeProviderLite, provide capability to pause and resume processing of messages
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/mocksForOpBunching.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/repairData.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/summary.bench.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/dds/tree/src/test/snapshots/summary/Compressed/v1/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v2/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Compressed/v3/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v1/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v2/has-handle-final.json
  packages/dds/tree/src/test/snapshots/summary/Uncompressed/v3/has-handle-final.json
  packages/dds/tree/src/test/utils.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: runtime, area: dds, public api change, area: dds: tree, base: main

#24175 Use waitForFunction to avoid early evaluation
  examples/version-migration/separate-container/tests/separateContainer.test.ts
Labels: area: examples, base: main

#24138 refactor(merge-tree): Use perspectives in MergeTreeTextHelper
  packages/dds/merge-tree/src/MergeTreeTextHelper.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.insertingWalk.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testServer.ts
  packages/dds/merge-tree/src/textSegment.ts
  packages/dds/sequence/src/sharedString.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24178 Factor out createTreeNodeFromInner
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/schemaCaching.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24177 Set the MaxKafkaMessageSize as 750kb
  server/routerlicious/packages/services-core/src/configuration.ts
Labels: area: server, base: main

#24180 Sequence: Remove deprecated tag in type currently used in Copilot Pages
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24174 IntervalCollection: Remove old value type infrastructure
  packages/dds/sequence/package.json
  packages/dds/sequence/src/IntervalCollectionValues.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/intervals/index.ts
  packages/dds/sequence/src/intervals/interval.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/v1IntervalCollectionHelpers.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24182 IntervalCollection: Postpone deprecation until after next release
  .changeset/wild-poems-say.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#24176 Promote remaining simple schema types to alpha, and fixup schema statics
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24185 Revert "Enable use of shortids by default"
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaryHandles.spec.ts
Labels: area: runtime, area: tests, base: main

#24187 `TreeAlpha.exportConcise` now supports `undefined`
  .changeset/plenty-olives-speak.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24189 build: Update API-Extractor configs to remove workarounds for array merge issue
  common/build/build-common/api-extractor-base.cjs.no-legacy.json
  common/build/build-common/api-extractor-base.esm.no-legacy.json
  common/build/build-common/api-extractor-base.json
  packages/dds/tree/api-extractor/api-extractor.current.json
  packages/framework/fluid-framework/api-extractor/api-extractor.current.json
Labels: area: framework, area: dds, area: build, area: dds: tree, base: main

#24191 More test trees
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/hasAllMetadata.json
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/hasAllMetadataRootField.json
  packages/dds/tree/src/test/snapshots/chunked-forest-schema-compressed/hasDescriptions.json
  packages/dds/tree/src/test/snapshots/schema-files/hasAllMetadata.json
  packages/dds/tree/src/test/snapshots/schema-files/hasAllMetadataRootField.json
  packages/dds/tree/src/test/snapshots/schema-files/hasDescriptions.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasAllMetadata.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasAllMetadataRootField.json
  packages/dds/tree/src/test/snapshots/simple-tree-storedSchema/hasDescriptions.json
  packages/dds/tree/src/test/testTrees.ts
Labels: area: dds, area: dds: tree, base: main

#23917 feat(client-presence): Presence emits`workspaceActivated`when a new workspace is received
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
Labels: area: framework, base: main

#24186 IntervalCollection: Remove op emitter, and related interfaces
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24190 Simplify toSimpleTreeSchema
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24093 (tree) Optimize op bunch processing via branch merge instead of individual commit rebases
  .changeset/fancy-gifts-jam.md
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerPerf.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerScenario.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main, changeset-present

#21965 Update development and CI to Node 20
  .nvmrc
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  package.json
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, base: main

#24193 fix(merge-tree): Fix partial lengths for reconnecting obliterate perspectives
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/obliterate.partialLength.spec.ts
Labels: area: dds, base: main

#24199 build: Update changesets for clarity and consistency
  .changeset/blue-eels-invite.md
  .changeset/cuddly-donuts-guess.md
  .changeset/empty-wasps-smile.md
  .changeset/fancy-gifts-jam.md
  .changeset/petite-bags-cheer.md
  .changeset/strong-dragons-build.md
Labels: base: main, changeset-present

#24197 build(client): Tag asserts for 2.31.0 release
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24075 telemetry(container-runtime): add telemetry for "attached" subsequent first "saved" event
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#24204 IntervalCollection: Use deterministic id in tests
  packages/dds/sequence/src/test/intervalIndexTestUtils.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24209 Revert "Update development and CI to Node 20"
  .nvmrc
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  package.json
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, release-blocking, base: main

#24207 Ensure assert.fail() doesn't get caught and suppressed
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: tests, base: main
