Repository microsoft/FluidFramework, pull requests merged in 2025-08, with the labels that each got.

#25138 refactor(api-markdown-documenter): Remove `LinkNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/LinkToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/LinkToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/LinkToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/LinkToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PhrasingContent.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
Labels: public api change, base: main

#25131 Cleanup related to schema annotations
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/schemaCompatibilityTester.ts
  packages/dds/tree/src/simple-tree/core/allowedTypes.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/unhydratedFlexTreeFromInsertable.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/simple-tree/core/allowedTypes.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#25119 Refactor: Move MinimumVersionForCollab to runtime-definitions
  .changeset/proud-ghosts-doubt.md
  packages/runtime/container-runtime/src/containerCompatibility.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/compatibilityDefinitions.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/compatibilityBase.ts
  packages/runtime/runtime-utils/src/index.ts
Labels: area: runtime, public api change, base: main, changeset-present

#25139 refactor(api-markdown-documenter): Remove `PlainTextNode` and `LineBreakNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/examples/ExtendDocumentationDomain.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/HeadingToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/PlainTextToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/DocumentToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/LineBreakToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/ParagraphToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/PlainTextToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/SpanToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/LineBreakToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/PlainTextToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/DocumentToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/LineBreakToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/ParagraphToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/PlainTextToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/SpanToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ListItemNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PhrasingContent.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableCellNode.ts
  tools/api-markdown-documenter/src/documentation-domain/Utilities.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderDocument.test.ts
Labels: public api change, base: main

#25142 refactor(api-markdown-documenter): Remove `HorizontalRuleNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HierarchicalSectionToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HorizontalRuleToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/HorizontalRuleToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/HorizontalRuleToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
Labels: public api change, base: main

#25144 refactor(api-markdown-documenter): Remove unused properties in `DocumentationNode` hierarchy
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/MarkdownNode.ts
Labels: public api change, base: main

#25146 refactor(api-markdown-documenter): Remove `ParagraphNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateSectionForApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/ParagraphToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/DocumentToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HierarchicalSectionToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/ParagraphToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/ParagraphToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/DocumentToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/ParagraphToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderDocument.test.ts
Labels: public api change, base: main

#25150 build(client): Tag asserts for release 2.52.0
  packages/dds/map/src/mapKernel.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecV2.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24981 feat(container-extensions): true connection status for read and write clients
  packages/common/container-definitions/api-report/container-definitions.beta.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.public.api.md
  packages/common/container-definitions/api-report/container-definitions.public.api.md
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/testUtils.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/runtime/container-runtime-definitions/src/containerExtension.ts
  packages/runtime/container-runtime-definitions/src/index.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.extensions.spec.ts
Labels: area: framework, area: runtime, area: loader, public api change, base: main

#25157 improvement(build-cli): Make `typeValidation` normalization clear value defaults
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/test/commands/typetests.test.ts
  build-tools/packages/build-cli/src/typeValidator/typeValidatorConfig.ts
Labels: area: build, base: main

#25158 build: Update more form-data entries in lockfiles
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main

#25164 build(api-markdown-documenter): Validate formatting in build pipeline
  tools/pipelines/build-api-markdown-documenter.yml
Labels: area: build, base: main

#25162 refactor(api-markdown-documenter): Simplify `DocumentNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/api-markdown-documenter/src/ApiDocument.ts
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Utilities.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/ToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/DocumentToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/ToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/DocumentToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/Render.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderDocument.test.ts
Labels: public api change, base: main

#25123 Add insertBulkAfter and toggle Shared Array ops to fuzz tests.
  packages/dds/legacy-dds/package.json
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
  packages/dds/legacy-dds/src/test/array/fuzzUtils.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#25168 Add tests for events in optional field
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25169 refactor(api-markdown-documenter): Replace Documentation Domain with `mdast`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/ApiDocument.ts
  tools/api-markdown-documenter/src/Heading.ts
  tools/api-markdown-documenter/src/LayoutUtilitiesModule.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Transformations.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateSectionForApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEntryPoint.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiFunctionLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiItemWithoutChildren.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiNamespace.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiTypeLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/ToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/TransformationContext.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Configuration.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/HeadingToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/SectionToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/DocumentToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HeadingToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HierarchicalSectionToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/Utilities.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/ToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/TransformationContext.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Configuration.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/HeadingToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/default-transformations/SectionToMarkdown.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/DocumentToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-markdown/test/HeadingToMarkdown.test.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SectionNode.ts
  tools/api-markdown-documenter/src/documentation-domain/fence.json
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/mdast/README.md
  tools/api-markdown-documenter/src/mdast/Section.ts
  tools/api-markdown-documenter/src/mdast/SectionHeading.ts
  tools/api-markdown-documenter/src/mdast/fence.json
  tools/api-markdown-documenter/src/mdast/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/index.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/Utilities.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderDocument.test.ts
Labels: public api change, base: main

#25175 Add clientRestartFromPendingProbability to enable client restart from pending state in local sever stress tests
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
Labels: area: tests, base: main

#25172 feat(client-presence): LatestMap with schema validation
  .changeset/dirty-moments-exist.md
  docs/docs/build/presence.mdx
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/stateFactory.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/schemaValidation/valueManagers.spec.ts
Labels: area: framework, area: website, public api change, base: main, changeset-present

#25173 refactor(api-markdown-documenter): Remove `Link` type
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/Link.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/TsdocNodeTransforms.test.ts
  tools/api-markdown-documenter/src/index.ts
Labels: base: main

#24860 Add the Network Check to Alfred and Nexus
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/networkHelper.ts
  server/routerlicious/packages/lambdas/src/utils/validateDocument.ts
  server/routerlicious/packages/local-server/api-report/server-local-server.api.md
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/localWebSocketServer.ts
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/restHelper.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/routerlicious-base/src/test/nexus/io.spec.ts
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/ipUtils.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/http.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-shared/src/http.ts
  server/routerlicious/packages/services-shared/src/index.ts
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/index.ts
  server/routerlicious/packages/services/src/tenant.ts
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/packages/test-utils/src/testTenantManager.ts
  server/routerlicious/packages/tinylicious/src/runner.ts
  server/routerlicious/packages/tinylicious/src/services/tenantManager.ts
  server/routerlicious/packages/tinylicious/src/services/webServerFactory.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, public api change, base: main

#25185 Work around API report issues
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#25192 Fix Node.js process hanging due to unreferenced GC timers not being disposed
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
Labels: area: runtime, base: main

#25194 test(client): fix testing on Windows
  packages/service-clients/end-to-end-tests/azure-client/package.json
Labels: base: main

#25198 (tree) Added basic unit tests for ForestSummarizer
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizer.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#25126 feat(directory): Directory rollback across remote ops (Part 1 - storage ops only)
  packages/dds/map/src/directory.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/directory.iteration.spec.ts
  packages/dds/map/src/test/mocha/directory.rollback.spec.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/utils.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: dds, area: tests, base: main

#25195 test(matrix, tree): Update matrix/table perf tests to opt into event listeners and consistently opt into undo/redo
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/utils.ts
  packages/dds/tree/src/test/memory/tableTree.spec.ts
  packages/dds/tree/src/test/shared-tree/tableTree.bench.ts
  packages/dds/tree/src/test/tablePerformanceTestUtilities.ts
Labels: area: dds, area: dds: tree, base: main

#25201 Simplify array type un-annotation
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/core/allowedTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/test/simple-tree/core/allowedTypes.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#25202 fix(Test logs): Avoid squashing 'details' logging property
  packages/test/mocha-test-setup/src/mochaHooks.ts
Labels: area: tests, base: main

#25203 Simplify shared tree initialize
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizer.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#25204 Simplify schema upgrade logic
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25210 Improve readme information on running example apps against SharePoint
  examples/apps/blobs/README.md
  examples/apps/collaborative-textarea/README.md
  examples/apps/contact-collection/README.md
  examples/apps/data-object-grid/README.md
  examples/apps/presence-tracker/README.md
  examples/apps/staging/README.md
  examples/apps/task-selection/README.md
  examples/apps/tree-comparison/README.md
  examples/benchmarks/bubblebench/baseline/README.md
  examples/benchmarks/bubblebench/experimental-tree/README.md
  examples/benchmarks/bubblebench/ot/README.md
  examples/benchmarks/odspsnapshotfetch-perftestapp/README.md
  examples/benchmarks/tablebench/README.md
  examples/client-logger/app-insights-logger/README.md
  examples/data-objects/canvas/README.md
  examples/data-objects/clicker/README.md
  examples/data-objects/codemirror/README.md
  examples/data-objects/diceroller/README.md
  examples/data-objects/inventory-app/README.md
  examples/data-objects/monaco/README.md
  examples/data-objects/multiview/container/README.md
  examples/data-objects/prosemirror/README.md
  examples/data-objects/smde/README.md
  examples/data-objects/table-tree/README.md
  examples/data-objects/todo/README.md
  examples/data-objects/webflow/README.md
  examples/external-data/README.md
  examples/service-clients/azure-client/external-controller/README.md
  examples/service-clients/azure-client/todo-list/README.md
  examples/utils/webpack-fluid-loader/README.md
  examples/version-migration/live-schema-upgrade/README.md
  examples/version-migration/same-container/README.md
  examples/version-migration/separate-container/README.md
  examples/version-migration/tree-shim/README.md
  examples/view-integration/container-views/README.md
  examples/view-integration/external-views/README.md
  examples/view-integration/view-framework-sampler/README.md
  packages/tools/devtools/devtools-test-app/README.md
  tools/markdown-magic/src/transforms/exampleGettingStartedTransform.cjs
  tools/markdown-magic/test/example-getting-started.md
  tools/markdown-magic/test/example-readme-header.md
Labels: area: examples, area: build, base: main

#25217 Shared Array op handles
  packages/dds/legacy-dds/src/array/sharedArray.ts
Labels: area: dds, base: main

#25213 improvement(tree): Update `removeColumn` to remove cells as well
  .changeset/clean-eternities-terminate.md
  examples/data-objects/table-tree/src/react/tableView.tsx
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/memory/tableTree.spec.ts
  packages/dds/tree/src/test/shared-tree/tableTree.bench.ts
  packages/dds/tree/src/test/tablePerformanceTestUtilities.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main, changeset-present

#25186 Sensitivity label parsing fix in ODSP join session call
  .changeset/dry-frogs-change.md
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver-definitions/src/index.ts
  packages/drivers/odsp-driver-definitions/src/sessionProvider.ts
  packages/drivers/odsp-driver-definitions/src/test/types/validateOdspDriverDefinitionsPrevious.generated.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/test/socketTests/deltaConnectionUpdateTests.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver, public api change, base: main, changeset-present

#25219 Revert "Handle detached blobs more similarly to other blobs"
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
Labels: area: runtime, area: tests, base: main

#25180 Fix restart-from-pending to exit staging mode and correct savedOps clearing logic
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: runtime, area: tests, base: main

#25225 Tag asserts
  packages/dds/map/src/directory.ts
  packages/dds/register-collection/src/consensusRegisterCollection.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/record/recordNode.ts
  packages/dds/tree/src/tableSchema.ts
  packages/framework/ai-collab/src/explicit-strategy/typeGeneration.ts
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/idGenerator.ts
  packages/framework/tree-agent/src/utils.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, area: dds: tree, base: main

#25228 build(api-markdown-documenter): Only generate a single API report
  tools/api-markdown-documenter/api-extractor.json
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
Labels: public api change, base: main

#25229 feat(api-markdown-documenter): Add `ApiItemUtilities.isTypeLike` helper function
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/ApiItemUtilitiesModule.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#25232 fix(benchmark-pipeline): Increase Timeout for perf_unit_test_memory
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#25235 feat(tree): Add range-based removal methods to TableSchema
  .changeset/private-ponies-multitask.md
  examples/data-objects/table-tree/src/react/tableView.tsx
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25237 Remove out of date todo
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
Labels: area: dds, area: dds: tree, base: main

#25244 Intervals: Remove unnecessary and internal APIs in ISequenceIntervalCollection and related interval types
  .changeset/gentle-colts-study.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervalTree.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sequenceDeltaEvent.ts
  packages/dds/sequence/src/sequenceFactory.ts
  packages/dds/sequence/src/sharedSequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/collections.intervalTree.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#25243 refactor(packages/common): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/common/client-utils/api-report/client-utils.beta.api.md
  packages/common/client-utils/api-report/client-utils.legacy.alpha.api.md
  packages/common/client-utils/src/typedEventEmitter.ts
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/audience.ts
  packages/common/container-definitions/src/browserPackage.ts
  packages/common/container-definitions/src/deltas.ts
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/fluidModule.ts
  packages/common/container-definitions/src/fluidPackage.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/container-definitions/src/runtime.ts
  packages/common/core-interfaces/api-report/core-interfaces.legacy.alpha.api.md
  packages/common/core-interfaces/src/error.ts
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/logger.ts
  packages/common/core-interfaces/src/messages.ts
  packages/common/core-utils/api-report/core-utils.legacy.alpha.api.md
  packages/common/core-utils/src/assert.ts
  packages/common/core-utils/src/compare.ts
  packages/common/core-utils/src/lazy.ts
  packages/common/core-utils/src/promiseCache.ts
  packages/common/core-utils/src/promises.ts
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
  packages/common/driver-definitions/src/driverError.ts
  packages/common/driver-definitions/src/git/resources.ts
  packages/common/driver-definitions/src/protocol/clients.ts
  packages/common/driver-definitions/src/protocol/config.ts
  packages/common/driver-definitions/src/protocol/consensus.ts
  packages/common/driver-definitions/src/protocol/date.ts
  packages/common/driver-definitions/src/protocol/protocol.ts
  packages/common/driver-definitions/src/protocol/scopes.ts
  packages/common/driver-definitions/src/protocol/sockets.ts
  packages/common/driver-definitions/src/protocol/storage.ts
  packages/common/driver-definitions/src/protocol/summary.ts
  packages/common/driver-definitions/src/protocol/tokens.ts
  packages/common/driver-definitions/src/storage.ts
  packages/common/driver-definitions/src/urlResolver.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, public api change, base: main

#25251 Support API-Extractor as a worker in fluid-build
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/buildResult.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/apiExtractorTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/task.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/apiExtractorWorker.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/worker.ts
  build-tools/packages/build-tools/src/test/tasks/leaf/apiExtractorTask.tests.ts
Labels: area: build, base: main

#25258 fix(benchmark-memory): Remove dereferencing measured objects in afterIteration
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/tree/src/test/memory/tableTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25256 refactor(packages/drivers): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/drivers/driver-web-cache/api-report/driver-web-cache.legacy.alpha.api.md
  packages/drivers/driver-web-cache/src/FluidCache.ts
  packages/drivers/driver-web-cache/src/FluidCacheIndexedDb.ts
  packages/drivers/local-driver/api-report/local-driver.legacy.alpha.api.md
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
  packages/drivers/local-driver/src/localResolver.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver-definitions/src/sessionProvider.ts
  packages/drivers/routerlicious-driver/api-report/routerlicious-driver.legacy.alpha.api.md
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/drivers/routerlicious-driver/src/routerliciousResolvedUrl.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#25265 refactor(experimental): Use type-only imports and exports where appropriate
  experimental/framework/last-edited/src/index.ts
  experimental/framework/last-edited/src/interfaces.ts
  experimental/framework/last-edited/src/lastEditedTracker.ts
  experimental/framework/last-edited/src/lastEditedTrackerDataObject.ts
  experimental/framework/last-edited/src/setup.ts
Labels: area: dev experience, base: main

#25259 build: Update dev dependencies on `@fluidframework/eslint-config-fluid` to `6.0.0`
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  docs/package.json
  docs/pnpm-lock.yaml
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, area: website, base: main

#25273 refactor(packages/loader): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/createAndLoadContainerUtils.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/protocol/protocol.ts
  packages/loader/container-loader/src/protocol/quorum.ts
  packages/loader/container-loader/src/utils.ts
  packages/loader/driver-utils/api-report/driver-utils.legacy.alpha.api.md
  packages/loader/driver-utils/src/rateLimiter.ts
Labels: area: loader, public api change, base: main

#25275 (tree) Added validation that forest is loaded from a valid snapshot
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
Labels: area: dds, area: dds: tree, base: main

#25268 refactor(packages/framework): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/drivers/odsp-driver-definitions/src/odspCache.ts
  packages/drivers/odsp-driver-definitions/src/sessionProvider.ts
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-object-factories/treeDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/aqueduct/src/data-objects/treeDataObject.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/synthesize/api-report/synthesize.legacy.alpha.api.md
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
  packages/framework/synthesize/src/types.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.alpha.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/compressionDefinitions.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/compatibilityDefinitions.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreFactory.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-definitions/src/garbageCollectionDefinitions.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/summary.ts
Labels: area: framework, area: runtime, area: driver, area: odsp-driver, public api change, base: main

#25277 refactor(utils): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/test/test-utils/api-report/test-utils.legacy.alpha.api.md
  packages/test/test-utils/src/interfaces.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/localLoader.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/tools/fluid-runner/api-report/fluid-runner.legacy.alpha.api.md
  packages/tools/fluid-runner/src/codeLoaderBundle.ts
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/utils/odsp-doclib-utils/api-report/odsp-doclib-utils.legacy.alpha.api.md
  packages/utils/odsp-doclib-utils/src/odspAuth.ts
  packages/utils/odsp-doclib-utils/src/odspDrives.ts
Labels: area: tests, area: odsp-driver, public api change, base: main

#25276 refactor(packages/runtime): Update client packages to use `@legacy @beta` instead of `@legacy @alpha`
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/compressionDefinitions.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summaryResultTypes.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/summary/summaryHelpers.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/fluidHandle.ts
  packages/runtime/id-compressor/api-report/id-compressor.legacy.alpha.api.md
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/types/idCompressor.ts
  packages/runtime/id-compressor/src/types/persisted-types/0.0.1.ts
  packages/runtime/id-compressor/src/utilities.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/dataStoreHelpers.ts
  packages/runtime/runtime-utils/src/deltaManager.ts
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/requestParser.ts
  packages/runtime/runtime-utils/src/runtimeFactoryHelper.ts
  packages/runtime/runtime-utils/src/summaryUtils.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
  packages/runtime/test-runtime-utils/src/mockHandle.ts
  packages/runtime/test-runtime-utils/src/mockStorage.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/mocksForReconnection.ts
Labels: area: runtime, public api change, base: main

#25278 refactor(container-loader): Use type-only imports and exports as appropriate
  packages/loader/container-loader/src/attachment.ts
  packages/loader/container-loader/src/audience.ts
  packages/loader/container-loader/src/catchUpMonitor.ts
  packages/loader/container-loader/src/connectionManager.ts
  packages/loader/container-loader/src/connectionStateHandler.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/contracts.ts
  packages/loader/container-loader/src/createAndLoadContainerUtils.ts
  packages/loader/container-loader/src/debugLogger.ts
  packages/loader/container-loader/src/deltaManager.ts
  packages/loader/container-loader/src/deltaQueue.ts
  packages/loader/container-loader/src/disposal.ts
  packages/loader/container-loader/src/error.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loadPaused.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/location-redirection-utilities/resolveWithLocationRedirection.ts
  packages/loader/container-loader/src/noopHeuristic.ts
  packages/loader/container-loader/src/protocol.ts
  packages/loader/container-loader/src/protocol/index.ts
  packages/loader/container-loader/src/protocol/protocol.ts
  packages/loader/container-loader/src/protocol/quorum.ts
  packages/loader/container-loader/src/protocolTreeDocumentStorageService.ts
  packages/loader/container-loader/src/quorum.ts
  packages/loader/container-loader/src/retriableDocumentStorageService.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/attachment.spec.ts
  packages/loader/container-loader/src/test/catchUpMonitor.spec.ts
  packages/loader/container-loader/src/test/connectionManager.spec.ts
  packages/loader/container-loader/src/test/connectionStateHandler.spec.ts
  packages/loader/container-loader/src/test/container.spec.ts
  packages/loader/container-loader/src/test/deltaManager.spec.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/loader/container-loader/src/test/loaderLayerCompatValidation.spec.ts
  packages/loader/container-loader/src/test/locationRedirectionTests.spec.ts
  packages/loader/container-loader/src/test/protocol.spec.ts
  packages/loader/container-loader/src/test/quorum.spec.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/test/testProxies.ts
  packages/loader/container-loader/src/test/utils.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#25282 Rollback Shared Array move op
  packages/dds/legacy-dds/src/array/sharedArray.ts
  packages/dds/legacy-dds/src/test/array/array.rollback.spec.ts
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
Labels: area: dds, base: main

#25285 test(client): use Large-eastus2 for Service Client tests
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
  tools/pipelines/test-service-clients.yml
Labels: area: build, base: main

#25284 Remove retry logic from uploadBlob
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
Labels: area: runtime, base: main

#25280 refactor(tree): Hoist `runTransaction` from `TreeViewAlpha` to `TreeBranch`
  .changeset/rigid-whales-surprise.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/simple-tree/api/transactionTypes.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25290 docs(local-driver): Promote `LocalDocumentServiceFactory` to `@legacy @beta`
  packages/drivers/local-driver/api-extractor/api-extractor-lint-bundle.json
  packages/drivers/local-driver/api-report/local-driver.legacy.alpha.api.md
  packages/drivers/local-driver/src/localDocumentServiceFactory.ts
Labels: area: driver, public api change, base: main

#25289 SchemaFactory cleanup
  .changeset/hot-experts-throw.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25293 Simplify mocha nodeOptions
  examples/benchmarks/tablebench/.mocharc.customBenchmarks.cjs
  packages/dds/tree/.mocharc.customBenchmarks.cjs
  packages/dds/tree/src/test/memory/.mocharc.cjs
Labels: base: main

#25305 Always ensure directory exists before attempting file write
  packages/tools/fluid-runner/src/logger/baseFileLogger.ts
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/logger/jsonFileLogger.ts
  packages/tools/fluid-runner/src/test/fileLogger.spec.ts
Labels: base: main

#25287 test(matrix): Unify memory and runtime benchmark test suites
  packages/dds/matrix/src/test/matrixBenchmarks.ts
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/performanceTestUtilities.ts
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
Labels: area: dds, base: main

#25302 refactor(fluid-static): Update client packages to use @legacy @beta instead of @legacy @alpha
  azure/packages/azure-service-utils/api-report/azure-service-utils.legacy.alpha.api.md
  azure/packages/azure-service-utils/src/generateToken.ts
  experimental/dds/tree/api-report/experimental-tree.alpha.api.md
  experimental/dds/tree/api-report/experimental-tree.beta.api.md
  experimental/dds/tree/src/publicContracts.ts
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/src/sharedTreeAttributes.ts
  packages/drivers/debugger/api-report/debugger.legacy.alpha.api.md
  packages/drivers/debugger/src/fluidDebugger.ts
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/errors.ts
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver-definitions/src/tokenFetch.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver/src/checkUrl.ts
  packages/drivers/odsp-driver/src/constants.ts
  packages/drivers/odsp-driver/src/contractsPublic.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/createOdspUrl.ts
  packages/drivers/odsp-driver/src/epochTracker.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/odspCache.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactory.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/odspFluidFileLink.ts
  packages/drivers/odsp-driver/src/odspPublicUtils.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/prefetchLatestSnapshot.ts
  packages/framework/agent-scheduler/api-report/agent-scheduler.legacy.alpha.api.md
  packages/framework/agent-scheduler/src/agent.ts
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/agent-scheduler/src/taskSubscription.ts
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/aqueduct/src/container-runtime-factories/containerRuntimeFactoryWithDefaultDataStore.ts
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/attributor/src/lz4Encoder.ts
  packages/framework/fluid-static/api-extractor.json
  packages/framework/fluid-static/api-extractor/api-extractor.legacy.json
  packages/framework/fluid-static/api-report/fluid-static.legacy.beta.api.md
  packages/framework/fluid-static/src/treeRootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/oldest-client-observer/api-report/oldest-client-observer.legacy.alpha.api.md
  packages/framework/oldest-client-observer/src/interfaces.ts
  packages/framework/oldest-client-observer/src/oldestClientObserver.ts
  packages/framework/request-handler/api-report/request-handler.legacy.alpha.api.md
  packages/framework/request-handler/src/requestHandlers.ts
  packages/framework/synthesize/api-report/synthesize.legacy.alpha.api.md
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/src/location-redirection-utilities/resolveWithLocationRedirection.ts
  packages/service-clients/odsp-client/src/interfaces.ts
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.alpha.api.md
  packages/utils/telemetry-utils/src/logger.ts
Labels: area: framework, area: loader, area: driver, area: dds, area: odsp-driver, public api change, area: dds: tree, base: main

#25310 DataStoreRuntime: Remove redundent attachGraph in getAttachmentSummary
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, base: main

#25308 Mark ForestOptions input and beta
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#25311 Add FormatValidator to replace JsonValidator
  .changeset/cute-kids-bake.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/external-utilities/index.ts
  packages/dds/tree/src/external-utilities/typeboxValidator.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/index.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25317 refactor(fluid-static): Clean up api-extractor config
  packages/framework/fluid-static/api-extractor/api-extractor.legacy.json
Labels: base: main

#25319 docs(fluid-static): Remove stale API report
  packages/framework/fluid-static/api-report/fluid-static.alpha.api.md
Labels: area: framework, public api change, base: main

#25313 Add SchemaFactoryBeta
  .changeset/stale-owls-prove.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryBeta.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25318 fix(debugger): Fix `createFromServiceFactory`
  packages/drivers/debugger/api-report/debugger.legacy.alpha.api.md
  packages/drivers/debugger/src/fluidDebugger.ts
Labels: area: driver, public api change, base: main

#25316 fix(tree): Fix issue where index-based removal of table columns did not remove the corresponding cells
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25324 fix(tree): Update TableSchema to correctly apply batch edits (e.g. column deletion) for unhydrated trees
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25328 Fix misnamed tests files which don't run
  examples/utils/import-testing/src/test/events.spec.ts
  packages/dds/sequence/src/test/collections.intervalTree.spec.ts
  packages/dds/shared-object-base/src/test/handle.spec.ts
Labels: area: examples, area: dds, area: dds: sharedstring, base: main

#25207 test(presence): e2e multiprocess tests for latestmap and latest
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/messageTypes.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/orchestratorUtils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
Labels: base: main

#25343 bump(build-tools): Package versions post release
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#25340 fix(build-cli): Fix `readArgValues` in `generateEntrypoints`
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/test/library/commands/generateEntrypoints.test.ts
Labels: area: build, base: main

#25341 fix(build-cli): Fix `readArgValues` in `generateEntrypoints`
  build-tools/packages/build-cli/src/library/commands/generateEntrypoints.ts
  build-tools/packages/build-cli/src/test/library/commands/generateEntrypoints.test.ts
Labels: area: build, base: release

#25347 bump(build-tools): Bump package versions
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: release

#25189 feat(devtools-view): Add interactive UI for devtools-view
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/BaseDevtools.ts
  packages/tools/devtools/devtools-core/src/ContainerMetadata.ts
  packages/tools/devtools/devtools-core/src/ContainerRuntimeDevtools.ts
  packages/tools/devtools/devtools-core/src/DecomposedContainer.ts
  packages/tools/devtools/devtools-core/src/messaging/container-devtools-messages/DataVisualization.ts
  packages/tools/devtools/devtools-view/src/ContainerFeatureFlagHelper.ts
  packages/tools/devtools/devtools-view/src/DevtoolsView.tsx
  packages/tools/devtools/devtools-view/src/components/ContainerSummaryView.tsx
  packages/tools/devtools/devtools-view/src/components/Menu.tsx
  packages/tools/devtools/devtools-view/src/test/Menu.test.tsx
  pnpm-lock.yaml
Labels: dependencies, base: main

#25349 test(client): e2e imports avoiding /internal
  packages/service-clients/end-to-end-tests/azure-client/.eslintrc.cjs
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureTokenFactory.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/TestDataObject.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/messageTypes.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/orchestratorUtils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/utils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/viewContainerVersion.spec.ts
Labels: base: main
