Repository microsoft/FluidFramework, pull requests merged in 2025-02, with the labels that each got.

#23647 refactor(azure-client-e2e-tests): Import from more realistic places
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/signals.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/utils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/viewContainerVersion.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#23742 Disable "Conflicting ops" E2E test
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: tests, base: main

#23614 merge tree: Validate exact range obliterate with expansion
  packages/dds/merge-tree/src/test/client.obliterateFarm.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/obliterateOperations.ts
Labels: area: dds, base: main

#23739 Add a test to make sure we don't delete a private function being accessed by a legacy partner
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#23684 build(client): Update changesets for clarity and consistency
  .changeset/all-heads-lay.md
  .changeset/light-pears-hammer.md
  .changeset/many-gifts-strive.md
  .changeset/quick-chairs-smile.md
Labels: base: main, changeset-present

#23750 improvement(id-compressor): enable exactOptionalPropertyTypes
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/tsconfig.json
Labels: area: runtime, base: main

#23747 build(client): Generate release notes for 2.21.0
  RELEASE_NOTES/2.21.0.md
Labels: base: main

#23753 improvement(telemetry-utils): enable noUncheckedIndexedAccess
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/tsconfig.json
Labels: base: main

#23755 Revert "refactor(azure-client-e2e-tests): Import from more realistic places"
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/audience.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/ddsTests.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/signals.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/tree.spec.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/utils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/viewContainerVersion.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#23745 build(client): Tag asserts for v2.21.0
  experimental/dds/attributable-map/src/map.ts
  packages/common/core-utils/src/assert.ts
  packages/dds/map/src/map.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, base: main

#23754 Export Map and Directory Fuzz Models
  packages/dds/map/package.json
  packages/dds/map/src/test/index.ts
  packages/dds/map/src/test/mocha/directoryEquivalenceUtils.ts
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
  packages/dds/map/src/test/mocha/fuzzUtils.ts
  packages/dds/map/src/test/mocha/index.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/tsconfig.json
Labels: area: dds, base: main

#23741 remove(devtools): Prototype editing code
  packages/tools/devtools/devtools-core/.eslintrc.cjs
  packages/tools/devtools/devtools-core/src/ContainerDevtools.ts
  packages/tools/devtools/devtools-core/src/Features.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataEditing.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultEditors.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-core/src/data-visualization/index.ts
  packages/tools/devtools/devtools-core/src/index.ts
  packages/tools/devtools/devtools-core/src/messaging/Utilities.ts
  packages/tools/devtools/devtools-core/src/messaging/container-devtools-messages/DataEdit.ts
  packages/tools/devtools/devtools-core/src/messaging/container-devtools-messages/index.ts
  packages/tools/devtools/devtools-core/src/messaging/index.ts
  packages/tools/devtools/devtools-core/src/test/DataVisualizerGraph.spec.ts
  packages/tools/devtools/devtools-view/src/components/data-visualization/EditableView.tsx
  packages/tools/devtools/devtools-view/src/components/data-visualization/FluidValueView.tsx
Labels: base: main

#23760 improvement(test-service-load): enable noUncheckedIndexedAccess
  packages/test/test-service-load/src/runner.ts
  packages/test/test-service-load/tsconfig.json
Labels: area: tests, base: main

#23761 Dedup tree factories
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/publicContracts.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/summary.bench.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#23751 Skip presenceTracker 2-client tests
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
Labels: area: examples, base: main

#23743 merge-tree: Reproduce obliterate endpoint expansion bug in unit tests
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
Labels: area: dds, base: main

#23749 improvement(driver-web-cache): enable noUncheckedIndexedAccess
  packages/drivers/driver-web-cache/src/scheduleIdleTask.ts
  packages/drivers/driver-web-cache/tsconfig.json
Labels: area: driver, base: main

#23769 fix(server): Fix builds in response to recent corepack issue
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
Labels: area: server, base: main

#23733 Test/wayneferrao add staging deployment
  tools/pipelines/deploy-website.yml
Labels: area: build, base: main

#23771 improvement(devtools-core): enable noUncheckedIndexedAccess
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
  packages/tools/devtools/devtools-core/src/messaging/Utilities.ts
  packages/tools/devtools/devtools-core/src/test/ContainerDevtools.spec.ts
  packages/tools/devtools/devtools-core/tsconfig.json
Labels: base: main

#23719 improvement(client-attributable-map): enable improved type safety
  experimental/dds/attributable-map/.eslintrc.cjs
  experimental/dds/attributable-map/src/map.ts
  experimental/dds/attributable-map/src/mapKernel.ts
  experimental/dds/attributable-map/tsconfig.json
Labels: area: dds, base: main

#23775 Remove Tree's unused GC customization
  packages/dds/tree/src/feature-libraries/detachedFieldIndexSummarizer.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/schema-index/schemaSummarizer.ts
  packages/dds/tree/src/shared-tree-core/editManagerSummarizer.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23778 fix(server): expose session prune promises
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/disconnect.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/services-core/src/collabSession.ts
  server/routerlicious/packages/services/src/sessionTracker.ts
Labels: area: server, base: main

#23780 Fix and rename logic around obliteratePrecedingInsertion
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
Labels: area: dds, base: main

#23764 Cleanup fluid build options
  build-tools/packages/build-tools/README.md
  build-tools/packages/build-tools/src/fluidBuild/options.ts
Labels: area: build, base: main

#23768 improvement(map): enable noUncheckedIndexedAccess
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/tsconfig.json
Labels: area: dds, base: main

#23779 tree(perf): batch child change building in field editors
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldEditor.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultFieldKinds.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangesetUtil.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldChangeCodecs.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldEditor.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/testEdits.ts
  packages/dds/tree/src/util/rangeMap.ts
Labels: area: dds, area: dds: tree, base: main

#23790 improvement(merge-tree): enable no-unchecked-record-access
  packages/dds/merge-tree/.eslintrc.cjs
  packages/dds/merge-tree/src/properties.ts
Labels: area: dds, base: main

#23757 Update pause/resume logic for doc lambdas
  server/routerlicious/packages/lambdas-driver/src/document-router/contextManager.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentContext.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentLambda.ts
  server/routerlicious/packages/lambdas-driver/src/document-router/documentPartition.ts
  server/routerlicious/packages/lambdas-driver/src/kafka-service/context.ts
  server/routerlicious/packages/lambdas-driver/src/test/document-router/documentContext.spec.ts
  server/routerlicious/packages/services-core/src/lambdas.ts
Labels: area: server, base: main

#23784 refactor(aqueduct, fluid-static): Refactor internal "object class" types
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/pureDataObject.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
Labels: area: framework, base: main

#23798 build(core-utils): Enable `exactOptionalPropertyTypes`
  packages/common/core-utils/tsconfig.json
Labels: base: main

#23802 build(datastore, datastore-definitions, container-runtime-definitions, runtime-definitions): Enable `exactOptionalPropertyTypes`
  packages/runtime/container-runtime-definitions/tsconfig.json
  packages/runtime/datastore-definitions/tsconfig.json
  packages/runtime/datastore/tsconfig.json
  packages/runtime/runtime-definitions/tsconfig.json
Labels: area: runtime, base: main

#23792 Refactor ITree extension interfaces
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/feature-libraries/node-key/nodeKey.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
Labels: area: dds, area: dds: tree, base: main

#23710 improvement(routerlicious-driver): change Object.keys to Object.entries
  packages/drivers/routerlicious-driver/src/createNewUtils.ts
  packages/drivers/routerlicious-driver/src/summaryTreeUploadManager.ts
Labels: area: driver, base: main

#23774 improvement(container-loader): change Object.keys to Object.entries
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#23762 Reupload blob if expired
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
Labels: area: runtime, base: main

#23805 build: Remove unused @octokit/core dep at the root
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#23752 improvement(test-utils): enable noUncheckedIndexedAccess
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/nonEmptyArrayType.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-utils/tsconfig.json
Labels: area: tests, base: main

#23800 bugfix(docs): Added alt text to partners and services for screenreaders
  docs/src/components/home/partnersSection.tsx
  docs/src/components/home/serviceSection.tsx
  docs/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: area: website, base: main

#23806 Better separate simple-tree and shared-tree
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/publicContracts.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/transactionTypes.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/treeNodeApi.spec.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#23785 test(client-presence-tracker): stabilize second page load
  examples/apps/presence-tracker/src/app.ts
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
Labels: area: examples, base: main

#23794 Return undefined if shouldIgnoreError is true in RunWithRetry
  server/routerlicious/packages/services-core/src/runWithRetry.ts
Labels: area: server, base: main

#23787 Add schema statics
  .changeset/smart-emus-look.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditReducer.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/tools/devtools/devtools-core/src/data-visualization/SharedTreeVisualizer.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#23765 refactor(examples/external-data): Replaced node-fetch with native fetch
  examples/external-data/jest.config.cjs
  examples/external-data/package.json
  examples/external-data/src/mock-customer-service/service.ts
  examples/external-data/src/mock-external-data-service/externalDataSource.ts
  examples/external-data/src/mock-external-data-service/service.ts
  examples/external-data/src/mock-external-data-service/webhook.ts
  examples/external-data/tests/customerService.test.ts
  examples/external-data/tests/externalDataService.test.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23700 Classify more long response to timeout instead of 499
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#23767 Added HTTP metrics logging in restWrapper
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
  server/routerlicious/packages/services-utils/src/httpRequestMetricsLogger.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/documentManager.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, public api change, base: main

#23728 Update odsp-driver package tests to build and run in ESM
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/getFileLink.ts
  packages/drivers/odsp-driver/src/mockify.ts
  packages/drivers/odsp-driver/src/odspUtils.ts
  packages/drivers/odsp-driver/src/socketModule.ts
  packages/drivers/odsp-driver/src/test/dirname.cts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/joinSessionCacheTests.spec.ts
  packages/drivers/odsp-driver/src/test/joinSessionPeriodicCall.spec.ts
  packages/drivers/odsp-driver/src/test/localOdspDriver.spec.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
  packages/drivers/odsp-driver/src/test/socketTests/deltaConnectionUpdateTests.spec.ts
  packages/drivers/odsp-driver/src/test/socketTests/socketTests.spec.ts
  packages/drivers/odsp-driver/src/vroom.ts
Labels: area: driver, area: odsp-driver, base: main

#23814 [bump] build-tools: 0.52.0 => 0.53.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#23807 fix(merge-tree): Apply various sided obliterate fixes
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/sortedSet.ts
  packages/dds/merge-tree/src/test/obliterate.rangeExpansion.spec.ts
  packages/dds/merge-tree/src/test/sortedSegmentSet.spec.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#23816 fix: Make `pnpm i` work in Codespaces again
  .devcontainer/devcontainer.json
Labels: base: main

#23819 Fix the missing punctuation in doc is deleted error, and make it a va…
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#23808 Sorting and full tracking of changes and revertability for branching example
  PACKAGES.md
  examples/apps/branching/CHANGELOG.md
  examples/apps/branching/src/container/groceryList/groceryListUtils.ts
  examples/apps/branching/src/container/index.ts
  examples/apps/branching/src/container/runtimeFactory.ts
  examples/apps/branching/src/view/appView.tsx
  examples/apps/staging/.eslintrc.cjs
  examples/apps/staging/.gitignore
  examples/apps/staging/.npmignore
  examples/apps/staging/CHANGELOG.md
  examples/apps/staging/LICENSE
  examples/apps/staging/README.md
  examples/apps/staging/biome.jsonc
  examples/apps/staging/jest-puppeteer.config.cjs
  examples/apps/staging/jest.config.cjs
  examples/apps/staging/package.json
  examples/apps/staging/prettier.config.cjs
  examples/apps/staging/src/container/getChangesFromHealthBot.ts
  examples/apps/staging/src/container/groceryList/groceryList.ts
  examples/apps/staging/src/container/groceryList/index.ts
  examples/apps/staging/src/container/groceryList/interfaces.ts
  examples/apps/staging/src/container/index.ts
  examples/apps/staging/src/container/interfaces.ts
  examples/apps/staging/src/container/runtimeFactory.ts
  examples/apps/staging/src/container/suggestionGroceryList.ts
  examples/apps/staging/src/healthBot.ts
  examples/apps/staging/src/index.html
  examples/apps/staging/src/start.ts
  examples/apps/staging/src/view/appView.tsx
  examples/apps/staging/src/view/debugView.tsx
  examples/apps/staging/src/view/groceryListView.tsx
  examples/apps/staging/src/view/index.ts
  examples/apps/staging/tests/index.html
  examples/apps/staging/tests/index.tsx
  examples/apps/staging/tests/staging.test.ts
  examples/apps/staging/tsconfig.json
  examples/apps/staging/webpack.config.cjs
  examples/apps/staging/webpack.dev.cjs
  examples/apps/staging/webpack.prod.cjs
  examples/apps/staging/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23822 fix(merge-tree): Slide references on ack of obliterate/remove appropriately
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#23820 bugfix(docs): Updated role and added underline to doc links
  docs/src/css/custom.scss
  docs/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: area: website, base: main

#23673 Revert "Revert "target es2021 (#23307)" (#23567)"
  .changeset/ripe-taxes-press.md
  common/build/build-common/tsconfig.base.json
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
Labels: area: build, public api change, base: main, changeset-present

#23818 Add missing copyfiles dev dep
  examples/utils/import-testing/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23269 build: Update jest-junit
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/staging/package.json
  examples/apps/task-selection/package.json
  examples/apps/tree-comparison/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/experimental-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/shared-tree/package.json
  examples/client-logger/app-insights-logger/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/todo/package.json
  examples/external-data/package.json
  examples/service-clients/azure-client/external-controller/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/separate-container/package.json
  examples/version-migration/tree-shim/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  packages/common/client-utils/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-test-app/package.json
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23828 build(build-tools): Fix syncpack config to account for new package
  build-tools/syncpack.config.cjs
Labels: area: build, base: release

#23817 Tweak worker memory limits
  build-tools/packages/build-tools/README.md
  build-tools/packages/build-tools/src/fluidBuild/options.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/workers/workerPool.ts
Labels: area: build, base: main

#23825 Added more context before throwing a network error
  server/gitrest/packages/gitrest-base/src/routes/summaries.ts
  server/gitrest/packages/gitrest-base/src/utils/gitWholeSummaryManager.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitConversions.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerBase.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/conversions.ts
  server/gitrest/packages/gitrest-base/src/utils/wholeSummary/coreWriteUtils.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/protocol.ts
  server/routerlicious/packages/services-shared/src/wholeSummaryWriteGitManager.ts
Labels: area: server, base: main

#23834 ci: Add missing retries to dependency install steps
  tools/pipelines/build-docs.yml
  tools/pipelines/deploy-website.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-policy-check.yml
Labels: area: build, base: main

#23803 refactor(ci): Centralized download feed
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-setup-npmrc-for-download.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#23827 refactor(api-markdown-documenter): Simplify default transformations for type-like API items
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Transformations.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiTypeLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/index.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testinterface-interface/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterface-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/utilities/ApiItemUtilities.ts
Labels: public api change, base: main

#23821 Fix attach during transaction test
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeApi.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/util/breakable.ts
Labels: area: dds, area: dds: tree, base: main

#23835 Logging more request metrics
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#23838 Misc SharedTree code cleanups from kernel refactor
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/codec/ajvValidator.ts
  packages/dds/tree/src/test/mockSerializer.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23839 fix(check:policy): Correct calculation of repo root
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#23841 improvement(check:policy): Improve readability of error and stack
  build-tools/packages/build-cli/src/commands/check/policy.ts
Labels: area: build, base: main

#23842 improvement(build-tools): Remove duplicate json functions
  build-tools/packages/build-cli/src/commands/modify/lockfile.ts
  build-tools/packages/build-cli/src/commands/release/setPackageTypesField.ts
  build-tools/packages/build-cli/src/commands/typetests.ts
  build-tools/packages/build-cli/src/library/package.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-cli/src/test/dirname.cts
  build-tools/packages/build-tools/src/common/npmPackage.ts
  build-tools/packages/build-tools/src/index.ts
  build-tools/packages/build-tools/src/test/npmPackage.test.ts
Labels: area: build, base: main

#23294 feat(presence-tracker): Add "reactions" using presence notifications
  examples/apps/presence-tracker/package.json
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/app.ts
  examples/apps/presence-tracker/src/index.html
  examples/apps/presence-tracker/src/reactions.ts
  examples/apps/presence-tracker/src/view.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23809 test(client-presence): Unit tests for 'workspaceActivated' event
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
Labels: area: framework, base: main

#23843 Consumed r11s into Gitrest and Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23305 test(client-presence): Example multi-process E2E test
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/messageTypes.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#23850 refactor(tree): remove path visitor
  packages/dds/tree/src/core/forest/editableForest.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/core/tree/pathTree.ts
  packages/dds/tree/src/core/tree/visitPath.ts
  packages/dds/tree/src/feature-libraries/flex-tree/treeEvents.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23844 Remove no-unchecked-record-access for packages that have noUncheckedIndexedAccess enabled
  packages/drivers/driver-web-cache/.eslintrc.cjs
  packages/runtime/id-compressor/.eslintrc.cjs
  packages/test/test-service-load/.eslintrc.cjs
  packages/test/test-utils/.eslintrc.cjs
  packages/tools/devtools/devtools-core/.eslintrc.cjs
  packages/utils/telemetry-utils/.eslintrc.cjs
Labels: base: main

#23837 refactor: split out TreeKernel from the SharedObject class hierarchy
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23855 Avoid depending on runtime inside of SharedTreeKernel
  packages/dds/tree/src/feature-libraries/schema-index/schemaSummarizer.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23849 [bump] build-tools: 0.53.0 => 0.54.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#23851 Rename containerRuntime file from bundle-size-tests
  examples/utils/bundle-size-tests/src/containerRuntimeBundle.ts
  examples/utils/bundle-size-tests/webpack.config.cjs
Labels: area: examples, base: main

#23860 fix(server): Add necessary additionalContext in docker-compose.dev
  server/docker-compose.dev.yml
Labels: base: main

#23856 feat(server): switch ping-pong latency aggregation to per-socket
  server/routerlicious/.changeset/old-melons-tease.md
  server/routerlicious/kubernetes/routerlicious/templates/fluid-configmap.yaml
  server/routerlicious/kubernetes/routerlicious/values.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-shared/src/socketIoServer.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server, base: main, changeset-present

#23853 Enable no-unchecked-record-access for fetch-tool
  packages/tools/fetch-tool/.eslintrc.cjs
Labels: base: main

#23854 Enable no-unchecked-record-access for matrix
  packages/dds/matrix/.eslintrc.cjs
Labels: base: main

#23857 (feat-devtools): Make singleton devtools instance
  packages/tools/devtools/devtools-core/api-report/devtools-core.alpha.api.md
  packages/tools/devtools/devtools-core/src/FluidDevtools.ts
  packages/tools/devtools/devtools-core/src/index.ts
Labels: public api change, base: main

#23859 fix(merge-tree): Rewrite partial lengths
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/test/client.obliterateFarm.spec.ts
  packages/dds/merge-tree/src/test/client.searchForMarker.spec.ts
  packages/dds/merge-tree/src/test/mergeTreeOperationRunner.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.spec.ts
  packages/dds/merge-tree/src/test/obliterateOperations.ts
  packages/dds/merge-tree/src/test/partialSyncHelper.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Labels: area: dds, base: main

#23355 Removed deprecated usages of the option summarizeProtocolTree [non-breaking]
  packages/loader/container-loader/src/container.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/tools/replay-tool/src/helpers.ts
Labels: area: loader, area: tests, base: main

#23869 build(client): Release notes generation for minor release 2.22.0
  .changeset/ripe-taxes-press.md
  RELEASE_NOTES/2.22.0.md
Labels: base: main, changeset-present

#23773 improvement(replay-driver): change loop to use .entries() instead of manually incrementing index
  packages/drivers/replay-driver/src/replayDocumentDeltaConnection.ts
Labels: area: driver, base: main

#23759 improvement(driver-utils): change Object.keys to Object.entries
  packages/loader/driver-utils/src/adapters/compression/summaryblob/documentStorageServiceSummaryBlobCompressionAdapter.ts
  packages/loader/driver-utils/src/prefetchDocumentStorageService.ts
Labels: area: loader, base: main

#23845 Follow up to add nav parameter
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver/src/createFile/createFile.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#23873 Reverted Follow up to add nav parameter
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver/src/createFile/createFile.ts
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverResolverTest.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#23877 Add return with `handleResponse`
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
Labels: area: server, base: main

#23836 (op bunching) Added logic to process messages in a bunch in SharedObject
  .changeset/itchy-pants-brake.md
  .changeset/witty-falcons-wonder.md
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
Labels: area: dds, public api change, base: main, changeset-present

#23875 fix(build-tools): display BuildGraph errors
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
Labels: area: build, base: main

#23865 build(client-fix): remove stale script references
  common/lib/common-utils/package.json
  packages/tools/devtools/devtools-view/package.json
  packages/utils/telemetry-utils/package.json
  tools/markdown-magic/package.json
Labels: area: build, base: main

#23852 (docs): update publish docs model pipeline trigger
  tools/pipelines/publish-api-model-artifact.yml
Labels: area: build, base: main

#23880 test(client-presence-tracker): split flaky test case
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
Labels: area: examples, base: main

#23881 fix(client-odsp-driver): allow internal webpack path
  packages/drivers/odsp-driver/src/fetch.ts
Labels: area: driver, area: odsp-driver, base: main

#23883 build(client): Release notes generation for minor release 2.22.0
  RELEASE_NOTES/2.22.0.md
Labels: base: main

#23887 build(client): Regenerate changelogs for minor release 2.22.0
  .changeset/itchy-pants-brake.md
  .changeset/witty-falcons-wonder.md
  packages/dds/shared-object-base/CHANGELOG.md
Labels: area: dds, base: main, changeset-present

#23890 Refactor DDS Fuzz For Reusability
  packages/dds/map/src/test/mocha/fuzzUtils.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/sharedNothing.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzSuite.ts
  packages/test/stochastic-test-utils/package.json
  packages/test/stochastic-test-utils/src/combineReducers.ts
  packages/test/stochastic-test-utils/src/describeFuzz.ts
  packages/test/stochastic-test-utils/src/index.ts
  packages/test/stochastic-test-utils/src/minification.ts
  packages/test/stochastic-test-utils/src/results.ts
  packages/test/stochastic-test-utils/src/test/generateTestSeeds.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, area: dds: sharedstring, area: tests, base: main

#23777 improvement(test-drivers): enable noUncheckedIndexedAccess
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-drivers/tsconfig.json
Labels: area: tests, base: main

#23776 improvement(functional-tests): enable no-unchecked-record-access
  packages/test/functional-tests/.eslintrc.cjs
Labels: base: main

#23894 build(client): Update typetests after minor release 2.22.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#23893 merge-tree: Add farm tests for zero length obliterate
  packages/dds/merge-tree/src/test/client.obliterateFarm.spec.ts
  packages/dds/merge-tree/src/test/obliterateOperations.ts
Labels: area: dds, base: main

#23896 build(client): Update typetests in release branch after minor release 2.22.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/test/types/validateDevtoolsCorePrevious.generated.ts
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: release

#23866 (op bunching) Deprecate process on FluidDataStoreRuntime
  .changeset/tender-rabbits-speak.md
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23863 improvement(build-tools): support 1-deep transitive deps
  build-tools/packages/build-cli/src/library/repoPolicyCheck/fluidBuildTasks.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/parseCommands.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
Labels: area: build, base: main

#23886 Make TestFluidObject.getSharedObject use a map lookup, and not hide errors
  packages/test/test-utils/src/testFluidObject.ts
Labels: area: tests, base: main

#23858 feat(client-presence): add events for local updates
  .changeset/afraid-snails-speak.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
Labels: area: framework, public api change, base: main, changeset-present

#23902 perf(tree): N*log(N) composition of sequence-shaped changesets
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/util/utils.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23903 [bump] build-tools: 0.54.0 => 0.55.0 (minor)
  build-tools/lerna.json
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#23862 Leverage 1ES pipeline templates schema for syntax checks in YAML files
  .vscode/settings.json
Labels: area: contributor experience, base: main

#23797 improvement(client-presence): Consistent event ordering and state results
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/eventing.spec.ts
Labels: area: framework, base: main

#23908 Optimize AnchorSet field change event buffering
  packages/dds/tree/src/core/tree/anchorSet.ts
Labels: area: dds, area: dds: tree, base: main

#23914 pnpm i --no-frozen-lockfile
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#23900 improvement(no-unchecked-record-access): Create array test cases
  common/build/eslint-plugin-fluid/src/test/example/no-unchecked-record-access/fileWithOnlyArrayAccess.ts
Labels: area: build, base: main

#23565 refactored debug log for ai-collab
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  packages/framework/ai-collab/README.md
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/package.json
  packages/framework/ai-collab/src/aiCollab.ts
  packages/framework/ai-collab/src/aiCollabApi.ts
  packages/framework/ai-collab/src/explicit-strategy/debugEvents.ts
  packages/framework/ai-collab/src/explicit-strategy/index.ts
  packages/framework/ai-collab/src/index.ts
  packages/framework/ai-collab/src/test/ai-collab/debugLog.spec.ts
  packages/framework/ai-collab/src/test/ai-collab/jobBoardBenchmark.spec.ts
  packages/framework/ai-collab/src/test/ai-collab/taskPlanner.spec.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, base: main

#23912 fix(build-tools): Stop spinner before logging more
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
Labels: area: build, base: main

#23911 test(client-presence-tracker): fix still flaky test
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
Labels: area: examples, base: main

#23885 Set noImplicitOverride in map
  packages/dds/map/src/directory.ts
  packages/dds/map/src/map.ts
  packages/dds/map/tsconfig.json
Labels: area: dds, base: main

#23909 Cleanup tree's map utils
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/util/nestedMap.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/nestedMap.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23910 Tag asserts and fail calls in tree
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/discriminatedUnions.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/treeTextFormat.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/basicChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncoding.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/emptyChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/indexing/anchorTreeIndex.ts
  packages/dds/tree/src/feature-libraries/modular-schema/comparison.ts
  packages/dds/tree/src/feature-libraries/modular-schema/isNeverTree.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/node-key/mockNodeKeyManager.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/feature-libraries/schema-index/codec.ts
  packages/dds/tree/src/feature-libraries/sequence-field/compose.ts
  packages/dds/tree/src/feature-libraries/sequence-field/invert.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV2.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeFamily.ts
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/dds/tree/src/simple-tree/api/simpleTreeIndex.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/api/view.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/schemaCaching.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/codec/codec.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeApi.spec.ts
  packages/dds/tree/src/util/idAllocator.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23920 Recommend pretty-ts-errors in tree workspace
  packages/dds/tree/.vscode/extensions.json
Labels: base: main

#23921 tree: tests showcasing bug that hits assert 0x778
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#23043 Move Json domain from test to internal
  examples/utils/import-testing/src/test/importer.spec.ts
  examples/utils/import-testing/src/testExports.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/schemaSummarizer.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/json/index.ts
  packages/dds/tree/src/test/json/jsonCursor.ts
  packages/dds/tree/src/test/json/jsonDomainSchema.ts
  packages/dds/tree/src/test/jsonDomainSchema.spec.ts
  packages/dds/tree/src/test/sequenceRootUtils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/conciseTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#23923 Added a flag to enable verbose error logging in Redis
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/deli/index.ts
  server/routerlicious/packages/services-utils/src/redisClientConnectionManager.ts
Labels: area: server, base: main

#23924 Ingested r11 changes
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23701 Local server stress tests
  packages/test/local-server-stress-tests/.eslintrc.cjs
  packages/test/local-server-stress-tests/.gitignore
  packages/test/local-server-stress-tests/.mocharc.cjs
  packages/test/local-server-stress-tests/.npmignore
  packages/test/local-server-stress-tests/LICENSE
  packages/test/local-server-stress-tests/biome.jsonc
  packages/test/local-server-stress-tests/package.json
  packages/test/local-server-stress-tests/prettier.config.cjs
  packages/test/local-server-stress-tests/src/ddsModels.ts
  packages/test/local-server-stress-tests/src/ddsOperations.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-stress-tests/src/test/dirname.cts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/tsconfig.json
  packages/test/local-server-stress-tests/src/utils.ts
  pnpm-lock.yaml
Labels: dependencies, area: tests, base: main

#23922 Put JSON domain in JsonAsTree namespace, and mark alpha
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/basicChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkTree.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunk.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/uniformChunkTestData.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/schemaSummarizer.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/json/jsonCursor.ts
  packages/dds/tree/src/test/jsonDomainSchema.spec.ts
  packages/dds/tree/src/test/sequenceRootUtils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/conciseTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main

#23928 fix(server): Make sure all promises are bubbled up in session prune
  server/routerlicious/packages/services/src/sessionTracker.ts
Labels: area: server, base: main

#23927 Add FluidSerializableAsTree domain
  examples/utils/import-testing/src/test/tsconfig.json
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/serializableDomainSchema.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#23934 fix(merge-tree): Correctly bookkeep insert into local-only obliterate
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
Labels: area: dds, base: main

#23926 (tree) Add changeset to include the performance enhancements in shared tree
  .changeset/purple-ideas-switch.md
Labels: base: main, changeset-present

#23848 refactor(test-utils): Remove dependency on `aqueduct`
  packages/framework/aqueduct/src/data-object-factories/dataObjectFactory.ts
  packages/test/local-server-tests/src/test/connectionMode.spec.ts
  packages/test/local-server-tests/src/test/data-migration/basicMigration.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
  packages/test/local-server-tests/src/test/opsOnReconnect.spec.ts
  packages/test/local-server-tests/src/test/synchronousDataStoreCreation.spec.ts
  packages/test/local-server-tests/src/utils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcContainerRuntimeCompat.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/containerRuntimeFactories.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/localCodeLoader.ts
  packages/test/test-utils/src/testContainerRuntimeFactoryWithDefaultDataStore.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, area: tests, base: main

#23938 Add base type check to Tree.is
  .changeset/real-doodles-draw.md
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#23937 [release/2.22] fix(merge-tree): Correctly bookkeep insert into local-only obliterate
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
Labels: base: release

#23929 (tree) Add changeset for perf improvement to composition
  .changeset/blue-plants-act.md
Labels: base: main, changeset-present

#23944 Passing the baseUrl to BasicRestWrapper
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#23799 refactor(aqueduct, fluid-static): Move `DataObjectKind` from `fluid-static` to `aqueduct`
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/dataObject.ts
  packages/framework/aqueduct/src/data-objects/index.ts
  packages/framework/aqueduct/src/data-objects/types.ts
  packages/framework/aqueduct/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
  packages/framework/presence/.eslintrc.cjs
  packages/framework/presence/package.json
  packages/framework/presence/tsconfig.cjs.json
  packages/framework/presence/tsconfig.json
  packages/framework/presence/tsconfig.main.cjs.json
  packages/framework/presence/tsconfig.main.json
Labels: area: framework, base: main

#23939 Edit Tree Perf changesets
  .changeset/blue-plants-act.md
  .changeset/large-heads-jog.md
  .changeset/purple-ideas-switch.md
Labels: base: main, changeset-present

#23946 improvement(merge-tree): Remove wasMovedOnInsert
  packages/dds/merge-tree/docs/Obliterate.md
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
Labels: area: dds, base: main

#23952 Added baseUrl for internal requests and hostname for client requests
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, public api change, base: main

#23772 improvement(devtools-view): enable noUncheckedIndexedAccess
  packages/tools/devtools/devtools-view/.eslintrc.cjs
  packages/tools/devtools/devtools-view/src/components/graphs/DynamicComposedChart.tsx
  packages/tools/devtools/devtools-view/tsconfig.json
Labels: base: main

#23947 Local Server Stress Improvements and Simplifications
  packages/test/local-server-stress-tests/src/ddsOperations.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
Labels: area: tests, base: main

#23550 Add DisconnectReason when FF disconnects and emit it to FRS
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/test/r11sSocketTests.spec.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
Labels: area: server, area: driver, base: main

#23957 Revert "Add DisconnectReason when FF disconnects and emit it to FRS"
  packages/drivers/driver-base/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/documentDeltaConnection.ts
  packages/drivers/routerlicious-driver/src/test/r11sSocketTests.spec.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
Labels: area: server, area: driver, base: main
