Repository microsoft/FluidFramework, pull requests merged in 2025-09, with the labels that each got.

#25303 test(directory): Update new SharedDirectory.forEach() test
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: main

#25281 Enabling local server stress tests for Shared Array
  packages/dds/legacy-dds/src/array/sharedArray.ts
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
  packages/dds/legacy-dds/src/test/array/fuzzUtils.ts
  packages/test/local-server-stress-tests/package.json
  packages/test/local-server-stress-tests/src/ddsModels.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: tests, base: main

#25351 test(client): debuggability via console or debugger
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/orchestratorUtils.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
Labels: base: main

#25167 feat(directory): Directory rollback across remote ops (Part 2 - all ops)
  packages/dds/map/package.json
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.iteration.spec.ts
  packages/dds/map/src/test/mocha/directory.rollback.spec.ts
  packages/dds/map/src/test/mocha/reconnection.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: tests, base: main

#25356 Remove un-needed "test:realsvc:run" scripts
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/service-clients/end-to-end-tests/odsp-client/package.json
  packages/test/test-drivers/README.md
Labels: area: tests, base: main

#25363 ci: Bump benchmark pipeline timeout to account for new tests
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#25368 Have examples/benchmarks/tablebench/.mocharc.customBenchmarks.cjs extend test config
  examples/benchmarks/tablebench/.mocharc.customBenchmarks.cjs
Labels: base: main

#25374 Shared Signal rollback
  packages/dds/legacy-dds/src/signal/sharedSignal.ts
  packages/dds/legacy-dds/src/test/signal/signal.rollback.spec.ts
Labels: area: dds, base: main

#25362 Add readme to tree tests
  packages/dds/tree/.mocharc.cjs
  packages/dds/tree/src/test/README.md
Labels: area: dds, area: dds: tree, base: main

#25375 build: Update sha.js to address CVE
  common/lib/common-utils/pnpm-lock.yaml
  pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/getkeys/pnpm-lock.yaml
Labels: area: server, dependencies, base: main

#25366 Make presence tests use standard base config, fixing test result reporting
  packages/framework/presence/.mocharc.cjs
  packages/framework/presence/package.json
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#25383 build: More updates for sha.js
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  packages/common/client-utils/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, base: main

#25380 Bump version of tenant setup package
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#25369 build: Remove unused dev dependencies on `@microsoft/api-documenter`
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main

#25274 feat(task-manager): Make TaskManager conesnsus behavior consistent
  packages/dds/task-manager/src/interfaces.ts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/task-manager/src/test/taskManager.spec.ts
Labels: area: dds, base: main

#25387 improvement(task-manager): Ignore stashed ops
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
Labels: area: dds, base: main

#25396 Revert "Bump version of tenant setup package"
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#25405 build(eslint-config-fluid): Update dev dependencies
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#25406 build(eslint-config-fluid): Update dependencies on `@microsoft` and `@rushstack` libraries
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#25407 build(eslint-config-fluid): Update dependency on `eslint-plugin-jsdoc`
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#25417 fix(tree): Guard against reverts during change notifications
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25424 Fix experimental tree so its tests can run in ESM mode, and also do run in ESM mode (fixed perf tests which also use ESM mode)
  experimental/dds/tree/package.json
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  experimental/dds/tree/src/test/utilities/dirname.cts
Labels: area: dds, area: dds: tree, base: main

#25426 Expose createSemanticAgent function
  packages/framework/tree-agent/src/index.ts
Labels: area: framework, base: main

#25425 build(client): Include re-exports in API reports
  azure/packages/azure-service-utils/api-report/azure-service-utils.beta.api.md
  azure/packages/azure-service-utils/api-report/azure-service-utils.legacy.beta.api.md
  azure/packages/azure-service-utils/api-report/azure-service-utils.legacy.public.api.md
  azure/packages/azure-service-utils/api-report/azure-service-utils.public.api.md
  common/build/build-common/api-extractor-report-base.esm.json
  packages/common/container-definitions/api-report/container-definitions.beta.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.beta.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.public.api.md
  packages/common/container-definitions/api-report/container-definitions.public.api.md
  packages/dds/legacy-dds/api-report/legacy-dds.legacy.beta.api.md
  packages/dds/sequence/api-report/sequence.legacy.beta.api.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.beta.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/drivers/local-driver/api-extractor/api-extractor.current.json
  packages/drivers/local-driver/api-extractor/api-extractor.legacy.json
  packages/framework/aqueduct/api-report/aqueduct.legacy.beta.api.md
  packages/framework/fluid-framework/api-extractor/api-extractor.current.json
  packages/framework/fluid-framework/api-extractor/api-extractor.legacy.json
  packages/runtime/container-runtime/api-report/container-runtime.legacy.beta.api.md
  packages/service-clients/azure-client/api-report/azure-client.beta.api.md
  packages/service-clients/azure-client/api-report/azure-client.legacy.beta.api.md
  packages/service-clients/azure-client/api-report/azure-client.legacy.public.api.md
  packages/service-clients/azure-client/api-report/azure-client.public.api.md
Labels: area: framework, area: runtime, area: driver, area: dds, area: build, area: dds: sharedstring, public api change, area: dds: tree, base: main

#25412 LocalServerStress: Cleanup and consolidation
  packages/test/local-server-stress-tests/src/baseModel.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: tests, base: main

#25411 Add op signal counts
  server/routerlicious/packages/lambdas/src/nexus/disconnect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/interfaces.ts
  server/routerlicious/packages/lambdas/src/test/nexus/sessionMetrics.spec.ts
  server/routerlicious/packages/services-core/src/collabSession.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services/src/redisSessionManager.ts
  server/routerlicious/packages/services/src/sessionTracker.ts
  server/routerlicious/packages/services/src/test/redisSessionManager.spec.ts
  server/routerlicious/packages/services/src/test/sessionTrackerMetrics.spec.ts
Labels: area: server, base: main

#25457 Add map support to tree-agent
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/idGenerator.ts
  packages/framework/tree-agent/src/test/domains/users.ts
  packages/framework/tree-agent/src/test/scenarios/addUsers.ts
  packages/framework/tree-agent/src/typeGeneration.ts
  packages/framework/tree-agent/src/utils.ts
Labels: area: framework, base: main

#25456 tree-agent: Support GPT-5 & docs update
  packages/framework/tree-agent/package.json
  packages/framework/tree-agent/src/methodBinding.ts
  packages/framework/tree-agent/src/test/utils.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#25428 Enable toggleMove in base model; fix fuzz utils
  packages/dds/legacy-dds/src/array/sharedArray.ts
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
  packages/dds/legacy-dds/src/test/array/fuzzUtils.ts
Labels: area: dds, base: main

#25439 map: Add oracle for event testing
  packages/dds/map/src/test/mapOracle.ts
  packages/dds/map/src/test/mocha/fuzzUtils.ts
  packages/dds/map/src/test/mocha/map.fuzz.spec.ts
  packages/dds/map/src/test/mocha/oracleUtils.ts
Labels: area: dds, base: main

#25462 refactor(tree) Simplify load detached
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
Labels: area: dds, area: dds: tree, base: main

#25465 Added React linting to inventory-app and fixed existing violations
  examples/data-objects/inventory-app/.eslintrc.cjs
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/src/index.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#25468 improvement(api-markdown-documenter): Add return types to call-signature tables
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterface-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-interface.md
Labels: base: main

#25472 refactor(api-markdown-documenter): Remove unneeded `getFilteredMembers` helper
  tools/api-markdown-documenter/api-report/api-markdown-documenter.api.md
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiEnum.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiTypeLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/utilities/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/utilities/index.ts
Labels: public api change, base: main

#25473 refactor(api-markdown-documenter): Simplify table helper params
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
Labels: base: main

#25479 improvement(api-markdown-documenter): Better table column naming
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterface-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterfacewithindexsignature-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterfacewithindexsignature-interface.md
Labels: base: main

#25478 fix(api-markdown-documenter): Don't clobber required extensions with user-provided ones
  tools/api-markdown-documenter/src/renderers/markdown-renderer/Render.ts
Labels: base: main

#25480 build(eslint-config-fluid): Update TypeScript plugin dependencies
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#25486 build(eslint-plugin-fluid): Update dependencies
  common/build/eslint-plugin-fluid/CHANGELOG.md
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#25487 build(eslint-plugin-fluid): Update dev dependency on prettier
  common/build/eslint-plugin-fluid/CHANGELOG.md
  common/build/eslint-plugin-fluid/DEV.md
  common/build/eslint-plugin-fluid/README.md
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/src/rules/no-unchecked-record-access.js
  common/build/eslint-plugin-fluid/src/test/example/no-unchecked-record-access/fileWithOnlyArrayAccess.ts
Labels: area: build, base: main

#25488 build(api-markdown-documenter): Update dependencies
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: base: main

#25483 test(api-markdown-documenter): Expand test suite
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/functionwithoverloads-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/functionwithoverloads_1-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/functionwithoverloads_2-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/intersectiontype-typealias/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testclass-class/abstractpropertygetter-property.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testclass-class/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testfunctionreturningintersectiontype-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterfacewithcallsignature-interface/_call_-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterfacewithcallsignature-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/typewithconstructsignature-typealias/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/typewithproperties-typealias/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/uniontype-typealias/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/intersectiontype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithcallsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/typewithconstructsignature-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/typewithproperties-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/uniontype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/functionwithoverloads-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/functionwithoverloads_1-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/functionwithoverloads_2-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/intersectiontype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testclass-abstractpropertygetter-property.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testfunctionreturningintersectiontype-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterfacewithcallsignature-_call_-callsignature.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterfacewithcallsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/typewithconstructsignature-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/typewithproperties-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/uniontype-typealias.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test/test-suite-a.api.json
Labels: base: main

#25497 fix(api-markdown-documenter): Ensure no line breaks in HTML table cell content
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
Labels: base: main

#25495 semantic-editing: Encourage helper method usage in system prompt
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/test/systemPrompt.spec.ts
  packages/framework/tree-agent/src/utils.ts
Labels: area: framework, base: main

#25494 fix(api-markdown-documenter): Escape child content of HTML headings
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/src/mdast/Normalize.ts
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithcallsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
Labels: base: main

#25492 feat(eslint-plugin-fluid): Add rule to forbid the use of Markdown links in JSDoc/TSDoc comments
  common/build/eslint-plugin-fluid/CHANGELOG.md
  common/build/eslint-plugin-fluid/index.js
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/src/rules/no-markdown-links-in-jsdoc.js
  common/build/eslint-plugin-fluid/src/test/enforce-no-markdown-links-in-jsdoc/enforce-no-markdown-links-in-jsdoc.test.js
  common/build/eslint-plugin-fluid/src/test/example/no-markdown-links-in-jsdoc/test.ts
Labels: area: build, base: main

#25498 Test and export TreeViewComponent
  examples/client-logger/app-insights-logger/package.json
  experimental/framework/tree-react-api/api-report/tree-react-api.alpha.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.beta.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.public.api.md
  experimental/framework/tree-react-api/package.json
  experimental/framework/tree-react-api/src/index.ts
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.ts
  experimental/framework/tree-react-api/src/test/reactSharedTreeView.spec.tsx
  packages/tools/devtools/devtools-test-app/package.json
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: area: examples, area: dev experience, dependencies, public api change, base: main

#25506 tag asserts
  packages/dds/task-manager/src/taskManager.ts
  packages/dds/tree/src/simple-tree/api/dirtyIndex.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#25510 release note for 2.61.0
  RELEASE_NOTES/2.61.0.md
Labels: base: main

#25535 Use internal repository to manage secondary pipeline dependencies
  scripts/get-test-pass-rate.mjs
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/templates/include-vars-telemetry-generator.yml
Labels: area: build, base: main

#25536 tree: Fix bug with loading shared branches from summary
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
Labels: area: dds, area: dds: tree, base: main

#25539 fix(tree): sequencing of shared branch commits while detached
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManager.bench.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCorrectness.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerPerf.test.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerScenario.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerTestUtils.ts
Labels: area: dds, area: dds: tree, base: main

#25513 ContainerLoader: Move getPendingLocalState to legacy/alpha
  experimental/dds/tree/src/test/utilities/TestUtilities.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/loader/container-loader/api-extractor/api-extractor-lint-legacyAlpha.cjs.json
  packages/loader/container-loader/api-extractor/api-extractor-lint-legacyAlpha.esm.json
  packages/loader/container-loader/api-extractor/api-extractor.legacy.json
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/index.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/test-end-to-end-tests/src/test/container.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdOffline.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/initialSequenceNumberAndStashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/noGroupIdOfflineFlow.spec.ts
  packages/test/test-end-to-end-tests/src/test/intervalCollectionEndToEndTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/migration-shim/reconnect.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/blobHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/offlineTestsUtils.ts
  packages/test/test-end-to-end-tests/src/test/offline/refreshSerializerLifeCycle.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/stashedOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/waitForSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/refreshSerializedStateManager.spec.ts
  packages/test/test-service-load/src/runner.ts
Labels: area: loader, area: dds, area: tests, public api change, area: dds: tree, base: main

#25540 Allow specifying primary registry in include-install-pnpm.yaml
  tools/pipelines/templates/include-install-pnpm.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
Labels: area: build, base: main

#25542 Make tree-react-api exports alpha
  .changeset/fifty-foxes-repair.md
  examples/data-objects/inventory-app/src/index.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  examples/service-clients/azure-client/todo-list/src/view.tsx
  experimental/framework/tree-react-api/README.md
  experimental/framework/tree-react-api/api-extractor/api-extractor-lint-alpha.cjs.json
  experimental/framework/tree-react-api/api-extractor/api-extractor-lint-alpha.esm.json
  experimental/framework/tree-react-api/api-extractor/api-extractor-lint-beta.cjs.json
  experimental/framework/tree-react-api/api-extractor/api-extractor-lint-beta.esm.json
  experimental/framework/tree-react-api/api-report/tree-react-api.alpha.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.beta.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.public.api.md
  experimental/framework/tree-react-api/package.json
  experimental/framework/tree-react-api/src/propNode.ts
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  experimental/framework/tree-react-api/src/simpleIdentifier.ts
  experimental/framework/tree-react-api/src/useObservation.ts
  experimental/framework/tree-react-api/src/useTree.ts
  packages/tools/devtools/devtools-test-app/src/widgets/TodoItemView.tsx
  packages/tools/devtools/devtools-test-app/src/widgets/TodoListView.tsx
Labels: area: examples, area: dev experience, public api change, base: main, changeset-present

#25546 [test/data-migration] Finish new MigrationDataObject-centric approach to migration
  packages/framework/aqueduct/api-report/aqueduct.legacy.beta.api.md
  packages/framework/aqueduct/src/data-object-factories/index.ts
  packages/framework/aqueduct/src/data-object-factories/migrationDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/index.ts
  packages/framework/aqueduct/src/data-objects/migrationDataObject.ts
  packages/framework/aqueduct/src/demo.ts
  packages/framework/aqueduct/src/index.ts
Labels: area: framework, base: main

#25548 Rename @fluid-experimental/tree-react-api to @fluidframework/react
  .changeset/fifty-foxes-repair.md
  .changeset/slick-pillows-cheer.md
  PACKAGES.md
  examples/data-objects/inventory-app/package.json
  examples/data-objects/inventory-app/src/index.ts
  examples/data-objects/inventory-app/src/inventoryList.ts
  examples/data-objects/inventory-app/src/view/inventoryList.tsx
  examples/service-clients/azure-client/todo-list/package.json
  examples/service-clients/azure-client/todo-list/src/view.tsx
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
  packages/framework/fluid-framework/README.md
  packages/framework/react/.eslintrc.cjs
  packages/framework/react/.mocharc.cjs
  packages/framework/react/.npmignore
  packages/framework/react/CHANGELOG.md
  packages/framework/react/LICENSE
  packages/framework/react/README.md
  packages/framework/react/api-extractor-lint.json
  packages/framework/react/api-extractor.json
  packages/framework/react/api-extractor/api-extractor-lint-alpha.cjs.json
  packages/framework/react/api-extractor/api-extractor-lint-alpha.esm.json
  packages/framework/react/api-extractor/api-extractor-lint-beta.cjs.json
  packages/framework/react/api-extractor/api-extractor-lint-beta.esm.json
  packages/framework/react/api-extractor/api-extractor-lint-bundle.json
  packages/framework/react/api-extractor/api-extractor-lint-public.cjs.json
  packages/framework/react/api-extractor/api-extractor-lint-public.esm.json
  packages/framework/react/api-report/react.alpha.api.md
  packages/framework/react/api-report/react.beta.api.md
  packages/framework/react/api-report/react.public.api.md
  packages/framework/react/biome.jsonc
  packages/framework/react/package.json
  packages/framework/react/src/index.ts
  packages/framework/react/src/propNode.ts
  packages/framework/react/src/reactSharedTreeView.tsx
  packages/framework/react/src/simpleIdentifier.ts
  packages/framework/react/src/test/propNode.spec.ts
  packages/framework/react/src/test/reactSharedTreeView.spec.tsx
  packages/framework/react/src/test/simpleIdentifier.spec.ts
  packages/framework/react/src/test/tsconfig.cjs.json
  packages/framework/react/src/test/tsconfig.json
  packages/framework/react/src/test/useObservation.spec.tsx
  packages/framework/react/src/test/useTree.spec.tsx
  packages/framework/react/src/useObservation.ts
  packages/framework/react/src/useTree.ts
  packages/framework/react/tsconfig.cjs.json
  packages/framework/react/tsconfig.json
  packages/framework/react/tsdoc.json
  packages/tools/devtools/devtools-core/src/FluidObjectKey.ts
  packages/tools/devtools/devtools-test-app/package.json
  packages/tools/devtools/devtools-test-app/src/widgets/TodoItemView.tsx
  packages/tools/devtools/devtools-test-app/src/widgets/TodoListView.tsx
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, base: main, changeset-present

#25505 feat(matrix): Add oracle for event testing
  packages/dds/matrix/src/test/fuzz.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/matrixOracle.ts
Labels: area: dds, base: main

#25550 Use secondary repository checkout in performance benchmarks pipeline
  packages/dds/map/src/test/memory/.mocharc.cjs
  packages/dds/matrix/src/test/memory/.mocharc.cjs
  packages/dds/matrix/src/test/time/.mocharc.cjs
  packages/dds/sequence/src/test/memory/.mocharc.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.memory.cjs
  packages/test/test-end-to-end-tests/src/test/benchmark/.mocharc.time.cjs
  tools/pipelines/templates/include-copy-dev-dependencies.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-setup-npmrc-for-download.yml
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-vars-telemetry-generator.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#25563 Restore compat install caching to include-test-real-service.yaml
  tools/pipelines/templates/include-test-real-service.yml
Labels: area: build, base: main

#25555 Remove redundant fluid-static layer setting
  PACKAGES.md
  layerInfo.json
Labels: base: main

#25381 Remove JsonValidator export
  .changeset/proud-candles-bake.md
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  examples/apps/tree-cli-app/src/utils.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/codec/noopValidator.ts
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/external-utilities/index.ts
  packages/dds/tree/src/external-utilities/typeboxValidator.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/codec/ajvValidator.ts
  packages/dds/tree/src/test/codec/codec.spec.ts
  packages/dds/tree/src/test/codec/versioned/codec.spec.ts
  packages/dds/tree/src/test/core/tree/detachedFieldIndex.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizer.spec.ts
  packages/dds/tree/src/test/feature-libraries/forest-summary/forestSummarizerCodec.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldCodecs.test.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/messageCodec.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/simple-tree/api/stagedSchemaUpgrade.spec.ts
  packages/dds/tree/src/test/simple-tree/api/storedSchema.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/dds/tree/src/test/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/react/src/reactSharedTreeView.tsx
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25564 pnpm dedupe
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, base: main

#25565 StagingMode: Change default to non-readonly
  packages/runtime/container-runtime/src/dataStoreContext.ts
Labels: area: runtime, base: main

#25577 Changes in changelogs before 2.62.0 release
  .changeset/lazy-comics-cheat.md
  .changeset/slick-pillows-cheer.md
Labels: base: main, changeset-present

#25568 Improve schema naming utils in tree-agent package
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/test/schemaUtils.spec.ts
  packages/framework/tree-agent/src/test/systemPrompt.spec.ts
  packages/framework/tree-agent/src/utils.ts
Labels: area: framework, base: main

#25573 queryTypesResolutionPathsFromPackageExports
  build-tools/packages/build-cli/src/library/packageExports.ts
  build-tools/packages/build-cli/src/test/library/packageExports.test.ts
Labels: area: build, base: main

#25571 Update to pnpm 10
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-infrastructure/src/test/data/testRepo/package.json
  build-tools/packages/build-infrastructure/src/test/data/testRepo/pnpm-lock.yaml
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  common/build/build-common/package.json
  common/build/eslint-config-fluid/package.json
  common/build/eslint-plugin-fluid/package.json
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/gitrest/package.json
  server/historian/package.json
  server/routerlicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/benchmark/package.json
  tools/getkeys/package.json
  tools/test-tools/package.json
Labels: area: server, area: build, dependencies, area: website, base: main

#25587 Handle recursive schema types in tree-agent
  packages/framework/tree-agent/src/test/schemaUtils.spec.ts
  packages/framework/tree-agent/src/typeGeneration.ts
  packages/framework/tree-agent/src/utils.ts
Labels: area: framework, base: main

#25582 Add tests which build code using Fluid Framework with libCheck and different compiler versions and configurations
  examples/utils/import-testing/.mocharc.cjs
  examples/utils/import-testing/package.json
  examples/utils/import-testing/src/test/build.spec.ts
  examples/utils/import-testing/src/test/importer.spec.ts
  examples/utils/import-testing/tsconfig.test.json
  pnpm-lock.yaml
  syncpack.config.cjs
Labels: area: examples, dependencies, base: main
