Repository microsoft/FluidFramework, pull requests merged in 2025-01, with the labels that each got.

#23351 test(client-presence): old collateral connection and stale connection tests
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
Labels: area: framework, base: main

#23406 MergeTree: Remove Partial IRemovalInfo and IMoveInfo from Segments
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotV1.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testUtils.ts
Labels: area: dds, base: main

#23421 docs(tree): add missing links
  docs/docs/data-structures/tree/index.mdx
Labels: area: website, base: main

#23420 Add BenchmarkTimer.timeBatch utility and docs
  tools/benchmark/CHANGELOG.md
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/runBenchmark.ts
  tools/benchmark/src/test/Benchmark.unit.tests.ts
Labels: public api change, base: main

#23418 refactor: Inline yaml templates and fix bug
  tools/pipelines/publish-api-model-artifact.yml
  tools/pipelines/templates/download-api-extractor-artifact.yml
  tools/pipelines/templates/upload-json-steps.yml
Labels: area: build, base: main

#23429 feat(test-tools): Support lerna in assign-test-ports
  tools/test-tools/bin/assign-test-ports
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
  tools/test-tools/src/assignTestPorts.ts
  tools/test-tools/src/test/assignTestPorts.spec.ts
Labels: base: release

#23427 Deduplicate qualifiedTitle logic
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/mocha/runner.ts
Labels: public api change, base: main

#23426 MergeTree: Add and use MergeNodeInfo
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/referencePositions.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/segmentGroupCollection.spec.ts
  packages/dds/merge-tree/src/test/sortedSegmentSet.spec.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, base: main

#23433 Work around mocha node options limitation
  packages/test/mocha-test-setup/mocharc-common.cjs
  tools/benchmark/.mocharc.cjs
Labels: area: tests, base: main

#23415 refactor: Update cross-spawn transitive dependency across the repo
  build-tools/packages/build-infrastructure/src/test/data/testRepo/package.json
  build-tools/packages/build-infrastructure/src/test/data/testRepo/pnpm-lock.yaml
  build-tools/pnpm-lock.yaml
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#23416 refactor: Update transitive dependency 'micromatch' across the repo
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  common/lib/protocol-definitions/pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#23414 refactor(build-cli): Make 'flub modify lockfile' support independent package names
  build-tools/packages/build-cli/docs/modify.md
  build-tools/packages/build-cli/src/commands/modify/lockfile.ts
Labels: area: build, base: main

#23412 refactor(ci): Pipeline yml cleanup
  tools/pipelines/build-api-markdown-documenter.yml
  tools/pipelines/build-benchmark-tool.yml
  tools/pipelines/build-build-common.yml
  tools/pipelines/build-build-tools.yml
  tools/pipelines/build-client.yml
  tools/pipelines/build-common-utils.yml
  tools/pipelines/build-eslint-config-fluid.yml
  tools/pipelines/build-eslint-plugin-fluid.yml
  tools/pipelines/build-protocol-definitions.yml
  tools/pipelines/build-test-tools.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-install-build-tools.yml
  tools/pipelines/templates/include-install.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
  tools/pipelines/templates/include-set-package-version.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/templates/include-test-stability.yml
  tools/pipelines/templates/include-vars.yml
Labels: area: build, base: main

#23417 refactor(devtools): Move and rename devtools-example
  packages/tools/devtools/devtools-test-app/.eslintrc.cjs
  packages/tools/devtools/devtools-test-app/.gitignore
  packages/tools/devtools/devtools-test-app/.npmignore
  packages/tools/devtools/devtools-test-app/CHANGELOG.md
  packages/tools/devtools/devtools-test-app/LICENSE
  packages/tools/devtools/devtools-test-app/README.md
  packages/tools/devtools/devtools-test-app/biome.jsonc
  packages/tools/devtools/devtools-test-app/jest-puppeteer.config.cjs
  packages/tools/devtools/devtools-test-app/jest.config.cjs
  packages/tools/devtools/devtools-test-app/package.json
  packages/tools/devtools/devtools-test-app/prettier.config.cjs
  packages/tools/devtools/devtools-test-app/src/App.tsx
  packages/tools/devtools/devtools-test-app/src/ClientUtilities.ts
  packages/tools/devtools/devtools-test-app/src/Container.ts
  packages/tools/devtools/devtools-test-app/src/FluidObject.ts
  packages/tools/devtools/devtools-test-app/src/MockSharedObject.ts
  packages/tools/devtools/devtools-test-app/src/index.html
  packages/tools/devtools/devtools-test-app/src/index.tsx
  packages/tools/devtools/devtools-test-app/src/test/ExampleUi.test.ts
  packages/tools/devtools/devtools-test-app/src/widgets/CounterWidget.tsx
  packages/tools/devtools/devtools-test-app/src/widgets/EmojiButton.tsx
  packages/tools/devtools/devtools-test-app/src/widgets/EmojiGrid.tsx
  packages/tools/devtools/devtools-test-app/src/widgets/index.ts
  packages/tools/devtools/devtools-test-app/tsconfig.cjs.json
  packages/tools/devtools/devtools-test-app/tsconfig.json
  packages/tools/devtools/devtools-test-app/webpack.config.cjs
  packages/tools/devtools/devtools-test-app/webpack.dev.cjs
  packages/tools/devtools/devtools-test-app/webpack.prod.cjs
  pnpm-lock.yaml
Labels: dependencies, base: main

#23439 fix: Use node-option as array in logic for e2e routerlicious tests
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
Labels: base: main

#23430 [bump] test-tools: 2.0.0 => 2.0.1 (patch)
  tools/test-tools/CHANGELOG.md
  tools/test-tools/package.json
Labels: base: release

#23411 refactor(ci): Move telemetry-generator out of the public repo
  biome.jsonc
  fluidBuild.config.cjs
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/templates/include-upload-stage-telemetry.yml
  tools/pipelines/templates/include-vars-telemetry-generator.yml
  tools/pipelines/templates/include-vars.yml
  tools/pipelines/test-dds-stress.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
  tools/telemetry-generator/.eslintrc.cjs
  tools/telemetry-generator/.mocharc.cjs
  tools/telemetry-generator/LICENSE
  tools/telemetry-generator/README.md
  tools/telemetry-generator/bin/dev
  tools/telemetry-generator/bin/dev.cmd
  tools/telemetry-generator/bin/run
  tools/telemetry-generator/bin/run.cmd
  tools/telemetry-generator/package-lock.json
  tools/telemetry-generator/package.json
  tools/telemetry-generator/prettier.config.cjs
  tools/telemetry-generator/src/commands/appInsights.ts
  tools/telemetry-generator/src/commands/index.ts
  tools/telemetry-generator/src/handlers/appInsightsCustomBenchmarkHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsExecutionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/appInsightsMemoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/bundleSizeHandler.ts
  tools/telemetry-generator/src/handlers/customBenchmarkHandler.ts
  tools/telemetry-generator/src/handlers/executionTimeTestHandler.ts
  tools/telemetry-generator/src/handlers/memoryUsageTestHandler.ts
  tools/telemetry-generator/src/handlers/stageTimingRetriever.ts
  tools/telemetry-generator/src/handlers/template.ts
  tools/telemetry-generator/src/handlers/testPassRate.ts
  tools/telemetry-generator/src/index.ts
  tools/telemetry-generator/src/logger.ts
  tools/telemetry-generator/src/test/appInsightsCustomBenchmarkHandler.test.ts
  tools/telemetry-generator/src/test/appInsightsExecutionTimeTestHandler.test.ts
  tools/telemetry-generator/src/test/appInsightsMemoryUsageTestHandler.test.ts
  tools/telemetry-generator/src/test/executionTimeTestHandler.test.ts
  tools/telemetry-generator/src/test/memoryUsageTestHandler.test.ts
  tools/telemetry-generator/tsconfig.json
Labels: area: build, base: main

#23436 eslint(test-end-to-end-tests): Prefix test-end-to-end-tests before enabling no-unchecked-record-access
  packages/test/test-end-to-end-tests/src/mocking.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementally.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementallySubDds.spec.ts
Labels: area: tests, base: main

#23442 Try to identify customer issued close vs timeout
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#23435 Deduplicate supportParentProcess logic
  tools/benchmark/package.json
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
Labels: base: main

#23400 (tree): Support for adding constraints on revert to view.runTransaction API
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/transactionTypes.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23451 Tag asserts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23447 MergeTree; Add and use explicit segment leaf type within the tree structure
  packages/dds/merge-tree/src/attributionPolicy.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodeWalk.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotlegacy.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.walk.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/zamboni.ts
Labels: area: dds, base: main

#23453 Tag asserts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, base: main

#23354 Abstract customdataRetriever in historian, pass simplified customData to gitrest filesystem
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/helpers.ts
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/customizations.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/definitions.ts
  server/historian/packages/historian-base/src/services/index.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/simplifiedCustomDataRetriever.ts
  server/historian/packages/historian-base/src/utils.ts
Labels: area: server, base: main

#23440 Adds support to restrict HTTP response sizes
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/responseSizeMiddleware.ts
  server/routerlicious/packages/services-utils/src/test/responseSizeMiddleware.spec.ts
Labels: area: server, base: main

#23423 eslint(container-loader): Prefix container-loader before enabling no-unchecked-record-access
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#23454 Edit changesets
  .changeset/grey-triangles-shout.md
  .changeset/moody-pandas-fall.md
Labels: base: main, changeset-present

#23432 Prefix trivial issues when enabling no-unchecked-record-access for client packages
  experimental/dds/attributable-map/src/mapKernel.ts
  packages/dds/map/src/directory.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/sequence/src/revertibles.ts
  packages/drivers/odsp-driver/src/WriteBufferUtils.ts
  packages/drivers/odsp-driver/src/compactSnapshotParser.ts
  packages/drivers/odsp-driver/src/odspDocumentStorageServiceBase.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/getUrlAndHeadersWithAuth.spec.ts
  packages/drivers/odsp-driver/src/test/prefetchSnapshotTests.spec.ts
  packages/drivers/replay-driver/src/storageImplementations.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/documentServiceFactory.ts
  packages/loader/driver-utils/src/test/summaryCompresssionTester.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/runtime-utils/src/test/summaryUtils.spec.ts
  packages/test/test-drivers/src/odspTestDriver.ts
  packages/test/test-drivers/src/routerliciousTestDriver.ts
  packages/test/test-service-load/src/FileLogger.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-view/src/components/graphs/DynamicComposedChart.tsx
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
Labels: area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: odsp-driver, base: main

#23443 Fixed landmark bug with main tag
  docs/src/pages/index.tsx
Labels: area: website, base: main

#23459 Add missing copyright header
  server/historian/packages/historian-base/src/services/simplifiedCustomDataRetriever.ts
Labels: area: server, base: main

#23460 Release notes for Fluid Framework v2.13.0
  RELEASE_NOTES/2.13.0.md
Labels: base: main

#23445 Remove scenario-runner
  azure/packages/test/scenario-runner/.eslintrc.cjs
  azure/packages/test/scenario-runner/.gitignore
  azure/packages/test/scenario-runner/.npmignore
  azure/packages/test/scenario-runner/CHANGELOG.md
  azure/packages/test/scenario-runner/LICENSE
  azure/packages/test/scenario-runner/README.md
  azure/packages/test/scenario-runner/biome.jsonc
  azure/packages/test/scenario-runner/configs/nestedMap.yml
  azure/packages/test/scenario-runner/configs/nestedMap2.yml
  azure/packages/test/scenario-runner/package.json
  azure/packages/test/scenario-runner/src/AzureClientRunner.ts
  azure/packages/test/scenario-runner/src/AzureFunctionTokenProvider.ts
  azure/packages/test/scenario-runner/src/DocCreatorRunner.ts
  azure/packages/test/scenario-runner/src/DocLoaderRunner.ts
  azure/packages/test/scenario-runner/src/MapTrafficRunner.ts
  azure/packages/test/scenario-runner/src/NestedMapRunner.ts
  azure/packages/test/scenario-runner/src/ScenarioRunner.ts
  azure/packages/test/scenario-runner/src/TestDataObject.ts
  azure/packages/test/scenario-runner/src/TestOrchestrator.ts
  azure/packages/test/scenario-runner/src/interface.ts
  azure/packages/test/scenario-runner/src/logger.ts
  azure/packages/test/scenario-runner/src/orchestratorRunner.ts
  azure/packages/test/scenario-runner/src/packageVersion.ts
  azure/packages/test/scenario-runner/src/scenarioRunnerClient.ts
  azure/packages/test/scenario-runner/src/test/mini.spec.ts
  azure/packages/test/scenario-runner/src/test/tsconfig.json
  azure/packages/test/scenario-runner/src/utils.ts
  azure/packages/test/scenario-runner/testConfig_v1.yml
  azure/packages/test/scenario-runner/tsconfig.json
  feeds/internal-build.txt
  feeds/internal-test.txt
  feeds/public.txt
Labels: base: main

#23464 build: Minor adjustments to release notes
  .changeset/moody-pandas-fall.md
  RELEASE_NOTES/2.13.0.md
Labels: base: main

#23428 eslint(telemetry-utils): Prefix telemetry-utils before enabling no-unchecked-record-access
  packages/utils/telemetry-utils/src/errorLogging.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/config.spec.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#23353 feat(tree): refactor RangeMap
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/memoizedIdRangeAllocator.ts
  packages/dds/tree/src/feature-libraries/modular-schema/crossFieldQueries.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/test/feature-libraries/memoizedIdRangeAllocator.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/rangeMap.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/rangeMap.ts
Labels: area: dds, area: dds: tree, base: main

#23466 Update lock file for removal of azure/packages/test/scenario-runner
  pnpm-lock.yaml
Labels: dependencies, base: main

#23458 Fix 'correctly handles simultaneous identical blob upload on separate…
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: tests, base: main

#23437 eslint(container-runtime): Prefix container-runtime before enabling no-unchecked-record-access
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcReferenceGraphAlgorithm.ts
  packages/runtime/container-runtime/src/test/channelCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
Labels: area: runtime, base: main

#22850 feat(@fluid-example/ai-collab): Integrate User Avatar into Sample App
  examples/apps/ai-collab/.eslintrc.cjs
  examples/apps/ai-collab/README.md
  examples/apps/ai-collab/next.config.mjs
  examples/apps/ai-collab/package.json
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/app/presence.ts
  examples/apps/ai-collab/src/app/spe.ts
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  examples/apps/ai-collab/src/components/UserPresenceGroup.tsx
  examples/apps/ai-collab/src/infra/authHelper.ts
  examples/apps/ai-collab/src/infra/graphHelper.ts
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23474 Added response size contraints in Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23397 tools: update Breaking Change issue template
  .github/ISSUE_TEMPLATE/breaking_change.md
Labels: base: main

#23462 test: skip flaky stashed ops test
  packages/test/test-end-to-end-tests/src/test/stashedOps.spec.ts
Labels: area: tests, base: main

#23473 refactor(telemetry-utlis): Make MockLogger internal
  .changeset/green-readers-burn.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.alpha.api.md
  packages/utils/telemetry-utils/src/mockLogger.ts
Labels: public api change, base: main, changeset-present

#23450 Add package to test public API surface used by apps
  examples/apps/tree-cli-app/src/test/tsconfig.json
  examples/utils/import-testing/.eslintrc.cjs
  examples/utils/import-testing/.mocharc.cjs
  examples/utils/import-testing/README.md
  examples/utils/import-testing/biome.jsonc
  examples/utils/import-testing/package.json
  examples/utils/import-testing/src/test/importer.spec.ts
  examples/utils/import-testing/src/test/tsconfig.cjs.json
  examples/utils/import-testing/src/test/tsconfig.json
  examples/utils/import-testing/src/testExports.ts
  examples/utils/import-testing/tsconfig.cjs.json
  examples/utils/import-testing/tsconfig.json
  experimental/framework/tree-react-api/src/test/tsconfig.json
  packages/framework/ai-collab/src/test/tsconfig.json
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: dev experience, dependencies, base: main

#23475 Update type test baselines to 2.13.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#23448 Remove deprecated Merge-Tree and SharedString ISegment members
  .changeset/nice-grapes-show.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/merge-tree/package.json
  packages/dds/merge-tree/src/endOfTreeSegment.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/opBuilder.ts
  packages/dds/merge-tree/src/partialLengths.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/dds/merge-tree/src/test/index.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/types/validateMergeTreePrevious.generated.ts
  packages/dds/sequence/package.json
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
Labels: area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#23481 fix(historian): remove default createGitService args
  server/historian/packages/historian-base/src/routes/utils.ts
Labels: area: server, base: main

#23463 fixed no-unchecked-record-access rule
  common/build/eslint-plugin-fluid/DEV.md
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/src/rules/no-unchecked-record-access.js
  common/build/eslint-plugin-fluid/src/test/enforce-no-unchecked-record-access/enforce-no-unchecked-record-access.test.js
  common/build/eslint-plugin-fluid/src/test/example/no-unchecked-record-access/indexedRecordOfStrings.ts
Labels: area: build, base: main

#23330 Copy npmrc in dockerfile
  server/gitrest/Dockerfile
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
Labels: area: server, base: main

#23336 [BREAK IN 2.20.0] Remove support for Batch Grouping configuration
  .changeset/quiet-days-carry.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23487 Build: more retries on npm install failures
  tools/pipelines/templates/include-telemetry-setup.yml
  tools/pipelines/templates/include-test-perf-benchmarks.yml
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#23478 Fix Test Flakiness: MigrationShim can drop v1 ops and migration ops
  packages/test/test-end-to-end-tests/src/test/migration-shim/stampedV2Ops.spec.ts
Labels: area: tests, base: main

#23489 bump(eslint-config-fluid): bump version of eslint-plugin-fluid
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
Labels: area: build, base: main

#23492 refactor(check:policy): Remove the assert tagging policy
  build-tools/packages/build-cli/src/library/repoPolicyCheck/assertShortCode.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/index.ts
Labels: area: build, base: main

#23488 Make forest config tree-shake compatible
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/memory/tree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23337 [For 2.20] Remove IContainerRuntimeOptions.flushmode
  .changeset/cruel-horses-cheat.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23493 Remove reentrantBatchGroupingEnabled
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#23502 Update typebox
  examples/apps/tree-cli-app/package.json
  packages/dds/tree/package.json
  pnpm-lock.yaml
Labels: area: examples, area: dds, dependencies, area: dds: tree, base: main

#23482 fix(build-cli): Update promptToGenerateReleaseNotes to use non-deprecated flag
  build-tools/packages/build-cli/src/handlers/promptFunctions.ts
Labels: area: build, base: main

#23503 Build: more retries on npm install failures (round 2)
  tools/pipelines/templates/include-test-perf-benchmarks-install-package.yml
Labels: area: build, base: main

#23341 [For 2.20] Move ContainerRuntime class to internal scope
  .changeset/better-mails-judge.md
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-service-load/src/loadTestDataStore.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main, changeset-present

#23446 Simplified ScheduleManager and renamed it to InboundBatchAggregator
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
  packages/runtime/container-runtime/src/inboundBatchAggregator.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/batching.spec.ts
  packages/runtime/container-runtime/src/test/scheduleManager.spec.ts
  packages/test/functional-tests/package.json
  packages/test/functional-tests/src/test/containerRuntime.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, area: tests, base: main

#23506 fix(api-markdown-documenter): Fix `minimumReleaseLevel` property typing
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuite.ts
Labels: public api change, base: main

#23507 refactor(api-markdown-documenter): Consistent release levels
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/RenderHtml.ts
Labels: public api change, base: main

#23509 refactor(api-markdown-documenter): Make property `readonly`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/FileSystemConfiguration.ts
Labels: public api change, base: main

#23499 Revert "eslint(container-runtime): Prefix container-runtime before enabling no-unchecked-record-access"
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcReferenceGraphAlgorithm.ts
  packages/runtime/container-runtime/src/test/channelCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcSummaryStateTracker.spec.ts
Labels: area: runtime, base: main

#23505 Stop tagging asserts in server
  fluidBuild.config.cjs
  server/routerlicious/packages/protocol-base/src/quorum.ts
Labels: area: server, base: main

#23422 Allow for passing client display name used when attributing changes to the current client in the collab session
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/factory.ts
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
  packages/drivers/odsp-driver/src/vroom.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: driver, area: tests, area: odsp-driver, public api change, base: main

#23501 Mark build output "sideEffects": false
  common/build/build-common/src/cjs/package.json
  common/build/build-common/src/esm/package.json
  packages/dds/tree/package.json
Labels: area: dds, area: build, area: dev experience, area: dds: tree, base: main

#23513 refactor: Make array parameters readonly and clean up stale documentation
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/RenderHtml.ts
  tools/api-markdown-documenter/src/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuite.ts
Labels: public api change, base: main

#23514 improvement(api-markdown-documenter): Check for duplicate document paths in transformation output and log warning for any encountered
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Utilities.test.ts
  tools/api-markdown-documenter/src/test/EndToEndTests.ts
Labels: base: main

#23485 Determine branch a & b are different in clone time
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: dds, area: dds: tree, base: main

#23455 docs(tree): updates and fixes
  docs/docs/data-structures/tree/events.mdx
  docs/docs/data-structures/tree/nodes.mdx
  docs/docs/data-structures/tree/reading-and-editing.mdx
  docs/docs/data-structures/tree/schema-definition.mdx
  docs/docs/data-structures/tree/transactions.mdx
  docs/docs/data-structures/tree/undo-redo.mdx
Labels: area: website, base: main

#22996 Remove _createDataStoreWithProps
  .changeset/gold-maps-cut.md
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main, changeset-present

#23238 refactor(shared-object-base): Improve typing in legacy+alpha API surface
  .changeset/smooth-roses-repair.md
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  experimental/dds/ot/ot/src/ot.ts
  experimental/dds/tree/src/SummaryBackCompatibility.ts
  packages/dds/cell/src/cell.ts
  packages/dds/map/src/directory.ts
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/utils.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneDataStores.spec.ts
Labels: area: dds, area: tests, area: dds: propertydds, public api change, area: dds: tree, base: main, changeset-present

#23497 tree: Refactor RangeMap to use a B-tree
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeTypes.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangesetUtil.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/rangeMap.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/util/bTreeUtils.ts
  packages/dds/tree/src/util/idAllocator.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/rangeMap.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23424 Clone list of revertibles
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23483 Remove SummarizerStopReason, ISummarizeEventProps, and ISummarizerEvents
  .changeset/sweet-tires-bathe.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23521 fix(BlobManager): Don't log getBlob errors if the runtime is disposed
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/utils/telemetry-utils/src/logger.ts
  packages/utils/telemetry-utils/src/test/performanceEvent.spec.ts
Labels: area: runtime, base: main

#23523 improvement(fluid-build): Fix group task dependencies and reduce message clutter
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidUtils.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/groupTask.ts
Labels: area: build, base: main

#23530 Revert "Clone list of revertibles"
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/revertible.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#23532 Make ts-common-config.json extends tsconfig.base.json
  common/build/build-common/ts-common-config.json
Labels: area: build, base: main

#23313 Deprecate types in tree
  .changeset/ready-seas-ask.md
  examples/utils/import-testing/package.json
  examples/utils/import-testing/src/test/events.test.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/framework/fluid-framework/src/index.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, area: dds, dependencies, public api change, area: dds: tree, base: main, changeset-present

#23303 Add app insights
  docs/.env.template
  docs/README.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/appInsights.ts
  docs/src/pages/index.tsx
  tools/pipelines/deploy-website.yml
Labels: area: build, area: website, base: main

#23490 Add exploreTree script for inspecting tree bundle content
  examples/utils/bundle-size-tests/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23534 build: remove deprecated TS configs
  common/build/build-common/README.md
  common/build/build-common/tsconfig.cjs.json
  common/build/build-common/tsconfig.esm-only.json
  common/build/build-common/tsconfig.esm.json
  common/build/build-common/tsconfig.test.json
  packages/framework/client-logger/fluid-telemetry/tsconfig.json
Labels: area: framework, area: build, base: main

#23519 Remove duplicative definition of getGCData
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/types.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, public api change, base: main

#23498 Revert "eslint(test-end-to-end-tests): Prefix test-end-to-end-tests before enabling no-unchecked-record-access"
  packages/test/test-end-to-end-tests/src/mocking.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.memory.spec.ts
  packages/test/test-end-to-end-tests/src/test/benchmark/summarization.time.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/groupIdInSummary.spec.ts
  packages/test/test-end-to-end-tests/src/test/data-virtualization/loadNewerGroupIdSnapshot.spec.ts
  packages/test/test-end-to-end-tests/src/test/deRehydrateContainerTests.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDataVirtualization.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreDuplicateRoutes.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDeleteObjectsInTestMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepDataStores.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepUnreferencePhases.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTestSummaryUtils.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTrailingOps.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTreeSummaryHandles.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnreferencedTimestamp.spec.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaries.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementally.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeIncrementallySubDds.spec.ts
Labels: area: tests, base: main

#23535 Make gitrest docker build install with a frozen lockfile
  server/gitrest/Dockerfile
  server/gitrest/fluidBuild.docker.config.cjs
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  tools/pipelines/server-gitrest.yml
  tools/pipelines/templates/build-docker-service.yml
  tools/pipelines/templates/include-set-package-version.yml
Labels: area: server, area: build, base: main

#23307 target es2021
  .changeset/ripe-taxes-press.md
  common/build/build-common/tsconfig.base.json
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
Labels: area: build, public api change, base: main, changeset-present

#23366 refactor(api-markdown-documenter): Allow deeper customization of output folder structure
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/ApiItemUtilitiesModule.ts
  tools/api-markdown-documenter/src/LoggingConfiguration.ts
  tools/api-markdown-documenter/src/api-item-transforms/ApiItemTransformUtilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/TransformApiModel.ts
  tools/api-markdown-documenter/src/api-item-transforms/Utilities.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/DocumentationSuite.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Hierarchy.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateSectionForApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiClass.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiInterface.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/TransformApiModuleLike.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/test/EndToEndTestUtilities.ts
  tools/api-markdown-documenter/src/test/EndToEndTests.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/TransformApiModelEndToEnd.test.ts
  tools/api-markdown-documenter/src/utilities/TypeUtilities.ts
  tools/api-markdown-documenter/src/utilities/index.ts
Labels: public api change, base: main

#23515 Update type tests on release branch.
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/dds/tree/src/test/types/validateTreePrevious.generated.ts
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: release

#23555 refactor(runtime-definitions): Move to recommended lint config
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
  packages/runtime/runtime-definitions/.eslintrc.cjs
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/protocol.ts
Labels: area: runtime, public api change, base: main

#23547 Fix customized simplifiedCustomDataRetriever injection.
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
Labels: area: server, base: main

#23563 Revert "[BREAK IN 2.20.0] Remove support for Batch Grouping configuration"
  .changeset/quiet-days-carry.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, public api change, base: main, changeset-present

#23567 Revert "target es2021 (#23307)"
  .changeset/ripe-taxes-press.md
  common/build/build-common/tsconfig.base.json
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
Labels: area: build, public api change, base: main, changeset-present

#23282 improvement(fluid-build): Add a spinner with additional info for incremental task checks
  build-tools/packages/build-tools/package.json
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuild.ts
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#23569 Bumped r11 packages
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23559 Bump @fluidframework/build-tools dependency in gitrest
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
Labels: area: server, base: main

#23543 Update docker files to use Debian bookworm
  server/gitrest/Dockerfile
  server/gitrest/packages/gitrest-base/src/test/summaries.spec.ts
  server/historian/Dockerfile
  server/routerlicious/Dockerfile
Labels: area: server, base: main

#23571 Bumped git resources
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#23564 refactor(container-runtime): Enable eslint rules from `recommended` config and fix violations
  common/build/eslint-config-fluid/recommended.js
  packages/runtime/container-runtime/.eslintrc.cjs
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcSummaryDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/gcUnreferencedStateTracker.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeUtils.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/batching.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzMocks.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcTelemetry.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcUnreferencedStateTracker.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  packages/runtime/container-runtime/src/test/throttler.spec.ts
  packages/runtime/container-runtime/src/throttler.ts
Labels: area: runtime, area: build, base: main

#23318 Update to use pnpm 9
  .npmrc
  build-tools/.npmrc
  build-tools/package.json
  build-tools/pnpm-lock.yaml
  common/build/build-common/.npmrc
  common/build/build-common/package.json
  common/build/build-common/pnpm-lock.yaml
  common/build/eslint-config-fluid/.npmrc
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/.npmrc
  common/build/eslint-plugin-fluid/package.json
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  common/lib/common-utils/.npmrc
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/protocol-definitions/.npmrc
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  docs/package.json
  package.json
  packages/tools/changelog-generator-wrapper/.npmrc
  pnpm-lock.yaml
  server/gitrest/.npmrc
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/.npmrc
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/.npmrc
  server/routerlicious/package.json
  server/routerlicious/packages/tinylicious/.npmrc
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/.npmrc
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/.npmrc
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/getkeys/.npmrc
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/.npmrc
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, area: website, base: main

#23484 refactor(tree): move global and rename effects to the delta root
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/deltaUtils.ts
  packages/dds/tree/src/feature-libraries/forest-summary/forestSummarizer.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldChangeHandler.ts
  packages/dds/tree/src/feature-libraries/modular-schema/genericFieldKind.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/optional-field/optionalField.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldToDelta.ts
  packages/dds/tree/src/test/changesetWrapper.ts
  packages/dds/tree/src/test/feature-libraries/deltaUtils.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/basicRebasers.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldKind.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modularChangeFamilyIntegration.spec.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalChangeRebaser.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalField.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldToDelta.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/testChange.spec.ts
  packages/dds/tree/src/test/testChange.ts
  packages/dds/tree/src/test/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#23588 feat(devtools-test-app): Fix typo in the devtools test app
  packages/tools/devtools/devtools-test-app/src/App.tsx
Labels: base: main

#23572 Pass simplifiedCustomData to fs mkdir call during slimInit.
  server/gitrest/packages/gitrest-base/src/utils/definitions.ts
  server/gitrest/packages/gitrest-base/src/utils/index.ts
  server/gitrest/packages/gitrest-base/src/utils/isomorphicgitManager.ts
  server/gitrest/packages/gitrest-base/src/utils/repositoryManagerFactoryBase.ts
Labels: area: server, base: main

#23570 refactor(container-runtime): Enable `any`-related eslint rules and fix violations
  common/build/eslint-config-fluid/recommended.js
  packages/runtime/container-runtime/.eslintrc.cjs
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStore.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/batching.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/channelCollection.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreRegistry.spec.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzMocks.ts
  packages/runtime/container-runtime/src/test/gc/garbageCollection.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcStats.spec.ts
  packages/runtime/container-runtime/src/test/gc/gcUnreferencedStateTracker.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/duplicateBatchDetector.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opDecompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, area: build, dependencies, base: main

#23591 fix(tree) Fix error message for move from hydrated to unhydrated parent
  packages/dds/tree/src/simple-tree/arrayNode.ts
Labels: area: dds, area: dds: tree, base: main

#23592 refactor(client-presence): stop fighting noUncheckedIndexAccess
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/tsconfig.json
Labels: area: framework, base: main

#23582 Revert "eslint(container-loader): Prefix container-loader before enabling no-unchecked-record-access"
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#23593 refactor(test-loader-utils): Updated eslint to use recommended config
  packages/loader/test-loader-utils/.eslintrc.cjs
  packages/loader/test-loader-utils/src/mockDeltaStorage.ts
  packages/loader/test-loader-utils/src/mockDocumentDeltaConnection.ts
  packages/loader/test-loader-utils/src/mockDocumentService.ts
Labels: area: loader, base: main

#23597 refactor(container-runtime): Enable `@typescript-eslint/explicit-module-boundary-types` eslint rule and fix violations
  packages/runtime/container-runtime/.eslintrc.cjs
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerHandleContext.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/dataStoreRegistry.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/gcUnreferencedStateTracker.ts
  packages/runtime/container-runtime/src/inboundBatchAggregator.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNode.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/fuzz/summarizerFuzzMocks.ts
  packages/runtime/container-runtime/src/test/gc/gcUnitTestHelpers.ts
  packages/runtime/container-runtime/src/test/summary/testQuorumClients.ts
  packages/runtime/container-runtime/src/throttler.ts
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
Labels: area: runtime, base: main

#23575 refactor(ink): Update eslint config in packages/dds/ink to extend "recommended" base config
  packages/dds/ink/.eslintrc.cjs
  packages/dds/ink/src/ink.ts
  packages/dds/ink/src/inkCanvas.ts
  packages/dds/ink/src/inkFactory.ts
Labels: area: dds, base: main

#23604 Export circuit breaker utils from lambdas package
  server/routerlicious/packages/lambdas/src/index.ts
Labels: area: server, base: main

#23419 fix(client-presence): disabled (failing) attendees unit tests
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, base: main

#23605 refactor(container-runtime): Enable `@typescript-eslint/explicit-function-return-type` eslint rule and fix violations
  packages/runtime/container-runtime/.eslintrc.cjs
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/dataStoreContexts.ts
  packages/runtime/container-runtime/src/deltaScheduler.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/gc/gcUnreferencedStateTracker.ts
  packages/runtime/container-runtime/src/inboundBatchAggregator.ts
  packages/runtime/container-runtime/src/opLifecycle/duplicateBatchDetector.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/throttler.spec.ts
Labels: area: runtime, base: main

#23496 build: Update changeset wording and formatting for consistency
  .changeset/better-mails-judge.md
  .changeset/cruel-horses-cheat.md
  .changeset/gold-maps-cut.md
  .changeset/green-readers-burn.md
  .changeset/nice-grapes-show.md
  .changeset/ready-seas-ask.md
  .changeset/shy-socks-rule.md
  .changeset/smooth-roses-repair.md
  .changeset/sweet-tires-bathe.md
Labels: base: main, changeset-present

#23511 Allow multiple package selection flags
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/docs/exec.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/docs/release.md
  build-tools/packages/build-cli/docs/typetests.md
  build-tools/packages/build-cli/src/filter.ts
  build-tools/packages/build-cli/src/flags.ts
  build-tools/packages/build-cli/src/test/filter.test.ts
Labels: area: build, base: main

#23560 tree: Refactor RangeMap to support generic key types
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/feature-libraries/modular-schema/crossFieldQueries.ts
  packages/dds/tree/src/feature-libraries/modular-schema/index.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeTypes.ts
  packages/dds/tree/src/feature-libraries/sequence-field/moveEffectTable.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/modularChangesetUtil.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/rangeMap.spec.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeCodec.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/rangeMap.ts
Labels: area: dds, area: dds: tree, base: main

#23558 Install with frozen-lockfile in routerlicious's docker build
  server/routerlicious/Dockerfile
  server/routerlicious/fluidBuild.docker.config.cjs
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/gitresources/src/test/types/validateGitresourcesPrevious.generated.ts
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/kafka-orderer/src/test/types/validateServerKafkaOrdererPrevious.generated.ts
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/test/types/validateServerLambdasDriverPrevious.generated.ts
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/protocol-base/src/test/types/validateProtocolBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/routerlicious/src/test/types/validateServerRouterliciousPrevious.generated.ts
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/test/types/validateServerServicesOrderingKafkanodePrevious.generated.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/test/types/validateServerServicesOrderingRdkafkaPrevious.generated.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-ordering-zookeeper/src/test/types/validateServerServicesOrderingZookeeperPrevious.generated.ts
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/test/types/validateServerServicesSharedPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
  tools/pipelines/server-routerlicious.yml
Labels: area: server, area: build, base: main

#23556 Install with frozen-lockfile in historian's docker build
  server/historian/Dockerfile
  server/historian/fluidBuild.docker.config.cjs
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  tools/pipelines/server-historian.yml
Labels: area: server, area: build, base: main

#23615 Revert #23583: Ineffective TypeScript type handling in telemetry utils
  packages/utils/telemetry-utils/src/mockLogger.ts
  packages/utils/telemetry-utils/src/test/errorLogging.spec.ts
Labels: base: main

#23608 [BREAKING IN 2.20] Added assert for compression ON grouping OFF
  .changeset/rotten-dryers-argue.md
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/agentScheduler.spec.ts
  packages/test/test-end-to-end-tests/src/test/batchBreakRegression.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/compression.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: runtime, area: tests, release-blocking, base: main, changeset-present

#23611 Release notes for 2.20
  RELEASE_NOTES/2.20.0.md
Labels: base: main

#23452 feat(generate:assertTags): Enable per package assert tagging configuration
  build-tools/packages/build-cli/api-report/build-cli.api.md
  build-tools/packages/build-cli/docs/generate.md
  build-tools/packages/build-cli/src/commands/generate/assertTags.ts
  build-tools/packages/build-cli/src/config.ts
  build-tools/packages/build-cli/src/index.ts
  fluidBuild.config.cjs
  packages/dds/test-dds-utils/assertTagging.config.mjs
  packages/dds/tree/assertTagging.config.mjs
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV1.ts
  packages/dds/tree/src/feature-libraries/sequence-field/sequenceFieldCodecV2.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/util/utils.ts
  packages/runtime/test-runtime-utils/assertTagging.config.mjs
  packages/test/assertTagging.config.mjs
Labels: area: runtime, area: dds, area: build, area: tests, public api change, area: dds: tree, base: main

#23612 Tag asserts for 2.20
  packages/dds/merge-tree/src/snapshotLoader.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, base: main

#23622 fix(tree): change stack cursor assert message to be more helpful when a node can't be found
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
Labels: area: dds, area: dds: tree, base: main

#23624 id-compressor: Enable recommended lint
  packages/runtime/id-compressor/.eslintrc.cjs
  packages/runtime/id-compressor/src/appendOnlySortedMap.ts
  packages/runtime/id-compressor/src/finalSpace.ts
  packages/runtime/id-compressor/src/idCompressor.ts
  packages/runtime/id-compressor/src/identifiers.ts
  packages/runtime/id-compressor/src/sessions.ts
  packages/runtime/id-compressor/src/test/appendOnlySortedMap.perf.spec.ts
  packages/runtime/id-compressor/src/test/appendOnlySortedMap.spec.ts
  packages/runtime/id-compressor/src/test/idCompressor.perf.spec.ts
  packages/runtime/id-compressor/src/test/idCompressor.spec.ts
  packages/runtime/id-compressor/src/test/idCompressorTestUtilities.ts
  packages/runtime/id-compressor/src/test/numericUuid.spec.ts
  packages/runtime/id-compressor/src/test/sessionSpaceNormalizer.spec.ts
  packages/runtime/id-compressor/src/test/snapshots/summary.spec.ts
  packages/runtime/id-compressor/src/test/testCommon.ts
  packages/runtime/id-compressor/src/utilities.ts
Labels: area: runtime, base: main

#23627 tag asserts for 2.20 (again)
  packages/dds/tree/src/util/rangeMap.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#23628 tag asserts (3rd time)
  packages/runtime/id-compressor/src/utilities.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, base: main

#23632 improvement(eslint-config-fluid): Disable the `unicorn/no-array-push-push` rule
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict-biome.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
Labels: area: build, base: main

#23602 improvement(api-markdown-documenter): Update default suite configuration to leverage new hierarchy options
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Hierarchy.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/test/EndToEndTestUtilities.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testabstractclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testemptyinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testenum-enum.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfacewithtypeparameter-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testmappedtype-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testmodule-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testenum-enum.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testsubnamespace-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testtypealias-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/typealias-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-b/foo-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-b/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testemptyinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testenum-enum.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithtypeparameter-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testmappedtype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testmodule-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testenum-enum.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testsubnamespace-namespace.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testsubnamespace-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testtypealias-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/typealias-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-b/foo-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-b/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/index.md
Labels: base: main

#23634 improvement(api-markdown-documenter): Make `uriRoot` parameter optional
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/examples/RenderHtml.ts
  tools/api-markdown-documenter/examples/RenderMarkdown.ts
  tools/api-markdown-documenter/src/api-item-transforms/configuration/Configuration.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
Labels: public api change, base: main

#23635 test(api-markdown-documenter): Remove confusing `uriRoot` in test cases and examples
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/test/HtmlEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/MarkdownEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/TransformApiModelEndToEnd.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testabstractclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testemptyinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testenum-enum.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfacewithtypeparameter-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testmappedtype-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testmodule-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testenum-enum.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testsubnamespace-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testtypealias-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/typealias-typealias.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-b/foo-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-b/index.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testabstractclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testemptyinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testenum-enum.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithindexsignature-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfacewithtypeparameter-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testmappedtype-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testmodule-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testenum-enum.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testsubnamespace-namespace/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testnamespace-namespace/testtypealias-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/typealias-typealias.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-b/foo-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-b/index.md
Labels: base: main

#23596 build(client): Pass --ci flag when invoking jest
  common/lib/common-utils/package.json
  examples/apps/collaborative-textarea/package.json
  examples/apps/contact-collection/package.json
  examples/apps/data-object-grid/package.json
  examples/apps/presence-tracker/package.json
  examples/apps/task-selection/package.json
  examples/apps/tree-comparison/package.json
  examples/benchmarks/bubblebench/baseline/package.json
  examples/benchmarks/bubblebench/experimental-tree/package.json
  examples/benchmarks/bubblebench/ot/package.json
  examples/benchmarks/bubblebench/shared-tree/package.json
  examples/data-objects/canvas/package.json
  examples/data-objects/clicker/package.json
  examples/data-objects/diceroller/package.json
  examples/data-objects/inventory-app/package.json
  examples/data-objects/multiview/container/package.json
  examples/data-objects/todo/package.json
  examples/version-migration/live-schema-upgrade/package.json
  examples/version-migration/same-container/package.json
  examples/version-migration/separate-container/package.json
  examples/version-migration/tree-shim/package.json
  examples/view-integration/container-views/package.json
  examples/view-integration/external-views/package.json
  examples/view-integration/view-framework-sampler/package.json
  package.json
  packages/common/client-utils/package.json
  packages/drivers/driver-web-cache/package.json
  packages/tools/devtools/devtools-browser-extension/package.json
  packages/tools/devtools/devtools-view/package.json
Labels: area: examples, area: driver, base: main

#23626 build: Lockfile churn
  pnpm-lock.yaml
Labels: dependencies, base: main

#23629 Removes internal or un-exported deprecated things
  packages/common/container-definitions/src/error.ts
  packages/common/container-definitions/src/loader.ts
  packages/common/driver-definitions/src/index.ts
  packages/common/driver-definitions/src/protocol/consensus.ts
  packages/common/driver-definitions/src/protocol/index.ts
  packages/common/driver-definitions/src/protocol/tokens.ts
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryWithCodeSplit.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/loader/container-loader/src/protocol/quorum.ts
  packages/runtime/container-runtime/src/test/summary/testQuorumClients.ts
  packages/test/test-utils/src/DriverWrappers.ts
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/timeoutUtils.ts
  packages/tools/replay-tool/src/replayFluidFactories.ts
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: dds: sharedstring, area: tests, area: odsp-driver, base: main

#23625 Remove unnecessary ContainerRuntime members
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/batchTracker.ts
  packages/runtime/container-runtime/src/connectionTelemetry.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/summary/summaryCollection.ts
Labels: area: runtime, public api change, base: main

#23641 build: Clean up dependencies
  packages/common/container-definitions/.eslintrc.cjs
  packages/common/container-definitions/package.json
  packages/runtime/runtime-definitions/.eslintrc.cjs
  packages/runtime/runtime-definitions/package.json
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: area: runtime, dependencies, base: main

#23607 Deprecate unnecessary exports of container-runtime package
  .changeset/many-gifts-strive.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/blobManager/blobManagerSnapSum.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/gc/garbageCollection.ts
  packages/runtime/container-runtime/src/gc/gcConfigs.ts
  packages/runtime/container-runtime/src/gc/gcDefinitions.ts
  packages/runtime/container-runtime/src/gc/gcHelpers.ts
  packages/runtime/container-runtime/src/gc/gcSummaryStateTracker.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summarizer.ts
  packages/runtime/container-runtime/src/summary/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/index.ts
  packages/runtime/container-runtime/src/summary/summarizerNode/summarizerNodeWithGc.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/summary/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
Labels: area: runtime, area: tests, public api change, base: main, changeset-present

#23638 docs(server): Clarify environment variable settings
  server/routerlicious/packages/routerlicious/config/README.md
  server/routerlicious/packages/tinylicious/README.md
Labels: area: server, base: main

#23613 Fix Screen reader is not announcing the index numbers for the items in V2 dropdown
  docs/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: area: website, base: main

#23646 Allow more generous waiting in attachLifecycle tests
  packages/test/test-end-to-end-tests/src/test/attachLifecycle.spec.ts
Labels: area: tests, base: main

#23595 Stubbed out branching example
  examples/apps/branching/.eslintrc.cjs
  examples/apps/branching/.gitignore
  examples/apps/branching/.npmignore
  examples/apps/branching/LICENSE
  examples/apps/branching/README.md
  examples/apps/branching/biome.jsonc
  examples/apps/branching/jest-puppeteer.config.cjs
  examples/apps/branching/jest.config.cjs
  examples/apps/branching/package.json
  examples/apps/branching/prettier.config.cjs
  examples/apps/branching/src/healthBot.ts
  examples/apps/branching/src/index.html
  examples/apps/branching/src/model/containerCode.ts
  examples/apps/branching/src/model/groceryList.ts
  examples/apps/branching/src/model/index.ts
  examples/apps/branching/src/modelInterfaces.ts
  examples/apps/branching/src/start.ts
  examples/apps/branching/src/view/appView.tsx
  examples/apps/branching/src/view/debugView.tsx
  examples/apps/branching/src/view/groceryListView.tsx
  examples/apps/branching/src/view/index.ts
  examples/apps/branching/tests/branching.test.ts
  examples/apps/branching/tests/index.html
  examples/apps/branching/tests/index.tsx
  examples/apps/branching/tsconfig.json
  examples/apps/branching/webpack.config.cjs
  examples/apps/branching/webpack.dev.cjs
  examples/apps/branching/webpack.prod.cjs
  examples/apps/branching/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23637 Update external-views for new best practices
  examples/view-integration/external-views/README.md
  examples/view-integration/external-views/package.json
  examples/view-integration/external-views/src/app.ts
  examples/view-integration/external-views/src/containerCode.ts
  examples/view-integration/external-views/src/dataObject.ts
  examples/view-integration/external-views/src/diceRoller.ts
  examples/view-integration/external-views/src/index.html
  examples/view-integration/external-views/src/interface.ts
  examples/view-integration/external-views/src/view.ts
  examples/view-integration/external-views/src/view.tsx
  examples/view-integration/external-views/tests/index.ts
  examples/view-integration/external-views/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#23020 refactor(presence-tracker): Use presence package
  examples/apps/presence-tracker/.eslintrc.cjs
  examples/apps/presence-tracker/README.md
  examples/apps/presence-tracker/jest-puppeteer.config.cjs
  examples/apps/presence-tracker/package.json
  examples/apps/presence-tracker/src/Audience.ts
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/app.ts
  examples/apps/presence-tracker/src/containerCode.ts
  examples/apps/presence-tracker/src/index.html
  examples/apps/presence-tracker/src/view.ts
  examples/apps/presence-tracker/tests/index.html
  examples/apps/presence-tracker/tests/index.ts
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
  examples/apps/presence-tracker/webpack.test.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#22877 (compat) Added supported features and generation across the Loader / Runtime boundary
  .changeset/light-pears-hammer.md
  packages/common/client-utils/src/indexBrowser.ts
  packages/common/client-utils/src/indexNode.ts
  packages/common/client-utils/src/layerCompat.ts
  packages/common/client-utils/src/test/mocha/layerCompat.spec.ts
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/layerCompatState.ts
  packages/loader/container-loader/src/test/layerCompatValidation.spec.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/layerCompatState.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/layerCompatValidation.spec.ts
  packages/runtime/container-runtime/src/test/types/validateContainerRuntimePrevious.generated.ts
Labels: area: runtime, area: loader, public api change, base: main, changeset-present

#23504 build(docs): Update api-markdown-documenter and utilize new hierarchy options
  docs/.gitignore
  docs/docs/api/index.mdx
  docs/infra/api-markdown-documenter/render-api-documentation.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.ts
  docs/versioned_docs/version-1/api/fluid-framework.mdx
  docs/versioned_docs/version-1/api/index.mdx
  docs/versioned_sidebars/version-1-sidebars.json
  docs/versioned_sidebars/version-local-sidebars.json
Labels: area: website, base: main

#23603 fix(test-version-utils): Fix version calculation to account for legacy breaking minor releases
  packages/test/test-version-utils/src/test/versionUtils.spec.ts
  packages/test/test-version-utils/src/versionUtils.ts
Labels: area: tests, base: main
