Repository microsoft/FluidFramework, pull requests merged in 2025-10, with the labels that each got.

#25544 fix(tree): handle redundant sequencing of local commit
  packages/dds/tree/src/shared-tree-core/editManager.ts
Labels: area: dds, area: dds: tree, base: main

#25590 FrozenContainer: Support read blob
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/src/createAndLoadContainerUtils.ts
  packages/loader/container-loader/src/frozenServices.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-tests/src/test/loadFrozenContainerFromPendingState.spec.ts
Labels: area: loader, area: tests, public api change, base: main

#25581 docs(tree): staged allowed types usage guide
  docs/docs/data-structures/tree/schema-evolution/allowed-types-rollout.mdx
  docs/docs/data-structures/tree/schema-evolution/types-of-changes.mdx
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
Labels: area: dds, area: website, area: dds: tree, base: main

#25574 build(eslint-config-fluid): Bump plugin and enable new rule as warning
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/base.js
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/minimal.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/strict-biome.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/printed-configs/test.json
Labels: area: build, base: main

#25604 feat(tree): Export `FluidSerializableAsTree` as `@alpha`
  .changeset/salty-chihuahua-obfuscate.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/serializableDomainSchema.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25606 feat(tree): Promote `RecordNode` and related factories / types to beta
  .changeset/sweet-rottweilers-clarify.md
  examples/utils/import-testing/src/testExports.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.beta.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryBeta.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/node-kinds/record/recordNodeTypes.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.beta.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#25612 Cleanup tree-agent
  packages/framework/tree-agent/api-report/tree-agent.alpha.api.md
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/index.ts
  packages/framework/tree-agent/src/test/utils.ts
Labels: area: framework, public api change, base: main

#25615 build(client): Update typetests after minor release 2.62.0
  azure/packages/azure-service-utils/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: main

#25501 feat(client-core-interfaces): `JsonString`
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/cjs/package.json
  packages/common/core-interfaces/src/exposedInternalUtilityTypes.ts
  packages/common/core-interfaces/src/internal.ts
  packages/common/core-interfaces/src/jsonSerializable.ts
  packages/common/core-interfaces/src/jsonString.ts
  packages/common/core-interfaces/src/test/jsonDeserialized.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/jsonString.spec.ts
  packages/common/core-interfaces/src/test/jsonStringifyAndParse.spec.ts
  packages/common/core-interfaces/src/test/testUtils.ts
  packages/common/core-interfaces/src/test/testValues.ts
Labels: base: main

#25600 Container: Remove blocking work from offline load path
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
Labels: area: loader, base: main

#25617 Allow build scripts already in use by client
  package.json
Labels: base: main

#25619 refactor(tree): make codec dependencies more explicit and auditable
  packages/dds/tree/docs/main/compatibility.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecs.ts
  packages/dds/tree/src/core/tree/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/format.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/forest-summary/codec.ts
  packages/dds/tree/src/feature-libraries/forest-summary/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-edits/index.ts
  packages/dds/tree/src/feature-libraries/schema-edits/schemaChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/schema-index/codec.ts
  packages/dds/tree/src/feature-libraries/schema-index/index.ts
  packages/dds/tree/src/shared-tree-core/editManagerCodecs.ts
  packages/dds/tree/src/shared-tree-core/index.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/sharedTreeChangeCodecs.ts
  packages/dds/tree/src/test/shared-tree-core/edit-manager/editManagerCodecs.test.ts
  packages/dds/tree/src/test/shared-tree-core/messageCodec.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeCodecTree.spec.ts
  packages/dds/tree/src/test/snapshots/codec-tree/SharedTreeFormatVersion.v1.json
  packages/dds/tree/src/test/snapshots/codec-tree/SharedTreeFormatVersion.v2.json
  packages/dds/tree/src/test/snapshots/codec-tree/SharedTreeFormatVersion.v3.json
  packages/dds/tree/src/test/snapshots/codec-tree/SharedTreeFormatVersion.v5.json
  packages/dds/tree/src/test/snapshots/codec-tree/SharedTreeFormatVersion.vSharedBranches.json
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main

#25621 Three minor clarifications
  packages/drivers/local-driver/src/localCreateDocument.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
Labels: area: driver, area: tests, base: main

#25620 improvement(client-container-loader): ContainerContext contract strengthening
  packages/loader/container-loader/src/containerContext.ts
Labels: area: loader, base: main

#25625 build: Remove dependency overrides no longer needed
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#25605 Offline: Clean up configs for more granular rollout
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/test-end-to-end-tests/src/test/batching.spec.ts
  packages/test/test-end-to-end-tests/src/test/offline/stashedOps.spec.ts
Labels: area: runtime, area: loader, area: tests, base: main

#25630 Snapshot tree-agent prompt
  packages/framework/tree-agent/src/test/__snapshots__/prompt.md
  packages/framework/tree-agent/src/test/prompt.spec.ts
Labels: area: framework, base: main

#25634 Simplify tool registration and various other improvements to tree-agent
  packages/framework/tree-agent/api-report/tree-agent.alpha.api.md
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/api.ts
  packages/framework/tree-agent/src/langchain.ts
  packages/framework/tree-agent/src/prompt.ts
  packages/framework/tree-agent/src/test/__snapshots__/prompt.md
  packages/framework/tree-agent/src/test/agent.spec.ts
  packages/framework/tree-agent/src/test/domains/index.ts
  packages/framework/tree-agent/src/test/domains/smoke.ts
  packages/framework/tree-agent/src/test/domains/text.ts
  packages/framework/tree-agent/src/test/prompt.spec.ts
  packages/framework/tree-agent/src/test/scenarios/addComment.ts
  packages/framework/tree-agent/src/test/scenarios/whiteSmoke.ts
  packages/framework/tree-agent/src/test/utils.ts
Labels: area: framework, public api change, base: main

#25636 Handle arbitrary edit function names in tree-agent
  packages/framework/tree-agent/api-report/tree-agent.alpha.api.md
  packages/framework/tree-agent/package.json
  packages/framework/tree-agent/src/agent.ts
  packages/framework/tree-agent/src/api.ts
  packages/framework/tree-agent/src/functionParsing.ts
  packages/framework/tree-agent/src/index.ts
  packages/framework/tree-agent/src/langchain.ts
  packages/framework/tree-agent/src/prompt.ts
  packages/framework/tree-agent/src/test/__snapshots__/prompt.md
  packages/framework/tree-agent/src/test/agent.spec.ts
  packages/framework/tree-agent/src/test/prompt.spec.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, public api change, base: main

#24013 Improve Assert APIs
  examples/utils/bundle-size-tests/src/debugAssert.ts
  examples/utils/bundle-size-tests/src/test/checkDebugAsserts.spec.ts
  packages/common/core-utils/api-report/core-utils.legacy.beta.api.md
  packages/common/core-utils/src/assert.ts
  packages/common/core-utils/src/index.ts
  packages/common/core-utils/src/test/assert.spec.ts
  packages/dds/tree/.mocharc.cjs
  packages/dds/tree/package.json
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/test/cursorTestSuite.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/mochaHooks.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/runtime/test-runtime-utils/src/test/validateAssertionError.spec.ts
  packages/runtime/test-runtime-utils/src/validateAssertionError.ts
Labels: area: examples, area: runtime, area: dds, public api change, area: dds: tree, base: main

#25635 Container: Move attachment summary in memory format to ISnapshot
  packages/loader/container-loader/src/attachment.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
  packages/loader/container-loader/src/test/attachment.spec.ts
  packages/loader/container-loader/src/test/serializedStateManager.spec.ts
  packages/loader/container-loader/src/test/snapshotConversionTest.spec.ts
  packages/loader/container-loader/src/utils.ts
Labels: area: loader, base: main

#25639 Remove InsertableObjectFromAnnotatedSchemaRecord
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNodeTypes.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/object/objectNode.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#25637 Container: prevent timer leaks in SerializedStateManager
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/serializedStateManager.ts
Labels: area: loader, base: main
