Repository microsoft/FluidFramework, pull requests merged in 2025-05, with the labels that each got.

#24484 Improve and test handling of large schema
  .changeset/major-paws-walk.md
  examples/utils/import-testing/src/largeExport.ts
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/largeSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/util/typeUtils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24490 Remove Deprecated IDetachedBlobStorage from Loader
  .changeset/empty-lions-flow.md
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/container-loader/package.json
  packages/loader/container-loader/src/attachment.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/loader/container-loader/src/index.ts
  packages/loader/container-loader/src/loader.ts
  packages/loader/container-loader/src/memoryBlobStorage.ts
  packages/loader/container-loader/src/test/memoryBlobStorage.spec.ts
  packages/loader/container-loader/src/test/types/validateContainerLoaderPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcSweepAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcTombstoneAttachmentBlobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/mockDetachedBlobStorage.ts
  packages/test/test-service-load/src/utils.ts
Labels: area: loader, area: tests, public api change, base: main, changeset-present

#24491 Added a new parameter to limit retry calls max time
  server/routerlicious/packages/services-core/src/runWithRetry.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24489 IntervalCollections: Remove deprecated types
  .changeset/red-buses-smash.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/package.json
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/index.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/types/validateSequencePrevious.generated.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/src/index.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: framework, area: dds, area: dds: sharedstring, area: tests, public api change, base: main, changeset-present

#24486 perf(client-container-runtime): reduce `semver` bundle regression
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/compatUtils.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, base: release

#24499 Run build and update out of date API reports
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24465 Nested DataStores: Remove layer compat until feature is complete
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreationHelper.ts
  packages/test/test-end-to-end-tests/src/test/dataStoresNested.spec.ts
Labels: area: runtime, area: tests, base: main

#24494 improvement(tree): `FieldHasDefault` correctly yields false when the existence of a default is unknown
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24505 Added dynamic S2S Axios timeouts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-client/src/timeoutContext.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/asyncContext.ts
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
Labels: area: server, public api change, base: main

#24469 improvement(tree): Update column/row "props" to be field schema rather than node schema
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#24507 improvement(tree): Make "props" parameters optional in Column and Row schema factories
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24501 Update pipeline to send artifacts
  tools/pipelines/templates/build-npm-client-package.yml
Labels: area: build, base: main

#24511 Cleanup types and code around "Tree" static
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/treeBeta.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/shared-tree/tree.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24513 refactor(tree): Extract `@system` table schema APIs into their own "System" namespace
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24509 Bumped r11 version in Historian and Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#24508 Update DiceRoller tutorial to match the current FluidHelloWorld main
  docs/docs/start/tutorial.mdx
Labels: area: website, base: main

#24518 Adding calling service name in S2S request headers
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/constants.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/resources.ts
  server/routerlicious/packages/services-telemetry/src/telemetryContext.ts
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/src/telemetryContext.ts
  server/routerlicious/packages/services/src/deltaManager.ts
  server/routerlicious/packages/services/src/documentManager.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, public api change, base: main

#24520 Updated Historian and Gitrest to consume updated r11 packages
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#24519 refactor(tree): Misc. table schema API cleanup
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24517 Rename ViewSchema to SchemaCompatibilityTester
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaCompatibilityTester.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCompatibilityTester.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24515 Move configuration code out of tree.ts
  packages/dds/tree/src/simple-tree/api/configuration.ts
  packages/dds/tree/src/simple-tree/api/getJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/simple-tree/api/configuration.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24526 refactor(docs): Update `ApiLink` to directly use `ApiItemKind`
  docs/docs/build/container-states-events.mdx
  docs/docs/build/containers.mdx
  docs/docs/build/experimental-features.mdx
  docs/docs/start/tree-start.mdx
  docs/src/components/shortLinks.tsx
  docs/versioned_docs/version-1/build/container-states-events.mdx
  docs/versioned_docs/version-1/build/containers.mdx
  docs/versioned_docs/version-1/release-notes.mdx
  docs/versioned_docs/version-1/testing/telemetry.mdx
Labels: area: website, base: main

#24478 feat(tree): Allows annotated AllowedTypes to be added to schemas
  .changeset/eleven-women-glow.md
  .changeset/wise-loops-tell.md
  examples/apps/ai-collab/src/types/sharedTreeAppSchema.ts
  examples/utils/import-testing/src/testExports.ts
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/arrayNodeTypes.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/mapNodeTypes.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/api/getJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCompatibilityTester.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24337 Table example app using TableSchema
  PACKAGES.md
  examples/data-objects/table-tree/.eslintrc.cjs
  examples/data-objects/table-tree/.gitignore
  examples/data-objects/table-tree/LICENSE
  examples/data-objects/table-tree/README.md
  examples/data-objects/table-tree/biome.jsonc
  examples/data-objects/table-tree/jest-puppeteer.config.cjs
  examples/data-objects/table-tree/jest.config.cjs
  examples/data-objects/table-tree/package.json
  examples/data-objects/table-tree/src/Table/dataObject.ts
  examples/data-objects/table-tree/src/Table/index.ts
  examples/data-objects/table-tree/src/Table/tableHeaderView.tsx
  examples/data-objects/table-tree/src/Table/tableRowView.tsx
  examples/data-objects/table-tree/src/Table/tableSchema.ts
  examples/data-objects/table-tree/src/Table/tableView.css
  examples/data-objects/table-tree/src/Table/tableView.tsx
  examples/data-objects/table-tree/src/index.tsx
  examples/data-objects/table-tree/src/utils/index.ts
  examples/data-objects/table-tree/src/utils/utilities.ts
  examples/data-objects/table-tree/tests/table.test.ts
  examples/data-objects/table-tree/tsconfig.json
  examples/data-objects/table-tree/webpack.config.cjs
  examples/data-objects/table-tree/webpack.dev.cjs
  examples/data-objects/table-tree/webpack.prod.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#24516 improvement(container-runtime): Pass all resubmit-related info in a single parameter when flushing a resubmitted batch
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, base: main

#24529 refactor(tree): Make type parameters consistent in Table schema APIs
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24422 container-runtime: Add API for default configuration
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/container-runtime-factories/baseContainerRuntimeFactory.ts
  packages/framework/fluid-static/src/compatibilityConfiguration.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/test/compatUtils.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/service-clients/azure-client/src/test/AzureClient.spec.ts
Labels: area: framework, area: runtime, public api change, base: main

#24530 breaking change(client-azure-client): Remove ITokenClaims and ScopeType re-exports
  .changeset/swift-signs-move.md
  packages/service-clients/azure-client/api-report/azure-client.legacy.alpha.api.md
  packages/service-clients/azure-client/package.json
  packages/service-clients/azure-client/src/index.ts
  packages/service-clients/azure-client/src/test/types/validateAzureClientPrevious.generated.ts
Labels: public api change, base: main, changeset-present

#24482 feat(ai-collab): Update ai-collab client API to transform TreeEdit types into a consumable version for UI visualizations
  examples/apps/ai-collab/src/components/TaskCard.tsx
  examples/apps/ai-collab/src/components/TaskGroup.tsx
  examples/apps/ai-collab/tsconfig.json
  packages/framework/ai-collab/README.md
  packages/framework/ai-collab/api-report/ai-collab.alpha.api.md
  packages/framework/ai-collab/src/aiCollabApi.ts
  packages/framework/ai-collab/src/diffTypes.ts
  packages/framework/ai-collab/src/explicit-strategy/agentEditReducer.ts
  packages/framework/ai-collab/src/explicit-strategy/index.ts
  packages/framework/ai-collab/src/index.ts
  packages/framework/ai-collab/src/test/explicit-strategy/agentEditingReducer.spec.ts
  packages/framework/ai-collab/src/test/explicit-strategy/typeGeneration.spec.ts
Labels: area: examples, area: framework, public api change, base: main

#24525 Remove getContainerPackageInfo public api from container.ts
  .changeset/rich-banks-accept.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/loader.ts
  packages/loader/container-loader/src/container.ts
Labels: area: loader, public api change, base: main, changeset-present

#24531 improvement(tree): Update table schema error policies
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24493 Plumb decision to squash resubmission through to SharedObject
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/counterEndToEndTests.spec.ts
Labels: area: runtime, area: dds, area: tests, public api change, base: main

#24535 Refactor StagingMode local-server tests
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
Labels: area: tests, base: main

#24539 Enable trusted types policy in enforcement mode.
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#24538 improvement(tree): Expand table node API to expand insert/remove options
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24543 refactor(tree): Simplify type parameters and fix links in comments in table schema APIs
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24546 improvement(tree): Table row insertion APIs now error if they contains cells with no matching column
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24402 Assert that RemoteFluidObjectHandle can't be a bind source
  packages/dds/shared-object-base/src/test/serializer.spec.ts
  packages/runtime/runtime-utils/src/remoteFluidObjectHandle.ts
Labels: area: runtime, area: dds, base: main

#24092 feat(benchmark): Add memory regression tests
  tools/benchmark/CHANGELOG.md
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/src/mocha/memoryTestRunner.ts
Labels: public api change, base: main

#24547 Reduce load from handle validation on real service e2e tests
  packages/test/test-end-to-end-tests/src/test/handleValidation.spec.ts
Labels: area: tests, base: main

#24383 CG: Updates serialize-javascript to 6.0.2
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/pnpm-lock.yaml
  server/gitrest/package.json
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#24542 Fix shared-tree-demo app
  examples/service-clients/odsp-client/shared-tree-demo/.env.template
  examples/service-clients/odsp-client/shared-tree-demo/src/clientProps.ts
  examples/service-clients/odsp-client/shared-tree-demo/src/tokenProvider.ts
Labels: area: examples, base: main

#24549 Fix doc comment formatting of lists for website
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/treeBeta.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
Labels: base: main

#24458 Write support for blob handles with pending payload
  packages/common/core-interfaces/api-report/core-interfaces.legacy.alpha.api.md
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/index.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/test/blobHandles.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/getPendingBlobs.spec.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: runtime, area: tests, public api change, base: main

#24554 Staging mode: fix FluidDataStore.reSubmit API
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
Labels: area: runtime, public api change, base: main

#24558 docs: Update README to reference Biome as repo formatter
  README.md
Labels: base: main

#24555 Refactor simple-tree-core-types
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/treeBeta.ts
  packages/dds/tree/src/simple-tree/api/treeChangeEvents.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/core/withType.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/core/treeNode.spec.ts
  packages/dds/tree/src/test/simple-tree/core/types.spec.ts
  packages/dds/tree/src/test/simple-tree/treeNodeValid.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24561 Fix(tree): fix commit enrichment logic
  packages/dds/tree/src/shared-tree-core/branchCommitEnricher.ts
  packages/dds/tree/src/shared-tree-core/transactionEnricher.ts
  packages/dds/tree/src/test/shared-tree-core/branchCommitEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree-core/transactionEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/dds/tree/src/test/testChange.ts
Labels: area: dds, area: dds: tree, base: main

#24563 improvement(container-runtime): Log minVersionForCollab in ContainerLoadStats telemetry event
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#24564 Update tar-fs in lockfiles (addresses CVE)
  common/lib/common-utils/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, area: website, base: main

#24565 Fix(tree): Add missing changeset for PR24561
  .changeset/nine-jokes-switch.md
Labels: base: main, changeset-present

#24569 Add schema factory tests for field which is always undefined
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24570 improvement(tree): Make "props" default strictly `undefined`
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24562 Update extractPersistedSchema for simple schema
  .changeset/tangy-times-carry.md
  examples/apps/tree-cli-app/src/schema.ts
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  examples/apps/tree-cli-app/src/utils.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/codec/index.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/storedSchema.spec.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24551 Updated link alt text to align with on screen text
  docs/src/components/home/keyFeaturesSection.tsx
Labels: area: website, base: main

#24552 Stop delay loading id compressor in container runtime
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#23441 Bump benchmark version for release
  tools/benchmark/package.json
Labels: base: main

#24524 StagingMode: Allow application to control whether or not to squash edits
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/local-server-tests/package.json
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, area: tests, public api change, base: main

#24572 Changeset for PR24561 (take2)
  .changeset/nine-jokes-switch.md
Labels: base: main, changeset-present

#24571 docs(tree): Expand `TableSchema` namespace documentation
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24506 StagingMode: Add FluidDataObjectPolices for `readonlyInStagingMode` and expose through aqueduct
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/data-object-factories/pureDataObjectFactory.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreationHelper.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/stagingMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summarizeWithLocalChanges.spec.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main

#24577 Tag asserts
  experimental/dds/tree/src/test/EditUtilities.tests.ts
  packages/dds/shared-object-base/src/serializer.ts
  packages/loader/container-loader/src/container.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: loader, area: dds, area: dds: tree, base: main

#24548 Added abort controller support for S2S Axios requests
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious/src/alfred/www.ts
  server/routerlicious/packages/services-client/api-report/server-services-client.api.md
  server/routerlicious/packages/services-client/src/abortControllerContext.ts
  server/routerlicious/packages/services-client/src/error.ts
  server/routerlicious/packages/services-client/src/index.ts
  server/routerlicious/packages/services-client/src/restWrapper.ts
  server/routerlicious/packages/services-client/src/utils.ts
  server/routerlicious/packages/services-utils/src/abortControllerContext.ts
  server/routerlicious/packages/services-utils/src/asyncContext.ts
  server/routerlicious/packages/services-utils/src/globalContext.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/test/asyncContext.spec.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, public api change, base: main

#24573 Bumped packages using @fluid-tools/benchmark to 0.51
  examples/benchmarks/tablebench/package.json
  experimental/dds/attributable-map/package.json
  experimental/dds/tree/package.json
  packages/common/core-utils/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
  packages/dds/tree/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/id-compressor/package.json
  packages/test/stochastic-test-utils/package.json
  packages/test/test-end-to-end-tests/package.json
  pnpm-lock.yaml
Labels: area: examples, area: runtime, area: dds, dependencies, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#24401 Add SharedObjectFromKernel
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/index.ts
  packages/dds/shared-object-base/src/sharedObjectKernel.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/treeFactory.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, public api change, area: dds: tree, base: main

#24581 Updated r11 version in Historian and Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#24331 Fuzz: Reduce change cascades due to random call pattern changes
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/test/ddsFuzzHarness.spec.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay.ts
  packages/dds/test-dds-utils/src/test/ddsSuiteCases/replay/2.json
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/stochastic-test-utils/src/performActions.ts
Labels: area: dds, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#24578 cursorForMapTreeField cleanup
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
Labels: area: dds, area: dds: tree, base: main

#24582 Release notes for 2.40
  RELEASE_NOTES/2.40.0.md
Labels: base: main

#24580 refactor: Rename `TableSchema` interfaces to follow our guidelines
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24583 Simplify ensureSchema
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-view/index.ts
  packages/dds/tree/src/core/schema-view/view.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24532 test(shared-matrix): add memory usage performance benchmark tests for insert/remove rows, columns, and set cells
  packages/dds/matrix/src/test/memory/matrix.spec.ts
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/utils.ts
Labels: area: dds, base: main

#24588 refactor(tree): Rename table schema APIs
  examples/data-objects/table-tree/src/Table/tableSchema.ts
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#24587 Fix schema validation for initialize
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24598 Fixed middleware call
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-utils/src/abortControllerContext.ts
Labels: area: server, base: main

#24596 DDS Fuzz: support numbers or iterable for all seed based test options
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/squashFuzzHarness.ts
Labels: area: dds, base: main

#24597 Skip seed 63 for SharedDirectory fuzz
  packages/dds/map/src/test/mocha/directoryFuzzTests.spec.ts
Labels: area: dds, base: main

#24600 Updated r11 packages used in Historian and Gitrest
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#24602 skip snapshot refresh e2e tests
  packages/test/test-end-to-end-tests/src/test/offline/refreshSerializerLifeCycle.spec.ts
Labels: area: tests, base: main

#24586 fix(docs): Update linkcheck-bin so it works on Windows
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#24601 Misc context related cleanup
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utils.ts
  packages/dds/tree/src/test/simple-tree/arrayNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24560 Shared signal dds as legacy-dds
  PACKAGES.md
  packages/dds/legacy-dds/.eslintrc.cjs
  packages/dds/legacy-dds/.gitignore
  packages/dds/legacy-dds/.mocharc.cjs
  packages/dds/legacy-dds/.npmignore
  packages/dds/legacy-dds/LICENSE
  packages/dds/legacy-dds/api-extractor-lint.json
  packages/dds/legacy-dds/api-extractor.json
  packages/dds/legacy-dds/api-extractor/api-extractor-lint-bundle.json
  packages/dds/legacy-dds/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/dds/legacy-dds/api-extractor/api-extractor-lint-legacy.esm.json
  packages/dds/legacy-dds/api-extractor/api-extractor-lint-public.cjs.json
  packages/dds/legacy-dds/api-extractor/api-extractor-lint-public.esm.json
  packages/dds/legacy-dds/api-extractor/api-extractor.current.json
  packages/dds/legacy-dds/api-extractor/api-extractor.legacy.json
  packages/dds/legacy-dds/api-report/legacy-dds.beta.api.md
  packages/dds/legacy-dds/api-report/legacy-dds.legacy.alpha.api.md
  packages/dds/legacy-dds/api-report/legacy-dds.legacy.public.api.md
  packages/dds/legacy-dds/api-report/legacy-dds.public.api.md
  packages/dds/legacy-dds/biome.jsonc
  packages/dds/legacy-dds/package.json
  packages/dds/legacy-dds/src/index.ts
  packages/dds/legacy-dds/src/interfaces.ts
  packages/dds/legacy-dds/src/packageVersion.ts
  packages/dds/legacy-dds/src/sharedSignal.ts
  packages/dds/legacy-dds/src/sharedSignalFactory.ts
  packages/dds/legacy-dds/src/test/signal.spec.ts
  packages/dds/legacy-dds/src/test/tsconfig.cjs.json
  packages/dds/legacy-dds/src/test/tsconfig.json
  packages/dds/legacy-dds/tsconfig.cjs.json
  packages/dds/legacy-dds/tsconfig.json
  packages/dds/legacy-dds/tsdoc.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, public api change, base: main

#24609 Fix lock file
  packages/dds/legacy-dds/package.json
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#24608 Add unhydrated optional tree input test
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24613 fix(docs): Update release notes link
  docs/sidebars.ts
Labels: area: website, base: main

#24589 improvement(tree): Misc. table schema API improvements
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24606 Compare persisted schema
  .changeset/old-bees-itch.md
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/storedSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24605 Add `--fgrep @ExecutionTime` to perf benchmarks scripts
  examples/benchmarks/tablebench/package.json
  experimental/dds/tree/package.json
  packages/common/core-utils/package.json
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
  packages/dds/tree/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/id-compressor/package.json
  packages/test/stochastic-test-utils/package.json
  tools/benchmark/package.json
Labels: area: examples, area: runtime, area: dds, area: dds: sharedstring, area: tests, area: dds: tree, base: main

#24612 build(table-tree): Add missing peer dependency
  examples/data-objects/table-tree/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#21115 Add objectIdNumber to tree-react-api
  .changeset/gentle-eggs-heal.md
  experimental/framework/tree-react-api/api-report/tree-react-api.alpha.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.beta.api.md
  experimental/framework/tree-react-api/api-report/tree-react-api.public.api.md
  experimental/framework/tree-react-api/src/index.ts
  experimental/framework/tree-react-api/src/simpleIdentifier.ts
  experimental/framework/tree-react-api/src/test/simpleIdentifier.spec.ts
Labels: area: dev experience, public api change, base: main, changeset-present

#24617 pnpm dedupe
  pnpm-lock.yaml
Labels: dependencies, base: main

#24619 Fix pipeline to send artifacts
  tools/pipelines/templates/build-npm-client-package.yml
Labels: area: build, base: main

#24593 feat(aqueduct): Expose sharedTree accessor in `TreeDataObject` for schema and tree inspection
  packages/framework/aqueduct/src/data-objects/treeDataObject.ts
Labels: area: framework, base: main

#24620 Refactor tree content insertion handling
  packages/dds/tree/src/feature-libraries/flex-tree/utilities.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/proxies.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24622 Matrix: Refactor fuzz model to be reusable
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/fuzz.ts
  packages/dds/matrix/src/test/index.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/tsconfig.json
Labels: area: dds, base: main

#24624 Simplify, document and improve type safety and naming in hydration logic
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
Labels: area: dds, area: dds: tree, base: main

#24628 Update vale dictionary
  .vale/config/vocabularies/fluid/accept.txt
Labels: base: main

#24635 improvement(test-end-to-end-tests): Add minVersionForCollab to test infrastructure
  packages/test/test-utils/src/containerRuntimeFactories.ts
  packages/test/test-utils/src/testContainerRuntimeFactory.ts
  packages/test/test-utils/src/testObjectProvider.ts
  packages/test/test-version-utils/src/compatUtils.ts
Labels: area: tests, base: main

#24632 Local-Server-Tests: Add catchUp helper for letting all clients catch up to latest saved changes
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
Labels: area: tests, base: main

#24614 fix(Staging Mode): Fix ID Allocation submission logic
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/runCounter.ts
  packages/runtime/container-runtime/src/test/runCounter.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-tests/package.json
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, area: tests, base: main

#24630 feat(tree): Add `getCells` helper methods to table columns and rows
  examples/data-objects/table-tree/src/Table/tableSchema.ts
  examples/utils/import-testing/src/test/importer.spec.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#24626 Further hydration cleanup
  packages/dds/tree/src/simple-tree/arrayNode.ts
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/getTreeNodeForField.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/mapNode.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/core/treeNodeKernel.spec.ts
  packages/dds/tree/src/test/simple-tree/prepareForInsertion.spec.ts
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24579 feat(tree): Add `TableSchema` APIs (alpha)
  .changeset/tabaxi-fellas-inspire.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24643 Added abort controller support for Gitrest
  server/gitrest/packages/gitrest-base/src/app.ts
  server/gitrest/packages/gitrest-base/src/runnerFactory.ts
Labels: area: server, base: main

#24642 Sort some imports
  packages/dds/tree/src/core/change-family/editBuilder.ts
  packages/dds/tree/src/core/forest/forest.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/core/schema-stored/storedSchemaRepository.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/chunk.ts
  packages/dds/tree/src/core/tree/delta.ts
  packages/dds/tree/src/core/tree/deltaUtil.ts
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodec.ts
  packages/dds/tree/src/core/tree/pathTree.ts
  packages/dds/tree/src/core/tree/treeTextFormat.ts
  packages/dds/tree/src/core/tree/visitDelta.ts
  packages/dds/tree/src/core/tree/visitorUtils.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkTree.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/emptyChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/sequenceChunk.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/uniformChunk.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultFieldKinds.ts
  packages/dds/tree/src/feature-libraries/default-schema/mappedEditBuilder.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/initializeForest.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/feature-libraries/valueUtilities.ts
  packages/dds/tree/src/jsonDomainSchema.ts
  packages/dds/tree/src/serializableDomainSchema.ts
  packages/dds/tree/src/sharedTreeAttributes.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#24636 improvement(data-object): Remove unncessary console log in example app
  examples/data-objects/todo/src/Todo/TodoListView.tsx
Labels: area: examples, base: main

#24644 docs(tree): Add links to table schema factory functions near the top of the remarks
  packages/dds/tree/src/tableSchema.ts
Labels: area: dds, area: dds: tree, base: main

#24645 Refactor: Move validation of inserted trees
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/core/tree/anchorSet.spec.ts
  packages/dds/tree/src/test/core/tree/detachedFieldIndex.spec.ts
  packages/dds/tree/src/test/core/tree/mapTree.spec.ts
  packages/dds/tree/src/test/core/tree/pathTree.spec.ts
  packages/dds/tree/src/test/core/tree/visitDelta.spec.ts
  packages/dds/tree/src/test/core/tree/visitorUtils.spec.ts
  packages/dds/tree/src/test/simple-tree/api/create.spec.ts
  packages/dds/tree/src/test/simple-tree/prepareForInsertion.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/treeContext.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24623 Add a TreeAlpha.key2 method
  .changeset/tough-parts-kick.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24637 Dropdown to change column type in table example app
  examples/data-objects/table-tree/src/Table/dataObject.ts
  examples/data-objects/table-tree/src/Table/tableHeaderView.tsx
Labels: area: examples, base: main

#24638 Rework FluidClientVersion
  .changeset/fuzzy-eagles-drum.md
  examples/apps/tree-cli-app/src/test/schema.spec.ts
  examples/apps/tree-cli-app/src/utils.ts
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/codecs.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/index.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/index.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: examples, area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24648 Better schema validation errors
  packages/dds/tree/src/feature-libraries/default-schema/index.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/simple-tree/prepareForInsertion.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24218 Add identifier API methods to TreeAlpha
  .changeset/tricky-shrimps-hunt.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/feature-libraries/node-identifier/mockNodeIdentifierManager.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/feature-libraries/node-identifier/nodeIdentifier.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24649 refactor(table-tree): Misc. schema simplifications
  examples/data-objects/table-tree/src/Table/dataObject.ts
  examples/data-objects/table-tree/src/Table/tableRowView.tsx
  examples/data-objects/table-tree/src/Table/tableSchema.ts
Labels: area: examples, base: main

#24650 improvement(test): Rename CrossVersion to Cross-Client
  packages/dds/SchemaVersioning.md
  packages/dds/tree/docs/SharedTree Philosophy.md
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcDatastoreAliased.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
  packages/test/test-end-to-end-tests/src/test/noDeltaStream.spec.ts
  packages/test/test-end-to-end-tests/src/test/rootDatastores.spec.ts
  packages/test/test-utils/src/TestSummaryUtils.ts
  packages/test/test-utils/src/containerUtils.ts
  packages/test/test-version-utils/README.md
  packages/test/test-version-utils/src/compatConfig.ts
  packages/test/test-version-utils/src/compatOptions.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/test/minCompatVersion.spec.ts
  packages/test/test-version-utils/src/testApi.ts
Labels: area: dds, area: tests, area: dds: tree, base: main

#24627 Fix the ODSP shared tree demo issue
  examples/service-clients/odsp-client/shared-tree-demo/.env.template
  examples/service-clients/odsp-client/shared-tree-demo/.gitignore
  examples/service-clients/odsp-client/shared-tree-demo/README.md
  examples/service-clients/odsp-client/shared-tree-demo/package.json
  examples/service-clients/odsp-client/shared-tree-demo/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#24651 Simplify hydrate util
  packages/dds/tree/src/test/simple-tree/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24654 Fix a few undocumented API warnings
  packages/dds/tree/src/feature-libraries/modular-schema/modularChangeFamily.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24657 tree: Remove unnecessary rollback tagging
  packages/dds/tree/src/core/rebase/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24639 Add consumer seek failure log
  server/routerlicious/packages/lambdas/src/utils/circuitBreaker.ts
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
Labels: area: server, base: main

#24655 Enable pendingPayload blobs and test blobUpload for local-server-stress-tests
  packages/test/local-server-stress-tests/src/baseModel.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: tests, base: main

#24652 Matrix: Combine state, fix bugs, and add fuzz for FFW
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/test/fuzz.ts
Labels: area: dds, base: main

#24656 Add detachedField to Context
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
Labels: area: dds, area: dds: tree, base: main

#24647 Fix various e2e test memory leaks
  packages/test/test-driver-definitions/src/interfaces.ts
  packages/test/test-drivers/src/localServerTestDriver.ts
  packages/test/test-utils/src/loaderContainerTracker.ts
  packages/test/test-utils/src/timeoutUtils.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/describeWithVersions.ts
Labels: area: tests, base: main

#24659 Cleanup tests using object forest
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkedForest.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/sequenceRootUtils.ts
  packages/dds/tree/src/test/shared-tree/editing.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24666 Shared Tree: Rename CodecFormatVersion to CodecVersion
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/schema-stored/formatV1.ts
  packages/dds/tree/src/core/schema-stored/index.ts
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/schema-edits/schemaChangeCodecs.ts
  packages/dds/tree/src/feature-libraries/schema-index/codec.ts
  packages/dds/tree/src/feature-libraries/schema-index/formatV1.ts
  packages/dds/tree/src/feature-libraries/schema-index/index.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codec.spec.ts
  packages/dds/tree/src/test/feature-libraries/schema-index/codecUtil.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24669 refactor(datastore-definitions): Promote eslint config from `minimal-deprecated` to `strict` and fix/disable violations as appropriate
  packages/runtime/datastore-definitions/.eslintignore
  packages/runtime/datastore-definitions/.eslintrc.cjs
  packages/runtime/datastore-definitions/src/channel.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/jsonable.ts
  packages/runtime/datastore-definitions/src/test/types/jsonable.ts
Labels: area: runtime, base: main

#24670 Better docs for breakable
  packages/dds/tree/src/util/breakable.ts
Labels: area: dds, area: dds: tree, base: main

#24668 refactor(api-markdown-documenter): Simplify DocumentationNode domain
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockQuoteNode.ts
  tools/api-markdown-documenter/src/documentation-domain/CodeSpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/documentation-domain/OrderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SectionNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableNode.ts
  tools/api-markdown-documenter/src/documentation-domain/UnorderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/Utilities.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderOrderedList.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderUnorderedList.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderOrderedList.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderUnorderedList.test.ts
Labels: public api change, base: main

#24674 fix(todo): Remove unused event listener
  examples/data-objects/todo/src/Todo/TodoListView.tsx
Labels: area: examples, base: main

#24672 fix(eslint-config-fluid): Fix overzealous `require-jsdoc` rule in `strict` config
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/strict-biome.json
  common/build/eslint-config-fluid/printed-configs/strict.json
  common/build/eslint-config-fluid/strict.js
Labels: area: build, base: main

#24671 refactor(datastore): Promote eslint config from `minimal-deprecated` to `recommended` and fix/disable violations as appropriate
  packages/runtime/datastore/.eslintrc.cjs
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelDeltaConnection.ts
  packages/runtime/datastore/src/channelStorageService.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/fluidHandle.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/localChannelStorageService.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/datastore/src/test/channelStorageService.spec.ts
  packages/runtime/datastore/src/test/dataStoreLayerCompatValidation.spec.ts
  packages/runtime/datastore/src/test/dataStoreRuntime.spec.ts
  packages/runtime/datastore/src/test/localChannelContext.spec.ts
  packages/runtime/datastore/src/test/localChannelStorageService.spec.ts
  packages/runtime/datastore/src/test/remoteChannelContext.spec.ts
Labels: area: runtime, base: main

#24675 Delete testRecursiveDomain
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/testRecursiveDomain.ts
  packages/dds/tree/src/simple-tree/index.ts
Labels: area: dds, area: dds: tree, base: main

#24658 Validate schema after edits and init when additional assertions are enabled in the forest
  .changeset/lemon-words-pump.md
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
  packages/framework/fluid-framework/src/index.ts
Labels: area: framework, area: dds, area: dds: tree, base: main, changeset-present

#24673 refactor(api-markdown-documenter): `LayoutUtilities` improvements
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/LayoutUtilitiesModule.ts
  tools/api-markdown-documenter/src/api-item-transforms/default-implementations/CreateSectionForApiItem.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/index.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testbetanamespace-namespace/alphamember-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testbetanamespace-namespace/betamember-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testbetanamespace-namespace/publicmember-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testinterface-interface/propertywithbadinheritdoctarget-propertysignature.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testbetanamespace-namespace/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testinterface-propertywithbadinheritdoctarget-propertysignature.html
Labels: public api change, base: main

#24679 Local Server Stress: Make minimization more thorough
  packages/test/local-server-stress-tests/src/baseModel.ts
  packages/test/local-server-stress-tests/src/ddsOperations.ts
  packages/test/local-server-stress-tests/src/test/localServerStress.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/stochastic-test-utils/src/minification.ts
Labels: area: tests, base: main

#24680 Sort imports needing manual adjustments
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
Labels: area: dds, area: dds: tree, base: main

#24676 Upload release manifests only after publishing packages
  tools/pipelines/templates/include-publish-npm-package.yml
Labels: area: build, base: main

#24681 docs(tree): TSDoc syntax improvements
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/rebase/utils.ts
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/core/tree/pathTree.ts
  packages/dds/tree/src/core/tree/treeTextFormat.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultEditBuilder.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKindWithEditor.ts
  packages/dds/tree/src/feature-libraries/modular-schema/isNeverTree.ts
  packages/dds/tree/src/feature-libraries/sequence-field/rebase.ts
  packages/dds/tree/src/feature-libraries/sequence-field/utils.ts
  packages/dds/tree/src/feature-libraries/treeCursorUtils.ts
  packages/dds/tree/src/feature-libraries/treeTextCursor.ts
  packages/dds/tree/src/shared-tree-core/branch.ts
  packages/dds/tree/src/shared-tree-core/editManager.ts
  packages/dds/tree/src/shared-tree-core/messageCodecs.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldUtils.ts
  packages/dds/tree/src/test/rebase/rebaseBranch.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/summary.bench.ts
  packages/dds/tree/src/test/testAnchor.ts
Labels: area: dds, area: dds: tree, base: main

#24665 Generate identifiers for unhydrated nodes
  .changeset/public-snakes-fetch.md
  .vale/config/vocabularies/fluid/accept.txt
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#24556 fix(server): NexusSessionResult timestamp and duration bugs
  server/docker-compose.dev.yml
  server/routerlicious/nginx.conf
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/disconnect.ts
  server/routerlicious/packages/services-core/src/collabSession.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/lumber.ts
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services/src/redisSessionManager.ts
  server/routerlicious/packages/services/src/sessionTracker.ts
  server/routerlicious/packages/services/src/test/redisSessionManager.spec.ts
  server/routerlicious/packages/services/src/test/sessionTracker.spec.ts
Labels: area: server, base: main

#24661 Migrate Shared Array from Loop repo
  packages/dds/legacy-dds/package.json
  packages/dds/legacy-dds/src/array/README.md
  packages/dds/legacy-dds/src/array/index.ts
  packages/dds/legacy-dds/src/array/interfaces.ts
  packages/dds/legacy-dds/src/array/sharedArray.ts
  packages/dds/legacy-dds/src/array/sharedArrayFactory.ts
  packages/dds/legacy-dds/src/array/sharedArrayOperations.ts
  packages/dds/legacy-dds/src/array/sharedArrayRevertible.ts
  packages/dds/legacy-dds/src/index.ts
  packages/dds/legacy-dds/src/test/array/sharedArray.spec.ts
  packages/dds/legacy-dds/src/test/array/sharedArrayConnected.spec.ts
  packages/dds/legacy-dds/src/test/array/sharedArrayReconnection.spec.ts
  packages/dds/legacy-dds/src/test/signal/signal.spec.ts
  packages/dds/legacy-dds/src/test/utilities.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, base: main

#24693 Directory: Add minimization transform
  packages/dds/map/src/test/mocha/fuzzUtils.ts
Labels: area: dds, base: main, Feature_StagingMode

#24690 docs: Add info notices for sealed and input tags.
  docs/infra/api-markdown-documenter/api-documentation-layout.mjs
Labels: area: website, base: main

#24696 Remove mapTreeFromNodeData overloads, cleanup comments
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
Labels: area: dds, area: dds: tree, base: main

#24697 refactor(client-fluid-static): hide fluid-static entryPoint
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/service-clients/azure-client/package.json
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/service-clients/tinylicious-client/src/TinyliciousClient.ts
  pnpm-lock.yaml
Labels: area: framework, dependencies, base: main

#24691 refactor(tree): Move node "kind" implementations into their own sub-hierarchies under "simple-tree"
  packages/dds/tree/src/simple-tree/api/configuration.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/identifierIndex.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNodeTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNodeTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24646 improvement(container-runtime): Simplify dirty state management in ContainerRuntime
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/local-server-tests/src/test/documentDirty.spec.ts
Labels: area: runtime, area: tests, base: main, Feature_StagingMode

#24683 fix(id-allocation): Schedule a flush when submitting ID Allocation op before replaying pending states
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main, Feature_StagingMode

#24692 Remove createFromInsertable
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyNode.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/utils.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/create.spec.ts
  packages/dds/tree/src/test/simple-tree/api/customTree.spec.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main
