Repository microsoft/FluidFramework, pull requests merged in 2025-06, with the labels that each got.

#24746 Upgrade routerlicious redis
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24750 refactor(api-markdown-documenter): Make `SpanNode`s more restrictive
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/documentation-domain/SpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testconstwithemptydeprecatedblock-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testfunctionreturningintersectiontype-function.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testconstwithemptydeprecatedblock-variable.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testfunctionreturningintersectiontype-function.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testfunctionreturningintersectiontype-function.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testfunctionreturningintersectiontype-function.md
Labels: public api change, base: main

#24470 feat(client-presence): Create Acknowledgment message interface and `ackRequested` flow
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/protocol.ts
  packages/framework/presence/src/test/mockEphemeralRuntime.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/containerExtension.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  pnpm-lock.yaml
Labels: area: framework, area: runtime, dependencies, base: main

#24754 build(docs): Update dependency on `@fluid-tools/api-markdown-documenter` to version `0.20`
  docs/infra/api-markdown-documenter/admonition-node.mjs
  docs/infra/api-markdown-documenter/api-documentation-layout.mjs
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#24753 refactor(client-presence): rename and move acknowledgment ID type
  packages/framework/presence/src/protocol.ts
Labels: area: framework, base: main

#24685 improvement(container-runtime): Update DocumentSchema types to differentiate incoming/outgoing schema
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
Labels: area: runtime, base: main

#24544 test(shared-matrix): add execution time performance benchmark tests for insert/remove rows, columns, and set cells
  packages/dds/matrix/.gitignore
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/time/.mocharc.cjs
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: dds, area: build, base: main

#24764 fix(client-core-interfaces): support Opaque unknown thru JsonSerializable
  packages/common/core-interfaces/src/exposedInternalUtilityTypes.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/testValues.ts
Labels: base: main

#24766 Add note about git maintenance commands
  README.md
Labels: base: main

#24424 feat(merge-tree): Support squashing of inserts in SharedString
  packages/dds/matrix/src/matrix.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/constants.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/stamps.ts
  packages/dds/merge-tree/src/test/client.applyMsg.spec.ts
  packages/dds/merge-tree/src/test/client.applyStashedOpFarm.spec.ts
  packages/dds/merge-tree/src/test/client.reconnectFarm.spec.ts
  packages/dds/merge-tree/src/test/clientTestHelper.ts
  packages/dds/merge-tree/src/test/resetPendingSegmentsToOp.spec.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.squash.fuzz.spec.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/squashFuzzHarness.ts
  packages/dds/test-dds-utils/src/utils.ts
  packages/dds/tree/src/test/shared-tree/fuzz/move.fuzz.spec.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, public api change, area: dds: tree, base: main, Feature_StagingMode

#24767 improvement(api-markdown-documenter): Don't support `LineBreakNode`s as `BlockContent`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
Labels: public api change, base: main

#24776 fix(Staging-Mode): Handle rollback case for DocumentSchemaMessages
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
Labels: area: runtime, base: main

#24625 feat(container-runtime): Add fail fast mechanism if runtime options don't align with minVersionForCollab
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/compatUtils.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#24778 Revert "test(shared-matrix): add execution time performance benchmark tests for insert/remove rows, columns, and set cells"
  packages/dds/matrix/.gitignore
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/time/.mocharc.cjs
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: dds, area: build, base: main

#24771 Check whether marker is removed in searchForMarker
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/test/client.searchForMarker.spec.ts
Labels: area: dds, base: main

#24779 fix(Offline): Applying stashed ops with empty batches
  packages/runtime/container-runtime/src/metadata.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSerialization.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/definitions.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#24739 refactor: Store data in unhydrated nodes directly instead of wrapping MapTree nodes
  .changeset/fruity-laws-rule.md
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/feature-libraries/mapTreeCursor.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/toMapTree.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/api/create.spec.ts
  packages/dds/tree/src/test/simple-tree/api/integrationTests.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/core/unhydratedFlexTree.spec.ts
  packages/dds/tree/src/test/simple-tree/toMapTree.spec.ts
  packages/dds/tree/src/test/simple-tree/treeNodeValid.spec.ts
  packages/dds/tree/src/test/simple-tree/unhydratedNode.spec.ts
  packages/dds/tree/src/test/util/utils.spec.ts
  packages/dds/tree/src/util/index.ts
  packages/dds/tree/src/util/utils.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#24781 Register subdirectory events on directory load
  packages/dds/map/src/directory.ts
  packages/dds/map/src/test/mocha/directory.spec.ts
Labels: area: dds, base: main

#24772 improvement(client-presence): Json in-out improvements
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/exposedUtilityTypes.ts
  packages/framework/presence/src/internalUtils.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
Labels: area: framework, public api change, base: main

#24788 refactor(api-markdown-documenter): Remove `BlockQuoteNode`, which wasunused
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/BlockQuoteToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/BlockQuoteToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockQuoteNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNodeType.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/configuration/RenderOptions.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderBlockQuote.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderBlockQuote.test.ts
Labels: public api change, base: main

#24797 build(client): Tag asserts for release 2.42.0
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/tree/src/core/tree/mapTree.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/treeNodeApi.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/unhydratedFlexTreeFromInsertable.ts
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#24768 fix(shared-matrix): Revert "revert c964635" and fix no found source pipeline error
  packages/dds/matrix/package.json
  packages/dds/matrix/src/test/time/.mocharc.cjs
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
Labels: area: dds, base: main

#24783 refactor(api-markdown-documenter): Update `LinkNode`, `HeadingNode`, and `CodeSpanNode` to take `string`s rather than `PlainTextNode`s
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/examples/ExtendDocumentationDomain.ts
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/CodeSpanToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/HeadingToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/LinkToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/CodeSpanToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/DocumentToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HeadingToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/HierarchicalSectionToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/LinkToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain/CodeSpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/renderers/html-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderCodeSpan.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderHeading.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderLink.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderCodeSpan.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderDocument.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderHeading.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderHierarchicalSection.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderLink.test.ts
Labels: public api change, base: main

#24799 Add HydratedFlexTreeNode type
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/simple-tree/core/getOrCreateNode.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/simple-tree/core/unhydratedFlexTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24800 build(api-markdown-documenter): Simplify API-Extractor setup
  tools/api-markdown-documenter/api-extractor-lint.json
  tools/api-markdown-documenter/api-extractor.json
  tools/api-markdown-documenter/api-report/api-markdown-documenter.alpha.api.md
  tools/api-markdown-documenter/package.json
Labels: public api change, base: main

#24780 test(shared-matrix): enable shared-matrix execution time tests in benchmark perf pipeline
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#24769 refactor(api-markdown-documenter): Remove `DocumentationNodeType`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/TableHelpers.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
  tools/api-markdown-documenter/src/documentation-domain/CodeSpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNodeType.ts
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/documentation-domain/OrderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SectionNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableCellNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableRowNode.ts
  tools/api-markdown-documenter/src/documentation-domain/UnorderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/RenderContext.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/configuration/RenderOptions.ts
Labels: public api change, base: main

#24801 Add non static overrides for SchemaFactoryAlpha
  .changeset/whole-days-argue.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24811 Interval Collection: Consolidate local seq handling
  packages/dds/sequence/src/intervalCollection.ts
Labels: area: dds, area: dds: sharedstring, base: main, Feature_StagingMode

#24817 Remove LazyField Iterator
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24775 fix(Staging-Mode): Close the container if exitStagingMode throws
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#24762 Strengthen security practices in FF website
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/static/dompurify/purify.min.js
  docs/static/staticwebapp.config.json
  docs/static/trusted-types-policy.js
  docs/validateHashes.sh
  fluidBuild.config.cjs
  tools/pipelines/deploy-website.yml
Labels: area: build, area: website, base: main

#24777 (tree) Renamed some shape encoding entities in chunked forest
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkEncodingGeneric.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/nodeShape.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24825 Docs(tree): clarify TreeChangeEvents contract
  packages/dds/tree/src/simple-tree/api/treeChangeEvents.ts
Labels: area: dds, area: dds: tree, base: main

#24566 feat(container-runtime): Add telemetry warning for clients lower than minVersionForCollab
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/test/test-end-to-end-tests/src/test/containerRuntime.spec.ts
Labels: area: runtime, area: tests, base: main

#24836 build(client): Update typetests after minor release 2.42.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: base: main

#24840 docs(driver): Add deprecation comment and changeset for disconnect event
  .changeset/fuzzy-turkeys-help.md
  packages/common/driver-definitions/src/storage.ts
Labels: base: main, changeset-present

#24829 Interval Collections: Unify pending state managment
  packages/dds/merge-tree/src/collections/list.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/sequence.ts
Labels: area: dds, area: dds: sharedstring, base: main, Feature_StagingMode

#24833 fix(changelog-generator-wrapper): Fix imports and metadata
  packages/tools/changelog-generator-wrapper/package.json
  packages/tools/changelog-generator-wrapper/src/index.js
Labels: base: main

#24843 Skip failing layer compat tests
  packages/test/test-end-to-end-tests/src/test/layerCompat.spec.ts
Labels: area: tests, base: main

#24841 refactor: Replace `OrderedListNode` and `UnorderedListNode` with a single `ListNode` type
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/Utilities.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/configuration/Transformation.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/ListItemToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/ListToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/OrderedListToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/index.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/ListToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/OrderedListToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/UnorderedListToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain/BlockContent.ts
  tools/api-markdown-documenter/src/documentation-domain/ListItemNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/OrderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/UnorderedListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/configuration/RenderOptions.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderList.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderListItem.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderUnorderedList.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderList.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderOrderedList.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderUnorderedList.test.ts
Labels: public api change, base: main

#24759 Shared Tree: In-memory format and API changes for persisted schema metadata
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/modular-schema/fieldKindWithEditor.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/api/schemaCompatibilityTester.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/isNeverTree.spec.ts
  packages/dds/tree/src/test/sequenceRootUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeFamily.spec.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/prepareForInsertion.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/testTrees.ts
  packages/dds/tree/src/util/utils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24846 refactor(api-markdown-documenter): Remove `DocumentationNode.singleLine`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/CustomNodeTypeToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain/CodeSpanNode.ts
  tools/api-markdown-documenter/src/documentation-domain/DocumentationNode.ts
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HeadingNode.ts
  tools/api-markdown-documenter/src/documentation-domain/HorizontalRuleNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LineBreakNode.ts
  tools/api-markdown-documenter/src/documentation-domain/LinkNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ListItemNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ListNode.ts
  tools/api-markdown-documenter/src/documentation-domain/ParagraphNode.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/documentation-domain/SectionNode.ts
  tools/api-markdown-documenter/src/documentation-domain/TableNode.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderSpan.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderCustomNodeType.test.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderSpan.test.ts
Labels: public api change, base: main

#24831 build(server): Bump to next major version (7.0.0)
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/packageVersion.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/packageVersion.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/packageVersion.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/packageVersion.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/packageVersion.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/packageVersion.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24848 Minimize local values and typing improvements
  packages/dds/map/src/directory.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
Labels: area: dds, base: main

#24851 fix(test-version-utils): Add driverEndpointName to telemetry event
  packages/test/test-version-utils/src/compatUtils.ts
  packages/test/test-version-utils/src/describeCompat.ts
  packages/test/test-version-utils/src/describeE2eDocs.ts
Labels: area: tests, base: main

#24844 refactor(R11s): socket error handling tests
  packages/drivers/routerlicious-driver/src/test/r11sSocketTests.spec.ts
Labels: area: driver, base: main

#24856 test: improvement: use satisfies instead of explicit typing for errorScenarios
  packages/drivers/routerlicious-driver/src/test/r11sSocketTests.spec.ts
Labels: area: driver, base: main

#24806 refactor(framework): Update eslint config in packages/framework/dds-interceptions to extend "recommended" base config
  packages/framework/dds-interceptions/.eslintrc.cjs
  packages/framework/dds-interceptions/src/map/sharedDirectoryWithInterception.ts
  packages/framework/dds-interceptions/src/map/sharedMapWithInterception.ts
  packages/framework/dds-interceptions/src/sequence/sharedStringWithInterception.ts
  packages/framework/dds-interceptions/src/test/sharedDirectoryWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedMapWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedStringWithInterception.spec.ts
Labels: area: framework, base: main

#24855 (compat) Added supported features and generation across Loader / Driver boundary - Part 2
  packages/common/client-utils/src/layerCompat.ts
  packages/drivers/local-driver/src/index.ts
  packages/drivers/local-driver/src/localDocumentService.ts
  packages/drivers/local-driver/src/localLayerCompatState.ts
  packages/drivers/odsp-driver/src/index.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspDocumentService.ts
  packages/drivers/odsp-driver/src/localOdspDriver/localOdspLayerCompatState.ts
  packages/drivers/odsp-driver/src/odspDocumentService.ts
  packages/drivers/odsp-driver/src/odspLayerCompatState.ts
  packages/drivers/replay-driver/package.json
  packages/drivers/replay-driver/src/replayDocumentService.ts
  packages/drivers/replay-driver/src/test/types/validateReplayDriverPrevious.generated.ts
  packages/drivers/routerlicious-driver/src/documentService.ts
  packages/drivers/routerlicious-driver/src/index.ts
  packages/drivers/routerlicious-driver/src/routerliciousLayerCompatState.ts
  packages/loader/driver-utils/src/documentServiceProxy.ts
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-end-to-end-tests/src/test/layerCompat.spec.ts
  pnpm-lock.yaml
Labels: area: loader, area: driver, dependencies, area: tests, area: odsp-driver, base: main

#24847 refactor(api-markdown-documenter): Restrict `FencedCodeBlockNode` children
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
Labels: public api change, base: main

#24755 Expose Shared Array through ISharedObjectKind instance
  packages/dds/legacy-dds/api-report/legacy-dds.legacy.alpha.api.md
  packages/dds/legacy-dds/src/array/index.ts
  packages/dds/legacy-dds/src/array/interfaces.ts
  packages/dds/legacy-dds/src/array/sharedArray.ts
  packages/dds/legacy-dds/src/array/sharedArrayFactory.ts
  packages/dds/legacy-dds/src/index.ts
  packages/dds/legacy-dds/src/test/array/sharedArray.spec.ts
  packages/dds/legacy-dds/src/test/array/sharedArrayConnected.spec.ts
  packages/dds/legacy-dds/src/test/array/sharedArrayReconnection.spec.ts
  packages/dds/legacy-dds/src/test/utilities.ts
Labels: area: dds, public api change, base: main, Feature_StagingMode

#24432 refactor(presence): Refactor API to prepare for runtime data validators
  .changeset/green-poets-run.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/stateFactory.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/schemaValidation.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, public api change, base: main, changeset-present

#24869 Refactor coop rebalancing for node-rdkafka
  server/routerlicious/packages/services-ordering-rdkafka/src/rdkafkaConsumer.ts
Labels: area: server, base: main

#24853 (alfred): Implement Access Control for Endpoints
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/services-utils/src/auth.ts
Labels: area: server, base: main

#24854 Historian token length check
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/utils.ts
Labels: area: server, base: main

#24873 Tweak copilot-instructions around asserts
  .github/copilot-instructions.md
Labels: area: build, base: main

#24874 Interval Collection: unify on canSlideToEndpoint and consolidate stickiness logic
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/intervalIndexTestUtils.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main

#24819 Update odsp driver for new header
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/contractsPublic.ts
  packages/drivers/odsp-driver/src/fetchSnapshot.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolverForShareLink.ts
  packages/drivers/odsp-driver/src/test/fetchSnapshot.spec.ts
  packages/drivers/odsp-driver/src/test/odspDriverUrlResolverForShareLink.spec.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#24820 fix(tree): walk allowed types
  .changeset/six-steaks-clean.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/simple-tree/api/configuration.ts
  packages/dds/tree/src/simple-tree/core/context.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/walkSchema.ts
  packages/dds/tree/src/simple-tree/createContext.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/simple-tree/treeNodeValid.ts
  packages/dds/tree/src/simple-tree/walkFieldSchema.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/treeNodeValid.spec.ts
  packages/dds/tree/src/test/simple-tree/walkSchema.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24883 fix(presence): Add default type param to LatestMapEvents
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/src/latestMapValueManager.ts
Labels: area: framework, public api change, base: main

#24728 tests(staging-mode): Add basic unit test coverage for changes to ContainerRuntime and related code
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/test/local-server-tests/src/test/stagingMode.spec.ts
  packages/test/test-end-to-end-tests/src/test/orderSequentially.spec.ts
Labels: area: runtime, area: tests, base: main

#24882 docs(presence): Centralize docs and update changeset
  .changeset/green-poets-run.md
  docs/docs/build/presence.mdx
  docs/docs/concepts/signals.mdx
  packages/framework/presence/README.md
Labels: area: framework, area: website, base: main, changeset-present

#24888 fix(client-presence): move validated State objects to internal
  .changeset/green-poets-run.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/api-report/presence.beta.api.md
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/stateFactory.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/schemaValidation.spec.ts
Labels: area: framework, public api change, release-blocking, base: main, changeset-present

#24893 Changeset edits
  .changeset/fuzzy-turkeys-help.md
  .changeset/six-steaks-clean.md
  .changeset/spotty-bottles-rest.md
Labels: base: main, changeset-present

#24892 Tag Asserts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, area: dds: tree, base: main

#24904 Move merge-tree's DoublyLinkedList to core-utils
  packages/common/core-utils/src/index.ts
  packages/common/core-utils/src/list.ts
  packages/common/core-utils/src/test/list.spec.ts
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/collections/index.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/revertibles.ts
  packages/dds/merge-tree/src/segmentGroupCollection.ts
  packages/dds/merge-tree/src/segmentPropertiesManager.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testClientLogger.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24902 Track op metadata locally in SharedMap
  packages/dds/map/src/map.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.spec.ts
Labels: area: dds, base: main

#24903 test(cross-client compat): Enable telemetry warning event e2e test
  packages/test/test-end-to-end-tests/src/test/containerRuntime.spec.ts
Labels: area: tests, base: main

#24897 docs(driver): Update disconnect event comment
  packages/common/driver-definitions/src/storage.ts
Labels: base: main

#24920 Limit permissions made available to tokens in GitHub actions
  .github/workflows/changeset-reporter.yml
  .github/workflows/linkcheck-reporter.yml
  .github/workflows/pr-changeset-review.yml
  .github/workflows/pr-check-changeset.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-release-branch-warning.yml
  .github/workflows/pr-validation.yml
  .github/workflows/push-tag-create-release.yml
  .github/workflows/release-approval.yml
  .github/workflows/release-branches.yml
  .github/workflows/release-notes-issue.yml
  .github/workflows/stale-branches.yml
  .github/workflows/website-validation.yml
Labels: area: build, base: main

#24925 test(client-presence): consistency and typo fixes
  packages/framework/presence/src/test/eventing.spec.ts
Labels: area: framework, base: main

#24928 Add missing top-level permissions to GitHub Actions
  .github/workflows/pr-changeset-review.yml
  .github/workflows/release-notes-issue.yml
Labels: area: build, base: main

#24934 Remove lock from e2e odsp stage
  tools/pipelines/test-real-service.yml
Labels: area: build, base: main

#24937 test(benchmarks): Increase pipeline timeout threshold since we have more tests
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#24939 Revert "test(benchmarks): Increase pipeline timeout threshold since we have more tests"
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#24940 Revert "test(shared-tree): Add execution time performance benchmarks for SharedTree table APIs"
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
  packages/dds/tree/package.json
  packages/dds/tree/src/test/shared-tree/tableTree.bench.ts
  packages/dds/tree/src/test/tablePerformanceTestUtilities.ts
Labels: area: dds, area: dds: tree, base: main

#24907 compressor: Order compressor initialization before stashed op application
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/offline/waitForSummary.spec.ts
Labels: area: runtime, area: tests, base: main
