Repository microsoft/FluidFramework, pull requests merged in 2025-07, with the labels that each got.

#24921 fix(container-runtime): Reentrant op rebasing wrongly skipped for single-op batch
  packages/dds/pact-map/src/pactMap.ts
  packages/dds/pact-map/src/test/pactMap.spec.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, area: dds, base: main

#24950 Mongo AMI connection string usage
  server/routerlicious/packages/services/src/mongodb.ts
Labels: area: server, base: main

#24884 Interval Collection: Support rollback with remote ops
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalCollection.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.rollback.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/sharedInterval.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#24917 Docs for factoryFromPackagePath and related code
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/gc/gcTelemetry.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/dataStoreRegistry.ts
  packages/runtime/runtime-definitions/src/index.ts
Labels: area: runtime, public api change, base: main

#24929 feat(fluid-build): Leaf Task File Dependencies
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidBuildConfig.ts
  build-tools/packages/build-tools/src/fluidBuild/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/declarativeTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskHandlers.ts
Labels: area: build, base: main

#24911 fix(fluid-build): Support alternate tsBuildInfo path in config
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/tscTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tscUtils.ts
Labels: area: build, base: main

#24913 Update Kubernetes configuration to run as non-root and run as user
  server/charts/historian/templates/gitrest-deployment.yaml
  server/charts/historian/templates/historian-deployment.yaml
  server/charts/kafka/templates/kafka-stateful-set.yaml
  server/charts/kafka/templates/zookeeper-stateful-set.yaml
  server/charts/redis/templates/redis-deployment.yaml
Labels: area: server, base: main

#24955 fix(fluid-build): Declarative tasks depend on the lock file by default
  build-tools/packages/build-tools/src/fluidBuild/fluidTaskDefinitions.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/declarativeTask.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/leaf/leafTask.ts
Labels: area: build, base: main

#24954 Tree: Local Rollback
  packages/dds/tree/src/shared-tree-core/defaultResubmitMachine.ts
  packages/dds/tree/src/shared-tree-core/resubmitMachine.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.rollback.spec.ts
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24870 [v2.50] Remove IFluidHandleInternal.bind
  experimental/dds/tree/src/migration-shim/shimHandle.ts
  experimental/dds/tree/src/test/utilities/TestSerializer.ts
  packages/common/core-interfaces/api-report/core-interfaces.legacy.alpha.api.md
  packages/common/core-interfaces/package.json
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/test/types/validateCoreInterfacesPrevious.generated.ts
  packages/dds/ordered-collection/package.json
  packages/dds/ordered-collection/src/test/types/validateOrderedCollectionPrevious.generated.ts
  packages/dds/register-collection/package.json
  packages/dds/register-collection/src/test/types/validateRegisterCollectionPrevious.generated.ts
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/test/types/validateSharedObjectBasePrevious.generated.ts
  packages/dds/test-dds-utils/src/ddsFuzzHandle.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/fluidHandle.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/remoteFluidObjectHandle.ts
  packages/runtime/runtime-utils/src/test/types/validateRuntimeUtilsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mockHandle.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-end-to-end-tests/src/test/gc/gcUnknownHandles.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: framework, area: runtime, area: dds, area: tests, public api change, area: dds: tree, base: main

#24968 server(fix): efficient telemetry session pruning
  server/routerlicious/packages/services-core/src/collabSession.ts
  server/routerlicious/packages/services/src/redisSessionManager.ts
  server/routerlicious/packages/services/src/sessionTracker.ts
  server/routerlicious/packages/services/src/test/sessionTracker.spec.ts
Labels: area: server, base: main

#24795 Add missing tenantid documentid
  server/gitrest/packages/gitrest-base/src/app.ts
  server/historian/packages/historian-base/src/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/app.ts
  server/routerlicious/packages/routerlicious-base/src/riddler/app.ts
  server/routerlicious/packages/services-utils/src/morganLoggerMiddleware.ts
Labels: area: server, base: main

#24964 Tree: Enable resubmit of subset of inflight ops
  packages/dds/tree/src/shared-tree-core/defaultResubmitMachine.ts
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/test/shared-tree-core/defaultResubmitMachine.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24959 build(protocol-definitions): Update `protocol-definitions` to use `@legacy` tagging
  common/lib/protocol-definitions/api-extractor.json
  common/lib/protocol-definitions/api-extractor/api-extractor.current.json
  common/lib/protocol-definitions/api-extractor/api-extractor.legacy.json
  common/lib/protocol-definitions/api-report/protocol-definitions.beta.api.md
  common/lib/protocol-definitions/api-report/protocol-definitions.legacy.alpha.api.md
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/config.ts
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/date.ts
  common/lib/protocol-definitions/src/protocol.ts
  common/lib/protocol-definitions/src/scopes.ts
  common/lib/protocol-definitions/src/sockets.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/summary.ts
  common/lib/protocol-definitions/src/tokens.ts
  common/lib/protocol-definitions/tsdoc.json
Labels: public api change, base: main

#24901 ci: Don't remove build-tools build on tag checkout
  .github/workflows/push-tag-create-release.yml
Labels: area: build, base: main

#24980 test(client-presence): fix signal separation
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/schemaValidation.spec.ts
  packages/framework/presence/src/test/schemaValidation/protocol.spec.ts
  packages/framework/presence/src/test/schemaValidation/valueManagers.spec.ts
  packages/framework/presence/src/test/testUtils.ts
Labels: area: framework, base: main

#24984 Convert token lifetime from milliseconds to seconds
  server/historian/packages/historian-base/src/services/riddlerService.ts
Labels: area: server, base: main

#24962 Fix tenant isolation in blob cache by scoping cache keys per tenant
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/services/restGitService.ts
Labels: area: server, base: main

#24914 telemetry(odsp-driver): Add telemetry for join session
  packages/drivers/odsp-driver/src/odspDelayLoadedDeltaStream.ts
Labels: area: driver, area: odsp-driver, base: main

#24900 test(shared-tree): Add memory usage performance benchmarks for SharedTree table APIs
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/tree/src/test/memory/tableTree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24941 Add some docs and TODOs about allow unknown optional fields
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/treeBeta.ts
Labels: area: dds, area: dds: tree, base: main

#24966 Local Server Stress: Add Tree
  packages/test/local-server-stress-tests/package.json
  packages/test/local-server-stress-tests/src/ddsModels.ts
  packages/test/local-server-stress-tests/src/localServerStressHarness.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: tests, base: main

#24982 Directory: Removing unnecessary value boxing
  packages/dds/map/src/directory.ts
Labels: area: dds, base: main

#24994 Checkout flex tree view
  .changeset/sharp-spiders-wonder.md
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/simple-tree/api/simpleTreeIndex.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
  packages/dds/tree/src/test/feature-libraries/indexing/treeIndex.spec.ts
  packages/dds/tree/src/test/scalableTestTrees.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
  packages/dds/tree/src/test/utils.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#25005 Remove bad patterns from import auto-suggestions
  packages/dds/tree/.vscode/Tree.code-workspace
Labels: base: main

#25004 Fix typo in release notes and changelogs
  RELEASE_NOTES/2.32.0.md
  packages/dds/tree/CHANGELOG.md
  packages/framework/fluid-framework/CHANGELOG.md
Labels: area: framework, area: dds, area: dds: tree, base: main

#25008 Work on tree's vscode settings
  packages/dds/tree/.vscode/Tree.code-workspace
  packages/dds/tree/.vscode/settings.json
  packages/dds/tree/src/shared-tree/sharedTreeChangeTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
Labels: area: dds, area: dds: tree, base: main

#25007 feat(eslint-config-fluid): Promote import rules from `strict` ruleset to `recommended` ruleset
  common/build/eslint-config-fluid/CHANGELOG.md
  common/build/eslint-config-fluid/package.json
  common/build/eslint-config-fluid/printed-configs/default.json
  common/build/eslint-config-fluid/printed-configs/react.json
  common/build/eslint-config-fluid/printed-configs/recommended.json
  common/build/eslint-config-fluid/printed-configs/test.json
  common/build/eslint-config-fluid/recommended.js
  common/build/eslint-config-fluid/strict.js
Labels: area: build, base: main

#25010 build(server): Generate release notes for server 7.0.0
  server/routerlicious/RELEASE_NOTES/7.0.0.md
Labels: area: server, base: main

#25011 Split schemaTypes.spec.ts to match structure of code being tested
  packages/dds/tree/src/test/simple-tree/core/allowedTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/core/treeNodeSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/fieldSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/arrayNode.spec.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/object/objectNode.spec.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/object/objectNodeTypes.spec.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25016 build(server): Update Typetests
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/kafka-orderer/src/test/types/validateServerKafkaOrdererPrevious.generated.ts
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas-driver/src/test/types/validateServerLambdasDriverPrevious.generated.ts
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/lambdas/src/test/types/validateServerLambdasPrevious.generated.ts
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/local-server/src/test/types/validateServerLocalServerPrevious.generated.ts
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/memory-orderer/src/test/types/validateServerMemoryOrdererPrevious.generated.ts
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious-base/src/test/types/validateServerRouterliciousBasePrevious.generated.ts
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-client/src/test/types/validateServerServicesClientPrevious.generated.ts
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-core/src/test/types/validateServerServicesCorePrevious.generated.ts
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-kafkanode/src/test/types/validateServerServicesOrderingKafkanodePrevious.generated.ts
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-rdkafka/src/test/types/validateServerServicesOrderingRdkafkaPrevious.generated.ts
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-shared/src/test/types/validateServerServicesSharedPrevious.generated.ts
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-telemetry/src/test/types/validateServerServicesTelemetryPrevious.generated.ts
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services-utils/src/test/types/validateServerServicesUtilsPrevious.generated.ts
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/services/src/test/types/validateServerServicesPrevious.generated.ts
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/packages/test-utils/src/test/types/validateServerTestUtilsPrevious.generated.ts
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#25013 refactor(aqueduct): Simplify `TreeDataObject` and add `TreeDataObjectFactory`
  examples/data-objects/table-tree/src/dataObject.ts
  examples/data-objects/todo/src/Todo/DataObject.ts
  experimental/framework/tree-react-api/src/reactSharedTreeView.tsx
  packages/framework/aqueduct/src/data-object-factories/index.ts
  packages/framework/aqueduct/src/data-object-factories/treeDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/treeDataObject.ts
  packages/framework/aqueduct/src/index.ts
  packages/test/test-end-to-end-tests/src/test/treeDataObject.spec.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-test-app/src/FluidObject.ts
Labels: area: examples, area: framework, area: dev experience, area: tests, base: main

#25020 Better formalize how two stage schema initialization works
  packages/dds/tree/src/simple-tree/core/allowedTypes.ts
  packages/dds/tree/src/simple-tree/core/context.ts
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/treeNodeValid.ts
  packages/dds/tree/src/simple-tree/core/walkSchema.ts
  packages/dds/tree/src/simple-tree/createContext.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/record/recordNode.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/simple-tree/treeNodeValid.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25025 feat(aqueduct): Promote `TreeDataObject` to `@legacy + @alpha`
  .changeset/wild-orangutans-sublimate.md
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/aqueduct/src/data-object-factories/treeDataObjectFactory.ts
  packages/framework/aqueduct/src/data-objects/treeDataObject.ts
Labels: area: framework, public api change, base: main, changeset-present

#25023 Remove improper aria role
  docs/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: area: website, base: main

#25000 Add if-match e-tag header to ODSP Resolved URL
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/src/resolvedUrl.ts
  packages/drivers/odsp-driver/src/contractsPublic.ts
  packages/drivers/odsp-driver/src/createFile/createNewContainerOnExistingFile.ts
  packages/drivers/odsp-driver/src/createFile/createNewUtils.ts
  packages/drivers/odsp-driver/src/odspDocumentServiceFactoryCore.ts
  packages/drivers/odsp-driver/src/odspDriverUrlResolver.ts
  packages/drivers/odsp-driver/src/test/createNewUtilsTests.spec.ts
  packages/drivers/odsp-driver/src/test/mockFetch.ts
Labels: area: driver, area: odsp-driver, public api change, base: main

#25027 refactor: Update dev dependencies on `eslint-config-fluid` in independently published packages and fix violations of new rules
  common/lib/common-utils/package.json
  common/lib/common-utils/pnpm-lock.yaml
  common/lib/common-utils/src/hashFileNode.ts
  common/lib/common-utils/src/index.ts
  common/lib/common-utils/src/test/jest/gitHash.spec.ts
  common/lib/common-utils/src/test/mocha/idleTaskScheduler.spec.ts
  common/lib/common-utils/src/test/mocha/promiseCache.spec.ts
  common/lib/common-utils/src/test/mocha/timer.spec.ts
  common/lib/common-utils/src/test/mocha/typedEventEmitter.spec.ts
  common/lib/protocol-definitions/package.json
  common/lib/protocol-definitions/pnpm-lock.yaml
  common/lib/protocol-definitions/src/clients.ts
  common/lib/protocol-definitions/src/consensus.ts
  common/lib/protocol-definitions/src/index.ts
  common/lib/protocol-definitions/src/sockets.ts
  common/lib/protocol-definitions/src/storage.ts
  common/lib/protocol-definitions/src/tokens.ts
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
  tools/benchmark/api-report/benchmark.alpha.api.md
  tools/benchmark/api-report/benchmark.beta.api.md
  tools/benchmark/api-report/benchmark.public.api.md
  tools/benchmark/package.json
  tools/benchmark/pnpm-lock.yaml
  tools/benchmark/src/Configuration.ts
  tools/benchmark/src/MochaReporter.ts
  tools/benchmark/src/index.ts
  tools/benchmark/src/mocha/customOutputRunner.ts
  tools/benchmark/src/mocha/index.ts
  tools/benchmark/src/mocha/memoryTestRunner.ts
  tools/benchmark/src/mocha/mochaReporterUtilities.ts
  tools/benchmark/src/mocha/runner.ts
  tools/benchmark/src/runBenchmark.ts
  tools/benchmark/src/test/Benchmark.unit.tests.ts
  tools/getkeys/package.json
  tools/getkeys/pnpm-lock.yaml
  tools/test-tools/CHANGELOG.md
  tools/test-tools/package.json
  tools/test-tools/pnpm-lock.yaml
Labels: public api change, base: main

#24988 Node deepEqual array node constructor 22 Fix
  .changeset/itchy-feet-help.md
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#25028 refactor(matrix): Use explicit type imports/exports where appropriate
  packages/dds/matrix/src/handlecache.ts
  packages/dds/matrix/src/index.ts
  packages/dds/matrix/src/matrix.ts
  packages/dds/matrix/src/ops.ts
  packages/dds/matrix/src/permutationvector.ts
  packages/dds/matrix/src/runtime.ts
  packages/dds/matrix/src/serialization.ts
  packages/dds/matrix/src/sparsearray2d.ts
  packages/dds/matrix/src/test/dirname.cts
  packages/dds/matrix/src/test/fuzz.ts
  packages/dds/matrix/src/test/matrix.applyStashedOp.spec.ts
  packages/dds/matrix/src/test/matrix.big.spec.ts
  packages/dds/matrix/src/test/matrix.fuzz.spec.ts
  packages/dds/matrix/src/test/matrix.spec.ts
  packages/dds/matrix/src/test/matrix.stress.spec.ts
  packages/dds/matrix/src/test/matrix.undo.spec.ts
  packages/dds/matrix/src/test/memory/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/testconsumer.ts
  packages/dds/matrix/src/test/time/sharedMatrix.spec.ts
  packages/dds/matrix/src/test/undoRedoStackManager.ts
  packages/dds/matrix/src/test/utils.ts
  packages/dds/matrix/src/undoprovider.ts
Labels: area: dds, base: main

#25024 Delegate to schema to check compatibility of insertable content
  packages/dds/tree/src/simple-tree/core/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeSchema.ts
  packages/dds/tree/src/simple-tree/core/treeNodeValid.ts
  packages/dds/tree/src/simple-tree/createContext.ts
  packages/dds/tree/src/simple-tree/leafNodeSchema.ts
  packages/dds/tree/src/simple-tree/node-kinds/array/arrayNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/common.ts
  packages/dds/tree/src/simple-tree/node-kinds/map/mapNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNodeTypes.ts
  packages/dds/tree/src/simple-tree/node-kinds/record/recordNode.ts
  packages/dds/tree/src/simple-tree/unhydratedFlexTreeFromInsertable.ts
  packages/dds/tree/src/test/simple-tree/treeNodeValid.spec.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#24880 Change to createTestLogger
  packages/test/mocha-test-setup/mocharc-common.cjs
  packages/test/mocha-test-setup/src/mochaHooks.ts
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service.yml
  tools/pipelines/test-service-clients.yml
Labels: area: build, area: tests, base: main

#25030 feat(fluid-static): Support tree-based root data object
  .changeset/dull-ants-proclaim.md
  examples/service-clients/azure-client/todo-list/package.json
  examples/service-clients/azure-client/todo-list/src/app.tsx
  examples/service-clients/azure-client/todo-list/src/fluid.ts
  examples/service-clients/azure-client/todo-list/test/index.tsx
  packages/framework/fluid-static/api-report/fluid-static.alpha.api.md
  packages/framework/fluid-static/package.json
  packages/framework/fluid-static/src/fluidContainer.ts
  packages/framework/fluid-static/src/index.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/test/utils.spec.ts
  packages/framework/fluid-static/src/treeRootDataObject.ts
  packages/framework/fluid-static/src/types.ts
  packages/framework/fluid-static/src/utils.ts
  packages/service-clients/azure-client/src/AzureClient.ts
  packages/service-clients/azure-client/src/index.ts
  packages/service-clients/azure-client/src/interfaces.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/AzureClientFactory.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/containerCreate.spec.ts
  pnpm-lock.yaml
Labels: area: examples, area: framework, dependencies, public api change, release-blocking, base: main, changeset-present

#25035 Export base shared array model
  packages/dds/legacy-dds/package.json
  packages/dds/legacy-dds/src/test/array/index.ts
  packages/dds/legacy-dds/src/test/index.ts
  packages/dds/legacy-dds/src/test/tsconfig.json
Labels: area: dds, base: main

#25031 Tag asserts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/shared-tree/tree.ts
  packages/dds/tree/src/shared-tree/treeCheckout.ts
  packages/dds/tree/src/simple-tree/api/schemaCreationUtilities.ts
  packages/framework/fluid-static/src/treeRootDataObject.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: framework, area: runtime, area: dds, area: dds: tree, base: main

#25047 refactor(merge-tree): Remove unused eslint directives and combine imports
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/localReference.ts
  packages/dds/merge-tree/src/test/client.getPosition.spec.ts
  packages/dds/merge-tree/src/test/client.localReferenceFarm.spec.ts
Labels: area: dds, base: main

#25048 refactor(odsp-urlResolver): Enable type-only import/export eslint rules and fix violations
  packages/drivers/odsp-urlResolver/.eslintrc.cjs
  packages/drivers/odsp-urlResolver/src/test/fluidAppUrlResolver.spec.ts
  packages/drivers/odsp-urlResolver/src/test/spoUrlResolver.spec.ts
  packages/drivers/odsp-urlResolver/src/urlResolver.ts
Labels: area: driver, area: odsp-driver, base: main

#25050 refactor(client/framework): Enable type-only import/export linter rules and fix violations
  packages/framework/agent-scheduler/.eslintrc.cjs
  packages/framework/agent-scheduler/src/agent.ts
  packages/framework/agent-scheduler/src/index.ts
  packages/framework/agent-scheduler/src/scheduler.ts
  packages/framework/agent-scheduler/src/taskSubscription.ts
  packages/framework/attributor/.eslintrc.cjs
  packages/framework/attributor/src/attributor.ts
  packages/framework/attributor/src/attributorContracts.ts
  packages/framework/attributor/src/encoders.ts
  packages/framework/attributor/src/lz4Encoder.ts
  packages/framework/attributor/src/mixinAttributor.ts
  packages/framework/attributor/src/runtimeAttributor.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreChannel.ts
  packages/framework/attributor/src/runtimeAttributorDataStoreFactory.ts
  packages/framework/attributor/src/test/attribution/sharedString.attribution.spec.ts
  packages/framework/attributor/src/test/attributor.spec.ts
  packages/framework/attributor/src/test/attributorSerializer.spec.ts
  packages/framework/attributor/src/test/lz4Encoder.spec.ts
  packages/framework/attributor/src/test/opStreamAttributor.spec.ts
  packages/framework/attributor/src/test/utils.ts
  packages/framework/dds-interceptions/.eslintrc.cjs
  packages/framework/dds-interceptions/src/map/sharedDirectoryWithInterception.ts
  packages/framework/dds-interceptions/src/map/sharedMapWithInterception.ts
  packages/framework/dds-interceptions/src/sequence/sharedStringWithInterception.ts
  packages/framework/dds-interceptions/src/test/sharedDirectoryWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedMapWithInterception.spec.ts
  packages/framework/dds-interceptions/src/test/sharedStringWithInterception.spec.ts
  packages/framework/oldest-client-observer/.eslintrc.cjs
  packages/framework/oldest-client-observer/src/index.ts
  packages/framework/oldest-client-observer/src/interfaces.ts
  packages/framework/oldest-client-observer/src/oldestClientObserver.ts
  packages/framework/synthesize/.eslintrc.cjs
  packages/framework/synthesize/src/IFluidDependencySynthesizer.ts
  packages/framework/synthesize/src/dependencyContainer.ts
  packages/framework/synthesize/src/index.ts
  packages/framework/synthesize/src/test/dependencyContainer.spec.ts
  packages/framework/synthesize/src/types.ts
  packages/framework/undo-redo/.eslintrc.cjs
  packages/framework/undo-redo/src/index.ts
  packages/framework/undo-redo/src/mapHandler.ts
  packages/framework/undo-redo/src/sequenceHandler.ts
Labels: area: framework, base: main

#25044 refactor(client/tools): Enable type-only import/export linter rules and fix violations
  packages/tools/changelog-generator-wrapper/.eslintrc.cjs
  packages/tools/fetch-tool/.eslintrc.cjs
  packages/tools/fetch-tool/src/fluidAnalyzeMessages.ts
  packages/tools/fetch-tool/src/fluidFetch.ts
  packages/tools/fetch-tool/src/fluidFetchInit.ts
  packages/tools/fetch-tool/src/fluidFetchMessages.ts
  packages/tools/fetch-tool/src/fluidFetchSharePoint.ts
  packages/tools/fetch-tool/src/fluidFetchSnapshot.ts
  packages/tools/fluid-runner/.eslintrc.cjs
  packages/tools/fluid-runner/src/codeLoaderBundle.ts
  packages/tools/fluid-runner/src/exportFile.ts
  packages/tools/fluid-runner/src/fakeUrlResolver.ts
  packages/tools/fluid-runner/src/fluidRunner.ts
  packages/tools/fluid-runner/src/index.ts
  packages/tools/fluid-runner/src/logger/baseFileLogger.ts
  packages/tools/fluid-runner/src/logger/csvFileLogger.ts
  packages/tools/fluid-runner/src/logger/fileLogger.ts
  packages/tools/fluid-runner/src/logger/loggerUtils.ts
  packages/tools/fluid-runner/src/parseBundleAndExportFile.ts
  packages/tools/fluid-runner/src/test/fileLogger.spec.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/networkFetchCodeLoader.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/sampleCodeLoader.ts
  packages/tools/fluid-runner/src/test/sampleCodeLoaders/timeoutCodeLoader.ts
  packages/tools/fluid-runner/src/utils.ts
  packages/tools/replay-tool/.eslintrc.cjs
  packages/tools/replay-tool/src/helpers.ts
  packages/tools/replay-tool/src/replayFluidFactories.ts
  packages/tools/replay-tool/src/replayLoaderObject.ts
  packages/tools/replay-tool/src/replayMessages.ts
  packages/tools/replay-tool/src/unknownChannel.ts
Labels: base: main

#25042 Cleanup comparison tests
  packages/dds/tree/src/test/feature-libraries/modular-schema/comparison.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25051 refactor(client/dds): Enable type-only import/export linter rules and fix violations
  packages/dds/ink/.eslintrc.cjs
  packages/dds/ink/src/index.ts
  packages/dds/ink/src/ink.ts
  packages/dds/ink/src/inkCanvas.ts
  packages/dds/ink/src/inkFactory.ts
  packages/dds/ink/src/interfaces.ts
  packages/dds/ink/src/snapshot.ts
  packages/dds/ink/src/test/ink.spec.ts
  packages/dds/matrix/.eslintrc.cjs
  packages/dds/shared-object-base/.eslintrc.cjs
  packages/dds/shared-object-base/src/gcHandleVisitor.ts
  packages/dds/shared-object-base/src/handle.ts
  packages/dds/shared-object-base/src/index.ts
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/sharedObjectKernel.ts
  packages/dds/shared-object-base/src/test/attachingBindingAndConnecting.spec.ts
  packages/dds/shared-object-base/src/test/sharedObject.spec.ts
  packages/dds/shared-object-base/src/test/utils.ts
  packages/dds/shared-object-base/src/types.ts
  packages/dds/shared-object-base/src/utils.ts
  packages/dds/shared-summary-block/.eslintrc.cjs
  packages/dds/shared-summary-block/src/index.ts
  packages/dds/shared-summary-block/src/interfaces.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlockFactory.ts
  packages/dds/shared-summary-block/src/test/sharedSummaryBlock.spec.ts
  packages/dds/test-dds-utils/.eslintrc.cjs
  packages/dds/test-dds-utils/src/ddsFuzzHandle.ts
  packages/dds/test-dds-utils/src/fuzzSerializer.ts
  packages/dds/test-dds-utils/src/squashFuzzHarness.ts
  packages/dds/tree/.eslintrc.cjs
Labels: area: dds, base: main

#24961 Map rollback across remote ops
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.iteration.spec.ts
  packages/dds/map/src/test/mocha/map.rollback.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: dds, area: tests, base: main

#25066 Revert "Map rollback across remote ops"
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/map/src/mapKernel.ts
  packages/dds/map/src/test/mocha/map.iteration.spec.ts
  packages/dds/map/src/test/mocha/map.rollback.spec.ts
  packages/dds/map/src/test/mocha/map.spec.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
  packages/test/test-end-to-end-tests/src/test/mapEndToEndTests.spec.ts
Labels: area: dds, area: tests, base: main

#25056 feat(api-markdown-documenter): Support parsing Markdown-style list formatting in TSDoc comments
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/TsdocNodeTransforms.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testclass-class/testclassstaticmethod-method.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testinterfaceextendingotherinterfaces-interface/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/index.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testclass-testclassstaticmethod-method.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterfaceextendingotherinterfaces-interface/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/index.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterfaceextendingotherinterfaces-interface.md
  tools/api-markdown-documenter/src/test/test-data/simple-suite-test/test-suite-a.api.json
Labels: base: main

#25057 (compat): Replace Driver layer dependency with Loader layer in the Runtime
  .changeset/curvy-dingos-fail.md
  .changeset/few-snakes-travel.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/container-definitions/src/index.ts
  packages/common/container-definitions/src/runtime.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/containerStorageAdapter.ts
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.alpha.api.md
  packages/runtime/container-runtime-definitions/src/containerRuntime.ts
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/storageServiceWithAttachBlobs.ts
  packages/runtime/container-runtime/src/summary/summaryFormat.ts
  packages/runtime/container-runtime/src/test/blobHandles.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreationHelper.ts
  packages/runtime/datastore/src/channelContext.ts
  packages/runtime/datastore/src/channelStorageService.ts
  packages/runtime/datastore/src/localChannelContext.ts
  packages/runtime/datastore/src/remoteChannelContext.ts
  packages/runtime/datastore/src/test/channelStorageService.spec.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/protocol.ts
  packages/runtime/runtime-definitions/src/summary.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
Labels: area: runtime, area: loader, public api change, base: main, changeset-present

#25060 refactor(api-markdown-documenter): Remove redundant text property on `PlainTextNode`
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/PlainTextToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain/PlainTextNode.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderPlainText.ts
Labels: public api change, base: main

#25073 docs(api-markdown-documenter): Update README docs and examples
  tools/api-markdown-documenter/README.md
  tools/api-markdown-documenter/examples/ExtendDocumentationDomain.ts
  tools/api-markdown-documenter/examples/ToHtml.ts
Labels: base: main

#25077 refactor(api-markdown-documenter): Align `FencedCodeBlockNode` with Markdown
  tools/api-markdown-documenter/CHANGELOG.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.beta.api.md
  tools/api-markdown-documenter/api-report/api-markdown-documenter.public.api.md
  tools/api-markdown-documenter/src/api-item-transforms/TsdocNodeTransforms.ts
  tools/api-markdown-documenter/src/api-item-transforms/helpers/Helpers.ts
  tools/api-markdown-documenter/src/api-item-transforms/test/Transformation.test.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/default-transformations/FencedCodeBlockToHtml.ts
  tools/api-markdown-documenter/src/documentation-domain-to-html/test/FencedCodeBlockToHtml.test.ts
  tools/api-markdown-documenter/src/documentation-domain/FencedCodeBlockNode.ts
  tools/api-markdown-documenter/src/documentation-domain/Utilities.ts
  tools/api-markdown-documenter/src/documentation-domain/index.ts
  tools/api-markdown-documenter/src/index.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/default-renderers/RenderFencedCodeBlock.ts
  tools/api-markdown-documenter/src/renderers/markdown-renderer/test/RenderFencedCodeBlock.test.ts
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testclass-class/testclassgetterproperty-property.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/deep-config/test-suite-a/testinterface-interface/setterproperty-property.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testclass-class.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/default-config/test-suite-a/testinterface-interface.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/flat-config/test-suite-a.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testclass-testclassgetterproperty-property.html
  tools/api-markdown-documenter/src/test/snapshots/html/simple-suite-test/sparse-config/test-suite-a/testinterface-setterproperty-property.html
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testclass-class/testclassgetterproperty-property.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/deep-config/test-suite-a/testinterface-interface/setterproperty-property.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testclass-class.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/default-config/test-suite-a/testinterface-interface.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/flat-config/test-suite-a.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testclass-testclassgetterproperty-property.md
  tools/api-markdown-documenter/src/test/snapshots/markdown/simple-suite-test/sparse-config/test-suite-a/testinterface-setterproperty-property.md
Labels: public api change, base: main

#25076 Remove detailed error information in token check.
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
Labels: area: server, base: main

#25067 Add acceptance condition to delete and move Shared Array ops
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
  packages/dds/legacy-dds/src/test/array/fuzzUtils.ts
Labels: area: dds, base: main

#25055 build(fluid-static): Add `/legacy` entrypoint
  packages/framework/fluid-static/README.md
  packages/framework/fluid-static/api-extractor/api-extractor-lint-legacy.cjs.json
  packages/framework/fluid-static/api-extractor/api-extractor-lint-legacy.esm.json
  packages/framework/fluid-static/api-extractor/api-extractor.current.json
  packages/framework/fluid-static/api-extractor/api-extractor.legacy.json
  packages/framework/fluid-static/api-report/fluid-static.legacy.alpha.api.md
  packages/framework/fluid-static/api-report/fluid-static.legacy.public.api.md
  packages/framework/fluid-static/package.json
Labels: area: framework, public api change, base: main

#24997 Fix behavior of object visibility tests with handles in a detached state
  packages/dds/map/src/directory.ts
  packages/test/local-server-tests/src/test/handleResolution.spec.ts
  packages/test/test-end-to-end-tests/src/test/newFluidObjectVisibility.spec.ts
Labels: area: dds, area: tests, base: main

#25074 Cleanup related to allowUnknownOptionalFields
  .changeset/cruel-geese-shine.md
  packages/dds/tree/src/core/schema-stored/schema.ts
  packages/dds/tree/src/feature-libraries/default-schema/defaultSchema.ts
  packages/dds/tree/src/feature-libraries/default-schema/schemaChecker.ts
  packages/dds/tree/src/shared-tree/schematizeTree.ts
  packages/dds/tree/src/shared-tree/schematizingTreeView.ts
  packages/dds/tree/src/shared-tree/treeAlpha.ts
  packages/dds/tree/src/simple-tree/api/configuration.ts
  packages/dds/tree/src/simple-tree/api/create.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/schemaCompatibilityTester.ts
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/api/storedSchema.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/index.ts
  packages/dds/tree/src/simple-tree/node-kinds/object/objectNode.ts
  packages/dds/tree/src/simple-tree/prepareForInsertion.ts
  packages/dds/tree/src/simple-tree/toStoredSchema.ts
  packages/dds/tree/src/test/feature-libraries/default-schema/schemaChecker.spec.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/schemaEvolutionExamples.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizeTree.spec.ts
  packages/dds/tree/src/test/shared-tree/schematizingTreeView.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCompatibilityTester.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/node-kinds/object/objectNode.spec.ts
  packages/dds/tree/src/test/testTrees.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#25079 Fixed double logger error
  packages/test/mocha-test-setup/mocharc-common.cjs
Labels: area: tests, base: main

#25081 build(build-tools): Update danger dependency (start of CVE remediation)
  build-tools/packages/build-cli/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#25083 Fix independentInitializedView when used with ForestTypeExpensiveDebug
  .changeset/sad-points-dance.md
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/shared-tree/independentView.ts
  packages/dds/tree/src/test/codec/ajvValidator.ts
  packages/dds/tree/src/test/domains/json/jsonCursor.bench.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/uncompressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/default-field-kinds/defaultChangeFamily.spec.ts
  packages/dds/tree/src/test/feature-libraries/index.ts
  packages/dds/tree/src/test/feature-libraries/initializeForest.ts
  packages/dds/tree/src/test/feature-libraries/objectForest.spec.ts
  packages/dds/tree/src/test/forestTestSuite.ts
  packages/dds/tree/src/test/shared-tree/independentView.spec.ts
  packages/dds/tree/src/test/shared-tree/sharedTreeChangeEnricher.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#25082 build: Update tar-fs in lockfiles to address CVE
  common/lib/common-utils/pnpm-lock.yaml
  pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, dependencies, base: main

#25080 Update menu colour to fix a11y contrast issues
  docs/src/css/custom.scss
Labels: area: website, base: main

#25001 feat(website): Implement Typesense in the FF website
  docs/.env.template
  docs/README.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  tools/pipelines/deploy-website.yml
Labels: area: build, area: website, base: main

#25084 Remove CJS build for @fluid-tools/build-infrastructure
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-infrastructure/src/test/tsconfig.cjs.json
  build-tools/packages/build-infrastructure/tsconfig.cjs.json
Labels: area: build, base: main

#25088 test: Stop sending perf benchmarks telemetry to App Insights
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#25059 Refactor: Move compatibility tooling from container-runtime to runtime-utils and introduce better names
  .changeset/proud-ghosts-doubt.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/containerCompatibility.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/runtime-utils/package.json
  packages/runtime/runtime-utils/src/compatibilityBase.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/packageVersion.ts
  packages/runtime/runtime-utils/src/test/compatUtils.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, public api change, base: main, changeset-present

#25087 Update to chai 5.2.1
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-cli/src/test/commands/release/fromTag.test.ts
  build-tools/packages/build-cli/src/test/commands/test-only-filter.test.ts
  build-tools/packages/build-cli/src/test/filter.test.ts
  build-tools/packages/build-cli/src/test/machines/fluidReleaseMachine.test.ts
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-infrastructure/src/test/buildProject.test.ts
  build-tools/packages/build-infrastructure/src/test/filter.test.ts
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  packages/tools/devtools/devtools-view/package.json
  packages/tools/devtools/devtools/.eslintrc.cjs
  packages/tools/devtools/devtools/package.json
  packages/tools/devtools/devtools/tsconfig.json
  pnpm-lock.yaml
  tools/api-markdown-documenter/package.json
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#25093 Omit unknown optional fields when exporting with property keys
  .changeset/cruel-geese-shine.md
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#24785 improvement(client-core-interfaces): revise JsonDeserialized recursion
  packages/common/core-interfaces/src/exposedInternalUtilityTypes.ts
  packages/common/core-interfaces/src/test/jsonDeserialized.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/opaqueJson.spec.ts
  packages/common/core-interfaces/src/test/testUtils.ts
  packages/common/core-interfaces/src/test/testValues.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/runtime/container-runtime-definitions/src/containerExtension.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: framework, area: runtime, base: main

#25097 Store pending blobs with pending blobAttach ops in getPendingLocalState flow
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: runtime, area: tests, base: main

#25104 build(build-tools): Bump to version 0.58.0
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#25107 Only apply locks to odsp and frs stages in perf benchmarks and stress tests
  tools/pipelines/templates/include-test-real-service.yml
  tools/pipelines/test-perf-benchmarks.yml
  tools/pipelines/test-real-service-stress.yml
Labels: area: build, base: main

#25090 DDS Fuzz: Add Rollback
  packages/dds/legacy-dds/src/test/array/arrayFuzzTests.spec.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/task-manager/src/test/taskManager.fuzz.spec.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/tree/src/test/shared-tree/fuzz/anchorStability.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/topLevel.fuzz.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/undoRedo.fuzz.spec.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
Labels: area: runtime, area: dds, area: dds: sharedstring, public api change, area: dds: tree, base: main

#25110 build: Add rerun attempt number to artifacts published by the perf benchmarks pipeline
  tools/pipelines/test-perf-benchmarks.yml
Labels: area: build, base: main

#25102 Fix(tree): support unfinalized revisions when producing DetachedFieldIndex summaries
  .changeset/silver-suns-shop.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/codec/codec.ts
  packages/dds/tree/src/core/index.ts
  packages/dds/tree/src/core/rebase/index.ts
  packages/dds/tree/src/core/rebase/types.ts
  packages/dds/tree/src/core/tree/detachedFieldIndex.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecCommon.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecV1.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecV2.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexCodecs.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexFormatCommon.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexFormatV1.ts
  packages/dds/tree/src/core/tree/detachedFieldIndexFormatV2.ts
  packages/dds/tree/src/test/core/tree/detachedFieldIndex.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/baseModel.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/snapshots/detached-field-index/Unfinalized id/V2/version 2.json
  packages/dds/tree/src/test/snapshots/detached-field-index/V2/version 1.json
  packages/dds/tree/src/test/snapshots/detached-field-index/V2/version 2.json
  packages/dds/tree/src/test/snapshots/detached-field-index/empty/V2/version 1.json
  packages/dds/tree/src/test/snapshots/detached-field-index/empty/V2/version 2.json
  packages/dds/tree/src/test/snapshots/detached-field-index/multiple nodes that do not form a single range/V2/version 1.json
  packages/dds/tree/src/test/snapshots/detached-field-index/multiple nodes that do not form a single range/V2/version 2.json
  packages/dds/tree/src/test/snapshots/detached-field-index/multiple nodes that form ranges/V2/version 1.json
  packages/dds/tree/src/test/snapshots/detached-field-index/multiple nodes that form ranges/V2/version 2.json
  packages/dds/tree/src/test/snapshots/detached-field-index/single range with single node/V2/version 1.json
  packages/dds/tree/src/test/snapshots/detached-field-index/single range with single node/V2/version 2.json
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: framework, area: dds, area: tests, public api change, area: dds: tree, base: main, changeset-present

#25108 Stop calling attachAndGetPendingBlobs
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobsisAttached.spec.ts
Labels: area: runtime, area: tests, base: main

#25111 Refactor(tree): remove unnecessary revision change
  packages/dds/tree/src/shared-tree-core/branch.ts
Labels: area: dds, area: dds: tree, base: main

#25096 build: Update form-data in all lockfiles to address CVE
  build-tools/pnpm-lock.yaml
  common/lib/common-utils/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  server/gitrest/pnpm-lock.yaml
  server/historian/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, area: website, base: main

#25058 (tree) Renames and comments for some forest encoding / decoding concepts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/README.md
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecoding.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/chunkDecodingGeneric.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/format.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeEncoder.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/uncompressedEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/chunkDecoding.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/nodeEncoder.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25109 (tree) Renamed treeShaper / fieldShaper and related concepts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/checkEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/compressedEncode.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#25072 build(docs): Update api-markdown-documenter to 0.21.0
  docs/infra/api-markdown-documenter/admonition-node.mjs
  docs/infra/api-markdown-documenter/api-documentation-layout.mjs
  docs/infra/api-markdown-documenter/custom-renderers.mjs
  docs/infra/api-markdown-documenter/custom-transformations.mjs
  docs/infra/api-markdown-documenter/render-api-documentation.mjs
  docs/package.json
  docs/pnpm-lock.yaml
Labels: area: website, base: main

#25127 build(build-tools): Update build-tools dev dependency
  build-tools/package.json
  build-tools/pnpm-lock.yaml
Labels: area: build, base: main

#25129 feat(server): Add preconnect TTL timer to Nexus lambda
  server/routerlicious/.changeset/hip-cougars-argue.md
  server/routerlicious/packages/lambdas/src/nexus/disconnect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/lambdas/src/nexus/interfaces.ts
  server/routerlicious/packages/lambdas/src/nexus/utils.ts
  server/routerlicious/packages/lambdas/src/test/nexus/utils.spec.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
Labels: area: server, base: main, changeset-present

#25132 Fix placeholder text color contrast
  docs/src/css/custom.scss
Labels: area: website, base: main
