Repository microsoft/FluidFramework, pull requests merged in 2025-04, with the labels that each got.

#24198 Logging invalid token JTIs to get metrics
  server/routerlicious/packages/routerlicious-base/src/riddler/tenantManager.ts
  server/routerlicious/packages/services-utils/src/auth.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#24215 Reapply "Update development and CI to Node 20" (#24209)
  .nvmrc
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  package.json
  packages/test/test-end-to-end-tests/src/test/.mocharc.cjs
  tools/pipelines/templates/include-use-node-version.yml
Labels: area: build, base: main

#24166 (compat) Added support for layer compat validation at the Runtime / DataStore boundary
  .changeset/vast-paths-begin.md
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/containerContext.ts
  packages/loader/container-loader/src/loaderLayerCompatState.ts
  packages/loader/container-loader/src/test/loaderLayerCompatValidation.spec.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/layerCompatState.ts
  packages/runtime/container-runtime/src/runtimeLayerCompatState.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreationHelper.ts
  packages/runtime/container-runtime/src/test/layerCompatValidation.spec.ts
  packages/runtime/container-runtime/src/test/runtimeLayerCompatValidation.spec.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreLayerCompatState.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/dataStoreLayerCompatValidation.spec.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  pnpm-lock.yaml
Labels: area: runtime, area: loader, dependencies, public api change, release-blocking, base: main, changeset-present

#24201 build: Generate release notes for 2.31.0
  .changeset/cuddly-donuts-guess.md
  RELEASE_NOTES/2.31.0.md
Labels: base: main, changeset-present

#24223 docs: Replace URL links with file path links
  docs/docs/build/tokenproviders.mdx
  docs/docs/concepts/signals.mdx
  docs/docs/data-structures/tree/reading-and-editing.mdx
  docs/versioned_docs/version-1/build/tokenproviders.mdx
  docs/versioned_docs/version-1/concepts/signals.mdx
Labels: area: website, base: main

#24203 IntervalCollection: Use SequenceIntervalClass in implementations
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/idIntervalIndex.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/endpointInRangeIndex.spec.ts
  packages/dds/sequence/src/test/startpointInRangeIndex.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24228 fix(check:policy): Handle root package.json correctly
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#23968 fix(build-cli): Fix up-to-date branch check
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/handlers/fluidReleaseStateHandler.ts
  build-tools/packages/build-cli/src/library/git.ts
  build-tools/packages/build-cli/src/library/releasePrepChecks.ts
Labels: area: build, base: main

#24119 Blobs in Detached Container Supported by Default
  .changeset/true-doors-ring.md
  examples/apps/blobs/src/app.ts
  examples/apps/blobs/tests/app.ts
  packages/loader/container-loader/src/container.ts
  packages/loader/container-loader/src/test/loader.spec.ts
  packages/test/test-end-to-end-tests/src/test/blobs.spec.ts
Labels: area: examples, area: loader, area: tests, base: main, changeset-present

#24227 ci(client): skip build before attw and jest
  package.json
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-client-package.yml
Labels: area: build, base: main

#24162 build(client-bundle-size-tests): clarify build
  examples/utils/bundle-size-tests/.gitignore
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/src/debugAssert.ts
  examples/utils/bundle-size-tests/src/test/checkDebugAsserts.spec.ts
  examples/utils/bundle-size-tests/src/test/checkSizes.spec.ts
  examples/utils/bundle-size-tests/webpack.config.cjs
Labels: area: examples, base: main

#24229 test: cleanup attw deps
  experimental/dds/attributable-map/package.json
  experimental/dds/tree/package.json
  experimental/framework/tree-react-api/package.json
  fluidBuild.config.cjs
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/sequence/package.json
  packages/dds/tree/package.json
  packages/runtime/container-runtime/package.json
  packages/service-clients/azure-client/package.json
  scripts/pack-packages.sh
Labels: area: runtime, area: dds, area: dev experience, area: dds: sharedstring, area: dds: tree, base: main

#24234 Workaround TypeScript type checking optimization which has undesirable impacts on assignability in edge case
  examples/utils/import-testing/src/testExports.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: examples, area: dds, area: dds: tree, base: main

#24236 Added support to cache getSession responses
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/utils/index.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#24243 Made cache TTLs configurable and made caching cleaner
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/utils/sessionHelper.ts
Labels: area: server, base: main

#24245 build: Restore generation of `@alpha` API reports for packages that use them
  packages/dds/tree/api-extractor/api-extractor.current.json
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/framework/fluid-framework/api-extractor/api-extractor.current.json
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main

#24210 Enable CSP in enforcement mode
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#24220 build: Remove changelog for deleted package
  packages/drivers/fluidapp-odsp-urlResolver/CHANGELOG.md
Labels: area: driver, area: odsp-driver, base: main

#24238 Bundle-reports for legacySharedTree, sharedDirectory
  examples/utils/bundle-size-tests/package.json
  examples/utils/bundle-size-tests/src/experimentalSharedTree.ts
  examples/utils/bundle-size-tests/src/sharedDirectory.ts
  examples/utils/bundle-size-tests/src/sharedMap.ts
  examples/utils/bundle-size-tests/src/sharedMatrix.ts
  examples/utils/bundle-size-tests/webpack.config.cjs
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#24242 test(merge-tree): Remove ReconnectTestHelper
  packages/dds/merge-tree/src/test/client.localReference.spec.ts
  packages/dds/merge-tree/src/test/clientTestHelper.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/obliterate.rangeExpansion.spec.ts
  packages/dds/merge-tree/src/test/obliterate.reconnect.spec.ts
  packages/dds/merge-tree/src/test/partialSyncHelper.ts
  packages/dds/merge-tree/src/test/reconnectHelper.ts
Labels: area: dds, base: main

#24211 feat(tree): Add (prototype/internal) table schema APIs
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24250 Logging socket.io HTTP requests and HTTP upgrade requests for socket.io
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/services-telemetry/src/lumberEventNames.ts
Labels: area: server, base: main

#24230 Encode handles in ContainerRuntime
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/summarySerializer.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opSerialization.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/opLifecycle/remoteMessageProcessor.ts
  packages/runtime/container-runtime/src/runtimeLayerCompatState.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSerialization.spec.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/runtimeLayerCompatFeatureNames.ts
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/index.ts
Labels: area: runtime, area: dds, base: main

#24255 Cleanup of several tree and schema alpha APIs for content import and export
  .changeset/salty-tools-carry.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/shared-tree/treeApiAlpha.ts
  packages/dds/tree/src/simple-tree/api/conciseTree.ts
  packages/dds/tree/src/simple-tree/api/customTree.ts
  packages/dds/tree/src/simple-tree/api/getJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryAlpha.ts
  packages/dds/tree/src/simple-tree/api/schemaFromSimple.ts
  packages/dds/tree/src/simple-tree/api/simpleSchemaToJsonSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/simple-tree/api/verboseTree.ts
  packages/dds/tree/src/simple-tree/api/viewSchemaToSimpleSchema.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/simple-tree/simpleSchema.ts
  packages/dds/tree/src/test/simple-tree/api/getJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/getSimpleSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFromSimple.spec.ts
  packages/dds/tree/src/test/simple-tree/api/simpleSchemaToJsonSchema.spec.ts
  packages/dds/tree/src/test/simple-tree/api/verboseTree.spec.ts
  packages/framework/ai-collab/src/explicit-strategy/promptGeneration.ts
  packages/framework/ai-collab/src/test/explicit-strategy/agentEditing.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24256 Update handlecache.ts (#24233)
  packages/dds/matrix/src/handlecache.ts
Labels: area: dds, base: release

#23949 Add TestFluidObjectInternal that avoids using SharedMap
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/util/testTreeProvider.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/index.ts
  packages/test/test-utils/src/testFluidObject.ts
  packages/test/test-utils/src/testFluidObjectInternal.ts
  pnpm-lock.yaml
Labels: area: dds, dependencies, area: tests, area: dds: tree, base: main

#24257 Remove dependency from DDS layer to ContainerRuntime implementation package
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/test/serializer.spec.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/remoteFluidObjectHandle.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/test/local-server-stress-tests/src/stressDataObject.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, area: tests, base: main

#24254 test(client-core-interfaces): additional and clarified cases
  packages/common/core-interfaces/src/test/jsonDeserialized.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/testUtils.ts
  packages/common/core-interfaces/src/test/testValues.ts
Labels: base: main

#24259 refactor(matrix): Small cleanup
  packages/dds/matrix/src/handlecache.ts
Labels: area: dds, base: main

#24154 feat(devtools-core): Visualize Data Object in Devtools
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-core/src/data-visualization/DefaultVisualizers.ts
  packages/tools/devtools/devtools-test-app/src/App.tsx
  packages/tools/devtools/devtools-test-app/src/FluidObject.ts
  pnpm-lock.yaml
Labels: dependencies, base: main

#24263 Stop using processCore in tree
  packages/dds/tree/src/shared-tree-core/sharedTreeCore.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/shared-tree-core/utils.ts
Labels: area: dds, area: dds: tree, base: main

#24270 build(client-devtools-core): split test from production
  packages/tools/devtools/devtools-core/.eslintrc.cjs
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools-core/src/data-visualization/DataVisualization.ts
  packages/tools/devtools/devtools-core/src/messaging/MessageRelay.ts
  packages/tools/devtools/devtools-core/src/test/tsconfig.cjs.json
  packages/tools/devtools/devtools-core/src/test/tsconfig.json
  packages/tools/devtools/devtools-core/tsconfig.json
Labels: base: main

#24226 update axios version to 1.8.4
  examples/service-clients/azure-client/external-controller/package.json
  examples/utils/webpack-fluid-loader/package.json
  experimental/PropertyDDS/packages/property-dds/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/loader/driver-utils/package.json
  packages/service-clients/end-to-end-tests/azure-client/package.json
  packages/test/test-drivers/package.json
  pnpm-lock.yaml
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/tinylicious/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: examples, area: server, area: loader, area: driver, dependencies, area: tests, area: dds: propertydds, base: main

#24274 remove unsafe options from csp
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#24278 Revert "remove unsafe options from csp"
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#24279 tools: exclude `build` output directories
  biome.jsonc
Labels: base: main

#24275 build: Update vite to address CVE
  pnpm-lock.yaml
Labels: dependencies, base: main

#24284 ci: Fix git tagging during releases
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24272 build(build-tools): Enable unused variable linting
  build-tools/packages/build-cli/.eslintrc.cjs
  build-tools/packages/build-cli/src/commands/generate/assertTags.ts
  build-tools/packages/build-cli/src/commands/test-only-filter.ts
  build-tools/packages/build-cli/src/handlers/initFailedStateHandler.ts
  build-tools/packages/build-cli/src/library/branches.ts
  build-tools/packages/build-cli/src/library/changesets.ts
  build-tools/packages/build-cli/src/library/githubRest.ts
  build-tools/packages/build-cli/src/library/markdown.ts
  build-tools/packages/build-cli/tsconfig.json
  build-tools/packages/build-infrastructure/.eslintrc.cjs
  build-tools/packages/build-infrastructure/src/commands/list.ts
  build-tools/packages/build-infrastructure/src/package.ts
  build-tools/packages/build-infrastructure/src/packageJsonUtils.ts
  build-tools/packages/build-infrastructure/src/test/dirname.cts
  build-tools/packages/build-infrastructure/src/test/packageJsonUtils.test.ts
  build-tools/packages/build-infrastructure/tsconfig.json
  build-tools/packages/build-tools/.eslintrc.cjs
  build-tools/packages/build-tools/tsconfig.json
Labels: area: build, base: main

#24290 ci: Fix syntax for parameter use in yaml pipeline
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24291 ci: Fix the fix on syntax in yaml file
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24253 feat(merge-tree): Support resubmission of obliterates
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/index.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/mergeTreeNodes.ts
  packages/dds/merge-tree/src/perspective.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/sortedSegmentSet.ts
  packages/dds/merge-tree/src/test/beastTest.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.annotate.spec.ts
  packages/dds/merge-tree/src/test/mergeTree.markRangeRemoved.deltaCallback.spec.ts
  packages/dds/merge-tree/src/test/obliterate.concurrent.spec.ts
  packages/dds/merge-tree/src/test/obliterate.rangeExpansion.spec.ts
  packages/dds/merge-tree/src/test/obliterate.reconnect.spec.ts
  packages/dds/merge-tree/src/test/testClient.ts
  packages/dds/merge-tree/src/test/testUtils.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24100 feat(fluid-build): Per package Declarative Tasks
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
  build-tools/packages/build-tools/src/fluidBuild/buildGraph.ts
  build-tools/packages/build-tools/src/fluidBuild/tasks/taskFactory.ts
  build-tools/packages/build-tools/src/fluidBuild/tscUtils.ts
Labels: area: build, base: main

#24288 Streamline logic around grouping/compressing in outbox.flushInternal
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
Labels: area: runtime, base: main

#24293 Remove FluidDataStoreContext.request
  examples/data-objects/codemirror/package.json
  examples/data-objects/codemirror/src/codeMirror.ts
  examples/data-objects/prosemirror/package.json
  examples/data-objects/prosemirror/src/prosemirror.tsx
  packages/runtime/container-runtime/src/dataStoreContext.ts
  pnpm-lock.yaml
Labels: area: examples, area: runtime, dependencies, base: main

#24296 MergeTree: Test for rollback inconsistency.
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, base: main

#24299 Removed denyList from Historian delete calls
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
Labels: area: server, base: main

#24276 feat(ContainerRuntime): Flush on DeltaManager's "op" event (back-compat for old loader)
  packages/runtime/container-runtime/src/containerRuntime.ts
Labels: area: runtime, base: main

#24246 (tree) Fix for recursion not detected in unhydrated nodes
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/test/simple-tree/api/integrationTests.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24297 Cleanup map export tagging
  packages/dds/map/src/directory.ts
  packages/dds/map/src/directoryFactory.ts
  packages/dds/map/src/index.ts
  packages/dds/map/src/internalInterfaces.ts
  packages/dds/map/src/localValues.ts
  packages/dds/map/src/mapFactory.ts
Labels: area: dds, base: main

#24287 refactor(container-runtime): Separate types LocalBatchMessage v. OutboundBatchMessage in Outbox and related code
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/messageTypes.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSerialization.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/legacyCompression.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opCompressor.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSerialization.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#24273 build(build-tools,client): Remove lerna.json files
  build-tools/lerna.json
  build-tools/package.json
  common/build/eslint-config-fluid/.prettierignore
  lerna.json
  tools/pipelines/build-client.yml
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/build-npm-package.yml
  tools/pipelines/templates/include-policy-check.yml
Labels: area: build, base: main

#24225 Add ITreeAlpha and related APIs
  .changeset/tired-places-cough.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/simple-tree/api/getSimpleSchema.ts
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24298 Added a document denyList in Alfred and Nexus
  server/routerlicious/packages/lambdas/src/nexus/connect.ts
  server/routerlicious/packages/lambdas/src/nexus/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/app.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/api.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/deltas.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/documents.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/api/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/routes/index.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runner.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runner.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/services-core/src/denyList.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-utils/src/denyList.ts
  server/routerlicious/packages/services-utils/src/index.ts
  server/routerlicious/packages/services-utils/src/test/denyList.spec.ts
Labels: area: server, base: main

#24302 Reduce use of symbols where no longer needed
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/index.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyEntity.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyField.ts
  packages/dds/tree/src/feature-libraries/flex-tree/lazyNode.ts
  packages/dds/tree/src/feature-libraries/index.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/test/feature-libraries/flex-tree/lazyField.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24304 Fix exception thrown when debugging tests using test browser in tree
  packages/dds/tree/.vscode/settings.json
Labels: base: main

#24315 Consumed new denyList into Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/app.ts
  server/historian/packages/historian-base/src/routes/git/blobs.ts
  server/historian/packages/historian-base/src/routes/git/commits.ts
  server/historian/packages/historian-base/src/routes/git/refs.ts
  server/historian/packages/historian-base/src/routes/git/tags.ts
  server/historian/packages/historian-base/src/routes/git/trees.ts
  server/historian/packages/historian-base/src/routes/index.ts
  server/historian/packages/historian-base/src/routes/repository/commits.ts
  server/historian/packages/historian-base/src/routes/repository/contents.ts
  server/historian/packages/historian-base/src/routes/repository/headers.ts
  server/historian/packages/historian-base/src/routes/summaries.ts
  server/historian/packages/historian-base/src/routes/utils.ts
  server/historian/packages/historian-base/src/runner.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/definitions.ts
  server/historian/packages/historian-base/src/services/denyList.ts
  server/historian/packages/historian-base/src/services/index.ts
  server/historian/packages/historian-base/src/test/denyList.spec.ts
  server/historian/pnpm-lock.yaml
  server/routerlicious/packages/routerlicious/config/config.json
  server/routerlicious/packages/services-core/src/denyList.ts
  server/routerlicious/packages/services-utils/src/denyList.ts
  server/routerlicious/packages/services-utils/src/test/denyList.spec.ts
Labels: area: server, base: main

#24277 build: Update NextJS to address CVE
  examples/apps/ai-collab/package.json
  pnpm-lock.yaml
Labels: area: examples, dependencies, base: main

#24312 Reduce direct references to SharedTree class and its factory class
  packages/dds/tree/src/test/shared-tree-core/sharedTreeCore.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#24323 Fix build for ES2022
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
Labels: area: runtime, base: main

#24161 Delay load parts of summary module to reduce the container runtime bundle size.
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/index.ts
  packages/runtime/container-runtime/src/summary/orderedClientElection.ts
  packages/runtime/container-runtime/src/summary/summarizerClientElection.ts
  packages/runtime/container-runtime/src/summary/summarizerTypes.ts
  packages/runtime/container-runtime/src/summary/summarizerUtils.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/index.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/runWhileConnectedCoordinator.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/runningSummarizer.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summarizer.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summarizerHeuristics.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summaryGenerator.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summaryResultBuilder.ts
  packages/runtime/container-runtime/src/summary/summaryDelayLoadedModule/summaryResultTypes.ts
  packages/runtime/container-runtime/src/summary/summaryHelpers.ts
  packages/runtime/container-runtime/src/summary/summaryManager.ts
  packages/runtime/container-runtime/src/test/summary/runningSummarizer.spec.ts
  packages/runtime/container-runtime/src/test/summary/summaryManager.spec.ts
Labels: area: runtime, base: main

#24311 Adding inline script hashes to CSP
  docs/static/staticwebapp.config.json
  docs/validateHashes.sh
  tools/pipelines/deploy-website.yml
Labels: area: build, area: website, base: main

#24295 refactor(client-presence): Basic APIs renames
  .changeset/sour-mirrors-wave.md
  docs/docs/build/presence.md
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/app/presence.ts
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/app.ts
  examples/apps/presence-tracker/src/reactions.ts
  examples/apps/presence-tracker/src/view.ts
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/broadcastControlsTests.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/test/testUtils.ts
  packages/framework/presence/src/types.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/messageTypes.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
Labels: area: examples, area: framework, area: runtime, area: website, public api change, base: main

#24301 MergeTree: Fix tie break over removed segments below min seq
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/merge-tree/src/segmentInfos.ts
  packages/dds/merge-tree/src/test/client.rollback.spec.ts
Labels: area: dds, base: main

#24318 fix(container-runtime): Always close the container if ContainerRuntime.flush throws
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#24327 bump semver to 7.7.1
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/version-tools/package.json
  build-tools/pnpm-lock.yaml
  experimental/PropertyDDS/packages/property-changeset/package.json
  experimental/PropertyDDS/packages/property-common/package.json
  experimental/PropertyDDS/packages/property-properties/package.json
  packages/test/test-drivers/package.json
  packages/test/test-end-to-end-tests/package.json
  packages/test/test-version-utils/package.json
  pnpm-lock.yaml
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, area: build, dependencies, area: tests, area: dds: propertydds, base: main

#24196 Added invalid token cache for Alfred and Nexus
  server/routerlicious/packages/routerlicious-base/src/alfred/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/alfred/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/customizations.ts
  server/routerlicious/packages/routerlicious-base/src/nexus/runnerFactory.ts
  server/routerlicious/packages/routerlicious-base/src/utils/constants.ts
  server/routerlicious/packages/services-core/src/index.ts
  server/routerlicious/packages/services-core/src/tenant.ts
  server/routerlicious/packages/services/src/tenant.ts
Labels: area: server, base: main

#24317 fix(launch.json) Add explicit linux platform-specific runtimeExecutable path
  .vscode/launch.json
Labels: area: contributor experience, base: main

#24335 build: Update changesets to new format
  .changeset/salty-tools-carry.md
  .changeset/tired-places-cough.md
  .changeset/true-doors-ring.md
Labels: base: main, changeset-present

#24303 test(container-runtime) Add test for bug fix around old loader and flushing partial batches
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
Labels: area: runtime, base: main

#24328 Reduce factory use
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/shared-tree/summary.bench.ts
  packages/dds/tree/src/test/shared-tree/undo.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaCreationUtilities.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.examples.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactory.spec.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/dds/tree/src/test/simple-tree/core/treeNodeKernel.spec.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/snapshots/opFormat.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/test/test-utils/src/testFluidObjectInternal.ts
Labels: area: dds, area: tests, area: dds: tree, base: main

#24316 Adjust breakingClass for nicer view in debuggers
  packages/dds/tree/src/util/breakable.ts
Labels: area: dds, area: dds: tree, base: main

#24333 build(bundle-size-test): Add webpack to the build task dependency graph
  examples/utils/bundle-size-tests/package.json
Labels: area: examples, base: main

#24249 fix(check:policy): Support running checks from the routerlicious folder
  build-tools/packages/build-cli/docs/check.md
  build-tools/packages/build-cli/src/commands/check/policy.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/common.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/dockerfilePackages.ts
  build-tools/packages/build-cli/src/library/repoPolicyCheck/npmPackages.ts
Labels: area: build, base: main

#24231 Re-enable: Shortids for Datastores and DDSes
  .changeset/deep-mangos-stand.md
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/test/test-end-to-end-tests/src/test/idCompressor.spec.ts
  packages/test/test-end-to-end-tests/src/test/summarization/summaryHandles.spec.ts
Labels: area: runtime, area: tests, base: main, changeset-present

#24252 build: Add vale configuration and demonstrate usage
  .github/workflows/pr-changeset-review.yml
  .gitignore
  .vale.ini
  .vale/config/vocabularies/fluid/accept.txt
  .vale/config/vocabularies/fluid/reject.txt
  package.json
  pnpm-lock.yaml
Labels: area: build, dependencies, base: main

#24334 build(server,gitrest,historian): Bump build-tools to 0.52.0
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/packages/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24309 refactor(container-runtime): Stop estimating batch size when accumulating a local batch
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#24332 Added invalid token cache to Historian
  server/gitrest/packages/gitrest-base/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/packages/historian-base/package.json
  server/historian/packages/historian-base/src/customizations.ts
  server/historian/packages/historian-base/src/runnerFactory.ts
  server/historian/packages/historian-base/src/services/riddlerService.ts
  server/historian/packages/historian-base/src/utils.ts
  server/historian/pnpm-lock.yaml
Labels: area: server, base: main

#24329 SharedString: Use Sequence place explicitly in fuzz
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.fuzz.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24347 Add missing options to CSP
  docs/static/staticwebapp.config.json
Labels: area: website, base: main

#24300 refactor(client-presence): value manager renaming
  .changeset/sour-mirrors-wave.md
  docs/docs/build/presence.md
  examples/apps/ai-collab/src/app/presence.ts
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/reactions.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/broadcastControls.ts
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateFactory.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/types.ts
Labels: area: examples, area: framework, area: website, public api change, base: main

#24326 Update esbuild version
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#24352 Revert PR #24309 due to failing tests
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#24283 IntervalCollection: Encapsulate property handling
  packages/dds/sequence/src/index.ts
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalIndex/endpointInRangeIndex.ts
  packages/dds/sequence/src/intervalIndex/endpointIndex.ts
  packages/dds/sequence/src/intervalIndex/idIntervalIndex.ts
  packages/dds/sequence/src/intervalIndex/index.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingSequenceIntervalsIndex.ts
  packages/dds/sequence/src/intervalIndex/startpointInRangeIndex.ts
  packages/dds/sequence/src/intervals/index.ts
  packages/dds/sequence/src/intervals/intervalUtils.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/revertibles.ts
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/intervalRevertibles.fuzz.spec.ts
  packages/dds/sequence/src/test/generateSharedStrings.ts
  packages/dds/sequence/src/test/intervalCollection.spec.ts
  packages/dds/sequence/src/test/intervalIndexTestUtils.ts
  packages/dds/sequence/src/test/intervalRebasing.spec.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/dds/sequence/src/test/overlappingSequenceIntervalsIndex.spec.ts
Labels: area: dds, area: dds: sharedstring, base: main

#23919 Deprecate `containerPackageInfo` parameter in `createOdspCreateContainerRequest`
  .changeset/wicked-eagles-search.md
  examples/utils/webpack-fluid-loader/src/odspUrlResolver.ts
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver/src/createOdspCreateContainerRequest.ts
  packages/service-clients/odsp-client/src/odspClient.ts
  packages/test/test-drivers/src/odspDriverApi.ts
Labels: area: examples, area: driver, area: tests, area: odsp-driver, public api change, release-blocking, base: main, changeset-present

#24358 Remove parameter from DDS stress pipeline
  tools/pipelines/test-dds-stress.yml
Labels: base: main

#24357 don't check throw message on empty batch test
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
Labels: area: runtime, base: main

#24349 build(client): Tag asserts for release 2.32.0
  packages/dds/merge-tree/src/client.ts
  packages/dds/merge-tree/src/mergeTree.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24361 build: Add pnpm override for old axios to address CVE
  package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#24363 [take 2] refactor(container-runtime): Stop estimating batch size when accumulating a local batch
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opSplitter.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
  packages/test/test-end-to-end-tests/src/test/messageSize.spec.ts
Labels: area: runtime, area: tests, base: main

#24289 add missing unit tests for tableSchema
  packages/dds/tree/src/tableSchema.ts
  packages/dds/tree/src/test/tableSchema.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24365 Make ids allocated by createSnapshotCompressor actually deterministic
  packages/dds/tree/src/feature-libraries/node-identifier/nodeIdentifierManager.ts
  packages/dds/tree/src/test/feature-libraries/modular-schema/genericFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/optional-field/optionalFieldSnapshots.test.ts
  packages/dds/tree/src/test/feature-libraries/sequence-field/sequenceFieldSnapshots.test.ts
  packages/dds/tree/src/test/shared-tree/treeCheckout.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
  packages/dds/tree/src/test/simple-tree/proxies.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/dds/tree/src/test/testUtilsTests.spec.ts
  packages/dds/tree/src/test/tree/detachedFieldIndex.spec.ts
  packages/dds/tree/src/test/utils.ts
  packages/runtime/id-compressor/src/test/idCompressorTestUtilities.ts
Labels: area: runtime, area: dds, area: dds: tree, base: main

#24345 Fix handling of deleted TreeNodes
  .changeset/true-guests-learn.md
  packages/dds/tree/src/feature-libraries/flex-tree/context.ts
  packages/dds/tree/src/feature-libraries/flex-tree/flexTreeTypes.ts
  packages/dds/tree/src/shared-tree/checkoutFlexTreeView.ts
  packages/dds/tree/src/simple-tree/core/treeNodeKernel.ts
  packages/dds/tree/src/simple-tree/core/unhydratedFlexTree.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#24369 ci: Fix missing variable in git tag steps
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24372 fix(release): Fix check for git tag
  build-tools/packages/build-cli/src/handlers/checkFunctions.ts
  build-tools/packages/build-cli/src/library/package.ts
Labels: area: build, base: main

#24373 build(build-tools): Bump to version 0.57.0
  build-tools/package.json
  build-tools/packages/build-cli/package.json
  build-tools/packages/build-infrastructure/package.json
  build-tools/packages/build-tools/package.json
  build-tools/packages/bundle-size-tools/package.json
  build-tools/packages/version-tools/package.json
Labels: area: build, base: main

#24374 fix(ci): Move job to correct position in yml structure
  tools/pipelines/templates/include-publish-docker-service-steps.yml
Labels: area: build, base: main

#24366 Enable a couple tests which were skipped for work already done
  packages/dds/tree/src/simple-tree/api/tree.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
Labels: area: dds, area: dds: tree, base: main

#22011 build(client): Generate PACKAGES.md in build
  PACKAGES.md
  package.json
Labels: base: main

#24371 build: Skip redundant Component Governance checks
  tools/pipelines/templates/build-npm-client-package.yml
  tools/pipelines/templates/include-publish-docker-service-steps.yml
  tools/pipelines/templates/include-publish-npm-package-deployment.yml
Labels: area: build, base: main

#24260 Don't bind handles in getGCData (and rename SummarySerializer to GCHandleVisitor)
  packages/dds/shared-object-base/src/gcHandleVisitor.ts
  packages/dds/shared-object-base/src/index.ts
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/summarySerializer.ts
Labels: area: dds, base: main

#24386 Add copilot-instructions.md
  .github/copilot-instructions.md
Labels: area: build, base: main

#24385 Update lock files
  common/build/eslint-config-fluid/pnpm-lock.yaml
  common/build/eslint-plugin-fluid/pnpm-lock.yaml
  server/routerlicious/pnpm-lock.yaml
  tools/api-markdown-documenter/pnpm-lock.yaml
Labels: area: server, area: build, base: main

#24375 build(client): Update typetests in release branch after minor release 2.32.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, area: dds: tree, base: release

#24370 build(client): Update typetests after minor release 2.32.0
  azure/packages/azure-service-utils/package.json
  experimental/dds/attributable-map/package.json
  packages/common/client-utils/package.json
  packages/common/container-definitions/package.json
  packages/common/core-interfaces/package.json
  packages/common/core-utils/package.json
  packages/common/driver-definitions/package.json
  packages/dds/cell/package.json
  packages/dds/counter/package.json
  packages/dds/map/package.json
  packages/dds/matrix/package.json
  packages/dds/merge-tree/package.json
  packages/dds/ordered-collection/package.json
  packages/dds/register-collection/package.json
  packages/dds/sequence/package.json
  packages/dds/shared-object-base/package.json
  packages/dds/shared-summary-block/package.json
  packages/dds/task-manager/package.json
  packages/dds/tree/package.json
  packages/drivers/debugger/package.json
  packages/drivers/driver-base/package.json
  packages/drivers/driver-web-cache/package.json
  packages/drivers/file-driver/package.json
  packages/drivers/local-driver/package.json
  packages/drivers/odsp-driver-definitions/package.json
  packages/drivers/odsp-driver/package.json
  packages/drivers/odsp-urlResolver/package.json
  packages/drivers/replay-driver/package.json
  packages/drivers/routerlicious-driver/package.json
  packages/drivers/routerlicious-urlResolver/package.json
  packages/drivers/tinylicious-driver/package.json
  packages/framework/agent-scheduler/package.json
  packages/framework/aqueduct/package.json
  packages/framework/client-logger/app-insights-logger/package.json
  packages/framework/fluid-static/package.json
  packages/framework/request-handler/package.json
  packages/framework/synthesize/package.json
  packages/framework/undo-redo/package.json
  packages/loader/container-loader/package.json
  packages/loader/driver-utils/package.json
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime/package.json
  packages/runtime/datastore-definitions/package.json
  packages/runtime/datastore/package.json
  packages/runtime/id-compressor/package.json
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-utils/package.json
  packages/runtime/test-runtime-utils/package.json
  packages/service-clients/azure-client/package.json
  packages/service-clients/tinylicious-client/package.json
  packages/test/test-utils/package.json
  packages/tools/devtools/devtools-core/package.json
  packages/tools/devtools/devtools/package.json
  packages/tools/fetch-tool/package.json
  packages/tools/fluid-runner/package.json
  packages/utils/odsp-doclib-utils/package.json
  packages/utils/telemetry-utils/package.json
  packages/utils/tool-utils/package.json
  pnpm-lock.yaml
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, dependencies, area: dds: sharedstring, area: tests, area: odsp-driver, public api change, area: dds: tree, base: main

#24307 Interval Collection: local rollback
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalCollectionMap.ts
  packages/dds/sequence/src/intervalCollectionMapInterfaces.ts
  packages/dds/sequence/src/intervals/sequenceInterval.ts
  packages/dds/sequence/src/sequence.ts
  packages/dds/sequence/src/sharedString.ts
  packages/dds/sequence/src/test/intervalTestUtils.ts
  packages/test/local-server-stress-tests/src/test/localServerStressOrderSequentially.spec.ts
Labels: area: dds, area: dds: sharedstring, area: tests, base: main

#24348 build(devtools-view): Remove unused devDependencies
  packages/tools/devtools/devtools-view/package.json
  pnpm-lock.yaml
Labels: dependencies, base: main

#24377 Remove direct use of TreeFactory and SharedTree class
  packages/dds/tree/src/shared-tree/index.ts
  packages/dds/tree/src/shared-tree/sharedTree.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/chunkEncodingEndToEnd.spec.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditGenerators.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzEditReducers.ts
  packages/dds/tree/src/test/shared-tree/fuzz/fuzzUtils.ts
  packages/dds/tree/src/test/shared-tree/opSize.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.bench.ts
  packages/dds/tree/src/test/shared-tree/sharedTree.spec.ts
  packages/dds/tree/src/test/simple-tree/api/tree.spec.ts
  packages/dds/tree/src/test/snapshots/gc.spec.ts
  packages/dds/tree/src/test/snapshots/snapshotTestScenarios.ts
  packages/dds/tree/src/test/utils.ts
  packages/dds/tree/src/treeFactory.ts
Labels: area: dds, area: dds: tree, base: main

#24381 (refactor-dds): Update eslint config in packages/dds/shared-summary-block
  packages/dds/shared-summary-block/.eslintrc.cjs
  packages/dds/shared-summary-block/src/sharedSummaryBlock.ts
  packages/dds/shared-summary-block/src/sharedSummaryBlockFactory.ts
  packages/dds/shared-summary-block/src/test/sharedSummaryBlock.spec.ts
Labels: area: dds, base: main

#24391 Clarify that identifiers are read-only
  packages/dds/tree/src/simple-tree/api/schemaFactory.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/objectNode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24384 refactor(client-presence): Refactor/Rename APIs
  .changeset/sour-mirrors-wave.md
  docs/docs/build/presence.md
  examples/apps/ai-collab/src/app/page.tsx
  examples/apps/ai-collab/src/app/presence.ts
  examples/apps/ai-collab/src/components/UserPresenceGroup.tsx
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/app.ts
  examples/apps/presence-tracker/src/reactions.ts
  examples/apps/presence-tracker/src/view.ts
  examples/apps/presence-tracker/tests/presenceTracker.test.ts
  examples/service-clients/azure-client/external-controller/src/app.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/baseTypes.ts
  packages/framework/presence/src/broadcastControls.ts
  packages/framework/presence/src/datastorePresenceManagerFactory.ts
  packages/framework/presence/src/experimentalAccess.ts
  packages/framework/presence/src/exposedInternalTypes.ts
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/internalTypes.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presence.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/stateFactory.ts
  packages/framework/presence/src/systemWorkspace.ts
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/broadcastControlsTests.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceDatastoreManager.spec.ts
  packages/framework/presence/src/test/presenceManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/test/testUtils.ts
  packages/framework/presence/src/types.ts
  packages/runtime/test-runtime-utils/src/assertionShortCodesMap.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/childClient.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/messageTypes.ts
  packages/service-clients/end-to-end-tests/azure-client/src/test/multiprocess/presenceTest.spec.ts
Labels: area: examples, area: framework, area: runtime, area: website, public api change, base: main, changeset-present

#24305 refactor(fluid-static): Add flexibility to createDOProviderContainerRuntimeFactory()
  packages/framework/fluid-static/src/compatibilityConfiguration.ts
  packages/framework/fluid-static/src/rootDataObject.ts
  packages/framework/fluid-static/src/types.ts
Labels: area: framework, base: main

#24380 [fluid-runner] Wait for container to catch up before executing
  packages/tools/fluid-runner/src/exportFile.ts
Labels: base: main

#24382 (refactor-undo): Update eslint config in packages/framework/undo-redo to extend "recommended"
  packages/framework/undo-redo/.eslintrc.cjs
  packages/framework/undo-redo/src/mapHandler.ts
  packages/framework/undo-redo/src/sequenceHandler.ts
  packages/framework/undo-redo/src/test/matrix.spec.ts
  packages/framework/undo-redo/src/test/sequenceHandler.spec.ts
  packages/framework/undo-redo/src/undoRedoStackManager.ts
Labels: area: framework, base: main

#24364 feat(container-runtime): Retain original runtime op in pending local state, as opposed to the serialized op
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/index.ts
  packages/runtime/container-runtime/src/opLifecycle/opGroupingManager.ts
  packages/runtime/container-runtime/src/opLifecycle/opSerialization.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/OpGroupingManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/batchManager.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/remoteMessageProcessor.spec.ts
  packages/runtime/container-runtime/src/test/pendingStateManager.spec.ts
Labels: area: runtime, base: main

#24213 build(server,gitrest,historian): Bump build-tools to 0.56.0
  server/gitrest/package.json
  server/gitrest/pnpm-lock.yaml
  server/historian/package.json
  server/historian/pnpm-lock.yaml
  server/routerlicious/package.json
  server/routerlicious/packages/gitresources/package.json
  server/routerlicious/packages/kafka-orderer/package.json
  server/routerlicious/packages/lambdas-driver/package.json
  server/routerlicious/packages/lambdas/package.json
  server/routerlicious/packages/local-server/package.json
  server/routerlicious/packages/memory-orderer/package.json
  server/routerlicious/packages/protocol-base/package.json
  server/routerlicious/packages/routerlicious-base/package.json
  server/routerlicious/packages/routerlicious/package.json
  server/routerlicious/packages/services-client/package.json
  server/routerlicious/packages/services-core/package.json
  server/routerlicious/packages/services-ordering-kafkanode/package.json
  server/routerlicious/packages/services-ordering-rdkafka/package.json
  server/routerlicious/packages/services-ordering-zookeeper/package.json
  server/routerlicious/packages/services-shared/package.json
  server/routerlicious/packages/services-telemetry/package.json
  server/routerlicious/packages/services-utils/package.json
  server/routerlicious/packages/services/package.json
  server/routerlicious/packages/test-utils/package.json
  server/routerlicious/pnpm-lock.yaml
Labels: area: server, base: main

#24389 (tree): KeyedFieldEncoder related renames and doc updates
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/compressedEncode.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/nodeShape.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/codec/schemaBasedEncode.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/nodeShape.spec.ts
  packages/dds/tree/src/test/feature-libraries/chunked-forest/codec/schemaBasedEncode.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24379 feat(container-runtime): Add default configurations for container runtime options
  packages/runtime/container-runtime/package.json
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/compressionDefinitions.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opLifecycle/definitions.ts
  packages/runtime/container-runtime/src/opLifecycle/opCompressor.ts
  packages/runtime/container-runtime/src/opLifecycle/opDecompressor.ts
  packages/runtime/container-runtime/src/test/compatUtils.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/opSplitter.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
  pnpm-lock.yaml
Labels: area: runtime, dependencies, base: main

#24404 Tidy up Authorization error tests
  packages/drivers/odsp-driver/src/test/odspError.spec.ts
Labels: area: driver, area: odsp-driver, base: main

#24396 feat(client-presence): Expose `Presence` at Workspaces and State objects
  .changeset/giant-news-appear.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/notificationsManager.ts
  packages/framework/presence/src/presenceDatastoreManager.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/stateDatastore.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/types.ts
Labels: area: framework, public api change, base: main, changeset-present

#24408 ContainerRuntime: Only wrap delta manger if summarizer
  experimental/PropertyDDS/packages/property-dds/src/propertyTree.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/test/deltaManagerProxies.spec.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
Labels: area: runtime, area: dds: propertydds, public api change, base: main

#24411 Revert "IntervalCollection: Postpone deprecation until after next release"
  .changeset/wild-poems-say.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/sequence/src/intervalCollection.ts
  packages/dds/sequence/src/intervalIndex/intervalIndex.ts
  packages/dds/sequence/src/intervalIndex/overlappingIntervalsIndex.ts
  packages/dds/sequence/src/sharedIntervalCollection.ts
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
Labels: area: framework, area: dds, area: dds: sharedstring, public api change, base: main, changeset-present

#24405 Correct AuthorizationError field declarations for ES 2022
  packages/loader/driver-utils/src/network.ts
Labels: area: loader, base: main

#24072 build(server): Remove lerna.json files
  server/gitrest/Dockerfile
  server/gitrest/lerna.json
  server/historian/Dockerfile
  server/historian/lerna.json
  server/routerlicious/.gitignore
  server/routerlicious/Dockerfile
  server/routerlicious/lerna.json
Labels: area: server, base: main

#24417 feat(client-presence): Latest support beyond `object`
  .changeset/easy-bats-type.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
Labels: area: framework, public api change, base: main, changeset-present

#24390 Clarify some details of creating TreeNodes and assigning object node fields
  docs/docs/data-structures/tree/node-types.mdx
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/internalTypes.ts
  packages/dds/tree/src/simple-tree/core/types.ts
  packages/dds/tree/src/simple-tree/objectNode.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, area: website, public api change, area: dds: tree, base: main

#24416 Add failing test for "treeChanged"
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24413 refactor(client-presence): Rename state object names to include `Raw`
  .changeset/sour-mirrors-wave.md
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/service-clients/azure-client/external-controller/src/presence.ts
  examples/service-clients/azure-client/external-controller/src/view.ts
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/index.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
Labels: area: examples, area: framework, public api change, base: main, changeset-present

#24407 improvement(client-container-runtime): compat utils cleanup
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/compressionDefinitions.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/runtime/container-runtime/src/opLifecycle/batchManager.ts
  packages/runtime/container-runtime/src/opLifecycle/outbox.ts
  packages/runtime/container-runtime/src/test/compatUtils.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/opLifecycle/outbox.spec.ts
Labels: area: runtime, base: main

#24265 feat(client-core-interfaces): `DeepReadonly` and `ShallowReadonly` utility types
  packages/common/core-interfaces/src/deepReadonly.ts
  packages/common/core-interfaces/src/exposedInternalUtilityTypes.ts
  packages/common/core-interfaces/src/exposedUtilityTypes.ts
  packages/common/core-interfaces/src/internal.ts
  packages/common/core-interfaces/src/jsonType.ts
  packages/common/core-interfaces/src/shallowReadonly.ts
  packages/common/core-interfaces/src/test/deepReadonly.spec.ts
  packages/common/core-interfaces/src/test/jsonDeserialized.spec.ts
  packages/common/core-interfaces/src/test/jsonSerializable.spec.ts
  packages/common/core-interfaces/src/test/shallowReadonly.spec.ts
  packages/common/core-interfaces/src/test/testValues.ts
Labels: base: main

#24409 feat(DDS): Only encode handles in DDS layer if ContainerRuntime won't do it
  packages/dds/shared-object-base/package.json
  packages/dds/shared-object-base/src/sharedObject.ts
  packages/dds/shared-object-base/src/test/sharedObject.spec.ts
  packages/dds/shared-object-base/src/utils.ts
  packages/runtime/container-runtime/src/pendingStateManager.ts
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore-definitions/src/index.ts
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/runtime-definitions/src/runtimeLayerCompatFeatureNames.ts
  pnpm-lock.yaml
Labels: area: runtime, area: dds, dependencies, base: main

#24415 build(server): Update changesets and generate release notes for 6.0 release
  fluidBuild.config.cjs
  server/routerlicious/.changeset/chilly-news-warn.md
  server/routerlicious/.changeset/chubby-worms-wonder.md
  server/routerlicious/.changeset/clean-taxes-float.md
  server/routerlicious/.changeset/clever-sites-drop.md
  server/routerlicious/.changeset/curly-wombats-peel.md
  server/routerlicious/.changeset/cute-pigs-learn.md
  server/routerlicious/.changeset/dirty-keys-follow.md
  server/routerlicious/.changeset/few-snakes-hang.md
  server/routerlicious/.changeset/gold-dingos-warn.md
  server/routerlicious/.changeset/great-plums-repair.md
  server/routerlicious/.changeset/large-rockets-attend.md
  server/routerlicious/.changeset/many-hornets-sink.md
  server/routerlicious/.changeset/new-eagles-drive.md
  server/routerlicious/.changeset/old-melons-tease.md
  server/routerlicious/.changeset/olive-jokes-end.md
  server/routerlicious/.changeset/polite-brooms-grab.md
  server/routerlicious/.changeset/poor-plums-work.md
  server/routerlicious/.changeset/rare-tires-yawn.md
  server/routerlicious/.changeset/real-eels-accept.md
  server/routerlicious/.changeset/sharp-tables-love.md
  server/routerlicious/.changeset/shy-rivers-buy.md
  server/routerlicious/.changeset/silly-loops-melt.md
  server/routerlicious/.changeset/silly-papayas-hammer.md
  server/routerlicious/.changeset/six-candles-sneeze.md
  server/routerlicious/.changeset/six-goats-refuse.md
  server/routerlicious/.changeset/smooth-glasses-notice.md
  server/routerlicious/.changeset/smooth-years-move.md
  server/routerlicious/.changeset/thin-feet-learn.md
  server/routerlicious/.changeset/twelve-bats-open.md
  server/routerlicious/.changeset/weak-radios-camp.md
  server/routerlicious/.changeset/wet-coins-cover.md
  server/routerlicious/.changeset/whole-nails-stick.md
  server/routerlicious/.changeset/wide-ducks-bake.md
  server/routerlicious/.changeset/witty-years-exist.md
  server/routerlicious/RELEASE_NOTES/6.0.0.md
Labels: area: server, base: main, changeset-present

#24428 test(client-presence): small cleanup
  packages/framework/presence/src/test/latestValueManager.spec.ts
Labels: area: framework, base: main

#24419 refactor(client-presence): Rename `StatesWorkspace.props` to `StatesWorkspace.states` and `NotificationsWorkspace.props` to `NotificationsWorkspace.notifications`
  .changeset/sour-mirrors-wave.md
  docs/docs/build/presence.md
  examples/apps/ai-collab/src/app/presence.ts
  examples/apps/presence-tracker/src/FocusTracker.ts
  examples/apps/presence-tracker/src/MouseTracker.ts
  examples/apps/presence-tracker/src/reactions.ts
  examples/service-clients/azure-client/external-controller/src/app.ts
  packages/framework/presence/README.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/notificationsAdapter.ts
  packages/framework/presence/src/presenceManager.ts
  packages/framework/presence/src/presenceStates.ts
  packages/framework/presence/src/test/batching.spec.ts
  packages/framework/presence/src/test/eventing.spec.ts
  packages/framework/presence/src/test/latestMapValueManager.spec.ts
  packages/framework/presence/src/test/latestValueManager.spec.ts
  packages/framework/presence/src/test/notificationsManager.spec.ts
  packages/framework/presence/src/test/presenceStates.spec.ts
  packages/framework/presence/src/types.ts
Labels: area: examples, area: framework, area: website, public api change, base: main, changeset-present

#24076 Add `allowUnused`
  .changeset/quick-pillows-jump.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/src/index.ts
  packages/dds/tree/src/simple-tree/api/index.ts
  packages/dds/tree/src/simple-tree/api/schemaFactoryRecursive.ts
  packages/dds/tree/src/simple-tree/index.ts
  packages/dds/tree/src/test/simple-tree/api/schemaFactoryRecursive.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24429 improvement(client-presence): Use core-interfaces DeepReadonly
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/presence/src/exposedUtilityTypes.ts
  packages/framework/presence/src/internalUtils.ts
  packages/framework/presence/src/latestMapValueManager.ts
  packages/framework/presence/src/latestValueManager.ts
  packages/framework/presence/src/latestValueTypes.ts
Labels: area: framework, public api change, base: main

#24427 improvement(client-container-runtime): fix required runtime option typing
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/index.ts
  packages/test/test-service-load/src/optionsMatrix.ts
  packages/test/test-service-load/src/testConfigFile.ts
Labels: area: runtime, area: tests, public api change, base: main

#24437 [Staging Mode] Reenable type validation (no breaks!)
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime-definitions/package.json
  packages/runtime/container-runtime-definitions/src/test/types/validateContainerRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/package.json
  packages/runtime/runtime-definitions/src/test/types/validateRuntimeDefinitionsPrevious.generated.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: examples, area: runtime, area: dds, area: build, area: tests, public api change, area: dds: tree, base: main

#24438 feat(local-server-stress) Better error when DDS validation fails
  packages/test/local-server-stress-tests/src/ddsOperations.ts
Labels: area: tests, base: main

#24433 fix(tree): combineVisitors handling of nested combinations
  packages/dds/tree/src/core/tree/visitorUtils.ts
  packages/dds/tree/src/feature-libraries/chunked-forest/chunkedForest.ts
  packages/dds/tree/src/feature-libraries/object-forest/objectForest.ts
  packages/dds/tree/src/test/tree/visitorUtils.spec.ts
Labels: area: dds, area: dds: tree, base: main

#24410 Runtime: Expose readonly directly off the datastore runtime
  packages/framework/aqueduct/package.json
  packages/framework/aqueduct/src/test/types/validateAqueductPrevious.generated.ts
  packages/runtime/container-runtime/src/channelCollection.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/dataStoreContext.ts
  packages/runtime/container-runtime/src/deltaManagerProxies.ts
  packages/runtime/container-runtime/src/runtimeLayerCompatState.ts
  packages/runtime/container-runtime/src/test/createChildDataStoreSync.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreContext.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreation.spec.ts
  packages/runtime/container-runtime/src/test/dataStoreCreationHelper.ts
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore-definitions/src/dataStoreRuntime.ts
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/datastore/package.json
  packages/runtime/datastore/src/dataStoreRuntime.ts
  packages/runtime/datastore/src/test/types/validateDatastorePrevious.generated.ts
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-definitions/src/dataStoreContext.ts
  packages/runtime/runtime-definitions/src/index.ts
  packages/runtime/runtime-definitions/src/runtimeLayerCompatFeatureNames.ts
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/package.json
  packages/runtime/test-runtime-utils/src/mockDeltas.ts
  packages/runtime/test-runtime-utils/src/mocks.ts
  packages/runtime/test-runtime-utils/src/mocksDataStoreContext.ts
  packages/runtime/test-runtime-utils/src/test/types/validateTestRuntimeUtilsPrevious.generated.ts
  packages/test/local-server-tests/src/test/readonly.spec.ts
  packages/test/test-utils/package.json
  packages/test/test-utils/src/test/types/validateTestUtilsPrevious.generated.ts
Labels: area: framework, area: runtime, area: tests, public api change, base: main

#24441 Make InsertableTreeNodeFromAllowedTypes not distribute over unions
  .changeset/fast-moments-mix.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/dds/tree/src/simple-tree/api/typesUnsafe.ts
  packages/dds/tree/src/simple-tree/schemaTypes.ts
  packages/dds/tree/src/test/simple-tree/schemaTypes.spec.ts
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
Labels: area: framework, area: dds, public api change, area: dds: tree, base: main, changeset-present

#24421 Fix tree changed events
  .changeset/chatty-laws-guess.md
  packages/dds/tree/src/core/tree/anchorSet.ts
  packages/dds/tree/src/test/simple-tree/api/treeNodeApi.spec.ts
Labels: area: dds, area: dds: tree, base: main, changeset-present

#24440 Configure webpack trusted types in docusaurus
  docs/docusaurus.config.ts
  docs/static/staticwebapp.config.json
  docs/validateHashes.sh
  tools/pipelines/deploy-website.yml
Labels: area: build, area: website, base: main

#24439 build: Update API-Extractor report configurations to include `@legacy` and `@system` in API reports
  azure/packages/azure-service-utils/api-report/azure-service-utils.legacy.alpha.api.md
  common/build/build-common/api-extractor-base.json
  experimental/dds/tree/api-report/experimental-tree.alpha.api.md
  packages/common/client-utils/api-report/client-utils.legacy.alpha.api.md
  packages/common/container-definitions/api-report/container-definitions.legacy.alpha.api.md
  packages/common/core-interfaces/api-report/core-interfaces.legacy.alpha.api.md
  packages/common/core-utils/api-report/core-utils.legacy.alpha.api.md
  packages/common/driver-definitions/api-report/driver-definitions.legacy.alpha.api.md
  packages/dds/counter/api-report/counter.legacy.alpha.api.md
  packages/dds/map/api-report/map.legacy.alpha.api.md
  packages/dds/map/api-report/map.legacy.public.api.md
  packages/dds/matrix/api-report/matrix.legacy.alpha.api.md
  packages/dds/merge-tree/api-report/merge-tree.legacy.alpha.api.md
  packages/dds/ordered-collection/api-report/ordered-collection.legacy.alpha.api.md
  packages/dds/register-collection/api-report/register-collection.legacy.alpha.api.md
  packages/dds/sequence/api-report/sequence.legacy.alpha.api.md
  packages/dds/shared-object-base/api-report/shared-object-base.legacy.alpha.api.md
  packages/dds/shared-summary-block/api-report/shared-summary-block.legacy.alpha.api.md
  packages/dds/task-manager/api-report/task-manager.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.alpha.api.md
  packages/dds/tree/api-report/tree.beta.api.md
  packages/dds/tree/api-report/tree.legacy.alpha.api.md
  packages/dds/tree/api-report/tree.legacy.public.api.md
  packages/dds/tree/api-report/tree.public.api.md
  packages/drivers/debugger/api-report/debugger.legacy.alpha.api.md
  packages/drivers/driver-web-cache/api-report/driver-web-cache.legacy.alpha.api.md
  packages/drivers/local-driver/api-report/local-driver.legacy.alpha.api.md
  packages/drivers/odsp-driver-definitions/api-report/odsp-driver-definitions.legacy.alpha.api.md
  packages/drivers/odsp-driver/api-report/odsp-driver.legacy.alpha.api.md
  packages/drivers/routerlicious-driver/api-report/routerlicious-driver.legacy.alpha.api.md
  packages/framework/agent-scheduler/api-report/agent-scheduler.legacy.alpha.api.md
  packages/framework/aqueduct/api-report/aqueduct.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.beta.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.alpha.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.legacy.public.api.md
  packages/framework/fluid-framework/api-report/fluid-framework.public.api.md
  packages/framework/oldest-client-observer/api-report/oldest-client-observer.legacy.alpha.api.md
  packages/framework/presence/api-report/presence.alpha.api.md
  packages/framework/request-handler/api-report/request-handler.legacy.alpha.api.md
  packages/framework/synthesize/api-report/synthesize.legacy.alpha.api.md
  packages/loader/container-loader/api-report/container-loader.legacy.alpha.api.md
  packages/loader/driver-utils/api-report/driver-utils.legacy.alpha.api.md
  packages/runtime/container-runtime-definitions/api-report/container-runtime-definitions.legacy.alpha.api.md
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/datastore-definitions/api-report/datastore-definitions.legacy.alpha.api.md
  packages/runtime/datastore/api-report/datastore.legacy.alpha.api.md
  packages/runtime/id-compressor/api-report/id-compressor.legacy.alpha.api.md
  packages/runtime/runtime-definitions/api-report/runtime-definitions.legacy.alpha.api.md
  packages/runtime/runtime-utils/api-report/runtime-utils.legacy.alpha.api.md
  packages/runtime/test-runtime-utils/api-report/test-runtime-utils.legacy.alpha.api.md
  packages/service-clients/azure-client/api-report/azure-client.legacy.alpha.api.md
  packages/test/test-utils/api-report/test-utils.legacy.alpha.api.md
  packages/tools/devtools/devtools-core/api-report/devtools-core.alpha.api.md
  packages/tools/devtools/devtools-core/api-report/devtools-core.beta.api.md
  packages/tools/devtools/devtools/api-report/devtools.alpha.api.md
  packages/tools/devtools/devtools/api-report/devtools.beta.api.md
  packages/tools/fluid-runner/api-report/fluid-runner.legacy.alpha.api.md
  packages/utils/odsp-doclib-utils/api-report/odsp-doclib-utils.legacy.alpha.api.md
  packages/utils/telemetry-utils/api-report/telemetry-utils.legacy.alpha.api.md
Labels: area: framework, area: runtime, area: loader, area: driver, area: dds, area: build, area: dds: sharedstring, area: tests, area: odsp-driver, public api change, area: dds: tree, base: main

#24425 Add framework for fuzz testing DDS squash behavior
  packages/dds/sequence/src/test/fuzz/fuzzUtils.ts
  packages/dds/sequence/src/test/fuzz/sharedString.squash.fuzz.spec.ts
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/test-dds-utils/src/ddsFuzzHandle.ts
  packages/dds/test-dds-utils/src/ddsFuzzHarness.ts
  packages/dds/test-dds-utils/src/fuzzSerializer.ts
  packages/dds/test-dds-utils/src/index.ts
  packages/dds/test-dds-utils/src/squashFuzzHarness.ts
  packages/dds/test-dds-utils/src/utils.ts
Labels: area: dds, area: dds: sharedstring, base: main

#24320 Add read support for handles with pending payloads
  packages/common/core-interfaces/src/handles.ts
  packages/common/core-interfaces/src/index.ts
  packages/dds/shared-object-base/src/serializer.ts
  packages/dds/shared-object-base/src/test/serializer.spec.ts
  packages/runtime/container-runtime/api-report/container-runtime.legacy.alpha.api.md
  packages/runtime/container-runtime/src/blobManager/blobManager.ts
  packages/runtime/container-runtime/src/compatUtils.ts
  packages/runtime/container-runtime/src/containerRuntime.ts
  packages/runtime/container-runtime/src/summary/documentSchema.ts
  packages/runtime/container-runtime/src/test/blobManager.spec.ts
  packages/runtime/container-runtime/src/test/blobManager.stashed.spec.ts
  packages/runtime/container-runtime/src/test/containerRuntime.spec.ts
  packages/runtime/container-runtime/src/test/documentSchema.spec.ts
  packages/runtime/runtime-utils/src/handles.ts
  packages/runtime/runtime-utils/src/index.ts
  packages/runtime/runtime-utils/src/remoteFluidObjectHandle.ts
  packages/runtime/runtime-utils/src/utils.ts
  packages/test/test-service-load/src/optionsMatrix.ts
Labels: area: runtime, area: dds, area: tests, public api change, base: main

#24426 Simplify .npmrc download configuration to single-feed
  tools/pipelines/templates/include-setup-npmrc-for-download.yml
Labels: area: build, base: main

#24446 ci: Set vale to only note issues on changed files
  .github/workflows/pr-changeset-review.yml
Labels: area: build, base: main
